[2022-11-02 00:37] stnguyen90 commented on #4600
@scshiv29-dev oh...you're running via coolify...in order to use docker compose, you need to run it in the directory with the docker-compose.yml, but I'm not really sure where the docker-compose.yml file is on coolify...

Were you able to deploy and execute the default sample code from `appwrite init function`?

Can you check the executor logs?

[2022-11-02 09:11] MrWael opened #4623 "🐛 Bug Report: In Email/Password Authentication, User with the Name 'www' or 'com' will not show in search results when using search by name query."
### 👟 Reproduction steps

In Email/Password Authentication, User with the Name "www" or "com" will not show from search by name query.

Using "dart_appwrite.dart"
`_users.list(search: Query.equal('name', name));`

If name = "www" or "com" _users will be null, even if there are users with that name available.

This user will not show in the search result (List):
![image](https://user-images.githubu

[2022-11-02 10:14] balachandarlinks commented on #3051
It would be great if bulk update is also considered as it ll greatly reduce the number of requests I make in my application.

[2022-11-02 13:10] stnguyen90 commented on #4623
@MrWael thanks for raising this issue! 🙏

Btw, the search value should just be the value itself rather than a query:

[code]

As for the search results, the behavior you described is expected because the search uses MariaDB's full text search feature which only indexes words greater than 3 characters.

[2022-11-02 13:33] hopheylalaley84 opened #4625 "i cant strat server on VPS. How i need to work with CERTIFICATE?"
### 👟 Reproduction steps

AppwriteException: null, HandshakeException: Handshake error in client (OS Error:
	CERTIFICATE_VERIFY_FAILED: application verification failure(handshake.cc:393)) (0)

### 👍 Expected behavior

AppwriteException: null, HandshakeException: Handshake error in client (OS Error:
	CERTIFICATE_VERIFY_FAILED: application verification failure(handshake.cc:393)) (0)

### 👎 Actual Be

[2022-11-02 13:46] MrWael commented on #4623
@stnguyen90 thank you for the search information, i could not find that in the Docs.

For the search results as you described, if the Mariadb only allow 4 or greater text to be searchable. Appwrite should not allow values under 4 characters, right?
Or it's just up to the developers to decide.

[2022-11-02 13:50] MrWael commented on #4623
Thank you

[2022-11-02 14:54] #4623 closed

[2022-11-02 14:54] stnguyen90 commented on #4609
@drexhacker, anything else you need or can this be closed?

[2022-11-02 14:58] stnguyen90 commented on #4625
@hopheylalaley84, Appwrite should generate an SSL certificate automatically assuming you have a domain and you've set `_APP_DOMAIN` and `_APP_DOMAIN_TARGET` to your domain. Please refer to the [Certificates](https://appwrite.io/docs/certificates) docs for some troubleshooting steps. If you're still having problems, please share the Appwrite certificates worker logs.

[2022-11-02 15:20] hopheylalaley84 commented on #4625
root@ivanov:~/appwrite# docker compose logs appwrite-worker-certificates
appwrite-worker-certificates  | Appwrite certificates worker v1 has started
appwrite-worker-certificates  | [notice] Starting worker f00981886434:6:v1-certificates
appwrite-worker-certificates  | [notice] Starting work on (Job{v1-certificates} | ID: d4312471f245cd1d5ed8a73375228672 | CertificatesV1 | [{"project":null,"domain"

[2022-11-02 15:22] hopheylalaley84 commented on #4625
![image](https://user-images.githubusercontent.com/25245678/199529705-5dc3a80c-36f0-4b3e-a252-e674e0715ef3.png)

[2022-11-02 15:26] stnguyen90 commented on #4625
@hopheylalaley84, Do you have older logs? As the error message says, there's been too many attempts. You'll have to wait and try again later. Feel free to share the new logs once you have them.

[2022-11-02 15:57] stnguyen90 commented on #3733
@Hassan4way are you still having a problem? Please let us know as I'll need to close this due to inactivity soon.

[2022-11-02 15:58] stnguyen90 commented on #3388
Closing due to inactivity.

[2022-11-02 15:58] #3388 closed

[2022-11-02 16:00] #4532 closed

[2022-11-02 16:05] stnguyen90 commented on #4535
This is in utopia-php/framework version [0.23.2](https://github.com/utopia-php/framework/releases/tag/0.23.2). TBD what version of Appwrite it will end up in.

[2022-11-02 16:15] scshiv29-dev commented on #4600
no i cant see executor  logs although the logs in coolify do not mention anything

[2022-11-02 16:26] stnguyen90 commented on #4600
@scshiv29-dev, what do you mean you can't see the executor logs?

[2022-11-02 16:46] stnguyen90 commented on #4585
@LeonardoMantovani actually, this looks like a duplicate of https://github.com/appwrite/appwrite/issues/2403. Can we close this and use that one instead?

[2022-11-02 16:47] stnguyen90 commented on #3396
@s3ppo can this be closed in favor of https://github.com/appwrite/appwrite/issues/1030? If so, please make sure to 👍🏼 that issue.

[2022-11-02 16:49] #3396 closed

[2022-11-02 16:55] netapy opened #4626 "🐛 Bug Report: Appwrite freezes randomly on function execution"
### 👟 Reproduction steps

I have an Appwrite server on decent hardware (2 core CPU and 4 gigs of RAM).
There are many collections in my database and I use functions to retrieve and edit data before sending it to the client — functions are called very often.

I still haven’t figured out why/when exactly but at some point the server doesn’t serve functions, I can requests accumulating on the functio

[2022-11-02 16:57] stnguyen90 commented on #4626
@netapy thanks for raising this issue! 🙏🏼 Would you please provide the executor logs and check `docker ps -a` to see if the runtime container is still running? If it is, the logs from the runtime container can be helpful too.

[2022-11-02 17:01] netapy commented on #4626
Sure, as of writing this message the issue is ongoing and this is the log :
[code]

[2022-11-02 17:04] netapy commented on #4626
And this is the executor log :
[code]

[2022-11-02 17:15] stnguyen90 commented on #4626
@netapy, `docker logs <container name or id>`. The container should be named `<project id>-<deployment id>`. Are these for when the function was frozen? What was the deployment ID for the frozen function?

[2022-11-02 17:27] netapy commented on #4626
Yes these logs were taken when the function was frozen.

It’s weird my containers are able to display logs, except for the two python openruntimes containers.
![IMG_0422](https://user-images.githubusercontent.com/39877685/199559174-d8c24189-8c2a-4693-9df2-d387f5ac8e01.jpeg)

[2022-11-02 17:55] stnguyen90 commented on #4626
@netapy, which deployment ID is the frozen one?

[2022-11-02 18:00] netapy commented on #4626
Usually the one ending with 838e freezes first, but then the freeze generalizes to the whole appwrite application.
Also it recovers by itself after 15-20 minutes.

[2022-11-02 18:05] stnguyen90 commented on #2995
@fogelito, @TorstenDittmann so what would the solution be or how can we add support for queries like:

[code]

or

[code]

[2022-11-02 18:06] LeonardoMantovani commented on #4585
It's the same for me continuing the discussion here or on the other issue, but the way they solved the problem on #2403 is not viable for me.
Using Path URL Strategy instead of Hash one would create problems with the hosting I'm using, and this is not a hosting-related issue, since Hash URL Strategy is the default strategy on Flutter and so I think AppWrite should support it too.

[2022-11-02 18:08] stnguyen90 commented on #4585
@LeonardoMantovani having multiple issues about the same topic makes it harder to find things and it spreads out upvotes for the same topic.

[2022-11-02 18:13] stnguyen90 commented on #4626
@netapy is this `get_feed` function being executing asynchronously or synchronously?

[2022-11-02 18:37] netapy commented on #4626
“get_feed” is launched synchronously, as are all my functions.

[2022-11-02 18:41] LeonardoMantovani commented on #4585
Ok then, let's continue on #2403

[2022-11-02 18:41] #4585 closed

[2022-11-02 18:46] LeonardoMantovani commented on #2403
Hi! I'm having the same issue related with Appwrite password recovery URL and Flutter Web _Hash URLStrategy_

Unfortunately, I can't use the workaround mentioned above (changing the URLStrategy from _Hash_ to _Path_) because of the hosting I'm using (it would require additional configuration to serve index.html to every route request, and this is not supported).

In addition, Hash URLStrategy is t

[2022-11-02 18:56] patrickclark1964 opened #4628 "🐛 Bug Report: server sdk updatePrefs with empty map creates empty list"
### 👟 Reproduction steps

when I updatePrefs with

.updatePrefs(userId: 'any valid user id', prefs{
   'name': 'fred',
   'options': {},
}

and then read the user back the prefs json returned is:
{
  'name': 'fred',
  'options': [],
}

### 👍 Expected behavior

the returned json should be
{
  'name': 'fred',
  'options': {},
}

### 👎 Actual Behavior

see reproduction steps

If I have data in the 'o

[2022-11-02 19:03] #3271 closed

[2022-11-02 19:08] stnguyen90 commented on #4628
@patrickclark1964, thanks for raising this issue! 🙏 This is a tough one...PHP doesn't distinguish between `{}` or `[]` so Appwrite wouldn't know whether that should be one or the other. 😕

[2022-11-02 22:06] hopheylalaley84 commented on #4625
i install apwrite on new hostng but stilд have sertificate probem
<img width="966" alt="image" src="https://user-images.githubusercontent.com/25245678/199611479-7bb5d3ee-1ab9-400c-b40d-9c155fb80861.png">

[2022-11-02 22:38] stnguyen90 commented on #4625
This error occurs when you're trying to add a Custom Domain. How many domains do you need for your Appwrite instance? If you only need 1, you shouldn't be adding a Custom Domain in your Appwrite Console and it should only be configured in your .env file. If you really need multiple, you need to add a CNAME record for your Custom Domain to point it to your main domain to resolve this error.

[2022-11-02 22:57] hopheylalaley84 commented on #4625
I don't understand anything. What do I need to do to get it right. The documentation describes work with env and certificates very poorly. I am new in development. 3 days can't install

[2022-11-02 23:06] stnguyen90 commented on #4625
@hopheylalaley84, are you trying to add a Custom Domain via the Appwrite Console?

It might help if you joined our [Discord](https://appwrite.io/discord). Troubleshooting this asynchronously over GitHub is very difficult.

[2022-11-02 23:38] stnguyen90 commented on #4625
Thanks for hopping on our Discord server! As discussed, make sure to set `_APP_DOMAIN` and `_APP_DOMAIN_TARGET` to your domain in your `.env` file.

[2022-11-02 23:38] #4625 closed

[2022-11-03 08:11] AVDiv commented on #4224
Hey @Meldiron, I have added my PR, Please check it! 😁

[2022-11-03 12:12] Shiba-Kar commented on #4626
`Message: An internal curl error has occurred within the executor! Error Msg: Operation timed out`
check your `variables` for the function `APPWRITE_FUNCTION_ENDPOINT`  ``http://<domain>.com/v1``  you must have forgotten `v1`

[2022-11-03 14:12] netapy commented on #4626
Thanks for your answer. Unfortunately I re-checked my code and it includes the right variables — my functions run correctly until some point in time (which I haven’t determined yet).

Not sure if this helps but when I `docker compose down` it seems that my `appwrite_runtimes` container has trouble shutting down. Logs below :

[code]

[2022-11-03 15:54] Shiba-Kar commented on #4626
`docker kill appwrite_runtimes`

[2022-11-03 16:00] Shiba-Kar commented on #4626
![image](https://user-images.githubusercontent.com/24454722/199771549-a33102f8-b4e8-4c77-9e5d-c542c04a96b0.png)

[2022-11-03 16:22] stnguyen90 commented on #4626
@netapy, can you check the stats (`docker stats`) to see if the runtime container is still doing anything? The Open Runtime server itself is a pretty [simple flask app](https://github.com/open-runtimes/open-runtimes/blob/main/runtimes/python-3.10/server.py). I don't see how/why it would become unresponsive...

[2022-11-03 16:35] Azanul commented on #4022
I'll raise the PR in a couple of weeks as the hacktoberfest is over, there's no rush. I hope that's fine.

[2022-11-03 18:32] fogelito commented on #2995
Is it possible to add an Index **only** on the Fulltext attribute, or this will trigger an exception? If it does we must loosen the strict validation for Fulltext index

[2022-11-03 18:36] stnguyen90 commented on #2995
@fogelito, yes it's possible to add a full text index only on the 1 attribute. So, sounds like the plan might be to not require a strict index match if the queries contains a search, right? @TorstenDittmann, are you good with this approach?

[2022-11-03 18:57] Mathiaszero opened #4632 "🐛 Bug Report: Unexpected token error when verifying CLI installation"
### 👟 Reproduction steps

1. Install Appwrite CLI by using command "npm install -g appwrite-cli" on Konsole
2. Run "appwrite -v" or "appwrite" on Konsole

### 👍 Expected behavior

There should not be any errors after using the command "appwrite" or "appwrite -v"

### 👎 Actual Behavior

The error outputs "usr/local/lib/node_modules/appwrite-cli/lib/parser.js:137" See screen capture:

![image](https

[2022-11-03 19:01] stnguyen90 commented on #4632
@Mathiaszero thanks for opening this issue! 🙏🏼 What version of node do you have? You may have an old version that requires updating.

[2022-11-03 19:03] Mathiaszero commented on #4632
Thanks for response.  The version I have is 12.22.9

[2022-11-03 19:08] stnguyen90 commented on #4632
@Mathiaszero would you please try with Node v14?

[2022-11-03 19:25] Mathiaszero commented on #4632
@stnguyen90 Yes, and I appreciate your help. Just used "nvm install 14" and redid the command. Case closed!

[2022-11-03 19:25] #4632 closed

[2022-11-03 21:37] fogelito commented on #2995
@stnguyen90 That's is a good approch , mariaDb will executes the fulltext operation before other conditions in the where

[2022-11-03 22:05] stnguyen90 opened #4634 "🐛 Bug Report: Deno Function Runtime Doesn't Handle Errors"
### 👟 Reproduction steps

1. Deploy a deno function like:

[code]

2. Execute the function

### 👍 Expected behavior

The execution has stderr with the `panic!` message

### 👎 Actual Behavior

`stderr` says `Code file not found.` like:

[code]

### 🎲 Appwrite version

Version 1.0.x

### 💻 Operating system

Linux

### 🧱 Your Environment

_No response_

### 👀 Have you spent some time to check if this

[2022-11-04 10:41] johannesschobel commented on #3449
i think it would be benefitial to have a "single source of truth" (i.e., the `appwrite.json` file) that contains all relevant information to copy one project from one server to another one. That should, for example, also include the database names, and so on (currently not available)

[2022-11-04 10:43] johannesschobel commented on #3018
Dear @TorstenDittmann ,
i guess, this issue / feature request is not completed. I think, some kind of `object` (`JSON`) type would be very handy! Can you please consider adding this feature as well?

[2022-11-04 10:58] merabtenei opened #4637 "🐛 Bug Report: Can't authenticate with any user after blocking one the users"
### 👟 Reproduction steps

Have 3 users in console userA, userB, admin.
Block userA.
I'm using flutter so what I did is try to connect with the blocked user userA using :
[code]
This results in a 401 unauthorized error as expected.
Now try to login with admin or userB using the same code, and it still returns 401 unauthorized.

EDIT: Things seem to work as expected after I removed the line:
[code]

[2022-11-04 11:42] merabtenei commented on #4637
EDIT: Things seem to work as expected after I removed the line:
[code]
I can reproduce it with that line but without it things seem to work as expected.

[2022-11-04 12:20] johannesschobel commented on #272
what is the current state of the GraphQL implementation? Would be very interesting for me and an upcoming project.
The `graphql` branch is stale for nearly 2 years now..

All the best

[2022-11-04 17:14] stnguyen90 commented on #4637
@merabtenei thanks for creating this issue! 🙏 Is the `account.deleteSessions()` line throwing an exception preventing the rest of the code to execute?

[2022-11-05 08:12] LeonardoMantovani commented on #2403
@stnguyen90, @eldadfux, sorry for tagging you but since you were following me on the old issue (#4585) we closed to continue in this one I wanted to make sure you were on this too.

How should I proceed to implement password recovery in my flutter project keeping Hash URLStrategy?

[2022-11-05 10:02] netapy commented on #4626
**Update :**
I can't reproduce this bug anymore and I have a theory on how I fixed it.
The issue started occurring about a week after I migrated my Appwrite app on a new VPS, using [this method](https://gist.github.com/Evgentret/5a04f59c99371b63c1fc5dfd74920a4f).

I started the backup right after using `docker compose down` and removing the appwrite folder.

As I mentioned previously :

So _appwri

[2022-11-05 11:57] merabtenei commented on #4637
You are right, trying to logout when no account is logged in throw an Exception with the message :
[code]

[2022-11-05 14:57] stnguyen90 commented on #4637
Anything else you need it can this be closed?

[2022-11-05 14:59] stnguyen90 commented on #2403
@LeonardoMantovani, there is no solution to using hash strategy at the moment.

[2022-11-05 17:54] DankMemeGuy opened #4639 "📚 Documentation: demo and commercializing API access"
### 💭 Description

I have read the documentation, but I think there's 2 big issues that I cannot seem to find more about.

1. is there any demo of backend admin page? I know competitor software like PocketBase have https://pocketbase.io/demo/ so I think this would be invaluable to see if this is the right software for someone to use, before having to just implement it and find out if they like the

[2022-11-05 20:08] yeya commented on #4519
The error type says: `domain_already_exists`. Isn't it the expected behavior? You need the message say that too? Or maybe each domain has `name` field AND `id` filed?

[2022-11-06 00:38] merabtenei opened #4640 "🐛 Bug Report: Urgent, Bug in File permissions"
### 👟 Reproduction steps

- Create a bucket with File Level Security with no permissions.
- Add a file with no permissions.
- Login as UserA from SDK
- Call File Preview from SDK all good userA can't see preview.
- Add read permission to UserA, all good userA can now see preview.
- Remove read permission for UserA.
- Call File Preview from SDK and now userA can still see the preview.

### 👍 Expect

[2022-11-06 01:40] stnguyen90 commented on #4640
@merabtenei thanks for raising this issue! 🙏 Would you please check if the file preview is cached or is it actually fetched from the server?

[2022-11-06 06:26] netapy commented on #2838
Are there any news on this issue ? This would be very useful

[2022-11-06 09:55] merabtenei commented on #4640
I'm using the Flutter SDK, I didn't do any caching on my side, and following the code of SDK, it seems it doesn't cache the preview either.
Waiting to see if anyone can confirm this on Flutter SDK or any other SDK.

[2022-11-06 10:44] merabtenei commented on #4634
I experienced the same thing with Python3.9 backend just reporting Internal Runtime Error every time, I then siwtched to NodeJS.

[2022-11-06 13:22] nmcbins opened #4642 "🐛 Bug Report: Duplicated Document Error When Updating a Document Multiple Times Fast"
### 👟 Reproduction steps

On web page, I click a button, which causes TWO update_document() requests being sent to TWO different collections in the SAME database. This causes sporadic Appwrite server 500 internal errors - "sporadic" means if I repeatedly click the same button, the error usually goes away after a few clicks.

### 👍 Expected behavior

Even if there is an error, I did expect the erro

[2022-11-06 15:29] stnguyen90 commented on #4642
Thanks for creating this issue! Seems like it has something to do with abuse. We'll look into it and see what's going on

[2022-11-06 16:34] stnguyen90 commented on #4519
@yeya it's just misleading that it says the `ID` already exists but it's the `name` that's causing the error.

[2022-11-06 18:48] kennethmakjw opened #4643 "🐛 Bug Report: Unable to connect to Remote Database"
### 👟 Reproduction steps

I am trying to connect my remote DB from DigitalOcean Managed Database and I'm not able to connect to it because Appwrite failed to established a connection.

### 👍 Expected behavior

It should connect to the database and Appwrite should operate normally.

### 👎 Actual Behavior

Appwrite did not work, it failed to connect, the logs shows:

Fatal error: Uncaught Exception:

[2022-11-06 19:06] stnguyen90 commented on #4643
@kennethmakjw is digital ocean's managed database MySQL? If so, that may be the problem. Appwrite uses mariadb and since Mariadb and MySQL are slightly different it won't work. Would you be able to use a mariadb database? Otherwise, you may need to tweak some of the Appwrite code (we can advise on that if needed).

[2022-11-06 19:10] kennethmakjw commented on #4643
Yes, it is indeed a MySQL server.

Could you share the steps to tweak the code?

Thanks in advance.

[2022-11-07 16:47] #4231 closed

[2022-11-07 16:47] #4232 closed

[2022-11-07 16:47] #4233 closed

[2022-11-07 16:47] #4234 closed

[2022-11-07 16:47] #4235 closed

[2022-11-07 16:47] #4236 closed

[2022-11-07 16:47] #4237 closed

[2022-11-07 16:47] #4238 closed

[2022-11-07 16:47] #4239 closed

[2022-11-07 16:47] #4240 closed

[2022-11-07 16:47] #4241 closed

[2022-11-07 16:47] #4242 closed

[2022-11-07 16:47] #4243 closed

[2022-11-07 16:47] #4244 closed

[2022-11-07 16:47] #4245 closed

[2022-11-07 16:47] #4246 closed

[2022-11-07 16:47] #4247 closed

[2022-11-07 16:47] #4248 closed

[2022-11-07 16:47] #4249 closed

[2022-11-07 16:47] #4250 closed

[2022-11-07 16:47] #4251 closed

[2022-11-07 16:47] #4252 closed

[2022-11-07 16:48] #4253 closed

[2022-11-07 16:48] #4305 closed

[2022-11-07 16:48] #4308 closed

[2022-11-07 16:50] #4228 closed

[2022-11-07 16:55] #4024 closed

[2022-11-07 16:55] #4215 closed

[2022-11-07 16:55] #4216 closed

[2022-11-07 16:55] #4217 closed

[2022-11-07 16:55] #4218 closed

[2022-11-07 16:55] #4219 closed

[2022-11-07 16:55] #4220 closed

[2022-11-07 16:55] #4222 closed

[2022-11-07 16:55] #4223 closed

[2022-11-07 16:55] #4224 closed

[2022-11-07 16:55] #4226 closed

[2022-11-07 16:55] #4227 closed

[2022-11-07 16:55] #4229 closed

[2022-11-07 16:56] #4004 closed

[2022-11-07 16:56] #4007 closed

[2022-11-07 16:56] #4008 closed

[2022-11-07 16:56] #4009 closed

[2022-11-07 16:56] #4010 closed

[2022-11-07 16:56] #4011 closed

[2022-11-07 16:56] #4012 closed

[2022-11-07 16:56] #4025 closed

[2022-11-07 16:56] #4026 closed

[2022-11-07 16:56] #4028 closed

[2022-11-07 16:56] #4029 closed

[2022-11-07 16:56] #4030 closed

[2022-11-07 16:56] #4033 closed

[2022-11-07 16:56] #4034 closed

[2022-11-07 16:56] #4035 closed

[2022-11-07 16:56] #4036 closed

[2022-11-07 16:56] #4306 closed

[2022-11-07 16:56] #4307 closed

[2022-11-07 16:56] #4508 closed

[2022-11-07 16:57] #3961 closed

[2022-11-07 16:57] #3962 closed

[2022-11-07 16:57] #3963 closed

[2022-11-07 16:57] #3964 closed

[2022-11-07 16:57] #3965 closed

[2022-11-07 16:57] #3966 closed

[2022-11-07 16:57] #3967 closed

[2022-11-07 16:57] #3968 closed

[2022-11-07 16:57] #3969 closed

[2022-11-07 16:57] #3970 closed

[2022-11-07 16:57] #4194 closed

[2022-11-07 16:57] #4195 closed

[2022-11-07 16:57] #4196 closed

[2022-11-07 16:57] #4197 closed

[2022-11-07 16:57] #4198 closed

[2022-11-07 16:57] #4199 closed

[2022-11-07 16:57] #4200 closed

[2022-11-07 16:57] #4201 closed

[2022-11-07 16:57] #4202 closed

[2022-11-07 16:57] #4203 closed

[2022-11-07 17:04] #4501 closed

[2022-11-07 17:04] #4502 closed

[2022-11-07 17:04] #4503 closed

[2022-11-07 17:04] #4504 closed

[2022-11-07 17:04] #4505 closed

[2022-11-07 17:06] stnguyen90 commented on #4275
@DevTomilola-OS can we keep you assigned on this since you worked on the PR?

[2022-11-07 17:10] stnguyen90 commented on #4270
Removing @kirtanchandak since no submission was made.

[2022-11-07 17:11] stnguyen90 commented on #4271
Removing @sakshiisaxena since no submission was made

[2022-11-07 17:16] #4286 closed

[2022-11-07 17:16] #4287 closed

[2022-11-07 17:16] #4288 closed

[2022-11-07 17:33] stnguyen90 commented on #4497
Unassigning @caramelmelmel due to inactivity.

[2022-11-07 17:34] stnguyen90 commented on #4493
Unassigning @akarsh-jain-790 due to inactivity.

[2022-11-07 17:34] stnguyen90 commented on #4492
Unassigning @caramelmelmel due to inactivity.

[2022-11-07 17:44] stnguyen90 commented on #4466
@caramelmelmel are you still working on this or should we unassign you?

[2022-11-07 17:52] stnguyen90 commented on #4436
@neelshah2409 are you still working on this or should we unassign you?

[2022-11-07 17:55] #4416 closed

[2022-11-07 17:56] #4414 closed

[2022-11-07 17:57] #4411 closed

[2022-11-07 17:58] #4409 closed

[2022-11-07 18:01] #4407 closed

[2022-11-07 18:06] stnguyen90 commented on #4497
@ishaanbedi, yes, we welcome contributions! However, this won't be counted for Hacktoberfest since the event is over now.

[2022-11-07 18:15] #4404 closed

[2022-11-07 18:18] #4402 closed

[2022-11-07 18:18] #4395 closed

[2022-11-07 18:21] stnguyen90 commented on #4385
@mohith2883 are you still working on this or should we unassign you?

[2022-11-07 18:26] stnguyen90 commented on #4380
@Princeton21 are you still working on this or should we unassign you?

[2022-11-07 18:40] stnguyen90 commented on #4207
@vasucp1207 are you still working on this or should we unassign you?

[2022-11-07 18:40] stnguyen90 commented on #4206
@vasucp1207 are you still working on this or should we unassign you?

[2022-11-07 18:42] #4191 closed

[2022-11-07 18:43] stnguyen90 commented on #4179
@ks129 are you still working on this or should we unassign you?

[2022-11-07 18:44] #4175 closed

[2022-11-07 18:52] stnguyen90 commented on #4169
@SanifKandel are you still working on this or should we unassign you?

[2022-11-07 18:53] stnguyen90 commented on #4168
@the-kaushal-agrawal are you still working on this or should we unassign you?

[2022-11-07 18:56] stnguyen90 commented on #4164
@GenMech are you still working on this or should we unassign you?

[2022-11-07 19:03] SanifKandel commented on #4169
Hey @stnguyen90 , Sorry for the delay. I am on it and will complete it as soon as possible.

[2022-11-07 19:18] stnguyen90 commented on #4100
@sarkartanmay393 are you still working on this or should we unassign you?

[2022-11-07 19:30] stnguyen90 commented on #4037
@vishnus17 are you still working on this or should we unassign you?

[2022-11-07 19:30] stnguyen90 commented on #4022
@Azanul are you still working on this or should we unassign you?

[2022-11-07 19:31] stnguyen90 commented on #4016
@ChandanChainani are you still working on this or should we unassign you?

[2022-11-07 19:37] stnguyen90 commented on #3983
@polarvoid are you still working on this or should we unassing you?

[2022-11-07 19:39] stnguyen90 commented on #3982
@plumsirawit are you still working on this or should we unassign you?

[2022-11-07 19:40] stnguyen90 commented on #3981
@TheOjasSingh, are you still working on this or should we unassign you?

[2022-11-07 19:40] fliitor opened #4645 "🚀 Feature: Permissions across projects"
### 🔖 Feature description

Have an appwrite's root user/teams configuration or be able to set permissions across projects

### 🎤 Pitch

Project A : Admins access
Project B/C/D/E : Whitelabels. Same collections/data structure for all. Only customer can auth
Project F : Investors access

UI, with web SDK, for B/C/D/E can't access A/F appwrite project
F can't access A
A can access everywhere

= impro

[2022-11-07 19:50] stnguyen90 commented on #3957
@afzal442 are you still working on this or should we unassign you?

[2022-11-07 19:51] fliitor opened #4646 "🚀 Feature: Error events"
### 🔖 Feature description

Add [errors.* events](https://appwrite.io/docs/webhooks#events) to be able log it, implement specific workflow / retry policies, etc.

### 🎤 Pitch

Be able to process errors with appwrite's flexibility

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

-

[2022-11-07 19:54] stnguyen90 commented on #4646
@fliitor thanks for raising this issue! 🙏🏼 Would you please clarify what kind errors you're looking to hook into? Do you have a specific use case you're trying to achieve?

[2022-11-07 20:09] stnguyen90 commented on #4645
@fliitor thanks for creating this issue! 🙏🏼

In my experience, in this type of scenario, it would be best to have 1 project. What problems would having 1 project cause?

[2022-11-07 20:11] fliitor commented on #4646
Come from [Discord](https://discord.com/channels/564160730845151244/870534256324124692/1032748481061867521)

At first I wanted to be able to retry a webhook if the answer is not 200, with a delay, without having to trigger it from the appwrite logs

I think it is possible to generalize my case and to exploit the redis queue to be able to trigger webhook/function at the event

[2022-11-07 20:58] fliitor commented on #4645
Having a segmentation of rights by project is great. It would be even better to be able to manage this segmentation. Add the "project" level to the permissions?

[2022-11-07 21:09] stnguyen90 commented on #4645
@fliitor I understand, but can you do the same segmentation using a single project with multiple teams, databases, and/or buckets?

[2022-11-08 00:28] vasucp1207 commented on #4206
@stnguyen90 I am not comfortable with Scout Monitoring so you can unassign me.

[2022-11-08 01:35] Princeton21 commented on #4380
I am sorry I am quite busy lately

[2022-11-08 02:10] martin-matj opened #4647 "User (role: guest) missing scope (documents.write) Problem"
this is my code. first it runs well. but after many people visiting, i got error: **User (role: guest) missing scope (documents.write)**
if i create a new user, change the data. it runs well again. but it will get into problems soon again. about more than 1000 visits.
what did i miss?
`      const client = new Client();

      client
        .setEndpoint("http://myserver:8887/v1")
        .setProj

[2022-11-08 02:13] stnguyen90 commented on #4647
Theres a limitation with the number of sessions a user can have...that said, are you hard coding the same email and password for every user who accesses your app?

[2022-11-08 02:30] martin-matj commented on #4647
yes, i guess this is the reason. but is there a configure to remove the limitation, or i'd better use anonymous session? Thanks!

[2022-11-08 02:36] stnguyen90 commented on #4647
@martin-matj It doesn't quite make sense to hard code the same email and password for every user. Anonymous session probably makes more sense.

[2022-11-08 02:38] martin-matj commented on #4647
got it! thanks! @stnguyen90  I will try it!

[2022-11-08 03:30] mohith2883 commented on #4385
Hey @stnguyen90 I am busy with my college stuff so I am not working on it

[2022-11-08 04:24] ks129 commented on #4179
Sorry, looks like I don't have time to finish it anymore. School has began again.

[2022-11-08 05:06] polarvoid commented on #3983
Hey, I'm still working on this :)

I opened up a draft at utopia-php/database/pull/209 and asked for additional help there.

[2022-11-08 05:41] ChandanChainani commented on #4016
@stnguyen90 I am almost done their is stdout capturing that I am not able to figure out will raise PR as soon I resolve the issue or will raise the PR with the changes I have done

[2022-11-08 06:59] GenMech commented on #4164
I am working on this, superb busy with something which was sudden, I will take 2 more days only, If i was not able to do it by friday, I will unassign myself. And take a fresh issue to work on.
Sorry for this much delay!

[2022-11-08 07:08] martin-matj commented on #4647
@stnguyen90 i have tried. the anoymouse session better be deleted everytime after using it. otherwise it will cause the same error

[2022-11-08 07:27] stnguyen90 commented on #4164
@GenMech, no worries! You can take your time! Just let us know if you no longer want to work on it so we can unassign you.

[2022-11-08 07:29] stnguyen90 commented on #4647
@martin-matj sessions are automatically persisted by the Appwrite sdks. So, what your app should do on start is check if there's a valid session already before trying to create a other one. You can check if there's a valid session by calling `account.get()`. If that throws an exception, there is no session and you can create a new anonymous session.

[2022-11-08 08:12] Azanul commented on #4022
@stnguyen90 I'm on it.

[2022-11-08 11:28] Loria21 commented on #4619
When you look up a person by their last name, it’s easy, right? You don’t have to read every page in the book. You can open to the middle page and immediately know if the name you’re searching for is earlier or later. Then open to the middle of whichever half of the book you know you should be looking in, and keep reducing the search task by half repeatedly, until you find the right page. Then on

[2022-11-08 13:58] SingHar opened #4651 "🐛 Bug Report: Custom Domain fails to verify"
### 👟 Reproduction steps

Adding custom domain with Cloudflare managed domains and proxy bypassed CNAME (Grey Cloud), fails at verification.

The documentation states that CNAME should point to `https://subdomain.domain.tld` but CNAME can only contain destination domain WITHOUT schema [Wikipedia](https://en.wikipedia.org/wiki/CNAME_record).

Other DNS providers may also have the same issue but I h

[2022-11-08 14:04] caramelmelmel commented on #4466
Can I ask some questions?

[2022-11-08 15:15] martin-matj commented on #4647
@stnguyen90 ok, i find the method, **account.get()**. but i wonder if there is also a limitation to anoymous session? i mean, too many people use the anonymous session, would it cause trouble?

[2022-11-08 15:16] stnguyen90 commented on #4651
@SingHar thanks for raising this issue! Would you please provide the domains and the exact error you get?

Also, I recommend joining our [Discord](https://appwrite.io/discord) server as it would be much easier to troubleshoot this synchronously rather than asynchronously on GitHub.

[2022-11-08 15:20] stnguyen90 commented on #4647
@martin-matj each Anonymous Session is essentially a User in Appwrite so you'll end up with a lot of Users. It's not really a problem...just maybe cluttered. You can create an Appwrite Function to delete inactive Anonymous Users if you want to keep it a little cleaner.

[2022-11-08 15:29] SingHar commented on #4651
Sorry I forgot to mention that I am using a self-hosted instance of AppWrite.

Thanks for Discord invite.

[2022-11-08 16:43] TheOjasSingh commented on #3981
You can unassign me

[2022-11-08 19:30] meepeek commented on #4619
@Loria21 If I catch your point correctly. You are saying that the feature is not necessary for index should be a small set of necessary lookup and my design has a flaw that could be fixed instead of the proposed feature so the 2047 required indexes I calculated was not necessary, is that correct ?

I understand the concept you mentioned but I stuck with a real world use case while using appwrite a

[2022-11-09 00:30] martin-matj commented on #4647
Ok， I think I understand. THANKS A LOT！ @stnguyen90

[2022-11-09 00:59] stnguyen90 commented on #4640
I can confirm I see this problem. It looks like we cache the preview:

https://github.com/appwrite/appwrite/blob/master/app/controllers/api/storage.php#L785

but we don't check the permissions after something has been added to the cache:

https://github.com/appwrite/appwrite/blob/6c220467b8cb33e3784dc99a580cc322b370f9f1/app/controllers/shared/api.php#L161-L184

[2022-11-09 05:00] Shiba-Kar commented on #4543
What might have gone wrong ? I am using Appwrite ``v:1.0.3.501`` and ``appwrite: ^8.1.0`` in flutter and ``dart_appwrite: ^7.1.0`` in functions

[2022-11-09 05:27] stnguyen90 commented on #4543
@Shiba-Kar there's a bug with including write with update or delete. Please try without write as I suggested.

[2022-11-09 07:37] scshiv29-dev commented on #4600
@stnguyen90  was finally able to see executor logs with the new coolify update
![image](https://user-images.githubusercontent.com/68141773/200767567-b8abf43e-f167-4d57-b343-405d55144df5.png)
 this is what i, getting when i push function from cli

[2022-11-09 10:59] vishnus17 commented on #4037
Hi @stnguyen90 . Sorry about it. I had previously completed the function for Email and its testing. I was completely off due to my college and internship busy schedule. You may unassign me as I'm having my final exams coming up next week.
I will take up issues once I'm free.
Thanks.

[2022-11-09 11:15] Mabenan commented on #4299
As I think that a generic OIDC provider will take his time. I would volunteer for the moment to create an Keycloak provider. For sake of clearity i will create a new Issue.

[2022-11-09 11:17] Mabenan opened #4653 "🚀 Feature: Keycloak OAuth Provider"
### 🔖 Feature description

A new OAuth Provider for the self hosted OAuth Provider Keycloak https://www.keycloak.org/

### 🎤 Pitch

As discussed in https://github.com/appwrite/appwrite/issues/4299 a generic OIDC Provider would be better but takes more time to implement. So I would create an OAuth provider for Keycloak.

### 👀 Have you spent some time to check if this issue has been raised before?

[2022-11-09 16:34] fliitor opened #4656 "🚀 Feature: Attributes permissions + Validate & sanitize queries"
### 🔖 Feature description

Allow to define permissions on Attributes & use it on query generator to auto generate columns on SELECT and validate access before UPDATE

### 🎤 Pitch

It will natively allow to moderate data scope and have a user wich can only read col1/2/3, other user with only read/write permission on col3/4/5, etc..

Perhaps use other redis instance to store session access, to avoid

[2022-11-09 16:38] stnguyen90 commented on #4656
@fliitor thanks for creating this issue! 🙏🏼 One way to achieve something like this right now is to use separate collections. Your example has 3 levels of access:

1. col 1, 2
2. col 3
3. col 4, 5

So you can make 3 collections. User A would have access to collection 1 and 2. User B would have access to collection 2 and 3.

[2022-11-09 16:41] fliitor opened #4657 "🚀 Feature: Define columns wanted on SELECT queries"
### 🔖 Feature description

Add [Query](https://appwrite.io/docs/databases#querying-documents).select(['colA', 'colB'])

### 🎤 Pitch

To gain some performance & not load useless data

Usecase

- I want a HTML table with 10 of 150 attributes from collections
- I want to check value of only one attribute of document
- I want to join data, but without get all attributes of them

EDIT: Other usecase

[

[2022-11-09 16:53] stnguyen90 commented on #4656
@fliitor, yes, correct.

[2022-11-09 17:18] fliitor commented on #4656
Is acceptable to replace all database get queries by functions ?

[2022-11-09 18:15] stnguyen90 commented on #4656
@fliitor, you can. I have seen a community member create a function that works generically on multiple collections to join data. You can certainly have a function that does a SELECT on attributes before returning the data.

[2022-11-09 22:56] bitethecode commented on #3979
@christyjacob4 Hey Chris, I noticed that this is unassigned. Could I try this?

[2022-11-09 23:20] stnguyen90 commented on #3979
@bitethecode, we would love to have your contribution! However, since Hacktoberfest is over, you won't be eligible for any Hacktoberfest rewards. Let me know if you're still interested and I can assign you.

[2022-11-09 23:38] SomeBody16 commented on #4622
I tried with nginx proxy manager (btw now I love this tool), and it worked better with proxy, aaand with this I discovered that I had invalid projectId which caused all problems.

Thank you!

[2022-11-09 23:38] #4622 closed

[2022-11-09 23:52] stnguyen90 commented on #4651
@SingHar, would you please provide the domains and the exact error you get?

Appwrite is only available self-hosted at the moment 😉

What documentation are you referring to?

[2022-11-09 23:53] #4637 closed

[2022-11-09 23:54] stnguyen90 commented on #4609
Closing due to inactivity.

[2022-11-09 23:54] #4609 closed

[2022-11-10 01:33] bitethecode commented on #3979
@stnguyen90 Oh, I don't need that. I simply want to contribute and learn :)

[2022-11-10 01:35] stnguyen90 commented on #3979
Assigned! Thanks for the support!

[2022-11-10 17:08] netapy commented on #4626
**Update 2 :**
Sorry about that, but the problem occurred again. Not sure if the functions are at fault, it just stopped for 5 minutes and then went back up.
Could it be just a matter of specs ? Is 2 core CPU and 4 gigs of RAM barely enough ?
For now it's just me and someone else on the server so it should be able to handle our little activity.

Also I noticed everytime it crashes, a mail is sent

[2022-11-10 17:46] stnguyen90 commented on #4626
@netapy,

While it's down, it would be helpful to check `docker stats` to see if any containers are running harder than it should. Looking at logs for anomalies could be helpful too.

That should be enough for a couple of people with a little activity.

The only place I see that is in the doctor:

https://github.com/appwrite/appwrite/blob/02a432102df047d2ea96faed65d77a862239d487/app/tasks/doctor.p

[2022-11-10 18:29] alexander-potemkin commented on #4442
Thank you!

Something like a working folder with the files; once 'commit' button clicked, folder `gzip`-ed and send via [the API](https://appwrite.io/docs/server/functions?sdk=nodejs-default#functionsCreateDeployment) ?

Output is displayed somewhere for example, at the bottom?

[2022-11-10 19:17] stnguyen90 commented on #4299
One challenge I thought about was how to handle these:

1. https://github.com/appwrite/appwrite/blob/02a432102df047d2ea96faed65d77a862239d487/src/Appwrite/Auth/OAuth2.php#L81
1. https://github.com/appwrite/appwrite/blob/02a432102df047d2ea96faed65d77a862239d487/src/Appwrite/Auth/OAuth2.php#L90
1. https://github.com/appwrite/appwrite/blob/02a432102df047d2ea96faed65d77a862239d487/src/Appwrite/Auth/OA

[2022-11-10 21:54] Mabenan commented on #4299
They are defined per specification of oidc. So no option is needed

[2022-11-11 00:24] stnguyen90 commented on #4299
@Mabenan, ah you're right! They are [standard claims](https://openid.net/specs/openid-connect-core-1_0.html#StandardClaims).

And as you mentioned in https://github.com/appwrite/appwrite/pull/4660#issuecomment-1310934275, the biggest challenge is probably:

[2022-11-11 10:09] keul commented on #4299
Ah! This is a nice catch. But isn't this the same for other providers too? For example: can I enable two different authentik?

[2022-11-11 13:32] bUxEE commented on #2735
If nesting will be applied queries need to be adpated to be able to use nested documents like with mongoDB

[2022-11-11 13:55] Mabenan commented on #4299
No you cant but it is not as  bad as if you have a generic provider

[2022-11-11 15:15] SingHar commented on #4651
So, I was trying to add opt.akaal.pw and my appwrite is hosted on db.akaal.biz

I am referring to on-page documentation that pops-up when verifying the domain. Please see the screenshot.

When I click Confirm and Verify, it shows this message

`Domain verification for the requested domain has failed.`

![Documenation Screenshot](https://user-images.githubusercontent.com/7950574/201367965-3b5df77b-

[2022-11-11 15:38] SingHar commented on #4651
Looks like I figured it out.

`_APP_DOMAIN_TARGET` should be hostname only but I was using URL.

Suggestion: You should include small examples with documentation.
![image](https://user-images.githubusercontent.com/7950574/201373925-1f69958d-12c3-4412-919f-f50b4e4b44f9.png)

[2022-11-11 17:05] netapy commented on #4626
Thank you for your answer and patience @stnguyen90.
So today the problem occurred again when launching a function (4 runtimes open at the same time).

Here is the  `docker stats`, nothing seems overwhelmed :
![IMG_0462](https://user-images.githubusercontent.com/39877685/201391794-99e9f354-b3fb-4989-95d8-b65001883b6b.jpeg)

Now it’s been 10 minutes and the server isn’t up yet.

My functions contain

[2022-11-11 17:47] netapy commented on #4626
Okay I think I know what precise steps before a crash (doesn’t always work but most of the time).
1. I log in to the app with Google Auto
2. I go on my user profile (it calls a function that grabs data made by the user on multiple tables and compacts them in a json)
3. I go back to the main feed (which also calls a function that queries the content database and returns some documents)
That second

[2022-11-11 21:01] stnguyen90 commented on #4626
@netapy could there be an infinite loop somewhere in your function code?

[2022-11-12 05:49] aakashcodess opened #4664 "🚀 Feature:"
### 🔖 Feature description

A new environment variable for sms authentication to set the sms content.

### 🎤 Pitch

Appwrite supports multiple sms providers. Some providers use templating flow to send sms, the secret/otp gets replaced in the sms content.
Example: Msg91 supports templating flow, If i have a template, Dear customer, use this One Time Password {{OTP}} to log in to your account. This O

[2022-11-12 05:54] stnguyen90 commented on #4664
@aakashcodess thanks for raising this issue! 🙏 As I understand it, you're requesting a way to customize the SMS message for phone auth. We actually intentionally only send the code to avoid requiring to translate text as well as making it easier to copy the code for pasting.

That said, let's see if we get others who would also like to have a template for the SMS message.

[2022-11-12 08:21] netapy commented on #4626
No, it really is just queries to the database with ~4 attributes lookup per queries. No `while` or `for` loops.

[2022-11-12 11:38] netapy commented on #4626
Okay @stnguyen90 I think I've got something interesting.
Tried backing up the data and making a full reinstall but the problem occured 30 minutes after.

And as I inspected the logs of my running 3 python containers :
- 2 of them didn't have any logs
- the third one had this :
<img width="709" alt="image" src="https://user-images.githubusercontent.com/39877685/201472063-cb9dcb7a-2fd8-4c49-a437-55f

[2022-11-12 15:53] stnguyen90 commented on #4626
@netapy what's on line 23 of that function?

[2022-11-13 10:38] netapy commented on #4626
<img width="764" alt="image" src="https://user-images.githubusercontent.com/39877685/201517355-2e7e0f16-aa49-4883-855d-e85cee64aaf1.png">

I parse the payload (there always is a payload following the same format).

Also on the next line I read the user_id that called the function.
The function may be called by anyone, which makes this value an empty string in my experience.

[2022-11-13 15:23] s3ppo opened #4666 "🐛 Bug Report: CLI is ignoring vars section"
### 👟 Reproduction steps

when i deploy a function with "vars", they are not provided in the new "variables" section of cloud functions

### 👍 Expected behavior

vars should be respected

### 👎 Actual Behavior

vars are ignored

### 🎲 Appwrite version

Version 1.0.x

### 💻 Operating system

Linux

### 🧱 Your Environment

_No response_

### 👀 Have you spent some time to check if this issue has been

[2022-11-13 15:37] stnguyen90 commented on #4626
@netapy

just in case, make sure to add try/except so you catch all exceptions and call `res.json` or `res.send` at least once before the function exits.

That's weird...it shouldn't be blank if it's executed by a user...

[2022-11-13 15:50] netapy commented on #4626
@stnguyen90

Alright I will do that.

I'm sorry I meant that it's an empty string when an unregistered user calls the function, someone unknown by the system (which makes perfect sense).

[2022-11-14 03:52] caramelmelmel commented on #4466
For the unit test stated here, what's the test coverage? Will you need instructions to run it on your local machine?

[2022-11-14 04:41] stnguyen90 commented on #4466
@caramelmelmel, no need to write unit tests. Just manually test it to make sure it works. Also make sure to manually test for failures too to confirm the correct helpful error response is returned.

[2022-11-14 05:59] benjamin-carriou commented on #2940
+ 1:

[code]

[2022-11-14 09:17] Gilbertelnino commented on #4322
Thanks, That works

[2022-11-14 14:26] #1431 closed

[2022-11-14 14:28] stnguyen90 commented on #2628
Closing due to inactivity

[2022-11-14 14:28] #2628 closed

[2022-11-14 14:32] stnguyen90 commented on #3807
@helal-muneer, would you please provide the logs from the appwrite-worker-builds container and the runtime container?

Also, could there be a disk space issue with docker?

[2022-11-14 15:54] GenMech commented on #4164
@stnguyen90 Sorry But I am not able to give required time for the issue.

[2022-11-14 16:16] stnguyen90 opened #4670 "Could not resolve host when executing Function"
Same here:

[code]

_Originally posted by @benjamin-carriou in https://github.com/appwrite/appwrite/issues/2940#issuecomment-1313135208_

[2022-11-15 04:40] chrisnurse commented on #2735
I agree with many comments here about the essential nature of relationships. We are all aware of the flexibility of nested types, but relating entities by ID is an important way of ensuring centralised data changes are reflected in all areas of the data model. If we edit the mobile phone number of a user, we don't want to have to find all documents the mobile was stored in. When we read the graph

[2022-11-15 08:53] #4366 closed

[2022-11-15 11:52] sanderkollerie opened #4676 "🐛 Bug Report: appwrite-executor restarts when using external SMTP with credentials"
### 👟 Reproduction steps

When I put my SMTP credentials in the .env file The appwriter-executor keeps on restarting.

### 👍 Expected behavior

Mail must send and apprwrite-executor must run.

### 👎 Actual Behavior

The executor won't start and keeps on restarting.

[code]

### 🎲 Appwrite version

Version 1.0.x

### 💻 Operating system

Linux

### 🧱 Your Environment

_No response_

### 👀 Have you s

[2022-11-15 13:43] jordonedavidson commented on #4544
The link is in the paragraph text here: https://appwrite.io/docs/databases#permissions

[2022-11-15 14:08] sseth commented on #4270
Hi! I'd like to work on this, can I be assigned please?

[2022-11-15 14:20] caramelmelmel commented on #4466
I'll submit the screenshots if it's as such

[2022-11-15 15:03] PriyanshuAhlawat commented on #4493
@stnguyen90 I will like to work on it, pls assign🙂

[2022-11-15 16:04] pomarec commented on #3899
I also wonder if it has anything to do with server file descriptiors limit or network configuration

[2022-11-15 16:10] stnguyen90 commented on #4270
@sseth assigned! Thanks 🙏🏼

[2022-11-15 16:32] vedant-jain03 commented on #4458
@stnguyen90 I am interested to work in this issue, should I go ahead?

[2022-11-15 16:33] stnguyen90 commented on #4458
@vedant-jain03, assigned! Thanks for your interest! 🙏🏼

[2022-11-15 16:41] stnguyen90 commented on #4676
@sanderkollerie this seems really odd...Are you sure you only updated the `_APP_SMTP_*` env variables because there errors you're seeing are more related to the `DOCKERHUB_PULL_*` env variables?

[2022-11-15 21:01] stnguyen90 commented on #4526
Closing as this looks like a duplicate of https://github.com/appwrite/appwrite/issues/2768

[2022-11-15 21:01] #4526 closed

[2022-11-15 21:02] stnguyen90 commented on #2768
@ivenprillwitz thanks for creating this issue! 🙏🏼 This is probably happening because the older values are `null` instead of what you set for the default value. Appwrite doesn't go back and update older documents. The default value is only applied to new documents.

[2022-11-16 05:06] brianmutiso commented on #2196
thanks, helped resolve my long term problem

[2022-11-16 10:51] xcashy opened #4689 "🐛 Bug Report: Console 2.0 Param "name" is not optional"
### 👟 Reproduction steps

When trying to create a function or a new document in Console 2.0. The error message `Param "name" is not optional` appears although a name is entered.

### 👍 Expected behavior

It should create the Function/Document

### 👎 Actual Behavior

It shows the Error message

### 🎲 Appwrite version

Different version (specify in environment)

### 💻 Operating system

Linux

### 🧱

[2022-11-16 11:13] andrasbacsai commented on #4600
I tried to replicate the problem but I could not. Most probably your server ran out of memory and Docker killed Appwrite's docker container.

By default, there is no memory limitation (both variables are empty). Everyone can modify it on their needs in the configuration menu of Coolify.

[2022-11-16 12:33] McPizzaIs opened #4690 "🐛 Bug Report: Dashboard 2.0: When creating INT & FLOAT attribute with default value, default value not saved"
### 👟 Reproduction steps

Use Dash 2.0
Go To Collection
Create new Attribute
Select type of INT or FLOAT
Set Default value to a number
Save Attribute

### 👍 Expected behavior

Attribute should be created with the default value saved
On document creation, default value should be applied

### 👎 Actual Behavior

Default value is not saved on attribute creation
New documents do not use the default val

[2022-11-16 12:33] McPizza0 opened #4712 "🐛 Bug Report: Default Value not Saved When Creating String/Integer/Float/Boolean Attribute with falsy default value"
### 👟 Reproduction steps

Use Console 2.0
Go To Collection
Create new Attribute
Select type of INT or FLOAT
Set Default value to a 0 (or 0.0 for float)
Save Attribute

### 👍 Expected behavior

Attribute should be created with the default value saved
On document creation, default value should be applied

### 👎 Actual Behavior

Default value is not saved on attribute creation
New documents do not us

[2022-11-16 12:37] McPizzaIs commented on #4690
Have checked and confirmed default values for all other types:
✅ String
❌ Int (works if >1)
❌ Float (works if >1)
✅ Bool
✅ Date
✅ email
✅ IP
✅ URL
✅ Enum

[2022-11-16 14:12] JakeAi opened #4692 "🚀 Feature: Bring Back "View as JSON""
### 🔖 Feature description

you should bring back "View as JSON"

### 🎤 Pitch

Viewing documents/users/teams and other objects as JSON, allows me to test functions by executing the function with the object data.

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read th

[2022-11-16 14:12] JakeAi opened #4711 "🚀 Feature: Console 2.0 Bring Back "View as JSON""

[2022-11-16 14:50] ronw98 opened #4693 "📚 Documentation: Flutter MacOS setup"
### 💭 Description

A few things seem to be missing from the macOS documentations setup.

# Podfile
## Problem
 I followed the documentation but the `pod update` command failed and therefore the app could not built.

 To solve this I went into macos/Podfile and changed the first line to `platform :osx, '10.15' ` as 10.15 is the minium target deployment required for appwrite to work

# Xcode configu

[2022-11-16 16:47] stnguyen90 commented on #4441
@Bendix20 , @Meldiron is this a duplicate of https://github.com/appwrite/appwrite/issues/3115?

[2022-11-16 16:52] stnguyen90 commented on #4535
Change should be in 1.1.0 now:

https://github.com/appwrite/appwrite/blob/fbb9bb894122c938ac848dffd82242c1eb599a69/composer.lock#L1840

[2022-11-16 16:52] #4535 closed

[2022-11-16 16:55] stnguyen90 commented on #4692
Thanks for creating this issue! 🙏🏼 We'll look into this!

[2022-11-16 17:00] stnguyen90 commented on #3321
This is probably due to redis being wiped after upgrade/migration. The workaround right now is to update the schedule to something else and change it back to kickstart it again.

[2022-11-16 18:21] stnguyen90 commented on #4689
@xcashy thanks for raising this issue! 🙏🏼 I was able to successfully create a document. Would you please provide more detail on how to reproduce the problem?

[2022-11-16 18:28] gpollet opened #4709 "🐛 Bug Report: Password recovery request not getting base url"
### 👟 Reproduction steps

When logged out, click on "Forgot password?", fill in the email input and submit.

### 👍 Expected behavior

Receive an email to recover or reset the password, and receive a confirmation message.

### 👎 Actual Behavior

The "url" in the body of the request sent is an empty string instead of the base url, so the error "Param "url" is not optional." is displayed.

### 🎲 Appw

[2022-11-16 18:44] gpollet opened #4710 "🐛 Bug Report: Missing password recovery page"
### 👟 Reproduction steps

Configure your SMTP settings in the .env file.

Using Firefox (important as the recovery function is broken at the moment), open the Developper panel and go into the Network tab.

When logged out from Appwrite, click on "Forgot password?", input your email and submit.

Back to the Network tab in Dev tools, right-click the POST request to the file "recovery" and select "Ed

[2022-11-16 19:21] stnguyen90 commented on #4693
Thanks for raising this issue! 🙏🏼

I'm not sure we want to add these steps because they're kind of standard iOS related changes. @gewenyu99, what do you think?

[2022-11-16 20:55] #4651 closed

[2022-11-16 21:30] theMeysam opened #4698 "Server error after upgrade from 0.15.2 to 1.1"
Hi my dear friends. I upgrade my appwrite from 0.15.2 to 1.1 (did all steps from https://appwrite.io/docs/upgrade) but unfortunately within migrate process I get bellow errors:

[code]
And now when I try to login to my console it show "Server error" and I can not login to my appwrite.😩
Can anyone please advice me?

[2022-11-16 22:39] xcashy commented on #4689
@stnguyen90 I can't explain why, but all of a sudden it works for me. Both documents and functions can be created again.

I tested this directly after updating a test server from 1.0.3 to 1.1.0. For this I followed the instructions from https://appwrite.io/docs/upgrade and also did the migration after the installation was done. After that I created a test database, a collection in it, an attribute

[2022-11-17 00:23] stnguyen90 commented on #4689
@xcashy weird...can we close this since it's working now?

[2022-11-17 00:26] loftwah opened #4700 "🐛 Bug Report: output of running appwrite prints /usr/src/code/"
### 👟 Reproduction steps

When I run the initial steps to run Appwrite

[code]

### 👍 Expected behavior

It should print out a relative path to the `docker-compose.yml` file, or the current working directory. I only raise this because when I went to run `docker compose down` I looked for the file there, which didn't exist.

### 👎 Actual Behavior

It prints out

[code]

The point of the issue is th

[2022-11-17 00:34] xcashy commented on #4689
I tested a bit more and can't repoduce the problem again. So yes I will close this issue. Thanks.

[2022-11-17 00:34] #4689 closed

[2022-11-17 00:38] stnguyen90 commented on #4700
Thanks for raising this issue! 🙏🏼

That's going to be tough to do considering the entire execution happens in a docker container that doesn't have any idea about the host machines folders... 🧐

[2022-11-17 00:41] loftwah commented on #4700
I'd go with a relative path because if you remove `/usr/src/code/` from the output, it prints a valid command that can be entered in the same directory they launched Appwrite from.

[2022-11-17 02:14] bazrafkan commented on #1168
Any update for this feature?

[2022-11-17 02:57] MaddPenguin opened #4708 "🐛 Bug Report: Missing 'Create' from bucket permission settings"
### 👟 Reproduction steps

Fresh install v1.1.0

### 👍 Expected behavior

Be able to tick on 'Create'

### 👎 Actual Behavior

No 'Create' option for permission and not able to upload file to the bucket

### 🎲 Appwrite version

Version 1.0.x

### 💻 Operating system

Linux

### 🧱 Your Environment

Appwrite 1.1.0
Linode ubuntu 22.04

![Screenshot from 2022-11-16 22-09-34](https://user-images.githubuse

[2022-11-17 03:26] shengfa opened #4701 "🐛 Bug Report: Console 2.0 Param "url" is not optional"
### 👟 Reproduction steps

Password Recovery shows error `Param "name" is not optional` after upgrade to appwrite:1.1.0
![image](https://user-images.githubusercontent.com/15109645/202347318-8ec46957-265b-4bb0-a95f-102e46353dfd.png)

### 👍 Expected behavior

It should send a mail to me.

### 👎 Actual Behavior

it shows the error message

### 🎲 Appwrite version

Different version (specify in environm

[2022-11-17 03:28] shengfa commented on #4701
logs with `docker logs appwrite` shows:
[code]

[2022-11-17 04:14] stnguyen90 commented on #4701
Closing as a duplicate of https://github.com/appwrite/console/issues/159. Please make sure to 👍🏼 that issue.

[2022-11-17 04:14] #4701 closed

[2022-11-17 04:22] stnguyen90 commented on #4698
@theMeysam did you upgrade to the latest 1.0.x? If not, please try to:

1. restore back to 0.15.x
2. upgrade to the latest 1.0.x
3. run the migrate command
4. upgrade to 1.1.0
5. run the migrate command

[2022-11-17 04:28] usamashafiqs opened #4702 "🐛 Bug Report: Deleting the organization did not delete all projects in v1.1.0"
### 👟 Reproduction steps

I delete the organization but all projects are still exist.

### 👍 Expected behavior

It should delete the all the projects when we delete the organization.

### 👎 Actual Behavior

It actually delete the organization but not all the projects.

![Screenshot 2022-11-17 092651](https://user-images.githubusercontent.com/18592683/202355403-a7dc21f0-f7d9-45ec-998d-ec7653b1828a.

[2022-11-17 04:40] folkevil commented on #3386
+1 for this feature, text/json attribute is often to use

[2022-11-17 04:46] stnguyen90 commented on #4702
@usamashafiqs thanks for creating this issue! 🙏🏼 What makes you say not all projects are deleted? Can you explain some more?

[2022-11-17 04:57] usamashafiqs commented on #4702
If i delete organization and with same ID create new organization.
In this screenshots it show had one project but i did not create new project in this organization.

![Screenshot 2022-11-17 092731](https://user-images.githubusercontent.com/18592683/202359606-4fdf368c-2ca4-428f-8511-09082de150bb.png)

![Screenshot 2022-11-17 092651](https://user-images.githubusercontent.com/18592683/202359821-308e

[2022-11-17 04:58] stnguyen90 commented on #4702
@usamashafiqs ahh I see! Thanks for the clarification! 🙏🏼 We'll look into this ASAP!

[2022-11-17 05:02] stnguyen90 commented on #4601
Closing due to inactivity and it seems like a duplicate.

[2022-11-17 05:02] #4601 closed

[2022-11-17 08:44] ddenev commented on #2788
Dear @eldadfux

as a leader of this project, would you be kind to shine light on your plans for implementing this request? Do you have a roadmap for adding transactions, it this a priority, are you working on this, etc.

thank you!

[2022-11-17 08:48] eldadfux commented on #2788
Hey @ddenev. Yes this is a priority and we do plan to work on this feature. We want to include in one of the next two database iterations, but still hard to tell when exactly could the community expect it.

[2022-11-17 09:51] ArmanNik commented on #4702
@usamashafiqs thanks again for bringing this issue up :smile:

The copy is not correct on this page. You still have no projects. That value indicates the number of members in the  organization, not the number of projects :sweat_smile:

[2022-11-17 17:31] stnguyen90 commented on #3412
No longer an issue with the new console

[2022-11-17 17:31] #3412 closed

[2022-11-17 17:33] stnguyen90 commented on #4549
Closing as we won't be releasing 1.0.4

[2022-11-17 17:33] #4549 closed

[2022-11-17 17:40] stnguyen90 commented on #4340
FYI, this is a problem with passing any integer for a float attribute.

[2022-11-17 17:41] stnguyen90 commented on #4428
@MoskalykA, @ashu-rb have you taken a look at how to resolve this?

[2022-11-17 17:44] stnguyen90 commented on #3943
@michizhou, have you looked into how to fix this?

[2022-11-17 18:02] stnguyen90 commented on #4580
This should be resolved in the new Console (version 1.1.0):

<img width="1206" alt="image" src="https://user-images.githubusercontent.com/1477010/202522700-77ee422d-27db-4c64-91c9-7e7c09de8e36.png">

[2022-11-17 18:02] #4580 closed

[2022-11-17 18:10] #4640 closed

[2022-11-17 18:17] stnguyen90 commented on #4544
This should hopefully be clearer in [1.1.0](https://github.com/appwrite/appwrite/releases/tag/1.1.0):

<img width="741" alt="image" src="https://user-images.githubusercontent.com/1477010/202525654-a4bc597b-5b83-4b5c-a1e8-5997f5710a44.png">

[2022-11-17 18:17] #4544 closed

[2022-11-17 18:29] stnguyen90 commented on #4054
@r-dev-limited I think the idea is to support private dependencies in general. Can this be closed and you can 👍 the previous issue?

[2022-11-17 18:32] #3528 closed

[2022-11-17 19:30] michizhou commented on #3943
@stnguyen90 I have not and have decided to not get involved with this issue. Instead I'll leave it to the core team to handle given that there's no way for me to validate changes on my end.

[2022-11-17 20:15] stnguyen90 commented on #2956
related: https://github.com/appwrite/appwrite/issues/4713

[2022-11-17 20:17] stnguyen90 commented on #4608
@lohanidamodar, would you be able to help with this?

[2022-11-17 22:29] netapy opened #4714 "🐛 Bug Report: can’t create oauth sessions on native apps"
### 👟 Reproduction steps

When I try to open an oauth session by calling  `await account.createAuth2Session (provider: provider);` on my native mobile app (both android and iOS), I see a white screen and the url is :
`https://example.com/v1/auth/oauth2/success?project=[PROJECT
ID]&domain=[DOMAIN]&key=[KEY]&secret=[SECRET]#`

### 👍 Expected behavior

It should close the window and open the session

[2022-11-17 22:34] stnguyen90 commented on #4714
Thanks for raising this issue! 🙏🏼 I think the problem might be because we implemented the route as

[code]

rather than

[code]

[2022-11-17 22:51] stnguyen90 commented on #3570
For backward compatibility on the API, how about we make email optional and add userId and phone as optional:

[code]

and in the body check to make sure only one of the values are non-empty.

[2022-11-17 23:26] gewenyu99 commented on #3943
@stnguyen90 Are these autogenerated?

[2022-11-17 23:29] stnguyen90 commented on #3943
@gewenyu99, yes I believe so based on the specs probably?

[2022-11-18 00:21] jonscoresby opened #4715 "🚀 Feature: API account endpoint to get list of memberships"
### 🔖 Feature description

Pretty much the same as this issue:

https://github.com/appwrite/appwrite/issues/3046

except for the account endpoint.

An added bonus would include the ability to perform queries on the list.

### 🎤 Pitch

The argument is the same as well. If I can already get list of teams and all the memberships for each team from the client, I can construct a list of memberships, bu

[2022-11-18 00:38] stnguyen90 commented on #4715
Thanks for raising this issue! 🙏🏼

I don't think this will help you because `/users/[USER ID]/teams` gets you the same thing as `/teams` from a client SDK.

Btw, it is possible to improve on this with:

1. get a list of all the teams for the user
1. for each team, get all the memberships, but search on the user's user ID like `teams.listMemberships('[TEAM_ID]', [], '[USER_ID]')`
1. only the user's

[2022-11-18 07:05] stnguyen90 commented on #3570
I'd say we return a bad request response. Either that or we can have some order of precedence.

[2022-11-18 07:10] netapy commented on #4714
@stnguyen90  thanks for handling this.

Can't we add this to the 1.1.1 ? I would really need this as fast as possible and unfortunately I can't downgrade to 1.0.3 because it causes some database issues (unless you know how to solve these?).
Cheers

[2022-11-18 10:32] Gustl22 opened #4717 "🐛 Bug Report: Query.search on array gives unwanted results (with space or hyphen)"
### 👟 Reproduction steps

Create a collection with an array attribute
Do a fulltext index on that attribute.
E.g. the attribute `characteristics` | string[]
With its possible string values: `characteristics-one`, `characteristics-two`, ...

Now if I do a query on client (flutter):
[code]
I get the results below....

I think the hyphen is replaced as a space and then it simply searches for the whol

[2022-11-18 10:52] ddenev opened #4718 "🚀 Feature: Add a list/table view to Databases, Functions, etc."
### 🔖 Feature description

Please add the possibility (e.g. via a view selection button) to show the pages that currently show items as cards (e.g. Databases, Functions, Storage, etc.) in a list/table, similar to the way the Auth page shows users.

### 🎤 Pitch

Cards are nice to the eye but they are less functional when we need quick access to the represented data. Lists are also capable of showin

[2022-11-18 11:13] ddenev commented on #2680
Dear @eldadfux

I consider null values in the DB to be valid carriers of business information - e.g. I use null values to explicitly express "no value".

Therefore I have a number of documents with null attributes which I need to query. The lack of `Query.isNull()` makes me use hacky methods (e.g. list all and do it in the code) which I would like to avoid (e.g. imagine I have a collection with th

[2022-11-18 11:46] redarflap commented on #4626
I just wanted to ditch in to say, that I am having exactly the same kinds of issues.
I'm using the Dart-2.17 runtime, Appwrite 1.0.3

Some things that i noticed:
- Even a very simple function with just a few static queries on the DB, that worked 100 times could fail from time to time, however it mostly happens when executing a bit more complex functions with some queries nested in loops.
- After t

[2022-11-18 18:23] RazorRSD opened #4721 "🐛 Bug Report: OAuth2 Settings URI in the console is incorrect"
### 👟 Reproduction steps

goto appwrite console
add auth2 provider
call it from a web SDK
when I was using URI on the console for discord auth it returned an invalid URI error.

### 👍 Expected behavior

It needs to redirect back to the website called the auth provider.

### 👎 Actual Behavior

when I was using URI on the console for discord auth it returned an invalid URI error.

### 🎲 Appwrite ver

[2022-11-18 18:25] stnguyen90 commented on #4721
@RazorRSD thanks for raising this issue! 🙏🏼

Looks like the URI in the Console shows:

[code]

but it should be `sessions` like:

[code]

![image](https://user-images.githubusercontent.com/1477010/202776309-75f87746-f8ff-4cde-9b66-bc6e81eef198.png)

[2022-11-18 18:29] ddenev commented on #1067
I think this can be closed now as this is now available in the new Console.

[2022-11-18 19:09] stnguyen90 opened #4722 "🐛 Bug Report: Console Trimmed ID is Reversed"
### 👟 Reproduction steps

1. Create a document with Document ID `2022.11.12__11.33.35__451812`

### 👍 Expected behavior

The Document ID shows as `...11.33.35__451812`

### 👎 Actual Behavior

The Document ID shows as `...11.33.35__2022.11.12`.

![image](https://user-images.githubusercontent.com/1477010/202783297-50b810d3-e314-4819-aac3-6a4b6af19629.png)

It looks like the `direction:rtl` in [`[u-t

[2022-11-18 19:29] vyomaaverse commented on #4722
I would like to work on this issue. Can this be assigned to me?

[2022-11-18 19:32] ddenev opened #4723 "🐛 Bug Report: IDs of entities are not visible"
### 👟 Reproduction steps

After the upgrade to the new console, all the IDs for Databases, Users, Functions, Collections, etc. are now displayed just as `Database ID`, `User ID`, etc. with a "click to copy" function on them but the actual ID strings are no longer visible:
![image](https://user-images.githubusercontent.com/1393766/202783144-b6697927-77ae-4ae1-81de-70cbfa9abafa.png)
![image](https:/

[2022-11-18 19:42] ddenev opened #4724 "🐛 Bug Report: APPWRITE_FUNCTION_USER_ID not prepended with "admin-" when triggered from Console"
### 👟 Reproduction steps

Create a function that logs the variable APPWRITE_FUNCTION_USER_ID
Deploy the function
Run the function from the Console

### 👍 Expected behavior

the logged user ID should be prepended with "admin-", as the documentation says - https://appwrite.io/docs/functions#functionVariables

### 👎 Actual Behavior

the logged user ID is not prepended with "admin-"

### 🎲 Appwrite ve

[2022-11-18 20:20] stnguyen90 commented on #4718
@ddenev thanks for providing this feedback! I'll let the team know about this

[2022-11-18 20:27] greendesertsnow commented on #4712
also the workaround doesn't work
[code]
will not bring falsy values.

[2022-11-18 20:48] ddenev opened #4726 "🚀 Feature: Console - "Execute now" in the "Executions" tab"
### 🔖 Feature description

Please add the "Execute now" button to the "Executions" tab as well.
![image](https://user-images.githubusercontent.com/1393766/202799683-a9a20c42-0007-4fcb-b31e-c71809de933c.png)

### 🎤 Pitch

Currently in order to execute a function I have go to the "Deployments" tab and then in order to check the logs I need to switch to the "Executions" tab. When I do this often duri

[2022-11-18 21:00] vyomaaverse commented on #4726
I would like to work on this issue, can this be assigned to me?

[2022-11-18 21:04] vyomaaverse commented on #4723
I would like to work on this issue.

[2022-11-18 21:32] jonscoresby commented on #4715
I was referring `/users/[USER ID]/memberships` which isn't available from the client SDK.

Good point

[2022-11-18 21:33] jonscoresby commented on #4715
Whoops. Didn't mean to close the issue.

[2022-11-18 22:06] stnguyen90 opened #4727 "🐛 Bug Report: Get User Returns 500 if User Does Not Exist"
### 👟 Reproduction steps

1. Execute the [Get User](https://appwrite.io/docs/server/users?sdk=nodejs-default#usersGet) API with a User ID that does not exist.

### 👍 Expected behavior

404 error

### 👎 Actual Behavior

500 error.

Appwrite logs:

[code]

It looks like we're using the incorrect constructor for the Exception here:

https://github.com/appwrite/appwrite/blob/673b0bb083a5d7e955860bb997

[2022-11-18 22:12] stnguyen90 commented on #4717
@Gustl22, thanks for raising this issue! 🙏🏼 Would you please try replacing the value with: `Query.search('characteristics', '"characteristics-one"')` and see what the result is?

[2022-11-18 22:24] stnguyen90 commented on #4714
@netapy we can't add it to 1.1.1 because 1.1.1 was already released 😕

[2022-11-18 22:31] stnguyen90 commented on #4708
This should be fixed in [1.1.1](https://github.com/appwrite/appwrite/releases/tag/1.1.1):

![image](https://user-images.githubusercontent.com/1477010/202813886-62aaf2ca-c7ae-4ccf-9d02-01a8f84ec812.png)

[2022-11-18 22:31] #4708 closed

[2022-11-18 22:31] #4709 closed

[2022-11-18 22:33] #4710 closed

[2022-11-18 22:34] stnguyen90 commented on #3918
This should be resolved in [1.1.1](https://github.com/appwrite/appwrite/releases/tag/1.1.1). Please feel free to comment if that is not the case.

[2022-11-18 22:34] #3918 closed

[2022-11-18 23:09] gpollet opened #4728 "🚀 Feature: Enforce minimum security level passwords"
### 🔖 Feature description

Enforce a minimum level of security for both members and users passwords

### 🎤 Pitch

As of now, the only requirement for members passwords is to be at least 8 characters long, but it is not sufficient to be secure. Weak passwords like 12345678, aaaaaaaa, etc can be used.

Considering the risks it poses, members should not be allowed to use weak passwords.

Enforcing it

[2022-11-18 23:15] gpollet commented on #4728
This is closely related to the already submitted feature request here https://github.com/appwrite/appwrite/issues/3182, but is more focused on the Appwrite console login page.

[2022-11-19 03:27] jatinmark commented on #4728
I want to work on this issue can you please assign it to me.

[2022-11-19 03:44] jatinmark commented on #4721
I want to work on this issue can you assign it to me .

[2022-11-19 03:51] dipakp2726 commented on #4727
i would like to take on this

[2022-11-19 05:43] byt3h3ad commented on #4384
hi! i would like to be assigned this!

[2022-11-19 05:43] byt3h3ad commented on #4380
hi! i would like to be assigned this!

[2022-11-19 05:43] byt3h3ad commented on #4385
hi! i would like to be assigned this!

[2022-11-19 05:44] byt3h3ad commented on #4271
hi! i would like to be assigned this!

[2022-11-19 05:53] ashu-rb commented on #4271
Won't be able to do this right now
Sorry

On Sat, 19 Nov 2022, 11:14 Adhiraj, ***@***.***> wrote:

[2022-11-19 11:39] Gustl22 commented on #4717
Nice, with quotes it works as expected. Thx ;D

[2022-11-19 11:39] #4717 closed

[2022-11-19 22:06] stnguyen90 opened #4731 "📚 Documentation: The "Running the Migration" Header Link on the Upgrade Docs is Broken"
### 💭 Description

## Reproduction Steps

1. Browse to the [Upgrade docs](https://appwrite.io/docs/upgrade).
2. Scroll to the "Running the Migration" section
3. Click on the header link

## Expected Behavior

The browser jumps to that section similar to if you clicked on [this](https://appwrite.io/docs/installation#installWithDocker).

## Actual Behavior

You're taken to the top of the page

It lo

[2022-11-20 01:52] dhust commented on #2735
This is more than a bit frustrating. How could I go about setting up the classes array information (id, name, description) without using a map?

[code]

[2022-11-20 02:45] DriedSponge opened #4732 "🐛 Bug Report: Incorrect Code Samples in Adding Web App Wizard"
### 👟 Reproduction steps

Open a project in the Appwrite console then go to Overview > Add Platform > Web App > Get the SDK (step 2) and Let's get coding (step 3)

### 👍 Expected behavior

It should show
[code]
and on step 3
[code]

### 👎 Actual Behavior

It shows
[code]
and on step 3
[code]

### 🎲 Appwrite version

Version 1.1.x

### 💻 Operating system

Windows

### 🧱 Your Environment

N/A

### 👀

[2022-11-20 03:13] stnguyen90 commented on #4732
Thanks for raising this issue! 🙏 We'll look into this ASAP!

[2022-11-20 03:40] stnguyen90 commented on #4384
@byt3h3ad assigned! Thanks for your interest!

[2022-11-20 03:41] stnguyen90 commented on #4721
@jatinmark assigned! Thanks for your interest!

[2022-11-20 07:34] MukulKolpe commented on #4731
Hey @stnguyen90, can I work on this issue?

[2022-11-20 08:08] merabtenei commented on #2735
@dhust, same here, what I ended up doing is use a String field and store a JsonEncoded map and decoding it after loading the object. It works quite well but you have no control on queries related to specific fields inside the map. But if you just want to store data this should work for the moment.

There is a lot of limitations with the Appwrite database, no grouping, no aggregations Sum and Count

[2022-11-20 10:49] merabtenei commented on #3905
@eldadfux is there any update on this ? Is there anything planned regarding this feature ? Could we see increment and decrement features soon ?

[2022-11-20 15:15] byt3h3ad commented on #4384
running the analyzer at level 9 gives 100 problems and running it at level 8 gives 98 problems? can it be reduced further?

[2022-11-20 15:22] stnguyen90 commented on #4731
@MukulKolpe assigned! Thanks for your interest!

[2022-11-20 15:25] stnguyen90 commented on #4384
Sure!

[2022-11-20 15:30] AnvaySingh commented on #4727
Hi, I have generated a pull request for this issue

[2022-11-20 15:37] stnguyen90 commented on #4380
@byt3h3ad assigned! Thanks for your interest!

[2022-11-20 15:37] stnguyen90 commented on #4385
@byt3h3ad assigned! Thanks for your interest!

[2022-11-20 15:46] #1067 closed

[2022-11-20 20:56] DankMemeGuy commented on #4639
Bump anyone?

[2022-11-21 03:43] lohanidamodar commented on #4608
@stnguyen90 Will do thank you

[2022-11-21 03:53] ddenev opened #4734 "🚀 Feature: Ability to disable functions"
### 🔖 Feature description

Please add the ability to disable a function.

### 🎤 Pitch

Sometimes, while testing, it is useful to disable a function instead of just deleting it. This is particularly useful for functions that run on an event.

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of

[2022-11-21 07:37] pomarec commented on #3994
Hi, if no one is working on it. I'm up for it. I'll implement S3 API of Google Storage.

[2022-11-21 16:10] stnguyen90 commented on #4702
@usamashafiqs the text was updated as part of the [1.1.1](https://github.com/appwrite/appwrite/releases/tag/1.1.1) release. Thanks again for raising this!

[2022-11-21 16:48] stnguyen90 opened #4742 "🐛 Bug Report: Console User Unable to Delete Account"
### 👟 Reproduction steps

1. Log into Console
2. Click on dropdown at the top right
3. Click on Your Account
4. Scroll down and click on Delete in the Delete Account section
5. Click Delete

### 👍 Expected behavior

The account is deleted.

### 👎 Actual Behavior

An error occurs:

<img width="1328" alt="image" src="https://user-images.githubusercontent.com/1477010/203112480-04db8983-b475-4374-a634

[2022-11-21 17:04] stnguyen90 commented on #4722
@vyomaaverse assigned! Thanks for your interest! 🙏🏼

FYI, I think the best approach would be to :

1. remove the `u-trim-start` class [here](https://github.com/appwrite/console/blob/d0c5079332c0c5016cbc3e4e45c49babdd6f7a01/src/routes/console/project-%5Bproject%5D/databases/database-%5Bdatabase%5D/collection-%5Bcollection%5D/%5B%5Bpage%5D%5D/%2Bpage.svelte#L68).
2. Add the `trim` flag to the `Pill`

[2022-11-21 17:06] netapy commented on #4714
@stnguyen90 Oh right !
I saw your pull request, any idea how long it'll take to implement the fix ? Sorry for insisting but it's really important for me.

[2022-11-21 17:25] gorootde opened #4743 "🐛 Bug Report: Editing of function variables does not work"
### 👟 Reproduction steps

1. Go to a function's settings
2. Create a variable `XYZ`
3. Save the variable
4. Create new variable
5. Bug! The variable name and value of `XYZ` are still displayed in the dialog
6. Cancel dialog
7. Refresh page
8. Click three dots next to `XYZ` and choose edit
9. Bug! The text fields are empty

### 👍 Expected behavior

1. The dialog box is empty when creating new varia

[2022-11-21 17:28] gorootde opened #4744 "📚 Documentation: Describe how appwrite API can be invoked directly"
### 💭 Description

The documentation should contain a description on how to invoke appwrite APIs without using the appwrite client SDK. e.g. using `curl`.

This would enable one to quickly debug using tools like postman or thunderclient.

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Con

[2022-11-21 17:47] stnguyen90 commented on #4743
Thanks for raising this issue! 🙏🏼 We'll look into it ASAP!

[2022-11-21 17:59] stnguyen90 commented on #4510
Since the coolify issue has been resolved, I'm going to close this one since it's a duplicate of https://github.com/appwrite/appwrite/issues/3311

[2022-11-21 17:59] #4510 closed

[2022-11-21 18:26] stnguyen90 commented on #4744
@gorootde btw, this is partially covered [here](https://appwrite.io/docs/sdks#noSDK). Our REST API docs also documents the HTTP method, URL, and parameters. Lastly, we are working on [REST API docs](https://github.com/appwrite/docs/pull/297/files) to further clarify how to prepare HTTP requests.

[2022-11-21 20:07] stnguyen90 commented on #4714
@netapy, hopefully in the next couple of days.

[2022-11-21 20:13] vedant-z commented on #4657
@fliitor May I work on this?
 If so then can you please guide me on how should I proceed?

[2022-11-21 20:21] vedant-z commented on #4268
@stnguyen90 I would love to work on this.

[2022-11-21 20:30] vyomaaverse commented on #4722
got it, thanks @stnguyen90

[2022-11-21 20:42] stnguyen90 commented on #4657
@vedant-z , thanks but this is something the core team will need to discuss and plan.

[2022-11-21 20:43] stnguyen90 commented on #4268
@vedant-z, assigned! Thanks for your interest! 🙏

[2022-11-21 21:01] troyanskiy opened #4746 "🐛 Bug Report: Console storage settings partially saved"
### 👟 Reproduction steps

Open console with storage setting.
1. Disable encryption and/or antivirus
2. Push update in the block
3. Set "Update Allowed File..."  select files
4. Push update
5. Set file limit
6. Push update

### 👍 Expected behavior

All setting are saved properly.
Selected file limit should be displayed in the text input filed.

### 👎 Actual Behavior

I can see, that when button upd

[2022-11-21 22:39] dereinefinn opened #4747 "🐛 Bug Report: An array cannot be empty anymore"
### 👟 Reproduction steps

Create a collection and a document within
1. Create an array attribute (e.g. a String array) in a collection
2. Add a value to the array
3. Update the document
4. Remove the added value from the array
5. Update the document
6. Now the length of the array is 1 and the value with index 0 is just "" (in case of a String array)

### 👍 Expected behavior

If there aren't any va

[2022-11-21 23:54] stnguyen90 commented on #4747
@dereinefinn, thanks for raising this issue! 🙏🏼 It seems this only pertains to our new Console and it's partly due to the difficulty in distinguishing whether there should be 0 elements or an element with an empty string, is that correct?

[2022-11-22 00:05] dereinefinn commented on #4747
Yes, the problem is that if the array should be empty there is one empty String at index 0. With console 1.0 we didn't have this issue.

[2022-11-22 00:08] stnguyen90 commented on #4746
@troyanskiy thanks for raising this issue! 🙏🏼 It definitely seems like something wonky is going on!

The Maximum File Size bug seems to be unrelated....In general, it looks like the value returned from the API isn't showing up in the UI at all.

I am able to reproduce the problem with Allowed File Extensions and Update Security Settings, though. It seems like if you update both, the 2nd update wil

[2022-11-22 00:11] stnguyen90 commented on #4747
In the previous Console, adding blank values broke the UI so looks like we traded one problem for another 😅 I'll let the team know about this one

[2022-11-22 00:13] stnguyen90 commented on #4747
We currently show an empty input for arrays like:

<img width="815" alt="image" src="https://user-images.githubusercontent.com/1477010/203183503-b9f70ac8-47b3-4aaf-8b08-2e79079e916c.png">

We should probably do something like Permissions:

<img width="1206" alt="image" src="https://user-images.githubusercontent.com/1477010/203183611-5a582050-8eac-42cd-ade2-8b95f357335e.png">

where we don't show a

[2022-11-22 00:30] stnguyen90 commented on #3994
@pomarec, assigned! Thanks for your interest! 🙏🏼

[2022-11-22 01:44] 729902288 commented on #3258
**For JWT doesn't refresh**, It's too troublesome in SSR with remix.run, next.js, nuxt.js.

[2022-11-22 07:50] Aragur opened #4749 "🐛 Bug Report: Custom OAuth fields are missing in 1.1.1 UI"
### 👟 Reproduction steps

Go to "Auth" - "Settings" and try to set up Authentik as a OAuth provider.
It isn't possible as the authentik Base Domain field is missing.

### 👍 Expected behavior

<img width="626" alt="Screenshot 2022-11-22 at 08 39 38" src="https://user-images.githubusercontent.com/11004008/203255849-791bf8a7-d49a-42d0-8f0b-badd6db9e3f8.png">

### 👎 Actual Behavior

<img width="620" a

[2022-11-22 08:37] troyanskiy commented on #4746
@stnguyen90 Thank you for your resposnse.
I will try to make a PR with the fix and post a link to the PR here.

[2022-11-22 08:52] #4732 closed

[2022-11-22 08:56] #4743 closed

[2022-11-22 08:57] #4721 closed

[2022-11-22 10:05] troyanskiy commented on #4746
@stnguyen90 The PR has been created.
I never worked with Svelte, but I have huge experience with Angular, Flutter.
Hope I did the fix right.

[2022-11-22 12:25] jatinmark commented on #4721
Ok

[2022-11-22 13:25] NimishKashyap opened #4750 "🚀 Feature: Go language support for SDK"
### 🔖 Feature description

Currently, SDK support for Golang is missing. I'm not sure if it is currently in development, but it is not available in the docs.

### 🎤 Pitch

Go is one of the best server-side languages for building microservice applications and writing servers. With the support of Appwrite, Golang's service creation will become much more streamlined.

### 👀 Have you spent some time t

[2022-11-22 14:21] stnguyen90 commented on #4750
Thanks for opening this issue! 🙏 This looks like a duplicate of https://github.com/appwrite/sdk-generator/issues/8. If so, would you please 👍 that issue and close this issue?

[2022-11-22 14:22] stnguyen90 commented on #4749
Thanks for raising this issue! 🙏 We'll look into this!

[2022-11-22 14:22] Shiba-Kar opened #4751 "🐛 Bug Report: Missing Usage"
### 👟 Reproduction steps

Followed https://appwrite.io/docs/upgrade to migrate from 1.0.0 ---> 1.1.1

### 👍 Expected behavior

No errors

### 👎 Actual Behavior

[code]

### 🎲 Appwrite version

Version 1.1.x

### 💻 Operating system

Linux

### 🧱 Your Environment

_No response_

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar iss

[2022-11-22 14:26] Shiba-Kar commented on #4714
Facing the same issue in Flutter

[2022-11-22 14:38] NimishKashyap commented on #4750
Okay thanks!

[2022-11-22 14:38] #4750 closed

[2022-11-22 14:53] TorstenDittmann commented on #4746
This actually looks more like a Backend issue to me. Because it is the backend resetting the values 🤔

It is falling back to the default value, instead of taking the one from the existing Bucket.

[2022-11-22 15:58] troyanskiy commented on #4746
@TorstenDittmann Hmmm.... Not sure about that.
On update values front end calls the backend with PUT request, which suppose to send full DTO (not partial).
In current case to update partially need to do PATCH request.

[2022-11-22 17:09] gepd opened #4753 "🐛 Bug Report: redirect to the failure url instead of throwing an error in OAuth2"
### 👟 Reproduction steps

1. Login with any OAuth2 Provider
2. Block the user in the console
3. Login with the OAuth2 provider again

### 👍 Expected behavior

I would expect to be redirected to the failure url. I have some doubt about if the failure url should have any extra information as for example, we have `USER_BLOCKED`, `USER_MISSING_ID`, `GENERAL_SERVER_ERROR` and many other errors, and go

[2022-11-22 17:16] stnguyen90 commented on #4753
@gepd, thanks for raising this issue! 🙏🏼 Let me discuss this with the team

[2022-11-22 19:30] sampathkumar7 commented on #4714
I'm facing same issue

[2022-11-22 22:10] Dropmipol opened #4759 "All in 1"

[2022-11-22 23:48] codercatdev opened #4760 "🐛 Bug Report: locale api showing Unknown for continent on response"
### 👟 Reproduction steps

GET using endpoint /locale

### 👍 Expected behavior

Example if a US IP, it should return North America.

### 👎 Actual Behavior

US address used, `Unknown` is returned

### 🎲 Appwrite version

Version 1.1.x

### 💻 Operating system

MacOS

### 🧱 Your Environment

_No response_

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked a

[2022-11-23 00:01] AlimFreight opened #4762 "🐛 Bug Report: Index creation. All previews values changed to the value of the last attribute which was added"
### 👟 Reproduction steps

When creating this index I encountered a strange behaviour of the new console. When I added the second attribute, the value of the first one changed to the value of the second one, and when I created the third one, both the first and the second one changed their names to the third one and so on.
![image](https://user-images.githubusercontent.com/54543689/203445038-2820926

[2022-11-23 00:15] stnguyen90 commented on #4762
@AlimFreight, thanks for creating this issue! 🙏🏼 We'll look into this soon!

[2022-11-23 00:22] #4759 closed

[2022-11-23 01:43] stnguyen90 commented on #3321
https://github.com/appwrite/appwrite/pull/4704 has updated the migrate script to no longer flush all of redis: https://github.com/appwrite/appwrite/pull/4704/files#diff-a112f48e271868e93847561a2ef11f1ec93a6f2dbae4c6dd326c7e3620a4540d

[2022-11-23 01:43] #3321 closed

[2022-11-23 01:58] SachinSinghYadav commented on #4271
Hi I would like work on this issue , Can you please assign to me ?

[2022-11-23 06:35] #4347 closed

[2022-11-23 06:47] sampathkumar7 commented on #4714
anyway i can change that url manually, i'm using digitalocean onclick droplet

[2022-11-23 08:52] rukundob451 commented on #4493
@stnguyen90 how far with the people working on the issue?

[2022-11-23 10:10] ddenev opened #4767 "🚀 Feature: Don't skip function deployment when selecting not to overwrite variables"
### 🔖 Feature description

When I deploy a function that have variables configured in `appwrite.json`, the `appwrite deploy function` cli asks me to confirm if I want to overwrite the variables:
![image](https://user-images.githubusercontent.com/1393766/203519687-d9dfafab-e59f-4bd8-9a9d-7140362c2145.png)
I would like that when I choose not to overwrite the variables, i.e. I do not type "YES" (I ju

[2022-11-23 10:58] ddenev opened #4768 "🐛 Bug Report: Console - Databases - Impossible to set NULL as value for attribute"
### 👟 Reproduction steps

1. Create a collection with 2 attributes:
1.1. a boolean and
1.2. a string that is NOT required and does not have a default value
3. Appwrite creates the string attribute with NULL as default, e.g. this is how a `notes` attribute is created in the `_1_attributes` table by Appwrite (refer to the `default` column):
[code]
and this is how the related collection table is crea

[2022-11-23 13:12] KhaleelSH commented on #2611
Any news here?

[2022-11-23 14:15] bliyscom opened #4769 "🐛 Bug Report: Unable to deploy cloud function"
### 👟 Reproduction steps

I am new to functions. I have created a dart function which is visible in the console. However all deployments fail.
I am not sure where i should create the function files, in the cloud server or on my local development machine.
I have done both but i get a similar error.
I have looked at similar issues on here but the error messages are different.
Please assist me.

###

[2022-11-23 16:00] bliyscom commented on #4769
Thanks

[2022-11-23 16:00] #4769 closed

[2022-11-23 16:14] leohxj commented on #1928
does this supported in web app? how to prevent other request not from my own domain?

[2022-11-23 16:32] TafadzwaD commented on #1928
@leohxj Yes it is supported in Web App as well. In the console when you add a web platform you specify an IP address or the domain of your web app. Therefore, only the white-listed web application will be able to access your endpoint. Appwrite has you covered!! https://appwrite.io/docs/getting-started-for-web#addPlatform

[2022-11-23 17:35] #4762 closed

[2022-11-23 17:46] AlimFreight commented on #4762
I just want to mention one thought that I had about the creation of the index in general. I think it is not very convenient that we cannot edit the already created index.

[2022-11-23 17:53] #4760 closed

[2022-11-23 18:21] mbos2 opened #4772 "🚀 Feature: Team permission for the whole database"
### 🔖 Feature description

Regarding permissions for collections and documents.

Currently, in the appwrite console, when we create a collection, we have to assign a team(s) or user(s) to update permissions for it, and also set what kind of permissions they need for that collection.

Since you implemented a support for multiple databases, there could be an option to assign permissions for a team o

[2022-11-23 18:34] InfiniteVerma commented on #4529
I'd like to work on this .

[2022-11-23 19:22] stnguyen90 commented on #4493
@PriyanshuAhlawat how's your progress on this?

[2022-11-24 04:13] kunduarnab opened #4774 "🐛 Bug Report: Invalid Origin. Register your new client (com.example.appwritetest) as a new Android platform on your project console dashboard"
### 👟 Reproduction steps

Code snippet -
[code]

Error Output - Invalid Origin. Register your new client (com.example.appwritetest) as a new Android platform on your project console dashboard

Note: same code snippet works on older versions of appwrite

### 👍 Expected behavior

It should create an user

### 👎 Actual Behavior

Throws an error

### 🎲 Appwrite version

Version 1.1.x

### 💻 Operating

[2022-11-24 05:18] stnguyen90 commented on #4774
@kunduarnab please double check to make sure you have the correct project id. In addition have you added your platform as described here: https://appwrite.io/docs/getting-started-for-android#addProject?

[2022-11-24 10:00] kunduarnab commented on #4774
@stnguyen90 Yes I double checked, added platform. Same code works for me in previous versions but now its not.

[2022-11-24 14:46] rukundob451 commented on #4493
Alright, will be waiting in on the update.

[2022-11-24 16:11] InfiniteVerma opened #4778 "🐛 Bug Report: Create deployment from CLI fails due to extra spacing"
### 👟 Reproduction steps

When deploying a function by copying UNIX code in cmd, the command copied has extra spaces after ```\``` which fails in terminal.

![image](https://user-images.githubusercontent.com/45547198/203827521-c20edda4-1d74-4a18-8215-aa7e6bce862a.png)

### 👍 Expected behavior

Note: After removing spaces:

![image](https://user-images.githubusercontent.com/45547198/203827989-d2b10

[2022-11-24 19:05] stnguyen90 commented on #4774
@kunduarnab hmm, you're right. I think there might be something wrong with the Console for the Android platform. As a workaround, can you try adding a flutter android platform?

[2022-11-24 19:06] stnguyen90 commented on #4774
I think the problem is the console is looking at the wrong property:

https://github.com/appwrite/console/blob/55a6508d2b261faee8400f20a1647d2b3acc998f/src/routes/console/project-%5Bproject%5D/overview/platforms/%5Bplatform%5D/android.svelte#L16

[2022-11-24 20:44] ronw98 opened #4779 "🐛 Bug Report: CERTIFICATE_VERIFY_FAILED on Android 7.0 (Flutter)"
### 👟 Reproduction steps

I have a server with a custom domain setup. When I make any api call from a flutter app on Android 7.0 I get an CERTIFICATE_VERIFY_FAILED error. Everything works fine on higher Android versions and other platforms (web, iOS, macOS)

### 👍 Expected behavior

It should make the API call with the appropriate response

### 👎 Actual Behavior

I throws the following error
`Hand

[2022-11-25 05:00] lohanidamodar commented on #4608
@AhmedHammad0900 can you share the code you are using to upload file?

[2022-11-25 05:50] lohanidamodar commented on #4608
@AhmedHammad0900 can you test from this branch?
https://github.com/appwrite/sdk-for-flutter/tree/fix-flutter-web-chunked-upload

[2022-11-25 06:29] netapy commented on #4714
Hi, I believe the PR for this issue has been accepted (https://github.com/appwrite/appwrite/pull/4725).
Has it been pushed to the latest docker tag yet ? This seems to be the only issue still open for 1.1.2.

[2022-11-25 06:48] kunduarnab commented on #4774
@stnguyen90 ok let me try .. I'll let you know if it works

[2022-11-25 09:20] pomarec opened #4782 "🐛 Bug Report: Wrong reference to project var in french translation"
### 👟 Reproduction steps

Send an email recovery in french

### 👍 Expected behavior

Body should contain :

Suivez ce lien pour réinitialiser votre mot de passe pour le-nom-de-mon-projet.

### 👎 Actual Behavior

Body should contain :

Suivez ce lien pour réinitialiser votre mot de passe pour .

### 🎲 Appwrite version

Version 1.1.x

### 💻 Operating system

Linux

### 🧱 Your Environment

Simple sel

[2022-11-25 10:03] #4742 closed

[2022-11-25 10:09] bliyscom opened #4784 "🐛 Bug Report: dart function does not execute and says time out when i try to sign a message"
### 👟 Reproduction steps

I am trying to execute an RSA signature in dart, the code runs fine without the signing method but once include the method, the cloud function does not execute and displays the following error in the log:
An internal curl error has occurred within the executor! Error Msg: Operation timed out

please help!

### 👍 Expected behavior

function should run

### 👎 Actual Behavio

[2022-11-25 10:14] bliyscom commented on #4784
f9a720ecd71c   openruntimes/dart:v2-2.17   "/usr/local/src/star…"   9 minutes ago   Up 9 minutes   3000/tcp                                                                         63584fc0f06347a5aa81-6380929d5940954b9cc3
001345c50151   appwrite/appwrite:1.0.3     "worker-functions"       44 hours ago    Up 44 hours    80/tcp

[2022-11-25 14:34] randomloops opened #4785 "🐛 Bug Report: Cannot copy project ID"
### 👟 Reproduction steps

create a new project on a new appwrite instance and try to copy project id

### 👍 Expected behavior

copy project id

### 👎 Actual Behavior

returns error
![image](https://user-images.githubusercontent.com/41739275/204006512-b972dff2-59c9-4f29-a144-8be562954a51.png)

### 🎲 Appwrite version

Version 1.1.x

### 💻 Operating system

Linux

### 🧱 Your Environment

_No response

[2022-11-25 15:53] Faizan711 commented on #4482
Is this issue still unassigned, if so i would like to be assigned for it.

[2022-11-25 16:44] CordMemescape opened #4786 "🐛 Bug Report: API Keys Update Expiration Date - Incorrect description"
### 👟 Reproduction steps

1. Select an Appwrite project
2. Click Settings and then View API Keys
3. Click on an API key or create a new one
4. Scroll down to Update Expiration Date

### 👍 Expected behavior

The description of **Update Expiration Date** should reflect a description of the field

### 👎 Actual Behavior

The description of **Update Expiration Date** has the same description as **Updat

[2022-11-25 17:27] stnguyen90 commented on #4786
Thanks for catching this! The text should read:

[2022-11-25 17:45] stnguyen90 opened #4787 "🐛 Bug Report: Incorrect Origin Created for Non-Web via Wizard"
### 👟 Reproduction steps

1. Open Appwrite Console
2. Open a Project
3. Scroll down to Integrations > Platforms
4. Click "+ Add platform"
5. Click "Flutter App" (Problem also exists for any non-web platform)
6. Select any platform other than "Web"
7. Fill out "Name" and "Package Name"
8. Click Next

### 👍 Expected behavior

A platform with `key` is created

### 👎 Actual Behavior

A platform with `

[2022-11-25 19:50] ritiksaxena124 commented on #4786
Hey, can I work on this issue?

[2022-11-26 02:58] merabtenei opened #4790 "🐛 Bug Report: v1.1.0 appwrite-realtime using all CPU for no reason on a fresh install on debian"
### 👟 Reproduction steps

Installed docker and Appwrite on a fresh VPS instance with 2vCPU and 4GB of RAM.

### 👍 Expected behavior

Minimal CPU  usage

### 👎 Actual Behavior

appwrite-realtime stays at more than 80% CPU usage for an unlimited period of time.
Edit: I reproduced the same scenario two times, but it seems this happens only on the first docker compose up. After doing a docker compose

[2022-11-26 04:54] bazrafkan opened #4791 "🚀 Feature: Implement App Attest or DeviceCheck for iOS"
### 🔖 Feature description

Implement App Attest or DeviceCheck on iOS SDK and backend to protect server.

Establishing your app’s integrity and ensure that requests from server receives come from legitimate instances of your app.

### 🎤 Pitch

With implement App Attest or DeviceCheck on iOS SDK and backend to protect server that uses Apple servers to certify that the key belongs to a valid instanc

[2022-11-26 06:37] stnguyen90 commented on #4786
@ritiksaxena124, assigned! Thanks for your interest! 🙏

[2022-11-26 06:39] stnguyen90 commented on #4482
@Faizan711, assigned! Thank you for your interest!

[2022-11-26 06:44] stnguyen90 commented on #4791
Thanks for raising this issue! 🙏 This sounds interesting! We'll keep this mind for our roadmap.

[2022-11-26 06:45] stnguyen90 commented on #4790
Thanks for raising this issue! 🙏 Was there a anything in the logs for the realtime container during this high CPU usage?

[2022-11-26 06:52] stnguyen90 commented on #4785
@randomloops would you please try to open the Appwrite Console using HTTPS?

[2022-11-26 07:00] stnguyen90 commented on #4784
@bliyscom this typically happens when the function throws an exception. Please make sure to:

1. add proper error handling so that your function does not throw an exception
2. always call at least `res.json()` or `res.send()` once before returning
3.

[2022-11-26 07:13] stnguyen90 commented on #4714
@netapy, yes, this should be resolved in 1.1.2.

[2022-11-26 07:13] #4714 closed

[2022-11-26 11:10] merabtenei commented on #4790
I think this can be closed. I might have some misconfiguration on the .env settings that caused that issue. Apologies for any inconvenience.

[2022-11-26 13:31] merabtenei opened #4794 "🚀 Feature: Separate Read and List permissions"
### 🔖 Feature description

Create a separate Permission for listing documents or files. Read will only allow a user to read a file if he knows and provides the ID of that resource.

### 🎤 Pitch

Let's take an example of a chat app like Facebook's messenger I want to be able to forward a file to other users and the user receiving the file can forward it to other users (like emails also). Adding a s

[2022-11-26 15:58] fjolne opened #4796 "🐛 Bug Report: Package name isn't saved when adding a new platform"
### 👟 Reproduction steps

Add a new Flutter Android platform via web console and enter correct package name.

### 👍 Expected behavior

`Package Name` should be displayed in `Update Package Name` block and API requests from given Android origin should authenticate.

### 👎 Actual Behavior

On just created platform page, the package name field in `Update Package Name` block is empty, but the correct

[2022-11-26 16:15] stnguyen90 commented on #3336
Closing due to inactivity

[2022-11-26 16:15] #3336 closed

[2022-11-26 16:17] stnguyen90 commented on #4796
@fjolne is this a duplicate of https://github.com/appwrite/appwrite/issues/4787? If so can this be closed and you can 👍 the other issue?

[2022-11-26 16:20] #4790 closed

[2022-11-26 16:23] stnguyen90 commented on #4751
@Shiba-Kar did you run the migrate command after upgrading?

[2022-11-26 16:24] stnguyen90 commented on #4698
@theMeysam, have you have a chance to restore and try the upgrade again?

[2022-11-26 16:26] stnguyen90 commented on #4676
@sanderkollerie have you had a chance to check the environment variables I mentioned? Please note, I will need to close this soon if there is no activity.

[2022-11-26 16:28] stnguyen90 commented on #4600
@scshiv29-dev are you still having problems or can this be closed?

[2022-11-26 16:51] scshiv29-dev commented on #4600
Will try tomorrow and let you know, didn't use appwrite for that project shifted to supabase.

[2022-11-26 17:28] fjolne commented on #4796
@stnguyen90 right, sorry for missing that issue!

[2022-11-26 17:28] #4796 closed

[2022-11-26 18:13] SingHar commented on #1084
Hi,

It would be great if we can use our own SSL certificates.

A decent use case is when using Cloudflare provided SSL certificates.

[2022-11-27 00:04] AlexMeesters opened #4797 "🐛 Bug Report: Verified user can still receive email verifications"
### 👟 Reproduction steps

Send a [verification post request](https://appwrite.io/docs/client/account?sdk=web-default#accountCreateVerification ) with a user session that has a verified email.

### 👍 Expected behavior

I expect the service to give a 200 response, and not send any emails. Indicating that verification is already done.
Although the front-end could hide this from the user, its best to

[2022-11-27 08:20] kunduarnab commented on #4774
@stnguyen90 is there any solution for this problem?... Add flutter platform also not wokring

[2022-11-27 10:11] Nerotool commented on #3956
Send a message to Nerotool_ on instagram for your hacking service.

[2022-11-27 11:34] 7216 commented on #4774
As a workaround adding a web platform with the hostname of "*" seems to fix it?

[2022-11-27 19:53] stnguyen90 commented on #4774
When you update the flutter platform, do you see the value? If not, set it and update it.

[2022-11-27 20:57] nadavl opened #4799 "🐛 Bug Report: Endless spinner on auth page"
### 👟 Reproduction steps

Install Appwrite `1.1.1` on a Digital Ocean machine which was installed with `1.0.3` before:

[code]
(then remove docker-compose.yml)

[code]

### 👍 Expected behavior

I'll get a fresh installation of appwrite.

### 👎 Actual Behavior

Endless spinner on auth page.

![image](https://user-images.githubusercontent.com/5332234/204159237-7b1ee5a9-f760-4aa7-9190-056119fd711c.pn

[2022-11-28 05:40] salmantec commented on #4727
Hi @stnguyen90 , I could see two PRs for this one issue. Please check and verify it

[PR-1](https://github.com/appwrite/appwrite/pull/4506) from @karniv00l
[PR-2](https://github.com/appwrite/appwrite/pull/4733) from  @AnvaySingh

[2022-11-28 05:45] kunduarnab commented on #4774
adding web platform "*" did the trick for me

[2022-11-28 10:19] pomarec commented on #3994
I've spend some time looking into it but can't make it work.
I'm not familiar enough with PHP and Curl.
My understanding is that changing only the url endpoint (see @eigengravy https://github.com/utopia-php/storage/pull/64) does not workout. Google returns an http 400 error.

I leave the assignement as I wont be able to make it work.

[2022-11-28 17:31] Shiba-Kar commented on #4751
yes

[2022-11-29 05:14] stephane2018 opened #4801 "Get all documents in collection one time"
I have another question, I wanted to know if it is possible to get all the documents of a collection. I have searched in the doc for a way to do this but I can't find it. Apparently you can only retrieve data by applying a limit and the default is 25 I think. But I want to retrieve the whole collection at once.

_Originally posted by @stephane2018 in https://github.com/appwrite/appwrite/discussion

[2022-11-29 07:45] netapy commented on #4801
It is not possible yet.
The only way is to loop through the database with the query `Query.limit(100)` and stop when the query result length == 0.

[2022-11-29 13:35] silberGuy opened #4802 "🚀 Feature: Allow document general attributes on update"
### 🔖 Feature description

When updating a document from my web app, sometimes we update the document object itself and pass it whole to the update function.
This procedure (which worked before updating from 0.14 to 1.1) now throws the following:
[code]

I think that in case that the user of the update function is not trying to change this property, the backend can ignore it.

### 🎤 Pitch

I guess

[2022-11-29 16:09] GrantSavill opened #4803 "🐛 Bug Report: Register Flutter Web"
### 👟 Reproduction steps

When I try to add a platform for Flutter Web on a fresh install, on DigitalOcean

### 👍 Expected behavior

It should add Flutter Web as a platform

### 👎 Actual Behavior

It actually pops up with an error saying invalid type

![image](https://user-images.githubusercontent.com/20668755/204581865-6f55bb31-a66d-4f34-a2b0-29dd57097f2b.png)

### 🎲 Appwrite version

Version 1.1

[2022-11-30 07:27] MeWasif commented on #4803
hey gyz can any one plz help  me out. can I upload  DL image segmentation model deplibversion3plus  on this domain . i want to use this model in flutter mobile application, this model is in .h5 format.

[2022-11-30 08:01] idoRosen25 opened #4804 "🐛 Bug Report: Cannot obtain access token with Google provider after successful login"
### 👟 Reproduction steps

When i try to use a OAuth2 login with `google` im getting some error on the redirect after successful login to google that the access token cannot be obtained.

### 👍 Expected behavior

it should redirect me to the success URL provided in the `createOAuth2Session` function

### 👎 Actual Behavior

it shows error on the redirect saying the access token could not be obtained

[2022-11-30 08:21] ritiksaxena124 commented on #4786
Made a PR: #4793 to this issue

[2022-11-30 12:16] rares45 opened #4805 "🚀 Feature: Extend the user class"
### 🔖 Feature description

In the Auth tab, you could select a collection in a database that extends the user. So when you create a user by
[code]
Appwrite also creates a document in that collection. When deleting the user it would also delete the document and so on.
The new create API would look something like this:
[code]

Something similar could be done with the user preferences.

### 🎤 Pitch

[2022-11-30 16:16] netapy opened #4806 "🐛 Bug Report: Apple sign in doesn't work"
### 👟 Reproduction steps

When I set up Apple Sign In following this Appwrite tutorial ([https://dev.to/appwrite/apple-sign-in-with-appwrite-2576](url)), and I try to log in with Apple with a flutter client on both web and iOS, using :
[code]

I am redirected to an apple sign-in page showing the following error :
<img width="500" alt="image" src="https://user-images.githubusercontent.com/39877685/

[2022-11-30 16:20] netapy commented on #4751
Same issue here. Occurs even after the migrate command.

[2022-11-30 17:30] arsh-anwr commented on #4778
Hey @stnguyen90 can i work on this issue ?

[2022-11-30 17:39] arsh-anwr commented on #4457
@stnguyen90 can i work on this issue ?

[2022-11-30 17:47] TakshPanchal commented on #4778
Hey, May I work on this issues?