[2022-10-02 22:18] stnguyen90 commented on #3989
@plumsirawit, yes, you are correct

[2022-10-02 22:20] stnguyen90 commented on #3989
Also seems like a duplicate of https://github.com/utopia-php/storage/issues/37

[2022-10-02 22:28] piopi commented on #3971
@christyjacob4 I would like to take this issue please

[2022-10-02 22:28] sudiptog81 commented on #4014
Yeah, please assign this to me :)

[2022-10-02 22:43] r-dev-limited opened #4054 "Reference Private Package in Functions"
How to reference private packages in functions. This is generic question, even though I am interested in dart packages, I think this issue is related to all runtimes.

As I dont see way of passing credentials (SSH) or install custom plugins and pass ENV variables to function containers.
Even if I update docker-compose for appwrite itself, it does not affect functions.

As those spins their own con

[2022-10-02 23:04] plumsirawit commented on #3982
I'm not so sure about my ability to do this, but can I try to work on this?

[2022-10-02 23:37] stnguyen90 commented on #4054
@r-dev-limited whats the difference between this issue and https://github.com/appwrite/appwrite/issues/3207? Can this be closed and you can 👍 the previous issue?

[2022-10-02 23:38] stnguyen90 commented on #3982
@plumsirawit, you got this! We can always unassign you if you're unable to complete this.

[2022-10-02 23:39] stnguyen90 commented on #4014
@sudiptog81, assigned! Good luck!

[2022-10-02 23:40] stnguyen90 commented on #3971
@piopi, thanks for your interest! 🙏 Happy hacking!

[2022-10-03 00:07] rumbis commented on #743
i have that issue  by proxying with apache 2.4

[2022-10-03 01:32] SuperMohit commented on #3979
@christyjacob4 can you please assign this to me?

[2022-10-03 01:33] rumbis commented on #743
I just found the solution for proxying correctly  from Apache2.4  you can find it [here](https://github.com/appwrite/appwrite/discussions/4056)

[2022-10-03 05:22] stnguyen90 commented on #3981
@TheOjasSingh, thanks for your interest! 🙏 Happy hacking!

[2022-10-03 05:32] Jyoti050402 commented on #4026
I would like to work on this issue.

[2022-10-03 05:57] Meldiron commented on #4020
@NightHack36 thanks for your interest! 🙏 Happy hacking!

[2022-10-03 06:21] doublevcodes commented on #3352
So as I understood at it, I need to create 2 PRs? One to utopia-php/storage and one to this repo

[2022-10-03 06:51] heysagnik commented on #4033
I would like to work on this.
@christyjacob4 , Please 🥺

[2022-10-03 07:00] AyushChamoli961 commented on #4015
can you assign this to me?

[2022-10-03 08:31] myThorsten opened #4059 "🐛 Bug Report: Please help me debugging why realtime is not triggering"
### 👟 Reproduction steps

I am building a Flutter-app. User authentication is working fine. However, realtime-subscription is not. As far as I can tell I have set up my project according to the docs.

Here is the realtime:
![image](https://user-images.githubusercontent.com/9773490/193529438-2b957bfe-1cd8-44b7-8cba-eb65d34a475e.png)
which is not triggering on any of these channels in my tests. I mo

[2022-10-03 09:17] TheOjasSingh commented on #3981
where should I find the other adapters in the repo for an example.

[2022-10-03 09:28] christyjacob4 commented on #3963
@kimbengfaith I've assigned the issue to you! All the best

[2022-10-03 09:31] christyjacob4 commented on #3963
@Sneha421 , we're assigning people on a first come first serve basis. If @kimbengfaith  isn't able to complete this issue, well reassign accordingly. In the meantime, you can find another hacktoberfest issue via our [website](https://hacktoberfest.appwrite.io/).

[2022-10-03 09:55] PineappleIOnic opened #4060 "⚡ Write a wipeAppwriteBucket() Function using Dart"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 09:55] PineappleIOnic opened #4061 "⚡ Write a wipeAppwriteBucket() Function using Dart"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 09:55] PineappleIOnic opened #4062 "⚡ Write a wipeAppwriteBucket() Function using Deno"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 09:55] PineappleIOnic opened #4063 "⚡ Write a wipeAppwriteCollection() Function using Dart"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 09:55] PineappleIOnic opened #4064 "⚡ Write a getPrice() Function using Dart"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 09:55] PineappleIOnic opened #4065 "⚡ Write a getPrice() Function using Deno"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 09:55] PineappleIOnic opened #4066 "⚡ Write a getPrice() Function using Node"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 09:55] PineappleIOnic opened #4067 "⚡ Write a getPrice() Function using PHP"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 09:55] PineappleIOnic opened #4068 "⚡ Write a getPrice() Function using Python"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 09:55] PineappleIOnic opened #4069 "⚡ Write a getPrice() Function using Ruby"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 09:55] PineappleIOnic opened #4070 "⚡ Write a getPrice() Function using Swift"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 09:55] PineappleIOnic opened #4071 "⚡ Write a getPrice() Function using Java"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 09:55] PineappleIOnic opened #4072 "⚡ Write a getPrice() Function using Kotlin"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:01] PineappleIOnic opened #4074 "⚡ Write a wipeAppwriteBucket() Function using Dart"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:01] PineappleIOnic opened #4075 "⚡ Write a wipeAppwriteBucket() Function using Deno"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:01] PineappleIOnic opened #4076 "⚡ Write a wipeAppwriteCollection() Function using Dart"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:01] PineappleIOnic opened #4077 "⚡ Write a getPrice() Function using Dart"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:01] PineappleIOnic opened #4078 "⚡ Write a getPrice() Function using Deno"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:01] PineappleIOnic opened #4079 "⚡ Write a getPrice() Function using Node"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:01] PineappleIOnic opened #4080 "⚡ Write a getPrice() Function using PHP"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:01] PineappleIOnic opened #4081 "⚡ Write a getPrice() Function using Python"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:02] PineappleIOnic opened #4082 "⚡ Write a getPrice() Function using Ruby"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:02] PineappleIOnic opened #4083 "⚡ Write a getPrice() Function using Swift"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:02] PineappleIOnic opened #4084 "⚡ Write a getPrice() Function using Java"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:02] PineappleIOnic opened #4085 "⚡ Write a getPrice() Function using Kotlin"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:02] PineappleIOnic opened #4086 "⚡ Write a getPrice() Function using .NET"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:02] PineappleIOnic opened #4087 "⚡ Write a wipeAppwriteCollection() Function using Deno"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:02] PineappleIOnic opened #4088 "⚡ Write a generateInvoice() Function using Dart"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:02] PineappleIOnic opened #4089 "⚡ Write a generateInvoice() Function using Deno"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:02] PineappleIOnic opened #4090 "⚡ Write a generateInvoice() Function using Node"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:02] PineappleIOnic opened #4091 "⚡ Write a generateInvoice() Function using PHP"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:02] PineappleIOnic opened #4092 "⚡ Write a generateInvoice() Function using Python"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:02] PineappleIOnic opened #4093 "⚡ Write a generateInvoice() Function using Ruby"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:02] PineappleIOnic opened #4094 "⚡ Write a generateInvoice() Function using Swift"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:02] PineappleIOnic opened #4095 "⚡ Write a generateInvoice() Function using Java"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:02] PineappleIOnic opened #4096 "⚡ Write a generateInvoice() Function using Kotlin"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:02] PineappleIOnic opened #4097 "⚡ Write a generateInvoice() Function using .NET"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:02] PineappleIOnic opened #4098 "⚡ Write a wipeAppwriteCollection() Function using Node"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:02] PineappleIOnic opened #4099 "⚡ Write a wipeAppwriteCollection() Function using PHP"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:02] PineappleIOnic opened #4100 "⚡ Write a wipeAppwriteCollection() Function using Python"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:03] PineappleIOnic opened #4101 "⚡ Write a wipeAppwriteCollection() Function using Ruby"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:03] PineappleIOnic opened #4102 "⚡ Write a wipeAppwriteCollection() Function using Swift"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:03] PineappleIOnic opened #4103 "⚡ Write a wipeAppwriteCollection() Function using Java"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:03] PineappleIOnic opened #4104 "⚡ Write a wipeAppwriteCollection() Function using Kotlin"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:03] PineappleIOnic opened #4105 "⚡ Write a wipeAppwriteCollection() Function using .NET"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:03] PineappleIOnic opened #4106 "⚡ Write a wipeAppwriteBucket() Function using Node"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:03] PineappleIOnic opened #4107 "⚡ Write a generateWebsiteScreenshot() Function using Dart"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:03] PineappleIOnic opened #4108 "⚡ Write a generateWebsiteScreenshot() Function using Deno"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:03] PineappleIOnic opened #4109 "⚡ Write a generateWebsiteScreenshot() Function using Node"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:03] PineappleIOnic opened #4110 "⚡ Write a generateWebsiteScreenshot() Function using PHP"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:03] PineappleIOnic opened #4111 "⚡ Write a generateWebsiteScreenshot() Function using Python"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:03] PineappleIOnic opened #4112 "⚡ Write a generateWebsiteScreenshot() Function using Ruby"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:03] PineappleIOnic opened #4113 "⚡ Write a generateWebsiteScreenshot() Function using Swift"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:03] PineappleIOnic opened #4114 "⚡ Write a generateWebsiteScreenshot() Function using Java"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:03] PineappleIOnic opened #4115 "⚡ Write a generateWebsiteScreenshot() Function using Kotlin"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:03] PineappleIOnic opened #4116 "⚡ Write a generateWebsiteScreenshot() Function using .NET"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:03] PineappleIOnic opened #4117 "⚡ Write a wipeAppwriteBucket() Function using PHP"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:03] PineappleIOnic opened #4118 "⚡ Write a compressImage() Function using Dart"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:04] PineappleIOnic opened #4119 "⚡ Write a compressImage() Function using Deno"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:04] PineappleIOnic opened #4120 "⚡ Write a compressImage() Function using Node"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:04] PineappleIOnic opened #4121 "⚡ Write a compressImage() Function using PHP"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:04] PineappleIOnic opened #4122 "⚡ Write a compressImage() Function using Python"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:04] PineappleIOnic opened #4123 "⚡ Write a compressImage() Function using Ruby"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:04] PineappleIOnic opened #4124 "⚡ Write a compressImage() Function using Swift"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:04] PineappleIOnic opened #4125 "⚡ Write a compressImage() Function using Java"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:04] PineappleIOnic opened #4126 "⚡ Write a compressImage() Function using Kotlin"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:04] PineappleIOnic opened #4127 "⚡ Write a compressImage() Function using .NET"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:04] ShahzaibJutt commented on #4081
I want to work on it. Can you assign it to me.

[2022-10-03 10:04] PineappleIOnic opened #4128 "⚡ Write a wipeAppwriteBucket() Function using Python"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:04] PineappleIOnic opened #4129 "⚡ Write a generateMap() Function using Dart"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:04] PineappleIOnic opened #4130 "⚡ Write a generateMap() Function using Deno"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:04] PineappleIOnic opened #4131 "⚡ Write a generateMap() Function using Node"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:04] PineappleIOnic opened #4132 "⚡ Write a generateMap() Function using PHP"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:04] PineappleIOnic opened #4133 "⚡ Write a generateMap() Function using Python"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:04] PineappleIOnic opened #4134 "⚡ Write a generateMap() Function using Ruby"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:04] PineappleIOnic opened #4135 "⚡ Write a generateMap() Function using Swift"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:04] PineappleIOnic opened #4136 "⚡ Write a generateMap() Function using Java"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:05] PineappleIOnic opened #4137 "⚡ Write a generateMap() Function using Kotlin"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:05] PineappleIOnic opened #4138 "⚡ Write a generateMap() Function using .NET"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:05] PineappleIOnic opened #4139 "⚡ Write a wipeAppwriteBucket() Function using Ruby"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:05] PineappleIOnic opened #4140 "⚡ Write a translateText() Function using Dart"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:05] PineappleIOnic opened #4141 "⚡ Write a translateText() Function using Deno"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:05] PineappleIOnic opened #4142 "⚡ Write a translateText() Function using Node"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:05] PineappleIOnic opened #4143 "⚡ Write a translateText() Function using PHP"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:05] PineappleIOnic opened #4144 "⚡ Write a translateText() Function using Python"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:05] PineappleIOnic opened #4145 "⚡ Write a translateText() Function using Ruby"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:05] PineappleIOnic opened #4146 "⚡ Write a translateText() Function using Swift"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:05] PineappleIOnic opened #4147 "⚡ Write a translateText() Function using Java"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:05] PineappleIOnic opened #4148 "⚡ Write a translateText() Function using Kotlin"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:05] PineappleIOnic opened #4149 "⚡ Write a translateText() Function using .NET"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:05] PineappleIOnic opened #4150 "⚡ Write a wipeAppwriteBucket() Function using Swift"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:05] PineappleIOnic opened #4151 "⚡ Write a textToSpeech() Function using Dart"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:05] PineappleIOnic opened #4152 "⚡ Write a textToSpeech() Function using Deno"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:05] PineappleIOnic opened #4153 "⚡ Write a textToSpeech() Function using Node"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:05] PineappleIOnic opened #4154 "⚡ Write a textToSpeech() Function using PHP"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:05] PineappleIOnic opened #4155 "⚡ Write a textToSpeech() Function using Python"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:06] PineappleIOnic opened #4156 "⚡ Write a textToSpeech() Function using Ruby"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:06] PineappleIOnic opened #4157 "⚡ Write a textToSpeech() Function using Swift"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:06] PineappleIOnic opened #4158 "⚡ Write a textToSpeech() Function using Java"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:06] PineappleIOnic opened #4159 "⚡ Write a textToSpeech() Function using Kotlin"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:06] PineappleIOnic opened #4160 "⚡ Write a textToSpeech() Function using .NET"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:06] PineappleIOnic opened #4161 "⚡ Write a wipeAppwriteBucket() Function using Java"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:06] PineappleIOnic opened #4162 "⚡ Write a speechToText() Function using Dart"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:06] PineappleIOnic opened #4163 "⚡ Write a speechToText() Function using Deno"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:06] PineappleIOnic opened #4164 "⚡ Write a speechToText() Function using Node"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:06] PineappleIOnic opened #4165 "⚡ Write a speechToText() Function using PHP"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:06] PineappleIOnic opened #4166 "⚡ Write a speechToText() Function using Python"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:06] PineappleIOnic opened #4167 "⚡ Write a speechToText() Function using Ruby"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:06] PineappleIOnic opened #4168 "⚡ Write a speechToText() Function using Swift"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:06] PineappleIOnic opened #4169 "⚡ Write a speechToText() Function using Java"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:06] PineappleIOnic opened #4170 "⚡ Write a speechToText() Function using Kotlin"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:06] PineappleIOnic opened #4171 "⚡ Write a speechToText() Function using .NET"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:06] PineappleIOnic opened #4172 "⚡ Write a wipeAppwriteBucket() Function using Kotlin"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:06] PineappleIOnic opened #4173 "⚡ Write a sendHTTPRequest() Function using Dart"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:07] PineappleIOnic opened #4174 "⚡ Write a sendHTTPRequest() Function using Deno"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:07] PineappleIOnic opened #4175 "⚡ Write a sendHTTPRequest() Function using Node"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:07] PineappleIOnic opened #4176 "⚡ Write a sendHTTPRequest() Function using PHP"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:07] PineappleIOnic opened #4177 "⚡ Write a sendHTTPRequest() Function using Python"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:07] PineappleIOnic opened #4178 "⚡ Write a sendHTTPRequest() Function using Ruby"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:07] PineappleIOnic opened #4179 "⚡ Write a sendHTTPRequest() Function using Swift"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:07] PineappleIOnic opened #4180 "⚡ Write a sendHTTPRequest() Function using Java"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:07] PineappleIOnic opened #4181 "⚡ Write a sendHTTPRequest() Function using Kotlin"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:07] PineappleIOnic opened #4182 "⚡ Write a sendHTTPRequest() Function using .NET"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:07] PineappleIOnic opened #4183 "⚡ Write a wipeAppwriteBucket() Function using .NET"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:07] PineappleIOnic opened #4184 "⚡ Write a generateShortUrl() Function using Dart"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:07] PineappleIOnic opened #4185 "⚡ Write a generateShortUrl() Function using Deno"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:07] PineappleIOnic opened #4186 "⚡ Write a generateShortUrl() Function using Node"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:07] PineappleIOnic opened #4187 "⚡ Write a generateShortUrl() Function using PHP"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:07] PineappleIOnic opened #4188 "⚡ Write a generateShortUrl() Function using Python"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:07] PineappleIOnic opened #4189 "⚡ Write a generateShortUrl() Function using Ruby"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:07] PineappleIOnic opened #4190 "⚡ Write a generateShortUrl() Function using Swift"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:07] PineappleIOnic opened #4191 "⚡ Write a generateShortUrl() Function using Java"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:07] PineappleIOnic opened #4192 "⚡ Write a generateShortUrl() Function using Kotlin"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:08] PineappleIOnic opened #4193 "⚡ Write a generateShortUrl() Function using .NET"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-03 10:08] PineappleIOnic opened #4194 "✍️ Write Article About Importing Netlify Users to Appwrite"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

We understand code contributions might not be your cup of tea, so we decided to prepare a series of blog posts related issues. This series of issues is here to let your writing skills shine,

[2022-10-03 10:08] PineappleIOnic opened #4195 "✍️ Write Article About Importing Vercel Users to Appwrite"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

We understand code contributions might not be your cup of tea, so we decided to prepare a series of blog posts related issues. This series of issues is here to let your writing skills shine,

[2022-10-03 10:08] PineappleIOnic opened #4196 "✍️ Write Article About Importing Drupal Users to Appwrite"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

We understand code contributions might not be your cup of tea, so we decided to prepare a series of blog posts related issues. This series of issues is here to let your writing skills shine,

[2022-10-03 10:08] PineappleIOnic opened #4197 "✍️ Write Article About Importing Shopify Users to Appwrite"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

We understand code contributions might not be your cup of tea, so we decided to prepare a series of blog posts related issues. This series of issues is here to let your writing skills shine,

[2022-10-03 10:08] PineappleIOnic opened #4198 "✍️ Write Article About Importing Directus Users to Appwrite"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

We understand code contributions might not be your cup of tea, so we decided to prepare a series of blog posts related issues. This series of issues is here to let your writing skills shine,

[2022-10-03 10:08] PineappleIOnic opened #4199 "✍️ Write Article About Importing Strapi Users to Appwrite"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

We understand code contributions might not be your cup of tea, so we decided to prepare a series of blog posts related issues. This series of issues is here to let your writing skills shine,

[2022-10-03 10:08] PineappleIOnic opened #4200 "✍️ Write Article About Importing Wordpress Users to Appwrite"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

We understand code contributions might not be your cup of tea, so we decided to prepare a series of blog posts related issues. This series of issues is here to let your writing skills shine,

[2022-10-03 10:08] PineappleIOnic opened #4201 "✍️ Write Article About Importing CraftCMS Users to Appwrite"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

We understand code contributions might not be your cup of tea, so we decided to prepare a series of blog posts related issues. This series of issues is here to let your writing skills shine,

[2022-10-03 10:21] christyjacob4 opened #4202 "✍️ Write Article About Importing ButterCMS Users to Appwrite"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

We understand code contributions might not be your cup of tea, so we decided to prepare a series of blog posts related issues. This series of issues is here to let your writing skills shine,

[2022-10-03 10:21] christyjacob4 opened #4203 "✍️ Write Article About Importing Ghost Blog Users to Appwrite"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

We understand code contributions might not be your cup of tea, so we decided to prepare a series of blog posts related issues. This series of issues is here to let your writing skills shine,

[2022-10-03 10:21] christyjacob4 opened #4204 "🚨 Improve Appwrite Logging with Datadog Adapter"
# 💭 Introduction

Unexpected errors go hand-in-hand with any software. Whether they are caused by a bug in the code or downtime of service your code relies on, it’s important to get informed about it as soon as possible. Services such as Sentry help you overcome this problem by providing cloud solutions for your error logging and an amazing set of integrations to keep your engineering team informe

[2022-10-03 10:21] christyjacob4 opened #4205 "🚨 Improve Appwrite Logging with LogRocket Adapter"
# 💭 Introduction

Unexpected errors go hand-in-hand with any software. Whether they are caused by a bug in the code or downtime of service your code relies on, it’s important to get informed about it as soon as possible. Services such as Sentry help you overcome this problem by providing cloud solutions for your error logging and an amazing set of integrations to keep your engineering team informe

[2022-10-03 10:21] christyjacob4 opened #4206 "🚨 Improve Appwrite Logging with Scout Error Monitoring Adapter"
# 💭 Introduction

Unexpected errors go hand-in-hand with any software. Whether they are caused by a bug in the code or downtime of service your code relies on, it’s important to get informed about it as soon as possible. Services such as Sentry help you overcome this problem by providing cloud solutions for your error logging and an amazing set of integrations to keep your engineering team informe

[2022-10-03 10:21] christyjacob4 opened #4207 "🚨 Improve Appwrite Logging with Instabug Adapter"
# 💭 Introduction

Unexpected errors go hand-in-hand with any software. Whether they are caused by a bug in the code or downtime of service your code relies on, it’s important to get informed about it as soon as possible. Services such as Sentry help you overcome this problem by providing cloud solutions for your error logging and an amazing set of integrations to keep your engineering team informe

[2022-10-03 10:21] christyjacob4 opened #4208 "🚨 Improve Appwrite Logging with Rollbar Adapter"
# 💭 Introduction

Unexpected errors go hand-in-hand with any software. Whether they are caused by a bug in the code or downtime of service your code relies on, it’s important to get informed about it as soon as possible. Services such as Sentry help you overcome this problem by providing cloud solutions for your error logging and an amazing set of integrations to keep your engineering team informe

[2022-10-03 10:21] christyjacob4 opened #4209 "🚨 Improve Appwrite Logging with New Relic Adapter"
# 💭 Introduction

Unexpected errors go hand-in-hand with any software. Whether they are caused by a bug in the code or downtime of service your code relies on, it’s important to get informed about it as soon as possible. Services such as Sentry help you overcome this problem by providing cloud solutions for your error logging and an amazing set of integrations to keep your engineering team informe

[2022-10-03 10:21] christyjacob4 opened #4210 "🚨 Improve Appwrite Logging with Dynatrace Adapter"
# 💭 Introduction

Unexpected errors go hand-in-hand with any software. Whether they are caused by a bug in the code or downtime of service your code relies on, it’s important to get informed about it as soon as possible. Services such as Sentry help you overcome this problem by providing cloud solutions for your error logging and an amazing set of integrations to keep your engineering team informe

[2022-10-03 10:21] christyjacob4 opened #4211 "🚨 Improve Appwrite Logging with Bugsnag Adapter"
# 💭 Introduction

Unexpected errors go hand-in-hand with any software. Whether they are caused by a bug in the code or downtime of service your code relies on, it’s important to get informed about it as soon as possible. Services such as Sentry help you overcome this problem by providing cloud solutions for your error logging and an amazing set of integrations to keep your engineering team informe

[2022-10-03 10:22] christyjacob4 opened #4212 "🚨 Improve Appwrite Logging with HoneyBadger Adapter"
# 💭 Introduction

Unexpected errors go hand-in-hand with any software. Whether they are caused by a bug in the code or downtime of service your code relies on, it’s important to get informed about it as soon as possible. Services such as Sentry help you overcome this problem by providing cloud solutions for your error logging and an amazing set of integrations to keep your engineering team informe

[2022-10-03 10:22] christyjacob4 opened #4213 "🚨 Improve Appwrite Logging with Airbrake Adapter"
# 💭 Introduction

Unexpected errors go hand-in-hand with any software. Whether they are caused by a bug in the code or downtime of service your code relies on, it’s important to get informed about it as soon as possible. Services such as Sentry help you overcome this problem by providing cloud solutions for your error logging and an amazing set of integrations to keep your engineering team informe

[2022-10-03 10:22] christyjacob4 opened #4214 "🚨 Improve Appwrite Logging with Rollbar Adapter"
# 💭 Introduction

Unexpected errors go hand-in-hand with any software. Whether they are caused by a bug in the code or downtime of service your code relies on, it’s important to get informed about it as soon as possible. Services such as Sentry help you overcome this problem by providing cloud solutions for your error logging and an amazing set of integrations to keep your engineering team informe

[2022-10-03 10:22] christyjacob4 opened #4215 "🧑‍🏫 Help Developers by Coding Demo of Appwrite + Inferno JS"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

Your task is to code a demo application showing how you can use **Appwrite with Inferno JS**. Your project should stay focused on the main feature of Inferno JS in which you showcase communic

[2022-10-03 10:22] christyjacob4 opened #4216 "🧑‍🏫 Help Developers by Coding Demo of Appwrite + Ember JS"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

Your task is to code a demo application showing how you can use **Appwrite with Ember JS**. Your project should stay focused on the main feature of Ember JS in which you showcase communicatio

[2022-10-03 10:22] christyjacob4 opened #4217 "🧑‍🏫 Help Developers by Coding Demo of Appwrite + Ionic"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

Your task is to code a demo application showing how you can use **Appwrite with Ionic**. Your project should stay focused on the main feature of Ionic in which you showcase communication with

[2022-10-03 10:22] christyjacob4 opened #4218 "🧑‍🏫 Help Developers by Coding Demo of Appwrite + Cordova"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

Your task is to code a demo application showing how you can use **Appwrite with Cordova**. Your project should stay focused on the main feature of Cordova in which you showcase communication

[2022-10-03 10:22] christyjacob4 opened #4219 "🧑‍🏫 Help Developers by Coding Demo of Appwrite + Ember"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

Your task is to code a demo application showing how you can use **Appwrite with Ember**. Your project should stay focused on the main feature of Ember in which you showcase communication with

[2022-10-03 10:22] christyjacob4 opened #4220 "🧑‍🏫 Help Developers by Coding Demo of Appwrite + Gatsby"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

Your task is to code a demo application showing how you can use **Appwrite with Gatsby**. Your project should stay focused on the main feature of Gatsby in which you showcase communication wi

[2022-10-03 10:22] christyjacob4 opened #4221 "🧑‍🏫 Help Developers by Coding Demo of Appwrite + Polymer JS"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

Your task is to code a demo application showing how you can use **Appwrite with Polymer JS**. Your project should stay focused on the main feature of Polymer JS in which you showcase communic

[2022-10-03 10:22] christyjacob4 opened #4222 "🧑‍🏫 Help Developers by Coding Demo of Appwrite + Mercury"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

Your task is to code a demo application showing how you can use **Appwrite with Mercury**. Your project should stay focused on the main feature of Mercury in which you showcase communication

[2022-10-03 10:22] christyjacob4 opened #4223 "🧑‍🏫 Help Developers by Coding Demo of Appwrite + Polymer JS"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

Your task is to code a demo application showing how you can use **Appwrite with Polymer JS**. Your project should stay focused on the main feature of Polymer JS in which you showcase communic

[2022-10-03 10:22] christyjacob4 opened #4224 "🧑‍🏫 Help Developers by Coding Demo of Appwrite + Nuxt JS"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

Your task is to code a demo application showing how you can use **Appwrite with Nuxt JS**. Your project should stay focused on the main feature of Nuxt JS in which you showcase communication

[2022-10-03 10:22] christyjacob4 opened #4225 "🧑‍🏫 Help Developers by Coding Demo of Appwrite + Next JS"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

Your task is to code a demo application showing how you can use **Appwrite with Next JS**. Your project should stay focused on the main feature of Next JS in which you showcase communication

[2022-10-03 10:22] christyjacob4 opened #4226 "🧑‍🏫 Help Developers by Coding Demo of Appwrite + Hugo"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

Your task is to code a demo application showing how you can use **Appwrite with Hugo**. Your project should stay focused on the main feature of Hugo in which you showcase communication with A

[2022-10-03 10:22] christyjacob4 opened #4227 "🧑‍🏫 Help Developers by Coding Demo of Appwrite + Backbone JS"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

Your task is to code a demo application showing how you can use **Appwrite with Backbone JS**. Your project should stay focused on the main feature of Backbone JS in which you showcase commun

[2022-10-03 10:22] christyjacob4 opened #4228 "🧑‍🏫 Help Developers by Coding Demo of Appwrite + Middleman (SSG)"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

Your task is to code a demo application showing how you can use **Appwrite with Middleman (SSG)**. Your project should stay focused on the main feature of Middleman (SSG) in which you showcas

[2022-10-03 10:22] christyjacob4 opened #4229 "🧑‍🏫 Help Developers by Coding Demo of Appwrite + Hexo"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

Your task is to code a demo application showing how you can use **Appwrite with Hexo**. Your project should stay focused on the main feature of Hexo in which you showcase communication with A

[2022-10-03 10:22] christyjacob4 opened #4230 "🧑‍🏫 Help Developers by Coding Demo of Appwrite + 11ty"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

Your task is to code a demo application showing how you can use **Appwrite with 11ty**. Your project should stay focused on the main feature of 11ty in which you showcase communication with A

[2022-10-03 10:23] christyjacob4 opened #4231 "🧑‍🏫 Help Developers by Coding Demo of Appwrite + Pelican"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

Your task is to code a demo application showing how you can use **Appwrite with Pelican**. Your project should stay focused on the main feature of Pelican in which you showcase communication

[2022-10-03 10:23] christyjacob4 opened #4232 "🧑‍🏫 Help Developers by Coding Demo of Appwrite + Gridsome"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

Your task is to code a demo application showing how you can use **Appwrite with Gridsome**. Your project should stay focused on the main feature of Gridsome in which you showcase communicatio

[2022-10-03 10:23] christyjacob4 opened #4233 "🧑‍🏫 Help Developers by Coding Demo of Appwrite + Astro"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

Your task is to code a demo application showing how you can use **Appwrite with Astro**. Your project should stay focused on the main feature of Astro in which you showcase communication with

[2022-10-03 10:23] christyjacob4 opened #4234 "🧑‍🏫 Help Developers by Coding Demo of Appwrite + Blazor"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

Your task is to code a demo application showing how you can use **Appwrite with Blazor**. Your project should stay focused on the main feature of Blazor in which you showcase communication wi

[2022-10-03 10:23] christyjacob4 opened #4235 "🧑‍🏫 Help Developers by Coding Demo of Appwrite + Suprsend"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

Your task is to code a demo application showing how you can use **Appwrite with Suprsend**. Your project should stay focused on the main feature of Suprsend in which you showcase communicatio

[2022-10-03 10:23] christyjacob4 opened #4236 "🧑‍🏫 Help Developers by Coding Demo of Appwrite + Make (Integromat)"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

Your task is to code a demo application showing how you can use **Appwrite with Make (Integromat)**. Your project should stay focused on the main feature of Make (Integromat) in which you sho

[2022-10-03 10:23] christyjacob4 opened #4237 "🧑‍🏫 Help Developers by Coding Demo of Appwrite + n8n"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

Your task is to code a demo application showing how you can use **Appwrite with n8n**. Your project should stay focused on the main feature of n8n in which you showcase communication with App

[2022-10-03 10:23] christyjacob4 opened #4238 "🧑‍🏫 Help Developers by Coding Demo of Appwrite + Angular"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

Your task is to code a demo application showing how you can use **Appwrite with Angular**. Your project should stay focused on the main feature of Angular in which you showcase communication

[2022-10-03 10:23] christyjacob4 opened #4239 "🧑‍🏫 Help Developers by Coding Demo of Appwrite + Eleventy"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

Your task is to code a demo application showing how you can use **Appwrite with Eleventy**. Your project should stay focused on the main feature of Eleventy in which you showcase communicatio

[2022-10-03 10:23] christyjacob4 opened #4240 "🧑‍🏫 Help Developers by Coding Demo of Appwrite + PlayCanvas"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

Your task is to code a demo application showing how you can use **Appwrite with PlayCanvas**. Your project should stay focused on the main feature of PlayCanvas in which you showcase communic

[2022-10-03 10:23] christyjacob4 opened #4241 "🧑‍🏫 Help Developers by Coding Demo of Appwrite + Pharser"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

Your task is to code a demo application showing how you can use **Appwrite with Pharser**. Your project should stay focused on the main feature of Pharser in which you showcase communication

[2022-10-03 10:23] christyjacob4 opened #4242 "🧑‍🏫 Help Developers by Coding Demo of Appwrite + Processing3"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

Your task is to code a demo application showing how you can use **Appwrite with Processing3**. Your project should stay focused on the main feature of Processing3 in which you showcase commun

[2022-10-03 10:23] christyjacob4 opened #4243 "🧑‍🏫 Help Developers by Coding Demo of Appwrite + p5.js"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

Your task is to code a demo application showing how you can use **Appwrite with p5.js**. Your project should stay focused on the main feature of p5.js in which you showcase communication with

[2022-10-03 10:23] christyjacob4 opened #4244 "🧑‍🏫 Help Developers by Coding Demo of Appwrite + Astro"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

Your task is to code a demo application showing how you can use **Appwrite with Astro**. Your project should stay focused on the main feature of Astro in which you showcase communication with

[2022-10-03 10:23] christyjacob4 opened #4245 "🧑‍🏫 Help Developers by Coding Demo of Appwrite + Crater"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

Your task is to code a demo application showing how you can use **Appwrite with Crater**. Your project should stay focused on the main feature of Crater in which you showcase communication wi

[2022-10-03 10:23] christyjacob4 opened #4246 "🧑‍🏫 Help Developers by Coding Demo of Appwrite + Discord (bot)"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

Your task is to code a demo application showing how you can use **Appwrite with Discord (bot)**. Your project should stay focused on the main feature of Discord (bot) in which you showcase co

[2022-10-03 10:23] christyjacob4 opened #4247 "🧑‍🏫 Help Developers by Coding Demo of Appwrite + Twitter (bot)"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

Your task is to code a demo application showing how you can use **Appwrite with Twitter (bot)**. Your project should stay focused on the main feature of Twitter (bot) in which you showcase co

[2022-10-03 10:23] christyjacob4 opened #4248 "🧑‍🏫 Help Developers by Coding Demo of Appwrite + Mithril"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

Your task is to code a demo application showing how you can use **Appwrite with Mithril**. Your project should stay focused on the main feature of Mithril in which you showcase communication

[2022-10-03 10:23] christyjacob4 opened #4249 "🧑‍🏫 Help Developers by Coding Demo of Appwrite + Cycle JS"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

Your task is to code a demo application showing how you can use **Appwrite with Cycle JS**. Your project should stay focused on the main feature of Cycle JS in which you showcase communicatio

[2022-10-03 10:23] christyjacob4 opened #4250 "🧑‍🏫 Help Developers by Coding Demo of Appwrite + jQuery"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

Your task is to code a demo application showing how you can use **Appwrite with jQuery**. Your project should stay focused on the main feature of jQuery in which you showcase communication wi

[2022-10-03 10:24] christyjacob4 opened #4251 "🧑‍🏫 Help Developers by Coding Demo of Appwrite + Aurelia"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

Your task is to code a demo application showing how you can use **Appwrite with Aurelia**. Your project should stay focused on the main feature of Aurelia in which you showcase communication

[2022-10-03 10:24] christyjacob4 opened #4252 "🧑‍🏫 Help Developers by Coding Demo of Appwrite + PReact"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

Your task is to code a demo application showing how you can use **Appwrite with PReact**. Your project should stay focused on the main feature of PReact in which you showcase communication wi

[2022-10-03 10:24] christyjacob4 opened #4253 "🧑‍🏫 Help Developers by Coding Demo of Appwrite + React Native"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

Your task is to code a demo application showing how you can use **Appwrite with React Native**. Your project should stay focused on the main feature of React Native in which you showcase comm

[2022-10-03 10:24] christyjacob4 opened #4254 "🪄 Upgrade ’’ to Appwrite 1.0"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

Your task is to upgrade our demo application **appwrite/** to the latest Appwrite version, which is 1.0. All of the functionality of the demo application must stay the same.

### ✅ Task Summa

[2022-10-03 10:24] christyjacob4 opened #4256 "🪄 Upgrade ’’ to Appwrite 1.0"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

Your task is to upgrade our demo application **appwrite/** to the latest Appwrite version, which is 1.0. All of the functionality of the demo application must stay the same.

### ✅ Task Summa

[2022-10-03 10:24] christyjacob4 opened #4257 "🪄 Upgrade ’’ to Appwrite 1.0"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

Your task is to upgrade our demo application **appwrite/** to the latest Appwrite version, which is 1.0. All of the functionality of the demo application must stay the same.

### ✅ Task Summa

[2022-10-03 10:29] leonyangela commented on #4250
Hi, I saw that this task is still open. Can I take this task? Thank you.

[2022-10-03 10:30] christyjacob4 opened #4258 "🪄 Upgrade ’demo-todo-with-angular’ to Appwrite 1.0"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

Your task is to upgrade our demo application **appwrite/demo-todo-with-angular** to the latest Appwrite version, which is 1.0. All of the functionality of the demo application must stay the s

[2022-10-03 10:30] christyjacob4 opened #4259 "🪄 Upgrade ’demo-quiz-with-flutter’ to Appwrite 1.0"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

Your task is to upgrade our demo application **appwrite/demo-quiz-with-flutter** to the latest Appwrite version, which is 1.0. All of the functionality of the demo application must stay the s

[2022-10-03 10:30] christyjacob4 opened #4260 "🪄 Upgrade ’demo-almost-netflix-for-android’ to Appwrite 1.0"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

Your task is to upgrade our demo application **appwrite/demo-almost-netflix-for-android** to the latest Appwrite version, which is 1.0. All of the functionality of the demo application must s

[2022-10-03 10:30] christyjacob4 opened #4261 "🪄 Upgrade ’demo-almost-netflix-for-apple’ to Appwrite 1.0"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

Your task is to upgrade our demo application **appwrite/demo-almost-netflix-for-apple** to the latest Appwrite version, which is 1.0. All of the functionality of the demo application must sta

[2022-10-03 10:30] christyjacob4 opened #4262 "🪄 Upgrade ’demo-almost-netflix-for-web’ to Appwrite 1.0"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

Your task is to upgrade our demo application **appwrite/demo-almost-netflix-for-web** to the latest Appwrite version, which is 1.0. All of the functionality of the demo application must stay

[2022-10-03 10:30] christyjacob4 opened #4263 "🪄 Upgrade ’demo-quiz-with-android’ to Appwrite 1.0"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

Your task is to upgrade our demo application **appwrite/demo-quiz-with-android** to the latest Appwrite version, which is 1.0. All of the functionality of the demo application must stay the s

[2022-10-03 10:30] christyjacob4 opened #4264 "🪄 Upgrade ’demo-getstarted-with-android’ to Appwrite 1.0"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

Your task is to upgrade our demo application **appwrite/demo-getstarted-with-android** to the latest Appwrite version, which is 1.0. All of the functionality of the demo application must stay

[2022-10-03 10:30] christyjacob4 opened #4265 "🪄 Upgrade ’demos-for-vue’ to Appwrite 1.0"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

Your task is to upgrade our demo application **appwrite/demos-for-vue** to the latest Appwrite version, which is 1.0. All of the functionality of the demo application must stay the same.

###

[2022-10-03 10:30] christyjacob4 opened #4266 "🪄 Upgrade ’demos-for-angular’ to Appwrite 1.0"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

Your task is to upgrade our demo application **appwrite/demos-for-angular** to the latest Appwrite version, which is 1.0. All of the functionality of the demo application must stay the same.

[2022-10-03 10:31] christyjacob4 opened #4267 "🪄 Upgrade ’demos-for-svelte’ to Appwrite 1.0"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

Your task is to upgrade our demo application **appwrite/demos-for-svelte** to the latest Appwrite version, which is 1.0. All of the functionality of the demo application must stay the same.

[2022-10-03 10:31] christyjacob4 opened #4268 "🪄 Upgrade ’demo-job-portal-with-apple’ to Appwrite 1.0"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

Your task is to upgrade our demo application **appwrite/demo-job-portal-with-apple** to the latest Appwrite version, which is 1.0. All of the functionality of the demo application must stay t

[2022-10-03 10:31] christyjacob4 opened #4269 "🪄 Upgrade ’demo-almost-netflix-for-flutter’ to Appwrite 1.0"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

Your task is to upgrade our demo application **appwrite/demo-almost-netflix-for-flutter** to the latest Appwrite version, which is 1.0. All of the functionality of the demo application must s

[2022-10-03 10:31] christyjacob4 opened #4270 "🪄 Upgrade ’demo-todo-with-react’ to Appwrite 1.0"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

Your task is to upgrade our demo application **appwrite/demo-todo-with-react** to the latest Appwrite version, which is 1.0. All of the functionality of the demo application must stay the sam

[2022-10-03 10:31] christyjacob4 opened #4271 "🪄 Upgrade ’demo-todo-with-nextjs’ to Appwrite 1.0"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

Your task is to upgrade our demo application **appwrite/demo-todo-with-nextjs** to the latest Appwrite version, which is 1.0. All of the functionality of the demo application must stay the sa

[2022-10-03 10:31] christyjacob4 opened #4272 "🪄 Upgrade ’demo-todo-with-vue’ to Appwrite 1.0"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

Your task is to upgrade our demo application **appwrite/demo-todo-with-vue** to the latest Appwrite version, which is 1.0. All of the functionality of the demo application must stay the same.

[2022-10-03 10:31] christyjacob4 opened #4273 "🪄 Upgrade ’demo-todo-with-svelte’ to Appwrite 1.0"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

Your task is to upgrade our demo application **appwrite/demo-todo-with-svelte** to the latest Appwrite version, which is 1.0. All of the functionality of the demo application must stay the sa

[2022-10-03 10:31] christyjacob4 opened #4274 "🪄 Upgrade ’demos-for-react’ to Appwrite 1.0"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

Your task is to upgrade our demo application **appwrite/demos-for-react** to the latest Appwrite version, which is 1.0. All of the functionality of the demo application must stay the same.

#

[2022-10-03 10:31] christyjacob4 opened #4275 "🪄 Upgrade ’demo-watertracker-with-flutter’ to Appwrite 1.0"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

Your task is to upgrade our demo application **appwrite/demo-watertracker-with-flutter** to the latest Appwrite version, which is 1.0. All of the functionality of the demo application must st

[2022-10-03 10:31] christyjacob4 opened #4276 "🪄 Upgrade ’demo-todo-with-flutter’ to Appwrite 1.0"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

Your task is to upgrade our demo application **appwrite/demo-todo-with-flutter** to the latest Appwrite version, which is 1.0. All of the functionality of the demo application must stay the s

[2022-10-03 10:31] Faizan-Pasha commented on #3946
@stnguyen90
Sorry to bother you.
I was using Apple's private relay(VPN service for safari browser) and my web platform host was configured only for my IP.😅

[2022-10-03 10:34] MoskalykA commented on #4186
I can't find the owly provider, do you have a link ?

[2022-10-03 10:38] kirtanchandak commented on #4270
Can I work on this issue ?

[2022-10-03 10:40] queen-x-vee commented on #4270
can I work on this issue

[2022-10-03 10:40] Meldiron commented on #4270
@kirtanchandak , thanks for your interest! 🙏 Happy hacking! 🎃

@queen-x-vee , we're assigning people on a first come first serve basis. If @kirtanchandak  isn't able to complete this issue, well reassign accordingly. In the meantime, you can find another hacktoberfest issue via our [website](https://hacktoberfest.appwrite.io/).

[2022-10-03 10:41] NiX3r commented on #4180
Could you please assign this to me?

[2022-10-03 10:42] Meldiron commented on #4180
@NiX3r , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-03 10:45] NiX3r commented on #4182
Could you please assign this to me?

[2022-10-03 10:46] Meldiron commented on #4182
@NiX3r , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-03 10:57] partik03 commented on #4090
@PineappleIOnic I want to work on this issue ,kindly assign it to me

[2022-10-03 11:01] omjikush09 commented on #4274
@christyjacob4  Hi, I would like to work on this. Can you assign this to me

[2022-10-03 11:07] Meldiron commented on #4090
@partik03 , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-03 11:08] omjikush09 commented on #4175
@PineappleIOnic  Hi,  I would like to work on this. Can you assign this to me?

[2022-10-03 11:08] Meldiron commented on #4274
@omjikush09 , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-03 11:20] iShelar commented on #4031
If in case frontend requires any help. Please let me know I'll be happy to help @chiragkhatri19

[2022-10-03 11:23] DevTomilola-OS commented on #4275
I would like to work on this, kindly assign this to me.

[2022-10-03 11:23] DevTomilola-OS commented on #4273
I would like to work on this too, kindly assign this to me.

[2022-10-03 11:24] DevTomilola-OS commented on #4272
I would like to work on this too, kindly assign this to me.

[2022-10-03 11:24] DevTomilola-OS commented on #4271
I would like to work on this too, kindly assign this to me.

[2022-10-03 11:24] DevTomilola-OS commented on #4269
I would like to work on this too, kindly assign this to me.

[2022-10-03 11:25] DevTomilola-OS commented on #4268
I would like to work on this too, kindly assign this to me.

[2022-10-03 11:26] DevTomilola-OS commented on #4266
I would like to work on this too, kindly assign this to me.

[2022-10-03 11:26] DevTomilola-OS commented on #4265
I would like to work on this too, kindly assign this to me.

[2022-10-03 11:27] DevTomilola-OS commented on #4262
I would like to work on this too, kindly assign this to me.

[2022-10-03 11:27] DevTomilola-OS commented on #4264
I would like to work on this too, kindly assign this to me.

[2022-10-03 11:31] DevTomilola-OS commented on #4263
I would like to work on this too, kindly assign this to me.

[2022-10-03 11:32] DevTomilola-OS commented on #4258
I would like to work on this too, kindly assign this to me.

[2022-10-03 11:45] redromnon commented on #4261
Hi there!
I would like to try working on this issue.

[2022-10-03 11:49] Abhishek-thakur1 commented on #4186
Hi! i would like to implement that

[2022-10-03 11:55] partik03 commented on #4090
@PineappleIOnic can you help me by providing some more info about what this function should do actually

[2022-10-03 12:04] Meldiron commented on #4175
@omjikush09 , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-03 12:05] Meldiron commented on #4275
@DevTomilola-OS , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-03 12:05] Meldiron commented on #4268
@DevTomilola-OS , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-03 12:06] Meldiron commented on #4273
@DevTomilola-OS Looks like you have some issues assigned to you already. We request you to complete those before requesting assignments on new ones. Also, please consider picking a different type of issue so other contributors can try this one.

[2022-10-03 12:06] Meldiron commented on #4272
@DevTomilola-OS Looks like you have some issues assigned to you already. We request you to complete those before requesting assignments on new ones. Also, please consider picking a different type of issue so other contributors can try this one.

[2022-10-03 12:06] Meldiron commented on #4271
@DevTomilola-OS Looks like you have some issues assigned to you already. We request you to complete those before requesting assignments on new ones. Also, please consider picking a different type of issue so other contributors can try this one.

[2022-10-03 12:06] Meldiron commented on #4269
@DevTomilola-OS Looks like you have some issues assigned to you already. We request you to complete those before requesting assignments on new ones. Also, please consider picking a different type of issue so other contributors can try this one.

[2022-10-03 12:06] Meldiron commented on #4267
@DevTomilola-OS Looks like you have some issues assigned to you already. We request you to complete those before requesting assignments on new ones. Also, please consider picking a different type of issue so other contributors can try this one.

[2022-10-03 12:06] Meldiron commented on #4266
@DevTomilola-OS Looks like you have some issues assigned to you already. We request you to complete those before requesting assignments on new ones. Also, please consider picking a different type of issue so other contributors can try this one.

[2022-10-03 12:06] Meldiron commented on #4265
@DevTomilola-OS Looks like you have some issues assigned to you already. We request you to complete those before requesting assignments on new ones. Also, please consider picking a different type of issue so other contributors can try this one.

[2022-10-03 12:06] Meldiron commented on #4262
@DevTomilola-OS Looks like you have some issues assigned to you already. We request you to complete those before requesting assignments on new ones. Also, please consider picking a different type of issue so other contributors can try this one.

[2022-10-03 12:06] Meldiron commented on #4264
@DevTomilola-OS Looks like you have some issues assigned to you already. We request you to complete those before requesting assignments on new ones. Also, please consider picking a different type of issue so other contributors can try this one.

[2022-10-03 12:07] Meldiron commented on #4258
@DevTomilola-OS Looks like you have some issues assigned to you already. We request you to complete those before requesting assignments on new ones. Also, please consider picking a different type of issue so other contributors can try this one.

[2022-10-03 12:08] Meldiron commented on #4186
@MoskalykA  Hey there 👋 Here is a link to the API: https://developer.hootsuite.com/docs/owly-api-reference

Please let me know if there is anything else I can help with.

[2022-10-03 12:09] Meldiron commented on #4186
@Abhishek-thakur1 , we're assigning people on a first come first serve basis. If @MoskalykA isn't able to complete this issue, well reassign accordingly. In the meantime, you can find another hacktoberfest issue via our [website](https://hacktoberfest.appwrite.io/).

[2022-10-03 12:09] DevTomilola-OS commented on #4267
Okay thank you, I'm working on them already.

[2022-10-03 12:14] PineappleIOnic commented on #4176
@Yordaniss, thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-03 12:14] Meldiron commented on #4090
Hey there 👋 The issue description should explain everything, as well as provide examples of input and output. You pretty much generate a PDF invoice and return it as a base64 string. To generate PDFs you can use any library of your choice. For example, in Node, you could simply use this to make the pdf: https://www.npmjs.com/package/pdfkit

[2022-10-03 12:14] Arpan-206 commented on #4024
I want to make an Almost Bitly with an Appwrite backend.

[2022-10-03 12:18] ananas-dev commented on #4273
Hi, I'd like to assign this issue to myself

[2022-10-03 12:22] DevTomilola-OS commented on #4268
Hello @Meldiron I'm sorry i can't work on this because i don't use an apple device, can you assign me many more that doesn't have to do with me having an apple device.

Thanks.

[2022-10-03 12:41] chirag-ghosh commented on #4272
Can I work on this ?

[2022-10-03 12:42] 35C4n0r commented on #4188
@PineappleIOnic i'm intrested in this can you please assign this issue to me.

[2022-10-03 12:43] Abhishek-thakur1 commented on #4109
I would like to work on this.

[2022-10-03 12:48] Goheljay commented on #4095
hi @PineappleIOnic, I want to work on this issue can you assign me?

[2022-10-03 12:49] Goheljay commented on #4091
hi @PineappleIOnic  , I want to work on this issue can you assign me?

[2022-10-03 12:50] Goheljay commented on #4004
hi @christyjacob4 , I want to work on this issue can you assign me?

[2022-10-03 12:58] sakshiisaxena commented on #4271
I would like to work on this issue. It would be great if you could assign this to me.

[2022-10-03 12:59] sakshiisaxena commented on #4269
I would like to work this issue. Please assign this to me.

[2022-10-03 12:59] sakshiisaxena commented on #4266
I would like to work this issue. Please assign this to me.

[2022-10-03 13:00] apelnar0517 commented on #4261
I'd like to work on this, please assign this issue to me :)

[2022-10-03 13:12] DevTomilola-OS commented on #4275
Hello @Meldiron i would also need your guidance on this, do i upgrade the sdk or the server?

[2022-10-03 13:16] Meldiron commented on #4275
@DevTomilola-OS No need to worry about upgrading the server. This demo app points to Appwrite's demo instance ( https://github.com/appwrite/demo-watertracker-with-flutter/blob/main/lib/res/app_constants.dart#L2 ) which is already running Appwrite 1.0. All you need to do is to set Flutter library version to latest, and fix all the errors that will pop up due to this change, as there were multiple b

[2022-10-03 13:17] Meldiron commented on #4275
You can find out more about releases and breaking changes in SDK here: https://github.com/appwrite/sdk-for-flutter/releases

[2022-10-03 13:17] 35C4n0r commented on #4164
@PineappleIOnic i'm intrested in this issue, please assign this issue to me.

[2022-10-03 13:17] Meldiron commented on #4142
@aknsal , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-03 13:17] PineappleIOnic commented on #4188
@35C4n0r, thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-03 13:20] Meldiron commented on #4095
@Goheljay , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-03 13:21] Meldiron commented on #4091
@Goheljay , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-03 13:23] detronetdip commented on #4276
Where I can find the current demo application?

[2022-10-03 13:25] Meldiron commented on #4164
@35C4n0r , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-03 13:28] Meldiron commented on #4271
@sakshiisaxena , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-03 13:29] Meldiron commented on #4269
@sakshiisaxena , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-03 13:30] Meldiron commented on #4266
@DevTomilola-OS Looks like you have some issues assigned to you already. We request you to complete those before requesting assignments on new ones. Also, please consider picking a different type of issue so other contributors can try this one.

[2022-10-03 13:31] Meldiron commented on #4261
@apelnar0517 , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-03 13:31] Meldiron commented on #4276
@detronetdip You can find repository of the demo app here: https://github.com/appwrite/demo-todo-with-flutter

[2022-10-03 13:33] detronetdip commented on #4276
Thanks for help. though I am very new to fluetter and appwrite but I want to contribute in this project and I will try my best to do so.

[2022-10-03 13:36] Meldiron commented on #4268
@DevTomilola-OS That is understandable. Please write a new comment on an issue where you want to be assigned. I'll get notification and assign it to you

[2022-10-03 13:38] VoidCupboard commented on #4224
Hi! Can you assign this issue to me :)

[2022-10-03 13:38] 35C4n0r commented on #4153
@PineappleIOnic i'm intrested in this issue please assign this to me.

[2022-10-03 13:38] VoidCupboard commented on #4259
Can you assign this issue to me?

[2022-10-03 13:39] 35C4n0r commented on #4120
@PineappleIOnic i'm intrested in this issue please assign this issue to me.

[2022-10-03 13:39] eigengravy commented on #4174
hey, i would love to work on this

[2022-10-03 13:40] MrKrishnaAgarwal commented on #4195
I will work @PineappleIOnic

[2022-10-03 13:40] Meldiron commented on #4265
@Goheljay Looks like you have some issues assigned to you already. We request you to complete those before requesting assignments on new ones. Also, please consider picking a different type of issue so other contributors can try this one.

[2022-10-03 13:41] Meldiron commented on #4272
@chirag-ghosh , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-03 13:45] DevTomilola-OS commented on #4262
I would like to work on this in place of the 'demo-job-portal-with-apple' issue i applied to earlier.

Thanks.

[2022-10-03 13:51] Meldiron commented on #4273
@ananas-dev , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-03 13:52] m5l14i11 commented on #4131
Hey @PineappleIOnic I would like to implement this.

[2022-10-03 13:53] yanina-nas commented on #4239
Sounds great. I started working on it.

[2022-10-03 13:59] Meldiron commented on #4153
@35C4n0r Looks like you have some issues assigned to you already. We request you to complete those before requesting assignments on new ones. Also, please consider picking a different type of issue so other contributors can try this one.

[2022-10-03 14:17] Vikki123 commented on #4266
@Meldiron Could i pick this up ?

[2022-10-03 14:19] PineappleIOnic commented on #4012
@Arjun2905 @chinmayayy @Sneha421 This task is now open for everyone, feel free to work on it. 😄

[2022-10-03 14:21] Meldiron commented on #4035
@progressive-coder-ankur @Keshraf @RavenColEvol Hey everyone 👋

We have updated this issue. We decided to allow anyone to work on this issue. All of you can start working on your own version of Almost Trello 🥳

[2022-10-03 14:22] Meldiron commented on #4034
@RahulSurwade08 @nown1ne @copyNinja1219 @AniqJaved @Summiedev Hey everyone 👋

We have updated this issue. We decided to allow anyone to work on this issue. All of you can start working on your own version of Almost Evernote 🥳

[2022-10-03 14:22] Meldiron commented on #4033
@Arjun2905 @copyNinja1219 @Sneha421 @hridaya423 @heysagnik  Hey everyone 👋

We have updated this issue. We decided to allow anyone to work on this issue. All of you can start working on your own version of Almost Amazon 🥳

[2022-10-03 14:22] PineappleIOnic commented on #4010
@Arjun2905 @aryanlath This task is now open for everyone; you can all work on this individually and release your own versions! 😄

[2022-10-03 14:23] PineappleIOnic commented on #4010
@Arjun2905 You have been unassigned this issue is now an open one, you can continue working on it though. Nothing changes for you.

[2022-10-03 14:24] PineappleIOnic commented on #4009
@deep-poharkar @aryanlath This task is now open for everyone; you can all work on this individually and release your own versions! 😄

[2022-10-03 14:24] PineappleIOnic commented on #4009
@deep-poharkar You have been unassigned as this issue is now an open one, you can continue working on it, though. Nothing changes for you.

[2022-10-03 14:24] Meldiron commented on #4031
@chiragkhatri19 @VoidCupboard Hey both of you 👋

We have updated this issue. We decided to allow anyone to work on this issue. All of you can start working on your own version of Almost Reddit 🥳

I also noticed you wanted to work on this together. Feel free to do that, I love the passion 😊

[2022-10-03 14:25] Meldiron commented on #4030
@MukulKolpe @sbiswas2209 @Saurav-Singh-Rauthan @vish-han @hridaya423 @Arpan-206 Hey everyone 👋

We have updated this issue. We decided to allow anyone to work on this issue. All of you can start working on your own version of Almost Dev.to 🥳

[2022-10-03 14:26] PineappleIOnic commented on #4008
@thefool76 @aryanlath @deep-poharkar @BAGEERADHAN @MrKrishnaAgarwal @Sneha421 This task is now open for everyone; you can all work on this individually and release your own versions! 😄

[2022-10-03 14:26] Meldiron commented on #4029
@inomag @shubhamlakheraa @hridaya423 @Arpan-206 Hey everyone 👋

We have updated this issue. We decided to allow anyone to work on this issue. All of you can start working on your own version of Almost Product Hunt 🥳

[2022-10-03 14:26] Meldiron commented on #4028
@Saurav-Singh-Rauthan @Sneha421 @hridaya423 Hey everyone 👋

We have updated this issue. We decided to allow anyone to work on this issue. All of you can start working on your own version of Almost Asana 🥳

[2022-10-03 14:27] Meldiron commented on #4027
@aaaaayushh @RavenColEvol @Sneha421 @hridaya423 Hey everyone 👋

We have updated this issue. We decided to allow anyone to work on this issue. All of you can start working on your own version of Almost Notion 🥳

[2022-10-03 14:27] PineappleIOnic commented on #4007
@vj-codes @BAGEERADHAN @MrKrishnaAgarwal @aryanlath This task is now open for everyone; you can all work on this individually and release your own versions! 😄

[2022-10-03 14:27] PineappleIOnic commented on #4007
@vj-codes You have been unassigned as this issue is now an open one, you can continue working on it though. Nothing changes for you.

[2022-10-03 14:28] Meldiron commented on #4025
@amitanshusahu @Sneha421 @hridaya423 Hey everyone 👋

We have updated this issue. We decided to allow anyone to work on this issue. All of you can start working on your own version of Almost Facebook 🥳

[2022-10-03 14:28] Meldiron commented on #4026
@MSamiDev @exitflynn @amelia2802 @hridaya423 @Summiedev @sarkartanmay393 @Jyoti050402 Hey everyone 👋

We have updated this issue. We decided to allow anyone to work on this issue. All of you can start working on your own version of Almost Twitter 🥳

[2022-10-03 14:29] Meldiron commented on #4259
@VoidCupboard , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-03 14:30] Meldiron commented on #4120
@35C4n0r Looks like you have some issues assigned to you already. We request you to complete those before requesting assignments on new ones. Also, please consider picking a different type of issue so other contributors can try this one.

[2022-10-03 14:30] Meldiron commented on #4195
@MrKrishnaAgarwal Good luck 🤞I can't wait to read your article 🎃

[2022-10-03 14:31] Meldiron commented on #4174
@eigengravy , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-03 14:32] Meldiron commented on #4262
@DevTomilola-OS Assigning it to you now. Happy Hacktoberfest 🎃

[2022-10-03 14:32] Meldiron commented on #4131
@m5l14i11 , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-03 14:33] Meldiron commented on #4106
@rdmchr so happy to see you, I remember you from the last year 😇 Assigned to you, happy Hacktoberfest! 🎃

[2022-10-03 14:33] NiX3r commented on #4182
Thanks. One more question. Should be there four basic methods such as GET, PUT, UPDATE and DELETE? Or should it contains more of them?

[2022-10-03 14:34] Meldiron commented on #4266
@Vikki123 , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-03 14:34] VoidCupboard commented on #4031
Wooooooo! Thats really cool! Thanks @Meldiron!

[2022-10-03 14:35] Meldiron commented on #4182
@NiX3r I would say let's try to support all HTTP methods: GET, POST, PUT, PATCH, DELETE, OPTIONS, HEAD.

[2022-10-03 14:36] PineappleIOnic commented on #4006
@Shreyas-SAS @aryanlath This task is now open for everyone; you can all work on this individually and release your own versions! 😄

[2022-10-03 14:36] PineappleIOnic commented on #4006
@Shreyas-SAS You have been unassigned as this issue is now an open one, you can continue working on it though. Nothing changes for you.

[2022-10-03 14:37] PineappleIOnic commented on #4005
@krupalitrivedi @Keshraf @MrKrishnaAgarwal @Shreyas-SAS @SaiRev0 @aharna @Sneha421 This task is now open for everyone; you can all work on this individually and release your own versions! 😄

[2022-10-03 14:39] PineappleIOnic commented on #4004
@harshchandwani @Asmit2952 @chinmayayy @MrKrishnaAgarwal @Shreyas-SAS @SaiRev0 @aharna @devstardude @Goheljay This task is now open for everyone; you can all work on this individually and release your own versions! 😄

[2022-10-03 14:40] PineappleIOnic commented on #3970
@chinmayayy @aharna This task is now open for everyone; you can all work on this individually and release your own versions! 😄

[2022-10-03 14:41] Shreyas-SAS commented on #4006
Yeah no worries. Happy about it too. I too can work on multiple prs now.

[2022-10-03 14:41] AyushChamoli961 commented on #4214
can I work on this ?

[2022-10-03 14:41] PineappleIOnic commented on #3969
@AviAvinav You have been unassigned as this issue is now an open one, you can continue working on it though. Nothing changes for you.

[2022-10-03 14:42] PineappleIOnic commented on #3968
@sshiv5768 @Sneha421 This task is now open for everyone; you can all work on this individually and release your own versions! 😄

[2022-10-03 14:42] Asmit2952 commented on #4004
Hey @PineappleIOnic can we take an already published Appwrite example for our blog posts? From awesome-appwrite repository?

[2022-10-03 14:42] PineappleIOnic commented on #3967
@BAGEERADHAN @kimbengfaith This task is now open for everyone; you can all work on this individually and release your own versions! 😄

[2022-10-03 14:43] PineappleIOnic commented on #3967
@BAGEERADHAN You have been unassigned as this issue is now an open one, you can continue working on it though. Nothing changes for you.

[2022-10-03 14:43] PineappleIOnic commented on #3966
@aryanlath You have been unassigned as this issue is now an open one, you can continue working on it though. Nothing changes for you.

[2022-10-03 14:44] Rinshin-Jalal commented on #4032
Hi

@Meldiron I mean there are two issues for Almost notion
#4027 #4032

[2022-10-03 14:44] PineappleIOnic commented on #4004
@Asmit2952 If you created it yourself, then yes. otherwise, we would prefer it if you created it all yourself.

[2022-10-03 14:45] Vikki123 commented on #4266
Thank you. Wil raise a PR soon.

[2022-10-03 14:45] PineappleIOnic commented on #3965
@Khadeeejah You have been unassigned as this issue is now an open one, you can continue working on it though. Nothing changes for you.

[2022-10-03 14:46] PineappleIOnic commented on #3963
@kimbengfaith @Sneha421 This task is now open for everyone; you can all work on this individually and release your own versions! 😄

[2022-10-03 14:47] PineappleIOnic commented on #3963
@kimbengfaith You have been unassigned as this issue is now an open one, you can continue working on it though. Nothing changes for you.

[2022-10-03 14:48] loganSims commented on #4260
Can I be assigned this one? Thanks!

[2022-10-03 14:48] PineappleIOnic commented on #3962
@Azanul You have been unassigned as this issue is now an open one, you can continue working on it though. Nothing changes for you.

[2022-10-03 14:59] Asmit2952 commented on #4258
Can I work on this? @Meldiron

[2022-10-03 15:00] Sooraj-s-98 commented on #3670
@stnguyen90 can you check my PR ?

[2022-10-03 15:06] Sukriti-m commented on #4153
Hello @Meldiron
I would like to work on this issue. Please assign it to me.

[2022-10-03 15:17] Sukriti-m commented on #4079
Hi @PineappleIOnic
I want to work on this issue.
I'd be grateful if you could assign this issue to me.

[2022-10-03 15:17] AyushChamoli961 commented on #4247
Can I work on this ?

[2022-10-03 15:25] pushkaraj2007 commented on #4267
Can you please give a piece more information about the issue?

[2022-10-03 15:33] czlucius commented on #4264
Hi there
I would like to contribute to this issue

[2022-10-03 15:58] TheLearneer commented on #4265
I would like to pick it up 🤚

[2022-10-03 15:59] vishnus17 commented on #4268
Hi @Meldiron. I'd like to take up this issue.

[2022-10-03 16:23] KingFire25 commented on #4092
!assign

[2022-10-03 16:29] gepd commented on #3151
I would love to see this feature too!
as @jpcaram said, currently there no way to implement this

[2022-10-03 16:35] AviAvinav commented on #3969
Yeah, no problem

[2022-10-03 17:26] exclusionV2 commented on #3969
I would like to work on this one!

[2022-10-03 17:34] SanjayDevTech commented on #4264
I would like to contribute to this issue

[2022-10-03 17:40] TheSylwio commented on #4187
Hello 👋 I would like to be assigned to this issue 😉

[2022-10-03 17:53] Pooja444 commented on #4191
@PineappleIOnic I would like to work on this issue, can it be assigned to me?

[2022-10-03 18:10] codespirit7 commented on #4120
Hey @PineappleIOnic , Can you please assign this issue to me. I already started working on that and like to contribute.

[2022-10-03 18:28] aparna2071 commented on #4265
Hi @christyjacob4 I would like to contribute, can you please assign this to me ?

[2022-10-03 18:32] chinmayayy commented on #3970
Thanks @PineappleIOnic working on it!

[2022-10-03 18:57] Vikki123 commented on #4266
@Meldiron @christyjacob4  Could you review the PR https://github.com/appwrite/demos-for-angular/pull/14. Thanks !

[2022-10-03 18:57] sarkartanmay393 commented on #4173
@PineappleIOnic Hello Pineapple, I would like to work on it.

[2022-10-03 20:14] TheSylwio commented on #4187
@PineappleIOnic
Is it necessary to implement the `owly` service support? I'm not sure if I want to provide my personal credit card details to create an Owly account.

[2022-10-03 20:15] letsintegreat commented on #4264
Hey! I would like to work on this issue.

[2022-10-03 20:16] letsintegreat commented on #4263
Hey! I would like to work on this issue, can you please assign it to me?

[2022-10-03 21:15] Miyuru-Bhashitha-amarasiri commented on #3960
Dear @RahulSoni0, I would like to contribute to this issue, can you please assign it to me?

[2022-10-03 21:16] Miyuru-Bhashitha-amarasiri commented on #3952
Dear @LiorBitton , I would like to contribute to this issue, can you please assign it to me?

[2022-10-03 21:17] Miyuru-Bhashitha-amarasiri commented on #3959
Dear @ShubhamSinghgit , I would like to contribute to this issue, can you please assign it to me?

[2022-10-03 21:37] acceptallcookies commented on #4111
Hey @PineappleIOnic, I'd love to work on this 🎸

[2022-10-03 21:38] acceptallcookies commented on #4144
Hey @PineappleIOnic, I'd love to work on this 🎸

[2022-10-03 22:08] stnguyen90 commented on #4268
@vishnus17, thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-03 22:10] unrealsoul007 commented on #4147
This looks cool! Can you assign this to me?

[2022-10-03 22:11] stnguyen90 commented on #4267
@DevTomilola-OS, sounds good! Feel free to comment on another issue once you've completed one of the ones you're currently working on 😄

[2022-10-03 22:11] unrealsoul007 commented on #4125
This looks cool! Can you assign this to me?

[2022-10-03 22:12] unrealsoul007 commented on #4084
This looks cool! Can you assign this to me?

[2022-10-03 22:13] unrealsoul007 commented on #4114
This looks cool! Can you assign this to me?

[2022-10-03 22:16] stnguyen90 commented on #4265
@aparna2071, thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-03 22:23] stnguyen90 commented on #4264
@czlucius, thanks for your interest! 🙏 Happy hacking! 🎃

@SanjayDevTech, we're assigning people on a first come first serve basis. If @czlucius isn't able to complete this issue, well reassign accordingly. In the meantime, you can find another hacktoberfest issue via our [website](https://hacktoberfest.appwrite.io/).

[2022-10-03 22:24] stnguyen90 commented on #4263
@letsintegreat, thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-03 22:31] stnguyen90 commented on #4260
@loganSims, thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-03 22:32] xinkin commented on #4276
Hey,  I have been learning flutter for the last few months, would love to contribute in this project, can i be assigned to it

[2022-10-03 22:33] stnguyen90 commented on #4258
@Asmit2952, thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-03 22:34] stnguyen90 commented on #4250
@leonyangela, thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-03 22:35] stnguyen90 commented on #4247
@AyushChamoli961, thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-03 22:36] stnguyen90 commented on #4239
@yanina-nas, thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-03 22:37] stnguyen90 commented on #4225
@SanjayDevTech, thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-03 22:39] stnguyen90 commented on #4224
@VoidCupboard, thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-03 23:21] HelixHEX commented on #4253
Hi, can I work on this?

[2022-10-03 23:52] tessamero commented on #4253
Yes @HelixHEX, as long as you follow the steps above, you should be good to go!

[2022-10-04 00:51] r-dev-limited commented on #4054
That one is feature request, after release of 1.0, thats is more like a bug now. I dont see it being even mentioned, I can partially understand it for dart functions, its not as common. But node, there are plenty private packages / private forks.

[2022-10-04 01:24] partik03 commented on #4133
@PineappleIOnic I would love to implement this

[2022-10-04 01:47] sudiptog81 commented on #4189
Taking this on, please assign it to me if that's okay! :smile:

[2022-10-04 01:47] sudiptog81 commented on #4178
Taking this on, please assign it to me if that's okay! :smile:

[2022-10-04 01:47] tessamero commented on #4226
What would be interesting is a tutorial on using appwrite and hugo to create a simple business consultant website. Many people are trying to start freelancing and a tutorial on how they can make their business site would be used by many :)

[2022-10-04 01:51] tessamero commented on #4276
@xinkin , we're assigning people on a first come first serve basis. If @detronetdip isn't able to complete this issue, we will reassign it accordingly. In the meantime, you can find another hacktoberfest issue via our [website](https://hacktoberfest.appwrite.io/).

[2022-10-04 02:45] tessamero commented on #4214
@AyushChamoli961, Looks like you have an issue assigned to you already. We request that you complete that before requesting assignments on new ones.

[2022-10-04 02:50] tessamero commented on #4187
@TheSylwio , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-04 02:53] tessamero commented on #4178
@sudiptog81 ,  thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-04 02:56] tessamero commented on #4144
@acceptallcookies , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-04 02:59] tessamero commented on #4147
@unrealsoul007 , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-04 03:02] tessamero commented on #4133
@partik03 , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-04 03:04] tessamero commented on #4125
@unrealsoul007  , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-04 03:05] tessamero commented on #4153
@Sukriti-m , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-04 03:07] tessamero commented on #4122
@eigengravy Looks like you have some issues assigned to you already. We request you to complete those before requesting assignments on new ones. Also, please consider picking a different type of issue so other contributors can try this one.

[2022-10-04 03:08] tessamero commented on #4120
@codespirit7 , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-04 03:11] tessamero commented on #4111
@acceptallcookies , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-04 03:12] tessamero commented on #4092
@KingFire25 , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-04 03:16] tessamero commented on #4015
@AyushChamoli961 , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-04 03:17] tessamero commented on #4084
@unrealsoul007 Looks like you have some issues assigned to you already. We request you to complete those before requesting assignments on new ones. Also, please consider picking a different type of issue so other contributors can try this one.

[2022-10-04 03:18] tessamero commented on #4081
@ShahzaibJutt , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-04 03:19] tessamero commented on #4079
@Sukriti-m , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-04 03:21] tessamero commented on #4001
@NightHack36 Looks like you have some issues assigned to you already. We request you to complete those before requesting assignments on new ones. Also, please consider picking a different type of issue so other contributors can try this one.

[2022-10-04 03:21] tessamero commented on #3999
@NightHack36 Looks like you have some issues assigned to you already. We request you to complete those before requesting assignments on new ones. Also, please consider picking a different type of issue so other contributors can try this one.

[2022-10-04 03:22] tessamero commented on #3994
@NightHack36 Looks like you have some issues assigned to you already. We request you to complete those before requesting assignments on new ones. Also, please consider picking a different type of issue so other contributors can try this one.

[2022-10-04 03:23] tessamero commented on #3977
@techytushar , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-04 03:25] tessamero commented on #3969
@exclusionV2 We decided to allow anyone to work on this issue. All of you can start working on your own version of Importing ButterCMS Users :-)

[2022-10-04 03:44] ghoshnirmalya commented on #4233
I would like to work on this issue.

[2022-10-04 03:58] czlucius commented on #4264
@stnguyen90
May I ask, this change only requires us to update the Appwrite version to 1.0 right?
Hence, I assume a gradle dependency version change is all that's needed?
If not, what else do I need to add?

[2022-10-04 04:02] stnguyen90 commented on #4264
@czlucius, there are breaking changes with latest SDK, so you would need to fix the app to ensure it still works.

[2022-10-04 04:10] czlucius commented on #4264
Thanks
I did notice them when building the project
Will go investigate them soon

[2022-10-04 04:10] Sooraj-s-98 commented on #4267
@stnguyen90 I would like to work on this too, kindly assign this to me.

[2022-10-04 04:18] chirag-ghosh commented on #4272
@Meldiron can you please check the PR ?

[2022-10-04 04:42] stnguyen90 commented on #4191
@Pooja444, thanks for your interest! 🙏 Happy hacking!

You can go ahead and make a `java` folder (convention is very important when you're jumping into an existing codebase. If you look at existing folders, you'll see they're all lowercase).

Yes you can start with those templates. Nice resourcefulness looking through for samples!

[2022-10-04 05:07] ElectraPort commented on #3926
Team, I know you're a startup and trying to move fast but please take some time to stop adding features and just fix your documentation? I've wasted hours now on bad documentation for "working" product.

In this case, your docs at [your documentation site](https://appwrite.io/docs/databases#querying-documents) say to use a pattern such as:

[code]

but to get it working in server-side Node.js (ES6

[2022-10-04 05:13] stnguyen90 commented on #3926
@ElectraPort, for Appwrite version 1.0.x, the documentation is correct. If your second example worked, you may have been using the incorrect version of the SDK with your version of Appwrite.

If you're still having troubles, feel free to reach out on [Discord](https://appwrite.io/discord).

[2022-10-04 05:31] kritikash18 commented on #4098
Hi @PineappleIOnic, can you please assign me this issue?

[2022-10-04 05:33] ElectraPort commented on #3926
For the future reader, while there was an outage in documentation and it cost me some hours in searching between this and an issue with Storage and the InputFile object, the following are true:
- We signed up for a "beta" by installing a v0.x product;
- We ignored the suggestion to upgrade to v1.0x when it came out;
- Look at the elapsed time between my original post and now. I already upgraded ou

[2022-10-04 05:33] vini-brito commented on #520
All right, is this being tracked at the projects page? I looked for it there but could not find any mention :/

[2022-10-04 05:49] thefool76 commented on #4008
@PineappleIOnic ok that means everyone can PR on this issue? there is no longer a criteria ?

[2022-10-04 05:50] Shrey-Nahar commented on #3955
@stnguyen90
Sorry !! due to some issues I will not be able to complete this task . Please assign to someone else..

[2022-10-04 05:51] czlucius commented on #4264
Hi @stnguyen90
May I get a sample of the response object in v0.0.0?
Currently, Accounts uses an `Account` object, but long before, it used a `Response` object.

https://github.com/appwrite/sdk-for-android/blob/7644a1f952d767b1a8b750a2f19e4ff694fc5262/library/src/main/java/io/appwrite/services/Account.kt#L66

https://github.com/appwrite/sdk-for-android/blob/d5874c38a8807652e3515f16ca3dc6f7199d099c/

[2022-10-04 05:53] stnguyen90 commented on #520
@vini-brito, I think we tried to use the GitHub projects but it didn't quite work out for us. It would be best to just follow this issue for updates.

[2022-10-04 05:55] letsintegreat commented on #4184
Hey! I would like to work on this issue. Could you please assign it to me?

[2022-10-04 05:57] stnguyen90 commented on #4264
@czlucius, what do you mean 0.0.0? Do you mean 1.0.x? I suggest you spin up an instance of Appwrite so you can see the response yourself.

[2022-10-04 06:15] xinkin commented on #4184
Hey, I have been learning Flutter recently, have experience in Dart and Docker, would love to contribute here.
Can I be assigned to this.

[2022-10-04 06:17] Ayushsingh07 opened #4283 "HOW TO MAKE YOUR FIRST PR IN APPWRITE REPO???"
### 💭 Description

HOW TO MAKE YOUR FIRST PR IN APPWRITE REPO???

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.com/appwrite/appwrite/blob/HEAD/CODE_OF_CONDUCT.md)

[2022-10-04 06:22] Meldiron commented on #4184
@letsintegreat , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-04 06:23] Meldiron commented on #4184
@xinkin , we're assigning people on a first come first serve basis. If @letsintegreat isn't able to complete this issue, we'll reassign accordingly. In the meantime, you can find another hacktoberfest issue via our [website](https://hacktoberfest.appwrite.io/).

[2022-10-04 06:24] Meldiron commented on #3955
@Shrey-Nahar I have un-assigned you. Feel free to pick up a different one 😇

[2022-10-04 06:26] Meldiron commented on #4008
@thefool76 All PRs should follow the `Requirements` mentioned in the issue. With that said, yes, anyone can work on this issue, and multiple people can work on it separately. In the end, we all have different writing styles, and there is no harm in having multiple articles on the same topic.  Don't worry, you can continue working on this.

[2022-10-04 06:27] Meldiron commented on #4098
@kritikash18 , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-04 06:29] ppap1771 commented on #4177
Hey I would love to work on this issue.

[2022-10-04 06:30] Meldiron commented on #4233
@ghoshnirmalya Thanks for letting us know, you can go ahead and work on the issue 😇

[2022-10-04 06:31] KingFire25 commented on #4092
Will the input be a JSON or CSV file?

[2022-10-04 06:32] Meldiron commented on #4092
@KingFire25 Hey there 👋 Please use JSON format with both input `req.payload` and output `req.json()`. You can find expected values under `Function Details` title in the description of the issue.

[2022-10-04 06:32] thefool76 commented on #4008
Thanks for clarifying it.

[2022-10-04 06:35] Meldiron commented on #4177
@dejmedus , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-04 06:35] Meldiron commented on #4177
@ppap1771 , we're assigning people on a first come first serve basis. If @XYZ isn't able to complete this issue, we'll reassign accordingly. In the meantime, you can find another hacktoberfest issue via our [website](https://hacktoberfest.appwrite.io/).

[2022-10-04 06:35] Meldiron commented on #4189
@sudiptog81 , looks like you have some issues assigned to you already. We request you to complete those before requesting assignments on new ones. Also, please consider picking a different type of issue so other contributors can try this one.

[2022-10-04 06:36] Ishika414 commented on #4194
I would like to work on this issue.

[2022-10-04 06:36] Meldiron commented on #4114
@unrealsoul007 , looks like you have some issues assigned to you already. We request you to complete those before requesting assignments on new ones. Also, please consider picking a different type of issue so other contributors can try this one.

[2022-10-04 06:37] Meldiron commented on #3959
@Miyuru-Bhashitha-amarasiri , we're assigning people on a first come first serve basis. If @ShubhamSinghgit  isn't able to complete this issue, we'll reassign accordingly. In the meantime, you can find another hacktoberfest issue via our [website](https://hacktoberfest.appwrite.io/).

[2022-10-04 06:37] Meldiron commented on #3952
@Miyuru-Bhashitha-amarasiri , we're assigning people on a first come first serve basis. If @LiorBitton  isn't able to complete this issue, we'll reassign accordingly. In the meantime, you can find another hacktoberfest issue via our [website](https://hacktoberfest.appwrite.io/).

[2022-10-04 06:38] ppap1771 commented on #4177
Ok sure.

[2022-10-04 06:38] Meldiron commented on #3960
@Miyuru-Bhashitha-amarasiri , we're assigning people on a first come first serve basis. If @RahulSoni0  isn't able to complete this issue, we'll reassign accordingly. In the meantime, you can find another hacktoberfest issue via our [website](https://hacktoberfest.appwrite.io/).

[2022-10-04 06:38] Meldiron commented on #4173
@sarkartanmay393 , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-04 06:41] Meldiron commented on #3956
@Rinshin-Jalal Regarding Discord, we meant webhooks, correct. Regarding Twitter, what we had in mind was creating a tweet. Just like one of those typical Twitter bots that send a tweet programmatically.

[2022-10-04 06:41] Meldiron commented on #4194
@Ishika414 Thanks for letting us know. Please go ahead and work on the issue 😇

[2022-10-04 06:45] RedHeadphone commented on #4128
I would like to contribute

[2022-10-04 06:46] Meldiron commented on #4032
@Rinshin-Jalal I see now, great catch! We will tackle this, thanks.

[2022-10-04 06:46] Rinshin-Jalal commented on #3956
@Meldiron OK
It is easier to do a tweet bot than a twitter DM bot!
thanks👍‍

[2022-10-04 06:49] Rinshin-Jalal commented on #4225
This is repeatation  of #4224

#4225 = #4224

[2022-10-04 06:49] Meldiron commented on #4192
@PGautam27 , thanks for your interest! 🙏 Happy hacking! 🎃

The easiest way to run a function is to deploy it to Appwrite as Appwrite Function. Alternatively, you could use Open Runtimes to build the code, start HTTP server from it, and send a request to execute it. All documented here: https://github.com/open-runtimes/open-runtimes/tree/main/runtimes/kotlin-1.6#usage

[2022-10-04 06:50] akankshsinhaa commented on #4252
Hey, I'd like to work on this. Let me know if there are some resources that might be useful for the same.

[2022-10-04 06:52] sudiptog81 commented on #4189
Sure! No problems.

[2022-10-04 06:53] Meldiron commented on #4283
Hey there 👋 Please check out our [website](https://hacktoberfest.appwrite.io/) to find an issue you would like to work on.
Regarding making a PR, the process is as follows:
- Fork a repository
- Clone the fork
- Create a new branch on the fork
- Commit changes to the branch
- Push branch
- Create pull request

There are many resources online for beginners as well as experienced developers.

[2022-10-04 06:54] nabroleonx commented on #4166
I will work on this issue, can you assign it to me?

[2022-10-04 06:55] Meldiron commented on #4252
@akankshsinhaa Thanks for letting us know 😇 You can go ahead and start working on this. The best resource would be official [PReact website](https://preactjs.com/).

[2022-10-04 06:55] Meldiron commented on #4128
@RedHeadphone , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-04 06:58] Meldiron commented on #4166
@nabroleonx , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-04 07:04] Goheljay commented on #4091
Hi @Meldiron , can I use the Fpdf Library to generate a pdf?
[Fpdf website](http://www.fpdf.org/)

[2022-10-04 07:04] Meldiron commented on #4003
@shtelzerartem , looks like you have some issues assigned to you already. We request you to complete those before requesting assignments on new ones. Also, please consider picking a different type of issue so other contributors can try this one.

[2022-10-04 07:05] Meldiron commented on #4004
@Asmit2952 We would prefer the owner of the app to write an article for it.

[2022-10-04 07:08] Meldiron commented on #3352
@doublevcodes That is correct 😇 You can take a look at this Hacktoberfest issue that we created, it's on the same topic but different adapter. You can use it's description to learn more: https://github.com/appwrite/appwrite/issues/3991

[2022-10-04 07:09] Goheljay commented on #4095
Hi @Meldiron , can I use the pdfBox Library to generate a pdf?
[pdfBox website](https://pdfbox.apache.org/)

[2022-10-04 07:09] Meldiron commented on #3957
@NightHack36 , we're assigning people on a first come first serve basis. If @AlgyJr  isn't able to complete this issue, we'll reassign accordingly. In the meantime, you can find another hacktoberfest issue via our [website](https://hacktoberfest.appwrite.io/).

[2022-10-04 07:10] Meldiron commented on #3996
@Luke-Shepp , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-04 07:13] Meldiron commented on #3981
@TheOjasSingh you could follow the [tutorial](https://github.com/utopia-php/database/blob/main/docs/add-new-adapter.md) or look at [MariaDB adapter](https://github.com/utopia-php/database/blob/main/src/Database/Adapter/MariaDB.php).

[2022-10-04 07:14] Meldiron commented on #4091
@Goheljay Yes, you can 😇 Feel free to use any library of your choice. Whatever works best for you.

[2022-10-04 07:14] Meldiron commented on #3979
@SuperMohit , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-04 07:15] Meldiron commented on #4095
@Goheljay Hey there 👋 You can use any library of your choice to generate the PDF. You like it? You use it 😎

[2022-10-04 07:20] Meldiron commented on #4027
Hey guys, small technical hiccup. By mistake, we created 2 issues for the same topic. I am closing this issue, but don't worry! All of you can continue working on this. Please write all further comments on this issue:

https://github.com/appwrite/appwrite/issues/4032

[2022-10-04 07:20] #4027 closed

[2022-10-04 08:04] zadilkhwaja commented on #4155
I'm interested pls assign!

[2022-10-04 08:30] RizkyRajitha commented on #4246
hi @christyjacob4  i would like to work on this

[2022-10-04 08:36] Aragur commented on #4075
@PineappleIOnic I would like to do this task, could you assign me please?

[2022-10-04 08:42] MoskalykA commented on #4186
I have finished implementing the first two providers however I don't understand how to get an ow.ly api key?

[2022-10-04 08:45] shtelzerartem commented on #4003
@Meldiron actually I'm waiting for them to be reviewed, but yes, you're right I will look into another type of issues. Thanks!

[2022-10-04 08:45] MoskalykA commented on #4119
I would also like to take this

[2022-10-04 08:53] hardiksachan commented on #4085
Hey there! I'd like to work on this

[2022-10-04 09:30] xinkin commented on #4077
Hey, I have been learning Flutter recently and have experience in Dart and Docker, would love to contribute to this.
Can I be assigned this.

[2022-10-04 09:30] letsintegreat commented on #4184
@Meldiron I am done with bitly and tinyurl parts. For the owly part, it seems its API is not free to use, as mentioned here in the docs:
![image](https://user-images.githubusercontent.com/37345795/193785488-dc1d7ac4-b066-4d44-8d77-eae76cec090b.png)

Should I skip it?

[2022-10-04 10:20] Rinshin-Jalal commented on #3956
@Meldiron

## I have a small doubt

How to post to the open runtimes function?

[code]

I run this command
It is working

## But when I tried to send a post request to port `3000`
[code]

It returns
[code]

What is the issue??

[2022-10-04 10:25] Aragur commented on #4087
@PineappleIOnic I would like to do this task, could you assign me please?

[2022-10-04 10:28] Meldiron commented on #4246
@RizkyRajitha Thanks for letting us know 😇 You can go ahead and start working on this.

[2022-10-04 10:29] Meldiron commented on #4075
@Aragur , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-04 10:47] partik03 commented on #4133
@tessamero I do not have the api keys for googlemaps or openstreets so kindly tell me how to actually proceed with this work

[2022-10-04 10:58] PineappleIOnic commented on #3956
When you send the request, make sure you set the `X-Internal-Challenge` header to `secret-key`.

[2022-10-04 11:00] PineappleIOnic commented on #4087
@Aragur, thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-04 11:05] Meldiron commented on #4186
@MoskalykA We investigated and noticed this provider is oriented toward businesses. Due to this, it looks like they don't have a free plan that you could test your implementation on.

I will update the issue description. Please ignore Ow.ly, you don't need to implement this adapter.

[2022-10-04 11:05] Meldiron commented on #4184
@letsintegreat We investigated and noticed this provider is oriented toward businesses. Due to this, it looks like they don't have a free plan that you could test your implementation on.

I will update the issue description. Please ignore Ow.ly, you don't need to implement this adapter.

[2022-10-04 11:07] Meldiron commented on #4085
@hardiksachan Happy to see participating in Hacktoberfest this year again 😇

Assigned to you, happy hacking 🎃

[2022-10-04 11:09] Meldiron commented on #4192
I updated the issue description. We decided to remove `ow.ly` from the list of providers you need to support. Please only work on `bitly` and `tinyurl` support.

[2022-10-04 11:09] Meldiron commented on #4191
I updated the issue description. We decided to remove `ow.ly` from the list of providers you need to support. Please only work on `bitly` and `tinyurl` support.

[2022-10-04 11:09] Meldiron commented on #4190
I updated the issue description. We decided to remove `ow.ly` from the list of providers you need to support. Please only work on `bitly` and `tinyurl` support.

[2022-10-04 11:10] Meldiron commented on #4188
I updated the issue description. We decided to remove `ow.ly` from the list of providers you need to support. Please only work on `bitly` and `tinyurl` support.

[2022-10-04 11:10] Rinshin-Jalal commented on #3956
Already done that!

[code]

[2022-10-04 11:10] Meldiron commented on #4187
I updated the issue description. We decided to remove `ow.ly` from the list of providers you need to support. Please only work on `bitly` and `tinyurl` support.

[2022-10-04 11:10] Meldiron commented on #4185
I updated the issue description. We decided to remove `ow.ly` from the list of providers you need to support. Please only work on `bitly` and `tinyurl` support.

[2022-10-04 11:11] Meldiron commented on #4119
@MoskalykA , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-04 11:11] Meldiron commented on #4077
@xinkin , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-04 11:21] PineappleIOnic commented on #4133
Google Maps requires a GCP account with billing enabled, however looking into openstreets I did find this: https://wiki.openstreetmap.org/wiki/Static_map_images which could be of help to you.

[2022-10-04 11:21] letsintegreat commented on #4184
@Meldiron Thanks for the update. I have already opened a PR implementing `bitly` and `tinyurl`. Kindly review whenever time permits.

[2022-10-04 11:21] PGautam27 commented on #4192
Sure I'll do it. It'll take me some time. But I'll finish it up.😁

[2022-10-04 11:34] PineappleIOnic commented on #3956
Headers should be set in the actual headers, not the the json body.
![image](https://user-images.githubusercontent.com/26739219/193809708-8354c520-eb56-45ed-b9a0-8798842afb6f.png)

[2022-10-04 11:41] Rinshin-Jalal commented on #3956
What about the envs?

[2022-10-04 12:41] boydbloemsma commented on #4209
Can I give this a shot?

[2022-10-04 13:09] PineappleIOnic commented on #3956
Make sure you don't have that trailing comma at the end of the payload block, as that'll make it invalid JSON. Otherwise, that should be good.

[2022-10-04 13:11] PineappleIOnic commented on #4166
@nabroleonx Do you no longer want to do this issue?

[2022-10-04 13:11] PineappleIOnic commented on #4209
@boydbloemsma, thanks for your interest! 🙏 Happy hacking!

[2022-10-04 13:36] zwarag commented on #4238
@christyjacob4 do you really mean AngularJS (https://angularjs.org/) or would an Angular (https://angular.io) application also do the trick?

Note: AngularJS is reffered to in the Angular community as the Angular v1. This version is not maintained anymore.

[2022-10-04 13:38] Rinshin-Jalal commented on #3956
Ok but it returns a  error

[code]

but when I remove the code `JSON.parse`
from the example code
[code]

[2022-10-04 13:44] ptisserand commented on #4076
Hello, could I work on this issue?

[2022-10-04 13:45] PineappleIOnic commented on #3956
You shouldn't need to use JSON.parse, The server within the runtime does it for you. You just need to access req.payload directly

[2022-10-04 13:55] codercatdev commented on #4192
Awesome thanks so much @PGautam27! If you need any help please jump on https://appwrite.io/discord

[2022-10-04 14:02] nabroleonx commented on #4166
@PineappleIOnic I tried to make it work and I was able to do it with google speech recognition using speech recognition API, but I couldn't get API keys for azure and aws that is why I removed the assignment. I am still trying to solve the issue, but I didn't want to stop anyone from contributing in case I couldn't get the API keys or anything related to that. That's why.

[2022-10-04 14:04] SanjayDevTech commented on #4181
I would like to contribute to this issue.

[2022-10-04 14:09] codercatdev commented on #4184
@letsintegreat issue https://github.com/open-runtimes/examples/pull/34 looks like it solves all of this, thank you so much!!

[2022-10-04 14:14] Rinshin-Jalal commented on #3956
Ok, it was one of the examples from the openruntimes/exampes

[2022-10-04 14:28] PineappleIOnic commented on #3956
I'll update those examples soon

[2022-10-04 14:35] AstroOrbis commented on #4122
Hi, I'd like to try my hand at this! Could I be assigned?

[2022-10-04 14:36] PineappleIOnic commented on #4166
Alright, No Worries. Thank you for clearing that up for us :)

[2022-10-04 14:37] paragkatoch commented on #4274
Hi,  I would love to work on this. Can you assign me to this

[2022-10-04 14:37] Pjha72 commented on #4199
I would like to work on this too, kindly assign this to me.

[2022-10-04 14:39] paragkatoch commented on #4271
I would like to work on this issue. Can you assign this to me

[2022-10-04 14:42] anushagupta1312 commented on #4274
Hey I would like to work on this issue. Can you please assign me this?

[2022-10-04 14:42] devtayade commented on #4259
can you please assign me this task

[2022-10-04 14:43] kashif-raza2019 commented on #4258
I would like to add new features to this, please would you assign me this task. @Meldiron @stnguyen90 @christyjacob4
Thanks and Regards

[2022-10-04 14:43] devtayade commented on #4197
can you please assign me this task ?

[2022-10-04 14:44] anushagupta1312 commented on #4262
Hey I would like to work on this issue. Can you please assign me this?

[2022-10-04 14:44] Asmit2952 commented on #4258
Hey, I'm working on this issue. Can you please find another one?

[2022-10-04 14:45] devtayade commented on #4151
can you please assign me this task ?

[2022-10-04 14:46] camperjett commented on #4078
Hi @PineappleIOnic 😃 Can I take up this issue?

[2022-10-04 14:46] anushagupta1312 commented on #4191
Hey I would like to work on this issue. Can you please assign me this?

[2022-10-04 14:47] anushagupta1312 commented on #4180
Hey I would like to work on this issue. Can you please assign me this?

[2022-10-04 14:47] anushagupta1312 commented on #4169
Hey I would like to work on this issue. Can you please assign me this?

[2022-10-04 14:48] MaheshAravindV commented on #3975
Hey, can I work on this?
I have used docker and docker compose and I feel like I can read up the rest.

[2022-10-04 14:48] KoolAbhi03 commented on #4140
@PineappleIOnic  i want to work on this issue

[2022-10-04 14:48] letsintegreat commented on #4184
@codercatdev Sure! I am looking forward to contributing to more of those issues.

Also, I think there has been a mistake - you were supposed to add the `hacktoberfest-accepted` label to the [PR}(https://github.com/open-runtimes/examples/pull/34) instead of the issue. That is how hacktoberfest detects that PR has been accepted.

[2022-10-04 14:48] anushagupta1312 commented on #4161
Hey I would like to work on this issue. Can you please assign me this?

[2022-10-04 14:48] anushagupta1312 commented on #4158
Hey I would like to work on this issue. Can you please assign me this?

[2022-10-04 14:48] Ash-KODES commented on #4200
Hello,I would like for this issue.

[2022-10-04 14:49] anushagupta1312 commented on #4136
Hey I would like to work on this issue. Can you please assign me this?

[2022-10-04 14:49] anushagupta1312 commented on #4114
Hey I would like to work on this issue. Can you please assign me this?

[2022-10-04 14:49] darkblade2090 commented on #3954
Hello @christyjacob4 , i would like to contribute in this.

[2022-10-04 14:50] VoidCupboard commented on #4259
Hi @devtayade! I have actually asked for the issue, and already opened up the PR for the same 😅

[2022-10-04 14:50] nik132-eng commented on #4158
if this issue is not assign to anyone I want to work on this issue. can you please assign me this issue?

[2022-10-04 14:50] Harindulk commented on #4086
I want to work on this issue can you please assign me and guide me?

[2022-10-04 14:50] camperjett commented on #4089
Hi @PineappleIOnic 😀 Can I take up this issue?

[2022-10-04 14:51] nik132-eng commented on #4103
if this issue is not assign to anyone I want to work on this issue. can you please assign me this issue?

[2022-10-04 14:52] koolgax99 commented on #3976
Hi @christyjacob4, i would like to work on this issue. Can you assign it to me?

[2022-10-04 14:53] devtayade commented on #4096
@PineappleIOnic hey i really want to work on this issue. this can be my first step towards open source. can you please assign me this issue ?

[2022-10-04 14:54] Aryanshh commented on #4276
Please Assign the work to me

[2022-10-04 14:54] koolgax99 commented on #4074
hi @PineappleIOnic can you please assign me this issue?

[2022-10-04 14:54] darkblade2090 commented on #4175
Hello @PineappleIOnic, i would like to contribute in this.

[2022-10-04 14:55] devtayade commented on #4088
@PineappleIOnic hey i really want to work on this issue. i have good experience in dart & flutter. this can be my first step towards open source. can you please assign me this issue ?

[2022-10-04 14:55] devtayade commented on #4107
@PineappleIOnic hey i really want to work on this issue. i have good experience in dart. this can be my first step towards open source. can you please assign me this issue ?

[2022-10-04 14:56] devtayade commented on #4140
@PineappleIOnic hey i really want to work on this issue. this can be my first step towards open source. can you please assign me this issue ?

[2022-10-04 14:57] darkblade2090 commented on #4142
Hello @PineappleIOnic  i would like to contribute in this.

[2022-10-04 14:57] devtayade commented on #4259
@VoidCupboard okay, can you suggest me some beginner friendly issues ? #newtoopensource

[2022-10-04 14:58] sohilkhanduja commented on #4196
Hi, I would like to work on this issue. Please assign it to me @PineappleIOnic.

[2022-10-04 14:58] devtayade commented on #4158
@PineappleIOnic hey i really want to work on this issue. this can be my first step towards open source. can you please assign me this issue ?

[2022-10-04 14:59] darkblade2090 commented on #4131
Hello @PineappleIOnic, i would like to contribute in this.

[2022-10-04 15:01] Platiplus commented on #4189
Hi @Meldiron can I take this one?

[2022-10-04 15:04] anushagupta1312 commented on #4188
Hey I would like to work on this issue. Can you please assign me this?

[2022-10-04 15:04] anushagupta1312 commented on #4177
Hey I would like to work on this issue. Can you please assign me this?

[2022-10-04 15:05] anushagupta1312 commented on #4166
Hey I would like to work on this issue. Can you please assign me this?

[2022-10-04 15:05] anushagupta1312 commented on #4155
Hey I would like to work on this issue. Can you please assign me this?

[2022-10-04 15:06] anushagupta1312 commented on #4147
Hey I would like to work on this issue. Can you please assign me this?

[2022-10-04 15:06] anushagupta1312 commented on #4144
Hey I would like to work on this issue. Can you please assign me this?

[2022-10-04 15:07] zadilkhwaja commented on #4155
Hi I've already been assigned this issue. Please checkout there are a lot of other issues open. Thanks!

[2022-10-04 15:07] anushagupta1312 commented on #4133
Hey I would like to work on this issue. Can you please assign me this?

[2022-10-04 15:07] anushagupta1312 commented on #4128
Hey I would like to work on this issue. Can you please assign me this?

[2022-10-04 15:08] PineappleIOnic commented on #4158
@anushagupta1312 thanks for your interest! 🙏 Happy hacking!

[2022-10-04 15:08] anushagupta1312 commented on #4125
Hey I would like to work on this issue. Can you please assign me this?

[2022-10-04 15:08] zadilkhwaja commented on #4155
Thanks I'm working on it!

[2022-10-04 15:08] anushagupta1312 commented on #4122
Hey I would like to work on this issue. Can you please assign me this?

[2022-10-04 15:09] PineappleIOnic commented on #4196
@sohilkhanduja thanks for your interest! 🙏 Happy hacking!

[2022-10-04 15:09] ranodeepbanerjee commented on #4203
I'm working on it.

[2022-10-04 15:09] anushagupta1312 commented on #4100
Hey I would like to work on this issue. Can you please assign me this?

[2022-10-04 15:10] anushagupta1312 commented on #4095
Hey I would like to work on this issue. Can you please assign me this?

[2022-10-04 15:10] anushagupta1312 commented on #4092
Hey I would like to work on this issue. Can you please assign me this?

[2022-10-04 15:10] anushagupta1312 commented on #4084
Hey I would like to work on this issue. Can you please assign me this?

[2022-10-04 15:11] anushagupta1312 commented on #4081
Hey I would like to work on this issue. Can you please assign me this?

[2022-10-04 15:11] mkubdev commented on #4238
@codercatdev Hello 👋🏻 I would like to be assigned to this task if possible! I can do this issue with the latest Angular version (14).

[2022-10-04 15:12] ranodeepbanerjee commented on #4191
Please assign this to me. Thanks

[2022-10-04 15:12] izontm commented on #4251
Hey, I'd like to work on this.

[2022-10-04 15:13] anushagupta1312 commented on #4034
Hey I would like to work on this issue. Can you please assign me this?

[2022-10-04 15:13] anushagupta1312 commented on #4035
Hey I would like to work on this issue. Can you please assign me this?

[2022-10-04 15:13] omjikush09 commented on #4274
Hey @Meldiron  created a pull request- https://github.com/appwrite/demos-for-react/pull/16

[2022-10-04 15:13] MaheshAravindV commented on #3978
Hey! Can I work on this?
I have used Docker and Docker compose before and I would like to learn Hbase

[2022-10-04 15:13] anushagupta1312 commented on #4036
Hey I would like to work on this issue. Can you please assign me this?

[2022-10-04 15:14] codercatdev commented on #4024
@Sneha421 I would suggest jumping on the issue we have for that 😃

https://github.com/appwrite/appwrite/issues/4286

[2022-10-04 15:14] anushagupta1312 commented on #4020
Hey I would like to work on this issue. Can you please assign me this?

[2022-10-04 15:15] debidattasuryaprakash commented on #4249
@christyjacob4 Hey I would like to work on this issue

[2022-10-04 15:16] AniketTewari commented on #4169
Hello sir, I have completed the task...kindly assign to me this issue.

[2022-10-04 15:16] VoidCupboard commented on #4259
You can give this one a shot - https://github.com/appwrite/appwrite/issues/4220, though you must learn Gatsbay before that.
With that, according to Appwrite's page, you can create tutorials and blog posts about Appwrite (Like you can show off a demo of creating an app using Appwrite (it's really simple + easy to use if you didnt know) with your favorite web framework).

All the best! It's not good

[2022-10-04 15:17] anushagupta1312 commented on #4286
Hey I would like to work on this issue. Can you please assign me this?

[2022-10-04 15:18] Rinshin-Jalal commented on #4286
This issue is open for everyone and we want as many quality PRs as our community can create

@anushagupta1312

[2022-10-04 15:19] anushagupta1312 commented on #4155
Sure

[2022-10-04 15:19] devtayade commented on #4259
@VoidCupboard Thank you

[2022-10-04 15:20] devtayade commented on #4220
hey i really want to work on this issue. this can be my first step towards open source. can you please assign me this issue ?

[2022-10-04 15:20] Pooja444 commented on #4191
@ranodeepbanerjee @anushagupta1312 I was already assigned this issue yesterday and have started working on it

[2022-10-04 15:20] eulercb commented on #4193
Hello guys! 👋 Could you assign this issue to me? 🙌

[2022-10-04 15:23] izontm commented on #4198
can you please assign me this task ?

[2022-10-04 15:25] kymppi commented on #4244
Hey, I can try this :P

[2022-10-04 15:27] nik132-eng commented on #4143
can i get this issue, please?

[2022-10-04 15:29] izontm commented on #4237
I would like to work on this issue.

[2022-10-04 15:31] PRITIPADMA commented on #4248
Hey @christyjacob4 I would like to work on this issue

[2022-10-04 15:31] nabroleonx commented on #4122
@tessamero I have already tried to implement this issue, I was able to do so for `tinypng` but `krakenio` doesn't provide a free plan. Do we have to implement both or is one of them enough considering `krakenio` is premium service.

[2022-10-04 15:33] izontm commented on #4141
I would like to work on this issue.

[2022-10-04 15:35] paras3624 commented on #4144
Hey! Can I contribute to this issue?

[2022-10-04 15:39] FarhanAliRaza commented on #4273
Please assign this to me @Meldiron

[2022-10-04 15:42] FarhanAliRaza commented on #4188
Please assign this to me.

[2022-10-04 15:44] FarhanAliRaza commented on #4108
Please this to me. I want to work on this.

[2022-10-04 15:44] FarhanAliRaza commented on #4100
Please this to me. I want to work on this. I have three years of experience with python

[2022-10-04 15:46] TakshPanchal commented on #4118
Hey, I am quite interested in this issue. I wanted to help.

[2022-10-04 15:48] Add00w commented on #4193
Hello, @PineappleIOnic if @eulercb changes their mind you can assign this to me thanks.

[2022-10-04 15:48] FarhanAliRaza commented on #4244
I am working on this

[2022-10-04 15:48] nik132-eng commented on #4080
can i get this issue?

[2022-10-04 15:49] harshsaini786 commented on #4214
duplicate of #4208

[2022-10-04 15:52] rafaelbubach commented on #4086
Could you guys assign me to this issue?

[2022-10-04 15:56] kashif-raza2019 commented on #4243
I have started working on this project including p5.js as main implementation criteria.
Thanks and Regards

[2022-10-04 15:58] ProgrammerSteve commented on #4217
Can it be ionic react? If so I can try it out.

[2022-10-04 16:02] vasu-1 commented on #4160
Hey @PineappleIOnic !
I want to work on this issue, Can you please assign it to me ?

[2022-10-04 16:08] karan-17 commented on #4276
I want to work and contribute to this issue, can I be assigned this issue?

[2022-10-04 16:10] vasu-1 commented on #4127
Hey @PineappleIOnic !
I want to work on this issue, can you please assign it to me ?

[2022-10-04 16:12] rahulnegi20 commented on #4166
I am interested in this, can I get assigned?

[2022-10-04 16:19] Aadeesh11 commented on #4129
This looks cool, can you assign this to me?

[2022-10-04 16:19] aadyanthaya commented on #4258
Can you assign work to me @christyjacob4

[2022-10-04 16:20] sahil2311sharma commented on #4166
I will work on this issue, can you assign it to me?

[2022-10-04 16:21] Asmit2952 commented on #4258
I'm already working on it @kashif-raza2019 and @aadyanthaya .

[2022-10-04 16:22] kashif-raza2019 commented on #4258
Okay @Asmit2952 I am withdrawing!

[2022-10-04 16:25] sahil2311sharma commented on #4082
I can work on this issue, can you assign it to me ?
I have prior experience in Ruby in Rails, I have experience in creating REST API in rails.

[2022-10-04 16:26] sahil2311sharma commented on #4079
I can work on this issue, can you assign it to me ?
I have prior experience in NODE.js, I have experience in creating REST API in NODE.js.

[2022-10-04 16:28] Clash-ion commented on #4152
hey I would like to work on this issue

[2022-10-04 16:30] stnguyen90 commented on #4233
@ghoshnirmalya would you please comment on https://github.com/appwrite/appwrite/issues/4244 and work against that issue since there's more activity in that issue and this issue seems like a duplicate?

[2022-10-04 16:38] gurpreet1432 commented on #4084
@PineappleIOnic @tessamero Can you please assign this to me. I have already done some work related to this. Thanks

[2022-10-04 16:39] umaraj79 commented on #4234
Hello! Please assign me this task

[2022-10-04 16:41] abhishekdd commented on #4161
I would like to take this up, if still available?

[2022-10-04 16:43] flyingsonu122 commented on #4242
Hi @christyjacob4 , I am working on it.

[2022-10-04 16:44] KIET7UKE commented on #4283
Hey, @Ayushsingh07 I want to work on this issue. Would appreciate it if you assign me.

[2022-10-04 16:47] KIET7UKE commented on #4246
Hey, @christyjacob4 looking forward to working on this issue. Would appreciate it if you assign me.

[2022-10-04 16:49] KIET7UKE commented on #4195
Hey, @PineappleIOnic  looking forward to working on this issue. Would appreciate it if you assign me.

[2022-10-04 16:51] koolgax99 commented on #4132
hii @PineappleIOnic  can you please assign this to me?

[2022-10-04 16:56] KIET7UKE commented on #4194
Hey, @PineappleIOnic  looking forward to working on this issue. Would appreciate it if you assign me.

[2022-10-04 16:56] saikiran76 commented on #4175
Hello @PineappleIOnic , I would like to contribute.

[2022-10-04 16:56] abhishekdd commented on #4172
I would like to take this up or the Java version #4161 , whichever is available.

[2022-10-04 17:00] codercatdev commented on #4184
@letsintegreat thank you, too many tabs open today :D

[2022-10-04 17:02] #4283 closed

[2022-10-04 17:04] koolgax99 commented on #4121
hii @PineappleIOnic can you please assign this issue to me?

[2022-10-04 17:04] SanifKandel commented on #4274
@christyjacob4, Hey I would love to be assigned on this issue. Could you please do that ?

[2022-10-04 17:05] BhavnaMogha commented on #4276
I want to work and contribute to this issue, can I be assigned this issue?

[2022-10-04 17:05] gourab337 commented on #4146
I would like to work on this issue 🦄

[2022-10-04 17:06] Samridhi-98 commented on #4171
Hey @PineappleIOnic, I would like to work on it kindly assign it to me

[2022-10-04 17:06] gagandeepp commented on #4183
Interested,please assign

[2022-10-04 17:06] Sshashank5690 commented on #4232
Hey, @christyjacob4 I would like to work on this.

[2022-10-04 17:07] gagandeepp commented on #4171
Interested please assign

[2022-10-04 17:07] gagandeepp commented on #4160
Interested please assign

[2022-10-04 17:08] gagandeepp commented on #4149
Interested please assign

[2022-10-04 17:08] gourab337 commented on #4083
I would like to work on this issue 👀⚓️

[2022-10-04 17:09] Sshashank5690 commented on #4223
Hey @christyjacob4 can I work on this issue?

[2022-10-04 17:10] gourab337 commented on #4113
I would like to work on this issue @PineappleIOnic 🧙‍♂️

[2022-10-04 17:10] Samridhi-98 commented on #4114
hey @PineappleIOnic, I would like to take this one, kindly assign it to me.

[2022-10-04 17:11] gourab337 commented on #4124
I would like to work on this issue 🦧🎧 @PineappleIOnic

[2022-10-04 17:15] gssandhu143 commented on #4084
@PineappleIOnic @tessamero Can you please assign this to me I have already completed some work related to that. Thanks

[2022-10-04 17:32] Sara-cos commented on #4202
I would like to work on this!

[2022-10-04 17:34] pikami commented on #4105
I'm grabbing this task

[2022-10-04 17:40] tessamero commented on #4276
@Aryanshh , @karan-17 , @zsiecr , we're assigning people on a first come first serve basis. If @detronetdip isn't able to complete this issue, we will reassign it accordingly. In the meantime, you can find another hacktoberfest issue via our [website](https://hacktoberfest.appwrite.io/).

[2022-10-04 17:43] tessamero commented on #4274
@SanifKandel we're assigning people on a first come first serve basis and looks like this one is already assigned and a PR is submitted. In the meantime, you can find other hacktoberfest issue via our [website](https://hacktoberfest.appwrite.io/).

[2022-10-04 17:44] MoskalykA commented on #4119
Here I am again, when I run my function I get this error, is it possible to pass the limit?
![image](https://user-images.githubusercontent.com/100430077/193889474-7c9d7f91-aa7d-4788-9089-5dc826c4da7d.png)

[2022-10-04 17:45] coder-harsh commented on #4008
hi, I want to work on this, please assign me.

[2022-10-04 17:47] Akshay-Rana-Gujjar commented on #3810
@alekspankov I am not able to replicate this issue, I have tried on Nodejs SDK.
Please check below

![image](https://user-images.githubusercontent.com/24373771/193889857-4524cbef-be44-4e60-9aac-7548711eaf09.png)

![image](https://user-images.githubusercontent.com/24373771/193889778-f52a4c3e-e1fe-4665-8660-7879f1310728.png)

[2022-10-04 17:54] Akshay-Rana-Gujjar commented on #3810
I have tried to add same number to other user and I can see the same email error.

[2022-10-04 17:59] srini047 commented on #4024
Hi! I would like to work on `🧑‍🏫 Help Developers by Coding Demo of Appwrite + Telegram (bot)`. The one similar to Discord (bot).

[2022-10-04 18:11] shujathkhan commented on #4253
Hey, since this is unassigned, can I pick this up? As I looking to implement the same in my react-native app, would be happy to create a coding demo of a barebone implementation.

[2022-10-04 18:17] shujathkhan commented on #4240
Hi @christyjacob4, if I don't get assigned this #4253, I would love to try my first game hack with this.

[2022-10-04 18:21] InfiniteVerma commented on #4162
I'd like to work on this.

[2022-10-04 18:29] saksham02112000 commented on #4175
@PineappleIOnic taking this issue, can you please assign this issue to me?

[2022-10-04 18:30] Akshay-Rana-Gujjar commented on #3810
Hi @stnguyen90 I have raise the PR for this issue, could you please check and merge if everything is looking good to you.

https://github.com/appwrite/appwrite/pull/4292

[2022-10-04 18:31] UmarGit commented on #4190
Hey @Meldiron , I would like to write a `generateShortUrl()` function using swift.

[2022-10-04 18:32] saksham02112000 commented on #4079
Hi @PineappleIOnic , Can you please assign  this issue to me

[2022-10-04 18:33] saksham02112000 commented on #4082
Hi @PineappleIOnic , I have worked with ruby and ruby on rails before, Can you please assign this issue to me

[2022-10-04 18:40] Anudeep-313 commented on #4179
I can help in writing a sendHTTPRequest() Function using Swift.
- Assign this issue to me.

[2022-10-04 18:46] Anudeep-313 commented on #4204
I can help in improving Appwrite Logging with Datadog Adapter.
- @christyjacob4 Assign this issue to me.

[2022-10-04 18:47] #3946 closed

[2022-10-04 18:59] polarvoid commented on #3983
Hey @christyjacob4 I would love to work on this. I've worked with Neo4j, and have experience with PHP (though it's been a few years since I've used it last)

[2022-10-04 19:33] shaaslam commented on #4137
@PineappleIOnic I would like to work on this.

[2022-10-04 19:37] Yordaniss commented on #4176
open-runtimes/examples#38

[2022-10-04 19:41] codercatdev commented on #4033
@anushagupta1312 no need for assignment on this one feel free to work on this 🎉

We have updated this issue. We decided to allow anyone to work on this issue.

[2022-10-04 19:42] codercatdev commented on #4034
@anushagupta1312 no need for assignment on this one feel free to work on this 🎉

We have updated this issue. We decided to allow anyone to work on this issue.

[2022-10-04 19:42] codercatdev commented on #4035
@anushagupta1312 no need for assignment on this one feel free to work on this 🎉

We have updated this issue. We decided to allow anyone to work on this issue.

[2022-10-04 19:42] codercatdev commented on #4036
@anushagupta1312 no need for assignment on this one feel free to work on this 🎉

We have updated this issue. We decided to allow anyone to work on this issue.

[2022-10-04 19:52] tessamero commented on #4253
@shujathkhan, Go ahead, you can start work on this issue 😊 This issue is open for everyone and we want as many quality coding demos as our community can create.

[2022-10-04 19:53] tessamero commented on #4251
@izontm , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-04 19:55] tessamero commented on #4249
@debidattasuryaprakash , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-04 19:55] tessamero commented on #4248
@PRITIPADMA , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-04 19:57] tessamero commented on #4246
@KIET7UKE Go ahead, you can start work on this issue 😊 This issue is open for everyone and we'd love to see more code demos with Discord bots using Appwrite.

[2022-10-04 19:58] tessamero commented on #4244
@kymppi and @FarhanAliRaza Go ahead, you both can start work on this issue 😊 This issue is open for everyone and we would love to see more use cases with Astro and Appwrite :)

[2022-10-04 20:00] shaaslam commented on #4137
@PineappleIOnic I would like to work on this issue.

[2022-10-04 20:01] tessamero commented on #4242
@flyingsonu122 , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-04 20:02] tessamero commented on #4240
@shujathkhan since both issues are open to multiple contributors and will remain unassigned, you may work on both.

[2022-10-04 20:03] tessamero commented on #4237
@izontm , thanks for your interest! You may work on the issue🙏 Happy hacking! 🎃

[2022-10-04 20:03] tessamero commented on #4234
@umaraj79 , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-04 20:07] tessamero commented on #4233
@ghoshnirmalya Go ahead, you can start work on this issue 😊 This issue is open for everyone and we'd love more code demos from the community.

Go ahead and comment on https://github.com/appwrite/appwrite/issues/4244 and let us know you are working on it :)

[2022-10-04 20:08] tessamero commented on #4223
@Sshashank5690 , thanks for your interest! You may work on this issue.🙏 Happy hacking! 🎃

[2022-10-04 20:09] tessamero commented on #4220
@devtayade Go ahead, you can start work on this issue 😊 This issue is open for everyone and we love more code demos with different use cases from the community.

[2022-10-04 20:10] tessamero commented on #4217
@ProgrammerSteve Yes that is fine. Go ahead, you can start work on this issue 😊 This issue is open for everyone and we'd love to see more use cases with Ionic and Appwrite.

[2022-10-04 20:12] tessamero commented on #4204
@Anudeep-313 , thanks for your interest! You may work on this.🙏 Happy hacking! 🎃

[2022-10-04 20:12] tessamero commented on #4203
@12-malak , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-04 20:13] D-Anir commented on #4170
Hi, I am interested in working on this issue. Please assign me the tasks.

[2022-10-04 20:14] tessamero commented on #4202
@Sara-cos , thanks for your interest! You may work on this.🙏 Happy hacking! 🎃

[2022-10-04 20:15] tessamero commented on #4199
@Pjha72 , thanks for your interest! You may work on this.🙏 Happy hacking! 🎃

[2022-10-04 20:15] tessamero commented on #4198
@izontm , thanks for your interest! You may work on this.🙏 Happy hacking! 🎃

[2022-10-04 20:15] tessamero commented on #4197
@devtayade , thanks for your interest! You may work on this.🙏 Happy hacking! 🎃

[2022-10-04 20:18] codercatdev commented on #4273
Hey @FarhanAliRaza thank you for your interested ananas-dev has a PR open already.

[2022-10-04 20:25] codercatdev commented on #4271
For now @sakshiisaxena has this issue, please let us know if you are stuck on anything 😄

[2022-10-04 20:28] shiyanshirani commented on #4081
I would love to work on this, assign me if it's not completed.

[2022-10-04 20:28] rdmchr commented on #4106
Haha yeah, I had a blast back then so I'm back for more 😉
I finished that PR, but I messed up my commit history, let me know if that's an issue.
Also, the screenshots can be found in the README.md file.

[2022-10-04 20:51] codercatdev commented on #4267
@umaraj79, we are assigning people on a first come first serve basis. If @Sooraj-s-98 isn't able to complete this issue, we will reassign it accordingly. In the meantime, you can find other hacktoberfest issues via our [website](https://hacktoberfest.appwrite.io/).

[2022-10-04 20:52] codercatdev commented on #4262
@anushagupta1312, we are assigning people on a first come first serve basis. If @DevTomilola-OS isn't able to complete this issue, we will reassign it accordingly. In the meantime, you can find other hacktoberfest issues via our [website](https://hacktoberfest.appwrite.io/).

[2022-10-04 20:54] codercatdev commented on #4258
@kashif-raza2019 @aadyanthaya you can find other hacktoberfest issues via our [website](https://hacktoberfest.appwrite.io/).

[2022-10-04 20:57] codercatdev commented on #4275
@mayurrkukreja, we are assigning people on a first come first serve basis. If @DevTomilola-OS isn't able to complete this issue, we will reassign it accordingly. In the meantime, you can find other hacktoberfest issues via our [website](https://hacktoberfest.appwrite.io/).

[2022-10-04 20:59] codercatdev commented on #4214
Closing as duplicate #4208

[2022-10-04 20:59] #4214 closed

[2022-10-04 21:03] codercatdev commented on #4201
@12-malak, thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-04 21:05] codercatdev commented on #4200
@Ash-KODES @KIET7UKE This task does not require any assignment but please comment on this issue mentioning you are working on it. If you have questions, need any help, or just want to hang out, make sure to join us on our [Discord server](https://appwrite.io/discord).

Happy Appwriting!

[2022-10-04 21:06] codercatdev commented on #4195
@KIET7UKE  This task does not require any assignment but please comment on this issue mentioning you are working on it. If you have questions, need any help, or just want to hang out, make sure to join us on our [Discord server](https://appwrite.io/discord).

Happy Appwriting!

[2022-10-04 21:06] codercatdev commented on #4194
@KIET7UKE This task does not require any assignment but please comment on this issue mentioning you are working on it. If you have questions, need any help, or just want to hang out, make sure to join us on our [Discord server](https://appwrite.io/discord).

Happy Appwriting!

[2022-10-04 21:08] codercatdev commented on #4193
@eulercb, thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-04 21:10] codercatdev commented on #4190
@UmarGit, thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-04 21:11] codercatdev commented on #4189
@Platiplus, thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-04 21:12] codercatdev commented on #4188
@anushagupta1312 @FarhanAliRaza, we are assigning people on a first come first serve basis. If @35C4n0r isn't able to complete this issue, we will reassign it accordingly. In the meantime, you can find other hacktoberfest issues via our [website](https://hacktoberfest.appwrite.io/).

[2022-10-04 21:13] codercatdev commented on #4183
@gagandeepp , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-04 21:15] codercatdev commented on #4181
@SanjayDevTech , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-04 21:16] codercatdev commented on #4225
@SanjayDevTech we have updated this issue to allow more than one person, so I have removed you from the assignee.

This task does not require any assignment but please comment on this issue mentioning you are working on it. If you have questions, need any help, or just want to hang out, make sure to join us on our [Discord server](https://appwrite.io/discord).

Happy Appwriting!

[2022-10-04 21:18] codercatdev commented on #4180
@anushagupta1312, we are assigning people on a first come first serve basis. If @NiX3r isn't able to complete this issue, we will reassign it accordingly. In the meantime, you can find other hacktoberfest issues via our [website](https://hacktoberfest.appwrite.io/).

[2022-10-04 21:18] KIET7UKE commented on #4200
@codercatdev Yeah so, I'm working on importing wordpress users to appwrite.

[2022-10-04 21:18] codercatdev commented on #4179
@Anudeep-313, thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-04 21:18] KIET7UKE commented on #4195
Yeah @codercatdev , I'm working on to write an Article about Importing Vercel Users to Appwrite

[2022-10-04 21:20] KIET7UKE commented on #4194
Yes @codercatdev , I'm working on this writing an article about netlify users to appwrite

[2022-10-04 21:20] codercatdev commented on #4177
@anushagupta1312 , we are assigning people on a first come first serve basis. If @dejmedus  isn't able to complete this issue, we will reassign accordingly. In the meantime, you can find other hacktoberfest issues via our [website](https://hacktoberfest.appwrite.io/).

[2022-10-04 21:22] codercatdev commented on #4175
@darkblade2090 @saikiran76 @saksham02112000, we are assigning people on a first come first serve basis. If @omjikush09 isn't able to complete this issue, we will reassign accordingly. In the meantime, you can find other hacktoberfest issues via our [website](https://hacktoberfest.appwrite.io/).

[2022-10-04 21:23] codercatdev commented on #4172
@abhishekdd, thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-04 21:25] codercatdev commented on #4171
@Samridhi-98 , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-04 21:25] codercatdev commented on #4170
@D-Anir, thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-04 21:26] tessamero commented on #4196
Just a note I unassigned it as there can be multiple contributors :) So don't worry @sohilkhanduja everything is still good 👍

[2022-10-04 21:26] codercatdev commented on #4169
@devtayade , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-04 21:28] codercatdev commented on #4169
@devtayade I missed that @AniketTewari already did the PR, would you mind if we assignee you to another issue?

@AniketTewari thank you for jumping in so quickly.

[2022-10-04 21:30] codercatdev commented on #4166
@anushagupta1312 I have you on #4158 so I am going to jump to @rahulnegi20

@rahulnegi20 , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-04 21:30] tessamero commented on #4201
FYI I unassigned it because many people can work on this. Everything is still fine and okay on your end @12-malak 👍

[2022-10-04 21:30] codercatdev commented on #4162
@InfiniteVerma , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-04 21:32] tessamero commented on #4074
@koolgax99 , thanks for your interest! You may work on this issue🙏 Happy hacking! 🎃