[2021-09-29 07:43] Meldiron opened #1733 "Help Translate Appwrite to Welsh language ✍️"
# Introduction

Did you know Appwrite's Locale API has support for returning responses in your own locale based on the value of the `X-Appwrite-Locale` header? 😮 We already support 56 languages and need your help to push it even further! 💪

Your task is to translate Appwrite into **Welsh** language. You can find a complete in-depth tutorial in our official [tutorial for adding translations](https:

[2021-09-29 07:43] Meldiron opened #1734 "Help Translate Appwrite to Danish language ✍️"
# Introduction

Did you know Appwrite's Locale API has support for returning responses in your own locale based on the value of the `X-Appwrite-Locale` header? 😮 We already support 56 languages and need your help to push it even further! 💪

Your task is to translate Appwrite into **Danish** language. You can find a complete in-depth tutorial in our official [tutorial for adding translations](https

[2021-09-29 07:43] Meldiron opened #1735 "Help Translate Appwrite to Esperanto language ✍️"
# Introduction

Did you know Appwrite's Locale API has support for returning responses in your own locale based on the value of the `X-Appwrite-Locale` header? 😮 We already support 56 languages and need your help to push it even further! 💪

Your task is to translate Appwrite into **Esperanto** language. You can find a complete in-depth tutorial in our official [tutorial for adding translations](ht

[2021-09-29 07:43] Meldiron opened #1736 "Help Translate Appwrite to Fijian language ✍️"
# Introduction

Did you know Appwrite's Locale API has support for returning responses in your own locale based on the value of the `X-Appwrite-Locale` header? 😮 We already support 56 languages and need your help to push it even further! 💪

Your task is to translate Appwrite into **Fijian** language. You can find a complete in-depth tutorial in our official [tutorial for adding translations](https

[2021-09-29 07:43] Meldiron opened #1737 "Help Translate Appwrite to Irish language ✍️"
# Introduction

Did you know Appwrite's Locale API has support for returning responses in your own locale based on the value of the `X-Appwrite-Locale` header? 😮 We already support 56 languages and need your help to push it even further! 💪

Your task is to translate Appwrite into **Irish** language. You can find a complete in-depth tutorial in our official [tutorial for adding translations](https:

[2021-09-29 07:43] Meldiron opened #1738 "Help Translate Appwrite to Croatian language ✍️"
# Introduction

Did you know Appwrite's Locale API has support for returning responses in your own locale based on the value of the `X-Appwrite-Locale` header? 😮 We already support 56 languages and need your help to push it even further! 💪

Your task is to translate Appwrite into **Croatian** language. You can find a complete in-depth tutorial in our official [tutorial for adding translations](htt

[2021-09-29 07:43] Meldiron opened #1739 "Help Translate Appwrite to Haitian language ✍️"
# Introduction

Did you know Appwrite's Locale API has support for returning responses in your own locale based on the value of the `X-Appwrite-Locale` header? 😮 We already support 56 languages and need your help to push it even further! 💪

Your task is to translate Appwrite into **Haitian** language. You can find a complete in-depth tutorial in our official [tutorial for adding translations](http

[2021-09-29 07:43] Meldiron opened #1740 "Help Translate Appwrite to Georgian language ✍️"
# Introduction

Did you know Appwrite's Locale API has support for returning responses in your own locale based on the value of the `X-Appwrite-Locale` header? 😮 We already support 56 languages and need your help to push it even further! 💪

Your task is to translate Appwrite into **Georgian** language. You can find a complete in-depth tutorial in our official [tutorial for adding translations](htt

[2021-09-29 07:43] Meldiron opened #1741 "Help Translate Appwrite to Estonian language ✍️"
# Introduction

Did you know Appwrite's Locale API has support for returning responses in your own locale based on the value of the `X-Appwrite-Locale` header? 😮 We already support 56 languages and need your help to push it even further! 💪

Your task is to translate Appwrite into **Estonian** language. You can find a complete in-depth tutorial in our official [tutorial for adding translations](htt

[2021-09-29 07:46] ilmalte commented on #1695
Italian native speaker here, I would be happy to contribute! 😄

[2021-09-29 07:48] Meldiron opened #1742 "Help Translate Appwrite to Kongo language ✍️"
# Introduction

Did you know Appwrite's Locale API has support for returning responses in your own locale based on the value of the `X-Appwrite-Locale` header? 😮 We already support 56 languages and need your help to push it even further! 💪

Your task is to translate Appwrite into **Kongo** language. You can find a complete in-depth tutorial in our official [tutorial for adding translations](https:

[2021-09-29 07:48] Meldiron opened #1743 "Help Translate Appwrite to Kazakh language ✍️"
# Introduction

Did you know Appwrite's Locale API has support for returning responses in your own locale based on the value of the `X-Appwrite-Locale` header? 😮 We already support 56 languages and need your help to push it even further! 💪

Your task is to translate Appwrite into **Kazakh** language. You can find a complete in-depth tutorial in our official [tutorial for adding translations](https

[2021-09-29 07:48] Meldiron opened #1744 "Help Translate Appwrite to Kashmiri language ✍️"
# Introduction

Did you know Appwrite's Locale API has support for returning responses in your own locale based on the value of the `X-Appwrite-Locale` header? 😮 We already support 56 languages and need your help to push it even further! 💪

Your task is to translate Appwrite into **Kashmiri** language. You can find a complete in-depth tutorial in our official [tutorial for adding translations](htt

[2021-09-29 07:48] Meldiron opened #1745 "Help Translate Appwrite to Kurdish language ✍️"
# Introduction

Did you know Appwrite's Locale API has support for returning responses in your own locale based on the value of the `X-Appwrite-Locale` header? 😮 We already support 56 languages and need your help to push it even further! 💪

Your task is to translate Appwrite into **Kurdish** language. You can find a complete in-depth tutorial in our official [tutorial for adding translations](http

[2021-09-29 07:48] Meldiron opened #1746 "Help Translate Appwrite to Latin language ✍️"
# Introduction

Did you know Appwrite's Locale API has support for returning responses in your own locale based on the value of the `X-Appwrite-Locale` header? 😮 We already support 56 languages and need your help to push it even further! 💪

Your task is to translate Appwrite into **Latin** language. You can find a complete in-depth tutorial in our official [tutorial for adding translations](https:

[2021-09-29 07:48] Meldiron opened #1747 "Help Translate Appwrite to Luxembourgish language ✍️"
# Introduction

Did you know Appwrite's Locale API has support for returning responses in your own locale based on the value of the `X-Appwrite-Locale` header? 😮 We already support 56 languages and need your help to push it even further! 💪

Your task is to translate Appwrite into **Luxembourgish** language. You can find a complete in-depth tutorial in our official [tutorial for adding translations

[2021-09-29 07:48] Meldiron opened #1748 "Help Translate Appwrite to Laotian language ✍️"
# Introduction

Did you know Appwrite's Locale API has support for returning responses in your own locale based on the value of the `X-Appwrite-Locale` header? 😮 We already support 56 languages and need your help to push it even further! 💪

Your task is to translate Appwrite into **Laotian** language. You can find a complete in-depth tutorial in our official [tutorial for adding translations](http

[2021-09-29 07:48] Meldiron opened #1749 "Help Translate Appwrite to Latvian language ✍️"
# Introduction

Did you know Appwrite's Locale API has support for returning responses in your own locale based on the value of the `X-Appwrite-Locale` header? 😮 We already support 56 languages and need your help to push it even further! 💪

Your task is to translate Appwrite into **Latvian** language. You can find a complete in-depth tutorial in our official [tutorial for adding translations](http

[2021-09-29 07:48] Meldiron opened #1750 "Help Translate Appwrite to Maori language ✍️"
# Introduction

Did you know Appwrite's Locale API has support for returning responses in your own locale based on the value of the `X-Appwrite-Locale` header? 😮 We already support 56 languages and need your help to push it even further! 💪

Your task is to translate Appwrite into **Maori** language. You can find a complete in-depth tutorial in our official [tutorial for adding translations](https:

[2021-09-29 07:48] Meldiron opened #1751 "Help Translate Appwrite to Mongolian language ✍️"
# Introduction

Did you know Appwrite's Locale API has support for returning responses in your own locale based on the value of the `X-Appwrite-Locale` header? 😮 We already support 56 languages and need your help to push it even further! 💪

Your task is to translate Appwrite into **Mongolian** language. You can find a complete in-depth tutorial in our official [tutorial for adding translations](ht

[2021-09-29 07:48] Meldiron opened #1752 "Help Translate Appwrite to Moldovan language ✍️"
# Introduction

Did you know Appwrite's Locale API has support for returning responses in your own locale based on the value of the `X-Appwrite-Locale` header? 😮 We already support 56 languages and need your help to push it even further! 💪

Your task is to translate Appwrite into **Moldovan** language. You can find a complete in-depth tutorial in our official [tutorial for adding translations](htt

[2021-09-29 07:48] Meldiron opened #1753 "Help Translate Appwrite to Maltese language ✍️"
# Introduction

Did you know Appwrite's Locale API has support for returning responses in your own locale based on the value of the `X-Appwrite-Locale` header? 😮 We already support 56 languages and need your help to push it even further! 💪

Your task is to translate Appwrite into **Maltese** language. You can find a complete in-depth tutorial in our official [tutorial for adding translations](http

[2021-09-29 07:48] Meldiron opened #1754 "Help Translate Appwrite to Burmese language ✍️"
# Introduction

Did you know Appwrite's Locale API has support for returning responses in your own locale based on the value of the `X-Appwrite-Locale` header? 😮 We already support 56 languages and need your help to push it even further! 💪

Your task is to translate Appwrite into **Burmese** language. You can find a complete in-depth tutorial in our official [tutorial for adding translations](http

[2021-09-29 07:48] Meldiron opened #1755 "Help Translate Appwrite to Norwegian Bokmål language ✍️"
# Introduction

Did you know Appwrite's Locale API has support for returning responses in your own locale based on the value of the `X-Appwrite-Locale` header? 😮 We already support 56 languages and need your help to push it even further! 💪

Your task is to translate Appwrite into **Norwegian Bokmål** language. You can find a complete in-depth tutorial in our official [tutorial for adding translati

[2021-09-29 07:51] vincentrohde commented on #1680
@Meldiron I am a native German speaker, if you want I could help you with the translations :)

[2021-09-29 07:52] Meldiron opened #1756 "Help Translate Appwrite to Norwegian Nynorsk language ✍️"
# Introduction

Did you know Appwrite's Locale API has support for returning responses in your own locale based on the value of the `X-Appwrite-Locale` header? 😮 We already support 56 languages and need your help to push it even further! 💪

Your task is to translate Appwrite into **Norwegian Nynorsk** language. You can find a complete in-depth tutorial in our official [tutorial for adding translat

[2021-09-29 07:52] Meldiron opened #1757 "Help Translate Appwrite to Sanskrit language ✍️"
# Introduction

Did you know Appwrite's Locale API has support for returning responses in your own locale based on the value of the `X-Appwrite-Locale` header? 😮 We already support 56 languages and need your help to push it even further! 💪

Your task is to translate Appwrite into **Sanskrit** language. You can find a complete in-depth tutorial in our official [tutorial for adding translations](htt

[2021-09-29 07:52] Meldiron opened #1758 "Help Translate Appwrite to Sardinian language ✍️"
# Introduction

Did you know Appwrite's Locale API has support for returning responses in your own locale based on the value of the `X-Appwrite-Locale` header? 😮 We already support 56 languages and need your help to push it even further! 💪

Your task is to translate Appwrite into **Sardinian** language. You can find a complete in-depth tutorial in our official [tutorial for adding translations](ht

[2021-09-29 07:52] Meldiron opened #1759 "Help Translate Appwrite to Sindhi language ✍️"
# Introduction

Did you know Appwrite's Locale API has support for returning responses in your own locale based on the value of the `X-Appwrite-Locale` header? 😮 We already support 56 languages and need your help to push it even further! 💪

Your task is to translate Appwrite into **Sindhi** language. You can find a complete in-depth tutorial in our official [tutorial for adding translations](https

[2021-09-29 07:53] Meldiron opened #1760 "Help Translate Appwrite to Slovak language ✍️"
# Introduction

Did you know Appwrite's Locale API has support for returning responses in your own locale based on the value of the `X-Appwrite-Locale` header? 😮 We already support 56 languages and need your help to push it even further! 💪

Your task is to translate Appwrite into **Slovak** language. You can find a complete in-depth tutorial in our official [tutorial for adding translations](https

[2021-09-29 07:53] Meldiron opened #1761 "Help Translate Appwrite to Somalia language ✍️"
# Introduction

Did you know Appwrite's Locale API has support for returning responses in your own locale based on the value of the `X-Appwrite-Locale` header? 😮 We already support 56 languages and need your help to push it even further! 💪

Your task is to translate Appwrite into **Somalia** language. You can find a complete in-depth tutorial in our official [tutorial for adding translations](http

[2021-09-29 07:53] Meldiron opened #1762 "Help Translate Appwrite to Serbian language ✍️"
# Introduction

Did you know Appwrite's Locale API has support for returning responses in your own locale based on the value of the `X-Appwrite-Locale` header? 😮 We already support 56 languages and need your help to push it even further! 💪

Your task is to translate Appwrite into **Serbian** language. You can find a complete in-depth tutorial in our official [tutorial for adding translations](http

[2021-09-29 07:53] Meldiron opened #1763 "Help Translate Appwrite to Sundanese language ✍️"
# Introduction

Did you know Appwrite's Locale API has support for returning responses in your own locale based on the value of the `X-Appwrite-Locale` header? 😮 We already support 56 languages and need your help to push it even further! 💪

Your task is to translate Appwrite into **Sundanese** language. You can find a complete in-depth tutorial in our official [tutorial for adding translations](ht

[2021-09-29 07:53] Meldiron opened #1764 "Help Translate Appwrite to Telugu language ✍️"
# Introduction

Did you know Appwrite's Locale API has support for returning responses in your own locale based on the value of the `X-Appwrite-Locale` header? 😮 We already support 56 languages and need your help to push it even further! 💪

Your task is to translate Appwrite into **Telugu** language. You can find a complete in-depth tutorial in our official [tutorial for adding translations](https

[2021-09-29 07:53] Meldiron opened #1765 "Help Translate Appwrite to Tajik language ✍️"
# Introduction

Did you know Appwrite's Locale API has support for returning responses in your own locale based on the value of the `X-Appwrite-Locale` header? 😮 We already support 56 languages and need your help to push it even further! 💪

Your task is to translate Appwrite into **Tajik** language. You can find a complete in-depth tutorial in our official [tutorial for adding translations](https:

[2021-09-29 07:53] Meldiron opened #1766 "Help Translate Appwrite to Turkmen language ✍️"
# Introduction

Did you know Appwrite's Locale API has support for returning responses in your own locale based on the value of the `X-Appwrite-Locale` header? 😮 We already support 56 languages and need your help to push it even further! 💪

Your task is to translate Appwrite into **Turkmen** language. You can find a complete in-depth tutorial in our official [tutorial for adding translations](http

[2021-09-29 07:53] Meldiron opened #1767 "Help Translate Appwrite to Tahitian language ✍️"
# Introduction

Did you know Appwrite's Locale API has support for returning responses in your own locale based on the value of the `X-Appwrite-Locale` header? 😮 We already support 56 languages and need your help to push it even further! 💪

Your task is to translate Appwrite into **Tahitian** language. You can find a complete in-depth tutorial in our official [tutorial for adding translations](htt

[2021-09-29 07:53] Meldiron opened #1768 "Help Translate Appwrite to Uzbek language ✍️"
# Introduction

Did you know Appwrite's Locale API has support for returning responses in your own locale based on the value of the `X-Appwrite-Locale` header? 😮 We already support 56 languages and need your help to push it even further! 💪

Your task is to translate Appwrite into **Uzbek** language. You can find a complete in-depth tutorial in our official [tutorial for adding translations](https:

[2021-09-29 07:53] Meldiron opened #1769 "Help Translate Appwrite to Yiddish language ✍️"
# Introduction

Did you know Appwrite's Locale API has support for returning responses in your own locale based on the value of the `X-Appwrite-Locale` header? 😮 We already support 56 languages and need your help to push it even further! 💪

Your task is to translate Appwrite into **Yiddish** language. You can find a complete in-depth tutorial in our official [tutorial for adding translations](http

[2021-09-29 07:53] Meldiron opened #1770 "Help Translate Appwrite to Zulu language ✍️"
# Introduction

Did you know Appwrite's Locale API has support for returning responses in your own locale based on the value of the `X-Appwrite-Locale` header? 😮 We already support 56 languages and need your help to push it even further! 💪

Your task is to translate Appwrite into **Zulu** language. You can find a complete in-depth tutorial in our official [tutorial for adding translations](https:/

[2021-09-29 08:05] Hrdtr commented on #1693
Indonesian here, please assign this to me 😋

[2021-09-29 08:34] willtryagain commented on #1690
Hi. I would like to work on this. Please assign it to me.

[2021-09-29 09:43] Meldiron opened #1898 "Implement pruneDocuments() Appwrite Function ⚡"
# Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more at our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

Your task is to implement `pruneDocuments` function. You can look at the existing [Appwrite Functions demo](https://github.com/appwrite/demos-for-functions) in the c

[2021-09-29 09:47] Meldiron opened #1899 "Implement addCreatedAt() Appwrite Function ⚡"
# Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more at our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

Your task is to implement `addCreatedAt` function. You can look at the existing [Appwrite Functions demo](https://github.com/appwrite/demos-for-functions) in the cod

[2021-09-29 09:48] Meldiron opened #1900 "Implement addUpdatedAt() Appwrite Function ⚡"
# Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more at our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

Your task is to implement `addUpdatedAt` function. You can look at the existing [Appwrite Functions demo](https://github.com/appwrite/demos-for-functions) in the cod

[2021-09-29 11:04] Olyno commented on #1687
Hey 👋🏻 I'm a native french speaker, can i get this task please?

[2021-09-29 11:34] Meldiron opened #1890 "Implement backuptoToS3() Appwrite Function ⚡"
# Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more at our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

Your task is to implement `backuptoToS3` function. You can look at the existing [Appwrite Functions demo](https://github.com/appwrite/demos-for-functions) in the cod

[2021-09-29 11:34] Meldiron opened #1901 "Implement backupToBackblaze() Appwrite Function ⚡"
# Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more at our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

Your task is to implement `backupToBackblaze` function. You can look at the existing [Appwrite Functions demo](https://github.com/appwrite/demos-for-functions) in th

[2021-09-29 11:34] Meldiron opened #1897 "Implement backupToDropbox() Appwrite Function ⚡"
# Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more at our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

Your task is to implement `backupToDropbox` function. You can look at the existing [Appwrite Functions demo](https://github.com/appwrite/demos-for-functions) in the

[2021-09-29 11:34] Meldiron opened #1902 "Implement backupToStorage() Appwrite Function ⚡"
# Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more at our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

Your task is to implement `backupToStorage` function. You can look at the existing [Appwrite Functions demo](https://github.com/appwrite/demos-for-functions) in the

[2021-09-29 11:34] Meldiron opened #1903 "Implement generateBitlyUrl() Appwrite Function ⚡"
# Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more at our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

Your task is to implement `generateBitlyUrl` function. You can look at the existing [Appwrite Functions demo](https://github.com/appwrite/demos-for-functions) in the

[2021-09-29 11:34] Meldiron opened #1904 "Implement generateGdprExport() Appwrite Function ⚡"
# Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more at our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

Your task is to implement `generateGdprExport` function. You can look at the existing [Appwrite Functions demo](https://github.com/appwrite/demos-for-functions) in t

[2021-09-29 11:34] Meldiron opened #1905 "Implement generateGoogleMap() Appwrite Function ⚡"
# Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more at our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

Your task is to implement `generateGoogleMap` function. You can look at the existing [Appwrite Functions demo](https://github.com/appwrite/demos-for-functions) in th

[2021-09-29 11:34] Meldiron opened #1906 "Implement generateInvoice2goInvoice() Appwrite Function ⚡"
# Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more at our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

Your task is to implement `generateInvoice2goInvoice` function. You can look at the existing [Appwrite Functions demo](https://github.com/appwrite/demos-for-function

[2021-09-29 11:34] Meldiron opened #1907 "Implement generateInvoicelyInvoice() Appwrite Function ⚡"
# Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more at our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

Your task is to implement `generateInvoicelyInvoice` function. You can look at the existing [Appwrite Functions demo](https://github.com/appwrite/demos-for-functions

[2021-09-29 11:34] Meldiron opened #1908 "Implement generateUnsplashImage() Appwrite Function ⚡"
# Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more at our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

Your task is to implement `generateUnsplashImage` function. You can look at the existing [Appwrite Functions demo](https://github.com/appwrite/demos-for-functions) i

[2021-09-29 11:34] Meldiron opened #1909 "Implement generateXeroInvoice() Appwrite Function ⚡"
# Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more at our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

Your task is to implement `generateXeroInvoice` function. You can look at the existing [Appwrite Functions demo](https://github.com/appwrite/demos-for-functions) in

[2021-09-29 11:34] Meldiron opened #1910 "Implement getInternetSpeed() Appwrite Function ⚡"
# Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more at our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

Your task is to implement `getInternetSpeed` function. You can look at the existing [Appwrite Functions demo](https://github.com/appwrite/demos-for-functions) in the

[2021-09-29 11:34] Meldiron opened #1912 "Implement sendSMS() Appwrite Function ⚡"
# Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more at our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

Your task is to implement `sendSMS` function. You can look at the existing [Appwrite Functions demo](https://github.com/appwrite/demos-for-functions) in the coding l

[2021-09-29 11:34] Meldiron opened #1921 "Implement sendRequest() Appwrite Function ⚡"
# Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more at our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

Your task is to implement `sendRequest` function. You can look at the existing [Appwrite Functions demo](https://github.com/appwrite/demos-for-functions) in the codi

[2021-09-29 11:34] Meldiron opened #1913 "Implement sendWhatsAppMessage() Appwrite Function ⚡"
# Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more at our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

Your task is to implement `sendWhatsAppMessage` function. You can look at the existing [Appwrite Functions demo](https://github.com/appwrite/demos-for-functions) in

[2021-09-29 11:34] Meldiron opened #1915 "Implement subscribeToSendGrid() Appwrite Function ⚡"
# Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more at our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

Your task is to implement `subscribeToSendGrid` function. You can look at the existing [Appwrite Functions demo](https://github.com/appwrite/demos-for-functions) in

[2021-09-29 11:34] Meldiron opened #1916 "Implement textToSpeech() Appwrite Function ⚡"
# Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more at our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

Your task is to implement `textToSpeech` function. You can look at the existing [Appwrite Functions demo](https://github.com/appwrite/demos-for-functions) in the cod

[2021-09-29 11:34] Meldiron opened #1917 "Implement translateText() Appwrite Function ⚡"
# Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more at our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

Your task is to implement `translateText` function. You can look at the existing [Appwrite Functions demo](https://github.com/appwrite/demos-for-functions) in the co

[2021-09-29 11:34] Meldiron opened #1918 "Implement tweetNewMembership() Appwrite Function ⚡"
# Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more at our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

Your task is to implement `tweetNewMembership` function. You can look at the existing [Appwrite Functions demo](https://github.com/appwrite/demos-for-functions) in t

[2021-09-29 13:49] mbos2 opened #1772 "Expose Appwrite Health API to Realtime API"
## 🚀 Feature

Exposing Health API to Realtime API so it can be used as realtime channels.

## Have you spent some time to check if this issue has been raised before?

Yes, did a search of appwrite github issues

### Have you read the [Code of Conduct](https://github.com/appwrite/appwrite/blob/master/CODE_OF_CONDUCT.md)?

Yes

## Pitch

It would allow creating better custom appwrite monitor applica

[2021-09-29 14:35] Hard-Coder05 commented on #1730
@Meldiron Please assign me this issue. I am native residence from Bihar. And just to clarify, people in bihar speak Maithili (not Bihari). Please do correct this in the issue name and description as well.

[2021-09-29 14:36] Hard-Coder05 commented on #1757
@Meldiron I would like to take this issue!

[2021-09-29 15:23] shashank1503-cipher commented on #1690
Hi, I would like to work on this. Would be great working on it if I get assigned to this :)

[2021-09-29 16:19] fatrixienicolieopetina commented on #1721
Can I take this?

[2021-09-29 19:11] renato04 commented on #1711
Hi!
Could you assign me to this issue?

[2021-09-29 23:43] daniloff200 commented on #1723
hey!
I'm native Ukrainian speaker and can pick this one!

[2021-09-29 23:44] daniloff200 commented on #1714
hey!
I live in Ukraine, but, Russian is my second native language, i'm bilingual, for Ukraine it's common thing, so, I can pick this one too

[2021-09-30 03:20] vancassa commented on #1697
I can help with this. Please assign it to me.

[2021-09-30 04:03] lovetyagi-17 commented on #1690
नमस्ते, मुझे इस पर काम करना अच्छा लगेगा, कृपया यह काम मुझे सौंप दें।
धन्यवाद..

[2021-09-30 04:10] lovetyagi-17 commented on #1744
Please allow this task to me, happy to complete it.

[2021-09-30 04:18] lovetyagi-17 commented on #1709
I have knowledge of Panjabi / Punjabi speaking, assign this task to me.

[2021-09-30 05:49] deepto98 commented on #1676
@Meldiron Hi, I'm a native Bengali speaker, from India and can help with this translation. Can you please assign this to me?

[2021-09-30 06:47] omnaladkar commented on #1703
@Meldiron Hey , I have 18 years of experience in marathi language talking because I am from maharashtra and i know whole marathi.

[2021-09-30 08:09] Meldiron opened #1773 "Help developers by building a demo app with Appwrite 🧱"
# Introduction

Appwrite has been and always will be a tool for developers. To emphasize this, we want to create the **the best** developer experience possible by providing enough guides and examples for new Appwriters.

Your task is to build a demo application that will use Appwrite under the hood. **It can be anything!** Web app, mobile app, Flutter, Unity, CLI tool... You are limited only by yo

[2021-09-30 08:10] Meldiron opened #1774 "Help developers by writing a blog post about Appwrite🗞"
# Introduction

Appwrite has been and always will be a tool for developers. To emphasize this, we want to create the **the best** developer experience possible by providing enough guides and examples for new Appwriters.

Your task is to write a blog post about Appwrite. **It can be anything! A s**tory about your Appwrite journey, what concepts you learned by using Appwrite, guide how to connect Ap

[2021-09-30 08:10] Meldiron opened #1775 "Help developers by making an Appwrite Tutorial 🎥"
# Introduction

Appwrite has been and always will be a tool for developers. To emphasize this, we want to create the **the best** developer experience possible by providing enough guides and examples for new Appwriters.

Your task is to create a tutorial regarding Appwrite. **It can be anything!** How to set up Appwrite, how to use Appwrite service, a demo of some features, presentation about Appw

[2021-09-30 08:35] TheLearneer commented on #1705
Hi there 👋
I would like to take this task. For two reasons:
- It's **Hacktoberfest**
- Spread some love from Nepal

[2021-09-30 09:41] honeykpatel commented on #1688
Can you please assign this issue to me, I'm a native Gujarati speaker from Ahmedabad.

[2021-09-30 10:36] Meldiron opened #1776 "Upgrade our issue templates to use GitHub issue forms ✍️"
# Introduction

GitHub has recently rolled out a [public beta for their issue forms](https://github.blog/changelog/2021-06-23-issues-forms-beta-for-public-repositories/) feature. This would allow you to create interactive issue templates and validate them 🤯.

Appwrite currently uses the older [issue template format](https://docs.github.com/en/communities/using-templates-to-encourage-useful-issues-

[2021-09-30 10:36] Meldiron opened #1919 "Upgrade our issue templates to use GitHub issue forms ✍️"
# Introduction

GitHub has recently rolled out a [public beta for their issue forms](https://github.blog/changelog/2021-06-23-issues-forms-beta-for-public-repositories/) feature. This would allow you to create interactive issue templates and validate them 🤯.

Appwrite currently uses the older [issue template format](https://docs.github.com/en/communities/using-templates-to-encourage-useful-issues-

[2021-09-30 11:02] eldadfux commented on #246
We have also updated our default values. From the client side, read and write will be given to the current user by default, on the server API it will be empty for both read and write unless set.

[2021-09-30 11:02] #246 closed

[2021-09-30 11:06] eldadfux commented on #314
This was actually merged, but we need to enable it in Appwrite itself: https://github.com/appwrite/sdk-generator/pull/157

[2021-09-30 11:07] eldadfux commented on #314
@PineappleIOnic let try and add this to Appwrite, I think it should be pretty simple.

[2021-09-30 11:08] eldadfux commented on #371
We are going to introduce new permission models as part of #1281 - closing this issue for now

[2021-09-30 11:08] #371 closed

[2021-09-30 11:53] Rutam21 commented on #1708
@Meldiron Odia is my mother tongue. I would be happy to work on it. Thanks.

[2021-09-30 11:59] Rutam21 commented on #1757
@Meldiron I come from a family with Sanskrit background, even my Dad is a Professor in Sanskrit at the moment. I believe I can do justice to this ticket.

[2021-09-30 12:04] arsangamal commented on #1673
As an Egyptian and a native Arabic speaker, I am very happy to see this.
I will work on this @Meldiron, thank you so much!

[2021-09-30 13:33] dazzlerkumar commented on #1730
@Meldiron Hi, How are you?
You can assign me this task as well. Although, I want to correct few things. Bihari isn't the language of Bihar. 25% of Bihar People speak **Hindi** as well **Bhojpuri**. I guess creators want to target Bhojpuri-speaking people. I want to inform you that Bhojpuri is used in _East Uttar Pradesh_, _Bihar_, _Jharkhand_, and is the official language of Fiji as well as Surina

[2021-09-30 14:03] owusukasante opened #1778 "🚀 Feature: Support for IdentityServer4 OAuth Provider"
### 🔖 Feature description

Hello Team.
I would first like to say a huge thanks for dedicating your time and efforts into this amazing project. It's a wonderful project.

I see you have already added support for a number of OAuth providers which is great. I have, however, implemented my own identity server using the open source IdentityServer4. Could you kindly include a way to authentication with

[2021-09-30 14:05] Meldiron opened #1779 "Help by implementing Stripe OAuth 🛡"
# Introduction

With Appwrite, it's super easy to set up many OAuth2 providers to allow your users to authenticate with their social accounts. Appwrite supports tons of OAuth2 providers including **Google, Facebook, Twitter, GitHub** and many more.

Your task is to implement **Stripe** OAuth provider into Appwrite. You can find a complete in-depth tutorial in our official [tutorial for adding new

[2021-09-30 14:05] Meldiron opened #1780 "Help by implementing Mail.ru OAuth 🛡"
# Introduction

With Appwrite, it's super easy to set up many OAuth2 providers to allow your users to authenticate with their social accounts. Appwrite supports tons of OAuth2 providers including **Google, Facebook, Twitter, GitHub** and many more.

Your task is to implement **Mail.ru** OAuth provider into Appwrite. You can find a complete in-depth tutorial in our official [tutorial for adding new

[2021-09-30 14:05] Meldiron opened #1781 "Help by implementing Yammer OAuth 🛡"
# Introduction

With Appwrite, it's super easy to set up many OAuth2 providers to allow your users to authenticate with their social accounts. Appwrite supports tons of OAuth2 providers including **Google, Facebook, Twitter, GitHub** and many more.

Your task is to implement **Yammer** OAuth provider into Appwrite. You can find a complete in-depth tutorial in our official [tutorial for adding new

[2021-09-30 14:06] Meldiron opened #1782 "Help by implementing Baidu OAuth 🛡"
# Introduction

With Appwrite, it's super easy to set up many OAuth2 providers to allow your users to authenticate with their social accounts. Appwrite supports tons of OAuth2 providers including **Google, Facebook, Twitter, GitHub** and many more.

Your task is to implement **Baidu** OAuth provider into Appwrite. You can find a complete in-depth tutorial in our official [tutorial for adding new O

[2021-09-30 14:06] Meldiron opened #1783 "Help by implementing Zendesk OAuth 🛡"
# Introduction

With Appwrite, it's super easy to set up many OAuth2 providers to allow your users to authenticate with their social accounts. Appwrite supports tons of OAuth2 providers including **Google, Facebook, Twitter, GitHub** and many more.

Your task is to implement **Zendesk** OAuth provider into Appwrite. You can find a complete in-depth tutorial in our official [tutorial for adding new

[2021-09-30 14:06] Meldiron opened #1784 "Help by implementing Epic Games OAuth 🛡"
# Introduction

With Appwrite, it's super easy to set up many OAuth2 providers to allow your users to authenticate with their social accounts. Appwrite supports tons of OAuth2 providers including **Google, Facebook, Twitter, GitHub** and many more.

Your task is to implement **Epic Games** OAuth provider into Appwrite. You can find a complete in-depth tutorial in our official [tutorial for adding

[2021-09-30 14:20] anoopmsivadas commented on #1702
Hey, Can I work on this

[2021-09-30 14:28] Emiliaaah commented on #1779
I tried to implement the stripe OAuth a while back but it doesn't return the users email address from what I could find in the docs.

[2021-09-30 14:29] suprabhasupi commented on #1690
I would love to pick this up 😍

[2021-09-30 14:56] Flodur871 commented on #1784
Can I work on this?

[2021-09-30 15:11] sahooankeeta commented on #1783
Can I work on this?

[2021-09-30 15:41] AnirbanBall commented on #1776
I am interested and I want to work on this

[2021-09-30 16:20] TheShinoj commented on #1781
Can I help in fixing this?

[2021-09-30 16:41] theBeginner86 commented on #1774
I would like to work on this issue 🙌👨‍💻
Can you please assign it to me?

[2021-09-30 16:46] Ganzabahl commented on #1734
Hi,
I'm native Danish and ready to give it a try :)

[2021-09-30 17:37] abxhr commented on #1776
I would love to work on this! 🚀

[2021-09-30 17:40] muthuannamalai12 commented on #1774
I would like to work on this can you assign me this issue

[2021-09-30 17:41] dro-1 commented on #1774
Hello, does this issue require assigning or more than one person can work on it ?

[2021-09-30 17:44] dro-1 commented on #1773
I would like to be assigned this issue.

[2021-09-30 17:45] dro-1 commented on #1775
Hello, I'd love to be assigned this issue.

[2021-09-30 18:00] minna-xD commented on #1685
I'd be happy to contribute the Finnish translation for the missing parts but I'm not 100% confident I'm savvy enough to test it... The translation part I'm confident about. I lived and breathed SW translations for 15 years in my previous job. :)

[2021-09-30 18:01] christyjacob4 commented on #1774
Hey folks, this issue does not require any assignment. You can write your blog posts about Appwrite and publish it on your favourite  blogging platform. You can then use that link to raise a PR to https://github.com/appwrite/awesome-appwrite

[2021-09-30 18:01] AmreshSinha commented on #1783
@Meldiron Can I work on this issue?

[2021-09-30 18:09] Shrey-Nahar commented on #1690
I would also like to work this issue

[2021-09-30 18:13] theBeginner86 commented on #1774
ok, thank you for your confirmation👍

[2021-09-30 18:24] RReiso commented on #1749
Hi, I would like to work on this issue as a part of the Hacktoberfest, if it is available.

[2021-09-30 18:29] sakshamgurbhele commented on #1703
I am also available to take upon this issue, I am a native speaker. Let me know If I can work on this.
Thank you :)

[2021-09-30 18:31] sakshamgurbhele commented on #1784
I am interested to work on this, let me know if I can proceed! :)

[2021-09-30 18:32] starrohan999 commented on #1730
@Meldiron  Can I also work on this I am from Bihar sitamarhi.

[2021-09-30 18:33] Nikhil-1503 commented on #1699
I would like to work on this. Please assign it to me.

[2021-09-30 18:34] Nikhil-1503 commented on #1690
I would like to work on this. Please assign it to me.

[2021-09-30 18:34] agarwalraghav1687 commented on #1690
I would love to work on this one

[2021-09-30 18:34] Nikhil-1503 commented on #1781
I would like to work on this. Please assign it to me.

[2021-09-30 18:44] sakshamgurbhele commented on #1688
I am intrested in taking this issue, I am not a native speaker but I can speak and understand Gujarati well. Let me know If I can work on this. Thank You :)

[2021-09-30 18:45] Rutam21 commented on #1708
@Meldiron It's called `Odia` now. This is my mother tongue and I can definitely work on this ticket. Feel free to assign this to me. Thanks.

[2021-09-30 18:47] Rutam21 commented on #1757
@Meldiron Well, my father is a Professor in Sanskrit. I feel I can do this justice with this ticket. Feel free to assign this to me.
(It's already 1st Oct in IST.😅 )

[2021-09-30 18:48] sakshamgurbhele commented on #1782
I am would like to give it a try, I don't understand Chinese but I might be able to do it by translating the API docs to English. Let me know If I can work on this. :)

[2021-09-30 18:50] Rutam21 commented on #1780
@Meldiron I would like to work on this OAuth addition.

[2021-09-30 18:52] sakshamgurbhele commented on #1780
I am Interested, Let me know if I can work on this. :)

[2021-09-30 18:52] Rutam21 commented on #1773
@Meldiron I would also like to design a simple app using AppWrite

[2021-09-30 18:58] Rutam21 commented on #1724
@Meldiron I have come greatly in the influence of Urdu Speaking folks during my 4 years of Engineering and I can definitely take care of those strings easily. Feel free to assign this to me.

[2021-09-30 19:01] Rutam21 commented on #1782
I would love to work on this OAuth integration. Feel free to assign this to me.

[2021-09-30 19:01] Rutam21 commented on #1782
@Meldiron I would love to work on this OAuth integration. Feel free to assign this to me.

[2021-09-30 19:26] pooja-gera commented on #1774
Such a fun issue to work on - learn and teach at once, getting on this one!

[2021-09-30 20:14] aniketh-varma commented on #1784
Hello, I would like to work on this issue. Please assign me the same.

[2021-09-30 20:43] MatteoGheza commented on #1776
I'm interested in working on this. I already made Github Issue forms for other open source projects, so I have some experience.

[2021-09-30 20:47] MatteoGheza commented on #545
Can you assign this to me?

[2021-09-30 21:32] Adi-Ski commented on #1773
@Meldiron I would like to contribute a simple app using **AppWrite** :)

[2021-09-30 21:51] #385 closed

[2021-09-30 21:55] TorstenDittmann commented on #532
This got implemented afaik 👍🏻

[2021-09-30 21:55] #532 closed

[2021-09-30 21:59] TorstenDittmann commented on #499
Not sure if this is still relevant, there are some factors in terms of OpenAPI and REST specs that somehow speak against this implementation 🤔

[2021-09-30 22:01] TorstenDittmann commented on #684
I am not sure if we are going to follow that route.

This will basically disable features that make Appwrite secure. I will close this issue for now, if there is any interest in discussing it - we can open it again.

[2021-09-30 22:01] #684 closed

[2021-09-30 22:02] #806 closed

[2021-09-30 22:03] TorstenDittmann commented on #806
Since we have removed the DOMAIN env variable for security reasons - this is not relevant anymore 👍🏻

[2021-09-30 22:35] TorstenDittmann commented on #1772
Right now we are not exposing any Server Side resources which would require an API Key - like the Health API.

As of right now, we only have the Realtime capabilities implemented in Client Side SDKs. So this will become relevant once we take care of them 👍🏻

[2021-09-30 22:35] SoftCreatR commented on #1680
Sorry for the hijacking. Didn't notice, that an issue already exists.

[2021-09-30 22:52] ssong commented on #1700
I can take this up, noticed a few errors as well so can get those sorted.

[2021-09-30 23:24] ssong commented on #1700
Noticed I added my comment like a few min too early - could I get this assigned please? :) and is there any specific guidance around testing the email translations?

[2021-09-30 23:55] holiq commented on #1693
@Hrdtr are you going to make it? if not i will make it

[2021-10-01 00:25] arsheelsheikh commented on #1724
Hello, I would like to work on this issue.
I can very well read and write Urdu.

Thank You, looking forward to work on this issue.

[2021-10-01 00:45] daniloff200 commented on #1674
I can pick this one too, Ukraine & Russian kind-a related to Belarusian language, so, if nobody wants to pick this up, I can do that

[2021-10-01 01:27] TheLearneer commented on #1705
Hi there 👋
I would like to take this task. For two reasons:
- It's **Hacktoberfest** season, contribution to open-source is the first thing that comes to mind
- Spread some love from Nepal

[2021-10-01 02:18] Hard-Coder05 commented on #1690
@Meldiron I would like to work on this issue! Please assign it to me!

[2021-10-01 02:29] joeljose350 commented on #1702
I would love to work on this issue, I'm a native Malayalam speaker from Kochi, India.

[2021-10-01 02:48] muthuannamalai12 commented on #1774
Thank you for informing 😀

[2021-10-01 02:48] Hard-Coder05 commented on #1719
@Meldiron I have worked on this issue! Do review and merge it!

[2021-10-01 03:09] Hard-Coder05 commented on #1709
@Meldiron I have worked on this issue. Kindly review it and merge the same!

[2021-10-01 03:26] ChathushkaRodrigo commented on #1715
i will give it a try

[2021-10-01 03:37] san-coding commented on #1779
Hey, can I work on this issue?

[2021-10-01 03:42] san-coding commented on #1764
Hey, can you assign this issue to me ?

[2021-10-01 04:00] SpooderManEXE commented on #1702
Can i be assigned to this task?

[2021-10-01 04:01] Vidushi-Gupta commented on #1776
Hi! I hope the assignments for Hacktoberfest have begun. Could you please assign it to me for the hacktoberfest?

[2021-10-01 04:02] Vidushi-Gupta commented on #1690
Hi! I hope the assignments for Hacktoberfest have begun. Could you please assign it to me for the hacktoberfest?

[2021-10-01 04:20] dishanttayade commented on #1703
Is this issue still open? If it is please inform. I would like to contribute here.

[2021-10-01 04:26] alceil commented on #1702
Can I be assigned to this task since I'm a native Malayalam speaker. I can help translate it better.

[2021-10-01 04:47] vivekkj123 commented on #1702
Hi, I would like to work on this issue. Please assign this issue to me. I've translated various applications to my native language malayalam.

Thanks.

[2021-10-01 04:58] RollingThunderSagnik commented on #1676
@Meldiron I'm a native Bengali speaker from West Bengal, India. I would like to work on this. Can you assign this to me?

[2021-10-01 05:08] utkkarsh commented on #1783
Hi @Meldiron,

I would love to contribute and work on this issue.
Could you please assign this to me 😊

[2021-10-01 05:08] Hard-Coder05 commented on #1676
@Meldiron I would like to work on this issue!

[2021-10-01 05:22] christyjacob4 commented on #1784
@Flodur871  Assigned this to you . All the best :+1:

[2021-10-01 05:23] christyjacob4 commented on #1784
@aniketh-varma  We would love you to check out some of our other open issues and join us on discord if you need help finding some issue https://appwrite.io/discord

[2021-10-01 05:24] christyjacob4 commented on #1783
@AmreshSinha Assigned it to you! All the best :rocket:

[2021-10-01 05:25] christyjacob4 commented on #1783
@utkkarsh We would love you to check out some of our other open issues and join us on discord if you need help finding some issue https://appwrite.io/discord

[2021-10-01 05:26] dahiya-code commented on #1690
Hi! I am from india and my mother tongue is Hindi! I believe I can do justice to this project

[2021-10-01 05:26] izqalan commented on #1704
I'd like to work on this

[2021-10-01 05:26] christyjacob4 commented on #1782
Hey @Rutam21 have assigned this to you. All the best :rocket:

[2021-10-01 05:26] achintya-7 commented on #1782
I would like to do this task. Feel free to assign me for this problem.

[2021-10-01 05:28] agarwalraghav1687 commented on #1757
Hey! Would love to take this issue :)

[2021-10-01 05:32] christyjacob4 commented on #1782
@achintya-7  We would love you to check out some of our other open issues and join us on discord if you need help finding some issue https://appwrite.io/discord

[2021-10-01 05:33] christyjacob4 commented on #1781
@TheShinoj  Assigned it to you. All the best :rocket:

[2021-10-01 05:33] christyjacob4 commented on #1781
@Nikhil-1503  We would love you to check out some of our other open issues and join us on discord if you need help finding some
https://appwrite.io/discord

[2021-10-01 05:34] achintya-7 commented on #1782
Yah sure

[2021-10-01 05:34] christyjacob4 commented on #1780
@Rutam21  Assigned it to you! All the best :rocket:

[2021-10-01 05:37] christyjacob4 commented on #1776
@AnirbanBall  Assigned it to you! All the best :rocket:

[2021-10-01 05:37] christyjacob4 commented on #1776
@abxhr  We would love you to check out some of our other open issues and join us on discord if you need help finding some
https://appwrite.io/discord

[2021-10-01 05:38] christyjacob4 commented on #1776
@Vidushi-Gupta We would love you to check out some of our other open issues and join us on discord if you need help finding some https://appwrite.io/discord

[2021-10-01 05:39] christyjacob4 commented on #1775
@dro-1 this issue does not require any assignment. Just follow the instructions

[2021-10-01 05:41] christyjacob4 commented on #1673
@arsangamal assgined it to you :)

[2021-10-01 05:41] christyjacob4 commented on #1674
@daniloff200 Assigned it to you

[2021-10-01 05:43] christyjacob4 commented on #1676
@deepto98  All the best :rocket:

[2021-10-01 05:43] christyjacob4 commented on #1676
@RollingThunderSagnik  We would love you to check out some of our other open issues and join us on discord if you need help finding some  https://appwrite.io/discord

[2021-10-01 05:45] christyjacob4 commented on #1685
@minna-xD All the best :rocket:

[2021-10-01 05:46] christyjacob4 commented on #1688
@honeykpatel  All the best :rocket:

[2021-10-01 05:48] Hard-Coder05 commented on #1759
@Meldiron I would like to work on this issue!

[2021-10-01 05:53] sshiv5768 commented on #1784
Can i work on this issue, i have already completed 3 tasks but having difficulty in 4th one?

[2021-10-01 06:02] christyjacob4 commented on #1690
@willtryagain  All the best :rocke

[2021-10-01 06:02] christyjacob4 commented on #1690
@shashank1503-cipher We would love you to check out some of our other open issues and join us on discord if you need help finding some
https://appwrite.io/discord

[2021-10-01 06:02] christyjacob4 commented on #1690
@lovetyagi-17  We would love you to check out some of our other open issues and join us on discord if you need help finding some
https://appwrite.io/discord

[2021-10-01 06:03] christyjacob4 commented on #1690
@suprabhasupi  We would love you to check out some of our other open issues and join us on discord if you need help finding some
https://appwrite.io/discord

[2021-10-01 06:03] christyjacob4 commented on #1690
@Shrey-Nahar  We would love you to check out some of our other open issues and join us on discord if you need help finding some
https://appwrite.io/discord

[2021-10-01 06:03] christyjacob4 commented on #1690
@Nikhil-1503 We would love you to check out some of our other open issues and join us on discord if you need help finding some
https://appwrite.io/discord

[2021-10-01 06:05] christyjacob4 commented on #1690
@agarwalraghav1687  We would love you to check out some of our other open issues and join us on discord if you need help finding some
https://appwrite.io/discord

[2021-10-01 06:05] christyjacob4 commented on #1690
@Hard-Coder05  We would love you to check out some of our other open issues and join us on discord if you need help finding some
https://appwrite.io/discord

[2021-10-01 06:05] christyjacob4 commented on #1690
@Vidushi-Gupta  We would love you to check out some of our other open issues and join us on discord if you need help finding some
https://appwrite.io/discord

[2021-10-01 06:06] christyjacob4 commented on #1690
@dahiya-code  We would love you to check out some of our other open issues and join us on discord if you need help finding some
https://appwrite.io/discord

[2021-10-01 06:08] christyjacob4 commented on #1693
@Hrdtr All the best :rocket:

[2021-10-01 06:09] christyjacob4 commented on #1695
@ilmalte  All the best :rocket:

[2021-10-01 06:10] christyjacob4 commented on #1697
@vancassa All the best :rocke

[2021-10-01 06:11] christyjacob4 commented on #1699
@Nikhil-1503  All the best :rocket:

[2021-10-01 06:15] christyjacob4 commented on #1700
@ssong  All the best :rocket:

You can run Appwrite locally and run the e2e tests for the `Teams` or `Accounts` service. This will send the emails to the `maildev` server at `localhost:9503`

[2021-10-01 06:17] holiq commented on #1693
@christyjacob4 Okay thanks

[2021-10-01 06:19] cr1spyvada commented on #1702
Hello, I would like to work on this task?

[2021-10-01 06:22] christyjacob4 commented on #1702
@anoopmsivadas  All the best :rocket:

[2021-10-01 06:23] christyjacob4 commented on #1702
@joeljose350  We would love you to check out some of our other open issues and join us on [Discord](https://appwrite.io/discord) if you need help finding some.

[2021-10-01 06:23] christyjacob4 commented on #1702
@SpooderManEXE  We would love you to check out some of our other open issues and join us on [Discord](https://appwrite.io/discord) if you need help finding some.

[2021-10-01 06:24] christyjacob4 commented on #1702
@alceil  We would love you to check out some of our other open issues and join us on [Discord](https://appwrite.io/discord) if you need help finding some.

[2021-10-01 06:24] christyjacob4 commented on #1702
@vivekkj123  We would love you to check out some of our other open issues and join us on [Discord](https://appwrite.io/discord) if you need help finding some.

[2021-10-01 06:25] christyjacob4 commented on #1702
@cr1spyvada  We would love you to check out some of our other open issues and join us on [Discord](https://appwrite.io/discord) if you need help finding some.

[2021-10-01 06:25] ArmanChand commented on #1683
hello @Meldiron ,
I can take this PR.

[2021-10-01 06:26] christyjacob4 commented on #1703
@omnaladkar  All the best :rocket:

[2021-10-01 06:26] christyjacob4 commented on #1703
@vj-codes  We would love you to check out some of our other open issues and join us on [Discord](https://appwrite.io/discord) if you need help finding some.

[2021-10-01 06:26] christyjacob4 commented on #1703
@dishanttayade  We would love you to check out some of our other open issues and join us on [Discord](https://appwrite.io/discord) if you need help finding some.

[2021-10-01 06:27] christyjacob4 commented on #1704
@izqalan We would love you to check out some of our other open issues and join us on [Discord](https://appwrite.io/discord) if you need help finding some.

[2021-10-01 06:29] vj-codes commented on #1703
@christyjacob4 can this be assigned to me? I thought the first one to comment usually gets assigned?
PS - I have created a PR #1786

[2021-10-01 06:30] subhradwip01 commented on #1779
Hey, can I work on this issue?

[2021-10-01 06:30] christyjacob4 commented on #1705
@TheLearneer We would love you to check out some of our other open issues and join us on [Discord](https://appwrite.io/discord) if you need help finding some.

[2021-10-01 06:50] sakshamgurbhele commented on #1779
I am interested, Let me know If I can work :)

[2021-10-01 07:06] TheShinoj commented on #1781
Thank you so much 😊 I will do my best 🤘

[2021-10-01 07:23] asevarik commented on #1773
i like to contribute

[2021-10-01 07:41] #1680 closed

[2021-10-01 07:42] mbos2 commented on #1738
Hi. I'm native Croatian speaker. I'd like to work on this one :)

[2021-10-01 07:44] harshagrawal2412 commented on #1764
I would like to work on this issue.
Kindly assign this to me.

[2021-10-01 07:44] HelloSeaNation commented on #1726
I ready to work on this issue, and had submit some work already

[2021-10-01 07:45] harshagrawal2412 commented on #1760
Please assign this to me

[2021-10-01 07:46] harshagrawal2412 commented on #1760
@Meldiron Please assign this to me

[2021-10-01 07:47] harshagrawal2412 commented on #1762
@Meldiron  I would like to work on this issue

[2021-10-01 07:53] Defkon1 commented on #1695
https://github.com/appwrite/appwrite/pull/1809

[2021-10-01 07:54] anandhu720 commented on #1702
@cr1spyvada  hey I would like to help you. I am a native malayalam speaker

[2021-10-01 07:56] achromik commented on #1710
Hi. I'm a native Polish speaker. I'd like to work on this one :)

[2021-10-01 08:01] christyjacob4 commented on #1708
@Rutam21 all the best

[2021-10-01 08:02] christyjacob4 commented on #1709
@lovetyagi-17  All the best :rocket:

[2021-10-01 08:04] christyjacob4 commented on #1709
@Hard-Coder05 Looks like you have some issues assigned to you already. We request you to complete those before requesting assignments on new ones. Also, please consider picking a different type of issue so other contributors can try this one.

[2021-10-01 08:04] christyjacob4 commented on #1710
@achromik  All the best :)

[2021-10-01 08:05] christyjacob4 commented on #1711
@renato04 All the best :rocket:

[2021-10-01 08:05] christyjacob4 commented on #1715
@ChathushkaRodrigo  All the best

[2021-10-01 08:07] lohanidamodar commented on #1784
Hi @sshiv5768 may be [this Epic Games API documentation](https://dev.epicgames.com/docs/services/en-US/WebAPIRef/AuthWebAPI/index.html) will be helpful for you to implement. And use any existing OAuth implementation as a reference

[2021-10-01 08:08] christyjacob4 commented on #1714
@daniloff200 all the best

[2021-10-01 08:11] christyjacob4 commented on #1719
@Hard-Coder05  Are you a native Tamil Speaker ?

[2021-10-01 08:11] christyjacob4 commented on #1719
![Screenshot from 2021-10-01 13-41-40](https://user-images.githubusercontent.com/20852629/135587388-a0627042-170f-4d59-aefb-2b0f613ecf6a.png)

[2021-10-01 08:14] didair commented on #1718
@Meldiron born and raised in Sweden. Fluent in both English and Swedish. I'd like to be assigned to this issue

[2021-10-01 08:15] christyjacob4 commented on #1721
@fatrixienicolieopetina  All the best

[2021-10-01 08:15] lohanidamodar commented on #1779
@subhradwip01 and @sakshamgurbhele We would love you to check out some of our other open issues and join us on [Discord](https://appwrite.io/discord) if you need help finding some.

[2021-10-01 08:16] lohanidamodar commented on #1779
@san-coding Assigned it to you. Good luck 👍

[2021-10-01 08:16] christyjacob4 commented on #1718
@didair All the best :rocket:

[2021-10-01 08:19] lohanidamodar commented on #1773
Hey folks, this issue does not require any assignment. You can build your demos with Appwrite and push it to GitHub. You can then use link to your demo project repository to raise a PR to https://github.com/appwrite/awesome-appwrite

@dro-1 @Rutam21 @Adi-Ski @asevarik

[2021-10-01 08:21] lohanidamodar commented on #1764
@san-coding you are assigned. Good luck 👍

[2021-10-01 08:22] san-coding commented on #1764
Thanks, I am working on it

[2021-10-01 08:23] Sin-Sumit commented on #1762
Can I work on this?

[2021-10-01 08:24] lohanidamodar commented on #1759
@Meldiron Looks like you have some issues assigned to you already. We request you to complete those before requesting assignments on new ones. Also, please consider picking a different type of issue so other contributors can try this one.

[2021-10-01 08:26] harshagrawal2412 commented on #1760
@Meldiron I would like to work on this issue.
Please assign this to me.

[2021-10-01 08:27] lohanidamodar commented on #1757
@agarwalraghav1687  We would love you to check out some of our other open issues and join us on [Discord](https://appwrite.io/discord) if you need help finding some.

[2021-10-01 08:28] ilangorajagopal commented on #1719
Hey. I'm a native Tamil speaker. I can double check the translations and make corrections if necessary?

[2021-10-01 08:30] lohanidamodar commented on #1749
@RReiso assigned to you. Good luck 👍

[2021-10-01 08:31] lohanidamodar commented on #1744
@lovetyagi-17 assigned to you. Good luck 👍

[2021-10-01 08:32] lohanidamodar commented on #1738
Hey @mbos2 assigned to you. Good luck 👍

[2021-10-01 08:33] san-coding commented on #1779
Thank you , will start working on this

[2021-10-01 08:35] lohanidamodar commented on #1734
@Ganzabahl assigned to you. Good luck 👍

[2021-10-01 08:35] christyjacob4 commented on #1723
@daniloff200  All the best :rocket:

[2021-10-01 08:36] christyjacob4 commented on #1724
@arsheelsheikh  All the best :rocket:

[2021-10-01 08:37] christyjacob4 commented on #1724
@Rutam21  We require a native Urdu speaker to help with this translation task :) We would love you to check out some of our other open issues and join us on [Discord](https://appwrite.io/discord) if you need help finding some.

[2021-10-01 08:37] christyjacob4 commented on #1726
@HelloSeaNation  All the best :rocket:

[2021-10-01 08:43] Shrey-Nahar commented on #1759
please assign this issue to me , I started working on it.

[2021-10-01 08:44] christyjacob4 commented on #1762
@Sin-Sumit  Do you speak Serbian?

[2021-10-01 08:45] christyjacob4 commented on #1760
@harshagrawal2412  We're looking for a native Slovak speaker for this task.

[2021-10-01 08:46] Sin-Sumit commented on #1762
Yeah, I'm not eligible for this. Thank You

[2021-10-01 08:47] christyjacob4 commented on #1719
@ilangorajagopal  All the best :rocket:

[2021-10-01 08:50] christyjacob4 commented on #1695
@Defkon1 Please create your PR after you've been assigned to an issue.

[2021-10-01 08:52] christyjacob4 commented on #1683
@ArmanChand  We're looking for native Spanish speakers for this translation issue

[2021-10-01 08:53] lohanidamodar commented on #545
Hey @MatteoGheza assigned to you. Best of luck 👍

[2021-10-01 08:53] christyjacob4 commented on #1703
@vj-codes  I understand your concern but we have over a 100 open issues here https://github.com/search?q=org%3Aappwrite+org%3Autopia-php+is%3Aissue+label%3Ahacktoberfest+created%3A%3E2021-01-01+is%3Aopen&type=issues

Feel free to pick up any one of them :smile:

[2021-10-01 08:54] Hard-Coder05 commented on #1709
@christyjacob4 I have not been assigned any of the issues yet!

[2021-10-01 09:01] Hard-Coder05 commented on #1709
@Meldiron @christyjacob4 It's quite weird to see that a single person is assigned 4 issues at the same time.

https://github.com/appwrite/appwrite/issues/1782

https://github.com/appwrite/appwrite/issues/1780

https://github.com/appwrite/appwrite/issues/1757

https://github.com/appwrite/appwrite/issues/1708

[2021-10-01 09:09] Shrey-Nahar commented on #1759
@Meldiron I have worked on this issue! Do review and merge it!

[2021-10-01 09:19] Defkon1 commented on #1695
ok... so I have to delete the PR?

[2021-10-01 09:52] Meldiron commented on #1702
@anandhu720 We would love you to check out some of our other open issues and join us on [Discord](https://appwrite.io/discord) if you need help finding some.

[2021-10-01 09:54] lohanidamodar commented on #1759
@Shrey-Nahar are you a native speaker of Sindhi Speaker?

[2021-10-01 09:55] Meldiron commented on #1709
@Hard-Coder05 If you truly haven't been assigned to anything, I am really sorry. It's hard to keep track of everything, we are humans, we do mistakes too.

This issue already has an assignee, please pick another one and I will mark you as assignee.

[2021-10-01 09:55] arsangamal commented on #1673
@Meldiron @christyjacob4 issue done and opened a PR #1800

[2021-10-01 09:55] Shrey-Nahar commented on #1759
@lohanidamodar I live in bangalore but  i am from rajasthan.
So i know sindhi

[2021-10-01 09:56] Shrey-Nahar commented on #1759
I know kannada and i am native speaker also can i work on that also @lohanidamodar

[2021-10-01 10:07] Hard-Coder05 commented on #1709
@Meldiron Sure! No problem. I would go through the other issues!

[2021-10-01 10:09] siddhiiguptaa commented on #1775
Are there more than 1 blog posts required? 🤔

[2021-10-01 10:11] Hard-Coder05 commented on #1759
@lohanidamodar First of all, I haven't been assigned any issue at the moment! And also it's quite weird to see that a single person is assigned 4 issues at the same time. And You are not able to assign me even a single one.

4 issues for your reference:
https://github.com/appwrite/appwrite/issues/1782

https://github.com/appwrite/appwrite/issues/1780

https://github.com/appwrite/appwrite/issues/17

[2021-10-01 10:11] 2002Bishwajeet commented on #1775
@siddhiiguptaa  yeah. The more the merrier😍

[2021-10-01 10:16] siddhiiguptaa commented on #1775
Oh okay!! That is one great news 😁 Thank You @2002Bishwajeet

[2021-10-01 10:33] Ln11211 commented on #1764
@lohanidamodar, can you assign this task to two people at a time ?, or is it not possible ?

[2021-10-01 10:47] Meldiron commented on #1673
@arsangamal Thanks for the PR! 🤯 Please give us some time to review it.

[2021-10-01 10:56] sshiv5768 commented on #1784
Yeah, definitely  Can you assign me this work? @@lohanidamodar

[2021-10-01 11:19] Meldiron commented on #1784
@sshiv5768 This issue is already assigned 😞 We would love you to check out some of our other open issues and join us on [Discord](https://appwrite.io/discord) if you need help finding some.

[2021-10-01 11:21] Meldiron commented on #1775
@srivastavaayu You can do one, you can do multiple. But please keep in mind,**quality over quantity** 🙏 If you really have a lot of time, you could (for example) code a demo app and then write an article about it. That would be considered as 2 submittions.

[2021-10-01 11:25] anandhu720 commented on #1702
@Meldiron I joined.How can I contact you there

[2021-10-01 11:49] shadowshot-x commented on #1774
Great Initiative. I will definitely contribute an article to AppWrite! :dagger:

[2021-10-01 12:08] Meldiron commented on #1702
@anandhu720 You can message me, the same name as here `Meldiron`. Or just ask in `#hacktoberfest` channel.

[2021-10-01 12:09] Meldiron commented on #1764
@Ln11211 Technically possible, but it would be really hard to communicate properly. Please wait for san-coding to prepare a PR and then you can review the PR. Yes, reviewing is also considered as contribution 🤩

[2021-10-01 12:13] Ln11211 commented on #1764
@Meldiron Sure !!, that would be a whole lot of new experience for me !! 🥳

[2021-10-01 12:16] Kokoden commented on #1689
Hey! Can I be assigned for this issue? 😄 I'm a native Hebrew speaker.

[2021-10-01 12:20] hdkhoasgt commented on #1725
Could you assign this issue to me?

[2021-10-01 12:22] chuiizeet commented on #1683
Hola!
I can take this 😊

[2021-10-01 12:27] agarwalraghav1687 commented on #1687
Hey! Would love to take this up :)

[2021-10-01 12:39] Ln11211 commented on #1764
@san-coding, Telugu ochha ?

[2021-10-01 12:47] Olyno commented on #1687
Salut! I already took that one, you may check what i did and complete my work :p @agarwalraghav1687

[2021-10-01 12:58] MohammedHamzaMalik commented on #1722
Hey @Meldiron , I would like to work on this issue. Can you assign it to me?

[2021-10-01 13:44] OscarRG commented on #1683
I tried to push the translation but im getting the error: Permission to appwrite/appwrite.git denied to OscarRG. Could you give me access? Thx

[2021-10-01 13:51] anandhu720 commented on #1702
sure

[2021-10-01 13:54] OscarRG commented on #1683
I submitted my [PR](https://github.com/appwrite/appwrite/pull/1819)  :)

[2021-10-01 14:18] OscarRG commented on #1712
Hello, you can find the translation in this [PR](https://github.com/appwrite/appwrite/pull/1820) :)

[2021-10-01 14:25] aerabi commented on #1684
I am interested in this issue. Could you please assign it to me?

P.S: I am a native Persian speaker who had studies in linguistics and orthography.

[2021-10-01 14:35] KaminskiDaniell commented on #1710
Hello, Is this task stiil available? I'm Polish, so I think, that I can handle the task :)

[2021-10-01 14:35] KaminskiDaniell commented on #25
Can I help with Polish translations? :D

[2021-10-01 14:54] CilgaIscan commented on #1722
Hi @Meldiron, I hope you are doing well, I am interested in this issue. As a native Turkish speaker, I hope I can complete this task :)

[2021-10-01 15:36] cristina-sirbu commented on #1713
Can I have this assigned to me? :)

[2021-10-01 15:57] adavijit commented on #1706
Hi , @Meldiron
I am native Dutch speaker. Please assign this task to me

[2021-10-01 16:01] ilmalte commented on #1695
No problem @Defkon1 :)
Closed by [#1824](https://github.com/appwrite/appwrite/pull/1824)

[2021-10-01 16:17] fernandoamz commented on #1746
heey @Meldiron, Can I take it?

[2021-10-01 16:43] isayas commented on #1683
Here's my contribution @christyjacob4
[PR](https://github.com/appwrite/appwrite/pull/1826)

[2021-10-01 16:45] Flodur871 commented on #1784
Unfortunately I won't be able to work on this in the near future, and since I saw you have already started, as far as I'm considered you can have it.

[2021-10-01 16:51] san-coding commented on #1764
Avunu bro

[2021-10-01 16:52] san-coding commented on #1764
Working on this, will open a PR soon

[2021-10-01 16:53] aniketh-varma commented on #1784
Hey, can I take up this issue.

[2021-10-01 16:55] HariniKrishnan commented on #1084
hi can I work on this issue?!

[2021-10-01 17:06] Ln11211 commented on #1764
@san-coding No problem, take your time. _ALL THE BEST_ ..

[2021-10-01 17:17] sshiv5768 commented on #1784
@Meldiron I already started working on this do can you assign this issue to me.

[2021-10-01 17:18] sshiv5768 commented on #1784
Or else if it is possible to assign to both then @aniketh-varma and i both can work together on this issue and complete rest of the work.

[2021-10-01 18:39] Christian-Oleson opened #1828 "📚 Documentation: The issues forms all have the word "Bug", even if it is a feature or documentation request"
### 💭 Description

The github issues forms all have the word "Bug", even if it is a feature or documentation request. This can be confusing to the user who is attempting to report a feature request or documentation request.

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I

[2021-10-01 18:40] Christian-Oleson commented on #1828
I could not assign myself by I am glad to take this issue and resolve it on my own.

[2021-10-01 18:42] Shrey-Nahar commented on #1759
@lohanidamodar please review the code and merge

[2021-10-01 18:48] christyjacob4 commented on #1784
@aniketh-varma @sshiv5768 If you prefer, you can work together but the PR would count for only one of you.

[2021-10-01 18:53] aniketh-varma commented on #1784
@sshiv5768 You can go ahead in that case since you were already working on this :)

[2021-10-01 19:03] teeradon43 commented on #1720
Hello, I am ready for this. Please assign this to me 🙂👍

[2021-10-01 19:22] christyjacob4 commented on #1746
@fernandoamz  All the best :rocket:

[2021-10-01 19:23] christyjacob4 commented on #1725
@hdkhoasgt  All the best :Rocket

[2021-10-01 19:24] christyjacob4 commented on #1722
@CilgaIscan All the best :rocket:

[2021-10-01 19:25] christyjacob4 commented on #1722
@MohammedHamzaMalik As we mentioned the translation issues are specifically for folks who speak the language natively.

[2021-10-01 19:25] christyjacob4 commented on #1713
@cristina-sirbu  All the best :rocket:

[2021-10-01 19:31] sshiv5768 commented on #1784
Thanks, @aniketh-varma for this kind gesture. @christyjacob4 you can assign me this issue, I would love to complete the rest of the work.

[2021-10-01 19:33] christyjacob4 commented on #1683
@chuiizeet  All the best :rocket:

[2021-10-01 19:35] christyjacob4 commented on #1683
@OscarRG  @isayas  Please create your PR after you've been assigned to an issue.

[2021-10-01 19:37] und1n3 commented on #1678
Hi! I would like to contribute :) Can I have this issue assigned?

[2021-10-01 19:37] christyjacob4 commented on #1712
@OscarRG  All the best :rocket:

[2021-10-01 19:45] christyjacob4 commented on #1710
@KaminskiDaniell  I'm sorry but this issue has already been assigned. We would love you to check out some of our other open issues and join us on [Discord](https://appwrite.io/discord) if you need help finding some.

[2021-10-01 19:48] christyjacob4 commented on #1706
@adavijit  Unfortunately your Github profile indicates a different region.

[2021-10-01 20:06] christyjacob4 commented on #1689
@Kokoden  All the best :rocket:

[2021-10-01 21:43] Ganzabahl commented on #1734
@lohanidamodar Thanks. PR is made, I'm pretty confident about the changes/addition but dunno if I got the process of submitting the PR right.

[2021-10-01 22:18] chuiizeet commented on #1683
@christyjacob4 i submitted my [PR](https://github.com/appwrite/appwrite/pull/1833)

[2021-10-01 23:13] mamat-rahmat commented on #1763
HI, i am a native Sundanese speaker. I'm interested to contribute. Can you assign this issue to me ?

[2021-10-02 01:13] arsheelsheikh commented on #1724
Thank You @christyjacob4

[2021-10-02 01:54] HelloSeaNation commented on #1727
I'm able to read and do this translate, please assign to me. thanks :)

[2021-10-02 02:12] HarshitPandey251 commented on #1730
@Meldiron I am also from Bihar and this is my first issue can you assign to me. Please

[2021-10-02 03:29] takmar commented on #1696
Hi, I'm a native Japanese speaker. Can I take this?

[2021-10-02 03:38] codestronaut commented on #1773
I would like to be assigned this issue

[2021-10-02 03:57] R055A commented on #1750
@GusEllerm

[2021-10-02 05:07] shadowshot-x opened #1837 "📚 Documentation: Missing Instructions to Stop the Appwrite Docker Instance"
### 💭 Description

It is always a good practice to add the instructions or commands to stop the instance of running software. I could not find the instructions to do a clean kill for appwrite on the documentation page and also by googling.

As Appwrite only uses Docker, so, I killed all the running containers to stop the instance. As docker containers may keep running in the background, appwrite w

[2021-10-02 05:07] shadowshot-x commented on #1837
Also, I will be happy to contribute to this issue if feasible

[2021-10-02 06:38] manojkrishnak commented on #1728
Hey, i will take this up.

There is no as.json as mentioned above in this path `app/config/locale/translations/as.json`

[2021-10-02 06:38] eldadfux commented on #1784
@sshiv5768 I have assigned you 👍

[2021-10-02 06:41] eldadfux commented on #1778
Does IdentityServer4 comply with the OAuth protocol? If yes this should be easy to implement, otherwise some extra guidance will be required from our side.

If the do support OAuth please share with us the relevant docs page 🙏

[2021-10-02 06:47] sanjus-robotic-studio commented on #1774
I am also contributing to Appwrite by writing a blogpost

[2021-10-02 06:52] eldadfux commented on #1837
Feel free to add the new section on our installation page: https://appwrite.io/docs/installation. You can add it just before the `Learn More` section. Please use the proper syntax for the code examples as used in the page, and proper English.

The relevant file to update is:
https://github.com/appwrite/docs/blob/main/app/views/docs/installation.phtml

Good luck, we're available on Discord for any

[2021-10-02 06:59] eldadfux commented on #1773
Hey @codestronaut , anyone can work on this issue, just keep quality in mind - good luck!

[2021-10-02 07:15] christyjacob4 commented on #1730
The ISO language code [`bh`](https://www.loc.gov/standards/iso639-2/php/code_list.php) refers to Bihari Languages which is a coalition of [Bhojpuri, Maithili and Magadhi](https://www.mapsofindia.com/bihar/bihar-at-a-glance/languages.html) . So this is the translation that we are expecting.

[2021-10-02 07:15] christyjacob4 commented on #1730
@dazzlerkumar All the best :rocket:

[2021-10-02 07:16] christyjacob4 commented on #1730
@HarshitPandey251 @starrohan999 @Hard-Coder05 We would love you to check out some of our other open issues and join us on [Discord](https://appwrite.io/discord) if you need help finding some.

[2021-10-02 07:17] santhosh-chinnasamy commented on #1719
Hi , I have changed few strings to most appropriate words.

[2021-10-02 07:19] shadowshot-x commented on #1837
Thank You @eldadfux . I will get started on it.

[2021-10-02 07:23] christyjacob4 commented on #1687
@agarwalraghav1687  We prefer native speakers of a language for the translation issues.

@Olyno  All the best :rocket:

[2021-10-02 07:23] christyjacob4 commented on #1684
@aerabi  All the best :rocket:

[2021-10-02 07:42] arealdeadone commented on #1778
According to this page - https://identityserver4.readthedocs.io/en/latest/intro/specs.html
It seems it does support OAuth 2.0

[2021-10-02 08:12] Red-0111 commented on #1681
Hi! I would like to work on this issue :D

[2021-10-02 08:16] dazzlerkumar commented on #1730
@christyjacob4 , Thank you! I've added translation for Maithili in bh.json but I want to inform you that Maithili has its own code `MAI` and I already made translations for Bhojpuri. Does appwrite will support Bhojpuri in future?

[2021-10-02 08:27] omnaladkar commented on #1703
@christyjacob4  Done

[2021-10-02 08:54] teeradon43 commented on #1720
@Meldiron

[2021-10-02 10:17] OscarRG commented on #1683
Hi @christyjacob4 Sorry i submitted the PR because I saw that it was not assigned to anybody :S sorry

[2021-10-02 10:18] Daybringer commented on #1679
Hello, is this issue still for grabs?
If so, I would like to work on it.

[2021-10-02 10:21] OscarRG commented on #1747
Hi @Meldiron i would like to work on this, could you assign it to me? :)

[2021-10-02 10:26] arvinf07 commented on #1828
So what is the goal here?

[2021-10-02 11:18] Nocsh opened #1843 "g"

[2021-10-02 11:28] christyjacob4 commented on #1763
Sure @mamat-rahmat  All the best

[2021-10-02 11:31] christyjacob4 commented on #1747
@OscarRG  Please confirm you're a native Luxembourgish speaker

[2021-10-02 11:40] christyjacob4 commented on #1730
@dazzlerkumar thank you for your contribution. We will review it in the coming days :+1:

Right now we're following the ISO 639-1 codes which are 2 letter language codes and does not support `MAI` whereas ISO 639-2 standards use three letter codes. When we do perform a migration, we would love to include many more languages, but right now, we're confined to the [ISO 639-1 list](https://lingohub.co

[2021-10-02 11:41] christyjacob4 commented on #1728
@manojkrishnak  please confirm that you are a native Assamese speaker ?

[2021-10-02 11:42] christyjacob4 commented on #1727
@HelloSeaNation  All the best :+1:

[2021-10-02 11:43] christyjacob4 commented on #1720
@teeradon43  please confirm you are a native Thai speaker ?

[2021-10-02 11:51] christyjacob4 commented on #1719
@santhosh-chinnasamy This issue is already assigned. We would love you to check out some of our other open issues and join us on [Discord](https://appwrite.io/discord) if you need help finding some.

[2021-10-02 11:55] christyjacob4 commented on #1696
@takmar  All the best :+1:

[2021-10-02 11:57] christyjacob4 commented on #1681
@Red-0111  We're looking for native Greek speakers for this issue. We would love you to check out some of our other open issues and join us on [Discord](https://appwrite.io/discord) if you need help finding some.

[2021-10-02 11:58] christyjacob4 commented on #1679
@Daybringer  All the best :+1:

[2021-10-02 11:58] christyjacob4 commented on #1678
@und1n3  All the best :+1:

[2021-10-02 12:07] teeradon43 commented on #1720
@christyjacob4 Yeah sure. I am Thai, and I can help you with this.

[2021-10-02 12:26] christyjacob4 commented on #1720
Awesome! All the best @teeradon43  :+1:

[2021-10-02 12:34] nishihere19 commented on #1666
Can I work on this issue?

[2021-10-02 12:35] nishihere19 commented on #1639
Hi! Can I work on this issue?

[2021-10-02 13:07] manojkrishnak commented on #1728
My friend is a native Assamese speaker, he will help me.

[2021-10-02 13:09] OscarRG commented on #1747
Hey @christyjacob4 I can confirm that I have a good knowledge of luxembourgish. If you want I can update the names of the countries and if nobody is interested in doing the translation I can do it without problem :)

[2021-10-02 13:19] vydyas commented on #1543
Hey @Meldiron, I'm from India and my mother tongue is Telugu.I'm a passionate developer I would like to complete this as part of Hacktoberfest. please assign this to me

[2021-10-02 13:51] #1843 closed

[2021-10-02 13:57] AhmedHammad0900 opened #1845 "🚀 Feature: UI/UX Flutter for OAuth providers"
### 🔖 Feature description

Hello Team.
Huge thanks for your efforts and time you are spending on that kind of projects .

I see you support a number of OAuth providers which is great but sadly the Auth is done through Browser which show apps  less professional for example Firebase provide Custom UI in app so you can easly login by just Choosing your Google Account that already used on your device

[2021-10-02 14:01] eldadfux commented on #1845
This will be a huge effort for all SDKs and create a lot of unwanted dependencies. What we can do is create a new method for providing an already obtained access token for creating an Appwrite session / user.

This way anyone who wants to can use the native provider SDK and still integrate with Appwrite.

[2021-10-02 14:04] kkhitesh commented on #1828
Can I work on this?

[2021-10-02 14:07] Christian-Oleson commented on #1828
To correct the English here for clarity

[2021-10-02 14:15] namangirdhar16 commented on #1770
@Meldiron i would like to work on this issue, please assign this to me.

[2021-10-02 14:15] namangirdhar16 commented on #1769
@Meldiron i would like to work on this issue, please assign this to me.

[2021-10-02 14:16] namangirdhar16 commented on #1768
@Meldiron i would like to work on this issue, please assign this to me.

[2021-10-02 14:16] namangirdhar16 commented on #1766
@Meldiron i would like to work on this issue, please assign this to me.

[2021-10-02 14:16] namangirdhar16 commented on #1765
@Meldiron i would like to work on this issue, please assign this to me.

[2021-10-02 14:17] namangirdhar16 commented on #1767
@Meldiron i would like to work on this issue, please assign this to me.

[2021-10-02 14:45] Asmit2952 commented on #1774
I'll be also contributing to Appwrite by publishing a  blog post!!

[2021-10-02 15:14] shadowshot-x commented on #1837
I noticed all the containers started by this process begin with appwrite. So it would be sensible to stop the containers using
`docker container stop $(docker container ls -q --filter name=appwrite*)`
This stops all the containers cleanly. I will be adding this in the documentation.

[2021-10-02 15:17] santhosh-chinnasamy commented on #1719
@christyjacob4 okay I will.

[2021-10-02 18:46] noviicee commented on #1774
This is amazing. I've always liked to write, and plus, this issue is a great example of 'open source is not just writing code'.
Thanks @Meldiron @christyjacob4 , will be making a PR for this :smile:

[2021-10-02 19:41] Sade28 commented on #1784
- [ ] - home

[2021-10-02 20:41] DiFronzo opened #1850 "🐛 Bug Report: "Feature" issue template tries to add a non-existent label"
### 👟 Reproduction steps

1. Click on "issues" in this repo
2. Click on "New issue"
3. Click "Get started" on "🚀 Feature"

### 👍 Expected behavior

Adds the label "feature" (maybe "enhancement" had been a better option??)

### 👎 Actual Behavior

Adds the label "feature" that does not exist.

### 🎲 Appwrite version

Version 0.10.x

### 💻 Operating system

Linux

### 🧱 Your Environment

_No response

[2021-10-02 21:26] ivernus commented on #1737
I'm happy to take a look at this 👍

[2021-10-03 02:30] evinhaela opened #1852 "https://telegram.org/dl?tme=3c82e99ef78a68730b_16671084253876637193"

[2021-10-03 02:31] evinhaela commented on #1852
aqui

[2021-10-03 02:35] evinhaela opened #1853 "https://telegram.org/dl?tme=3c82e99ef78a68730b_16671084253876637193"

[2021-10-03 03:43] priyanshu688 commented on #1780
Can I still work on this?? @Meldiron

[2021-10-03 03:46] priyanshu688 commented on #1774
I would like to contribute by publishing the article @Meldiron

[2021-10-03 03:55] #1853 closed

[2021-10-03 03:55] #1852 closed

[2021-10-03 03:56] lohanidamodar commented on #1780
As you can see this is already assigned to @Rutam21 so no.
Thank you

[2021-10-03 04:12] lohanidamodar commented on #1737
@ivernus can you please confirm you are a native irish speaker?

[2021-10-03 04:14] lohanidamodar commented on #1774
Sure @priyanshu688 you can. All the best 🚀

[2021-10-03 04:17] lohanidamodar commented on #1765
@namangirdhar16 can you please confirm that you are native Tajik speaker? Thank you.

[2021-10-03 04:34] prasadsunny1 commented on #1730
More than surprised to see something being translated into bihari languages

[2021-10-03 04:38] prasadsunny1 commented on #1670
This seems like a nice addition to the client APIs, which client SDK are you using right now?

[2021-10-03 04:44] priyanshu688 commented on #1774
@lohanidamodar thank you..

[2021-10-03 05:54] lohanidamodar commented on #1747
@OscarRG  Assigned to you. All the best 🚀

[2021-10-03 07:14] Abdallarabie1 opened #1856 "Aaa"

[2021-10-03 07:32] OscarRG commented on #1747
Hello @lohanidamodar you can find [here the PR](https://github.com/appwrite/appwrite/pull/1857) :)

[2021-10-03 07:46] mantasio commented on #1701
Hey @Meldiron , I could help with this issue

[2021-10-03 08:02] uselessgoddess opened #1859 "Why your search not support 257 characters?"

[2021-10-03 10:47] loftwah commented on #24
I'm interested to know the status of this issue.

[2021-10-03 10:48] loftwah commented on #18
What is the status of this issue?

[2021-10-03 10:51] StarTrooper08 commented on #24
Can you help me solving this issue @loftwah ??

I m learning devOps and would like to contribute to this project issue.
The things that I will by contributing to this project
- Learn Helm chart

[2021-10-03 12:34] #1856 closed

[2021-10-03 12:43] lohanidamodar commented on #1701
@mantasio Assigned to you. All the best 🚀

[2021-10-03 14:02] dropkick-exe commented on #1722
@christyjacob4 Can I be assigned, I'm a native Turkish speaker as well and already done translating.

[2021-10-03 14:06] ivernus commented on #1737
Yes indeed @lohanidamodar

[2021-10-03 16:28] vencho-mdp commented on #1773
Hi! I'd like to work on this for the next couple of days. Could I?

[2021-10-03 16:31] Rutam21 commented on #1773
This ticket is open to all. However, make sure the demo apps add value for the community and are up to the quality standards.

[2021-10-03 17:42] teeradon43 commented on #1720
I've done all the tasks. Please check PR [#1851](https://github.com/appwrite/appwrite/pull/1851)

[2021-10-03 18:49] ArtixAllMighty commented on #1706
Hello, I'm a native Dutch speaker, I live in Belgium, i'd love to make a PR for the dutch language.

[2021-10-03 19:31] Exouxas commented on #1755
Hey! I'd like to do this task, could you assign it to me?

[2021-10-03 19:53] kristofkalocsai commented on #1691
heyo, I'd love to contribute to this!

[2021-10-03 21:00] tacoelho commented on #1735
Can I take this one?

[2021-10-03 21:12] divyanshkul commented on #1850
Is this still up for grabs? Would love to work on this
CC: @DiFronzo

[2021-10-03 23:30] PrerakMathur20 commented on #1728
Hello, I'd like work on this issue.
I know i little Assamese, and I also have 2 Assamese brothers who are willing to help me out here.

P.S. @manojkrishnak is right, there is no ```as.json``` in the path. But its not an issue, I can create a new file with exactly same layout as others, if assigned.

[2021-10-04 01:39] PrerakMathur20 commented on #1681
Hello,
I would like to work on this issue.
Here are 2 contributing reasons why I'd like to work on this issue:
1. Its October aka Hacktoberfest Month, and I want to increase my open source contributions.
2. My sister is a Greek Teacher, and can easily help me out on this one.

[2021-10-04 02:55] loftwah commented on #24
Yep definitely, are you in the Discord? I am Beatsmiff in there, if not I am easy to get in touch with and I'd love to work with you on this one.

[2021-10-04 04:32] cristina-sirbu commented on #1713
I created PR #1868 with the translations. 😃

[2021-10-04 04:50] lohanidamodar commented on #1722
@dropkick-exe Hey, as you can see it's already assigned to someone else. We would love you to check out some of our other open issues and join us on [Discord](https://appwrite.io/discord) if you need help finding some.

[2021-10-04 04:52] lohanidamodar commented on #1735
@tacoelho Assigned to you. All the best 🚀

[2021-10-04 04:52] lohanidamodar commented on #1737
@ivernus assigned to you. All the best 🚀

[2021-10-04 04:53] lohanidamodar commented on #1755
@Exouxas hi can you confirm you are native Norwegian Bokmål speaker?

[2021-10-04 04:56] kostapappas commented on #1681
Hi! I would like to work on this issue.
Native Greek speaker here.

[2021-10-04 05:04] lohanidamodar commented on #1681
@kostapappas assigned to you. All the best 🚀

[2021-10-04 05:04] lohanidamodar commented on #1681
@PrerakMathur20 We would love you to check out some of our other open issues and join us on [Discord](https://appwrite.io/discord) if you need help finding some.

[2021-10-04 05:04] lohanidamodar commented on #1691
@kristofkalocsai can you confirm you are a Native speaker?

[2021-10-04 05:10] lohanidamodar commented on #1706
@ArtixAllMighty assigned to you. All the best.

[2021-10-04 05:18] Exouxas commented on #1755
@lohanidamodar Yes sir! Do you need any proof of it? I'm born and raised in Norway, and Bokmål is my way of writing.

[2021-10-04 05:38] lohanidamodar commented on #1755
@Exouxas assigned to you. All the best 🚀

[2021-10-04 06:15] kristofkalocsai commented on #1691
I can assure you that Hungarian is my native tongue.
Biztosíthatlak róla, hogy a magyar az anyanyelvem.

[2021-10-04 06:28] StarTrooper08 commented on #24
Yes I m in the appwrite server.
(Atharva Shirdhankar)

[2021-10-04 06:44] KarishmaVanwari opened #1870 "🚀 Feature: Custom scrollbar"
### 🔖 Feature description

Custom scrollbar that matches with the website.

### 🎤 Pitch

I think that the custom scrollbar would help enhance the look of the website.

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.com/appwr

[2021-10-04 06:45] KarishmaVanwari commented on #1870
Hey, I would like to work on this issue as a part of Hacktoberfest 2021, if its seems okay. Please assign me this issue.

[2021-10-04 06:52] loftwah commented on #24
Wicked, PM me and we'll go from there. We can work out a time when we're both free.

[2021-10-04 07:03] StarTrooper08 commented on #24
Ok sure👍

[2021-10-04 07:07] StarTrooper08 commented on #24
But I think better discuss here openly about this issue.
If anyone else want to Help us can do it.
Personal msg will be like close discussion.

[2021-10-04 07:08] StarTrooper08 commented on #24
Even we can make GitHub  discussion for the same.

[2021-10-04 07:58] NeonSpork commented on #1707
I'd like to work on this issue! I'm a native Norwegian speaker. :) Could you please assign me this?

[2021-10-04 08:36] NeonSpork commented on #1707
I got excited and plowed ahead without being assigned, pull request #1871 :)

[2021-10-04 09:08] lohanidamodar commented on #1691
@kristofkalocsai Assigned to you. All the best 🚀

[2021-10-04 09:35] AmreshSinha commented on #1783
Zendesk auth needs extra field other than appid and appsecret.
https://{your-subdomain}.zendesk.com/oauth/authorizations/new?{your-queries}

It needs a subdomain field. There is no API access on main zendesk website. Every company or org gets his own zendesk suite like https://your-company.zendesk.com from where he can use the API and other stuffs.

[2021-10-04 10:42] kristofkalocsai commented on #1691
roger

[2021-10-04 10:47] lohanidamodar commented on #1783
@AmreshSinha you can add extra fields. For example how to check our Apple OAuth implementation. If you have more queries feel free to reachout.

[2021-10-04 12:10] christyjacob4 commented on #1728
@manojkrishnak  We're waiting to hear from you. Let us know if you are a native Assamese speaker and we can assign it to you. Else we'll assign this one to @PrerakMathur20

[2021-10-04 12:35] manojkrishnak commented on #1728
@christyjacob4, I'm not but a friend of mine is, same as @PrerakMathur20. You can assign this issue to @PrerakMathur20 .

[2021-10-04 14:22] DevanshK08 commented on #1774
I will be writing one ;-)

[2021-10-04 14:23] fernandoamz commented on #1746
Can you help me to review it? Here is the PR https://github.com/appwrite/appwrite/pull/1830

[2021-10-04 15:21] Itashamodi commented on #1690
I want to work on it.

[2021-10-04 16:45] ArtixAllMighty commented on #1706
A pr has been submitted

[2021-10-04 17:52] Gustl22 opened #1881 "🐛 Bug Report: Can't add Rule for single embedded Document (without Array option) via UI on FIREFOX"
### 👟 Reproduction steps

- Open Firefox (here 94.0) and go to appwrite app.
- Add two different Collections (e.g. A and B) via UI
- Add Rule to Collection A with Rule Type "Document"
- Select one Collection under "Allowed Collections" WITHOUT checking the "Array" checkbox.
- Click on Update

<img src="https://user-images.githubusercontent.com/18537755/135899955-8d8b4746-47e4-401a-8387-b55d5768905

[2021-10-04 18:42] jakubhi commented on #1760
@Meldiron Hi, native Slovak speaker here. You can assign this to me.

[2021-10-04 18:58] adsingh14 commented on #1709
Hi there !
If you need any help for Punjabi l10n, just reply. :)

[2021-10-04 19:02] adsingh14 commented on #25
Just a reminder, I'll be available for Punjabi language.

[2021-10-04 19:20] arp99 commented on #1773
I am new to appwrite, I would be happy to contribute 😀. Can anyone suggest resources to study? 😅

[2021-10-04 21:17] divyanshkul commented on #1828
Is this still up for grabs? I can take this up

[2021-10-04 22:57] loftwah commented on #24
Oh no doubt, I was just thinking PM for scheduling, but I'm happy to do it all here, buzz me when you're online.

[2021-10-04 22:57] loftwah commented on #24
https://github.com/turnerlabs/helm-chart-docker-compose Something like this might be a good idea.

[2021-10-04 23:39] kodumbeats commented on #24
@loftwah I had a similar idea, but a `kompose` chart doesn't generate a helm chart ready to customize with a `values.yml`. This issue has spun off into https://github.com/appwrite/appwrite/issues/364 which might be more appropriate, considering Appwrite's stateful dependencies.

[2021-10-04 23:55] loftwah commented on #24
That's okay, we could manually fill out the rest.

[2021-10-04 23:55] loftwah commented on #364
@kodumbeats I see why this spun off, I don't think we need a seperate issue for the Helm Chart, because it would be covered here.

[2021-10-05 02:03] hdkhoasgt commented on #1725
@christyjacob4
Please help me check this pull request https://github.com/appwrite/appwrite/pull/1880

[2021-10-05 03:18] AhmedHammad0900 opened #1886 "🐛 Bug Report: Permissions of Storage not Working"
### 👟 Reproduction steps

- When I use read and write permissions for specific user it doesn't work .. file still private for the user who got the permission

- All Storage Files must be public [*] to be reachable by any user no one can reach without public read permission .

- Not working for a team or single user always must be public

- If I have the link of a Storage file and this file has no

[2021-10-05 04:11] arushmangal commented on #1774
I would like to contribute as well @Meldiron

[2021-10-05 05:15] #1689 closed

[2021-10-05 05:16] PrerakMathur20 commented on #1728
Thank you @manojkrishnak. Looking forward to it.

[2021-10-05 05:43] #1409 closed

[2021-10-05 05:43] #1505 closed

[2021-10-05 05:43] #1669 closed

[2021-10-05 05:50] #1700 closed

[2021-10-05 06:38] TasnimAnas commented on #1676
I'm a native Bengali speaker from Bangladesh. I would like to work on this issue

[2021-10-05 06:50] lohanidamodar commented on #1690
@Itashamodi We would love you to check out some of our other open issues and join us on discord if you need help finding some
https://appwrite.io/discord

[2021-10-05 06:51] lohanidamodar commented on #1709
@adsingh14 We would love you to check out some of our other open issues and join us on discord if you need help finding some
https://appwrite.io/discord

[2021-10-05 06:52] lohanidamodar commented on #1725
Great work 🚀 No worries, our team will go through all the PRs, no one will be left out.

[2021-10-05 06:53] lohanidamodar commented on #1746
@fernandoamz no worries, All the PRs will be reviewed.

[2021-10-05 06:53] lohanidamodar commented on #1760
@jakubhi assigned to you. All the best 🚀

[2021-10-05 06:54] lohanidamodar commented on #1773
@arp99 here you go
https://appwrite.io/docs
https://30days.appwrite.io/
https://github.com/appwrite/awesome-appwrite

[2021-10-05 06:55] lohanidamodar commented on #1774
@arushmangal Sure. All the best 🚀

[2021-10-05 06:57] Goheljay commented on #1740
@Meldiron  can I work on this issue? can you assign me?.... Thank you

I am not from Georgia. but I know about the Georgian language and I can speak it too.

[2021-10-05 06:58] lohanidamodar commented on #1676
@TasnimAnas We would love you to check out some of our other open issues and join us on discord if you need help finding some
https://appwrite.io/discord

[2021-10-05 07:02] lohanidamodar commented on #1740
@Goheljay we are looking for native Georgian speaker. Thank you. We would love you to check out some of our other open issues and join us on discord if you need help finding some
https://appwrite.io/discord

[2021-10-05 07:07] Meldiron opened #1888 "Help by improving Appwrite's GitHub topic 📡"
# Introduction

GitHub topics let you create a place to share repositories, issues and pull requests from multiple repositories with the same topic. This helps with building a community focused on a specific tool, technology or programming language. We have [Appwrite topic](https://github.com/topics/appwrite) setup and active, but we forgot to add some information about the topic 🤭 Could you help

[2021-10-05 07:11] GunjanDhanuka commented on #1888
Hey! Can I work on this? I know I have another issue assigned to me but that is going to take some time to complete 😅. I am good at documentation and would love to take this on and complete this one first! 🎉 @Meldiron

[2021-10-05 07:31] Meldiron commented on #1888
@GunjanDhanuka Assigned it to you! All the best 🚀

[2021-10-05 07:37] Meldiron commented on #1776
I am sorry for creating this issue, it should not be created in this repository. All other Appwrite and Utopia-PHP have this issue created.

[2021-10-05 07:37] #1776 closed

[2021-10-05 07:51] Meldiron opened #1920 "Implement generateOpenStreetMap() Appwrite Function ⚡"
# Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more at our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

Your task is to implement `generateOpenStreetMap` function. You can look at the existing [Appwrite Functions demo](https://github.com/appwrite/demos-for-functions) i

[2021-10-05 07:53] eldadfux commented on #1870
Hey @KarishmaVanwari, thanks for the suggestion, but we would skip any design related issues at this point. Please feel free to suggest other issues or to pick one of the available ones. If you need any help, our team can assist on Discord: https://appwrite.io/discord

[2021-10-05 07:53] #1870 closed

[2021-10-05 07:54] #1845 closed

[2021-10-05 07:55] eldadfux commented on #1888
Good luck @GunjanDhanuka! You can reach out for help here or on Discord if you need something.
https://appwrite.io/discord

[2021-10-05 09:34] Virtual1 commented on #1672
Hello there! Can I have a go at this please? Thank you!

[2021-10-05 10:57] anukindipa commented on #1715
can i try it too?

[2021-10-05 11:03] kostapappas commented on #1681
@lohanidamodar I have made the pull request -> https://github.com/appwrite/appwrite/pull/1869
but I can't connect it with this issue. Do I need to do anything more?

[2021-10-05 12:00] Meldiron opened #1891 "Implement sendMessageBirdWhatsAppMessage() Appwrite Function ⚡"
# Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more at our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

Your task is to implement `sendMessageBirdWhatsAppMessage` function. You can look at the existing [Appwrite Functions demo](https://github.com/appwrite/demos-for-fun

[2021-10-05 12:00] Meldiron opened #1892 "Implement sendMessageBirdSMS() Appwrite Function ⚡"
# Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more at our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

Your task is to implement `sendMessageBirdSMS` function. You can look at the existing [Appwrite Functions demo](https://github.com/appwrite/demos-for-functions) in t

[2021-10-05 12:00] Meldiron opened #1893 "Implement sendMessageBirdVoiceMessage() Appwrite Function ⚡"
# Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more at our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

Your task is to implement `sendMessageBirdVoiceMessage` function. You can look at the existing [Appwrite Functions demo](https://github.com/appwrite/demos-for-functi

[2021-10-05 12:06] christyjacob4 commented on #1672
@Virtual1  All the best :+1:

[2021-10-05 12:06] eigengravy commented on #1892
hi, i would love to work on the python implementation

[2021-10-05 12:12] Meldiron commented on #1892
@eigengravy Assigned it to you! All the best 🚀

[2021-10-05 12:26] MysticSeeker commented on #1774
I Want to write a blog. Gimme a chance please... :happy:

[2021-10-05 12:28] codingsamurai-10 commented on #1891
Can I work on this for nodejs?

[2021-10-05 12:32] soumyo123-prog commented on #1892
Can I work on the nodeJs implementation?

[2021-10-05 12:42] Meldiron opened #1911 "Implement getStripePaymentStatus() Appwrite Function ⚡"
# Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more at our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

Your task is to implement `getStripePaymentStatus` function. You can look at the existing [Appwrite Functions demo](https://github.com/appwrite/demos-for-functions)

[2021-10-05 12:42] Meldiron opened #1914 "Implement subscribeToMailchimp() Appwrite Function ⚡"
# Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more at our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

Your task is to implement `subscribeToMailchimp` function. You can look at the existing [Appwrite Functions demo](https://github.com/appwrite/demos-for-functions) in

[2021-10-05 12:45] crossphoton commented on #1921
Yeah just commented to omit further confusion to someone else.
@Meldiron @Sin-Sumit

[2021-10-05 12:49] ashish-patwal commented on #1891
Hey @Meldiron , i would love to work on the python implementation of this function . Can you please assign it to me .

[2021-10-05 13:04] Meldiron opened #1922 "Implement generateGiphyGif() Appwrite Function ⚡"
# Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more at our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

Your task is to implement `generateGiphyGif` function. You can look at the existing [Appwrite Functions demo](https://github.com/appwrite/demos-for-functions) in the

[2021-10-05 13:04] Meldiron opened #1923 "Implement getCovidStats() Appwrite Function ⚡"
# Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more at our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

Your task is to implement `getCovidStats` function. You can look at the existing [Appwrite Functions demo](https://github.com/appwrite/demos-for-functions) in the co

[2021-10-05 13:04] Meldiron opened #1924 "Implement compressTinyPNGImage() Appwrite Function ⚡"
# Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more at our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

Your task is to implement `compressTinyPNGImage` function. You can look at the existing [Appwrite Functions demo](https://github.com/appwrite/demos-for-functions) in

[2021-10-05 13:20] Emiliaaah commented on #1922
I can make the NodeJS function

[2021-10-05 13:21] #1919 closed

[2021-10-05 13:22] PaulKovalov commented on #1923
Hi! Could you please assign python to me

[2021-10-05 13:25] achintya-7 commented on #1892
Can I work on this issue. I'll use python for this

[2021-10-05 13:26] Meldiron commented on #1923
@PaulKovalov Assigned it to you! All the best 🚀

[2021-10-05 13:27] achintya-7 commented on #1893
Can I work on this issue. I'll use python language for it.

[2021-10-05 13:27] Meldiron commented on #1922
@Emiliaaah Assigned it to you! All the best 🚀

[2021-10-05 13:27] dcdunkan commented on #1923
Please assign nodejs to me

[2021-10-05 13:28] ramdevcm commented on #1892
hi, I would like to work on PHP

[2021-10-05 13:28] achintya-7 commented on #1924
Can I work on this issue using python language.

[2021-10-05 13:30] siddhantdixit commented on #1893
Can u assign python to me?

[2021-10-05 13:33] Hanasagi commented on #1924
I can do the Nodejs function

[2021-10-05 13:33] ayodejiAA commented on #1893
Can you please assign Node.js to me?

[2021-10-05 13:50] papuruth commented on #1675
Can I take this?

[2021-10-05 13:52] binhodev opened #1928 "🚀 Feature: Protect endpoint"
### 🔖 Feature description

Hello everyone!
Would you like to know if it is possible to protect the endpoint(server) from malicious users/scans? Like AppCheck (Firebase) which blocks requests from outside your app.

### 🎤 Pitch

This is interesting to check if the user is running an authentic and unhandled app, if not, backend resources are blocked for invalid apps.

Thanks!

### 👀 Have you spent s

[2021-10-05 13:59] Meldiron opened #1929 "Implement generateWebsiteScreenshot() Appwrite Function ⚡"
# Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more at our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

Your task is to implement `generateWebsiteScreenshot` function. You can look at the existing [Appwrite Functions demo](https://github.com/appwrite/demos-for-function

[2021-10-05 13:59] Meldiron opened #1930 "Implement optimizeCloudConvertFile() Appwrite Function ⚡"
# Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more at our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

Your task is to implement `optimizeCloudConvertFile` function. You can look at the existing [Appwrite Functions demo](https://github.com/appwrite/demos-for-functions

[2021-10-05 13:59] Meldiron opened #1931 "Implement mergeCloudConvertFiles() Appwrite Function ⚡"
# Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more at our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

Your task is to implement `mergeCloudConvertFiles` function. You can look at the existing [Appwrite Functions demo](https://github.com/appwrite/demos-for-functions)

[2021-10-05 14:02] pi43141 commented on #1924
I take the PHP version

[2021-10-05 14:03] Aakash-Raj-2001 commented on #1931
Can i work on this issue?

[2021-10-05 14:04] aniketh-varma commented on #1930
Hi, I would like to work on the Python implementation of this issue. Please assign :)

[2021-10-05 14:04] Meldiron commented on #1931
@Aakash-Raj-2001 Sure thing 😊 Using which language would you like to work on this?

[2021-10-05 14:05] Aakash-Raj-2001 commented on #1931
I want to work on Python implementation

[2021-10-05 14:06] Meldiron commented on #1930
@aniketh-varma Assigned it to you! All the best 🚀

[2021-10-05 14:06] luisorbaiceta commented on #1929
Hey guys! I can implement this in NodeJS. I'll be glad to contribute to this amazing project!

[2021-10-05 14:06] Meldiron commented on #1931
@Aakash-Raj-2001 Assigned it to you! All the best 🚀

[2021-10-05 14:07] Aakash-Raj-2001 commented on #1931
ok @Meldiron :)

[2021-10-05 14:08] Meldiron commented on #1929
@luisorbaiceta Assigned it to you! All the best 🚀

[2021-10-05 14:18] siddhantdixit commented on #1929
Can I work with Python on this issue?

[2021-10-05 14:25] Amdbase1 commented on #1930
Hello I would like to contribute in this issue through NodeJS. Assign me this.

[2021-10-05 14:27] Meldiron commented on #1930
@Amdbase1 Assigned it to you! All the best 🚀

[2021-10-05 14:37] Meldiron commented on #1924
@Hanasagi Assigned it to you! Good luck 🚀

[2021-10-05 14:37] Meldiron commented on #1924
@pi43141 Assigned it to you! Happy contributing 🚀

[2021-10-05 14:38] Meldiron commented on #1922
@ayan-b Assigned it to you! All the best 🚀

[2021-10-05 14:39] Meldiron commented on #1893
@siddhantdixit @achintya-7 Assigned it to you! All the best 🚀

[2021-10-05 14:39] Meldiron commented on #1893
@ayodejiAA @achintya-7 Assigned it to you! Good luck 🚀

[2021-10-05 14:42] #1699 closed

[2021-10-05 14:44] Meldiron commented on #1892
@soumyo123-prog Assigned it to you! All the best 🚀

[2021-10-05 14:45] Meldiron commented on #1892
@ramdevcm Assigned it to you! Good luck 🚀

[2021-10-05 14:46] Meldiron commented on #1891
@codingsamurai-10 Assigned it to you! Good luck 🚀

[2021-10-05 14:46] Meldiron commented on #1891
@ashish-patwal Assigned it to you! All the best 🚀

[2021-10-05 14:49] Meldiron commented on #1920
@mirwansyahs Assigned it to you! Good luck 🚀

[2021-10-05 14:49] Meldiron commented on #1774
@MysticSeeker Go ahead, anyone can work on this issue 😊 Can't wait to read your article.

[2021-10-05 14:52] Meldiron commented on #1909
@crossphoton Assigned it to you! Good luck 🚀

[2021-10-05 14:53] Meldiron commented on #1908
@crossphoton Assigned it to you! All the best 🚀

[2021-10-05 14:54] Meldiron commented on #1898
@crossphoton I just assigned you 2 different issues. Please do these, submit PR, then we can assign you to more. Sounds good? 😊

[2021-10-05 14:56] Meldiron opened #1933 "Implement convertCloudConverterFile() Appwrite Function ⚡"
# Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more at our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

Your task is to implement `convertCloudConverterFile` function. You can look at the existing [Appwrite Functions demo](https://github.com/appwrite/demos-for-function

[2021-10-05 14:56] Meldiron opened #1934 "Implement createCloudConvertArchive() Appwrite Function ⚡"
# Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more at our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

Your task is to implement `createCloudConvertArchive` function. You can look at the existing [Appwrite Functions demo](https://github.com/appwrite/demos-for-function

[2021-10-05 14:56] Meldiron opened #1935 "Implement generateCloudConvertThumbnail() Appwrite Function ⚡"
# Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more at our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

Your task is to implement `generateCloudConvertThumbnail` function. You can look at the existing [Appwrite Functions demo](https://github.com/appwrite/demos-for-func

[2021-10-05 15:00] Amdbase1 commented on #1935
Hi I would like to contribute in this through python. Assign me please

[2021-10-05 15:00] Meldiron commented on #1935
@Amdbase1 Assigned it to you! All the best 🚀

[2021-10-05 15:15] Ankitlenka26 commented on #1933
Hey, I can do it in Java. Can you please assign this to me please?

[2021-10-05 15:17] Ankitlenka26 commented on #1934
Hey, I can do it in Java. Can you please assign this to me please?

[2021-10-05 15:18] Meldiron commented on #1933
@Ankitlenka26 Assigned it to you! Good luck 🚀

[2021-10-05 15:19] Meldiron commented on #1934
@Ankitlenka26 Assigned it to you! All the best 🚀

[2021-10-05 15:36] niyoj commented on #1906
Can you close this issue as this issue cannot be resolved currently at the moment due to lack of the API feature or something like that by Invoice2go?

[2021-10-05 15:53] Ashwin-exe commented on #1923
Hey @Meldiron , can you assign me for java.

[2021-10-05 15:58] Meldiron opened #1937 "Help us fix PSR issues in the Auth library [#master]"
## Introduction

Appwrite uses some custom libraries (and extensions of libraries) that are all stored in the [`src/Appwrite`](https://github.com/appwrite/appwrite/tree/master/src/Appwrite) folder. Some of these files may not be fully compliant with the [PSR coding standards](https://www.php-fig.org/psr/), and we need your help to fix those issues.

Don't worry, we have a neat little trick for you

[2021-10-05 15:58] Meldiron opened #1938 "Help us fix PSR issues in the Database library [#master]"
## Introduction

Appwrite uses some custom libraries (and extensions of libraries) that are all stored in the [`src/Appwrite`](https://github.com/appwrite/appwrite/tree/master/src/Appwrite) folder. Some of these files may not be fully compliant with the [PSR coding standards](https://www.php-fig.org/psr/), and we need your help to fix those issues.

Don't worry, we have a neat little trick for you

[2021-10-05 15:58] Meldiron opened #1939 "Help us fix PSR issues in the Detector library [#master]"
## Introduction

Appwrite uses some custom libraries (and extensions of libraries) that are all stored in the [`src/Appwrite`](https://github.com/appwrite/appwrite/tree/master/src/Appwrite) folder. Some of these files may not be fully compliant with the [PSR coding standards](https://www.php-fig.org/psr/), and we need your help to fix those issues.

Don't worry, we have a neat little trick for you

[2021-10-05 15:58] zeroplusone commented on #1922
Hi, I would like to work on this issue in Java. Thanks.

[2021-10-05 16:03] srijit2002 commented on #1937
can you please assign it to me?

[2021-10-05 16:05] srijit2002 commented on #1938
I want to take this issue

[2021-10-05 16:05] srijit2002 commented on #1938
I want to take this issue

[2021-10-05 16:09] ezioishan commented on #1939
Hey, I would love to work on this issue

[2021-10-05 16:42] bashovski commented on #1922
Hey @Meldiron, I'd like to make one for Deno.
Cheers.

[2021-10-05 16:55] #1684 closed

[2021-10-05 17:18] DevanshK08 commented on #1929
Hey @Meldiron can I work on it with java?

[2021-10-05 17:23] christyjacob4 opened #1942 "Help us fix PSR issues in the Docker library [#master]"
## Introduction

Appwrite uses some custom libraries (and extensions of libraries) that are all stored in the [`src/Appwrite`](https://github.com/appwrite/appwrite/tree/master/src/Appwrite) folder. Some of these files may not be fully compliant with the [PSR coding standards](https://www.php-fig.org/psr/), and we need your help to fix those issues.

Don't worry, we have a neat little trick for you

[2021-10-05 17:24] christyjacob4 opened #1943 "Help us fix PSR issues in the Event library [#master]"
## Introduction

Appwrite uses some custom libraries (and extensions of libraries) that are all stored in the [`src/Appwrite`](https://github.com/appwrite/appwrite/tree/master/src/Appwrite) folder. Some of these files may not be fully compliant with the [PSR coding standards](https://www.php-fig.org/psr/), and we need your help to fix those issues.

Don't worry, we have a neat little trick for you

[2021-10-05 17:24] christyjacob4 opened #1944 "Help us fix PSR issues in the Extend library [#master]"
## Introduction

Appwrite uses some custom libraries (and extensions of libraries) that are all stored in the [`src/Appwrite`](https://github.com/appwrite/appwrite/tree/master/src/Appwrite) folder. Some of these files may not be fully compliant with the [PSR coding standards](https://www.php-fig.org/psr/), and we need your help to fix those issues.

Don't worry, we have a neat little trick for you

[2021-10-05 17:25] mendoza commented on #1943
I would love to work on this, I will make a PR in a moment, assign me when you can please.

[2021-10-05 17:26] MukulKolpe commented on #1944
Hey @christyjacob4 can I work on this issue?

[2021-10-05 17:26] mendoza commented on #1942
I would love to help on this issue, if you could assign me that would be great, I will be setting the repo meanwhile

[2021-10-05 17:46] mbos2 opened #1947 "🐛 Bug Report: Health API for database returns status "OK" when database containers are not active"
### 👟 Reproduction steps

Steps I do to reproduce this behaviour:

- Start appwrite locally
- Run official code example from documentation to get database health status
  - It returns `status: OK`
- Stop `appwrite-mariadb` container
- Run code again
  - Returns `status OK`

  Code snipet from [https://appwrite.io/docs/server/health?sdk=nodejs-default#healthGetDB](https://appwrite.io/docs/server/he

[2021-10-05 18:02] nooobcoder commented on #1939
/assing

[2021-10-05 18:02] nooobcoder commented on #1939
/assign

[2021-10-05 18:07] mbos2 commented on #1947
I just checked on [https://github.com/appwrite/appwrite/blob/master/app/controllers/api/health.php#L51](https://github.com/appwrite/appwrite/blob/master/app/controllers/api/health.php#L51) before raising the issue 😅
Does this mean `status: OK` will always be sent in any case?

[2021-10-05 18:11] mendoza commented on #1923
hi @Meldiron could you assign me the JavaScript version please

[2021-10-05 18:14] stuck-in-a-conundrum commented on #1944
@christyjacob4 I'd like to work on the issue

[2021-10-05 18:21] aggmoulik commented on #1923
Hi @Meldiron could you assign me the Deno version.

[2021-10-05 18:26] papuruth commented on #1937
Hey can I do this?

[2021-10-05 18:32] papuruth commented on #1938
I'll take this

[2021-10-05 19:05] christyjacob4 commented on #1943
@mendoza  all the best :+1:

[2021-10-05 19:05] christyjacob4 commented on #1942
@mendoza please consider picking a different type of issue so other contributors can try this one.

[2021-10-05 19:06] christyjacob4 commented on #1939
@ezioishan  All the best :+1:

[2021-10-05 19:06] christyjacob4 commented on #1938
@srijit2002 All the best :+1:

[2021-10-05 19:07] christyjacob4 commented on #1937
@papuruth  All the best :+1:

[2021-10-05 19:07] mendoza commented on #1942
sure! right now i'm trying one on the demo functions!

[2021-10-05 19:08] christyjacob4 commented on #1933
@codingsamurai-10  Assigned :+1:  All the best

[2021-10-05 19:08] oliver-pham commented on #1933
Hi! I'd like to contribute to this in Python.

[2021-10-05 19:09] christyjacob4 commented on #1929
@DevanshK08  All the best :+1:

[2021-10-05 19:10] christyjacob4 commented on #1923
@mendoza  @aggmoulik  All the best :+1:

[2021-10-05 19:14] christyjacob4 commented on #1922
@zeroplusone  @bashovski  Assigned it to you! all the best :+1:

[2021-10-05 19:15] christyjacob4 commented on #1728
@PrerakMathur20  All the best :+1:

[2021-10-05 19:17] christyjacob4 commented on #1715
@anukindipa  This issue is already assigned. You can check back in a few days for the progress updates. We would love you to check out some of our other open issues and join us on [Discord](https://appwrite.io/discord) if you need help finding some.

[2021-10-05 19:18] christyjacob4 commented on #1681
@kostapappas  You need to edit the PR and update the PR description with all the required questions

![Screenshot from 2021-10-06 00-47-59](https://user-images.githubusercontent.com/20852629/136088642-c3da7e34-9da2-4c31-b286-d87d61b3c079.png)

[2021-10-05 19:23] christyjacob4 opened #1953 "Help us fix PSR issues in the Messaging library [#master]"
## Introduction

Appwrite uses some custom libraries (and extensions of libraries) that are all stored in the [`src/Appwrite`](https://github.com/appwrite/appwrite/tree/master/src/Appwrite) folder. Some of these files may not be fully compliant with the [PSR coding standards](https://www.php-fig.org/psr/), and we need your help to fix those issues.

Don't worry, we have a neat little trick for you

[2021-10-05 19:23] christyjacob4 opened #1954 "Help us fix PSR issues in the Migration library [#master]"
## Introduction

Appwrite uses some custom libraries (and extensions of libraries) that are all stored in the [`src/Appwrite`](https://github.com/appwrite/appwrite/tree/master/src/Appwrite) folder. Some of these files may not be fully compliant with the [PSR coding standards](https://www.php-fig.org/psr/), and we need your help to fix those issues.

Don't worry, we have a neat little trick for you

[2021-10-05 19:24] christyjacob4 opened #1955 "Help us fix PSR issues in the Network library [#master]"
## Introduction

Appwrite uses some custom libraries (and extensions of libraries) that are all stored in the [`src/Appwrite`](https://github.com/appwrite/appwrite/tree/master/src/Appwrite) folder. Some of these files may not be fully compliant with the [PSR coding standards](https://www.php-fig.org/psr/), and we need your help to fix those issues.

Don't worry, we have a neat little trick for you

[2021-10-05 19:25] Emiliaaah commented on #1955
Feel free to assign me

[2021-10-05 19:26] christyjacob4 commented on #1955
@Emiliaaah  It's all yours :+1:

[2021-10-05 19:30] papuruth commented on #1953
Hey, can I do this?

[2021-10-05 19:31] christyjacob4 commented on #1953
@papuruth  please consider picking a different type of issue so other contributors can try this one.

[2021-10-05 19:31] papuruth commented on #1935
Can I take for Node.JS?

[2021-10-05 19:33] papuruth commented on #1953
Sure

[2021-10-05 19:34] waridrox commented on #1954
Hi @christyjacob4! 👋, can I pls try this one...

[2021-10-05 19:35] christyjacob4 commented on #1954
@waridrox  all the best :+1:

[2021-10-05 19:51] deepto98 commented on #1953
@christyjacob4 Hi, I'd like to work on this, can I pick this up?

[2021-10-05 19:53] christyjacob4 commented on #1953
@deepto98  All the best :+1:

[2021-10-05 19:54] deepto98 commented on #1934
@christyjacob4 I would like to contribute this function using PHP

[2021-10-05 19:54] deepto98 commented on #1933
@christyjacob4 I would like to contribute this function using PHP

[2021-10-05 19:56] christyjacob4 commented on #1934
@deepto98  Looks like you have some issues assigned to you already. We request you to complete those before requesting assignments on new ones.

[2021-10-05 19:56] christyjacob4 commented on #1933
@deepto98 Looks like you have some issues assigned to you already. We request you to complete those before requesting assignments on new ones.

[2021-10-05 19:57] deepto98 commented on #1933
okay, sure. I'll complete those first

[2021-10-05 21:25] divyanshkul commented on #1942
@christyjacob4 is this still up for grabs? Would love to work on it

[2021-10-06 02:16] PrerakMathur20 commented on #1728
Thank you for assigning this issue to me. I'll start working on it immediately.

[2021-10-06 03:40] 2002Bishwajeet commented on #1922
I can try making one using Dart😉

[2021-10-06 03:53] christyjacob4 opened #1962 "Help us fix PSR issues in the OpenSSL library [#master]"
## Introduction

Appwrite uses some custom libraries (and extensions of libraries) that are all stored in the [`src/Appwrite`](https://github.com/appwrite/appwrite/tree/master/src/Appwrite) folder. Some of these files may not be fully compliant with the [PSR coding standards](https://www.php-fig.org/psr/), and we need your help to fix those issues.

Don't worry, we have a neat little trick for you

[2021-10-06 03:53] christyjacob4 opened #1963 "Help us fix PSR issues in the Resque library [#master]"
## Introduction

Appwrite uses some custom libraries (and extensions of libraries) that are all stored in the [`src/Appwrite`](https://github.com/appwrite/appwrite/tree/master/src/Appwrite) folder. Some of these files may not be fully compliant with the [PSR coding standards](https://www.php-fig.org/psr/), and we need your help to fix those issues.

Don't worry, we have a neat little trick for you

[2021-10-06 03:54] christyjacob4 opened #1964 "Help us fix PSR issues in the Specification library [#master]"
## Introduction

Appwrite uses some custom libraries (and extensions of libraries) that are all stored in the [`src/Appwrite`](https://github.com/appwrite/appwrite/tree/master/src/Appwrite) folder. Some of these files may not be fully compliant with the [PSR coding standards](https://www.php-fig.org/psr/), and we need your help to fix those issues.

Don't worry, we have a neat little trick for you

[2021-10-06 03:54] christyjacob4 opened #1965 "Help us fix PSR issues in the Task library [#master]"
## Introduction

Appwrite uses some custom libraries (and extensions of libraries) that are all stored in the [`src/Appwrite`](https://github.com/appwrite/appwrite/tree/master/src/Appwrite) folder. Some of these files may not be fully compliant with the [PSR coding standards](https://www.php-fig.org/psr/), and we need your help to fix those issues.

Don't worry, we have a neat little trick for you

[2021-10-06 03:55] christyjacob4 opened #1966 "Help us fix PSR issues in the Template library [#master]"
## Introduction

Appwrite uses some custom libraries (and extensions of libraries) that are all stored in the [`src/Appwrite`](https://github.com/appwrite/appwrite/tree/master/src/Appwrite) folder. Some of these files may not be fully compliant with the [PSR coding standards](https://www.php-fig.org/psr/), and we need your help to fix those issues.

Don't worry, we have a neat little trick for you

[2021-10-06 03:55] christyjacob4 opened #1967 "Help us fix PSR issues in the URL library [#master]"
## Introduction

Appwrite uses some custom libraries (and extensions of libraries) that are all stored in the [`src/Appwrite`](https://github.com/appwrite/appwrite/tree/master/src/Appwrite) folder. Some of these files may not be fully compliant with the [PSR coding standards](https://www.php-fig.org/psr/), and we need your help to fix those issues.

Don't worry, we have a neat little trick for you

[2021-10-06 03:56] christyjacob4 opened #1968 "Help us fix PSR issues in the Utopia library [#master]"
## Introduction

Appwrite uses some custom libraries (and extensions of libraries) that are all stored in the [`src/Appwrite`](https://github.com/appwrite/appwrite/tree/master/src/Appwrite) folder. Some of these files may not be fully compliant with the [PSR coding standards](https://www.php-fig.org/psr/), and we need your help to fix those issues.

Don't worry, we have a neat little trick for you

[2021-10-06 03:57] mqnguyen5 commented on #1967
Hi, could I give it a try?

[2021-10-06 03:57] christyjacob4 opened #1969 "Help us fix PSR issues in the Auth library [#db]"
## Introduction

Appwrite uses some custom libraries (and extensions of libraries) that are all stored in the [`src/Appwrite`](https://github.com/appwrite/appwrite/tree/feat-database-indexing/src/Appwrite) folder. Some of these files may not be fully compliant with the [PSR coding standards](https://www.php-fig.org/psr/), and we need your help to fix those issues.

Don't worry, we have a neat litt

[2021-10-06 03:57] christyjacob4 opened #1970 "Help us fix PSR issues in the Database library [#db]"
## Introduction

Appwrite uses some custom libraries (and extensions of libraries) that are all stored in the [`src/Appwrite`](https://github.com/appwrite/appwrite/tree/feat-database-indexing-mirror/src/Appwrite) folder. Some of these files may not be fully compliant with the [PSR coding standards](https://www.php-fig.org/psr/), and we need your help to fix those issues.

Don't worry, we have a ne

[2021-10-06 03:58] christyjacob4 opened #1971 "Help us fix PSR issues in the Detector library [#db]"
## Introduction

Appwrite uses some custom libraries (and extensions of libraries) that are all stored in the [`src/Appwrite`](https://github.com/appwrite/appwrite/tree/feat-database-indexing-mirror/src/Appwrite) folder. Some of these files may not be fully compliant with the [PSR coding standards](https://www.php-fig.org/psr/), and we need your help to fix those issues.

Don't worry, we have a ne

[2021-10-06 03:58] christyjacob4 opened #1972 "Help us fix PSR issues in the Docker library [#db]"
## Introduction

Appwrite uses some custom libraries (and extensions of libraries) that are all stored in the [`src/Appwrite`](https://github.com/appwrite/appwrite/tree/feat-database-indexing/src/Appwrite) folder. Some of these files may not be fully compliant with the [PSR coding standards](https://www.php-fig.org/psr/), and we need your help to fix those issues.

Don't worry, we have a neat litt

[2021-10-06 03:59] christyjacob4 opened #1973 "Help us fix PSR issues in the Event library [#db]"
## Introduction

Appwrite uses some custom libraries (and extensions of libraries) that are all stored in the [`src/Appwrite`](https://github.com/appwrite/appwrite/tree/feat-database-indexing-mirror/src/Appwrite) folder. Some of these files may not be fully compliant with the [PSR coding standards](https://www.php-fig.org/psr/), and we need your help to fix those issues.

Don't worry, we have a ne

[2021-10-06 03:59] christyjacob4 opened #1974 "Help us fix PSR issues in the Extend library [#db]"
## Introduction

Appwrite uses some custom libraries (and extensions of libraries) that are all stored in the [`src/Appwrite`](https://github.com/appwrite/appwrite/tree/feat-database-indexing/src/Appwrite) folder. Some of these files may not be fully compliant with the [PSR coding standards](https://www.php-fig.org/psr/), and we need your help to fix those issues.

Don't worry, we have a neat litt

[2021-10-06 04:00] christyjacob4 opened #1975 "Help us fix PSR issues in the Migration library [#db]"
## Introduction

Appwrite uses some custom libraries (and extensions of libraries) that are all stored in the [`src/Appwrite`](https://github.com/appwrite/appwrite/tree/feat-database-indexing-mirror/src/Appwrite) folder. Some of these files may not be fully compliant with the [PSR coding standards](https://www.php-fig.org/psr/), and we need your help to fix those issues.

Don't worry, we have a ne

[2021-10-06 04:00] christyjacob4 opened #1976 "Help us fix PSR issues in the Network library [#db]"
## Introduction

Appwrite uses some custom libraries (and extensions of libraries) that are all stored in the [`src/Appwrite`](https://github.com/appwrite/appwrite/tree/feat-database-indexing-mirror/src/Appwrite) folder. Some of these files may not be fully compliant with the [PSR coding standards](https://www.php-fig.org/psr/), and we need your help to fix those issues.

Don't worry, we have a ne

[2021-10-06 04:01] christyjacob4 opened #1977 "Help us fix PSR issues in the OpenSSL library [#db]"
## Introduction

Appwrite uses some custom libraries (and extensions of libraries) that are all stored in the [`src/Appwrite`](https://github.com/appwrite/appwrite/tree/feat-database-indexing-mirror/src/Appwrite) folder. Some of these files may not be fully compliant with the [PSR coding standards](https://www.php-fig.org/psr/), and we need your help to fix those issues.

Don't worry, we have a ne

[2021-10-06 04:02] christyjacob4 opened #1978 "Help us fix PSR issues in the Resque library [#db]"
## Introduction

Appwrite uses some custom libraries (and extensions of libraries) that are all stored in the [`src/Appwrite`](https://github.com/appwrite/appwrite/tree/feat-database-indexing-mirror/src/Appwrite) folder. Some of these files may not be fully compliant with the [PSR coding standards](https://www.php-fig.org/psr/), and we need your help to fix those issues.

Don't worry, we have a ne

[2021-10-06 04:02] christyjacob4 opened #1979 "Help us fix PSR issues in the Specification library [#db]"
## Introduction

Appwrite uses some custom libraries (and extensions of libraries) that are all stored in the [`src/Appwrite`](https://github.com/appwrite/appwrite/tree/feat-database-indexing-mirror/src/Appwrite) folder. Some of these files may not be fully compliant with the [PSR coding standards](https://www.php-fig.org/psr/), and we need your help to fix those issues.

Don't worry, we have a ne

[2021-10-06 04:03] christyjacob4 opened #1980 "Help us fix PSR issues in the Stats library [#db]"
## Introduction

Appwrite uses some custom libraries (and extensions of libraries) that are all stored in the [`src/Appwrite`](https://github.com/appwrite/appwrite/tree/feat-database-indexing/src/Appwrite) folder. Some of these files may not be fully compliant with the [PSR coding standards](https://www.php-fig.org/psr/), and we need your help to fix those issues.

Don't worry, we have a neat litt

[2021-10-06 04:03] christyjacob4 opened #1981 "Help us fix PSR issues in the Task library [#db]"
## Introduction

Appwrite uses some custom libraries (and extensions of libraries) that are all stored in the [`src/Appwrite`](https://github.com/appwrite/appwrite/tree/feat-database-indexing-mirror/src/Appwrite) folder. Some of these files may not be fully compliant with the [PSR coding standards](https://www.php-fig.org/psr/), and we need your help to fix those issues.

Don't worry, we have a ne

[2021-10-06 04:04] christyjacob4 opened #1982 "Help us fix PSR issues in the Template library [#db]"
## Introduction

Appwrite uses some custom libraries (and extensions of libraries) that are all stored in the [`src/Appwrite`](https://github.com/appwrite/appwrite/tree/feat-database-indexing-mirror/src/Appwrite) folder. Some of these files may not be fully compliant with the [PSR coding standards](https://www.php-fig.org/psr/), and we need your help to fix those issues.

Don't worry, we have a ne

[2021-10-06 04:04] christyjacob4 opened #1983 "Help us fix PSR issues in the URL library [#db]"
## Introduction

Appwrite uses some custom libraries (and extensions of libraries) that are all stored in the [`src/Appwrite`](https://github.com/appwrite/appwrite/tree/feat-database-indexing-mirror/src/Appwrite) folder. Some of these files may not be fully compliant with the [PSR coding standards](https://www.php-fig.org/psr/), and we need your help to fix those issues.

Don't worry, we have a ne

[2021-10-06 04:08] fernandoamz commented on #1983
Hey @christyjacob4  I would like to contribute on this, May you assign me?

[2021-10-06 04:10] lohanidamodar commented on #1922
@2002Bishwajeet assigned dart to you. All the best 🚀

[2021-10-06 04:11] christyjacob4 opened #1984 "Help us fix PSR issues in the Utopia library [#db]"
## Introduction

Appwrite uses some custom libraries (and extensions of libraries) that are all stored in the [`src/Appwrite`](https://github.com/appwrite/appwrite/tree/feat-database-indexing/src/Appwrite) folder. Some of these files may not be fully compliant with the [PSR coding standards](https://www.php-fig.org/psr/), and we need your help to fix those issues.

Don't worry, we have a neat litt

[2021-10-06 04:12] christyjacob4 commented on #1942
@kaczmarekdaniel all the best :+1:

[2021-10-06 04:13] christyjacob4 commented on #1942
@divyanshkul  We would love you to check out some of our other open issues and join us on [Discord](https://appwrite.io/discord) if you need help finding some.

[2021-10-06 04:13] DiptoChakrabarty commented on #1966
can I take this up

[2021-10-06 04:17] fernandoamz commented on #1983
@christyjacob4, Thnks I will search for a new one

[2021-10-06 04:25] christyjacob4 commented on #1983
@krishguptadev  All the best :+1:

[2021-10-06 04:26] christyjacob4 commented on #1966
@DiptoChakrabarty  this issue is catered towards new contributors. Please consider picking an issue of greater complexity so other contributors can try this one.

[2021-10-06 04:35] krishguptadev commented on #1983
@christyjacob4 I had a question, Should I use the vscode editor extension or the cli?

[2021-10-06 04:40] #1707 closed

[2021-10-06 04:44] maniSHarma7575 commented on #1981
@christyjacob4 I would like to try? Can you please assign me?

[2021-10-06 04:46] maniSHarma7575 commented on #1965
@christyjacob4 I would like to try? Can you please assign me?

[2021-10-06 04:50] christyjacob4 commented on #1984
@Lakshay-Pruthi  please go through the issue description. We've detailed everything you need :+1:

[2021-10-06 04:52] christyjacob4 commented on #1965
@maniSHarma7575  All the best :+1:

[2021-10-06 04:54] Sin-Sumit commented on #1982
@christyjacob4 Please assign me to work on this.

[2021-10-06 04:54] Sin-Sumit commented on #1980
@christyjacob4 Please assign me to work on this.

[2021-10-06 04:56] Sin-Sumit commented on #1966
@christyjacob4 Please assign me to work on this.

[2021-10-06 04:57] aniketh-varma commented on #1981
Hi @christyjacob4, I would like to work on this issue. Please assign me :)

[2021-10-06 04:57] harshita214 commented on #1973
Hey, Can I try this?

[2021-10-06 04:58] 1995YogeshSharma commented on #1972
Hey, Can I get this assigned to me? Thanks!

[2021-10-06 04:58] christyjacob4 commented on #1982
@Sin-Sumit  All the best :+1:

[2021-10-06 05:00] christyjacob4 commented on #1980
@Sin-Sumit Looks like you have an issue of this type assigned to you already. Please consider picking a different type of issue so other contributors can try this one.

[2021-10-06 05:00] christyjacob4 commented on #1964
@Sin-Sumit Looks like you have an issue of this type assigned to you already. Please consider picking a different type of issue so other contributors can try this one.

[2021-10-06 05:00] christyjacob4 commented on #1966
@Sin-Sumit Looks like you have an issue of this type assigned to you already. Please consider picking a different type of issue so other contributors can try this one.

[2021-10-06 05:02] christyjacob4 commented on #1972
@1995YogeshSharma  :+1:  All the best

[2021-10-06 05:04] krishguptadev commented on #1983
@christyjacob4 the URL library is just that one file in the src/APP/URL directory?

[2021-10-06 05:11] amanbedi1 commented on #1981
Hi @christyjacob4 , I am interested to fix this issue so could you assign me

[2021-10-06 05:13] christyjacob4 commented on #1981
@amanbedi1  All the best :+1:

[2021-10-06 05:15] PaulKovalov commented on #1974
Please assign this to me

[2021-10-06 05:16] christyjacob4 commented on #1974
@PaulKovalov  All the best :+1:

[2021-10-06 05:18] yashikajotwani12 commented on #1977
I would like to work on this issue, pls assign me this

[2021-10-06 05:20] yashikajotwani12 commented on #1979
I would like to work on this issue, please assign me.

[2021-10-06 05:20] christyjacob4 commented on #1977
@yashikajotwani12  All the best :+1:

[2021-10-06 05:21] charithesh16 commented on #1971
Hi i would like to work on this issue.

[2021-10-06 05:21] christyjacob4 commented on #1979
@yashikajotwani12  Looks like you have been assigned an issue of this type already. Please consider picking a different type of issue so other contributors can try this one.

[2021-10-06 05:28] yashikajotwani12 commented on #1979
Okay, @christyjacob4

[2021-10-06 05:31] alceil commented on #1976
I would like to work on this issue. I have solved all other issues assigned to me. Can I work on this?

[2021-10-06 05:34] aniketh-varma commented on #1975
Hi, can I take up this issue?

[2021-10-06 05:35] christyjacob4 commented on #1975
@aniketh-varma as mentioned before, these are for beginners and new contributors only.

[2021-10-06 05:35] 1995YogeshSharma opened #1985 "📚 Documentation: Update the code in https://appwrite.io/docs/getting-started-for-flutter#fullExample"
### 💭 Description

The code snippets in [getting started with flutter](https://appwrite.io/docs/getting-started-for-flutter#fullExample) do not enclose the code part in `void main()`.
Because of this, the code does not show expected results when replicated in local setup. Let's update the code part.

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and

[2021-10-06 05:36] alceil commented on #1976
I worked on these two issues
https://github.com/utopia-php/ab/issues/1
https://github.com/utopia-php/websocket/issues/4

[2021-10-06 05:42] krishguptadev commented on #1962
Can I fix this issue?

[2021-10-06 05:42] Shubham56-droid commented on #1690
i would  like to contribute i am native indian and know Hindi pls assign issue to me

[2021-10-06 05:51] christyjacob4 commented on #1976
@alceil  All the best :+1:

[2021-10-06 05:52] christyjacob4 commented on #1962
@krishguptadev since you've already been assigned an issue of this type, please consider picking a different type of issue so other contributors can try this one.

[2021-10-06 05:52] alceil commented on #1976
Thanks @christyjacob4

[2021-10-06 05:52] christyjacob4 commented on #1690
@Shubham56-droid  This issue has been fixed :+1:

[2021-10-06 05:53] krishguptadev commented on #1962
@christyjacob4 Can you suggest some beginner friendly issues?

[2021-10-06 05:54] 1995YogeshSharma commented on #1972
@christyjacob4 Thanks!

[2021-10-06 06:03] krishguptadev commented on #1929
Can i make js implementation?

[2021-10-06 06:03] vishal-codes commented on #1979
Hey @christyjacob4 can I work on this issue?

[2021-10-06 06:05] Meldiron commented on #1966
@divshacker Assigned it to you! All the best 🚀

[2021-10-06 06:06] luisorbaiceta commented on #1929
I'm already working on that @krishguptadev

[2021-10-06 06:08] Asmit2952 commented on #1978
Can I work on this?

[2021-10-06 06:19] Meldiron commented on #1979
@vishal-codes Assigned it to you! Good luck 🚀

[2021-10-06 06:21] kritika-srivastava commented on #1978
@christyjacob4 Please assign me to work on this.

[2021-10-06 06:21] Asmit2952 commented on #1962
Can I take this??

[2021-10-06 06:21] Meldiron commented on #1973
@harshita214 Assigned it to you! All the best 🚀

[2021-10-06 06:23] Meldiron commented on #1968
@Asmit2952 Assigned it to you! All the best 🚀

[2021-10-06 06:24] Meldiron commented on #1962
@Asmit2952 I just assigned an issue for your other request, please work on that, then we can assign more issues.

[2021-10-06 06:24] Sin-Sumit commented on #1982
Hey, @christyjacob4 how do run the tests?

[2021-10-06 06:25] Meldiron commented on #1962
@krishguptadev

If you like coding, then all Appwrite function examples: https://github.com/search?q=org%3Aappwrite+org%3Autopia-php+is%3Aissue+label%3Ahacktoberfest+created%3A%3E2021-01-01+is%3Aopen+Function&type=issues

If you like writing or recording, check out 3 pinned messages on https://github.com/appwrite/appwrite/issues

[2021-10-06 06:27] Asmit2952 commented on #1968
Thank you!!

[2021-10-06 06:27] Meldiron commented on #1929
@krishguptadev Would you like to work on Deno? It's similar to javascript (typescript) with a bit different system functions and the way how importing libraries works.

[2021-10-06 06:31] tanishq67 commented on #1975
@christyjacob4 can I take up this issue

[2021-10-06 06:32] Meldiron commented on #1982
@Sin-Sumit We have general information on tests in our [CONTRIBUTING.md](https://github.com/appwrite/appwrite/blob/master/CONTRIBUTING.md#tests) file. If you have any issues running tests this way, please let us know.

[2021-10-06 06:35] ppoc-iitk commented on #1963
@christyjacob4 I am willing to take up this isssue.

[2021-10-06 06:35] Meldiron commented on #1978
@kritika-srivastava Assigned it to you! All the best 🚀

[2021-10-06 06:36] dxaman commented on #1963
@christyjacob4 I am willing to take up this issue.

[2021-10-06 06:38] Meldiron commented on #1963
@dxaman Assigned it to you! All the best 🚀

[2021-10-06 06:39] Sin-Sumit commented on #1982
@Meldiron In this issue I do not have to change anything in code right?

[2021-10-06 06:40] akshat-kumar2109 commented on #1980
Is there anything wrong with the above process?? @christyjacob4

[2021-10-06 06:42] wal33dahmad commented on #1724
Hello, @christyjacob4 I am a natural Urdu speaker who can write and speak Urdu fluently and proficiently. But, I am new to the open-source community. Is it possible for you to give this work to me as well?

[2021-10-06 06:55] charithesh16 commented on #1970
Hi @christyjacob4 , i would like to work on this issue.

[2021-10-06 06:57] PaulKovalov commented on #1935
Please assign Java to me

[2021-10-06 06:59] ErfanBahramali commented on #1969
Hi i would like to work on this issue.

[2021-10-06 07:02] divshacker commented on #1966
Done @Meldiron !

[2021-10-06 07:09] dipsam commented on #1964
Hi @christyjacob4 please assign the issue to me

[2021-10-06 07:31] kostapappas commented on #1681
thanks. I re-created the pull request with all the needed requirements. Thanks for you guidelines and time. :)

[2021-10-06 07:35] Mogakamo commented on #1969
@christyjacob4 please assign me this.

[2021-10-06 09:19] christyjacob4 commented on #1723
Thank you so much for the contribution! The changes have been merged and will be release with **Appwrite 0.11**

[2021-10-06 09:20] christyjacob4 commented on #1673
Thank you so much for the contribution! The changes have been merged and will be release with **Appwrite 0.11**

[2021-10-06 09:22] christyjacob4 commented on #1704
Thank you so much for the contribution! The changes have been merged and will be release with **Appwrite 0.11**

[2021-10-06 09:22] christyjacob4 commented on #1705
Thank you so much for the contribution! The changes have been merged and will be release with **Appwrite 0.11**

[2021-10-06 09:23] christyjacob4 commented on #1688
Thank you so much for the contribution! The changes have been merged and will be release with **Appwrite 0.11**

[2021-10-06 09:24] christyjacob4 commented on #1702
Thank you so much for the contribution! The changes have been merged and will be released with **Appwrite 0.11**

[2021-10-06 09:25] christyjacob4 commented on #1693
Thank you so much for the contribution! The changes have been merged and will be released with **Appwrite 0.11**

[2021-10-06 09:25] christyjacob4 commented on #1711
Thank you so much for the contribution! The changes have been merged and will be released with **Appwrite 0.11**

[2021-10-06 09:26] christyjacob4 commented on #1409
Thank you so much for the contribution! The changes have been merged and will be released with **Appwrite 0.11**

[2021-10-06 09:27] christyjacob4 commented on #1505
Thank you so much for the contribution! The changes have been merged and will be released with **Appwrite 0.11**

[2021-10-06 09:27] christyjacob4 commented on #1669
Thank you so much for the contribution! The changes have been merged and will be released with **Appwrite 0.11**

[2021-10-06 09:39] christyjacob4 commented on #1699
Thank you so much for the contribution! The changes have been merged and will be released with **Appwrite 0.11**

[2021-10-06 09:40] foxy-eyed commented on #1898
I apologize for duplicating my request, but I have not received response yet. Can I be assigned to this issue (`Ruby`)?
I have one other issue in progress, but it's almost done and does not involve Appwrite API itself. I am interested to try it out)
So if nobody wants it I would be glad)

[2021-10-06 09:51] #1685 closed

[2021-10-06 09:51] christyjacob4 commented on #1685
Thank you so much for the contribution! The changes have been merged and will be released with **Appwrite 0.11**

[2021-10-06 09:52] Meldiron commented on #1773
I have an idea, it would be great to create a demo app that would use Appwrite Database and show how you can implement infinite scroll paging... You can see this logic on pretty much any social media mobile app - you never see the end.

If anyone is interested, please comment so other people don't implement this in the exactly same language&framework as you.

[2021-10-06 09:54] christyjacob4 commented on #1720
Thank you so much for the contribution! The changes have been merged and will be released with **Appwrite 0.11**

[2021-10-06 10:04] christyjacob4 commented on #1707
Thank you so much for the contribution! The changes have been merged and will be released with **Appwrite 0.11**

[2021-10-06 10:04] VictorLlanir commented on #1923
Hello, @Meldiron could you please assign me the .NET version?

[2021-10-06 10:05] christyjacob4 commented on #1725
Thank you so much for the contribution! The changes have been merged and will be released with **Appwrite 0.11**

[2021-10-06 10:06] christyjacob4 commented on #1757
Thank you so much for the contribution! The changes have been merged and will be released with **Appwrite 0.11**

[2021-10-06 10:07] christyjacob4 commented on #1718
Thank you so much for the contribution! The changes have been merged and will be released with **Appwrite 0.11**

[2021-10-06 10:08] NeonSpork commented on #1707
My pleasure! I'm keeping an eye out for other issues I can help with as well.

[2021-10-06 10:15] NeonSpork commented on #1980
@christyjacob4 Can you assign me to this task please? I'd like to give it a try!

[2021-10-06 10:22] ar-ankou commented on #1981
I would love to participate

[2021-10-06 10:26] ramdevcm opened #1995 "🐛 Bug Report: Unable to see signup screen"
### 👟 Reproduction steps

After installation : http://localhost/auth/signup/

### 👍 Expected behavior

Signup form

### 👎 Actual Behavior

empty fields

### 🎲 Appwrite version

Version 0.10.x

### 💻 Operating system

Linux

### 🧱 Your Environment

![Screenshot from 2021-10-06 15-55-23](https://user-images.githubusercontent.com/68838234/136185890-b81470b2-6ce8-42c7-a74e-56136aeca8f3.png)

### 👀 Hav

[2021-10-06 10:32] Meldiron commented on #1982
@Sin-Sumit It will most likely only create spacing changes, but it might add some code change too. Don't worry too much...

Just submit what it made and we will see if there is anything odd. We will comment on PR if something is not right.

[2021-10-06 10:34] Meldiron commented on #1981
@ar-ankou Assigned it to you! All the best 🚀

[2021-10-06 10:36] christyjacob4 commented on #1678
Thank you so much for the contribution! The changes have been merged and will be released with **Appwrite 0.11**

[2021-10-06 10:38] ramdevcm commented on #1995
This works on google chrome.

[2021-10-06 10:38] #1995 closed

[2021-10-06 10:38] NeonSpork commented on #1980
Hmm. I think someone may have beaten me to the punch, @christyjacob4?

I installed the `php-cs-fixer` tool linked in the issue, installed it and ran it according to their instructions and it seemed to run it without problems, but nothing changed.

[code]

Maybe the Stats library already follows the coding standards you wrote in the issue body? 🤔

[2021-10-06 10:40] Meldiron commented on #1980
@akshat-kumar2109 From what I can see in the screenshot of folder structure, it looks like you were not on `feat-database-indexing`. But yeah, I can see you checked out. I would need to see the full process of what you did to figure out what went wrong.

I understand it can be frustrating if stuff doesn't work as expected when learning, but we are always here to help 😨 It's impossible to answer im

[2021-10-06 10:41] Meldiron commented on #1980
@NeonSpork In theory, that might be the case... Could you try a different folder to make sure your setup is correct?

[2021-10-06 10:44] sakshamgurbhele commented on #1964
I am Interested, Let me know If I can proceed :)

[2021-10-06 10:45] sakshamgurbhele commented on #1934
I am Interested, Let me know If I can work :)

[2021-10-06 10:46] sakshamgurbhele commented on #1924
I can take Java

[2021-10-06 10:52] bryanurizar commented on #1931
Hey could I pick up on the NodeJS one?

[2021-10-06 10:54] sakshamgurbhele commented on #1969
I am Interested, Let me know If I can work :)

[2021-10-06 10:56] sakshamgurbhele commented on #1891
I would like to work on Java :)

[2021-10-06 10:56] PaulKovalov commented on #1974
Hi @christyjacob4, please take a look at the PR

[2021-10-06 11:00] idivyanshbansal commented on #25
Please assign me for india(in) language

[2021-10-06 11:02] NeonSpork commented on #1980
@Meldiron It must be the case, I just ran the exact same lines of code, but on `src/Appwrite/Migration/Migration.php` and it removed some trailing white spaces. Same success message in `cmd` :)

[2021-10-06 11:06] Prakhar-Agarwal-byte commented on #1692
Hi! I would like to contribute :) Can I have this issue assigned?

[2021-10-06 11:07] Prakhar-Agarwal-byte commented on #1677
Hi! I would like to contribute :) Can I have this issue assigned?

[2021-10-06 11:09] Meldiron commented on #1980
@NeonSpork Thanks for the confirmation 🙏 I will share this with the team. We will most likely close the issue.

[2021-10-06 11:11] Meldiron commented on #1970
@sakshamgurbhele Assigned it to you! All the best 🚀

[2021-10-06 11:12] Meldiron commented on #1969
@ErfanBahramali Assigned it to you! All the best 🚀

[2021-10-06 11:12] Meldiron commented on #1969
@Mogakamo  We would love you to check out some of our other open issues and join us on [Discord](https://appwrite.io/discord) if you need help finding some.

[2021-10-06 11:13] Meldiron commented on #1966
@divshacker Great job 🥳 Please give us some time to review the issue.

[2021-10-06 11:13] Meldiron commented on #1964
@sakshamgurbhele I just assigned you to a different issue of this type. Let's leave this one for someone else.

[2021-10-06 11:14] Meldiron commented on #1964
@dipsam Assigned it to you! Good luck 🚀

[2021-10-06 11:14] Meldiron commented on #1935
@PaulKovalov Assigned it to you! All the best 🚀

[2021-10-06 11:14] idivyanshbansal commented on #1690
Sir may I help with this contribution as I made this request earlier but you marked it invalid because I was not assigned.
Please give me a chance

https://github.com/appwrite/appwrite/pull/1926

[2021-10-06 11:17] Meldiron commented on #1923
@VictorLlanir Assigned it to you! All the best 🚀

[2021-10-06 11:18] Meldiron commented on #1892
@eigengravy  @soumyo123-prog Great job 🥳 Please give us some time to review.

[2021-10-06 11:19] luisorbaiceta commented on #1929
I'm already finishing with the Node.js version. I'll let you know so you can mimic the code for the Deno part. Cheers!

[2021-10-06 11:20] Meldiron commented on #1898
@foxy-eyed I am so sorry, we didn't ignore it on purpose, we overlooked 😨

Just assigned to you, good luck 🚀 Sorry for the delay 🙏

[2021-10-06 11:27] Meldiron commented on #1974
@PaulKovalov Thanks for the PR! 🤯 Please give us some time to review it.

[2021-10-06 11:28] Meldiron commented on #1934
@sakshamgurbhele Assigned it to you! All the best 🚀

[2021-10-06 11:31] Meldiron commented on #1924
@sakshamgurbhele I assigned multiple issues to you few mins ago, please finish these first. Then we can assign you even more if you are interested 🥳

[2021-10-06 11:31] Meldiron commented on #1891
@sakshamgurbhele I assigned multiple issues to you few mins ago, please finish these first. Then we can assign you even more if you are interested 🥳

[2021-10-06 11:31] Meldiron commented on #1931
@bryanurizar Assigned it to you! Good luck 🚀

[2021-10-06 11:41] g3offrey commented on #1962
Hi 😄
I'll be glad to work on that and open a pull request today.

[2021-10-06 11:47] christyjacob4 commented on #1955
Thank you so much for the contribution! The changes have been merged and will be released with **Appwrite 0.11**

[2021-10-06 11:49] Sangwan5688 commented on #1923
Hi @Meldiron, could you assign me the Dart Version

[2021-10-06 11:54] idivyanshbansal commented on #1705
@lohanidamodar sir for this issue you need someone else 😁

[2021-10-06 12:05] Prakhar-Agarwal-byte commented on #1694
I have added the Icelandic translations. 😀

[2021-10-06 12:26] krishguptadev commented on #1983
@christyjacob4 I made a pr, but it doesn't show on linked prs here in this issue: https://github.com/appwrite/appwrite/pull/1986

[2021-10-06 12:37] Prakhar-Agarwal-byte commented on #1692
I have added Armenian translations. 😀

[2021-10-06 12:40] vencho-mdp commented on #1773
That's a good one! I could do it with Vite + Vue 3

[2021-10-06 12:43] Sin-Sumit commented on #1982
Hey @christyjacob4 on creating pushing the changes. git wants to fetch  & merge all the changes fro the remote repo then push the changes to origin repo branch.
But on creating the PR there are 396 commits happen.

What to do?

[2021-10-06 12:44] Prakhar-Agarwal-byte commented on #1677
I have added Bosnian translations. 😀

[2021-10-06 12:48] joremysh commented on #1727
I am a native Taiwanese speaker. I could take this if HelloSeaNation didn't finish it.

[2021-10-06 12:51] Prakhar-Agarwal-byte commented on #1675
I have added the Bulgarian translations. 😀

[2021-10-06 13:06] TafadzwaD opened #2006 "🚀 Feature: Translate Appwrite into Shona language"
### 🔖 Feature description

**Introduction**

Did you know Appwrite's Locale API has support for returning responses in your own locale based on the value of the X-Appwrite-Locale header? 😮 We already support 56 languages and need your help to push it even further! 💪

The task is to translate Appwrite into Shona language. You can find a complete in-depth tutorial in our official tutorial for adding

[2021-10-06 13:09] AlenDavid opened #2007 "🐛 Bug Report: Appwire throws error if current working directory has folder temp"
### 👟 Reproduction steps

Hi, 👋 !

Following the steps from the docs (https://appwrite.io/docs/command-line), when I try to install using the CLI install process, it fails if the current working directory has a folder named `temp`.

A turn around is to delete the folder and run the command again hahaha, but I think this might be a good exercise for #hacktoberfest!

### 👍 Expected behavior

It shou

[2021-10-06 13:23] TafadzwaD commented on #1928
This is currently available in AppWrite 😀. For your application to be able to interact with the AppWrite endpoint you first need to add the bundle ID of your application under Platforms in the AppWrite console. You can read more on this link https://appwrite.io/docs/getting-started-for-flutter. So requests are blocked from outside your application.

[2021-10-06 13:57] GunjanDhanuka commented on #1888
My PR was merged on the GitHub Explore repo [here](https://github.com/github/explore/pull/2658) :tada: . Now for this to add to one of my submissions for Hacktoberfest and Appwrite Exclusive contributions, I will have to make a PR to this issue! What PR should I make inorder to do that? :thinking:

[2021-10-06 14:03] vencho-mdp opened #2011 "Getting annoying error in console"
Whenever I enter the following command in ubuntu

[code]

I get this error

[code]

And I can't figure out why. Could you help me?

[2021-10-06 14:23] AmreshSinha commented on #1783
Okay, so All the things are pretty much done. (Just have to document some things)

Just needed to state here that it needs a custom form like that in apple. It needs subdomain (company's zendesk suite subdomain name). So, should I wait till forms get implemented properly or should I try implementing like as in Apple. (As without forms the user will have to edit the subdomain field manually every t

[2021-10-06 14:26] arsheelsheikh commented on #1724
@christyjacob4 I have added PR translation for Urdu language https://github.com/appwrite/appwrite/pull/2013

[2021-10-06 15:17] xgerhard commented on #1922
Hi, PHP please.

[2021-10-06 15:57] kxrtiswithak commented on #1904
@lohanidamodar can I work on it in Java?

[2021-10-06 17:41] ditsuke commented on #1891
Hi, can I work on this for PHP?

[2021-10-06 17:46] QuentinPhilipp commented on #1901
Hey! Can I take the python version ?

[2021-10-06 17:49] ditsuke commented on #1921
Hi, can I work on the PHP version?

[2021-10-06 18:15] kaczmarekdaniel commented on #1942
Done by PR - #2008 Docker library psr issues fix

[2021-10-06 18:25] binhodev commented on #1928
@TafadzwaD Thanks for explantion.

[2021-10-06 18:25] #1928 closed

[2021-10-06 18:37] QuentinPhilipp commented on #1890
@Meldiron can you assign me on Python ! Thanks

[2021-10-06 18:49] NeonSpork commented on #1756
@Meldiron @christyjacob4 can I please be assigned this issue? I'm a native Norwegian speaker, and while Nynorsk isn't my main form of Norwegian, I should be able to handle this. :)

[2021-10-06 18:55] akashgp09 commented on #1923
@Meldiron I am working on the ruby one.

[2021-10-06 22:02] nataliarossini commented on #1711
Hey I'm a native pt-br speaker, I've noticed some small spelling errors and grammar that could be improved, I'd be happy to help if that's ok :)

[2021-10-07 03:05] abhinavagarwal-web commented on #1984
Hey, I want to work on this issue

[2021-10-07 04:20] paarthchhabra commented on #1709
Can you please assign this issue? I've made the translation changes and made a pull request.

[2021-10-07 04:47] paarthchhabra commented on #1736
Hi, I can research and make the translation changes. Please assign this issue to me!

[2021-10-07 05:00] lohanidamodar commented on #1783
Do as Apple OAuth is doing.

[2021-10-07 05:06] lohanidamodar commented on #1920
@oliver-pham assigned ruby to you. All the best 🚀

[2021-10-07 05:10] lohanidamodar commented on #1922
@xgerhard assigned PHP to you. All the best 🚀

[2021-10-07 05:14] eldadfux commented on #1888
Yeh, no need for another PR this will be good enough for your Appwrite count 👌

[2021-10-07 05:15] GunjanDhanuka commented on #1888
Yeah actually the Hacktoberfest dashboard shows the Explore as "Project not participating". And the issue here is tagged "hacktoberfest". So inorder for this to count towards my overall Hacktoberfest contributions I will have to make a PR for this issue on Appwrite's repo and have it merged.

Only then would Hacktoberfest acknowledge this as a contribution.

[2021-10-07 05:24] lohanidamodar commented on #1962
@g3offrey Assigned to you. All the best 🚀

[2021-10-07 05:35] lohanidamodar commented on #1675
@Prakhar-Agarwal-byte as you can clearly see in the description that we want native speaker. Also please consider requesting the issue before.

[2021-10-07 05:35] lohanidamodar commented on #1677
@Prakhar-Agarwal-byte as you can clearly see in the description that we want native speaker. Also please consider requesting the issue before.

[2021-10-07 05:37] lohanidamodar commented on #1690
@mayankgoyal-13 @idivyanshbansal as you can see this was assigned and completed already. We would love you to check out some of our other open issues [here](https://github.com/issues?q=is%3Aopen+is%3Aissue+archived%3Afalse+user%3Aappwrite+user%3Autopia-php+no%3Aassignee+label%3Ahacktoberfest) and join us on [Discord](https://appwrite.io/discord) if you need help finding some.

[2021-10-07 05:38] lohanidamodar commented on #1694
@Prakhar-Agarwal-byte as you can clearly see in the description that we want native speaker. Also please consider requesting the issue before.

[2021-10-07 05:39] lohanidamodar commented on #1709
@idivyanshbansal @paarthchhabra as you can see the issue is already assigned. We would love you to check out some of our other open issues [here](https://github.com/issues?q=is%3Aopen+is%3Aissue+archived%3Afalse+user%3Aappwrite+user%3Autopia-php+no%3Aassignee+label%3Ahacktoberfest) and join us on [Discord](https://appwrite.io/discord) if you need help finding some.

[2021-10-07 05:42] lohanidamodar commented on #1716
@paarthchhabra we are still looking for native speakers. We would love you to check out some of our other open issues [here](https://github.com/issues?q=is%3Aopen+is%3Aissue+archived%3Afalse+user%3Aappwrite+user%3Autopia-php+no%3Aassignee+label%3Ahacktoberfest) and join us on [Discord](https://appwrite.io/discord) if you need help finding some.

[2021-10-07 05:43] lohanidamodar commented on #1719
@santhosh-chinnasamy please give them some time to work on. We would love you to check out some of our other open issues [here](https://github.com/issues?q=is%3Aopen+is%3Aissue+archived%3Afalse+user%3Aappwrite+user%3Autopia-php+no%3Aassignee+label%3Ahacktoberfest) and join us on [Discord](https://appwrite.io/discord) if you need help finding some.

[2021-10-07 05:44] lohanidamodar commented on #1725
@idivyanshbansal We would love you to check out some of our other open issues [here](https://github.com/issues?q=is%3Aopen+is%3Aissue+archived%3Afalse+user%3Aappwrite+user%3Autopia-php+no%3Aassignee+label%3Ahacktoberfest) and join us on [Discord](https://appwrite.io/discord) if you need help finding some.

[2021-10-07 05:44] lohanidamodar commented on #1711
@nataliarossini feel free to submit another PR with the fixes. Thank you.

[2021-10-07 05:46] lohanidamodar commented on #1726
@idivyanshbansal We would love you to check out some of our other open issues [here](https://github.com/issues?q=is%3Aopen+is%3Aissue+archived%3Afalse+user%3Aappwrite+user%3Autopia-php+no%3Aassignee+label%3Ahacktoberfest) and join us on [Discord](https://appwrite.io/discord) if you need help finding some.

[2021-10-07 05:47] Prakhar-Agarwal-byte commented on #1675
@lohanidamodar I have used Google Translate which is also accurate. I think, anyone knowing the language can easily cross check and my work will also help them

[2021-10-07 05:47] lohanidamodar commented on #1736
@paarthchhabra We would love you to check out some of our other open issues [here](https://github.com/issues?q=is%3Aopen+is%3Aissue+archived%3Afalse+user%3Aappwrite+user%3Autopia-php+no%3Aassignee+label%3Ahacktoberfest) and join us on [Discord](https://appwrite.io/discord) if you need help finding some.

[2021-10-07 05:49] lohanidamodar commented on #1904
@kxrtiswithak Assigned java to you. All the best 🚀

[2021-10-07 05:52] lohanidamodar commented on #1921
@ditsuke assigned PHP to you. All the best.

[2021-10-07 05:53] lohanidamodar commented on #1914
@DoraTheExplorax assigned python to you. All the best 🚀

[2021-10-07 05:59] lohanidamodar commented on #1924
@crossphoton assigned deno to you.

[2021-10-07 06:01] lohanidamodar commented on #1675
Everyone knows about Google Translate. Thank you. But that's not what we are looking for at the moment.
We would love you to check out some of our other open issues [here](https://github.com/issues?q=is%3Aopen+is%3Aissue+archived%3Afalse+user%3Aappwrite+user%3Autopia-php+no%3Aassignee+label%3Ahacktoberfest) and join us on [Discord](https://appwrite.io/discord) if you need help finding some.

[2021-10-07 06:02] lohanidamodar commented on #1888
@GunjanDhanuka you can submit a PR to our https://github.com/appwrite/awesome-appwrite repository with the link to the topic.

[2021-10-07 06:27] ashutosh887 commented on #1774
I wanted to start contributing to this respository
Can someone tell me where am  I supposed to write the Blog and how to proceed @lohanidamodar @Meldiron @christyjacob4 @shadowshot-x @dro-1

[2021-10-07 06:46] Lakshay-Pruthi commented on #1984
@lohanidamodar Here it is #2025  !!

[2021-10-07 07:06] SOVLOOKUP opened #2026 "🚀 Feature: Connect to an external data source"
### 🔖 Feature description

I need to connect to my existing database such as  `couchdb` `pgsql`. Like [budibase](https://budibase.com/).

![pic](https://www.budibase.com/img/img/external-data-sources.webp)

### 🎤 Pitch

Its improve the portability.

Most businesses and developers consider costs of migration before using AppWrite. Data is the most important resource.

It also makes it easier for de

[2021-10-07 07:26] GunjanDhanuka commented on #1888
Done! :heavy_check_mark:

[2021-10-07 07:38] peterchu999 commented on #1900
@Meldiron I am Interested to develop this issue using `Java` and `PHP`

[2021-10-07 08:05] Meldiron commented on #1903
@paarthchhabra Assigned it to you! All the best 🚀

[2021-10-07 08:12] #1980 closed

[2021-10-07 08:14] christyjacob4 commented on #1980
Hey @NeonSpork  Thank you so much for helping us verify this :rocket:

[2021-10-07 08:27] christyjacob4 commented on #1712
Thank you so much for the contribution! The changes have been merged and will be released with **Appwrite 0.11**

[2021-10-07 08:43] peterchu999 commented on #1908
okay @Meldiron , actually i have request it but no confirmation https://github.com/appwrite/appwrite/issues/1908#issuecomment-934145694, next time i'll wait for the confirmation before code / solve it

[2021-10-07 08:49] christyjacob4 commented on #1943
Thank you so much for the contribution! The changes have been merged and will be released with **Appwrite 0.11**

[2021-10-07 09:05] lohanidamodar opened #2028 "Implement fileBackup() Appwrite Function ⚡"
# Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more at our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

Your task is to implement `fileBackup` function. You can look at the existing [Appwrite Functions demo](https://github.com/appwrite/demos-for-functions) in the codin

[2021-10-07 09:08] christyjacob4 commented on #1681
Thank you so much for the contribution! The changes have been merged and will be released with **Appwrite 0.11**

[2021-10-07 09:20] parzival272000 commented on #1964
I am interested in working on such an issue and getting started

[2021-10-07 09:23] Abhinav-CHD commented on #2028
@lohanidamodar Can you assign fileBackup function in Java to me?

[2021-10-07 09:23] lohanidamodar opened #2029 "Implement cloudmersiveDetectObject() Appwrite Function ⚡"
# Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more at our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

Your task is to implement `cloudmersiveDetectObject` function. You can look at the existing [Appwrite Functions demo](https://github.com/appwrite/demos-for-functions

[2021-10-07 09:26] geisterfurz007 commented on #2029
Hey, I would like to give this a shot for NodeJS later today or tomorrow if that's alright :)

[2021-10-07 09:29] lohanidamodar opened #2030 "Implement sendWelcomeEmail() Appwrite Function ⚡"
# Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more at our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

Your task is to implement `sendWelcomeEmail` function. You can look at the existing [Appwrite Functions demo](https://github.com/appwrite/demos-for-functions) in the

[2021-10-07 09:34] lohanidamodar opened #2031 "Implement storageCleaner() Appwrite Function ⚡"
# Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more at our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

Your task is to implement `storageCleaner` function. You can look at the existing [Appwrite Functions demo](https://github.com/appwrite/demos-for-functions) in the c

[2021-10-07 09:41] krishguptadev commented on #2028
Can I work on deno?

[2021-10-07 09:48] christyjacob4 opened #2033 "Help us add the Code of Conduct to ab repository"
## Introduction

Appwrite's **Code of Conduct** are present in the main [Appwrite repository](https://github.com/appwrite/appwrite/blob/master/CODE_OF_CONDUCT.md). We follow the same Code of Conduct across all our projects but some of them are missing the **CODE_OF_CONDUCT.md** file in the project.

Your task is to add the CODE_OF_CONDUCT.md file to [ab](https://github.com/utopia-php/ab).

You can

[2021-10-07 09:49] christyjacob4 opened #2034 "Help us add the Code of Conduct to abuse repository"
## Introduction

Appwrite's **Code of Conduct** are present in the main [Appwrite repository](https://github.com/appwrite/appwrite/blob/master/CODE_OF_CONDUCT.md). We follow the same Code of Conduct across all our projects but some of them are missing the **CODE_OF_CONDUCT.md** file in the project.

Your task is to add the CODE_OF_CONDUCT.md file to [abuse](https://github.com/utopia-php/abuse).

Y

[2021-10-07 09:50] christyjacob4 opened #2035 "Help us add the Code of Conduct to analytics repository"
## Introduction

Appwrite's **Code of Conduct** are present in the main [Appwrite repository](https://github.com/appwrite/appwrite/blob/master/CODE_OF_CONDUCT.md). We follow the same Code of Conduct across all our projects but some of them are missing the **CODE_OF_CONDUCT.md** file in the project.

Your task is to add the CODE_OF_CONDUCT.md file to [analytics](https://github.com/utopia-php/analyt

[2021-10-07 09:51] christyjacob4 opened #2036 "Help us add the Code of Conduct to audit repository"
## Introduction

Appwrite's **Code of Conduct** are present in the main [Appwrite repository](https://github.com/appwrite/appwrite/blob/master/CODE_OF_CONDUCT.md). We follow the same Code of Conduct across all our projects but some of them are missing the **CODE_OF_CONDUCT.md** file in the project.

Your task is to add the CODE_OF_CONDUCT.md file to [audit](https://github.com/utopia-php/audit).

Y

[2021-10-07 09:51] Prakhar-Agarwal-byte commented on #2036
@christyjacob4 I would like to work on this issue.

[2021-10-07 09:52] christyjacob4 opened #2037 "Help us add the Code of Conduct to cache repository"
## Introduction

Appwrite's **Code of Conduct** are present in the main [Appwrite repository](https://github.com/appwrite/appwrite/blob/master/CODE_OF_CONDUCT.md). We follow the same Code of Conduct across all our projects but some of them are missing the **CODE_OF_CONDUCT.md** file in the project.

Your task is to add the CODE_OF_CONDUCT.md file to [cache](https://github.com/utopia-php/cache).

Y

[2021-10-07 09:52] Prakhar-Agarwal-byte commented on #2037
@christyjacob4 I would like to work on this issue.

[2021-10-07 09:53] Meldiron opened #2038 "Help us add the Code of Conduct to 30daysofappwrite repository"
## Introduction

Appwrite's **Code of Conduct** are present in the main [Appwrite repository](https://github.com/appwrite/appwrite/blob/master/CODE_OF_CONDUCT.md). We follow the same Code of Conduct across all our projects but some of them are missing the **CODE_OF_CONDUCT.md** file in the project.

Your task is to add the CODE_OF_CONDUCT.md file to [30daysofappwrite](https://github.com/appwrite/3

[2021-10-07 09:53] Meldiron opened #2039 "Help us add the Contributing Guidelines to 30daysofappwrite repository"
## Introduction

Appwrite's **Contributing Guidelines** are present in the main [Appwrite repository](https://github.com/appwrite/appwrite/blob/master/CONTRIBUTING.md). We follow the same Contributing Guidelines across all our projects but some of them are missing the **CONTRIBUTING.md** file in the project.

Your task is to add the CONTRIBUTING.md file to [30daysofappwrite](https://github.com/app

[2021-10-07 09:53] Meldiron opened #2040 "Help us add the Code of Conduct to appwrite repository"
## Introduction

Appwrite's **Code of Conduct** are present in the main [Appwrite repository](https://github.com/appwrite/appwrite/blob/master/CODE_OF_CONDUCT.md). We follow the same Code of Conduct across all our projects but some of them are missing the **CODE_OF_CONDUCT.md** file in the project.

Your task is to add the CODE_OF_CONDUCT.md file to [appwrite](https://github.com/appwrite/appwrite)

[2021-10-07 09:53] Meldiron opened #2041 "Help us add the Contributing Guidelines to appwrite repository"
## Introduction

Appwrite's **Contributing Guidelines** are present in the main [Appwrite repository](https://github.com/appwrite/appwrite/blob/master/CONTRIBUTING.md). We follow the same Contributing Guidelines across all our projects but some of them are missing the **CONTRIBUTING.md** file in the project.

Your task is to add the CONTRIBUTING.md file to [appwrite](https://github.com/appwrite/ap

[2021-10-07 09:53] Meldiron opened #2042 "Help us add the Code of Conduct to awesome-appwrite repository"
## Introduction

Appwrite's **Code of Conduct** are present in the main [Appwrite repository](https://github.com/appwrite/appwrite/blob/master/CODE_OF_CONDUCT.md). We follow the same Code of Conduct across all our projects but some of them are missing the **CODE_OF_CONDUCT.md** file in the project.

Your task is to add the CODE_OF_CONDUCT.md file to [awesome-appwrite](https://github.com/appwrite/a

[2021-10-07 09:53] Meldiron opened #2043 "Help us add the Contributing Guidelines to awesome-appwrite repository"
## Introduction

Appwrite's **Contributing Guidelines** are present in the main [Appwrite repository](https://github.com/appwrite/appwrite/blob/master/CONTRIBUTING.md). We follow the same Contributing Guidelines across all our projects but some of them are missing the **CONTRIBUTING.md** file in the project.

Your task is to add the CONTRIBUTING.md file to [awesome-appwrite](https://github.com/app

[2021-10-07 09:53] Meldiron opened #2044 "Help us add the Code of Conduct to benchmarks repository"
## Introduction

Appwrite's **Code of Conduct** are present in the main [Appwrite repository](https://github.com/appwrite/appwrite/blob/master/CODE_OF_CONDUCT.md). We follow the same Code of Conduct across all our projects but some of them are missing the **CODE_OF_CONDUCT.md** file in the project.

Your task is to add the CODE_OF_CONDUCT.md file to [benchmarks](https://github.com/appwrite/benchma

[2021-10-07 09:53] Meldiron opened #2045 "Help us add the Contributing Guidelines to benchmarks repository"
## Introduction

Appwrite's **Contributing Guidelines** are present in the main [Appwrite repository](https://github.com/appwrite/appwrite/blob/master/CONTRIBUTING.md). We follow the same Contributing Guidelines across all our projects but some of them are missing the **CONTRIBUTING.md** file in the project.

Your task is to add the CONTRIBUTING.md file to [benchmarks](https://github.com/appwrite/

[2021-10-07 09:53] Meldiron opened #2046 "Help us add the Code of Conduct to demo-getstarted-with-android repository"
## Introduction

Appwrite's **Code of Conduct** are present in the main [Appwrite repository](https://github.com/appwrite/appwrite/blob/master/CODE_OF_CONDUCT.md). We follow the same Code of Conduct across all our projects but some of them are missing the **CODE_OF_CONDUCT.md** file in the project.

Your task is to add the CODE_OF_CONDUCT.md file to [demo-getstarted-with-android](https://github.co

[2021-10-07 09:53] Meldiron opened #2047 "Help us add the Contributing Guidelines to demo-getstarted-with-android repository"
## Introduction

Appwrite's **Contributing Guidelines** are present in the main [Appwrite repository](https://github.com/appwrite/appwrite/blob/master/CONTRIBUTING.md). We follow the same Contributing Guidelines across all our projects but some of them are missing the **CONTRIBUTING.md** file in the project.

Your task is to add the CONTRIBUTING.md file to [demo-getstarted-with-android](https://gi

[2021-10-07 09:53] Meldiron opened #2048 "Help us add the Code of Conduct to demo-quiz-with-android repository"
## Introduction

Appwrite's **Code of Conduct** are present in the main [Appwrite repository](https://github.com/appwrite/appwrite/blob/master/CODE_OF_CONDUCT.md). We follow the same Code of Conduct across all our projects but some of them are missing the **CODE_OF_CONDUCT.md** file in the project.

Your task is to add the CODE_OF_CONDUCT.md file to [demo-quiz-with-android](https://github.com/appw

[2021-10-07 09:53] Meldiron opened #2049 "Help us add the Contributing Guidelines to demo-quiz-with-android repository"
## Introduction

Appwrite's **Contributing Guidelines** are present in the main [Appwrite repository](https://github.com/appwrite/appwrite/blob/master/CONTRIBUTING.md). We follow the same Contributing Guidelines across all our projects but some of them are missing the **CONTRIBUTING.md** file in the project.

Your task is to add the CONTRIBUTING.md file to [demo-quiz-with-android](https://github.c

[2021-10-07 09:53] Meldiron opened #2050 "Help us add the Code of Conduct to demo-quiz-with-flutter repository"
## Introduction

Appwrite's **Code of Conduct** are present in the main [Appwrite repository](https://github.com/appwrite/appwrite/blob/master/CODE_OF_CONDUCT.md). We follow the same Code of Conduct across all our projects but some of them are missing the **CODE_OF_CONDUCT.md** file in the project.

Your task is to add the CODE_OF_CONDUCT.md file to [demo-quiz-with-flutter](https://github.com/appw

[2021-10-07 09:53] Meldiron opened #2051 "Help us add the Contributing Guidelines to demo-quiz-with-flutter repository"
## Introduction

Appwrite's **Contributing Guidelines** are present in the main [Appwrite repository](https://github.com/appwrite/appwrite/blob/master/CONTRIBUTING.md). We follow the same Contributing Guidelines across all our projects but some of them are missing the **CONTRIBUTING.md** file in the project.

Your task is to add the CONTRIBUTING.md file to [demo-quiz-with-flutter](https://github.c

[2021-10-07 09:53] Meldiron opened #2052 "Help us add the Contributing Guidelines to demo-todo-with-angular repository"
## Introduction

Appwrite's **Contributing Guidelines** are present in the main [Appwrite repository](https://github.com/appwrite/appwrite/blob/master/CONTRIBUTING.md). We follow the same Contributing Guidelines across all our projects but some of them are missing the **CONTRIBUTING.md** file in the project.

Your task is to add the CONTRIBUTING.md file to [demo-todo-with-angular](https://github.c

[2021-10-07 09:53] Meldiron opened #2053 "Help us add the Code of Conduct to demo-todo-with-flutter repository"
## Introduction

Appwrite's **Code of Conduct** are present in the main [Appwrite repository](https://github.com/appwrite/appwrite/blob/master/CODE_OF_CONDUCT.md). We follow the same Code of Conduct across all our projects but some of them are missing the **CODE_OF_CONDUCT.md** file in the project.

Your task is to add the CODE_OF_CONDUCT.md file to [demo-todo-with-flutter](https://github.com/appw

[2021-10-07 09:53] Meldiron opened #2054 "Help us add the Code of Conduct to demo-todo-with-angular repository"
## Introduction

Appwrite's **Code of Conduct** are present in the main [Appwrite repository](https://github.com/appwrite/appwrite/blob/master/CODE_OF_CONDUCT.md). We follow the same Code of Conduct across all our projects but some of them are missing the **CODE_OF_CONDUCT.md** file in the project.

Your task is to add the CODE_OF_CONDUCT.md file to [demo-todo-with-angular](https://github.com/appw

[2021-10-07 09:53] Meldiron opened #2055 "Help us add the Contributing Guidelines to demo-todo-with-flutter repository"
## Introduction

Appwrite's **Contributing Guidelines** are present in the main [Appwrite repository](https://github.com/appwrite/appwrite/blob/master/CONTRIBUTING.md). We follow the same Contributing Guidelines across all our projects but some of them are missing the **CONTRIBUTING.md** file in the project.

Your task is to add the CONTRIBUTING.md file to [demo-todo-with-flutter](https://github.c

[2021-10-07 09:53] Meldiron opened #2056 "Help us add the Code of Conduct to demo-todo-with-nextjs repository"
## Introduction

Appwrite's **Code of Conduct** are present in the main [Appwrite repository](https://github.com/appwrite/appwrite/blob/master/CODE_OF_CONDUCT.md). We follow the same Code of Conduct across all our projects but some of them are missing the **CODE_OF_CONDUCT.md** file in the project.

Your task is to add the CODE_OF_CONDUCT.md file to [demo-todo-with-nextjs](https://github.com/appwr

[2021-10-07 09:53] Meldiron opened #2057 "Help us add the Contributing Guidelines to demo-todo-with-nextjs repository"
## Introduction

Appwrite's **Contributing Guidelines** are present in the main [Appwrite repository](https://github.com/appwrite/appwrite/blob/master/CONTRIBUTING.md). We follow the same Contributing Guidelines across all our projects but some of them are missing the **CONTRIBUTING.md** file in the project.

Your task is to add the CONTRIBUTING.md file to [demo-todo-with-nextjs](https://github.co

[2021-10-07 09:53] Meldiron opened #2058 "Help us add the Code of Conduct to demo-todo-with-react repository"
## Introduction

Appwrite's **Code of Conduct** are present in the main [Appwrite repository](https://github.com/appwrite/appwrite/blob/master/CODE_OF_CONDUCT.md). We follow the same Code of Conduct across all our projects but some of them are missing the **CODE_OF_CONDUCT.md** file in the project.

Your task is to add the CODE_OF_CONDUCT.md file to [demo-todo-with-react](https://github.com/appwri

[2021-10-07 09:53] Meldiron opened #2059 "Help us add the Contributing Guidelines to demo-todo-with-react repository"
## Introduction

Appwrite's **Contributing Guidelines** are present in the main [Appwrite repository](https://github.com/appwrite/appwrite/blob/master/CONTRIBUTING.md). We follow the same Contributing Guidelines across all our projects but some of them are missing the **CONTRIBUTING.md** file in the project.

Your task is to add the CONTRIBUTING.md file to [demo-todo-with-react](https://github.com

[2021-10-07 09:54] christyjacob4 opened #2060 "Help us add the Code of Conduct to cache repository"
## Introduction

Appwrite's **Code of Conduct** are present in the main [Appwrite repository](https://github.com/appwrite/appwrite/blob/master/CODE_OF_CONDUCT.md). We follow the same Code of Conduct across all our projects but some of them are missing the **CODE_OF_CONDUCT.md** file in the project.

Your task is to add the CODE_OF_CONDUCT.md file to [cache](https://github.com/utopia-php/cache).

Y

[2021-10-07 09:54] inomag commented on #2049
Hi @Meldiron, Can I work on this issue?

[2021-10-07 09:54] #2060 closed, assigned to nobody

[2021-10-07 09:55] christyjacob4 opened #2061 "Help us add the Code of Conduct to cli repository"
## Introduction

Appwrite's **Code of Conduct** are present in the main [Appwrite repository](https://github.com/appwrite/appwrite/blob/master/CODE_OF_CONDUCT.md). We follow the same Code of Conduct across all our projects but some of them are missing the **CODE_OF_CONDUCT.md** file in the project.

Your task is to add the CODE_OF_CONDUCT.md file to [cli](https://github.com/utopia-php/cli).

You c

[2021-10-07 09:55] christyjacob4 opened #2062 "Help us add the Code of Conduct to config repository"
## Introduction

Appwrite's **Code of Conduct** are present in the main [Appwrite repository](https://github.com/appwrite/appwrite/blob/master/CODE_OF_CONDUCT.md). We follow the same Code of Conduct across all our projects but some of them are missing the **CODE_OF_CONDUCT.md** file in the project.

Your task is to add the CODE_OF_CONDUCT.md file to [config](https://github.com/utopia-php/config).

[2021-10-07 09:56] niwla23 commented on #2062
I would like to do it

[2021-10-07 09:56] christyjacob4 opened #2063 "Help us add the Code of Conduct to database repository"
## Introduction

Appwrite's **Code of Conduct** are present in the main [Appwrite repository](https://github.com/appwrite/appwrite/blob/master/CODE_OF_CONDUCT.md). We follow the same Code of Conduct across all our projects but some of them are missing the **CODE_OF_CONDUCT.md** file in the project.

Your task is to add the CODE_OF_CONDUCT.md file to [database](https://github.com/utopia-php/databas

[2021-10-07 09:56] christyjacob4 opened #2064 "Help us add the Code of Conduct to demo repository"
## Introduction

Appwrite's **Code of Conduct** are present in the main [Appwrite repository](https://github.com/appwrite/appwrite/blob/master/CODE_OF_CONDUCT.md). We follow the same Code of Conduct across all our projects but some of them are missing the **CODE_OF_CONDUCT.md** file in the project.

Your task is to add the CODE_OF_CONDUCT.md file to [demo](https://github.com/utopia-php/demo).

You

[2021-10-07 09:57] christyjacob4 opened #2065 "Help us add the Code of Conduct to domains repository"
## Introduction

Appwrite's **Code of Conduct** are present in the main [Appwrite repository](https://github.com/appwrite/appwrite/blob/master/CODE_OF_CONDUCT.md). We follow the same Code of Conduct across all our projects but some of them are missing the **CODE_OF_CONDUCT.md** file in the project.

Your task is to add the CODE_OF_CONDUCT.md file to [domains](https://github.com/utopia-php/domains)

[2021-10-07 09:57] christyjacob4 opened #2066 "Help us add the Code of Conduct to framework repository"
## Introduction

Appwrite's **Code of Conduct** are present in the main [Appwrite repository](https://github.com/appwrite/appwrite/blob/master/CODE_OF_CONDUCT.md). We follow the same Code of Conduct across all our projects but some of them are missing the **CODE_OF_CONDUCT.md** file in the project.

Your task is to add the CODE_OF_CONDUCT.md file to [framework](https://github.com/utopia-php/framew

[2021-10-07 09:58] christyjacob4 opened #2067 "Help us add the Code of Conduct to image repository"
## Introduction

Appwrite's **Code of Conduct** are present in the main [Appwrite repository](https://github.com/appwrite/appwrite/blob/master/CODE_OF_CONDUCT.md). We follow the same Code of Conduct across all our projects but some of them are missing the **CODE_OF_CONDUCT.md** file in the project.

Your task is to add the CODE_OF_CONDUCT.md file to [image](https://github.com/utopia-php/image).

Y

[2021-10-07 09:58] kritikash18 commented on #2052
@Meldiron Can I take this issue?

[2021-10-07 09:58] christyjacob4 opened #2068 "Help us add the Code of Conduct to locale repository"
## Introduction

Appwrite's **Code of Conduct** are present in the main [Appwrite repository](https://github.com/appwrite/appwrite/blob/master/CODE_OF_CONDUCT.md). We follow the same Code of Conduct across all our projects but some of them are missing the **CODE_OF_CONDUCT.md** file in the project.

Your task is to add the CODE_OF_CONDUCT.md file to [locale](https://github.com/utopia-php/locale).

[2021-10-07 09:59] christyjacob4 opened #2069 "Help us add the Code of Conduct to messaging repository"
## Introduction

Appwrite's **Code of Conduct** are present in the main [Appwrite repository](https://github.com/appwrite/appwrite/blob/master/CODE_OF_CONDUCT.md). We follow the same Code of Conduct across all our projects but some of them are missing the **CODE_OF_CONDUCT.md** file in the project.

Your task is to add the CODE_OF_CONDUCT.md file to [messaging](https://github.com/utopia-php/messag

[2021-10-07 09:59] inomag commented on #2067
Hi @christyjacob4 , Can I take this?

[2021-10-07 09:59] christyjacob4 opened #2070 "Help us add the Code of Conduct to orchestration repository"
## Introduction

Appwrite's **Code of Conduct** are present in the main [Appwrite repository](https://github.com/appwrite/appwrite/blob/master/CODE_OF_CONDUCT.md). We follow the same Code of Conduct across all our projects but some of them are missing the **CODE_OF_CONDUCT.md** file in the project.

Your task is to add the CODE_OF_CONDUCT.md file to [orchestration](https://github.com/utopia-php/or

[2021-10-07 10:00] christyjacob4 opened #2071 "Help us add the Code of Conduct to preloader repository"
## Introduction

Appwrite's **Code of Conduct** are present in the main [Appwrite repository](https://github.com/appwrite/appwrite/blob/master/CODE_OF_CONDUCT.md). We follow the same Code of Conduct across all our projects but some of them are missing the **CODE_OF_CONDUCT.md** file in the project.

Your task is to add the CODE_OF_CONDUCT.md file to [preloader](https://github.com/utopia-php/preloa

[2021-10-07 10:00] christyjacob4 opened #2072 "Help us add the Code of Conduct to registry repository"
## Introduction

Appwrite's **Code of Conduct** are present in the main [Appwrite repository](https://github.com/appwrite/appwrite/blob/master/CODE_OF_CONDUCT.md). We follow the same Code of Conduct across all our projects but some of them are missing the **CODE_OF_CONDUCT.md** file in the project.

Your task is to add the CODE_OF_CONDUCT.md file to [registry](https://github.com/utopia-php/registr

[2021-10-07 10:00] christyjacob4 opened #2073 "Help us add the Code of Conduct to storage repository"
## Introduction

Appwrite's **Code of Conduct** are present in the main [Appwrite repository](https://github.com/appwrite/appwrite/blob/master/CODE_OF_CONDUCT.md). We follow the same Code of Conduct across all our projects but some of them are missing the **CODE_OF_CONDUCT.md** file in the project.

Your task is to add the CODE_OF_CONDUCT.md file to [storage](https://github.com/utopia-php/storage)

[2021-10-07 10:01] Meldiron opened #2074 "Help us add the Code Of Conduct Guidelines to ab repository"
## Introduction

Appwrite's **Code of Conduct** are present in the main [Appwrite repository](https://github.com/appwrite/appwrite/blob/master/CODE_OF_CONDUCT.md). We follow the same Code of Conduct across all our projects but some of them are missing the **CODE_OF_CONDUCT.md** file in the project.

Your task is to add the CODE_OF_CONDUCT.md file to [ab](https://github.com/utopia-php/ab).

You can

[2021-10-07 10:01] Meldiron opened #2075 "Help us add the Contributing Guidelines to abuse repository"
## Introduction

Appwrite's **Contributing Guidelines** are present in the main [Appwrite repository](https://github.com/appwrite/appwrite/blob/master/CONTRIBUTING.md). We follow the same Contributing Guidelines across all our projects but some of them are missing the **CONTRIBUTING.md** file in the project.

Your task is to add the CONTRIBUTING.md file to [abuse](https://github.com/utopia-php/abu

[2021-10-07 10:01] Meldiron opened #2076 "Help us add the Contributing Guidelines to analytics repository"
## Introduction

Appwrite's **Contributing Guidelines** are present in the main [Appwrite repository](https://github.com/appwrite/appwrite/blob/master/CONTRIBUTING.md). We follow the same Contributing Guidelines across all our projects but some of them are missing the **CONTRIBUTING.md** file in the project.

Your task is to add the CONTRIBUTING.md file to [analytics](https://github.com/utopia-php

[2021-10-07 10:01] Meldiron opened #2077 "Help us add the Contributing Guidelines to audit repository"
## Introduction

Appwrite's **Contributing Guidelines** are present in the main [Appwrite repository](https://github.com/appwrite/appwrite/blob/master/CONTRIBUTING.md). We follow the same Contributing Guidelines across all our projects but some of them are missing the **CONTRIBUTING.md** file in the project.

Your task is to add the CONTRIBUTING.md file to [audit](https://github.com/utopia-php/aud

[2021-10-07 10:01] Meldiron opened #2078 "Help us add the Contributing Guidelines to cache repository"
## Introduction

Appwrite's **Contributing Guidelines** are present in the main [Appwrite repository](https://github.com/appwrite/appwrite/blob/master/CONTRIBUTING.md). We follow the same Contributing Guidelines across all our projects but some of them are missing the **CONTRIBUTING.md** file in the project.

Your task is to add the CONTRIBUTING.md file to [cache](https://github.com/utopia-php/cac