[2022-08-21 19:26] JoshiJoshiJoshi commented on #3694
I had the suspicion that it was also downloading all the files twice. So I tested it by downloading the files through the admin console a few times and it seems to confirm my suspicion. On my end I only received one file but I guess the backblaze adapter is downloading 2 files in the background.

![](https://cdn.discordapp.com/attachments/564161955963731980/1010987025228374077/unknown.png)
![](htt

[2022-08-21 20:23] mbazs opened #3707 "Can't read env vars in Swift 5.5 function"
### 👟 Reproduction steps

I've created a function in Swift 5.5, it is compiled and deployed correctly by Appwrite:

[code]

I do the deploy from CLI by such **appwrite.json** (snippet):

[code]

**These env vars can be seen correctly in the console after deployment.**

The function runs successfully from the console (by the **Execute Now** button) except no env values can be read during execution.

[2022-08-21 20:49] mbazs commented on #3707
**UPDATE: the env var shows up when the same function is called from client code, not from the console! So the Execute Now button behaves differently??**

[2022-08-21 20:58] stnguyen90 commented on #3707
@mbazs, from your client code, are you executing with async as true or false?

[2022-08-21 21:03] mbazs commented on #3707
@stnguyen90 , currently async: false, but as I told it works from client code but not when executed from the console with the Execute Now button.

[2022-08-21 21:08] stnguyen90 commented on #3707
@mbazs, what if you execute it from client code with async as true?

[2022-08-21 21:34] mbazs commented on #3707
Now struggling with another error ...
[code]

[2022-08-21 21:40] mbazs commented on #3707
After a restart above "Could not resolve host" disappeared and the function runs ... quite weird.

Trying this in the client as you wanted:

`let r = try? await WS.fns.createExecution(functionId: "entry", data: "{}", async: true)`

the env vars seem NOT going through.

[2022-08-21 22:47] mbazs commented on #3707
Conclusion:

From client code:
- with `async: false` everything works fine
- with `async: true` env vars don't seem going through

From Appwrite Console:
- running function by **Execute Now button** env vars don't seem going through

[2022-08-22 08:33] Meldiron commented on #3707
I can confirm the problem is not there with OpenRuntimes directly:

![CleanShot 2022-08-22 at 10 32 29](https://user-images.githubusercontent.com/19310830/185876702-19f9dc59-5536-4430-9ecc-92ce2b5101e4.png)

I'll keep investigating to see if the problems come directly from Appwrite. Sounds weird tho, since it's only there with Swift (I tried Node and it works fine).

[2022-08-22 10:03] Meldiron commented on #3707
Actually, the problem is indeed in OpenRuntimes. It occurs in Swift when there is a `null` value in any of the environment variables - all the others are gone too.

[2022-08-22 15:58] binhodev opened #3709 "📚 Documentation: Make documentation clearer about Functions"
### 💭 Description

Hello everyone, I was looking at the documentation about Cloud Functions using Dart.
I think there is a lack of information.
When creating a function in Dart using Appwrite its scope says the following:
[code]

It clearly says that this object receives a body, it means it is a JSON, but reading the documentation of creating an execution of a function, the data property is a stri

[2022-08-22 16:34] binhodev commented on #3655
Yes, as I mentioned above, it is possible using Functions, but creating one for this is kind of unnecessary. Well thanks!

[2022-08-22 16:34] #3655 closed

[2022-08-22 16:55] Meldiron commented on #3709
Hey there 👋 Thanks for pointing this out 🙏

The payload you send from `createExecution, and receive in the request payload property is always supposed to be a string indeed. We will make sure to update our starter codes to describe the payload property as a string.

[2022-08-22 19:41] mbazs commented on #3707
@stnguyen90 , @Meldiron , should I close this now as it's not an Appwrite issue and is being resolved in https://github.com/open-runtimes/open-runtimes/pull/88 ?

[2022-08-23 02:04] zedpr0 opened #3713 "Failed: SQLSTATE[42S02]: Base table or view not found"
I keep getting errors in my appwrite-usage docker, my logs are as bellow:

[code]

I have tried restoring from backup, reinstalling appwrite, and migrating, but i still get this issue. Im not sure whats wrong. Could use some pointers as to what next steps I could take.

Apart from that the appwrite-usage docker is using 100% of a CPU core.

🎲 Appwrite version

Version 0.15.3.402

💻 Operating syste

[2022-08-23 03:02] christyjacob4 commented on #3713
@zedpr0 👋

It looks like the database got into an inconsistent state somehow. If this project of yours is not important, I would recommend starting fresh by using the following commands from the `appwrite/` directory that was created during installation

[code]

This should fix the issue. If not, please share the logs from the `appwrite` and `mariadb` containers upon the fresh start using

[code]

[2022-08-23 03:53] zedpr0 commented on #3713
@christyjacob4 Thanks for the reply, is there anyway to fix it without loosing my data?

[2022-08-23 04:23] stnguyen90 commented on #3713
@zedpr0,  please share the logs from the `appwrite` and `mariadb` containers upon the fresh start using

[code]

Would you please also give more context? What happened before this? Did you upgrade recently?

Finally, do you have these environment variables set?

[code]

[2022-08-23 04:29] zedpr0 commented on #3713
@stnguyen90 thanks for the reply.

appewrite:

`[Static Files] Loadded 137 files
Worker 1 started successfully
Worker 4 started successfully
Worker 5 started successfully
Worker 3 started successfully
Worker 2 started successfully
Worker 6 started successfully
Worker 8 started successfully
Worker 9 started successfully
Worker 7 started successfully
Worker 10 started successfully
Worker 11 started

[2022-08-23 09:28] Meldiron commented on #3707
@mbazs  All good, OpenRuntimes is an organization created and maintained by the Appwrite core team. Let's keep the issue here, in the end, it affects Appwrite too.

[2022-08-23 11:53] #3709 closed

[2022-08-23 18:48] stnguyen90 commented on #3694
@rossanmol and @JoshiJoshiJoshi, what are your encryption and anti virus settings on the bucket? What are your anti virus settings from the .env file?

[2022-08-23 21:28] JoshiJoshiJoshi commented on #3694
@stnguyen90 both settings are enabled in the appwrite console, but the anti virus is actually disabled in the .env file.
<img width="257" alt="Screenshot 2022-08-23 at 23 20 43@2x" src="https://user-images.githubusercontent.com/49132782/186269299-b92edbbe-6856-4917-afe2-e9fa2b325db8.png">
<img width="267" alt="Screenshot 2022-08-23 at 23 19 28@2x" src="https://user-images.githubusercontent.com/491

[2022-08-24 00:33] stnguyen90 commented on #3694
@JoshiJoshiJoshi that seems quite odd that it's still encrypted. 👀 Are you sure you clicked on save? Does viewing the bucket JSON show encryption is false?

[2022-08-24 06:31] JoshiJoshiJoshi commented on #3694
@stnguyen90 I double checked it before posting it because I found it weird as well 😉
<img width="769" alt="Screenshot 2022-08-24 at 08 25 09@2x" src="https://user-images.githubusercontent.com/49132782/186346009-946b7431-9d88-4288-b62f-420ca33ce5e3.png">

Restarted the docker container and issue still persist.
**Tested file types:** jpeg, png, pdf, zip, tar.gz

[2022-08-24 15:34] xypmhxy opened #3715 "🐛 Bug Report: Flutter use function error"
### 👟 Reproduction steps

When I use flutter functions I get general_unknown_origin, Invalid Origin. Register your new client as a new Android platform on your project console dashboard (403) I don't know why. I have set role:all for all functions.

### 👍 Expected behavior

it's should work

### 👎 Actual Behavior

no work

### 🎲 Appwrite version

Version 0.15.x

### 💻 Operating system

Linux

###

[2022-08-24 15:36] xypmhxy opened #3716 "📚 Documentation: function createExecution"
### 💭 Description

I use the server version of dart, I need to execute createExecution and then get the id and execute getExecution to get the parameters returned by the function? I don't think it should be, is there something wrong with me?

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of

[2022-08-24 15:37] stnguyen90 commented on #3716
@xypmhxy thanks for raising this issue! 🙏 Perhaps this will help you: https://appwrite.io/docs/getting-started-for-flutter#addYourPlatform

[2022-08-24 15:42] xypmhxy commented on #3716
thanks i solved this problem，just set xasync false it work，But I don't know if there is a problem

[2022-08-24 15:45] stnguyen90 commented on #3715
@xypmhxy thanks for raising this issue! 🙏 Perhaps this will help you: https://appwrite.io/docs/getting-started-for-flutter#addYourPlatform

[2022-08-24 15:45] stnguyen90 commented on #3716
@xypmhxy, oops. My response was actually meant to be for another issue. Yes, if you want to wait for the function to complete to get the result, you need to set the async parameter to false.

[2022-08-24 15:46] #3716 closed

[2022-08-24 15:48] xypmhxy commented on #3715
Thank you very much but this doesn't solve my problem, I have set the corresponding code in AndroidManifest of Android but it doesn't work

[2022-08-24 15:56] xypmhxy commented on #3715
thanks i see it Thank you very much

[2022-08-24 16:08] xypmhxy commented on #3715
But now new error Unhandled Exception: AppwriteException: general_unauthorized_scope, User (role: guest) missing scope (execution.write) (401)

[2022-08-24 16:20] stnguyen90 commented on #3715
@xypmhxy, to perform any write operations like creating a document, uploading a file, or executing a function, a session is required. If you don't want to require the user to log in, you can create an anonymous session before executing the function.

[2022-08-24 16:25] xypmhxy commented on #3715
Thank you very much. The problems have been solved. Appwrite has many powerful functions. Many places are unknown. It is a very good project. Thank you again

[2022-08-24 16:25] #3715 closed

[2022-08-24 16:31] stnguyen90 commented on #3694
@JoshiJoshiJoshi, actually, I have a feeling it's gzipped rather than encrypted:

https://github.com/appwrite/appwrite/blob/e658457b1b8617c390bdd357a2010b1c80658a0b/app/controllers/api/storage.php#L510-L511

[2022-08-25 15:16] JoshiJoshiJoshi commented on #3694
@stnguyen90 doesn't look like I can open it if it's just gzipped

[2022-08-26 00:24] stnguyen90 commented on #3694
@JoshiJoshiJoshi, did decompress it fail?

[2022-08-26 09:05] JoshiJoshiJoshi commented on #3694
@stnguyen90 indeed, none of the files can be decompressed. Besides that, all the files which can't be openend are actually bigger than the actual file, so I kinda doubt it's just gzipped.

[2022-08-27 15:54] DanielAlbertSwan opened #3724 "🐛 Bug Report:"
### 👟 Reproduction steps

Create a Collection with a string field for example name and create an index on it

Add a Entry with the following value:
 - name: Bla , Bla

now we query the the Collection for this Value
appwrite --databaseId default --collectionId collection --queries="name.equal('Bla , Bla')"

### 👍 Expected behavior

total : 1
documents
...
✓ Success

### 👎 Actual Behavior

total : 0

[2022-08-27 16:23] eldadfux commented on #2735
Update: @fogelito has started research on different ways this could be implemented internally in Appwrite. @Meldiron will also provide some help in designing the way this will be exposed to the REST API and different SDKs. Once we have some more information we will share it here and in a GitHub discussion before starting actual implementation.

[2022-08-27 19:17] stnguyen90 commented on #3724
@DanielAlbertSwan, thanks for opening this issue! 🙏 . I think this is actually a duplicate of https://github.com/appwrite/appwrite/issues/3089 so I'm going to close this. Feel free to 👍 that issue, but it should be fixed in our next version of Appwrite.

[2022-08-27 19:17] #3724 closed

[2022-08-29 12:45] fballan93 opened #3730 "[0.15.3.402] 🐛 Bug Report: Float attributes round up / precision is limited to 4 values after the point"
### 👟 Reproduction steps

I have a flutter front end / nodejs middle-ware

Flutter front end will create a document in collection X with these attributes

sender_long: Float
Sender_lat: Float
recipient_lat:Float
recipient_long:Float

Flutter app create a document with this payload :
`{
       .
        'sender_latitude': 25.27705773818511,
        'sender_longitude': 51.51322256667464,
        'se

[2022-08-29 13:39] stnguyen90 commented on #3730
I think this is related to this existing issue: https://github.com/appwrite/appwrite/issues/2766. @fballan93, is it okay if we close this one and you can upvote the other one?

[2022-08-29 13:45] fballan93 commented on #3730
hey Steven this issue is different that the mentioned issue.

[2022-08-29 13:49] stnguyen90 commented on #3730
@fballan93, it seems the same because the problem is with using float and how they get rounded. What makes you say they're different?

[2022-08-29 15:27] truongphamit opened #3731 "🐛 Bug Report: I can't login with my admin account"
### 👟 Reproduction steps

I recently upgraded from 14.2 to 15.3, latest version and i can't login

[Error] Timestamp: 2022-08-29T15:17:10+00:00
[Error] Method: GET
[Error] URL: /v1/account
[Error] Type: Appwrite\Extend\Exception
[Error] Message: User (role: guest) missing scope (account)
[Error] File: /usr/src/code/app/controllers/general.php
[Error] Line: 319

{
    "message": "User (role: guest)

[2022-08-30 08:23] stnguyen90 commented on #3731
@truongphamit, thanks for raising this issue! 🙏 Would you please check the network requests to confirm the login is successful, but the following GET /account fails? If so, your problem might be related to [this](https://github.com/appwrite/appwrite/issues/3276) issue and a workaround is to [delete the user's sessions](https://github.com/appwrite/appwrite/issues/3276#issuecomment-1140130800).

[2022-08-30 09:14] Hassan4way opened #3733 "🐛 Bug Report: Unable to login to Appwrite Console"
### 👟 Reproduction steps

i have hosted the appwrite on aws ( ec2 ), when i go to the login page "AppwriteException: User (role: guest) missing scope (account)" is thrown , even without logging in. and i am unable to login to appwrite console.
i get redirected to login page. ( i am able to signup )

### 👍 Expected behavior

i should be able to login to the appwrite dashboard ( console )

### 👎 Act

[2022-08-30 10:01] truongphamit commented on #3731
@stnguyen90 I clear all user'sessions

![Screen Shot 2022-08-30 at 17 01 00](https://user-images.githubusercontent.com/9319905/187408892-24fd69e7-8a8a-4cec-91d1-426bc4169e33.png)

![Screen Shot 2022-08-30 at 17 01 33](https://user-images.githubusercontent.com/9319905/187408991-521516c8-a1b6-432a-9b86-fe5ef8506478.png)

[2022-08-30 21:41] soufi commented on #2903
Hi,
I have the same issue, It seems that the `role:guest` permission doesn't span anonymous users ... I need to use `role:all` in order to make it work...

[2022-08-31 02:47] truongphamit commented on #3733
I have same isn issue

[2022-08-31 07:59] eldadfux commented on #2903
Anonymous user is a regular Appwrite user just without any identification method (AKA email, phone, oauth).

[2022-08-31 08:39] soufi commented on #2903
@eldadfux the issue here is not the anonymous user, but how can I give permission to anonymous user without having to give permission with `role:all`... if that makes sense ... ?

[2022-08-31 16:28] redarflap opened #3744 "🐛 Bug Report: Database disappeared while deleting documents"
### 👟 Reproduction steps

I got a database with 5 collections, containing about 50 documents each containing related data.

At a certain point during development i proceeded to manually delete documents from the 'projects' collection via Web Console.
A function 'onDeleteProject' is subscribed to the 'databases.*.collections.projects.documents.*.delete' event in order to do further clean-ups.

That

[2022-09-01 09:31] soufi commented on #2903
Thank you @eldadfux !

[2022-09-02 11:35] garvitomer opened #3750 "🐛 Bug Report: 100-150% cpu usage caused by appwrite-usage container for 30-40 seconds after every 30 seconds."
### 👟 Reproduction steps

created a hetzner server with 4gb RAM, 2CPU, 40 GB
Install appwrite 0.15.3.
Added flutter andoird app to appwrite
Added google OAuth
Added dart sdk to .env file
Added appwrite-webhook-proxy container (Mentioned in article of stripe payment)
Run python scripts on my mac to create12 collections, 8-10 cloud functions (using CLI) , 1-2 indexes on average in every collection

[2022-09-02 15:38] maikeriva commented on #3605
I confirm I am also affected by this. However `InputFile`'s constructor is not exposed in Typescript, thus for the workaround to work someone would need:
[code]

[2022-09-02 21:35] mrdiin commented on #3226
@hey-nicolasklein Sorry to bring this up again, but I tried exactly what you're saying you did. Did you set it just as the machine address or you added the /v1? I tried both to no luck btw. Thanks.

[2022-09-02 22:36] stnguyen90 commented on #3226
@mrdiin, please make sure your endpoint is set the the machine IP or domain with the /v1 like `https://1.1.1.1/v1`. Double check to make sure `client.setEndpoint()` is called with the right value.

[2022-09-03 00:06] mrdiin commented on #3226
Hi @stnguyen90 I did that but now this error comes up:
[code]

[2022-09-03 06:04] stnguyen90 commented on #3226
@mrd it might be easier to troubleshoot over [discord](https://appwrite.io/discord).

[2022-09-04 13:14] stnguyen90 commented on #3651
@Asored-D, have you had a chance to check this?

Please respond or I will need to close this due to inactivity.

[2022-09-04 17:55] patrice-blp opened #3756 "🐛 Bug Report: Console: Admin user can update any registered user password"
### 👟 Reproduction steps

In the user section, select any registered user and on the right side there is a menu with the different options to update the user data.

![image](https://user-images.githubusercontent.com/4908933/188326828-acaef6e6-5a3e-4cf8-9884-36a008de0f7c.png)

### 👍 Expected behavior

It is expected that the admin could not change the password of any registered user. Password chang

[2022-09-04 21:10] nmdias commented on #1168
This is a cherry on top feature. Giving a user instant access to a collection that is already locally cached, while it goes in the background to fetch for possible updates to that collection, is a killer feature.

Top of the head benefits:

- Major user experience and usability upgrade for end users 🙋‍♂️
- Developer joy  🥳
- Instant access to cached documents  🚀
- No unnecessary usage of cpu, memo

[2022-09-05 02:30] binaryfire opened #3760 "🚀 Feature: Bash runtime"
### 🔖 Feature description

Hi guys

Would it be possible to add support for a bash runtime / functions ?

### 🎤 Pitch

I’m a devops engineer. I’d love to use Appwrite to create functions to run my bash scripts. Being able to wrap them in an API and pass variables to them would open up a lot of possibilities.

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I ch

[2022-09-05 14:57] gregfr commented on #3388
I tried this:

https://github.com/appwrite/demos-for-functions/tree/master/nodejs/get-covid-stats

[2022-09-05 19:44] VincentDatrier opened #3770 "🐛 Bug Report: Fatal error: Uncaught PDOException: Data truncated for column '_createdAt' at row 1"
### 👟 Reproduction steps

Version: 1.0.0-RC1 (Fresh install)

The newest RC, freshly installed, does not start, and the appwrite container crash-loops:

[code]

[2022-09-06 12:07] Infinil commented on #2894
I am currently 0.15.1 and I am facing the same issue. No idea why (using 0.18.4 CLI)

[2022-09-06 15:39] stnguyen90 commented on #3733
@Hassan4way, the `AppwriteException: User (role: guest) missing scope (account)` error is normal. That's how we check if there's a valid session.

You said you're unable to log in to the Appwrite Console. Can you clarify what happens? After logging in, the page changes, but you are sent back to the login page? How old is your Appwrite instance? Would you please share what network requests were mad

[2022-09-06 15:46] stnguyen90 commented on #3756
@patrice-blp, thanks for raising this issue! 🙏 This is the expected and intended behavior. Admins should have full access to the project to update users.

[2022-09-06 15:48] stnguyen90 commented on #3770
@VincentDatrier, thanks for creating this issue! 🙏  Did you install this on a server that already had an existing Appwrite installation?

I was able to install it fine:

[code]

[2022-09-06 15:55] VincentDatrier commented on #3770
Hi Steven,

Indeed I had; I didn't realize doing a docker compose down from the created folder wouldn't delete volumes (why would it though, that's the whole point of volumes!).

I manually removed all volumes from previous versions and appwrite booted successfully.

Sorry for the inconvenience!

Best.

[2022-09-06 15:55] #3770 closed

[2022-09-06 15:59] truongphamit commented on #3731
@stnguyen90, I have the same error when I try logging in with a private/incognito window.

[2022-09-06 16:06] stnguyen90 opened #3776 "🐛 Bug Report: Runtime Container Doesn't Exist but Executor Thinks it Does"
### 👟 Reproduction steps

A few users have reported this problem, but I'm not sure why it happens. One can reproduce this by removing the container via the Docker CLI and then try to execute the function.

### 👍 Expected behavior

Container state and Executor are in sync

### 👎 Actual Behavior

It seems it's possible for the Appwrite Executor's table of active runtimes and the actual running runti

[2022-09-06 18:53] stnguyen90 commented on #3731
@truongphamit, would you please clarify what you did when you cleared user sessions?

[2022-09-06 23:59] truongphamit commented on #3731
@stnguyen90, I remove all of the rows from the sessions table. 

[2022-09-07 00:00] stnguyen90 commented on #3731
@truongphamit, which sessions table?

[2022-09-07 00:02] truongphamit commented on #3731
@stnguyen90, I remove all the rows from _console_sessions tables

[2022-09-07 00:09] stnguyen90 commented on #3731
@truongphamit, would you please try accessing your console via HTTPS and also share the response status and headers from the /account/sessions/email API call?

[2022-09-07 00:18] truongphamit commented on #3731
@stnguyen90, This is response status and headers.
![Screen Shot 2022-09-07 at 07 17 21](https://user-images.githubusercontent.com/9319905/188761784-c1fb4c64-533e-4a62-bb95-5d9fc85bf129.png)

[2022-09-07 01:06] stnguyen90 commented on #3731
@truongphamit, after upgrading, did you run the migrate command?

[2022-09-07 01:37] stnguyen90 commented on #3731
@truongphamit, sounds like you missed running the migrate after upgrading to 0.14.x. if you can, I'd suggest restoring to before you upgraded to 0.14.x and then:

1. upgrade to 0.14.x
2. Run the migrate command
3. Upgrade to 0.15.x
4. Run the migrate command

If you don't have a backup, you can try downgrading to 0.14.x and then continuing from step 2.

[2022-09-07 02:42] truongphamit commented on #3731
@stnguyen90,
I tried downgrading to 0.14.x and running the migrate command but got errors.

Failed to update document: Invalid document structure: Unknown attribute: "_createdAt"

SQLSTATE[42S02]: Base table or view not found: 1146 Table 'appwrite._626aa94ac3b438473675__metadata' doesn't exist

[2022-09-07 03:27] stnguyen90 commented on #3731
@truongphamit, it might be difficult to try and fix things now. Would it be okay to clear data and start with a fresh 0.15.3 instance?

[2022-09-07 03:36] truongphamit commented on #3731
@stnguyen90, Is there a way to keep document data and collection ID? I upgraded on production. :(

[2022-09-07 04:56] stnguyen90 commented on #3731
@truongphamit, but you don't have a backup from before you upgraded?

[2022-09-07 07:34] ddenev commented on #3250
I see there is 1.0.0 coming. Can this fix be added to the 1.0.0 milestone if 0.16.0 is not going to happen?

[2022-09-07 09:48] bliyscom commented on #3677
Issue resolved and appwrite instance now accessible through URL.
However, I have installed SSL with certbot as per the instructions, rebooted appwrite and updated the config in docker-compose.yml yet, I still get a certificate warning in browser.
Now is that normal or is there something I can do to eliminate certificate warning? Thank you

[2022-09-07 13:54] patrice-blp commented on #3756
@stnguyen90  thank you very much for your answer.
 If it is intentional, it would be better that each project chooses if it wants the administrator to be able to update the data (name, email, password, phone) of the users by configuration (environment variable).

 If we invite a user to be an administrator we should be able to customize access.
![image](https://user-images.githubusercontent.com/49

[2022-09-07 14:30] stnguyen90 commented on #3756
@patrice-blp would you please update this issue to be a feature request for additional Appwrite Console roles?

[2022-09-07 15:31] stnguyen90 commented on #3677
@bliyscom, no it is not normal. How many domains do you need for your Appwrite instance? If it's only 1, you don't need to add a custom domain in the Appwrite Console. Please go through [these](https://appwrite.io/docs/certificates) docs to try and resolve your problem. Be sure to run `docker compose up -d` to apply changes to your .env file. Feel free to share the appwrite-worker-certificates log

[2022-09-07 15:32] stnguyen90 commented on #3250
@ddenev, yes this will be in 1.0.0

[2022-09-07 15:41] stnguyen90 commented on #3388
You can find the new examples/demos [here](https://github.com/open-runtimes/examples). Contributions are more than welcome!

Thanks for the suggestion 🙏. We've added a warning on the [README](https://github.com/appwrite/demos-for-functions/blob/master/README.md) to let users know not to use the demos if they are on Appwrite versions 0.13.X or above.

@gregfr, anything else you need, or can this be

[2022-09-07 15:54] rvndsngwn commented on #3750
After update Appwrite `v:0.15.2` to `v:0.15.3` CPU usage has gone from `23%` to `93%`

`CPU usage graphs`
![Screenshot 2022-09-07 at 2 21 46 PM](https://user-images.githubusercontent.com/59143934/188918667-c24055bc-2bcb-41ff-9b7f-53b9d46c22cc.png)

`docker stats` Output
![Screenshot 2022-09-07 at 2 33 00 PM](https://user-images.githubusercontent.com/59143934/188918849-31ea3a4e-60d9-484a-946f-e9c9b

[2022-09-07 17:14] bliyscom commented on #3677
Hi
I have read the docs once more, not sure if its because i am not using the default ports 80/443 on my main OS however, its mapped to 80/443 on the docker proxy side.

this is the message from the logs. I tried to cd into the logs for letencrypt but the directory seems to be absent.
[root@s107541 appwrite]# docker compose logs appwrite-worker-certificates
appwrite-worker-certificates  | Appwrite

[2022-09-07 18:22] stnguyen90 commented on #3677
@bliyscom,

Yes, this could be the problem. Is your reverse proxy automatically redirecting HTTP traffic to HTTPS? What are you using for your reverse proxy and how is it configured?

you need to check that folder inside the docker container, not on your host machine.

[2022-09-07 21:35] truongphamit commented on #3731
@stnguyen90,Thanks for your support. I reinstalled the appwrite and restored the data, and everything worked fine.

great project!

[2022-09-07 21:35] #3731 closed

[2022-09-08 00:01] bliyscom commented on #3677
I haven't setup any reverse proxy, if there's any, it probably came from openlightspeed default configs. I will look into that and if I am unable to set it up, I will try installing lets encrypt manually. Thanks

[2022-09-08 15:51] coldino opened #3791 "📚 Documentation: Clean up mention of Nested Documents"
### 💭 Description

I got very excited by the mention of Nested Documents on https://appwrite.io/docs/realtime but sadly after hunting through the rest of the docs and the issues here it seems this essential feature has been removed :( Should clean up the docs to match the sad reality.

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find si

[2022-09-08 17:59] bliyscom commented on #366
It would really be nice to be able to clone an entire project without actual files but schema and everything else. Just a change in Project Id

[2022-09-09 04:21] binaryfire opened #3796 "🚀 Feature: Custom images for runtimes"
### 🔖 Feature description

Allow the use of custom docker images for runtimes

### 🎤 Pitch

This would allow users to add their own packages to images to cover almost any use case. For example, additional PHP extensions: https://github.com/appwrite/appwrite/discussions/1490. Or CLI utilities like Ansible.

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I check

[2022-09-09 04:52] stnguyen90 commented on #3796
This looks like a duplicate of https://github.com/appwrite/appwrite/issues/1037. Is it okay if you close this issue and 👍 https://github.com/appwrite/appwrite/issues/1037?

[2022-09-09 04:59] binaryfire commented on #3796
Done :)

[2022-09-09 04:59] #3796 closed

[2022-09-09 05:17] binaryfire commented on #1037
I’d love to be able to replace Google Cloud Run with a self-hosted Appwrite install. It’s the only thing stopping me from using it in production.

[2022-09-09 11:17] andoidam commented on #3776
Getting same error on [appwrite](appwrite:0.15.3)

An internal curl error has occurred within the executor! Error Msg: Could not resolve host: netflox-63172032e71340266614

[2022-09-09 16:58] ashutoshpw commented on #3680
I would like to work on this can someone assign to me

[2022-09-09 17:28] pyagnik1 commented on #3791
Hello coldino, I would like to help clean up the nested documentation if this task is still open.

[2022-09-09 18:01] afzl-wtu commented on #728
How to make it possible? I want to use firebase phone authentication. As it provides a lot of smses free. So I can first authenticate a user with firebase SDK with flutter which is easy. But how to authenticate that user with appwrite?

[2022-09-09 18:04] afzl-wtu opened #3803 "📚 Documentation: Integrating Firebase Phone Auth with Appwrite"
### 💭 Description

How to make it possible? I want to use firebase phone authentication. As it provides a lot of smses free in contrast to Twillo and textmagic which do not provide any free quota and seamless verification (Firebase auth flutter SDK sometime auto verify the OTP). So I can first authenticate a user with firebase SDK with flutter which is easy. But how to authenticate that user with

[2022-09-09 19:23] stnguyen90 commented on #3791
@pyagnik1, assigned! Thanks for you help!

[2022-09-09 20:09] pchasco commented on #1168
I don't consider this a "cherry on top" feature. It is a requirement for mobile apps whose network connectivity will always be unreliable.

[2022-09-09 20:46] thirstycoda commented on #1168
I agree. Not having this feature is a deal breaker for me

[2022-09-10 01:46] Kings-Samuel opened #3806 "🐛 Bug Report: Error Passing Integer for Double Attribute"
### 👟 Reproduction steps

I have a collection that has some of its attributes as double types, but I noticed that whenever I pass in a number that doesn't have a decimal point, it returns an error while trying to get the doc from the database.

### 👍 Expected behavior

I thought doubles are supposed to be able to hold integers as well. Is there a way to fix this? I'm using the latest version of ap

[2022-09-10 02:00] stnguyen90 commented on #3806
@Kings-Samuel, thanks for raising this issue! 🙏 Would you please clarify which API calls you make that result in this problem?

[2022-09-10 02:02] helal-muneer opened #3807 "🐛 Bug Report: Can't Build Functions"
### 👟 Reproduction steps

Using Appwrite v:0.15.3.402  in docker
And  Appwrite cli v0.18.4

1- Create function with dart-2.17 runtime:
[code]

2- Deploy function without editing it:
[code]

3- Open the created function in the functions tab on the Appwrite console and it says `1 deployments` found and `build faild`!.

4- click the `Retry Build` button and green snakbar apear with `Build started suc

[2022-09-10 02:16] stnguyen90 commented on #3807
@helal-muneer are there any other logs in `appwrite-executor` before:

Also, could you please provide the logs for the runtime container (`e09492b41ae5` in the list of containers you shared).

[2022-09-10 03:08] jackm9367 commented on #3626
Hey @manishkumar-dsi - just wondering if you're still working on this one? If not, I am more than happy to take this one on!

[2022-09-10 05:08] helal-muneer commented on #3807
No, There is no logs before.

[2022-09-10 06:08] eldadfux commented on #3803
As far as I can tell Firebase do not provide an API for sending SMS messages which is what required for integrating it as a messaging provider in Appwrite.

You might be better waiting for Appwrite Cloud which will provide its own free tier.
You can learn more and signup for early access here: https://appwrite.io/cloud

[2022-09-10 06:16] afzl-wtu commented on #3803
I do not think we need firebase messaging API. Firebase SDK for flutter handles everything. When a user is successfully logged in the app firebase auth SDK tells that the user is logged in. moreover firebase auth SDK provides a JWT token for the currently logged-in user. Can we use that token or can we use any other appwrite authentication which will be based on firebase authentication? If the use

[2022-09-10 07:55] eldadfux commented on #3760
Theoretically this should be possible. I'm marking this as a good first issue, if anyone would like to pick it up, the team would love to assits.

More information on how to contribute new runtimes is available here:
https://github.com/open-runtimes/open-runtimes/blob/main/docs/add-runtime.md

[2022-09-10 09:03] patrice-blp commented on #3756
@stnguyen90  I have updated the issue to be a feature. Thanks.

[2022-09-11 00:25] petteremil commented on #410
Could you add Vipps to the list once you support anything other than email?
I believe they use phone number as the unique id (you can get the email associated to the account, but I'm unsure if it's guaranteed)

https://github.com/vippsas/vipps-login-api

[2022-09-11 07:55] Shiba-Kar commented on #2950
[code]

[code]
[code]
Function code
[code]

[2022-09-11 12:48] Maxbrt18 commented on #3102
Do you have any idea when the update will be released? I have not been able to connect to redis-commander to change the schedules.

[2022-09-11 14:21] netapy commented on #2671
Has this ever been fixed ?
I still have the issue on version v:0.15.3.402
Is there a workaround ?
Thank you.

[2022-09-11 15:15] stnguyen90 commented on #2671
@netapy, not yet. The workaround is to manually generate the query string. So instead of `Query.equal("attr", True)`, do `"attr.equal(true)"`.

[2022-09-11 16:14] alekspankov opened #3810 "🐛 Bug Report:"
### 👟 Reproduction steps

When I try to update user's phone via API request (PHP SDK) from Appwrite function like so:

[code]
I'm getting an error: `Email already exists.
The same error I'm getting when I try to do the same via REST API request.

### 👍 Expected behavior

It should update the user's phone and return User object (as described in official documentation [here](https://appwrite.io/docs

[2022-09-11 16:16] stnguyen90 commented on #2950
@Shiba-Kar, did you run `docker compose up -d` to recreate the containers with the new environment variables?

[2022-09-11 16:35] alekspankov commented on #3810
I just found out that it is impossible to update a user's phone in the dashboard. Perhaps I'm missing something so I would appreciate any help.

[2022-09-11 16:41] alekspankov commented on #3810
There is a wrong error description. It should be not `user_email_already_exists ` but `user_phone_already_exists` - the reason was that the phone was already used by another user.
Please fi,  it is confusing.

[2022-09-11 16:51] Shiba-Kar commented on #2950
@stnguyen90 ```docker compose up -d --build --force-recreate```

[2022-09-11 20:21] stnguyen90 commented on #2950
@Shiba-Kar, maybe try doubling the ram and swap again? What are the specs on your server? Also, you sure there's no error in the code that could cause a compile error?

[2022-09-11 22:30] FallingSnow opened #3812 "🐛 Bug Report: Function build fails when default bridge is disabled"
### 👟 Reproduction steps

Build a function with the following in your `/etc/docker/daemon.json`.
[code]

### 👍 Expected behavior

Build succeeds.

### 👎 Actual Behavior

[code]

### 🎲 Appwrite version

Version 0.15.x

### 💻 Operating system

Linux

### 🧱 Your Environment

[code]

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar

[2022-09-12 02:08] 729902288 opened #3813 "🐛 Bug Report: remix.run + appwrite"
### 👟 Reproduction steps

remix.run + appwrite:
1、So "remix.run" is SSR，I don't know to use "npm i appwrite" or "npm i node-appwrite".
2、logined and "token: jwt" how to append to a new appwrite's instance ?
3、It's fine if a example (remix + appwrite)!

thanks!

### 👍 Expected behavior

Is there a example(remix + appwrite)?

### 👎 Actual Behavior

none

### 🎲 Appwrite version

Version 0.15.x

### 💻

[2022-09-12 02:31] mrarticuno commented on #3812
Same happening here, MacOsX.

Looks like the DNS can't resolve when executing functions localhost.

Happening for NodeJS and Pyhton so I'm assuming that's a problem beteween the docker pods.

[2022-09-12 03:34] manishkumar-dsi commented on #3626
Hi. Currently I am not working on this. Due to time constraints. Please go ahead and work on this. Thanks

[2022-09-12 03:45] Shiba-Kar commented on #2950
Server Spc 1 gig Ram
[code]

[2022-09-12 03:49] theranajayant opened #3814 "🐛 Bug Report: Unable to login"
### 👟 Reproduction steps

When I
0. On a fresh installation
1. created a project
2. created a user account in the project
3. and tried logging in with the new account using a browser, but the authentication fails and says "invalid credentials".
![Screen Shot 2022-09-12 at 9 18 20 AM](https://user-images.githubusercontent.com/12654266/189570427-49d9f509-574c-46e6-b8e2-ea0985eaf83f.png)

### 👍 Expec

[2022-09-12 04:26] jackm9367 commented on #3626
Not a problem - thank you.
@stnguyen90 - could you please update assignee? Cheers!

[2022-09-12 04:29] stnguyen90 commented on #3814
@theranajayant, the user you created in the project is an end user meant to log into your app, rather than a user meant to log into the appwrite console. To add a user for the appwrite console, go to the project settings > members > and invite a new member.

[2022-09-12 04:30] stnguyen90 commented on #2950
@Shiba-Kar, that could be the problem. Appwrite requires at least 2GB of memory.

[2022-09-12 05:11] eldadfux commented on #3626
Updated 👍

[2022-09-12 05:13] eldadfux commented on #3812
Hey @FallingSnow, thanks for reporting this issue. Can you share what is your use case for disabling `bridge`?

[2022-09-12 11:51] FallingSnow commented on #3812
My IP addresses are defined on the router side using IP reservations based on MAC address. Docker's default bridge causes the mac address of the bridge to be submitted to the router. The MAC address of the bridge can randomly change between docker version updates, thus causing my server not to get the correct IP. That and I don't need the default bridge so I just disable it.

[2022-09-12 12:50] hey-nicolasklein commented on #1168
I also think that Appwrite is not fully a self-hosted firebase without that feature. One of the main aspects of a firebase realtime database is the offline capabilities. As mobile devs we need this feature to fully replace firebase.

[2022-09-12 15:03] MahendraBishnoi29 commented on #3760
hey @eldadfux this is my first contribution to appwrite can you please guide me how to solve this issue? 🚀

[2022-09-12 15:05] MahendraBishnoi29 commented on #3670
@stnguyen90 there's no update from @aakash-kumar-gorai can you assign it to me?

[2022-09-12 16:34] stnguyen90 commented on #3583
Closing as should be resolved in next release.

[2022-09-12 16:34] #3583 closed

[2022-09-12 20:23] stnguyen90 commented on #3670
Sure, @MahendraBishnoi29!

[2022-09-12 20:34] stnguyen90 commented on #3812
@FallingSnow, the bridge network is the default network for containers, but since it's disabled, the runtime container can't connect to the internet to install dependencies. Maybe you can change some docker settings so that the runtime containers use some other default network that has access to the internet.

Another workaround is to make sure the node_modules folder is in the uploaded code so th

[2022-09-13 01:49] pyagnik1 commented on #3791
@stnguyen90 , This is my first time contributing to an open-source project. Thanks for the opportunity😊. Can you tell me which folder contains documentation for nested documentation? Thanks

[2022-09-13 02:03] MahendraBishnoi29 commented on #3670
also @stnguyen90 can guide me where to make changes because it's my first contribution here :)

[2022-09-13 10:49] jackm9367 commented on #3626
I think this issue can be resolved without a PR - the application shows a browser popup (JS alert) before member deletion (a `data-confirm` attribute in the button input). Looks like this was implemented in PR #1654.
I tried to interpolate the member's name into the alert, however string interpolation did not work for the `data-confirm` attribute and would therefore require a custom solution on to

[2022-09-13 17:17] FallingSnow commented on #3812
Is there a way to configure which network appwrite runtime containers use?

Also, is there `.env` documentation? Because I found this but it doesn't seem to change which network the runtimes use.
[code]

I also tried changing `_APP_EXECUTOR_RUNTIME_NETWORK=appwrite_runtimes` but no dice.

[2022-09-13 19:06] ddenev commented on #2680
If you will not be providing the ability to query by equality to `null` then at least allow setting the empty string as a default value for attributes (currently when no default is provided, `null` is assumed by Appwrite).

[2022-09-13 19:11] stnguyen90 commented on #2680
@ddenev, it makes sense to be able to have an empty string be a default. Since it seems like this might be an unrelated bug, would you be able to create a new issue for it?

[2022-09-13 19:32] ddenev commented on #2680
@stnguyen90, I'm not sure this is a bug. Here is why:
1. When creating a string attribute with empty default value, the DB table column is created as:
`'next_id' VARCHAR(255) NULL DEFAULT NULL COLLATE 'utf8mb4_general_ci'`, which means it can have NULL as a value and the default is NULL in the DB.
2. The `_1_attributes ` table of the `appwrite` database contains this row:
![image](https://user-ima

[2022-09-13 20:06] stnguyen90 commented on #2680
@ddenev, I tested by creating an attribute with default as `""` rather than null. As such, I would expect the default value to be `""`, but they ended up being null instead. There may be a bug with how we're creating the attribute and inserting that default value into the _metadata table.

[2022-09-14 00:47] mrarticuno opened #3826 "🐛 Bug Report:"
### 👟 Reproduction steps

In a fresh new project, when I try to execute a function (any language) it fails for connection refused.

NodeJS example function:

`const sdk = require("node-appwrite");

/*
  'req' variable has:
    'headers' - object with request headers
    'payload' - request body data as a string
    'variables' - object with function variables

  'res' variable has:
    'send(text,

[2022-09-14 00:56] stnguyen90 commented on #3826
@mrarticuno, did you create the following variables for your function?

1. `APPWRITE_FUNCTION_ENDPOINT`
2. `APPWRITE_FUNCTION_API_KEY`

[2022-09-14 01:51] stnguyen90 commented on #3812
@FallingSnow, our environment variables are documented [here](https://appwrite.io/docs/environment-variables). That network is just for some of the containers to talk to each other. You'll probably need to tweak it a bit (I recommend using a docker-compose.override.yml file) to somehow expose it to the internet.

[2022-09-14 04:47] alibekissakul commented on #3813
Can this repository add some clarity?
https://github.com/brandonroberts/demo-todo-with-remix

I think that it rather depends on your application, if it is a purely front part, then of course client sdk is better, if something like Back-Office can be used server side sdk, as there may be a need to manage users/teams

[2022-09-14 06:36] ddenev commented on #2680
@stnguyen90, sorry, could you clarify?

Are you inputting `""` (two double-quotes) in the input field or are you NOT providing any value at all?

[2022-09-14 06:49] xypmhxy opened #3827 "general_argument_invalid"
### 💭 Description

general_argument_invalid, Invalid data: Value must be a valid string and no longer than 8192 chars (400)
How to solve this problem

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.com/appwrite/appwrite/blob

[2022-09-14 08:27] theranajayant opened #3828 "🚀 Feature: Backup and Restore from UI"
### 🔖 Feature description

1. Backup using UI
2. Download Backup
3. Upload backup
4. Restore Backup
5. Delete Backup

Video of backup CMD: https://www.youtube.com/watch?v=lM5yZEPtlvg

### 🎤 Pitch

Backup and Restoring from command takes a lot of time and technical headache. Can we please have backup from the UI feature? This will attract users who have built apps with the help of engineers but wan

[2022-09-14 14:35] FallingSnow commented on #3812
@stnguyen90 Thanks for the doc link. There doesn't seem to be any env variables that can change the default network for function builders. I ran the build again and looked at the container it created. The only network the container had was `bridge`. Likewise `docker-compose.yml` doesn't have any definitions for a "function builder" container.

Is there any way to change the default network/add a n

[2022-09-14 14:57] stonith404 opened #3837 "🚀 Feature: Global maintenance endpoint"
### 🔖 Feature description

A global maintenance endpoint that can be enabled globally for every project and gets automatically enabled if Appwrite gets upgraded. Maybe this must be a different micro service, running completely individually on another port.

### 🎤 Pitch

While I was upgrading to the newest Appwrite version, I noticed how long it takes to migrate my data. While the migration script

[2022-09-14 17:51] stnguyen90 commented on #3812
@FallingSnow, I think changing the default network would be a docker setting rather than Appwrite-specific. Unfortunately, I don't know docker enough to help with this 😕 .

[2022-09-14 18:29] mmv-dev commented on #1168
Sincere request for the developers to implement this feature on priority. You will see a explosion in the count of users using Appwrite.

[2022-09-15 01:52] stnguyen90 commented on #3102
@Maxbrt18, this has been [released](https://github.com/appwrite/appwrite/releases/tag/1.0.1)!

[2022-09-15 05:02] stnguyen90 commented on #3534
Closing due to inactivity

[2022-09-15 05:02] #3534 closed

[2022-09-15 07:37] SomeBody16 opened #3844 "🐛 Bug Report: Cannot sign up to console on first start"
### 👟 Reproduction steps

1.
[code]

2. HTTP Port: 8000
3. HTTPS Port: 44300
4. API_KEY: default (your-secret-key)
5. hostname: default (localhost)
6. DNS: default (localhost)

Is installed on remote host, I'm connected with VSCode and redirected port 8000
So at `localhost:8000` is working to access appwrite console

7. http://localhost:8000/auth/signup is opened
8. Input name, email, password, ac

[2022-09-15 07:55] SomeBody16 commented on #3844
Also, when I turned on development mode, response from POST /v1/account

[code]

[2022-09-15 08:12] grigorig commented on #1112
I am pondering integrating CouchDB with Appwrite auth. This also requires the public key, of course. I think JWT support would be much more useful overall if there was some way to get the public key of the private key used to sign the JWTs.

[2022-09-15 08:37] bliyscom commented on #3677
I have been able to get it to work with cloudflare even in proxy mode. I had to change the appwrite installation port to one supported by cloudflare and that did the trick. Thanks for your helpful contributions.

[2022-09-15 08:37] #3677 closed

[2022-09-15 09:57] emailvenkatm opened #3846 "📚 Documentation: How to persist user session in a flutter app"
### 💭 Description

We are building a mobile app in Flutter for which we are using apprwrite as Backend system. So here is what we want to achieve. When the user is logged in and killed the app, the app should not ask the user to re-login once it is reopened. Please advice.

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

[2022-09-15 12:37] fabio56 commented on #3844
I cannot signup

[2022-09-15 12:48] TorstenDittmann commented on #3614
This got implemented and released with Appwrite 1.0.0 🥳

Thank you for your contribution 🙏🏻  You can read more [here](https://appwrite.io/1.0).

[2022-09-15 12:48] #3614 closed

[2022-09-15 12:48] TorstenDittmann commented on #3600
This got implemented and released with Appwrite 1.0.0 🥳

Thank you for your contribution 🙏🏻  You can read more [here](https://appwrite.io/1.0).

[2022-09-15 12:48] TorstenDittmann commented on #3533
This got implemented and released with Appwrite 1.0.0 🥳

Thank you for your contribution 🙏🏻  You can read more [here](https://appwrite.io/1.0).

[2022-09-15 12:48] #3533 closed

[2022-09-15 12:49] TorstenDittmann commented on #3484
This got implemented and released with Appwrite 1.0.0 🥳

Thank you for your contribution 🙏🏻  You can read more [here](https://appwrite.io/1.0).

[2022-09-15 12:49] #3250 closed

[2022-09-15 12:49] TorstenDittmann commented on #3089
This got implemented and released with Appwrite 1.0.0 🥳

Thank you for your contribution 🙏🏻  You can read more [here](https://appwrite.io/1.0).

[2022-09-15 12:49] #3089 closed

[2022-09-15 12:50] TorstenDittmann commented on #2716
This got implemented and released with Appwrite 1.0.0 🥳

Thank you for your contribution 🙏🏻  You can read more [here](https://appwrite.io/1.0).

[2022-09-15 12:50] #2716 closed

[2022-09-15 12:52] TorstenDittmann commented on #2710
This got implemented and released with Appwrite 1.0.0 🥳

Thank you for your contribution 🙏🏻  You can read more [here](https://appwrite.io/1.0).

[2022-09-15 12:52] #2710 closed

[2022-09-15 12:52] TorstenDittmann commented on #2709
This got implemented and released with Appwrite 1.0.0 🥳

Thank you for your contribution 🙏🏻  You can read more [here](https://appwrite.io/1.0).

[2022-09-15 12:52] #2709 closed

[2022-09-15 13:02] TorstenDittmann commented on #3325
This got implemented and released with Appwrite 1.0.0 🥳

Thank you for your contribution 🙏🏻  You can read more [here](https://appwrite.io/1.0).

[2022-09-15 13:05] TorstenDittmann commented on #3018
The DateTime Attribute got implemented and released with Appwrite 1.0.0 🥳

Thank you for your contribution 🙏🏻  You can read more [here](https://appwrite.io/1.0).

[2022-09-15 13:11] TorstenDittmann commented on #3083
This got implemented and released with Appwrite 1.0.0 🥳

Thank you for your contribution 🙏🏻  You can read more [here](https://appwrite.io/1.0).

[2022-09-15 13:11] #3083 closed

[2022-09-15 13:21] TorstenDittmann commented on #2834
This got implemented and released with Appwrite 1.0.0 🥳  You can now Query directly by the E-Mail.

Thank you for your contribution 🙏🏻  You can read more [here](https://appwrite.io/1.0).

[2022-09-15 13:21] #2834 closed

[2022-09-15 13:28] TorstenDittmann commented on #2734
This should be fixed now 👋🏻

[2022-09-15 13:28] #2734 closed

[2022-09-15 13:48] TorstenDittmann commented on #1886
This should be fixed and released with Appwrite 1.0.0 🥳

Thank you for your contribution 🙏🏻  You can read more [here](https://appwrite.io/1.0).

[2022-09-15 14:11] bliyscom opened #3849 "🐛 Bug Report: SMTP SETUP ERROR"
### 👟 Reproduction steps

I have followed all the steps listed in documentation to setup smtp with sendgrid. Everything works fine on the sendgrid side and domain and sender are also verified. However, appwrite does not send emails. Email logs say no smtp server set but i have set it up and restarted appwrite
  __   ____  ____  _  _  ____  __  ____  ____     __  __
 / _\ (  _ \(  _ \/ )( \(  _ \(

[2022-09-15 14:23] stnguyen90 commented on #3849
@bliyscom, is the SMTP host set in the output of `docker compose exec appwrite-worker-mails vars`?

[2022-09-15 14:39] bliyscom commented on #3849
no its not but i have not been able to set that up. I have run the command below several times but no changes. The file just refuses to update:
docker compose up -d --build --force-recreate

//////////////////
[root@s107541 appwrite]# docker compose exec appwrite-worker-mails vars
- _APP_ENV=production
- _APP_LOCALE=en
- _APP_OPTIONS_ABUSE=enabled
- _APP_OPTIONS_FORCE_HTTPS=disabled
- _APP_OPENSSL

[2022-09-15 15:06] bliyscom commented on #3849
I set it up in the docker-compose.yml, Now that you mentioned it, I just realized that .env was hidden. Let me set it up and fry again. Thanks very much for the tip

[2022-09-15 15:17] #3849 closed, assigned to nobody

[2022-09-15 15:50] lokhmakov commented on #3750
1.0.1 the same

[2022-09-15 17:21] bliyscom opened #3850 "🐛 Bug Report: Flutter password recovery process"
### 👟 Reproduction steps

User initiates password recovery and gets sent an email with recovery link.
recovery link is a url but i would rather have the user receive a the secret and seperately instead of a link so it can be manually submitted in a form in app.
My question is: Is there a way to implement this like edit the email template somewhere?
Thanks

### 👍 Expected behavior

 i would rather

[2022-09-15 17:58] ProKn1fe opened #3851 "🐛 Bug Report: trying use mysql as database insted of mariadb and without docker"
### 👟 Reproduction steps

php8.0 app/http.php with mysql as backend database.
Env variables
_APP_DB_HOST=localhost
_APP_DB_PORT=3306
_APP_DB_SCHEMA=appwrite
_APP_DB_USER=root
_APP_DB_PASS=pass
_APP_DB_ROOT_PASS=pass

### 👍 Expected behavior

No errors:D

### 👎 Actual Behavior

[code]

### 🎲 Appwrite version

Latest master branch

### 💻 Operating system

Linux

### 🧱 Your Environment

Latest Ubuntu

[2022-09-15 18:43] Meldiron commented on #3844
Hey @SomeBody16 👋

I tried to follow the steps but it worked fine for me. I used DigitalOcean 4GB ram droplet with Linux Ubuntu.

I know there was this bug with 1.0.0; might that somehow be related? Also, could you please try to delete all Appwrite data (`docker compose down -v`, then to start run `docker compose up -d`)? That will ensure there is no leftover data from previous attempts. When runn

[2022-09-15 18:52] SomeBody16 commented on #3844
This fixed the issue!

Petition to add note to [Uninstall section](https://appwrite.io/docs/installation#uninstall)

[2022-09-15 18:52] #3844 closed

[2022-09-15 23:50] xypmhxy opened #3854 "🐛 Bug Report: Unable to properly load request body"
### 👟 Reproduction steps

In simple terms, everything works normally, but after a period of time, the function will encounter this problem and return the error Unable to properly load request body. When I restart my server everything works fine. After a while, the problem occurs again. My function has python and dart languages. but have the same problem

### 👍 Expected behavior

it work

### 👎 Act

[2022-09-16 00:21] stnguyen90 commented on #3854
@xypmhxy, thanks for raising this issue! 🙏 Where exactly is this error? Would you please share the appwrite-executor logs the next time this happens?

[2022-09-16 00:26] stnguyen90 commented on #3851
@ProKn1fe, unfortunately, MySQL isn't supported out of the box right now. We plan to make this configurable in the future. If you really want to use MySQL right now, you can try to replace this line of code for all appwrite containers before they start:

https://github.com/appwrite/appwrite/blob/19eb6c7e506768e434d97c5c1f800af2c45dbaec/app/init.php#L55

with:

[code]

[2022-09-16 00:30] stnguyen90 commented on #3846
@emailvenkatm, actually, if you're using our Flutter SDK, the session lasts for 1 year and is automatically persisted to application data. Regardless of which SDK you use, your app should do the following on open:

1. initialize the client and services
2. call account.get()
3. if account.get() throws an exception, direct user to login page
4. if account.get() is successful, save the result in glob

[2022-09-16 00:45] stnguyen90 commented on #3827
@xypmhxy would you please provide more context like your Appwrite version, what SDK you're using, what version of the SDK, and the code that is causing this?

[2022-09-16 00:46] stnguyen90 commented on #2680
@ddenev, not putting anything at all. When inspecting the network request, you'll see that an empty string is sent for the default parameter.

[2022-09-16 01:48] stnguyen90 commented on #3810
@alekspankov , thanks for raising this issue! 🙏  Did you get the error because you set a phone number that another user already had?

[2022-09-16 02:56] xypmhxy commented on #3854
This is difficult because it has been deployed to the production environment, but the background displays the log Unable to properly load request body, while the python function displays it An internal curl error has occurred within the executor! Error Msg: Could not resolve host: 62fc584d2042c0922508-xxxxxxxx

[2022-09-16 02:58] stnguyen90 commented on #3854
@xypmhxy, the appwrite-executor docker logs would be helpful.

[2022-09-16 06:55] matfire opened #3856 "🐛 Bug Report: Duplicate user error when using Microsoft OAuth"
### 👟 Reproduction steps

- create an account with an Appwrite version prior to 1.0 using an oauth provider (in my use case, microsoft)
- update Appwrite to version 1.0
- try to login using the provider used before (again, microsoft in my use case)
- A user with the same email already exists in your project.

### 👍 Expected behavior

should be able to sign in using the selected provider

### 👎 Act

[2022-09-16 08:55] Clemens05 opened #3857 "📚 Documentation: Update the "One-click setup" for DigitalOcean to the latest version of Appwrite."
### 💭 Description

The One-click setup for DigitalOcean should setup should include the latest version (1.0.1).

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.com/appwrite/appwrite/blob/HEAD/CODE_OF_CONDUCT.md)

[2022-09-16 12:52] Faizan-Pasha opened #3859 "🐛 Bug:`_APP_SMS_PROVIDER` not working."
### 💭 Description

What is the format for `_APP_SMS_PROVIDER`?

I was using `_APP_PHONE_PROVIDER=phone://<Account SID>:<Auth Token>@twilio` on `v0.15.3`. It was working fine.
I updated to `v1.0.1` and using `_APP_SMS_PROVIDER=sms://<Account SID>:<Auth Token>@twilio` as shown in the new docs. Appwrite is returning `Instance of 'Token'` but the request is not being sent to the `twilio`.

### 👀 Have

[2022-09-16 12:53] matfire commented on #3856
edit: this can also be reproduced using the flutter sdk on android (and possibly other platforms, I guess)

[2022-09-16 15:10] stnguyen90 commented on #3859
@DynamiteFP, any errors in the `appwrite-worker-messaging` container?

[2022-09-16 15:15] stnguyen90 commented on #3857
@Clemens05, thanks for raising this issue! 🙏 We've submitted the new [image](https://github.com/appwrite/integration-for-digitalocean/releases/tag/1.0.1), but are waiting for DO to approve it.

[2022-09-16 15:18] stnguyen90 commented on #3791
@pyagnik1, looks like someone already took care of the change: https://github.com/appwrite/docs/pull/247/files#diff-8a5f72a5c6ce07ea3ca566582c24d0206c87c02c826b083d729fd18d0c8fecef. Thanks, though!

[2022-09-16 15:18] #3791 closed

[2022-09-16 16:08] DynamiteFP commented on #3859
@stnguyen90
`appwrite-worker-messaging  | [critical] (Job{v1-messaging} | ID: 22cad4fb7ef4db28808cdf24806cb446 | MessagingV1 | [{"project":null,"user":null,"payload":[],"recipient":"[MY_NUMBER]","message":"692495","events":["."]}]) has failed TypeError: Cannot assign Appwrite\SMS\Adapter\Twilio to property MessagingV1::$sms of type ?Appwrite\Auth\SMS in /usr/src/code/app/workers/messaging.php:36`

[2022-09-16 17:53] shintaii opened #3860 "🐛 Bug Report: Message: Invalid document structure: Attribute "time" has invalid type. Value must be a valid integer"
### 👟 Reproduction steps

I followed installation instructions here https://appwrite.io/docs/installation for Windows + powershell.
After boot up of all docker images and i connect to localhost:8080
(chosen port & chosen host)

When prompted to create the ROOT account on http://localhost:8080/auth/signup i get an error:

[Error] Timestamp: 2022-09-16T17:50:30+00:00
[Error] Method: POST
[Error] URL

[2022-09-16 17:55] shintaii commented on #3857
It is updated now. The DO button needs to be re-linked i guess:

https://marketplace.digitalocean.com/apps/appwrite

[2022-09-16 18:00] shintaii commented on #3860
Appearantly there where old volumes/images around on my PC screwing thing up. By removing all images and volumes, and doing a reboot it works again..

[2022-09-16 18:00] #3860 closed, assigned to nobody

[2022-09-16 18:12] gewenyu99 commented on #3857
@shintaii I think the link is updated. might be a cache issue?
<img width="374" alt="Screen Shot 2022-09-16 at 2 12 34 PM" src="https://user-images.githubusercontent.com/29069505/190704949-48479f5e-695d-4396-bdf2-1caa26a8ee6c.png">

[2022-09-16 18:13] gewenyu99 commented on #3857
AFAIK, this can be closed?

[2022-09-16 20:19] gewenyu99 commented on #3593
This should be fixed :) already. Closing

https://appwrite.io/docs/server/functions?sdk=python-default#functionsCreateDeployment

[2022-09-16 20:19] #3593 closed

[2022-09-16 20:49] Clemens05 commented on #3857
Thanks!

[2022-09-16 20:49] #3857 closed

[2022-09-16 21:29] stnguyen90 commented on #3859
@DynamiteFP, thanks so much for this! Looks like worker used to reference a [Phone](https://github.com/appwrite/appwrite/blob/8d99860c55cff4ab1291a51ee5b6c7900641e1eb/app/workers/messaging.php#L20) class and it was changed to [SMS](https://github.com/appwrite/appwrite/blob/939b5a00f5a87c3a16a70adb201d5d1c4b9a013e/app/workers/messaging.php#L22), but that class doesn't exist. Probably because [Phone

[2022-09-17 00:04] xypmhxy commented on #3827
I just call the function normally, but my data is the base64 of the picture, so it is very long, and then this problem occurs, can you solve it?

[2022-09-17 09:16] DynamiteFP commented on #3859
@stnguyen90
Did you had a look at [this](https://github.com/appwrite/appwrite/pull/3862)?

[2022-09-17 10:48] #3850 closed

[2022-09-17 11:06] sanny-io opened #3867 "🐛 Bug Report: Realtime events are not being triggered"
### 👟 Reproduction steps

No realtime events whatsoever are triggered for functions that are either synchronous or asynchronous, but asynchronous functions should especially be triggering these.

1. `client.subscribe('functions.*', console.log)`
2. `functions.createExecution(id, data, true)`
3. Observe that the console log is empty, even though the execution has completed on the dashboard.

### 👍

[2022-09-17 12:08] AhmedHammad0900 opened #3868 "🐛 Bug Report: Return Type of getMemberships and getMembership are the same"
### 👟 Reproduction steps

Hi there , I was doing some developing and I found that the "getMemberships" and "getMembership" end points return the same return type

For example :-
listDocuments ==> retrun DoucmentList object
getDocument ==> return Document Object

for getMemberships and getMembership that's not working like it's produced for
getMemberships ==> return Memberships List Object
getMemeb

[2022-09-17 13:35] Clemens05 opened #3869 "📚 Documentation: https://appwrite.io/docs/error-codes returns 404 Page not found"
### 💭 Description

When you visit https://appwrite.io/docs/error-codes it returns a 404 Page not found error with the Error ID `xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx`

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.com/appwrite/ap

[2022-09-17 14:15] rafagazani commented on #3776
Versão [0.14.205](v:0.14.2.305) também apresenta esse erro:
An internal curl error has occurred within the executor! Error Msg: Could not resolve host: ....

[2022-09-17 14:52] stnguyen90 commented on #3869
@Clemens05, yes, this was actually changed to /response-codes. Where did you see the /error-codes link?

[2022-09-17 15:04] stnguyen90 commented on #3827
@xypmhxy, I see. You were trying to execute a function and passing an image for the data parameter. I would suggest using the storage API to upload the image. Then, you can either automatically run the function on upload or manually execute the function passing in the file id. The function can then download the file to process.

[2022-09-17 15:16] Clemens05 commented on #3869
I saw the link on https://appwrite.io/docs/debugging#statusCodes when clicking on "Learn more about Appwrite status codes" and on google when searching for "appwrite error codes" and "appwrite response codes".

[2022-09-17 18:51] stnguyen90 commented on #2838
@meepeek, @superseby2, for this type of functionality, are you expecting for documents to return if they have any least one of the values in the query? For example, let's say the document has `["flutter", "dart"]` for attribute `tags`. `Query.contains("tags", ["flutter", "react"])` would return the document because `flutter` is in the `tags`. Is this the functionality you need?

[2022-09-17 20:52] meepeek commented on #2838
@stnguyen90 I think making the single param called exact match make more sense as we can overloaded the function for partial matching. I propose sample use cases and syntax representation as follow.

1. Partial matching (contains 'a' or 'b') - use case, tag filter where user may uncheck unwanted tags
[code]
2. All matching (have both 'a' and 'b') - site admin query for counts or batch operation
[c

[2022-09-17 23:44] sanny-io opened #3875 "🐛 Bug Report: New storage bucket creation sometimes fails"
### 👟 Reproduction steps

I couldn't create a new bucket at all until I click around some of the buttons on the page for a bit and it went through. Some weird stuff is being sent with the permissions.

### 👍 Expected behavior

![](https://i.imgur.com/7ucvLkr.png)

### 👎 Actual Behavior

![](https://i.imgur.com/9Th3cTD.png)

### 🎲 Appwrite version

Version 1.0.x

### 💻 Operating system

Windows

##

[2022-09-17 23:46] sanny-io commented on #3867
It actually appears that nothing is triggering realtime events at all, not even database or storage updates.

[2022-09-18 00:32] xypmhxy commented on #3827
My images don't need to be stored, just pass in another third-party api. So this problem is unsolvable, right?

[2022-09-18 02:50] stnguyen90 commented on #3827
@xypmhxy, I still recommend doing it as I suggested. You can delete the file from Appwrite after it's processed.

[2022-09-18 14:57] stnguyen90 commented on #3670
@MahendraBishnoi29, see my previous [comment](https://github.com/appwrite/appwrite/issues/3670#issuecomment-1214220260).

[2022-09-18 15:21] MahendraBishnoi29 commented on #3670
@stnguyen90 are you talking about this one? 🤔

[2022-09-18 15:26] stnguyen90 commented on #3670
Yes, @MahendraBishnoi29.

[2022-09-18 15:29] MahendraBishnoi29 commented on #3670
sorry, I'm not much familiar with PHP so still didn't get it? 😔

[2022-09-18 15:47] stnguyen90 commented on #3670
@MahendraBishnoi29, sounds like you'll need to find some resources on PHP. If this is too difficult, let me know and I'll unassign you from this issue.

[2022-09-18 17:38] Mr-Malomz commented on #3859
Any update on this issue?

`_APP_PHONE_PROVIDER=phone://<Account SID>:<Auth Token>@twilio` for Appwrite version  `v1.0.1` keeps throwing `AppwriteException: Phone provider not configured`

[2022-09-18 18:48] DynamiteFP commented on #3859
@Mr-Malomz I have fixed the issue and raised a [pull request ](https://github.com/appwrite/appwrite/pull/3862)

[2022-09-18 18:54] Mr-Malomz commented on #3859
@DynamiteFP Nice! Well done.
 I'm guessing the PR is not merged yet. right?

 Just to confirm, does it mean that the updated reference class from `phone` to `sms` also changes the environment variable name from `_APP_PHONE_PROVIDER` to `_APP_SMS_PROVIDER`?

[2022-09-18 18:59] artuk99 opened #3877 "🐛 Bug Report: Can't set cloud function variables"
### 👟 Reproduction steps

Create a function with the following in `appwrite.json` and try set variables in console
[code]

### 👍 Expected behavior

Variables should be saved and displayed in the console

### 👎 Actual Behavior

I get the message "Registered new variable successfully" when I try to set a variable. Variables are saved but not displayed in the console and cannot be accessed during the

[2022-09-18 19:11] DynamiteFP commented on #3859
@Mr-Malomz yes the PR has not been merged yet.

`_APP_PHONE_PROVIDER=phone://<Account SID>:<Auth Token>@twilio`

`_APP_SMS_PROVIDER=sms://<Account SID>:<Auth Token>@twilio`

[2022-09-18 19:37] Mr-Malomz commented on #3859
@DynamiteFP Nice!

Thank you

[2022-09-18 19:42] artuk99 commented on #3877
Apparently something went wrong during the appwrite version upgrade. I just created a new project and the functions work there.

[2022-09-18 19:42] #3877 closed

[2022-09-18 21:28] sanny-io commented on #3867
It turns out the problem was two-fold: the permission was not set for the the storage or database (I can't remember which one, maybe both?). There's a strange problem where the permissions come out all weird (#3875). There was some error happening in one of the containers, so that's why the storage/database realtime did not work for me.

Now the biggest mistake was me trying to subscribe to **even

[2022-09-18 21:28] #3867 closed

[2022-09-18 22:46] grahhnt opened #3878 "🚀 Feature: Add Mastodon as an authentication method"
### 🔖 Feature description

Add authentication via Mastodon using their [OAuth2 API](https://docs.joinmastodon.org/spec/oauth/)

Mastodon is a federated service, so it would require the Mastodon instance you want to allow people to login under

### 🎤 Pitch

Allowing people to use Mastodon as an authentication method would allow for communities to have one account to login under everything

### 👀 Ha

[2022-09-19 01:15] kilroyjones commented on #2365
@stnguyen90 When you say exposing appwrite on the standard ports, I'm assuming that means 80/443, which won't work if you're developing locally, no? I see there was some progress made in the PR [2368](https://github.com/appwrite/appwrite/pull/2368).

[2022-09-19 03:15] stnguyen90 commented on #2365
@kilroyjones, what's wrong with running Appwrite on 80/443 locally?

[2022-09-19 11:04] Meldiron commented on #3856
1. I spin up a Digital Ocean droplet and install 0.15.3.
2. I make a console user, create a project, and connect GitHub OAuth
3. I write a simple web app where I create OAuth user (using my GitHub account)

![CleanShot 2022-09-19 at 12 55 55](https://user-images.githubusercontent.com/19310830/191002549-e3cd36da-b2e7-4ff3-a8a4-72e5c42abbe2.png)

5. I migrate to Appwrite 1.0
6. Delete project cookie

[2022-09-19 11:06] matfire commented on #3856
I can try, but the problem appeared using microsoft oauth

[2022-09-19 11:44] MahendraBishnoi29 commented on #3670
@stnguyen90 ok

[2022-09-19 14:31] #3828 closed

[2022-09-19 17:35] aashimawadhwa commented on #3878
Hey can you assign this issue to me ?

[2022-09-20 08:13] christyjacob4 commented on #3878
@grahhnt is this something you'd like to pick up ?

[2022-09-20 08:27] christyjacob4 commented on #3869
@Clemens05 if you'd like, you can create a PR to the docs repo here
https://github.com/appwrite/docs/blob/main/app/views/docs/debugging.phtml#L32

Just change  `error-codes` to `response-codes`

[2022-09-20 09:25] LickABrick commented on #2772
What is the current status on this? I would also like to disable the external Google Analytics sharing.

[2022-09-20 15:17] codercatdev commented on #3869
Resolved
https://github.com/appwrite/docs/pull/251

[2022-09-20 15:17] #3869 closed

[2022-09-20 20:00] grahhnt commented on #3878
@christyjacob4 yeah I could pick this up

[2022-09-20 23:55] Mr-Malomz commented on #3859
Hi @DynamiteFP
Sorry to disturb :)

I'm currently trying out the `createPhoneSession` using version `0.15.0` in a Next.js application. I have configured the environment variables and synced the settings with the running container.

However, it keeps returning an empty secret, and twilio doesn’t send any SMS

Here is a sample of the returned response
`{$id: '632a51d1a85a59467429', $createdAt: 16637

[2022-09-21 00:12] DynamiteFP commented on #3859
Hello @Mr-Malomz
The secret is the OTP you will get on your mobile number.
In `createPhoneSession` it doesn't return secret. After you get a response from the `createPhoneSession` method store the `userId` on the device . You will recieve the secret througth the sms on your mobile. and then with `updatePhoneSession` verify the user by sending the `secret` and `userId` to appwrite.

[2022-09-21 00:19] Mr-Malomz commented on #3859
Thanks @DynamiteFP

Yea, this is the way I envisioned it to work. However, it doesn’t. For some weird reason, it didn't.

I am using this article [phone auth with appwrite and twilio](https://dev.to/appwrite/phone-authentication-with-appwrite-and-twilio-26ek)

My codebase [here](https://github.com/Mr-Malomz/twilio-auth)

[2022-09-21 00:30] DynamiteFP commented on #3859
@Mr-Malomz You have to verify you mobile number to get sms on twilio trail account

[2022-09-21 00:40] Mr-Malomz commented on #3859
Yea @DynamiteFP , did this already. In fact, I verified two phone numbers

[2022-09-21 00:46] DynamiteFP commented on #3859
@Mr-Malomz Did you check the twilio log!

[2022-09-21 07:41] aviNrich opened #3891 "🚀 Feature: Allow full server side impersonation"
### 🔖 Feature description

Hi,
In order to migrate complex apps such as ERP/CRM, I think we need a way to wrap/proxy appwrite from the server.
If everything that is possible from the client side will be available on the server side it will give huge benefit migrating complex apps.
This way we will be less depend on `functions` and can wrap all database calls with our own logic.
I think most of the

[2022-09-21 10:03] Mr-Malomz commented on #3859
@DynamiteFP Just did! The log is empty. I guess my request from Appwrite is not hitting Twilio

[2022-09-21 10:12] DynamiteFP commented on #3859
@Mr-Malomz Exactly.
Can I have a look at the code please?
And what version of appwrite npm dependency are you using?

[2022-09-21 10:15] Mr-Malomz commented on #3859
@DynamiteFP

Code [here](https://github.com/Mr-Malomz/twilio-auth)

Appwrite version is `0.15.0` and npm Appwrite package is ` "appwrite": "~9.0.0"`

[2022-09-21 11:07] DynamiteFP commented on #3859
@Mr-Malomz
Go to `helper/utils` in `phoneAuth` use `unique()` as `userId`

[2022-09-21 11:13] Mr-Malomz commented on #3859
@DynamiteFP
Thanks. Unfortunately, I have tried that earlier and it didn’t reflect on twilio nor did I get an SMS.

I have even tried creating a user on Appwrite and use the `userId` but still not working.

Just curios, Did it work for you on earlier version and which framework did you try it with?

[2022-09-21 11:16] DynamiteFP commented on #3859
@Mr-Malomz
It wasn't working before but after I changed it to `'unique()'` it worked
![image](https://user-images.githubusercontent.com/32414659/191490105-78777c1f-7e98-4955-aad2-830b15077c0c.png)
Make sure to add country code.

[2022-09-21 11:20] Mr-Malomz commented on #3859
@DynamiteFP
Wow!

Your env setup looks like this right

`_APP_PHONE_PROVIDER=phone://AC6f76b2552c4AccountID47beed:691f6ca1acbcAuthToken6bbacdfca7@twilio
_APP_PHONE_FROM=+12566854594`

[2022-09-21 11:27] DynamiteFP commented on #3859
@Mr-Malomz Delete that rn

[2022-09-21 11:31] Mr-Malomz commented on #3859
Not really. I scrambled it  so it's not the right format. Yea but I can delete it

[2022-09-21 12:47] DynamiteFP commented on #3859
@Mr-Malomz ok. Your setup is fine. Are you using your country code with the mobile number?

[2022-09-21 12:49] Mr-Malomz commented on #3859
@DynamiteFP
yea

[2022-09-21 12:54] DynamiteFP commented on #3859
@Mr-Malomz run `docker logs appwrite-worker-messaging` in the terminal to see any errors thrown by the phone adaptor.

[2022-09-21 13:04] Mr-Malomz commented on #3859
I got this error. Which is strange becuase I enabled **SMS Geagraphical Permission**

`{"code": 21408, "message": "Permission to send an SMS has not been enabled for the region indicated by the 'To' number: +2348********.", "more_info": "https://www.twilio.com/docs/errors/21408", "status": 400}`

[2022-09-21 13:12] Mr-Malomz commented on #3859
@DynamiteFP

Whoops!!! FInally it works.

For some weird reason, this service `appwrite-worker-messaging` was not running and I needed to start it manually

[2022-09-21 14:17] AlimFreight opened #3892 "🚀 Feature:"AppWrite Crashlytics" sounds great!"
### 🔖 Feature description

I just wonder wouldn't be it a good idea to create the AppWrite Crashlytics ? This way it would be possible to avoid firebase completely. And it will be more efficiently as well.

### 🎤 Pitch

I my Flutter app which is cross platform I have to use different solutions for different platforms because firebase doesn't support Windows and Linux for instance. So I would like

[2022-09-21 14:18] punitdiwan commented on #2418
@TorstenDittmann  Any update as I am planning to set up chat server and needs the user Online / Offline presence support. Is there any workaround you can suggest or point to some blog post.

[2022-09-21 14:32] timurbutt opened #3893 "🚀 Feature: Add Email Verification with a verification code instead of a URL"
### 🔖 Feature description

A User wants to create an account and needs to verify his email address. He will receive a 4-6 digit code inside that mail and can then enter that code inside the app. This could be done by linking a randomly generated number to the UserID that is created at signup and also adding a timestamp so the app knows how old the code. This would also make it possible to give the

[2022-09-21 15:38] ammarfaris commented on #2993
Congrats on the 1.0 release! Would like to ask for the 1.0 release, **has OAuth support for React Native (RN) developers been improved?**

This work-around / package is no longer maintained and is not working, unfortunately:
https://github.com/DiegoBM/react-native-appwrite-oauth/issues/1

The slightly less support for React Native has forced me to opt for other alternatives out there. Don't get me

[2022-09-21 16:06] sunnycat1991 opened #3894 "Chinese developers"
### 💭 Description

There are million developers in china，Whether to consider opening a Chinese website for them. VPN and En glinsh Doc are difficult for me

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.com/appwrite/appwrit

[2022-09-21 17:41] stnguyen90 commented on #2993
@CristianFigueredo, thanks for raising this issue! 🙏 It would be helpful to narrow down specifically what doesn't work with the SDK for web in react native so we can work on adding support. Perhaps you can provide reproduction steps and actual behavior of oauth authentication in https://github.com/appwrite/sdk-for-web/issues/29

[2022-09-21 20:56] rafagazani commented on #3776
I managed to reproduce. after changing one of the variables the function fails and it is necessary to deploy.
The function was triggered by collections.name-collection.documents.*.create
@stnguyen90

[2022-09-21 23:16] stnguyen90 commented on #3776
@rafagazani, are you saying the container crashes after changing the variable and the function gets triggered? And you see the "Error Msg: Could not resolve host:" error?

[2022-09-21 23:31] rafagazani commented on #3776
Yes

[2022-09-22 04:02] #3494 closed

[2022-09-22 07:47] ddenev opened #3899 "🐛 Bug Report: Operation timed out on cloud function after loading Authentication page in Console"
### 👟 Reproduction steps

This is a very strange issue but here it goes...

In summary - a cloud function that usually runs without a problem starts timing out after I load/reload the Authentication page in the Appwrite Console.

I have the following function that creates a user:
[code]
Here is the function configuration in `appwrite.json`:
[code]
I am executing the function with the client SDK:
[

[2022-09-22 08:42] ShowMeTheStack opened #3901 "Dart 2.17 based function does not finish when await is used"
We created a Dart 2.17 runtime based cloud function. The code for the function is as follows:

[code]

Without the await for the future returned by `users.get`, the code terminates in about 15 seconds (which is another issue that I'll write, the future in my server code that invokes the cloud function using `functions.createExecution` takes 15 seconds to complete regardless of the code in the clou

[2022-09-22 09:09] ddenev commented on #3899
Another observation - if I comment out the call to:
[code]
in my cloud function, then it runs OK even after loading the Authenticaion page in the Console.

So it seems that loading the Authentication page somehow messes with the `users.create()` server SDK function call.

[2022-09-22 09:50] SaiHtetMyatHtut commented on #546
@eldadfux I would like to contribute to Simple storage file upload example and tutorial in Svelte.

[2022-09-22 09:50] Meldiron commented on #3899
My initial thought is that `APPWRITE_FUNCTION_ENDPOINT` doesn't work properly. No idea how that is related to UI yet.
What is the value of your `APPWRITE_FUNCTION_ENDPOINT`?

[2022-09-22 10:06] ddenev commented on #3899
Thank you, @Meldiron but as I mentioned above, the function is working just fine unless I visit the Authentication page. Since I do not change anything between executions (except the loading of the Authentication page) I think the endpoint is working just fine.

Just for the record, the value of my `APPWRITE_FUNCTION_ENDPOINT` is `https://appwrite.impulseout.com/v1` and it resolves to a local IP a

[2022-09-22 10:35] alibekissakul opened #3903 "🐛 Bug Report: Function execution queues fill up and just disappear"
### 👟 Reproduction steps

Make a function with 30-40 document update/create operations in one execution.
Run this function multiple times, for example 30 times in a loop.

### 👍 Expected behavior

All created executions must be executed.

### 👎 Actual Behavior

After a while, all pending execution gets stuck in the pending status. And before that, the queue named: `v1-functions` will disappear fro

[2022-09-22 11:13] merabtenei commented on #2788
@meepeek How do you solve the race condition problem without transactions ? Let's say we have a post likes counter you want to increment every time a user likes the post. Without transactions this is vulnerable to race condition, and with enough traffic and two events at the same time we can easily get wrong values.
I didn't find any solution for this with AppWrite right now, Firebase has transact

[2022-09-22 11:46] alibekissakul commented on #3903
![image](https://user-images.githubusercontent.com/8822731/191738386-310611c2-b53f-4db8-8a2f-117e4037d72a.png)

[2022-09-22 15:54] merabtenei opened #3905 "Atomic Document Update Operations"
### 🔖 Feature description

There is a clear need of having some sort of atomic transactions at least for updating a field value based on its current value, like Incrementing or decrementing a field's value on the database.

### 🎤 Pitch

An example for this use case is Counters. In a blog post case we may want to count the number of likes or comments on every user operation (like or comment) by inc

[2022-09-22 19:55] stnguyen90 commented on #1259
Closing due to inactivity

[2022-09-22 19:55] #1259 closed

[2022-09-22 19:55] rafagazani commented on #3776
yes

[2022-09-22 19:58] stnguyen90 commented on #2920
@pspierce, is this still a problem or can the issue be closed?

[2022-09-23 00:34] stnguyen90 commented on #3903
@alibekissakul, thanks for raising this issue! 🙏 Could you please provide the `appwrite-worker-functions` and `redis` logs after this incident? In addition, would you please provide the status of the docker containers (`docker ps`) after this incident?

[2022-09-23 04:02] alibekissakul commented on #3903
Unfortunately, the logs are very large and there by the keywords: `error, fail, stop` does not find anything

And no dosker containers crash either, I checked for several functions the same thing all the time, it crashes due to a larger number of tasks in the queue: v1-functions

[2022-09-23 04:04] alibekissakul commented on #3903
![image](https://user-images.githubusercontent.com/8822731/191890167-50548493-135f-4c92-80ad-521ff1e1d5fc.png)
My docker settings

[2022-09-23 08:10] xypmhxy opened #3911 "🐛 Bug Report: storage.createFile() failed"
### 👟 Reproduction steps

[code]
output:

[code]

### 👍 Expected behavior

it work

### 👎 Actual Behavior

[code]

### 🎲 Appwrite version

Version 0.15.x

### 💻 Operating system

Linux

### 🧱 Your Environment

_No response_

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I

[2022-09-23 08:17] stnguyen90 commented on #3911
Are you running on mobile? How big is your file? Would you please make sure you're passing a path and filename to InputFile?

[2022-09-23 08:49] christyjacob4 commented on #3893
We have a draft PR ready. Few more things to fix and it should be out in the next Appwrite version 😉

[2022-09-23 09:00] christyjacob4 commented on #444
With Appwrite 1.0 and the introduction of the permissions matrix this should no longer be an issue as it comes with the requested validation.

[2022-09-23 09:00] #444 closed

[2022-09-23 09:07] christyjacob4 commented on #2989
These issues were fixed with Appwrite 0.15 and later. Feel free to create a new issue if it still persists

[2022-09-23 09:07] #2989 closed

[2022-09-23 10:34] Meldiron commented on #3905
This became really requested feature recently. @eldadfux would it be possible to incorporate this into our near-future release plans?

---

@merabtenei This is what I did in my project, it may help solve your case in the meantime:
I have discussions which nest discussions recursively. Each discussion is either positive or negative. For each discussion, I need to know positive&negative ratio of all

[2022-09-23 10:47] Meldiron commented on #3891
Not directly, but related to: https://github.com/appwrite/appwrite/issues/3120
Thanks for raising this 🙏

We have seen many different use cases, and we should address all as part of one feature. We will do our best to brainstorm a secure, easy-to-use feature to address them all.

[2022-09-23 11:49] christyjacob4 commented on #3878
@grahhnt  please go ahead with the implementation . I will assign this issue to you 👍

[2022-09-23 14:09] damalo93 commented on #3901
I have the same problem

[2022-09-23 15:15] gewenyu99 opened #4288 "🚀 Feature: Home Inventory App"
### 🔖 Feature description

This is a 👾 Hacktoberfest issue.

This Hacktoberfest, we're taking demo app submissions to Awesome Appwrite!

This issue is for a demo app that handles 🏡 home inventory. The app should be able to perform some of these basic functionalities:

- [ ] Create an account (or anonymous sessions are okay, too)
- [ ] View a list of items currently available at home
- [ ] Add and

[2022-09-23 15:38] stnguyen90 commented on #3901
@ShowMeTheStack, what did you set for your `APPWRITE_FUNCTION_ENDPOINT` variable?

[2022-09-23 16:10] stnguyen90 opened #3914 "🐛 Bug Report: Invalid Queries Causes 500 Error"
### 👟 Reproduction steps

1. Make an API call with an invalid queries like: `GET v1/users?queries=100`.

### 👍 Expected behavior

400 error response with some helpful message

### 👎 Actual Behavior

500 server error

appwrite logs:

[code]

It would be good to check `$value` before iterating over it:

https://github.com/appwrite/appwrite/blob/384543c553f01ac889790042693136b4bfbd80f7/src/Appwrite/U

[2022-09-23 16:41] ShowMeTheStack commented on #3901
That environment variable is set to http://localhost/v1

On Fri, 23 Sep, 2022, 21:08 Steven, ***@***.***> wrote:

[2022-09-23 16:56] stnguyen90 commented on #3899
@ddenev, is there anything in the appwrite docker logs around the user creation? Also, how many users do you have?

[2022-09-23 18:47] gewenyu99 opened #4287 "🚀 Feature: Card Game Clone"
### 🔖 Feature description

This is a 👾 Hacktoberfest issue.

This Hacktoberfest, we're taking demo app submissions to Awesome Appwrite!

This issue is for a demo app that is a clone of a card game. It can be Poker, Apples to Apples, Uno, Cards Against Humanity, or your original idea.

Here are some suggested features

- [ ] Create an account (or anonymous sessions are okay, too)
- [ ] Different ga

[2022-09-23 18:50] gewenyu99 opened #4286 "🚀 Feature: Almost Instagram"
### 🔖 Feature description

This Hacktoberfest, we're taking demo app submissions to Awesome Appwrite!

This issue is for a demo app that allows users to post photos and descriptions, similar to Instagram.

- [ ] Create an account
- [ ] Browse uploads by other users
- [ ] (Optional) post comments
- [ ] Upload photos with descriptions
- [ ] (Optional) a user profile page

Be creative 🤓 ! The outline

[2022-09-23 19:09] IsaiChristian opened #3916 "🐛 Bug Report: Incorrect Realtime Payload when Deleting Session from Console"
### 👟 Reproduction steps
0. Start a windows app with flutter and appwrite.
1. Subscribe to account channel
2. Close session from the console.

### 👍 Expected behavior

recieve an event similar to this:
`RealtimeMessage(events: [users.632c04c86d545378bf29.update, users.*.update, users.632c04c86d545378bf29.update.name, users.*.update.name, users.632c04c86d545378bf29, users.*], payload: {$id: 632c04c

[2022-09-23 19:34] ddenev commented on #3899
Nothing in the PM2 container - as far as I know logging is disabled there by Appwrite team due to some bug.

I checked the `appwrite` container and here is the message that is logged when I run the function after visiting the Authentication page:
[code]
The 2nd error  is fine - it's because I'm testing creating a user with the same email/password.

In fact both errors seem fine since here is the l

[2022-09-23 19:43] merabtenei commented on #3905
@Meldiron I totally agree, this may not happen with small traffic, but we can not rely on this, if the project gets big it would be really hard to change things from there.
Same for you solution, if we get to millions of likes or comments that function may take forever to finish.

[2022-09-23 21:00] stnguyen90 commented on #3916
Thanks, @IsaiChristian, for creating this issue! 🙏 It seems like the empty payload is being sent from the server as an empty array rather than empty object. We'll look into this as soon as we can!

[2022-09-23 22:09] AhmedHammad0900 commented on #3854
Faced Same Problem But , in the end the problem was in code , u do a simple modification thinks that not effects , before trying a server function , try it locally in a local project , then u can have a console printing exceptions and u will be able to find the Errors . then upload the function

[2022-09-24 07:59] s3ppo opened #3918 "🐛 Bug Report: Datetime in function logs"
### 👟 Reproduction steps

i took this picture from my function logs:
<img width="744" alt="Bildschirmfoto 2022-09-24 um 09 57 57" src="https://user-images.githubusercontent.com/17125438/192087321-1722c345-efb3-4ce4-8e63-84dc97ccb504.png">

### 👍 Expected behavior

normally the day ends with 23:59

### 👎 Actual Behavior

it seems there are existing values > 23:59

### 🎲 Appwrite version

Version 1.

[2022-09-24 10:22] AhmedHammad0900 opened #3919 "📚 Documentation: Bug in switching version for Database documentations"
### 💭 Description

When u try to choose older version in Database documention then try to change the Sdk type from web to another one , it forces u to back to 1.0 again , there is a small video shows excatly the problem

- Tried another explorer than chrome , deleted cookies , the problem from current site version , Works well for other documentations only Databases

https://user-images.githubuser

[2022-09-24 14:15] miguelangel-reyes opened #3920 "🐛 Bug Report:"
### 👟 Reproduction steps

Perform a fresh install of appwrite with following command found in documentation. with defaults for everything, port, hostname etc

docker run -it --rm \
    --volume /var/run/docker.sock:/var/run/docker.sock \
    --volume "$(pwd)"/appwrite:/usr/src/code/appwrite:rw \
    --entrypoint="install" \
    appwrite/appwrite:1.0.1

### 👍 Expected behavior

Console should be di

[2022-09-24 14:32] miguelangel-reyes commented on #3920
Found relatively similar errors, but all had solutions of upgrading mariadb to 10.7, which is already the version that gets picked up by fresh install.

I have also removed all containers and images from docker to have a clean slate and the error is still reproduced.

[2022-09-24 16:25] LeonardoMantovani commented on #2940
Hi, I'm still encountering this issue: should I open a new issue, or it's fine to continue here?

I'm using AppWrite 1.0 with the Python 3.9 runtime, and when I try to execute a cloud function I wrote (that works flawlessly if I run it as a local python function on my computer) I get the `Internal Runtime Error` output on STDERR

I went checking the logs as suggested above and this is what I found

[2022-09-24 19:33] theemaster opened #3922 "🐛 Bug Report: Status code 201 when running function synchronously"
### 👟 Reproduction steps

1. Create appwrite function with NodeJS (might be the same case for other languages as well).
2. Create a POST request with the following body to run the function **synchronously**:
[code]
3. Check the status code of the actual request:
![image](https://user-images.githubusercontent.com/7094385/192115136-15e843eb-7dc4-49dc-a6e8-18b8930766da.png)

### 👍 Expected behavior

[2022-09-24 19:40] stnguyen90 commented on #2940
@LeonardoMantovani, please open a GitHub Q&A discussion or join us on [Discord](https://appwrite.io/discord/).

[2022-09-24 19:44] uahic commented on #3860
Had the same issue, after removing selectively all appwrite related images/containers and volumes it really took a restart + repull too to  get it working again

[2022-09-24 20:41] stnguyen90 commented on #3918
@s3ppo, thanks for raising this issue! Can you share the http response for the GET /executions for this function? It would help to see what the $createdAt from the server is.

[2022-09-24 21:07] s3ppo commented on #3918
here is an example
<img width="880" alt="Bildschirmfoto 2022-09-24 um 23 06 06" src="https://user-images.githubusercontent.com/17125438/192118783-1c329d71-e8eb-406a-aee6-f86541a5f3e7.png">

[2022-09-24 21:14] stnguyen90 commented on #3918
Interesting...I think this is the problem: https://stackoverflow.com/questions/65604554/intl-datetimeformat-returns-an-hour-over-24

[2022-09-24 21:41] s3ppo commented on #3918
Seems to be an easy fix 😉

[2022-09-25 02:08] nexmoe opened #3924 "🐛 Bug Report:"
### 👟 Reproduction steps

1. Login with OAuth and log out
2. Change the e-mail from OAuth providers
3. Re-login will re-register a new accountLogin

### 👍 Expected behavior

If users change their e-mail in providers, they can use their account.

### 👎 Actual Behavior

If users change their e-mail in providers, they will lose their account in the apps built with appwrite.

### 🎲 Appwrite version

V

[2022-09-25 07:49] kumarav1nash commented on #3918
hey @stnguyen90, can I pick this issue?

[2022-09-25 11:07] LeonardoMantovani commented on #2940
Ok done it: [here](https://github.com/appwrite/appwrite/discussions/3925) is the discussion I opened on GitHub and I also opened a Thread on Discord `functions` channel :)

[2022-09-25 12:55] eldadfux commented on #3905
I think adding increment and decrement functionality to the database makes lots of sense. I wonder if we should support this by introducing custom syntax when creating a new document or by adding a new column type.

New syntax could look something like this:

[code]

Problem: this completely messes type safety as `value`  should be an integer. We could overcome this internally with custom validato

[2022-09-25 15:01] eldadfux commented on #3918
@kumarav1nash I have assigned you.

[2022-09-25 17:23] KhaleelSH commented on #3294
What's the progress on this?

[2022-09-25 17:47] stnguyen90 commented on #3892
@AlimFreight, if you're looking for an alternative to Crashlytics, I think Sentry would be a good option. You can [self host](https://develop.sentry.dev/self-hosted/) it as well. We also have an integration where you can send error logs from Appwrite to sentry.

[2022-09-25 20:01] merabtenei commented on #3905
@eldadfux To start couldn't we just add a way to use atomic database transaction on the server side functions ? AppWrite uses MariaDB if I'm not mistaken and MariaDB supports transaction natively. I think that wouldn't be complicated to add isn't it ?

[2022-09-26 05:09] Meldiron commented on #3905
@eldadfux Special column sounds limiting. We would need one for integer, one for float, and possibly one for string. Not to mention there would be no way to set the number to a specific initial value, for instance, when creating a document (`moneyBalance` in games would be a great example).

I like the approach with SDK helpers and `increment()` method. It will be harder to implement, but I find i

[2022-09-26 05:10] eldadfux commented on #3905
While transactions are in the plan, I find it hard to see how they could help solve this issue. The race conditions could still happen, and you can't really wrap all function's executions under a single transaction.

[2022-09-26 07:44] eldadfux commented on #3905
@Meldiron we could offer more functions, but I agree, for strings `increment` sounds like a bad name. I have one more problem with `increment()`, how will we implement range validation? If we want to use the DB atomic operation we won't be able to validate the the incremented result is still in valid range for the value.

We could potentially try to get the old value and do the math on the validat

[2022-09-26 08:22] eldadfux commented on #3894
This is something we'd love to achieve. In the next few weeks will start working on migrating the docs repo to markdown files to make it easier for other to contribute translations.

[2022-09-26 08:35] christyjacob4 commented on #3922
@theemaster Thank you for raising this issue. The fix should be fairly simple. Would you like to pick it up ?

[2022-09-26 08:37] christyjacob4 commented on #3919
Hey @AhmedHammad0900 Thanks for raising this. @PineappleIOnic will take a look at this

[2022-09-26 08:40] christyjacob4 commented on #3924
@nexmoe Thank you for raising this issue. Looks like this can be solved if we also use the `userId` provided by the OAuth provider

[2022-09-26 08:53] zwe1ch opened #3926 "🐛 Bug Report: Server Error (500) when searching (Query.equal("x", 0)) for 0 in an interger field"
### 👟 Reproduction steps

When I search for 0 in an integer field, I get a 500 error. If I use a different integer value, the query works as expected. If I define the field as a string, the query also works. The call is made via the node-appwrite SDK with an API key and full permissions.

![grafik](https://user-images.githubusercontent.com/7364732/192233524-92416a81-624b-487d-ae21-c0f2b97cd6af.png

[2022-09-26 13:00] stnguyen90 commented on #3926
Thanks for raising this issue! 🙏 We'll try to get this fixed soon!

[2022-09-26 17:05] stnguyen90 opened #3927 "🐛 Bug Report: Console Should Execute Functions Asynchronously"
### 👟 Reproduction steps

1. Deploy a Function
2. Execute the Function in the Console

### 👍 Expected behavior

Function should execute asynchronously

### 👎 Actual Behavior

Function executes synchronously. This can cause problems with connection timeouts or if the user refreshes the page while the function is still executing

### 🎲 Appwrite version

Version 1.0.x

### 💻 Operating system

Linux

[2022-09-26 17:18] stnguyen90 opened #3928 "📚 Documentation: Update System Events"
### 💭 Description

`databases.*.collections.*.documents` is listed as an event in our [docs](https://appwrite.io/docs/webhooks#events), but it doesn't seem to be. I created a doc in 1.0.1 and got these events:

[code]

We may need to check some of the other resources too.

Events are documented [here](https://github.com/appwrite/appwrite/blob/master/app/config/events.php).

### 👀 Have you spent so

[2022-09-26 20:16] merabtenei commented on #349
Is there any update on this ? Calling client.setLocale('languageCode') doesn't seem to affect the response message.

[2022-09-26 21:39] stnguyen90 opened #3930 "🚀 Feature: Improve Missing Redirect URL Page for Mobile"
### 🔖 Feature description

For mobile apps, the default [oauth2](https://github.com/appwrite/appwrite/blob/master/app/views/home/auth/oauth2.phtml) page is used to redirect the user back to the mobile app via the `appwrite-callback-[PROJECT-ID]` URL scheme. The only problem is the Missing Redirect URL page is still shown and visible which can be confusing/annoying to users. It would be nice if the

[2022-09-27 01:40] merabtenei commented on #1174
Is there any update on this ? This is quite a basic functionnality. Suppose we have a Chat app with 1 to 1 conversations. to list all messages between User A and User B from a collection with sender, receiver, message attributes we'll need to do a listDocument with send = User A or User B and receiver = User A or User B

[2022-09-27 04:39] germanllop commented on #3877
Indeed it works on a new project, but the projects that we already have running, any workarround?

[2022-09-27 04:49] stnguyen90 commented on #3877
@germanllop, something may have gone wrong during the migration. Can you share the output in a new Q&A Discussion? Also, you can try running the migration again.

[2022-09-27 09:38] merabtenei commented on #2490
This could also be done on the client side ? You can do that now but it's not straight forward.
[code]
It would be great if we had something like in Firebase by doing all this on the background either on the server side or client side through the Sdk.

[2022-09-27 09:48] merabtenei commented on #2835
How do we deal with race condition in that situation (for increment and decrement) ?

[2022-09-27 12:09] maikeriva opened #3933 "🐛 Bug Report: Function is considered "Failed" if http response code is not 200, and no response is logged"
### 👟 Reproduction steps

When I complete a function execution with `res.json(400)` the web console marks the execution as "failed". This is not true, as the function execution completed correctly and no error prevented it from doing so. After a [brief discussion on Discord](https://discord.com/channels/564160730845151244/812714347298160690/1023639381489242262), I was recommended to open an issue

[2022-09-27 12:22] maikeriva opened #3934 "🚀 Feature: STDOUT function logging"
### 🔖 Feature description

You should add STDOUT logs in the web console function log pages. Not having it makes hard if not impossible to troubleshoot more complicated functions, as there is no way to observe the actual logic execution path.

### 🎤 Pitch

In my use case, I have a function which builds images according to a "recipe" it receives as input. Recipes can be fairly complicated, and I of

[2022-09-27 12:27] christyjacob4 commented on #3934
Hey @maikeriva We will enable the logs soon as part of a patch release to 1.0

In the meantime, you can check the `stdout` from the developer console in the response to the `listExecutions` request as shown in the attached image

![image](https://user-images.githubusercontent.com/20852629/192526188-1ffba8e3-aa31-49a7-a74e-0660e0fd81bc.png)

[2022-09-27 13:41] stnguyen90 commented on #3482
@pspierce, have you had a chance to migrate to 0.15.3?

[2022-09-27 15:25] rahmat-st commented on #3914
can I try to fix this issue?

[2022-09-27 17:01] techytushar commented on #3914
Hey @stnguyen90 @gewenyu99,
I would like to fix this, please can you assign this to me

[2022-09-27 17:26] stnguyen90 commented on #3914
@techytushar, thanks for your interest in contributing! 🙏 Because this issue is a https://github.com/appwrite/appwrite/labels/hacktoberfest issue, we won't be assigning this yet; it will be assigned to the first to comment once Hacktoberfest starts.

[2022-09-27 20:02] stnguyen90 commented on #3000
Closing due to inactivity and this shouldn't be a problem anymore.

[2022-09-27 20:02] #3000 closed

[2022-09-27 20:05] stnguyen90 commented on #3812
@FallingSnow, can this be closed now as this is a little outside of our scope?

[2022-09-27 20:32] #3102 closed

[2022-09-27 20:34] stnguyen90 commented on #3626
Confirmed there is already an alert:

![image](https://user-images.githubusercontent.com/1477010/192629771-a9912581-f997-4ca2-97f2-49f133c8a6b4.png)

[2022-09-27 20:34] #3626 closed

[2022-09-27 20:35] gewenyu99 commented on #3200
There's now a dedicated ordering result section + we have a new query sorting system :) https://appwrite.io/docs/databases#ordering

[2022-09-27 20:35] #3200 closed

[2022-09-27 20:35] stnguyen90 commented on #3670
@MahendraBishnoi29, any progress on this or should I unassign you?

[2022-09-27 21:04] gewenyu99 commented on #3639
@stnguyen90 Can users now write as a guest with the correct permissions? Idk if this issue is still relevant.

[2022-09-28 02:58] MahendraBishnoi29 commented on #3670
yes go ahead.

[2022-09-28 03:06] stnguyen90 commented on #3639
@gewenyu99, yes, guests should be able to create files now if granted the permissions.

[2022-09-28 04:50] FallingSnow commented on #3812
Yes. I moved away form Appwrite after being unable to fix this.

As a side note, I think this is a Appwrite issue. The Appwrite system creates the function builder container. It defines which network the container connects to.

[2022-09-28 04:50] #3812 closed

[2022-09-28 04:58] superseby2 commented on #2902
Thx guys!

[2022-09-28 04:58] #2902 closed

[2022-09-28 11:34] kumarav1nash commented on #3918
@AnirudhBot hi, I'm working on this. if you can help me on setting up the dev env you can drop me the mail here at ak21367185@gmail.com

[2022-09-28 15:11] kumarav1nash commented on #3918
@s3ppo hey can you elaborate a little about how to reproduce this bug, on which page did you get this error?

[2022-09-28 17:52] kobeumut opened #3942 "[1.0.1.500] 🐛 Bug Report: Error on Query.equal("feature_type", 0)"
### 👟 Reproduction steps

Make an db call with an python sdk like;
<img width="867" alt="image" src="https://user-images.githubusercontent.com/5182289/192852651-643da2d4-7dd5-45f0-876b-089b5b2841f5.png">
It's related with 0 in Query.equal("feature_type", 0)
When I changed the 0 to 1 or 2 the response came or when I create query with notEqual
[code]
it's running. But I want to get feature type whic

[2022-09-28 18:29] stnguyen90 commented on #3942
Hi @kobeumut! Thanks for raising this issue! 🙏 This looks like a duplicate of https://github.com/appwrite/appwrite/issues/3926. Can we close this and you can 👍 the previous issue?

As a workaround before we push out the release, you can try using this string instead:

[code]

[2022-09-28 18:32] stnguyen90 commented on #3928
@AnirudhBot, correct. Would you be able to check some of the other resources too like buckets, files, attributes, etc, and provide screenshots while you work through them?

[2022-09-28 18:54] stnguyen90 commented on #3928
@AnirudhBot, correct. For example, if there is no `databases.*.collections.*.attributes` event, we need to remove it from the docs.

[2022-09-28 19:06] stnguyen90 opened #3943 "📚 Documentation: List JSON Examples Are Incorrect"
### 💭 Description

Lists like Documents List or Memberships List should have an array of data, but the examples don't show that. For example:

Teams List:

<img width="827" alt="image" src="https://user-images.githubusercontent.com/1477010/192867361-bf2be143-054d-40b5-b919-d379a38c6baf.png">

Documents List:

<img width="840" alt="image" src="https://user-images.githubusercontent.com/1477010/19286

[2022-09-28 19:13] kobeumut commented on #3942
Hi @stnguyen90. Sorry about duplicate, I searched but overlooked.

But I can't understand using it with the string you mentioned?

[2022-09-28 19:18] stnguyen90 commented on #3942
@kobeumut for example:

[code]

or

[code]

[2022-09-28 19:19] stnguyen90 commented on #3928
Thanks, @AnirudhBot! I'll assign the issue to you!

[2022-09-28 19:23] stnguyen90 commented on #3918
@kumarav1nash, it's the Function Logs page. You'll need to tweak the execution somehow to have it created during midnight your local time.

[2022-09-28 19:31] kobeumut commented on #3942
oh, I got it. I don't now this kind of usage. Thank you.

[2022-09-28 19:31] #3942 closed

[2022-09-28 20:58] stnguyen90 commented on #3810
@AnirudhBot, I love your ambition! Since you already have an issue assigned to you, how about we leave this open for someone else to tackle?

[2022-09-29 02:32] Faizan-Pasha opened #3946 "🐛 Bug Report: `0Auth` not working with `Safari`"
### 👟 Reproduction steps

Hi, I am using `React` to build a web app.
 `Authentication` returns `status code 200` but while getting the user with `account.get()` method it returns `AppwriteException: User (role: guests) missing scope (account)`. I think `APPWRITE` is having some errors storing the `login` values in `Local Storage`.
This is only with `Safari`, I tested the same code with `Chrome` an

[2022-09-29 10:21] kumarav1nash commented on #3918
Thanks, @stnguyen90 @s3ppo will try to close this as soon as possible

[2022-09-29 10:22] s3ppo commented on #3918
replace h24 with h23 ;)

[2022-09-29 10:25] kumarav1nash commented on #3918
That I know but to test it I had to create and deploy a new function to check the logs and I'm new to appwrite :)

[2022-09-29 10:32] s3ppo opened #3949 "🐛 Bug Report: missing activity data in authentication"
### 👟 Reproduction steps

it seems in new "Authentication" screen of appwrite console there are missing activity timestamps.

i think data from before migration is missing at all, and data after migration is wrong:
![image](https://user-images.githubusercontent.com/17125438/193008436-6b708ae2-ea11-443d-8f57-627531e89cc0.png)
(all timestamps are from 1970)

same with activity log of "Teams".

### 👍

[2022-09-29 12:53] stnguyen90 commented on #3949
@s3ppo, could these have been from before the timestamp was introduced? Do you know what these should have looked like before the upgrade? Also, what's the API return?

[2022-09-29 13:17] s3ppo commented on #3949
![image](https://user-images.githubusercontent.com/17125438/193041860-4fbc671b-94df-47b3-9a1d-40ad96a515ca.png)

[2022-09-29 16:22] christyjacob4 opened #3950 "⚡ Write a sendMessage() Function using Dart"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-09-29 16:23] christyjacob4 opened #3951 "⚡ Write a sendMessage() Function using Deno"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-09-29 16:23] christyjacob4 opened #3952 "⚡ Write a sendMessage() Function using Dart"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-09-29 16:23] christyjacob4 opened #3953 "⚡ Write a sendMessage() Function using Deno"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-09-29 16:23] christyjacob4 opened #3954 "⚡ Write a sendMessage() Function using Node"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-09-29 16:23] christyjacob4 opened #3955 "⚡ Write a sendMessage() Function using PHP"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-09-29 16:23] christyjacob4 opened #3956 "⚡ Write a sendMessage() Function using Python"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-09-29 16:24] christyjacob4 opened #3957 "⚡ Write a sendMessage() Function using Ruby"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-09-29 16:24] christyjacob4 opened #3958 "⚡ Write a sendMessage() Function using Swift"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-09-29 16:24] christyjacob4 opened #3959 "⚡ Write a sendMessage() Function using Java"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-09-29 16:24] christyjacob4 opened #3960 "⚡ Write a sendMessage() Function using Kotlin"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-09-29 16:24] christyjacob4 opened #3961 "✍️ Write Article About Importing Netlify Users to Appwrite"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

We understand code contributions might not be your cup of tea, so we decided to prepare a series of blog posts related issues. This series of issues is here to let your writing skills shine,

[2022-09-29 16:24] christyjacob4 opened #3962 "✍️ Write Article About Importing Vercel Users to Appwrite"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

We understand code contributions might not be your cup of tea, so we decided to prepare a series of blog posts related issues. This series of issues is here to let your writing skills shine,

[2022-09-29 16:24] christyjacob4 opened #3963 "✍️ Write Article About Importing Drupal Users to Appwrite"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

We understand code contributions might not be your cup of tea, so we decided to prepare a series of blog posts related issues. This series of issues is here to let your writing skills shine,

[2022-09-29 16:24] christyjacob4 opened #3964 "✍️ Write Article About Importing Shopify Users to Appwrite"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

We understand code contributions might not be your cup of tea, so we decided to prepare a series of blog posts related issues. This series of issues is here to let your writing skills shine,

[2022-09-29 16:24] christyjacob4 opened #3965 "✍️ Write Article About Importing Directus Users to Appwrite"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

We understand code contributions might not be your cup of tea, so we decided to prepare a series of blog posts related issues. This series of issues is here to let your writing skills shine,

[2022-09-29 16:24] christyjacob4 opened #3966 "✍️ Write Article About Importing Strapi Users to Appwrite"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

We understand code contributions might not be your cup of tea, so we decided to prepare a series of blog posts related issues. This series of issues is here to let your writing skills shine,

[2022-09-29 16:24] christyjacob4 opened #3967 "✍️ Write Article About Importing Wordpress Users to Appwrite"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

We understand code contributions might not be your cup of tea, so we decided to prepare a series of blog posts related issues. This series of issues is here to let your writing skills shine,

[2022-09-29 16:24] christyjacob4 opened #3968 "✍️ Write Article About Importing CraftCMS Users to Appwrite"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

We understand code contributions might not be your cup of tea, so we decided to prepare a series of blog posts related issues. This series of issues is here to let your writing skills shine,

[2022-09-29 16:24] christyjacob4 opened #3969 "✍️ Write Article About Importing ButterCMS Users to Appwrite"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

We understand code contributions might not be your cup of tea, so we decided to prepare a series of blog posts related issues. This series of issues is here to let your writing skills shine,

[2022-09-29 16:24] christyjacob4 opened #3970 "✍️ Write Article About Importing Ghost Blog Users to Appwrite"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

We understand code contributions might not be your cup of tea, so we decided to prepare a series of blog posts related issues. This series of issues is here to let your writing skills shine,

[2022-09-29 16:24] christyjacob4 opened #3971 "🎯 Enrich Appwrite Caching with Mcrouter Adapter"
# 💭 Introduction

Appwrite Databases allows you to store and read your application and users' data. Since most of the operations done in your app are querying the data, it’s important to have a good performance on reading. To achieve that, Appwrite uses the [Utopia PHP Cache](https://github.com/utopia-php/cache) library to prevent unnecessary database queries.

Cache library supports multiple adap

[2022-09-29 16:24] christyjacob4 opened #3972 "🎯 Enrich Appwrite Caching with Memcached Adapter"
# 💭 Introduction

Appwrite Databases allows you to store and read your application and users' data. Since most of the operations done in your app are querying the data, it’s important to have a good performance on reading. To achieve that, Appwrite uses the [Utopia PHP Cache](https://github.com/utopia-php/cache) library to prevent unnecessary database queries.

Cache library supports multiple adap

[2022-09-29 16:24] christyjacob4 opened #3973 "🎯 Enrich Appwrite Caching with Hazelcast IMDG Adapter"
# 💭 Introduction

Appwrite Databases allows you to store and read your application and users' data. Since most of the operations done in your app are querying the data, it’s important to have a good performance on reading. To achieve that, Appwrite uses the [Utopia PHP Cache](https://github.com/utopia-php/cache) library to prevent unnecessary database queries.

Cache library supports multiple adap

[2022-09-29 16:25] christyjacob4 opened #3974 "🎯 Enrich Appwrite Caching with Varnish Cache Adapter"
# 💭 Introduction

Appwrite Databases allows you to store and read your application and users' data. Since most of the operations done in your app are querying the data, it’s important to have a good performance on reading. To achieve that, Appwrite uses the [Utopia PHP Cache](https://github.com/utopia-php/cache) library to prevent unnecessary database queries.

Cache library supports multiple adap

[2022-09-29 16:25] christyjacob4 opened #3975 "🎯 Enrich Appwrite Caching with Apache Ignite Adapter"
# 💭 Introduction

Appwrite Databases allows you to store and read your application and users' data. Since most of the operations done in your app are querying the data, it’s important to have a good performance on reading. To achieve that, Appwrite uses the [Utopia PHP Cache](https://github.com/utopia-php/cache) library to prevent unnecessary database queries.

Cache library supports multiple adap

[2022-09-29 16:25] christyjacob4 opened #3976 "📄 Enhance Appwrite Databases with SurrealDB Adapter"
# 💭 Introduction

Appwrite Databases allows you to store your application and users' data. Not only that, it comes with query system that allows you to read those data. We put a lot of effort into making Appwrite Databases secure by default, and the whole security layer is truly easy to configure. 😇 You can learn more about [Appwrite Databases](https://appwrite.io/docs/databases) and [Appwrite Per

[2022-09-29 16:25] christyjacob4 opened #3977 "📄 Enhance Appwrite Databases with Redis Adapter"
# 💭 Introduction

Appwrite Databases allows you to store your application and users' data. Not only that, it comes with query system that allows you to read those data. We put a lot of effort into making Appwrite Databases secure by default, and the whole security layer is truly easy to configure. 😇 You can learn more about [Appwrite Databases](https://appwrite.io/docs/databases) and [Appwrite Per

[2022-09-29 16:25] christyjacob4 opened #3978 "📄 Enhance Appwrite Databases with Apache Hbase Adapter"
# 💭 Introduction

Appwrite Databases allows you to store your application and users' data. Not only that, it comes with query system that allows you to read those data. We put a lot of effort into making Appwrite Databases secure by default, and the whole security layer is truly easy to configure. 😇 You can learn more about [Appwrite Databases](https://appwrite.io/docs/databases) and [Appwrite Per

[2022-09-29 16:25] christyjacob4 opened #3979 "📄 Enhance Appwrite Databases with Apache Cassandra Adapter"
# 💭 Introduction

Appwrite Databases allows you to store your application and users' data. Not only that, it comes with query system that allows you to read those data. We put a lot of effort into making Appwrite Databases secure by default, and the whole security layer is truly easy to configure. 😇 You can learn more about [Appwrite Databases](https://appwrite.io/docs/databases) and [Appwrite Per

[2022-09-29 16:25] christyjacob4 opened #3980 "📄 Enhance Appwrite Databases with AWS DynamoDB Adapter"
# 💭 Introduction

Appwrite Databases allows you to store your application and users' data. Not only that, it comes with query system that allows you to read those data. We put a lot of effort into making Appwrite Databases secure by default, and the whole security layer is truly easy to configure. 😇 You can learn more about [Appwrite Databases](https://appwrite.io/docs/databases) and [Appwrite Per

[2022-09-29 16:25] christyjacob4 opened #3981 "📄 Enhance Appwrite Databases with Apache CouchDB Adapter"
# 💭 Introduction

Appwrite Databases allows you to store your application and users' data. Not only that, it comes with query system that allows you to read those data. We put a lot of effort into making Appwrite Databases secure by default, and the whole security layer is truly easy to configure. 😇 You can learn more about [Appwrite Databases](https://appwrite.io/docs/databases) and [Appwrite Per

[2022-09-29 16:25] christyjacob4 opened #3982 "📄 Enhance Appwrite Databases with Microsoft SQL Server Adapter"
# 💭 Introduction

Appwrite Databases allows you to store your application and users' data. Not only that, it comes with query system that allows you to read those data. We put a lot of effort into making Appwrite Databases secure by default, and the whole security layer is truly easy to configure. 😇 You can learn more about [Appwrite Databases](https://appwrite.io/docs/databases) and [Appwrite Per

[2022-09-29 16:25] christyjacob4 opened #3983 "📄 Enhance Appwrite Databases with Neo4j Adapter"
# 💭 Introduction

Appwrite Databases allows you to store your application and users' data. Not only that, it comes with query system that allows you to read those data. We put a lot of effort into making Appwrite Databases secure by default, and the whole security layer is truly easy to configure. 😇 You can learn more about [Appwrite Databases](https://appwrite.io/docs/databases) and [Appwrite Per

[2022-09-29 16:25] christyjacob4 opened #3984 "🗄️ Extend Appwrite Storage with Akaza Adapter"
# 💭 Introduction

Appwrite Storage lets you upload images, videos, or any kind of file and store it for later. This comes with support for encryption, compression, chunk upload, resumable upload, and much more! 💪 To learn more, check out our official [Appwrite Storage docs](https://appwrite.io/docs/storage).

Every file uploaded to Appwrite Storage needs to be stored somewhere, whether that is you

[2022-09-29 16:25] christyjacob4 opened #3985 "🗄️ Extend Appwrite Storage with Aruba Cloud Adapter"
# 💭 Introduction

Appwrite Storage lets you upload images, videos, or any kind of file and store it for later. This comes with support for encryption, compression, chunk upload, resumable upload, and much more! 💪 To learn more, check out our official [Appwrite Storage docs](https://appwrite.io/docs/storage).

Every file uploaded to Appwrite Storage needs to be stored somewhere, whether that is you

[2022-09-29 16:25] christyjacob4 opened #3986 "🗄️ Extend Appwrite Storage with Azure Blob Storage Adapter"
# 💭 Introduction

Appwrite Storage lets you upload images, videos, or any kind of file and store it for later. This comes with support for encryption, compression, chunk upload, resumable upload, and much more! 💪 To learn more, check out our official [Appwrite Storage docs](https://appwrite.io/docs/storage).

Every file uploaded to Appwrite Storage needs to be stored somewhere, whether that is you

[2022-09-29 16:25] christyjacob4 opened #3987 "🗄️ Extend Appwrite Storage with Scality Adapter"
# 💭 Introduction

Appwrite Storage lets you upload images, videos, or any kind of file and store it for later. This comes with support for encryption, compression, chunk upload, resumable upload, and much more! 💪 To learn more, check out our official [Appwrite Storage docs](https://appwrite.io/docs/storage).

Every file uploaded to Appwrite Storage needs to be stored somewhere, whether that is you

[2022-09-29 16:25] christyjacob4 opened #3988 "🗄️ Extend Appwrite Storage with Dreamhost Adapter"
# 💭 Introduction

Appwrite Storage lets you upload images, videos, or any kind of file and store it for later. This comes with support for encryption, compression, chunk upload, resumable upload, and much more! 💪 To learn more, check out our official [Appwrite Storage docs](https://appwrite.io/docs/storage).

Every file uploaded to Appwrite Storage needs to be stored somewhere, whether that is you

[2022-09-29 16:25] christyjacob4 opened #3989 "🗄️ Extend Appwrite Storage with Minio Adapter"
# 💭 Introduction

Appwrite Storage lets you upload images, videos, or any kind of file and store it for later. This comes with support for encryption, compression, chunk upload, resumable upload, and much more! 💪 To learn more, check out our official [Appwrite Storage docs](https://appwrite.io/docs/storage).

Every file uploaded to Appwrite Storage needs to be stored somewhere, whether that is you

[2022-09-29 16:25] christyjacob4 opened #3990 "🗄️ Extend Appwrite Storage with DreamObjects Adapter"
# 💭 Introduction

Appwrite Storage lets you upload images, videos, or any kind of file and store it for later. This comes with support for encryption, compression, chunk upload, resumable upload, and much more! 💪 To learn more, check out our official [Appwrite Storage docs](https://appwrite.io/docs/storage).

Every file uploaded to Appwrite Storage needs to be stored somewhere, whether that is you

[2022-09-29 16:25] christyjacob4 opened #3991 "🗄️ Extend Appwrite Storage with Vultr Object Storage Adapter"
# 💭 Introduction

Appwrite Storage lets you upload images, videos, or any kind of file and store it for later. This comes with support for encryption, compression, chunk upload, resumable upload, and much more! 💪 To learn more, check out our official [Appwrite Storage docs](https://appwrite.io/docs/storage).

Every file uploaded to Appwrite Storage needs to be stored somewhere, whether that is you

[2022-09-29 16:26] christyjacob4 opened #3992 "🗄️ Extend Appwrite Storage with IBM Cloud Object Storage Adapter"
# 💭 Introduction

Appwrite Storage lets you upload images, videos, or any kind of file and store it for later. This comes with support for encryption, compression, chunk upload, resumable upload, and much more! 💪 To learn more, check out our official [Appwrite Storage docs](https://appwrite.io/docs/storage).

Every file uploaded to Appwrite Storage needs to be stored somewhere, whether that is you

[2022-09-29 16:26] christyjacob4 opened #3993 "🗄️ Extend Appwrite Storage with Rackspace Cloud Files Adapter"
# 💭 Introduction

Appwrite Storage lets you upload images, videos, or any kind of file and store it for later. This comes with support for encryption, compression, chunk upload, resumable upload, and much more! 💪 To learn more, check out our official [Appwrite Storage docs](https://appwrite.io/docs/storage).

Every file uploaded to Appwrite Storage needs to be stored somewhere, whether that is you

[2022-09-29 16:26] christyjacob4 opened #3994 "🗄️ Extend Appwrite Storage with Google Cloud Storage Adapter"
# 💭 Introduction

Appwrite Storage lets you upload images, videos, or any kind of file and store it for later. This comes with support for encryption, compression, chunk upload, resumable upload, and much more! 💪 To learn more, check out our official [Appwrite Storage docs](https://appwrite.io/docs/storage).

Every file uploaded to Appwrite Storage needs to be stored somewhere, whether that is you

[2022-09-29 16:26] christyjacob4 opened #3995 "🗜️ Refine Appwrite Storage with Brotli Compression"
# 💭 Introduction

Appwrite Storage lets you upload and store images, videos, or any kind of file. One of its features is compression which lets you pick an algorithm that makes your files take less storage space. We currently support gzip and ZStandard compressions but aim to support more! ✨

Every compression algorithm is based on the [Utopia PHP storage](https://github.com/utopia-php/storage/blo

[2022-09-29 16:26] christyjacob4 opened #3996 "🗜️ Refine Appwrite Storage with bzip2 Compression"
# 💭 Introduction

Appwrite Storage lets you upload and store images, videos, or any kind of file. One of its features is compression which lets you pick an algorithm that makes your files take less storage space. We currently support gzip and ZStandard compressions but aim to support more! ✨

Every compression algorithm is based on the [Utopia PHP storage](https://github.com/utopia-php/storage/blo

[2022-09-29 16:26] christyjacob4 opened #3997 "🗜️ Refine Appwrite Storage with lzip Compression"
# 💭 Introduction

Appwrite Storage lets you upload and store images, videos, or any kind of file. One of its features is compression which lets you pick an algorithm that makes your files take less storage space. We currently support gzip and ZStandard compressions but aim to support more! ✨

Every compression algorithm is based on the [Utopia PHP storage](https://github.com/utopia-php/storage/blo

[2022-09-29 16:26] christyjacob4 opened #3998 "🗜️ Refine Appwrite Storage with LZ4 Compression"
# 💭 Introduction

Appwrite Storage lets you upload and store images, videos, or any kind of file. One of its features is compression which lets you pick an algorithm that makes your files take less storage space. We currently support gzip and ZStandard compressions but aim to support more! ✨

Every compression algorithm is based on the [Utopia PHP storage](https://github.com/utopia-php/storage/blo

[2022-09-29 16:26] christyjacob4 opened #3999 "🗜️ Refine Appwrite Storage with lzma Compression"
# 💭 Introduction

Appwrite Storage lets you upload and store images, videos, or any kind of file. One of its features is compression which lets you pick an algorithm that makes your files take less storage space. We currently support gzip and ZStandard compressions but aim to support more! ✨

Every compression algorithm is based on the [Utopia PHP storage](https://github.com/utopia-php/storage/blo

[2022-09-29 16:26] christyjacob4 opened #4000 "🗜️ Refine Appwrite Storage with lzop Compression"
# 💭 Introduction

Appwrite Storage lets you upload and store images, videos, or any kind of file. One of its features is compression which lets you pick an algorithm that makes your files take less storage space. We currently support gzip and ZStandard compressions but aim to support more! ✨

Every compression algorithm is based on the [Utopia PHP storage](https://github.com/utopia-php/storage/blo

[2022-09-29 16:26] christyjacob4 opened #4001 "🗜️ Refine Appwrite Storage with rzip Compression"
# 💭 Introduction

Appwrite Storage lets you upload and store images, videos, or any kind of file. One of its features is compression which lets you pick an algorithm that makes your files take less storage space. We currently support gzip and ZStandard compressions but aim to support more! ✨

Every compression algorithm is based on the [Utopia PHP storage](https://github.com/utopia-php/storage/blo

[2022-09-29 16:26] christyjacob4 opened #4002 "🗜️ Refine Appwrite Storage with Snappy Compression"
# 💭 Introduction

Appwrite Storage lets you upload and store images, videos, or any kind of file. One of its features is compression which lets you pick an algorithm that makes your files take less storage space. We currently support gzip and ZStandard compressions but aim to support more! ✨

Every compression algorithm is based on the [Utopia PHP storage](https://github.com/utopia-php/storage/blo

[2022-09-29 16:26] christyjacob4 opened #4003 "🗜️ Refine Appwrite Storage with xz Compression"
# 💭 Introduction

Appwrite Storage lets you upload and store images, videos, or any kind of file. One of its features is compression which lets you pick an algorithm that makes your files take less storage space. We currently support gzip and ZStandard compressions but aim to support more! ✨

Every compression algorithm is based on the [Utopia PHP storage](https://github.com/utopia-php/storage/blo

[2022-09-29 16:26] christyjacob4 opened #4004 "🗞 Help Developers by Writing Article About Netlify"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

We understand code contributions might not be your cup of tea, so we decided to prepare a series of blog posts related issues. This series of issues is here to let your writing skills shine,

[2022-09-29 16:26] christyjacob4 opened #4005 "🗞 Help Developers by Writing Article About Vercel"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

We understand code contributions might not be your cup of tea, so we decided to prepare a series of blog posts related issues. This series of issues is here to let your writing skills shine,

[2022-09-29 16:26] christyjacob4 opened #4006 "🗞 Help Developers by Writing Article About Vultr"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

We understand code contributions might not be your cup of tea, so we decided to prepare a series of blog posts related issues. This series of issues is here to let your writing skills shine,

[2022-09-29 16:26] christyjacob4 opened #4007 "🗞 Help Developers by Writing Article About Google Cloud"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

We understand code contributions might not be your cup of tea, so we decided to prepare a series of blog posts related issues. This series of issues is here to let your writing skills shine,

[2022-09-29 16:26] christyjacob4 opened #4008 "🗞 Help Developers by Writing Article About Amazon Web Services"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

We understand code contributions might not be your cup of tea, so we decided to prepare a series of blog posts related issues. This series of issues is here to let your writing skills shine,

[2022-09-29 16:27] christyjacob4 opened #4009 "🗞 Help Developers by Writing Article About Hetzner"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

We understand code contributions might not be your cup of tea, so we decided to prepare a series of blog posts related issues. This series of issues is here to let your writing skills shine,

[2022-09-29 16:27] christyjacob4 opened #4010 "🗞 Help Developers by Writing Article About Bluehost"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

We understand code contributions might not be your cup of tea, so we decided to prepare a series of blog posts related issues. This series of issues is here to let your writing skills shine,

[2022-09-29 16:27] christyjacob4 opened #4011 "🗞 Help Developers by Writing Article About Linode"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

We understand code contributions might not be your cup of tea, so we decided to prepare a series of blog posts related issues. This series of issues is here to let your writing skills shine,

[2022-09-29 16:27] christyjacob4 opened #4012 "🗞 Help Developers by Writing Article About OVHcloud"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

We understand code contributions might not be your cup of tea, so we decided to prepare a series of blog posts related issues. This series of issues is here to let your writing skills shine,

[2022-09-29 16:27] christyjacob4 opened #4013 "🤖 Improve Appwrite Functions with Bash Support"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), a project built to enable serverless cloud computing. Open R

[2022-09-29 16:27] christyjacob4 opened #4014 "🤖 Improve Appwrite Functions with Perl Support"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), a project built to enable serverless cloud computing. Open R

[2022-09-29 16:27] christyjacob4 opened #4015 "🤖 Improve Appwrite Functions with Erlang Support"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), a project built to enable serverless cloud computing. Open R

[2022-09-29 16:27] christyjacob4 opened #4016 "🤖 Improve Appwrite Functions with Elixir Support"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), a project built to enable serverless cloud computing. Open R

[2022-09-29 16:27] christyjacob4 opened #4017 "🤖 Improve Appwrite Functions with C Support"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), a project built to enable serverless cloud computing. Open R

[2022-09-29 16:27] christyjacob4 opened #4018 "🤖 Improve Appwrite Functions with Go Support"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), a project built to enable serverless cloud computing. Open R

[2022-09-29 16:27] #3927 closed

[2022-09-29 16:27] christyjacob4 opened #4019 "🤖 Improve Appwrite Functions with R Support"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), a project built to enable serverless cloud computing. Open R

[2022-09-29 16:27] christyjacob4 opened #4020 "🤖 Improve Appwrite Functions with Scala Support"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), a project built to enable serverless cloud computing. Open R

[2022-09-29 16:27] christyjacob4 opened #4021 "🤖 Improve Appwrite Functions with Julia Support"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), a project built to enable serverless cloud computing. Open R

[2022-09-29 16:27] christyjacob4 opened #4022 "🤖 Improve Appwrite Functions with Lua Support"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), a project built to enable serverless cloud computing. Open R

[2022-09-29 16:27] christyjacob4 opened #4023 "🤖 Improve Appwrite Functions with Pascal Support"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), a project built to enable serverless cloud computing. Open R

[2022-09-29 16:27] christyjacob4 opened #4024 "🦸 Make a Dream Contribution. What Is It? You Tell Us!"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to allow **anyone** to contribute to our project, no matter your background.

We understand coding is not for everyone, and even though we have many no-code and low-code issues, we believe there are many new opportunities for all of you to contribute. We also believe it’s important for every contributor

[2022-09-29 16:27] christyjacob4 opened #4025 "🧱 Build Almost Facebook. Be Creative!"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to provide Appwriters with a **huge amount** of example projects that many use as learning resources.

We understand Appwrite’s tech stack might not be your cup of tea, so we decided to prepare a series of `Almost (something)` projects. This series of issues is here to let your creativity shine! ✨

Your

[2022-09-29 16:27] christyjacob4 opened #4026 "🧱 Build Almost Twitter. Be Creative!"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to provide Appwriters with a **huge amount** of example projects that many use as learning resources.

We understand Appwrite’s tech stack might not be your cup of tea, so we decided to prepare a series of `Almost (something)` projects. This series of issues is here to let your creativity shine! ✨

Your

[2022-09-29 16:28] christyjacob4 opened #4027 "🧱 Build Almost Notion. Be Creative!"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to provide Appwriters with a **huge amount** of example projects that many use as learning resources.

We understand Appwrite’s tech stack might not be your cup of tea, so we decided to prepare a series of `Almost (something)` projects. This series of issues is here to let your creativity shine! ✨

Your

[2022-09-29 16:28] christyjacob4 opened #4028 "🧱 Build Almost Asana. Be Creative!"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to provide Appwriters with a **huge amount** of example projects that many use as learning resources.

We understand Appwrite’s tech stack might not be your cup of tea, so we decided to prepare a series of `Almost (something)` projects. This series of issues is here to let your creativity shine! ✨

Your

[2022-09-29 16:28] christyjacob4 opened #4029 "🧱 Build Almost Product Hunt. Be Creative!"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to provide Appwriters with a **huge amount** of example projects that many use as learning resources.

We understand Appwrite’s tech stack might not be your cup of tea, so we decided to prepare a series of `Almost (something)` projects. This series of issues is here to let your creativity shine! ✨

Your

[2022-09-29 16:28] christyjacob4 opened #4030 "🧱 Build Almost Dev.to. Be Creative!"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to provide Appwriters with a **huge amount** of example projects that many use as learning resources.

We understand Appwrite’s tech stack might not be your cup of tea, so we decided to prepare a series of `Almost (something)` projects. This series of issues is here to let your creativity shine! ✨

Your

[2022-09-29 16:28] christyjacob4 opened #4031 "🧱 Build Almost Reddit. Be Creative!"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to provide Appwriters with a **huge amount** of example projects that many use as learning resources.

We understand Appwrite’s tech stack might not be your cup of tea, so we decided to prepare a series of `Almost (something)` projects. This series of issues is here to let your creativity shine! ✨

Your

[2022-09-29 16:28] christyjacob4 opened #4032 "🧱 Build Almost Notion. Be Creative!"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to provide Appwriters with a **huge amount** of example projects that many use as learning resources.

We understand Appwrite’s tech stack might not be your cup of tea, so we decided to prepare a series of `Almost (something)` projects. This series of issues is here to let your creativity shine! ✨

Your

[2022-09-29 16:28] christyjacob4 opened #4033 "🧱 Build Almost Amazon. Be Creative!"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to provide Appwriters with a **huge amount** of example projects that many use as learning resources.

We understand Appwrite’s tech stack might not be your cup of tea, so we decided to prepare a series of `Almost (something)` projects. This series of issues is here to let your creativity shine! ✨

Your

[2022-09-29 16:28] christyjacob4 opened #4034 "🧱 Build Almost Discord. Be Creative!"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to provide Appwriters with a **huge amount** of example projects that many use as learning resources.

We understand Appwrite’s tech stack might not be your cup of tea, so we decided to prepare a series of `Almost (something)` projects. This series of issues is here to let your creativity shine! ✨

Your

[2022-09-29 16:28] christyjacob4 opened #4035 "🧱 Build Almost Trello. Be Creative!"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to provide Appwriters with a **huge amount** of example projects that many use as learning resources.

We understand Appwrite’s tech stack might not be your cup of tea, so we decided to prepare a series of `Almost (something)` projects. This series of issues is here to let your creativity shine! ✨

Your

[2022-09-29 16:28] christyjacob4 opened #4036 "🧱 Build Almost Evernote. Be Creative!"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to provide Appwriters with a **huge amount** of example projects that many use as learning resources.

We understand Appwrite’s tech stack might not be your cup of tea, so we decided to prepare a series of `Almost (something)` projects. This series of issues is here to let your creativity shine! ✨

Your

[2022-09-29 16:43] stnguyen90 commented on #2469
@outrelouxhe is this still a problem?

[2022-09-29 17:12] stnguyen90 commented on #4005
@krupalitrivedi, thanks for reaching out! 🙏 To give everyone a fair chance, we will assign the first commenter after Hacktoberfest officially starts.

[2022-09-29 18:10] progressive-coder-ankur commented on #4035
Hi, i would like to work on this issue .. Please assign me 😄 ..

[2022-09-29 18:32] christyjacob4 opened #4037 "⚡ Write a sendMessage() Function using .NET"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-09-29 18:51] amitanshusahu commented on #4025
# yes i would like to join it ,  a "newt to open source" guy  here
<i> sorry bigger fonts to attract </i>

[2022-09-29 19:03] sarkartanmay393 commented on #3952
I would like to work on it.

[2022-09-29 19:09] vj-codes commented on #4007
Hey I would like to work on this please!

[2022-09-29 19:26] stnguyen90 commented on #4007
@vj-codes, thanks for reaching out! 🙏 To make things fair, we will be selecting the first commenter **after** Hacktoberfest officially starts to assign this issue. Feel free to comment again **after** Hacktoberfest starts.

[2022-09-29 19:27] stnguyen90 commented on #3952
@sarkartanmay393  thanks for reaching out! 🙏 To make things fair, we will be selecting the first commenter **after** Hacktoberfest officially starts to assign this issue. Feel free to comment again **after** Hacktoberfest starts.

[2022-09-29 21:23] barracus84 commented on #3328
For anyone on hold with this, waiting for a solution from appwrite team, I am scripting attribute update in this way (using Python SDK).

It lacks any control about data integrity, data type (eg: should check if old attr is the same type of new attr)...and results check.

If any one interested, I am writing update for also enum type.

[code]

[2022-09-29 22:12] stnguyen90 opened #4039 "🐛 Bug Report: Cannot set default value for required attribute"
### 👟 Reproduction steps

### Boolean

1. Create a boolean attribute with:
   * required: `true`
   * default: `false`

### String

1. Create a string attribute with:
   * required: `true`
   * default: `"0"`

### Float

1. Create a string attribute with:
   * required: `true`
   * default: 0

### Integer

1. Create a string attribute with:
   * required: `true`
   * default: 0

### 👍 Expected beh

[2022-09-30 01:11] harshchandwani commented on #4004
I can work on this, please assign it to me.

[2022-09-30 04:12] jyotirmaya907 commented on #4024
Hey I want to show case my idea and contribute to this issue. Can you assign to me please ?

[2022-09-30 05:41] MukulKolpe commented on #4030
Hey @christyjacob4, can I work on this issue ?

[2022-09-30 06:18] Abhijnan-Bajpai commented on #4026
Hey @christyjacob4! Excited to work on this for my Hacktoberfest contribution! Could I be assigned?

[2022-09-30 06:40] AmreshSinha commented on #3954
Hey @christyjacob4 👋
I would love to work on this!

[2022-09-30 06:47] Sooraj-s-98 commented on #3670
@stnguyen90 can you assign it to me ?

[2022-09-30 06:49] octonawish-akcodes commented on #4033
I want to do this under hactoberfest

[2022-09-30 06:57] 2002Bishwajeet commented on #3670
@Sooraj-s-98  Since this is an Hacktoberfest labeled issue, please ask for reassignment when the hacktoberfest starts officially😄

[2022-09-30 09:20] thefool76 commented on #4008
hey there! Would like to work on it. please assign me

[2022-09-30 10:14] amitanshusahu commented on #4025
### i would like to do the project , assign me the task .. ☺️

[2022-09-30 10:18] chiragkhatri19 commented on #4031
Can you please assign this to me ?

[2022-09-30 10:26] amitanshusahu commented on #4025
hey!! , @christyjacob4 , can i get this .. could you please assign me this .. 🥲

[2022-09-30 10:26] aaaaayushh commented on #4027
Hey @christyjacob4! Excited to work on this for my hacktoberfest contribution. Could I be assigned to this?

[2022-09-30 10:36] christyjacob4 commented on #4027
Hey 👋  all issue assignments for Hacktoberfest will take place on a first come first serve basis starting on October 1st

[2022-09-30 10:36] christyjacob4 commented on #4030
Hey 👋  all issue assignments for Hacktoberfest will take place on a first come first serve basis starting on October 1st

[2022-09-30 10:37] christyjacob4 commented on #4025
Hey 👋  all issue assignments for Hacktoberfest will take place on a first come first serve basis starting on October 1st

[2022-09-30 10:38] christyjacob4 commented on #4004
Hey 👋  all issue assignments for Hacktoberfest will take place on a first come first serve basis starting on October 1st

[2022-09-30 10:38] christyjacob4 commented on #4008
Hey 👋  all issue assignments for Hacktoberfest will take place on a first come first serve basis starting on October 1st

[2022-09-30 10:39] christyjacob4 commented on #3954
Hey 👋  all issue assignments for Hacktoberfest will take place on a first come first serve basis starting on October 1st

[2022-09-30 10:41] thefool76 commented on #4008
Ok thanks

[2022-09-30 10:57] Arjun2905 commented on #4033
Hey I would like to work upon this.
Please assign this to me @christyjacob4

[2022-09-30 10:57] Rinshin-Jalal commented on #3953
I would like to do this...

But I have one questions

1. As per the examples all of the sendmessage functions are separated into a different type
![image](https://user-images.githubusercontent.com/88965873/193255160-ea309131-d76f-4037-a7db-50831383b761.png)
should I do that or make a function for everything, there are already functions for send_email_with_mailgun and send_message_with_twilio...

[2022-09-30 10:57] Arjun2905 commented on #4036
Hey I would like to work upon this.
Please assign this to me @christyjacob4

[2022-09-30 11:04] Arjun2905 commented on #4012
Hey I would like to work upon this.
Please assign this to me @christyjacob4

[2022-09-30 11:04] Arjun2905 commented on #4011
Hey I would like to work upon this.
Please assign this to me @christyjacob4

[2022-09-30 11:06] Arjun2905 commented on #4010
Hey I would like to work upon this.
Please assign this to me @christyjacob4

[2022-09-30 11:07] Rinshin-Jalal commented on #3956
I would like to do this...

[2022-09-30 11:26] Rinshin-Jalal commented on #4032
This issue is repeation of #4027
![image](https://user-images.githubusercontent.com/88965873/193259527-1fb6d735-136c-4660-8a37-e73f79bb9821.png)

#4027

[2022-09-30 11:43] amitanshusahu commented on #4025
on UTC/GMT-12 time zone right .. sorry to bother you 😅

[2022-09-30 13:43] dcowan-london opened #4044 "🚀 Feature: Global user managment"
### 🔖 Feature description

Roles for users globally (outside of projects). A user could be a global administrator and be able to invite and manage users (view user list, enable / disable / delete / modify users, etc).

Users could have different permission levels, for example a user might have permission to access one project and have no permission to create projects.

This is similar to #3756, ex

[2022-09-30 13:49] dcowan-london commented on #3447
Similar to #3151 ?

[2022-09-30 14:08] #4039 closed

[2022-09-30 14:09] esau-morais commented on #4026
I'd like to be assigned to this issue

[2022-09-30 14:17] #3949 closed

[2022-09-30 14:30] s3ppo commented on #3949
Do i have to run migration again when 1.0.2 is released?

[2022-09-30 14:55] stnguyen90 commented on #3949
@s3ppo, yes, you will have to run the migration again.

[2022-09-30 17:32] Pradyuman7 commented on #4018
Hey @christyjacob4 I'd like to work on this issue, could you please assign this to me?

[2022-09-30 17:34] stnguyen90 commented on #3946
@Faizan-Pasha, thanks for raising this issue! 🙏

Would you please clarify where you are calling `account.get()`?

As for why this happens, OAuth session cannot be stored in local storage. It must be done with cookies and some browsers are stricter with 3rd party cookies than others. For OAuth, it is best to ensure you're using 1st party cookies by having your app and the Appwrite endpoint have the

[2022-09-30 17:36] stnguyen90 commented on #4018
@Pradyuman7, thanks for your interest! 🙏 To be fair, we will be selecting the 1st commenter after Hacktoberfest officially starts. Feel free to comment again on October 1st.

[2022-09-30 17:50] stnguyen90 commented on #3266
Completed as part of https://github.com/appwrite/.github/pull/2

[2022-09-30 17:50] #3266 closed

[2022-09-30 17:52] stnguyen90 commented on #3025
Closing due to inactivity and since we have `$createdAt` and `$updatedAt` now.

[2022-09-30 17:52] #3025 closed

[2022-09-30 17:53] Luke-Shepp commented on #3996
Hi @christyjacob4! It'd be great if I could pick this one up

[2022-09-30 18:09] stnguyen90 commented on #3955
@Shrey-Nahar, thanks for your interest! 🙏 To keep things fair, we will be selecting the 1st commenter **after** Hacktoberfest officially starts. Feel free to comment again starting October 1st.

[2022-09-30 18:09] tejasjaiswal07 commented on #3961
Sounds very Interesting! @christyjacob4 please assign me to this project as I have experience in blog writing and I can do it very well :)
Thank you for considering me.

[2022-09-30 18:10] stnguyen90 commented on #3961
@tejasjaiswal07, thanks for your interest! 🙏 To keep things fair, we will be selecting the 1st commenter **after** Hacktoberfest officially starts. Feel free to comment again starting October 1st.

[2022-09-30 18:21] tejasjaiswal07 commented on #3961
https://medium.com/@rehmanjaiswal/my-review-of-the-google-ux-design-course-6b0570d7727a
you check my new blog on medium

[2022-09-30 18:45] vj-codes commented on #4007
@stnguyen90 heyyo now is it okay to comment? I would like to work on this!

[2022-09-30 18:53] Panda-Abhisek commented on #4018
@christyjacob4 I would like to contribute to this issue.
Can you assign this issue to me?

[2022-09-30 19:14] KKVANONYMOUS commented on #3914
@stnguyen90 @gewenyu99  I would like to work on this issue. Please assign it to me.

[2022-09-30 19:20] Asmit2952 commented on #4004
Hey, can I work on this?

[2022-09-30 19:30] itsPriyanshuRaj commented on #4024
Hey @2002Bishwajeet , I would like to make my dream contribution by writing a blog based on Appwrite and Open Runtimes.

[2022-09-30 20:22] sbiswas2209 commented on #4030
Hi, @christyjacob4 I would like to work on this issue. Can you please assign this to me?

[2022-09-30 20:25] RahulSurwade08 commented on #4022
Hey @christyjacob4 , I would love to contribute to this issue under Hacktoberfest. How can I get started as I am new to Open Source Contributions?

[2022-09-30 20:25] itsPriyanshuRaj commented on #3954
Hey @christyjacob4 , I would like to contribute to this issue .

[2022-09-30 20:26] RahulSurwade08 commented on #4013
Hey @christyjacob4 , I would love to contribute to this issue under Hacktoberfest. How can I get started as I am new to Open Source Contributions?

[2022-09-30 20:28] RahulSurwade08 commented on #4018
Hey @christyjacob4 , I would love to contribute to this issue as well. How can I get started?

[2022-09-30 20:32] rahulsunil2 commented on #3954
Hey @christyjacob4 I would like to work on this.

[2022-09-30 20:33] rahulsunil2 commented on #3956
Hey @christyjacob4 , I would love to work on this.

[2022-09-30 21:08] SaurabhNandy commented on #3956
Hey @christyjacob4, I would like to work on this!

[2022-09-30 21:10] SaurabhNandy commented on #3959
Hey @christyjacob4, I would like to work on this!

[2022-09-30 21:17] #3633 closed

[2022-09-30 21:18] SaurabhNandy commented on #3670
Hey @Rinma @stnguyen90, I would like to work on this if its not yet done!

[2022-09-30 22:50] LiorBitton commented on #3952
Hi, I would like to implement this.

[2022-09-30 22:58] Sooraj-s-98 commented on #3670
@stnguyen90 can you assign me ? Please check PR

[2022-10-01 02:43] inomag commented on #4029
Hey, I would like to work on this issue

[2022-10-01 02:53] RahulSoni0 commented on #3960
hey! can i contribute in this issue ?
👀

[2022-10-01 02:54] BAGEERADHAN commented on #4008
I would also like to contribute to this. Can I also get assigned to this repo?

[2022-10-01 02:58] BAGEERADHAN commented on #4007
I would like to contribute to this. Can I get assigned for this repo?

[2022-10-01 03:00] Keshraf commented on #4035
Hey @christyjacob4, I would love to work on this issue. I have got a great idea for this project. I hope that you can assign it to me. I would also like to write an article about the building process of the application on Hashnode.

[2022-10-01 03:02] Keshraf commented on #4005
Hey, I would like to write an article on this topic. I think it would go perfectly with this issue #4035. I would like to make Almost Trello using Appwrite and then deploy it on Vercel. Please assign this issue to me 😄

[2022-10-01 03:02] BAGEERADHAN commented on #3967
I would like to contribute to this. Hope you can assign this to me?

[2022-10-01 03:03] BAGEERADHAN commented on #3964
I would like to contribute to this.

[2022-10-01 03:18] Shrey-Nahar commented on #3955
Good morning !! @christyjacob4 @stnguyen90
 I would like to work on the issue.
Can I get this assigned

[2022-10-01 03:43] aaaaayushh commented on #4027
Hey @christyjacob4 can you assign this to me now?

[2022-10-01 03:58] mattschlosser commented on #3995
Hey. I'd like to give this a try.

[2022-10-01 04:45] chinmayayy commented on #4012
Hey @christyjacob4 I have experience with technical content writing and would like to work upon this. Kindly assign it to me. Thanks

[2022-10-01 04:47] chinmayayy commented on #4004
Hey @christyjacob4 I would like to work upon this. Kindly assign it to me.

[2022-10-01 04:50] Saurav-Singh-Rauthan commented on #4030
Hi @christyjacob4 can you please assign this to me

[2022-10-01 04:50] chinmayayy commented on #3958
Hey @christyjacob4 I would like to work upon this. Thanks!

[2022-10-01 04:51] chinmayayy commented on #3952
Hey @stnguyen90 I would love to work upon this. Thanks!

[2022-10-01 04:53] Saurav-Singh-Rauthan commented on #4028
Hi @christyjacob4 can I work on this?

[2022-10-01 05:07] chinmayayy commented on #4024
Hello, I would like to contribute by writing beginner-friendly documentation for the appwrite package available on PyPI with code snippets. Thanks!

[2022-10-01 05:10] chinmayayy commented on #3970
Hello @christyjacob4 I would like to work upon this. Thanks!

[2022-10-01 05:12] MrKrishnaAgarwal commented on #4007
@stnguyen90 I will work on this, I have worked on Google Cloud a lot.

cc @christyjacob4

[2022-10-01 05:37] Anikaaasingh commented on #4036
Hey @christyjacob4 I would like to contribute for the same. Please assign me the issue.

[2022-10-01 05:45] gitatractivo commented on #4017
Hi @christyjacob4  I am handy with c, docker, docker compose and would love to work contribute to this project

[2022-10-01 06:04] zadilkhwaja commented on #4019
I would like to contribute to this issue.

[2022-10-01 06:07] Shreyas-SAS commented on #4006
Hey! @christyjacob4 I would like to work on this blog, please assign it to me.

[2022-10-01 06:15] deep-poharkar commented on #4008
I would love to contribute, please assign.

[2022-10-01 06:40] nown1ne commented on #4034
would love to work on this project. Can you please assign me the issue

[2022-10-01 06:54] deep-poharkar commented on #4009
I would love to write. please assign.

[2022-10-01 07:01] Pradyuman7 commented on #4018
Replying to my comment earlier, can I please get this issue assigned to me?

[2022-10-01 07:06] MrKrishnaAgarwal commented on #4004
@stnguyen90 I will work on this

[2022-10-01 07:07] MrKrishnaAgarwal commented on #4005
@stnguyen90 I will work on this

[2022-10-01 07:07] MrKrishnaAgarwal commented on #4008
@stnguyen90 I will work on this

[2022-10-01 07:08] Shreyas-SAS commented on #4005
@stnguyen90 if its not mandatory to have only 1 person writing the article then I would like to work on the issue too. would it be ok if I do?

[2022-10-01 07:08] ShubhamSinghgit commented on #3959
I would like to work on this issue

[2022-10-01 07:09] Shreyas-SAS commented on #4004
@stnguyen90 if its not mandatory to have only 1 person writing the article then I would like to work on the issue too. would it be ok if I do?

[2022-10-01 07:13] MSamiDev commented on #4026
I would like to be assigned to this issue, And work on the project.

[2022-10-01 07:21] aloks98 commented on #3997
Hello, can I take up this feature implementation?

[2022-10-01 07:31] copyNinja1219 commented on #4033
@christyjacob4 May I take up this issue ?

[2022-10-01 07:32] copyNinja1219 commented on #4034
@christyjacob4 May I work on this issue ?

[2022-10-01 08:03] aloks98 commented on #3998
Hello, can I take up this feature implementation?

[2022-10-01 08:08] RavenColEvol commented on #4035
Hey @christyjacob4 I would like to take up on this task. I've had a previous experience creating Trello board and good familiarity with DND ( Drag and Drop ). I can show up a good demo app for almost-trello project.

[2022-10-01 08:12] RavenColEvol commented on #4027
Hey @christyjacob4 I would like to take up on this task.
I've had a previous experience creating **RTE(Rich text editor)** and good familiarity with internals on **Notion (storing as blocks, element type etc)**. I can show up a good demo app for almost-notion project.

[2022-10-01 08:13] RavenColEvol commented on #4036
Hey @christyjacob4 I would like to take up on this task.
I've had used Evernote as my second brain and use it frequently and have a good background in building **RichTextEditor**.
I can show up a good demo app for **almost-evernote** project.

[2022-10-01 08:49] flynnzler commented on #4026
I'd love to be assigned to this issue!

[2022-10-01 08:51] AniqJaved commented on #4034
It looks awesome to start with. Can I work on this project?

[2022-10-01 09:02] Azanul commented on #3962
I'd like to work on this.

[2022-10-01 09:19] AlgyJr commented on #3957
Hey @christyjacob4 , I would like to contribute to this issue .

[2022-10-01 09:24] AlgyJr commented on #3980
Hey @christyjacob4 , I would like to contribute to this issue .

[2022-10-01 09:35] exitflynn commented on #4026
I would love to be assigned this issue and build an Almost Twitter using AppWrite!

[2022-10-01 09:36] Maxbrt18 opened #4047 "🐛 Bug Report: Attribute with the requested ID could not be found."
### 👟 Reproduction steps

When I want to delete one attribute from the web console or from API.

### 👍 Expected behavior

It should delete attribute from database and all its data.

### 👎 Actual Behavior

It actually send me an error : Attribute with the requested ID could not be found.

### 🎲 Appwrite version

Version 1.0.x

### 💻 Operating system

Linux

### 🧱 Your Environment

I use Oracle Clou

[2022-10-01 10:08] Khadeeejah commented on #3965
Hi ill love to work on this issue

[2022-10-01 10:20] aryanlath commented on #4008
Hi! I would love to work on this and contribute. Can you assign this to me ?

[2022-10-01 10:21] aryanlath commented on #4007
Hi! I would love to work on this and contribute. Can you assign this to me ?

[2022-10-01 10:22] aryanlath commented on #4010
Hi! I would love to work on this and contribute. Can you assign this to me ?

[2022-10-01 10:22] aryanlath commented on #4006
Hi! I would love to work on this and contribute. Can you assign this to me ?

[2022-10-01 10:23] aryanlath commented on #4009
Hi! I would love to work on this and contribute. Can you assign this to me ?

[2022-10-01 10:24] aryanlath commented on #3966
Hi! I would love to work on this and contribute. Can you assign this to me ?

[2022-10-01 10:24] aryanlath commented on #3956
Hi! I would love to work on this and contribute. Can you assign this to me ?

[2022-10-01 10:46] AviAvinav commented on #3969
I would like to work on this one!

[2022-10-01 10:48] SaiRev0 commented on #4004
I m new to the contribution, I think it will be good first work for me, so can you please assign me this? It, would be great

[2022-10-01 10:49] SaiRev0 commented on #4005
I m new to the contribution, I think it will be good first work for me, so can you please assign me this? It would be great

[2022-10-01 10:49] BabbarRaghav commented on #3959
Hey, @christyjacob4, I would like to work on this!

[2022-10-01 10:58] VoidCupboard commented on #4031
Since it has already been asked, I would like to work on this issue if Chirag is not able to do it or resigns from doing

[2022-10-01 11:03] sshiv5768 commented on #3968
Hey, @christyjacob4 I would like to work on this issue. Assign me this issue.

[2022-10-01 11:13] VoidCupboard commented on #4024
Hi!
Since a bunch of app clones is already listed, I would like to also tell you about another app clone that can be made - Google Classroom. This can help new Appwrite users know about Authentication (for students and teachers), Databases (for storing classes and messages), Buckets (for storing assignments and responses), etc.
I will be making a video on it most probably. If I cannot make one, I

[2022-10-01 11:13] chiragkhatri19 commented on #4031
We can work on this together @VoidCupboard
You can do the backend part and Frontend is all on me

[2022-10-01 11:22] chandankumar1307 commented on #3954
Hey @christyjacob4
I have some experience with Node and used Appwrite too in my past projects.
After reading the issue details I have a clear idea of what and how things need to be implemented.
I would love it if you could assign me this issue so that I can start working on it ASAP

[2022-10-01 11:32] VoidCupboard commented on #4031
Wait can we?
But actually there isnt anything to do in the backend part IMO, since it will be all handled by Appwrite and the SDK

[2022-10-01 12:02] chiragkhatri19 commented on #4031
So can you help me in that ?

[2022-10-01 12:23] shubhamlakheraa commented on #4032
Hey, I would like to work on this.
Please assign this to me @christyjacob4

[2022-10-01 12:26] shubhamlakheraa commented on #4029
Hey, I would like to work on this @christyjacob4

[2022-10-01 13:55] vishnus17 commented on #4037
Hi @christyjacob4. I would like to work on this issue. Can you assign it to me?
Thanks.

[2022-10-01 14:46] VoidCupboard commented on #4031
Sure I would love to, do you have a discord id by which we can chat?

[2022-10-01 15:01] chiragkhatri19 commented on #4031
Yeah you can get it on my profile's readme file

[2022-10-01 15:10] MrKrishnaAgarwal commented on #3962
I want to work

[2022-10-01 15:48] stnguyen90 commented on #4037
@vishnus17, thanks for your interest! 🙏 Happy hacking!

[2022-10-01 15:57] stnguyen90 commented on #3954
@itsPriyanshuRaj, thanks for your interest! 🙏 Good luck!

@rahulsunil2, @chandankumar1307, we're assigning people on a first come first serve basis (after hacktoberfest starts). If @itsPriyanshuRaj, is unable to work on this issue, we'll reassign accordingly.

[2022-10-01 15:58] stnguyen90 commented on #3960
@RahulSoni0, assigned! Happy hacking!

[2022-10-01 15:58] shtelzerartem commented on #3972
@christyjacob4 hey! I would like to work on this!

[2022-10-01 15:58] stnguyen90 commented on #3955
@Shrey-Nahar, assigned! Happy hacking!

[2022-10-01 15:59] stnguyen90 commented on #3995
@mattschlosser, thanks for your interest! 🙏 Good luck!

[2022-10-01 16:00] stnguyen90 commented on #3958
@chinmayayy thanks for you interest! 🙏 Happy hacking!

[2022-10-01 16:00] ppap1771 commented on #4011
Hey @christyjacob4 , I would love to work on this.

[2022-10-01 16:11] Shivansh-yadav13 commented on #4021
I would like to contribute

[2022-10-01 16:35] FarhanAliRaza commented on #4024
Hi! I want to upgrade appwrite hacktoberfest to new version of sveltekit . @christyjacob4  .Should i do it for hacktoberfest 22?

[2022-10-01 16:36] FarhanAliRaza commented on #4024
And i can also build a sveltekit demo app with appwrite . How should i proceed with that?

[2022-10-01 16:38] itsPriyanshuRaj commented on #3954
@stnguyen90 Thanks for assigning it to me. I give my best to complete it.

[2022-10-01 16:44] subhani-syed commented on #3956
Hey @christyjacob4 I have experience working with Python and Docker, I would love to work on this feature, Can you assign me to this issue ?

[2022-10-01 17:10] marshalmiller commented on #4024
I'd like to contribute a GitHub action that checks for language that might make people feel attacked or unsafe in this repo when comments are posted on issues and PRs, as well as when pull request reviews are submitted.

[2022-10-01 17:21] stnguyen90 commented on #3914
@KKVANONYMOUS, thanks for your interest! 🙏 Good luck!

[2022-10-01 17:24] techytushar commented on #3977
Hey @christyjacob4 ,
I can work on this, please assign this to me

[2022-10-01 17:25] stnguyen90 commented on #3952
@LiorBitton, thanks for your interest! 🙏 Good luck!

@chinmayayy, we're assigning people on a first come first serve basis. You can find other hacktoberfest issues to work on from our [website](https://hacktoberfest.appwrite.io/).

[2022-10-01 17:43] tibi77 commented on #4016
@christyjacob4 I have never written Elixir, but I was thinking of picking it up as a challenge.
Used to work in a company that had the backend in Elixir and I read a bit of that code. I am feeling that this might be a fun challenge for me to learn the language or at least to get a taste of it. So if you could assign it to me I'd be grateful.

[2022-10-01 17:52] stnguyen90 commented on #3972
@shtelzerartem, thanks for you interest! 🙏 Good luck!

[2022-10-01 18:21] shtelzerartem commented on #3974
@christyjacob4 I would also like to work on this one! :)

[2022-10-01 19:28] stnguyen90 commented on #4016
@tibi77, thanks for your interest! 🙏 Happy hacking!

[2022-10-01 20:11] dafavio opened #4049 "🚀 Feature:"
### 🔖 Feature description

บทบาทสำหรับผู้ใช้ทั่วโลก

### 🎤 Pitch

ตรวจสอบรหัส

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.com/appwrite/appwrite/blob/HEAD/CODE_OF_CONDUCT.md)

[2022-10-01 20:15] Luke-Shepp commented on #3996
Hi @christyjacob4! It'd be great if I could pick this one up

[2022-10-01 21:26] shtelzerartem commented on #4003
@christyjacob4 I would like to contribute here :)

[2022-10-01 21:36] kimbengfaith commented on #3963
please can you assign this issue to me

[2022-10-01 21:45] stnguyen90 commented on #3956
@Rinshin-Jalal, thanks for your interest! 🙏 Happy hacking!

@rahulsunil2, @SaurabhNandy, @aryanlath, @subhani-syed, we're assigning people on first come first serve basis. If @Rinshin-Jalal isn't able to complete this, we'll reassign accordingly. Feel free to find another hacktoberfest labeled issue!

[2022-10-01 21:47] stnguyen90 commented on #3959
@SaurabhNandy, thanks for your interest! 🙏 Happy hacking!

@ShubhamSinghgit, @BabbarRaghav, we're assigning people on a first come first serve basis. If @SaurabhNandy isn't able to complete this, we'll reassign accordingly. Feel free to find another hacktoberfest issue!

[2022-10-01 21:48] stnguyen90 commented on #3961
@tejasjaiswal07, thanks for your interest! 🙏 Happy hacking!

[2022-10-01 21:53] stnguyen90 commented on #3962
@Azanul, thanks for your interest! 🙏 Happy hacking!

@MrKrishnaAgarwal, we're assigning people on a first come first serve basis. If @Azanul isn't able to complete this issue, we'll reassign accordingly. Feel free to find another hacktoberfest issue in the meantime!

[2022-10-01 22:58] kimbengfaith commented on #3967
please i would like to contribute

[2022-10-02 00:22] r-dev-limited commented on #3207
Yeah, I still dont know how to manage SSH keys, specially in digital ocean deployment.

How to pass ssh key to container -> appwrite -> dart functions
So pub get can obtain private package ?

[2022-10-02 00:49] r-dev-limited commented on #3207
There is also https://onepub.dev/

Which also require additional steps:
https://docs.onepub.dev/guides/docker

Installing plugin and authentication

[2022-10-02 01:53] stnguyen90 commented on #3670
@SaurabhNandy, thanks for your interest! 🙏 Happy hacking!

@Sooraj-s-98, we're assigning people on a first come first serve basis after hacktoberfest starts. If @SaurabhNandy isn't able to complete the issue, we're reassign accordingly. I'm the meantime, you can look for another hacktoberfest issue via our [website](https://hacktoberfest.appwrite.io/).

[2022-10-02 01:57] stnguyen90 commented on #3967
@BAGEERADHAN, thanks for your interest! 🙏 Happy hacking! 🎃

@kimbengfaith, we're assigning people on a first come first serve basis. If @BAGEERADHAN can't complete this issue, well reassign accordingly. In the meantime, you can find another hacktoberfest issue via our [website](https://hacktoberfest.appwrite.io/).

[2022-10-02 02:01] stnguyen90 commented on #4017
@Panda-Abhisek , thanks for your interest! 🙏 Happy hacking! 🎃

@gitatractivo , we're assigning people on a first come first serve basis. If @Panda-Abhisek isn't able to complete this issue, well reassign accordingly. In the meantime, you can find another hacktoberfest issue via our [website](https://hacktoberfest.appwrite.io/).

[2022-10-02 03:06] Panda-Abhisek commented on #4017
@stnguyen90 Thanks for assigning. I'm on it.

[2022-10-02 03:42] subhani-syed commented on #4013
Hey @christyjacob4 , I would love to contribute to this issue. Can you assign this to me?

[2022-10-02 03:45] stnguyen90 commented on #4013
@RahulSurwade08, thanks for your interest! 🙏 Happy hacking!

@subhani-syed, we're assigning people on a first come first serve basis. If @RahulSurwade08 isn't able to complete this issue, we'll reassign accordingly. In the meantime, you can find another hacktoberfest issue via our [website](https://hacktoberfest.appwrite.io/). 🎃

[2022-10-02 03:48] stnguyen90 commented on #4021
@Shivansh-yadav13, thanks for your interest! 🙏 Happy hacking!

[2022-10-02 04:03] VoidCupboard commented on #4031
I actually don't see your discord id in your readme. Nonetheless, here is my discord id - VoidCupboard#7880, add me :D

[2022-10-02 04:05] stnguyen90 commented on #4049
@dafavio, could you please update the issue title and use English to make it easier for others to read?

[2022-10-02 04:14] stnguyen90 commented on #3957
@AlgyJr, thanks for your interest! 🙏 Happy hacking!

[2022-10-02 04:47] vish-han commented on #4030
Hi @christyjacob4 i have already started working on this project can u please assign me🚀😀

[2022-10-02 04:48] vish-han commented on #4036
Hey @christyjacob4 i would love to work on this issue.
I have Exprerience in building stuff with appwrite

[2022-10-02 04:53] stnguyen90 commented on #3969
@AviAvinav, thanks for you interest! 🙏 Happy hacking! 🎃

[2022-10-02 04:54] stnguyen90 commented on #3980
@AlgyJr, thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-02 05:00] stnguyen90 commented on #4018
@Pradyuman7, actually, you did comment after hacktoberfest started so I'll assign it to you.

@Panda-Abhisek, @RahulSurwade08, we're assigning issues on a first come first serve basis. If @Pradyuman7 isn't able to complete the issue, we'll reassign accordingly. In the meantime, you can find another hacktoberfest issue via our [website](https://hacktoberfest.appwrite.io/).

[2022-10-02 05:01] stnguyen90 commented on #4019
@zadilkhwaja, thanks for your interest! 🙏 Happy hacking!

[2022-10-02 05:03] stnguyen90 commented on #3998
@aloks98, thanks for your interest! 🙏 Happy hacking!

[2022-10-02 05:06] stnguyen90 commented on #3965
@Khadeeejah, thanks for your interest! 🙏 Happy hacking!

[2022-10-02 05:08] stnguyen90 commented on #4008
@thefool76, thanks for your interest! 🙏 Happy hacking!

@BAGEERADHAN, @deep-poharkar, @MrKrishnaAgarwal, @aryanlath, we're assigning issues on a first come first serve basis. If @thefool76 isn't able to complete the issue, we'll reassign accordingly. In the meantime, you can find another hacktoberfest issue via our [website](https://hacktoberfest.appwrite.io/). 🎃

[2022-10-02 05:13] thefool76 commented on #4008
@stnguyen90 thanks for assigning it. Can I know till which duration I should submit the PR?

[2022-10-02 05:18] stnguyen90 commented on #4007
@vj-codes, thanks for your interest! 🙏 Happy hacking!

@BAGEERADHAN, @MrKrishnaAgarwal, @aryanlathwe're assigning issues on a first come first serve basis. If @vj-codes isn't able to complete the issue, we'll reassign accordingly. In the meantime, you can find another hacktoberfest issue via our [website](https://hacktoberfest.appwrite.io/).

[2022-10-02 05:20] stnguyen90 commented on #4010
@Arjun2905, thanks for your interest! 🙏 Happy hacking!

@aryanlath, we're assigning issues on a first come first serve basis. If @Arjun2905 isn't able to complete the issue, we'll reassign accordingly. In the meantime, you can find another hacktoberfest issue via our [website](https://hacktoberfest.appwrite.io/).

[2022-10-02 05:22] stnguyen90 commented on #4006
@Shreyas-SAS, thanks for your interest! 🙏 Happy hacking!

@aryanlath, we're assigning issues on a first come first serve basis. If @Shreyas-SAS isn't able to complete the issue, we'll reassign accordingly. In the meantime, you can find another hacktoberfest issue via our [website](https://hacktoberfest.appwrite.io/).

[2022-10-02 05:23] stnguyen90 commented on #4009
@deep-poharkar, thanks for your interest! 🙏 Happy hacking!

@aryanlath, we're assigning issues on a first come first serve basis. If @deep-poharkar isn't able to complete the issue, we'll reassign accordingly. In the meantime, you can find another hacktoberfest issue via our [website](https://hacktoberfest.appwrite.io/).

[2022-10-02 05:24] stnguyen90 commented on #3966
@aryanlath, thanks for your interest! 🙏 Happy hacking!

[2022-10-02 05:53] aharna commented on #4005
hey! I would like to work on this isssue

[2022-10-02 05:54] aharna commented on #4004
I would like to work on this issue

[2022-10-02 05:55] aharna commented on #3970
hey! I would like to work on this issue

[2022-10-02 05:55] BabbarRaghav commented on #3959
@SaurabhNandy all the best buddy I hope you will be able to complete this issue.

[2022-10-02 06:03] vimode commented on #315
Huge oversight!
This deployment page screenshot does not reflect the correct format so the website's  `[installation guide](https://appwrite.io/docs/installation#windows) still has the old instructions with ,(comma) instead of `(back ticks) for powershell commands.

The documentation of the repo was properly updated with `(back tick) as indicated by your subsequent screenshot.

[2022-10-02 06:54] Sneha421 commented on #4032
Hello @christyjacob4!
I would love to work on this issue by making a Flutter App. I have a few ideas for improving a few Notion Features, that I would like to incorporate here.
I am also interested in writing a Medium article about the same.

[2022-10-02 06:54] Sneha421 commented on #4027
Hello @christyjacob4!
I would love to work on this issue by making a Flutter App. I have a few ideas for improving a few Notion Features, that I would like to incorporate here.
I am also interested in writing a Medium article about the same.

[2022-10-02 06:56] Sneha421 commented on #4028
Hello @christyjacob4!
I would love to work on this issue by making a Flutter App.
I am also interested in writing a Medium article about the same.

[2022-10-02 07:05] Sneha421 commented on #4011
Hey @christyjacob4
I would love to work on this article. I have prior experience in writing technical articles!
Here is a link - https://medium.com/face-amrita-bangalore/whats-the-difference-between-ar-vr-and-mr-126aa1f06811

[2022-10-02 07:06] Sneha421 commented on #4012
Hey @christyjacob4
I would love to work on this article. I have prior experience in writing technical articles!
Here is a link - https://medium.com/face-amrita-bangalore/whats-the-difference-between-ar-vr-and-mr-126aa1f06811

[2022-10-02 07:07] Sneha421 commented on #4005
Hey @christyjacob4
I would love to work on this article. I have prior experience in writing technical articles!
Here is a link - https://medium.com/face-amrita-bangalore/whats-the-difference-between-ar-vr-and-mr-126aa1f06811

[2022-10-02 07:08] Sneha421 commented on #3964
Hey @christyjacob4
I would love to work on this article. I have prior experience in writing technical articles!
Here is a link - https://medium.com/face-amrita-bangalore/whats-the-difference-between-ar-vr-and-mr-126aa1f06811

[2022-10-02 07:08] Sneha421 commented on #3963
Hey @christyjacob4
I would love to work on this article. I have prior experience in writing technical articles!
Here is a link - https://medium.com/face-amrita-bangalore/whats-the-difference-between-ar-vr-and-mr-126aa1f06811

[2022-10-02 07:09] Sneha421 commented on #3968
Hey @christyjacob4
I would love to work on this article. I have prior experience in writing technical articles!
Here is a link - https://medium.com/face-amrita-bangalore/whats-the-difference-between-ar-vr-and-mr-126aa1f06811

[2022-10-02 07:10] amelia2802 commented on #4026
Hello I would like to work on this issue

[2022-10-02 07:13] Goheljay commented on #3953
Hi @christyjacob4  I want to work on this issue. Can you Assign me?

[2022-10-02 07:13] Sneha421 commented on #4033
Hello @christyjacob4!
I would love to work on this issue by making a Flutter App.
I am also interested in writing a Medium article about the same.

[2022-10-02 07:14] Sneha421 commented on #4025
Hello @christyjacob4!
I would love to work on this issue by making a Flutter App.
I am also interested in writing a Medium article about the same.

[2022-10-02 07:23] Sneha421 commented on #4024
Hello @christyjacob4!
I am a beginner at Appwrite and I am quite intrigued by the Almost Series. I would like to build an Almost Instagram and I am interested in writing a blog about it as well.
Through this, I am sure I can grasp the main features of Appwrite while also teaching the community about it!

[2022-10-02 07:35] Sneha421 commented on #4008
Hey @thefool76!
May I help you with this article? I have some experience in AWS as well as technical writing. Although I am a novice at Appwrite, I think this would definitely help me learn as well.
Maybe we can make the blog a 2 parter if that is allowed @christyjacob4

Here is a sample of my writing - https://medium.com/face-amrita-bangalore/whats-the-difference-between-ar-vr-and-mr-126aa1f06811

[2022-10-02 08:32] zadilkhwaja commented on #4019
Thanks for assigning. I'm on it.

[2022-10-02 08:54] Akshay-Rana-Gujjar commented on #3810
hi @stnguyen90 I would like to work on this issue, could you please assign this to me if someone is not already working on it?

Thanks

[2022-10-02 09:17] geisterfurz007 commented on #3916
This sounds interesting; would you mind if I had a look at this? And if I may, could you give me a rough pointer as to where to look for this?

[2022-10-02 09:30] doublevcodes commented on #3352
Hello, I'd like to have a go at implementing this!

[2022-10-02 10:00] hridaya423 commented on #4029
I would like to work on this @christyjacob4

[2022-10-02 10:04] hridaya423 commented on #4036
I would like to work on this @christyjacob4

[2022-10-02 10:05] hridaya423 commented on #4032
I would like to work on this @christyjacob4

[2022-10-02 10:05] hridaya423 commented on #4027
I would like to work on this @christyjacob4

[2022-10-02 10:05] hridaya423 commented on #4028
I would like to work on this @christyjacob4

[2022-10-02 10:05] hridaya423 commented on #4026
I would like to work on this @christyjacob4

[2022-10-02 10:06] hridaya423 commented on #4033
I would like to work on this @christyjacob4

[2022-10-02 10:06] hridaya423 commented on #4025
I would like to work on this @christyjacob4

[2022-10-02 10:07] hridaya423 commented on #4030
I would like to work on this @christyjacob4

[2022-10-02 10:21] NightHack36 commented on #3957
Hi @AlgyJr,  I would like to contribute to this issue, could you please assign this to me?

[2022-10-02 10:29] NightHack36 commented on #4022
Hi @christyjacob4  I would like to contribute to this issue, could you please assign this to me?

[2022-10-02 10:29] NightHack36 commented on #4022
Hi @christyjacob4  I would like to contribute to this issue, could you please assign this to me?

[2022-10-02 10:29] NightHack36 commented on #4020
Hi @christyjacob4  I would like to contribute to this issue, could you please assign this to me?

[2022-10-02 10:29] NightHack36 commented on #4001
Hi @christyjacob4  I would like to contribute to this issue, could you please assign this to me?

[2022-10-02 10:29] NightHack36 commented on #3999
Hi @christyjacob4  I would like to contribute to this issue, could you please assign this to me?

[2022-10-02 10:30] NightHack36 commented on #3994
Hi @christyjacob4  I would like to contribute to this issue, could you please assign this to me?

[2022-10-02 12:53] sudiptog81 commented on #4014
Trying to take a dig at this!

[2022-10-02 13:27] izznatsir commented on #3891
This will be really useful to use on server side js framework such as Remix and Sveltekit. A small e-commerce that I created implement the session creation on the server side. So I could create and manage a custom session cookie myself.

[2022-10-02 13:58] Summiedev commented on #4036
Hello, @christyjacob4 i would love to take up on this task, haven't used appwrite before but I have an experience with using flutter and evernote.

[2022-10-02 14:02] Summiedev commented on #4034
Hello, @christyjacob4!  i would love to take up on this task, I have an experience using flutter in building apps. May I be assigned this issue please?

[2022-10-02 14:05] Summiedev commented on #4026
Hello, @christyjacob4! i would love to take up on this task, I have an experience using flutter in building apps/websites. May I be assigned this issue please?

[2022-10-02 14:36] stnguyen90 commented on #3916
@geisterfurz007, thanks for the interest! 🙏 Assigned!

[2022-10-02 14:46] Arpan-206 commented on #4030
Can you assign this to me? @christyjacob4

[2022-10-02 14:50] Arpan-206 commented on #4029
I would like to work on this! @christyjacob4

[2022-10-02 15:41] deep-poharkar commented on #4009
thank you so much @stnguyen90 I'm working on it.

[2022-10-02 16:51] geisterfurz007 commented on #4023
This sounds like a fun little project; I have learned Pascal in school 7 years ago, would love to get some nostalgia in if you don't mind!

[2022-10-02 16:58] sarkartanmay393 commented on #4026
@christyjacob4 I would also like to work on it.

[2022-10-02 17:14] kaggrwal commented on #3973
Hey @christyjacob4 - can i work on this issue, if no one else is working ?

[2022-10-02 17:21] geisterfurz007 opened #4052 "🐛 Bug Report: Switch UI Component gets clipped in Firefox"
### 👟 Reproduction steps

1. Open appwrite in Firefox
2. Create a project
3. Navigate to Settings > Services
4. Disable any service (and confirm)

### 👍 Expected behavior

The switch should be displayed with the knob fully visible:

![grafik](https://user-images.githubusercontent.com/26303198/193467154-f00189d1-d174-40e5-bcd3-2bf92e2ea6c5.png)

*Screenshot taken in Chromium*

### 👎 Actual Behavior

[2022-10-02 17:28] shtelzerartem commented on #4002
@christyjacob4 hey! I would like to try this out!

[2022-10-02 18:08] devstardude commented on #4004
Hello @christyjacob4, I have good experience with Netlify, Can I work on this? Thanks.

[2022-10-02 21:44] stnguyen90 commented on #3352
@doublevcodes, thanks for your interest! 🙏 Happy hacking!

[2022-10-02 21:53] stnguyen90 commented on #3953
@Rinshin-Jalal, thanks for your interest! 🙏 Happy hacking!

@Goheljay, we're assigning issues on a first come first serve basis. If @Rinshin-Jalal isn't able to complete the issue, we'll reassign accordingly. In the meantime, you can find another hacktoberfest issue via our [website](https://hacktoberfest.appwrite.io/).

[2022-10-02 21:57] stnguyen90 commented on #3810
@Akshay-Rana-Gujjar, thanks for your interest! 🙏 Happy hacking!

[2022-10-02 22:08] stnguyen90 commented on #4014
@sudiptog81, shall I assign this to you or would you like to leave this for someone else?

[2022-10-02 22:14] stnguyen90 commented on #4023
@geisterfurz007, thanks for your interest! 🙏 Happy hacking!

[2022-10-02 22:14] stnguyen90 commented on #3973
@kaggrwal, thanks for your interest! 🙏 Happy hacking!

[2022-10-02 22:16] plumsirawit commented on #3989
Correct me if I'm wrong, but isn't this already implemented in https://github.com/utopia-php/storage/pull/51?

[2022-10-02 22:16] stnguyen90 commented on #4002
@shtelzerartem, thanks for your interest! 🙏 Happy hacking!