[2022-10-04 21:33] Anurag30112003 opened #4293 "🐛 Bug Report: Not Responsive on Galaxy Fold"
### 👟 Reproduction steps

Steps -
- Right click
- Inspect element
- Galaxy fold viewport

### 👍 Expected behavior

The website should be responsive.

### 👎 Actual Behavior

Not responsive on galaxy fold viewport
![image](https://user-images.githubusercontent.com/79055093/193934013-56e30d49-0dac-4ec3-9ae4-81168436d30b.png)

### 🎲 Appwrite version

Version 1.0.x

### 💻 Operating system

Windows

###

[2022-10-04 21:33] codercatdev commented on #4161
@anushagupta1312 I have you on #4158 and @abhishekdd I have you on #4172. So I am going to leave open for others, but if no one can finish it is all yours.

[2022-10-04 21:33] tessamero commented on #4076
@ptisserand , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-04 21:34] codercatdev commented on #4160
@vasu-1 , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-04 21:34] tessamero commented on #4078
@camperjett , thanks for your interest! You may work on this issue🙏 Happy hacking! 🎃

[2022-10-04 21:36] codercatdev commented on #4152
@Clash-ion , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-04 21:36] tessamero commented on #4079
@sahil2311sharma , we are assigning people on a first come first serve basis. If @Sukriti-m isn't able to complete this issue, we will reassign it accordingly. In the meantime, you can find other hacktoberfest issues via our [website](https://hacktoberfest.appwrite.io/).

/cc @saksham02112000

[2022-10-04 21:37] codercatdev commented on #4169
@devtayade I gave you #4151 as requested ❤️

[2022-10-04 21:37] tessamero commented on #4080
@nik132-eng , thanks for your interest! You may work on this issue🙏 Happy hacking! 🎃

[2022-10-04 21:37] codercatdev commented on #4151
@devtayade , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-04 21:39] tessamero commented on #4081
@anushagupta1312 , we are assigning people on a first come first serve basis. If @ShahzaibJutt  isn't able to complete this issue, we will reassign it accordingly. In the meantime, you can find other hacktoberfest issues via our [website](https://hacktoberfest.appwrite.io/).

/cc @shiyanshirani

[2022-10-04 21:39] codercatdev commented on #4147
@anushagupta1312 all set on this one with @unrealsoul007 working on it.

[2022-10-04 21:39] codercatdev commented on #4146
@gourab337 , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-04 21:39] tessamero commented on #4082
@sahil2311sharma , thanks for your interest! You may work on this issue🙏 Happy hacking! 🎃

[2022-10-04 21:40] tessamero commented on #4082
@saksham02112000 , we are assigning people on a first come first serve basis. If @sahil2311sharma  isn't able to complete this issue, we will reassign accordingly. In the meantime, you can find other hacktoberfest issues via our [website](https://hacktoberfest.appwrite.io/).

[2022-10-04 21:40] codercatdev commented on #4144
@anushagupta1312 @paras3624 we are assigning people on a first come first serve basis. If @acceptallcookies isn't able to complete this issue, we will reassign accordingly. In the meantime, you can find other hacktoberfest issues via our [website](https://hacktoberfest.appwrite.io/).

[2022-10-04 21:41] codercatdev commented on #4143
Hey @nik132-eng I have you on #4080, I am going to save this for others for now.

[2022-10-04 21:43] codercatdev commented on #4142
@darkblade2090 we are assigning people on a first come first serve basis. If @aknsal  isn't able to complete this issue, we will reassign accordingly. In the meantime, you can find other hacktoberfest issues via our [website](https://hacktoberfest.appwrite.io/).

[2022-10-04 21:43] codercatdev commented on #4141
@izontm , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-04 21:43] tessamero commented on #4084
@anushagupta1312  Looks like you have an issue assigned to you already. We request you complete those before requesting assignments on new ones. Also, please consider picking a different type of issue so other contributors can try this one.

[2022-10-04 21:44] tessamero commented on #4084
@gssandhu143 , thanks for your interest! You may work on this issue🙏 Happy hacking! 🎃

[2022-10-04 21:45] tessamero commented on #4086
@rafaelbubach , thanks for your interest! You may work on this issue🙏 Happy hacking! 🎃

[2022-10-04 21:45] codercatdev commented on #4140
Hey @devtayade I have you on #4151 if no one else picks this up we can assign to you as Hacktoberfest progresses. Thanks again for your help 🙏

[2022-10-04 21:45] tessamero commented on #4088
@devtayade , thanks for your interest! You may work on this issue🙏 Happy hacking! 🎃

[2022-10-04 21:46] tessamero commented on #4089
@camperjett , thanks for your interest! You may work on this issue🙏 Happy hacking! 🎃

[2022-10-04 21:47] tessamero commented on #4092
@anushagupta1312 , we are assigning people on a first come first serve basis. If @KingFire25  isn't able to complete this issue, we will reassign accordingly. In the meantime, you can find other hacktoberfest issues via our [website](https://hacktoberfest.appwrite.io/).

[2022-10-04 21:47] tessamero commented on #4095
@anushagupta1312 , we are assigning people on a first come first serve basis. If @Goheljay  isn't able to complete this issue, we will reassign accordingly. In the meantime, you can find other hacktoberfest issues via our [website](https://hacktoberfest.appwrite.io/).

[2022-10-04 21:48] aayushpathak11 commented on #4126
@PineappleIOnic sir,I would like to contribute to this issue

[2022-10-04 21:48] codercatdev commented on #4136
@anushagupta1312 @nik132-eng  I have you on #4080 and #4158 if no one else picks this up we can assign to you as Hacktoberfest progresses. Thanks again for your help 🙏

[2022-10-04 21:48] tessamero commented on #4096
@devtayade  Looks like you have some issues assigned to you already (just recently). We request you complete those before requesting assignments on new ones. Also, please consider picking a different type of issue so other contributors can try this one.

[2022-10-04 21:50] codercatdev commented on #4132
@koolgax99, thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-04 21:50] tessamero commented on #4100
@FarhanAliRaza , we are assigning people on a first come first serve basis. If @FarhanAliRaza  isn't able to complete this issue, we will reassign accordingly. In the meantime, you can find other hacktoberfest issues via our [website](https://hacktoberfest.appwrite.io/).

[2022-10-04 21:51] tessamero commented on #4103
@nik132-eng , thanks for your interest! You may work on this issue🙏 Happy hacking! 🎃

[2022-10-04 21:51] Aragur commented on #4075
@Meldiron PR was created: https://github.com/open-runtimes/examples/pull/40

[2022-10-04 21:52] tessamero commented on #4103
@anushagupta1312 , we are assigning people on a first come first serve basis. If @nik132-eng  isn't able to complete this issue, we will reassign accordingly. In the meantime, you can find other hacktoberfest issues via our [website](https://hacktoberfest.appwrite.io/).

[2022-10-04 21:52] tessamero commented on #4105
@pikami , thanks for your interest! You may work on this issue🙏 Happy hacking! 🎃

[2022-10-04 21:53] tessamero commented on #4107
@devtayade Looks like you have some issues assigned to you already (which was just recently). We request you complete those before requesting assignments on new ones. Also, please consider picking a different type of issue so other contributors can try this one.

[2022-10-04 21:54] tessamero commented on #4108
@FarhanAliRaza , thanks for your interest! You may work on this issue🙏 Happy hacking! 🎃

[2022-10-04 21:54] tessamero commented on #4113
@gourab337 , thanks for your interest! You may work on this issue🙏 Happy hacking! 🎃

[2022-10-04 21:54] tessamero commented on #4121
@koolgax99 , thanks for your interest! You may work on this issue🙏 Happy hacking! 🎃

[2022-10-04 22:04] stnguyen90 commented on #4286
@anushagupta1312, thanks for your interest! 🙏 Go ahead, you can start work on this issue 😊

[2022-10-04 22:05] stnguyen90 commented on #3954
@darkblade2090, we're assigning people on a first come first serve basis. If @itsPriyanshuRaj isn't able to complete this issue, we'll reassign it accordingly. In the meantime, you can find another Hacktoberfest issue via our [website](https://hacktoberfest.appwrite.io/).

[2022-10-04 22:06] stnguyen90 commented on #3959
@anushagupta1312, we're assigning people on a first come first serve basis. If @ShubhamSinghgit isn't able to complete this issue, we'll reassign accordingly. In the meantime, you can find another hacktoberfest issue via our [website](https://hacktoberfest.appwrite.io/).

[2022-10-04 22:07] stnguyen90 commented on #3975
@MaheshAravindV, thanks for your interest! You may work on this issue 🙏 Happy hacking! 🎃

[2022-10-04 22:13] stnguyen90 commented on #4122
@AstroOrbis, thanks for your interest! You may work on this issue 🙏 Happy hacking! 🎃

@anushagupta1312, we're assigning people on a first come first serve basis. If @AstroOrbis isn't able to complete this issue, we'll reassign it accordingly. In the meantime, you can find another Hacktoberfest issue via our [website](https://hacktoberfest.appwrite.io/).

@nabroleonx, where are you having trouble?

[2022-10-04 22:14] stnguyen90 commented on #3976
@koolgax99, thanks for your interest! You may work on this issue 🙏 Happy hacking! 🎃

[2022-10-04 22:17] stnguyen90 commented on #3978
@MaheshAravindV, thanks for your interest! You may work on this issue 🙏 Happy hacking! 🎃

[2022-10-04 22:18] stnguyen90 commented on #3983
@polarvoid, thanks for your interest! You may work on this issue 🙏 Happy hacking! 🎃

[2022-10-04 22:20] stnguyen90 commented on #4008
@coder-harsh, go ahead, you can start work on this issue 😊 This issue is open for everyone and we want as many quality PRs as our community can create.

[2022-10-04 22:21] stnguyen90 commented on #4020
@anushagupta1312, we're assigning people on a first come first serve basis. If @NightHack36 isn't able to complete this issue, we'll reassign it accordingly. In the meantime, you can find another Hacktoberfest issue via our [website](https://hacktoberfest.appwrite.io/).

[2022-10-04 22:26] nabroleonx commented on #4122
@stnguyen90 You are right my mind was focused on the pricing cards I must have looked over that detail. Thanks for the reminder.

[2022-10-04 22:27] stnguyen90 commented on #4083
@gourab337, thanks for your interest! You may work on this issue 🙏 Happy hacking! 🎃

[2022-10-04 22:31] pikami commented on #4139
I'm grabbing this task

[2022-10-04 22:36] pikami commented on #4101
I'm grabbing this task

[2022-10-04 22:37] sahil2311sharma commented on #4082
Thanks @tessamero  for the opportunity I am working on it.

[2022-10-04 22:38] pikami commented on #4117
I'm grabbing this task

[2022-10-04 22:45] Pooja444 commented on #4191
@stnguyen90 @Meldiron thanks again for your response. I have submitted a pull request for this issue - https://github.com/open-runtimes/examples/pull/42

[2022-10-04 22:49] stnguyen90 commented on #4111
@anushagupta1312, we're assigning people on a first come first serve basis. If @acceptallcookies isn't able to complete this issue, we'll reassign it accordingly. In the meantime, you can find another Hacktoberfest issue via our [website](https://hacktoberfest.appwrite.io/).

[2022-10-04 22:50] stnguyen90 commented on #4114
@anushagupta1312, thanks for your interest! You may work on this issue 🙏 Happy hacking! 🎃

[2022-10-04 22:50] stnguyen90 commented on #4114
@Samridhi-98, we're assigning people on a first come first serve basis. If @anushagupta1312 isn't able to complete this issue, we'll reassign it accordingly. In the meantime, you can find another Hacktoberfest issue via our [website](https://hacktoberfest.appwrite.io/).

[2022-10-04 22:51] stnguyen90 commented on #4115
@FarhanAliRaza, thanks for your interest! You may work on this issue 🙏 Happy hacking! 🎃

[2022-10-04 22:57] stnguyen90 commented on #4122
@nabroleonx, I'm glad it's cleared up! Happy hacking! 🎃

[2022-10-04 22:59] stnguyen90 commented on #4124
@gourab337 Looks like you have some issues assigned to you already. Please complete those before requesting assignments on new ones.

[2022-10-04 22:59] WaunBroderick commented on #4163
@PineappleIOnic i'm interested in this issue, if you could assign it to me that would be awesome!

[2022-10-04 23:00] stnguyen90 commented on #4125
@anushagupta1312 Looks like you have some issues assigned to you already. Please complete those before requesting assignments on new ones.

[2022-10-04 23:02] stnguyen90 commented on #4128
@anushagupta1312, we're assigning people on a first come first serve basis. If @RedHeadphone isn't able to complete this issue, we'll reassign it accordingly. Also, it looks like you have some issues assigned to you already. Please complete those before requesting assignments on new ones.

[2022-10-04 23:03] stnguyen90 commented on #4129
@Aadeesh11, thanks for your interest! You may work on this issue 🙏 Happy hacking! 🎃

[2022-10-04 23:04] stnguyen90 commented on #4133
@anushagupta1312, we're assigning people on a first come first serve basis. If @partik03 isn't able to complete this issue, we'll reassign it accordingly. Also, it looks like you have some issues assigned to you already. Please complete those before requesting assignments on new ones.

[2022-10-04 23:05] stnguyen90 commented on #4149
@gagandeepp, thanks for your interest! You may work on this issue 🙏 Happy hacking! 🎃

[2022-10-04 23:06] stnguyen90 commented on #4127
@vasu-1, thanks for your interest! You may work on this issue 🙏 Happy hacking! 🎃

[2022-10-04 23:07] stnguyen90 commented on #4118
@FarhanAliRaza Looks like you have some issues assigned to you already. Please complete those before requesting assignments on new ones.

@TakshPanchal, thanks for your interest! You may work on this issue 🙏 Happy hacking! 🎃

[2022-10-04 23:08] stnguyen90 commented on #4114
@anushagupta1312 Looks like you have some issues assigned to you already. Please complete those before requesting assignments on new ones.

@Samridhi-98, thanks for your interest! You may work on this issue 🙏 Happy hacking! 🎃

[2022-10-04 23:14] stnguyen90 commented on #4117
@pikami, thanks for your interest! You may work on this issue 🙏 Happy hacking! 🎃

[2022-10-04 23:15] stnguyen90 commented on #4130
@dishanttayade, the Function Details section says:

In addition, the sample successful response:

[code]

[2022-10-04 23:16] stnguyen90 commented on #4106
@rdmchr, reviewed and left some comments! Great work so far! 👏

[2022-10-05 00:17] apelnar0517 commented on #4261
@Meldiron My apologies, I didn't realize it was in Swift. I guess I got a little too excited about Hacktoberfest! I'll un-assign myself and find a different issue.

[2022-10-05 01:01] kvndb commented on #4276
i want to work on this can you please assign me ?

[2022-10-05 01:11] tessamero commented on #4276
@kvndb , we're assigning people on a first come first serve basis. If @detronetdip isn't able to complete this issue, we will reassign it accordingly. In the meantime, you can find another hacktoberfest issue via our [website](https://hacktoberfest.appwrite.io/).

[2022-10-05 01:13] SanifKandel commented on #4169
Hey @codercatdev , I couldn't find any issue remain to be assigned . Can you check and assign me with any of the issue if any single person is working on two issues ?

[2022-10-05 01:15] SanifKandel commented on #4116
Hey @codercatdev , Can you please assign me with this issue ?

[2022-10-05 01:15] tessamero commented on #4224
Unassigning it as multiple people can work on this :)

[2022-10-05 01:16] tessamero commented on #4163
@WaunBroderick , thanks for your interest! You may work on this issue 🙏 Happy hacking! 🎃

[2022-10-05 01:20] tessamero commented on #4139
@pikami , thanks for your interest! You may work on this issue 🙏 Happy hacking! 🎃

[2022-10-05 01:21] tessamero commented on #4126
@aayushpathak11 , thanks for your interest! You may work on this issue 🙏 Happy hacking! 🎃

[2022-10-05 01:24] tessamero commented on #4116
@SanifKandel , thanks for your interest! You may work on this issue 🙏 Happy hacking! 🎃

[2022-10-05 01:28] SanifKandel commented on #4116
Thank You !!

[2022-10-05 01:53] VoidCupboard commented on #4224
Ohk

[2022-10-05 02:27] SanjayDevTech commented on #4225
Great Ok 👍

[2022-10-05 02:42] swesweucsy commented on #4093
Hello, I'd like to give this a try. can you assign this to me ?

[2022-10-05 02:44] germanllop opened #4294 "🐛 Bug Report: Upgrade incorrectly handles = in from env file values"
### 👟 Reproduction steps

Have an older version fo appwrite and will upgrade:

Have a _APP_OPENSSL_KEY_V1, _APP_DB_PASS or _APP_DB_ROOT_PASS with a special character at the end ('=' in my case)

Run the Upgrade (installation):
`docker run -it --rm \
    --volume /var/run/docker.sock:/var/run/docker.sock \
    --volume "$(pwd)"/appwrite:/usr/src/code/appwrite:rw \
    --entrypoint="install" \
    a

[2022-10-05 02:47] Keshara1997 commented on #24
i'll take this

[2022-10-05 02:49] stnguyen90 commented on #4059
@myThorsten, a few questions:

1. Do you have a reverse proxy in front of Appwrite?
2. Is your Appwrite instance still online? I get a 502 error trying to hit the URL you shared
3. Anything in the appwrite-realtime container logs?
4. If you call `databases.listDocuments()` do documents get returned? When you update one of those documents that gets returned, does the subscription output anything?
5

[2022-10-05 02:50] peterchu999 commented on #4094
Hi guys can i take this issue ? @PineappleIOnic

[2022-10-05 02:52] yokwejuste commented on #4110
Hey 👋!

I'm quite less experience with PHP but i think this issue fits me, can i be assigned to this?

[2022-10-05 02:55] chiragkhatri19 commented on #4031
One of my family member got a bit ill
I'll start working on it tomorrow with @VoidCupboard

[2022-10-05 02:56] yokwejuste commented on #4165
Hello!

Can i be assigned this issue?

But yet some questions calling my attention, what are you using to convert the text to speech i mean framework or library or something else..

[2022-10-05 02:56] ksaravindakashyap commented on #4274
@Meldiron I would like to work on this.

[2022-10-05 02:58] yokwejuste commented on #4154
Hello sir, 😅

I think this issue was made for me,

Give me the opportunity to work on it.

[2022-10-05 02:59] yokwejuste commented on #4159
This seems to be a duplicate issue,

Can you assign it to me please

[2022-10-05 03:00] ekotriono commented on #4154
Hi, Can I work on this issue? Thank you.

[2022-10-05 03:01] ekotriono commented on #4099
Hi, can I work on this issue? Thank you.

[2022-10-05 03:19] pratikashpanda commented on #4250
Hi, I was looking forward to working on this issue. Can I work on this too?

[2022-10-05 03:24] stnguyen90 commented on #4294
@germanllop, thanks for raising this issue! 🙏 Looks like this is caused by:

https://github.com/appwrite/appwrite/blob/676709e70623b667ac9da6dae7e5da6ece87591e/src/Appwrite/Docker/Env.php#L22

`explode()` is the devil 😑

[2022-10-05 03:32] stnguyen90 commented on #4047
@Maxbrt18, I'm unable to reproduce this. Does this happen with all attributes? New projects?

[2022-10-05 03:32] Adithej commented on #4251
Hey , can you assign me.
Thanks in advance

[2022-10-05 03:33] Adithej commented on #4252
Hi , can you assign me as I am interested to work on this

[2022-10-05 03:34] puthusseri commented on #4161
I would like to fix this. Could you please assign this to me. @codercatdev

[2022-10-05 03:36] 35C4n0r commented on #4188
Sure.

[2022-10-05 04:05] Adithej commented on #4241
Hi , can you please assign it to me as I am really interested to work on this

[2022-10-05 04:07] nabroleonx commented on #4122
@stnguyen90 The issue is already assigned but if he/she were to quit, I would love to work on it since I did most of the things already.

[2022-10-05 04:19] camperjett commented on #4167
Hi appwrite 😺 I would like to take up this issue.

[2022-10-05 04:22] nabroleonx commented on #4112
I would love to work on this issue, Can you please assign this to me?

[2022-10-05 04:28] camperjett commented on #4145
I Appwrite 😸 I would like to take up this issue!

[2022-10-05 04:35] devXprite opened #4295 "🚀 Feature: Add Smooth scroll"
### 🔖 Feature description

When we press the scroll to top button, it suddenly goes to the up. So, I want to add a smooth scroll feature to it.

### 🎤 Pitch

### Current:

https://user-images.githubusercontent.com/80192140/193981724-742cdd06-a535-4f0f-afa7-ad23737f411a.mp4

### Excepted:

https://user-images.githubusercontent.com/80192140/193981983-cb643bc2-5359-4f49-aa76-87142898305c.mp4

### 👀 H

[2022-10-05 04:37] devXprite commented on #4295
I would like to work on this issue.

[2022-10-05 04:45] HimanshT commented on #4174
Hello, can I be assigned this task?

[2022-10-05 04:49] HimanshT commented on #4090
Hey,I would like to work on this issue

[2022-10-05 04:51] AnshuPathak-88825 opened #4296 "🚀 Feature: Made scroll back to top button smooth"
### 🔖 Feature description

![Screenshot (35)](https://user-images.githubusercontent.com/78332454/193983227-4b1815d8-3db2-4225-80e5-f8682cd9e368.png)
made this scroll smooth

### 🎤 Pitch

because when we add this feature it  made better user experience

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read t

[2022-10-05 04:51] AnshuPathak-88825 commented on #4296
pls assign me this issue

[2022-10-05 05:06] Rutam21 commented on #4294
@stnguyen90 Please point me out what needs to be done and I can complete a PR for this issue. `explode()` needs to be removed from the Env file or you would suggest another alternative. Thanks.

[2022-10-05 05:09] HimanshT commented on #4148
Hey,I would like to work on this issue🚀

[2022-10-05 05:13] rahul-jamwal commented on #4238
Hello @codercatdev ! I would like to be assigned this task

[2022-10-05 05:22] devXprite commented on #4296
Hey @AnshuPathak-88825 I first Open this Issue (#4295) 🙄

[2022-10-05 05:25] AnshuPathak-88825 commented on #4296
sorry I didn't see that I'm closing it now

[2022-10-05 05:25] #4296 closed

[2022-10-05 05:27] Adyasha28 commented on #4265
Hi @christyjacob4  I would like to contribute, can you please assign this to me

[2022-10-05 05:34] Mwakai commented on #4264
Hi there, I would like to contribute to this issue.

[2022-10-05 05:43] yokwejuste commented on #4156
Please assign this issue to me

[2022-10-05 06:15] Shivansh-yadav13 commented on #4134
I would like to contribute

[2022-10-05 06:16] ritik-prabhat commented on #4274
Please assign me this, i would like to contribute.

[2022-10-05 06:34] iShelar commented on #4230
Looks like same issue :  #4239

[2022-10-05 06:35] iShelar commented on #4252
Is this issue is open for everyone?

[2022-10-05 06:45] Meldiron commented on #4274
@ksaravindakashyap @ritik-prabhat , we're assigning people on a first come first serve basis. If @omjikush09  isn't able to complete this issue, we'll reassign accordingly. In the meantime, you can find another hacktoberfest issue via our [website](https://hacktoberfest.appwrite.io/).

[2022-10-05 06:46] Meldiron commented on #4265
@Adyasha28 , we're assigning people on a first come first serve basis. If @aparna2071  isn't able to complete this issue, we'll reassign accordingly. In the meantime, you can find another hacktoberfest issue via our [website](https://hacktoberfest.appwrite.io/).

[2022-10-05 06:46] Meldiron commented on #4264
@Mwakai , we're assigning people on a first come first serve basis. If @czlucius  isn't able to complete this issue, we'll reassign accordingly. In the meantime, you can find another hacktoberfest issue via our [website](https://hacktoberfest.appwrite.io/).

[2022-10-05 06:47] Meldiron commented on #4252
@Adithej Thanks for letting us know 😇 You can go ahead and start working on this.

[2022-10-05 06:48] fidato818 commented on #4296
If this task is still pending then kindly assign me this issue / task

[2022-10-05 06:48] Meldiron commented on #4252
@iShelar That is correct 🎃 If you are interested, feel free to go ahead and start working on demo application with PReact.

[2022-10-05 06:49] Meldiron commented on #4251
@Adithej Thanks for letting us know 😇 You can go ahead and start working on this - no need to be assigned.

[2022-10-05 06:49] iShelar commented on #4252
Superb! Thanks @Meldiron

[2022-10-05 06:50] Meldiron commented on #4250
@pratikashpanda Thanks for letting us know 😇 You can go ahead and start working on this.

[2022-10-05 06:54] Meldiron commented on #4241
@Adithej Thanks for letting us know 😇 You can go ahead and start working on this - no need to be assigned.

[2022-10-05 06:56] Meldiron commented on #4238
@rahul-jamwal Thanks for letting us know 😇 You can go ahead and start working on this - no need to be assigned.

[2022-10-05 06:58] RizkyRajitha commented on #4246
thank you @Meldiron

[2022-10-05 07:11] Maxbrt18 commented on #4047
This problem happens on an old project, I migrated the database to Appwrite 1.0 and I wanted to delete an attribute and this error message was displayed. This message is not displayed every time I delete an attribute but for this one.

[2022-10-05 07:12] Meldiron commented on #4230
@iShelar Great point! Thanks 🙏 I am closing this issue.
For anyone coming across this, please visit this issue if you are interested: https://github.com/appwrite/appwrite/issues/4239

[2022-10-05 07:12] #4230 closed

[2022-10-05 07:20] Meldiron commented on #4191
@anushagupta1312 @ranodeepbanerjee , we're assigning people on a first come first serve basis. If @Pooja444  isn't able to complete this issue, we'll reassign accordingly. In the meantime, you can find another hacktoberfest issue via our [website](https://hacktoberfest.appwrite.io/).

[2022-10-05 07:21] Meldiron commented on #4174
@HimanshT , we're assigning people on a first come first serve basis. If @eigengravy  isn't able to complete this issue, we'll reassign accordingly. In the meantime, you can find another hacktoberfest issue via our [website](https://hacktoberfest.appwrite.io/).

[2022-10-05 07:23] 201B153 commented on #4157
Can you assign this issue to me?

[2022-10-05 07:24] Meldiron commented on #4169
@SanifKandel Hey there 👋 We have many yet unassigned issues, you can find the list here: https://github.com/appwrite/appwrite/issues?q=is%3Aopen+is%3Aissue+label%3Ahacktoberfest+no%3Aassignee

Feel free to find one that you would enjoy the most, and request to be assigned 😇

[2022-10-05 07:25] Meldiron commented on #4167
@camperjett , looks like you have some issues assigned to you already. We request you to complete those before requesting assignments on new ones. Also, please consider picking a different type of issue so other contributors can try this one.

[2022-10-05 07:26] Meldiron commented on #4165
@yokwejuste , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-05 07:27] Meldiron commented on #4161
@puthusseri , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-05 07:28] devtayade commented on #4151
@codercatdev thank you so much, Update you soon

[2022-10-05 07:31] devtayade commented on #4197
working on it

[2022-10-05 07:35] Meldiron commented on #4159
@yokwejuste Hey there 👋 What issue does this seem to be a duplicate of?

[2022-10-05 07:36] Meldiron commented on #4156
@yokwejuste , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-05 07:37] Meldiron commented on #4154
@yokwejuste I recently assigned you some issues, you should have two on your hands. Please work on those, then I can assign some more to you 😇

@ekotriono , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-05 07:37] Meldiron commented on #4148
@HimanshT , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-05 07:38] Meldiron commented on #4145
@camperjett , looks like you have some issues assigned to you already. We request you to complete those before requesting assignments on new ones. Also, please consider picking a different type of issue so other contributors can try this one.

[2022-10-05 07:38] Meldiron commented on #4134
@Shivansh-yadav13 , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-05 07:40] Meldiron commented on #4112
@nabroleonx , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-05 07:41] Meldiron commented on #4110
@yokwejuste , looks like you have some issues assigned to you already. We request you to complete those before requesting assignments on new ones. Also, please consider picking a different type of issue so other contributors can try this one.

[2022-10-05 07:41] Meldiron commented on #4101
@pikami , looks like you have some issues assigned to you already. We request you to complete those before requesting assignments on new ones. Also, please consider picking a different type of issue so other contributors can try this one.

[2022-10-05 07:42] Meldiron commented on #4099
@ekotriono , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-05 07:42] Meldiron commented on #4094
@peterchu999 , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-05 07:42] Meldiron commented on #4093
@swesweucsy , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-05 07:43] Meldiron commented on #4090
@HimanshT , we're assigning people on a first come first serve basis. If @partik03  isn't able to complete this issue, we'll reassign accordingly. In the meantime, you can find another hacktoberfest issue via our [website](https://hacktoberfest.appwrite.io/).

[2022-10-05 08:08] AbhishekTiwari23 commented on #4203
I want to contribute to this one. If it is still pending, then please assign

[2022-10-05 08:10] TheOjasSingh commented on #3981
Can you help me with the setup of the .envrc file

[2022-10-05 08:13] mkubdev commented on #4238
I'm already on the task :p! Will make a PR today.

[2022-10-05 08:17] myThorsten commented on #4059
@stnguyen90 , thank you for your time.

1. I do not, but I am pretty sure that feste-ip.net has one, which I have no controll over.
2. My little mini-pc isn't running 24/7, I turn it off over night (I'm located in Germany). Since you commented 5 hours ago, I and my server were sound asleep :)
3. Just a bunch of **Connection close**.
![image](https://user-images.githubusercontent.com/9773490/194011

[2022-10-05 08:20] prathamesh10346 commented on #4150
can you assign me this task?

[2022-10-05 08:22] prathamesh10346 commented on #4140
can you assign me with this issue?

[2022-10-05 08:26] Rinshin-Jalal commented on #3953
@stnguyen90
Submitted [pull request](https://github.com/open-runtimes/examples/pull/44) at open-rutimes/examples

[2022-10-05 08:31] rahmatsyam commented on #4263
I want to contribute, please assign to me

[2022-10-05 08:32] rahmatsyam commented on #4264
I want contribute it

[2022-10-05 08:40] devtayade commented on #4140
@prathamesh10346 this issue has been assigned already, i request you to find another isuue!

[2022-10-05 08:42] rahul-jamwal commented on #4252
Hey @Meldiron! I would like to work on this

[2022-10-05 09:01] NiX3r commented on #4180
I'm sorry @anushagupta1312, I've already done this issue in C# and moving on to this issue. Sorry to say that, but I have already some progress here.

[2022-10-05 09:19] NiX3r commented on #4182
Done. Here's my pull request
https://github.com/open-runtimes/examples/pull/45

[2022-10-05 09:29] adeola-dev commented on #4012
Hi @christyjacob4
I would also love to work on this task.  Thank you.

[2022-10-05 09:34] camperjett commented on #4089
Hi. I have made a PR for this issue. https://github.com/open-runtimes/examples/pull/46

[2022-10-05 09:54] sohilkhanduja commented on #4196
Sure @tessamero no problem

[2022-10-05 10:28] pikami commented on #4101
@Meldiron, sure thing, leaving this for others ☺️

[2022-10-05 10:29] niyasmhdth commented on #4261
Hey @Meldiron I can see that the previously assigned developer has been unassigned. I have little experience in working using swift. I would like to take up this issue. Thank you

[2022-10-05 10:32] anchal-gupta commented on #4165
If in any case, this issue needs to be reassigned to anyone else, I will be happy to contribute :)

[2022-10-05 11:35] ghoshnirmalya commented on #4244
I'm also working on this issue.

[2022-10-05 11:47] Neeleshrj commented on #4253
Hi, can I work on this with Expo?

[2022-10-05 11:47] cindyeme commented on #4295
I would like to work on this issue.

[2022-10-05 11:49] debidattasuryaprakash commented on #4249
@tessamero, I went through the documentation of Cycle.js, and cycle.js package is using the core-js@2.6.12 which is deprecated, and the dev dependencies cannot be installed, and the cycle.js official repository is inactive for four years.

![Screenshot (154)](https://user-images.githubusercontent.com/74270500/194053575-976ade88-2fe6-4a47-b8e3-7a03d478712e.png)

[2022-10-05 12:09] stepanych commented on #4143
Hi. I can make it

[2022-10-05 12:10] PineappleIOnic commented on #4264
@rahmatsyam, we're assigning people on a first come first serve basis. If [@czlucius](https://github.com/czlucius) isn't able to complete this issue, we'll reassign accordingly. In the meantime, you can find another hacktoberfest issue via our [website](https://hacktoberfest.appwrite.io/).

[2022-10-05 12:11] PineappleIOnic commented on #4143
@stepanych thanks for your interest! 🙏 Happy hacking!

[2022-10-05 12:18] the-kaushal-agrawal commented on #4179
@codercatdev pls assign this issue to me

[2022-10-05 12:18] PineappleIOnic commented on #4249
Some people still use cycleJS, so we think it'll be nice to have a demo of it still. As for the error above. It appears it's attempting to use native bindings. You may need the [Visual Studio Build Tools](https://visualstudio.microsoft.com/thank-you-downloading-visual-studio/?sku=BuildTools).

[2022-10-05 12:19] the-kaushal-agrawal commented on #4168
pls assign this issue to me

[2022-10-05 12:20] PineappleIOnic commented on #4253
@Neeleshrj Yep! Go ahead 😄

[2022-10-05 12:20] nishant-giri commented on #4167
@PineappleIOnic, could you kindly assign me this task?

[2022-10-05 12:21] PineappleIOnic commented on #4168
@the-kaushal-agrawal thanks for your interest! 🙏 Happy hacking!

[2022-10-05 12:22] PineappleIOnic commented on #4179
@the-kaushal-agrawal, we're assigning people on a first come first serve basis. If [@czlucius](https://github.com/czlucius) isn't able to complete this issue, we'll reassign accordingly. In the meantime, you can find another hacktoberfest issue via our [website](https://hacktoberfest.appwrite.io/).

[2022-10-05 12:24] PineappleIOnic commented on #4261
@niyasmhdth, thanks for your interest! 🙏 Happy hacking!

[2022-10-05 12:27] debidattasuryaprakash commented on #4249
@PineappleIOnic, thanks for the assistance, working on it.

[2022-10-05 12:44] prathamesh10346 commented on #4140
ok

[2022-10-05 13:46] akanshaaa19 commented on #4295
Hii can I work on this issue?

[2022-10-05 15:24] TheSylwio commented on #4110
Hey 👋 Can I be assigned to this issue?

[2022-10-05 15:44] MishaAkram commented on #4225
i would like to contribute to this issue

[2022-10-05 16:06] MishaAkram commented on #4295
i want to work on this issue

[2022-10-05 16:43] keul opened #4299 "🚀 Feature: OAuth support for OIDC providers (Keycloak, and more)"
### 🔖 Feature description

Currently appwrite offers a big set of well known OAuth providers to integrate with, but they are all 3rd party services by big companies.

I see from the discussion [New User Login Methods](https://github.com/appwrite/appwrite/discussions/907) that in future connections to "OpenID" will be taken into account but it's not clear if this means OpenID connect support or not

[2022-10-05 16:44] kaggrwal commented on #3973
@stnguyen90 @christyjacob4

I have done some changes in this [pull request](https://github.com/utopia-php/cache/pull/22).
I don't have much knowledge about docker, though i have include the memcached extension and built the image and verified too. Kindly review and Let me know if there is any improvement that is required.

[2022-10-05 16:44] czlucius commented on #4264
Hi there
I have been quite busy the past few days, and may not be able to complete this fix. I think someone else can continue?
Thanks

[2022-10-05 16:46] NiX3r commented on #4180
I'm done here. Waiting for your approved 👍
https://github.com/open-runtimes/examples/pull/49

[2022-10-05 16:52] NiX3r commented on #4180
I'm done here. Waiting for your approved 👍
https://github.com/open-runtimes/examples/pull/50

[2022-10-05 16:55] NiX3r commented on #4182
I'm done here. Waiting for your approved 👍
https://github.com/open-runtimes/examples/pull/51

[2022-10-05 17:07] NiX3r commented on #4097
Could you please assign this to me?

[2022-10-05 17:33] gewenyu99 commented on #4263
Hi @rahmatsyam, we are assigning people on a first come, first serve basis. If @letsintegreat isn't able to complete this issue, we will reassign it accordingly. In the meantime, you can find other Hacktoberfest issues via our [website](https://hacktoberfest.appwrite.io/).

We'd love your help on other issues :)

[2022-10-05 17:40] letsintegreat commented on #4263
@gewenyu99 Actually, I have already submitted a [PR](https://github.com/appwrite/demo-quiz-with-android/pull/9) which solves this issue, and I am awaiting review :D

[2022-10-05 17:41] gewenyu99 commented on #4252
Hi @rahul-jamwal, you can start work on this issue 😊 This issue is open for everyone and we want as many quality PRs as our community can create.

Make sure you take a close second look at the checklist we provided before you start!

Happy hacking!

[2022-10-05 17:51] stnguyen90 commented on #4294
@Rutam21, do you understand the problem? Have you tried to reproduce the bug?

[2022-10-05 17:56] gewenyu99 commented on #4203
@AbhishekTiwari23 I believe this is an issue that can be worked on by multiple people.

Take a good look at the checklist of the issue and you can start working on this <3

Happy hacking!

[2022-10-05 18:01] stnguyen90 commented on #2993
In order to add support, we really need to know what exactly doesn't work so we can work on adding support. Please create an issue in https://github.com/appwrite/sdk-for-web for each problem and include as much detail as possible (like error logs).

[2022-10-05 18:32] gewenyu99 commented on #4165
@anchal-gupta Yep, we assign these in a first come, first serve basis. If this issue opens up again, we'll assign it to you.

Happy hacking!

[2022-10-05 18:39] gewenyu99 commented on #4264
Thanks for letting us know @czlucius!

@SanjayDevTech, you're next inline, I'm gonna assign this to you for now :)

[2022-10-05 18:41] gewenyu99 commented on #4157
@mstomar698 Thank you for helping out! We've assigned this to you. Take a close look at the task summary and let us know if you're having trouble or can't finish this task.

Happy Hacking!!!

[2022-10-05 18:46] gewenyu99 commented on #4150
@prathamesh10346, thanks for your interest! You may work on this issue 🙏 Happy hacking! 🎃

[2022-10-05 18:50] gewenyu99 commented on #4119
@MoskalykA I'm curious how you've managed to hit this limit.

If you're trying to pass binary strings of the image in and out of the function, we recommend you use a storage server (like Appwrite Storage or S3).

If there's something else, please elaborate, I've very curious how you've managed to get a string that long!

Thanks ❤️

[2022-10-05 18:56] gewenyu99 commented on #4122
@nabroleonx If this happens, we'll let you know :)

[2022-10-05 18:57] gewenyu99 commented on #4110
@TheSylwio, thanks for your interest! You may work on this issue 🙏 Happy hacking! 🎃

[2022-10-05 19:18] vasucp1207 commented on #4252
Key @Meldiron I am interested in working on this.

[2022-10-05 19:37] Animesht1008 commented on #4253
hi @christyjacob4 can you please assign me this issue as a part of hacktoberfest?

[2022-10-05 19:41] Animesht1008 commented on #4252
hi @christyjacob4 can you please assign me this issue as a part of hacktoberfest?

[2022-10-05 19:42] Animesht1008 commented on #4251
hi @christyjacob4 can you please assign me this issue as a part of hacktoberfest?

[2022-10-05 19:42] Animesht1008 commented on #4249
hi @christyjacob4 can you please assign me this issue as a part of hacktoberfest?

[2022-10-05 19:43] Animesht1008 commented on #4246
hi @christyjacob4 can you please assign me this issue as a part of hacktoberfest?

[2022-10-05 19:44] Animesht1008 commented on #4245
hi @christyjacob4 can you please assign me this issue as a part of hacktoberfest?

[2022-10-05 19:44] Animesht1008 commented on #4247
hi @christyjacob4 can you please assign me this issue as a part of hacktoberfest?

[2022-10-05 19:45] FarhanAliRaza commented on #4108
@tessamero
I have opened a pull request about this issue. I completed the function https://github.com/open-runtimes/examples/pull/52

[2022-10-05 19:58] Animesht1008 commented on #4287
hi @gewenyu99 can you please assign me this issue as a part of hacktoberfest?

[2022-10-05 20:00] Animesht1008 commented on #4034
hi @christyjacob4 can you please assign me this issue as a part of hacktoberfest?

[2022-10-05 20:01] Animesht1008 commented on #4026
hi @christyjacob4 can you please assign me this issue as a part of hacktoberfest?

[2022-10-05 20:02] Animesht1008 commented on #4025
hi @christyjacob4 can you please assign me this issue as a part of hacktoberfest?

[2022-10-05 22:20] mstomar698 commented on #4157
I will put a PR by tomorrow, If that is okay with you.
And I will let you know of any complications.
Thank you

[2022-10-05 22:56] stnguyen90 commented on #4261
@niyasmhdth, yes, your goal is to upgrade the dependency and fix all the breaking changes. The goal is to get the demo working with the latest version of Appwrite.

[2022-10-05 22:59] stnguyen90 commented on #4253
@Animesht1008 we won't be assigning this, but you can go ahead and work on this issue 😊 This issue is open for everyone and we want as many quality PRs as our community can create.

[2022-10-05 23:00] stnguyen90 commented on #4252
@vasucp1207, @Animesht1008 we won't be assigning this, but you can go ahead and work on this issue 😊 This issue is open for everyone and we want as many quality PRs as our community can create.

[2022-10-05 23:00] stnguyen90 commented on #4249
@Animesht1008, we won't be assigning this, but you can go ahead and work on this issue 😊 This issue is open for everyone and we want as many quality PRs as our community can create.

[2022-10-05 23:01] stnguyen90 commented on #4251
@Animesht1008, we won't be assigning this, but you can go ahead and work on this issue 😊 This issue is open for everyone and we want as many quality PRs as our community can create.

[2022-10-05 23:01] stnguyen90 commented on #4247
@Animesht1008, we won't be assigning this, but you can go ahead and work on this issue 😊 This issue is open for everyone and we want as many quality PRs as our community can create.

[2022-10-05 23:02] stnguyen90 commented on #4247
@AyushChamoli961, I unassigned you, but you can still work on this issue! We want others to be able to work on this too 😄

[2022-10-05 23:15] stnguyen90 commented on #4097
@NiX3r Looks like you have some issues assigned to you already. Once they're approved, we can assign more issues to you.

[2022-10-05 23:16] stnguyen90 commented on #4012
@adeola-dev, go ahead, you can start work on this issue 😊 This issue is open for everyone and we want as many quality PRs as our community can create.

[2022-10-05 23:19] stnguyen90 commented on #3981
@TheOjasSingh, can you try following this: https://github.com/appwrite/appwrite/blob/master/CONTRIBUTING.md#code-autocompletion

[2022-10-06 00:53] germanllop commented on #4294
I can suggest:

`explode('=',$row, 2)`

[2022-10-06 00:56] germanllop commented on #3877
I will try to do this again to reproduce and open a new one if encounter with it again. Thanks.

[2022-10-06 01:06] stnguyen90 commented on #4294
@germanllop, that's a great suggestion!

[2022-10-06 01:16] niyasmhdth commented on #4261
@stnguyen90 ok gotcha ✌🏼

[2022-10-06 01:32] mattschlosser commented on #3995
I've submitted the 1st PR!

[2022-10-06 02:26] Platiplus commented on #4138
@PineappleIOnic Can I take a shot at this? It's been a while since I coded something in .NET hahaha

[2022-10-06 02:53] heysagnik commented on #4033
@Animesht1008 Read this

We have updated this issue. We decided to allow anyone to work on this issue.

[2022-10-06 03:11] Robo707 commented on #4216
Hey, I am working on this. Can you assign this to me?

[2022-10-06 03:21] HeisRoy33 commented on #4295
Can I work on this issue ?

[2022-10-06 03:30] SanjayDevTech commented on #4264
@gewenyu99 thanks

[2022-10-06 03:50] leslie-seeberger commented on #4228
I'd like to work on this issue.

[2022-10-06 03:55] amit-ksh commented on #4294
Can I work on this issue?

[2022-10-06 04:11] lost-RD commented on #4299
Might interest you: https://github.com/appwrite/appwrite/pull/3180

[2022-10-06 04:13] mohakgupt commented on #546
@eldadfux I want to contribute to `Simple storage file upload example and tutorial` in React

[2022-10-06 04:44] Manjunath0408 commented on #4215
Hello, could you please assign this to me? I would like work on this.

[2022-10-06 05:05] MoskalykA commented on #4119
Thank you, for the moment I was passing the image in base64 in the payload that's why there is this error

[2022-10-06 05:08] MoskalykA commented on #4119
So the payload must also take the image storage provider? Do you have an idea for a name?

[2022-10-06 05:22] gagandeepp commented on #4183
Can you please the link to Dotnet sdk for appwrite ,I am unable to find the documentation for the same?

[2022-10-06 05:39] akashthawaitcc commented on #3922
@theemaster I would like to work on this bug.

[2022-10-06 05:54] MrKrishnaAgarwal commented on #4007
I am working on it!

[2022-10-06 06:11] HelixHEX commented on #4253
Thanks!

[2022-10-06 06:13] mohakgupt commented on #4145
Hi! I would like to work on this issue

[2022-10-06 06:45] Shahrukh-cyber commented on #4097
can i work on this issue

[2022-10-06 06:59] Shahrukh-cyber commented on #4217
Can i work on this issue

[2022-10-06 07:17] Shahrukh-cyber commented on #4266
could you assign it to me?

[2022-10-06 07:18] Shahrukh-cyber commented on #4238
can i work on this

[2022-10-06 07:19] gagandeepp commented on #4183
https://github.com/open-runtimes/examples/pull/54

[2022-10-06 08:43] Meldiron opened #4304 "🐛 Bug Report: Appwrite PyPI page missing description"
⚠️ Issue reserved to chinmayayy based on dream contribution ⚠️

### 👟 Reproduction steps

Visit: https://pypi.org/project/appwrite/

### 👍 Expected behavior

There should be some description regarding this Appwrite SDK. For example, this is what Node (NPM) has: https://www.npmjs.com/package/node-appwrite

### 👎 Actual Behavior

You can see description says `The author of this package has not provi

[2022-10-06 08:44] Meldiron commented on #4304
A few notes that might be useful:
- Source code of Python Appwrite CLI is hosted at: https://github.com/appwrite/sdk-for-python
- All of our SDKs are generated from: https://github.com/appwrite/sdk-generator

[2022-10-06 08:46] Meldiron commented on #4024
Hey there @chinmayayy  👋 Looking at the Appwrite PyPI library, I don't see any description. This sounds like a valid concern. I have created an issue for you: https://github.com/appwrite/appwrite/issues/4304
Looks like I cannot assign it to you - you need to comment on it first. Please do that and Ill give you the issue 🙏 Happy hacking! 🎃

[2022-10-06 08:48] Meldiron commented on #4024
Heyyy @VoidCupboard  👋 This idea sounds great! Regarding chat, classes, accounts, and all you can easily use Appwrite! 💪 Keep in mind that the main feature of Google Classroom is video streaming. That is done over WebRTC, a peer-to-peer communication. Please confirm with me if you would also be able to implement this. If yes, I will go ahead and create an issue for you.

[2022-10-06 08:51] Meldiron opened #4305 "🧑‍🏫 Help Developers by Coding Demo of Appwrite + Svelte Kit"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

Your task is to code a demo application showing how you can use **Appwrite with Svelte Kit**. Your project should stay focused on the main feature of Svelte Kit in which you showcase communic

[2022-10-06 08:51] Meldiron commented on #4024
Hello @FarhanAliRaza 👋 I can see how an article about using Appwrite with Svelte (and Svelte Kit) would be useful. I have created an issue for that: https://github.com/appwrite/appwrite/issues/4305
Feel free to go ahead and start working on this 😇 Anyone can work on this Svelte Kit issue, so no need to be assigned.

[2022-10-06 08:54] Meldiron commented on #4024
Hey @marshalmiller 👋 I appreciate your idea! 🙏 I ran this over our DevRel team and we would prefer to do the moderation manually instead of automating this process. It helps us keep our community feeling more human-like.

[2022-10-06 08:56] Meldiron opened #4306 "🧱 Build Almost Google Classroom. Be Creative!"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to provide Appwriters with a **huge amount** of example projects that many use as learning resources.

We understand Appwrite’s tech stack might not be your cup of tea, so we decided to prepare a series of `Almost (something)` projects. This series of issues is here to let your creativity shine! ✨

Your

[2022-10-06 08:57] VoidCupboard commented on #4024
Thanks a bunch @Meldiron!

[2022-10-06 08:58] Meldiron commented on #4024
Hello @Sneha421 👋 Great point, we missed this huuuuge platform 🙈 A different community member already pointed it out and we created this issue: https://github.com/appwrite/appwrite/issues/4286
Feel free to work on your version of Almost Instagram based on this issue 😇 We are not assigning it, anyone can work on it.

[2022-10-06 08:59] Meldiron opened #4307 "🧱 Build Almost Bitly. Be Creative!"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to provide Appwriters with a **huge amount** of example projects that many use as learning resources.

We understand Appwrite’s tech stack might not be your cup of tea, so we decided to prepare a series of `Almost (something)` projects. This series of issues is here to let your creativity shine! ✨

Your

[2022-10-06 09:02] Meldiron opened #4308 "🧑‍🏫 Help Developers by Coding Demo of Appwrite + Telegram (bot)"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

Your task is to code a demo application showing how you can use **Appwrite with Telegram (bot)**. Your project should stay focused on the main feature of Telegram (bot) in which you showcase

[2022-10-06 09:02] Meldiron commented on #4024
Heyyy @srini047 👋 Great idea! I created issue for it: https://github.com/appwrite/appwrite/issues/4308
You can go ahead and work on this, no need to get assigned. Happy hacking! 🎃

[2022-10-06 09:05] kaustav202 commented on #4306
working on it

[2022-10-06 09:12] ayushjain27 commented on #4293
/assign

[2022-10-06 09:13] Meldiron commented on #4306
@kaustav202 Thanks for letting us know 😇  Happy hacking 🎃

[2022-10-06 09:17] Meldiron commented on #4246
@Animesht1008 You can go ahead and start working on this 😇 No need to be assigned.

[2022-10-06 09:17] Meldiron commented on #4245
@Animesht1008 You can go ahead and work on this - no need to be assigned 😇 Happy hacking! 🎃

[2022-10-06 09:18] Meldiron commented on #4228
@leslie-seeberger Thanks for letting us know 😇 You can go ahead and start working on this.

[2022-10-06 09:18] Meldiron commented on #4217
@Shahrukh-cyber Sure thing 😇 You can go ahead and start working on this.

[2022-10-06 09:20] Meldiron commented on #4215
@Manjunath0408 You can go ahead and work on this 😇 No need tobe assigned to this type of issue. Happy hacking! 🎃

[2022-10-06 09:22] FarhanAliRaza commented on #4305
Hey i am working on it

[2022-10-06 09:50] RobRuizR commented on #4308
Hey! I'd like to take a look at this :)

[2022-10-06 09:54] RobRuizR commented on #4246
hello! I'd like to try this too :)

[2022-10-06 09:55] RobRuizR commented on #4225
I'd love to contribute to this as well!

[2022-10-06 10:03] rohit1101 commented on #4308
Hey @Meldiron can i take a look at this ?

[2022-10-06 10:08] rohit1101 commented on #4220
Hey @tessamero can i also contribute to this issue ?

[2022-10-06 10:19] Vikki123 commented on #4266
Hey @Meldiron . I have already raised a PR for the issue. Could you please review it when you find time. Thanks !

[2022-10-06 10:30] harshit078 commented on #4308
Hey, @Meldiron is it possible for me to take a look at this ?

[2022-10-06 10:45] Meldiron commented on #4250
Hey @leonyangela 👋 By mistake, we marked you as an assignee, so I changed it back to no assignee. No need to worry about it 😇 This issue is open to everyone, and any amount of people can work on it at the same time. I have unassigned you, but you can continue working on it. Can't wait to see what you build 🎃

[2022-10-06 10:45] Meldiron commented on #4239
Hey @yanina-nas 👋 By mistake, we marked you as an assignee, so I changed it back to no assignee. No need to worry about it 😇 This issue is open to everyone, and any amount of people can work on it at the same time. I have unassigned you, but you can continue working on it. Can't wait to see what you build 🎃

[2022-10-06 10:46] Meldiron commented on #4238
Hey @mkubdev 👋 By mistake, we marked you as an assignee, so I changed it back to no assignee. No need to worry about it 😇 This issue is open to everyone, and any amount of people can work on it at the same time. I have unassigned you, but you can continue working on it. Can't wait to see what you build 🎃

[2022-10-06 10:49] mkubdev commented on #4238
Hey @Meldiron :wave: Sure! No problem! I know appwrite is ruled by first pull request accepted to not block issue for others contributors.

I started worked on it, but can't sure to be able to make the PR in the end of the day due to fulltime work. Will do my best! And if someone open a PR before me, that's the game 🥳

[2022-10-06 10:50] Meldiron commented on #4137
@shaaslam I have updated the description of the issue a little. I have removed the requirement for `googlemaps` provider - you only need to implement OpenStreets. If you already have Google Maps finished, feel free to include it. We removed it as a requirement since some contributors didn't like the fact their API is behind a paywall - they require you to add a credit card to access the API. And t

[2022-10-06 10:50] Meldiron commented on #4134
@Shivansh-yadav13 I have updated the description of the issue a little. I have removed the requirement for `googlemaps` provider - you only need to implement OpenStreets. If you already have Google Maps finished, feel free to include it. We removed it as a requirement since some contributors didn't like the fact their API is behind a paywall - they require you to add a credit card to access the AP

[2022-10-06 10:50] Meldiron commented on #4133
@partik03 I have updated the description of the issue a little. I have removed the requirement for `googlemaps` provider - you only need to implement OpenStreets. If you already have Google Maps finished, feel free to include it. We removed it as a requirement since some contributors didn't like the fact their API is behind a paywall - they require you to add a credit card to access the API. And t

[2022-10-06 10:50] Meldiron commented on #4132
@koolgax99 I have updated the description of the issue a little. I have removed the requirement for `googlemaps` provider - you only need to implement OpenStreets. If you already have Google Maps finished, feel free to include it. We removed it as a requirement since some contributors didn't like the fact their API is behind a paywall - they require you to add a credit card to access the API. And

[2022-10-06 10:50] Meldiron commented on #4131
@m5l14i11 I have updated the description of the issue a little. I have removed the requirement for `googlemaps` provider - you only need to implement OpenStreets. If you already have Google Maps finished, feel free to include it. We removed it as a requirement since some contributors didn't like the fact their API is behind a paywall - they require you to add a credit card to access the API. And t

[2022-10-06 10:50] Meldiron commented on #4129
@Aadeesh11 I have updated the description of the issue a little. I have removed the requirement for `googlemaps` provider - you only need to implement OpenStreets. If you already have Google Maps finished, feel free to include it. We removed it as a requirement since some contributors didn't like the fact their API is behind a paywall - they require you to add a credit card to access the API. And

[2022-10-06 10:55] keul commented on #4299
@lost-RD thanks, interesting (although I don't understand why claims that authentik is "the only self-hosted OAuth provider" 🤔).

However this approach will never end: adding more and more auth providers, while (ideally) OpenID Connect is a standard with a standard way to expose its configuration. Supporting _one_ OIDC provider means supporting every product that is following the standard.

I'm go

[2022-10-06 11:05] sarkartanmay393 commented on #4173
@Meldiron Hey Meldiron, Kindly look at my screenshot.
<img width="1440" alt="Screenshot 2022-10-06 at 4 30 11 PM" src="https://user-images.githubusercontent.com/84321236/194296654-346dd803-c4cb-4ace-aaa7-4bf576f5556b.png">

I have created `lib/main.dart`, `pubspec.yaml` and `README.md`.
Now the problem is what to do next ?

And I having a serious issue -
Appwrite is running on Docker and I am usin

[2022-10-06 11:35] polarvoid commented on #3983
Hey, that guide is super helpful. I'm working on it now :)

[2022-10-06 11:45] anudeeps0306 commented on #3992
Can you assign this issue to me?

[2022-10-06 11:52] hitchhicker007 commented on #4276
I want to work on this issue can you please assign it to me?

[2022-10-06 12:05] leonyangela commented on #4250
Hi @Meldiron, okay, I'm sorry that I can't finish it asap. If I make a PR is it going to be count? since no one is assigned.

[2022-10-06 12:25] ishan-siddiqui commented on #4024
Hi! I would like to work on this issue. Could I please be assigned this issue?

[2022-10-06 12:26] ishan-siddiqui commented on #4308
Hey! I would like to work on this..

[2022-10-06 12:55] polarvoid commented on #3983
Going through some of the Neo4j documentation for PHP, it looks like I may have to use their `ne4j-php-client` [from here](https://github.com/neo4j-php/neo4j-php-client).

I browsed around looking for other possible solutions, but this seems like the most feature-rich and maintainable option.

Would it be alright to add this so I can integrate Neo4j as an `Adapter`?

[2022-10-06 13:32] bhattabhi013 commented on #4162
@InfiniteVerma, are you still working on it?
If not, can I work on this?

[2022-10-06 13:34] bhattabhi013 commented on #4140
I would like to work on it.

[2022-10-06 13:46] InfiniteVerma commented on #4162
Hey @bhattabhi013, still working on it.

[2022-10-06 13:47] D3nn7 opened #4310 "📚 Documentation: Add German README version"
### 💭 Description

I have seen that there is now a Chinese version of the README.md.

Since I come from the German area, I would like to suggest to create a German README version. I would also like to offer myself for the implementation.

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Con

[2022-10-06 13:58] D3nn7 commented on #4293
When I test it on my end, the page is responsive😅
![image](https://user-images.githubusercontent.com/79147263/194332274-8e0667a1-d6bf-454d-a9a8-503fa964896a.png)

[2022-10-06 14:25] PineappleIOnic commented on #4140
I have assigned this issue to @prathamesh10346, Happy Hacking!

@devtayade We already have you on other assignments, so we haven't given you this one. Please finish the other assignments before asking for other ones.

@bhattabhi013 , we're assigning people on a first come first serve basis. If @prathamesh10346 isn't able to complete this issue, we'll reassign accordingly. In the meantime, you can

[2022-10-06 14:26] codercatdev commented on #4287
@Animesht1008  go ahead, you can start work on this issue 😊 This issue is open for everyone and we want as many quality PRs as our community can create.

You will still get credit for Hacktoberfest when we mark the PR.

[2022-10-06 14:28] PineappleIOnic commented on #4173
Please send us your logs by performing `docker compose logs appwrite` in the directory where you first installed Appwrite.

[2022-10-06 14:30] PineappleIOnic commented on #4308
@rohit1101 @harshit078 @ishan-siddiqui , we're assigning people on a first come first serve basis. If @RobRuizR isn't able to complete this issue, we'll reassign accordingly. In the meantime, you can find another hacktoberfest issue via our [website](https://hacktoberfest.appwrite.io/).

[2022-10-06 14:52] codercatdev commented on #3983
@polarvoid The client is a community-maintained project and not official. I would recommend using their HTTP API and resorting to the client only if it fails and doesn't work.

[2022-10-06 16:51] #2674 closed

[2022-10-06 17:45] Anurag30112003 commented on #4293
@D3nn7 Its fixed now.

[2022-10-06 17:45] #4293 closed

[2022-10-06 18:24] SaiRev0 commented on #4270
Can I work on this issue if no one working on it??

[2022-10-06 18:26] SaiRev0 commented on #4260
Is this issue open to be assigned?

[2022-10-06 18:35] Nibba2018 commented on #4304
Hello @Meldiron , I would like to work on this issue if it isn't already assigned to someone else.

[2022-10-06 18:41] gewenyu99 commented on #4307
@Arpan-206 @Deepakv14 Looking forward to your contributions!

Good luck and happy hacking!

[2022-10-06 18:44] Subhajitongit commented on #4235
Hey, @christyjacob4 can you please assign me this issue?

[2022-10-06 18:44] gewenyu99 commented on #4276
@hitchhicker007 , we're assigning people on a first come, first serve basis. If @detronetdip isn't able to complete this issue, we will reassign it accordingly.

We appreciate your participation, but we're holding ourselves to our procedures and giving@detronetdip their chance to make this contribution.

In the meantime, you can find another hacktoberfest issue via our [website](https://hacktoberf

[2022-10-06 18:46] gewenyu99 commented on #4305
@FarhanAliRaza Happy to hear it! Looking forward to your demo.

Good luck and happy hacking!

[2022-10-06 18:53] gewenyu99 commented on #4308
@PineappleIOnic I think this issue actually does not require any assignment.

@srini047 @rohit1101 @harshit078 @ishan-siddiqui, you can start working on this, but please comment on this issue and mention you are working on it.

@RobRuizR You can continue working on this as well, we're just not going to assign this issue :) Everyone can contribute.

Sorry for the confusion and looking forward to al

[2022-10-06 18:59] Subhajitongit commented on #4219
Hey, @christyjacob4 can you assign this to me?

[2022-10-06 19:08] gewenyu99 commented on #4270
@SaiRev0, we are assigning people on a first come, first serve basis. If kirtanchandak isn't able to complete this issue, we will reassign it accordingly. In the meantime, you can find other hacktoberfest issues via our [website](https://hacktoberfest.appwrite.io/).

Thank you!

[2022-10-06 19:08] gewenyu99 commented on #4266
@Vikki123 Can you link the PR here, please?

[2022-10-06 19:11] gewenyu99 commented on #4260
@SaiRev0 Looks like @loganSims is already on this issue. We assign these on a first come, first serve basis. If they're unable to complete this issue, we can reassign this to you.

For the moment, please look for other issues to contribute to :)

Thank you!

[2022-10-06 19:12] gewenyu99 commented on #4238
@mkubdev Don't sweat it, we're probably going to take multiple PRs if we're allowing an issue to be open to all!

Looking forward to all of your demos!

[2022-10-06 19:19] DevTomilola-OS commented on #4262
Kindly review and merge PR so i can take up another issue. Thanks admin.

[2022-10-06 19:19] DevTomilola-OS commented on #4275
Kindly review and merge PR so i can take up another issue. Thanks admin.

[2022-10-06 19:19] DevTomilola-OS commented on #4262
Kindly review and merge PR so i can take up another issue. Thanks admin.

[2022-10-06 19:19] DevTomilola-OS commented on #4275
Kindly review and merge PR so i can take up another issue. Thanks admin.

[2022-10-06 19:24] acceptallcookies commented on #4111
Hey @stnguyen90, yeah, I'm planning to work on this and wrap it up by early next week. Thanks :)

[2022-10-06 19:27] gewenyu99 commented on #4250
@leonyangela Yep, it'll count. We're just not assigning the issue to any unique individual so that everyone can contribute.

Send a PR our way when you're ready.

Happy hacking!

[2022-10-06 19:30] gewenyu99 commented on #4220
@rohit1101 We're not assigning this to individuals, just let us know you're working on it and comment your PR here for review when you're done.

You can start right away, looking forward to your demos!

[2022-10-06 19:32] gewenyu99 commented on #4145
@mohakgupt Go ahead!

You may work on this issue 🙏 Happy hacking! 🎃 Thanks for contributing!

[2022-10-06 19:33] gewenyu99 commented on #4138
@gagandeepp Looks like you're already assigned to several other tasks.

Please finish those first before we assign more to you. This way, everyone else can have a chance to contribute, too. Thanks!

[2022-10-06 19:39] gewenyu99 commented on #4097
@Shahrukh-cyber I've assigned this issue to you.

Thank you for participating! You may work on this issue 🙏 Happy hacking! 🎃

[2022-10-06 19:42] gewenyu99 commented on #4104
@adicoder95, thanks for your interest! You may work on this issue 🙏 Happy hacking! 🎃

[2022-10-06 19:45] gewenyu99 commented on #4119
@MoskalykA You can use something like AWS S3, GCP buckets, imgur, or any other online media storage as a buffer and pass in a URL to the image instead.

When returning, return a link to the buffered image.

Passing large binaries through a function runtime can be an IO and resource hog, which is not great for scalability.

Give this a try and lmk if you have more questions ❤️

[2022-10-06 19:46] gewenyu99 commented on #4025
@Animesht1008 Please read the commend above. Anyone can work on this issue, no need to be assigned ❤️

[2022-10-06 19:47] gewenyu99 commented on #4026
@Animesht1008 Please read above comment. No need to be assigned, you can start right away!

[2022-10-06 19:47] gewenyu99 commented on #4034
No need to be assigned. Anyone can work on this issue :) Good luck!

[2022-10-06 19:48] gewenyu99 commented on #3992
@anudeeps0306 I've assigned this to you. You may work on this issue 🙏 Happy hacking! 🎃

[2022-10-06 19:53] dsuarezlogans commented on #4185
Hello, Is @eigengravy still working on this? or is available for me to work on this?

[2022-10-06 19:57] doublevcodes commented on #3352
Hi, I'm a bit confused on how to implement this because of how Cloudflare R2 bucket URLs are structured.

So far I have something like this:

[code]

However I'm sure that this wouldn't form a valid `Host` header due to the slash.
How would I go about this?

[2022-10-06 19:58] dsuarezlogans commented on #4294
Hello, can I work on this issue?

[2022-10-06 20:18] dsuarezlogans commented on #4078
Hello, can I take this issue in case @camperjett is not able to take it?

[2022-10-06 20:25] dsuarezlogans commented on #4000
Hello, can I help on this?

[2022-10-06 20:26] dsuarezlogans commented on #4205
Hello, can I help on this issue?

[2022-10-06 20:44] tessamero commented on #4275
@DevTomilola-OS Thanks for the PR! 🤯 Please give us some time to review it.

[2022-10-06 20:44] tessamero commented on #4272
@Meldiron Thanks for the PR! 🤯 Please give us some time to review it.

[2022-10-06 20:45] tessamero commented on #4262
@DevTomilola-OS Thanks for the PR! 🤯 Please give us some time to review it.

[2022-10-06 20:49] tessamero commented on #4189
@Platiplus Thanks for the PR! 🤯 Please give us some time to review it.

[2022-10-06 20:50] tessamero commented on #4180
@NiX3r Thanks for the PR! 🤯 Please give us some time to review it.

[2022-10-06 20:52] tessamero commented on #4177
@dejmedus Thanks for the PR! 🤯 Please give us some time to review it.

[2022-10-06 20:52] tessamero commented on #4176
@Yordaniss Thanks for the PR! 🤯 Please give us some time to review it.

[2022-10-06 20:54] tessamero commented on #4159
@yokwejuste I think it sounds similar to an old issue https://github.com/appwrite/appwrite/issues/1916 but i think this is specific to Kotlin. I will assign it to you now :) You may work on this issue 🙏 Happy hacking! 🎃

[2022-10-06 20:56] tessamero commented on #4157
@mstomar698 sounds good, thank you :)

[2022-10-06 20:59] tessamero commented on #4149
@gagandeepp Thanks for the PR! 🤯 Please give us some time to review it.

[2022-10-06 21:01] tessamero commented on #4148
Hi @HimanshT, I see you removed assignment, I will assume this issue is open for someone else to take on.

[2022-10-06 21:02] tessamero commented on #4136
@anushagupta1312 I'm assigning this to you since it hasn't been picked up in a bit. Enjoy and happy hacking :)

[2022-10-06 21:03] tessamero commented on #4130
@dishanttayade did you have interest in working on this issue? Let me know and we will assign you :)

[2022-10-06 21:07] tessamero commented on #4117
@pikami Thanks for the PR! 🤯 Please give us some time to review it.

[2022-10-06 21:09] tessamero commented on #4101
@pikami Since you have some pending PRs and the reviews/comments look good, I will assign this to you now :) Happy hacking!

[2022-10-06 21:10] tessamero commented on #4108
@FarhanAliRaza Thanks for the PR! 🤯 Please give us some time to review it.

[2022-10-06 21:24] alrz1999 commented on #4148
Hi. Could you please assign this to me?

[2022-10-06 21:30] alrz1999 commented on #4138
I would like to work on this issue.

[2022-10-06 21:33] germanllop opened #4311 "🐛 Bug Report: Verification email link not wrapping on Native iOS Mail App"
### 👟 Reproduction steps

Send an email verification link, and open it on any iPhone Mail App

### 👍 Expected behavior

Show the full email on screen, like any other email client.

### 👎 Actual Behavior

It looks like this image.

![InkedWhatsApp Image 2022-10-06 at 2 50 51 PM](https://user-images.githubusercontent.com/7802598/194422494-f47b2f17-780a-4bee-b393-671121f8509c.jpg)

### 🎲 Appwrite ver

[2022-10-06 21:44] stnguyen90 commented on #4294
@dsuarezlogans, thanks for your interest! You may work on this issue 🙏 Happy hacking! 🎃

[2022-10-06 22:51] stnguyen90 commented on #3352
@doublevcodes, oye that's unfortunate Cloudflare does it differently...It looks like the implementation for Cloudflare won't be the same as the other S3 compatible providers like Linode. You'll need to figure out what else needs to be overridden in the base [S3](https://github.com/utopia-php/storage/blob/0.11.0/src/Storage/Device/S3.php) class and implement it in the Cloudflare class.

[2022-10-06 22:53] stnguyen90 commented on #4235
@Subhajitongit Go ahead, you can start work on this issue 😊 This issue is open for everyone and we want as many quality PRs as our community can create.

[2022-10-06 22:55] stnguyen90 commented on #4219
@Subhajitongit Go ahead, you can start work on this issue 😊 This issue is open for everyone and we want as many quality PRs as our community can create.

[2022-10-06 22:56] stnguyen90 commented on #4185
@eigengravy, please let us know if you're no longer able to work on this.

@dsuarezlogans, we're going to give @eigengravy a bit more time unless they indicate they can't work on this anymore.

[2022-10-06 22:57] stnguyen90 commented on #4148
@alrz1999 Thanks for your interest! You may work on this issue 🙏 Happy hacking! 🎃

[2022-10-06 22:57] stnguyen90 commented on #4138
@alrz1999 Thanks for your interest! You may work on this issue 🙏 Happy hacking! 🎃

[2022-10-06 22:58] stnguyen90 commented on #4000
@dsuarezlogans Thanks for your interest! You may work on this issue 🙏 Happy hacking! 🎃

[2022-10-06 23:54] letsintegreat commented on #4269
Since it has been some time after @sakshiisaxena was assigned, I would like to take this one on in case she is not working on it.

[2022-10-07 00:11] letsintegreat commented on #4107
Hey! I would like to work on this issue.

[2022-10-07 01:11] Aryanshh commented on #4276
I want to work and contribute to this issue, can I be assigned this issue?

On Fri, Oct 7, 2022 at 12:14 AM Vincent (Wen Yu) Ge <
***@***.***> wrote:

[2022-10-07 01:20] drsimplegraffiti commented on #4109
I would like to work on this.

[2022-10-07 01:21] drsimplegraffiti commented on #4010
@Arjun2905 Hi! I would love to work on this and contribute. Can you assign this to me ?

[2022-10-07 01:23] drsimplegraffiti commented on #3970
@christyjacob4 hey! I would like to work on this issue. Please assign to me

[2022-10-07 01:54] thinkverse commented on #3955
Since no one is working on this, I'll take it. 👍

[2022-10-07 01:55] stnguyen90 commented on #3955
@thinkverse, go for it! Happy hacking! 🎃

[2022-10-07 03:43] camperjett commented on #4078
@dsuarezlogans I am working on it. 😁

[2022-10-07 04:44] rohit162 commented on #3958
Hey @christyjacob4
Can u please assign me this issue I wanna work on it.

Thanks and Regards

[2022-10-07 04:47] rohit162 commented on #4164
HI @PineappleIOnic
Can u please me this task I wanna work on it.

Thanks and Regards

[2022-10-07 05:01] sidbelbase opened #4318 "📚 Documentation: Add Nepali README version"
### 💭 Description

I have seen that there is a `Chinese` version of `README.md` and people are asking for another language, I would really love to work on the `Nepali` version for fellow `Nepali` people. Can you please assign me this task as soon as this documentation request is confirmed?

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't fi

[2022-10-07 05:04] Vikki123 commented on #4266
@gewenyu99 https://github.com/appwrite/demos-for-angular/pull/14 Here It is: https://github.com/appwrite/demos-for-angular/pull/14

[2022-10-07 06:29] eigengravy commented on #4185
@stnguyen90 have made pr

[2022-10-07 06:45] Meldiron commented on #3958
@rohit162 , we're assigning people on a first come first serve basis. If @chinmayayy  isn't able to complete this issue, we'll reassign accordingly. In the meantime, you can find another hacktoberfest issue via our [website](https://hacktoberfest.appwrite.io/).

[2022-10-07 06:46] Meldiron commented on #4010
@drsimplegraffiti This task does not require any assignment. Feel free to go ahead and work on this issue 😇

[2022-10-07 06:46] Meldiron commented on #3970
@drsimplegraffiti  This task does not require any assignment. Feel free to go ahead and work on this issue 😇

[2022-10-07 06:48] Meldiron commented on #4109
@drsimplegraffiti , looks like you have some issues assigned to you already. Please allow us some time to review them before assigning you more issues. In the meantime, you could work on our issues for writing articles and building demo apps - those do not require assignments.

[2022-10-07 06:49] Meldiron commented on #4107
@letsintegreat , looks like you have some issues assigned to you already. Please allow us some time to review them before assigning you more issues. In the meantime, you could work on our issues for writing articles and building demo apps - those do not require assignments.

[2022-10-07 06:50] Meldiron commented on #4109
@drsimplegraffiti , we're assigning people on a first come first serve basis. If @Abhishek-thakur1  isn't able to complete this issue, we'll reassign accordingly. In the meantime, you can find another hacktoberfest issue via our [website](https://hacktoberfest.appwrite.io/).

[2022-10-07 06:50] Meldiron commented on #4164
@rohit162 , we're assigning people on a first come first serve basis. If @35C4n0r  isn't able to complete this issue, we'll reassign accordingly. In the meantime, you can find another hacktoberfest issue via our [website](https://hacktoberfest.appwrite.io/).

[2022-10-07 06:53] Meldiron commented on #4269
@sakshiisaxena Hey there 👋 Are you still working on this issue? No need to rush, you have a whole month 😇 I just need to confirm with you if you are still active on this assignment.

[2022-10-07 06:54] Meldiron commented on #4276
@Aryanshh , we're assigning people on a first come first serve basis. If @detronetdip  isn't able to complete this issue, we'll reassign accordingly. In the meantime, you can find another hacktoberfest issue via our [website](https://hacktoberfest.appwrite.io/).

[2022-10-07 06:55] Meldiron commented on #4304
@Nibba2018 Hey there 👋 This issue was created as a dream contribution of @chinmayayy . We will allow him a few days to let us know if he is still interested in this issue. If we don't get a response from him within the next week, I will assign this to you.

With that said, you could request your very own dream contribution 😎 Check out this issue: https://github.com/appwrite/appwrite/issues/4024

[2022-10-07 07:23] polarvoid commented on #3983
@codercatdev Okay, I can do that :)

[2022-10-07 08:05] PRATYUSHPAHARI opened #4320 "📚 Documentation: Add Bengali README version"
### 💭 Description

### I have seen that there is a Chinese version of README.md and people are asking for another language. I would like to suggest to create a Bengali README version for fellow Bengalee people. I would also like to offer myself for the implementation if my documentation request is confirmed.

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I ch

[2022-10-07 08:49] eigengravy commented on #3994
hi, i would love to have a go at this issue

[2022-10-07 08:52] chinmayayy commented on #4304
Hello @Meldiron thanks for the opportunity! I'll make sure to complete the task soon.

[2022-10-07 08:58] vzsky commented on #4123
Could I work on this?

[2022-10-07 09:14] Likith2000 commented on #1543
Hi @Meldiron, would love to work on this. Can you please assign the task?

[2022-10-07 09:17] krishshah920 commented on #4318
Assign this to me . I will be completing it.

[2022-10-07 09:21] aabmets opened #4321 "🚀 Feature: Reflect Appwrite Install Location in Management Console and Make Environs Directly Accessible"
### 🔖 Feature description

Please implement a way for the management console to reflect the location where Appwrite was installed into by the docker commands. Better yet, it would be ideal, if the user could modify the env variables from within the management console itself, so they won't ever need to directly access the .env file.

### 🎤 Pitch

If the user forgets the location where they initiali

[2022-10-07 09:24] Meldiron commented on #4304
@chinmayayy Thanks for letting me know 🥰 I have assigned the issue to you.

[2022-10-07 09:25] Meldiron commented on #4173
@sarkartanmay393 Amazing, glad to hear that 🤩 Can you please write a comment here with a link to the PR? That way, it's easier for us to do proper checks during the review process.

[2022-10-07 09:25] Meldiron commented on #4123
@vzsky , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-07 09:26] Meldiron commented on #3994
@eigengravy , looks like you have some issues assigned to you already. Please allow us some time to review them before assigning you more issues. In the meantime, you could work on our issues for writing articles and building demo apps - those do not require assignments.

[2022-10-07 09:38] sarkartanmay393 commented on #4173
Opened PR for this issue: [open-runtimes/examples/pull/58](https://github.com/open-runtimes/examples/pull/58)

[2022-10-07 09:45] sarkartanmay393 commented on #3952
@LiorBitton If you are not attempting this issue and let me contribute to it.
@Meldiron If he decides to stay inactive, I would like to take it.

[2022-10-07 09:48] sarkartanmay393 commented on #4320
Hello @PRATYUSHPAHARI, If there is anything to help, I would love to contribute to Bengali language.

[2022-10-07 10:44] Wise-Wizard commented on #4269
I would like to work on this issue too, kindly assign this to me.

[2022-10-07 10:49] Wise-Wizard commented on #4077
I have built an identical app, can you please assign this Issue to me?

[2022-10-07 10:57] peterchu999 commented on #4094
Hi @Meldiron I'm so sorry but the configuration part was quite different from the swift I knew (for the iOS project), so please re-assign this issue to someone who is more capable 😅. would find another issue to solve.

[2022-10-07 11:08] doublevcodes commented on #3352
Ah. Thanks, I'll have a look at what I can do.

[2022-10-07 11:28] sidbelbase commented on #4318
I have already requested to assign this task to me under the description section.

[2022-10-07 11:28] sidbelbase commented on #4318
I have already requested to assign this task for myself under the description section.

[2022-10-07 11:38] 35C4n0r commented on #4107
@Meldiron I'm intrested in this issue please assign it to me.

[2022-10-07 12:46] Tandashi opened #4322 "🐛 Bug Report: Creation of function using CLI causes Appwrite to become unuseable"
### 👟 Reproduction steps

Run the latest `appwrite` version with Docker.

Command from Documentation:
[code]

Then initialise a project using the `appwrite-cli` (installed using brew).
Try to create a new function using the `appwrite-cli` with `appwrite init function`.

Running `appwrite init function --verbose` shows this error:
[code]

### 👍 Expected behavior

A new function should be created

#

[2022-10-07 13:54] stnguyen90 commented on #3928
FYI, these docs are generated from this: https://github.com/appwrite/appwrite/blob/master/app/config/events.php

[2022-10-07 14:08] codercatdev commented on #4107
@35C4n0r , looks like you have some issues assigned to you already. Please allow us some time to review them before assigning you more issues. I believe #4164 is still pending.

[2022-10-07 14:09] codercatdev commented on #4094
No problem @peterchu999 I have removed you from the assignment to allow others a chance to work on this issue.

[2022-10-07 14:11] yaakov123 commented on #4024
Hey, I would like to build an "Almost Whatsapp Web". In reality I've already completed it as I've been creating a tutorial series on how to create Whatsapp with Appwrite and VueJS.

This clone already uses the following Appwrite features:

- Authentication
- Functions (user-triggered and event-triggered)
- Database
- Realtime

Could you point me in the right direction in terms of where to add this

[2022-10-07 14:13] codercatdev commented on #3960
Thanks for releasing the assignment @RahulSoni0, @Miyuru-Bhashitha-amarasiri I have assigned the issue to you.

[2022-10-07 14:14] 2002Bishwajeet commented on #4024
Hey @yaakov123 , This PR should be made in the [awesome-appwrite](https://github.com/appwrite/awesome-appwrite). But I would recommend to wait for the maintainer to approve this first🙂.

[2022-10-07 14:24] 35C4n0r commented on #4107
@codercatdev i was actuall about to ask to unassign issue #4164 as even for enabling the google cloud services it's asking for my credit card and other details.

[2022-10-07 14:25] codercatdev commented on #4107
@35C4n0r completely understand, I have removed that assignment and added you here.

[2022-10-07 14:30] codercatdev commented on #4176
@appwrite/owners please review PR for merge.

[2022-10-07 14:51] chinmayayy commented on #4304
Could you help me with a few queries @Meldiron. What format (doc/blog etc.) do I submit the documentation in and do I create the PR in this very repository itself?

[2022-10-07 14:53] DarshanDixit05 commented on #4274
Hello, I want to work on this.

[2022-10-07 14:53] farhanpro commented on #4120
Hello,
I am interested in solving this problem please assign me this task

[2022-10-07 14:56] DarshanDixit05 commented on #4175
Hi @PineappleIOnic , I want to work on this.

[2022-10-07 14:58] DarshanDixit05 commented on #4307
Hello , I want to work on this !

[2022-10-07 15:01] codercatdev commented on #4107
@35C4n0r I think a single service will suffice. If we could find an open source one that would be preferable. I found this searching for the same.

http://screeenly.com/

[2022-10-07 15:24] omjikush09 commented on #4175
Create PR please review https://github.com/open-runtimes/examples/pull/60

[2022-10-07 15:29] stnguyen90 opened #4326 "🐛 Bug Report: Can't Create Document w/ Attribute w/ Period"
### 👟 Reproduction steps

1. Create a collection with an attribute containing a period (.)
2. Create a document in that collection

### 👍 Expected behavior

The document is created

### 👎 Actual Behavior

A 400 error occurs:

My attribute was `djd.djdj`

[code]

### 🎲 Appwrite version

Version 1.0.x

### 💻 Operating system

Linux

### 🧱 Your Environment

Tested on Appwrite 1.0.1.

### 👀 Have you s

[2022-10-07 15:37] stnguyen90 commented on #3600
I'm still seeing the problem on 1.0.2:

Response:

[code]

Logs:

[code]

@Meldiron, would you please double check?

[2022-10-07 16:10] SanjayDevTech commented on #4264
@gewenyu99 I have raised a PR: [https://github.com/appwrite/demo-getstarted-with-android/pull/10](https://github.com/appwrite/demo-getstarted-with-android/pull/10)

[2022-10-07 16:11] sakshiisaxena commented on #4269
yes, I am.

[2022-10-07 16:17] EshaanAgg commented on #4224
Hey! I'll time to work on this! Thinking about developing a simple Exercise web app with Nuxt 3.

[2022-10-07 16:23] dcowan-london commented on #4024
Hey, I'd like to work on getting the [Appwrite VSCode extension](https://github.com/streamlux/vscode-appwrite) up to date (currently has not been maintained for over a year and is completely broken). I've started [here](https://github.com/dcowan-london/vscode-appwrite/tree/update-appwrite-v1)

[2022-10-07 16:58] Unickorn commented on #3997
Hey! I haven't yet used Appwrite personally, though I am quite experienced in PHP, Docker and Docker Compose. Could I give this issue a shot?

[2022-10-07 17:10] camperjett commented on #4078
checkout my PR @PineappleIOnic

[2022-10-07 17:35] letsintegreat commented on #4096
Hey! As my last PR was approved, I would like to take on this new issue.

[2022-10-07 17:38] fogelito commented on #3592
Hey guys,
This feature is live and ticking today on Appwrite or perhaps you can give more information about what data you are trying to achieve or filter. On Document Model these two attributes are available and you have the ability to sort them

[2022-10-07 18:03] GenMech commented on #4164
Hi @PineappleIOnic, Can you pls assign this issue to me. I want to work on this issue

[2022-10-07 18:08] RedHeadphone commented on #4128
yeah, I am working on it

[2022-10-07 18:14] Apollo9999 opened #4328 "📚 Documentation: Add Spanish README version"
### 💭 Description

I have seen that there is a Chinese version of README.md and people are asking for another language, I would really love to work on the Spanish version for fellow Spain people. Can you please assign me this task as soon as this documentation request is confirmed?

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find simil

[2022-10-07 18:32] Atharvat commented on #4102
@PineappleIOnic
I am willing to work on this issue.

[2022-10-07 18:43] stnguyen90 commented on #4322
Because of https://github.com/appwrite/sdk-for-cli/issues/52, installing via homebrew installs an older version. I recommend installing via NPM to get the latest CLI that works with Appwrite version 1.0.x

[2022-10-07 18:45] #4322 closed

[2022-10-07 20:31] gewenyu99 commented on #3639
Okay closing this because this shouldn't be relevant anymore because guests can write. I just confirmed this, too, when I was reviewing hacktoberfest PRs

[2022-10-07 20:31] #3639 closed

[2022-10-07 21:55] stnguyen90 commented on #3997
@Unickorn Thanks for your interest! You may work on this issue 🙏 Happy hacking! 🎃

[2022-10-07 22:04] stnguyen90 commented on #4024
@dcowan-london, have you reached out to the maintainer about contributing to their repo?

[2022-10-07 22:04] stnguyen90 commented on #4078
@camperjett Thanks for the PR! 🤯 Please give us some time to review it.

[2022-10-07 22:12] stnguyen90 commented on #4096
@letsintegreat Thanks for your interest! You may work on this issue 🙏 Happy hacking! 🎃

[2022-10-07 22:12] stnguyen90 commented on #4102
@Atharvat Thanks for your interest! You may work on this issue 🙏 Happy hacking! 🎃

[2022-10-07 22:12] #4102 closed

[2022-10-07 22:13] stnguyen90 commented on #4120
@farhanpro, we're assigning people on a first come first serve basis. If @codespirit7 isn't able to complete this issue, we'll reassign it accordingly. In the meantime, you can find another Hacktoberfest issue via our [website](https://hacktoberfest.appwrite.io/).

[2022-10-07 22:19] stnguyen90 commented on #4164
@GenMech Thanks for your interest! You may work on this issue 🙏 Happy hacking! 🎃

[2022-10-07 22:20] stnguyen90 commented on #4175
@omjikush09 Thanks for the PR! 🤯 Please give us some time to review it.

[2022-10-07 22:21] stnguyen90 commented on #4224
@EshaanAgg Go ahead, you can start work on this issue 😊 This issue is open for everyone and we want as many quality PRs as our community can create.

[2022-10-07 22:21] stnguyen90 commented on #4250
@DarshanDixit05 Go ahead, you can start work on this issue 😊 This issue is open for everyone and we want as many quality PRs as our community can create.

[2022-10-07 22:22] stnguyen90 commented on #4264
@SanjayDevTech Thanks for the PR! 🤯 Please give us some time to review it.

[2022-10-07 22:24] stnguyen90 commented on #4274
@DarshanDixit05, we're assigning people on a first come first serve basis. If @omjikush09 isn't able to complete this issue, we'll reassign it accordingly. In the meantime, you can find another Hacktoberfest issue via our [website](https://hacktoberfest.appwrite.io/).

[2022-10-07 22:32] stnguyen90 commented on #4304
@chinmayayy, for this change, I don't think we'll need a blog; the goal would just be to update the Project Description on https://pypi.org/project/appwrite/ to show our readme.

[2022-10-07 22:32] stnguyen90 commented on #4307
@DarshanDixit05 Go ahead, you can start work on this issue 😊 This issue is open for everyone and we want as many quality PRs as our community can create.

[2022-10-07 23:27] mayurrkukreja commented on #4308
Hello, I would like to work on this issue #4308 and contribute to an appwrite's demo application ✨😊

[2022-10-08 01:24] DurveshKumarPal commented on #4197
Hey @tessamero, this issue is still pending then assign me.

[2022-10-08 01:27] DurveshKumarPal commented on #4192
Hey, this issue is still pending then assign me.

[2022-10-08 01:30] DurveshKumarPal commented on #4170
Hey, I would like to contribute this issue can you assign me.

[2022-10-08 02:04] andrewmoore-nz commented on #3600
I can confirm, getting consistent behaviour on this bug, across multiple collections. Only seems to be an issue when querying for that particular attribute e.g. I can query for other non-hyphenated attributes in the same collection and all behaves normally.

[2022-10-08 02:56] PGautam27 commented on #4192
I am working on this. I am kinda done. I'll do PR soon.

[2022-10-08 04:43] chinmayayy commented on #4304
Yes, my question was can I access and make changes to the targeted project description directly?

[2022-10-08 04:49] stnguyen90 commented on #4304
@chinmayayy, what do you mean? I assume the data is in here: https://github.com/appwrite/sdk-generator/tree/master/templates/python. Do you know how/where the project description comes from?

[2022-10-08 04:59] chinmayayy commented on #4304
I figured, thanks!

[2022-10-08 04:59] shaishav06 commented on #4308
Hey, @Meldiron I'm Interested in working on this telegram bot feature can I work for it? @PineappleIOnic @RobRuizR

[2022-10-08 05:09] shaishav06 commented on #4306
Hey...! I'm interested for work on these features.  can you assign me a task for it? @Meldiron

[2022-10-08 05:24] shaishav06 commented on #4304
I'm interested for work this Bug Can assign me? @Meldiron

[2022-10-08 05:25] shaishav06 commented on #4304
What is problem of this but please tell me in some brief level so I can work on it @Meldiron

[2022-10-08 06:22] bhattabhi013 commented on #4162
Sure @InfiniteVerma, let me know if you need some help.

[2022-10-08 07:03] camperjett commented on #4094
Hi @codercatdev I would like to work on this issue. I have completed my previous assigned issues 😄

[2022-10-08 07:07] aloks98 commented on #4003
Hi, I was working on LZ4 and it was accepted today. Can I please take this issue now? :)

[2022-10-08 07:11] aloks98 commented on #3986
Hi, If it is still open can I take this issue?

[2022-10-08 07:18] sarkartanmay393 commented on #4247
@stnguyen90 Hi Steven, I would like to work on it.

[2022-10-08 08:22] RajdeepDs commented on #4030
@Meldiron
If I contribute to this issue, did my PR get counted in Appwrite Hacktoberfest.

[2022-10-08 08:24] sarkartanmay393 commented on #4100
@PineappleIOnic I see no assigns here. I would like to work on it.

[2022-10-08 08:26] sarkartanmay393 commented on #4011
@PineappleIOnic Will that be accepted as `hacktoberfest` PR ?

[2022-10-08 08:28] MoskalykA commented on #4119
Hi, I just finished the code, I'm going to make the pull request however in the payload I'm asking for the image link and not its provider, is that correct?

[2022-10-08 08:31] rahulnegi20 commented on #4166
Hi @codercatdev @PineappleIOnic,

I have a doubt regarding the encoding format of the audio, will it be the same always or not?
If yes can you please share the **encoding, sample_heartz, and audio channel**?

Thanks

[2022-10-08 08:47] AVDiv commented on #4250
Hey there, I'd like to work on this, I jzt started.

[2022-10-08 10:11] AVDiv commented on #4225
Hi there, I'd like to be part of this.

[2022-10-08 10:40] devblin commented on #4213
Hey @christyjacob4 , I would like to work on this issue.

[2022-10-08 10:58] BajajAyush commented on #3993
Hey, I would like to try this

[2022-10-08 11:30] vyomaaverse commented on #4225
Hi, I would like to work on this issue.

[2022-10-08 11:32] FarhanAliRaza commented on #4100
Please assign this to me

[2022-10-08 11:32] kritikash18 commented on #4098
raised and linked a PR for this

[2022-10-08 11:38] vasucp1207 commented on #4252
Hey, @stnguyen90, I completed the task and also write a [blog](https://3dweb.hashnode.dev/making-a-todolist-with-preact-js-using-appwrite-as-a-backend) about this please take a look into this and tell me what I have to do next in order to do PR.

[2022-10-08 12:21] BajajAyush opened #4333 "📚 Documentation: Add French Readme version"
### 💭 Description

I have seen that there is now a Chinese version of the README.md.

Since I am fluent in French, I would like to suggest to create a French README version. I would also like to offer myself for the implementation.

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

[2022-10-08 12:53] vasucp1207 commented on #4252
Okay , I done the PR.

[2022-10-08 13:03] Satakshijain commented on #4333
Hi , I would like to contribute to this . Please assign this issue to me

[2022-10-08 13:04] devblin commented on #3991
Hey @christyjacob4 , I would like to work on this issue. Can you please assign this to me ?

[2022-10-08 13:17] TheOjasSingh commented on #3981
I am following the above tutorial for setting up the repo utopia-php/database but It is still showing the error.
![Screenshot 2022-10-08 184449](https://user-images.githubusercontent.com/55990400/194709493-b4e567ef-32af-4895-a206-ee01190f7e3e.png)

[2022-10-08 13:25] InfiniteVerma opened #4438 "🐛 Bug Report: init function fails on Ubuntu 20.04"

[2022-10-08 13:34] SiddheshKukade opened #4334 "📚 Documentation: Add Hindi Readme Version"
### 💭 Description

### About Hindi Language: It is spoken by Over 500 Million People Just in India. Hindi, or more precisely Modern Standard Hindi, is an Indo-Aryan language spoken chiefly in the Hindi Belt region encompassing parts of northern, central, eastern, and western India.
#### Sources / References :
https://en.wikipedia.org/wiki/Hindi
https://en.wikipedia.org/wiki/List_of_languages_by_nu

[2022-10-08 13:59] eldadfux commented on #546
This issue is no longer relevant, we have opened many other issues for contributing content to Appwrite for Hacktoberfest 22.

[2022-10-08 13:59] #546 closed

[2022-10-08 14:33] Ray0Emma opened #4335 "📚 Documentation: Add Arabic Readme Version"
### 💭 Description

I have seen no Arabic version of README.md and people ask for another language. I would like to suggest creating an Arabic README version for fellow Arabic Speaking people. If my documentation request is confirmed, I would also like to offer the implementation. I would do it within 1 day and would be very happy if assigned.

### 👀 Have you spent some time to check if this issue

[2022-10-08 14:48] stnguyen90 commented on #3998
@aloks98 where's the PR in the appwrite repo to implement support for LZ4 compression?

[2022-10-08 15:16] aloks98 commented on #3998
Hey @stnguyen90, Here is the [PR](https://github.com/appwrite/appwrite/pull/4279)

[2022-10-08 15:34] nooras commented on #4334
Hi can you please assign it to me if you r not working on it ? thanks

[2022-10-08 16:00] AnkitV-Git commented on #4334
I want to work on this. I am new to open source and hence want to start with this. Please assign it to me.

[2022-10-08 16:57] gagandeepp commented on #4210
Interested please assign

[2022-10-08 16:57] gagandeepp commented on #4208
Interested please assign

[2022-10-08 17:12] SiddheshKukade commented on #4334
@AnkitV-Git No you can't I've requested for it first .Dear Maintainers, please  assign me

[2022-10-08 17:31] yaakov123 commented on #4024
@Meldiron - Any updates regarding this?

[2022-10-08 18:25] itsPriyanshuRaj commented on #4024
Blog on appwrite will be about...what is appwrite and how it helps different developers with backend development.

[2022-10-08 20:01] StPfeffer opened #4338 "📚 Documentation: Add Brazilian Portuguese Readme Version"
### 💭 Description

I have seen that there is now a Chinese version of the README.md.

Since I am fluent in Portuguese, I created a Portuguese README.pt-BR version.

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.com/appwrite

[2022-10-08 22:21] michizhou commented on #3943
Hi @stnguyen90, would it be alright if I take on this issue?

[2022-10-08 22:31] michizhou commented on #4211
Hi @ christyjacob4, would it be alright if I take on this issue?

[2022-10-08 22:32] michizhou commented on #4211
Hi @christyjacob4, would it be alright if I take on this issue?

[2022-10-08 22:43] hardiksachan commented on #4085
Hey there! How can I apply plugins to my code?

I'm using `kotlinx.serialization` for content negotiation and it requires me to apply a plugin which I cannot do since plugins block is not allowed in `deps.gradle` file.

[2022-10-09 01:08] FuadEfendi commented on #3051
Using functions and bucket is brilliant solution!

Another potential workaround is to use multithreaded client and upload documents in parallel; for instance, client application developed in Kotlin.
And, perhaps Server SDK can allow to create server-side extension; or, trivial, server-side application (such as "function", or Kotlin-based standalone) can read batch JSON from local filesystem (from

[2022-10-09 02:48] OkoroaforKelechiDivine commented on #4311
Can I take up on this?

[2022-10-09 04:00] stnguyen90 opened #4340 "Bug: Query double attributes with integer (ex: greaterThan 0)"
### Discussed in https://github.com/appwrite/appwrite/discussions/4327

<div type='discussions-op-text'>

<sup>Originally posted by **alexbacanu** October  7, 2022</sup>
I have this attribute:
![image](https://user-images.githubusercontent.com/12121946/194593304-016473d1-b3ec-4da7-a208-5da4f541b22c.png)
Attribute ID: productStars
Type: Double

It's an attribute that will be a float between 0 and 5

[2022-10-09 05:37] Unickorn commented on #3997
Hmm there seems to be no lzip extension for PHP and I doubt I have the skillset to write one out of scratch, I'll go ahead and try implementing the xz one since I could find an extension for it already made.

[2022-10-09 05:37] Unickorn commented on #4003
Could I give this a shot?

[2022-10-09 06:23] aadii0408 commented on #4005
Hi @christyjacob4 ,
I would like to work on this article. I have prior experience in writing articles, so can you please assign me this?

[2022-10-09 06:39] GenMech commented on #4164
@stnguyen90 Thanks for assigning it to me!

[2022-10-09 06:58] h1t35h commented on #4001
Hi, I would like to contribute to this. Could you please assign this to me?

[2022-10-09 07:03] yadavgaurav251 commented on #4124
@PineappleIOnic I would like to work on this issue.

[2022-10-09 07:14] RizkyRajitha commented on #4236
hi @christyjacob4 i would like to work on this issue

[2022-10-09 07:54] Susmita-Dey opened #4343 "📚 Documentation: Add Maltese Readme Version"
### 💭 Description

I have seen that there is now a Chinese version of the README.md.
So, I want to add the Maltese version for folks who are not fluent in English but fluent in Maltese.

Kindly assign it to me.

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read th

[2022-10-09 08:21] eldadfux commented on #3334
If anyone reached this issue from search engines, this post can also help: https://dev.to/appwrite/learn-how-to-run-appwrite-with-your-own-custom-proxy-or-load-balancer-28k

[2022-10-09 08:28] ddenev commented on #2406
@stnguyen90 , can this be prioritized higher?

I see this has been lagging since 0.16 milestone but currently this bug prevents me from using Google OAuth2 in my app.

Thank you!

[2022-10-09 08:33] Susmita-Dey opened #4344 "📚 Documentation: Improve Apprite docs for Web"
### 💭 Description

I want to improve the docs for [this page](https://appwrite.io/docs/getting-started-for-web) and the following pages based on Web.

There are some grammatical errors which can be fixed and also other improvements that can be made.

I'm willing to make a PR. Kindly assign it to me.

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and

[2022-10-09 08:47] garvitomer commented on #2406
Use 'session.create' for time being, I am also using the same.

On Sun, 9 Oct, 2022, 1:58 pm Dragomir Denev, ***@***.***>
wrote:

[2022-10-09 08:51] yaakov123 opened #4345 "🚀 Feature: Add a created_by attribute to documents that were created using the Appwrite client side SDK"
### 🔖 Feature description

I'd like to have a created_by attribute on each document that is created using the client side sdk.

### 🎤 Pitch

When creating documents that belong to a specific user, I find myself doing one of 2 things.

1) Adding the user_id to the document on the client side (which is bad practice)
2) Needing to create an Appwrite function to create all documents and use the APPWRI

[2022-10-09 09:01] RizkyRajitha commented on #4236
hi @christyjacob4  i am planing to create make integration with appwrite and airtable ,

to add newly created appwrite users data to airtable sheet using make as a middle man.

it will be more like a post than a coding demo tho .
what are your thoughts on it , shall i proceed with it .

thanks

rajitha

[2022-10-09 09:25] AhnafSulficar commented on #4306
Working on it!!

[2022-10-09 12:04] Bennykillua commented on #4344
@Susmita-Dey  Can I work on this?

[2022-10-09 12:09] SanjayDevTech commented on #4181
@codercatdev I have raised a PR https://github.com/open-runtimes/examples/pull/70

[2022-10-09 13:09] Susmita-Dey commented on #4344
@Bennykillua You can check other issues as I'll make a PR for this.

[2022-10-09 14:04] TomerPacific commented on #4151
Hey @codercatdev , let me know if @devtayade doesn't get to finishing this. I'd be happy to help out.

[2022-10-09 14:45] Alcadeus0 commented on #4207
Hello! could i work on this issue?

[2022-10-09 14:52] netapy commented on #4345
I could really use this feature and was actually about to post about it.
Would be amazing to have this.

[2022-10-09 15:57] stnguyen90 commented on #4345
@yaakov123, @netapy, this looks like a duplicate of https://github.com/appwrite/appwrite/issues/3623. If so, can you 👍 that issue and close this issue?

[2022-10-09 16:00] keul commented on #4299
Did a quick test. Nothing unexpected, but authentik can't help in this OOTB. It's making some assumptions on URLs format (so: not inspecting the service in a standard way). But it can be a good starting point probably 🤞.

[2022-10-09 16:30] shtelzerartem commented on #4002
Hey, @stnguyen90 I finished PRs, tested them and they are ready to be reviewed! ❤️

[2022-10-09 17:21] sisco0 commented on #3984
Considering that the Sri Lanka service is asking for login details,
Is there any way that we could have a demo account in Akaza for this purpose?

[2022-10-09 18:03] stnguyen90 commented on #3984
@sisco0, unfortunately, we can't provide a demo account. It would be on the assignee to sign up and get access.

[2022-10-09 18:10] Vishrut19 commented on #4191
Hi @Pooja444 do you need any help I can try to contribute/help you?

[2022-10-09 18:11] Vishrut19 commented on #4169
Hey @AniketTewari I would like to help/contribute ? Can I do it ?

[2022-10-09 19:03] maxslimb commented on #4126
Hey, can you assign an issue to more than one people?

[2022-10-09 19:04] maxslimb commented on #4126
Hey, can you assign this issue to more than one people?

[2022-10-09 19:16] Pooja444 commented on #4191
Hello @Vishrut19 thanks for offering! I have completed working on this and have raised a PR which was reviewed by @Meldiron at the PR review party last week. I will let you know if I need any help though, thanks again!

[2022-10-09 20:51] vasucp1207 commented on #4225
Hey, I want to work on this issue.

[2022-10-10 01:59] abnegate commented on #4308
@mayurrkukreja @shaishav06 You are both welcome to work on with this issue, it is open for everyone :grin:

[2022-10-10 02:00] abnegate commented on #4306
@shaishav06 This issue does not require assignment, you are free to work on it 😇

[2022-10-10 02:03] abnegate commented on #4304
@shaishav06 This issue was created as a dream contribution of @chinmayayy. If there are any issues with completion, I will assign this to you.

With that said, you could request your very own dream contribution 😎 Check out this issue: https://github.com/appwrite/appwrite/issues/4024

[2022-10-10 02:14] abnegate commented on #4236
@RizkyRajitha Hi Rajitha, for this issue we are looking for demo applications specifically. The demo applications should use Appwrite as the backend, instead of other services such as Airtable. If that works for you, you are welcome to go ahead :grin:

[2022-10-10 02:18] abnegate commented on #4213
@devblin Thanks for your interest! Happy hacking 🎃

[2022-10-10 02:19] abnegate commented on #4210
@gagandeepp Thanks for your interest! Happy hacking 🎃

[2022-10-10 02:20] abnegate commented on #4207
@Alcadeus0 Thanks for your interest! Happy hacking 🎃

[2022-10-10 02:22] abnegate commented on #4197
@DurveshKumarPal You can work on this issue 😊 this is open for everyone and we want as many quality PRs as our community can create.

[2022-10-10 02:29] abnegate commented on #4126
@maxslimb Thanks for the interest, this issue is for one assignee only. You can check out all the issues still available to work on [here](https://github.com/appwrite/appwrite/issues?q=is%3Aopen+is%3Aissue+label%3Ahacktoberfest+no%3Aassignee) :grin:

[2022-10-10 02:30] abnegate commented on #4124
@yadavgaurav251 Thanks for the interest! Happy hacking 🎃

[2022-10-10 02:38] abnegate commented on #4119
@MoskalykA Yep that sounds good for the `image`! Keep in mind you should still require the compression provider in the payload; supporting both `tinypng` and `krakenio` ☺️

[2022-10-10 02:40] abnegate commented on #4100
@FarhanAliRaza @sarkartanmay393  We are assigning people on a first come first serve basis. If @anushagupta1312  isn't able to complete this issue, we will reassign accordingly. In the meantime, you can find issues to work on [here](https://github.com/appwrite/appwrite/issues?q=is%3Aopen+is%3Aissue+label%3Ahacktoberfest+no%3Aassignee) :grin:

[2022-10-10 02:43] abnegate commented on #4094
@camperjett Thanks for your interest! Happy hacking 🎃

[2022-10-10 04:02] PRATYUSHPAHARI commented on #4320
Hey @sarkartanmay393, thanks for your request. I would like to make PR on this issue as I have created it.  But don't worry, you can check other issues.

[2022-10-10 04:07] AniketTewari commented on #4169
@Vishrut19 The Task is already completed, just waiting for the PR getting merged....
We can work together on any other issue if you want.

[2022-10-10 04:58] Vishrut19 commented on #4169
yes @AniketTewari Please let me know that we can connect and do some work together
This is my Discord Id - Vishrut19#8641

[2022-10-10 06:03] devansh12b2 commented on #4130
This looks interesting I will like to work on it.

[2022-10-10 06:39] Meldiron commented on #4030
@RajdeepDs Yes, all PRs made based on Appwrite issues count towards Appwrite Hacktoberfest. You would be making a PR into awesome-appwrite repository where you add a link to your GitHub repo with the Almost Dev.to. That will be a valid contribution for both Appwrite, and the official Hacktoberfest.

[2022-10-10 06:40] Meldiron commented on #4005
@aadii0408 This task does not require any assignment. Feel free to go ahead and work on this issue 😇

[2022-10-10 06:41] Meldiron commented on #4011
@sarkartanmay393 That is correct 😇 As long as the quality is there (not a few lines article made from copy&pasting sentences from docs), PR will be accepted in awesome-appwrite repo. That will be a valid contribution to both Appwrite Hacktoberfest, as well as official Hacktoberfest.

[2022-10-10 06:42] Meldiron commented on #4170
@DurveshKumarPal , we're assigning people on a first come first serve basis. If @D-Anir  isn't able to complete this issue, we'll reassign accordingly. In the meantime, you can find another hacktoberfest issue via our [website](https://hacktoberfest.appwrite.io/).

[2022-10-10 06:43] Meldiron commented on #4208
@gagandeepp , looks like you have some issues assigned to you already. We request you to complete those before requesting assignments on new ones. Also, please consider picking a different type of issue so other contributors can try this one.

[2022-10-10 06:43] Meldiron commented on #4211
@michizhou , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-10 06:46] Meldiron commented on #4166
@rahulnegi20 Hey there 👋 Are these parameters required, or optional? Ideally, we would support any kind of MP3 file and do our best to extract text from it. If this is information that is required by Google API to do the request, feel free to add these as parameters in `payload`.

[2022-10-10 06:48] Meldiron commented on #4130
@devansh12b2 , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-10 06:54] Meldiron commented on #4003
@Unickorn , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-10 06:58] Meldiron commented on #4001
@h1t35h , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-10 07:04] Meldiron commented on #3986
@aloks98 , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-10 07:04] Meldiron commented on #3991
@devblin , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-10 07:21] #3894 closed

[2022-10-10 07:36] Meldiron commented on #4109
Related PR: https://github.com/open-runtimes/examples/pull/71

[2022-10-10 08:17] Aadeesh11 commented on #4129
After going through https://wiki.openstreetmap.org/wiki/Static_map_images, I am planning to use https://docs.mapbox.com/api/maps/static-images/?utm_source=mapboxcom would that be okay?

[2022-10-10 09:27] christyjacob4 opened #4347 "💄 Add Code Linter To ‘utopia-php/framework’"
# 💭 Introduction

Linter is one of the most valuable tools in the open source world. It not only ensures every developer contributes the code with the same style but also allows CI/CD to ensure this. Having a linter set up should be a high priority for every project as it makes source code more readable for future contributors.

Your task is to update our library [utopia-php/framework](https://git

[2022-10-10 09:27] christyjacob4 opened #4348 "💄 Add Code Linter To ‘utopia-php/cache’"
# 💭 Introduction

Linter is one of the most valuable tools in the open source world. It not only ensures every developer contributes the code with the same style but also allows CI/CD to ensure this. Having a linter set up should be a high priority for every project as it makes source code more readable for future contributors.

Your task is to update our library [utopia-php/cache](https://github.

[2022-10-10 09:27] christyjacob4 opened #4349 "💄 Add Code Linter To ‘utopia-php/swoole’"
# 💭 Introduction

Linter is one of the most valuable tools in the open source world. It not only ensures every developer contributes the code with the same style but also allows CI/CD to ensure this. Having a linter set up should be a high priority for every project as it makes source code more readable for future contributors.

Your task is to update our library [utopia-php/swoole](https://github

[2022-10-10 09:27] christyjacob4 opened #4350 "💄 Add Code Linter To ‘utopia-php/system’"
# 💭 Introduction

Linter is one of the most valuable tools in the open source world. It not only ensures every developer contributes the code with the same style but also allows CI/CD to ensure this. Having a linter set up should be a high priority for every project as it makes source code more readable for future contributors.

Your task is to update our library [utopia-php/system](https://github

[2022-10-10 09:27] christyjacob4 opened #4351 "💄 Add Code Linter To ‘utopia-php/storage’"
# 💭 Introduction

Linter is one of the most valuable tools in the open source world. It not only ensures every developer contributes the code with the same style but also allows CI/CD to ensure this. Having a linter set up should be a high priority for every project as it makes source code more readable for future contributors.

Your task is to update our library [utopia-php/storage](https://githu

[2022-10-10 09:27] christyjacob4 opened #4352 "💄 Add Code Linter To ‘utopia-php/database’"
# 💭 Introduction

Linter is one of the most valuable tools in the open source world. It not only ensures every developer contributes the code with the same style but also allows CI/CD to ensure this. Having a linter set up should be a high priority for every project as it makes source code more readable for future contributors.

Your task is to update our library [utopia-php/database](https://gith

[2022-10-10 09:27] christyjacob4 opened #4353 "💄 Add Code Linter To ‘utopia-php/analytics’"
# 💭 Introduction

Linter is one of the most valuable tools in the open source world. It not only ensures every developer contributes the code with the same style but also allows CI/CD to ensure this. Having a linter set up should be a high priority for every project as it makes source code more readable for future contributors.

Your task is to update our library [utopia-php/analytics](https://git

[2022-10-10 09:27] christyjacob4 opened #4354 "💄 Add Code Linter To ‘utopia-php/image’"
# 💭 Introduction

Linter is one of the most valuable tools in the open source world. It not only ensures every developer contributes the code with the same style but also allows CI/CD to ensure this. Having a linter set up should be a high priority for every project as it makes source code more readable for future contributors.

Your task is to update our library [utopia-php/image](https://github.

[2022-10-10 09:27] christyjacob4 opened #4355 "💄 Add Code Linter To ‘utopia-php/demo’"
# 💭 Introduction

Linter is one of the most valuable tools in the open source world. It not only ensures every developer contributes the code with the same style but also allows CI/CD to ensure this. Having a linter set up should be a high priority for every project as it makes source code more readable for future contributors.

Your task is to update our library [utopia-php/demo](https://github.c

[2022-10-10 09:27] christyjacob4 opened #4356 "💄 Add Code Linter To ‘utopia-php/websocket’"
# 💭 Introduction

Linter is one of the most valuable tools in the open source world. It not only ensures every developer contributes the code with the same style but also allows CI/CD to ensure this. Having a linter set up should be a high priority for every project as it makes source code more readable for future contributors.

Your task is to update our library [utopia-php/websocket](https://git

[2022-10-10 09:27] christyjacob4 opened #4357 "💄 Add Code Linter To ‘utopia-php/orchestration’"
# 💭 Introduction

Linter is one of the most valuable tools in the open source world. It not only ensures every developer contributes the code with the same style but also allows CI/CD to ensure this. Having a linter set up should be a high priority for every project as it makes source code more readable for future contributors.

Your task is to update our library [utopia-php/orchestration](https:/

[2022-10-10 09:28] christyjacob4 opened #4358 "💄 Add Code Linter To ‘utopia-php/messaging’"
# 💭 Introduction

Linter is one of the most valuable tools in the open source world. It not only ensures every developer contributes the code with the same style but also allows CI/CD to ensure this. Having a linter set up should be a high priority for every project as it makes source code more readable for future contributors.

Your task is to update our library [utopia-php/messaging](https://git

[2022-10-10 09:28] christyjacob4 opened #4359 "💄 Add Code Linter To ‘utopia-php/abuse’"
# 💭 Introduction

Linter is one of the most valuable tools in the open source world. It not only ensures every developer contributes the code with the same style but also allows CI/CD to ensure this. Having a linter set up should be a high priority for every project as it makes source code more readable for future contributors.

Your task is to update our library [utopia-php/abuse](https://github.

[2022-10-10 09:28] christyjacob4 opened #4360 "💄 Add Code Linter To ‘utopia-php/logger’"
# 💭 Introduction

Linter is one of the most valuable tools in the open source world. It not only ensures every developer contributes the code with the same style but also allows CI/CD to ensure this. Having a linter set up should be a high priority for every project as it makes source code more readable for future contributors.

Your task is to update our library [utopia-php/logger](https://github

[2022-10-10 09:28] christyjacob4 opened #4361 "💄 Add Code Linter To ‘utopia-php/pay’"
# 💭 Introduction

Linter is one of the most valuable tools in the open source world. It not only ensures every developer contributes the code with the same style but also allows CI/CD to ensure this. Having a linter set up should be a high priority for every project as it makes source code more readable for future contributors.

Your task is to update our library [utopia-php/pay](https://github.co

[2022-10-10 09:28] christyjacob4 opened #4362 "💄 Add Code Linter To ‘utopia-php/platform’"
# 💭 Introduction

Linter is one of the most valuable tools in the open source world. It not only ensures every developer contributes the code with the same style but also allows CI/CD to ensure this. Having a linter set up should be a high priority for every project as it makes source code more readable for future contributors.

Your task is to update our library [utopia-php/platform](https://gith

[2022-10-10 09:28] christyjacob4 opened #4363 "💄 Add Code Linter To ‘utopia-php/locale’"
# 💭 Introduction

Linter is one of the most valuable tools in the open source world. It not only ensures every developer contributes the code with the same style but also allows CI/CD to ensure this. Having a linter set up should be a high priority for every project as it makes source code more readable for future contributors.

Your task is to update our library [utopia-php/locale](https://github

[2022-10-10 09:28] christyjacob4 opened #4364 "💄 Add Code Linter To ‘utopia-php/cli’"
# 💭 Introduction

Linter is one of the most valuable tools in the open source world. It not only ensures every developer contributes the code with the same style but also allows CI/CD to ensure this. Having a linter set up should be a high priority for every project as it makes source code more readable for future contributors.

Your task is to update our library [utopia-php/cli](https://github.co

[2022-10-10 09:28] christyjacob4 opened #4365 "💄 Add Code Linter To ‘utopia-php/registry’"
# 💭 Introduction

Linter is one of the most valuable tools in the open source world. It not only ensures every developer contributes the code with the same style but also allows CI/CD to ensure this. Having a linter set up should be a high priority for every project as it makes source code more readable for future contributors.

Your task is to update our library [utopia-php/registry](https://gith

[2022-10-10 09:28] christyjacob4 opened #4366 "💄 Add Code Linter To ‘utopia-php/audit’"
# 💭 Introduction

Linter is one of the most valuable tools in the open source world. It not only ensures every developer contributes the code with the same style but also allows CI/CD to ensure this. Having a linter set up should be a high priority for every project as it makes source code more readable for future contributors.

Your task is to update our library [utopia-php/audit](https://github.

[2022-10-10 09:28] christyjacob4 opened #4367 "💄 Add Code Linter To ‘utopia-php/domains’"
# 💭 Introduction

Linter is one of the most valuable tools in the open source world. It not only ensures every developer contributes the code with the same style but also allows CI/CD to ensure this. Having a linter set up should be a high priority for every project as it makes source code more readable for future contributors.

Your task is to update our library [utopia-php/domains](https://githu

[2022-10-10 09:28] christyjacob4 opened #4368 "💄 Add Code Linter To ‘utopia-php/config’"
# 💭 Introduction

Linter is one of the most valuable tools in the open source world. It not only ensures every developer contributes the code with the same style but also allows CI/CD to ensure this. Having a linter set up should be a high priority for every project as it makes source code more readable for future contributors.

Your task is to update our library [utopia-php/config](https://github

[2022-10-10 09:28] christyjacob4 opened #4369 "💄 Add Code Linter To ‘utopia-php/preloader’"
# 💭 Introduction

Linter is one of the most valuable tools in the open source world. It not only ensures every developer contributes the code with the same style but also allows CI/CD to ensure this. Having a linter set up should be a high priority for every project as it makes source code more readable for future contributors.

Your task is to update our library [utopia-php/preloader](https://git

[2022-10-10 09:28] christyjacob4 opened #4370 "🔎 Add Code Analyzer To ‘utopia-php/framework’"
# 💭 Introduction

Code analyzer is one of the most valuable tools in the open source world. It not only ensures every high quality of the code but also allows CI/CD to ensure this. A code analyzer can find a potential bug, unexpected null value, or type mismatch. Having a code analyzer set up should be a high priority for every project as it makes the project more stable and bug-proof.

Your task

[2022-10-10 09:28] christyjacob4 opened #4371 "🔎 Add Code Analyzer To ‘utopia-php/cache’"
# 💭 Introduction

Code analyzer is one of the most valuable tools in the open source world. It not only ensures every high quality of the code but also allows CI/CD to ensure this. A code analyzer can find a potential bug, unexpected null value, or type mismatch. Having a code analyzer set up should be a high priority for every project as it makes the project more stable and bug-proof.

Your task

[2022-10-10 09:28] christyjacob4 opened #4372 "🔎 Add Code Analyzer To ‘utopia-php/swoole’"
# 💭 Introduction

Code analyzer is one of the most valuable tools in the open source world. It not only ensures every high quality of the code but also allows CI/CD to ensure this. A code analyzer can find a potential bug, unexpected null value, or type mismatch. Having a code analyzer set up should be a high priority for every project as it makes the project more stable and bug-proof.

Your task

[2022-10-10 09:28] christyjacob4 opened #4373 "🔎 Add Code Analyzer To ‘utopia-php/system’"
# 💭 Introduction

Code analyzer is one of the most valuable tools in the open source world. It not only ensures every high quality of the code but also allows CI/CD to ensure this. A code analyzer can find a potential bug, unexpected null value, or type mismatch. Having a code analyzer set up should be a high priority for every project as it makes the project more stable and bug-proof.

Your task

[2022-10-10 09:28] christyjacob4 opened #4374 "🔎 Add Code Analyzer To ‘utopia-php/storage’"
# 💭 Introduction

Code analyzer is one of the most valuable tools in the open source world. It not only ensures every high quality of the code but also allows CI/CD to ensure this. A code analyzer can find a potential bug, unexpected null value, or type mismatch. Having a code analyzer set up should be a high priority for every project as it makes the project more stable and bug-proof.

Your task

[2022-10-10 09:28] christyjacob4 opened #4375 "🔎 Add Code Analyzer To ‘utopia-php/database’"
# 💭 Introduction

Code analyzer is one of the most valuable tools in the open source world. It not only ensures every high quality of the code but also allows CI/CD to ensure this. A code analyzer can find a potential bug, unexpected null value, or type mismatch. Having a code analyzer set up should be a high priority for every project as it makes the project more stable and bug-proof.

Your task

[2022-10-10 09:28] christyjacob4 opened #4376 "🔎 Add Code Analyzer To ‘utopia-php/analytics’"
# 💭 Introduction

Code analyzer is one of the most valuable tools in the open source world. It not only ensures every high quality of the code but also allows CI/CD to ensure this. A code analyzer can find a potential bug, unexpected null value, or type mismatch. Having a code analyzer set up should be a high priority for every project as it makes the project more stable and bug-proof.

Your task

[2022-10-10 09:29] christyjacob4 opened #4377 "🔎 Add Code Analyzer To ‘utopia-php/image’"
# 💭 Introduction

Code analyzer is one of the most valuable tools in the open source world. It not only ensures every high quality of the code but also allows CI/CD to ensure this. A code analyzer can find a potential bug, unexpected null value, or type mismatch. Having a code analyzer set up should be a high priority for every project as it makes the project more stable and bug-proof.

Your task

[2022-10-10 09:29] christyjacob4 opened #4378 "🔎 Add Code Analyzer To ‘utopia-php/demo’"
# 💭 Introduction

Code analyzer is one of the most valuable tools in the open source world. It not only ensures every high quality of the code but also allows CI/CD to ensure this. A code analyzer can find a potential bug, unexpected null value, or type mismatch. Having a code analyzer set up should be a high priority for every project as it makes the project more stable and bug-proof.

Your task

[2022-10-10 09:29] christyjacob4 opened #4379 "🔎 Add Code Analyzer To ‘utopia-php/websocket’"
# 💭 Introduction

Code analyzer is one of the most valuable tools in the open source world. It not only ensures every high quality of the code but also allows CI/CD to ensure this. A code analyzer can find a potential bug, unexpected null value, or type mismatch. Having a code analyzer set up should be a high priority for every project as it makes the project more stable and bug-proof.

Your task

[2022-10-10 09:29] christyjacob4 opened #4380 "🔎 Add Code Analyzer To ‘utopia-php/orchestration’"
# 💭 Introduction

Code analyzer is one of the most valuable tools in the open source world. It not only ensures every high quality of the code but also allows CI/CD to ensure this. A code analyzer can find a potential bug, unexpected null value, or type mismatch. Having a code analyzer set up should be a high priority for every project as it makes the project more stable and bug-proof.

Your task

[2022-10-10 09:29] christyjacob4 opened #4381 "🔎 Add Code Analyzer To ‘utopia-php/messaging’"
# 💭 Introduction

Code analyzer is one of the most valuable tools in the open source world. It not only ensures every high quality of the code but also allows CI/CD to ensure this. A code analyzer can find a potential bug, unexpected null value, or type mismatch. Having a code analyzer set up should be a high priority for every project as it makes the project more stable and bug-proof.

Your task

[2022-10-10 09:29] christyjacob4 opened #4382 "🔎 Add Code Analyzer To ‘utopia-php/abuse’"
# 💭 Introduction

Code analyzer is one of the most valuable tools in the open source world. It not only ensures every high quality of the code but also allows CI/CD to ensure this. A code analyzer can find a potential bug, unexpected null value, or type mismatch. Having a code analyzer set up should be a high priority for every project as it makes the project more stable and bug-proof.

Your task

[2022-10-10 09:29] christyjacob4 opened #4383 "🔎 Add Code Analyzer To ‘utopia-php/logger’"
# 💭 Introduction

Code analyzer is one of the most valuable tools in the open source world. It not only ensures every high quality of the code but also allows CI/CD to ensure this. A code analyzer can find a potential bug, unexpected null value, or type mismatch. Having a code analyzer set up should be a high priority for every project as it makes the project more stable and bug-proof.

Your task

[2022-10-10 09:29] christyjacob4 opened #4384 "🔎 Add Code Analyzer To ‘utopia-php/pay’"
# 💭 Introduction

Code analyzer is one of the most valuable tools in the open source world. It not only ensures every high quality of the code but also allows CI/CD to ensure this. A code analyzer can find a potential bug, unexpected null value, or type mismatch. Having a code analyzer set up should be a high priority for every project as it makes the project more stable and bug-proof.

Your task

[2022-10-10 09:29] christyjacob4 opened #4385 "🔎 Add Code Analyzer To ‘utopia-php/platform’"
# 💭 Introduction

Code analyzer is one of the most valuable tools in the open source world. It not only ensures every high quality of the code but also allows CI/CD to ensure this. A code analyzer can find a potential bug, unexpected null value, or type mismatch. Having a code analyzer set up should be a high priority for every project as it makes the project more stable and bug-proof.

Your task

[2022-10-10 09:29] christyjacob4 opened #4386 "🔎 Add Code Analyzer To ‘utopia-php/locale’"
# 💭 Introduction

Code analyzer is one of the most valuable tools in the open source world. It not only ensures every high quality of the code but also allows CI/CD to ensure this. A code analyzer can find a potential bug, unexpected null value, or type mismatch. Having a code analyzer set up should be a high priority for every project as it makes the project more stable and bug-proof.

Your task

[2022-10-10 09:29] christyjacob4 opened #4387 "🔎 Add Code Analyzer To ‘utopia-php/cli’"
# 💭 Introduction

Code analyzer is one of the most valuable tools in the open source world. It not only ensures every high quality of the code but also allows CI/CD to ensure this. A code analyzer can find a potential bug, unexpected null value, or type mismatch. Having a code analyzer set up should be a high priority for every project as it makes the project more stable and bug-proof.

Your task

[2022-10-10 09:29] christyjacob4 opened #4388 "🔎 Add Code Analyzer To ‘utopia-php/registry’"
# 💭 Introduction

Code analyzer is one of the most valuable tools in the open source world. It not only ensures every high quality of the code but also allows CI/CD to ensure this. A code analyzer can find a potential bug, unexpected null value, or type mismatch. Having a code analyzer set up should be a high priority for every project as it makes the project more stable and bug-proof.

Your task

[2022-10-10 09:29] christyjacob4 opened #4389 "🔎 Add Code Analyzer To ‘utopia-php/audit’"
# 💭 Introduction

Code analyzer is one of the most valuable tools in the open source world. It not only ensures every high quality of the code but also allows CI/CD to ensure this. A code analyzer can find a potential bug, unexpected null value, or type mismatch. Having a code analyzer set up should be a high priority for every project as it makes the project more stable and bug-proof.

Your task

[2022-10-10 09:29] christyjacob4 opened #4390 "🔎 Add Code Analyzer To ‘utopia-php/domains’"
# 💭 Introduction

Code analyzer is one of the most valuable tools in the open source world. It not only ensures every high quality of the code but also allows CI/CD to ensure this. A code analyzer can find a potential bug, unexpected null value, or type mismatch. Having a code analyzer set up should be a high priority for every project as it makes the project more stable and bug-proof.

Your task

[2022-10-10 09:29] christyjacob4 opened #4391 "🔎 Add Code Analyzer To ‘utopia-php/config’"
# 💭 Introduction

Code analyzer is one of the most valuable tools in the open source world. It not only ensures every high quality of the code but also allows CI/CD to ensure this. A code analyzer can find a potential bug, unexpected null value, or type mismatch. Having a code analyzer set up should be a high priority for every project as it makes the project more stable and bug-proof.

Your task

[2022-10-10 09:29] christyjacob4 opened #4392 "🔎 Add Code Analyzer To ‘utopia-php/preloader’"
# 💭 Introduction

Code analyzer is one of the most valuable tools in the open source world. It not only ensures every high quality of the code but also allows CI/CD to ensure this. A code analyzer can find a potential bug, unexpected null value, or type mismatch. Having a code analyzer set up should be a high priority for every project as it makes the project more stable and bug-proof.

Your task

[2022-10-10 09:29] christyjacob4 opened #4393 "🤝 Update Authors in ‘utopia-php/framework’"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to remove all authors from our libraries. This will display that all of our open source work is a collective effort by the Appwrite team and community. Individual credits make no sense!

Your task is to update our library [utopia-php/framework](https://github.com/utopia-php/framework) and remove all ment

[2022-10-10 09:29] christyjacob4 opened #4394 "🤝 Update Authors in ‘utopia-php/cache’"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to remove all authors from our libraries. This will display that all of our open source work is a collective effort by the Appwrite team and community. Individual credits make no sense!

Your task is to update our library [utopia-php/cache](https://github.com/utopia-php/cache) and remove all mentions of

[2022-10-10 09:29] christyjacob4 opened #4395 "🤝 Update Authors in ‘utopia-php/preloader’"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to remove all authors from our libraries. This will display that all of our open source work is a collective effort by the Appwrite team and community. Individual credits make no sense!

Your task is to update our library [utopia-php/preloader](https://github.com/utopia-php/preloader) and remove all ment

[2022-10-10 09:30] christyjacob4 opened #4396 "🤝 Update Authors in ‘utopia-php/swoole’"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to remove all authors from our libraries. This will display that all of our open source work is a collective effort by the Appwrite team and community. Individual credits make no sense!

Your task is to update our library [utopia-php/swoole](https://github.com/utopia-php/swoole) and remove all mentions o

[2022-10-10 09:30] christyjacob4 opened #4397 "🤝 Update Authors in ‘utopia-php/system’"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to remove all authors from our libraries. This will display that all of our open source work is a collective effort by the Appwrite team and community. Individual credits make no sense!

Your task is to update our library [utopia-php/system](https://github.com/utopia-php/system) and remove all mentions o

[2022-10-10 09:30] christyjacob4 opened #4398 "🤝 Update Authors in ‘utopia-php/storage’"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to remove all authors from our libraries. This will display that all of our open source work is a collective effort by the Appwrite team and community. Individual credits make no sense!

Your task is to update our library [utopia-php/storage](https://github.com/utopia-php/storage) and remove all mentions

[2022-10-10 09:30] christyjacob4 opened #4399 "🤝 Update Authors in ‘utopia-php/database’"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to remove all authors from our libraries. This will display that all of our open source work is a collective effort by the Appwrite team and community. Individual credits make no sense!

Your task is to update our library [utopia-php/database](https://github.com/utopia-php/database) and remove all mentio

[2022-10-10 09:30] christyjacob4 opened #4400 "🤝 Update Authors in ‘utopia-php/analytics’"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to remove all authors from our libraries. This will display that all of our open source work is a collective effort by the Appwrite team and community. Individual credits make no sense!

Your task is to update our library [utopia-php/analytics](https://github.com/utopia-php/analytics) and remove all ment

[2022-10-10 09:30] christyjacob4 opened #4401 "🤝 Update Authors in ‘utopia-php/image’"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to remove all authors from our libraries. This will display that all of our open source work is a collective effort by the Appwrite team and community. Individual credits make no sense!

Your task is to update our library [utopia-php/image](https://github.com/utopia-php/image) and remove all mentions of

[2022-10-10 09:30] christyjacob4 opened #4402 "🤝 Update Authors in ‘utopia-php/demo’"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to remove all authors from our libraries. This will display that all of our open source work is a collective effort by the Appwrite team and community. Individual credits make no sense!

Your task is to update our library [utopia-php/demo](https://github.com/utopia-php/demo) and remove all mentions of au

[2022-10-10 09:30] christyjacob4 opened #4403 "🤝 Update Authors in ‘utopia-php/websocket’"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to remove all authors from our libraries. This will display that all of our open source work is a collective effort by the Appwrite team and community. Individual credits make no sense!

Your task is to update our library [utopia-php/websocket](https://github.com/utopia-php/websocket) and remove all ment

[2022-10-10 09:30] christyjacob4 opened #4404 "🤝 Update Authors in ‘utopia-php/orchestration’"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to remove all authors from our libraries. This will display that all of our open source work is a collective effort by the Appwrite team and community. Individual credits make no sense!

Your task is to update our library [utopia-php/orchestration](https://github.com/utopia-php/orchestration) and remove

[2022-10-10 09:30] christyjacob4 opened #4405 "🤝 Update Authors in ‘utopia-php/abuse’"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to remove all authors from our libraries. This will display that all of our open source work is a collective effort by the Appwrite team and community. Individual credits make no sense!

Your task is to update our library [utopia-php/abuse](https://github.com/utopia-php/abuse) and remove all mentions of

[2022-10-10 09:30] christyjacob4 opened #4406 "🤝 Update Authors in ‘utopia-php/messaging’"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to remove all authors from our libraries. This will display that all of our open source work is a collective effort by the Appwrite team and community. Individual credits make no sense!

Your task is to update our library [utopia-php/messaging](https://github.com/utopia-php/messaging) and remove all ment

[2022-10-10 09:30] christyjacob4 opened #4407 "🤝 Update Authors in ‘utopia-php/logger’"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to remove all authors from our libraries. This will display that all of our open source work is a collective effort by the Appwrite team and community. Individual credits make no sense!

Your task is to update our library [utopia-php/logger](https://github.com/utopia-php/logger) and remove all mentions o

[2022-10-10 09:30] christyjacob4 opened #4408 "🤝 Update Authors in ‘utopia-php/pay’"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to remove all authors from our libraries. This will display that all of our open source work is a collective effort by the Appwrite team and community. Individual credits make no sense!

Your task is to update our library [utopia-php/pay](https://github.com/utopia-php/pay) and remove all mentions of auth

[2022-10-10 09:30] christyjacob4 opened #4409 "🤝 Update Authors in ‘utopia-php/platform’"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to remove all authors from our libraries. This will display that all of our open source work is a collective effort by the Appwrite team and community. Individual credits make no sense!

Your task is to update our library [utopia-php/platform](https://github.com/utopia-php/platform) and remove all mentio

[2022-10-10 09:30] christyjacob4 opened #4410 "🤝 Update Authors in ‘utopia-php/locale’"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to remove all authors from our libraries. This will display that all of our open source work is a collective effort by the Appwrite team and community. Individual credits make no sense!

Your task is to update our library [utopia-php/locale](https://github.com/utopia-php/locale) and remove all mentions o

[2022-10-10 09:30] christyjacob4 opened #4411 "🤝 Update Authors in ‘utopia-php/cli’"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to remove all authors from our libraries. This will display that all of our open source work is a collective effort by the Appwrite team and community. Individual credits make no sense!

Your task is to update our library [utopia-php/cli](https://github.com/utopia-php/cli) and remove all mentions of auth

[2022-10-10 09:30] christyjacob4 opened #4412 "🤝 Update Authors in ‘utopia-php/ab’"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to remove all authors from our libraries. This will display that all of our open source work is a collective effort by the Appwrite team and community. Individual credits make no sense!

Your task is to update our library [utopia-php/ab](https://github.com/utopia-php/ab) and remove all mentions of author

[2022-10-10 09:30] christyjacob4 opened #4413 "🤝 Update Authors in ‘utopia-php/registry’"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to remove all authors from our libraries. This will display that all of our open source work is a collective effort by the Appwrite team and community. Individual credits make no sense!

Your task is to update our library [utopia-php/registry](https://github.com/utopia-php/registry) and remove all mentio

[2022-10-10 09:30] christyjacob4 opened #4414 "🤝 Update Authors in ‘utopia-php/audit’"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to remove all authors from our libraries. This will display that all of our open source work is a collective effort by the Appwrite team and community. Individual credits make no sense!

Your task is to update our library [utopia-php/audit](https://github.com/utopia-php/audit) and remove all mentions of

[2022-10-10 09:31] christyjacob4 opened #4415 "🤝 Update Authors in ‘utopia-php/domains’"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to remove all authors from our libraries. This will display that all of our open source work is a collective effort by the Appwrite team and community. Individual credits make no sense!

Your task is to update our library [utopia-php/domains](https://github.com/utopia-php/domains) and remove all mentions

[2022-10-10 09:31] christyjacob4 opened #4416 "🤝 Update Authors in ‘utopia-php/config’"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to remove all authors from our libraries. This will display that all of our open source work is a collective effort by the Appwrite team and community. Individual credits make no sense!

Your task is to update our library [utopia-php/config](https://github.com/utopia-php/config) and remove all mentions o

[2022-10-10 09:37] maxslimb commented on #4416
Hey, I'll do this task

[2022-10-10 09:39] maxslimb commented on #4392
Hey, Can I work on this issue?

[2022-10-10 09:41] Meldiron commented on #4416
@maxslimb , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-10 09:41] Meldiron commented on #4392
@maxslimb , thanks for your interest! 🙏 Happy hacking! 🎃

I just assigned you 2 issues in total, let's work on those before requesting more. Thanks 😇

[2022-10-10 09:42] Meldiron commented on #4409
@omjikush09 , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-10 09:42] 2002Bishwajeet commented on #4403
Can I work on this issue?

[2022-10-10 09:44] Meldiron commented on #4403
@2002Bishwajeet Sure thing! 😎 Happy Hacking 🎃

[2022-10-10 09:44] DonBarbaro commented on #4406
Hi, can u assign it to me? I can work on this

[2022-10-10 09:47] omjikush09 commented on #4398
Hi, Can I work on this?

[2022-10-10 09:47] Aishubalaji commented on #4415
Hey, assign me this issue.

[2022-10-10 09:47] Ananthavijay commented on #4413
Can I work on this issue?

[2022-10-10 09:49] Aishubalaji commented on #4414
Hey, assign me this issue.

[2022-10-10 09:50] Aishubalaji commented on #4412
hey, can i take this issue.

[2022-10-10 09:51] Aishubalaji commented on #4410
hey, can i take this issue.

[2022-10-10 09:51] Aishubalaji commented on #4408
hey, can i take this issue.

[2022-10-10 09:53] Meldiron commented on #4406
@DonBarbaro , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-10 09:54] Tiansing commented on #4405
I can do this task please assign me and send the details

[2022-10-10 09:54] Meldiron commented on #4398
@omjikush09 , looks like you have some issues assigned to you already. We request you to complete those before requesting assignments on new ones. Also, please consider picking a different type of issue so other contributors can try this one.

[2022-10-10 09:54] Meldiron commented on #4415
@Aishubalaji , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-10 09:55] Tiansing commented on #4402
Can you assign me to do this task and kindly send the details

[2022-10-10 09:56] Meldiron commented on #4413
@Ananthavijay , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-10 09:56] Meldiron commented on #4414
@Aishubalaji , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-10 09:56] Meldiron commented on #4412
@Aishubalaji , looks like you have some issues assigned to you already. We request you to complete those before requesting assignments on new ones. Also, please consider picking a different type of issue so other contributors can try this one.

[2022-10-10 09:56] Meldiron commented on #4410
@Aishubalaji , looks like you have some issues assigned to you already. We request you to complete those before requesting assignments on new ones. Also, please consider picking a different type of issue so other contributors can try this one.

[2022-10-10 09:57] Meldiron commented on #4408
@Aishubalaji , looks like you have some issues assigned to you already. We request you to complete those before requesting assignments on new ones. Also, please consider picking a different type of issue so other contributors can try this one.

[2022-10-10 09:57] Meldiron commented on #4407
@Aishubalaji , looks like you have some issues assigned to you already. We request you to complete those before requesting assignments on new ones. Also, please consider picking a different type of issue so other contributors can try this one.

[2022-10-10 09:57] Meldiron commented on #4402
@Tiansing , thanks for your interest! 🙏 Happy hacking! 🎃

All details should be mentioned in the issue description. If you have any further questions, don't hesitate to ask 😇

[2022-10-10 10:00] Tiansing commented on #4401
please assign me to do this task

[2022-10-10 10:04] Meldiron commented on #4401
@Tiansing , looks like you have some issues assigned to you already. We request you to complete those before requesting assignments on new ones. Also, please consider picking a different type of issue so other contributors can try this one.

[2022-10-10 10:06] StarTrooper08 commented on #4411
can I work on this issue?

[2022-10-10 10:09] nooras commented on #4405
Interested :) Please assign me @Meldiron @christyjacob4

[2022-10-10 10:18] Meldiron commented on #4405
@nooras , we're assigning people on a first come first serve basis. If @Tiansing  isn't able to complete this issue, we'll reassign accordingly. In the meantime, you can find another hacktoberfest issue via our [website](https://hacktoberfest.appwrite.io/).

[2022-10-10 10:24] StarTrooper08 commented on #4411
1. Authors in readme file of utopia-php/cli
![image](https://user-images.githubusercontent.com/72031540/194845357-72a12c8a-59c6-4601-80a4-d4efbd021562.png)

2. composer.json file

![image](https://user-images.githubusercontent.com/72031540/194845484-1813edad-b49d-4b06-8e53-404cee165d7e.png)

should I remove email of the author too from composer.json file?

[2022-10-10 10:25] maxslimb commented on #4416
Hey, I have put a pull Request - https://github.com/utopia-php/config/pull/8
Please Review 🙏

[2022-10-10 10:29] Meldiron commented on #4411
@StarTrooper08 That is correct, please remove authors array from `composer.json`, and the whole Authors section from the README.

[2022-10-10 10:29] omjikush09 commented on #4409
@Meldiron  Created pull request https://github.com/utopia-php/platform/pull/2 . Please review...... 😊😊

[2022-10-10 10:29] nooras commented on #4412
Hi can you please assign it to me if no one is working on it ? @Meldiron

[2022-10-10 10:29] Meldiron commented on #4411
No need to be scared, I will review the PR once you submit it and guide you if there is anything wrong 😇

[2022-10-10 10:34] rohitkori commented on #4412
@Meldiron can you assign it to me ?

[2022-10-10 10:35] rohitkori commented on #4410
@Meldiron can you assign it to me?

[2022-10-10 10:36] rohitkori commented on #4408
@Meldiron can you assign it to me please?

[2022-10-10 10:36] rohitkori commented on #4407
@Meldiron can you assign it to me please?

[2022-10-10 10:37] rohitkori commented on #4404
can you assign it to me please?

[2022-10-10 10:38] rohitkori commented on #4400
@christyjacob4 can you assign it to me?

[2022-10-10 10:38] rohitkori commented on #4399
@christyjacob4 can you please assign it to me?

[2022-10-10 10:54] aadityaagrawal commented on #4398
Hi, can you please assign it to me?

[2022-10-10 10:55] aadityaagrawal commented on #4397
Hi, can you please assign it to me?

[2022-10-10 10:55] aadityaagrawal commented on #4394
Hi, can you please assign it to me?

[2022-10-10 10:59] aadityaagrawal commented on #4412
Hi, can you please assign it to me?

[2022-10-10 10:59] aadityaagrawal commented on #4396
Hi, can you please assign it to me?

[2022-10-10 11:00] aadityaagrawal commented on #4393
Hi, can you please assign it to me?

[2022-10-10 11:02] omjikush09 commented on #4398
Hi, @Meldiron  Can now I work on this..? I have created PR for my previous assigned issue.  Ya, I want to take other issues but I don't know PHP. So I can't work 🥲🥲 on them.

[2022-10-10 11:11] StarTrooper08 commented on #4411
ok, thanks @Meldiron :+1:

[2022-10-10 11:14] Meldiron commented on #4410
@rohitkori , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-10 11:14] Meldiron commented on #4408
@rohitkori , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-10 11:14] Meldiron commented on #4407
@rohitkori , looks like you have some issues assigned to you already. We request you to complete those before requesting assignments on new ones. Also, please consider picking a different type of issue so other contributors can try this one.

[2022-10-10 11:14] Meldiron commented on #4404
@rohitkori , looks like you have some issues assigned to you already. We request you to complete those before requesting assignments on new ones. Also, please consider picking a different type of issue so other contributors can try this one.

[2022-10-10 11:15] Meldiron commented on #4404
@diamant3 , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-10 11:15] Meldiron commented on #4399
@rohitkori , looks like you have some issues assigned to you already. We request you to complete those before requesting assignments on new ones. Also, please consider picking a different type of issue so other contributors can try this one.

[2022-10-10 11:15] Meldiron commented on #4397
@aadityaagrawal , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-10 11:16] Meldiron commented on #4394
@aadityaagrawal , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-10 11:16] Meldiron commented on #4412
@rohitkori and @aadityaagrawal  , looks like you have some issues assigned to you already. We request you to complete those before requesting assignments on new ones. Also, please consider picking a different type of issue so other contributors can try this one.

[2022-10-10 11:17] Meldiron commented on #4396
@aadityaagrawal , looks like you have some issues assigned to you already. We request you to complete those before requesting assignments on new ones. Also, please consider picking a different type of issue so other contributors can try this one.

[2022-10-10 11:17] Meldiron commented on #4393
@aadityaagrawal , looks like you have some issues assigned to you already. We request you to complete those before requesting assignments on new ones. Also, please consider picking a different type of issue so other contributors can try this one.

[2022-10-10 11:17] Meldiron commented on #4398
@aadityaagrawal , looks like you have some issues assigned to you already. We request you to complete those before requesting assignments on new ones. Also, please consider picking a different type of issue so other contributors can try this one.

[2022-10-10 11:26] samarth2812 commented on #4407
Hi, Can you please assign this to me?

[2022-10-10 11:26] samarth2812 commented on #4401
Hi, Can you please assign this to me?

[2022-10-10 11:27] samarth2812 commented on #4400
Hi, Can you please assign this to me?

[2022-10-10 11:27] samarth2812 commented on #4398
Hi, Can you please assign this to me?

[2022-10-10 11:27] Meldiron commented on #4407
@samarth2812 , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-10 11:28] Meldiron commented on #4401
@samarth2812 I have assigned you an issue of this type already. I would love it if you look at different types of issues as well. You can learn more on out [website](https://hacktoberfest.appwrite.io/).

[2022-10-10 11:28] Meldiron commented on #4395
@samarth2812 I have assigned you an issue of this type already. I would love it if you look at different types of issues as well. You can learn more on out [website](https://hacktoberfest.appwrite.io/).

[2022-10-10 11:29] Meldiron commented on #4398
@samarth2812 I have assigned you an issue of this type already. I would love it if you look at different types of issues as well. You can learn more on out [website](https://hacktoberfest.appwrite.io/).

[2022-10-10 11:29] Meldiron commented on #4396
@35C4n0r , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-10 11:38] abhishekdd commented on #4398
@Meldiron , could you please assign this to me?

[2022-10-10 11:39] abhishekdd commented on #4374
@christyjacob4 , could you please assign this to me?

[2022-10-10 11:39] StarTrooper08 commented on #4411
:heavy_check_mark:   Done

[2022-10-10 11:40] abhishekdd commented on #4351
@christyjacob4 , could you please assign this to me?

[2022-10-10 11:45] aadityaagrawal commented on #4397
I created a PR please check.

[2022-10-10 11:45] StarTrooper08 commented on #4387
Hello Christy, I would love to work on this issue!

I've been assigned one issue. I have completed that task.
Can I work on this issue?

[2022-10-10 11:57] Aadeesh11 commented on #4393
I would like to work on this issue, can you assign this to me?

[2022-10-10 11:59] Tiansing commented on #4402
Already submitted a PR https://github.com/utopia-php/demo/pull/10#issue-1403036760

[2022-10-10 12:00] Tiansing commented on #4401
@Meldiron Can I take this task now? I already done updating the previous assignment. Thank you!

[2022-10-10 12:03] aadityaagrawal commented on #4394
Hi @Meldiron, I have created a PR please check.

[2022-10-10 12:14] aaryan2134 commented on #4400
Can I be please assigned this issue?

[2022-10-10 12:14] aaryan2134 commented on #4399
Can I be please assigned this issue?

[2022-10-10 12:15] aaryan2134 commented on #4398
Can I be please assigned this issue?

[2022-10-10 12:15] aaryan2134 commented on #4395
Can I please be assigned this issue?

[2022-10-10 12:29] Sanket1308 commented on #4401
Kindly assign me this issue. I would like to work on this.🚀

[2022-10-10 12:31] Sanket1308 commented on #4395
Kindly assign me this issue. I would like to work on this. I'm not working on any issue in this repository🚀

[2022-10-10 12:35] Ambareen09 commented on #4401
Hey! I'd be interested in this issue! Kindly assign me this.

[2022-10-10 12:35] KingFire25 commented on #4092
Sorry to say this but I would like this issue to be reassigned to somenody else as I am unable to do this even after many tries.

[2022-10-10 12:35] Ambareen09 commented on #4395
Hey! Can you please assign me this issue.

[2022-10-10 12:46] aaryan2134 commented on #4401
Can I be please assigned this issue?

[2022-10-10 12:46] aaryan2134 commented on #4395
Can I be please assigned this issue?

[2022-10-10 12:46] aaryan2134 commented on #4393
Can I be please assigned this issue?

[2022-10-10 12:51] aaheli8 commented on #4400
Can you please assign me this issue

[2022-10-10 13:09] alrz1999 commented on #4370
Hey, Can I work on this issue?

[2022-10-10 13:31] maxslimb commented on #4399
@Meldiron can I work on this, please?

[2022-10-10 13:33] maxslimb commented on #4366
Can I work on this?

[2022-10-10 13:33] maxslimb commented on #4381
Can I work on this?

[2022-10-10 13:40] Aadeesh11 commented on #4391
Hi, can I be assigned to this issue?

[2022-10-10 13:41] RedHeadphone commented on #4128
Hey I am getting an error while getting all files in bucket
[code]
the API key has all the scopes yet I am getting error, can you help me with it?

[2022-10-10 14:21] shtelzerartem commented on #4371
I would like to work on this issue! :D

[2022-10-10 14:26] aaryan2134 commented on #4369
Please assign me this issue

[2022-10-10 14:29] Yashsomalkar commented on #4398
@Meldiron
Can this be assigned to me?

[2022-10-10 14:32] Yashsomalkar commented on #4399
@Meldiron
Can this be assigned to me?

[2022-10-10 14:34] Yashsomalkar commented on #4393
@Meldiron
Can this be assigned to me?

[2022-10-10 14:48] shtelzerartem commented on #4348
I would also like to work on this issue! :)

[2022-10-10 15:06] Yashsomalkar commented on #4400
@Meldiron  can i work for this issue ?

[2022-10-10 15:08] aaryan2134 commented on #4368
Please assign me this issue

[2022-10-10 15:08] aaryan2134 commented on #4367
Please assign me this issue

[2022-10-10 15:08] aaryan2134 commented on #4365
Please assign me this issue

[2022-10-10 15:08] aaryan2134 commented on #4360
Please assign me this issue

[2022-10-10 15:09] aaryan2134 commented on #4390
I would like to work on this issue. Please assign it to me

[2022-10-10 15:10] aaryan2134 commented on #4377
I would like to work on this issue. Please assign it to me

[2022-10-10 15:10] aaryan2134 commented on #4378
I would like to work on this issue. Please assign it to me

[2022-10-10 15:10] aaryan2134 commented on #4354
I would like to work on this issue. Please assign it to me

[2022-10-10 15:10] aaryan2134 commented on #4355
I would like to work on this issue. Please assign it to me

[2022-10-10 15:11] aaryan2134 commented on #4361
I would like to work on this issue. Please assign it to me

[2022-10-10 15:12] SanjayDevTech commented on #4358
@christyjacob4 I would like to contribute to this issue 😄

[2022-10-10 15:31] acceptallcookies commented on #4111
Hey @stnguyen90, thanks for the patience on this. [Here's the PR ](https://github.com/open-runtimes/examples/pull/77) for this issue :).

[2022-10-10 15:47] SanjayDevTech commented on #4383
@christyjacob4 I would like to contribute to this issue

[2022-10-10 16:07] SanjayDevTech commented on #4383
@christyjacob4 please add `hacktoberfest` label to [utopia-php/logger](https://github.com/utopia-php/logger) repo.

[2022-10-10 17:13] mohakgupt commented on #4389
Can I be assigned this issue?

[2022-10-10 18:24] akarsh-jain-790 commented on #4401
Hey, Can you assign this issue to me?

[2022-10-10 18:39] vasucp1207 commented on #4364
Hey, I want to work on this issue.

[2022-10-10 18:57] akarsh-jain-790 commented on #4168
@the-kaushal-agrawal are you still working on it ? If not @PineappleIOnic can u assign this issue to me?

[2022-10-10 18:58] gaurav-iitb commented on #4393
please assign this to me

[2022-10-10 19:21] ronelgazar commented on #4388
Hi, I would love to work on this. Can you please assign it to me?

[2022-10-10 19:29] maxslimb commented on #4392
Hey, can you please review https://github.com/utopia-php/preloader/pull/8 🙏

[2022-10-10 19:31] adityaacse commented on #4401
Hey @christyjacob4, I want to work on this task. Can you assign this to me?

[2022-10-10 19:32] adityaacse commented on #4395
Hey @christyjacob4 , can you assign this to me?

[2022-10-10 20:27] rym-oualha commented on #4401
Is help still needed ? I can work on this task

[2022-10-10 20:28] rym-oualha commented on #4400
Can I still work on this ?

[2022-10-10 20:29] rym-oualha commented on #4399
Can I help with this issue ?

[2022-10-10 20:39] yaakov123 commented on #3623
This is, in my opinion, a pretty basic feature request. Currently, the recommended way to create documents is by using the SDK. The issue is, that it's considered very bad practice to allow a client to add "sensitive" information to a document. In my case, I'd like to create a messaging app where each message has a "user_id" property which I use to determine whether or not the current user is the

[2022-10-10 20:40] yaakov123 commented on #4345
Thanks! I'll do that.

[2022-10-10 20:40] #4345 closed

[2022-10-10 20:42] #3670 closed

[2022-10-11 00:15] Kunal-8789 commented on #4400
@Meldiron pls assign this issue to me. I am interested.

[2022-10-11 00:41] lucianosz7 commented on #4386
Hey, I can work in this issue ?

[2022-10-11 01:25] abnegate commented on #4401
As this is a first-come first-served issue, @Sanket1308 has been assigned. Thanks for the interest and happy hacking 🎃

[2022-10-11 01:27] abnegate commented on #4400
As  this is a first-come first-served issue, @aaryan2134  has been assigned. Thanks for the interest and happy hacking 🎃

[2022-10-11 01:29] abnegate commented on #4399
@samarth2812 @aaryan2134 @maxslimb It looks like you have some issues assigned to you already. We request you to complete those before requesting assignments on new ones. Also, please consider picking a different type of issue so other contributors can try this one.

[2022-10-11 01:30] abnegate commented on #4399
@Yashsomalkar Happy hacking 🎃

[2022-10-11 01:31] abnegate commented on #4398
@abhishekdd Thanks for your interest! Happy hacking 🎃

[2022-10-11 01:33] abnegate commented on #4395
@Ambareen09 Thanks for your interest! Happy hacking 🎃

[2022-10-11 01:34] abnegate commented on #4393
@Aadeesh11 Thanks for your interest! Happy hacking 🎃

[2022-10-11 02:17] aaheli8 commented on #4379
Can I be assigned this issue

[2022-10-11 02:18] aaheli8 commented on #4376
Can I be assigned this issue

[2022-10-11 02:25] SayuruRehan commented on #4385
Hey, can I be assigned to this?

[2022-10-11 02:48] curranConcepts commented on #4416
hey, I would like to be assigned to this issue.

[2022-10-11 03:02] Sanket1308 commented on #4401
Thank you so much for assigning me this issue, @abnegate. I'm starting to work on it🚀

[2022-10-11 03:05] aaryan2134 commented on #4400
Thank you. Will get it done soon

[2022-10-11 03:24] neelshah2409 commented on #4377
Hey, could you please assign me I would like to work on it.

[2022-10-11 03:24] neelshah2409 commented on #4367
Could you please assign me , I would like to work on it.

[2022-10-11 03:29] neelshah2409 commented on #4402
Could I work on it ??

[2022-10-11 03:46] Yashsomalkar commented on #4399
Thanks for assigning  I am working on it 😁. So happy to work with the org.

[2022-10-11 04:06] kunduarnab opened #4419 "🚀 Feature: Jump to a certain page in documents table"
### 🔖 Feature description

To navigate inside collection table we have click through all the way to the desired page. If there was an option to jump to a certain page, then that would be helpful when the database grows larger.

### 🎤 Pitch

In my case if I want to navigate to page number 113, then I have to click 113 times to reach the page.
![Capture](https://user-images.githubusercontent.com/960

[2022-10-11 05:02] Sin-Sumit commented on #4392
Hey @maxslimb how did you add the code analyzer? I need help

[2022-10-11 05:02] Sin-Sumit commented on #4384
Please assign me this issue.

[2022-10-11 05:03] Sin-Sumit commented on #4382
Please assign me this.

[2022-10-11 05:08] SayuruRehan commented on #4380
If this issue is still open, I would like to work on it!

[2022-10-11 06:06] om2137 commented on #4347
can i work on this issue?

[2022-10-11 06:29] DevMike123 commented on #4373
Can you assign me this? @christyjacob4

[2022-10-11 06:31] DevMike123 commented on #4373
@Meldiron

[2022-10-11 06:35] akarsh-jain-790 commented on #4308
@abnegate I am working on this issue.

[2022-10-11 07:02] Meldiron commented on #4416
@curranConcepts , we're assigning people on a first come first serve basis. You can find another hacktoberfest issue via our [website](https://hacktoberfest.appwrite.io/).

[2022-10-11 07:04] Meldiron commented on #4402
@neelshah2409 , we're assigning people on a first come first serve basis. You can find another hacktoberfest issue via our [website](https://hacktoberfest.appwrite.io/).

[2022-10-11 07:08] nooras commented on #4412
HI @Meldiron have removed the authors from https://github.com/utopia-php/ab and create PR https://github.com/utopia-php/ab/pull/11 :)

[2022-10-11 07:08] Meldiron commented on #4392
Hey there @Sin-Sumit 👋

You can look at their PR and see what changes they made: https://github.com/utopia-php/preloader/pull/8/files

Most important is the file `composer.json`, where they added a library and a new `check` command.

[2022-10-11 07:24] aadyanthaya commented on #4258
Okay !

On Tue, Oct 4, 2022 at 5:22 PM Asmit Malakannawar ***@***.***>
wrote:

[2022-10-11 07:33] Meldiron commented on #4419
Hey there @kunduarnab 👋
Our design team is currently working on improving multiple UX aspects of our dashboard. I will forward this issue to them, thanks for raising it 🙏

Regarding a solution as of right now, you could change the `offset` parameter in the URL to jump to a specific page. This is `((page-1)* 12)`, so if you want to go to page 200, it would be `199 * 12`, so `offset=2388`

[2022-10-11 07:35] JoyMajumdar2001 commented on #4200
Hey! I working on it

[2022-10-11 07:36] Meldiron commented on #4389
@mohakgupt , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-11 07:39] Meldiron commented on #4390
@aaryan2134 , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-11 07:40] Meldiron commented on #4391
@Aadeesh11 , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-11 07:40] Meldiron commented on #4386
@lucianosz7 , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-11 07:41] Meldiron commented on #4388
@ronelgazar , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-11 07:43] Meldiron commented on #4383
@SanjayDevTech , thanks for your interest! 🙏 Happy hacking! 🎃

I will hold an internal discussion to make sure we add the label. Thanks for letting us know 😇

[2022-10-11 07:45] Meldiron commented on #4384
@Sin-Sumit I remember assigning issues to you last year! So happy to see you around this year too 🤩 Happy hacking 🎃

[2022-10-11 07:45] Meldiron commented on #4385
@SayuruRehan , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-11 07:47] Meldiron commented on #4379
@aaheli8 , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-11 07:49] rohan-kulkarni-25 commented on #3521
Ook !! Will try and let you know if need some help.

On Sun, Jul 10, 2022, 9:25 PM Steven ***@***.***> wrote:

[2022-10-11 07:51] Meldiron commented on #4380
@SayuruRehan I am more than happy to assign one more issue to you, but let's please pick a different type of issue 🙏 Let's leave this type of issue for other people to pick up.

[2022-10-11 07:51] Meldiron commented on #4381
@maxslimb , looks like you have some issues assigned to you already. We request you to complete those before requesting assignments on new ones. Also, please consider picking a different type of issue so other contributors can try this one.

[2022-10-11 07:52] Meldiron commented on #4382
@Sin-Sumit , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-11 07:54] Meldiron commented on #4374
@abhishekdd , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-11 07:55] MagnaibayarMN commented on #4350
Hello, i would like to be an assigned.

[2022-10-11 07:56] Meldiron commented on #4376
@aaheli8 Please consider picking a different type of issue so other contributors can try this one.

[2022-10-11 08:00] Meldiron commented on #4377
@neelshah2409 , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-11 08:00] Meldiron commented on #4378
@aaryan2134 , looks like you have some issues assigned to you already. We request you to complete those before requesting assignments on new ones. Also, please consider picking a different type of issue so other contributors can try this one.

[2022-10-11 08:01] Meldiron commented on #4367
@aaryan2134 , looks like you have some issues assigned to you already. We request you to complete those before requesting assignments on new ones. Also, please consider picking a different type of issue so other contributors can try this one.

[2022-10-11 08:01] Meldiron commented on #4367
@neelshah2409 , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-11 08:01] Meldiron commented on #4368
@aaryan2134 , looks like you have some issues assigned to you already. We request you to complete those before requesting assignments on new ones. Also, please consider picking a different type of issue so other contributors can try this one.

[2022-10-11 08:02] Meldiron commented on #4369
@aaryan2134 , looks like you have some issues assigned to you already. We request you to complete those before requesting assignments on new ones. Also, please consider picking a different type of issue so other contributors can try this one.

[2022-10-11 08:03] Meldiron commented on #4370
@alrz1999 , looks like you have some issues assigned to you already. We request you to complete those before requesting assignments on new ones.

[2022-10-11 08:03] Meldiron commented on #4371
@shtelzerartem , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-11 08:05] Meldiron commented on #4355
@aaryan2134 , looks like you have some issues assigned to you already. We request you to complete those before requesting assignments on new ones. Also, please consider picking a different type of issue so other contributors can try this one.

[2022-10-11 08:05] Meldiron commented on #4360
@aaryan2134 , looks like you have some issues assigned to you already. We request you to complete those before requesting assignments on new ones. Also, please consider picking a different type of issue so other contributors can try this one.

[2022-10-11 08:05] Meldiron commented on #4361
@aaryan2134 , looks like you have some issues assigned to you already. We request you to complete those before requesting assignments on new ones. Also, please consider picking a different type of issue so other contributors can try this one.

[2022-10-11 08:05] Meldiron commented on #4365
@aaryan2134 , looks like you have some issues assigned to you already. We request you to complete those before requesting assignments on new ones. Also, please consider picking a different type of issue so other contributors can try this one.

[2022-10-11 08:06] Meldiron commented on #4366
@maxslimb , looks like you have some issues assigned to you already. We request you to complete those before requesting assignments on new ones.

[2022-10-11 08:06] Meldiron commented on #4364
@vasucp1207 , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-11 08:07] Meldiron commented on #4358
@SanjayDevTech , looks like you have some issues assigned to you already. We request you to complete those before requesting assignments on new ones.

[2022-10-11 08:07] Meldiron commented on #4354
@aaryan2134 , looks like you have some issues assigned to you already. We request you to complete those before requesting assignments on new ones. Also, please consider picking a different type of issue so other contributors can try this one.

[2022-10-11 08:07] Meldiron commented on #4351
@abhishekdd , looks like you have some issues assigned to you already. We request you to complete those before requesting assignments on new ones.

[2022-10-11 08:08] Meldiron commented on #4348
@shtelzerartem , looks like you have some issues assigned to you already. We request you to complete those before requesting assignments on new ones.

[2022-10-11 08:08] Meldiron commented on #4347
@om2137 , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-11 08:11] Meldiron commented on #4128
For example, this is what my LAN IP address looks like:

![CleanShot 2022-10-11 at 10 11 17](https://user-images.githubusercontent.com/19310830/195035160-02b8ea8e-543e-43f2-9bd5-116b6288d66f.png)

[2022-10-11 08:13] nooras commented on #4372
Done with previous Author remove task. Interested in this issue. Please assign me. Thanks

[2022-10-11 08:14] Meldiron commented on #4135
@shilpeegupta14 , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-11 08:14] Meldiron commented on #4168
@the-kaushal-agrawal Hey there 👋 Are you still working on this issue? No need to rush, you have a whole month 😇 I just need to confirm with you if you are still active on this assignment.

[2022-10-11 08:15] Meldiron commented on #4092
@KingFire25 So sorry to hear that. Please feel free to pick up a different type of issue, we have multiple code, as well as low/no code.

Thanks for letting us know 🙏 Unassigning you from the issue.

[2022-10-11 08:18] devblin commented on #4213
@abnegate , I need to utilise https://docs.airbrake.io/docs/devops-tools/api/#create-notice-v3 this API from Airbrake for the AirbrakeAdapter right ?

[2022-10-11 08:20] Meldiron commented on #4350
@MagnaibayarMN , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-11 08:23] the-kaushal-agrawal commented on #4168
Yes

[2022-10-11 08:24] Meldiron commented on #4387
@StarTrooper08 , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-11 08:26] Meldiron commented on #4308
@akarsh-jain-790 Thanks for letting us know 😇 Happy Hacking 🎃

[2022-10-11 08:26] Meldiron commented on #4200
@JoyMajumdar2001 Thanks for letting us know 😇 Happy Hacking 🎃

[2022-10-11 08:44] AshwinSatyawan opened #4420 "📚 Documentation: Grammatical Errors on README.md"
### 💭 Description

Observe the following issues in README.MD:
1.   **Installation :**
 improper grammar at "Appwrite backend server" which should be "The Appwrite backend server"

2. **Services  -> Account :**
  "...Track and manage the user sessions" should be "...Track and manage user sessions"

3. **Services  -> Databases:**
"Manage databases, collections and" should be "Manage databases, colle

[2022-10-11 08:47] AshwinSatyawan commented on #4420
Resolved in PR #4421

[2022-10-11 09:01] DevMike123 commented on #4373
@Meldiron can you review the pr?
https://github.com/utopia-php/system/pull/19

[2022-10-11 09:08] gopalkhasria commented on #24
Any updates on this?

[2022-10-11 09:52] aaheli8 commented on #4376
@Meldiron Yes Sure.

[2022-10-11 09:53] aaheli8 commented on #4379
@Meldiron Thank You very much

[2022-10-11 10:44] aaryan2134 commented on #4400
https://github.com/utopia-php/analytics/pull/25
I have added my pull request

[2022-10-11 11:15] loftwah commented on #24
[This](https://github.com/appwrite/appwrite/issues/24) is the duplicate issue you should be following. This one is closed.

[2022-10-11 11:21] 35C4n0r commented on #4396
@Meldiron i've submitted a PR for this and 2 other issues previously. Please check them once if possible so i can make corrections if required.

[2022-10-11 12:22] aabmets opened #4423 "🚀 Feature: Rewrite entire Appwrite PHP codebase in Rust"
### 🔖 Feature description

The goal would be to replace all of Appwrite PHP code with Rust.

### 🎤 Pitch

Rust is becoming the new de-facto C/C++, with the added benefit of being web-friendly.
Rust has [multiple web frameworks](https://www.arewewebyet.org/) available, its has also been included into the Linux kernel and its usage is only going to increase.

Rust is also one of the most **loved** l

[2022-10-11 12:31] 2002Bishwajeet commented on #4212
Can I take up this issue?

[2022-10-11 12:32] jbdujardin opened #4425 "🐛 Bug Report: Empty request payload on functions with event"
### 👟 Reproduction steps

- Create new Function (example : `on-team-created` with Runtime `dart-2.17`)
- Add the event for this function (example : `teams.*.create`)
- Just send the payload on the function body :
[code]
- Trigger the event (example : Create new team with the console)

### 👍 Expected behavior

We have data on the payload.

### 👎 Actual Behavior

The payload is empty.

### 🎲 Appwrit

[2022-10-11 12:34] neelshah2409 commented on #4377
Hey @Meldiron could you please review my PR.
https://github.com/utopia-php/image/pull/23

[2022-10-11 12:47] SanjayDevTech commented on #4383
@Meldiron I have raised a PR https://github.com/utopia-php/logger/pull/16

[2022-10-11 13:30] acceptallcookies commented on #4144
Hey @codercatdev, for this task, I'm planning on using https://github.com/ssut/py-googletrans for accessing Google's translate API. The official way is to setup a project with GCP and enable billing etc to use the Translate API. However, there seems to be an issue I'm running into with setting up that billing and in lieu of that, I'm planning on using this free open-source alternative. LMK what yo

[2022-10-11 13:49] RedHeadphone commented on #4128
nvm it was appwrite installation issue, it's solved now

[2022-10-11 14:13] 2002Bishwajeet commented on #1670
Closing as this Could be done using Cloud functions now

[2022-10-11 14:13] #1670 closed

[2022-10-11 14:13] polarvoid commented on #3983
So progress has been a little slow, but I am still working on this. So far, I've written a class called Neo4jClient that's a small wrapper around cURL requests, and some Adapter functions, which I haven't had time to test yet.

Would it be cool for me to open up a Draft PR up, because I would appreciate further help :)

[2022-10-11 14:14] 2002Bishwajeet commented on #2751
Closing as users haven't complained about this since the 1.0.0+ release

[2022-10-11 14:14] #2751 closed

[2022-10-11 14:18] codercatdev commented on #4275
@DevTomilola-OS please see PR, needs updates.

[2022-10-11 14:27] Yashsomalkar commented on #4399
@Meldiron  Would love to have your review :)

[2022-10-11 14:48] DevTomilola-OS commented on #4275
Okay Working on it @codercatdev

[2022-10-11 14:59] PrerakMathur20 commented on #4375
Hey! I'd like to work on this issue. Please assign it to me.

[2022-10-11 15:25] InfiniteVerma commented on #4221
Looks like a duplicate of https://github.com/appwrite/appwrite/issues/4223

[2022-10-11 15:29] aaryan2134 commented on #4390
![image](https://user-images.githubusercontent.com/22559451/195134426-5513aebe-8f69-47a2-8323-6e295abed885.png)
I am struggling to correct this issue while running "composer check"
Please guide me on this

[2022-10-11 15:40] stnguyen90 commented on #4326
Previous issue: https://github.com/appwrite/appwrite/issues/3033

[2022-10-11 15:45] aaryan2134 commented on #4354
I have completed my assigned issues. I have also not worked on any issue related to Code Linter
Please assign me this issue

[2022-10-11 15:46] aaryan2134 commented on #4369
I have completed my assigned issues. I have also not worked on any issue related to Code Linter
Please assign me this issue

[2022-10-11 15:46] aaryan2134 commented on #4368
I have completed my assigned issues. I have also not worked on any issue related to Code Linter
Please assign me this issue

[2022-10-11 15:57] gagandeepp commented on #3994
interested please assign

[2022-10-11 16:07] Rajat379 commented on #4363
Kindly assign me this issue. Thanks.

[2022-10-11 16:46] Ambareen09 commented on #4381
Hey! can I be assigned this issue?

[2022-10-11 16:53] Princeton21 commented on #4380
I am interested in solving this issue.
Please assign it to me

[2022-10-11 16:55] Princeton21 commented on #4380
@christyjacob4  @Meldiron I can work on this issue.

[2022-10-11 17:00] BabyElias commented on #4381
Hey! Can I work on this issue please?

[2022-10-11 17:01] BabyElias commented on #4376
Hey! I would like to work on this issue.

[2022-10-11 17:04] Yashsomalkar commented on #4399
@abnegate i made a PR

[2022-10-11 17:19] sahilsaini110 commented on #4249
I would love to work on this.

[2022-10-11 17:20] Aadeesh11 commented on #4129
@Meldiron I have raised a PR, the function uses MapQuest API (which is has a free tier, hence the choice).

[2022-10-11 17:25] neiljaywarner commented on #461
@himanshu-khare  what is the downside to droplet?  it has $4/month droplet and $200 credit, but the billing structure does seem confusing. obviously a free-for-experimenting via heroku or something "really" free would be great.

[2022-10-11 17:47] EshaanAgg commented on #4353
I would like to work on this issue. Can you please assign it to me?

[2022-10-11 17:48] abhishek-sultaniya commented on #4352
I would like to work on this issue.Pease assign me this.

[2022-10-11 18:18] shtelzerartem commented on #4348
@Meldiron I'm waiting for them to be reviewed 👀

[2022-10-11 18:33] FuadEfendi commented on #2940
Hey,

I have the same kind of error logs when I am trying to execute my Java function; note that I have another trivial Java function example which runs without errors:

[code]

[code]

[2022-10-11 18:42] rishabhrathore055 commented on #4420
@AshwinSatyawan I want to work on this. Could you please give me a chance?

[2022-10-11 18:56] FuadEfendi commented on #2940
I'd be very happy to join to Discord, but the problem is that it is no searchable by Google; otherwise I'd find an answer already. Documenting it here so that anyone having the same issue with Appwrite + Java can easily find, instead of creating duplicate bug reports:

The issue still exists, Appwrite v.1.0.1,
[code]

[2022-10-11 19:00] stnguyen90 commented on #461
@neiljaywarner, if you're looking for something to experiment on, I would suggest our [integration with gitpod](https://github.com/appwrite/integration-for-gitpod).

[2022-10-11 19:31] ddenev opened #4427 "🐛 Bug Report [CRITICAL]: Deleting a database deletes attributes/indexes in other databases"
### 👟 Reproduction steps

Using the Appwrite Console I have created 2 databases:

- `TestDB1`
- `TestDB2`

I have added a collection with the same name to each database:

- `TestDB1` -> `TestCollection`
- `TestDB2` -> `TestCollection`

I have added a string attribute with the same name to each collection:

- `TestDB1` -> `TestCollection` -> `name`
- `TestDB2` -> `TestCollection` -> `name`

Then I

[2022-10-11 19:44] TheSylwio commented on #4187
Pull Request is waiting to be reviewed https://github.com/open-runtimes/examples/pull/36. Is anyone able to take up this? 🤔

[2022-10-11 19:56] stnguyen90 opened #4428 "🐛 Bug Report: Deleting Collection Doesn't Delete from Database"
### 👟 Reproduction steps

1. Delete a collection

### 👍 Expected behavior

The collection is deleted from the database

### 👎 Actual Behavior

The collection is no longer available via APIs, but is still in the database. Looking at the appwrite-worker-deletes logs shows:

[code]

### 🎲 Appwrite version

Version 1.0.x

### 💻 Operating system

Linux

### 🧱 Your Environment

Appwrite Version 1.0.2

#

[2022-10-11 20:28] Rutam21 commented on #4366
@Meldiron I would like to work on this. I haven't worked on this type of issue prior to this. Thanks.

[2022-10-11 20:28] Rutam21 commented on #4370
@Meldiron I would like to work on this. I haven't worked on this type of issue prior to this. Thanks.

[2022-10-11 20:58] stnguyen90 commented on #4427
@ddenev thanks for raising this PR! 🙏 We'll work on fixing this ASAP!

[2022-10-11 23:38] stnguyen90 commented on #4400
@aaryan2134 Thanks for the PR! 🤯 Please give us some time to review it.

[2022-10-11 23:39] stnguyen90 commented on #4399
@Yashsomalkar Thanks for the PR! 🤯 Please give us some time to review it.

[2022-10-11 23:40] stnguyen90 commented on #4396
@35C4n0r Thanks for the PR! 🤯 Please give us some time to review it.

[2022-10-11 23:42] stnguyen90 commented on #4390
@aaryan2134 Thanks for the PR! 🤯 Please give us some time to review it.

[2022-10-11 23:42] stnguyen90 commented on #4383
@SanjayDevTech Thanks for the PR! 🤯 Please give us some time to review it.

[2022-10-11 23:43] stnguyen90 commented on #4381
@Ambareen09 Thanks for your interest! You may work on this issue 🙏 Happy hacking! 🎃

[2022-10-11 23:44] stnguyen90 commented on #4381
@BabyElias, we're assigning people on a first come first serve basis. If @Ambareen09 isn't able to complete this issue, we'll reassign it accordingly. In the meantime, you can find another Hacktoberfest issue via our [website](https://hacktoberfest.appwrite.io/).

[2022-10-11 23:45] stnguyen90 commented on #4380
@Princeton21 Thanks for your interest! You may work on this issue 🙏 Happy hacking! 🎃

[2022-10-11 23:49] stnguyen90 commented on #4378
@Princeton21 Please consider picking a different type of issue so other contributors can try this one. We would love you to check out some of our other open issues [here](https://github.com/issues?q=is%3Aopen+is%3Aissue+archived%3Afalse+user%3Aappwrite+user%3Autopia-php+no%3Aassignee+label%3Ahacktoberfest) and join us on [Discord](https://appwrite.io/discord) if you need help finding some.

[2022-10-11 23:50] stnguyen90 commented on #4377
@neelshah2409 Thanks for the PR! 🤯 Please give us some time to review it.

[2022-10-11 23:50] stnguyen90 commented on #4376
@BabyElias Thanks for your interest! You may work on this issue 🙏 Happy hacking! 🎃

[2022-10-11 23:51] stnguyen90 commented on #4375
@PrerakMathur20 Thanks for your interest! You may work on this issue 🙏 Happy hacking! 🎃

[2022-10-11 23:51] stnguyen90 commented on #4373
@DevMike123 Thanks for the PR! 🤯 Please give us some time to review it.

[2022-10-11 23:52] stnguyen90 commented on #4370
@Rutam21 Thanks for your interest! You may work on this issue 🙏 Happy hacking! 🎃

[2022-10-11 23:54] stnguyen90 commented on #4369
@aaryan2134 Thanks for your interest! You may work on this issue 🙏 Happy hacking! 🎃

[2022-10-11 23:55] stnguyen90 commented on #4368
@aaryan2134 Please consider picking a different type of issue so other contributors can try this one. We would love you to check out some of our other open issues [here](https://github.com/issues?q=is%3Aopen+is%3Aissue+archived%3Afalse+user%3Aappwrite+user%3Autopia-php+no%3Aassignee+label%3Ahacktoberfest) and join us on [Discord](https://appwrite.io/discord) if you need help finding some.

[2022-10-11 23:55] stnguyen90 commented on #4366
@Rutam21 Thanks for your interest! You may work on this issue 🙏 Happy hacking! 🎃

[2022-10-11 23:56] stnguyen90 commented on #4363
@Rajat379 Thanks for your interest! You may work on this issue 🙏 Happy hacking! 🎃

[2022-10-11 23:56] stnguyen90 commented on #4354
@aaryan2134 Please consider picking a different type of issue so other contributors can try this one. We would love you to check out some of our other open issues [here](https://github.com/issues?q=is%3Aopen+is%3Aissue+archived%3Afalse+user%3Aappwrite+user%3Autopia-php+no%3Aassignee+label%3Ahacktoberfest) and join us on [Discord](https://appwrite.io/discord) if you need help finding some.

[2022-10-11 23:57] stnguyen90 commented on #4353
@EshaanAgg Thanks for your interest! You may work on this issue 🙏 Happy hacking! 🎃

[2022-10-11 23:57] stnguyen90 commented on #4352
@abhishek-sultaniya Thanks for your interest! You may work on this issue 🙏 Happy hacking! 🎃

[2022-10-11 23:58] stnguyen90 commented on #4349
@InfiniteVerma Thanks for your interest! You may work on this issue 🙏 Happy hacking! 🎃

[2022-10-11 23:59] stnguyen90 commented on #4348
@shtelzerartem Thanks for your interest! You may work on this issue 🙏 Happy hacking! 🎃

[2022-10-11 23:59] stnguyen90 commented on #4275
@DevTomilola-OS Thanks for the PR! 🤯 Please give us some time to review it.

[2022-10-12 00:00] stnguyen90 commented on #4249
@sahilsaini110 Go ahead, you can start work on this issue 😊 This issue is open for everyone and we want as many quality PRs as our community can create.

[2022-10-12 00:02] stnguyen90 commented on #4231
@K0more Thanks for your interest! You may work on this issue 🙏 Happy hacking! 🎃

[2022-10-12 00:03] stnguyen90 commented on #4231
@K0more, I've unassigned you, but you can continue to work on this issue! 😊 This issue is open for everyone and we want as many quality PRs as our community can create.

[2022-10-12 00:03] stnguyen90 commented on #4221
@InfiniteVerma, thanks for catching this! I'll close this one and we can use the other issue.

[2022-10-12 00:03] #4221 closed

[2022-10-12 00:08] stnguyen90 commented on #4213
@devblin, requirements for this issue included:

So, I defer to those who have experience. That said, that API does seem correct.

[2022-10-12 00:09] stnguyen90 commented on #4212
@2002Bishwajeet Thanks for your interest! You may work on this issue 🙏 Happy hacking! 🎃

[2022-10-12 01:20] arnu515 commented on #4218
I would like to work on this

[2022-10-12 01:23] arnu515 commented on #4237
I would also like to work on this!

[2022-10-12 02:13] thinkverse commented on #4378
Since no one is assigned this issue, I can take care of it. 🙂

[2022-10-12 02:28] tessamero commented on #4378
@thinkverse , thanks for your interest! You may work on this issue 🙏 Happy hacking! 🎃

[2022-10-12 02:29] tessamero commented on #4237
@arnu515 , thanks for your interest! You may work on this issue 🙏 Happy hacking! 🎃

Note this issue is also open for everyone so I won't be assigning it :-)

[2022-10-12 02:29] tessamero commented on #4218
@arnu515 , thanks for your interest! You may work on this issue 🙏 Happy hacking! 🎃

This issue is open for anyone so I won't be assigning it :-)

[2022-10-12 03:09] thinkverse commented on #4378
Not sure why this was needed in the demo app, but PR was submitted anyway. 👍

[2022-10-12 03:52] AshwinSatyawan commented on #4420
already Resolved

[2022-10-12 03:59] rishabhrathore055 commented on #4420
@AshwinSatyawan Sir, if you have any other beginner issues that I can work on, please assign them to me.

[2022-10-12 04:13] akarsh-jain-790 commented on #4425
Hey, can u assign this issue to me?

[2022-10-12 04:54] aaryan2134 commented on #4369
Thank you! Will get it done soon

[2022-10-12 05:19] EshaanAgg commented on #4353
I have made a PR in the required repository. Hoping to get reviewed soon!

[2022-10-12 05:35] Medhanshverma commented on #4415
Hey can you assign this issue to me.

[2022-10-12 06:15] PMohanJ commented on #4359
Hi, I would like to work on this issue.

[2022-10-12 06:28] Tiansing commented on #4415
Can I take over this issue? I think there's no update with @Aishubalaji

[2022-10-12 06:49] byt3h3ad commented on #4361
hi! I would like to be assigned this issue.

[2022-10-12 06:54] omjikush09 commented on #4362
Can you assign this to me? I would like to work on this.

[2022-10-12 07:08] Meldiron commented on #4361
@byt3h3ad , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-12 07:08] Meldiron commented on #4362
@omjikush09 , looks like you have some issues assigned to you already. We request you to complete those before requesting assignments on new ones.

[2022-10-12 07:10] Meldiron commented on #4378
@thinkverse Hey there 👋 We decided we want to start lining all of the repositories since they all have some PHP code in them. No worries if the linter didn't find anything, it mainly added a test so that all future contributions will have proper code style.

[2022-10-12 07:12] omjikush09 commented on #4362
@Meldiron, I have completed all issues. So please assign this to me.

[2022-10-12 07:13] Meldiron commented on #4415
@Medhanshverma , we're assigning people on a first come first serve basis. If @Aishubalaji  isn't able to complete this issue, we'll reassign accordingly. In the meantime, you can find another hacktoberfest issue via our [website](https://hacktoberfest.appwrite.io/).

@Tiansing Let's give @Aishubalaji at least 7 days to see if he is actively working on it. Hacktoberfest is a month-long event, we d

[2022-10-12 07:15] Meldiron commented on #4168
Thanks for confirming 🙏 @akarsh-jain-790 I would recommend you to look at our [website](https://hacktoberfest.appwrite.io/), there are many more unassigned issues yo could take on 😇

[2022-10-12 07:17] Meldiron commented on #4187
@TheSylwio Ooof we must have missed this PR 😔 I am putting it on my priority list.

[2022-10-12 07:22] Meldiron commented on #4359
@PMohanJ , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-12 07:30] Meldiron commented on #4144
@acceptallcookies looks like a great solution 😇 I wasn't aware official google translate API is locked behind a pay wall. This library seems to be using Google still, just a different set of APIs. As long as you can make it work, I am all for using this library.

[2022-10-12 07:35] Meldiron commented on #3981
@TheOjasSingh Hey there 👋 Where are you trying to install this library? To contribute new adapter, ideally, you would implement it in the library and write tests to ensure it works. You should not need to make a side project to do manual testing.

[2022-10-12 07:36] Meldiron commented on #3983
@polarvoid Thanks for keeping us updated 😇 This task is not a small one, there is nothing wrong with taking your time.

I would love if you opened a draft PR and mentioned all points where you feel stuck. We would gladly point you to the right direction.

[2022-10-12 07:37] Meldiron commented on #3994
@gagandeepp , looks like you have some issues assigned to you already. We request you to complete those before requesting assignments on new ones.

[2022-10-12 07:37] Meldiron commented on #4034
@arnu515 Thanks for letting us know 😇 You can go ahead and start working on this.

[2022-10-12 07:46] scottie commented on #909
After playing around with appwrite I find it is perfect apart from this one issue.

[2022-10-12 07:51] neelshah2409 commented on #4367
https://github.com/utopia-php/domains/pull/19 @Meldiron  Please review it .

[2022-10-12 08:21] mohakgupt commented on #4389
@neelshah2409 I'm working

[2022-10-12 08:41] abnegate commented on #4085
Hey @hardiksachan :wave:  It's possible to add plugins in `deps.gradle`, but you have to use the old application method instead of the `plugins` block, as well as use the fully qualified class name of the plugin when applying. You can use `kotlinx.serialization` like so:

[code]

[2022-10-12 08:43] skdotv commented on #4269
hi @christyjacob4, I have upgraded the Appwrite SDK i.e (8.1.0) can you please review this, Thank you
issue: https://github.com/appwrite/demo-almost-netflix-for-flutter/issues/3

[2022-10-12 08:47] iamshivkumar commented on #1168
Waiting for this feature

[2022-10-12 09:06] MagnaibayarMN commented on #4350
@Meldiron @christyjacob4
Guys, Please check this PR

https://github.com/utopia-php/system/pull/20

[2022-10-12 09:48] silberGuy opened #4431 "📚 Documentation: Backup step unclear"
### 💭 Description

Hi :)
I am now backing up my Appwrite server, and following the steps I found in the [docs](https://appwrite.io/docs/production#backups).
As the third step indicates, I should backup the `storage volume`, which is an entity that i cannot find.
Is this a name to represent all the different volumes listed in the docker-compose.yml? or am I missing the specific volume to backup?

t

[2022-10-12 10:08] Rajat379 commented on #4363
Added the PR to add code linter

[2022-10-12 11:07] tanishk-23 commented on #4419
@Meldiron Can you assign this issue to me?

[2022-10-12 11:31] TorstenDittmann commented on #4427
@ddenev thank you very much for bringing this up 💪🏻

This is fixed now with [1.0.3](https://github.com/appwrite/appwrite/releases/tag/1.0.3) 👏🏻