[2022-10-12 11:31] #4427 closed

[2022-10-12 11:31] gagandeepp commented on #3994
@Meldiron I already have raised PR to the issues assigned to me

[2022-10-12 11:33] ddenev commented on #4427
@stnguyen90 @TorstenDittmann - thank you for the quick fix!

[2022-10-12 11:44] #4052 closed

[2022-10-12 11:51] Praj2002933 commented on #4004
I would like to work upon this, please assign it to me @christyjacob4

[2022-10-12 12:05] MrKrishnaAgarwal commented on #4004
This task does not require any assignment but please comment on this issue mentioning you are working on it.

[2022-10-12 12:20] Aadeesh11 commented on #4393
@abnegate I have raised a PR making the required changes.

[2022-10-12 13:31] #3919 closed

[2022-10-12 14:26] codercatdev commented on #4393
@Aadeesh11 Thanks for the PR! 🤯 Please give us some time to review it.

[2022-10-12 14:29] aadityaagrawal commented on #4365
Hi, @Meldiron I would love to work on this issue please assign it to me.

[2022-10-12 14:29] codercatdev commented on #4368
@toukirkhan thanks for your interest! You may work on this issue 🙏 Happy hacking! 🎃

[2022-10-12 14:30] aadityaagrawal commented on #4357
I would love to work on this issue please assign this to me.

[2022-10-12 14:30] codercatdev commented on #4367
@neelshah2409 Thanks for the PR! 🤯 Please give us some time to review it.

[2022-10-12 14:31] samarth2812 commented on #4356
can you assign me this issue??

[2022-10-12 14:31] codercatdev commented on #4363
@Rajat379 Thanks for the PR! 🤯 Please give us some time to review it.

[2022-10-12 14:31] codercatdev commented on #4350
@MagnaibayarMN Thanks for the PR! 🤯 Please give us some time to review it.

[2022-10-12 14:31] aadityaagrawal commented on #4351
Hi, @Meldiron Can you please this issue to me?

[2022-10-12 14:33] aadityaagrawal commented on #4355
Hi @christyjacob4 can you please assign this issue to me?

[2022-10-12 14:34] codercatdev commented on #4269
@skdotv Please create your PR after you've been assigned to an issue. With that said @sakshiisaxena could you take a look at https://github.com/appwrite/demo-almost-netflix-for-flutter/pull/4 if this works we could add you to another issue.

[2022-10-12 14:38] himanshu007-creator commented on #3914
Hey!, if @KKVANONYMOUS  is not working on this, i would liek to take this up

[2022-10-12 14:41] codercatdev commented on #3994
@eigengravy it looks like you are the next person with all issues having PR's in, thanks for your interest! You may work on this issue 🙏 Happy hacking! 🎃

[2022-10-12 14:48] aadityaagrawal commented on #3974
Hi, Can you please assign this issue to me?

[2022-10-12 15:10] amyra98 commented on #4358
Please assign me this

[2022-10-12 17:22] myThorsten commented on #4059
As a side note, I am glad to leave my server running over night if that helps. Just let me know.
I would appreciate any tipps.

[2022-10-12 17:55] BabyElias commented on #4376
Thanks! Will begin working on this right away.

[2022-10-12 18:07] stnguyen90 opened #4436 "🐛 Bug Report: Incorrect Audit Activity on Document Create"
### 👟 Reproduction steps

1. Create a Document

### 👍 Expected behavior

New audit activity is added for the document

### 👎 Actual Behavior

New audit activity is added for the **Collection** instead.

<img width="740" alt="image" src="https://user-images.githubusercontent.com/1477010/195416008-02348469-fe28-4eb2-87a7-0f8a6aeb7ed2.png">

It seems the incorrect `audits.resource` is specified:

htt

[2022-10-12 18:18] stnguyen90 commented on #4431
@silberGuy, perhaps [this](https://github.com/appwrite/appwrite/discussions/3722#discussioncomment-3487928) answers your question. If so, can this be closed?

Also, FYI, the volumes are defined at the bottom of your docker-compose.yml file.

[2022-10-12 18:21] akarsh-jain-790 commented on #4436
Hey, can u assign this issue to me ?

[2022-10-12 18:26] stnguyen90 commented on #4338
@StPfeffer Thanks for raising this issue/PR! 🙏 Unfortunately, this is not something we want to move forward at the moment as it would be difficult for us to maintain. We'll be sure to revisit this in the future when appropriate. For now, I'm going to close this to avoid attention during Hacktoberfest.

[2022-10-12 18:26] #4338 closed

[2022-10-12 18:27] stnguyen90 commented on #4335
@Ray0Emma Thanks for raising this issue! 🙏 Unfortunately, this is not something we want to move forward at the moment as it would be difficult for us to maintain. We'll be sure to revisit this in the future when appropriate. For now, I'm going to close this to avoid attention during Hacktoberfest.

[2022-10-12 18:27] #4335 closed

[2022-10-12 18:27] stnguyen90 commented on #4334
@SiddheshKukade Thanks for raising this issue/PR! 🙏 Unfortunately, this is not something we want to move forward at the moment as it would be difficult for us to maintain. We'll be sure to revisit this in the future when appropriate. For now, I'm going to close this to avoid attention during Hacktoberfest.

[2022-10-12 18:27] #4334 closed

[2022-10-12 18:28] #4333 closed

[2022-10-12 18:28] stnguyen90 commented on #4328
@Apollo9999 Thanks for raising this issue! 🙏 Unfortunately, this is not something we want to move forward at the moment as it would be difficult for us to maintain. We'll be sure to revisit this in the future when appropriate. For now, I'm going to close this to avoid attention during Hacktoberfest.

[2022-10-12 18:28] #4328 closed

[2022-10-12 18:29] stnguyen90 commented on #4343
@Susmita-Dey Thanks for raising this issue! 🙏 Unfortunately, this is not something we want to move forward at the moment as it would be difficult for us to maintain. We'll be sure to revisit this in the future when appropriate. For now, I'm going to close this to avoid attention during Hacktoberfest.

[2022-10-12 18:29] #4343 closed

[2022-10-12 18:29] stnguyen90 commented on #4320
@PRATYUSHPAHARI Thanks for raising this issue! 🙏 Unfortunately, this is not something we want to move forward at the moment as it would be difficult for us to maintain. We'll be sure to revisit this in the future when appropriate. For now, I'm going to close this to avoid attention during Hacktoberfest.

[2022-10-12 18:29] #4320 closed

[2022-10-12 18:29] stnguyen90 commented on #4318
@sidbelbase Thanks for raising this issue! 🙏 Unfortunately, this is not something we want to move forward at the moment as it would be difficult for us to maintain. We'll be sure to revisit this in the future when appropriate. For now, I'm going to close this to avoid attention during Hacktoberfest.

[2022-10-12 18:29] #4318 closed

[2022-10-12 18:29] #4310 closed, assigned to TorstenDittmann

[2022-10-12 18:54] ItsAdityaKSingh commented on #4356
I would like to be assigned to this issue!

[2022-10-12 20:30] omjikush09 commented on #4362
Hi, @Meldiron created a PR. Please review it. https://github.com/utopia-php/platform/pull/3

[2022-10-12 20:54] toukirkhan commented on #4365
assign me

[2022-10-12 20:56] toukirkhan commented on #4360
please assign this to me

[2022-10-12 20:56] toukirkhan commented on #4357
assign me please

[2022-10-12 20:57] toukirkhan commented on #4351
please assign me

[2022-10-12 21:10] suryaa62 commented on #4092
I would like to work on this

[2022-10-12 21:17] stnguyen90 commented on #4059
@myThorsten, you should check with feste-ip.net to see if web sockets are enabled on their reverse proxy. Another thing to make sure is that traffic gets to Appwrite as https rather than http.

[2022-10-12 21:18] stnguyen90 commented on #3914
@KKVANONYMOUS, how's your progress on this? Would you like to continue working on this?

[2022-10-12 21:55] silberGuy commented on #4431
Thank you, the video helps.
I did know where to find the list of the volumes, but that's the issue - this list includes all volumes, and it is not a source to find which should be backed-up.
I think the docs could be more explicit on this, or maybe just point to the video that you added?

[2022-10-12 21:55] stnguyen90 commented on #4355
@aadityaagrawal Thanks for your interest! You may work on this issue 🙏 Happy hacking! 🎃

[2022-10-12 21:56] stnguyen90 commented on #4436
@akarsh-jain-790 Thanks for your interest! You may work on this issue 🙏 Happy hacking! 🎃

[2022-10-12 21:57] stnguyen90 commented on #4369
@aaryan2134 Thanks for the PR! 🤯 Please give us some time to review it.

[2022-10-12 22:00] stnguyen90 commented on #4368
@toukirkhan Thanks for the PR! 🤯 Please give us some time to review it.

[2022-10-12 22:07] stnguyen90 commented on #4365
@aadityaagrawal Please consider picking a different type of issue so other contributors can try this one. We would love you to check out some of our other open issues [here](https://github.com/issues?q=is%3Aopen+is%3Aissue+archived%3Afalse+user%3Aappwrite+user%3Autopia-php+no%3Aassignee+label%3Ahacktoberfest) and join us on [Discord](https://appwrite.io/discord) if you need help finding some.

@It

[2022-10-12 22:07] stnguyen90 commented on #4365
@toukirkhan , we're assigning people on a first come first serve basis. If @ItsAdityaKSingh isn't able to complete this issue, we'll reassign it accordingly. In the meantime, you can find another Hacktoberfest issue via our [website](https://hacktoberfest.appwrite.io/).

[2022-10-12 22:09] stnguyen90 commented on #4362
@omjikush09 Thanks for the PR! 🤯 Please give us some time to review it.

[2022-10-12 22:10] stnguyen90 commented on #4360
@ItsAdityaKSingh, @toukirkhan Please consider picking a different type of issue so other contributors can try this one. We would love you to check out some of our other open issues [here](https://github.com/issues?q=is%3Aopen+is%3Aissue+archived%3Afalse+user%3Aappwrite+user%3Autopia-php+no%3Aassignee+label%3Ahacktoberfest) and join us on [Discord](https://appwrite.io/discord) if you need help find

[2022-10-12 22:10] stnguyen90 commented on #4358
@amyra98 Thanks for your interest! You may work on this issue 🙏 Happy hacking! 🎃

[2022-10-12 22:12] stnguyen90 commented on #4357
@aadityaagrawal, @toukirkhan Please consider picking a different type of issue so other contributors can try this one. We would love you to check out some of our other open issues [here](https://github.com/issues?q=is%3Aopen+is%3Aissue+archived%3Afalse+user%3Aappwrite+user%3Autopia-php+no%3Aassignee+label%3Ahacktoberfest) and join us on [Discord](https://appwrite.io/discord) if you need help findi

[2022-10-12 22:13] stnguyen90 commented on #4356
@samarth2812 Thanks for your interest! You may work on this issue 🙏 Happy hacking! 🎃

@ItsAdityaKSingh, we're assigning people on a first come first serve basis. If @samarth2812 isn't able to complete this issue, we'll reassign it accordingly. In the meantime, you can find another Hacktoberfest issue via our [website](https://hacktoberfest.appwrite.io/).

[2022-10-12 22:14] stnguyen90 commented on #4354
@Azanul Thanks for your interest! You may work on this issue 🙏 Happy hacking! 🎃

[2022-10-12 22:16] stnguyen90 commented on #4351
@samarth2812, @aadityaagrawal, @toukirkhan Please consider picking a different type of issue so other contributors can try this one. We would love you to check out some of our other open issues [here](https://github.com/issues?q=is%3Aopen+is%3Aissue+archived%3Afalse+user%3Aappwrite+user%3Autopia-php+no%3Aassignee+label%3Ahacktoberfest) and join us on [Discord](https://appwrite.io/discord) if you n

[2022-10-12 22:23] stnguyen90 commented on #4092
@anushagupta1312, looks like you already have 4 PRs. Would it be okay to assign this to @suryaa62?

[2022-10-12 22:24] stnguyen90 commented on #3974
@aadityaagrawal Thanks for your interest! You may work on this issue 🙏 Happy hacking! 🎃

[2022-10-13 00:12] stnguyen90 commented on #3395
Closing since the Console will be replaced entirely.

[2022-10-13 00:12] #3395 closed

[2022-10-13 00:12] stnguyen90 commented on #3651
Closing due to inactivity.

[2022-10-13 00:12] #3651 closed

[2022-10-13 00:31] stnguyen90 commented on #1049
@gioragutt, since our [Manual Installation method docs](https://appwrite.io/docs/installation#manual) now link to the docker-compose.yml and .env files, can this be closed now?

[2022-10-13 00:39] #4431 closed

[2022-10-13 04:18] brunodasilvalenga commented on #4006
I'm also working on it :)

[2022-10-13 06:02] vinayharwani13 commented on #4357
I would like to work on this issue.

[2022-10-13 06:05] mohitcharkha commented on #4351
Hi @christyjacob4, Could you please assign this to me?

[2022-10-13 06:06] harshsiri110 commented on #4360
Hi @christyjacob4, I would like to work on this task. Could you please assign it to me?

[2022-10-13 06:12] dakshbhardwaj commented on #4253
Hi, can I work on this?

[2022-10-13 06:17] tessamero commented on #4253
@dakshbhardwaj yes you can 😄

[2022-10-13 06:18] dhruvtailor7 commented on #4104
Can I work on this?

[2022-10-13 06:19] KKVANONYMOUS commented on #3914
Hey @stnguyen90
Currently, I am involved in some other work and thus will not be able to go forward with it.
Sorry for the delay
You can assign it to @himanshu007-creator

[2022-10-13 06:34] Bendix20 opened #4441 "🚀 Feature: Make membership secret available"
### 🔖 Feature description

The secret of the membership should be available. Either after creating a new membership with the `Teams` class or as part of the `Membership` model (but only accessible from the own user or the Team owners).

### 🎤 Pitch

For now it's not possible to send the team invitation again. If the secret is available, it would be possible to send and resend a custom invitation e

[2022-10-13 06:40] Meldiron commented on #4360
@harshsiri110 , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-13 06:40] Meldiron commented on #4006
@brunodasilvalenga Thanks for letting us know 😇 Happy hacking 🎃

[2022-10-13 06:41] Meldiron commented on #4104
@dhruvtailor7 , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-13 06:41] Meldiron commented on #4351
@mohitcharkha , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-13 06:42] Meldiron commented on #4357
@vinayharwani13 , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-13 06:55] Aishubalaji commented on #4414
I have created a pull request. Check and ping me if there are any changes!

[2022-10-13 07:06] Aishubalaji commented on #4414
Hey, Sorry for late reply. I have created a pull request :) Kindly check and ping me if there are any changes needed.

[2022-10-13 07:07] Aishubalaji commented on #4415
Hey, Sorry for late reply. I have created a pull request. Ping me if there are any changes needed :)

[2022-10-13 07:15] neelshah2409 commented on #4436
Hey can I work on it !

[2022-10-13 07:27] toukirkhan commented on #4368
@stnguyen90 it has been approved

[2022-10-13 07:28] BabyElias commented on #4376
Created a Pull Request for the issue. Do let me know if I have to implement the workflow and also correct the errors found in PHP Files.

[2022-10-13 07:38] alexander-potemkin opened #4442 "🚀 Feature: function version control"
### 🔖 Feature description

Ability to version control functions code (like git does)

### 🎤 Pitch

Guess the use case is obvious, as I post it on GitHub issues, guess it might be even on the roadmap?

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of

[2022-10-13 07:48] PMohanJ commented on #4359
Hi @Meldiron, I have a small issue while pushing my branch to the origin. The error is as follows:
[code]
Would you mind helping a bit; mean while I'll also try to figure out something.

[2022-10-13 08:04] Meldiron commented on #4436
@neelshah2409 , we're assigning people on a first come first serve basis. If @akarsh-jain-790  isn't able to complete this issue, we'll reassign accordingly. In the meantime, you can find another hacktoberfest issue via our [website](https://hacktoberfest.appwrite.io/).

[2022-10-13 08:04] Medhanshverma commented on #3956
Hey i would like to contribute in this can you assign me this task

[2022-10-13 08:07] Meldiron commented on #4376
@BabyElias Yes please, correct all errors found by code analyzer.

[2022-10-13 08:17] aaheli8 commented on #4379
Working on it

[2022-10-13 08:32] InfiniteVerma commented on #4206
I'd like to work on this.

[2022-10-13 08:40] Aadeesh11 commented on #4118
@TakshPanchal are you still working on this issue?
@stnguyen90, If not can I be assigned to it?

[2022-10-13 09:03] EshaanAgg commented on #4224
@stnguyen90 I have added my app! Hoping to get reviewed soon!

[2022-10-13 09:59] jessielaf opened #4444 "🚀 Feature: Database migration per project through code"
### 🔖 Feature description

Hi,

I really love the tool. But I have not been able to find (maybe that's me) a tool in which I can migrate my local changes to my demo environment and production. For example, how the [Django migration](https://docs.djangoproject.com/en/4.1/topics/migrations/)  system works.

I think it would be nice if you can automatically apply migrations when deploying a new appli

[2022-10-13 10:10] MoskalykA commented on #4428
Can I take care of that?

[2022-10-13 10:41] BabyElias commented on #4376
@Meldiron The Analyser found almost 100 errors, I might need help correcting some of them as mentioned in the PR.

[2022-10-13 11:37] Tiansing commented on #4415
**okay, just notify me if there's a need of my help to resolve this issue**

[2022-10-13 11:46] EshaanAgg commented on #4026
Hi! I would also love to work on this. I would be using Vue.js to make the same!

[2022-10-13 11:49] Tiansing commented on #4401
@abnegate if ever this is not accomplished yet, please assign this to me thank you

[2022-10-13 12:59] ashu-rb commented on #4428
Please assign this issue to me.

[2022-10-13 12:59] stnguyen90 commented on #3914
@KKVANONYMOUS, thanks for the update!

@himanshu007-creator, I'll assign the issue to you. Thanks!

[2022-10-13 12:59] ashu-rb commented on #4419
May you please assign this issue to me?

[2022-10-13 13:01] ashu-rb commented on #4271
May you please assign this issue to me?

[2022-10-13 13:01] ashu-rb commented on #4261
May you please assign this issue to me?

[2022-10-13 13:25] VanmoelJr commented on #4188
Hi, I would like to work on this. Can you assign this to me?

[2022-10-13 13:34] stnguyen90 commented on #4442
@alexander-potemkin, thanks for raising this issue! 🙏 Could you expand more on this request? I typically use the Appwrite CLI and version control the appwrite.json and the functions I create with git. What else did you have in mind?

[2022-10-13 13:41] stnguyen90 commented on #4444
@jessielaf, thanks for raising this PR! 🙏 The [Appwrite CLI](https://appwrite.io/docs/command-line#gettingStarted) can be used to deploy collections and were working on adding support for buckets and services. Would that suffice?

[2022-10-13 13:42] Prajna-Pahari commented on #4320
Sure Sir.

[2022-10-13 13:52] vinayharwani13 commented on #4357
Hi @Meldiron, I have raised the PR. Hoping to get reviewed soon.

[2022-10-13 14:02] alexander-potemkin commented on #4442
Hi @stnguyen90 and thanks for the prompt response!
My understanding was that I can edit functions via the web GUI, isn't it right?

[2022-10-13 14:26] harshsiri110 commented on #4360
Hi @Meldiron, I have raised the PR. Hoping to hear your views on it soon.

[2022-10-13 14:27] mohitcharkha commented on #4351
Hi @Meldiron, I have raised the PR. Hoping to get reviewed soon.

[2022-10-13 14:58] hridaya423 commented on #4307
I want to work on this too!

[2022-10-13 15:17] ItsAdityaKSingh commented on #4365
Hey, I have put a pull Request at - https://github.com/utopia-php/registry/pull/9
Waiting for the review @Meldiron :)

[2022-10-13 15:59] JohnGrisham commented on #4225
I'm working on this, may the odds be ever in your favor.

[2022-10-13 16:01] Arpan-206 commented on #4307
Hey @Meldiron  I also want to work on a Discord bot version of the same URL shortener, so can you create a new issue for it?

[2022-10-13 16:50] codercatdev commented on #4225
What would Hacktoberfest be like with a Hunger Games at the end of it?

[2022-10-13 17:46] ItsAdityaKSingh commented on #4387
Hey @Meldiron, could I work on this issue if it's not resolved yet?
I have resolved my previous issue and would like to resolve a new one here.

[2022-10-13 17:47] ItsAdityaKSingh commented on #4364
Hey @Meldiron, could I work on resolving this issue asap as I have resolved one assigned earlier?

[2022-10-13 17:56] vasucp1207 commented on #4364
@ItsAdityaKSingh this issue is assigned to me.

[2022-10-13 18:30] stnguyen90 opened #4446 "🐛 Bug Report: Invalid Timestamp in Realtime Payload"
### 👟 Reproduction steps

1. Subscribe to `documents` channel
2. Update an accessible document

For more info on our Realtime API, refer to our [docs](https://appwrite.io/docs/realtime).

### 👍 Expected behavior

The `timestamp` is an ISO string like `2022-10-10T13:37:13.780+00:00`.

### 👎 Actual Behavior

The `timestamp` is missing the timezone. For example:

[code]

In addition, the [Realtime do

[2022-10-13 20:01] devblin commented on #4213
@stnguyen90 , please have a look at the PR.

[2022-10-13 20:20] toukirkhan commented on #4446
@stnguyen90 assign this to me

[2022-10-13 20:40] #2653 closed

[2022-10-13 20:40] stnguyen90 commented on #2653
Closing due to inactivity.

[2022-10-13 21:14] toukirkhan commented on #4092
@stnguyen90 can I work on this?

[2022-10-13 21:17] toukirkhan commented on #3999
@christyjacob4 I want to work on this

[2022-10-13 22:19] stnguyen90 commented on #4446
@toukirkhan Thanks for your interest! You may work on this issue 🙏 Happy hacking! 🎃

[2022-10-13 22:24] stnguyen90 commented on #4401
@Tiansing Let's give @Sanket1308 at least 7 days to see if they are actively working on it. Hacktoberfest is a month-long event and we don't want to create any pressure on participants. In the meantime, you can also check our [website](https://hacktoberfest.appwrite.io/) for more issues

[2022-10-13 22:25] stnguyen90 commented on #4387
@ItsAdityaKSingh We're assigning people on a first come first serve basis. If @StarTrooper08 isn't able to complete this issue, we'll reassign it accordingly. In the meantime, you can find another Hacktoberfest issue via our [website](https://hacktoberfest.appwrite.io/).

[2022-10-13 22:29] stnguyen90 commented on #4376
@BabyElias, if it's too difficult to correct, you can try lowering the level a little so it doesn't pick up as many problems.

[2022-10-13 22:30] stnguyen90 commented on #4365
@ItsAdityaKSingh Thanks for the PR! 🤯 Please give us some time to review it.

[2022-10-13 22:31] stnguyen90 commented on #4364
@ItsAdityaKSingh We're assigning people on a first come first serve basis. If @vasucp1207 isn't able to complete this issue, we'll reassign it accordingly. In the meantime, you can find another Hacktoberfest issue via our [website](https://hacktoberfest.appwrite.io/).

[2022-10-13 22:33] stnguyen90 commented on #4360
@harshsiri110 Thanks for the PR! 🤯 Please give us some time to review it.

[2022-10-13 22:35] stnguyen90 commented on #4359
@PMohanJ, yes, you won't be able to push to a repo you don't own. The typical flow for collaborators is to fork a repo and then submit a pull request. For more info on forking, you can refer to GitHub's [docs](https://docs.github.com/en/get-started/quickstart/fork-a-repo).

[2022-10-13 22:36] stnguyen90 commented on #4357
@vinayharwani13 Thanks for the PR! 🤯 Please give us some time to review it.

[2022-10-13 22:39] stnguyen90 commented on #4351
@mohitcharkha Thanks for the PR! 🤯 Please give us some time to review it.

[2022-10-13 22:42] stnguyen90 commented on #4307
@hridaya423 Go ahead, you can start work on this issue 😊 This issue is open for everyone and we want as many quality PRs as our community can create.

@Arpan-206 please comment in the https://github.com/appwrite/appwrite/issues/4024 issue with your request.

[2022-10-13 22:43] stnguyen90 commented on #4271
@ashu-rb We're assigning people on a first come first serve basis. If @sakshiisaxena isn't able to complete this issue, we'll reassign it accordingly. In the meantime, you can find another Hacktoberfest issue via our [website](https://hacktoberfest.appwrite.io/).

[2022-10-13 22:44] stnguyen90 commented on #4261
@ashu-rb We're assigning people on a first come first serve basis. If @niyasmhdth isn't able to complete this issue, we'll reassign it accordingly. In the meantime, you can find another Hacktoberfest issue via our [website](https://hacktoberfest.appwrite.io/).

[2022-10-13 22:44] stnguyen90 commented on #4224
@EshaanAgg Thanks for the PR! 🤯 Please give us some time to review it.

[2022-10-13 22:46] stnguyen90 commented on #4213
@devblin Thanks for the PR! 🤯 Please give us some time to review it.

[2022-10-13 22:48] stnguyen90 commented on #4206
@InfiniteVerma Thanks for your interest! You may work on this issue 🙏 Happy hacking! 🎃

[2022-10-13 22:49] stnguyen90 commented on #4188
@VanmoelJr We're assigning people on a first come first serve basis. You can find another Hacktoberfest issue via our [website](https://hacktoberfest.appwrite.io/).

[2022-10-13 22:52] stnguyen90 commented on #4177
@VanmoelJr We're assigning people on a first come first serve basis. You can find another Hacktoberfest issue via our [website](https://hacktoberfest.appwrite.io/).

[2022-10-13 22:54] stnguyen90 commented on #4118
@TakshPanchal how's your progress on this issue?

[2022-10-13 22:56] stnguyen90 commented on #4092
@toukirkhan, @anushagupta1312 and @suryaa62 are next up for this issue. If neither of them are able to work on the issue, we'll assign it accordingly. In the meantime, you can find another Hacktoberfest issue via our [website](https://hacktoberfest.appwrite.io/).

[2022-10-13 22:59] stnguyen90 commented on #3956
@Medhanshverma We're assigning people on a first come first serve basis. If @Rinshin-Jalal isn't able to complete this issue, we'll reassign it accordingly. In the meantime, you can find another Hacktoberfest issue via our [website](https://hacktoberfest.appwrite.io/).

[2022-10-13 23:01] stnguyen90 commented on #4294
@dsuarezlogans, are you still working on this?

[2022-10-14 02:12] stnguyen90 commented on #4442
@alexander-potemkin, you can upload additional code and edit function settings. You can't modify lines of code, if that's what you're asking.

[2022-10-14 02:25] Rinshin-Jalal commented on #3956
Check my pull request

[2022-10-14 04:04] Sanket1308 commented on #4401
Hey, I have created PR. You can check it [here](https://github.com/utopia-php/image/pull/24)🚀

[2022-10-14 04:39] alexander-potemkin commented on #4442
Right, thank you, @stnguyen90 .
Is there any plans to create a web based environment to create, edit and maintain those functions?

[2022-10-14 05:10] stnguyen90 commented on #4442
@alexander-potemkin, probably not. Definitely not anytime soon.

[2022-10-14 05:23] ItsAdityaKSingh commented on #4387
@Meldiron It's been 3 days since it was assigned so if there's no progress, I could resolve it asap. @StarTrooper08 have you worked on resolving the issue?

[2022-10-14 05:30] BabyElias commented on #4376
Okay

[2022-10-14 06:05] ItsAdityaKSingh commented on #4364
Yup, @stnguyen90, I totally understand that. I just saw the issue dormant for the last 3 days, so asked if I could resolve it :)

[2022-10-14 06:32] #4368 closed

[2022-10-14 06:42] #4349 closed

[2022-10-14 06:44] #4348 closed

[2022-10-14 06:49] #4369 closed

[2022-10-14 07:03] PMohanJ commented on #4359
@stnguyen90 Thanks for the information! I've submitted the PR.

[2022-10-14 07:05] #4394 closed

[2022-10-14 07:13] #4393 closed

[2022-10-14 08:08] ItsAdityaKSingh commented on #4408
Hey @rohitkori! Are you still working on this?

[2022-10-14 08:09] #4106 closed

[2022-10-14 08:17] #4403 closed

[2022-10-14 08:42] #3972 closed

[2022-10-14 08:48] #4396 closed

[2022-10-14 08:48] #4399 closed

[2022-10-14 09:12] toukirkhan opened #4447 "Refine Appwrite Storage with zopfli Compression"
I want to add zopfli compression for php to appwrite storage and I have the extension to do the same please assign me this issue or generate a new one for me.

Tasks:

- [ ] Update utopia-php/storage to include the new adapter
- [ ] Update [appwrite/docker-base](https://github.com/appwrite/docker-base/blob/main/Dockerfile) to install the necessary dependencies
- [ ] Update appwrite/appwrite to sup

[2022-10-14 09:22] andrewdoro commented on #4244
I'm also working on this issue.

[2022-10-14 09:24] alexander-potemkin commented on #4442
I see, thank you, @stnguyen90. I was somehow under impression, that AppWrite is more of a low-code instrument, that tends to minimize command line things - could you please, help me to better understand it's goal and target audience, please?

[2022-10-14 09:36] Meldiron commented on #4244
@ghoshnirmalya @andrewdoro Thanks for letting us know 😇 Happy hacking! 🎃

[2022-10-14 10:56] Ambareen09 commented on #4381
I have opened a PR, kindly review it!

[2022-10-14 11:04] abhishek-sultaniya commented on #4352
I have made a PR for this issue,Please review that.

[2022-10-14 12:11] Rinshin-Jalal commented on #4307
I am working on this
in solidjs

[2022-10-14 12:23] Rinshin-Jalal commented on #4024
I would like to build the `Almost Youtube`  web using Solidjs and Appwrite

there is no demos for solidjs and rn

[2022-10-14 12:36] Ln11211 commented on #4406
hey @Meldiron , Looks like there is no PR yet, will it be possible to reassign this to me?

[2022-10-14 12:38] extinctsion commented on #3961
I'm interested. @ @christyjacob4 can you assign it to me?

[2022-10-14 13:01] mohith2883 commented on #4413
hey @Meldiron can you reassign it to me

[2022-10-14 13:33] Arpan-206 commented on #4024
I want to build an `almost Bit.ly` Discord bot.

[2022-10-14 13:41] #4184 closed

[2022-10-14 14:22] christyjacob4 opened #4451 "⚡ Write a deepgramAudioSummary() Function using Dart"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-14 14:22] christyjacob4 opened #4452 "⚡ Write a deepgramAudioSummary() Function using Deno"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-14 14:22] christyjacob4 opened #4453 "⚡ Write a deepgramTopicDetection() Function using Dart"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-14 14:22] christyjacob4 opened #4454 "⚡ Write a deepgramTopicDetection() Function using Deno"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-14 14:22] christyjacob4 opened #4455 "⚡ Write a deepgramTopicDetection() Function using Node"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-14 14:22] christyjacob4 opened #4456 "⚡ Write a deepgramTopicDetection() Function using PHP"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-14 14:22] christyjacob4 opened #4457 "⚡ Write a deepgramTopicDetection() Function using Python"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-14 14:22] christyjacob4 opened #4458 "⚡ Write a deepgramTopicDetection() Function using Ruby"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-14 14:22] christyjacob4 opened #4459 "⚡ Write a deepgramTopicDetection() Function using Swift"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-14 14:22] christyjacob4 opened #4460 "⚡ Write a deepgramTopicDetection() Function using Java"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-14 14:22] christyjacob4 opened #4461 "⚡ Write a deepgramTopicDetection() Function using Kotlin"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-14 14:22] christyjacob4 opened #4462 "⚡ Write a deepgramTopicDetection() Function using .NET"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-14 14:23] christyjacob4 opened #4463 "⚡ Write a deepgramAudioSummary() Function using Node"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-14 14:23] christyjacob4 opened #4464 "⚡ Write a deepgramLanguageDetection() Function using Dart"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-14 14:23] christyjacob4 opened #4465 "⚡ Write a deepgramLanguageDetection() Function using Deno"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-14 14:23] christyjacob4 opened #4466 "⚡ Write a deepgramLanguageDetection() Function using Node"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-14 14:23] christyjacob4 opened #4467 "⚡ Write a deepgramLanguageDetection() Function using PHP"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-14 14:23] christyjacob4 opened #4468 "⚡ Write a deepgramLanguageDetection() Function using Python"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-14 14:23] christyjacob4 opened #4469 "⚡ Write a deepgramLanguageDetection() Function using Ruby"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-14 14:23] christyjacob4 opened #4470 "⚡ Write a deepgramLanguageDetection() Function using Swift"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-14 14:23] christyjacob4 opened #4471 "⚡ Write a deepgramLanguageDetection() Function using Java"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-14 14:23] christyjacob4 opened #4472 "⚡ Write a deepgramLanguageDetection() Function using Kotlin"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-14 14:23] christyjacob4 opened #4473 "⚡ Write a deepgramLanguageDetection() Function using .NET"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-14 14:23] christyjacob4 opened #4474 "⚡ Write a deepgramAudioSummary() Function using PHP"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-14 14:23] christyjacob4 opened #4475 "⚡ Write a deepgramTranscribeVideo() Function using Dart"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-14 14:23] christyjacob4 opened #4476 "⚡ Write a deepgramTranscribeVideo() Function using Deno"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-14 14:23] christyjacob4 opened #4477 "⚡ Write a deepgramTranscribeVideo() Function using Node"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-14 14:23] christyjacob4 opened #4478 "⚡ Write a deepgramTranscribeVideo() Function using PHP"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-14 14:23] christyjacob4 opened #4479 "⚡ Write a deepgramTranscribeVideo() Function using Python"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-14 14:24] christyjacob4 opened #4480 "⚡ Write a deepgramTranscribeVideo() Function using Ruby"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-14 14:24] christyjacob4 opened #4481 "⚡ Write a deepgramTranscribeVideo() Function using Swift"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-14 14:24] christyjacob4 opened #4482 "⚡ Write a deepgramTranscribeVideo() Function using Java"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-14 14:24] caramelmelmel commented on #4466
Hi @christyjacob4 can I be assigned to this issue?

[2022-10-14 14:24] christyjacob4 opened #4483 "⚡ Write a deepgramTranscribeVideo() Function using Kotlin"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-14 14:24] christyjacob4 opened #4484 "⚡ Write a deepgramTranscribeVideo() Function using .NET"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-14 14:24] christyjacob4 opened #4485 "⚡ Write a deepgramAudioSummary() Function using Python"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-14 14:24] christyjacob4 opened #4486 "⚡ Write a deepgramTranscribeAudio() Function using Dart"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-14 14:24] christyjacob4 opened #4487 "⚡ Write a deepgramTranscribeAudio() Function using Deno"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-14 14:24] christyjacob4 opened #4488 "⚡ Write a deepgramTranscribeAudio() Function using Node"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-14 14:24] christyjacob4 opened #4489 "⚡ Write a deepgramTranscribeAudio() Function using PHP"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-14 14:24] christyjacob4 opened #4490 "⚡ Write a deepgramTranscribeAudio() Function using Python"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-14 14:24] christyjacob4 opened #4491 "⚡ Write a deepgramTranscribeAudio() Function using Ruby"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-14 14:24] christyjacob4 opened #4492 "⚡ Write a deepgramTranscribeAudio() Function using Swift"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-14 14:24] christyjacob4 opened #4493 "⚡ Write a deepgramTranscribeAudio() Function using Java"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-14 14:24] christyjacob4 opened #4494 "⚡ Write a deepgramTranscribeAudio() Function using Kotlin"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-14 14:24] christyjacob4 opened #4495 "⚡ Write a deepgramTranscribeAudio() Function using .NET"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-14 14:24] christyjacob4 opened #4496 "⚡ Write a deepgramAudioSummary() Function using Ruby"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-14 14:24] caramelmelmel commented on #4466
but may I ask why is a wav file a first consideration?

[2022-10-14 14:25] christyjacob4 opened #4497 "⚡ Write a deepgramAudioSummary() Function using Swift"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-14 14:25] christyjacob4 opened #4498 "⚡ Write a deepgramAudioSummary() Function using Java"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-14 14:25] christyjacob4 opened #4499 "⚡ Write a deepgramAudioSummary() Function using Kotlin"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-14 14:25] christyjacob4 opened #4500 "⚡ Write a deepgramAudioSummary() Function using .NET"
# 💭 Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more in our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

The backbone of Appwrite Functions is [Open Runtimes](https://github.com/open-runtimes/open-runtimes), an environment for serverless cloud computing. Since all Ope

[2022-10-14 14:25] christyjacob4 opened #4501 "🏗️ Build ‘Audio summarization form‘ Demo App!"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to provide Appwriters with a **huge amount** of example projects that many use as learning resources. Not only that, we know it’s an amazing feeling to find a learning resource for connecting two technologies, so you don’t need to figure it out on your own.

Your task is to create ‘**Audio summarization

[2022-10-14 14:25] christyjacob4 opened #4502 "🏗️ Build ‘Topic detection form‘ Demo App!"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to provide Appwriters with a **huge amount** of example projects that many use as learning resources. Not only that, we know it’s an amazing feeling to find a learning resource for connecting two technologies, so you don’t need to figure it out on your own.

Your task is to create ‘**Topic detection form

[2022-10-14 14:25] christyjacob4 opened #4503 "🏗️ Build ‘Language detection form‘ Demo App!"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to provide Appwriters with a **huge amount** of example projects that many use as learning resources. Not only that, we know it’s an amazing feeling to find a learning resource for connecting two technologies, so you don’t need to figure it out on your own.

Your task is to create ‘**Language detection f

[2022-10-14 14:25] christyjacob4 opened #4504 "🏗️ Build ‘Podcast transcription form‘ Demo App!"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to provide Appwriters with a **huge amount** of example projects that many use as learning resources. Not only that, we know it’s an amazing feeling to find a learning resource for connecting two technologies, so you don’t need to figure it out on your own.

Your task is to create ‘**Podcast transcriptio

[2022-10-14 14:25] christyjacob4 opened #4505 "🏗️ Build ‘Video transcription form‘ Demo App!"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to provide Appwriters with a **huge amount** of example projects that many use as learning resources. Not only that, we know it’s an amazing feeling to find a learning resource for connecting two technologies, so you don’t need to figure it out on your own.

Your task is to create ‘**Video transcription

[2022-10-14 14:26] caramelmelmel commented on #4492
@christyjacob4 Can I also take on this issue if it's possible?

[2022-10-14 14:49] 35C4n0r commented on #4490
@christyjacob4 can you assign this issue to me.

[2022-10-14 14:57] caramelmelmel commented on #4497
Hi @christyjacob4 I can take this too!

[2022-10-14 14:58] caramelmelmel commented on #4488
Hi @christyjacob4 Can I take this issue?

[2022-10-14 15:09] Yordaniss commented on #4489
Hello @christyjacob4 i would like to work on this. Can you please assign this issue to me?

[2022-10-14 15:25] Rinshin-Jalal commented on #4457
I CAN DO THIS

[2022-10-14 15:25] Rinshin-Jalal commented on #4465
I can do this

[2022-10-14 15:26] Rinshin-Jalal commented on #4479
I can do this

[2022-10-14 15:27] Rinshin-Jalal commented on #4476
I can do this

[2022-10-14 16:17] ishaanbedi commented on #4497
Hey! I'd like to work on this! Can you please assign it to me?

[2022-10-14 17:02] zmiftah commented on #4208
Can you assign this to me?

[2022-10-14 17:17] Aadeesh11 commented on #4486
Hey I would like to work on this, can you assign it to me?

[2022-10-14 17:18] ItsAdityaKSingh commented on #4475
I would like to be assigned this issue!

[2022-10-14 17:18] ItsAdityaKSingh commented on #4464
I would like to be assigned this issue!

[2022-10-14 17:21] Aadeesh11 commented on #4477
Hey this looks interesting, can I work on this?

[2022-10-14 18:26] dsuarezlogans commented on #4294
sorry @stnguyen90 had an accident, so I won't be able to help

[2022-10-14 18:49] sketchomania commented on #4455
Hi @christyjacob4 Can I be assigned to the issue ?

[2022-10-14 19:03] jerempy commented on #4468
I'd like to do this one, can you assign me plz?

[2022-10-14 19:29] stnguyen90 commented on #4294
@dsuarezlogans, thanks for the update! Hope you're okay! 🙏

[2022-10-14 19:30] stnguyen90 commented on #4294
@megatank58, would you like to be assigned on this?

[2022-10-14 19:34] byt3h3ad commented on #4413
hey! is this up for reassignment?

[2022-10-14 20:11] jerempy commented on #4485
would you assign this one to me plz?

[2022-10-14 20:52] toukirkhan commented on #3999
I do not find any extensions for lzma compression hence am unassigning myself and would work on another issue.

[2022-10-14 20:59] toukirkhan commented on #4457
please assign me this one

[2022-10-14 21:00] toukirkhan commented on #4468
I would like to work on this one

[2022-10-14 21:00] toukirkhan commented on #4479
I want to work on this one

[2022-10-14 21:03] toukirkhan commented on #4477
I want to work on this one

[2022-10-14 21:04] toukirkhan commented on #4488
can I work on this one?

[2022-10-14 21:05] toukirkhan commented on #4495
I want to work on this one, please assign me

[2022-10-14 21:52] stnguyen90 opened #4507 "🐛 Bug Report: Multiple Create File Events for Chunked Uploads"
### 👟 Reproduction steps

1. Subscribe to `files` via Realtime API or create a Function that triggers on file creation
2. Create a file bigger than 5MB

### 👍 Expected behavior

1 event is triggered after the file is created.

### 👎 Actual Behavior

An event is triggered for each chunked upload. For example, I uploaded a 9.7MB file and got 2 realtime events:

1st:

[code]

2nd:

[code]

### 🎲 Appw

[2022-10-14 23:03] stnguyen90 commented on #4498
@ffex Thanks for your interest! You may work on this issue 🙏 Happy hacking! 🎃

[2022-10-14 23:04] stnguyen90 commented on #4497
@caramelmelmel Thanks for your interest! You may work on this issue 🙏 Happy hacking! 🎃

@ishaanbedi We're assigning people on a first come first serve basis. If @caramelmelmel isn't able to complete this issue, we'll reassign it accordingly. In the meantime, you can find another Hacktoberfest issue via our [website](https://hacktoberfest.appwrite.io/).

[2022-10-14 23:05] stnguyen90 commented on #4495
@toukirkhan Thanks for your interest! You may work on this issue 🙏 Happy hacking! 🎃

[2022-10-14 23:08] stnguyen90 commented on #4490
@35C4n0r Thanks for your interest! You may work on this issue 🙏 Happy hacking! 🎃

[2022-10-14 23:08] stnguyen90 commented on #4489
@Yordaniss Thanks for your interest! You may work on this issue 🙏 Happy hacking! 🎃

[2022-10-14 23:09] stnguyen90 commented on #4486
@Aadeesh11 Thanks for your interest! You may work on this issue 🙏 Happy hacking! 🎃

[2022-10-14 23:09] stnguyen90 commented on #4485
@jerempy Thanks for your interest! You may work on this issue 🙏 Happy hacking! 🎃

[2022-10-14 23:10] stnguyen90 commented on #4479
@Rinshin-Jalal Thanks for your interest! You may work on this issue 🙏 Happy hacking! 🎃

@toukirkhan We're assigning people on a first come first serve basis. If @Rinshin-Jalal isn't able to complete this issue, we'll reassign it accordingly. In the meantime, you can find another Hacktoberfest issue via our [website](https://hacktoberfest.appwrite.io/).

[2022-10-14 23:12] stnguyen90 commented on #4475
@ItsAdityaKSingh Thanks for your interest! You may work on this issue 🙏 Happy hacking! 🎃

[2022-10-14 23:20] stnguyen90 commented on #4455
@sketchomania Thanks for your interest! You may work on this issue 🙏 Happy hacking! 🎃

[2022-10-14 23:20] stnguyen90 commented on #4413
@mohith2883 Thanks for your interest! You may work on this issue 🙏 Happy hacking! 🎃

[2022-10-14 23:21] stnguyen90 commented on #4413
@byt3h3ad We're assigning people on a first come first serve basis. If @mohith2883 isn't able to complete this issue, we'll reassign it accordingly. In the meantime, you can find another Hacktoberfest issue via our [website](https://hacktoberfest.appwrite.io/).

[2022-10-14 23:23] stnguyen90 commented on #4408
@ItsAdityaKSingh, considering Hacktoberfest is the whole month, we can give people at least 7 days to work on issues.

@ItsAdityaKSingh please let us know if you can't work on the issue and we'll reassign it accordingly.

[2022-10-14 23:24] stnguyen90 commented on #4406
@Ln11211 Let's give the assignee at least a week. After that, we can consier a new assignee for inactivity.

[2022-10-14 23:25] stnguyen90 commented on #4387
@ItsAdityaKSingh Let's give the assignee at least a week. After that, we can consider a new assignee for inactivity.

[2022-10-14 23:26] stnguyen90 commented on #4381
@Ambareen09 Thanks for the PR! 🤯 Please give us some time to review it.

[2022-10-14 23:26] stnguyen90 commented on #4352
@abhishek-sultaniya Thanks for the PR! 🤯 Please give us some time to review it.

[2022-10-14 23:26] stnguyen90 commented on #4307
@Rinshin-Jalal Go ahead, you can start work on this issue 😊 This issue is open for everyone and we want as many quality PRs as our community can create.

[2022-10-14 23:27] stnguyen90 commented on #4208
@zmiftah Thanks for your interest! You may work on this issue 🙏 Happy hacking! 🎃

[2022-10-14 23:34] stnguyen90 commented on #4024
@Arpan-206 what exactly would this do?

[2022-10-14 23:35] stnguyen90 commented on #3961
@extinctsion Go ahead, you can start work on this issue 😊 This issue is open for everyone and we want as many quality PRs as our community can create.

[2022-10-15 00:46] jerempy commented on #4485
@stnguyen90 thanks for respondng so fast. Something came up though and I probably won’t be able to contribute so I wanted to let you know quickly so it can be re opened for someone else

[2022-10-15 01:28] sketchomania commented on #4455
@stnguyen90 thanks for assigning me 🎃

[2022-10-15 02:49] stnguyen90 commented on #4485
@jerempy thanks for letting us know! I'll unassign you now. 🙏

[2022-10-15 02:55] Arpan-206 commented on #4024
I mean a URL shortener Discord bot using Appwrite

[2022-10-15 03:48] 35C4n0r commented on #4490
@stnguyen90 in the output's ```deepgramData``` do i just return the transcript or the other things too

![image](https://user-images.githubusercontent.com/70096901/195967514-c3798ea0-cd84-4174-a51c-9fcb9025b603.png)

[2022-10-15 03:58] akarsh-jain-790 commented on #4493
@christyjacob4 can u assign this issue to me?

[2022-10-15 03:59] akarsh-jain-790 commented on #4460
@christyjacob4 can u assign this issue to me?

[2022-10-15 04:01] akarsh-jain-790 commented on #4502
@christyjacob4 I'm working on it.

[2022-10-15 05:06] mohith2883 commented on #4413
@stnguyen90  I raised a PR can you review and tell me if I missed any document

[2022-10-15 05:16] mohith2883 commented on #4410
Hey @Meldiron can you reassign it to me

[2022-10-15 05:22] RizkyRajitha commented on #4236
Thank you @abnegate  for clarification

[2022-10-15 05:29] Ln11211 commented on #4386
Hello @Meldiron , if this issue goes stale and has no PR raised in time, could you please reassign this to me?

[2022-10-15 06:30] skdotv commented on #4269
@codercatdev understood, actually I opened the repo directly i.e (demo-almost-netflix-for-flutter) later I got to know that there is already an issue in the main repo i.e (appwrite).

[2022-10-15 06:32] Goheljay commented on #4095
@Meldiron  i could not complete this issue for some reson. sorry for that.
please reassigne to other people.
thank you.

[2022-10-15 06:58] MoskalykA commented on #4487
I would like to do this

[2022-10-15 06:58] MoskalykA commented on #4454
I would like to do this

[2022-10-15 08:04] Azanul commented on #4496
I'd like to work on this issue

[2022-10-15 08:05] Ambareen09 commented on #4480
Hey, Can I be assigned this issue?

[2022-10-15 08:12] tanishk-23 commented on #4482
@christyjacob4 can you assign this issue to me?

[2022-10-15 08:13] tanishk-23 commented on #4501
@christyjacob4  can you assign this issue to me?

[2022-10-15 08:14] tanishk-23 commented on #4503
@christyjacob4 can you assign this issue to me?

[2022-10-15 08:14] tanishk-23 commented on #4499
@christyjacob4 can you assign this issue to me?

[2022-10-15 08:22] tessamero commented on #4095
@anushagupta1312 would you like to work on this issue? Let us know and we will assign you.

[2022-10-15 08:23] tessamero commented on #4499
@tanishk-23 Yea you can work on it. Happy hacking :-)

[2022-10-15 08:24] tessamero commented on #4503
@tanishk-23 Yes you can. I'll assign the issue to you. Happy hacking :-)

[2022-10-15 08:25] tessamero commented on #4501
@tanishk-23 since I just assigned a couple issues to you, please complete those before we assign more. Thank you and looking forward to seeing your contributions :-)

[2022-10-15 08:26] tessamero commented on #4480
@Ambareen09 Yes you can. Assigned to you now. Happy hacking :)

[2022-10-15 08:26] tessamero commented on #4454
@MoskalykA Yes you can. Assigning to you. Happy hacking :-)

[2022-10-15 09:31] iamAditya01 commented on #4500
i would like to take this one

[2022-10-15 09:32] iamAditya01 commented on #4420
assign me this one

[2022-10-15 09:52] Akshay-Rana-Gujjar commented on #4446
@toukirkhan buddy are you still working on this issue, as I can see you have removed yourself from this issue.
If you are not working I would like to work on this.

cc: @stnguyen90

[2022-10-15 09:53] toukirkhan commented on #4446
Yeah sure you can work on this my friend.

[2022-10-15 09:54] Akshay-Rana-Gujjar commented on #4446
Thanks

@stnguyen90 could you please assign this to me?

[2022-10-15 10:51] ayushpaharia commented on #4504
Interested in working on it

[2022-10-15 10:51] nooras commented on #4372
HI @Meldiron
Need help
I made changes in below files
![image](https://user-images.githubusercontent.com/30138146/195982458-8f193a43-f97c-4d6b-90c2-8ee2d970d927.png)

on running composer check
i am getting lots of error

![image](https://user-images.githubusercontent.com/30138146/195982498-fc49488d-5695-4b6a-9d1f-6c22d70bebbd.png)

Can you please help me how to resolve that ?
Thanks

[2022-10-15 11:10] dhruvtailor7 commented on #4494
I would like to work on this issue.

[2022-10-15 11:31] GunjanDhanuka commented on #4453
Hey I would like to work on this issue! Can you assign this to me?

[2022-10-15 11:32] GunjanDhanuka commented on #4451
Hey @christyjacob4  can you assign me this issue?

[2022-10-15 11:43] somya-15 commented on #4505
I am interested in working on this issue. Thanks!

[2022-10-15 12:57] vasucp1207 commented on #4452
Hey, I want to work on this issue.

[2022-10-15 13:39] ZarakiKanzaki commented on #4473
Hi, may I contribute to this issue?

[2022-10-15 13:48] Yashsomalkar commented on #4472
I would like to work on this !

[2022-10-15 13:58] mohith2883 commented on #4382
Hey @Meldiron can you reassign me

[2022-10-15 14:00] mohith2883 commented on #4388
Hey @Meldiron I want to do this can you reassign me

[2022-10-15 14:46] stnguyen90 commented on #3999
@toukirkhan, yes, it seems whoever picks this up will need to write an extension for lzma compression.

[2022-10-15 15:26] stnguyen90 opened #4508 "🧱 Build Almost Whatsapp. Be Creative!"
# 💭 Introduction

Appwrite is all about open source and community 👥 To emphasize this, we want to provide Appwriters with a **huge amount** of example projects that many use as learning resources.

We understand Appwrite’s tech stack might not be your cup of tea, so we decided to prepare a series of `Almost (something)` projects. This series of issues is here to let your creativity shine! ✨

Your

[2022-10-15 15:29] shivendoodeshmukh commented on #4485
Can you please assign this to me? I'll give it a try

[2022-10-15 15:30] stnguyen90 commented on #4024
@yaakov123, you can go ahead and comment on this with your interest: https://github.com/appwrite/appwrite/issues/4508

[2022-10-15 15:58] ronelgazar commented on #4388
Hi, i am currently working on it.

[2022-10-15 16:37] neelshah2409 commented on #4456
Hey,I want to work on it .

[2022-10-15 17:30] maxslimb commented on #4483
Hey, can i work on this issue?

[2022-10-15 17:49] neelshah2409 commented on #4457
I wanted to work on this issue !!

[2022-10-15 17:51] mintbomb27 commented on #4508
I'd like to work on this!

[2022-10-15 18:32] Rinshin-Jalal commented on #4490
@stnguyen90,I have the same question

[2022-10-15 19:03] tessamero commented on #4500
@iamAditya01 , thanks for your interest! You may work on this issue 🙏 Happy hacking! 🎃

[2022-10-15 19:04] amarjeet987 commented on #4508
@mintbomb27 want to work on it together?

[2022-10-15 19:06] tessamero commented on #4496
@Azanul , thanks for your interest! You may work on this issue 🙏 Happy hacking! 🎃

[2022-10-15 19:08] oguzakif commented on #4471
Hi, I would like to contribute this issue!

[2022-10-15 19:16] tessamero commented on #4494
@dhruvtailor7 , thanks for your interest! You may work on this issue 🙏 Happy hacking! 🎃

[2022-10-15 19:16] tessamero commented on #4493
@akarsh-jain-790 , thanks for your interest! You may work on this issue 🙏 Happy hacking! 🎃

[2022-10-15 19:17] tessamero commented on #4492
@caramelmelmel , thanks for your interest! You may work on this issue 🙏 Happy hacking! 🎃

[2022-10-15 19:17] tessamero commented on #4487
@MoskalykA , thanks for your interest! You may work on this issue 🙏 Happy hacking! 🎃

[2022-10-15 19:18] tessamero commented on #4483
@maxslimb , thanks for your interest! You may work on this issue 🙏 Happy hacking! 🎃

[2022-10-15 19:18] tessamero commented on #4488
@caramelmelmel , thanks for your interest! You may work on this issue 🙏 Happy hacking! 🎃

[2022-10-15 19:19] tessamero commented on #4488
@toukirkhan , we are assigning people on a first come first serve basis. If @caramelmelmel  isn't able to complete this issue, we will reassign accordingly. In the meantime, you can find other hacktoberfest issues via our [website](https://hacktoberfest.appwrite.io/).

[2022-10-15 19:35] mintbomb27 commented on #4508
Hey @amarjeet987 sure! I'll make the repo and add you? Mail me at alokme123@gmail.com

[2022-10-16 06:43] Dishant10 commented on #4481
Hey,
I would love to work on this issue. I have experience working with swift and iOS development. I'd appreciate if you can assign this issue to me.
Thank you !

[2022-10-16 06:58] Dishant10 commented on #4470
Hey,
I would love to work on this issue. I have experience working with swift and iOS development. It would be great if you can assign this issue to me.

[2022-10-16 08:05] neelshah2409 commented on #4501
I would like to work on this issue!!

[2022-10-16 08:07] neelshah2409 commented on #4478
Hey I would like to work on it!!

[2022-10-16 08:07] neelshah2409 commented on #4467
Hey I would like to work on it!!

[2022-10-16 08:08] neelshah2409 commented on #4456
@christyjacob4 may I start working on it .

[2022-10-16 08:10] neelshah2409 commented on #4474
Hey @christyjacob4 I would like to work on it .

[2022-10-16 08:17] hamza-arshad commented on #4477
@christyjacob4 can you assign this to me?

[2022-10-16 08:24] Shivansh-yadav13 commented on #4134
Hello @Meldiron I'm using https://github.com/WebGents/open_street_map
which gives a responses like postal code, address, road etc..
for screenshot I will have to use https://gitlab.com/Qwertie/osm_tile_grabber
I was not able to find any other which will generate a screenshot.

[2022-10-16 08:36] nooras commented on #4372
HI can anyone please help me @Meldiron @stnguyen90 @christyjacob4 in above issues.

[2022-10-16 09:11] scshiv29-dev opened #4510 "🐛 Bug Report:File Upload to bucket doesn't work"
### 👟 Reproduction steps

1.Create a new appwrite instance through coolify .
2.Open app create new project and a new bucket
3. try uploading a new file
4. see it fail

![image](https://user-images.githubusercontent.com/68141773/196027535-be68a9d7-5c17-4949-ac08-1bc7281fd96b.png)

### 👍 Expected behavior

Expected the file to upload

### 👎 Actual Behavior

File not uploaded.

### 🎲 Appwrite version

[2022-10-16 09:13] Shivansh-yadav13 commented on #4491
@christyjacob4 can I work on this?

[2022-10-16 10:01] DevMike123 commented on #4372
@nooras can you make a pr in the repo of your current changes so I can look into the errors through gitpod.

[2022-10-16 10:12] DevMike123 commented on #4372
How many errors are there?

[2022-10-16 10:16] nooras commented on #4372
Total 53
![image](https://user-images.githubusercontent.com/30138146/196029784-a91c445f-f6b0-46e9-b3be-f83f9fb1d3c8.png)
![image](https://user-images.githubusercontent.com/30138146/196029796-ebc54dbb-9c72-459e-a2d0-6130be63ea8c.png)
![image](https://user-images.githubusercontent.com/30138146/196029817-adc6e5dc-2f1e-40e7-a479-4cdd4a936eb0.png)

[2022-10-16 10:18] nooras commented on #4372
How to do that @DevMike123 ?

[2022-10-16 11:39] JayantGoel001 commented on #4461
Hey, can i work on this issue?

[2022-10-16 12:45] Noxx-7 commented on #4484
please assign me for the issue

[2022-10-16 13:28] ShivamTyagi12345 commented on #4508
Would like to help.

[2022-10-16 14:17] Tejs1 commented on #4504
Can multiple people work on same issue?

[2022-10-16 14:26] Saloni098 commented on #4508
@mintbomb27 I too would like to contribute to it. Can I join you guys as well?

[2022-10-16 15:01] chiragbairwa commented on #4308
@abnegate I am working on this issue. 🙌

[2022-10-16 15:16] Arpan-206 commented on #4307
Added a PR in the Awesome-Appwrite repository over [here](https://github.com/appwrite/awesome-appwrite/pull/441).

[2022-10-16 15:16] chiragbairwa opened #4511 "🐛 Bug Report: x-axis Overflow"
### 👟 Reproduction steps

I was hovering over the button which triggered this issue.

### 👍 Expected behavior

There should be enough margin to scale the button on hover
or
There should be an overflow-x : hidden;

### 👎 Actual Behavior

In website(https://hacktoberfest.appwrite.io/) Hover over "View all Hacktoberfest issues" button extend over x-axis length and overflow occurs. Check Image.
Before

[2022-10-16 15:17] chiragbairwa commented on #4511
Assign This Issue to me and i'll solve this ASAP

[2022-10-16 15:25] SiddharthShyniben commented on #4307
I'd like to work on this!

[2022-10-16 15:33] AVDiv commented on #4224
@christyjacob4 I like to work on this issue!!

[2022-10-16 16:47] Meldiron commented on #4472
@Yashsomalkar , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-16 16:48] shashwatSrivastava-official commented on #4155
Hey! Interested in the issue, please assign!
Thanks (:

[2022-10-16 17:02] codingmickey commented on #4505
I also will be working on this issue!

(I assume only it's not meant for one assignee only right?)

[2022-10-16 17:07] codingmickey commented on #4482
hi @christyjacob4, can I work on this issue?

[2022-10-16 17:39] vj-codes commented on #4485
@stnguyen90 hey can you assign this to me please?

[2022-10-16 17:44] tessamero commented on #4508
@mintbomb27 @amarjeet987 @ShivamTyagi12345 @Saloni098 Go ahead, you can all start working on this issue 😊 This issue is open for everyone and we want as many quality PRs as our community can create.

[2022-10-16 17:45] tessamero commented on #4505
@somya-15 @codingmickey Go ahead, you can all start working on this issue 😊 This issue is open for everyone and we want as many quality PRs as our community can create.

[2022-10-16 17:45] tessamero commented on #4504
@ayushpaharia @Tejs1 Go ahead, you can all start working on this issue 😊 This issue is open for everyone and we want as many quality PRs as our community can create.

[2022-10-16 17:46] tessamero commented on #4502
@akarsh-jain-790, go ahead, you can start working on this issue 😊 This issue is open for everyone and we want as many quality PRs as our community can create.

[2022-10-16 17:47] tessamero commented on #4501
@neelshah2409, go ahead, you can start working on this issue 😊 This issue is open for everyone and we want as many quality PRs as our community can create.

[2022-10-16 17:48] tessamero commented on #4491
@Shivansh-yadav13 Since no one was assigned and this is a first come first serve basis, you may submit the PR. Thank you for your contributions :)

[2022-10-16 17:52] tessamero commented on #4485
@shivendoodeshmukh , thanks for your interest! You may work on this issue 🙏 Happy hacking! 🎃

@stnguyen90 , we are assigning people on a first come first serve basis. If @shivendoodeshmukh isn't able to complete this issue, we will reassign it accordingly. In the meantime, you can find other Hacktoberfest issues via our [website](https://hacktoberfest.appwrite.io/).

[2022-10-16 17:52] tessamero commented on #4484
@Noxx-7 , thanks for your interest! You may work on this issue 🙏 Happy hacking! 🎃

[2022-10-16 17:54] tessamero commented on #4482
@tanishk-23 , thanks for your interest! You may work on this issue 🙏 Happy hacking! 🎃

@codingmickey , we are assigning people on a first come first serve basis. If @tanishk-23  isn't able to complete this issue, we will reassign it accordingly. In the meantime, you can find other hacktoberfest issues via our [website](https://hacktoberfest.appwrite.io/).

[2022-10-16 17:55] tessamero commented on #4481
@Dishant10 , thanks for your interest! You may work on this issue 🙏 Happy hacking! 🎃

[2022-10-16 17:55] tessamero commented on #4478
@neelshah2409 , thanks for your interest! You may work on this issue 🙏 Happy hacking! 🎃

[2022-10-16 17:56] tessamero commented on #4477
@Aadeesh11 , thanks for your interest! You may work on this issue 🙏 Happy hacking! 🎃

@toukirkhan, @hamza-arshad , we are assigning people on a first come first serve basis. If @Aadeesh11  isn't able to complete this issue, we will reassign accordingly. In the meantime, you can find other hacktoberfest issues via our [website](https://hacktoberfest.appwrite.io/).

[2022-10-16 17:57] tessamero commented on #4476
@Rinshin-Jalal , thanks for your interest! You may work on this issue 🙏 Happy hacking! 🎃

[2022-10-16 17:57] tessamero commented on #4474
@neelshah2409 , thanks for your interest! You may work on this issue 🙏 Happy hacking! 🎃

[2022-10-16 17:57] tessamero commented on #4473
@ZarakiKanzaki , thanks for your interest! You may work on this issue 🙏 Happy hacking! 🎃

[2022-10-16 17:58] tessamero commented on #4471
@oguzakif , thanks for your interest! You may work on this issue 🙏 Happy hacking! 🎃

[2022-10-16 17:58] tessamero commented on #4470
@Dishant10 , thanks for your interest! You may work on this issue 🙏 Happy hacking! 🎃

[2022-10-16 17:58] tessamero commented on #4468
@toukirkhan , thanks for your interest! You may work on this issue 🙏 Happy hacking! 🎃

[2022-10-16 18:00] tessamero commented on #4467
@neelshah2409 Looks like you have some issues assigned to you already. We request you complete those before requesting assignments on new ones. Also, please consider picking a different type of issue so other contributors can try this one.

[2022-10-16 18:01] tessamero commented on #4466
@caramelmelmel , thanks for your interest! You may work on this issue 🙏 Happy hacking! 🎃

For your question I will have @Meldiron answer this one

[2022-10-16 18:02] tessamero commented on #4464
@ItsAdityaKSingh , thanks for your interest! You may work on this issue 🙏 Happy hacking! 🎃

[2022-10-16 18:03] tessamero commented on #4463
@Aadeesh11 Looks like you have some issues assigned to you already. We request you complete those before requesting assignments on new ones. Also, please consider picking a different type of issue so other contributors can try this one.

[2022-10-16 18:03] tessamero commented on #4461
@JayantGoel001 , thanks for your interest! You may work on this issue 🙏 Happy hacking! 🎃

[2022-10-16 18:04] tessamero commented on #4460
@akarsh-jain-790  Looks like you have some issues assigned to you already. We request you to complete those before requesting assignments on new ones. Also, please consider picking a different type of issue so other contributors can try this one.

[2022-10-16 18:04] Rinshin-Jalal commented on #4465
Hi it is very easy to make these function deepgram

What if we make it by combining all of these like the send_message function which includes SMS, email, discord, and twitter?

[2022-10-16 18:06] tessamero commented on #4457
@Rinshin-Jalal, @toukirkhan , and @neelshah2409 Looks like you all have some issues assigned to you already (just recently). We request you complete those before requesting assignments on new ones. Also, please consider picking a different type of issue so other contributors can try this one.

[2022-10-16 18:06] tessamero commented on #4456
@neelshah2409 Looks like you have some issues assigned to you already. We request you to complete those before requesting assignments on new ones. Also, please consider picking a different type of issue so other contributors can try this one.

[2022-10-16 18:07] tessamero commented on #4453
@GunjanDhanuka , thanks for your interest! You may work on this issue 🙏 Happy hacking! 🎃

[2022-10-16 18:11] vj-codes commented on #4451
I would like to work on this please!

[2022-10-16 18:11] vj-codes commented on #4459
I would like to work on this please!

[2022-10-16 18:12] tessamero commented on #4452
@vasucp1207 , thanks for your interest! You may work on this issue 🙏 Happy hacking! 🎃

[2022-10-16 18:12] tessamero commented on #4451
@GunjanDhanuka , thanks for your interest! You may work on this issue 🙏 Happy hacking! 🎃

[2022-10-16 18:13] tessamero commented on #4451
@vj-codes , we are assigning people on a first come first serve basis. If @GunjanDhanuka  isn't able to complete this issue, we will reassign accordingly. In the meantime, you can find other hacktoberfest issues via our [website](https://hacktoberfest.appwrite.io/).

[2022-10-16 18:13] vj-codes commented on #4457
@tessamero heyyo I would like to work on this please!

[2022-10-16 18:13] Rinshin-Jalal commented on #4457
ok @tessamero
Actually, I have done this already ( only need to add a pull request )

So can you assign me to this one instead of  #4465

[2022-10-16 18:39] vasucp1207 commented on #4452
Thanks

[2022-10-16 18:45] mintbomb27 commented on #4508
@amarjeet987 @ShivamTyagi12345 @Saloni098
https://github.com/mintbomb27/almost-whatsapp/ Check the repo out. Everyone can contribute to the same!

[2022-10-16 18:55] Yashsomalkar commented on #4472
ok , thanks for assigning .

[2022-10-16 19:13] gauravagrwal commented on #4462
Hi @christyjacob4, I would like to work on this issue. Please assign it to me.

[2022-10-16 19:42] Rutam21 commented on #4467
@tessamero Please assign this to me as I have not worked with this type of issues previously. Also, I am ready with the PRs for my other assignments, just waiting for minor clarifications before I raise them. So, in the meantime I can work on this one. Thanks.

[2022-10-16 19:58] toukirkhan commented on #4468
@stnguyen90 can I get some reference?

[2022-10-17 00:44] artuk99 opened #4512 "🐛 Bug Report: ElasticEmail SMTP settings problem"
### 👟 Reproduction steps

I can't set up smtp email. Tried smtp.elasticemail.com and smtp25.elasticemail.com, ports 2525/25/587, changed tls and ssl settings. And yes used `docker-compose up -d --force-recreate `. However, appwrite does not connect to smtp and not send emails, but I can send emails using telnet.

docker compose exec appwrite-worker-mails vars:
[code]

`
root@1048319-ca27967:~/appw

[2022-10-17 01:29] Ln11211 commented on #4406
hello @stnguyen90 , can I begin my work? :)

[2022-10-17 02:43] Sooraj-s-98 commented on #4267
@codercatdev can you check my PR ?

[2022-10-17 03:57] gagandeepp commented on #4462
@christyjacob4 @Meldiron interested ,please assign

[2022-10-17 03:58] gagandeepp commented on #4457
@christyjacob4 @Meldiron Interested,please assign

[2022-10-17 03:59] gagandeepp commented on #4463
@christyjacob4 @tessamero  Interested ,please assign

[2022-10-17 04:05] gagandeepp commented on #4458
@christyjacob4 Interested ,please assign

[2022-10-17 04:06] Shivansh-yadav13 commented on #4469
I would like to contribute

[2022-10-17 04:08] gagandeepp commented on #3985
@christyjacob4 Interested,please assign

[2022-10-17 05:47] PMohanJ commented on #4018
Hi @stnguyen90! It's been two weeks since @Pradyuman7 made any updates to his PR. If it's okay, I would like to take up this issue from where he left off , if his due time is over. Also I've completed my previous assigned task, waiting for review.

[2022-10-17 06:13] tessamero commented on #4463
@gagandeepp, thanks for your interest! You may work on this issue 🙏 Happy hacking! 🎃

[2022-10-17 06:14] tessamero commented on #4469
@Shivansh-yadav13 , thanks for your interest! You may work on this issue 🙏 Happy hacking! 🎃

[2022-10-17 06:14] tessamero commented on #3985
@gagandeepp , thanks for your interest! You may work on this issue 🙏 Happy hacking! 🎃

[2022-10-17 06:15] tessamero commented on #4458
@gagandeepp  Looks like you have some issues assigned to you just now. We request you to complete those before requesting assignments on new ones. Also, please consider picking a different type of issue so other contributors can try this one.

[2022-10-17 06:17] tessamero commented on #4457
@gagandeepp  Looks like you have some issues assigned to you already. We request you to complete those before requesting assignments on new ones. Also, please consider picking a different type of issue so other contributors can try this one.

@vj-codes , thanks for your interest! You may work on this issue 🙏 Happy hacking! 🎃

[2022-10-17 06:20] tessamero commented on #4462
@gauravagrwal , thanks for your interest! You may work on this issue 🙏 Happy hacking! 🎃

[2022-10-17 06:21] tessamero commented on #4462
@gagandeepp , we are assigning people on a first come first serve basis. If isn't able to complete this issue, we will reassign accordingly. In the meantime, you can find other hacktoberfest issues via our website.

[2022-10-17 06:23] tessamero commented on #4267
@Sooraj-s-98, Thanks for the PR! 🤯 Please give us some time to review it.

[2022-10-17 06:27] tessamero commented on #4406
@Ln11211 i have assigned you the issue. Happy hacking :-)

[2022-10-17 06:41] artuk99 commented on #4512
My mistake, I didn't read the documentation carefully. Just set `_APP_SYSTEM_EMAIL_ADDRESS` and it works perfectly.

[2022-10-17 06:41] #4512 closed

[2022-10-17 06:44] Meldiron commented on #4307
@SiddharthShyniben , thanks for letting us know! 🙏 Go ahead, you can work on this issue 😇

[2022-10-17 06:45] Meldiron commented on #4308
@chiragbairwa Thanks for letting us know 😇

[2022-10-17 06:45] Meldiron commented on #4224
@AVDiv Thanks for letting us know 😇 You can go ahead and start working on this.

[2022-10-17 06:54] Meldiron commented on #4134
@Shivansh-yadav13 Hey there 👋 Looking at the source code of this library, it seems it uses the following endpoint: https://gitlab.com/Qwertie/osm_tile_grabber/-/blob/master/lib/osm_tile_grabber/osm_tile_grabber.rb#L55

Can we try to replicate the logic without using the library? It should be as simple as sending a proper request and parsing the response.

If it seems too complicated, you can use t

[2022-10-17 06:55] Meldiron commented on #4155
@shashwatSrivastava-official , we're assigning people on a first come first serve basis. If @zadilkhwaja  isn't able to complete this issue, we'll reassign accordingly. In the meantime, you can find another hacktoberfest issue via our [website](https://hacktoberfest.appwrite.io/).

[2022-10-17 06:57] Meldiron commented on #4372
@nooras PHPStan level can be configured in `composer.json`. The command you added mentions `--level max`, so that would become `--level 8`

[2022-10-17 06:58] Meldiron commented on #4382
@Sin-Sumit Hey there 👋 Can you please confirm with me if you are working on this issue?

[2022-10-17 06:58] Meldiron commented on #4386
@lucianosz7 Hey there 👋 Can you please confirm with me if you are working on this issue?

[2022-10-17 06:59] Meldiron commented on #4410
@rohitkori Hey there 👋 Can you please confirm with me if you are working on this issue?

[2022-10-17 06:59] devXprite opened #4514 "🚀 Feature: Add a custom Scroll Bar"
### 🔖 Feature description

https://user-images.githubusercontent.com/80192140/196314924-44953dda-4228-4f5b-9018-c9a43f12d75e.mp4

### 🎤 Pitch

I think it can enhance website look.

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://git

[2022-10-17 07:00] Meldiron commented on #4459
@vj-codes , looks like you have a similar issue assigned to you already. We request you to complete those before requesting assignments on new ones. Also, please consider picking a different type of issue so other contributors can try this one.

[2022-10-17 07:03] Meldiron commented on #4467
@Rutam21 Please raise PRs for other issues first 🙏 It helps us keep things moving.

[2022-10-17 07:04] Meldiron commented on #4468
@toukirkhan We explaint all as part of issue description. Regarding Deepgram, you can learn more on their website: https://deepgram.com/

Are there any specific questions?

[2022-10-17 07:06] Meldiron commented on #4490
Hey @35C4n0r amd @Rinshin-Jalal 👋 I didn't specify the structure of `deepgramData` as I had no idea what the output looks like. I think we should return everything as Deepgram sends us - no transforming. That way developer is not losing any data. In the end, if someone wanted only a piece of information, they could easily adjust the code.

[2022-10-17 07:17] toukirkhan commented on #4468
No I got it 🚀

On Mon, 17 Oct, 2022, 12:34 pm Matej Bačo, ***@***.***> wrote:

[2022-10-17 07:19] Rinshin-Jalal commented on #4490
Ok thanks

[2022-10-17 08:24] gopalkhasria commented on #4299
I tried to do but failed. Most probably missing some point. But can we integrate authentik with keycloak???? I will try to do this stupid thing ahahah

[2022-10-17 09:54] rohitkori commented on #4410
I have made a pr could you please look into it.

[2022-10-17 11:06] waveywaves opened #4516 "Investigate increasing developer productivity with pull requests environments"
### 🔖 Feature description

I would like to make life easier for existing and new Appwrite contributors including maintainers by implementing [Uffizzi](https://github.com/UffizziCloud/uffizzi) previews.
Disclaimer: I work on Uffizzi

### 🎤 Pitch

Uffizzi is a Open Source full stack previews engine and is free for Appwrite. This will provide newcomers with previews of their PRs in the cloud, allowin

[2022-10-17 11:08] CoderGaurav01 commented on #4456
hi, I would like to work on this issue.

[2022-10-17 11:10] mohith2883 commented on #4410
hey @Meldiron can I do it since no PR is raised

[2022-10-17 11:12] mohith2883 commented on #4385
hey @Meldiron can you assign me ?

[2022-10-17 11:18] quibenefacit commented on #728
I second that.  This would a very useful feature for mobile apps.  Lack of it is what stops me from using Appwrite.

[2022-10-17 11:24] quibenefacit commented on #728
Sure, sweep it under the rug.  If Appwrite doesn't take user requests seriously, users won't take Appwrite seriosuly either.

The request is clearly to allow phone OTP for mobile apps.  Yet one response points to a PHP solution (hello, 2005 called and what's its slippers back), the other just says there are other solutions without mentioning them.  What a joke.

[2022-10-17 11:31] quibenefacit commented on #3803
This brush-off attitude is what turns me away from Appwrite.  The original requester has asked for a very useful feature for mobile apps which I would also like to see.  He has clearly described it.  The response he got back was a bureaucratic brush off.

If Appwrite doesn't take its users' requests seriously, users won't take Appwrite seriously either.

[2022-10-17 11:36] eulercb commented on #4193
Hey @codercatdev, I'm sorry but I'll not be able to work on this issue for the next couple of weeks. So please, assign it to another developer!

Sorry for holding it for so long. 😔

[2022-10-17 13:19] joerush18 commented on #4029
working on it

[2022-10-17 13:52] sidharthpunathil commented on #4511
I have submitted my pull request :)
https://github.com/appwrite/hacktoberfest/pull/49

[2022-10-17 14:16] diamondzxd opened #4518 "🚀 Feature: Single command installer script"
### 🔖 Feature description

Adding a single command installer script so that the people who have a little idea about Docker, may not get stuck in installing docker and the dependencies for the same.

We can wrap it up into a bash script, which will take care of installing Docker and then installing the Appwrite container. The script will take care of installing the available updates and all the dep

[2022-10-17 14:38] somya-15 commented on #4505
@codingmickey would you like to work on this together?

[2022-10-17 14:45] Ln11211 commented on #4406
here you go

[2022-10-17 15:13] PrabeshPP commented on #4508
@stnguyen90  I want to work on this issue. But do I have to create a separate repo for this issue or I can work on someone else repo.

[2022-10-17 15:28] Tushar-2003 commented on #4247
Hi @stnguyen90 , is anyone working on this? If not can you, assign this to me?

[2022-10-17 15:46] stnguyen90 commented on #4024
@Arpan-206, that sounds like a great idea! Go ahead and work on the bot! Make sure to implement it as interactive commands so that you don't need a long-running function. You may need a proxy to translate the data from Discord into the format Appwrite expects. For that, you can use this [Webhook Proxy](https://github.com/Meldiron/railway-webhook-proxy).

[2022-10-17 15:52] PineappleIOnic commented on #4169
@AniketTewari, let us know if you'd like to continue this issue or if we should reassign it based on the comment from your PR.

[2022-10-17 16:13] Sin-Sumit commented on #4382
@Meldiron right now no.

[2022-10-17 17:01] stnguyen90 commented on #4465
@Rinshin-Jalal, thanks for the suggestion! 🙏 It makes sense, but we'd like to give several people opportunities to contribute

[2022-10-17 17:39] Tushar-2003 commented on #4081
Hello, I would like to work on this issue.
@ShahzaibJutt are you still working on it?
If no can anyone reassign it to me.

[2022-10-17 17:42] stnguyen90 commented on #4514
@devXprite, thanks for your suggestion! 🙏 We're actually in the process of rewriting the Appwrite Console and the new Console will have a custom scrollbar. As such, I don't think it is worth it to add the scrollbar to the old Console when it is going to be scrapped.

[2022-10-17 17:48] mintbomb27 commented on #4508
@PrabeshPP It's up to you. We've already started working on this at https://github.com/mintbomb27/almost-whatsapp/

[2022-10-17 17:50] Akshay-Rana-Gujjar commented on #4326
@tessamero please assign this issue to me. Thanks

[2022-10-17 17:57] stnguyen90 opened #4519 "🐛 Bug Report: Incorrect Error When Creating Duplicate Domain"
### 👟 Reproduction steps

1. Create a custom domain for a project
2. Create another custom domain that's the same as in step 1

### 👍 Expected behavior

Error indicates domain already exists

### 👎 Actual Behavior

Error says duplicate ID:

[code]

### 📝 Tasks

1. [ ] Update error:

https://github.com/appwrite/appwrite/blob/6c220467b8cb33e3784dc99a580cc322b370f9f1/app/config/errors.php#L534

2. [

[2022-10-17 18:05] stnguyen90 commented on #4511
@sidharthpunathil Please create your PR after you've been assigned to an issue.

[2022-10-17 18:18] stnguyen90 commented on #4510
Related issue in Coolify repo: https://github.com/coollabsio/coolify/issues/685

[2022-10-17 18:41] spiderxp3 commented on #4503
can I also work on this :)

[2022-10-17 18:50] ShahzaibJutt commented on #4081
I have submitted the pull request but it's not reviewed yet.

[2022-10-17 18:51] tessamero commented on #4503
@spiderxp3 Yes you can. Enjoy and happy hacking :)

[2022-10-17 18:52] tessamero commented on #4081
@ShahzaibJutt Thanks for the PR! 🤯 Please give us some time to review it. If you can link the PR to this issue that would be helpful too :)

[2022-10-17 18:53] tessamero commented on #4326
@Akshay-Rana-Gujjar , thanks for your interest! You may work on this issue 🙏 Happy hacking! 🎃

[2022-10-17 18:54] 20RitikSingh commented on #4519
I want to contribute to this.

[2022-10-17 18:55] tessamero commented on #4226
@Tushar-2003 Go ahead, you can start work on this issue 😊 This issue is open for everyone and we want as many quality PRs as our community can create. I am llooking forward to seeing your coding demo :)

[2022-10-17 18:56] tessamero commented on #4406
@Ln11211 Thanks for the PR! 🤯 Please give us some time to review it.

[2022-10-17 19:01] tessamero commented on #4456
@CoderGaurav01 , thanks for your interest! You may work on this issue 🙏 Happy hacking! 🎃

[2022-10-17 19:26] yaakov123 commented on #4508
I've already created a complete clone in a separate repo here - https://github.com/yaakov123/whatsapp-clone

[2022-10-17 19:27] yaakov123 commented on #4508
Here's the PR for awesome-appwrite - https://github.com/appwrite/awesome-appwrite/pull/435/files

[2022-10-17 19:28] yaakov123 commented on #4024
I've already created the clone and added the PR in the awesome-appwrite repo a while ago, but nobody took a look at it. https://github.com/appwrite/awesome-appwrite/pull/435/files

[2022-10-17 19:30] eldadfux commented on #3803
We have accepted hundreds of issues and PRs from community suggestions by now. We will be more than happy to add support for Firebase or any other service vendor out there.

Adding SMS adapters for phone auth is something that was designed to work with communication providers like Twilio, Telesign or Vonage. New adapters can be easily contributing by following the [contribution guide](https://gith

[2022-10-17 19:44] vj-codes commented on #4457
Thanks @tessamero

[2022-10-17 20:07] myThorsten commented on #4059
I can no longer reproduce the problem. Don't ask me what the problem was :(

[2022-10-17 20:07] #4059 closed

[2022-10-17 20:12] quibenefacit commented on #3803
Thanks for a more useful response.
I can't speak for the original poster's motivation, but my interest in this is indeed being able to leverage Firebase's SMS facility to receive a confirmation code.   I don't understand how this is different from receiving an SMS confirmation code from Twilio, which you say you support.

[2022-10-17 20:31] stnguyen90 commented on #3803
@quibenefacit, the SMS providers we support allow us to generate codes ourselves, use the provider to send the code, and then we have the code in our database so that we can verify it. Unfortunately, Firebase does not expose any API that allows us to send an SMS message; their phone authentication is fully siloed into their platform.

Some additional resources from a quick search:

1. https://stac

[2022-10-17 20:47] quibenefacit commented on #3803
@stnguyen90 Thank you, all of this is finally making sense.
Do you have a guide on how to implement a passwordless OTP phone auth in Appwrite using Twilio?

[2022-10-17 20:58] stnguyen90 commented on #3803
@quibenefacit, [this](https://dev.to/appwrite/phone-authentication-with-appwrite-and-twilio-26ek) is a good start, but some things have changed since this was published. For example, the environment variables are now:

[code]

Refer to our docs for the latest info:

* [Authentication Guide](https://appwrite.io/docs/authentication#phone)
* [Environment Variables](https://appwrite.io/docs/environmen

[2022-10-18 00:42] megatank58 commented on #4294
Hello there, i have already made a PR #4391, feel free to contribute there

[2022-10-18 02:55] timsedev opened #4522 "🐛 Bug Report: Build failed: Docker Error: tar: can't open '/tmp/code.tar.gz': No such file or directory"
### 👟 Reproduction steps

I init a new function. And when I tried to deploy the function, it failed with the error :
`Build failed: Docker Error: tar: can't open '/tmp/code.tar.gz': No such file or directory`

I tried to deploy manually, but it had the same result.

I tried to create a new function and deploy it, it had the same result too.

I am a beginner, I tried to find answers online, but I c

[2022-10-18 04:24] MoskalykA commented on #4487
Hi, I can't find this part on their documentation, can someone help me please

[2022-10-18 04:46] stnguyen90 commented on #4522
What runtime and version? Did you modify the code or did you deploy the starter code? Did you deploy via `appwrite deploy function`?

[2022-10-18 05:02] Vikki123 commented on #4266
Hey @gewenyu99 @christyjacob4 Could yo please merge the PR. Thank you !

[2022-10-18 05:26] varadkarpe commented on #4518
Hey, can I contribute to this?

[2022-10-18 06:25] Atharvk7 commented on #4519
Could you assign this issue to me
I want to contribute

[2022-10-18 06:42] dakshbhardwaj commented on #4460
@christyjacob4 can u assign this to me?

[2022-10-18 06:42] Meldiron commented on #4519
@20RitikSingh , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-18 06:43] Meldiron commented on #4519
@Atharvk7 , we're assigning people on a first come first serve basis. If @20RitikSingh  isn't able to complete this issue, we'll reassign accordingly. In the meantime, you can find another hacktoberfest issue via our [website](https://hacktoberfest.appwrite.io/).

[2022-10-18 06:44] Meldiron commented on #4487
@MoskalykA I think this would go under their pre-recorded audio docs: https://developers.deepgram.com/documentation/getting-started/prerecorded/

[2022-10-18 06:45] Meldiron commented on #4382
@Sin-Sumit Thanks for letting us know 🙏 If you have more time in the future I am sure we will have some more issues ready for you 😇

@mohith2883 Assigning you now, happy hacking 🎃

[2022-10-18 06:47] Meldiron commented on #4467
@Rutam21 I notice you have 2 issues assigned, one of them without a PR yet. Let's first focus on getting this PR done, then I am more than happy to assign you some more 😇

[2022-10-18 06:47] Meldiron commented on #4385
@SayuruRehan Hey there 👋 Can you please confirm with me if you are working on this issue?

[2022-10-18 06:48] Meldiron commented on #4193
@eulercb No worries, thanks for letting us know 🙏

[2022-10-18 06:51] Meldiron commented on #4266
@Vikki123 Hey there 👋 I noticed there is an approving review, so I also added `hacktoberfest-accepted` label. That should be enough to mark PR as valid for Hacktoberfest.

Regarding merging, that is done after a second review from an engineering team leader. Please be patient regarding the merge 🙏

[2022-10-18 06:58] Meldiron commented on #4029
@joerush18 Thanks for letting us know 😇 Happy hacking 🎃

[2022-10-18 06:58] Meldiron commented on #4247
@sarkartanmay393 @Tushar-2003 , Thanks for letting us know 😇 You can both go ahead and start working on this.

[2022-10-18 07:21] muhammadirfanlive opened #4523 "[DELETED]"
### 🔖 Feature description

[DELETED]

### 🎤 Pitch

combability

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.com/appwrite/appwrite/blob/HEAD/CODE_OF_CONDUCT.md)

[2022-10-18 07:30] muhammadirfanlive commented on #4523
@eldadfux @TorstenDittmann  please read this

[2022-10-18 09:07] Shivansh-yadav13 commented on #4134
@Meldiron I have tried implementing it
there is one thing
open street will only allow if a `User-Agent` header exists so should we also take this from the users? like an env var?
![Screenshot from 2022-10-18 14-36-42](https://user-images.githubusercontent.com/87603425/196387644-af59bb35-fdf4-4897-9525-9487be48bd66.png)

[2022-10-18 09:09] eldadfux commented on #4523
While criticism is encouraged and embarrassed we will not tolerate such language in the Appwrite community. Please make sure to review and follow our code of conduct and community guidelines in order to take active parts in discussions and collaborations.

https://github.com/appwrite/appwrite/blob/HEAD/CODE_OF_CONDUCT.md

[2022-10-18 09:09] #4523 closed

[2022-10-18 09:15] AlgyJr commented on #3980
Sorry @stnguyen90 , you can unssign this issue to give oportunity to others, I've already completed my hacktoberfest contributions target. I've tried to close this issue, but found it a lot things to do, and didn't have good examples related to NoSQL DB adapters. Thanks for the opportunity.

[2022-10-18 09:20] muhammadirfanlive commented on #4523
@eldadfux  i want your attention at any cost sorry for that I don't want to Hurt you please. add offline combability with out offline compatibility we are not able to develop big project please. you are high level developer i am nothing please. help

[2022-10-18 09:20] AlgyJr commented on #3957
Sorry @stnguyen90 , can you assing this issue to @NightHack36 , I already completed my hacktoberfest contributions target. I've tried to close this issue, but found it a lot things to do, I've implemented to send message type SMS only, was lefting Email, Discord and Twitter. Thanks for the opportunity.

@NightHack36 Happy Hacktoberfest.

[2022-10-18 09:46] letsintegreat commented on #4024
Hey! I would like to make a Diary app using Appwrite as backend. The app would be helpful for those who like to maintain a personal Diary. An app will help them write it daily on the go!

The app will demonstrate the usage of Appwrite Users and Databases, and how to connect them to a flutter app.

[2022-10-18 10:29] akago-dev opened #4526 "🐛 Bug Report: Default value not working for attributes"
### 👟 Reproduction steps

Add a String or a bool with default value, then check existing documents, the returned value for those attributes is null.

### 👍 Expected behavior

Should update previous documents with default value.

### 👎 Actual Behavior

Return null value instead of default value

### 🎲 Appwrite version

Version 1.0.x

### 💻 Operating system

MacOS

### 🧱 Your Environment

local env

[2022-10-18 10:32] akago-dev opened #4527 "🐛 Bug Report: Add or Delete attribute with appwrite.json file not working properly"
### 👟 Reproduction steps

With existing collection, add or delete attribute from your collection schema in appwrite.json then deploy with cli.

### 👍 Expected behavior

Should add or delete attributes from existing collection and set defaults values if applicable.

### 👎 Actual Behavior

Attributes are added or deleted, but all the data for all documents is erased. Only documents ids remains.

###

[2022-10-18 10:43] eldadfux commented on #4523
Offline support is planned. This is the active community discussion about it.

[2022-10-18 11:33] eldadfux commented on #4523
https://github.com/appwrite/appwrite/issues/1168

[2022-10-18 12:04] silberGuy opened #4528 "🐛 Bug Report: Migrate: Base table or view not found: 1146 Table 'appwrite._console_' doesn't exist"
### 👟 Reproduction steps

Hi :)
I am trying to upgradte appwrite from 0.14 to 1.0.3, step by step.
First I did a backup for the DB and the volumes. Later I installed version `0.15.3`, and ran
[code]
the migration output gives the following error (full logs added below):
```SQLSTATE[42S02]: Base table or view not found: 1146 Table 'appwrite.\_console\_' doesn't exist```

### 👍 Expected behavior

Ha

[2022-10-18 13:41] stnguyen90 commented on #4528
@silberGuy is that migration output the first time you ran the migrate for 0.15?

[2022-10-18 13:55] dhruvtailor7 commented on #4494
Hi @tessamero. Can you please review my PR?

[2022-10-18 15:26] Ian-Yy commented on #4467
Hi @Meldiron, can I work on this?

[2022-10-18 15:29] stnguyen90 commented on #840
Thanks for raising this issue! 🙏 We are actually rewriting the Console and the new Console will support back swipe on Firefox. Stay tuned!

[2022-10-18 17:07] Meldiron commented on #4518
@eldadfux I think we wanted to do something like this looong time ago.

It was supposed to be something simple just like Deno or Docker has.

Deno: `curl -fsSL https://deno.land/install.sh | sh`
Docker: `curl -fsSL https://get.docker.com | sh`

[2022-10-18 17:20] diamondzxd commented on #4518
We could make a proper bash script then..
Which would allow to see the current upstream version, install, or uninstall the appwrite instance.

Would also love some helper scripts to easily backup and restore the data, or a couple more usecases, as currently used in Mailcow*

*Reference : https://github.com/mailcow/mailcow-dockerized/tree/master/helper-scripts

[2022-10-18 17:41] stnguyen90 commented on #3899
@ddenev I wonder if there's a problem with:

[code]

Can you try to remove the `e` or maybe to `e.toString()`?

[2022-10-18 18:03] stnguyen90 opened #4529 "🐛 Bug Report: Dart Function Runtime Doesn't Handle Errors"
### 👟 Reproduction steps

1. Deploy a dart function like:

[code]

2. Execute the function

### 👍 Expected behavior

The execution has stderr with the `panic!` message

### 👎 Actual Behavior

[code]

### 🎲 Appwrite version

Version 1.0.x

### 💻 Operating system

Linux

### 🧱 Your Environment

_No response_

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I chec

[2022-10-18 19:58] divyesh1099 commented on #4508
I would like to work on this.

[2022-10-18 20:02] nishant-giri commented on #4458
@christyjacob4, @gagandeepp, could you kindly assign this task to me?

[2022-10-18 23:27] timsedev commented on #4522
Thank you for replying.

Appwrite version: 1.0.3
Deploy runtime: Node.js 16, Python 3.9

At first I deployed with my modified code. But after several attempts, I did try to init a new function and deploy the starter code.

I tried to deploy via `appwrite deploy function` as well as manually. Both failed with the same error.

[2022-10-18 23:30] timsedev commented on #4522
In my opinion, I think there is a problem with my docker container.
Out of desperate, I clean and purge data. then reinstall appwrite.

And now I can deploy functions successfully.

Thank you for your help @stnguyen90

[2022-10-18 23:30] #4522 closed

[2022-10-19 06:57] rishu1601 commented on #4153
Hey @tessamero , if the issue is not in progress, please assign this to me.

[2022-10-19 07:03] Rancho2002 opened #4531 "Want to add 'Back to Top' button"
### 🔖 Feature description

I want to add <b>BACK TO TOP</b> button in https://hacktoberfest.appwrite.io/ this website. Please assign it to me @stnguyen90

### 🎤 Pitch

This feature modifies the website a lot. Because this website is quite long and if user wants to move to the top of the website reaching at the end, it is a bad experience if he/she scrolls again and again. So a <b>BACK TO TOP</b> b

[2022-10-19 07:38] silberGuy commented on #4528
@stnguyen90  The error is the same as the first time, although this is not the first

[2022-10-19 07:49] xuala69 opened #4532 "🐛 Bug Report: Search multiple attributes causes error"
### 👟 Reproduction steps

I have a collection with two string attributes (in this case name and content) and both have been indexed as Fulltext. When i search from my flutter app, i use the below code to search through the collection.

[code]

This gives an error as below:
[code]

The appwrite version on my server is 1.0.1. I have tried using version 1.0.3 on localhost to try out but still gives t

[2022-10-19 07:58] aaheli8 commented on #4379
I have configured PHPStan to level 9 and found 18 errors.

[2022-10-19 08:00] nelmfinda commented on #4496
Hi @christyjacob4, how many people can work on this issue?

[2022-10-19 08:14] aaheli8 commented on #4379
Hello, I am using PHPStan level 9 to analyze the code and got 13 errors. The most common error is "No value type specified in iterable type" and I would like to fix it, could you please provide any help or documentation on how to fix it?

[2022-10-19 12:21] rafaelbubach commented on #4086
Hey @tessamero, I'm sorry, but I'll not be able to work on this issue for the next few weeks.
If you want to assign it to another developer, please feel free!
Again, sorry for holding it for so long. :disappointed:

[2022-10-19 12:23] neelshah2409 commented on #4478
https://github.com/open-runtimes/examples/pull/99

Created a PR for this ,please review it.

[2022-10-19 13:41] neelshah2409 commented on #4467
@tessamero  I have completed my other PR's and also made this function so if you assign me then I will just make a PR.

[2022-10-19 13:47] m5l14i11 commented on #4131
@Meldiron Plz review

[2022-10-19 13:49] rohitkori commented on #4410
my pull request is not accepted till now can you please look into it.

[2022-10-19 13:58] aashishpanthi commented on #4011
I am working on this issue

[2022-10-19 14:52] rakshitgondwal commented on #3760
Hey @eldadfux and @binaryfire !!! I would like to work on this. Can you please brief me a little bit more about this issue?

[2022-10-19 14:54] rakshitgondwal commented on #4247
I would also like to work on this issue.

[2022-10-19 15:06] Shiba-Kar opened #4551 "🐛 Bug Report: Email Verification does not open the app ."
### 👟 Reproduction steps

1. Create account using email/password
2. Login to account using the same email/password
3. send Email verification request using ``` account.createVerification(url: url); ```
4. Open the link sent to the email
5. The app does not open instead opens the browser.

### 👍 Expected behavior

The link should navigate to app.

### 👎 Actual Behavior

The browser is opened.

###

[2022-10-19 15:40] stnguyen90 commented on #4018
@Pradyuman7, how's your progress on this?

[2022-10-19 15:48] PineappleIOnic commented on #4508
@divyesh1099 Feel free to work on it, This issue is open for everyone, and we want as many quality PRs as our community can create.

[2022-10-19 15:49] PineappleIOnic commented on #4496
@nelmfinda Unfortunately, This issue is only for one person to work on at a time, We have plenty more issues for you to tackle though!

[2022-10-19 15:51] PineappleIOnic commented on #4494
@dhruvtailor7 Reviewed! Thank you for your contribution. Once we merge the PR this issue will be automatically closed.

[2022-10-19 15:53] PineappleIOnic commented on #4467
@Ian-Yy thanks for your interest! 🙏 Happy hacking!

[2022-10-19 15:54] PineappleIOnic commented on #4467
@nishant-giri @neelshah2409 , we're assigning people on a first come first serve basis. If @Ian-Yy isn't able to complete this issue, we'll reassign accordingly. In the meantime, you can find another hacktoberfest issue via our [website](https://hacktoberfest.appwrite.io/).

[2022-10-19 15:54] PineappleIOnic commented on #4460
@dakshbhardwaj thanks for your interest! 🙏 Happy hacking!

[2022-10-19 15:57] PineappleIOnic commented on #4458
@nishant-giri thanks for your interest! 🙏 Happy hacking!

[2022-10-19 16:11] Pradyuman7 commented on #4018
@stnguyen90 unfortunately I've not been able to gather enough time to continue with this. Apologies for this, and please feel free to reassign. I have an incomplete PR which can also be reused if needed.

[2022-10-19 16:11] GenMech commented on #4164
@stnguyen90 Sorry I am taking some time doing this due to some of my college stuff but I will work on this issue by this week.

[2022-10-19 16:22] stnguyen90 commented on #4269
@sakshiisaxena, how's your progress on this? Please let us know if this needs to be reassigned.

[2022-10-19 16:51] stnguyen90 commented on #4344
@Susmita-Dey, thanks for raising this issue! 🙏 We're already working on cleaning up our docs so I don't think there's a need for anyone else to pick this up. I'm going to close this issue as it seems to be attracting unnecessary attention during Hacktoberfest.

[2022-10-19 16:51] #4344 closed

[2022-10-19 17:09] ItsAdityaKSingh commented on #4387
@stnguyen90 Since the issue has been open since 9 days now, could I now work upon resolving it?

[2022-10-19 17:24] stnguyen90 opened #4535 "🚀 Feature: Improve Error Handling"
### 🔖 Feature description

If there's a database error, Appwrite returns:

[code]

The appwrite docker logs show:

[code]

The problem is this is really unhelpful

### 🎤 Pitch

Appwrite should report on the actual error, maybe unwrapping the error thrown by https://github.com/utopia-php/framework/blob/d595df075aa9ee46147a388c63064b03aeeac466/src/App.php#L589-L593.

This would also help ensure this

[2022-10-19 17:27] stnguyen90 commented on #4532
After digging into the error a bit more, I found the underlying error was:

[code]

Would you please try creating additional indexes? 1 for each attribute should do it.

[2022-10-19 18:16] Samkit-shah commented on #4531
Can you assign me this?

[2022-10-19 18:20] stnguyen90 commented on #4531
@Rancho2002 thanks for raising this issue! 🙏 This isn't needed at the moment and we would prefer if people focus on hacktoberfest-labeled issues. I'm going to close this so that it doesn't attract extra attention during Hacktoberfest.

[2022-10-19 18:20] #4531 closed

[2022-10-19 18:45] matheusbona commented on #3962
I want to work on these, please

[2022-10-20 01:16] arnu515 commented on #4218
I created the PR appwrite/awesome-appwrite#447

[2022-10-20 03:24] Adnan-Jindani commented on #4508
I would like to work on this

[2022-10-20 07:16] cavallefano commented on #3868
if is it possibile i'd like to contribute

[2022-10-20 07:42] Meldiron commented on #4376
@BabyElias thanks for the PR! 🤯 Please give us some time to review it.

[2022-10-20 07:44] Meldiron commented on #4379
@aaheli8 I faced this issue as well, more info here: https://phpstan.org/blog/solving-phpstan-no-value-type-specified-in-iterable-type

It means there is type `array` specified, but that is too generic. We need to be specific and say it's for example array of strings `array<string>` or array where key is string and value is integer `array<string,int>`.

[2022-10-20 07:49] Shiba-Kar opened #4543 "🐛 Bug Report: $permissions is an Object rather than Array"
### 👟 Reproduction steps

1. Write to USER database and write to username collection  The is only one document in the collection.
[code]
2. Read the list of usernames in the usernames collection

[code]
This is the json when Flutter Client is used to create a document
[code]
This is the json when Appwrite Dashboard is used  to create a document
[code]
### 👍 Expected behavior

List of Documets

###

[2022-10-20 07:50] Meldiron commented on #4086
@rafaelbubach No worries 😇 Reassigning to @codingmickey

[2022-10-20 07:50] Meldiron commented on #4131
@m5l14i11 , thanks for the PR! 🤯 Please give us some time to review it.

[2022-10-20 07:51] Meldiron commented on #4134
@Shivansh-yadav13 Great point! 🔥 Yes, let's please create an env var for this.

[2022-10-20 07:54] Meldiron commented on #4018
@Pradyuman7 Thanks for letting us know 🙏 I am re-assigning to @PMohanJ . Ill keep the draft PR open as it might he great guidance for PMohanJ.

[2022-10-20 07:55] Meldiron commented on #3957
@AlgyJr Thanks for letting us know 🙏

@NightHack36 Are you still interested in this issue?

[2022-10-20 07:56] Meldiron commented on #3962
@matheusbona Thanks for letting us know 😇 You can go ahead and start working on this.

[2022-10-20 07:56] Meldiron commented on #4009
@Gregor-Davies Thanks for letting us know 😇 Happy hacking! 🎃

[2022-10-20 07:57] Meldiron commented on #4011
@aashishpanthi Thanks for letting us know 😇 Happy hacking! 🎃

[2022-10-20 07:57] Meldiron commented on #4247
@rakshitgondwal Thanks for letting us know 😇 You can go ahead and start working on this as well.

[2022-10-20 08:43] PMohanJ commented on #4018
Thanks @Meldiron! I'll try to finish it fast as I can.

[2022-10-20 08:51] linus1703 commented on #2735
Hey, any updates on this? Been awhile since the last update. Sadly, only this keeps me from using appwrite.

[2022-10-20 09:36] pomarec commented on #3994
My 2 cents : google cloud storage is compatible with S3 API.
Wouldn't it be easier to just allow a custom endpoint url (eg: https://storage.googleapis.com) to the AWS library ?

See relevant code :  https://github.com/utopia-php/storage/blob/main/src/Storage/Device/S3.php#L117
See option in [Google Cloud Console](https://console.cloud.google.com/) : Cloud Storage > Settings > Interoperability

[2022-10-20 09:36] neelshah2409 commented on #4007
I also wanted to work on this and already published blog regarding it .

[2022-10-20 09:39] Esther-Wavinya commented on #3967
@PineappleIOnic Is this being worked on? If not. Can I do this article?

[2022-10-20 09:42] Esther-Wavinya commented on #4202
@Sara-cos Are you doing this?

[2022-10-20 09:49] Esther-Wavinya commented on #4508
Sounds like a good project. I will work on it.

[2022-10-20 11:11] eigengravy commented on #3994
oh, i will look into that. thanks for the tip.

[2022-10-20 11:32] xuala69 commented on #4532
I did and it doesn't throw an error anymore. However, it doesn't return the expected result, just an empty list of documents.

[2022-10-20 13:43] divyesh1099 commented on #4508
Yuss ... On It 🤟

[2022-10-20 14:07] aaheli8 commented on #4379
@Meldiron Thank you, I am looking into it.

[2022-10-20 14:14] dhruvtailor7 commented on #4104
Hello @PineappleIOnic. Can you also review this PR?

[2022-10-20 15:09] ItsAdityaKSingh commented on #4410
@Meldiron This issue has been dormant for the past ten days. I would like to be assigned to this if possible, as I want to resolve this :)

[2022-10-20 15:13] ItsAdityaKSingh commented on #4405
@Tiansing are you working on resolving this issue?

[2022-10-20 15:19] ItsAdityaKSingh commented on #4389
@mohakgupt are you working on resolving this?

[2022-10-20 15:21] ItsAdityaKSingh commented on #4386
@Meldiron, the issue has been dormant for the past 10 days. Could I work on resolving this?

[2022-10-20 15:23] ItsAdityaKSingh commented on #4385
@Meldiron, this issue has also been dormant for the past 10 days. Could I work on resolving this?

[2022-10-20 15:24] ItsAdityaKSingh commented on #4384
@Sin-Sumit Are you still working on this issue?

[2022-10-20 15:25] diamondzxd opened #4541 "📚 Documentation: Writing a documentation for running a production focused Appwrite instance behind HTTPS"
### 💭 Description

Currently, the documentation states that the Best Practice is to use HTTPS (https://appwrite.io/docs/production).

However, a beginner self hosted user might not know how to configure that.

I can probably write an article for configuring an appwrite instance and making it work with Lets Encrypt till the time we get this feature out of the box (because Open source!!).

Let me kn

[2022-10-20 15:25] ItsAdityaKSingh commented on #4380
@Princeton21 Are you still working on this? If not @stnguyen90 could I be assigned to this?

[2022-10-20 15:28] diamondzxd commented on #4541
Never mind, I figured out appwrite already provides a way to configure LE certificates using certbot.

[2022-10-20 15:28] #4541 closed

[2022-10-20 15:32] Princeton21 commented on #4380
Yes I am

[2022-10-20 15:55] Sooraj-s-98 opened #4542 "🚀 Feature: P2P file sharing"
### 🔖 Feature description

 Allows users to transfer files between multiple devices. It works similar to SHAREit

### 🎤 Pitch

Direct transfer between the sender and receiver without any intermediate server

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [C

[2022-10-20 16:10] afzal442 commented on #3957
Hey @Meldiron I would like to take this up if none is into it. Thanks

[2022-10-20 16:48] Aadeesh11 commented on #4486
@stnguyen90 I have raised a PR implementing the required function!

[2022-10-20 17:32] stnguyen90 commented on #4543
@Shiba-Kar, thanks for raising this issue! 🙏 We'll look into this, but for now, can you try to create without the write permission since you already specified update and delete:

[code]

BTW, if everyone should be able to read every document, you can put the `Permission.read(Role.any())` permission on the collection and not pass any permissions as update and delete for the current user should be t

[2022-10-20 18:10] davisloper opened #4544 "📚 Documentation: Dashboard interface - Resource permissions"
### 💭 Description

Hello. I think the collection permissions (and maybe from others services) are not well documented.

For example:

<img width="594" alt="Captura de Pantalla 2022-10-20 a la(s) 12 59 34" src="https://user-images.githubusercontent.com/48936504/197023639-7c93afa9-187f-4f91-8134-70f1567b97cf.png">

I can't grant access to a **team** with a specific **role**. The "only" thing I can d

[2022-10-20 18:19] PrerakMathur20 commented on #4459
Please assign this to me.

[2022-10-20 19:18] Jyoti050402 commented on #4305
Hey, I am working on it.

[2022-10-20 20:47] mohakgupt commented on #4389
@Meldiron I have made a pull request utopia-php/audit#34

[2022-10-20 21:22] Aadeesh11 commented on #4477
@tessamero I have raised a PR implementing the required function.

[2022-10-20 21:35] Emiliaaah commented on #4120
This issue has been stagnant for 17 day, could it be reassigned to me?

[2022-10-20 21:44] stnguyen90 commented on #4120
@codespirit7, how's your progress on this? Are you still working on it?

[2022-10-20 23:10] stnguyen90 commented on #4544
@davisloper, thanks for creating the issue! 🙏

You are correct. The Console may not autocomplete `team:[team_id]/[role_name]`, but you can still type it. Our new Console will hopefully help with autocomplete the role.

The `[member_id]` in `member:[member_id]` is a membership ID (the ID for a particular user's membership in a team). You can use the [List Team Memberships](https://appwrite.io/docs/

[2022-10-20 23:18] stnguyen90 commented on #4535
To keep things simple, we're going to update https://github.com/utopia-php/framework/blob/d595df075aa9ee46147a388c63064b03aeeac466/src/App.php#L589-L593 to be:

[code]

so that it's more descriptive.

The following shouldn't be a problem and will be removed after the pools change:

https://github.com/appwrite/appwrite/blob/61d6b435b314c5b4e1bfbf41bd8338eaea08ae56/app/http.php#L323-L325

[2022-10-20 23:26] stnguyen90 commented on #4535
However, the downside about doing something like:

[code]

is we lose some trace info. Instead of seeing the following in the logs:

[code]

we would see:

[code]

[2022-10-21 01:12] stnguyen90 commented on #4532
@xuala69, when you pass multiple queries like you did, it does an AND on them. Is that what you were expecting?

[2022-10-21 01:32] #2644 closed

[2022-10-21 01:34] stnguyen90 commented on #3449
- https://github.com/appwrite/sdk-generator/pull/561
- https://github.com/appwrite/sdk-generator/pull/562
- https://github.com/appwrite/sdk-generator/pull/563
- https://github.com/appwrite/sdk-generator/pull/564

[2022-10-21 01:41] stnguyen90 commented on #3002
Personally, I prefer YAML over JSON, but we already have the appwrite.json and I don't think it's worth it to introduce some YAML wrapper on the appwrite.json.

As for some sort of diff, I don't think this issue is specific enough to be actionable. To improve the CLI, we will work on incrementally improving various aspects with smaller issues.

Would it be okay to close this issue while we work on

[2022-10-21 01:44] mrufsvold commented on #3002
Hey, thanks for circling back on this! I think it's fine to close this. Thanks for pointing out appwrite.json!

[2022-10-21 01:48] stnguyen90 commented on #366
@bliyscom, this is possible with the Appwrite CLI or at least we're working on making it fully possible via https://github.com/appwrite/appwrite/issues/3449

@thyybrandao I don't think we'll go through the effort with adding a clone feature via the Console right now as it would add a lot of extra different l duplicate code that would add extra effort to maintain. For more, the best approach would

[2022-10-21 02:11] stnguyen90 commented on #4532
@xuala69 for full text search, I would recommend creating an attribute that has all the content, index that attribute, and then query that attribute. You can use an Appwrite Function to make the new attribute is updated automatically if the document is updated.

[2022-10-21 02:12] #3002 closed

[2022-10-21 02:48] Rinshin-Jalal commented on #4479
Sorry It is assigned to me and I finished it 3 days ago waiting to get merged

[2022-10-21 06:12] faiz-gh commented on #4508
sure will do

[2022-10-21 06:16] Shivansh-yadav13 commented on #4092
anyone working on this issue?

[2022-10-21 06:39] binaryfire commented on #3760
Hi @rakshitgondwal. I’ve realised I’d need to use custom images to achieve what I need (because most scripts use cli tools that need to be installed).

So I’d suggest leaving this until custom runtime images are a thing

[2022-10-21 07:14] aaheli8 commented on #4379
Hello @Meldiron, I solved those array issues and now got 5 errors. I have been trying to solve the problems but couldn't get proper documentation on the phpstan website. These are the errors that I got.
![image](https://user-images.githubusercontent.com/66815283/197135147-9ca5e933-d86b-4d0b-b9a1-593377f8fac1.png)
Line 17 error: Even if I am putting any value type, it is showing "Trying to invoke s

[2022-10-21 10:32] SarojWasti opened #4546 "📚 Documentation: Improve ne.json Translation"
### 💭 Description

There are a many countries that have their name misspelled or written completely wrong in Nepali translation which could be fixed.

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.com/appwrite/appwrite/blob

[2022-10-21 11:42] motasimmakki opened #4547 "🐛 Bug Report: Incorrect Issues Count"
### 👟 Reproduction steps

The issue count popping at the corner of the 'View all Hacktoberfest issues' button is not rounding off the correct total_count.

### 👍 Expected behavior

It should be:

![Screenshot (253)](https://user-images.githubusercontent.com/44056349/197187163-0f854615-b8f4-4b30-b5de-820004ee6130.png)

As of:

![Screenshot (255)](https://user-images.githubusercontent.com/44056349/1

[2022-10-21 12:03] dakshbhardwaj commented on #4460
@PineappleIOnic thanks for assigning the issue, I have raised the Pr for it.

[2022-10-21 12:28] codespirit7 commented on #4120
You can reassign to other, I was working but could not figure it out successfully. I will try some other issues.

[2022-10-21 13:14] Schrolli91 opened #4548 "🐛 Bug Report: Access to data possible but no platform is registered in project"
### 👟 Reproduction steps

- Fresh installed Appwrite instance on Linux Server with docker.
- Flutter app using the dart appwrite package (Web & Android).

Read permission for the collection is to `guests -> read`.

### 👍 Expected behavior

Access will be blocked, because no platform is configured in project.

The docs say:

![image](https://user-images.githubusercontent.com/6043382/197204239-787e4

[2022-10-21 13:15] ItsAdityaKSingh commented on #4475
Hey, I have put up a PR at - https://github.com/open-runtimes/examples/pull/100
Waiting for the review, @stnguyen90  :)

[2022-10-21 13:37] stnguyen90 commented on #4548
@Schrolli91, are you using the [dart_appwrite](https://pub.dev/packages/dart_appwrite) package with an API key? If so, switch to the [appwrite](https://pub.dev/packages/appwrite) because the dart_appwrite package is meant for server side code and has full access from the API key.

How are you running your app? Are you using flutter web on localhost? If so, localhost is allowed by default.

[2022-10-21 14:03] Sooraj-s-98 commented on #4252
I would like to work on this

[2022-10-21 14:10] ItsAdityaKSingh commented on #4464
Hey @tessamero @Meldiron, I have created a PR at https://github.com/open-runtimes/examples/pull/106.
Waiting for the review :)

[2022-10-21 14:11] afzal442 commented on #3957
Can I be assigned? TY.

cc @Meldiron

[2022-10-21 15:34] JohnGrisham commented on #4227
I'm going to try working on this.

[2022-10-21 15:38] nikzayn commented on #4547
@motasimmakki I would like to take this up

[2022-10-21 16:12] stnguyen90 commented on #4548
@Schrolli91

For flutter web, your client app runs on localhost. localhost is allowed to access Appwrite without adding a platform.

Sorry, what do you mean by this? 🧐 You're using the Appwrite Flutter SDK and running on an Android device/emulator?

[2022-10-21 16:23] Schrolli91 commented on #4548
Ahhh, okay. So if its running on ANY localhost, this mechanism is bypassed?
Also, if the appwrite instance runs on a dedicated server in the internet?

I run the same flutter app native compiled for android on this phone (debugging via ADB).

[2022-10-21 16:24] stnguyen90 opened #4549 "🐛 Bug Report: Version 0.15.x to 1.0.x Migration doesn't Migrate Bucket File Security"
### 👟 Reproduction steps

1. Create a bucket on a 0.15.x instance
2. Set the `permission` to `document`
3. Upgrade
4. Migrate

### 👍 Expected behavior

The migrated bucket should have `fileSecurity` set to `true`.

### 👎 Actual Behavior

`fileSecurity` is set to `false`.

This is probably happening because of a typo in `$bucket->getAttribute('permissions')`:

https://github.com/appwrite/appwrite/b

[2022-10-21 16:39] rohitkori commented on #4408
i have made a pr please look into it

[2022-10-21 17:00] devXprite commented on #4514
Thanks @stnguyen90 for your response.
I think it may work until new console is ready and if the new console has same color palette then there will be no need to scrap the old scroll bar.

[2022-10-21 17:01] stnguyen90 commented on #4514
@devXprite, the new console is already being developed and it is a complete rewrite. We are not using anything from the old console.

[2022-10-21 17:03] #4514 closed

[2022-10-21 17:27] Emiliaaah commented on #4120
@stnguyen90 Could I take over then?

[2022-10-21 19:07] stnguyen90 commented on #4548
@Schrolli91

Yes, correct.

This is a little odd...I've definitely had problems before with an app receiving errors without a platform registered matching the bundle id of the app.

If someone gets the projectid through reverse engineering, they can easily access it

This platform check is a simple step to help stop spoofing a client app, but it does not stop people from accessing a project. See [

[2022-10-21 19:11] JohnGrisham commented on #4227
Nevermind backbone is gross and not worth the 🧦s

[2022-10-21 19:13] stnguyen90 commented on #3760
@binaryfire, each one of our runtimes is a custom image. So, what's the limitation?

[2022-10-21 20:45] aaryan2134 commented on #4358
Can I work on this issue if it is still pending?

[2022-10-21 20:45] aaryan2134 commented on #4356
Can I work on this issue if it is still pending?

[2022-10-21 20:45] aaryan2134 commented on #4355
Can I work on this issue if it is still pending?

[2022-10-21 20:45] aaryan2134 commented on #4347
Can I work on this issue if it is still pending?

[2022-10-21 20:49] Schrolli91 commented on #4548
Ok, I understand - for the web app.
But I will do some further tests with the android app tomorrow because that's still a little bit strange.

[2022-10-21 22:32] letsintegreat commented on #4276
Hey! As it has already been almost 3 weeks since this issue was assigned and it is still not solved, I would like to solve this issue.

[2022-10-21 22:40] detronetdip commented on #4276
@Meldiron  as I am very new tu flutter, it is taking a bit time for me to resolve the issue, I think you can assign @xinkin this issue and unassign me.

[2022-10-21 22:45] letsintegreat commented on #4169
Hey! As it has already been almost 3 weeks since this issue was assigned and it is still not solved, I would like to solve this issue.

[2022-10-21 22:46] letsintegreat commented on #4170
Hey! As it has already been almost 3 weeks since this issue was assigned and it is still not solved, I would like to solve this issue.

[2022-10-21 22:46] letsintegreat commented on #4192
Hey! As it has already been almost 2 weeks since this issue was assigned and it is still not solved, I would like to solve this issue.

[2022-10-21 22:48] letsintegreat commented on #4162
Hey! As it has already been almost 3 weeks since this issue was assigned and it is still not solved, I would like to solve this issue.

[2022-10-21 22:48] letsintegreat commented on #4159
Hey! As it has already been 2 weeks since this issue was assigned and it is still not solved, I would like to solve this issue.

[2022-10-21 22:50] letsintegreat commented on #4158
Hey! As it has already been 2 weeks since this issue was assigned and it is still not solved, I would like to solve this issue.

[2022-10-21 22:51] letsintegreat commented on #4155
Hey! As it has already been almost 3 weeks since this issue was assigned and it is still not solved, I would like to solve this issue.

[2022-10-21 23:14] binaryfire commented on #3760
@stnguyen90 Has something changed with this issue? It’s still marked as open: https://github.com/appwrite/appwrite/issues/1037

I was pointed to that when I opened this: https://github.com/appwrite/appwrite/issues/3796

[2022-10-21 23:19] stnguyen90 commented on #3760
@binaryfire, no, nothing has changed with #1037. You cannot run arbitrary docker images in Appwrite, but we can add additional runtimes. For example, a contributor added a [perl runtime](https://github.com/open-runtimes/open-runtimes/pull/95). In a similar fashion, we can add a bash runtime.

[2022-10-21 23:27] binaryfire commented on #3760
@stnguyen90 That’s what I meant by my earlier reply. A bash runtime won’t be much use for me if I can’t install the packages/tools I’m calling in my scripts.

I imagine it’d be the same for most. It’s rarely used as a standalone programming language.

[2022-10-21 23:40] stnguyen90 commented on #3760
@binaryfire ahhh I get it now. Sorry! That makes sense...however, you might be able to install packages as part of the function execution. it's going to be pretty slow since it has to do all the downloads during execution, though...

[2022-10-21 23:48] binaryfire commented on #3760
@stnguyen90 No worries! Yeah that’d be too slow unfortunately. My current setup is a custom docker image + Java REST API, so there’s no additional latency.

Appwrite’s warm start latency would be fine but anything over that wouldn’t work for me.

I’m closing this in favour of https://github.com/appwrite/appwrite/issues/4013 since it seems to be the same thing.

[2022-10-21 23:48] #3760 closed

[2022-10-22 01:44] lohanidamodar commented on #4546
@SarojWasti please provide some example as what did you find wrong?

[2022-10-22 02:12] biswadeep25 commented on #4405
Hey @Meldiron Can you assign this issue to me?

[2022-10-22 02:22] Tiansing commented on #4405
@Meldiron yes I'm about to submit a pull request regarding this issue. Thanks

[2022-10-22 02:28] Sara-cos commented on #4202
Yes I am still working on this!

[2022-10-22 03:15] Tiansing commented on #4405
Hey @Meldiron & @christyjacob4, I have already submitted a PR you can check it out here: https://github.com/utopia-php/abuse/pull/34

[2022-10-22 05:01] Ian-Yy commented on #4467
Hi @PineappleIOnic, I have created the PR. Please review and let me know if you need anything else. Thanks

[2022-10-22 06:13] om2137 commented on #4347
I am working on this, just gt delayed because of my exams.

[2022-10-22 06:52] anushagupta1312 commented on #4158
Hey I am not able to solve this to the final extent. So please assign it to someone else

[2022-10-22 06:55] ItsAdityaKSingh commented on #4451
@GunjanDhanuka, are you still working on this?

[2022-10-22 07:00] ItsAdityaKSingh commented on #4370
@stnguyen90 the issue has been unresolved for the past 10 days. Could it be reassigned to me?

[2022-10-22 07:02] ItsAdityaKSingh commented on #4358
I would like to contribute to this issue @stnguyen90.

[2022-10-22 07:03] ItsAdityaKSingh commented on #4356
If this issue is still open, I would like to work on resolving it @stnguyen90!

[2022-10-22 07:03] SarojWasti commented on #4546
It should be `स्वाजिल्याण्ड` instead of `एस्वातिनी` because that isn't even a country name. It's just a random Nepali word.
![Screenshot_20221022-123452__01__01](https://user-images.githubusercontent.com/69208771/197325081-0c41c8f4-0a5e-4373-9693-7abef172c4d6.jpg)

It should be `गिनी` instead. Guinea Doesn't translate to `गुयाना` but Guyana does.
![Screenshot_20221022-123446__01__01](https://user-

[2022-10-22 07:04] ItsAdityaKSingh commented on #4355
I would like to resolve this issue @stnguyen90!

[2022-10-22 07:06] ItsAdityaKSingh commented on #4387
@stnguyen90 are there any updates regarding the reassignment of this issue?

[2022-10-22 07:10] Rutam21 commented on #4370
@stnguyen90 I will raise a PR today. We had talks regarding it on Discord to try with lower levels of PhpStan. Thanks.

[2022-10-22 07:22] TakshPanchal commented on #4118
Hey, apologies for my late work. I will PR today it self.

[2022-10-22 12:49] timothee-durand commented on #4504
Hello I think i'll work on it to

[2022-10-22 13:56] ItsAdityaKSingh commented on #4466
@caramelmelmel, are you still working on this?

[2022-10-22 14:20] codingmickey commented on #4505
Yea let's do this @somya-15!

[2022-10-22 16:00] vj-codes commented on #4457
update : I am working on it

[2022-10-22 16:51] merabtenei commented on #2735
Same here, I really wanted to use appwrite for my next project but it can't handle any sort of relationship between objects. I guess I'll give supabase or even pocketbase.io a try.

[2022-10-22 18:38] Schrolli91 commented on #4548
@stnguyen90
Have tested now. The android app in release mode on the real device can still get data without any platform configured.

[2022-10-22 18:58] stnguyen90 commented on #4548
@Schrolli91, would you please check if you can make a POST request (ie. create a session, account, or document)?

[2022-10-22 19:02] Schrolli91 commented on #4548
Tried to create a document.
Permission is changed - guests can do anything.
Now I see:
`AppwriteException: general_unknown_origin, Invalid Origin. Register your new client (de.schrollit.kaerwaplaner) as a new Android platform on your project console dashboard (403)`

Thats what i expect. But why this doesn't happen on reading?

[2022-10-22 19:05] stnguyen90 commented on #4548
CORS is typically not applied on some requests like GET requests. See: https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS#simple_requests

[2022-10-22 19:10] Schrolli91 commented on #4548
Ok - thanks for explanation.
Now i think all "problems" are cleared ;-)
No Bug in sight :D

[2022-10-22 19:10] #4548 closed

[2022-10-22 20:06] Rutam21 commented on #4358
@Meldiron I have completed the previous tickets. As this issue seems to be inactive for the past 10 days, you can re-assign it to me.

[2022-10-22 20:06] Rutam21 commented on #4356
@Meldiron I have completed the previous tickets. As this issue seems to be inactive for the past 10 days, you can re-assign it to me.

[2022-10-22 20:06] Rutam21 commented on #4355
@Meldiron I have completed the previous tickets. As this issue seems to be inactive for the past 10 days, you can re-assign it to me.

[2022-10-22 20:07] Rutam21 commented on #4347
@Meldiron I have completed the previous tickets. As this issue seems to be inactive for the past 12 days, you can re-assign it to me.

[2022-10-22 20:24] Rutam21 commented on #4487
@Meldiron I have completed the previous tickets. If this issue is still needed to be worked upon, you can re-assign it to me. Thanks.

[2022-10-22 20:27] Rutam21 commented on #4472
@Meldiron I have completed the previous tickets. If this issue is still needed to be worked upon, you can re-assign it to me. Thanks.

[2022-10-22 20:27] Rutam21 commented on #4483
@Meldiron I have completed the previous tickets. If this issue is still needed to be worked upon, you can re-assign it to me. Thanks.

[2022-10-22 20:28] Rutam21 commented on #4499
@Meldiron I have completed the previous tickets. If this issue is still needed to be worked upon, you can re-assign it to me. Thanks.

[2022-10-23 02:13] Vanshiii203 opened #4559 "📚 Documentation: GitHub contribution badge"
### 💭 Description

I would like to add the GitHub contribution badges to display the contributors of repository in README file.

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.com/appwrite/appwrite/blob/HEAD/CODE_OF_CONDUCT.

[2022-10-23 07:50] caramelmelmel commented on #4466
@ItsAdityaKSingh I am still working on it! What's the deadline?

[2022-10-23 07:53] ItsAdityaKSingh commented on #4466
Nope! There's no deadline as such :)
Just wanted to know if you are still working on resolving this or not 👍🏻

[2022-10-23 08:15] tushar-sublaik commented on #4508
I am working on this issue.

[2022-10-23 08:54] misantron commented on #3987
Hello, I want to take this issue

[2022-10-23 10:13] lvlts opened #4560 "🐛 Bug Report: Usage Statistics Are Incorrect Since 1.0 Update"
### 👟 Reproduction steps

When I upgraded from 0.15 to 1.0 (now 1.0.3), the usage statistics have stopped working:

- For Databases: the default usage view (30d) shows statistics for 30 days before Sept 17 (when I upgraded to 1.0) for "Objects" and "Documents". "Databases" and "Collections" show the current date correctly (with 0 stats before it).
- For Databases: the 24h usage view correctly show

[2022-10-23 10:37] kumarav1nash commented on #3918
Hey, I've raised the PR for this issue, please review it.
@stnguyen90 @eldadfux https://github.com/appwrite/appwrite/pull/4561

sorry for the delay was occupied with some personal work.

[2022-10-23 14:30] stnguyen90 commented on #4560
@lvlts, thanks for raising this issue! 🙏 Some questions:

1. Did you run the migrate command after upgrading?
2. Would you be able to share the output of when you executed the migrate command?
3. What version were you on when you ran the migrate command on?
4. If you didn't run the migrate command while on 1.0.3, would you please do so now and share the output?

[2022-10-23 14:54] stnguyen90 commented on #4547
@motasimmakki thanks for raising this issue! 🙏 The count has been updated.

[2022-10-23 14:54] #4547 closed

[2022-10-23 14:59] DevMike123 commented on #4373
@Meldiron pr ready for merge- https://github.com/utopia-php/system/pull/22

[2022-10-23 15:17] lvlts commented on #4560
@stnguyen90 Thanks for the fast reply!

1. I ran the migrate command after updating from 0.15.x to 1.0.0. I did NOT run it on 1.0.3
2. I don't have the previous output.
3. 0.15.x (it was the one in the dockerhub)
4. Sure, log below:

[code]

[2022-10-23 15:50] ffex commented on #4505
Hey! I want to prove to develop this demo! thanks!

[2022-10-23 16:35] ChandanChainani commented on #4416
@Meldiron seems the issue is resolved please can you close the issue

[2022-10-23 16:37] ChandanChainani commented on #4414
@Meldiron please close the issue since it is complete.

[2022-10-23 16:38] ChandanChainani commented on #4411
@Meldiron please close the issue since it is complete

[2022-10-23 16:38] ChandanChainani commented on #4410
@Meldiron please close the issue since it is complete

[2022-10-23 16:39] ChandanChainani commented on #4409
@Meldiron please close the issue since it is complete

[2022-10-23 17:01] a-l-e-c commented on #3502
When attempting to insert a new Document; the Exception with message `Document with the requested ID already exists.` should probably also include the actual `$id` of the existing document so we can easily prep another batch `update`.

Same goes for the `409` response (with status=rejected). Would be very helpful to receive the `$id` in that response.

Only workaround I could think of is to do som

[2022-10-24 04:15] Chetnagupta27 commented on #4559
can you assign this issue to me?

[2022-10-24 04:17] Chetnagupta27 commented on #4505
can you assign this issue to me?

[2022-10-24 04:18] Chetnagupta27 commented on #4508
can you assign this issue to me?

[2022-10-24 04:18] Chetnagupta27 commented on #4502
can you assign this issue to me?

[2022-10-24 04:19] Chetnagupta27 commented on #4503
can you assign this issue to me?

[2022-10-24 04:49] stnguyen90 commented on #4503
@Chetnagupta27 Go ahead, you can start work on this issue 😊 This issue is open for everyone and we want as many quality PRs as our community can create.

[2022-10-24 08:25] toukirkhan commented on #4468
am onto this please do not unassign me

[2022-10-24 08:26] toukirkhan commented on #4495
I am onto this please do not unassign

[2022-10-24 09:44] jaspreet7037 commented on #4460
@christyjacob4 can u assign this issue to me?

[2022-10-24 09:45] Rjuilliot opened #4565 "🚀 Feature: Pull functions code from CLI"
### 🔖 Feature description

Being able to pull functions code from CLI / download code from a specific deployment

### 🎤 Pitch

I think being able to pull / access deployed functions code from an appwrite project could add a lot of flexibility.

As an example, I took back an appwrite project from another developer, who didn't push his code on a git repo, and found myself stuck and unable to access

[2022-10-24 11:40] 2002Bishwajeet opened #4566 "📚 Documentation: Retry Build omittance in Client Docs"
### 💭 Description

Seems the appwrite docs have `Retry Build` Method inside the client docs which should work only for server SDK.

Refer [here](https://appwrite.io/docs/client/functions?sdk=web-default#functionsRetryBuild)

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I

[2022-10-24 11:40] 2002Bishwajeet commented on #4566
cc @gewenyu99

[2022-10-24 12:51] mohith2883 commented on #4413
@stnguyen90  @Meldiron  can you review it

[2022-10-24 12:53] mohith2883 commented on #4382
hey @Meldiron can you check it

[2022-10-24 17:35] lakshay-nasa opened #4567 "📚 Documentation: Typos and Grammar fixes"
### 💭 Description

Found some typos and grammar fixes in some files.
1. README.md
2. CONTRIBUTING.md

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.com/appwrite/appwrite/blob/HEAD/CODE_OF_CONDUCT.md)

[2022-10-24 17:38] stnguyen90 commented on #4567
@lakshay-nasa, thanks for raising this issue! 🙏 We're already working through cleaning up our docs. If you'd like to contribute for Hacktoberfest, you can try exploring hacktoberfest issues via our [website](https://hacktoberfest.appwrite.io/). If you have any problems or need help, please join our [Discord community](https://appwrite.io/discord) and use the `#hacktoberfest` channel.

[2022-10-24 17:38] #4567 closed

[2022-10-24 17:44] lakshay-nasa commented on #4567
@stnguyen90 That's great but I opened a PR for the same.

[2022-10-24 17:46] ChandanChainani commented on #4211
@christyjacob4 are you still working on the issue if not can i take the issue?

[2022-10-24 17:57] michizhou commented on #4211
@ChandanChainani I'm working on this issue and plan to have a PR for it soon.

[2022-10-24 18:01] ChandanChainani commented on #4016
@tibi77 are you still working on the issue if not can I work on the issue?

[2022-10-24 18:37] stnguyen90 commented on #4387
@StarTrooper08 How's your progress on this? Are you still working on this or can it be reassigned? Please respond within 24 hours or we'll need to reassign the issue.

[2022-10-24 18:38] stnguyen90 commented on #4505
@ffex @Chetnagupta27 Go ahead, you can start work on this issue 😊 This issue is open for everyone and we want as many quality PRs as our community can create.

[2022-10-24 23:46] stnguyen90 commented on #4269
@letsintegreat, would you like to work on this since there's been no response from @sakshiisaxena?

[2022-10-24 23:47] stnguyen90 commented on #4261
@niyasmhdth How's your progress on this? Are you still working on this or can it be reassigned? Please respond within 24 hours or we'll need to reassign the issue.

[2022-10-25 00:12] stnguyen90 commented on #4276
@xinkin, are you still interested in working on this?

[2022-10-25 00:14] stnguyen90 commented on #4276
@xinkin, @Aryanshh, @karan-17, @BhavnaMogha, @zsiecr, @kvndb, @hitchhicker007, @letsintegreat, or @detronetdip, are you still interested in working on this?

[2022-10-25 01:18] letsintegreat commented on #4276
@stnguyen90 Hey! Can I take up this one?

[2022-10-25 01:19] stnguyen90 commented on #4560
@lvlts, are the stats looking any better?.

If not, can you share the docker logs from the worker usage containers? There should be a database and a timeseries one. I can't recall their actual names.

[2022-10-25 01:22] stnguyen90 commented on #4527
@akago-dev, thanks for raising this issue! 🙏 This is actually working as expected since deploying a collection wipes the existing indexes and attributes and, then, deploys the attributes and indexes defined in the appwrite.json.

[2022-10-25 01:26] stnguyen90 commented on #4542
@Sooraj-s-98, thanks for raising this issue! 🙏 I'm not really sure how this would be a new feature in Appwrite considering Appwrite is a backend server and P2P doesn't involve a server. 🧐 I can see this build as part of the client app though.

[2022-10-25 04:10] Kaushalrr006 commented on #4037
I am interested in this task please assign me THIS TASK

[2022-10-25 05:22] lvlts commented on #4560
hi @stnguyen90

I think you solved it :-)

I was using a `docker-compose.yml` file which had only the `usage` container. I upgraded appwrite by incrementing version numbers in my existing `docker-compose.yml` file.

When I checked `https://appwrite.io/install/compose`, I noticed the two workers there, and copied them to my existing compose configuration. My usage stats now show today as well.

Tha

[2022-10-25 05:22] #4560 closed

[2022-10-25 06:33] Lalrinawma opened #4572 "🐛 Bug Report: Creating team membership with wrong role name "ownwer" and trying to delete team from web sdk with role "owner" throw 500"
### 👟 Reproduction steps

I create teamMerbership with wrong role name "ownwer" instead of "owner" then trying to delete with owner role throw 500 and members cant be seen from Appwrite administrator page.

### 👍 Expected behavior

it should throw more helpful error message

### 👎 Actual Behavior

it does not throw any helpful error message

### 🎲 Appwrite version

Version 1.0.x

### 💻 Operating s

[2022-10-25 06:45] michizhou commented on #4210
Hi @christyjacob4 or @abnegate, would it be alright if I take on this issue?

[2022-10-25 07:02] karan-17 commented on #4276
yes, I am interested in working on this project!

[2022-10-25 08:09] vishnus17 commented on #4037
Hi @Kaushalrr006 . I'm working on this task and have already completed a few parts. I was off due to my exams and will continue it this week.
Thanks.

[2022-10-25 09:22] niyasmhdth commented on #4261
It's bern halfway. But I'm struggling with some break changes. I would suggest for a re assign

[2022-10-25 10:28] ChandanChainani commented on #4208
@stnguyen90 Please can you assign me this issue?

[2022-10-25 12:07] Netizen02 commented on #4508
I would like to work on this!

[2022-10-25 14:55] ppulwey commented on #2735
Even though it needs a bit more configuration, [parse](https://parseplatform.org) seems to be a very good alternative in the meantime.

[2022-10-25 15:32] shtelzerartem commented on #4371
@Meldiron any update on review?

[2022-10-25 17:27] ChandanChainani commented on #4015
@AyushChamoli961 are you still working on the issue?

[2022-10-25 17:39] stnguyen90 commented on #4208
@zmiftah, how's your progress on this issue? Please let us know if you're still working on this within 24 hours so that we may reassign it if necessary. 🙏

[2022-10-25 17:41] stnguyen90 commented on #4261
@niyasmhdth thanks for the update! @ashu-rb, would you be interested in taking this on?

[2022-10-25 17:50] ashu-rb commented on #4261
Sorry...but not now!

On Tue, 25 Oct 2022, 23:11 Steven, ***@***.***> wrote:

[2022-10-25 17:52] FarhanAliRaza commented on #4115
There is no kotlin examples

[2022-10-25 18:04] om2137 commented on #4347
sorry for the delay but i was not able to give time to this task.
just reassign it to some one. once again my apologies

[2022-10-25 18:18] aaryan2134 commented on #4347
I would like to work on this if possible @Meldiron

[2022-10-25 18:28] aloks98 commented on #3986
Hey, I apologize - I feel this issue a hard for me as I do not have significant experience with PHP. Feel free to unassign, I will take up some other issue :)

[2022-10-25 18:35] aloks98 commented on #3990
Can I take this issue instead of Azure blob storage? Also this issue seems to be a duplicate of #3988

[2022-10-25 20:13] AyushChamoli961 commented on #4015
I was but left in between due to my exams so if you are interested go ahead!

[2022-10-25 20:13] AyushChamoli961 commented on #4015
@ChandanChainani I was but left in between due to my exams so if you are interested go ahead!

[2022-10-25 20:16] Rutam21 commented on #4347
@stnguyen90 But I had commented first 3 days back after seeing that there are no PRs for this issue even after 7 days.

[2022-10-25 20:17] stnguyen90 commented on #3988
Closing as a duplicate

[2022-10-25 20:17] #3988 closed

[2022-10-25 20:18] stnguyen90 commented on #3990
@aloks98, are you sure you'll be able to do this considering you the azure blob storage was too difficult? All of our adapters should be pretty much the same.

[2022-10-25 20:28] stnguyen90 commented on #4015
@AyushChamoli961 thanks for the update! 🙏

@ChandanChainani, I've assigned the issue to you. Happy hacking! 🎃

[2022-10-25 20:34] Rutam21 commented on #4358
@stnguyen90 Can you assign this one to me now as @aaryan2134 is already assigned with a similar type of issue a few minutes back?

[2022-10-25 20:35] aaryan2134 commented on #4347
Thank you. Will get it done soon

[2022-10-25 21:20] stnguyen90 commented on #4358
@amyra98, how's your progress on this? Please let us know if you're still working on this within 24 hours so we can reassign it accordingly.

[2022-10-25 21:25] aloks98 commented on #3990
Hey @stnguyen90, yes I will be able to do it as Dreamobjects support S3 APIs.

[2022-10-26 00:01] stnguyen90 commented on #4276
@karan-17, you were next up so I'm assigning this to you. Happy hacking! 🎃

[2022-10-26 00:18] stnguyen90 commented on #4504
@timothee-durand Go ahead, you can start work on this issue 😊 This issue is open for everyone and we want as many quality PRs as our community can create.

[2022-10-26 00:20] stnguyen90 commented on #4502
@Chetnagupta27 Go ahead, you can start work on this issue 😊 This issue is open for everyone and we want as many quality PRs as our community can create.

[2022-10-26 00:34] stnguyen90 commented on #4192
@PGautam27 how's your progress on this? Would you please let us know so we can reassign this if needed?

[2022-10-26 00:36] stnguyen90 commented on #4169
@anushagupta1312, @nik132-eng, @SanifKandel, @Vishrut19, or @letsintegreat, would you like to pick this up?

[2022-10-26 00:36] stnguyen90 commented on #4170
@D-Anir, how's your progress on this? Would you please let us know so we can reassign this if needed?

[2022-10-26 00:37] stnguyen90 commented on #4162
@InfiniteVerma how's your progress on this? Would you please let us know so we can reassign this if needed?

[2022-10-26 00:37] stnguyen90 commented on #4159
@yokwejuste how's your progress on this? Would you please let us know so we can reassign this if needed?

[2022-10-26 00:38] stnguyen90 commented on #4158
@nik132-eng, @devtayade, or @letsintegreat, would you like to pick this up?

[2022-10-26 00:38] stnguyen90 commented on #4155
@zadilkhwaja how's your progress on this? Would you please let us know so we can reassign this if needed?

[2022-10-26 00:39] yokwejuste commented on #4159
Working on it

[2022-10-26 00:44] stnguyen90 commented on #4508
@Esther-Wavinya, @faiz-gh, @Chetnagupta27, and @Netizen02 Go ahead, you can start work on this issue 😊 This issue is open for everyone and we want as many quality PRs as our community can create.

[2022-10-26 01:46] stnguyen90 commented on #4269
@letsintegreat assigned as mentioned on discord! Happy hacking! 🎃

[2022-10-26 02:46] SanifKandel commented on #4169
If that's fine if I take it over ?

[2022-10-26 02:59] InfiniteVerma commented on #4162
@stnguyen90 I'm still working on it. Will let you know if I would like this to be reassigned.

[2022-10-26 03:21] that-gai-gai commented on #4165
I'd like to be assigned this issue?

[2022-10-26 03:40] ItsAdityaKSingh commented on #4387
Hey @stnguyen90! Since there's no response, could I start working on resolving this issue?

[2022-10-26 03:54] stnguyen90 commented on #4387
Reassigning to @ItsAdityaKSingh due to inactivity.

[2022-10-26 04:47] stnguyen90 commented on #4165
@yokwejuste, how's your progress on this issue? Could you please respond in the next 24 hours so we can reassign it if needed?

[2022-10-26 06:19] shashwatSrivastava-official commented on #4155
Hey!
Do go ahead and assign this to someone else.
Thanks for considering (:

On Wed, 26 Oct, 2022, 6:08 am Steven, ***@***.***> wrote:

[2022-10-26 06:31] stnguyen90 commented on #2911
Closing as no further action required.

[2022-10-26 06:31] #2911 closed

[2022-10-26 06:58] Vishrut19 commented on #4169
I would like to give it a try and if someone else wants we can work together if that's okay with you @stnguyen90

[2022-10-26 07:06] sarthaknerd commented on #4559
@Vanshiii203 Please assign it yo me

[2022-10-26 08:33] Vanshiii203 commented on #4559
@stnguyen90 @christyjacob4 Please assign this to me

@stnguyen90 @christyjacob4 Please assign it to me

[2022-10-26 10:56] PGautam27 commented on #4192
you could reassign to someone else

[2022-10-26 11:04] MrWael opened #4580 "🐛 Bug Report: datetime array Attribute in documents does not display correctly in the GUI"
### 👟 Reproduction steps

datetime array Attribute in documents does not display correctly in the GUI, but when viewed in JSON the values appears fine.
because of that i am unable to edit the values from the GUI.
![appwrite_arraybug](https://user-images.githubusercontent.com/45597179/198009355-922aa5f3-10f4-4e5a-98d6-6117497b1d14.gif)

### 👍 Expected behavior

The datetime array values should appe

[2022-10-26 12:05] InfiniteVerma commented on #4162
Hey @stnguyen90, I'm struggling to call the google APIs required for this feature. Please reassign this issue to someone else.

[2022-10-26 12:36] sadhvi1234 commented on #4503
Hi, can you please assign this issue to me?
Thanks in advance

[2022-10-26 12:53] Ambareen09 commented on #4471
Can i be assigned this issue?

[2022-10-26 13:06] aaheli8 commented on #4379
I have created the PR, please review it.

[2022-10-26 13:16] sumanentc commented on #24
Is AppWrite-Helm officially supported now ?
https://github.com/k3env/appwrite-helm

[2022-10-26 13:41] SanjayDevTech commented on #4383
@stnguyen90 just a follow up 😃

[2022-10-26 13:42] jordonedavidson commented on #4544
Also the documentation page https://appwrite.io/docs/permissions/ which should explain this is broken. It loads, then immediately forwards to an error page at https://appwrite.io/console

[2022-10-26 18:08] #3859 closed

[2022-10-26 18:10] #3868 closed

[2022-10-26 18:10] #3934 closed

[2022-10-26 18:24] aaryan2134 commented on #4347
I have submitted my PR
https://github.com/utopia-php/framework/pull/81
Please have a look and let me know if there are any issues

[2022-10-26 18:45] Shruti700 commented on #4004
I would like to work on this.

[2022-10-26 20:05] LeonardoMantovani opened #4585 "🐛 Bug Report: account.createRecovery in flutter generates the wrong URL"
### 👟 Reproduction steps

Following [documentation](https://appwrite.io/docs/client/account?sdk=flutter-default#accountCreateRecovery) and [this article on dev.to](https://dev.to/appwrite/30daysofappwrite-email-verification-and-forgot-password-420o) I've tried to implement password recovery on my app.

So I created a function that is called after a button is tapped with the following code:
[code]

[2022-10-26 20:39] HelixHEX commented on #4253
Hi, just finished this. Where do I submit it?

[Link to repo](https://github.com/HelixHEX/listr)

[2022-10-26 22:32] stnguyen90 commented on #4253
@HelixHEX please make sure to look at all the tasks in the Task Summary

[2022-10-26 22:34] shawnbaughcodes commented on #2735
Nesting or relationships are really needed. This is a great competitor to firebase along with Supabase and others. I hope you're able to give an update on this in the coming months.

[2022-10-26 22:35] HelixHEX commented on #4253
Will do. Should I include the appwrite.json file in the repo as well?

[2022-10-26 22:36] abnegate commented on #4210
@michizhou Sure, happy hacking!

[2022-10-26 22:36] stnguyen90 commented on #2753
@reyesmfabian have you got this resolved or do you still need assistance?

[2022-10-26 22:42] stnguyen90 commented on #4585
@LeonardoMantovani This is actually working as expected. Hashes are not part of the URL path; they're always added at the end as a fragment. I advise against using fragments as your paths when possible.

Related issue https://github.com/appwrite/appwrite/issues/3061

[2022-10-27 02:28] stnguyen90 commented on #4253
@HelixHEX, yes please!

[2022-10-27 05:03] rafagazani commented on #3659
@stnguyen90 this bug also occurs when using /v1/functions/{functionId}/variables/{variableId}

Test on version 1.1.0

[2022-10-27 05:55] rafagazani opened #4588 "🚀 Feature: Allow to set the variableId"
### 🔖 Feature description

https://appwrite.io/docs/server/functions?sdk=python-default#functionsCreateVariable
Allow to set the variableId

### 🎤 Pitch

All database, storage and authentication features allow defining the documentId, variable Should follow the same pattern. I have a script using the python sdk to build and validate if the structure of my project is correct, I have been updating i

[2022-10-27 06:26] npneeraj commented on #4588
@rafagazani sir I would like to contribute to this issue.

[2022-10-27 06:41] LeonardoMantovani commented on #4585
It isn't in Flutter if you're using Hash URL Strategy.
The recommended URL strategy for Flutter Web Apps is using the `/#/` between the app fqdn and the screen route to delegate the routing to the (flutter) client instead of the server, which will always provide the index.html file (which is the only one generated by `flutter build web`.

Is there a way to use password recovery in flutter web apps

[2022-10-27 06:46] TakshPanchal commented on #4118
hey @stnguyen90 , for `krakenio` I am unable to get `200` response for this `upload` request.
[code]
I am getting `No files found in the request` error with 400 status code. I need help on this.

[2022-10-27 06:57] Meldiron commented on #4471
@Ambareen09 , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-27 06:57] Meldiron commented on #4472
@Yashsomalkar Hey there 👋 Can you please confirm with me if you are working on this issue?

[2022-10-27 06:58] Meldiron commented on #4479
@rajathpatel23 , we're assigning people on a first come first serve basis. You can find another hacktoberfest issue via our [website](https://hacktoberfest.appwrite.io/).

[2022-10-27 06:58] Meldiron commented on #4483
@maxslimb Hey there 👋 Can you please confirm with me if you are working on this issue?

[2022-10-27 06:59] Meldiron commented on #4487
@MoskalykA Hey there 👋 Can you please confirm with me if you are working on this issue?

[2022-10-27 06:59] Meldiron commented on #4503
@sadhvi1234 Thanks for letting us know 😇 You can go ahead and start working on this.

[2022-10-27 07:01] Meldiron commented on #4451
@GunjanDhanuka Hey there 👋 Can you please confirm with me if you are working on this issue?

[2022-10-27 07:02] Meldiron commented on #4459
@PrerakMathur20 , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-27 07:02] Meldiron commented on #4460
@jaspreet7037 , we're assigning people on a first come first serve basis. You can find another hacktoberfest issue via our [website](https://hacktoberfest.appwrite.io/).

[2022-10-27 07:05] Meldiron commented on #4371
@shtelzerartem Hey there 👋 Steven approved your PR, meaning it is valid for Hacktoberfest.

[2022-10-27 07:07] ItsAdityaKSingh commented on #4451
If unresolved, could you please reassign it to me @Meldiron?

[2022-10-27 07:10] Yashsomalkar commented on #4472
No please assign it to someone else , I'm quite packed these days 😇

[2022-10-27 07:11] Meldiron commented on #4384
@Sin-Sumit Hey there 👋 Can you please confirm with me if you are working on this issue?

[2022-10-27 07:12] Meldiron commented on #4385
Reassigning due to inactivity.

[2022-10-27 07:13] Meldiron commented on #4386
Unassigned due to inactivity.

@ItsAdityaKSingh , looks like you have some issues assigned to you already. Also, please consider picking a different type of issue so other contributors can try this one.

[2022-10-27 07:16] Rutam21 commented on #4358
@stnguyen90 I guess I am good to work on this one now.

[2022-10-27 07:16] Meldiron commented on #4355
@aadityaagrawal Hey there 👋 Can you please confirm with me if you are working on this issue?

[2022-10-27 07:16] Meldiron commented on #4356
@samarth2812 Hey there 👋 Can you please confirm with me if you are working on this issue?

[2022-10-27 07:18] Rutam21 commented on #4472
@Meldiron I can take this up. Thanks.

[2022-10-27 07:19] Meldiron commented on #4120
@Emiliaaah Glad to see you this year's Hacktoberfest 😇 Re-assigning to you. Happy hacking! 🎃

[2022-10-27 07:21] Meldiron commented on #3957
@afzal442 , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-27 07:22] Meldiron commented on #3987
@misantron , thanks for your interest! 🙏 Happy hacking! 🎃

[2022-10-27 07:24] Meldiron commented on #4016
@tibi77 Hey there 👋 Can you please confirm with me if you are working on this issue?

[2022-10-27 07:25] Meldiron commented on #3964
@kcoderhtml @YandaSN Thanks for letting us know 😇 You can both go ahead and start working on this.

[2022-10-27 07:25] Meldiron commented on #3967
@Esther-Wavinya You can go ahead and start working on this. Happy hacking 🎃

[2022-10-27 07:27] Meldiron commented on #4202
@Esther-Wavinya @Sara-cos Since we are not assigning this kind of issue, you can both work on your own articles and both can be submitted as PRs 😇

[2022-10-27 09:34] mohith2883 commented on #4385
Hey @Meldiron  I asked you first :-(

[2022-10-27 13:55] rafagazani commented on #4588
@npneeraj I think we should wait for someone to make the respond (@stnguyen90)

[2022-10-27 15:34] ItsAdityaKSingh commented on #4387
Hey, I have put up a PR at - https://github.com/open-runtimes/examples/pull/100
Waiting for the review, @stnguyen90 @Meldiron :)

[2022-10-27 16:24] mohith2883 commented on #4406
hey @stnguyen90 can you assign me

[2022-10-27 16:26] stnguyen90 commented on #4406
@mohith2883 Thanks for your interest! You may work on this issue 🙏 Happy hacking! 🎃

[2022-10-27 16:42] mohith2883 commented on #4406
@stnguyen90 Thanks for assigning me :-)

[2022-10-27 18:23] stnguyen90 commented on #4169
Going in order, @SanifKandel is up next in the queue! Reassigning!

[2022-10-27 18:25] stnguyen90 opened #4593 "Additional Permission and Role Helpers"
The Permission and Role helper classes are fine for creating new permissions from scratch, but they currently lack any way of parsing permissions retrieved from an existing collection or document.

Suppose there's a doc that has permissions for team:12345 to read and update. If I want to create another doc which copies the read permission from the first doc, but not the update permission, I seem t

[2022-10-27 20:01] stnguyen90 opened #4594 "🐛 Bug Report: No Response when Function Status 500"
### 👟 Reproduction steps

1. Deploy a function that returns a 500 status code. For example, a node function like:

[code]

2. Execute the function

### 👍 Expected behavior

[code]

is somewhere in the response.

### 👎 Actual Behavior

Response, Stdout, and Stderr are blank.

### 🎲 Appwrite version

Version 1.0.x

### 💻 Operating system

Linux

### 🧱 Your Environment

_No response_

### 👀 Have you

[2022-10-27 23:45] stnguyen90 commented on #4580
@MrWael, thanks for raising this issue! 🙏🏼 We're working on a rewrite of the Appwrite Console and will make sure this is addressed as part of that.

[2022-10-28 00:18] Azanul commented on #4016
@Meldiron Please assign it to me if neither @tibi77 or @ChandanChainani are on it anymore.

[2022-10-28 00:32] Azanul commented on #4100
@abnegate if @anushagupta1312 is no longer working on it, can I take this up?

[2022-10-28 00:38] stnguyen90 commented on #4100
@anushagupta1312, how's your progress on this issue? Please let us know within 24 hours so we can reassign it accordingly.

@FarhanAliRaza and @sarkartanmay393 are you interested in working on this if @anushagupta1312 is unable to?

@Azanul, we're going in order of commenters so if @FarhanAliRaza and @sarkartanmay393 aren't able to work on this, you'll be next up in line.

[2022-10-28 00:41] Azanul commented on #4022
@stnguyen90 If @NightHack36 is no longer working on it, can you assign it to me?

[2022-10-28 00:47] stnguyen90 commented on #4022
@NightHack36, how's our progress on this? Please let us know within 24 hours so we can reassign accordingly.

[2022-10-28 00:49] Azanul commented on #4112
@Meldiron if @nabroleonx is not on it anymore, can I work on this?

[2022-10-28 00:50] #4444 closed

[2022-10-28 00:52] stnguyen90 commented on #4442
@alexander-potemkin, Appwrite isn't really a low-code tool. It's a back-end server that simplifies things for app developers so they can focus on building their app rather than their app AND a backend. Does that answer your question? If so, can this be closed?

[2022-10-28 00:53] stnguyen90 commented on #4436
@akarsh-jain-790, how's your progress on this? Please let us know within 24 hours so we can reassign it accordingly.

[2022-10-28 00:57] stnguyen90 commented on #4420
@AshwinSatyawan, thanks for raising this issue! 🙏🏼 We'll be sure to address these, but I'm going to close this for now because we'd rather people focus on the [issues we've created for Hacktoberfest](https://hacktoberfest.appwrite.io/).

[2022-10-28 00:57] #4420 closed

[2022-10-28 00:58] Azanul commented on #4021
I'd prefer to work on Lua support but incase I don't get that assigned, I'd like to work on this.

[2022-10-28 00:58] stnguyen90 commented on #4419
@tanishk-23, @ashu-rb, thanks but this is something we're going to address as part of our rewrite. I wouldn't want to waste people's time having people contribute to the current Console when the code will be archived.

[2022-10-28 03:58] Sarveshk76 commented on #4222
Can I work on it?

[2022-10-28 04:32] ItsAdityaKSingh commented on #4385
If that is so then @Meldiron, could you reassign me with https://github.com/appwrite/appwrite/issues/4451 and reassign this to @mohith2883? If that's ok :)

[2022-10-28 05:04] D-Anir commented on #4170
@stnguyen90
hi, this is still under development from my end, you can reassign this if you want, no issues

[2022-10-28 05:56] sarkartanmay393 commented on #4100
Yes, I can give it a shot but I need a little more time.

[2022-10-28 06:50] PMohanJ commented on #4018
Hi @Meldiron I've made the PR. Please review it and let me know if any changes needed. Good day!

[2022-10-28 06:51] Ambareen09 commented on #4480
@tessamero I have opened a PR, Please can someone review it?

[2022-10-28 06:52] Ambareen09 commented on #4471
@Meldiron I have opened a PR, can you please review it?

[2022-10-28 08:11] jonny-lake commented on #4504
Can I work on this as well?:)

[2022-10-28 09:04] MistaZidane commented on #4566
Hello @2002Bishwajeet  Please can you assign the task to me? I would love to work on it. Thanks

[2022-10-28 09:18] 2002Bishwajeet commented on #4566
Hey @MistaZidane , building appwrite docs are still not public yet, and as discussed with the maintainers it's mostly a spec issue as mentioned [here](https://discord.com/channels/564160730845151244/636852860709240842/1034103168755310673). I believe  they are actively working on it and would be fixed after the hacktoberfest

[2022-10-28 09:38] dakshbhardwaj commented on #4460
@Meldiron @christyjacob4 can you check the pr and assign `hackoctoberfest-accepted` label to it

[2022-10-28 11:11] adityaoberai commented on #4193
@Meldiron Created the [PR](https://github.com/open-runtimes/examples/pull/120) here

[2022-10-28 12:01] scshiv29-dev opened #4600 "🐛 Bug Report: getting Cannot find module 'node-appwrite'"
### 👟 Reproduction steps

make a function and upload using tarball

### 👍 Expected behavior

The function should execute

### 👎 Actual Behavior

 Cannot find module 'node-appwrite' is thrown

### 🎲 Appwrite version

Version 1.0.x

### 💻 Operating system

Linux

### 🧱 Your Environment

the folder structure is main/src/index.js
and package.json is in main/

### 👀 Have you spent some time to check if

[2022-10-28 13:18] miami12 opened #4601 "Document relation like Product and Categories🚀 Feature:"
### 🔖 Feature description

document relationship like many to many or many to one

### 🎤 Pitch

it will help

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.com/appwrite/appwrite/blob/HEAD/CODE_OF_CONDUCT.md)

[2022-10-28 14:06] myThorsten commented on #2926
May I ask where I can find the .net SDK? It isn't mentioned in the docs under https://appwrite.io/docs/.
Or does this issue refer to https://github.com/appwrite/sdk-for-dotnet. In that case, is there a roadmap as to when an updated SDK for appwrite 1.0 is expected?
Thanks :)

[2022-10-28 14:06] MistaZidane commented on #4566
okay thanks.

[2022-10-28 14:13] adityaoberai commented on #2926
The issue does refer to the [sdk-for-dotnet](https://github.com/appwrite/sdk-for-dotnet) repo, which is currently out of date. A .NET server-side SDK is under the works, however, and you can track progress on this [PR](https://github.com/appwrite/sdk-generator/pull/320) here in our [SDK Generator](https://github.com/appwrite/sdk-generator) repo.

[2022-10-28 15:04] mohith2883 commented on #4406
Hey @Meldiron @stnguyen90  can you review the PR

[2022-10-28 15:05] stnguyen90 commented on #4601
@miami12, thanks for raising this issue! 🙏🏼 Is this a duplicate of https://github.com/appwrite/appwrite/issues/2735? If so, would you please 👍🏼 that issue and close this issue?

Btw, for now, you can manually handle relationships like how [this](https://levelup.gitconnected.com/building-a-location-based-app-with-appwrite-48a2e2b6d4c2#a658) article shows.

[2022-10-28 15:06] stnguyen90 commented on #4600
@scshiv29-dev thanks for raising this issue! 🙏🏼 A few questions:

1. Did you include node-appwrite in your package.json?
2. What folder were you in when you executed the tar command and what was the exact tar command?

[2022-10-28 15:32] nabroleonx commented on #4112
@stnguyen90 I already did it, I wrote the function in ruby, but something came up and that was why I wasn't able to push it to GitHub, I will do that ASAP.

[2022-10-28 16:43] stnguyen90 commented on #4600
@scshiv29-dev if you used the CLI to init the function, I highly suggest using it to deploy the function. The problem you're facing is probably a mismatch in the folder structure of what was archived. Ideally, you should be in the folder with your code and tar it like:

[code]

This will create the proper structure like:

[code]

[2022-10-28 16:46] HelixHEX commented on #4253
@stnguyen90 created the PR

[2022-10-28 17:09] stnguyen90 commented on #4451
@vj-codes, are you still interested in working on this? If not, we'll reassign it to @ItsAdityaKSingh. Please respond within 24 hours.

[2022-10-28 17:11] stnguyen90 commented on #4222
@Sarveshk76 Go ahead, you can start work on this issue 😊 This issue is open for everyone and we want as many quality PRs as our community can create.

[2022-10-28 17:28] stnguyen90 commented on #4016
Assigning to @ChandanChainani as next in the queue. Please confirm you're still interested in working on this within 24 hours or I'll reassign to @Azanul

[2022-10-28 17:31] abhishek-sultaniya commented on #4352
Was that fine?

[2022-10-28 18:33] stnguyen90 commented on #4600
@scshiv29-dev What version of the CLI do you have? What says that error?

[2022-10-28 18:48] scshiv29-dev commented on #4600
Error is in the console where the appwrite is hosted there inside the project and inside functions and down there where it shows all the deployments there it says build error and when i click logs it says docker error: killed
I installed appwrite cli 5 days ago i could tell you exact version in sometime I'm away from my pc .

[2022-10-28 18:50] ChandanChainani commented on #4016
@stnguyen90, I am interested, thanks

[2022-10-28 19:18] kaggrwal commented on #3973
@stnguyen90 Please review this and label it with accepted.
https://github.com/utopia-php/cache/pull/28

[2022-10-28 21:06] stnguyen90 commented on #4600
@scshiv29-dev, after the runtime container is killed, would you please run `docker ps -a` and share the output?

The typical reason why a docker container is killed is due to low memory. If you run, `docker compose exec appwrite vars`, what's the value for the following:

[code]

[2022-10-28 21:31] aloks98 commented on #4488
Hey @tessamero, if this is still not complete can I take this issue?

[2022-10-28 22:36] stnguyen90 commented on #4488
@caramelmelmel, how's your progress on this? Please let us know within 24 hours so we can reassign accordingly.

@toukirkhan, are you still interested in working on this?

@aloks98, if @caramelmelmel and @toukirkhan aren't able to work on this, we'll assign it to you.

[2022-10-29 00:48] stnguyen90 commented on #4022
Reassigning to @Azanul due to inactivity.

[2022-10-29 00:49] stnguyen90 commented on #4436
Assigning to @neelshah2409 due to inactivity. Would you please confirm you're still interested in working on this?

[2022-10-29 03:13] neelshah2409 commented on #4436
Yes I would work on this issue

[2022-10-29 04:12] #1774 closed

[2022-10-29 05:09] toukirkhan commented on #4488
Yes am interested

[2022-10-29 05:18] scshiv29-dev commented on #4600
this is the command output for docker ps -a
![image](https://user-images.githubusercontent.com/68141773/198815233-7c162719-287c-408a-8343-1c13a72de886.png)

i tried running docker compose exec appwrite vars does not give me an output  ,
![image](https://user-images.githubusercontent.com/68141773/198815249-6334db71-995f-47aa-8cc7-68c3b599dc1a.png)

[2022-10-29 06:25] eldadfux commented on #4585
I would expect this kind of link to work: `https://mywebapp.com/?userId=XXX&secret=YYYY#/password-reset` is it an Angular/Flutter problem?

We're actually building the link correctly. According to https://en.wikipedia.org/wiki/URI_fragment:

[2022-10-29 07:55] SSD-slav opened #4606 "Server Error on sign up"
after install I wasn't able to sing up

OS: Endeavor OS (Arch Linux)
with docker and docker-compose packages installed

here are the logs
[code]

[2022-10-29 08:15] caramelmelmel commented on #4488
@stnguyen90 yes am almost done writing some test cases

[2022-10-29 08:53] SSD-slav commented on #4606
I just managed to get it working in a vm

[2022-10-29 08:53] #4606 closed

[2022-10-29 09:05] ks129 commented on #4594
I'd like to get assigned to it.

[2022-10-29 09:51] ks129 commented on #4386
I'd like to get assigned to this issue.

[2022-10-29 15:29] stnguyen90 commented on #4606
@SSD-slav, FYI, you probably had an older installation of Appwrite. If you don't need the old data, removing the old volumes and spinning Appwrite back up should solve the problem.

[2022-10-29 18:22] #4559 closed

[2022-10-29 20:48] AhmedHammad0900 opened #4608 "🐛 Bug Report: createFile , Flutter Web"
### 👟 Reproduction steps

I am using Flutter Sdk (web) to createFiles as it handles large files in chunks ( 5 mb then 5 mb ) .
for Flutter web u can't give the file path , u give bytes so I use FilePicker package to pick the file then get all his bytes ready in memory to upload it ,

when I upload upload around 15 MB File , ( it works well with less than 5 mb file ) it doesn't upload full all byte

[2022-10-29 21:31] vasucp1207 commented on #4356
Hey, @Meldiron assign this issue to me if it is pending.

[2022-10-29 21:31] vasucp1207 commented on #4355
@Meldiron assign this issue to me if it's pending.

[2022-10-29 21:59] drexhacker opened #4609 "📚 Documentation: Please provide full documentation for installs on nginx based servers"
### 💭 Description

The Documentation should provide installation methods that also cater for nginx users.

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.com/appwrite/appwrite/blob/HEAD/CODE_OF_CONDUCT.md)

[2022-10-29 22:29] stnguyen90 commented on #4609
Are you using Nginx Proxy Manager? If so, [this ](https://medium.com/@stnguyen90/how-to-run-appwrite-behind-nginx-19348ed34243) might be helpful.

There are some additional answers in our [Q&A](https://github.com/appwrite/appwrite/discussions/categories/q-a?discussions_q=Nginx+category%3AQ%26A) for Nginx that might be helpful.

[2022-10-29 22:32] stnguyen90 commented on #4355
@aaryan2134, @ItsAdityaKSingh, or @Rutam21, are you still interested in working on this? Please respond within 24 hours so we can reassign accordingly.

[2022-10-29 22:34] stnguyen90 commented on #4356
@ItsAdityaKSingh, @aaryan2134, or @Rutam21, are you still interested in working on this? Please let us know within 24 hours so we can reassign accordingly.

[2022-10-29 23:12] Rutam21 commented on #4356
@stnguyen90 I would love to work on this. Please assign this to me. Thanks.

[2022-10-29 23:13] Rutam21 commented on #4355
@stnguyen90 I would love to work on this as well. Kindly assign this to me. I will complete these within a day. Thanks.

[2022-10-30 06:19] ItsAdityaKSingh commented on #4356
Yes @stnguyen90, I would like to be assigned to this :)

[2022-10-30 06:19] ItsAdityaKSingh commented on #4355
Yes, @stnguyen90, I would like to be assigned to this issue!

[2022-10-30 06:21] ItsAdityaKSingh commented on #4451
Could this now be assigned to me @stnguyen90?

[2022-10-30 06:59] mohith2883 commented on #4406
Hey @Meldiron @stnguyen90 I had committed the changes can you please review it :-)
Only 1 day is left 👀

[2022-10-30 07:47] sahalsaad commented on #4095
Hi, I would like to work on this issue. Thanks

[2022-10-30 10:18] ks129 commented on #4204
Would like to get assigned to this issue.

[2022-10-30 10:28] ks129 commented on #4192
Could I please get assigned to this?

[2022-10-30 11:55] Azanul commented on #4485
It seems this issue has been inactive since 14 days, can I please be assigned this issue as a part of hacktoberfest?

[2022-10-30 11:55] Azanul commented on #4493
It seems this issue has been inactive since 15 days, can I please be assigned this issue as a part of hacktoberfest?

[2022-10-30 11:57] Azanul commented on #4452
It seems this issue has been inactive since 14 days, can I please be assigned this issue as a part of hacktoberfest?

[2022-10-30 15:21] stnguyen90 commented on #4485
@shivendoodeshmukh are you still working on this? Please let us know so we can reassign accordingly.

[2022-10-30 15:26] stnguyen90 commented on #4451
@ItsAdityaKSingh assigned! Thanks for your patience! Happy hacking!

[2022-10-30 15:27] stnguyen90 commented on #4355
Assigning to @ItsAdityaKSingh for being next in queue.

[2022-10-30 15:31] stnguyen90 commented on #4356
@ItsAdityaKSingh, you have a lot of issues so I'm going to assign this to @Rutam21. 🙏

[2022-10-30 15:39] Rutam21 commented on #4358
@stnguyen90 Hello, the contributor has not responded yet and I have been waiting for a while now to work on this. Kindly assign this to me so that I can raise a PR today. Thanks.

[2022-10-30 15:42] stnguyen90 commented on #4358
Assigning to @Rutam21 since @aaryan2134 already has 4 issues. 🙏

[2022-10-30 15:49] vasucp1207 commented on #4452
@Azanul, I complete this already

[2022-10-30 15:53] stnguyen90 commented on #4095
Assigning to @sahalsaad as there was no response. Happy hacking!

[2022-10-30 15:55] vasucp1207 commented on #4206
@stnguyen90, I would like to work on this issue.

[2022-10-30 15:59] vasucp1207 commented on #4207
@Alcadeus0, I would like to work on this issue.

[2022-10-30 16:03] Alcadeus0 commented on #4207
Sure you can take it

[2022-10-30 16:07] stnguyen90 commented on #4207
Reassigned to @vasucp1207! Thank you @Alcadeus0!

[2022-10-30 16:08] stnguyen90 commented on #4206
@InfiniteVerma, are you still working on this? Please let us know so we can reassign accordingly.

[2022-10-30 16:10] Rutam21 commented on #4356
@stnguyen90 The PR has been raised for this. https://github.com/utopia-php/websocket/pull/19

[2022-10-30 16:31] Rutam21 commented on #4358
@stnguyen90 The PR has been raised for this. https://github.com/utopia-php/messaging/pull/11

[2022-10-30 16:32] Azanul commented on #4452
Sorry, I did not notice the PR, my bad.

[2022-10-30 17:37] ItsAdityaKSingh commented on #4355
@stnguyen90 @Meldiron, I have made a PR for the issue @https://github.com/utopia-php/demo/pull/12
Please review :)

[2022-10-30 17:57] ItsAdityaKSingh commented on #4451
Hey @Meldiron @stnguyen90, I have made a PR @https://github.com/open-runtimes/examples/pull/122
Please review the changes :)

[2022-10-30 19:17] stnguyen90 commented on #4544
Where did you see that link? The correct link doesn't have the trailing slash: https://appwrite.io/docs/permissions

[2022-10-30 20:29] TheSylwio commented on #4110
Sorry, but I cannot complete this issue. Could you unassign me here?

[2022-10-30 20:37] ffex commented on #4504
can I do also this? :) it's funny build this type of demo.

[2022-10-30 20:38] stnguyen90 commented on #4504
@ffex yup! Go ahead, you can start work on this issue 😊 This issue is open for everyone and we want as many quality PRs as our community can create.

[2022-10-30 20:39] ks129 commented on #4179
Can I please get assigned to this?

[2022-10-30 21:12] stnguyen90 commented on #4179
@the-kaushal-agrawal are you still interested in working on this? If not, I'll assign to @ks129.

[2022-10-30 21:13] stnguyen90 commented on #4110
@TheSylwio thanks for the update!

[2022-10-30 22:04] Tilmanfs95 commented on #2772
I would also appreciate this because I can not use Appwrite with Google Analytics in an completely legal way in Germany.

[2022-10-31 02:14] #2753 closed

[2022-10-31 05:54] neelshah2409 commented on #4474
https://github.com/open-runtimes/examples/pull/125
Made a PR please review it.
@Meldiron @stnguyen90 @tessamero

[2022-10-31 06:01] dakshbhardwaj commented on #4460
@PineappleIOnic can you please review this pr?

[2022-10-31 13:25] LeonardoMantovani commented on #4585
It is for sure something related to Flutter (and probably Angular has the same problem too, but I've never tried it).

Flutter lets developers write all their code (including the one related to routing) in Dart and then build their project for multiple platforms such as Android, iOS, Web and desktop.

When you build a flutter project for web, it somehow generates a single `index.html` file that wi

[2022-10-31 13:37] sahalsaad commented on #4084
Hi @tessamero , since no progress on this, can you assign to me please? ty

[2022-10-31 15:46] stnguyen90 commented on #4385
@mohith2883, I've assigned this to you in case you'll be able to work on this.

[2022-10-31 15:49] stnguyen90 commented on #4485
@Azanul, I've assigned this issue to you. Hopefully, you have time to finish this.

[2022-10-31 15:50] Azanul commented on #4485
Let's see how fast I can do.

[2022-10-31 16:08] stnguyen90 commented on #4206
Assigning to @vasucp1207 due to inactivity.

[2022-10-31 16:09] stnguyen90 commented on #4179
@ks129 Thanks for your interest! You may work on this issue 🙏 Happy hacking! 🎃

[2022-10-31 16:47] Azanul commented on #4468
@Meldiron @stnguyen90 I can still do it in time if @toukirkhan isnt working on it.

[2022-10-31 17:11] stnguyen90 commented on #4468
@toukirkhan, how's your progress? Are you still able to complete this?

[2022-10-31 17:49] Azanul commented on #4468
@stnguyen90

[2022-10-31 18:09] alexander-potemkin commented on #4442
@stnguyen90 , it does, partially, thank you.

I see that AppWrite could be used in pair with no-/low-code tools, but for this it's missing an ability to easily create and edit functions from the web.

Do you have some ideas how it could be done - the most easy and quick to implement way possibly?

[2022-10-31 18:33] ffex commented on #4502
I want to work on it also! :)

[2022-10-31 18:37] stnguyen90 commented on #4502
@ffex go for it! Looking forward to seeing your demo app!

[2022-10-31 18:48] stnguyen90 commented on #4442
@alexander-potemkin, I'm not sure if there's a quick and easy way to do this in a browser. Some hurdles would be:

* How to manage files?
* How to create a gzip file with the code?

Eventually, you'd need to create a gzip file with the code and call the [Create Deployment API](https://appwrite.io/docs/server/functions?sdk=nodejs-default#functionsCreateDeployment).

[2022-11-01 00:04] stnguyen90 commented on #4276
@karan-17, how's your progress on this?

[2022-11-01 01:53] karan-17 commented on #4276
@stnguyen90 I was trying to resolve some bugs in the app functions, because the setState function isn't working as it should, and thus it is taking a bit longer.

[2022-11-01 03:08] stnguyen90 commented on #4276
@karan-17 feel free to create a PR so you can preliminarily qualify for hacktoberfest

[2022-11-01 08:47] scshiv29-dev commented on #4600
@stnguyen90  any update regarding this?

[2022-11-01 12:58] stnguyen90 commented on #2715
@locohost, are you still having a problem with this or can this be closed now?

[2022-11-01 13:08] stnguyen90 commented on #3536
I'm actually going to close this since the initial problem is resolved.

[2022-11-01 13:08] #3536 closed

[2022-11-01 13:11] stnguyen90 opened #4619 "🚀 Feature: Don't Require Index on All Attributes in Query"
_Originally posted by @stnguyen90 in https://github.com/appwrite/appwrite/discussions/2720#discussioncomment-2077290_

I think having at least one partial index should be enough.

[2022-11-01 13:18] stnguyen90 commented on #4585
@LeonardoMantovani, is flutter unable to route properly or extract the query string in a URL like `https://mywebapp.com/?userId=XXX&secret=YYYY#/password-reset`?

[2022-11-01 13:22] meepeek commented on #4619
Adding to @stnguyen90 point, I have a use case for accounting transaction which 11 of the attributes requires mesh indexing, it will have unique combinations of 2047 which is not feasible for the current indexes limit of 64 records.

[2022-11-01 16:18] caramelmelmel commented on #4488
alright @stnguyen90 i cant seem to resolve seems like4 someone can take this on

[2022-11-01 16:20] stnguyen90 commented on #4488
@caramelmelmel, thanks for the update.

Since Hacktoberfest is over, I'll be closing this issue.

[2022-11-01 16:20] #4488 closed

[2022-11-01 18:26] stnguyen90 commented on #3875
This should be resolved as part of 1.0.2, please let us know if it's still a problem and we can re-open the issue.

[2022-11-01 18:26] #3875 closed

[2022-11-01 18:28] #3926 closed

[2022-11-01 21:35] karan-17 commented on #4276
@stnguyen90 if it still can be considered as a contribution to open source and the AppWrite organization, it would be worth investing the time for me!

[2022-11-01 22:03] SomeBody16 opened #4622 "🐛 Bug Report: CORS error after replacing traefik with nginx"
### 👟 Reproduction steps

1. Default installation on VPS
2. Remove traefik service and restart
3. Login, create project
4. Register Web App -> hostname: `localhost` (Or `*`, `your-real-domain`, anything that should work)

5. Create another docker-compose.nginx.yml :
[code]

6. Create nginx_secrets/your-domain.com.conf :
[code]

7. Run `docker compose -f ./docker-compose.nginx.yml up`
8. Create any

[2022-11-01 22:37] stnguyen90 commented on #4622
@SomeBody16 Would you please try with `https://your-domain.com/v1` as your endpoint? The resulting API call would be to `https://your-domain.com/v1/account`. Please also make sure the project ID you're passing into `client.setProject()` is correct.

Btw, I prefer using Nginx Proxy Manager as a reverse proxy in front of apps. If you want to try going that route, take a look at [this](https://medium