[2021-10-07 10:01] Meldiron opened #2079 "Help us add the Contributing Guidelines to cli repository"
## Introduction

Appwrite's **Contributing Guidelines** are present in the main [Appwrite repository](https://github.com/appwrite/appwrite/blob/master/CONTRIBUTING.md). We follow the same Contributing Guidelines across all our projects but some of them are missing the **CONTRIBUTING.md** file in the project.

Your task is to add the CONTRIBUTING.md file to [cli](https://github.com/utopia-php/cli).

[2021-10-07 10:01] Meldiron opened #2080 "Help us add the Contributing Guidelines to config repository"
## Introduction

Appwrite's **Contributing Guidelines** are present in the main [Appwrite repository](https://github.com/appwrite/appwrite/blob/master/CONTRIBUTING.md). We follow the same Contributing Guidelines across all our projects but some of them are missing the **CONTRIBUTING.md** file in the project.

Your task is to add the CONTRIBUTING.md file to [config](https://github.com/utopia-php/co

[2021-10-07 10:01] Meldiron opened #2081 "Help us add the Contributing Guidelines to database repository"
## Introduction

Appwrite's **Contributing Guidelines** are present in the main [Appwrite repository](https://github.com/appwrite/appwrite/blob/master/CONTRIBUTING.md). We follow the same Contributing Guidelines across all our projects but some of them are missing the **CONTRIBUTING.md** file in the project.

Your task is to add the CONTRIBUTING.md file to [database](https://github.com/utopia-php/

[2021-10-07 10:01] Meldiron opened #2082 "Help us add the Contributing Guidelines to demo repository"
## Introduction

Appwrite's **Contributing Guidelines** are present in the main [Appwrite repository](https://github.com/appwrite/appwrite/blob/master/CONTRIBUTING.md). We follow the same Contributing Guidelines across all our projects but some of them are missing the **CONTRIBUTING.md** file in the project.

Your task is to add the CONTRIBUTING.md file to [demo](https://github.com/utopia-php/demo

[2021-10-07 10:01] Meldiron opened #2083 "Help us add the Contributing Guidelines to domains repository"
## Introduction

Appwrite's **Contributing Guidelines** are present in the main [Appwrite repository](https://github.com/appwrite/appwrite/blob/master/CONTRIBUTING.md). We follow the same Contributing Guidelines across all our projects but some of them are missing the **CONTRIBUTING.md** file in the project.

Your task is to add the CONTRIBUTING.md file to [domains](https://github.com/utopia-php/d

[2021-10-07 10:01] Meldiron opened #2084 "Help us add the Contributing Guidelines to framework repository"
## Introduction

Appwrite's **Contributing Guidelines** are present in the main [Appwrite repository](https://github.com/appwrite/appwrite/blob/master/CONTRIBUTING.md). We follow the same Contributing Guidelines across all our projects but some of them are missing the **CONTRIBUTING.md** file in the project.

Your task is to add the CONTRIBUTING.md file to [framework](https://github.com/utopia-php

[2021-10-07 10:01] Meldiron opened #2085 "Help us add the Contributing Guidelines to image repository"
## Introduction

Appwrite's **Contributing Guidelines** are present in the main [Appwrite repository](https://github.com/appwrite/appwrite/blob/master/CONTRIBUTING.md). We follow the same Contributing Guidelines across all our projects but some of them are missing the **CONTRIBUTING.md** file in the project.

Your task is to add the CONTRIBUTING.md file to [image](https://github.com/utopia-php/ima

[2021-10-07 10:01] Meldiron opened #2086 "Help us add the Contributing Guidelines to locale repository"
## Introduction

Appwrite's **Contributing Guidelines** are present in the main [Appwrite repository](https://github.com/appwrite/appwrite/blob/master/CONTRIBUTING.md). We follow the same Contributing Guidelines across all our projects but some of them are missing the **CONTRIBUTING.md** file in the project.

Your task is to add the CONTRIBUTING.md file to [locale](https://github.com/utopia-php/lo

[2021-10-07 10:01] Meldiron opened #2087 "Help us add the Contributing Guidelines to messaging repository"
## Introduction

Appwrite's **Contributing Guidelines** are present in the main [Appwrite repository](https://github.com/appwrite/appwrite/blob/master/CONTRIBUTING.md). We follow the same Contributing Guidelines across all our projects but some of them are missing the **CONTRIBUTING.md** file in the project.

Your task is to add the CONTRIBUTING.md file to [messaging](https://github.com/utopia-php

[2021-10-07 10:01] Meldiron opened #2088 "Help us add the Contributing Guidelines to orchestration repository"
## Introduction

Appwrite's **Contributing Guidelines** are present in the main [Appwrite repository](https://github.com/appwrite/appwrite/blob/master/CONTRIBUTING.md). We follow the same Contributing Guidelines across all our projects but some of them are missing the **CONTRIBUTING.md** file in the project.

Your task is to add the CONTRIBUTING.md file to [orchestration](https://github.com/utopia

[2021-10-07 10:01] Meldiron opened #2089 "Help us add the Contributing Guidelines to preloader repository"
## Introduction

Appwrite's **Contributing Guidelines** are present in the main [Appwrite repository](https://github.com/appwrite/appwrite/blob/master/CONTRIBUTING.md). We follow the same Contributing Guidelines across all our projects but some of them are missing the **CONTRIBUTING.md** file in the project.

Your task is to add the CONTRIBUTING.md file to [preloader](https://github.com/utopia-php

[2021-10-07 10:01] Meldiron opened #2090 "Help us add the Contributing Guidelines to registry repository"
## Introduction

Appwrite's **Contributing Guidelines** are present in the main [Appwrite repository](https://github.com/appwrite/appwrite/blob/master/CONTRIBUTING.md). We follow the same Contributing Guidelines across all our projects but some of them are missing the **CONTRIBUTING.md** file in the project.

Your task is to add the CONTRIBUTING.md file to [registry](https://github.com/utopia-php/

[2021-10-07 10:01] Meldiron opened #2091 "Help us add the Contributing Guidelines to storage repository"
## Introduction

Appwrite's **Contributing Guidelines** are present in the main [Appwrite repository](https://github.com/appwrite/appwrite/blob/master/CONTRIBUTING.md). We follow the same Contributing Guidelines across all our projects but some of them are missing the **CONTRIBUTING.md** file in the project.

Your task is to add the CONTRIBUTING.md file to [storage](https://github.com/utopia-php/s

[2021-10-07 10:01] Meldiron opened #2092 "Help us add the Contributing Guidelines to swoole repository"
## Introduction

Appwrite's **Contributing Guidelines** are present in the main [Appwrite repository](https://github.com/appwrite/appwrite/blob/master/CONTRIBUTING.md). We follow the same Contributing Guidelines across all our projects but some of them are missing the **CONTRIBUTING.md** file in the project.

Your task is to add the CONTRIBUTING.md file to [swoole](https://github.com/utopia-php/sw

[2021-10-07 10:01] Meldiron opened #2093 "Help us add the Contributing Guidelines to system repository"
## Introduction

Appwrite's **Contributing Guidelines** are present in the main [Appwrite repository](https://github.com/appwrite/appwrite/blob/master/CONTRIBUTING.md). We follow the same Contributing Guidelines across all our projects but some of them are missing the **CONTRIBUTING.md** file in the project.

Your task is to add the CONTRIBUTING.md file to [system](https://github.com/utopia-php/sy

[2021-10-07 10:01] Meldiron opened #2094 "Help us add the Contributing Guidelines to websocket repository"
## Introduction

Appwrite's **Contributing Guidelines** are present in the main [Appwrite repository](https://github.com/appwrite/appwrite/blob/master/CONTRIBUTING.md). We follow the same Contributing Guidelines across all our projects but some of them are missing the **CONTRIBUTING.md** file in the project.

Your task is to add the CONTRIBUTING.md file to [websocket](https://github.com/utopia-php

[2021-10-07 10:01] christyjacob4 opened #2095 "Help us add the Code of Conduct to swoole repository"
## Introduction

Appwrite's **Code of Conduct** are present in the main [Appwrite repository](https://github.com/appwrite/appwrite/blob/master/CODE_OF_CONDUCT.md). We follow the same Code of Conduct across all our projects but some of them are missing the **CODE_OF_CONDUCT.md** file in the project.

Your task is to add the CODE_OF_CONDUCT.md file to [swoole](https://github.com/utopia-php/swoole).

[2021-10-07 10:02] christyjacob4 opened #2096 "Help us add the Code of Conduct to system repository"
## Introduction

Appwrite's **Code of Conduct** are present in the main [Appwrite repository](https://github.com/appwrite/appwrite/blob/master/CODE_OF_CONDUCT.md). We follow the same Code of Conduct across all our projects but some of them are missing the **CODE_OF_CONDUCT.md** file in the project.

Your task is to add the CODE_OF_CONDUCT.md file to [system](https://github.com/utopia-php/system).

[2021-10-07 10:02] christyjacob4 opened #2097 "Help us add the Code of Conduct to websocket repository"
## Introduction

Appwrite's **Code of Conduct** are present in the main [Appwrite repository](https://github.com/appwrite/appwrite/blob/master/CODE_OF_CONDUCT.md). We follow the same Code of Conduct across all our projects but some of them are missing the **CODE_OF_CONDUCT.md** file in the project.

Your task is to add the CODE_OF_CONDUCT.md file to [websocket](https://github.com/utopia-php/websoc

[2021-10-07 10:03] christyjacob4 opened #2098 "Help us add the Contributing Guidelines to ab repository"
## Introduction

Appwrite's **Contributing Guidelines** are present in the main [Appwrite repository](https://github.com/appwrite/appwrite/blob/master/CONTRIBUTING.md). We follow the same Contributing Guidelines across all our projects but some of them are missing the **CONTRIBUTING.md** file in the project.

Your task is to add the CONTRIBUTING.md file to [ab](https://github.com/utopia-php/ab).

[2021-10-07 10:03] christyjacob4 opened #2099 "Help us add the Contributing Guidelines to abuse repository"
## Introduction

Appwrite's **Contributing Guidelines** are present in the main [Appwrite repository](https://github.com/appwrite/appwrite/blob/master/CONTRIBUTING.md). We follow the same Contributing Guidelines across all our projects but some of them are missing the **CONTRIBUTING.md** file in the project.

Your task is to add the CONTRIBUTING.md file to [abuse](https://github.com/utopia-php/abu

[2021-10-07 10:04] christyjacob4 opened #2100 "Help us add the Contributing Guidelines to analytics repository"
## Introduction

Appwrite's **Contributing Guidelines** are present in the main [Appwrite repository](https://github.com/appwrite/appwrite/blob/master/CONTRIBUTING.md). We follow the same Contributing Guidelines across all our projects but some of them are missing the **CONTRIBUTING.md** file in the project.

Your task is to add the CONTRIBUTING.md file to [analytics](https://github.com/utopia-php

[2021-10-07 10:05] christyjacob4 opened #2101 "Help us add the Contributing Guidelines to audit repository"
## Introduction

Appwrite's **Contributing Guidelines** are present in the main [Appwrite repository](https://github.com/appwrite/appwrite/blob/master/CONTRIBUTING.md). We follow the same Contributing Guidelines across all our projects but some of them are missing the **CONTRIBUTING.md** file in the project.

Your task is to add the CONTRIBUTING.md file to [audit](https://github.com/utopia-php/aud

[2021-10-07 10:05] christyjacob4 opened #2102 "Help us add the Contributing Guidelines to cache repository"
## Introduction

Appwrite's **Contributing Guidelines** are present in the main [Appwrite repository](https://github.com/appwrite/appwrite/blob/master/CONTRIBUTING.md). We follow the same Contributing Guidelines across all our projects but some of them are missing the **CONTRIBUTING.md** file in the project.

Your task is to add the CONTRIBUTING.md file to [cache](https://github.com/utopia-php/cac

[2021-10-07 10:06] christyjacob4 opened #2104 "Help us add the Contributing Guidelines to cli repository"
## Introduction

Appwrite's **Contributing Guidelines** are present in the main [Appwrite repository](https://github.com/appwrite/appwrite/blob/master/CONTRIBUTING.md). We follow the same Contributing Guidelines across all our projects but some of them are missing the **CONTRIBUTING.md** file in the project.

Your task is to add the CONTRIBUTING.md file to [cli](https://github.com/utopia-php/cli).

[2021-10-07 10:06] Prakhar-Agarwal-byte commented on #1694
@lohanidamodar Okay, I understand I will try to contribute on other issues. Thanks! ✌️

[2021-10-07 10:06] christyjacob4 opened #2105 "Help us add the Contributing Guidelines to config repository"
## Introduction

Appwrite's **Contributing Guidelines** are present in the main [Appwrite repository](https://github.com/appwrite/appwrite/blob/master/CONTRIBUTING.md). We follow the same Contributing Guidelines across all our projects but some of them are missing the **CONTRIBUTING.md** file in the project.

Your task is to add the CONTRIBUTING.md file to [config](https://github.com/utopia-php/co

[2021-10-07 10:07] christyjacob4 opened #2106 "Help us add the Contributing Guidelines to database repository"
## Introduction

Appwrite's **Contributing Guidelines** are present in the main [Appwrite repository](https://github.com/appwrite/appwrite/blob/master/CONTRIBUTING.md). We follow the same Contributing Guidelines across all our projects but some of them are missing the **CONTRIBUTING.md** file in the project.

Your task is to add the CONTRIBUTING.md file to [database](https://github.com/utopia-php/

[2021-10-07 10:07] Prakhar-Agarwal-byte commented on #1677
@lohanidamodar I understand, sorry for any inconvenience caused

[2021-10-07 10:07] christyjacob4 opened #2107 "Help us add the Contributing Guidelines to demo repository"
## Introduction

Appwrite's **Contributing Guidelines** are present in the main [Appwrite repository](https://github.com/appwrite/appwrite/blob/master/CONTRIBUTING.md). We follow the same Contributing Guidelines across all our projects but some of them are missing the **CONTRIBUTING.md** file in the project.

Your task is to add the CONTRIBUTING.md file to [demo](https://github.com/utopia-php/demo

[2021-10-07 10:08] christyjacob4 opened #2108 "Help us add the Contributing Guidelines to domains repository"
## Introduction

Appwrite's **Contributing Guidelines** are present in the main [Appwrite repository](https://github.com/appwrite/appwrite/blob/master/CONTRIBUTING.md). We follow the same Contributing Guidelines across all our projects but some of them are missing the **CONTRIBUTING.md** file in the project.

Your task is to add the CONTRIBUTING.md file to [domains](https://github.com/utopia-php/d

[2021-10-07 10:08] christyjacob4 opened #2109 "Help us add the Contributing Guidelines to framework repository"
## Introduction

Appwrite's **Contributing Guidelines** are present in the main [Appwrite repository](https://github.com/appwrite/appwrite/blob/master/CONTRIBUTING.md). We follow the same Contributing Guidelines across all our projects but some of them are missing the **CONTRIBUTING.md** file in the project.

Your task is to add the CONTRIBUTING.md file to [framework](https://github.com/utopia-php

[2021-10-07 10:09] christyjacob4 opened #2110 "Help us add the Contributing Guidelines to image repository"
## Introduction

Appwrite's **Contributing Guidelines** are present in the main [Appwrite repository](https://github.com/appwrite/appwrite/blob/master/CONTRIBUTING.md). We follow the same Contributing Guidelines across all our projects but some of them are missing the **CONTRIBUTING.md** file in the project.

Your task is to add the CONTRIBUTING.md file to [image](https://github.com/utopia-php/ima

[2021-10-07 10:09] christyjacob4 opened #2111 "Help us add the Contributing Guidelines to locale repository"
## Introduction

Appwrite's **Contributing Guidelines** are present in the main [Appwrite repository](https://github.com/appwrite/appwrite/blob/master/CONTRIBUTING.md). We follow the same Contributing Guidelines across all our projects but some of them are missing the **CONTRIBUTING.md** file in the project.

Your task is to add the CONTRIBUTING.md file to [locale](https://github.com/utopia-php/lo

[2021-10-07 10:09] christyjacob4 opened #2112 "Help us add the Contributing Guidelines to messaging repository"
## Introduction

Appwrite's **Contributing Guidelines** are present in the main [Appwrite repository](https://github.com/appwrite/appwrite/blob/master/CONTRIBUTING.md). We follow the same Contributing Guidelines across all our projects but some of them are missing the **CONTRIBUTING.md** file in the project.

Your task is to add the CONTRIBUTING.md file to [messaging](https://github.com/utopia-php

[2021-10-07 10:10] christyjacob4 opened #2113 "Help us add the Contributing Guidelines to orchestration repository"
## Introduction

Appwrite's **Contributing Guidelines** are present in the main [Appwrite repository](https://github.com/appwrite/appwrite/blob/master/CONTRIBUTING.md). We follow the same Contributing Guidelines across all our projects but some of them are missing the **CONTRIBUTING.md** file in the project.

Your task is to add the CONTRIBUTING.md file to [orchestration](https://github.com/utopia

[2021-10-07 10:10] Prakhar-Agarwal-byte commented on #1692
@lohanidamodar I understand, sorry for any inconvenience caused

[2021-10-07 10:11] christyjacob4 opened #2114 "Help us add the Contributing Guidelines to preloader repository"
## Introduction

Appwrite's **Contributing Guidelines** are present in the main [Appwrite repository](https://github.com/appwrite/appwrite/blob/master/CONTRIBUTING.md). We follow the same Contributing Guidelines across all our projects but some of them are missing the **CONTRIBUTING.md** file in the project.

Your task is to add the CONTRIBUTING.md file to [preloader](https://github.com/utopia-php

[2021-10-07 10:11] christyjacob4 opened #2115 "Help us add the Contributing Guidelines to registry repository"
## Introduction

Appwrite's **Contributing Guidelines** are present in the main [Appwrite repository](https://github.com/appwrite/appwrite/blob/master/CONTRIBUTING.md). We follow the same Contributing Guidelines across all our projects but some of them are missing the **CONTRIBUTING.md** file in the project.

Your task is to add the CONTRIBUTING.md file to [registry](https://github.com/utopia-php/

[2021-10-07 10:11] christyjacob4 opened #2116 "Help us add the Contributing Guidelines to storage repository"
## Introduction

Appwrite's **Contributing Guidelines** are present in the main [Appwrite repository](https://github.com/appwrite/appwrite/blob/master/CONTRIBUTING.md). We follow the same Contributing Guidelines across all our projects but some of them are missing the **CONTRIBUTING.md** file in the project.

Your task is to add the CONTRIBUTING.md file to [storage](https://github.com/utopia-php/s

[2021-10-07 10:12] christyjacob4 opened #2117 "Help us add the Contributing Guidelines to swoole repository"
## Introduction

Appwrite's **Contributing Guidelines** are present in the main [Appwrite repository](https://github.com/appwrite/appwrite/blob/master/CONTRIBUTING.md). We follow the same Contributing Guidelines across all our projects but some of them are missing the **CONTRIBUTING.md** file in the project.

Your task is to add the CONTRIBUTING.md file to [swoole](https://github.com/utopia-php/sw

[2021-10-07 10:12] christyjacob4 opened #2118 "Help us add the Contributing Guidelines to system repository"
## Introduction

Appwrite's **Contributing Guidelines** are present in the main [Appwrite repository](https://github.com/appwrite/appwrite/blob/master/CONTRIBUTING.md). We follow the same Contributing Guidelines across all our projects but some of them are missing the **CONTRIBUTING.md** file in the project.

Your task is to add the CONTRIBUTING.md file to [system](https://github.com/utopia-php/sy

[2021-10-07 10:12] christyjacob4 opened #2119 "Help us add the Contributing Guidelines to websocket repository"
## Introduction

Appwrite's **Contributing Guidelines** are present in the main [Appwrite repository](https://github.com/appwrite/appwrite/blob/master/CONTRIBUTING.md). We follow the same Contributing Guidelines across all our projects but some of them are missing the **CONTRIBUTING.md** file in the project.

Your task is to add the CONTRIBUTING.md file to [websocket](https://github.com/utopia-php

[2021-10-07 10:20] divshacker commented on #2088
May I work on this Please ?

[2021-10-07 10:22] divshacker commented on #2110
May I work on this Please ?

[2021-10-07 10:27] Prachi8282 commented on #2113
@christyjacob4 Please assign me this issue.

[2021-10-07 10:27] Prachi8282 commented on #2112
@christyjacob4 Please assign me this issue.

[2021-10-07 10:29] kxrtiswithak commented on #2105
can I be assigned plz?

[2021-10-07 10:29] Prakhar-IIT-BHU commented on #2107
@christyjacob4 Please assign me this issue.

[2021-10-07 10:34] MMGOYAl commented on #2093
@Meldiron Please assign me this issue. Thanks!

[2021-10-07 10:35] MMGOYAl commented on #2091
@Meldiron Please assign me this issue. Thanks!

[2021-10-07 10:47] Ananthavijay commented on #2081
May I work on this?

[2021-10-07 10:47] rohiraanjali commented on #1774
Would love to contribute on this to help fellow devs!! Coming soon with a blog

[2021-10-07 10:54] MalevolentStrix commented on #2090
I would like to work on this issue, Can it be assigned to me?

[2021-10-07 11:09] MalevolentStrix commented on #2071
I would like to work on this issue, Can it be assigned to me?

[2021-10-07 11:14] parzival272000 commented on #2104
Can you assign this to me

[2021-10-07 11:15] PrerakMathur20 commented on #2066
Hello,
I'd like to work on this issue. Kindly assign this one to me.

[2021-10-07 11:16] parzival272000 commented on #2090
@Meldiron i would like to work on this can you assign it to me

[2021-10-07 11:16] PrerakMathur20 commented on #2065
Hello,
I'd like to work on this issue. Kindly assign this one to me.

[2021-10-07 11:19] PrerakMathur20 commented on #2091
Hello,
I'd like to work on this issue. Kindly assign this one to me.

[2021-10-07 11:19] PrerakMathur20 commented on #2089
Hello,
I'd like to work on this issue. Kindly assign this one to me.

[2021-10-07 11:20] PrerakMathur20 commented on #2079
Hello,
I'd like to work on this issue. Kindly assign this one to me.

[2021-10-07 11:23] parzival272000 commented on #2074
Can i take this @Meldiron

[2021-10-07 11:23] KKVANONYMOUS commented on #2056
@Meldiron I would like to work on this issue

[2021-10-07 11:23] KKVANONYMOUS commented on #2077
@Meldiron I would like to work on this issue

[2021-10-07 11:31] Sin-Sumit commented on #2116
@christyjacob4 I'd like to work on this issue.

[2021-10-07 11:33] Sin-Sumit commented on #2097
@christyjacob4 I'd like to work on this issue.

[2021-10-07 11:34] Sin-Sumit commented on #2075
@christyjacob4 I'd like to work on this issue.

[2021-10-07 11:35] honeykpatel commented on #2075
Isn't there already a contributing.md in abuse one?

[2021-10-07 11:35] Sin-Sumit commented on #2047
@Meldiron  I'd like to work on this issue.

[2021-10-07 11:45] christyjacob4 commented on #1677
@Prakhar-Agarwal-byte You can checkout our other open issues :+1:

[2021-10-07 11:51] Meldiron commented on #2118
@PrerakMathur20 We would love you to check out some of our other open issues and join us on [Discord](https://appwrite.io/discord) if you need help finding some.

[2021-10-07 11:53] Meldiron commented on #2116
@PrerakMathur20 Assigned it to you! All the best 🚀

[2021-10-07 11:57] Meldiron commented on #2114
@Prakhar-Agarwal-byte @PrerakMathur20  We would love you to check out some of our other open issues and join us on [Discord](https://appwrite.io/discord) if you need help finding some.

[2021-10-07 11:57] christyjacob4 commented on #1964
@parzival272000  This issue is already is taken.  We would love you to check out some of our other open issues [here](https://github.com/issues?q=is%3Aopen+is%3Aissue+archived%3Afalse+user%3Aappwrite+user%3Autopia-php+no%3Aassignee+label%3Ahacktoberfest) and join us on [Discord](https://appwrite.io/discord) if you need help finding some.

[2021-10-07 12:00] Akshat-gour commented on #2114
can i work on this

[2021-10-07 12:00] Meldiron commented on #2110
@divshacker Assigned it to you! All the best 🚀

[2021-10-07 12:01] parzival272000 commented on #2085
Can i take this one@christyjacob4

[2021-10-07 12:02] Meldiron commented on #2107
@Prakhar-IIT-BHU Assigned it to you! All the best 🚀

[2021-10-07 12:04] niyoj commented on #1913
I will be submitting PR tomorrow I am just resolving a small issue.

[2021-10-07 12:07] parzival272000 commented on #2111
Can i take this

[2021-10-07 12:21] GunjanDhanuka commented on #2043
Hey! Can I work on this?

[2021-10-07 12:28] MysticSeeker commented on #1774
I Have Created And Posted The Blog.
Can Anyone Tell Me How Can I Add It To The Repo

[2021-10-07 12:30] srijit2002 commented on #2093
I would like to work on this issue. @Meldiron.

[2021-10-07 12:37] christyjacob4 commented on #2034
@inomag  All the best :+1:

[2021-10-07 12:38] parzival272000 commented on #2030
Brother I have left comment on two issue can you assign me to them I would really like to kickstart my journey towards contribution to this repo

[2021-10-07 12:42] theBeginner86 commented on #1774
You have to submit a PR with a link to your blog to this repo: https://github.com/appwrite/awesome-appwrite
🤓

[2021-10-07 12:44] MysticSeeker commented on #1774
In what form?

[2021-10-07 12:46] MysticSeeker commented on #1774
https://hashnode.com/@MysticSeeker/joinme Here It Is...

[2021-10-07 12:48] MysticSeeker commented on #1774
O Thanks Bro😁

[2021-10-07 12:53] christyjacob4 commented on #2043
@Prakhar-Agarwal-byte @GunjanDhanuka  You've already been assigned an issue of this type already. Please consider picking a different type of issue so other contributors can try this one.

[2021-10-07 12:56] christyjacob4 commented on #2054
@KouluruNandaKishoreReddy  All the best :+1:

[2021-10-07 12:59] lmas3009 commented on #2055
Thanks @christyjacob4

[2021-10-07 12:59] christyjacob4 commented on #2057
@parzival272000  All the best :+1:

[2021-10-07 13:11] kinkusuma commented on #2038
Hi, can i do this?

[2021-10-07 13:45] kritika-srivastava commented on #2108
@christyjacob4 can I work on this issue?

[2021-10-07 13:50] lmas3009 commented on #2055
I have just raised a PR and completed my task.

[2021-10-07 14:27] HVbajoria commented on #2114
I have added the CONTRIBUTING.md for the preloader repo and raised a pull request from the same preloader repository.
Could you please check and let me know if any changes are required.
Thank you.

[2021-10-07 15:20] AnkushSinghGandhi commented on #2053
Hey, I'd also like to work on these issues. I didn't get a single issue assigned to me.

[2021-10-07 15:30] Meldiron commented on #1972
Hey @1995YogeshSharma, before you submit your PR please note the update to this issue. Please raise your PR against the feat-database-indexing-mirror branch ONLY.

[2021-10-07 15:30] Meldiron commented on #1973
Hey @harshita214, before you submit your PR please note the update to this issue. Please raise your PR against the feat-database-indexing-mirror branch ONLY.

[2021-10-07 15:30] Meldiron commented on #1974
Hey @PaulKovalov, before you submit your PR please note the update to this issue. Please raise your PR against the feat-database-indexing-mirror branch ONLY.

[2021-10-07 15:30] Meldiron commented on #1978
Hey @kritika-srivastava, before you submit your PR please note the update to this issue. Please raise your PR against the feat-database-indexing-mirror branch ONLY.

[2021-10-07 15:30] Meldiron commented on #1983
Hey @krishguptadev, before you submit your PR please note the update to this issue. Please raise your PR against the feat-database-indexing-mirror branch ONLY.

[2021-10-07 15:38] Lakshay-Pruthi commented on #1984
@Meldiron How do I change the branch in pull request or you want me to fork the mirror branch and change all the 55 files again.

[2021-10-07 15:52] shiningflutes commented on #2100
I would love to work on this as a first issue :)

[2021-10-07 17:10] yashikajotwani12 commented on #1977
Okay @Meldiron, I am unable to resolve one of the tests, Can you help me.

[2021-10-07 17:11] achintya-7 commented on #1890
Can I solve this issue via Python

[2021-10-07 17:44] kritika-srivastava commented on #1978
Hi @Meldiron! I have raised a PR against ```feat-database-indexing-mirror``` branch.

[2021-10-07 17:55] s3ppo opened #2127 "🐛 Bug Report: No null values on optional numeric attributes (rules)"
### 👟 Reproduction steps

create a collection with an optional numeric attribute via the appwrite console.
after updating the rule, the default value is set to 0.. and its not possible to remove it or set it to null because its a number input field

### 👍 Expected behavior

null should be possible

### 👎 Actual Behavior

null is not possible

### 🎲 Appwrite version

Version 0.10.x

### 💻 Operating

[2021-10-07 20:00] adil14788 commented on #2078
done (https://github.com/utopia-php/cache/pull/9/commits/4bdbcaa2b51e8eecdda5be130dcf445a8fa990f7)

[2021-10-07 20:30] christyjacob4 commented on #2062
@AnkushSinghGandhi  We would love you to check out some of our other open issues [here](https://github.com/issues?q=is%3Aopen+is%3Aissue+archived%3Afalse+user%3Aappwrite+user%3Autopia-php+no%3Aassignee+label%3Ahacktoberfest) and join us on [Discord](https://appwrite.io/discord) if you need help finding some.

[2021-10-07 20:35] christyjacob4 commented on #2069
@anshganatra All the best :+1:

[2021-10-07 20:35] JubayerJoy commented on #2099
Hi @christyjacob4 @Meldiron, I want to work on this.
Cheers.

[2021-10-07 20:35] christyjacob4 commented on #2069
@kanumalivad  You've been assigned an issue of this type already. Please consider picking a different type of issue so other contributors can try this one.

[2021-10-07 20:41] christyjacob4 commented on #2072
@Sin-Sumit  You've been assigned an issue of this type already. Please consider picking a different type of issue so other contributors can try this one.

[2021-10-07 20:41] christyjacob4 commented on #2072
@theBeginner86  All the best :+1:

[2021-10-07 20:43] christyjacob4 commented on #2074
@parzival272000  You've been assigned an issue of this type already. Please consider picking a different type of issue so other contributors can try this one.

[2021-10-07 20:44] christyjacob4 commented on #2075
Yes you're right. In that case this issue can be closed :+1:

[2021-10-07 20:44] #2075 closed

[2021-10-07 20:44] christyjacob4 commented on #2077
@KKVANONYMOUS  You've been assigned an issue of this type already. Please consider picking a different type of issue so other contributors can try this one.

[2021-10-07 20:49] christyjacob4 commented on #2078
@Akshat-gour  All the best :+1:

[2021-10-07 20:52] aniketh-varma commented on #2102
Hi @christyjacob4, can I work on this issue?

[2021-10-07 20:53] christyjacob4 commented on #2102
@aniketh-varma  All the best :+1:

[2021-10-07 20:53] christyjacob4 commented on #2102
@Prakhar-IIT-BHU You've been assigned an issue of this type already. Please consider picking a different type of issue so other contributors can try this one.

[2021-10-07 20:55] christyjacob4 commented on #2083
@sidpro-hash all the best :+1:

[2021-10-07 20:55] christyjacob4 commented on #2083
@Akshat-gour  You've been assigned an issue of this type already. Please consider picking a different type of issue so other contributors can try this one.

[2021-10-07 20:55] christyjacob4 commented on #2084
@Akshat-gour , @rohiraanjali   You've been assigned an issue of this type already. Please consider picking a different type of issue so other contributors can try this one.

[2021-10-07 20:56] christyjacob4 commented on #2085
@parzival272000  You've been assigned an issue of this type already. Please consider picking a different type of issue so other contributors can try this one.

[2021-10-07 20:56] christyjacob4 commented on #2086
@PrerakMathur20  You've been assigned an issue of this type already. Please consider picking a different type of issue so other contributors can try this one.

[2021-10-07 20:58] christyjacob4 commented on #2087
@AmreshSinha  All the best :+1:

[2021-10-07 21:00] christyjacob4 commented on #2090
You've been assigned an issue of this type already. Please consider picking a different type of issue so other contributors can try this one.

[2021-10-07 21:03] christyjacob4 commented on #2094
@MMGOYAl  @PrerakMathur20  You've been assigned an issue of this type already. Please consider picking a different type of issue so other contributors can try this one.

[2021-10-07 21:07] christyjacob4 commented on #2096
@divshacker  @GunjanDhanuka  You've been assigned an issue of this type already. Please consider picking a different type of issue so other contributors can try this one.

[2021-10-07 21:16] ArmanChand commented on #2041
@Meldiron , I can take this issue up

[2021-10-07 21:18] ArmanChand commented on #2076
@eldadfux , I can take this issue.

[2021-10-07 21:19] Rutam21 commented on #2065
@christyjacob4 I haven't got an issue of this type. You can assign this to me.

[2021-10-07 22:09] ayodejiAA commented on #1893
I will take PHP.

[2021-10-08 00:10] Yash-Singh1 opened #2130 "500 Status Code Error on running"
I'm trying to run this on Heroku and I am getting the following error:

[code]

What am I doing wrong?

**Update:**

I made Heroku clone the repository and run the DockerFile.

[2021-10-08 00:27] piopi commented on #1929
Can I work on the PHP version?

[2021-10-08 00:40] daniloff200 commented on #2074
@christyjacob4
hey!
Can I pick this one?

[2021-10-08 00:45] daniloff200 commented on #2086
hi, @christyjacob4
can I take this one?

[2021-10-08 01:09] panuphanch commented on #2029
Can I work on Ruby?

[2021-10-08 01:11] ORKO06 opened #2131 "🐛 Bug Report: Footer is unresponsive from 531px to 456px"
### 👟 Reproduction steps

When I was inspecting the website I found out that the footer is unresponsive from 531px to 456px .

### 👍 Expected behavior

The logos would have been in a new line.

### 👎 Actual Behavior

![image](https://user-images.githubusercontent.com/74568847/136482681-3be601d8-a70e-4f9c-9bba-db1246473ca3.png)

### 🎲 Appwrite version

Version 0.10.x

### 💻 Operating system

Window

[2021-10-08 02:08] vendz commented on #2096
@christyjacob4 can you please assign this to me?

[2021-10-08 02:11] vendz commented on #2092
@christyjacob4 can i work on this

[2021-10-08 02:12] vendz commented on #2085
@Meldiron @christyjacob4 please assign this to me

[2021-10-08 02:19] vendz commented on #2086
@christyjacob4, please assign this to me

[2021-10-08 02:20] vendz commented on #2084
@christyjacob4, please assign this to me

[2021-10-08 02:20] vendz commented on #2082
@Meldiron @christyjacob4, please assign this to me

[2021-10-08 02:20] vendz commented on #2080
@christyjacob4, please assign this to me

[2021-10-08 02:21] vendz commented on #2076
@christyjacob4, please assign this to me

[2021-10-08 02:21] vendz commented on #2074
@christyjacob4, please assign this to me

[2021-10-08 02:22] vendz commented on #2067
@christyjacob4, please assign this to me

[2021-10-08 02:22] vendz commented on #2063
@christyjacob4, please assign this to me

[2021-10-08 02:24] vendz commented on #2031
@christyjacob4, please assign this to me

[2021-10-08 02:53] neelshah2409 commented on #2085
@christyjacob4 could you please assign me the issue.

[2021-10-08 03:58] sidpro-hash commented on #2083
Hello @Meldiron @christyjacob4 ,
I have created and added the `CONTRIBUTING.md` file in root directory of [utopia-php/domains](https://github.com/utopia-php/domains) Repository. Kindly Review and tell me if any changes are required and merge at your convenience.
PR [#7](https://github.com/utopia-php/domains/pull/7)

[2021-10-08 04:47] lohanidamodar commented on #2104
@Prakhar-IIT-BHU @parzival272000 You have already been assigned an issue of this type.  We would love you to check out some of our other open issues and join us on [Discord](https://appwrite.io/discord) if you need help finding some.

[2021-10-08 04:47] lohanidamodar commented on #2105
@kxrtiswithak Assigned to you. All the best 🚀

[2021-10-08 04:48] riyakushwaha commented on #2040
Hi, please assign this issue to me

[2021-10-08 04:49] lohanidamodar commented on #2106
@Sin-Sumit Yes please update it according to the reference provided.

[2021-10-08 04:51] lohanidamodar commented on #2108
@Prachi8282 You have already been assigned a issue of this type.  We would love you to check out some of our other open issues and join us on [Discord](https://appwrite.io/discord) if you need help finding some.

[2021-10-08 04:51] lohanidamodar commented on #2108
@kritika-srivastava assigned to you. All the best!

[2021-10-08 04:53] lohanidamodar commented on #2108
@1n40 please create a PR only after you are assigned. This is assigned to someone else.  We would love you to check out some of our other open issues and join us on [Discord](https://appwrite.io/discord) if you need help finding some.

[2021-10-08 04:55] lohanidamodar commented on #2112
@HVbajoria assigned to you. All the best 🚀

[2021-10-08 04:56] lohanidamodar commented on #2114
@kkhitesh assigned to you. All the best 🚀

[2021-10-08 04:59] lohanidamodar commented on #2065
@Rutam21 assigned to you all the best 🚀

[2021-10-08 05:00] lohanidamodar commented on #2067
@vendz  We would love you to check out some of our other open issues and join us on [Discord](https://appwrite.io/discord) if you need help finding some.

[2021-10-08 05:01] lohanidamodar commented on #2074
@daniloff200 assigned to you all the best 🚀

[2021-10-08 05:02] lohanidamodar commented on #2077
@Rutam21  We would love you to check out some of our other open issues and join us on [Discord](https://appwrite.io/discord) if you need help finding some.

[2021-10-08 05:02] lohanidamodar commented on #2077
@vendz assigned to you. All the best 🚀

[2021-10-08 05:03] lohanidamodar commented on #2080
@vendz  We would love you to check out some of our other open issues and join us on [Discord](https://appwrite.io/discord) if you need help finding some.
****

[2021-10-08 05:04] lohanidamodar commented on #2082
@PrerakMathur20 @Akshat-gour @vendz  We would love you to check out some of our other open issues and join us on [Discord](https://appwrite.io/discord) if you need help finding some.

[2021-10-08 05:05] lohanidamodar commented on #2084
@vendz  We would love you to check out some of our other open issues and join us on [Discord](https://appwrite.io/discord) if you need help finding some.

[2021-10-08 05:09] HVbajoria commented on #2112
Thank you @lohanidamodar for assigning me this issue.
I have added the Contributing Guidelines.
Could you please check and let me know if any changes are required.

[2021-10-08 05:15] lohanidamodar commented on #2085
@neelshah2409 assigned to you. All the best 🚀

[2021-10-08 05:17] lohanidamodar commented on #2093
@vendz  We would love you to check out some of our other open issues and join us on [Discord](https://appwrite.io/discord) if you need help finding some.

[2021-10-08 05:20] lohanidamodar commented on #2100
@Shubhra-A  We would love you to check out some of our other open issues and join us on [Discord](https://appwrite.io/discord) if you need help finding some.

[2021-10-08 05:21] lohanidamodar commented on #2099
@harshita214 assigned to you. All the best 🚀

[2021-10-08 05:22] lohanidamodar commented on #2098
@vinayak0127 assigned to you. All the best 🚀

[2021-10-08 05:23] lohanidamodar commented on #2097
@yashikajotwani12 @Sin-Sumit @adil14788  We would love you to check out some of our other open issues and join us on [Discord](https://appwrite.io/discord) if you need help finding some.

[2021-10-08 05:23] lohanidamodar commented on #2097
@JubayerJoy assigned to you. All the best 🚀

[2021-10-08 05:26] Goheljay commented on #2093
@christyjacob4 @lohanidamodar can I work on this issue? Can you assign me this issue?

[2021-10-08 05:26] lohanidamodar commented on #2096
@vendz  We would love you to check out some of our other open issues and join us on [Discord](https://appwrite.io/discord) if you need help finding some.

[2021-10-08 05:29] lohanidamodar commented on #2040
@vendz @ArmanChand  We would love you to check out some of our other open issues and join us on [Discord](https://appwrite.io/discord) if you need help finding some.

[2021-10-08 05:30] lohanidamodar commented on #2041
@ArmanChand @vendz You've already been assigned an issue of this type. Please consider picking a different type of issue so other contributors can try this one.

[2021-10-08 05:30] Goheljay commented on #2086
@christyjacob4 @lohanidamodar can I work on this issue? Can you assign me this issue?

[2021-10-08 05:32] Goheljay commented on #2084
@christyjacob4 @lohanidamodar can I work on this issue? Can you assign me this issue?

[2021-10-08 05:33] lohanidamodar commented on #2045
@anshganatra you've already been assigned an issue of this type already. Please consider picking a different type of issue so other contributors can try this one.

[2021-10-08 05:33] lohanidamodar commented on #2046
@Asmit2952 you've already been assigned an issue of this type already. Please consider picking a different type of issue so other contributors can try this one.

[2021-10-08 05:34] Goheljay commented on #2082
@christyjacob4 @lohanidamodar can I work on this issue? Can you assign me this issue?
I have completed all my previous assigned issues.

[2021-10-08 05:35] lohanidamodar commented on #2050
@pragyakhanna11 assigned to you all the best 🚀

[2021-10-08 05:36] lohanidamodar commented on #2050
@AnkushSinghGandhi you've already been assigned an issue of this type already. Please consider picking a different type of issue so other contributors can try this one.

[2021-10-08 05:36] lohanidamodar commented on #2052
@kritikash18 you've already been assigned an issue of this type already. Please consider picking a different type of issue so other contributors can try this one.

[2021-10-08 05:37] lohanidamodar commented on #2053
@honeykpatel you've already been assigned an issue of this type already. Please consider picking a different type of issue so other contributors can try this one.

[2021-10-08 05:45] lohanidamodar commented on #1977
What is it that you couldn't resolve?

[2021-10-08 05:46] lohanidamodar commented on #1979
If you install Wampp or xampp, you should get PHP as well in windows.

[2021-10-08 05:49] lohanidamodar commented on #2028
@panuphanch assigned ruby to you. All the best 🚀

[2021-10-08 05:51] lohanidamodar commented on #2030
@parzival272000 You should already be assigned to at lease one. If not please let us know via discord. Also,  We would love you to check out some of our other open issues and join us on [Discord](https://appwrite.io/discord) if you need help finding some.

[2021-10-08 05:51] lohanidamodar commented on #2031
@panuphanch you already have some similar issues assigned. Please complete them before.

[2021-10-08 05:51] lohanidamodar commented on #2031
@vendz which language?

[2021-10-08 05:53] vendz commented on #2031
@lohanidamodar java

[2021-10-08 05:56] lohanidamodar commented on #2035
@aniketh-varma you've already been assigned an issue of this type already. Please consider picking a different type of issue so other contributors can try this one.

[2021-10-08 05:56] lohanidamodar commented on #2036
@Hard-Coder05 assigned to you. All the best 🚀

[2021-10-08 06:11] lohanidamodar commented on #1892
@zeroplusone assigned to you. All the best 🚀

[2021-10-08 06:13] lohanidamodar commented on #1893
@ayodejiAA @anshganatra assigned to you. All the best 🚀

[2021-10-08 06:19] lohanidamodar commented on #1931
@geryjuhasz Assigned to you. All the best 🚀

[2021-10-08 06:20] HelloSeaNation commented on #2051
Hi @Meldiron , I would like to work on this, thanks.

[2021-10-08 06:24] lohanidamodar commented on #2082
@Goheljay you've already been assigned an issue of this type already. Please consider picking a different type of issue so other contributors can try this one.

[2021-10-08 06:25] lohanidamodar commented on #2104
@Goheljay you've already been assigned an issue of this type already. Please consider picking a different type of issue so other contributors can try this one.

[2021-10-08 06:25] lohanidamodar commented on #2112
@HVbajoria thank you for your contribution. We will review the PRs soon.

[2021-10-08 06:25] lohanidamodar commented on #2119
@progressive-coder-ankur this is already assigned.  We would love you to check out some of our other open issues and join us on [Discord](https://appwrite.io/discord) if you need help finding some.

[2021-10-08 06:26] Goheljay commented on #2093
@lohanidamodar I have submitted Pull Request #11 in utopia-php/system

[2021-10-08 06:29] inomag commented on #2034
Got it @lohanidamodar . Thanks

[2021-10-08 06:29] lohanidamodar commented on #1977
@yashikajotwani12 I've restarted the test. Let's see if it works. Feel free to get back if any further issues.

[2021-10-08 06:30] divshacker commented on #2044
May I work on this issue ? I have worked on adding `Contributing.md` files in different repos. But not worked on adding `Code of Conduct` . @lohanidamodar

[2021-10-08 06:30] lohanidamodar commented on #2051
@HelloSeaNation Assigned to you. All the best.

[2021-10-08 06:41] Goheljay commented on #2052
@christyjacob4 @lohanidamodar can I work on this issue? Can you assign me this issue?
I have completed all my previous assigned issues.

[2021-10-08 06:42] Goheljay commented on #2045
@christyjacob4 @lohanidamodar can I work on this issue? Can you assign me this issue?
I have completed all my previous assigned issues.

[2021-10-08 06:48] sapora1 commented on #2131
![image](https://user-images.githubusercontent.com/59124772/136510971-49109726-5612-4c39-a458-a8e83d83906e.png)

[2021-10-08 06:49] vinayak0127 commented on #2098
@lohanidamodar Hey! I've created a pull request do I need to mention that PR here?

[2021-10-08 07:04] lohanidamodar commented on #2046
@Pinky-Chaudhary assigned to you. All the best :rocket

[2021-10-08 07:10] Goheljay commented on #2035
@christyjacob4 @lohanidamodar can I work on this issue? Can you assign me this issue?
I have completed all my previous assigned issues.

[2021-10-08 07:12] lohanidamodar commented on #2044
@harshita214 Assigned to you. All the best 🚀

[2021-10-08 07:32] toir427 opened #2143 "Using 80 port for local docker container. Is it correct?"
Hello everyone.

https://github.com/appwrite/appwrite/blob/c03bfb66ec4288d78608b2d6e8f883eb2fb4011b/docker-compose.yml#L23-L25

### Why are you using 80 ports?
I am a little bit confused about it because if I use your docker-compose.yml (docker-compose up -d) I have been an error because I have apache on my computer.

![image](https://user-images.githubusercontent.com/19358691/136514695-f0bdf5e9-7

[2021-10-08 07:36] sapora1 commented on #2089
@christyjacob4 @lohanidamodar I can work on this...please assign me

[2021-10-08 07:50] Amnx404 commented on #1893
Hey can you assign me KotLin

[2021-10-08 09:29] anukindipa commented on #2041
Can i try to work on this?

[2021-10-08 09:29] anukindipa commented on #2045
Hi! can i please be assigned to this issue

[2021-10-08 09:32] Meldiron commented on #2104
@ashish4arora Assigned it to you! All the best 🚀

[2021-10-08 09:33] Meldiron commented on #2104
@Amnx404 you've already been assigned an issue of this type already. Please consider picking a different type of issue so other contributors can try this one.

[2021-10-08 09:35] Amnx404 commented on #2104
This is my first issue on appwrite.

[2021-10-08 09:41] Meldiron commented on #2052
@Ishika414 Assigned it to you! All the best 🚀

[2021-10-08 09:47] Meldiron commented on #2045
@Goheljay you've already been assigned an issue of this type already. Please consider picking a different type of issue so other contributors can try this one.

[2021-10-08 09:49] anishsaraogi commented on #1698
Hello, I can work on this issue!

[2021-10-08 09:50] anishsaraogi commented on #1731
Hello, I would like to work on this issue!

[2021-10-08 09:50] Meldiron commented on #2030
@parzival272000 @1n40 Thanks for the PR! 🤯 Please give us some time to review it.

[2021-10-08 09:54] anishsaraogi commented on #1766
Hello, I would like to work on this issue!

[2021-10-08 09:55] parzival272000 commented on #2030
Okay can we write about appwrite on medium or dev via a post

[2021-10-08 10:23] #1728 closed

[2021-10-08 10:23] christyjacob4 commented on #1728
Thank you so much for the contribution! The changes have been merged and will be released with **Appwrite 0.11**

[2021-10-08 10:31] christyjacob4 commented on #1939
Thank you so much for the contribution! The changes have been merged and will be released with **Appwrite 0.11**

[2021-10-08 10:31] #1939 closed

[2021-10-08 11:04] krishguptadev commented on #1929
Everything works fine, but when I run the upload function:

I've added a file to the function with a typeof:

[code]

I get this error:

[code]

How can I fix this? Is their a specific format required for uploading to the storage on Appwrite

[2021-10-08 11:09] emilmerle commented on #1898
I would like to work at this with python.

[2021-10-08 11:25] achromik commented on #2035
@christyjacob4 @lohanidamodar I would like to work on this issue :)

[2021-10-08 12:04] RReiso opened #2157 "📚 Documentation: Make add-translations.md beginner-friendlier"
### 💭 Description

Hello.
I suggest adding the sentence in **bold** in the 'Test the translations section' in [add-translations.md](https://github.com/appwrite/appwrite/blob/master/docs/tutorials/add-translations.md). Like so:

 ## 4. Test the translations
 First of all, we need to start a local instance of Appwrite. Thanks to Docker, this can be done using one command. **Before running the comman

[2021-10-08 12:32] rohiraanjali commented on #2109
Please review and merge to main branch.

[2021-10-08 12:51] niwla23 commented on #2062
done

[2021-10-08 13:26] ashish-patwal commented on #1891
PTAL @Meldiron [PR](https://github.com/appwrite/demos-for-functions/pull/159)

[2021-10-08 14:26] m1ga opened #2160 "🐛 Bug Report: /appwrite folder is not created when running docker command"
### 👟 Reproduction steps

Running the `get started` script **as user** on my Linux machine:
[code]
I'll end up with `Error: statfs /home/tmp/appwrite: no such file or directory`. I have to manually create the `appwrite` folder in order to run the docker image.

### 👍 Expected behavior

folder should be created automatically or it should be mentioned in the guide that it is necessary before running

[2021-10-08 14:29] Meldiron commented on #2062
@niwla23 Thanks for the PR! 🤯 Please give us some time to review it.

[2021-10-08 14:30] Meldiron commented on #2049
@emilmerle Assigned it to you! All the best 🚀

[2021-10-08 14:37] Meldiron commented on #1935
@papuruth I think CloudConvert is talking about their internal FileID, not Appwrite FileID. For that, I would guess this needs to be the flow:

1. Read a file from Appwrite Storage
2. Upload the file to CloudConvert
3. Wait for the upload to be finished and get CloudConvertFileID
4. Run the CloudConvert thumbnail function
5. Wait for the function to finish
6. Fetch the generated thumbnail from Clo

[2021-10-08 14:39] Meldiron commented on #1929
@krishguptadev If I remember correctly, we discussed this on Discord. Let me know if you need any further assistance 🙏 For anyone else, this is a snippet in Deno to upload file from disk to Appwite:

[code]

[2021-10-08 14:40] Meldiron commented on #1923
@hardiksachan Assigned it to you! All the best 🚀

Wohooo, all languages assigned 🥳 🥳 🥳

[2021-10-08 14:46] Meldiron commented on #1913
@manuelabarca Thanks for the PR! 🤯 Please give us some time to review it.

[2021-10-08 14:52] yuktea commented on #1907
Can I get this for Python, would love to try :) @lohanidamodar

[2021-10-08 16:01] mohitahlawat2001 commented on #2084
@Meldiron  assign me issue please

[2021-10-08 18:38] idivyanshbansal commented on #1698
Can I work on this issue?

[2021-10-08 18:50] papuruth commented on #1935
@Meldiron I'm getting this error when I execute the function from AppWrite Console
[code]

If I'm executing the function from CLI its fine

[2021-10-08 19:54] geryjuhasz commented on #1934
I'd like to build the PHP version of this

[2021-10-08 19:55] geryjuhasz commented on #1930
I'd like to build the PHP version of this

[2021-10-08 19:56] geryjuhasz commented on #2028
I'd like to build the PHP version of this

[2021-10-08 21:14] StarTrooper08 commented on #714
@eldadfux I would like to work on this issue

[2021-10-08 22:37] daniloff200 commented on #2074
related to https://github.com/utopia-php/ab/pull/5

[2021-10-08 22:53] daniloff200 commented on #2084
@StarTrooper08  not cool, not cool....

[2021-10-08 23:07] piopi commented on #1929
I finished the PR for PHP, https://github.com/appwrite/demos-for-functions/pull/181

[2021-10-08 23:18] m1ga opened #2164 "🐛 Bug Report: File preview is stretched when viewing on mobile"
### 👟 Reproduction steps

Upload a file and open the preview.
When you open the file preview on a small screen the image is stretched. See screenshot below.

### 👍 Expected behavior

Image shouldn't be stretched:
![Screenshot_20211009_011541](https://user-images.githubusercontent.com/4334997/136633819-01d71407-66d9-454c-8779-543b86a4c993.png)

### 👎 Actual Behavior

![Screenshot_20211009_011518](h

[2021-10-08 23:19] m1ga commented on #2164
It can be fixed by adding
`object-fit: contain` to
https://github.com/appwrite/appwrite/blob/613684aefa498c5180d659261aae734a5fc83fb0/public/styles/forms.less#L407-L415

If you want me to do it please assign me to this ticket and I'm happy to apply the patch

[2021-10-09 02:29] peterchu999 commented on #1899
Hi can i work on `Java` implementation @Meldiron ? Thanks

[2021-10-09 03:12] lohanidamodar commented on #2049
@emilmerle please link the issue in the PR description

[2021-10-09 03:13] lohanidamodar commented on #2058
@mehmettokgoz Thank you for your contribution. We will review the PRs soon 👍🏻

[2021-10-09 03:20] lohanidamodar commented on #2084
@FinnKr Assigned to you all the best 🚀

[2021-10-09 03:21] lohanidamodar commented on #2084
@StarTrooper08 to keep it fair, this is assigned to @FinnKr as first to comment to get assigned and not assigned to another similar issue.  We would love you to check out some of our other open issues and join us on [Discord](https://appwrite.io/discord) if you need help finding some.

[2021-10-09 03:22] lohanidamodar commented on #2104
@ashish4arora thank you for your contribution. We will review the PRs soon.

[2021-10-09 03:23] lohanidamodar commented on #2108
@kritika-srivastava Thank you for you contribution. We will review the PRs soon.

[2021-10-09 03:24] lohanidamodar commented on #2028
@geryjuhasz Assigned to you. All the best 🚀

[2021-10-09 03:39] DilanAnuruddha commented on #2157
Can I work on this?

[2021-10-09 03:57] lohanidamodar commented on #1934
@geryjuhasz assigned PHP to you. All the best 🚀

[2021-10-09 03:59] lohanidamodar commented on #1931
@geryjuhasz Thanks for the PR! 🤯 Please give us some time to review it.

[2021-10-09 03:59] lohanidamodar commented on #1930
@geryjuhasz Looks like you have some issues assigned to you already. We request you to complete those before requesting assignments on new ones. Also, please consider picking a different type of issue so other contributors can try this one.

[2021-10-09 04:00] lohanidamodar commented on #1929
@piopi Thanks for the PR! 🤯 Please give us some time to review it.

[2021-10-09 04:01] lohanidamodar commented on #1908
@piopi assigned PHP to you. All the best 🚀

[2021-10-09 04:02] lohanidamodar commented on #1907
@yuktea assigned python to you. All the best 🚀

[2021-10-09 04:03] lohanidamodar commented on #1897
@Emiliaaah I'm reopening the nodejs slot.

[2021-10-09 04:03] lohanidamodar commented on #1899
@yuktea Looks like you have some issues assigned to you already. We request you to complete those before requesting assignments on new ones.

[2021-10-09 04:05] lohanidamodar commented on #1769
@kalpeshT101 as you can see, we are looking for native speaker. Thank you

[2021-10-09 04:05] lohanidamodar commented on #1766
@anishsaraogi as you can see we are looking for native speakers.

[2021-10-09 04:06] lohanidamodar commented on #1752
@anishsaraogi sorry, as you can see we are looking for native speakers.

[2021-10-09 04:06] lohanidamodar commented on #1750
@anishsaraogi sorry, as you can see we are looking for native speakers.

[2021-10-09 04:06] lohanidamodar commented on #1748
@anishsaraogi sorry, as you can see we are looking for native speakers.

[2021-10-09 04:06] lohanidamodar commented on #1743
@anishsaraogi sorry, as you can see we are looking for native speakers.

[2021-10-09 04:07] lohanidamodar commented on #1742
@anishsaraogi sorry, as you can see we are looking for native speakers.

[2021-10-09 04:07] lohanidamodar commented on #1741
@anishsaraogi sorry, as you can see we are looking for native speakers.

[2021-10-09 04:07] lohanidamodar commented on #1739
@rexdivakar sorry, as you can see we are looking for native speakers.

[2021-10-09 04:07] lohanidamodar commented on #1733
@anishsaraogi sorry, as you can see we are looking for native speakers.

[2021-10-09 04:07] lohanidamodar commented on #1698
@idivyanshbansal  @anishsaraogi sorry, as you can see we are looking for native speakers.

[2021-10-09 04:07] lohanidamodar commented on #1686
@anishsaraogi sorry, as you can see we are looking for native speakers.

[2021-10-09 04:13] AnshuPathak-88825 commented on #2119
@lohanidamodar I have joined discord server but not able to find out repositories

[2021-10-09 04:15] idivyanshbansal commented on #1770
okay, @lohanidamodar sir.

[2021-10-09 04:21] papuruth commented on #1935
Should I fix the error happening in node-appwrite module? As I can clearly see that when the function is being run inside a docker container it seems it is unable to communicate with Appwrite.
[code]
When I'm trying to run my function offline using the above command I get the following error. This is the error thrown by axios which is being used by node-appwrite module.
[code]

[2021-10-09 04:24] hardiksachan commented on #1923
Hey @Meldiron I have raised a PR, please take a look

[2021-10-09 05:21] lohanidamodar commented on #1923
@hardiksachan Thanks for the PR! 🤯 Please give us some time to review it.

[2021-10-09 06:02] krishguptadev commented on #1983
Can this issue be closed @christyjacob4 @Meldiron?

[2021-10-09 06:13] heristhesiya opened #2167 "🐛 Bug Report: https://appwrite.io/docs/getting-started-for-web#nextSteps"
### 👟 Reproduction steps

https://appwrite.io/docs/getting-started-for-web#nextSteps link is not working

### 👍 Expected behavior

https://appwrite.io/docs/getting-started-for-web#nextSteps link is not working

### 👎 Actual Behavior

https://appwrite.io/docs/getting-started-for-web#nextSteps link is not working because when I click on the next steps but it reloads itself.

### 🎲 Appwrite version

[2021-10-09 06:17] MOHAMMAD-F commented on #2167
Unsubscribe

[2021-10-09 07:30] StarTrooper08 commented on #2084
Ok no issue .

[2021-10-09 08:19] zeroplusone commented on #1935
Hi, I would like to work on this issue in Java.

[2021-10-09 08:22] hardiksachan commented on #1908
Hey @Meldiron, I would like to work on the kotlin version, can you please assign it to me.

[2021-10-09 08:25] Bunny77K9 commented on #1768
I lived in Uzbekistan for two years and I think I can give it a try!

[2021-10-09 08:48] srijit2002 commented on #2068
@christyjacob4 I have opened the pull request. Can you please check it?

[2021-10-09 08:49] Bunny77K9 commented on #1743
Well, I have some kind of knowledge of the Kazakaz language. Because I have lived in Uzbekistan for two years. So, I can help with this :)

[2021-10-09 08:49] srijit2002 commented on #2117
@Meldiron I have opened a pull request . Can you please check?

[2021-10-09 09:49] Sin-Sumit commented on #1982
Hey, @Meldiron I created the PR according to the updated issue

[2021-10-09 09:52] papuruth commented on #1897
@lohanidamodar I would like to try for node

[2021-10-09 10:31] oovk commented on #2074
@lohanidamodar Please review my PR.

[2021-10-09 11:15] geisterfurz007 commented on #1915
Hola! I would like to give the Dart implementation a shot, if that's alright :)

[2021-10-09 11:21] krishguptadev commented on #2028
@lohanidamodar I've made the function: https://github.com/appwrite/demos-for-functions/pull/188

[2021-10-09 11:37] mehabhalodiya commented on #2041
Hey @Meldiron
Should I create new branch other than main/master?

[2021-10-09 12:08] TanyaKansal commented on #1901
@Meldiron what are collections in the problem statement
Please clarify
I want to work on writing a function in Python

[2021-10-09 12:10] christyjacob4 commented on #1901
@TanyaKansal  Assigned Python to you :+1:

[2021-10-09 12:11] TanyaKansal commented on #1901
Got it. Thanks

[2021-10-09 12:15] christyjacob4 commented on #1892
@adithyanandakumar  All the best :+1:

[2021-10-09 12:17] adithyanandakumar commented on #1892
@christyjacob4 thanks a lot for the assignment 😁

[2021-10-09 12:42] christyjacob4 commented on #2041
@mehabhalodiya  Sorry but this issue is not relevant since appwrite/appwrite already has a `CONTRIBUTING.md` file and hence we would not be able to merge this. We will however accept your PR for your hard work. :slightly_smiling_face:

[2021-10-09 12:43] #2041 closed, assigned to mehabhalodiya

[2021-10-09 12:47] #2088 closed

[2021-10-09 12:48] #2110 closed

[2021-10-09 12:49] mehabhalodiya commented on #2041
Hey @christyjacob4
So can you suggest other one?

[2021-10-09 12:50] christyjacob4 commented on #2041
You can checkout the issue on `demos-for-functions` @mehabhalodiya

[2021-10-09 12:50] christyjacob4 commented on #2088
Thank you so much for the contribution! The changes have been merged

[2021-10-09 14:17] peterchu999 commented on #1930
Hi, I would like to try this issue on java, hope it's okay since my other task PR is being review

[2021-10-09 15:01] sapora1 commented on #2167
![image](https://user-images.githubusercontent.com/59124772/136663311-62f3d5b6-8706-468f-88a6-fa20d983485c.png)

I think it is written below that next step is to explore the reference documents. "Next Steps" is a topic.

[2021-10-09 15:49] thet3o commented on #2006
Can you assign this issue to me?

[2021-10-09 15:59] Nehansh10 commented on #2029
Hey, i would be interested in trying to write the function in dart.

[2021-10-09 16:41] verenaroe commented on #1933
I'd like to build the PHP version.

[2021-10-09 17:49] oovk commented on #1967
@christyjacob4 I can make a PR here today. The issue is unattended since 4 days.
@mqnguyen5 you working on this?

[2021-10-09 18:18] oovk commented on #1972
@1995YogeshSharma Are you working on this? or Should I go forward with the PR?

[2021-10-09 18:20] oovk commented on #1967
@christyjacob4 I made a PR PTAL!

[2021-10-09 18:21] 1995YogeshSharma commented on #1972
HI @oovk , yup I am working on this, planning to submit PR tomorrow.

[2021-10-09 20:14] anshganatra commented on #1911
Hey! I'd like to pick up the Java Implementation for this.

[2021-10-09 20:21] mqnguyen5 commented on #1967
Hi, sorry for the late reply. Yes, I was working on but since I had a lot of assignments this week so my progress was very slow. @oovk if you already have a PR then I would gladly pass the issue to you. Thanks @christyjacob4 for the chance and sorry for being inactive and not completing it earlier.

[2021-10-09 21:52] nataliarossini commented on #1711
@lohanidamodar Hey I've submitted a PR #2128, hope it's all good, thank you! 😊

[2021-10-10 00:13] piopi commented on #1908
I finished the PR for PHP https://github.com/appwrite/demos-for-functions/pull/195

[2021-10-10 00:27] MichalMaciejKowal commented on #2143
@toir427 - as it is mentioned in the docker-compose file:
# WARNING!
# This is a development version of THE Appwrite docker-compose.yml file.
# Avoid using this file in your production environment.
# We're exposing here sensitive ports and mounting code volumes for rapid development and debugging of the server stack.

This file doesn't meant to be used in production. Just create your own docker-co

[2021-10-10 00:41] MichalMaciejKowal commented on #2130
You have provided the host for the database that cannot be resolved i.e. to the correct IP address (by the DNS).

[2021-10-10 04:41] ashish4arora commented on #1965
Can you assign it to me, if it's not currently assigned?

[2021-10-10 04:53] lohanidamodar commented on #2028
@krishguptadev Thanks for the PR! 🤯 Please give us some time to review it.

[2021-10-10 04:54] lohanidamodar commented on #2029
@Nehansh10 assigned dart to you. All the best 🚀

[2021-10-10 04:55] lohanidamodar commented on #2029
@geisterfurz007 @panuphanch Thanks for the PR! 🤯 Please give us some time to review it.

[2021-10-10 04:55] lohanidamodar commented on #2051
@HelloSeaNation Thanks for the PR! 🤯 Please give us some time to review it.

[2021-10-10 04:56] lohanidamodar commented on #2068
@srijit2002 please link this issue in the PR.

[2021-10-10 04:56] lohanidamodar commented on #2068
@oovk please make a PR only after you are assigned.

[2021-10-10 04:57] lohanidamodar commented on #2074
@oovk please submit PR only after being assigned.

[2021-10-10 04:58] lohanidamodar commented on #2084
@FinnKr Thanks for the PR! 🤯 Please give us some time to review it.

[2021-10-10 05:01] lohanidamodar commented on #2117
@srijit2002 Thanks for the PR! 🤯 Please give us some time to review it.

[2021-10-10 05:03] maliaga-pantoja commented on #1775
great tool, i am working for video tutorials in spanish 🍺

[2021-10-10 05:03] lohanidamodar commented on #2118
@Aryannath  We would love you to check out some of our other open issues and join us on [Discord](https://appwrite.io/discord) if you need help finding some.

[2021-10-10 05:05] lohanidamodar commented on #1711
@nataliarossini Thanks for the PR! 🤯 Please give us some time to review it.

[2021-10-10 05:07] lohanidamodar commented on #1898
@kinkusuma assigned to you. All the best 🚀

[2021-10-10 05:08] lohanidamodar commented on #1908
@piopi Thanks for the PR! 🤯 Please give us some time to review it.

[2021-10-10 05:11] lohanidamodar commented on #1915
@geisterfurz007 assigned to you. All the best 🚀

[2021-10-10 05:11] lohanidamodar commented on #1892
@adithyanandakumar no problem. Thank you for letting us know.

[2021-10-10 05:13] lohanidamodar commented on #1924
@Jatin6256 assigned to you. All the best 🚀

[2021-10-10 05:14] lohanidamodar commented on #1930
@peterchu999 assigned to you. All the best 🚀

[2021-10-10 05:14] hardiksachan commented on #1908
Hey @lohanidamodar, I asked for `Kotlin` but you have assigned me `Ruby`. Can you please make the correction?

[2021-10-10 05:15] lohanidamodar commented on #1933
@verenaroe Assigned to you. All the best 🚀

[2021-10-10 05:16] lohanidamodar commented on #1935
@Bunny77K9 you need to pick an open language.

[2021-10-10 05:19] lohanidamodar commented on #1965
@Algy-Jr12 Assigned to you. All the best 🚀

[2021-10-10 05:19] lohanidamodar commented on #1965
@ashish4arora  We would love you to check out some of our other open issues and join us on [Discord](https://appwrite.io/discord) if you need help finding some.

[2021-10-10 05:21] lohanidamodar commented on #1967
@oovk assigning this to you as @mqnguyen5 was ok with it. Thank you.

[2021-10-10 05:26] lohanidamodar commented on #1908
@hardiksachan sorry for the mix up, have corrected the error.

[2021-10-10 06:22] JubayerJoy commented on #2029
Hi @lohanidamodar, I want to work on the PHP implementation.
cheers.

[2021-10-10 06:24] JubayerJoy commented on #1935
Hi @lohanidamodar, want to work on Deno implementation
cheers.

[2021-10-10 06:27] JubayerJoy commented on #1933
Hi @Meldiron @lohanidamodar, want to work on Deno implementation
cheers.

[2021-10-10 06:36] JubayerJoy commented on #1930
Hi @Meldiron @lohanidamodar, want to work on PHP implementation
cheers.

[2021-10-10 06:42] JubayerJoy commented on #1931
Hi @lohanidamodar, want to work on Deno implementation
cheers.

[2021-10-10 06:44] JubayerJoy commented on #1893
Hi @Meldiron @lohanidamodar, want to work on Deno implementation
cheers.

[2021-10-10 06:46] JubayerJoy commented on #1911
Hi @Meldiron @lohanidamodar, want to work on PHP implementation
cheers.

[2021-10-10 06:49] lohanidamodar commented on #2029
@JubayerJoy assigned to you. All the best 🚀

[2021-10-10 06:50] lohanidamodar commented on #1930
@JubayerJoy  Looks like you have some issues assigned to you already. We request you to complete those before requesting assignments on new ones.

[2021-10-10 06:50] lohanidamodar commented on #1931
@JubayerJoy  Looks like you have some issues assigned to you already. We request you to complete those before requesting assignments on new ones.

[2021-10-10 06:50] lohanidamodar commented on #1934
@JubayerJoy  Looks like you have some issues assigned to you already. We request you to complete those before requesting assignments on new ones.

[2021-10-10 06:50] lohanidamodar commented on #1935
@JubayerJoy  Looks like you have some issues assigned to you already. We request you to complete those before requesting assignments on new ones.

[2021-10-10 06:51] lohanidamodar commented on #1911
@JubayerJoy  Looks like you have some issues assigned to you already. We request you to complete those before requesting assignments on new ones.

[2021-10-10 07:00] piopi commented on #1910
Can I work on the PHP one?

[2021-10-10 07:26] tarunsinghofficial commented on #2119
Can I work on this?

[2021-10-10 11:14] Ishika414 commented on #2052
@Meldiron I have created a pr for this issue in the root directory.Please have a look at it and I'll make the changes as required.

[2021-10-10 12:02] kambleaa007 commented on #2119
why this issue showing still open, wasting time man

[2021-10-10 12:40] lohanidamodar commented on #2052
@Ishika414 Thanks for the PR! 🤯 Please give us some time to review it.

[2021-10-10 12:41] lohanidamodar commented on #1910
@piopi Assigned to you. All the best 🚀

[2021-10-10 12:59] AR10X commented on #2167
Shouldn't it be mentioned as 'Learn more' instead of 'Next steps'? It sounds better, Doesn't it?

[2021-10-10 14:06] hardiksachan commented on #1908
Hey @lohanidamodar I have raised a PR. Please take a look! appwrite/demos-for-functions#199

[2021-10-10 14:14] lohanidamodar commented on #1908
@hardiksachan Thanks for the PR! 🤯 Please give us some time to review it.

[2021-10-10 15:39] riyakushwaha commented on #2040
@lohanidamodar The mentioned repository already contains  CODE_OF_CONDUCT.md file.

[2021-10-10 16:19] Rutam21 opened #2181 "📚 Documentation: Add a Contributor's Wall"
### 💭 Description

## Description

A contributor's wall is a specific section that can be added to the Readme or any other suited place as deemed appropriate by the maintainers that would show the Github profile pictures along with their names who contribute to this repository. This is a great way to keep in sync with the contributor list and would be treated as a form of recognition as well.

##

[2021-10-10 18:20] Angelfirenze01 commented on #2040
Is this issue still up for the taking?

[2021-10-10 20:55] Niladri24dutta commented on #1767
@lohanidamodar I did the translation for Norwegian . Is this still open?

[2021-10-10 21:15] Princeton21 commented on #2040
Please review and merge my pull request. #2182

[2021-10-10 22:46] piopi commented on #1910
PR ready for review, thank you!

[2021-10-10 23:25] AhmedHammad0900 opened #2183 "I get a Error " appwrite exception: server error (500) ""
I get a Error " appwrite exception: server error (500) " for a reason after I deleteSessions I can't relogin again

I am using Flutter Sdks to deleteSessions() to log out .. so what is the wright way to logout then and end the session if device getting blocked after deleting session?

[2021-10-11 05:06] lohanidamodar commented on #2040
@riyakushwaha Sorry for the misleading issue. Closing this issue!

[2021-10-11 05:06] #2040 closed

[2021-10-11 07:54] hardiksachan commented on #1935
Hey @lohanidamodar, I'm getting this error in `CloudConvert`.  Any solutions?

![image](https://user-images.githubusercontent.com/60518745/136752892-4cf4465f-36de-4638-b98e-775ff18467ad.png)

[2021-10-11 08:09] appledora commented on #2082
@Meldiron I wasn't assigned to this officially, but I have made a PR already. Would this be problematic? I am sorry I hadn't seen the assigned tag before.

[2021-10-11 08:33] christyjacob4 commented on #1965
@Algy-Jr12 Thanks for verifying it for us :+1:

[2021-10-11 08:48] appledora commented on #1676
@christyjacob4 Kindly, reassign me this, if possible.

[2021-10-11 09:11] christyjacob4 commented on #1979
Thank you so much for the contribution! The changes have been merged and will be released soon

[2021-10-11 09:30] christyjacob4 commented on #1711
Thank you so much for the contribution! The changes have been merged and will be released with **Appwrite 0.11**

[2021-10-11 09:39] christyjacob4 commented on #1729
Thank you so much for the contribution! The changes have been merged and will be released with **Appwrite 0.11**

[2021-10-11 09:52] christyjacob4 commented on #1749
Thank you so much for the contribution! The changes have been merged and will be released with **Appwrite 0.11**

[2021-10-11 10:22] appledora commented on #2082
If in case it is available, kindly let me know :smiley:

[2021-10-11 11:34] achromik commented on #2035
@Meldiron Completed the task! Do review it and let me know if any changes are needed!

FYI: The second mentioned link is a part of work from a guy who wasn't assigned to this task.

[2021-10-11 11:58] christyjacob4 commented on #1970
Thank you so much for the contribution! The changes have been merged and will be released soon

[2021-10-11 12:02] #1966 closed, assigned to divshacker

[2021-10-11 17:55] hardiksachan commented on #1922
Hey, I would like to work on this in Kotlin, can you please assign it to me.

[2021-10-11 18:18] juliancuni opened #2193 "🐛 Bug Report: Axios Client throws unhandled error"
### 👟 Reproduction steps

When I run node-appwrite from my local machine directly it not complains and runs ok. But when I upload it as a function tag inside appwrite instance, which is running in my local environment also, it throws an unhandled error.

[code]

### 👍 Expected behavior

It should throw a meaningful error. In my case, Axios Client library was complaining about my host not accepting

[2021-10-11 20:15] NeonSpork opened #2195 "🔄 Refactor suggestion: Norwegian language redundancy/translation duplication"
### 🔖 Feature description

In the translated languages there is Norwegian *bokmål* and plain Norwegian, represented by `nb.json` and `no.json` respectively. In a separate pull request currently undergoing review I have added Norwegian nynorsk (`nn.json`). The translations in "Norwegian" (`no.json`) and "Norwegian bookmål" (`nb.json`) are virtually identical, and arguably represent the same languag

[2021-10-11 20:17] NeonSpork commented on #2195
I would be more than willing to work on these changes, would appreciate being assigned this issue. :)

[2021-10-11 23:28] TafadzwaD commented on #1911
Hello @Meldiron and @lohanidamodar . I would like to work on the dart implementation

[2021-10-12 04:49] christyjacob4 commented on #2077
@yaya-usman  Check out `demos-for-functions`

[2021-10-12 04:56] lohanidamodar commented on #1911
@TafadzwaD Assigned to you. All the best 🚀

[2021-10-12 04:57] lohanidamodar commented on #1915
@gat786 what's the issue with discord (https://appwrite.io/discord) try again and let us know.

[2021-10-12 05:00] lohanidamodar commented on #1917
@indremak Assigned to you. All the best 🚀

[2021-10-12 05:07] lohanidamodar commented on #1935
@hardiksachan Thanks for the PR! 🤯 Please give us some time to review it.

[2021-10-12 05:08] lohanidamodar commented on #1676
@appledora give us some time to validate that @deepto98 is not working on this 🙏🏻

[2021-10-12 05:11] lohanidamodar commented on #1899
@TafadzwaD assigned to you. All the best 🚀

[2021-10-12 07:08] BiswajitKrPaul opened #2196 "SSL Invalid Certificate"
I have added a domain and verified it. The SSL certificate also got generated, It was working fine. But today I just restarted the Digital Ocean droplet , after that the certificate is showing issue and SSL is INVALID.

The below logs are for docker-compose logs appwrite-worker-certificates

appwrite-worker-certificates    | Appwrite certificates worker v1 has started
appwrite-worker-certificates

[2021-10-12 07:23] yaya-usman commented on #2077
@christyjacob4 Thanks

[2021-10-12 08:54] echosalik commented on #1168
I would suggest use something like SQLITE with JSON1 and Cipher APIs. It can act as a proxy, all data pull gets saved to sqlite too and any data pushed to server gets pushed to sqlite as well. That way even if network is not present or has poor performance, it can still work offline.

Now that proxy will be the determining factor to either load from sqlite or use live data.

[2021-10-12 11:53] deepto98 commented on #1676
Hi, I'll try to complete this by tomorrow, was a bit busy with work, will keep you updated

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Damodar Lohani ***@***.***>
Sent: Tuesday, October 12, 2021 10:38:57 AM
To: appwrite/appwrite ***@***.***>
Cc: Deepto ***@***.***>; Mention ***@***.***>
Subject: Re: [appwrite/appwrite] Help improve Appwrite's Bengali lan

[2021-10-12 12:34] SanjanaSogimatt commented on #1775
Can I work on it? I am a complete beginner to open source so it will be great opportunity.

[2021-10-12 13:11] kodumbeats commented on #2196
These logs don't tell me much - all I can see is that when `appwrite-worker-certificates` started, Redis wasn't ready yet, so the startup is full of stack traces.

I would recommend restarting the individual container, inspect the logs to make sure the Redis errors are gone, and retrigger the SSL creation with:
[code]

[2021-10-12 13:48] networkandcode opened #2200 "📚 Documentation: Links provided on docker hub are not working"
### 💭 Description

The following links mentioned at [DockerHub](https://hub.docker.com/r/appwrite/appwrite) throw 404

![image](https://user-images.githubusercontent.com/30622440/136967760-59044b98-bb6a-424e-9f6e-f527a3d66ea7.png)

- [Environment Variables](https://github.com/appwrite/appwrite/blob/master/docs/tutorials/environment-variables.md)
- [Tips for Production](https://github.com/appwrite/

[2021-10-12 14:40] cpswan commented on #1407
@nukeolay while we wait for Arm support in the official Dart images you can try using [atsigncompany/buildimage](https://hub.docker.com/r/atsigncompany/buildimage) which is a fork of Dart official image with support for arm64 and armv7. We use it for exactly what you're asking for - running Dart stuff in Docker on Raspberry Pis.

[2021-10-12 15:24] akram-95 opened #2201 "Add contains for filter by documentlists"
Can you please implement the filter function for filtering the documents in flutter .

[2021-10-12 17:53] piopi commented on #1897
@lohanidamodar Can I work on the PHP one?

[2021-10-12 19:00] BiswajitKrPaul opened #2203 "🐛 Bug Report: NET::ERR_CERT_AUTHORITY_INVALID"
### 👟 Reproduction steps

1. I have configured my .env file with my domain.

_APP_DOMAIN=mydomain
_APP_DOMAIN_TARGET=mydomain

2. Restarted the containers.
3. Added the custom domain, but failed to verify the custom domain.
4 I can access my appwrite console by domainaddress , but its showing a NET::ERR_CERT_AUTHORITY_INVALID error.

### 👍 Expected behavior

It should run on https with valid SSL.

[2021-10-12 19:57] gireeshp opened #2204 "📚 Documentation: Incorrect positional parameter in Flutter SDK Client - setSelfSigned method"
### 💭 Description

In the [Init your SDK](https://appwrite.io/docs/getting-started-for-flutter#initSDK) part of the documentation, there's this following code:

[code]

Here, the setSelfSigned ideally should be:
`setSelfSigned(status: true)`

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of

[2021-10-12 20:02] gireeshp commented on #2204
Opened the issue in the AppWrite Docs repo. Closing it here.
https://github.com/appwrite/docs/issues/84

[2021-10-12 20:02] #2204 closed, assigned to nobody

[2021-10-13 04:06] crossphoton commented on #1908
@papuruth I've already made an PR for Node
Waiting for review.

[2021-10-13 04:34] lohanidamodar commented on #2031
@manuelabarca assigned to you as you were the first one. Next please ask for assignment before creating a PR 🙏🏻

[2021-10-13 04:34] lohanidamodar commented on #2031
@jacobprudhomme  We would love you to check out some of our other open issues and join us on [Discord](https://appwrite.io/discord) if you need help finding some.

[2021-10-13 04:40] lohanidamodar commented on #2028
@geisterfurz007 Thanks for identifying the issue. Assigned to you. All the best 🚀

[2021-10-13 04:43] lohanidamodar commented on #1899
@stnguyen90 great questions.
1. I think we can just try to update and check if it fails
2. It's nice to have the field configurable by using environment.

[2021-10-13 06:43] inomag commented on #2031
@lohanidamodar, can you assign me the Java implementation if it is not done?

[2021-10-13 07:43] siddhantdixit commented on #2028
Can I work in Java for this issue?

[2021-10-13 07:44] siddhantdixit commented on #1899
Can I work in PHP for this issue?

[2021-10-13 07:45] siddhantdixit commented on #1897
Can I work in JAVA for this issue?

[2021-10-13 07:50] geisterfurz007 commented on #2028
@krishguptadev which PR are you referring to? Searching for "node" and "backup" separately only brought up https://github.com/appwrite/demos-for-functions/pull/146 which implements backing up the collection to storage and not a file uploaded to storage to dropbox. I might be missing something though.

[2021-10-13 12:13] Meldiron commented on #1922
@siddhantdixit Assigned it to you! All the best 🚀

[2021-10-13 12:17] Meldiron commented on #1913
@siddhantdixit looks like you have some issues assigned to you already. We request you to complete those before requesting assignments on new ones. Also, please consider picking a different type of issue so other contributors can try this one.

[2021-10-13 12:17] Meldiron commented on #1908
@siddhantdixit looks like you have some issues assigned to you already. We request you to complete those before requesting assignments on new ones. Also, please consider picking a different type of issue so other contributors can try this one.

[2021-10-13 13:01] hardiksachan commented on #1892
Hey, I would like to work on this in kotlin. Can you please assign it to me?

[2021-10-13 15:30] emilmerle commented on #1906
I would like to work at this in python.

[2021-10-13 21:08] MohsinNajmuddin commented on #1761
@Meldiron i can do this.

[2021-10-13 21:18] Princeton21 commented on #2101
I am interested in working on this kindly assign this to me.

[2021-10-14 00:46] mishmanners commented on #1774
This is really good and should be included in the Contribution guide: https://github.com/appwrite/awesome-appwrite/blob/master/CONTRIBUTING.md

I opened a PR to include this information as well as info about IP rights/ownership.

[2021-10-14 01:12] mishmanners commented on #1774
I'll also be writing articles 😄

[2021-10-14 01:35] Ian-Yy commented on #1930
Hi, can I work on the PHP implementation of this?

[2021-10-14 05:55] lohanidamodar commented on #2101
@Princeton21 please note that this is already assigned. We would love you to check out some of our other open issues [here](https://github.com/issues?q=is%3Aopen+is%3Aissue+archived%3Afalse+user%3Aappwrite+user%3Autopia-php+no%3Aassignee+label%3Ahacktoberfest) and join us on [Discord](https://appwrite.io/discord) if you need help finding some.

[2021-10-14 05:56] lohanidamodar commented on #2085
@neelshah2409 Thanks for the PR! 🤯 Please give us some time to review it.

[2021-10-14 05:56] lohanidamodar commented on #2082
@encodeArnab Thanks for the PR! 🤯 Please give us some time to review it.

[2021-10-14 05:57] lohanidamodar commented on #2031
@jacobprudhomme Assigned ruby to you. All the best 🚀

[2021-10-14 05:57] lohanidamodar commented on #2031
@inomag it's already assigned. We would love you to check out some of our other open issues [here](https://github.com/issues?q=is%3Aopen+is%3Aissue+archived%3Afalse+user%3Aappwrite+user%3Autopia-php+no%3Aassignee+label%3Ahacktoberfest) and join us on [Discord](https://appwrite.io/discord) if you need help finding some.

[2021-10-14 06:02] lohanidamodar commented on #1774
@mishmanners of course. At Appwrite we love articles, videos and tutorials. All the best 🚀

[2021-10-14 07:26] tazik561 opened #2216 "import postgis database to appwrite database"
Hello,
Is it posible to import postgis database into appwrite database?
I am trying to write geo flutter mobile application, I have a postgis database and I want import all db rows into appwrite database. Is it possible?
How can I do?

[2021-10-14 07:45] Prakhar-Agarwal-byte commented on #2030
@lohanidamodar I have created a PR for PHP. Please check it out 😀

[2021-10-14 08:23] NeonSpork commented on #2195
@christyjacob4 Should I remove the reference to the `"code" => "no"` from `languages.php` as well?

[2021-10-14 09:13] Princeton21 commented on #2113
@christyjacob4 @Meldiron Please assign this issue to me if possible.

[2021-10-14 12:27] Vidushi-Gupta commented on #1774
Hi! This looks like such a great way to encourage people to get acquainted to Appwrite. I'll definitely write a blog post and get back soon :)

[2021-10-14 13:03] KaminskiDaniell commented on #1716
Can I work on this issue?

[2021-10-14 19:35] Shwetago opened #2220 "Add support for Python 3.10!"
Python has been upgraded to Python 3.10 recently. Can you update it to support new runtime?

[2021-10-14 19:56] Princeton21 commented on #2220
I am interested in working on this issue, please assign this to me.

[2021-10-14 20:09] murattishkul commented on #1743
Hi! Native speaker here :) @lohanidamodar pls assign me to this

[2021-10-15 05:46] #2216 closed

[2021-10-15 05:47] eldadfux commented on #2220
This was already merged here: https://github.com/appwrite/php-runtimes/pull/24 and it will be available in the next Appwrite release.

[2021-10-15 05:47] #2220 closed

[2021-10-15 06:01] eldadfux commented on #2203
How did you add the custom domain in step 3?

Also, please check this steps that might help resolve or debug the issue: https://gist.github.com/eldadfux/eb3ed1c4e5f43b7f7259469dd29312c5

[2021-10-15 06:26] errorking-official commented on #2109
Please assign me the task

[2021-10-15 07:37] JohannesKlauss opened #2223 "🐛 Bug Report: Setting boolean default value to true does not persist in Admin UI"
### 👟 Reproduction steps

Create a Collection over Admin UI, add a `boolean` field and set the default Value to be `true` (activate switch toggle).
Then the JSON says the default value is set to `true`, but switch toggle is deactivated. Updating it again without touching anything will result in the default value set to be `false`.

### 👍 Expected behavior

The default value toggle switch should be

[2021-10-15 08:25] #2200 closed, assigned to nobody

[2021-10-15 08:37] #2131 closed

[2021-10-15 09:13] eldadfux commented on #2181
We had something like this in the past. The main repo has ~200 contributors which make the readme load extremely slow, and make it very long. We have create https://appwrite.io/community to include top contributors from all repos toghther.

[2021-10-15 09:13] #2181 closed

[2021-10-15 10:42] eldadfux commented on #2164
@m1ga I have assigned you, feel free to reach out if you need any help 👍

[2021-10-15 11:03] codingsamurai-10 commented on #2031
I'd like to work on this in NodeJS. Plz assign this to me.

[2021-10-15 13:35] Meldiron commented on #2109
@errorking-official We would love you to check out some of our other open issues and join us on [Discord](https://appwrite.io/discord) if you need help finding some.

[2021-10-15 13:36] Meldiron commented on #2054
@kunals131  We would love you to check out some of our other open issues and join us on [Discord](https://appwrite.io/discord) if you need help finding some.

[2021-10-15 13:38] Meldiron commented on #2030
@Prakhar-Agarwal-byte Thanks for the PR! 🤯 Please give us some time to review it.

[2021-10-15 13:44] Meldiron commented on #1901
@Mujhtech Assigned it to you! All the best 🚀

[2021-10-15 14:57] codingsamurai-10 commented on #1935
I'd like to take this up for deno. Plz assign it to me.

[2021-10-15 15:17] #2007 closed, assigned to christyjacob4

[2021-10-15 15:46] murattishkul commented on #1743
@christyjacob4

[2021-10-15 16:49] #2130 closed, assigned to nobody

[2021-10-16 00:20] JeisonSanches commented on #1914
Hi, could I implement this in Dart?

[2021-10-16 04:33] abhijeet007rocks8 commented on #2029
@lohanidamodar  I would Like to work upon this issue in Python Language.

[2021-10-16 04:43] #1588 closed

[2021-10-16 04:55] eldadfux commented on #503
Update: Ruby Playground was merged here: https://github.com/appwrite/playground-for-ruby/pull/4 - as we completed all missing playground for now, I'm finally closing this issue 🎊

Thanks to everyone who helped!

[2021-10-16 04:55] #503 closed

[2021-10-16 05:00] eldadfux commented on #1392
@Meldiron are you still facing this issue in latest versions?

[2021-10-16 05:03] #2143 closed

[2021-10-16 05:06] eldadfux commented on #2167
@AR10X We can change it to learn more if you're willing to submit a PR and change all the "getting started" tutorials to match this pattern, Otherwise, this anchor link behaves as intended.

[2021-10-16 05:23] sapora1 commented on #2167
Yeah can I do it??

[2021-10-16 05:51] AR10X commented on #2167
@eldadfux But I just realized there is a section named ```Learn more```
![image](https://user-images.githubusercontent.com/59757602/137575185-53174938-a002-4dd4-961d-88752c67c240.png)
How do I proceed? Would you want all the ```Next steps``` in the getting started tutorial to be changed to ```Learn more``` and link to the learn more section or link to just the section below the heading?
![image](h

[2021-10-16 07:01] SemwalShaurya commented on #1891
Hi! I would like to work on the Java implementation

[2021-10-16 07:38] JohannesKlauss opened #2233 "🐛 Bug Report: Audio files are returned as text/plain in view mode"
### 👟 Reproduction steps

Upload a png image file to Appwrite storage and then open the view link. The response header has the content-type `image/png`.

If you upload a mp3 file and open the view link the content-type is set to `text/plain`. This causes problems in Chrome with the new CORB policy (https://www.chromestatus.com/feature/5629709824032768). Basically the serving of the file is blocked

[2021-10-16 09:44] JaviBonilla commented on #1588
@eldadfux Yes, this is not really an important issue, since I should have used `https` in the first place.

But I'm wondering why this is happening. I think this is what's going on here.

- From a Python Appwrite function, I use `create_file` from the Appwrite Python SDK which internally uses the Python `requests` package with a `POST` request.
- Since my endpoint is `http` and `_APP_OPTIONS_FORCE

[2021-10-16 10:06] geisterfurz007 commented on #1920
Hey, I would love to implement this in Dart :)

[2021-10-16 10:13] Ian-Yy commented on #1930
@lohanidamodar I've created a PR. Please review and let me know if any changes is required. Thankss

[2021-10-16 10:46] mbos2 commented on #1905
Hey.
Is NodeJS one done yet? I didn't see any PRs yet and followups.

I would do NodeJS function if current assignee isn't actively working on it.

[2021-10-16 12:17] mbos2 commented on #1905
Alrighty.
I'd like to take over the issue, @Kokoden :)

As soon as the team reassigns it.

[2021-10-16 12:32] lucasalustiano commented on #2107
Hello, could I work on this issue?

[2021-10-16 13:35] honeykpatel commented on #2053
@lucasalustiano hey, it was already assigned to me and I made PR too! So you should try working on some other issue. :)

[2021-10-16 13:46] highonweb commented on #1929
can I implement it in dart?

[2021-10-16 13:49] highonweb commented on #1916
Can I work on Deno?

[2021-10-16 15:49] qwe123coder commented on #2111
Hey there could I work on this

[2021-10-16 20:32] #25 closed

[2021-10-16 20:58] eldadfux commented on #1774
It's just amazing to see all this great blog posts! This is such a great way to help and push the project forward! Thank you everyone, we're excited to see what other great posts you'll come up with!! ❤️

[2021-10-17 00:07] codingsamurai-10 commented on #1934
@lohanidamodar I'd like to work on this in deno. Plz assign it to me.

[2021-10-17 00:09] codingsamurai-10 commented on #1930
@lohanidamodar I'd like to implement this in deno. Plz assign it to me.

[2021-10-17 00:28] EduardoWeber commented on #1914
Hello! Could you please assign this to me in Deno? Thanks!

[2021-10-17 02:39] lokeshn011101 commented on #1931
@Meldiron @lohanidamodar I would like to work on this issue! Can I get assigned for Java?

[2021-10-17 04:28] chandrikadeb7 commented on #1676
@lohanidamodar Please reassign this issue.

[2021-10-17 05:14] lohanidamodar commented on #2107
@lucasalustiano @elysian12  this is assigned to someone else.
@Prakhar-IIT-BHU please confirm whether or not you are working on this 🙏🏻

[2021-10-17 05:15] lohanidamodar commented on #2111
@qwe123coder as you can this is assigned and already has active PR. We would love you to check out some of our other open issues [here](https://github.com/issues?q=is%3Aopen+is%3Aissue+archived%3Afalse+user%3Aappwrite+user%3Autopia-php+no%3Aassignee+label%3Ahacktoberfest) and join us on [Discord](https://appwrite.io/discord) if you need help finding some.

[2021-10-17 05:15] lohanidamodar commented on #2118
@priyanshuSharma-WebDev yes. We would love you to check out some of our other open issues [here](https://github.com/issues?q=is%3Aopen+is%3Aissue+archived%3Afalse+user%3Aappwrite+user%3Autopia-php+no%3Aassignee+label%3Ahacktoberfest) and join us on [Discord](https://appwrite.io/discord) if you need help finding some.

[2021-10-17 05:16] lohanidamodar commented on #1676
@chandrikadeb7 We would love you to check out some of our other open issues [here](https://github.com/issues?q=is%3Aopen+is%3Aissue+archived%3Afalse+user%3Aappwrite+user%3Autopia-php+no%3Aassignee+label%3Ahacktoberfest) and join us on [Discord](https://appwrite.io/discord) if you need help finding some.

[2021-10-17 05:16] lohanidamodar commented on #1676
@deepto98 please check in regarding progress 🙏🏻

[2021-10-17 05:23] lohanidamodar commented on #1914
@JeisonSanches @EduardoWeber assigned to you all the best 🚀

[2021-10-17 05:26] lohanidamodar commented on #1920
@geisterfurz007 @hardiksachan Assigned to you. All the best 🚀

[2021-10-17 05:27] lohanidamodar commented on #1891
@SemwalShaurya Assigned to you. All the best 🚀

[2021-10-17 05:28] lohanidamodar commented on #1930
@Ian-Yy Thanks for the PR! 🤯 Please give us some time to review it.

[2021-10-17 05:29] lohanidamodar commented on #1930
@lohanidamodar assigned to you. All the best 🚀

[2021-10-17 05:30] lohanidamodar commented on #1934
@codingsamurai-10  Looks like you have some issues assigned to you already. We request you to complete those before requesting assignments on new ones. Also, please consider picking a different type of issue so other contributors can try this one.

[2021-10-17 05:31] lohanidamodar commented on #2073
@sreelakshmig009 this is already assigned. We would love you to check out some of our other open issues [here](https://github.com/issues?q=is%3Aopen+is%3Aissue+archived%3Afalse+user%3Aappwrite+user%3Autopia-php+no%3Aassignee+label%3Ahacktoberfest) and join us on [Discord](https://appwrite.io/discord) if you need help finding some.

[2021-10-17 08:03] ks129 commented on #1898
Hi, can I try to solve it in Kotlin?

[2021-10-17 08:55] eldadfux commented on #1407
Very cool. Gonna watch this issue very closely. @lohanidamodar let's see when can we finally add this to the stack. 👀

[2021-10-17 10:33] #2233 closed, assigned to eldadfux

[2021-10-17 11:04] anonymousr007 commented on #1921
Why not use rust anywhere ?

[2021-10-17 12:38] mbos2 opened #2241 "📚 Documentation: Storage API for Node.js SDK - Code example contains one extra right parenthes"
### 💭 Description

In [code example](https://appwrite.io/docs/server/storage?sdk=nodejs-default#storageCreateFile) for creating a file inside storage, for Node.js SDK, there is a typo.

Code line `let promise = storage.createFile(fs.createReadStream(__dirname + '/file.png')));` contains one extra right parenthes.

Code line should be `let promise = storage.createFile(fs.createReadStream(__dirname

[2021-10-17 14:16] eldadfux commented on #2241
Fixed and waiting for release with Appwrite 0.11

[2021-10-17 14:22] achintya-7 commented on #1897
https://github.com/appwrite/demos-for-functions/pull/114

[2021-10-17 14:40] achintya-7 commented on #1897
https://github.com/appwrite/demos-for-functions/pull/114
Fixes this issue in Python

[2021-10-17 15:11] aggmoulik commented on #1389
How can I reproduces this issue, can someone help me so that I can work on the issue ?

[2021-10-17 16:50] Shweta200126 opened #2244 "🐛 Bug Report: Gravit's top-left input in browser"
### 👟 Reproduction steps

**Gravity**'s input feature isn't working as it should.

I have just pasted my API in my browser to get a better knowledge of it and this one is not working correctly.
1. Input: gravity=top-left

### 👍 Expected behavior

1. It should be top-left cropped for the image

### 👎 Actual Behavior

1. [Top-left](http://localhost/v1/storage/files/616b373973f93/preview?project=6166

[2021-10-17 17:23] chinmaym07 commented on #1924
Hey can I do the .Net one ? if available ?

[2021-10-17 20:31] pr0grammm commented on #1920
Hello I would like to try the .NET implementation for this function. Can this please be assigned to me? Thanks.

[2021-10-17 20:54] pr0grammm commented on #1911
Hello I would like to try the **.NET** implementation for this function. Can this please be assigned to me? Thanks.

[2021-10-17 21:13] oliver-pham opened #2245 "🐛 Bug Report: REST API doesn't work when code executed in Appwrite Console"
### 👟 Reproduction steps

I used the code from [Ruby playground](https://github.com/appwrite/playground-for-ruby). The code works when executed from the terminal. However, I got an error while running it in Appwrite console as a cloud function.

1. Execute the command below in `playground-for-ruby` directory:
[code]
2. Move `playground.rb` in `lib/` folder to the root folder for convenient code ex

[2021-10-18 02:22] networkandcode opened #2246 "appwrite-worker-functions container crashes"
Hi

I see this error in the appwriter-worker-functions container... How to fix please.

[code]

[2021-10-18 03:49] qwel-exe opened #2247 "📚 Documentation: Add a other issues template"
### 💭 Description

this helps when someone wants to Conway something which does not go under bug or documentation or a teacher feature

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.com/appwrite/appwrite/blob/HEAD/CODE_OF_C

[2021-10-18 04:47] eldadfux commented on #2246
What is the output for `docker-compose exec appwrite doctor`?

[2021-10-18 07:01] networkandcode commented on #2246
This the pod log
[code]

[2021-10-18 09:22] networkandcode opened #2253 "Which docker compose file is latest / stable"
Which docker compose file is correct

The one in [Appwrite repo](https://github.com/appwrite/appwrite/blob/master/docker-compose.yml)
or the one mentioned at [Appwrite website](https://appwrite.io/docs/installation#manual) https://gist.github.com/eldadfux/977869ff6bdd7312adfd4e629ee15cc5

[2021-10-18 09:46] #2253 closed, assigned to nobody

[2021-10-18 11:55] kinkusuma commented on #1897
Hi, can i create this in deno

[2021-10-18 13:21] Atharva-Shinde commented on #1907
hey @lohanidamodar I can work for java implementation

[2021-10-18 13:46] oliver-pham commented on #1891
Can I work on Ruby implementation for this issue?

[2021-10-18 14:27] #2246 closed

[2021-10-18 14:30] rnrnshn commented on #1712
Does this repo still needs help on translating to Portugal Portuguese?

[2021-10-18 14:47] TorstenDittmann commented on #2241
This got released now! Thanks a lot for your contribution @mbos2 👏🏻

[2021-10-18 14:47] #2164 closed, assigned to m1ga

[2021-10-18 14:48] TorstenDittmann commented on #1967
This got released now! Thanks a lot for your contribution @oovk 👏🏻

[2021-10-18 14:48] #1967 closed

[2021-10-18 14:48] #1955 closed

[2021-10-18 14:49] TorstenDittmann commented on #1943
This got released now! Thanks a lot for your contribution @mendoza 👏🏻

[2021-10-18 14:50] #1749 closed

[2021-10-18 14:51] TorstenDittmann commented on #1737
This got released now! Thanks a lot for your contribution @ivernus 👏🏻

[2021-10-18 14:51] #1737 closed

[2021-10-18 14:52] TorstenDittmann commented on #1729
This got released now! Thanks a lot for your contribution @aerabi 👏🏻

[2021-10-18 14:52] TorstenDittmann commented on #1727
This got released now! Thanks a lot for your contribution @HelloSeaNation 👏🏻

[2021-10-18 14:52] #1727 closed

[2021-10-18 14:53] TorstenDittmann commented on #1726
This got released now! Thanks a lot for your contribution @HelloSeaNation 👏🏻

[2021-10-18 14:53] #1726 closed

[2021-10-18 14:53] #1725 closed

[2021-10-18 14:53] #1720 closed

[2021-10-18 14:54] TorstenDittmann commented on #1714
This got released now! Thanks a lot for your contribution @daniloff200 👏🏻

[2021-10-18 14:54] TorstenDittmann commented on #1713
This got released now! Thanks a lot for your contribution @cristina-sirbu 👏🏻

[2021-10-18 14:54] #1713 closed

[2021-10-18 14:55] TorstenDittmann commented on #1710
This got released now! Thanks a lot for your contribution @achromik 👏🏻

[2021-10-18 14:55] #1708 closed

[2021-10-18 14:55] #1705 closed

[2021-10-18 14:56] TorstenDittmann commented on #1702
This got released now! Thanks a lot for your contribution @anoopmsivadas 👏🏻

[2021-10-18 14:56] TorstenDittmann commented on #1701
This got released now! Thanks a lot for your contribution @mantasio 👏🏻

[2021-10-18 14:58] TorstenDittmann commented on #1693
This got released now! Thanks a lot for your contribution @Hrdtr 👏🏻

[2021-10-18 14:58] #1690 closed

[2021-10-18 14:59] TorstenDittmann commented on #1687
This got released now! Thanks a lot for your contribution @Olyno 👏🏻

[2021-10-18 14:59] TorstenDittmann commented on #1678
This got released now! Thanks a lot for your contribution @und1n3 👏🏻

[2021-10-18 14:59] ivernus commented on #1737
Thanks @TorstenDittmann , could you also drag in #2198  also which is related?

[2021-10-18 18:54] christyjacob4 commented on #1781
@AmreshSinha  All the best :+1:

[2021-10-18 20:28] davidylee commented on #2087
Hi.. looking to contribute to similar issue..

[2021-10-19 02:03] EduardoWeber commented on #2245
Hey @oliver-pham ! _I may be wrong_ but looks like the localhost from the appwrite-function container is not the same as the appwrite's localhost. So it fails trying to connect to AppWrite's server as your log suggests:
`initialize': Failed to open TCP connection to localhost:80 (Address not available - connect(2) for "localhost" port 80) (Errno::EADDRNOTAVAIL)`

If you update the `APPWRITE_ENDPOI

[2021-10-19 04:55] christyjacob4 commented on #1715
@ChathushkaRodrigo Unfortunately we'd have to reassign this issue as there has been no communication from your end

[2021-10-19 04:57] #1715 closed

[2021-10-19 04:59] christyjacob4 commented on #1679
@Daybringer Please let us know if you're still working on this issue. Else we'll have to reassign it :slightly_smiling_face:

[2021-10-19 05:01] christyjacob4 commented on #1937
Thank you so much for the contribution! The changes have been merged and will be released with **Appwrite 0.12**

[2021-10-19 05:01] #1937 closed

[2021-10-19 05:03] #1977 closed, assigned to yashikajotwani12

[2021-10-19 05:06] #1938 closed

[2021-10-19 05:43] christyjacob4 commented on #1968
Thank you so much for the contribution! The changes have been merged and will be released with **Appwrite 0.12**

[2021-10-19 05:43] #1968 closed

[2021-10-19 06:00] christyjacob4 commented on #1969
Thank you so much for the contribution! The changes have been merged and will be released with **Appwrite 0.12**

[2021-10-19 06:05] Meldiron commented on #2105
@adithyanandakumar This issue already has active PR. We would love you to check out some of our other open issues and join us on [Discord](https://appwrite.io/discord) if you need help finding some.

[2021-10-19 06:06] Meldiron commented on #2087
@davidylee We would love you to check out some of our other open issues and join us on [Discord](https://appwrite.io/discord) if you need help finding some.

[2021-10-19 06:08] #1721 closed

[2021-10-19 06:08] Meldiron commented on #2047
@Sin-Sumit Approved 🥳

[2021-10-19 06:10] Meldiron commented on #1935
@papuruth Assigned it to you! All the best 🚀

[2021-10-19 06:11] #1976 closed, assigned to alceil

[2021-10-19 06:17] juliancuni commented on #1717
I am Albanian, I will do the job (hopefully). I am attracted by this project and planning to use appwrite in production soon.

[2021-10-19 06:17] Meldiron commented on #1918
@hardiksachan Assigned it to you! All the best 🚀

[2021-10-19 06:21] Meldiron commented on #1921
@anonymousr007 We do not have support for Rust language in Appwrite yet. Although, we plan to support bunch of new languages in our future updates 😊

[2021-10-19 06:22] Meldiron commented on #1911
@pr0grammm Assigned it to you! All the best 🚀

[2021-10-19 06:25] Meldiron commented on #1905
@hardiksachan Looks like you have some issues assigned to you already. We request you to complete those before requesting assignments on new ones. Also, please consider picking a different type of issue so other contributors can try this one.

[2021-10-19 06:26] Meldiron commented on #1905
@Atharva-Shinde Assigned it to you! All the best 🚀

[2021-10-19 06:27] Meldiron commented on #1897
@kinkusuma Assigned it to you! All the best 🚀

[2021-10-19 07:10] Meldiron commented on #1985
@1995YogeshSharma Added hacktoberfest label 😇

[2021-10-19 07:19] Meldiron commented on #2195
Added Hacktoberfest label so it counts towards Hacktoberfest contributions 😇

[2021-10-19 08:07] codingsamurai-10 commented on #1907
Plz assign this to me for deno

[2021-10-19 08:35] #1944 closed

[2021-10-19 08:35] Meldiron commented on #2006
PR has been submitted and labelled `hacktoberfest-accepted`, so we can close this issue 👏👏

[2021-10-19 08:35] #2006 closed

[2021-10-19 08:48] Meldiron commented on #1907
@codingsamurai-10 Assigned it to you! Good luck 🚀

[2021-10-19 08:59] Meldiron opened #2262 "Design a wallpaper for Appwrite 🖼"
# Introduction

Appwrite wallpaper is a community-made device background that refers to Appwrite in any way. We are thrilled about our rapidly growing community and we would love to have a library of wallpapers for anyone to enjoy.

Your task is to prepare a wallpaper about Appwrite, either for desktop or mobile devices. If you have an idea, please comment on this issue and we can confirm if the i

[2021-10-19 08:59] Meldiron opened #2263 "Design a fan art for Appwrite 🎨"
# Introduction

Appwrite Fan art is a community-made artwork that refers to Appwrite in any way. We are thrilled about our rapidly growing community and we would love to have a library of fan arts for anyone to enjoy.

Your task is to draw a fan art about Appwrite. If you have an idea, please comment on this issue and we can confirm if the idea is valid. We would highly appreciate it if you share

[2021-10-19 08:59] Meldiron opened #2264 "Design a new Appwrite Discord emoji 🖌"
# Introduction

Did you know Appwrite's discord has over 4000 members and has been one of the fastest-growing Discord server in the last weeks? 😮 We currently have over 30 custom Discord emojis and we are looking forward to extending our server emoji library.

Your task is to create a Discord emoji for the Appwrite server. If you have an idea, please comment on this issue and we can confirm if the

[2021-10-19 09:03] generalxhd opened #2265 "🐛 Bug Report: Rules still exists in existing documents"
### 👟 Reproduction steps

1. Create a rule
2. Create a document
3. Delete the rule
4. Open the document that you have created in step 2 and view the json. You can see the rule still exists in this document and you're unable to update the document

### 👍 Expected behavior

It should remove the rule with the values from the documents when a rule was deleted.

### 👎 Actual Behavior

The rule is hidde

[2021-10-19 09:39] Meldiron opened #2267 "Help developers by writing 'Appwrite + Alpine' blog post 🗞"
# Introduction

Appwrite has been and always will be a tool for developers. To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

Your task is to write a blog post `Appwrite + Alpine`. The main topic of your article should be explaining how to use Appwrite inside Alpine. It can be anywhere! We accept submissions

[2021-10-19 09:39] Meldiron opened #2268 "Help developers by writing 'Appwrite + Angular' blog post 🗞"
# Introduction

Appwrite has been and always will be a tool for developers. To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

Your task is to write a blog post `Appwrite + Angular`. The main topic of your article should be explaining how to use Appwrite inside Angular or Scully. It can be anywhere! We accept

[2021-10-19 09:39] Meldiron opened #2269 "Help developers by writing 'Appwrite + Appsmith' blog post 🗞"
# Introduction

Appwrite has been and always will be a tool for developers. To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

Your task is to write a blog post `Appwrite + Appsmith`. The main topic of your article should be explaining how to use Appwrite in connection with Appsmith. It can be anywhere! We ac

[2021-10-19 09:39] Meldiron opened #2270 "Help developers by writing 'Appwrite + CloudConvert' blog post 🗞"
# Introduction

Appwrite has been and always will be a tool for developers. To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

Your task is to write a blog post `Appwrite + CloudConvert`. The main topic of your article should be explaining how to use Appwrite in connection with CloudConvert. It can be anywher

[2021-10-19 09:39] Meldiron opened #2271 "Help developers by writing 'Appwrite + Google APIs' blog post 🗞"
# Introduction

Appwrite has been and always will be a tool for developers. To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

Your task is to write a blog post `Appwrite + Google APIs`. The main topic of your article should be explaining how to use Appwrite in connection with Google APIs. It can be anywhere!

[2021-10-19 09:39] Meldiron opened #2272 "Help developers by writing 'Appwrite + Integrately' blog post 🗞"
# Introduction

Appwrite has been and always will be a tool for developers. To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

Your task is to write a blog post `Appwrite + Integrately`. The main topic of your article should be explaining how to use Appwrite in connection with Integrately. It can be anywhere!

[2021-10-19 09:39] Meldiron opened #2273 "Help developers by writing 'Appwrite + Integromat' blog post 🗞"
# Introduction

Appwrite has been and always will be a tool for developers. To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

Your task is to write a blog post `Appwrite + Integromat`. The main topic of your article should be explaining how to use Appwrite in connection with Integromat. It can be anywhere! W

[2021-10-19 09:39] Meldiron opened #2274 "Help developers by writing 'Appwrite + JQuery' blog post 🗞"
# Introduction

Appwrite has been and always will be a tool for developers. To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

Your task is to write a blog post `Appwrite + JQuery`. The main topic of your article should be explaining how to use Appwrite inside JQuery. It can be anywhere! We accept submissions

[2021-10-19 09:39] Meldiron opened #2275 "Help developers by writing 'Appwrite + Lit' blog post 🗞"
# Introduction

Appwrite has been and always will be a tool for developers. To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

Your task is to write a blog post `Appwrite + Lit`. The main topic of your article should be explaining how to use Appwrite inside Lit. It can be anywhere! We accept submissions of ar

[2021-10-19 09:39] Meldiron opened #2276 "Help developers by writing 'Appwrite + Mithril' blog post 🗞"
# Introduction

Appwrite has been and always will be a tool for developers. To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

Your task is to write a blog post `Appwrite + Mithril`. The main topic of your article should be explaining how to use Appwrite inside Mithril. It can be anywhere! We accept submissio

[2021-10-19 09:39] Meldiron opened #2277 "Help developers by writing 'Appwrite + N8N' blog post 🗞"
# Introduction

Appwrite has been and always will be a tool for developers. To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

Your task is to write a blog post `Appwrite + N8N`. The main topic of your article should be explaining how to use Appwrite in connection with N8N. It can be anywhere! We accept submi

[2021-10-19 09:39] Meldiron opened #2278 "Help developers by writing 'Appwrite + NestJS' blog post 🗞"
# Introduction

Appwrite has been and always will be a tool for developers. To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

Your task is to write a blog post `Appwrite + NestJS`. The main topic of your article should be explaining how to use Appwrite inside NestJS. It can be anywhere! We accept submissions

[2021-10-19 09:40] Meldiron opened #2279 "Help developers by writing 'Appwrite + React Native' blog post 🗞"
# Introduction

Appwrite has been and always will be a tool for developers. To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

Your task is to write a blog post `Appwrite + React Native`. The main topic of your article should be explaining how to use Appwrite inside React Native. It can be anywhere! We accept

[2021-10-19 09:40] Meldiron opened #2280 "Help developers by writing 'Appwrite + React' blog post 🗞"
# Introduction

Appwrite has been and always will be a tool for developers. To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

Your task is to write a blog post `Appwrite + React`. The main topic of your article should be explaining how to use Appwrite inside React or NextJS. It can be anywhere! We accept sub

[2021-10-19 09:40] Meldiron opened #2281 "Help developers by writing 'Appwrite + Sendgrid' blog post 🗞"
# Introduction

Appwrite has been and always will be a tool for developers. To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

Your task is to write a blog post `Appwrite + Sendgrid`. The main topic of your article should be explaining how to use Appwrite in connection with Sendgrid. It can be anywhere! We ac

[2021-10-19 09:40] Meldiron opened #2282 "Help developers by writing 'Appwrite + Siri Shortcuts' blog post 🗞"
# Introduction

Appwrite has been and always will be a tool for developers. To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

Your task is to write a blog post `Appwrite + Siri Shortcuts`. The main topic of your article should be explaining how to use Appwrite in connection with Siri Shortcuts. It can be any

[2021-10-19 09:40] Meldiron opened #2283 "Help developers by writing 'Appwrite + Solid' blog post 🗞"
# Introduction

Appwrite has been and always will be a tool for developers. To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

Your task is to write a blog post `Appwrite + Solid`. The main topic of your article should be explaining how to use Appwrite inside Solid. It can be anywhere! We accept submissions o

[2021-10-19 09:40] Meldiron opened #2284 "Help developers by writing 'Appwrite + Svelte' blog post 🗞"
# Introduction

Appwrite has been and always will be a tool for developers. To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

Your task is to write a blog post `Appwrite + Svelte`. The main topic of your article should be explaining how to use Appwrite inside Svelte or SvelteKit. It can be anywhere! We accep

[2021-10-19 09:40] Meldiron opened #2285 "Help developers by writing 'Appwrite + Vue' blog post 🗞"
# Introduction

Appwrite has been and always will be a tool for developers. To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

Your task is to write a blog post `Appwrite + Vue`. The main topic of your article should be explaining how to use Appwrite inside Vue or NuxtJS. It can be anywhere! We accept submiss

[2021-10-19 09:40] Meldiron opened #2286 "Help developers by writing 'Appwrite + Stencil' blog post 🗞"
# Introduction

Appwrite has been and always will be a tool for developers. To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

Your task is to write a blog post `Appwrite + Stencil`. The main topic of your article should be explaining how to use Appwrite inside Stencil. It can be anywhere! We accept submissio

[2021-10-19 09:46] Meldiron opened #2287 "Help developers by writing 'Appwrite + Zapier' blog post 🗞"
# Introduction

Appwrite has been and always will be a tool for developers. To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

Your task is to write a blog post `Appwrite + Zapier`. The main topic of your article should be explaining how to use Appwrite in connection with Zapier. It can be anywhere! We accept

[2021-10-19 09:46] Meldiron opened #2288 "Help developers by writing 'Appwrite for Android' blog post 🗞"
# Introduction

Appwrite has been and always will be a tool for developers. To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

Your task is to write a blog post `Appwrite for Android`. The main topic of your article should be explaining how to use Appwrite&#x27;s Android SDK to build mobile applications. It c

[2021-10-19 09:46] Meldiron opened #2289 "Help developers by writing 'Appwrite for Apple' blog post 🗞"
# Introduction

Appwrite has been and always will be a tool for developers. To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

Your task is to write a blog post `Appwrite for Apple`. The main topic of your article should be explaining how to use Appwrite&#x27;s Apple SDK to build applications for Apple device

[2021-10-19 09:46] Meldiron opened #2290 "Help developers by writing 'Appwrite for Flutter' blog post 🗞"
# Introduction

Appwrite has been and always will be a tool for developers. To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

Your task is to write a blog post `Appwrite for Flutter`. The main topic of your article should be explaining how to use Appwrite&#x27;s Flutter SDK to build native applications. It c

[2021-10-19 09:46] Meldiron opened #2291 "Help developers by writing 'Appwrite for Web' blog post 🗞"
# Introduction

Appwrite has been and always will be a tool for developers. To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

Your task is to write a blog post `Appwrite for Web`. The main topic of your article should be explaining how to use Appwrite&#x27;s Web SDK to build web applications. It can be anywh

[2021-10-19 09:46] Meldiron opened #2292 "Help developers by writing 'Appwrite Realtime' blog post 🗞"
# Introduction

Appwrite has been and always will be a tool for developers. To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

Your task is to write a blog post `Appwrite Realtime`. The main topic of your article should be explaining how to use Appwrite&#x27;s realtime service. Please pick one language for al

[2021-10-19 09:46] Meldiron opened #2293 "Help developers by writing 'Appwrites Account service' blog post 🗞"
# Introduction

Appwrite has been and always will be a tool for developers. To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

Your task is to write a blog post `Appwrites Account service`. The main topic of your article should be explaining how to use Appwrites account service. Please pick one language for a

[2021-10-19 09:46] Meldiron opened #2294 "Help developers by writing 'Appwrites Avatars service' blog post 🗞"
# Introduction

Appwrite has been and always will be a tool for developers. To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

Your task is to write a blog post `Appwrites Avatars service`. The main topic of your article should be explaining how to use Appwrites avatars service. Please pick one language for a

[2021-10-19 09:46] Meldiron opened #2295 "Help developers by writing 'Appwrites Database service' blog post 🗞"
# Introduction

Appwrite has been and always will be a tool for developers. To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

Your task is to write a blog post `Appwrites Database service`. The main topic of your article should be explaining how to use Appwrites database service. Please pick one language for

[2021-10-19 09:46] Meldiron opened #2296 "Help developers by writing 'Appwrites Functions service' blog post 🗞"
# Introduction

Appwrite has been and always will be a tool for developers. To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

Your task is to write a blog post `Appwrites Functions service`. The main topic of your article should be explaining how to use Appwrites functions service. Please pick one language f

[2021-10-19 09:46] Meldiron opened #2297 "Help developers by writing 'Appwrites Health service' blog post 🗞"
# Introduction

Appwrite has been and always will be a tool for developers. To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

Your task is to write a blog post `Appwrites Health service`. The main topic of your article should be explaining how to use Appwrites health service. Please pick one language for all

[2021-10-19 09:46] Meldiron opened #2298 "Help developers by writing 'Appwrites Localization service' blog post 🗞"
# Introduction

Appwrite has been and always will be a tool for developers. To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

Your task is to write a blog post `Appwrites Localization service`. The main topic of your article should be explaining how to use Appwrites localization service. Please pick one lang

[2021-10-19 09:46] Meldiron opened #2299 "Help developers by writing 'Appwrites Storage service' blog post 🗞"
# Introduction

Appwrite has been and always will be a tool for developers. To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

Your task is to write a blog post `Appwrites Storage service`. The main topic of your article should be explaining how to use Appwrites storage service. Please pick one language for a

[2021-10-19 09:46] Meldiron opened #2300 "Help developers by writing 'Appwrites Teams service' blog post 🗞"
# Introduction

Appwrite has been and always will be a tool for developers. To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

Your task is to write a blog post `Appwrites Teams service`. The main topic of your article should be explaining how to use Appwrites teams service. Please pick one language for all c

[2021-10-19 09:46] Meldiron opened #2301 "Help developers by writing 'Appwrites Users service' blog post 🗞"
# Introduction

Appwrite has been and always will be a tool for developers. To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

Your task is to write a blog post `Appwrites Users service`. The main topic of your article should be explaining how to use Appwrites users service. Please pick one language for all c

[2021-10-19 09:46] Meldiron opened #2302 "Help developers by writing 'Dart in Appwrite' blog post 🗞"
# Introduction

Appwrite has been and always will be a tool for developers. To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

Your task is to write a blog post `Dart in Appwrite`. The main topic of your article should be explaining how to use Appwrites Dart SDK to write Appwrite Functions. It can be anywhere

[2021-10-19 09:46] Meldiron opened #2303 "Help developers by writing 'Deno in Appwrite' blog post 🗞"
# Introduction

Appwrite has been and always will be a tool for developers. To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

Your task is to write a blog post `Deno in Appwrite`. The main topic of your article should be explaining how to use Appwrites Deno SDK to write Appwrite Functions. It can be anywhere

[2021-10-19 09:46] Meldiron opened #2304 "Help developers by writing 'Kotlin in Appwrite' blog post 🗞"
# Introduction

Appwrite has been and always will be a tool for developers. To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

Your task is to write a blog post `Kotlin in Appwrite`. The main topic of your article should be explaining how to use Appwrites Kotlin SDK to write Appwrite Functions. It can be anyw

[2021-10-19 09:46] Meldiron opened #2305 "Help developers by writing 'Node.JS in Appwrite' blog post 🗞"
# Introduction

Appwrite has been and always will be a tool for developers. To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

Your task is to write a blog post `Node.JS in Appwrite`. The main topic of your article should be explaining how to use Appwrites Node.JS SDK to write Appwrite Functions. It can be an

[2021-10-19 09:46] Meldiron opened #2306 "Help developers by writing 'PHP in Appwrite' blog post 🗞"
# Introduction

Appwrite has been and always will be a tool for developers. To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

Your task is to write a blog post `PHP in Appwrite`. The main topic of your article should be explaining how to use Appwrites PHP SDK to write Appwrite Functions. It can be anywhere!

[2021-10-19 09:46] Meldiron opened #2307 "Help developers by writing 'Python in Appwrite' blog post 🗞"
# Introduction

Appwrite has been and always will be a tool for developers. To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

Your task is to write a blog post `Python in Appwrite`. The main topic of your article should be explaining how to use Appwrites Python SDK to write Appwrite Functions. It can be anyw

[2021-10-19 09:46] Meldiron opened #2308 "Help developers by writing 'Ruby in Appwrite' blog post 🗞"
# Introduction

Appwrite has been and always will be a tool for developers. To emphasize this, we want to create **the best** developer experience possible by providing enough guides and examples for new Appwriters.

Your task is to write a blog post `Ruby in Appwrite`. The main topic of your article should be explaining how to use Appwrites Ruby SDK to write Appwrite Functions. It can be anywhere

[2021-10-19 09:54] NeonSpork commented on #2262
The maintainers said in the discord that you can do this without being assigned! It's open to everyone, so have at it 🥳

[2021-10-19 13:24] emilmerle commented on #2307
Hey there. Is it also possible to post directly to Reddit for example?
If it is I would like to do it :)

[2021-10-19 13:43] Lakshay-Pruthi commented on #2263
@Meldiron do check out #163 https://github.com/appwrite/awesome-appwrite/pull/163

[2021-10-20 01:15] EduardoWeber commented on #1890
Hello! Can I work on this for Deno?

Also shouldn't this function be `backupToS3` instead of `backtoToS3`? In the title and Introduction of the issue.

[2021-10-20 05:31] AsianCat54x commented on #2301
I would like to work on this issue

[2021-10-20 08:55] Meldiron commented on #2296
@hardiksachan Assigned it to you! All the best 🚀

[2021-10-20 08:55] Meldiron commented on #2295
@mbos2 Assigned it to you! All the best 🚀

[2021-10-20 08:55] Meldiron commented on #2294
@ashish4arora Assigned it to you! All the best 🚀

[2021-10-20 08:59] Meldiron commented on #2307
@emilmerle Assigned it to you! All the best 🚀

We would prefer some blogging platform - for example Dev.To. Its really easy to create account and write articles in, please give it a shot 😊

[2021-10-20 09:01] Meldiron commented on #2264
@ps-19 Anyone can work on this issue without assignment, go ahead 😊

[2021-10-20 09:05] Meldiron commented on #1905
@abnegate Unassigned

[2021-10-20 10:11] Shylajhaa commented on #1890
@Meldiron Can you assign Java and Kotlin to me?

[2021-10-20 12:33] inomag opened #2314 "📚 Documentation: Page not formatted correctly (Android Docs)"
### 💭 Description

The [Getting Started for Android](https://appwrite.io/docs/getting-started-for-android) documentation is not formatted correctly.
![screencapture-appwrite-io-docs-getting-started-for-android-2021-10-20-17_29_53](https://user-images.githubusercontent.com/66073063/138089426-3595abc4-5580-43c6-b154-fb990b53c001.jpg)

Tried the page on a different device. The same issue occurred.
![

[2021-10-20 14:44] AsianCat54x commented on #2301
@Meldiron, I want to make a request. I want to work on this issue (as I have already started). So I want you to unassign me from that issue and assign this issue to me.

[2021-10-20 15:05] Lakshay-Pruthi commented on #2262
@Meldiron Hey did you forgot mine https://github.com/appwrite/awesome-appwrite/pull/167

[2021-10-20 15:37] Yashp1210 commented on #2306
I would like to work on this issue :) Can you assign me?

[2021-10-20 16:00] Rutam21 commented on #1782
I will unassign this issue from my end as I have already completed 4 PRs so that other contributors get a chance to complete their goals.
@achintya-7 Feel free to ask about this issue if you're still looking for some.

CC: @Meldiron

[2021-10-20 17:09] tusharjha44 commented on #1782
I would love to work on this issue. Please assign this to me

[2021-10-20 17:09] hardiksachan commented on #2314
I can take a look. Plz assign this to me

[2021-10-20 18:49] ashish4arora commented on #2294
@Meldiron Please review the post whenever you are free

[2021-10-20 21:25] jyshdewangan commented on #2285
Hey @Meldiron , can you please assign this to me?

[2021-10-20 21:27] sohilkhanduja commented on #2307
Hey I would like to work on this issue.

[2021-10-20 21:30] sohilkhanduja commented on #2299
I would like to work on this issue. @Meldiron

[2021-10-21 01:49] sakshamgurbhele commented on #1973
If @harshita214 isn't working, let me know I am interested

[2021-10-21 06:28] Goheljay commented on #2288
@Meldiron can I work on this issue? can you assign me?

[2021-10-21 08:09] Biki-das opened #2320 "Object.prototype should not be used directly"
### 👟 Reproduction steps

going through the code base, i happen to find the object.prototype method being called from the target object which is something i feel can cause bug in future.

### 👍 Expected behavior

 moment = moment && Object.prototype.hasOwnProperty.call(moment, 'default') ? moment['default'] : moment;

### 👎 Actual Behavior

    moment = moment && moment.hasOwnProperty('default') ?

[2021-10-21 08:42] FinnKr commented on #2305
I have created a PR to the awesome-appwrite Repository [here](https://github.com/appwrite/awesome-appwrite/pull/197).

[2021-10-21 11:04] Meldiron commented on #2307
@RobiMez @sohilkhanduja Assigned you both, let's create 2 articles 😎 Good luck 🤘

[2021-10-21 11:36] NeonSpork opened #2321 "🐛 Bug Report: Total count of documents in collection does not update when document created from web SDK"
### 👟 Reproduction steps

When using the Web SDK a frontend application create a document in a collection by using the method as outlined in the [documentation](https://appwrite.io/docs/client/database?sdk=web-default#databaseCreateDocument):
[code]
Wherein the `{}` is shorthand for the object one wishes to create, which am assuming the user is structuring correctly as per the rules they created i

[2021-10-21 11:56] davedawkins opened #2322 "How to restart AppWrite?"
I've edited `/root/.env` and so need to restart AppWrite. `docker ps` shows many containers; do I just need to restart the main one (`AppWrite`), or all of them? Is there a one-liner for a restart?

Sorry to ask via the Issue trcker, but I've searched docs, issues and google

Thank you

[2021-10-21 12:21] iamdineshkumar opened #2323 "🐛 Bug Report: Storing Object generated multiple $id & null $collectionfor each level of object tree"
### 👟 Reproduction steps

When I created a rule of a field with wildcard as type to hold an object. it generated $id,$collection as null & $permission as empty array for each level of object values. This also have impact during upgrading of appwrite when $collection is null.

For an example
If I store following object in a field

`{
    "isReadable": true,
    "appleStock": {
        "price": 10,

[2021-10-21 18:25] Meldiron commented on #1893
@PexWork Assigned it to you! All the best 🚀

[2021-10-21 18:57] hardiksachan commented on #2322
I use `docker-compose up -d`. You can read more about it in the [docs](https://appwrite.io/docs/environment-variables)

[2021-10-21 19:25] aishurohatgi commented on #2262
Hello, I have made a wallpaper for Appwrite. Please do check it out.
Link: [awesome-appwrite/pull/212](https://github.com/appwrite/awesome-appwrite/pull/212)

[2021-10-21 22:04] davedawkins commented on #2322
Thank you. A bit embarrassed I didn't see that.

[2021-10-21 22:04] #2322 closed

[2021-10-22 00:07] davedawkins commented on #1084
Would the resolution of this issue allow me to use certificates I already have installed on my server? I've installed AppWrite on `abc.dev`, and assigned it ports 8585 (http) & 8543 (https). (On this server, AppWrite cannot have port 80 unless I route "/v1/..."). Because it's ".dev", the self-signed certificate isn't accepted by the browser.  I was wondering if I could copy the certificates used b

[2021-10-22 03:49] Jmagil commented on #2308
Yes by all means

[2021-10-22 04:25] GunjanDhanuka commented on #1900
Can I work on this in Dart?

[2021-10-22 11:26] nik132-eng opened #2333 "📚 Documentation: remove grammer mistakes"
### 💭 Description

saw many grammar mistakes in the
 appwrite/docs/tutorials/(files)

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.com/appwrite/appwrite/blob/HEAD/CODE_OF_CONDUCT.md)

[2021-10-22 12:15] ardevd opened #2334 "Database connection issue after upgrading from 0.8 to 0.9"
### 👟 Reproduction steps

- Upgrade from 0.8.0 to 0.9.4
- Run migration
- Attempt to login to the web interface or retrieve documents through the API.

Logins fail. API requests get a `"message":"Missing or unknown project ID","code":400,"version":"0.9.4"}` in return.

I can't seen any errors in any of the docker container logs except for some minor output from the appwrite container and the data

[2021-10-23 00:18] fernandakawasaki commented on #1735
Hey! I was looking at the json file and realized that the country and continent names were not translated. May I take it?

[2021-10-23 10:14] saibotma opened #2345 "🐛 Bug Report: Migrations are very slow"
### 👟 Reproduction steps

My appwrite project has around 53000 users.
The migration from 0.7 to 0.8 took more than an hour. The system was not available during this time and my users could not log in to the app.

### 👍 Expected behavior

Migrations only taskes seconds. Users can use appwrite during the migration.

### 👎 Actual Behavior

Migration takes an hour.

### 🎲 Appwrite version

Version 0.8

[2021-10-23 17:43] Biki-das opened #2347 "🐛 Bug Report: Reversed expression used"
### 👟 Reproduction steps

looking over the code found out some pieces of code where expressions are reversed from the typical order we follow

### 👍 Expected behavior

it should be something like this
`if (router.getCurrent().path === "/console") {`
`   if (response.status >= 400) {`

### 👎 Actual Behavior

while it is currently like this
` if ("/console" === router.getCurrent().path) {`
`

[2021-10-24 06:26] saibotma opened #2349 "📚 Documentation: Have to execute migrations between minor version releases (0.9.0 → 0.9.4)?"
### 💭 Description

Hey there, the documentation is not clear about whether I must run migrations between minor version jumps like 0.9.0 → 0.9.4.
Additionally, it remains unclear if I am allowed to jump from 0.9.0 to 0.9.4 directly or have to upgrade from 0.9.0 → 0.9.1 → 0.9.2 → 0.9.3 → 0.9.4.

This is especially important to know as migrations take very long on big datasets as shown in #2345 and s

[2021-10-24 20:23] s3ppo opened #2351 "🐛 Bug Report: Filter collections with boolean value"
### 👟 Reproduction steps

i tried to filter a boolean value:
[code]
i think appwrite interpretes it as a string.. but due to collection rule it could know that it is a boolean and could handle it :)

### 👍 Expected behavior

all documents from collection with status = true should be returned

### 👎 Actual Behavior

0 documents are returned

### 🎲 Appwrite version

Different version (specify in env

[2021-10-25 09:02] Silfalion opened #2353 "🐛 Bug Report: cloud functions with Dart 2.14 runtime not working"
### 👟 Reproduction steps

- Create a small functions that prints hello world in dart.
- push it to the function worker
- execute the function

### 👍 Expected behavior

Prints hello world

### 👎 Actual Behavior

empty stdout and stderr

### 🎲 Appwrite version

Different version (specify in environment)

### 💻 Operating system

Linux

### 🧱 Your Environment

uses 0.11 version

### 👀 Have you spent s

[2021-10-25 09:08] #2101 closed, assigned to Princeton21

[2021-10-25 09:20] #2066 closed, assigned to AnkushSinghGandhi

[2021-10-25 09:43] #2095 closed, assigned to MrJmpl3

[2021-10-25 09:44] #2116 closed, assigned to PrerakMathur20

[2021-10-25 09:46] #2094 closed, assigned to HVbajoria

[2021-10-25 09:53] #2068 closed, assigned to srijit2002

[2021-10-25 10:20] #2334 closed, assigned to TorstenDittmann

[2021-10-25 10:21] #2073 closed, assigned to Kraizan

[2021-10-25 10:26] #2084 closed, assigned to FinnKr

[2021-10-25 10:26] #2109 closed, assigned to rohiraanjali

[2021-10-25 10:28] #2036 closed, assigned to Hard-Coder05

[2021-10-25 10:30] #2077 closed, assigned to vendz

[2021-10-25 10:38] #2076 closed, assigned to ArmanChand

[2021-10-25 10:40] #2100 closed, assigned to shiningflutes

[2021-10-25 10:43] #2035 closed, assigned to achromik

[2021-10-25 10:44] #2034 closed, assigned to inomag

[2021-10-25 10:46] #2099 closed, assigned to harshita214

[2021-10-25 10:49] #2072 closed, assigned to theBeginner86

[2021-10-25 10:52] #2115 closed, assigned to chefk5

[2021-10-25 10:53] #2090 closed, assigned to ankurg132

[2021-10-26 03:02] #2093 closed, assigned to Goheljay

[2021-10-26 03:03] #2118 closed, assigned to prakharagarwal-dev

[2021-10-26 03:18] #2105 closed, assigned to kxrtiswithak

[2021-10-26 03:19] #2062 closed, assigned to wireva

[2021-10-26 03:21] #2112 closed, assigned to HVbajoria

[2021-10-26 03:24] #2083 closed, assigned to sidpro-hash

[2021-10-26 03:27] #2069 closed, assigned to anshganatra

[2021-10-26 03:31] #2063 closed, assigned to AlgyJr

[2021-10-26 03:33] #2106 closed, assigned to Sin-Sumit

[2021-10-26 03:33] #2081 closed, assigned to Ananthavijay

[2021-10-26 03:38] #2096 closed, assigned to abhijeetgupto

[2021-10-26 03:40] #2114 closed, assigned to kkhitesh

[2021-10-26 03:44] #2037 closed, assigned to kibi11

[2021-10-26 03:44] #2064 closed, assigned to NeonSpork

[2021-10-26 03:47] #2089 closed, assigned to sapora1

[2021-10-26 03:50] #2104 closed, assigned to ashish4arora

[2021-10-26 03:52] #2085 closed, assigned to neelshah2409

[2021-10-26 03:54] #2067 closed, assigned to jakubhi

[2021-10-26 03:55] #2065 closed, assigned to Rutam21

[2021-10-26 03:58] #2074 closed, assigned to daniloff200

[2021-10-26 04:07] #2082 closed, assigned to encodeArnab

[2021-10-26 04:08] #2071 closed, assigned to iamjithinjohn

[2021-10-26 13:23] #2051 closed, assigned to HelloSeaNation

[2021-10-27 04:36] #2347 closed, assigned to nobody

[2021-10-27 04:40] #2333 closed, assigned to nobody

[2021-10-27 04:43] #2320 closed, assigned to nobody

[2021-10-27 04:45] #2314 closed, assigned to nobody

[2021-10-27 07:02] Jassi10000 opened #2357 "🚀 Feature: Add an new github action"
### 🔖 Feature description

I want to add a github action to welcome first time contributors on issues and PRs made first time by them

### 🎤 Pitch

Appwrite is an awesome and an engaging repository , plus due to hacktoberfest'21 many open source enthusiasts ( preferably students  who are first time contributors ) open issues and PRs which eventually help repo to grow
I think there should be a gith

[2021-10-27 10:28] Exadra37 opened #2358 "🚀 Feature: Support for Middleware/Plugins"
### 🔖 Feature description

Whatever the name convention we may want to use, Middleware or Plugins, the goal is to have some way for the developer to be able to hook into the request and response life cycles of Appwrite in order to be able to add further functionality without the need for it to be implemented by Appwrite core-team itself.

Middleware support would allow us to run custom code on eac

[2021-10-27 12:48] rdmchr opened #2359 "📚 Documentation: The teams documentation is riddled with errors"
### 💭 Description

The Teams documentation (https://appwrite.io/docs/client/teams) contains a lot of errors. Here are some examples:

https://appwrite.io/docs/client/teams#teamsCreateMembership:

https://appwrite.io/docs/client/teams#teamsGetMemberships:

https://appwrite.io/docs/client/teams#teamsDelete:

I think there are some more, but I think those examples are enough to show, that the Teams d

[2021-10-28 10:46] lyqht opened #2363 "🚀 Feature: Include database settings available in "Update Rule" for "Add rule""
### 🔖 Feature description

In an already created Rule, we see the options to make the rule "required" or an "array", and also insert a default value.

![image](https://user-images.githubusercontent.com/35736525/139070871-41cd415f-7f92-43de-9c54-ebc7c78cfe60.png)

However, when we create a property, we don't see these options

![image](https://user-images.githubusercontent.com/35736525/139240578-f6

[2021-10-28 22:32] dro-1 opened #2365 "🐛 Bug Report: OAuth2 does not add port number to redirect uri"
### 👟 Reproduction steps

When I started my appwrite server, I set it to run on port 3000 for http and left all other values as their defaults.
I added Google OAuth by following all the required steps:
- I created the Client ID and set its redirect URI as http://localhost:3000/v1/account/sessions/oauth2/callback/google/[PROJECT_ID]
- I also added the App ID and App Secret to Appwrite
- I was build

[2021-10-29 10:12] #2055 closed, assigned to lmas3009

[2021-10-29 10:15] #2047 closed, assigned to Sin-Sumit

[2021-10-29 20:41] mbos2 commented on #2295
Hello again.
I submitted PR for this
https://github.com/appwrite/awesome-appwrite/pull/336

[2021-10-29 20:53] eldadfux commented on #2365
I have assigned you to this issue, let me know if you need any help.

[2021-10-29 20:56] dro-1 commented on #2365
I already opened a PR on it but couldn't write the proper tests as I'm a PHP noob.
Check the PR #2368

[2021-10-30 06:58] VanshajPoonia opened #2371 "🚀 Feature: Please add a Scroll Indicator Progress Bar. It looks quite attractive 😄"
### 🔖 Feature description

It is like a bar that fills as the user scrolls down the website. It looks quite attractive.

### 🎤 Pitch

This feature has a lot of uses. The first one is that the user knows how big is the website and other things is that it looks quite attractive.

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar is

[2021-10-30 13:00] TafadzwaD commented on #2353
@Silfalion under the function's setting there is a `Timeout` field. Dart is quite slow when it comes to cloud functions so you can increase the timeout to prevent the function from being terminated before completion, the default is 15 seconds and the maximum is 900 seconds
<img width="1218" alt="gitboy" src="https://user-images.githubusercontent.com/28431370/139533747-21354dfb-6e7f-4e88-8fad-731a8

[2021-10-30 13:05] TafadzwaD commented on #2302
@timothy22000 and @sambhavsaxena for this task you do not have to be assigned to it for you to work on it. You just need to write your blog post and then submit a PR to [appwrite/awesome-appwrite](https://github.com/appwrite/awesome-appwrite) then voila!😃.. Happy AppWriting

[2021-10-30 13:13] ekol-tech commented on #2302
🙌

Ekrem Yılmaz
iPhone’umdan gönderildi

[2021-10-30 13:27] ralienpp opened #2372 "🚀 Feature: Prevent email address harvesting"
### 🔖 Feature description

Appwrite should be more _discrete_ during the password recovery workflow. Currently, it says "password recovery failed" (or that it was successful) making it possible to harvest email addresses.

![image](https://user-images.githubusercontent.com/295338/139534577-fedcc132-b394-472c-82ee-8db2ecbfa831.png)

Though one could argue it is not a major security issue, it is oft

[2021-10-30 17:02] Silfalion commented on #2353
@TafadzwaD already increased it to the limit of 900. What did the trick temporarily for now is to add prints to the functions with a future return type. It seems like that the code really awaits until it completes.

[2021-10-30 19:22] Shrey-Nahar commented on #1719
Since there was no response from long time. I decided to work on the issue.
please review the code.
@christyjacob4 @lohanidamodar

[2021-10-30 20:02] drishtipeshwani commented on #2271
Can I work on this issue ?

[2021-10-30 20:53] rafaeelaudibert commented on #1908
Hey guys! May I work on Ruby for this one?

[2021-10-30 21:15] rafaeelaudibert commented on #1899
Hey, may I tackle Ruby's function?

[2021-10-30 21:33] rafaeelaudibert commented on #1915
May I also tackle this in Ruby? :)

[2021-10-31 09:11] #2295 closed

[2021-10-31 17:45] timothy22000 commented on #2302
@TafadzwaD I have written my blogpost at [dev.to](https://dev.to/timothy22000/appwrite-with-dart-3knc) and I have made a reddit [post](https://www.reddit.com/r/programming/comments/qju9kk/using_dart_with_appwrite_which_provides_a_secure/) on it.

I had a lot of fun playing around with Appwrite to get content while working on the blogpost :) Let me know if there are any changes that you would like

[2021-10-31 18:04] TafadzwaD commented on #2302
@timothy22000 I am not part of the AppWrite team I was just telling you from my understanding.. The team will review your PR 🤞

[2021-10-31 18:32] geryjuhasz commented on #2028
done https://github.com/appwrite/demos-for-functions/pull/301

[2021-10-31 19:15] timothy22000 commented on #2302
@TafadzwaD Ah thanks. I appreciate it - hope you are having a great weekend and enjoying Hacktoberfest.

[2021-10-31 19:41] TafadzwaD commented on #2302
@timothy22000 You are most welcome😃. Thank you. I hope you are having a blast too

[2021-10-31 20:16] bartoszgolebiowski opened #2377 "Sync appwrite conifguration with git"
It is a fantastic tool, I enjoy it very much, but I am missing one small thing.
How about storing the configuration of appwrite application from GUI/UI in a git repository?
Storing this configuration as a git repository will allow the community to share templates with predefined configurations.
Have a look at this: https://docs.amplication.com/docs/sync-with-github

[2021-10-31 21:01] geryjuhasz commented on #1902
done :) https://github.com/appwrite/demos-for-functions/pull/304

[2021-11-01 04:32] StarTrooper08 commented on #2079
@mairagee524 need any help to solve this issue?
Hacktoberfest is going to end I can assist for solving this issue!!

[2021-11-01 10:04] AhmedHammad0900 opened #2378 "Can't Upload Big Files ..."
I already increased max file size to 500 MB from env .. tested on 67 MB file and worked...  but didn't work on 138 MB File ..
I built my App for Courses Videos purpose ( Worked for a months on that no way to back )

Logs Says that's Out Of memory while server is using 0.5% of it's 16 GB Ram

![image](https://user-images.githubusercontent.com/81931290/139661648-18e9488e-2d0f-45e4-85db-240dc2fab060.

[2021-11-01 10:10] ekol-tech commented on #2378
How can i am . I am a victim.

Ekrem Yılmaz
iPhone’umdan gönderildi

[2021-11-02 18:53] chtnnh commented on #1902
can I be unassigned please? this is a tad bit tougher than I anticipated.

[2021-11-02 18:53] chtnnh commented on #1900
can I be unassigned please? this is a tad bit tougher than I anticipated.

[2021-11-02 20:00] Silfalion opened #2384 "🐛 Bug Report: supporting flutter web OAuth"
### 🔖 Feature description

This feature consists in adding temporarily a modified flutter web auth package to the flutter sdk of appwrite with an implementation that makes OAuth works.

### 🎤 Pitch

Right now OAuth doesnt work on flutter web, which is caused by the flutter_web_auth package not supporting it the option. A PR has been added to the repo it's been already 6 months. But no signs that i

[2021-11-02 20:06] Silfalion commented on #2384
This is even more valid considering this is used in production environments as mentioned here:
https://github.com/LinusU/flutter_web_auth/pull/77

[2021-11-02 20:49] #2196 closed

[2021-11-03 05:25] lohanidamodar commented on #2384
@Silfalion Regarding Web auth OAuth for Flutter+Appwrite, it should already be handled by Appwrite, you don't need the support on Web auth package we use. If you provide the proper success and error URL in your call to `createOAauth2Session()` the URL being your Flutter web application, Appwrite should redirect you back to appropriate URL already.
(For Android/iOS this is not required, yet you can

[2021-11-03 06:46] StarTrooper08 commented on #2079
Can I solve this issue even if the hacktoberfest is over?
@lohanidamodar

[2021-11-03 06:47] mairagee524 commented on #2079
Hey, if you read up to my previous message, I am still working on it. Thanks.

[2021-11-03 06:50] StarTrooper08 commented on #2079
Oh sorry

[2021-11-03 10:30] Meldiron opened #2387 "🚀 Feature: Rotation in Storage preview should support nagive numbers"
### 🔖 Feature description

Currently, rotation only supports 0 to 360, but it should work with -360 to 360 and Appwrite should do the simple math.

### 🎤 Pitch

Its way more developer-friendly to see -6 instead of 354.

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have

[2021-11-03 10:39] Meldiron opened #2388 "🚀 Feature: Hide function environment variables by default"
### 🔖 Feature description

Hide the secret values by default with a button to display them. Actually, most platforms don't provide a way to see the value, the button to show it might not be necessary (and more secure).

![CleanShot 2021-11-03 at 11 34 59](https://user-images.githubusercontent.com/19310830/140045695-32e9fc69-2094-4f94-b175-a2cf38567ebe.png)

### 🎤 Pitch

Looking at any huge company

[2021-11-03 16:13] busseyl commented on #360
In Chrome you can do this without a Service Worker:
![image](https://user-images.githubusercontent.com/6764970/140098668-932434f4-6c36-4046-9370-d571f48dbba2.png)

I also do this on the iPad with Safari.

The typical use case for a Service Worker is to cache assets for offline use. This doesn't appear to offer much of an advantage since the UI primarily requires a network connection to the Appwrit

[2021-11-03 23:31] kodumbeats commented on #2388
❤️ my first `appwrite/appwrite` PR added a Litespeed component that does this: https://github.com/appwrite/appwrite/pull/791

_My thoughts:_

This component probably wasn't used here because not all function envs have to be secrets - config envs come to mind first.

I think it'd be an easy lift to add this now by using the `data-forms-show-secret` component on the input fields, but that wouldn't b

[2021-11-04 05:17] TSCSOftware opened #2391 "📚 Documentation: How generate _APP_OPENSSL_KEY_V1 ?"
### 💭 Description

how generate a unique key and set it as the value of the _APP_OPENSSL_KEY_V1

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.com/appwrite/appwrite/blob/HEAD/CODE_OF_CONDUCT.md)

[2021-11-04 14:41] stnguyen90 commented on #2391
This is just an arbitrary string used as a passphrase for the encryption/decryption.

[2021-11-04 14:45] stnguyen90 commented on #2378
This is a PHP memory limit set here https://github.com/appwrite/appwrite/blob/0e91b67528d10716ea328421577e8a2f71e427b3/app/init.php#L14

The current workaround would be to either modify the file as part of the container startup or mount a file with a bigger limit.

[2021-11-04 15:37] stnguyen90 commented on #2351
Looks like you can filter for true with `status=1` and false for `status=0`.

[2021-11-04 16:55] stnguyen90 commented on #2388
👍  for options for sensitive vars vs non-sensitive that would ideally be encrypted.

[2021-11-04 18:22] stnguyen90 commented on #2349
Migrations only need to be done when upgrading minor versions (0.8.X -> 0.9.X). A patch update (0.9.0 -> 0.9.4) does not require executing the migration.

The documentation could be improved to clarify this.

[2021-11-04 22:11] asilvy413 commented on #1328
No i have not

[2021-11-04 23:30] stnguyen90 commented on #2203
What was the custom domain you set in your appwrite console compared to the domain in your env file?

Also, would you please provide the contents of /var/log/letsencrypt/letsencrypt.log in the appwrite-worker-certificates container?

[2021-11-04 23:38] stnguyen90 commented on #2160
I think this is a problem with your file system or local environment rather than appwrite. When you try to mount a folder that doesn't exist, docker will make that folder for you.

From the [docker docs](https://docs.docker.com/storage/bind-mounts/):

Additionally, I ran the following:

[code]

and the appwrite folder was created as expected.

[2021-11-04 23:40] stnguyen90 commented on #2011
This indicates there is something malformed in your docker-compose.yml file. Can try to use this [YAML Lint](http://www.yamllint.com/) to check your docker-compose.yml file?

[2021-11-04 23:57] stnguyen90 commented on #1881
I agree with @EduardoWeber. I can't reproduce the problem on v:0.11.0.170.

![image](https://user-images.githubusercontent.com/1477010/140435652-81eb5236-aeb2-43a4-abeb-db92f97819d6.png)

[2021-11-05 00:13] stnguyen90 commented on #1778
@arealdeadone, IdentityServer is self hosted so the domain name will be custom, right? As of now, the OAuth Settings modal isn't very flexible and doesn't support custom fields. As such, you wouldn't be able to set your custom domain name. This is the same problem some other OAuth Integrations have:

* [Okta](https://github.com/appwrite/appwrite/issues/1668)
* [Microsoft](https://github.com/appwri

[2021-11-05 00:15] stnguyen90 commented on #1508
How did you restart your appwrite container? If you only did an `docker-compose restart` it may not have picked up the new env vars. Instead, you need to run `docker-compose up -d` to recreate the containers with the new env vars.

[2021-11-05 00:24] stnguyen90 commented on #1666
What do you mean by this?

This usually happens when you create a document with empty string for the field. What do you expect to see?

[2021-11-05 00:54] dawid-niedzwiecki commented on #1508
I think I did try using `docker-compose up -d` aswell, if I remember
correctly, but that was a long time ago...

pt., 5 lis 2021 o 01:15 Steven ***@***.***> napisał(a):

[2021-11-05 03:13] stnguyen90 commented on #1508
Are you still having problems or can't this be closed?

[2021-11-05 04:29] TSCSOftware commented on #2391
thank you  @stnguyen90

[2021-11-05 04:29] #2391 closed

[2021-11-05 06:39] eldadfux commented on #2388
Right now we encrypt all options. Would it be too bad to hide all fields no matter what by default?
I see this patterns repeating in many services (Travis CI, Github Actions), don't really see the harm, at least on the Functions context.

[2021-11-05 06:41] eldadfux commented on #2387
Don't see the harm, could be pretty useful and easy to implement. Any takers for this issue? @Meldiron?

[2021-11-05 06:43] eldadfux commented on #2378
We do have a work in progress to enable big files upload. You can check it here: https://github.com/appwrite/appwrite/pull/1383 - it should be in a pretty advanced stage, @lohanidamodar has already started adding support for this on multiple SDKs.

[2021-11-05 06:47] eldadfux commented on #2377
Hey @bartoszgolebiowski thank you for the kind work. We have started working on the `appwrite.json` file that will extend the CLI and allow you to easily start a project from a git template. This will include auto-population of functions, and database collections for start.

You can learn more about it here:
https://github.com/appwrite/rfc/blob/373ac577b8d5f3f60b7ff68336cb6b4280eaa1fb/018-cli-2.0/

[2021-11-05 06:59] eldadfux commented on #2372
Hey Alex, thanks for using Appwrite and sending this feedback. I would argue and say this is not a small security issue.
We must have a true/false indication for success or failure on this API to allow proper usage by devs and to allow UIs to have some representation to the state of the operations.

We did limit this endpoint for 10 attempts per hour for each email, which was originally designed t

[2021-11-05 07:45] codingsamurai-10 commented on #2387
Can I take this issue?

[2021-11-05 08:56] Meldiron opened #2394 "🐛 Bug Report: Error 500 when searching for user using email"
### 👟 Reproduction steps

_Make sure you have network tab opened_

1. Visit your appwrite console
2. Open a project
3. Go into "users"
4. Search for user `matej@appwrite.io`
5. Take a look at network tab. Search responses with code 200, but body is "error 500"

![CleanShot 2021-11-05 at 09 55 34@2x](https://user-images.githubusercontent.com/19310830/140484341-94e629e3-228c-4261-9785-6327f9d30de6.p

[2021-11-05 08:58] eldadfux commented on #2394
What is the output log in your main Appwrite container?

[2021-11-05 09:33] dawid-niedzwiecki commented on #1508
I reinstalled Appwrite completely in order to set it up with a
different domain, but I don't know if the issue remained. I have no idea if
this bug has been patched since then.

pt., 5 lis 2021 o 04:13 Steven ***@***.***> napisał(a):

[2021-11-05 10:07] Meldiron commented on #2394
[code]

[2021-11-05 12:01] #2287 closed

[2021-11-05 13:57] kodumbeats commented on #2394
Checked this in the database refactor branch, and it doesn't appear to be an issue. (I checked the raw request URL, and the `@` symbol is properly escaped as `%40`)
![09_44_42-05_11](https://user-images.githubusercontent.com/9708641/140521276-181e2e96-8e56-4cc9-9b52-60c10cdc4cb1.png)

[2021-11-05 14:36] stnguyen90 commented on #1508
So are you still having problems with the new domain or can this be closed?

[2021-11-05 14:41] stnguyen90 commented on #2378
@eldadfux, I don't see that `memory_limit` updated in the PR so the problem might still persist after that PR is megered.

[2021-11-05 15:14] kodumbeats commented on #2359
Yeah, let's clean this up. @rdmchr Would you like to collaborate on these changes?

The endpoint descriptions are found in markdown files under [`/docs/references/teams`](https://github.com/appwrite/appwrite/tree/master/docs/references/teams), while the parameter descriptions are defined in-line in the [`/app/controllers/api/teams`](https://github.com/appwrite/appwrite/blob/master/app/controllers/

[2021-11-05 18:06] kodumbeats commented on #2359
@rdmchr Let's start by updating the issues you've highlighted. Since you're not familiar with PHP, I'll show you how to find the source file for the docs changes.

Using `/docs/client/teams#teamsCreateMembership` as an example - the docs say the route is `/v1/teams/{teamId}/memberships`. First, find the corresponding route in `app/controllers/api/teams.php` - the syntax feels like Express.js to me

[2021-11-05 18:17] kodumbeats commented on #1508
I haven't tested myself, but I don't think the codebase knows how to handle a change in console domain. I think we should close when either:
- we've tested this functionality and cannot replicate the issue, or
- we add this functionality into the code. There could be others that could benefit from this feature in the future, and I'd like to track the progress.

[2021-11-05 18:24] rdmchr commented on #2359
Ah, I see, that makes sense. I'll get started on this tomorrow. Be ready for a ping on Discord if I encounter a problem, but I think your guide seems pretty intuitive so far 😉

[2021-11-05 19:48] stnguyen90 commented on #1508
So I followed these steps:

1. updated `_APP_DOMAIN` and `_APP_DOMAIN_TARGET` in my .env file
2. ran `docker-compose up -d`
3. ran `docker-compose exec appwrite ssl`
4. After 30 seconds or so, the appwrite-worker-certificates container outputed:
[code]
5. I had to open a new Incognito tab to see the new cert since the old cert was cached on my normal browser session.

[2021-11-05 23:13] sanny-io opened #2396 "🚀 Feature: Allow user creation with a specific UID."
### 🔖 Feature description

Firebase allows developers to easily use their own auth service and integrate it with Firebase's own auth system.

https://firebase.google.com/docs/auth/admin/create-custom-tokens#create_custom_tokens_using_the_firebase_admin_sdk

### 🎤 Pitch

I'm using an auth service that already provides a UID. There is no email or password involved. I want to integrate this with Appw

[2021-11-06 10:14] s3ppo commented on #2351
Ah super thanks for the info 👍

[2021-11-06 11:34] eldadfux commented on #2396
Hey @sanny-io, we are already working on a custom ID feature that is already in very advanced stages, and could even be released in the next Appwrite version. This will allow you to set a custom ID for any Appwrite resource including a collection, document, file, function and user.

More info available in this RFC: https://github.com/appwrite/rfc/blob/main/018-custom-id-support.md

Does this help

[2021-11-06 12:04] eldadfux commented on #2351
The new DB refactor will introduce some breaking changes as listed here: https://gist.github.com/kodumbeats/d0f8d8305b28f1b3f3d52f0ada358551

Important to mention that older versions will continue to be supported, and we'll provide a migration process for all data.

[2021-11-06 12:23] AhmedHammad0900 commented on #366
is this feature available now ?

[2021-11-06 12:50] Gustl22 commented on #1881
I deleted all images, containers, deleted the appwrite folder, installed apprite again, forced a rebuild on docker-compose up. Still not working. I look into the discord to get some help. Thx for now.

[2021-11-06 15:00] rdmchr commented on #2359
@kodumbeats I need your help again :smiled:  https://appwrite.io/docs/client/teams#teamsUpdate says "Only team owners have write access for this resource." but there is no such check in the code, right? https://github.com/appwrite/appwrite/blob/master/app/controllers/api/teams.php#L169-L204 It would also contradict the doc at https://appwrite.io/docs/client/teams#teamsCreate where it says "The tea

[2021-11-06 15:54] stnguyen90 commented on #2394
Fyi, the current workaround for version 0.11.X is to wrap the search term that includes the @ with double quotes. So search for `"matej@appwrite.io"` instead.

[2021-11-06 20:33] sanny-io commented on #2396
Yes sir that looks perfect. Thank you.

[2021-11-06 20:35] sanny-io commented on #2396
I'm actually not sure if I should close this or not, haha. Close if appropriate.

[2021-11-06 20:36] eldadfux commented on #2396
We can leave it open until the feature is released :)

[2021-11-07 04:06] eldadfux commented on #2387
@codingsamurai-10 I have assigned you to the issue. This is the line needs to be updated:
https://github.com/appwrite/appwrite/blob/master/app/controllers/api/storage.php#L250

We should also add a test for negative values here after the existing `/preview` tests:
https://github.com/appwrite/appwrite/blob/master/tests/e2e/Services/Storage/StorageBase.php#L42

[2021-11-07 06:31] eldadfux commented on #1508
Yes, it should work for 3 months until it will be expired.

[2021-11-07 06:33] eldadfux commented on #2011
@TorstenDittmann I think we should add a try-catch block for this warning.

[2021-11-08 10:11] YaMiSt opened #2399 "🐛 Bug Report: Function shows exit status 124 if using Promise.all()"
### 👟 Reproduction steps

I created a function in appwrite with node.js, which make some requests to appwrite team and database. For that i used a Promise.all(). If I use that I always got an exit code 124 (timeout). Do I have to return something, that appwrite noticed the function is finished, or do I have to solve that on another way? Without I have no problem with the functions, but I have 4 re

[2021-11-08 10:25] sarakaandorp commented on #2371
Hey @VanshajPoonia,  

UX/UI Designer at Appwrite here :) Thank you for your suggestion, we appreciate it!  

A scroll indicator bar can indeed be an interesting UI pattern, you mostly see it in blogpost articles. It gives you an indication of the length of the article, as some articles can be long and time consuming.

At the moment though, I don’t really see a place on the Appwrite website where

[2021-11-08 10:25] #2371 closed

[2021-11-08 19:56] kodumbeats commented on #2359
In Appwrite, everything stateful is a document - users, teams, collections, functions, etc. are all saved as a document in the database, and the same permission system used in the Database service is also used internally.

So, to see the permissions of a team, we can look at the permissions set when the resource is created. For a team, we can look in `POST /v1/teams`:
https://github.com/appwrite/a

[2021-11-08 19:59] stnguyen90 commented on #1881
After additional troubleshooting, it appears as the problem occurs in Firefox and not Chrome.

In addition, I do agree with @Gustl22 that the Array toggle shouldn't affect the Allowed Collection.

[2021-11-08 21:16] kodumbeats commented on #1508
@stnguyen90 Does the domain update appropriately in the Appwrite console after following your instructions?

[2021-11-08 21:41] stnguyen90 commented on #1508
Do you mean like the API Endpoint field in the Settings page of a project? Yes, that shows the updated domain name.

[2021-11-09 00:17] kodumbeats commented on #1508
Then yeah, I feel comfortable closing this. Thanks to all who reported and investigated - y'all are the best! ❤️

[2021-11-09 00:17] #1508 closed

[2021-11-09 01:31] stnguyen90 commented on #2399
Please edit the Title of the issue to be more descriptive and fix the formatting of our code block to use 3 back ticks for multi line code.

You shouldn't need any sort of return.

A couple of things regarding your code:

1. You don't need the `void` in front of the `Promise.all()`.
2. Is it timing out because it's taking a while for all the network calls to finish?

[2021-11-09 15:33] browasaki opened #2402 "🐛 Bug Report: a wildcard property is serialized to string when the user updates a document from the backend"
### 👟 Reproduction steps

1. Create a collection with 2 properties: the first one with a wildcard type and the second one with a boolean type;
2. Persist a JSON object on the wildcard property;

Everything **works as expected**; the wildcard property is returned as a JSON from the API.

3. Go to the backend (CMS), edit the boolean property's value, and update the document;

Now the wildcard proper

[2021-11-09 17:15] Silfalion opened #2403 "🐛 Bug Report:"
### 👟 Reproduction steps

-call the createRecovery method of the appwrite flutter sdk, providing a valid email and url
-the url should be under the format https://domain/#/recovery
-receive the email

### 👍 Expected behavior

A url that looks like https://domain/#/recovery?userId=76887&secret=877797......&expires=77686... so basically the url we gave plus the query parameters

### 👎 Actual Behavio

[2021-11-09 17:55] stnguyen90 commented on #2403
This is tough because, typically, anything after # is a fragment and is added at the end. The part of the code causing this unexpected behavior is:

[account.php](https://github.com/appwrite/appwrite/blob/a1a4584095768f25b616ffa53bfee417c866c541/app/controllers/api/account.php#L1811-L1813):
[code]

[Template.php](https://github.com/appwrite/appwrite/blob/a1a4584095768f25b616ffa53bfee417c866c541/sr

[2021-11-10 08:12] YaMiSt commented on #2399
1. The void comes from our implementation. I removed it for the example
2. No i already tried with the max timeout in settings, but I get the same error. I do'nt think that it's took a while

[2021-11-10 13:18] Meldiron commented on #2402
@browasaki Our database refactor does not include a wildcard validator - every attribute must have an assignable data type in the underlying database. This bug will be resolved in future versions of Appwrite, for now, please use `string` type and always serialize JSON objects before inserting them into a database. This approach will be the easiest to migrate into our DB refactor and will give you

[2021-11-10 13:53] tundeajibawo commented on #1082
adding this to appwrite label solves it for me: `- traefik.http.middlewares.testheader.headers.customresponseheaders.access-control-allow-origin=https://domain`

[2021-11-10 14:03] browasaki commented on #2402
Thanks @Meldiron for the quick response; when the database refactoring will be completed?

[2021-11-10 16:31] Silfalion commented on #2403
I understand. Setting the url strategy would be a good solution though without using a personal domain services like Firebase dont recognize the URL. I'm trying to find a fix for it at the moment. Will update as soon as I do.

[2021-11-10 16:33] rdmchr commented on #2359
I have completed the update. Please let me know if you want me to change anything.

[2021-11-10 21:27] s3ppo opened #2405 "🐛 Bug Report: Delete Membership is not working with own user"
### 👟 Reproduction steps

i use method ```await teams.deleteMembership(teamId: teamId, membershipId: membershipId);```
to remove my actually logged in user myself from a team. (if the user is an admin it works correct)

it throws an exception: ```Server error```
but it seems it is doing something -> the membership is deleted but not clean
- the wrong exception breaks coding logic
- overview in app

[2021-11-11 11:10] matfire opened #2406 "🐛 Bug Report: accounts.create does not get trigger function on account created with OAuth provider"
### 👟 Reproduction steps

- Create a function that should get triggered on accounts.create
- Deploy tag (my use case was creating a document in a collection)
- Create an account with email and password from a web frontend (React in my specific case)
- Function should get triggered
- Create another account using an Oauth provider (Google in my case)
- Function should not get triggered

### 👍 Expect

[2021-11-12 12:32] JaviBonilla opened #2411 "🐛 Bug Report: User cannot sign up again with the same email address after account is deleted"
### 👟 Reproduction steps

With the `Account API`:

- Create an account
- Delete the account
- Create an account with the same email address

### 👍 Expected behavior

Recreate an account with the same email address.

### 👎 Actual Behavior

The following error messages:

When signing up: `Account already exits`
When loging in: `Invalid credentials. User is blocked`

### 🎲 Appwrite version

Version 0

[2021-11-12 12:39] JaviBonilla opened #2412 "🐛 Bug Report: Update Account Email from the Account API does not send the new confirmation mail"
### 👟 Reproduction steps

With the `Account API`:

- Update Account Email

### 👍 Expected behavior

According to the Account API [documentation](https://appwrite.io/docs/client/account?sdk=flutter-default#accountUpdateEmail):

- [x] Update email address
- [x] Reset user confirmation status
- [x] Send a new confirmation mail

### 👎 Actual Behavior

- [x] Update email address
- [x] Reset user confir

[2021-11-12 13:42] eldadfux commented on #2412
The docs here are misleading and should be fixed. The confirmation mail is decoupled from the actual update endpoint to allow each app its own behavior and authentication flows.

[2021-11-12 18:23] symaticvisuals commented on #1775
@Meldiron can I make a video of setting up Appwrite on Windows?

[2021-11-12 19:55] stnguyen90 commented on #2399
@YaMiSt can you retry with your firewall disabled?

[2021-11-13 07:21] Haxatron opened #2413 "🐛 Bug Report: No response from email in SECURITY.md"
### 👟 Reproduction steps

Hi there, I reported a potential security issue to the security@appwrite.io email as listed in the SECURITY.MD but did not receive any response.

In case, you did not receive it, the report is located here https://huntr.dev/bounties/7c1ad9a2-39d9-4e0d-84ff-ee6762066b78.
Only people with write permissions to the repository can review it. 🙂

### 👍 Expected behavior

-

###

[2021-11-13 11:22] JaviBonilla commented on #2403
Hi @Silfalion,

I had the same issue for Flutter web, I solved it using the [path URL strategy](https://flutter.dev/docs/development/ui/navigation/url-strategies).

[code]

To set the verification link, I'm using this code which also works while testing at localhost because it preserves the port number.

[code]

[2021-11-13 12:10] Silfalion commented on #2403
Thank you so much for reminding me @JaviBonilla, was gonna post my solution but forgot. I used something very similar as you with the url_strategy package.

But the problem then became that Firebase didn't find the path, it's a little unrelated to the issue but if anyone else needs a fix use this in your firebase.json:

[code]

The important part is the rewrites field.

Thank you both for your hel

[2021-11-13 16:19] eldadfux commented on #2413
We'll check this ASAP. Thanks for reporting.

[2021-11-13 16:59] JaviBonilla commented on #2406
I’m also having the same issue.

[2021-11-14 07:17] lohanidamodar commented on #2411
This looks like the issue is similar to https://github.com/appwrite/appwrite/issues/1104 which was resolved in 0.9. Will look more into it.

[2021-11-14 12:17] Meldiron opened #2415 "🐛 Bug Report: UI status does not update"
### 👟 Reproduction steps

- Create collection with 2 rules
- Save, Refresh website
- Open second rule and toggle required on/off. Text status will change properly
- Close second rule, open first one and delete it
- Open second rule again and try to toggle required on/off. Text status will no longer change

Video:

https://user-images.githubusercontent.com/19310830/141680585-fad9bad4-7846-4e36-bb53

[2021-11-14 13:04] Meldiron opened #2417 "🐛 Bug Report: WebSDK does not expose realtime types"
### 👟 Reproduction steps

 I have `appwrite.service.ts` with this function:

[code]

I do it in a separate file to keep all Appwrite logic in one place, so I don't have to initialize `new Appwrite()` each time.

Noooow... As you can see, I used the type `any` for a callback. What is the proper type? If I am not mistaken, the correct type is:

[code]

Problem is, type `RealtimeResponseEvent` is not

[2021-11-14 13:31] #2203 closed

[2021-11-14 14:10] Meldiron opened #2418 "🚀 Feature: Realtime event triggers"
### 🔖 Feature description

We should add new event types that can trigger a function. Alongside existing ones, we should add new ones for real-time events, such as user connection or disconnection.

### 🎤 Pitch

Currently, I am trying to build a real-time game and I need to know when a user disconnect, so I can do cleanup on the client-side of other players - remove a character of a player who dis

[2021-11-15 05:51] eldadfux commented on #2418
@TorstenDittmann do you think it will make sense to add a callback for when the user disconnect?

[2021-11-15 06:09] eldadfux commented on #2415
I'm pretty sure this would be solved as part of #2103

[2021-11-15 09:33] PineappleIOnic commented on #2406
I'm on the case 👍

[2021-11-15 10:29] TorstenDittmann commented on #2411
I wasn't able to re-create it on `0.11.x`.

The delete method on the account service doesn't actually delete the account - but blocks it. Only the delete method from the Users API removes the account completely 👍🏻

[2021-11-15 10:41] lohanidamodar commented on #2411
@JaviBonilla as @TorstenDittmann mentioned, while deleting account using client SDK (i.e. the Account service) the account is only blocked. As you are using Flutter SDK this is the intended behavior of the API. If you want to permanently delete the user account then you can delete it from Users (server SDK) service or console as well. Closing this issue. If this doesn't help you, feel free to reop

[2021-11-15 10:41] #2411 closed

[2021-11-15 10:50] TorstenDittmann commented on #2417
Let's export `RealtimeResponseEvent<T>` 👍🏻

[2021-11-15 10:51] TorstenDittmann commented on #2418
Not sure how the channel and permissions should look like for this 🤔

[2021-11-15 11:37] JaviBonilla commented on #2411
@lohanidamodar Ok, I thought that even though the user was blocked, Appwrite was in charge of unblocking the user when the same email address was used to create a new account.

So, to make this secure, I have to make sure that the delete account function only deletes the user account of the `APPWRITE_FUNCTION_USER_ID` env var.

[2021-11-16 05:27] chellem commented on #1635
Hello @VakinduPhilliam,

Am getting the same issue, what's the solution to it?  Can you share it, please?

Kind Regards,

[2021-11-16 07:01] VakinduPhilliam commented on #1635
Please try to contact Appwrite team on Discord: https://discord.com/invite/GSeTUeA

[2021-11-16 14:37] PineappleIOnic commented on #1947
Closing this as the relevant fixed have been merged into the codebase 🥳

[2021-11-16 15:23] herambchaudhari4121 commented on #2308
https://github.com/herambchaudhari4121/laughing-computing-machine

[2021-11-16 15:23] herambchaudhari4121 commented on #2308
@Meldiron https://github.com/herambchaudhari4121/laughing-computing-machine

[2021-11-16 20:56] TheMardy commented on #2405
I have the same issue with 0.11. I assumed the delete membership can be used for a member to "leave" the team. Is this not the case?

[2021-11-17 07:30] christyjacob4 commented on #1703
Thank you so much for the contribution! The changes have been merged and will be released soon!

[2021-11-17 09:40] #1985 closed

[2021-11-17 09:40] christyjacob4 commented on #1985
Thank you so much for the contribution! The changes have been merged and will be released soon!

[2021-11-17 10:17] christyjacob4 commented on #1697
Thank you so much for the contribution! The changes have been merged and will be released soon!

[2021-11-17 10:17] #1697 closed

[2021-11-17 11:11] christyjacob4 commented on #1972
Thank you so much for the contribution! The changes have been merged and will be released soon!

[2021-11-18 14:17] #1635 closed

[2021-11-18 19:01] outrelouxhe opened #2424 "🐛 Bug Report: Update of a specific user preferences setting delete other user preference settings"
### 👟 Reproduction steps

1. Set user preferences to` { "key1":"value1", "key2":"value2" }`
2. Update the user preferences with `{"key2":"newValue2"}`
3. The "key1" pref has disappeared

### 👍 Expected behavior

The doc related to the update of the user preferences says "You can pass only the specific settings you wish to update."
So we would have expected the "key1" to be kept

### 👎 Actual Behav

[2021-11-18 20:30] stnguyen90 commented on #2424
I took a look at code for the [Update User Preferences](https://github.com/appwrite/appwrite/blob/fbddd4e69e70550a9e38f448a768679da150129f/app/controllers/api/users.php#L589-L591) and [Update Account Preferences](https://github.com/appwrite/appwrite/blob/fbddd4e69e70550a9e38f448a768679da150129f/app/controllers/api/account.php#L1496-L1498) APIs and noticed this is how the data was getting merged:

[2021-11-20 16:46] ll7l opened #2428 "Hello World"
...

[2021-11-21 10:38] maximilianmaihoefner opened #2429 "🚀 Feature: Database Provisioning"
### 🔖 Feature description

A way to provision Database (Rules) via YAML, JSON or similar, to enable Infrastructure as Code possibilities.

### 🎤 Pitch

Let's say you have two apps in Appwrite, one for your Production- and one for QA/Testing-Environment. If the Database Rules could be defined in some kind of Text-Resource and applied to the Appwrite-App via CLI/Rest/etc. you could test your rules c

[2021-11-21 11:04] erfanh3h commented on #2246
pull this link
docker pull appwrite/runtime-for-node:16.0
then restart your appwrite.this fix me in python.

[2021-11-22 07:53] s3ppo opened #2430 "🐛 Bug Report: orderType is switching in Appwrite console"
### 👟 Reproduction steps

when viewing collections in appwrite console and you have more then 12 collections you have the option to go to page 2.
when you do that the collections are now ordered DESC... also when you go back to page 1

initialy collections are shown ASC

### 👍 Expected behavior

ordering should always be ASC

improvement idea: please add a field where you can input the number of c

[2021-11-22 09:12] TorstenDittmann commented on #2417
Merged => https://github.com/appwrite/sdk-generator/pull/312

[2021-11-22 09:42] #2428 closed

[2021-11-22 09:43] TorstenDittmann commented on #2430
Thank you for reporting this 👍🏻

[2021-11-22 10:21] YaMiSt commented on #2399
@stnguyen90 sorry for my late response. There is no firewall

[2021-11-22 21:38] stnguyen90 commented on #2399
@YaMiSt, where do you have your appwrite instance running? Are you using http:// as the protocol with the redirect to HTTPS set?

Also, it might be easier to troubleshoot this on [discord](https://discord.gg/RHjYtrCA).

[2021-11-23 16:46] nico87 commented on #1213
@jfeversole Did you find out what the problem was? I'm struggling with the same issue creating an embedded document. I can create the embedded document via the UI but it's not linked to its parent document.

[2021-11-23 17:12] jfeversole commented on #1213
@nico87 The issues I experienced here led to me dropping AppWrite from my project, so unfortunately not. Embedded documents were too important for what I was creating and even the simplest of JSON structure would fail to work here in my testing.

[2021-11-23 21:11] oliver-pham commented on #545
Hi @lohanidamodar! I haven't seen any update on this issue from @MatteoGheza. May I make an attempt on it?

[2021-11-23 21:17] MatteoGheza commented on #545
I think you can work on this. I started working on this done time ago, and I have something working, but I don't have time to contribute to this PR this month.

[2021-11-24 09:48] TorstenDittmann commented on #2424
Now there is a dilemna - merging the existing preferences with the new one will not allow you to delete a key/value pair in preferences.

We could allow deleting a Preference by setting it to `null` 🤔

[2021-11-24 12:37] YaMiSt commented on #2399
Hi @stnguyen90,

I found the bug. We redefined the variable teams, so it couldn't resolved. But in the log were no errors. We found in two other container logs what helped us to solve it.

Maybe it's a good idea to log all messages in the function container and not in other containers. (Yes, I know we have to improve our interfaces ;))

[2021-11-24 12:37] #2399 closed

[2021-11-24 20:04] tamaskan opened #2435 "Basic Auth in setEndpoint"
Is Basic Auth (  .setEndpoint( 'https://user:password@appwrite.domain/v1') ) working with Get/Post-Requests ?

[2021-11-25 05:27] eldadfux commented on #2435
No this is not supported. Feel free to pitch for this idea if you would like the core to consider it.

[2021-11-25 09:45] nico87 commented on #1213
Thanks @jfeversole .
In the end I solved the issues I was facing. Basically, I didn't add the $collection and $permissions keys to the documents I was saving. After that, the nested documents are saved correctly.

[2021-11-25 18:14] tamaskan commented on #2435
It's just that i don't like the idea of a publicly accessible api. Since i am apparently the first one to ask for basic auth, a standard user doesn't need it and i don't want to bother anyone. Thanks for your response and effort.

[2021-11-25 18:14] #2435 closed

[2021-11-26 19:15] eldadfux commented on #2387
Leaving this issue open until the release of Appwrite 0.12 which will include this update.

[2021-11-27 22:05] mateusz-bak opened #2443 "📚 Documentation: Python list_documents arguments are incorrect."
### 💭 Description

Arguments for list_documents in Python SDK are wrong.

In Python SDK code [link](https://github.com/appwrite/sdk-for-python/blob/master/appwrite/services/database.py#L122):
`def list_documents(self, collection_id, filters = None, limit = None, offset = None, order_field = None, order_type = None, order_cast = None, search = None):`

In Python SDK documentation they follow camel

[2021-11-28 03:44] tananga opened #2444 "🐛 Bug Report: I cant sign in into google with my private IP ( FLUTTER )"
### 👟 Reproduction steps

Im using Flutter

This is my endpoint: static const String endpoint = 'https://192.168.0.73/v1';
(192.168.0.73) is my private IP which allows me to login into appwrite.
This is a fragment from documentation: When trying to connect to Appwrite from an emulator or a mobile device, localhost is the hostname for the device or emulator and not your local Appwrite instance. You

[2021-11-28 10:23] #1691 closed

[2021-11-28 10:24] christyjacob4 commented on #1691
Thank you so much for the contribution! The changes have been merged and will be released soon!

[2021-11-28 10:50] tananga commented on #2444
I installed ngrok.com and it works, but It would be great to attach some tutorial how to do it without any 3rd party program. So far Im using free version of "ngrok" but I dont know how good this soulution will be in the future

[2021-11-28 11:16] tananga commented on #454
Im still having the same issue in 0.11

[2021-11-28 11:20] tananga commented on #2444
Im used "ngrok" to make some workeround and it looks like Im made a progress. Now after I selected my google account in getting appwrite error: Missing Redirect URL

[2021-11-28 11:29] tananga commented on #454
@eldadfux I have the same problem in version 0.11

This is my endpoint: static const String endpoint =
      'https://29e9-2a02-...................-996c-588-2097.ngrok.io/v1';

And In google console Authorized redirect URIs I added both:
https://29e9-...............-2097.ngrok.io/v1/account/sessions/oauth2/callback/google/61a16259aa5ef

and

http://29e9-..............-588-2097.ngrok.io/v1/account/

[2021-11-28 11:30] tananga commented on #2444
This is my endpoint: static const String endpoint =
      'https://29e9-2a02-...................-996c-588-2097.ngrok.io/v1';

And In google console Authorized redirect URIs I added both:
https://29e9-...............-2097.ngrok.io/v1/account/sessions/oauth2/callback/google/61a16259aa5ef

and

http://29e9-..............-588-2097.ngrok.io/v1/account/sessions/oauth2/callback/google/61a16259aa5ef

Afte

[2021-11-28 12:07] tananga commented on #2444
Now I can add user user via "google" but Im not redirected to app but Im landing on webpage with error: This page isnt working. I added activity part into Android Manifest. I need help of someone who is experienced.

[2021-11-28 13:59] christyjacob4 commented on #1934
@gat786 If I recall, our .NET SDK is still not a 100% complete. So it might be better to wait until we release the .NET SDK officially

[2021-11-28 14:08] Jyoti-prakash-rout opened #2446 "Please invite me to the GitHub Organization"
I'm a Web Dev enthusiast & a junior pursuing my Bachelors in Computer Science & Engineering. I'm interested in Web Devlopment, Machine Learning & DevOps & I enjoy learning new things & stuff as well as I'm a Frontend Devloper with experience building Dynamic & Static Web pages. I am always interested in learning the answers to how, why, and what relates to the Technologies around me.

I would like

[2021-11-28 14:12] #1902 closed

[2021-11-28 14:29] christyjacob4 commented on #1676
Thank you so much for the contribution! The changes have been merged and will be released soon!

[2021-11-28 14:29] #1676 closed

[2021-11-28 15:11] marpit19 opened #2447 "🐛 Bug Report: Discord icon"
### 👟 Reproduction steps

Discord has updated its branding guidelines so it would be good to update the icon

![image](https://user-images.githubusercontent.com/54642576/143773817-2a745481-4ffa-40bd-a9ad-201d7ed0593f.png)

I could help with this minor change

### 👍 Expected behaviour

[Current Branding](https://discord.com/branding)

### 👎 Actual Behavior

![image](https://user-images.githubuserco

[2021-11-28 16:37] #2195 closed

[2021-11-28 16:56] christyjacob4 commented on #1719
Thank you so much for the contribution! The changes have been merged and will be released soon!

[2021-11-28 16:56] #1719 closed

[2021-11-28 18:13] christyjacob4 commented on #1764
Thank you so much for the contribution! The changes have been merged and will be released soon!

[2021-11-28 18:13] #1764 closed

[2021-11-28 19:41] Miksier commented on #2029
@jacobprudhomme
@lohanidamodar

Pretty sure there's already a PR for this from me :D (for like half a year?)
https://github.com/appwrite/demos-for-functions/pull/73

[2021-11-28 20:28] eldadfux commented on #2446
Please reach out on Discord. https://appwrite.io/discord

[2021-11-28 20:28] #2446 closed

[2021-11-29 05:39] eldadfux commented on #1947
@PineappleIOnic  Let's keep it open until the actual release. Adding the label `waiting for release`.

[2021-11-29 05:42] eldadfux commented on #1775
Yes, sure.

[2021-11-29 06:10] eldadfux commented on #2418
Maybe for start, just allow callbacks in the SDK level, no implementation on the server side, or is that already supported?

[2021-11-29 06:38] eldadfux commented on #1888
Thank you @GunjanDhanuka

[2021-11-29 06:38] #1888 closed

[2021-11-29 09:23] christyjacob4 commented on #2444
@tananga thank you for reporting this issue. I think we have some resources to help you out.

We've written an OAuth Guide for Google which you can refer to.
https://gist.github.com/christyjacob4/249841263f6cc0beb5b1ce8bf613b7c2

Please follow these steps and the accompanying video clips and let us know if this issue still persists. 🙂

[2021-11-29 18:14] atharva137 commented on #2284
@Meldiron  Hello I would like to work on this issue

[2021-11-29 18:24] tananga commented on #2444
Thank you @christyjacob4  :) I will follow your instructions and let you know if I made a progress.

[2021-11-29 23:53] tananga commented on #2444
@christyjacob4 I still have a problem. Right now I can create a user with my Google account but instead of being redirect to app appwrite.io website is opened with big text "Missing Redirect URL". But most intresting part is logs in ngrok:

GET /v1/account/sessions/oauth2/google/redirect               500 Internal Server Error
GET /v1/account/sessions/oauth2/google/redirect               301 Moved

[2021-11-30 05:52] lohanidamodar commented on #2443
I see what you mean, I don't think we are generating the payload dynamically at the moment. @eldadfux ?
![image](https://user-images.githubusercontent.com/6360216/143993102-039a63e2-adfe-42c7-89b4-5960b7a1da55.png)

[2021-11-30 06:00] eldadfux commented on #2443
The params table in the docs represents the REST API param names, not the SDK one. This is true to all SDKs, is python the only one not using camelCase?

[2021-11-30 07:10] lohanidamodar commented on #2411
Yes, that seems to be the best approach

[2021-11-30 16:06] wess commented on #2388
Could make the value fields have the eye-icon toggle button to flip type between "password" and "text" like login forms do now.

[2021-11-30 16:24] symaticvisuals commented on #1775
Sure I'll start working on it.

[2021-11-30 18:10] achintya-7 commented on #1920
Hey, I have seen that it's been quite a time and no one has submitted the python implementation of this issue. Can I work on this with python

[2021-11-30 21:37] tananga commented on #2444
Problem solved thanks to @christyjacob4 and Discord user: Drake. If you follow this tutorial https://www.youtube.com/watch?v=Uds1dTdq2_s&list=PLUiueC0kTFqITusEntt8bjhm20hv30Fsa&index=14
your function oAuthLogin should looks like this:

[code]

If you dont put success and failure as empty string weird things happens.

Once again thank you @christyjacob4. If anyone have similar issue you can send me

[2021-11-30 21:37] #2444 closed

[2021-11-30 21:45] christyjacob4 commented on #2444
Happy to help and thank you for leaving the solution here 🙏

[2021-12-01 05:46] lohanidamodar commented on #2443
So it seems at the moment. May be we should make it clear somehow, that these are the actual REST API param names and not SDK params (which i think Request heading should signify as well)

[2021-12-01 05:49] lohanidamodar commented on #2378
We don't need to increase memory_limit as we will be handling large files in chunks and reading in stream, so with the upcoming large file support we should be able to support handling file size that storage like S3 support. We will definitely have more updates regarding this soon.

[2021-12-01 07:49] kiloki-official opened #2454 "📚 Documentation: listDocuments with filters in PHP"
### 💭 Description

I love appwrite but documentation is really poor.

Could you please show me a FULL example of how to use listDocuments on a database WITH filters in PHP.

Thanks

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://gi

[2021-12-01 08:18] arieffajargemilang opened #2455 "🐛 Bug Report: Dart runtime 2.14 does not showing in the dropdown."
### 👟 Reproduction steps

i wanna create function using dart, but i cant fine dart runtime.

what I have done :

- pull dart runtime
`
docker pull appwrite/runtime-for-dart:2.14
`

- add dart to .env
`
_APP_FUNCTIONS_RUNTIMES=node-16.0,php-8.0,python-3.9,ruby-3.0,java-16.0,dart-2.14
`
`
_APP_FUNCTIONS_ENVS=node-16.0,php-7.4,python-3.9,ruby-3.0,java-16.0,dart-2.14`

- run docker compose [from this

[2021-12-02 03:42] itsdevm commented on #2305
I would like to work on this issue. :)

[2021-12-02 12:17] eldadfux commented on #2443
Maybe we can change the `Request` title to `HTTP Request`? and `Response` to `HTTP Response`?

[2021-12-02 14:25] stnguyen90 commented on #2321
I believe this is because the documents are fetched as the admin user who's logged in so only the data that user has access to is returned.

[2021-12-02 14:28] stnguyen90 commented on #2405
I think this is the problem: https://github.com/appwrite/appwrite/blob/a1a4584095768f25b616ffa53bfee417c866c541/app/controllers/api/teams.php#L771

It tries to update the team, but the user doesn't have rights to update the team

[2021-12-02 16:13] TheMardy commented on #2321
Indeed, with a fresh install of 0.11 only the documents with "role:member" or "*" are added to the total document count on the dashboard. But wouldn't it make the document statistic totally useless?

[2021-12-02 17:28] stnguyen90 commented on #2321
Yes, I think it's a bug that needs to be corrected.

[2021-12-02 22:01] kitarp29 commented on #2447
@eldadfux If no one is working on it. I can do that

[2021-12-03 05:32] lohanidamodar commented on #2443
Sounds like a plan to me

[2021-12-03 16:26] Silfalion opened #2457 "🐛 Bug Report: dart 2.14 not showing up as an env for functions on arm based machines"
### 👟 Reproduction steps

- add dart 2.14 as an environment to the .env file
- Docker-compose up -d in terminal
- Try to create a cloud function with a dart 2.14 env

### 👍 Expected behavior

To see the dart 2.14 env in the drop down list

### 👎 Actual Behavior

The new env doesnt show

### 🎲 Appwrite version

Version 0.11.x

### 💻 Operating system

Something else

### 🧱 Your Environment

Its an a