[2019-09-02 06:59] eladcandroid opened #3 "[Feature] - Set console port by parameter"
Now when port 80 is busy, there's an error and we need to set it manually on the docker-compose file..

[2019-09-02 07:02] eldadfux commented on #3
Hi Elad, Thanks for the feedback, I will definitely make a priority to try and release this feature ASAP.

[2019-09-02 14:22] macdougall opened #4 "register hangs."
1. Follow instructions to install the application from the GitHub README.
2. Navigate to localhost
3. Go through register form, press signup.

The app will hang, never returns and spins.

 10.14.6 (Mojave)
  Model Name:	MacBook Pro
  Model Identifier:	MacBookPro14,2
  Processor Name:	Intel Core i7
  Processor Speed:	3.5 GHz
  Number of Processors:	1
  Total Number of Cores:	2
  L2 Cache (per Core)

[2019-09-02 14:28] eldadfux commented on #4
Hi @macdougall, Does the server returns any status code? if yes please paste the response headers and body here.
Will also be useful if you could paste your containers status using 'docker ps' command.

[2019-09-02 14:45] eldadfux commented on #3
I am working on creating a simple generator in the Appwrite home page to help users generate a quick installation using their own custom docker-compose env vars.

In the new form I want to allow users to change the server port, encryption key, SMTP credentials and probably more things along the way.

The result of the form will be a simple one-line installation command which will pass query string

[2019-09-02 15:45] macdougall commented on #4
No status codes returned.  But my containers are running in the background so I'd have to run a log off the docker command to check that.  Here's my running containers:

[code]

[2019-09-02 16:17] eldadfux commented on #4
Everything does seems to be running well, To try and figure whats going on I need more data. Can you try and paste some logs for both appwrite and mariadb conatiners?

Another thing that might help is to debug the nginx error log inside the appwrite container.
To get it, just run:
`docker exec -it 6be16643c81c bash`

and in the conatiner run:
`cat /var/log/nginx/error.log`

[2019-09-02 17:29] macdougall commented on #4
I have nothing in those log files.  In fact, they are empty.

root@6be16643c81c:/var/log/nginx# ls -alt
total 8
drwxr-xr-x 1 root     root 4096 Sep  2 16:13 ..
drwxr-xr-x 1 root     adm  4096 Aug 24 09:13 .
-rw-r----- 1 www-data adm     0 Aug 24 09:13 access.log
-rw-r----- 1 www-data adm     0 Aug 24 09:13 error.log
root@6be16643c81c:/var/log/nginx# cat error.log
root@6be16643c81c:/var/log/nginx#

[2019-09-02 17:51] eldadfux commented on #4
This is becoming really hard to debug, do you still have access to http://localhost?

The server stop responding only after form submission?

Maybe try to remove all containers using 'docker-compose down' and then delete the appwrite-ce directory and run setup script again. Let me know if you have any lead.

[2019-09-02 19:23] macdougall commented on #4
I think the SMTP server is hanging.

mtp_1      |   273 LOG: MAIN REJECT
smtp_1      |   273   H=appwrite-ce_appwrite_1.appwrite-ce_default (localhost.localdomain) [192.168.32.2] F=<team@appwrite.io> rejected RCPT <removed>: relay not permitted
smtp_1      |   273 LOG: smtp_connection MAIN
smtp_1      |   273   SMTP connection from appwrite-ce_appwrite_1.appwrite-ce_default (localhost.localdomain)

[2019-09-02 19:47] eldadfux commented on #4
This is a known issue where Gmail and other email providers reject messages sent from an ISP IP address. Anyway the Appwrite API ignores this type of errors and they do not cause any problem when using the stack on a dev environment.

Anyway if you have any indication that this might be the problem, you can edit the docker-compose file and change to your own 3rd party SMTP server using this vars:

[2019-09-02 20:31] macdougall commented on #4
Ok, I'll look at that but I think you should consider using something like https://mailcatcher.me/

This will catch smtp messages so you're not having to configure a dev. server for production emails.

[2019-09-03 04:55] eldadfux commented on #4
@macdougall that might be a really good idea, I will definitely take a closer look at it.

[2019-09-03 11:50] macdougall commented on #4
This will remove the idea of having to configure an SMTP server.  I've used it in several projects and it's helpful because you'll never have to have to explain the issue -- the only thing a person will need to do is to configure the email server for production and remove mailcatcher.

[2019-09-03 13:32] eldadfux commented on #3
Until the advanced setup generator will be ready, I have added an option to change the installation docker-compose.yml port by passing a query string param to the endpoint URL.

Example:
[https://appwrite.io/docker-compose.yml?port=2000](https://appwrite.io/docker-compose.yml?port=2000)

I have also added a section in the docs explaining hot to setup the server using a different port number.

[2019-09-03 13:32] #3 closed

[2019-09-03 15:01] macdougall commented on #4
I did a clone on the repo, I can't get this to build locally.  Is there anything I need to do?

Running a "docker-compose build", I'm getting the following error:

Step 35/38 : ADD ./vendor /usr/share/nginx/html/vendor
ERROR: Service 'appwrite' failed to build: ADD failed: stat /var/lib/docker/tmp/docker-builder903152574/vendor: no such file or directory

What are the projects requirements, maybe

[2019-09-03 15:05] eldadfux commented on #4
To run locally:
[code]

[2019-09-03 15:06] eldadfux commented on #4
You will need php package manager composer to set it up: https://getcomposer.org/

[2019-09-03 15:11] eldadfux commented on #4
After giving some thought to this idea, I am worried this might be an anti-pattern for a microservice and containers based architecture, can mailcatcher run as a standalone container? maybe something like a mock SMTP server?

Otherwise, It might be best to just cancel the mail sending at all when not running in production.

[2019-09-03 15:24] macdougall commented on #4
Mailcatcher runs as a microservice. In fact, it's following the pattern of a microservice. Here's what I have in my docker-compose.yml for a project i'm working on:

  mailcatcher:
    image: schickling/mailcatcher
    ports:
      - 1080:1080
      - 2025:1025

[2019-09-03 15:36] macdougall commented on #4
I have a PR with mailcatcher added to the docker-compose.yml, if you want I can contribute to this. ;-) I've tested it and it works.

[2019-09-03 19:00] mixty1 opened #5 "[HELP-WANTED] Adding Support for More OAuth Providers"
Is it possible to add my own auth provider, for example, I need to add vk.com or maybe this feature will be added later?

[2019-09-03 19:38] eldadfux commented on #5
Hi @mixty1, currently have only 3 working OAuth providers working (facebook, github and linkedin).

I am working right now to simplify the process of adding new providers and I am going to write a detailed tutorial explaining how to add new providers to our source code.

This is an area where I really hope  the community will give a hand, as we need to support as many **major** OAuth providers as

[2019-09-04 01:14] jsaberon opened #6 "Can't sign up"
When I'm try to create an account it throws me an JSON responds

{"message":"SQLSTATE[HY000] [2002] php_network_getaddresses: getaddrinfo failed: Name or service not known","code":2002,"file":"\/usr\/share\/nginx\/html\/app\/init.php","line":68,"trace":[{"file":"\/usr\/share\/nginx\/html\/app\/init.php","line":68,"function":"__construct","class":"PDO","type":"->","args":["mysql:host=mariadb;dbname

[2019-09-04 04:23] eldadfux commented on #6
Hi this seems like your Appwrite instance is having trouble connecting with the MariaDB container.

To try and debug what failed, more information is needed:

1. Whats is your docker version?

2. Check your containers status using 'docker ps' command and paste it here.

3. If any of your Appwrite containers is down please paste the container log in here.

4. As this seems a database issue, please

[2019-09-04 04:32] eldadfux commented on #4
This could be a very good solution. We are still in a dilemma about how to make the installation process as easy as possible, but also allowing a smooth switch to production environment with a working mail server.

The whole SMTP thing is a big issue in the process, because we want to allow users with the options to easily use the 'appwrite native' SMTP container in production but also enabling a

[2019-09-04 07:13] eldadfux commented on #5
OK, I have added a short tutorial that explains the steps required to add a new OAuth provider to the project.

Still need to change some things regarding the way we add new provider logos, but should be enough to get started.

The tutorial is here:
https://github.com/appwrite/appwrite/blob/master/docs/AddOAuthProvider.md

And should followed after reading our new contribution guide:
https://githu

[2019-09-04 07:25] jsaberon commented on #6
Docker Version: Docker version 19.03.1, build 74b1e89

**docker ps**
[code]

I'm using Windows and I cant read the logs. because it is encrypted.

Please comment if you need more information

[2019-09-04 07:33] eldadfux commented on #6
From the logs you posted its seems your mariadb container has trouble starting ('Restarting (1) 19 seconds ago').

The only way to debug this is to get the mariadb logs, don't really know why you are having trouble to get them. Do you have any error message?

A way to try and bypass the problem is to delete your storage directory, your appwrite/mariadb container and image and run the 'docker-compo

[2019-09-04 11:25] macdougall commented on #4
I worked around my issues once I installed MailCatcher as a service and built from the repo.

[2019-09-05 03:06] jsaberon commented on #6
I change my maria db container port 3306:3306 to 3306:5000 and I encountered the same error

This is the new **docker ps**:
[code]

[2019-09-05 04:37] eldadfux commented on #6
When changing mariadb port number make sure to let the 'appwrite' container know about the new port with the '_APP_DB_PORT' env variable.

it should look like this:

[code]

Another thing to make sure is that the port was really the problem. Did you get error from docker indicating the port is already taken? As I wrote before, the best way to debug a container that keeps restarting is to check for

[2019-09-05 04:59] jsaberon commented on #6
I change the `yml` file to the configuration above and run `docker-compose up -d` and the maria db still restarting

**docker ps**
[code]

I try to run `docker logs [mariadb-container-id]` but the result is `Error: No such container: [mariadb-container-id]`

[2019-09-05 05:01] eldadfux commented on #6
you should change the [mariadb-container-id] with your container id, from looking at your logs this:
57dca687126b

[2019-09-05 05:05] jsaberon commented on #6
this is the logs from maria db

[code]

[2019-09-05 05:17] eldadfux commented on #6
OK great, now we have a lot more information. This definitely seems like MariaDB/MySQL issue.

Solution 1:
I am not completely sure about this, but I found it online and it seems related to your issue:
https://manage.accuwebhosting.com/knowledgebase/2318/How-to-Fix-MySQL-Error-Plugin-andsharp039InnoDBandsharp039-registration-as-a-STORAGE-ENGINE-failed.html

Solution 2
If still having trouble solvi

[2019-09-05 05:33] jsaberon commented on #6
This is the new error. I don't know how to access the pertaining folder in this error or where I can find it.

[code]

[2019-09-06 09:02] eldadfux opened #7 "Help us choose JS coding standards!"
Currently we are using the PHP-FIG for our PHP coding standards but we don't have any standards to follow when it comes to JS code writing.

What in your opinion will be most suitable? It is important that the new standards we will use will be popular in the community and will have great good ecosystem around them.

[2019-09-06 16:36] TheDoctor0 commented on #7
I would suggest [Airbnb Javascript Style Guide](https://github.com/airbnb/javascript).

I checked the source code and it seems that PSR-1 basic standard rules were mostly ignored, which violates requirements for PSR-2 / PSR-12.
I see that PHP 7.3+ is required, but features such as type hinting for parameters or [null coalesce operator](https://github.com/appwrite/appwrite/blob/master/app/workers/t

[2019-09-06 16:58] eldadfux commented on #7
Hi @TheDoctor0, Thanks for the feedback!

I will run, php-cs-fixer on the current code base, to make sure all code is consisted with psr-1 and psr-2.

As I mentions in the contributors guidelines, I haven't really reviewed PSR-12  yet, but I hope to do so in the upcoming days.

Are there any tools like php-cs-fixer that can help us fix the current JS code to match the Airbnb style guide?

[2019-09-06 17:08] TheDoctor0 commented on #7
You can use [ESLint](https://eslint.org/) with Airbnb [config](https://github.com/airbnb/javascript/tree/master/packages/eslint-config-airbnb).

[2019-09-06 17:13] eldadfux commented on #7
Great, I will give it a try.

I have also just finished to commit all the changes that the PHP-CS-FIXER applied to the code to make it more compatible to the PSR-1+2.

[2019-09-08 19:53] nati-levi commented on #7
@eldadfux I also recommend, like the doctor, on `ESLint`.
We in climacell use the rules of `Airbnb`, together with `jest` (for testing), and add some of our own taste. you can see the config here if you like:
[code]

[2019-09-08 19:58] eldadfux commented on #7
Thanks for the feeback @nati-levi ! seems like airbnb is the industry favourite...

[2019-09-08 20:30] nati-levi opened #8 "[bug] changing project name updates project dropdown in top bar only after refresh"
self hosted environment.

[2019-09-08 20:30] nati-levi opened #9 "[bug] - full usage report button sends to login screen and then to project home again"
self hosted environment

[2019-09-08 20:33] millette commented on #7
https://prettier.io/ is also a popular option. It not only lints but reformats, supporting js, css, html, markdown and even [php via a plugin](https://github.com/prettier/plugin-php).

[2019-09-08 20:34] nati-levi opened #10 "[docs] make it easier to understand how to use the self hosted environment API"
Tried to used the API from postman.

Searched for the base URL in the settings, with no luck. Eventually, i inferred from the code that it is `http://localhost/v1/`.

Also, no place stated that the key should be sent as header `X-Appwrite-Key`.

[2019-09-08 20:36] eldadfux commented on #9
Yeh it's actually a future feature that haven't been implemented yet. I will just remove the button for now.

[2019-09-08 20:43] eldadfux commented on #10
It is a good idea to have the UI indicating the API base endpoint. Maybe we can add it to the project settings and to the new platform dialog window.

The X-Appwrite-Key header is used to pass the secret API key and should only be used when integrating with a server side language. It can be a **MAJOR** security issue when being used directly in your client code and this is why it's not being menti

[2019-09-08 20:44] eldadfux commented on #8
Confirmed, will be fixed in next version.

[2019-09-08 20:46] mgkimsal opened #11 "[bug] - all login params are required"
Calling from JS `aw.auth.login(this.username, this.password);`

yields back

The 'success' and 'failure' URLs are still required by the backend.

This might be related to
https://github.com/utopia-php/framework/commit/5ac8c91de53166ca7c03c82b55ed717a66362876#diff-58980ac23a3a9a0b92abd9805eed1e78

in Utopia forcing default values?  It's a bit hard to follow as I'm not sure what 'param' method is do

[2019-09-08 20:47] nati-levi commented on #10
I see.
So what the way to authenticate from postman like requests?

On Sun, Sep 8, 2019, 23:43 Eldad A. Fux <notifications@github.com> wrote:

[2019-09-09 03:47] eldadfux commented on #9
Committed a fix for this one. will be released with next version.

[2019-09-09 03:47] #9 closed

[2019-09-09 03:51] eldadfux commented on #8
Committed a fix for this, will be released in next version.

[2019-09-09 03:51] #8 closed

[2019-09-09 04:00] eldadfux commented on #11
Yes, actually we had to change the original implementation after browsers started blocking 3rd party cookies that we were using for sessions. I guess the code examples got out of sync, I will make sure to fix it.

I will have to take a deeper look at the default param issue and see how we can fix it.

[2019-09-09 04:09] eldadfux commented on #10
Well, it is really depends on what you are trying to achieve with postman.

If you are just trying out the API the best way is probably by treating it as a backend and just passing an API key.

If you want to mock real user behaviour, you need to use the entire register-login flow to obtain a user session cookie, and then add it to all other requests.

This might be easier if in some point we will

[2019-09-09 12:14] mgkimsal commented on #11
Thanks.  I may try to dig on this this evening or tomorrow.

[2019-09-10 06:24] imronpuji opened #12 "i m using linux ubuntu"
i cant install,, and icant use can you help me please

[2019-09-10 11:36] eldadfux commented on #12
@imronpuji Any error message? In order to help we must have more details.

[2019-09-10 12:15] Almoullim commented on #6
I just had the same issue. Seems like as of MariaDB 10.3+ this issue happens when you bind a volume to `/var/lib/mysql`. For now, the only solutions seem to use MariaDB 10.2 or older.

[2019-09-10 13:01] imronpuji commented on #12
I dont see,,, how to install it on linux terminal,,, i dont know how to open locale host after it installed...

[2019-09-10 13:02] imronpuji commented on #12
Sorry because im new,,, using linux ubuntu,,, i didnt see how to use it... Can you helpme please,, i didnt find error message because i didnt install it...

[2019-09-10 13:17] Almoullim opened #13 "Support for dart? (Status inquiry)"

[2019-09-10 15:08] BogDAAAMN opened #14 "[bug] Project UID Copy to clipboard button is empty"
**Description**

Under a project settings, the button that is supposed to copy the Project UID is not working. After pressing it I get an empty string on paste.

**Reproduce**

1. Go to a project settings page
2. Click on _Copy to clipboard_ button

**Desktop**

- OS: MacOS Mojave 10.14
- Browser: Firefox 7.0.2 (64-bit)

[2019-09-10 16:35] eldadfux commented on #13
Hi @Almoullim, support for dart in on top of our lists, if you would like to help let me know!

[2019-09-10 16:40] eldadfux commented on #12
@imronpuji installing Appwrite for linux is same as on mac. If you are trying to install it on a server instead of your localhost use your server ip to access the console.

If you still struggle I would suggests reading a little more about how Docker works.

I guess this not a specific Appwrite issue so I am closing the issue. For any more help you can also use the 'Appwrite Developers' group on F

[2019-09-10 16:40] #12 closed

[2019-09-10 18:15] eldadfux commented on #14
@BogDAAAMN Thanks for the bug report! A fix has been committed to the master branch and will be release in next version.

[2019-09-10 18:15] #14 closed

[2019-09-10 18:22] eldadfux commented on #6
@Almoullim yes, sure.. but do you have any reference to the original issue in windows so I will be able to track it for changes and upgrade back when fixed?

[2019-09-10 23:18] Almoullim commented on #6
@eldadfux Don't have anything that you can track, many issues around in the docker-library/mariadb repo opening and closing about this, most of the information can be found here https://github.com/docker-library/mariadb/issues/95 and here the pull request that enabled the flag https://github.com/docker-library/mariadb/pull/168

passing the flag should be the current fix `--innodb-flush-method=fsyn

[2019-09-11 02:30] Daniellunsc commented on #7
Another point to Eslint + Airbnb style guide, most projects today i use it and seems very popular.

[2019-09-11 04:04] ROtiong opened #16 "ERROR: Couldn't connect to Docker daemon at http+docker://localhost - is it running?"
I'm setting up the project and following the setup guide. however I bump into an error which is not mentioned on the documentation and would save time for few seconds of searching on the solution if its already on the setup guide. here's what I encounter when setting up.

![image](https://user-images.githubusercontent.com/48898573/64667239-c7415100-d48b-11e9-8a4a-b1ce29dfed92.png)

So basically I

[2019-09-11 04:08] #16 closed

[2019-09-11 04:08] Riyenz opened #17 "ERROR: Couldn't connect to Docker daemon at http+docker://localhost - is it running?"
I'm setting up the project and following the setup guide. however I bump into an error which is not mentioned on the documentation and would save time for few seconds of searching on the solution if its already on the setup guide. here's what I encounter when setting up.

![image](https://user-images.githubusercontent.com/48898573/64667239-c7415100-d48b-11e9-8a4a-b1ce29dfed92.png)

So basically I

[2019-09-11 05:43] Riyenz opened #18 "SQLSTATE[HY000] [1130] Host '172.19.0.8' is not allowed to connect to this MariaDB server"
After freshly setting up appwrite on my local and try to test the sign up functionality. I encountered the error **"SQLSTATE[HY000] [1130] Host '172.19.0.8' is not allowed to connect to this MariaDB server**. Screenshot below:
![image](https://user-images.githubusercontent.com/31911993/64671151-11313380-d49a-11e9-8b07-2948ec682083.png)

![image](https://user-images.githubusercontent.com/31911993/6

[2019-09-11 11:40] DevSnap opened #19 "Missing documentation on collection rules/validators."
I noticed there is no documentation of the rules/validators.
I suppose they need to be inserted into the API reference.

[2019-09-11 12:36] mgkimsal commented on #7
Have had good success working with prettier.io as well (both for PHP and JS).

[2019-09-11 14:35] danyalasif commented on #7
Voting for prettier too, ever since it makes code seamless across multiple people, you can set up auto-formatting whenever someone pushes code too which at least standardizes the coding conventions!

[2019-09-11 15:34] eldadfux commented on #19
Confirmed. I will check it out and try to add some docs on this issue later today or tomorrow.

[2019-09-11 15:38] eldadfux commented on #18
Should check and see how we can add this solution by default to the appwrite/mariadb image in this repo:
https://github.com/appwrite/docker-mariadb

I am marking this issue as 'help-wanted', if no help is out there I will probably get to it after solving other more urgent issues.

[2019-09-11 15:44] eldadfux commented on #17
Requesting sudo permission by default seems a little bit harsh, I know that I am constantly avoiding from installing tools and softwares the require root permission without any reasonable reason. Also, this seem to be more like a Docker issue rather than an Appwrite one.

If this seems to hit a lot of developers we will add a note about it in the docs.

[2019-09-11 15:44] #17 closed

[2019-09-11 15:52] Almoullim commented on #13
@eldadfux I am interested but I'm not sure how to go about using your SDK generator. I never took the time to fully learn PHP. I'd probably do it solely in Dart.

[2019-09-11 15:52] Almoullim commented on #13
Didn't mean to close it.

[2019-09-11 16:06] eldadfux commented on #13
If you could help and make a partial SDK implementation (implementing even just one route!), I could probably convert it to a twig template and then add it into our SDK generation process so it will be auto synced with any API changes.

Just make sure to follow or SDK generation spec checklist as listed in our sdk-generator repo:
https://github.com/appwrite/sdk-generator#sdk-checklist

I thinks it

[2019-09-11 17:01] eldadfux commented on #19
@MrNiceDev don't want to leave you hanging until i'll be able to complete missing docs.

Here is an example JSON with complete collection structure, of course this is not a replacement for full documentation but at least something to be able to play around with.

[code]

[2019-09-11 17:40] MrNiceDev commented on #19
@eldadfux
Thanks i really appreciate it.

[2019-09-13 07:18] eldadfux commented on #13
OK, So just an update for does watching this issue.

@Almoullim have forked the SDK generator and started working on adding new dart templates to it.

Anyone wishing to help or give feedback on this one, can contact @Almoullim, me or join us on Appwrite gitter channel:
https://gitter.im/appwrite/community

[2019-09-13 07:23] eldadfux commented on #4
Improving SMTP integration across env's issue has been added to the roadmap with a reference to this page. Closing this issue because problem seems to have a workaround.

[2019-09-13 07:23] #4 closed

[2019-09-13 10:53] eldadfux commented on #7
Hi guys! Thanks you all for the great advices! I have just formatted all of our entire JS codebase with prettier thanks to the easy integration with VS Code.

The fact that it can also support our PHP codebase can be a great bonus and although the Airbnb standard seems very popular, It seems more logical to go with the open-source project standard.

[2019-09-13 10:53] #7 closed

[2019-09-15 15:49] doricci opened #20 "Unable to create database document"
First of all, thank you for your awesome work!!

I currently tring to create a set of service for Angular that will communicate with the REST API of Appwrite.

When I'm trying to create a new document in a collection from the database, I got a PHP error:
[code]
This error appear if I'm using a REST client or if I call the backend from my service.

This is my request :
- Method: POST
- path: /v1/da

[2019-09-15 16:04] eldadfux commented on #20
@doricci, first of all seems like it is a bug, because the server is printing an uncaught error - I will make sure to fix it by the next release.

Regarding this specific issue, you should pass the data param as a JSON object and not a string.

Make sure you have created a collection with matching structure to be able to pass the document creation validation.

If you have problems creating a new c

[2019-09-15 16:08] eldadfux commented on #20
I might also be able to check if data parameter is a string and try to parse as a JSON to try an avoid this kind of an obvious confusion.

[2019-09-15 16:25] doricci commented on #20
@eldadfux thx for the quick answer!

I'm sending the data as a json object
[code]
and I get the current error now:
[code]

[2019-09-15 16:28] doricci commented on #20
For all the call about the collection, I have no issues, I find that the REST Client and the JS SDK are clear and doesn't need a lot of knowledge to be understood

[2019-09-15 16:34] eldadfux commented on #20
Umm, this is another thing that should be fixed by next version.

To fix it now just add '$collection' key to your data parameter JSON:

{
  "$collection": "YOUR_COLLECTION_ID_SAME_AS_IN_PATH",
  "data": {"test":"test"},
  "read": [],
  "write": [],
  "parentDocument": "",
  "parentProperty": "",
  "parentPropertyType": "assign"
}

[2019-09-15 16:35] eldadfux commented on #20
@doricci feel free to join us on gitter as well.

https://gitter.im/appwrite/community

[2019-09-15 16:53] eldadfux commented on #20
Committed a fix for the missing collection issue:
https://github.com/appwrite/appwrite/commit/a5c3e978e8b826f462b266468f73aa3fee0e69ec

[2019-09-15 17:02] fosteman opened #21 "Can't fire up the container"
I'm running macOS with `docker-toolbox` installed from `cask`

Here's error log. Any ideas ?

[code]

[2019-09-15 17:10] eldadfux commented on #21
Please post the docker-compose.yml you are using. Have you cloned the repo and tried to run docker-compose directly? or are you using the one-command installation as recommended in the README.md file?

[2019-09-15 17:13] fosteman commented on #21
I'm following instructions as outlined in `CONTRIBUTE.md`
Here's `docker-compose.yml`
[code]

[2019-09-15 17:17] eldadfux commented on #21
This is your issue. You have to run PHP composer before running docker-compose up -d. Follow setup instruction closely.

If you just want to check the project and not contribute and easier way to install is this:
https://github.com/appwrite/appwrite#installation

[2019-09-15 17:39] eldadfux commented on #10
![image](https://user-images.githubusercontent.com/1297371/64925386-7b2e3d80-d7f8-11e9-8160-4792f7ae9505.png)

Added this just near the project ID to make life a bit easier.

Committed to master branch, will be released in next version.
https://github.com/appwrite/appwrite/commit/20234f6a7c5894cb3ff9447d9210fdebd0eb3840

[2019-09-15 17:39] #10 closed

[2019-09-15 17:53] doricci commented on #20
Thank you, now I'm able to add a document to the collection with the fix that you suggested, but the $collection has to be in the data object that is send.

I waiting the next release to remove this fix from my code!

I missed the documentation about the creation of the collection that you mentionned in #19 .

But thank you again for the quick answer and the great work!!

[2019-09-15 17:56] eldadfux commented on #20
Happy to help, I am already working on the fix, should be a one liner quick fix and probably be shipped in next version (might be out this week!).

[2019-09-15 19:36] #21 closed

[2019-09-16 10:54] yossi-eynav opened #22 "Some comments from a user"
@eldadfux great project!

Some notes:
1. I would like to see some use cases for every feature
2. How would you recommend to deploy it to production? on top of k8? AWS ECS ?
Maybe some docs on that?
3. How would the uploaded files be persistent?  I would want to upload it to AWS / GCP instead of docker volume.
4. Just an Idea-  maybe you can have some build in integrations with Cloudinary for insta

[2019-09-16 12:50] eldadfux commented on #22
1. We are working really hard on improving our documentation all the time. Just last week we added and fixed a lot of things. We will surely get more examples and better knowledge base as time goes. If you have any specific issue just raise it up here, on our gitter community or on 'Appwrite Developers' group on Facebook.

2. Appwrite is trying to be un-opinionated and technology agnostic really h

[2019-09-17 14:04] dielsonsales opened #23 "Error when building on Mac OS"
I tried building the docker images from Mac OS Mojave, but got the following error:

[code]

**OS:** MacOS Mojave 10.14.6
**Docker Desktop:** 2.1.0.3 (38240)
**Engine:** 19.03.2
**Compose:** 1.24.1

[2019-09-17 20:31] eldadfux commented on #23
@dielsonsales please follow installation as mention on the main README file. Notice you don't need to clone the repo.

If you wish to setup a development environment to apply code changes check this tutorial:
https://github.com/appwrite/appwrite/blob/master/CONTRIBUTING.md#setup

[2019-09-18 21:03] #23 closed

[2019-09-18 21:03] #22 closed

[2019-09-19 06:35] mikehac commented on #6
Hi there,
I tried to do as @Almoullim suggested, but still same problem(Connection Refused),
The json I received is as following:
`{
message: "SQLSTATE[HY000] [2002] Connection refused",
code: 2002,
file: "/usr/share/nginx/html/app/init.php",
line: 70,
trace: [
{
file: "/usr/share/nginx/html/app/init.php",
line: 70,
function: "__construct",
class: "PDO",
type: "->",
args: [
"mysql:host=mariadb;dbn

[2019-09-22 13:24] mikehac commented on #6
![image](https://user-images.githubusercontent.com/3668348/65388516-1c674780-dd55-11e9-9d0a-e3d8735ad8ce.png)
Are you going to organize hackaton and give a price to the winner that will fix issues that are under this label??

[2019-09-23 18:12] eldadfux commented on #6
@mikehac You can learn more here: https://medium.com/@eldadfux/hacktoberfest-2019-is-almost-here-lets-celebrate-it-together-24b311236dd

[2019-09-23 18:22] eldadfux opened #24 "Create a Helm Chart for Appwrite"
Create a Helm chart for Appwrite to allow DevOps to easily setup the server stack in any Kubernetes based cluster.

[2019-09-23 18:26] eldadfux opened #25 "Help Translate Appwrite Locale and Email templates"
Currently, Appwrite locale and email templates support 44 locales. We need help supporting more languages and improving current translations.

Translating is as easy as adding a few PHP file with new locale as prefix in file names.

## Update (#Hacktoberfest 20)
Please submit any PRs against branch `0.7.x` with the updated file structure, as shown below ⬇️

## Structure
List of file required for n

[2019-09-24 03:53] eldadfux opened #26 "Help us add support for more SDKs!"
We use our [SDK generator](https://github.com/appwrite/sdk-generator) project to auto-generate SDKs from our API spec JSON file.

All information on how to add new templates for a new language are in here:
https://github.com/appwrite/sdk-generator/blob/master/CONTRIBUTING.md

You can also use one of our existing language templates as a base for a new one.

We currently have support for:
* PHP
* Ja

[2019-09-24 06:15] doricci commented on #20
Hey, thanks for your time, now I'm able to login and register a new user without the api key, my issue was with angular, the session cookie wasn't set after the login ....

But now that I'm logged, the user is unable to create or read new collections.
`xxxx@yyy.zzz (role: member) missing scope (collections.read)` and I have `xxxx@yyy.zzz  (role: member) missing scope (collections.write)` when I tr

[2019-09-24 18:29] eldadfux commented on #20
As mentioned before, this is a section of the documentation that is lacking and I am working on improving it + providing some real world examples.

Currently, Appwrite only allows creation of new collection using a Server SDK + API key + Relevant Scope ('collections.write'). This is meant to avoid users from abusing your collection creation endpoint.

If you want to allow all users to create new d

[2019-09-25 03:40] eldadfux commented on #20
@doricci another thing I forgot to mention, in coming version we will add support for creating collections directly from the dashboard, which will make this process easier when getting started.

[2019-09-25 06:04] doricci commented on #20
Ok thanks!
I'll wait the next release then.

[2019-09-25 06:04] #20 closed

[2019-09-25 15:53] christyjacob4 commented on #5
Hey guys I would like to work on this. Please let me know if I can! Cheers!

[2019-09-25 16:40] eldadfux commented on #5
Hey @christyjacob4, sure you can. That will be amazing.

Before forking, please let us know here which providers you want to add first.

Also, make sure to read the [contribution guide](https://github.com/appwrite/appwrite/blob/master/CONTRIBUTING.md) to follow our standards and best practices.

If anything is not clear please let me know. You can also join our Gitter community for live support an

[2019-09-25 17:03] christyjacob4 commented on #5
Hey @eldadfux  Thanks for the prompt reply. I would like to start with Google and as I get familiar with the process would like to add more providers like Gitlab etc.. If you have any suggestions please let me know.

I'll approach you in case something is not clear.
Cheers!

[2019-09-25 17:13] eldadfux commented on #5
@christyjacob4 Google & Gitlab sounds great! I am available for any question!

[2019-09-25 18:43] daniloff200 commented on #25
I can help with Ukrainian and Russian localizations :) gonna create a PRs with that

[2019-09-25 18:45] eldadfux commented on #25
@daniloff200 Amazing! let me know if you have any question. Feel free to join our Gitter community for live support and discussions.

https://gitter.im/appwrite/community

[2019-09-25 18:57] jbehrens94 commented on #18
Doesn't look like a good idea to me to just use `root@%`. Instead, I presume this bug to be caused by underlying MySQL changes in password systematics since MySQL 8.0. Can somebody confirm this? I haven't had time to look into the repository itself and this error reminded me directly of a MySQL issue I had in 8.0.

[2019-09-26 00:01] jessescn commented on #25
Hello, i can help in translate locale and email templates into Brazilian Portuguese (ptbr).

[2019-09-26 00:14] cho0o0 commented on #25
I can pick up Japanese and Chinese. Do I need to create the PRs during October since it seems that the issue is labeled by hacktoberfest?

[2019-09-26 05:55] eldadfux commented on #25
@jessescn, @cho0o0 That will be an amazing addition to the project! Thank you both! If you need any help, just let me know.

Also, feel free to join our Gitter community for live help and discussions.

@cho0o0 if you want your pull request to get counted for a DigitalOcean T-Shirt you probably better wait for October 1st before submitting.

[2019-09-26 10:45] valishah commented on #5
Hey @eldadfux: Is it fine if I grab github oAuth and work?

[2019-09-26 11:06] eldadfux commented on #5
Hey @valishah, actually we already have implementations of Facebook, *Github* and Linkedin ready and working and @christyjacob4 is working on now on Google and Gitlab integrations.

But you can just tell me if there is any other provider you would like to work on and I will make a list to help future contributors know what integrations are still missing or in work.

[2019-09-26 11:47] Chaaarles commented on #25
I can help with a Norwegian translation <3<3

[2019-09-26 13:05] eldadfux commented on #25
@Chaaarles that will be amazing. Feel free to join us on Gitter:
https://gitter.im/appwrite/community

[2019-09-26 19:27] Soundug commented on #25
@cho0o0 I can help with Japanese translation. Do let me know if you need any help.

[2019-09-26 22:07] eldadfux commented on #25
@Chaaarles @Soundug @cho0o0 @jessescn @daniloff200 Please notice I have updated the list above and added this file for translation:

https://github.com/appwrite/appwrite/blob/master/app/config/locale/en.php

It had a lot of junk in it so I had to clean it to make sure it has only what we need for translation.

[2019-09-26 23:30] cho0o0 commented on #25
@Soundug Sure. I think we can cooperate like you do the email templates and I translate others. How do you like it?

[2019-09-26 23:36] cho0o0 commented on #25
@eldadfux I see. Though I think I can still win a T-Shirt without this count, why not make it a hacktoberfest PR😄

[2019-09-27 14:28] christyjacob4 commented on #6
@eldadfux The connection refused error occurs since

[2019-09-27 14:31] christyjacob4 commented on #6
@eldadfux The connection refused error occurs because the root user has hostname 'localhost' or '127.0.0.1' . The all.sql script is supposed to allow all connectins to the root user but in his case , all.sql might not be running because the permissions are over-written by www-data user.

[code]
Once the root user has the host '%' the connection refused error should go.

[2019-09-27 19:22] hexmind commented on #25
I can make Polish localization. I will create a PRs with that.

[2019-09-28 09:31] christyjacob4 opened #30 "Wrong Path in the OAuth Docs"
I found a mistake in the path in the Adding oAuth Providers documentation present at https://github.com/appwrite/appwrite/blob/master/docs/AddOAuthProvider.md.

![test](https://user-images.githubusercontent.com/20852629/65814540-c8e77480-e200-11e9-9dc2-5eca3ba142c0.png)

I will be fixing it shortly

[2019-09-28 12:25] Kiy4h commented on #25
Hi, I can help by translating to Indonesia. I'll make a pull request soon.

[2019-09-28 12:39] eldadfux commented on #25
@hexmind , @Kiy4h thats great, waiting for your PRs. If you have any questions you can ask here or join our Gitter community

[2019-09-28 18:48] EstherAF commented on #25
I can translate into spanish. Will prepare a PR 😄

[2019-09-28 19:14] alistairholmes commented on #25
Hi there :wave:, I would like to translate the email templates for now into French :fr: for now, if i have more time i can try the rest of the files :smile:

[2019-09-28 20:08] eldadfux commented on #25
We have a new PT-BR and ES locale 🇧🇷🇪🇸! If anyone has more Spanish locales please send a pull request...

[2019-09-29 01:23] RanadeepPolavarapu commented on #24
I'll take this.

[2019-09-29 04:52] eldadfux commented on #24
@RanadeepPolavarapu That will be great.

I guess I don't have much input on this task as I don't have too much experience with creating helm charts.

I guess it will be a good practice to follow our general guidelines of keeping things as lean, well documented and as standard as possible.

@RanadeepPolavarapu Do you think we need to add the chart in this repo or do you want me to open a new repo j

[2019-09-29 13:32] pessip commented on #25
I can help with Finnish locales. I'll send a PR when they are ready!

[2019-09-29 20:09] Kolkies commented on #25
I can help translating it in Dutch 🇳🇱. I will create a pr when done!

[2019-09-29 20:11] eldadfux commented on #25
Hey @Kolkies thats great, send a PR when you're ready.

[2019-09-29 21:01] KadenLNelson commented on #24
Just create the chart in this repository, it's redundant to manage it within another repository.

The default `values.yaml` should container production ready settings. Since you're publishing/providing the `AppWrite` application/helm charts, I wouldn't recommend including a `values.dev.yaml` within the same VCS as the helm chart being provided. This is something that should be created within a `de

[2019-09-29 21:11] eldadfux commented on #24
OK great! if you need any help feel free to contact me, we can also chat on Gitter.

[2019-09-30 09:56] tanmaymohan commented on #25
Hi, I can try translating it to hindi

[2019-09-30 10:05] eldadfux commented on #25
@tanmaymohan that will be great. let me know if you need any help.

[2019-09-30 11:39] 1qk1 commented on #25
I can translate it to Greek!

[2019-09-30 13:25] eldadfux commented on #18
Me & @christyjacob4 have fixed some issues we found in the DB directory. It seems like the Appwrite container have changed the DB directory read & write permissions on some linux distributions.

You can take a look at the fix in this commit: #37

This fix will be released in upcoming version 0.2.0 and theres a good chance it might help with this issue as well.

@Riyenz let me know if you can test

[2019-09-30 14:45] rhyseli commented on #5
Hey! I'd like to add support for Twitter

[2019-09-30 18:44] eldadfux commented on #5
Hey @rhyseli,

Currently, @christyjacob4 has added Google & Gitlab adapters and is working on these adapters:

* Bitbucket
* Instagram
* Microsoft
* Twitter

@christyjacob4 maybe you could use some help with the new adapters?

@christyjacob4 Also note that according to these docs (https://developer.twitter.com/en/docs/basics/authentication/api-reference/token) Twitter has added support for OAuth 2

[2019-09-30 20:17] tacoelho commented on #26
I want to do this :)

[2019-09-30 20:19] tacoelho commented on #25
I can translate do Portuguese-Brazil :)

[2019-09-30 20:54] tacoelho commented on #25
#40

[2019-09-30 20:55] tacoelho commented on #25
**#40 Add IT locale**

[2019-09-30 21:34] lacexd commented on #25
I'd love to do the Hungarian translation!

[2019-09-30 21:46] eldadfux commented on #25
That will be great. 🥳🇭🇺

[2019-09-30 21:59] Taminoful commented on #25
I'd love to help you out with the German translation. 🎉

[2019-09-30 22:40] eldadfux commented on #25
@Taminoful 👌🏻send a PR when you're ready

[2019-10-01 05:42] VMadalin commented on #25
I can help with translation to Catalan and Romanian

[2019-10-01 05:44] eldadfux commented on #25
@VMadalin we already have the Catalan (#36) and the Romanian (#57) translations but you can take a look and see if there is any room for improvements.

[2019-10-01 07:29] rhyseli commented on #5
Okay no problem. Shall I have a go with discord and twitch then?

[2019-10-01 07:56] kimuraz commented on #26
@eldadfux Can I get the NodeJS file upload feature?

Also, is there any plans to adopt linting (or whole style guides) for the SDKs? If so, I could work on it for python and/or javascript SDKs.

[2019-10-01 08:00] MasterKN48 commented on #25
If required to add Czech (CZ) language translation i can add.

[2019-10-01 08:35] LiTO773 commented on #25
Hi, I can do the European Portuguese translation (pt-PT). It has a few differences from pt-BR in some of its words and grammar rules.

[2019-10-01 09:38] christyjacob4 commented on #30
Fixed in #37

[2019-10-01 09:38] #30 closed

[2019-10-01 09:38] root-ansh opened #64 "Appwrite sdk - android"
Hi mobile app dev here.

When i check appwrite.io , i couldn't find any docs for Android SDK . I wanted to contribute by adding tutorials and getting started by reading the code, but to me, it looks like there isn't the libraries/sdks available for android.

Is this a case? If not, can you point me to some android code which could be used for implementing a server via this sdk for a sample mobile

[2019-10-01 10:18] eldadfux commented on #64
Hey @root-ansh, All Appwrite SDKs are auto-generated using our [SDK Generator](https://github.com/appwrite/sdk-generator) project. We are looking for help creating new Kotlin templates for the SDK.

Actually, we have have an issue open exactly for this:
https://github.com/appwrite/sdk-generator/issues/5

Please take note that we might need a little extra help in this issue with creating a matching

[2019-10-01 10:36] eldadfux commented on #25
@MasterKN48 @LiTO773 Hey guys CZ, HI and pt-PT will be great additions. Send a PR when you're ready ✌🏻

[2019-10-01 10:37] alistairholmes commented on #64
Hi I'm also a mobile app dev and I was also wanting to try out AppWrite for android and didn't find an SDK, I'll contact you on gitter for some guidance :wink:

[2019-10-01 10:41] #64 closed

[2019-10-01 11:15] eldadfux commented on #26
@kimuraz yes sure. you can look at the PHP or JS example for how this achieved - the feature scope itself is adding file upload + support for multipart/form-data request.

Please read the contribution guide in the SDK Generator repo and feel free to contact me on Gitter with any question.

[2019-10-01 11:29] root-ansh commented on #64
Sure, will contact you on gitter.

[2019-10-01 13:57] RizkyRajitha commented on #25
can i help  with sinhala version  si_lk locale

[2019-10-01 14:20] Pedrocssg commented on #25
Fixed some PT-PT Translations, as referred in the issue above

[2019-10-01 15:21] Carike commented on #25
I have created and updated the relevant language files for the Afrikaans language (af_ZA) from South Africa for the issue:

#25 Help Translate Appwrite Locale and Email templates (See pull request #75)

Hacktoberfest 2019 is in full swing!

[2019-10-01 15:26] the-bose commented on #25
I can help with Tamil (TAM) translations

[2019-10-01 15:57] Orozco93 commented on #25
I can help with Spanish version translations

[2019-10-01 17:12] Orozco93 commented on #5
Can I help with the Slack support?

[2019-10-01 19:05] taniaReyesM commented on #25
I send a PR to solve some issues in the spanish traslation

[2019-10-01 23:30] donofriov commented on #5
I'll add Twitch support.

[2019-10-02 03:47] rahulatrkm opened #91 "Help required in setting up the environment."
git clone not working with the provided command in bash shell.

However, it is working with `git clone https://github.com/appwrite/appwrite.git`
By the way, can you please provide what are the permissions to run the above command.
![Screenshot from 2019-10-02 08-58-47](https://user-images.githubusercontent.com/25795515/66016714-68548200-e4f5-11e9-8ea3-305f197695ce.png)
![Screenshot from 2019-10-02

[2019-10-02 05:33] ShivamRawat0l commented on #91
Maybe you have setup ssh key but dont have it in your computer.
https://help.github.com/en/enterprise/2.15/user/articles/generating-a-new-ssh-key-and-adding-it-to-the-ssh-agent
                                                                  **OR**
https://stackoverflow.com/questions/15589682/ssh-connect-to-host-github-com-port-22-connection-timed-out

Check if ssh is working with other repos

[2019-10-02 07:46] christyjacob4 commented on #5
Hey everyone as @eldadfux has mentioned These are the remaining providers we wish to implement as of now with more suggestions welcome
[ ] Yahoo
[ ] Apple - Should be very similar to OAuth 2
[ ] Amazon
[ ] Discord
[ ] Twitch
[ ] Dropbox
[ ] Mail.ru
[ ] Reddit
[ ] Slack
A fellow developer has implemented twitter, so Im waiting for it to be merged
[ ] Twitter
[x] Bitbucket
[x] Facebook
[x] Github
[x

[2019-10-02 07:49] christyjacob4 commented on #5
Hey everyone as @eldadfux has mentioned These are the remaining providers we wish to implement as of now with more suggestions welcome
- [ ] Yahoo
- [ ] Apple - Should be very similar to OAuth 2
- [ ] Amazon
- [ ] Discord
- [ ] Twitch
- [ ] Dropbox
- [ ] Mail.ru
- [ ] Reddit
- [ ] Slack
A fellow developer has implemented twitter, so Im waiting for it to be merged
- [ ] Twitter
- [x] Bitbucket
- [x

[2019-10-02 07:53] christyjacob4 commented on #5
Hey everyone as @eldadfux has mentioned These are the remaining providers we wish to implement as of now with more suggestions welcome
- [ ] Yahoo
- [ ] Apple - Should be very similar to OAuth 2
- [ ] Amazon
- [ ] Discord
- [ ] Twitch
- [ ] Dropbox
- [ ] Mail.ru
- [ ] Reddit
- [ ] Slack
A fellow developer has implemented twitter, so Im waiting for it to be merged
- [ ] Twitter
- [x] Bitbucket
- [x

[2019-10-02 08:33] jarvisdev commented on #25
Hi @eldadfux can we do the translation for other Indian regional languages? i.e. Gujarati, Tamil etc.

[2019-10-02 13:13] Taminoful commented on #91
You need to fork the repository first and then clone your fork. It's part of the fundementals how [GitHub does Pull Requests](https://guides.github.com/introduction/flow/).

[2019-10-02 14:42] BogDAAAMN opened #102 "[bug] Wrong path /auth/oauth in docs"
**Description**
According to the [docs here](https://appwrite.io/docs/auth#oauth) the request for OAuth providers is `/auth/oauth/{provider}`. Even if the the provider is setup correctly, it returns `Error 412: Provider is undefined, configure provider app ID and app secret key to continue`.

Turns out that the route that works as expected is `/auth/oauth/{provider}?project={project_id}&success={l

[2019-10-02 14:49] eldadfux commented on #91
I will update the docs to make it more obvious that you need to clone your fork of the repo

[2019-10-03 02:56] eldadfux commented on #102
This is the expected behavior. But the docs should improve and state that a project UID is required for these methods.

We treat both 'project UID' and the 'API key' as authentication methods for all requests and should have a better indication in the docs when each one is required or optional.

[2019-10-03 03:03] eldadfux opened #105 "Missing some Norwegian Translations 🇳🇴"
The Norwegian translation was the first one to be added, and we forgot to mention we needed to translate the 'app/config/locale/en.php' file. This is the only file missing before we can add the 'no' locale in the next version.

[2019-10-03 03:53] eldadfux commented on #91
I have updated the docs to make the fork part more clear. https://github.com/appwrite/appwrite/commit/c6f6cdca0a65dfa86cc387d82a766a3ce39c51c7

[2019-10-03 07:16] eladcandroid opened #106 "[Feature] Meta data fields for creating a user"
A user can only include email, password and name.. Additional information should also be allowed.

[2019-10-03 07:24] eldadfux commented on #106
Hey @eladcandroid, I think this is the feature you are looking for:
https://appwrite.io/docs/account#updatePrefs

The /account/prefs route lets you save a key/value object with any user preferences you like. You can call it right after the registration route result with a 200 response code.

I have already used successfully for storing user specific data like timezone, language and basically anyth

[2019-10-03 07:37] eladcandroid commented on #106
Thanks for /account/prefs, but I prefer to save information without the user having to login

[2019-10-03 07:45] eldadfux commented on #106
If you're looking to add this information without the user taking action, you can always register to a relevant webhook or background task and use server side SDK to add the metadata to the user account.

We can add the pref method the users API like the 'status' method and allow you to this on server:
https://appwrite.io/docs/users#updateUserStatus

[2019-10-03 08:15] eladcandroid commented on #106
https://appwrite.io/docs/users#updateUserStatus

@eldadfux This would be great and helpful. Thanks!

[2019-10-03 08:16] eldadfux commented on #106
Amazing! I am prioritizing it for next version 0.3.0!

[2019-10-03 08:38] eldadfux commented on #106
@christyjacob4

[2019-10-03 09:03] eladcandroid opened #107 "[CSS bug] - Docs URL box - change CSS to overflow: auto"
<img width="822" alt="Screen Shot 2019-10-03 at 11 59 40" src="https://user-images.githubusercontent.com/13297000/66113479-8396be80-e5d5-11e9-9b5d-640702f0229c.png">

".home .docs .url" selector

Tested on Chrome 77.0.3865.90, MacOS Mojave v10.14.5

[2019-10-03 09:04] eldadfux commented on #107
Thanks for reporting the issue @eladcandroid, What OS are you running?

[2019-10-03 09:06] eladcandroid commented on #107
@eldadfux I wrote it - MacOS Mojave v10.14.5. Thanks!

[2019-10-03 09:06] eldadfux commented on #107
sorry my bad!

[2019-10-03 09:18] christyjacob4 commented on #106
Yes @eldadfux  Let's work on it!

[2019-10-03 09:47] GrzegorzZajac000 opened #108 "Register example for NodeJS doesn't work"
https://appwrite.io/docs/auth#register

[code]

[2019-10-03 09:52] GrzegorzZajac000 commented on #108
[code]

But when I set Endpoint to `http://localhost` or `http://localhost/v1` i get 404 or 403
[code]

[2019-10-03 09:57] GrzegorzZajac000 commented on #108
I wanted use appwrite with ElectronApp so I don't want set any URL in Platforms :/

[2019-10-03 09:57] eldadfux commented on #108
Yeh sorry about it, will make sure to fix it by the end of the day. Thanks for paying attention @GrzegorzZajac000 !

[2019-10-03 09:58] eldadfux commented on #108
About the 403 I'll send you a fix later today.

[2019-10-03 09:59] GrzegorzZajac000 commented on #108
Thanks @eldadfux ;)

[2019-10-03 10:00] eldadfux commented on #108
Actually we completely missed the Electron app scenario, but it should be an easy fix.

[2019-10-03 13:22] BogDAAAMN commented on #5
@eldadfux @christyjacob4 I've got Slack. Just a quick fix and I'll make the PR

[2019-10-03 13:31] christyjacob4 commented on #5
@BogDAAAMN  That's great .. Kindly post a screenshot in your PR so we can verify it.
You can follow this comment
https://github.com/appwrite/appwrite/pull/93#issuecomment-537458845

[2019-10-03 22:06] utkarsh-raj commented on #107
Hi, I have tested and figured out a possible fix. Could you please guide me as to where can one find the Files for the Website ?

[2019-10-03 22:09] christyjacob4 commented on #107
Hey @utkarsh-raj Thanks for taking your time on this issue however,  I honestly think we're not yet ready for UI changes since we have much more pressing issues before the next release. We'd request you to wait until further instructions from @eldadfux .
Cheers!

[2019-10-03 22:27] utkarsh-raj commented on #107
I understand @christyjacob4 and will surely check other issues in the meanwhile. Thanks !

[2019-10-03 23:00] utkarsh-raj commented on #25
Hi, I have updated the data for Hindi and added more translations in #116

[2019-10-04 00:10] miguelramos opened #117 "[DISCUSSION] Appwrite Messaging API - Community feedback is required*"
@eldadfux Not only open issues but to give you 3 ideas for new features. Push notifications, email sender and messaging. Perhaps they are huge but could give lot of visibility to the project.

Regards, :).

[2019-10-04 04:07] hillarysousa commented on #25
Hello! I've edited some translations for country names on PT-BR and translated the inspiration quote. Creating a PR right now :)

[2019-10-04 04:18] eldadfux commented on #117
Hey @miguelramos, this a great idea that was in Appwrite original blueprint.

We left it out of our first versions because implementing it had a few issues we didn't have time to address.

It's something we definitely would like to come back to in the future!

[2019-10-04 04:23] tanmaymohan commented on #25
#110

[2019-10-04 04:42] #91 closed

[2019-10-04 04:58] eldadfux commented on #107
@eladcandroid, I wasn't able to see this issue on any of the MacBooks I had available. Anyway, I did make the CSS change and deployed all changes to appwrite.io. Can you please tell me whether you still see the problem?

[2019-10-04 04:59] eldadfux commented on #13
@Almoullim would you like to keep working on the dart SDK missing features?

[2019-10-04 05:32] pratikhmehta commented on #5
Hey! I'd like to add support for Instagram.

[2019-10-04 05:32] eldadfux commented on #6
@jsaberon can you check if this error is resolved with version 0.2.0?

[2019-10-04 06:36] eldadfux commented on #5
Hey @pratikhmehta,

Instagram adapter is currently on hold due to some technical difficulties. 😞

[2019-10-04 09:11] Niladri24dutta commented on #105
@eldadfux Can I work on this? I assume only the no.php file needs to be added with the translations . other than that the continents and countries file already exists for `no`

[2019-10-04 09:29] miguelramos commented on #117
Cool, maybe mosquito(MQTT) for the infra and it is well know in IOT world and mailhog/maildev too, but is just a consideration and yes will increase the infrastructure but they are cool options.

[2019-10-04 10:28] eldadfux commented on #108
@GrzegorzZajac000 This should allow you to workaround the issue until we release next version with a fix:

[code]

[2019-10-04 10:30] eldadfux commented on #105
@Niladri24dutta yes only no.php is missing. Thanks for helping! 🙏

[2019-10-04 12:10] mostafahussein opened #124 "docker-compose volumes"
Why do we have to mount `app`, `public`, `src` and `vendor` while we have added them to the docker image itself?
Also, I would recommend to use named volumes instead of the current way.
Let me know about your thoughts so I can work on it if anything needs to be done.

https://github.com/appwrite/appwrite/blob/18b49717b10a990d2cc70733ffdc1c6f30fec77d/docker-compose.yml#L7-L14

[2019-10-04 13:11] eldadfux commented on #124
These are the volumes we need for development only mode. Up until our latest version, we only mapped the ./storage directory, but that caused some permission issues for some developers (storage also contains DB directories).

The production docker-compose is here: https://appwrite.io/docker-compose.yml

This is the docker-compose.yml we give non-maintainers to setup.

Named volumes sound like a go

[2019-10-04 13:33] GrzegorzZajac000 commented on #108
Unfortunately this solution doesn't work :(
Response is the same

[2019-10-04 13:34] eldadfux commented on #108
client.addHeader('Origin', 'http://localhost');

maybe with a capital letter? 🧐

[2019-10-04 13:36] GrzegorzZajac000 commented on #108
Nope :/ It doesn't work too

[2019-10-04 14:02] eldadfux commented on #108
Sorrry, are you using the JS SDK?

[2019-10-04 14:02] GrzegorzZajac000 commented on #108
NodeJS SDK

[2019-10-04 14:03] eldadfux commented on #108
Please paste the complete code example so I can run it from my machine.

[2019-10-04 14:04] GrzegorzZajac000 commented on #108
[code]

[2019-10-04 14:06] mostafahussein commented on #124
Named volumes are completely managed by Docker, not by your side. But as you use it for developers I would suggest having the following structure:
1- docker-compose.yml
2- docker-compose.development.yml
2- docker-compose.public.yml
And we you run it you would need to use the following command:
[code]
Next, we can have both the path based volumes inside the development file and the needed named vol

[2019-10-04 18:10] Niladri24dutta commented on #105
@eldadfux I have created a PR #125 for this. Can you please review?

[2019-10-05 05:33] #105 closed

[2019-10-05 09:00] eldadfux commented on #117
Yeh, no doubt, this is a massive feature in terms of infrastructure and user integration. I would love to get some more community feedback on this one.

Our initial idea was to create a messaging API that has multiple adapters for sending messages to different endpoints.

Some of the adapters we had in mind included:

* **Email** - Using Appwrite current SMTP server or a user-defined one (will hav

[2019-10-05 09:45] christyjacob4 commented on #5
@rhyseli  Are you still working on discord? Please let us know.

[2019-10-05 09:56] eldadfux commented on #108
@GrzegorzZajac000 This example works for me:

[code]

[2019-10-05 09:59] miguelramos commented on #117
As initial point i agree that this should be an API. It will facilitate first and third point in concerns list. For push messages and to not increase costs and maintain the actual budget you could test: https://gotify.net/ seems a pretty good thing and start from there. For email will be a huge challenge, maybe someone in the community have experience and know-how for doing this and bring what we

[2019-10-05 10:15] GrzegorzZajac000 commented on #108
Hmmm, it works! I had to do something wrong :) Thank you 👍

[2019-10-05 10:44] #106 closed

[2019-10-05 10:44] eldadfux commented on #106
Feature ready. will be release in 0.3.0. Thank you @eladcandroid and @christyjacob4

[2019-10-05 11:25] eldadfux opened #129 "[DISCUSSION] Benchmarking Solution for Appwrite"
We have a temporary solution for benchmarking the API performance using Apache AB. I want to have a better solution, maybe as part of the CI or a separate repository. Apache AB is nice but requires a lot of manual work to be be done.

Any suggestion for modern **open source** tools that can do this kind of job?

The most important thing for us is to test the API performance for every new release (

[2019-10-05 12:21] lucianosz7 commented on #25
Hello @eldadfux , I may be helping with the translation for javanes.

[2019-10-05 12:49] CAT-ID commented on #25
i can help with japanese

[2019-10-05 13:48] rhyseli commented on #5
Hi @christyjacob4, yes I'm still working on Discord. Should get my PR in this weekend.

[2019-10-05 15:37] Ishaan28malik commented on #129
I would suggest **Gatling**

https://gatling.io/

[2019-10-05 15:45] Ishaan28malik commented on #24
Is it still open ? @eldadfux

[2019-10-05 15:46] RanadeepPolavarapu commented on #24
Going to work on this week.

[2019-10-05 15:46] Ishaan28malik commented on #26
Is it still open ? @eldadfux

[2019-10-05 17:43] SevenIndirecto commented on #25
Hey @eldadfux I opened a localization PR https://github.com/appwrite/appwrite/pull/133 if that's fine.

[2019-10-05 18:43] Almoullim commented on #13
Yes, but I don't have much time so it will probably take me a while.

[2019-10-05 20:22] ahmedkrmn commented on #25
I will start working on Arabic (AR) locals and will submit a PR when I'm done.

[2019-10-06 03:59] stvmachine commented on #25
Updated typo errors in spanish translations:
- https://github.com/appwrite/appwrite/pull/140
- https://github.com/appwrite/appwrite/pull/139
- https://github.com/appwrite/appwrite/pull/138

[2019-10-06 07:41] Nishtha3512 commented on #25
How can i work on this.can u please help me??

[2019-10-06 11:41] Jain-Sanchit commented on #25
Can i help you by translating templates in Indian Regional languages ?

[2019-10-06 12:12] eldadfux commented on #25
@Jain-Sanchit Thank you but no need for regional translations. At this point, we are trying to focus on significant locales only. We'll open a separate issue for regional languages in case we decide to work on them in the future.

[2019-10-07 08:40] fayazara opened #145 "Documentation unclear"
The documentation is very unclear on how to init a project and there's not proper difference explained between web and server, for some people it may be the same, I created a project and not sure how to initialise it in my vue project.

[2019-10-07 12:12] ayan-b commented on #25
I would like to add translations in [Bengali](https://en.wikipedia.org/wiki/Bengali_language).

[2019-10-07 12:45] eldadfux commented on #25
@ayan-b that will be great!

[2019-10-07 18:00] vhgn commented on #25
Hey! I can translate it to Armenian (HY) if you need. Russian is done already so I am able to help only with Armenian.

[2019-10-07 20:19] eldadfux opened #149 "Create a Demo TODO List App Using React TODOMVC as Base"
We need to create a demo app that will demonstrate how to integrate Appwrite in a basic React JS project.

For this demo, we will use React TODO MVC app as base:
https://github.com/tastejs/todomvc/tree/gh-pages/examples/react

To show off some of the Appwrite capabilities, we will extend the demo app with some Appwrite APIs.

1.  Init Appwrite JS SDK in the TODO MVC source code.
2. Use [Appwrite a

[2019-10-07 20:22] eldadfux commented on #149
@christyjacob4 is the owner of this issue. Once Christy finishes, we'll review the demo, add some design, and ask some help from the community to implement the same demo in combination with other frameworks.

[2019-10-08 03:59] eldadfux commented on #145
Thanks for reporting this issue! The getting started guide will definitely benefit from a small new section explaining this part in a little bit more depth. I am assigning this issue to myself.

In the meantime, I would recommend anyone having the same difficulties starting using Appwrite in the browser, to begin by adding the Appwrite SDK with the CDN method mentioned in the JS SDK repository.

[2019-10-08 04:33] christyjacob4 commented on #149
On it @eldadfux

[2019-10-08 08:04] mostafahussein commented on #18
I am working through the master branch of this repository and this issue does not exist anymore. I am wondering which part of the mentioned PR solved it?

[2019-10-08 08:05] BogDAAAMN commented on #149
I'm working on something similar right now. But I will be happy to demo a TODO MVC app in other frameworks after @christyjacob4 is done!

[2019-10-08 08:18] eldadfux commented on #18
@mostafahussein We have seen this issue happening only in a few setups, still waiting for @Riyenz to confirm this has solved his original problem.

This set of commits were attempting  to solve a similar (or the same?) issue @christyjacob4 had:
https://github.com/appwrite/appwrite/commit/f739f4e763b4afbf887f918b1872856ccc3867a7#diff-3254677a7917c6c01f55212f86c57fbf
https://github.com/appwrite/appw

[2019-10-08 08:23] eldadfux commented on #149
Hey @BogDAAAMN that will be amazing!  Will keep this issue updated as we progress.

[2019-10-08 09:39] Riyenz commented on #18
@eldadfux will try now from fresh setup. it might take a while.

[2019-10-08 09:41] eldadfux commented on #18
🤞

[2019-10-08 11:10] Riyenz commented on #18
@eldadfux fresh setup here's my current error.

![image](https://user-images.githubusercontent.com/31911993/66391236-2d73b200-e9ff-11e9-835c-32c8d943dbfa.png)

I only change one file.
![image](https://user-images.githubusercontent.com/31911993/66391260-3f555500-e9ff-11e9-9ecd-79277e7d13f8.png)

[2019-10-08 11:19] eldadfux commented on #18
@Riyenz You need to make sure you delete your storage directory and remove all previous containers before running the setup script.

[2019-10-08 12:12] rhyseli commented on #5
I'm having some trouble with the docker container, namely that the mariadb container is timing out and refusing connections which is stopping me from testing. Could delay me a bit on the discord integration.

[2019-10-08 14:13] deepnum opened #154 "remove PHP and only use Nodejs"

[2019-10-08 14:16] deepnum commented on #154
sorry, this is a PHP project. but having this done with nodejs will make it more accessible

[2019-10-08 14:17] #154 closed

[2019-10-08 16:30] Riyenz commented on #18
I deleted storage and remove previous containers but still occured.
![image](https://user-images.githubusercontent.com/31911993/66414341-c7515400-ea2b-11e9-9c1a-d58712f3f484.png)

![image](https://user-images.githubusercontent.com/31911993/66414359-d59f7000-ea2b-11e9-9f25-a777331280bc.png)

I've done the following.
[code]

[2019-10-08 16:44] christyjacob4 commented on #18
Hey @Riyenz  It would be great if you could send us outputs of the following
1) in the appwrite root list the permissions of the files
[code]
2)  use password as **rootsecretpassword**
[code]

[2019-10-08 17:01] zoois280562 commented on #26
Yes

[2019-10-08 21:48] eldadfux commented on #26
Yes @Ishaan28malik

[2019-10-08 22:34] sesam commented on #25
Just for the record, a Swedish translation was added and merged in https://github.com/appwrite/appwrite/pull/155 -- so if anyone from Finland wants to add `se_FI` translation I hope the `sv` translation is useful as a start :). Have a nice day!

[2019-10-08 23:08] sesam commented on #25
@RizkyRajitha I think app/config/locale/templates/si.email.auth.invitation.tpl has a space too much in the base Sinhalese translation, can't comment on anything else in that translation though!
I had a look there just to make sure sl (Slovenian = sl_SI) and Sinhalese aren't confused anywhere :) since it tends to happen elsewhere. Have a great day!

[2019-10-08 23:12] nsittia opened #160 "TVmeshi"

[2019-10-08 23:13] nsittia commented on #160
https://www.google.BJ/

[2019-10-08 23:14] nsittia commented on #160
#158

[2019-10-08 23:31] mostafahussein commented on #18
@Riyenz I guess the expected permission on this path `storage/db` would be owner with **UID** `999` can you check this too ?
Send us the output of `ls -l storage` and `ls -l storage/db`

[2019-10-09 00:01] Riyenz commented on #18
[code]

[2019-10-09 00:40] Naamboon commented on #5
It gonna be works

[2019-10-09 00:42] Naamboon commented on #149
Trying to do it works

[2019-10-09 04:50] Ishaan28malik commented on #26
Ok @eldadfux @zoois280562

[2019-10-09 05:22] eldadfux commented on #5
@mixty1 , Notice that #135 added the VK OAuth provider which actually started this issue 🥳.

[2019-10-09 06:00] christyjacob4 commented on #18
@Riyenz are you sure youre on in sync with the master branch? I had faced this issue as well. This happens because of permissions. Basically race condition between the different containers.
Send us a few more outputs .
1) run the following
[code]
In another terminal connect to the mariadb container to get the logs,
[code]
Note that, the first set of logs will pop up instantly but the result of the

[2019-10-09 06:11] CQ10 commented on #24
มันทำงานยังไง

[2019-10-09 07:48] #160 closed

[2019-10-09 10:18] OnkarAgnihotri commented on #25
I can help to translate in Hindi.

[2019-10-09 10:18] RanadeepPolavarapu commented on #24
Going to work on it this weekend.

[2019-10-09 12:55] doyle-mark opened #162 "Cannot create account or access console"
On attempting to access appwrite.io/console the user is redirected to log in/sign up at https://appwrite.io/auth/signin (assuming they are logged out). On attempting to sign up with Linkedin, Facebook or Github a 412 error is thrown:

[code]
On attempting to create a user account a JSON error message is thrown:
[code]

Therefore new users are unable to sign up to the service and or access the cons

[2019-10-09 13:10] eldadfux commented on #162
Appwrite is currently only available as a self-hosted solution. This means that you have to install it on your hardware (local machine, or cloud server) and access it from http://localhost or http://[YOUR-IP-ADDRESS]. You can learn more about how to get started in this tutorial:

https://appwrite.io/docs/getting-started-for-web

In your issue, you mention trying to access: https://appwrite.io, whi

[2019-10-09 13:25] RizkyRajitha commented on #25
@sesam , is there anything i can do to solve that sir
thank you

[2019-10-09 13:33] #162 closed

[2019-10-09 13:35] sesam commented on #25
@RizkyRajitha yes if you have time -- and you know Sinhalese, correct? Please can you look specifically at line 14 here: https://github.com/appwrite/appwrite/blob/master/app/config/locale/templates/si.email.auth.invitation.tpl#L14 -- is that a space too much? Or if it's something with my browser/system not showing Sinhalese fonts correctly -- I'm unsure. Thanks for your attention :) and have a gre

[2019-10-09 13:47] RizkyRajitha commented on #25
@sesam
if you are see like this , then its correct , that sentence have 17 words in total

![appwrite](https://user-images.githubusercontent.com/38534289/66487070-58c2d380-eac9-11e9-861d-ed6d63e9669a.PNG)

[2019-10-09 20:06] mostafahussein commented on #18
Also, I would suggest sending the output of this command `git log -1` after changing the current working directory to `appwrite` directory so we can get more details about the latest commit that you have on your machine.

[2019-10-09 20:34] eldadfux commented on #145
Good news, we have updated the JS SDK to support ES6 import statements and updated documentation in both repo and website to explain how you can import the SDK to your project.

The updated repo:
https://github.com/appwrite/sdk-for-js

The updated doc on the website:
https://appwrite.io/docs/getting-started-for-web

![Uploading image.png…]()

[2019-10-09 20:36] eldadfux commented on #145
@fayazara

[2019-10-10 02:17] CQ10 commented on #24
คราบ

[2019-10-10 03:40] eldadfux commented on #24
@CQ10 please use english.

[2019-10-10 03:44] eldadfux commented on #107
Can anyone who had the issue please confirm whether this issue is solved?

[2019-10-10 14:33] utkarsh-raj commented on #107
I am afraid the issue still persists on my Chrome 76.0 running on Linux Mint 19.2 MATE. @eldadfux

[2019-10-10 14:37] eldadfux commented on #107
@utkarsh-raj can you tell me what is the version number you get on the site footer?

[2019-10-10 14:41] utkarsh-raj commented on #107
All right, I just refreshed and the version changed from 0.1.54.ee to 0.1.56.ee and the issue is resolved. Must be a local cached version for me :)

[2019-10-10 14:41] #107 closed

[2019-10-11 09:57] #145 closed

[2019-10-13 12:58] YMsyaraf commented on #25
do you need any help for malaysia localize?

[2019-10-13 13:15] Darren972 opened #184 "about openpyxl"
I have a question that how to make the axis above scale in python openpyxl

[2019-10-13 13:16] Darren972 commented on #184
Who has used openpyxl. Thanks very much.

[2019-10-13 13:22] #184 closed

[2019-10-13 15:53] Vinatk commented on #25
are you be needing Thai language localize?

[2019-10-13 16:18] eldadfux commented on #25
@YMsyaraf , @Vinatk that will be great, we could use both Thai and Malaysian locales! 🇹🇭🇲🇾

[2019-10-13 16:59] noobyogi0010 commented on #25
@eldadfux Hi, I can help with translating in हिन्दी ‍‍‍

[2019-10-13 17:23] nilmanichandrakar commented on #5
suggestion for a provider- stack exchange

[2019-10-13 18:48] jollypuppet commented on #25
I can help with the Italian translation :)

[2019-10-13 19:12] christyjacob4 commented on #5
@nilmanichandrakar  it'll be done tonight

[2019-10-13 19:36] eldadfux commented on #25
@jollypuppet hey, we already have it locale but you can review it for improvements if needed.

[2019-10-13 19:54] nilmanichandrakar commented on #5
I'm already working on this

On Mon, Oct 14, 2019, 12:42 AM Christy Jacob <notifications@github.com>
wrote:

[2019-10-13 20:04] MustafaNoorani commented on #25
Hello I am available to translate into Urdu

[2019-10-13 20:35] MIP2000 commented on #25
Hello, i can translate to Albanian.

[2019-10-13 20:54] christyjacob4 commented on #5
@nilmanichandrakar  I don't think It would work now since their api doesnt return the user's email ID

[2019-10-14 07:35] hongju0 opened #192 "ssr"

[2019-10-14 08:00] prkhrv commented on #26
Is file uploading done in Node?

[2019-10-14 08:01] #192 closed

[2019-10-14 13:22] eldadfux commented on #26
@kimuraz

[2019-10-15 13:49] JohannaHillebrand commented on #25
Do you need a Translation into German? I could help with that :)

[2019-10-15 15:14] eldadfux commented on #25
This is our updated list of currently supported locales:

[code]

[2019-10-16 13:17] kimuraz commented on #26
@prkhrv and @eldadfux I'm on it, although I'm not sure how to work on the template and it might take some time, so I guess it's not fair to block it.
@eldadfux I wouldn't mind if you assign this task to him, but if that's not the case I'll continue on it.

[2019-10-16 14:41] eldadfux opened #201 "[DISCUSSION] Discord VS. Gitter"
I have been approached by a few members of our community and asked to consider moving the community chat from Gitter to Discord.

I wanted to get some of your opinions about the changes and whether we should make it.

In my own opinion, I love the way Gitter integrates with Github. I think Gitter lacks some more advanced features, and the UI doesn't feel as good as it can be. I have also tried ins

[2019-10-16 17:23] RizkyRajitha commented on #201
i've used discod , for more that one year ,  and for that time i had no problem with it . very little server down . and also it is more user friendly than gitter . and you  have voice chat if you want . and share files easily.

[2019-10-17 00:13] BogDAAAMN commented on #201
I was also thinking about Slack since they have GitHub integrations.

[2019-10-17 09:23] AlphaWong opened #203 "Should we add an eslint for the js part?"
I find that the js part do not have any eslint yet. Can I add an eslint for it ?
If it is ok. I will create a PR

[2019-10-17 14:44] chimon2000 commented on #201
I like Discord a lot more than Gitter.  Slack is also an option seeing as how a lot of devs may already be required to use it for work.

[2019-10-17 17:08] doyle-mark commented on #201
Please choose Discord, it's by far the best option and most intuitive..

[2019-10-19 03:28] Kiy4h commented on #201
@BogDAAAMN The downside in Slack is that they don't save ancient messages (you need to buy the premium version to do that), unlike Discord.
You can also set up a Github integration.

Setting up will take some time, but it'll be worth it!

[2019-10-20 08:25] monatis opened #210 "[DISCUSSION] Appwrite sudo/root mode (gathering users feedback)"
Hi,
I had the chance to test Appwrite, thanks for the great project.
One thing that I can't find is, there are no installation-wide settings on the console. For example, it would be great if we could limit new signups after the first one and control who can create projects on that particular Appwrite installation.

[2019-10-20 11:22] priyank04 commented on #201
I would agree with @Kiy4h that Slack lacks the capability of showing the ancient messages and that's where Discord wins. Now as you want to switch platform for chat purposes than Discord is far better than Gitter.
You will have the right to create unlimited channels (not possible in gitter - free), users, and history (wins over slack). At times you require voice chat to have a topic discussed as c

[2019-10-20 14:32] 24sharkS commented on #25
If there is a requirement for Danish or Icelandic translation @eldadfux ? I am willing to contribute. :-)

[2019-10-20 17:26] eldadfux commented on #25
@24sharkS Danish and Icelandic translation will be awesome!

[2019-10-20 18:35] sagarvd01 commented on #25
Hi, I added Malayalam Language Support in the PR #212

[2019-10-20 20:30] karandixit10 commented on #25
I can help to translate in Hindi.

[2019-10-21 04:08] eldadfux commented on #210
Hey @monatis , please let me know if this help you:
https://medium.com/appwrite-io/you-can-now-restrict-access-to-your-appwrite-console-b8b447885289

If not, please provide us with more information about your exact use case and needs.

[2019-10-21 09:20] eldadfux commented on #210
@monatis Sounds awesome, I will add it to our roadmap for v1.0.0. Would be great if you could bring more feedback on the root user and what features are needed for the global admin dashboard.

[2019-10-21 09:24] eldadfux commented on #201
What channels do you think we should have as a community (regardless of the platform we will use)? @chimon2000 @BogDAAAMN @Kiy4h @RizkyRajitha  @priyank04 @doyle-mark @christyjacob4

[2019-10-21 21:44] monatis commented on #210
Hi @eldadfux, thanks a lot for the positive response and adding it to your v1.0 roadmap.

In my opinion and in the ideal world, the root user might be able to:
- activate and/or deactivate front page signups,
- manage whitelists,
- limit the number of projects to be created,
- update the texts of the terms & conditions and privacy policy,
- create "Privacy & Legal" profiles that will be the defaul

[2019-10-22 03:56] amilamen opened #227 "Create one project"
No redirection when I create one project and no alert information which specifies that my project is created. So, when I wait, I ought to create another project before I see my projects.

[2019-10-22 03:59] eldadfux commented on #227
Hey @amilamen, thank you for your feedback.

I'll make sure to add a loading screen or message in case project creation takes longer that it needs. I guess this could be pushed to upcoming version 0.4.0

[2019-10-22 04:05] amilamen commented on #227
Thanks @eldadfux ! Also, in Getting Started documentation you need to increase version of appwrite in docker command because it is 0.2.0
Just purpose !

[2019-10-22 04:11] amilamen commented on #227
Also is it possible to make a documentation with TypeScript ?

[2019-10-22 04:22] eldadfux commented on #227
We will be creating a Typescript SDK very soon. This is something that came up a from a few users in the last couple of days and shouldn't be too hard to implement.

[2019-10-22 04:31] amilamen commented on #227
Greatfully ! Me and my collegue https://github.com/ChafikHadjAbdouRazack are available to work with you on project.

[2019-10-22 04:32] amilamen commented on #227
A simple curiosity, why you don't use a popular framework like Laravel and you prefer to make your own framework ?

[2019-10-22 04:32] eldadfux commented on #227
Fixed

[2019-10-22 05:02] eldadfux commented on #227
This is a very long and complex topic to discuss, and I don't want to get too much off-topic, so I'll try to answer shortly.

First of all, building your own framework is not always the smartest thing to do. In most cases, it isn't.

We built the Utopia framework because we wanted to get more flexibility and better enforcement of security using code.

Utopia declarative approach helps us gain both

[2019-10-22 05:07] amilamen commented on #227
Thanks you dear ! It is an awesome project and easy for using. Very good job !

[2019-10-22 06:06] #108 closed

[2019-10-22 06:31] eldadfux commented on #227
Thank you ❤️

[2019-10-23 15:57] BogDAAAMN opened #229 "[bug] Empty modal after wrong input"
**Description**
After wrongfully trying to create a user in the _Users_ menu and getting _Failed to creat user_ alert, the _add user_ modal is not working anymore. It is just empty.

For instance, I try to create a user with a short password.

![Screenshot_2019-10-23 Appwrite - Users](https://user-images.githubusercontent.com/22895284/67411476-ff28d180-f5bd-11e9-9b42-027678ba72cd.png)

The respons

[2019-10-23 16:10] eldadfux commented on #229
https://github.com/appwrite/appwrite/commit/eb288c5ce2a770ea1c049d5cd56cf936401c146d

This commit should fix it. Will be released in 0.4.0, also available now on master branch.

[2019-10-23 17:50] BogDAAAMN commented on #229
ok, perfect!

Based on this issue I was thinking of a feature that would also show what kind of error is, since we get it from the response. Not only _Failed to create user_ or _Failed to create team_

I can make an issue and also work on it, if you find it useful @eldadfux!

[2019-10-23 19:10] eldadfux commented on #227
This commit https://github.com/appwrite/appwrite/commit/fb9adf31d9c2bb3286ba253ac1618d5aaec86b68 will adds a loading message and fixes the broken redirect URL when creating a new project.

[2019-10-23 19:11] eldadfux commented on #227
This fix is already available on the master branch and will be released with version 0.4.0

[2019-10-23 19:57] amilamen commented on #227
Very god job sir !

[2019-10-24 04:24] eldadfux commented on #201
Hey @chimon2000 @RizkyRajitha @priyank04 @doyle-mark - we have just opened our new Discord server and you are welcome to join us!

This is the invite URL:
https://discord.gg/GSeTUeA

![image](https://user-images.githubusercontent.com/1297371/67453395-3edbd180-f62f-11e9-9d44-8f12b3ce7544.png)

[2019-10-24 04:29] eldadfux commented on #229
I think we should treat this as per case thing instead of a simple project-wide task that can affect all errors.

Exposing too much information when throwing errors can be considers as a security weakness in some cases and in other cases just passing to the client the API error AS IS can have a really bad UX as it might be too technical or just too  long.

So basically we have the API error that a

[2019-10-24 04:44] RizkyRajitha commented on #201
i joined @eldadfux  . thanks for the invite 🙌

[2019-10-24 12:42] BogDAAAMN commented on #229
Oh yeah, of course! I wasn't thinking about printing the API errors AS THEY ARE, just getting a friendlier message.

For instance, when I used a weak password, instead of _Failed to create user_ could've been _Password too weak_ or something equivalent. But you solved this issue in UX with [eb288c5](https://github.com/appwrite/appwrite/commit/eb288c5ce2a770ea1c049d5cd56cf936401c146d), so atm I don

[2019-10-24 12:42] #229 closed

[2019-10-24 12:48] eldadfux commented on #229
Thats a valid point. I think it will be good to review all the errors thrown inside the controllers and makes sure they are consisted.

Another thing I wanted to improve is to force better error handling inside the Utopia PHP validator interface. Currently this validator only support a description and that's not really the same thing as an error message.
https://github.com/utopia-php/framework/blo

[2019-10-24 17:56] #201 closed

[2019-10-24 18:39] mbtamuli commented on #24
It's been 15 days since the last response. If no one is working on it, I'd like to take this up.

[2019-10-24 19:43] eldadfux commented on #24
@mbtamuli yeh I guess you can work on it. It's been 26 days with no updates.

You can reach me out on our Discord channel, feel free to ask me anything.

https://discord.gg/JbdEMd4

[2019-10-25 17:34] #227 closed

[2019-10-25 18:18] #6 closed

[2019-10-25 22:09] Kolkies commented on #5
Any updates about the discord provider? Otherwise I can look into it

[2019-10-25 22:10] eldadfux commented on #5
@christyjacob4 do you remember whats the Discord adapter status?

[2019-10-26 03:57] christyjacob4 commented on #5
@eldadfux  The last update on Discord was here https://github.com/appwrite/appwrite/issues/5#issuecomment-539483624

@rhyseli Do we have any updates on Discord OAuth ? Let us know if you would like to continue working on it.

[2019-10-26 04:13] christyjacob4 opened #236 "[BUG] Database UI doesn't update on click"
### What's the issue
I came across a minor UI issue while using the appwrite dashboard. The Collection preview doesn't show up automatically when selecting a collection. The page needs to be refreshed for it to show up, as seen in the screenshots.

Also, Once a preview has shown up, when you select another collection, the preview doesn't update and the page needs to be refreshed again.

### Steps

[2019-10-26 09:54] Kolkies opened #237 "Add darkmode to appwrite"

[2019-10-26 17:33] jayehernandez commented on #25
I can help translate to Filipino! 🇵🇭

[2019-10-26 17:54] eldadfux commented on #25
Hey @jayehernandez that will be great! If you need any help, you can contact me or any of the other maintainers in our new & cool Discord server:

https://discord.gg/GSeTUeA

[2019-10-28 05:35] Nishtha3512 commented on #25
Can i help to translate in Guarani?

[2019-10-28 12:11] PineappleIOnic commented on #5
Hey there, Is anyone working on the apple adapter?

[2019-10-28 12:46] eldadfux commented on #5
@PineappleIOnic, @christyjacob4 has started to work on it, but we got stuck when we were trying to create a demo app with test credentials from Apple. Will be great if you could help us.

[2019-10-28 13:27] PineappleIOnic commented on #5
@eldadfux alright, once I get my docker back up and working I'll get right to work trying to add it

[2019-10-29 18:38] eldadfux opened #244 "[DISCUSSION] New User Login Methods"
We are starting to think about new login methods that will be available for future releases.
We would love to get the community feedback regarding new ideas for user signups:

These are some of the ideas we have, and we would like to get more.

- [ ] OTP / Email code
- [ ] SMS
- [ ] Email
- [ ] Anonymous login
- [ ] 2FA (should work only with email/password or with any method?)
- [ ] Hardware U2F

[2019-10-29 18:40] eldadfux opened #245 "New & Organised RFC Process"
We want to create a better process for suggesting new features and services that integrate with Appwrite. Currently, we are thinking about a process similar to what React, and Gatsby is doing, but any alternatives or other examples will be great. We would love to get your ideas.

[2019-10-29 18:43] eldadfux commented on #237
I will add this feature to our roadmap. I guess it will be released shortly after 1.0.0.

[2019-10-29 21:19] sagarvd01 commented on #244
My suggestions on this are
- Email OTP login alone isn't much safe (without a password). 2FA should be enforced in this case.
- SMS based login doesn't require 2FA.
- Anonymous login is a good idea but certain checks should be implemented to prevent abuse.

[2019-10-29 21:22] eldadfux commented on #244
@sagarvd01 thanks for your feedback.

Why in your opinion OTP alone isn't safe enough?

About the Anonymous login, we already have abuse mechanism in place the work on all login methods to protect from brute-force attacks.

[2019-10-30 07:44] christyjacob4 commented on #244
@eldadfux There are also situations where a user may want to receive a call get the OTP instead of an SMS. Twilio seems to be the most popular option to handle SMS, Calls and Emails
https://www.twilio.com/

[2019-10-30 07:56] eldadfux commented on #244
@christyjacob4 thats sound like a good idea but we don’t want to be biased towards a commercial company like @twillio (which I love, but that doesn’t matter), or make the setup more complex.  I guess that we should allow different adapters to allow the enabling of this kind of features as there are no notable open-source solutions that I am aware of either for calls or SMS.

How do you see the wor

[2019-10-30 08:00] christyjacob4 opened #246 "[DISCUSSION] Default read/write permissions for Document Creation"
Currently the Appwrite sdk requires you to **explicitly** pass the **read and write** permissions of any document that is created by a user.

![test](https://user-images.githubusercontent.com/20852629/67838618-b326e100-fb17-11e9-83ea-9489d2b64864.png)

The expected format for the read / write permissions requires you to supply the user ID of the current logged in user. This would result in an addi

[2019-10-30 11:09] eldadfux commented on #246
I think this suggestion can lower the entry barrier for a developer starting to work with Appwrite because it will allow them to begin working with databases and files without requiring them to understand the permission mechanism first.

One issue I am not sure about is what the default should be in cases where we don’t have a logged-in user like when integrating from the server, or when the user

[2019-10-30 11:22] rword4u opened #247 "new platform add issue"
new platform add issue
---
Appwrite Version: 0.3.0

[2019-10-30 11:25] eldadfux commented on #247
Hey @rword4u can you please specify the issue?

[2019-10-31 09:02] PedroCisnerosSantana opened #249 "2FA request"
Hello, I'd like to work on https://github.com/appwrite/appwrite/projects/1#card-25704781 :smile:
what lang can I use?

[2019-10-31 09:02] PedroCisnerosSantana commented on #249
@eldadfux

[2019-10-31 09:05] PedroCisnerosSantana commented on #26
What about java?
Also I'd like to help to improve python support

[2019-10-31 10:05] eldadfux commented on #26
Hey @PedroCisnerosSantana , we could use help both on java and python. Please contact me on Discord for guidance.

and feel free to join us on our Discord server:
https://discordapp.com/invite/GSeTUeA

[2019-10-31 10:07] eldadfux commented on #249
We could definitely use help on this but we still need to write a proper spec before we can move forward. If you would like to help me, you can reach me on Discord.

[2019-10-31 18:15] sagarvd01 commented on #244
Hi @eldadfux , in my opinion, email ownership may be changed over time. Especially when users login with business emails. So we can't distinguish whether it's the same person or not.

Additionally, Firebase by Google provides a good sdk for authentication purpose, which will reduce a lot of work.

[2019-11-01 03:40] eldadfux commented on #244
@sagarvd01 I definitely agree that email ownership may change over time. This is something we need to think of when relying on email as the main recovery process and identification of the user's accounts.

I don't think the usage of business email should be a major concern for us, as this can actually be treated as an advantage for people wanting to have different accounts for personal or company

[2019-11-01 04:03] christyjacob4 commented on #246
Are we going to allow anonymous users to create documents as well ??

In the documentation I feel we can have a getting started section that explains to the users regarding the various permissions. The getting started section will give an overview of appwrite and explain all the nuances specific to appwrite including permissions and rules.

[2019-11-01 04:10] eldadfux commented on #246
@christyjacob4 Currently we do allow anonymous users to create documents, but we can always review and see if this is a real use case or can just be customised and implemented using a server integration. This still leaves us with the question of what happens on a server-to-server integration.

I agree documentations is a must, but we also need to make sure that the getting started guide is easy as

[2019-11-01 04:16] christyjacob4 commented on #246
Yes if we write the documentation **with a lot of examples**, then it'll definitely be easy for people to get started.

[2019-11-01 04:19] eldadfux commented on #246
@christyjacob4 100% about the examples, this is something we really lack right now in this permissions tutorial: https://appwrite.io/docs/permissions

I will add it to my checklist ✅

[2019-11-01 04:34] christyjacob4 opened #251 "[DISCUSSION] Github Bot for Discord"
Now that we've migrated our communications to Discord, I thought it would be useful to have a github bot that will keep us updated about the changes happening on the appwrite repo.

This was also suggested by our community member @Kolkies

I found a video that'll help

[![Video](https://img.youtube.com/vi/D2LWN_s6cEE/0.jpg)](https://www.youtube.com/watch?v=D2LWN_s6cEE)

Let me know what you think

[2019-11-01 04:58] eldadfux commented on #251
Thanks you for opening the issue @christyjacob4. Just tried it out and it's really easy to setup.

There is a huge list of events that can be submitted to Discord: https://developer.github.com/webhooks/#events

Any good idea, what might be useful? I can also navigate different issues to different channels.

[2019-11-01 05:08] christyjacob4 commented on #251
That's great @eldadfux . I will have a look at the link and let you know

[2019-11-01 05:35] Kiy4h commented on #251
A discord bot would be great!

In the meantime, I think we should try out Discord webhooks, it can integrate with Github: https://gist.github.com/eslachance/40ac1c8232a5a019b43ee3f588d637ad

[2019-11-01 07:03] eldadfux commented on #251
Hey @Kiy4h that exactly what I am trying to use, but still need to decide which events to trigger, we don't want to get too much notifications.

[2019-11-01 07:17] eldadfux commented on #25
@Nishtha3512 that will be great, if you need any help or just want to chat, join our Discord server:
https://discord.gg/GSeTUeA

[2019-11-01 10:35] mostafahussein commented on #24
@mbtamuli If you need any assist in implementing the helm chart I will be happy to help :D

[2019-11-01 10:57] eldadfux commented on #24
@mbtamuli please keep us updated on what is going on with this issue. While this is assigned, other people who want to help with it don't get the chance.

[2019-11-01 13:38] RizkyRajitha commented on #251
@eldadfux , i'd like to give this a shot . since i am not familiar with php . but i am comfortable with nodejs . i think discod bots can be written in nodejs

[2019-11-01 14:07] eldadfux commented on #251
@RizkyRajitha actually this is the same thing as @christyjacob4 suggested. I have already "hooked" the service together on a demo channel, just need to figure our what kind of alerts do we want and in which channel.

This is a list of all available events:
https://developer.github.com/webhooks/#events

[2019-11-01 14:10] eldadfux commented on #251
I was thinking of creating a new channel in Discord called: 'feed' and have all new push, stargazers and issues events sent to him. Can we create a Discord channel that is 'muted' or something similar by default?

Another idea is to send all issues updated to the support channel.

Tell me what you think about it, and if you have any other ideas.

[2019-11-02 09:02] RizkyRajitha commented on #251
i think new channel would be better because support is used frequently ,  this might spam the support channel

[2019-11-04 12:15] Muphet opened #252 "quickstart doesn't work, at all"
I have set up completely clean droplet on DO (and locally on docker-windows). Installed docker and followed quickstart command line. everything starts up, and app opens /auth/signin path (live on http://178.62.47.62/auth/signin)
after successful signup, console pops up for fragment of second and returns to auth screen (console is empty). there is no errors and no error logs for any container.

[2019-11-04 12:21] eldadfux commented on #252
Hey @Muphet, Thank you for reporting your issue and providing us with important feedback.

Please check if there are any non-200 response codes in your browser console during the signup process. Make sure your developer tools preserve network option is set to 'on' in case there are any bad redirects during the operation.

[2019-11-04 12:29] eldadfux commented on #252
Also, please check your Appwrite image version and what browser and browser version you are using.

[2019-11-04 12:43] Muphet commented on #252
network log says /v1/account is unauthorized (401) which defaults back to auth page on chrome v78.0.3904.87 64bit. looks like this error persists only on chromum based browsers but works on mozilla. guess this issue can be closed but chrome v78 needs to be investigated regardless

[2019-11-04 12:43] #252 closed

[2019-11-11 22:44] kervi opened #254 "Default user and password"
I have installed appwrite on a digital ocean server with docker compose. How do I log in to the dashboard the first time?
I have tried to sign up but get a message that "Access from this client host is forbidden. URL host must be one of..."

[2019-11-12 05:18] eldadfux commented on #254
Hey @kervi, what is the URL you have in your browser while signing up? and what version of Appwrite are you using?

[2019-11-12 08:01] kervi commented on #254
It is the newest version just installed it. It is placed behind nginx (with certificate) that proxy to the docker instance of appwrite. The url is appwrite.xx.sample.com/auth/signin.

Should I sign up or?

[2019-11-12 08:19] eldadfux commented on #254
Checked my own instance on DigitalOcean with appwrite.xx.sample.com pointing to my droplet from my local /etc/hosts and everything seems to work OK. Please post your complete error response.

[2019-11-12 08:27] kervi commented on #254
ok, in a new instance never used before I want to become admin. I click on signup and try to create an account with email and a password.
I get this json error:

{"message":"Access from this client host is forbidden. URL host must be one of: https:\/\/appwrite.io, https:\/\/appwrite.test, http:\/\/appwrite.test, https:\/\/localhost, http:\/\/localhost, https:\/\/127.0.0.1:8080, http:\/\/127.0.0.1:

[2019-11-12 08:29] kervi commented on #254
I have appwrite running on port 8080 and nginx proxying to that port.

[2019-11-12 08:38] kervi commented on #254
Just to make sure I want to log into the console :-)

[2019-11-12 08:41] eldadfux commented on #254
We had solved a similar issue in the past by allowing local hostname as a default whitelisted client in this commit:
https://github.com/appwrite/appwrite/commit/a7d8a8eaeee0ea3ccbc17acf48b6e6283585629b#diff-fec850b5753a5278039a717f479b6f13

Try updating Appwrite docker image in your docker-compose.yml to 0.3.1, and run docker-compose.yml up -d again.

If this isn't working it might be an issue wit

[2019-11-13 13:04] manaswinidas commented on #5
Any OAuth providers still left to be integrated? I'd like to extend a helping hand too :smile:

[2019-11-13 13:18] eldadfux commented on #5
Hey @manaswinidas , we could use some help with Discord and Twitch for a start.

[2019-11-14 04:10] eldadfux commented on #254
I just realized that your Appwrite instance is wrongly thinking that its hostname is 127.0.0.1. This is probably because of the proxy you have in front of him. Do you know if your proxy is passing an X-Forwarded-Host header or something similar? If this is the case, we can add a quick fix for Appwrite to try and get the X-Forwarded-Host value before attempting to get the local hostname variable.

[2019-11-14 08:36] kervi commented on #254
I have been working in the same area and found that this nginx config works.
Replace my.appwrite.io with the custom domain.

server {
	server_name my.appwrite.io;
	location / {
        proxy_pass http://localhost:80/;
        proxy_set_header        Host               $host;

    }

    listen [::]:443 ssl; # managed by Certbot
    listen 443 ssl; # managed by Certbot
    ssl_certificate /etc/lets

[2019-11-14 20:43] monatis commented on #244
Hi @eldadfux you might want to have a look at [Jasmin SMS gateway](https://jasmin.readthedocs.io/en/latest/) to implement SMS login  and varification. It is open source and can be readily containerized with Docker, and it supports both http and smpp protocols.

[2019-11-14 21:20] eldadfux commented on #244
@monatis wow this seems like a really cool project and it's awesome they have a docker container! checking it out now.. thank you!

[2019-11-15 21:04] monatis opened #255 "[DISCUSSION] New AI/ML functionalities"
Hi,
I want to contribute to Appwrite with a separate container for AI/ML functionalities. It will be served as a web API just like other services, and it might be tightly integrated with them, e.g. storage API to process images.

Possible functionalities might include:
 - Nudity detection in images,
 - General purpose object detection,
 - Face detection,
 - Sentiment classification in texts,
and o

[2019-11-15 22:33] eldadfux commented on #255
Thank you for the great ideas and the interesting discussion @monatis!

Any ML services that we use internally and are not exposed via Appwrite REST API can even share direct access to the storage for better performance the same way we work with the ClamAV container to scan uploaded files. Not too sure about using JSON instead of multipart/form-data in file uploads because this can be very limitin

[2019-11-16 04:48] monatis commented on #255
Hi @eldadfux, thank you for bringing your considerations about dependencies into attension. Mostly agree on them.
I think that we shouldn't expose a training API in the initial plan. This would be too complex and require a large memory and possibly even a GPU, which would change the target audience of Appwrite.
Instead, I suggest that we should deploy several pretrained AI/ML models for image and

[2019-11-16 05:52] eldadfux commented on #255
@monatis A demo API will be great.

I am also considering the option to hide this functionality as background tasks that are triggered by our queue engine (redis/resque) and then this task can apply the results as new metadata to existing file information. This way we will get this abilities by default to all relevant files and the API will have zero performance penalty.

I am also thinking about

[2019-11-16 06:19] monatis commented on #255
@eldadfux setting the functionality as a background task would be great in terms of reducing performance penalty, but it might be limiting for use cases where we want to use the API for the core app logic. We might need to come up with an idea to support both.

Another senario might be conditional upload. For example post an image to the API and specify conditions, e.g., if it contains at least on

[2019-11-16 06:25] eldadfux commented on #255
@monatis I totally get what your'e saying. We need to figure out what is the perfect balance. On of Appwrite major selling points is hiding complexity for developers but at the end of the day we don't want to limit more advanced scenarios there for finding the right balance is crucial.

[2019-11-16 06:26] eldadfux commented on #255
Anyway I think a demo API on an independent container could be great and will also help us figure out more things we need to decide about the scope of this features.

[2019-11-16 06:38] monatis commented on #255
Agreed.
Great, I'll be sharing a demo API at the beginning of next week then.

[2019-11-18 05:12] eldadfux commented on #254
@kervi are you using this proxy only for adding SSL certificates, or is there something else you need it for?

I have  just added an option to easily pass custom SSL certificate. It's going to be released in our next 0.4 version. I'll write more about it in the release notes.

[2019-11-18 06:15] kervi commented on #254
I use nginx because I host more than one service on the server and for certificate.

I think it is good with SSL support in appwrite. if it could work with letsencrypt out of the box it would be great.

[2019-11-18 08:45] manaswinidas commented on #5
@eldadfux I saw that a PR has already been created for Twitch. I'm doing for Discord

[2019-11-18 15:14] eldadfux commented on #5
@manaswinidas that's great. I think the Twitch PR has been abandoned as it isn't active for more than a month.

[2019-11-19 10:10] PedroCisnerosSantana opened #257 "Change license for python"
We need to change the the value of the license for python generator script
For further info refer to [this PR](https://github.com/appwrite/sdk-for-python/pull/8)
I will work on it

[2019-11-19 10:11] PedroCisnerosSantana commented on #257
@eldadfux

[2019-11-19 16:25] Naamboon commented on #5
I Hope get a new version

[2019-11-20 08:27] PedroCisnerosSantana commented on #257
Fixed with PR #259

[2019-11-20 08:27] #257 closed

[2019-11-20 08:33] eldadfux commented on #257
Thank you Pedro! Great Work! Keep it up!

[2019-11-22 08:48] wentzlau commented on #117
There are two kinds of messaging that Appwrite should support.

1. User notification via push messages on different communication channels.
2. Internal application bus. A hi level bus api where the underlying broker is hidden and where is it possible to post events, queries and commands (CQRS)

As we need to subscripe for push messages in our applications it requires a websocket connection point i

[2019-11-22 09:02] wentzlau opened #260 "Better json error response"
I think that the error responses needs to be more structured.
Right now an error response looks something like this when creating a user:
{"message":"Invalid password: Password must be between 6 and 32 chars and contain ...","code":400, ...

I will have to parse response message to figure out the error. If the message is translated it makes it even more difficult.

would like something like this
{

[2019-11-22 12:07] eldadfux commented on #117
@wentzlau great feedback, the push messaging is definitely something we'll have on our roadmap.

I also really  like the idea of having dedicated support for server-to-server communication. Do you have any suggestions for a communication protocol that will be good for this type of communication?

[2019-11-22 12:14] eldadfux commented on #260
@wentzlau yeh, this is definitely an area where we can do better, I would really appreciate if you try and take a look at the way we handle error messages today and help me think how we can manage this better without creating a huge overhead.

Please keep in mind that there are some cases where we are intentionally giving general errors in favor of security.

This is our current error handler:
htt

[2019-11-22 14:00] wentzlau commented on #260
I think that you should handle validation errors differently from exceptions. Right now you handle validation errors as exceptions and you are only able to catch one validation error per post to the api. All validation errors should be found in a request and in case of error raise a validation exception that holds all errors.

A rule of thumb is that if a user can move forward by changing the inpu

[2019-11-22 15:22] eldadfux commented on #260
Using error stacks instead of throwing an exception might be a good option as long as it doesn't effect the server in any other way. It might be a really big change so I'll have to do a farther research in that area and I guess that for now this is not a top priority.

The current implementation allows a developer to distinguish input error from other errors by using the HTTP status code. Appwrite

[2019-11-23 15:43] eldadfux commented on #255
@monatis let me know if you need any help. I am available on our Discord server:
https://discord.gg/GSeTUeA

[2019-11-23 15:45] eldadfux commented on #251
So I tried the Github bot on a private channel and it does seems to be really spamy. Is there anyway to create a channel on your server that is not sending notification? @RizkyRajitha @Kiy4h

[2019-11-23 15:50] eldadfux commented on #254
@monatis at the first stage you will be allowed to add your own certificate (signed or self-signed) to the Appwrite docker container. A Letsencrypt integration can be a really cool feature for a production deployment. Can you suggest any good docker container daemon that we can use for this?

[2019-11-23 15:55] eldadfux commented on #203
Sorry for the late reply. We had a big discussion about this (https://github.com/appwrite/appwrite/issues/7) and decided to use prettier for code formatting. I really want to integrate this process into our CI as part of any pull request. If you think you can help with us, please let me know.

You can also reach our on our Discord server:
https://discord.gg/GSeTUeA

[2019-11-23 15:58] eldadfux commented on #124
Hey @mostafahussein, so I took your advice and moved all our docker-compose files to use volumes instead of mounts. This seems to really help solve some of the problems we faced related to read and write permissions errors in the DB or storage services.

Thanks!!

[2019-11-23 16:07] eldadfux commented on #246
Just to keep this thread up-to-date.

We have updated the permissions docs, making them a lot simpler to understand and we have also added some usage examples: https://appwrite.io/docs/permissions

[2019-11-23 16:07] #247 closed

[2019-11-23 16:36] mostafahussein commented on #24
Any updates on this? If no updates happens during this week I might take over it so I can work it by the next weekend :D

[2019-11-23 16:40] mostafahussein commented on #124
Glad to hear that!

[2019-11-23 17:49] RizkyRajitha commented on #251
we can mute that channel @eldadfux

[2019-11-23 17:55] #124 closed

[2019-11-23 18:26] eldadfux opened #261 "Custom OAuth Scopes"
Currently, Appwrite's OAuth endpoint is requesting our predefined OAuth scopes from each service. This predefines scopes are usually used for getting the user name and email for allowing us to verify the user identity and successfully completing its registration or login process.

After completing the user authentication, we save the user OAuth token on his user account to allow app developers to

[2019-11-23 18:26] mbtamuli commented on #24
Sorry people, I got busy and haven't been able to work on this. Feel free to take it up. @mostafahussein

[2019-11-23 18:29] monatis commented on #254
Hi @eldadfux, I think that my username was mistaken while you were intending to mention @ghost. Anyway, I'm happy to share my ideas. You can use [Certbot Docker image](https://hub.docker.com/r/certbot/certbot/) for Letsencrypt integration; however, it's somewhat tricky to implement. You can have a look at [this useful tutorial](https://medium.com/@pentacent/nginx-and-lets-encrypt-with-docker-in-le

[2019-11-23 18:32] eldadfux commented on #24
@mbtamuli thanks for giving it a try! @mostafahussein - as always feel free to reach out for any question.

[2019-11-23 18:45] monatis commented on #255
@eldadfux I've already made some progress in this, coding a Docker-containerized object detection API. I'm travelling this weekend to talk at some developer events, but I'll share my code as soon as possible for further discussion and to get some clues around integration with the storage API.

[2019-11-23 18:47] eldadfux commented on #255
@monatis sounds cool! Have a great trip and keep us posted! 👍🏻

[2019-11-24 15:07] wentzlau commented on #260
A solution would be to include an error code in the current error response. You could prepend the error code with error type like "Fatal.SMTPServiceNotFound", "Validation.InvalidPassword" or "Authentication.UnknownUserOrPassword"

something like:
{ "error": "Validation.InvalidPassword",  "message":"Invalid password: Password must be between 6 and 32 chars and contain ...","code":400, ...

In the a

[2019-11-25 10:46] wentzlau opened #262 "user groups and plans"
I miss the possibility to create user groups in appwrite. A JWT holds the groups a user is member of. I need them to place users in various plans for my service.

Maybe there also should be support for plans with features in appwrite. A plan consists of features and a feature is tied to a user group. Users should be able to move between plans and a webhook is calles when a user change plan.

[2019-11-25 10:58] eldadfux commented on #262
Hey @wentzlau, I think Appwrite's Team service might be exactly what you are looking for.

Please take a look at the docs:
https://appwrite.io/docs/teams

The teams service also lets you manage different roles within the team and restrict [permissions](https://appwrite.io/docs/permissions) to your project resources by user ID, team membership or team role.

I am not sure exactly what you mean by p

[2019-11-25 10:59] eldadfux commented on #262
We still don't support JWT token for user authentication but it's something that we plan to add in the future.

[2019-11-25 11:11] wentzlau commented on #262
I read this as a end user feature where end users able to create teams. If a backend server with api-key creates a team who is the owner?

[2019-11-25 11:19] eldadfux commented on #262
On [admin mode](https://appwrite.io/docs/admin), no user will be the owner. You can use the server integration to send a new invite to any user you wish.

I would love to learn more about your use case, this might help us better design & explain the differences between server-to-server vs. server-to-client integrations.

https://github.com/appwrite/appwrite/blob/master/app/controllers/teams.php#L1

[2019-11-25 11:43] wentzlau commented on #262
I think there are conceptually differences between teams and groups. In a team you invite members and an invitation is send to the members who is invited. A member can decline the invitation.

I think of user groups as controlling security access. It is the backend system that adds and removes members to user groups. When a new user signs up for my service the user choose a plan. That plan consist

[2019-11-25 12:01] eldadfux commented on #262
It's really important for us to find a generic enough solution for such cases. It's vital that Appwrite will be a flexible as possible and won't enforce any app-specific flow on app developers.

I was thinking about adding a new feature called 'audiences'. This feature will allow Appwrite admins to mark their users with relevant categories they wish. This will also allow admins to filter users by

[2019-11-26 10:32] monatis commented on #255
I pushed the first draft of image understanding APIs for Appwrite to a private repository on Gitub and invited @eldadfux  as a collaborator for further discussion. I might invite others as collaborators to this repo as well, but I find it more appropriate to keep it private at this very early stage where we need to figure out many things before going public.
I designed basic schemas for requests t

[2019-11-26 18:49] eldadfux commented on #255
Hey @monatis!

Thank you for keeping us up-to-date with your progress. I did see you invited me as a collaborator to the image-understanding repo, and I will make some time during this week or the upcoming weekend to give it a proper review.

I think that at this stage, it will be best if we’ll develop all AI/ML capabilities as standalone containers that are 100% independent and can be considered

[2019-11-29 20:57] eldadfux opened #263 "Becoming Truly Cross-Platform"
We have been getting some users' feedback that really helped us better understand more use-cases of Appwrite.

Some of those use-cases include using Appwrite behind an internal network with a custom backend server as a gateway, and the other is integrating Appwrite in non-web client platforms like electron, unity, and others.

Currently, Appwrite can be tweaked for both use-cases, but the integrat

[2019-11-29 20:58] eldadfux commented on #263
Implementing the custom origin will also be quite useful when aggregating the API usage stats. This will allow us to calculate usage per origin and help developers analyze, improve performance, and reduce their server costs.

[2019-12-01 17:50] wentzlau opened #264 "Add api gateway for custom business logic"
Right now you have to set up your own backend server to handle functionality that is not handled by Appwrite as a consequence your front end app should then talk to two backend services. Often the custom backend service will have to talk to Appwrite to check user sessions and other information.

To get around that complexity Appwrite should function as an api gateway for the custom backend service

[2019-12-02 20:35] eldadfux commented on #264
I think this is something that can fit quite well in our stack. It's a complicated feature but definitely doable.

By using Appwrite as the only backend entry point, developers can take advantage of Appwrite security.

We will also be able to integrate abuse control and rate-limiting for each new route that is behind the gateway and offer input validation. We can use custom X-Appwrite headers to p

[2019-12-03 14:37] eldadfux commented on #24
@mostafahussein do you think we can use this tool to convert our docker-compose.yml to a helm chart? maybe we can even use it to automate the process whenever we release a new tag...

[2019-12-03 23:40] mostafahussein commented on #24
Do you mean Kompose or something else?

[2019-12-04 00:22] CQ10 commented on #24
ดีคราบ

[2019-12-04 05:14] eldadfux commented on #24
@mostafahussein yeah, sorry - forgot to paste the link:
https://kompose.io/installation/

[2019-12-04 17:46] wentzlau commented on #264
Just found Kong an api gateway that  seems to handle "our" needs :-)

[Kong](https://konghq.com/faqs/)

[2019-12-05 06:30] mostafahussein commented on #24
It worth giving it a try. I will test it out and check if we need more
modifications to do or it will be enough so we can integrate it with travis
too

On Wed, Dec 4, 2019, 7:14 AM Eldad A. Fux <notifications@github.com> wrote:

[2019-12-09 04:39] eldadfux commented on #102
A small update, this will probably be better addressed with some of the changes mentioned in #263

[2019-12-11 07:03] FOUADFAISAL opened #265 "Add realtime capabilities"
Dear ,
is this product support real time database and backend as a service ?
and  is service provides application developers an API that allows application data to be synchronised across clients and stored on appwrite's cloud ?
and when you think it will release android version ?
thank you to reply me.

[2019-12-12 03:13] eldadfux commented on #265
You can use Appwrite database to sync data between clients on different devices. You can learn more here: https://appwrite.io/docs/database. Appwrite currently only offers support for self-hosted setups, we get a lot of requests for a hosted cloud service, and it's something we are definitely aiming for.

Real time support is not something we have built-in yet. We are planing to add this feature i

[2019-12-12 03:33] eldadfux opened #266 "[DISCUSSION] Making the API more REST compatible and predictable"
Before reaching 1.0, we still have the privilege to make some API breaking changes. This change aims to improve the developer experience while using the Appwrite REST API.

Some of the ideas I have regarding this are to consider to combination of the auth and account services. This change is not exclusively related to the "RESTification" of the API but also to make the API more predictable and eas

[2019-12-12 05:26] nzlrhyz opened #267 "Getting started for web guide clarity for platform URL"
Just a little clarity for the URL input during platform selection  as I would of expected it to work fine either way. The trailing slash causes Origin errors.
![unknown](https://user-images.githubusercontent.com/29303391/70684913-b31c2280-1d0c-11ea-957a-0acf687e5d05.png)

[2019-12-12 05:29] eldadfux commented on #267
Thanks for your feedback. I guess the best solution will be to make sure the origin validation can work both ways or at least to make sure we validate the input on the dashboard / API.

I'll assign this issue for 0.5.

[2019-12-12 05:53] wentzlau commented on #266
I think it makes sense to make these changes. Keep in mind non browser clients. Right now there is an requirement for passing redirect url when logging in.
Post account/sessions should return sessionid and user info.
The SDK client class should store the sessionid and pass it in subsequent calls.

[2019-12-12 06:00] eldadfux commented on #266
Actually, storing the session from the client SDK would have made life a lot easier. The problem is that once the client has access to the session key, any 3rd party script (or browser extension) on the user page can hijack it.

This is why we are currently using a secure cookie for session storing on browsers, and this is also the reason we are forced to use the (unwanted) redirect URL parameter.

[2019-12-12 09:15] monatis commented on #266
The current endpoints sound more predictable to me. If I were provided no or very poor documentation, the first endpoints I'd consider would be `/login` or `/user/login` in the case of a web app, and `/auth/login` in the case of an API. Full or semi-RESTification of authentication APIs might end up with a longer learning curve.

[2019-12-12 09:28] eldadfux opened #268 "Support for SameSite cookie option in browsers"
Chrome will require support for this feature pretty soon (expected around Feb 20) while Safari has a bug in this feature implementation for versions lower than macOS 10.15 and iOS 13. We would probably have to set a browser sniffing function to handle this.

The related issue in webkit is:
https://bugs.webkit.org/show_bug.cgi?id=198181#c14

[2019-12-12 09:29] wentzlau commented on #266
Add a new app platform for non browser sdk client login where there is no requirement for redirect urls. The requirement for secure httponly session cookies is mostly required for browser clients because it is possible to inject malicious javascript in the browser.

[2019-12-12 09:32] eldadfux commented on #266
@wentzlau yes, I created a new issue that is related to this problem: https://github.com/appwrite/appwrite/issues/268

[2019-12-12 09:45] eldadfux commented on #266
I truly understand your view on this, I was thinking about this change for a few months now, when looking how our entire API works the auth service is the only one not working with entities and not aligned with REST principles. This could also be a better reflection of how Appwrite actually implement authentication internally (using sessions entities).

I agree with you that it might make a longer

[2019-12-13 09:31] n-kolodziej commented on #264
Indeed this would be a very useful addition to Appwrite; +1

[2019-12-14 07:57] eldadfux commented on #267
Thinking about changing this to a hostname instead of a URL. That way users won't have to add a record for each protocol (https / http) or port number.

[2019-12-14 13:04] nzlrhyz commented on #267
I actually think that's a great idea, would make quite simple then

[2019-12-15 04:37] eldadfux commented on #19
I have just updated the rules documentation on https://appwrite.io/docs/rules. Please let me know everything is clear. I have added examples for both the creation of a simple collection and a collection with nested children.

[2019-12-15 04:57] eldadfux opened #269 "Separation of client and admin routes in the API"
Many users find it hard to understand the differences between client and admin mode. This [document](https://appwrite.io/docs/admin) attempts to explain the differences, but this doesn't seem to be intuitive enough for developers starting to use the Appwrite API.

The idea behind this issue is to separate both modes into different sets of routes. This way, all docs, SDKs, and routes for client and

[2019-12-15 11:21] #203 closed

[2019-12-15 11:23] eldadfux commented on #18
@Riyenz any idea if version 0.4 solves this for you?

[2019-12-15 11:26] eldadfux commented on #11
We are trying to remove the extra params required  for the login and register methods in this issue: #268, Hopefully this will work for modern browsers and we'll only use the extra params as fallback for older ones.

[2019-12-15 11:26] #11 closed

[2019-12-15 11:27] eldadfux commented on #13
Closing this issue in favor of #26

[2019-12-15 11:27] #13 closed

[2019-12-15 19:28] eldadfux opened #270 "Save IP metadata on documents to minimise DB queries on session requests"
Improve session request performance by pre-saving the IP metadata. The IP queries can take up to 1-2 seconds which can be really slow for UI operations.

[2019-12-18 01:14] PedroCisnerosSantana commented on #270
Hey @eldadfux could you please explain it more?

[2019-12-18 01:17] PedroCisnerosSantana commented on #269
Hey @eldadfux I think this is a very good idea, also will this change the view of the dashboard? Because if a normal user can't create a DB for example, he shouldn't have the button to create it, so I think we should also make changes to the dashboard, what do you think?

[2019-12-18 01:22] PedroCisnerosSantana commented on #266
For me some have sense and are easy to remind and some no, so I think this really depends on the dev

[2019-12-19 04:27] eldadfux commented on #269
@PedroCisnerosSantana Hopefully will be able to have on the dashboard any actions that will be available from the admin API  (aka backend or server API). The Appwrite dashboard is only intended for the use of developers building apps and not users using the app, so there is no reason not to let developers create a new database.

This change will lead to a situation where admin only action will not

[2019-12-19 04:31] eldadfux commented on #270
Today, when we call the route GET account/sessions the server is live checking the location of the user sessions IP to return the session country name every time we send a request. This action can take up to 2 seconds, which is really slow for a REST API.

The idea here is to check the country name only when the session is first created and save the result to the DB. That way, any call made to get

[2019-12-24 05:16] eldadfux commented on #269
So while working on this, I had a realization that I might be able to keep using the same paths for routes in admin and client modes while maintaining the separations limited only to the SDKs and docs level.

This might help us both in making everything more clear and help us make sure developers trying to use routes meant for admin only use them from the client-side. The other benefit is that we

[2019-12-31 13:57] eldadfux opened #271 "New Features for File Previews"
Currently, our file preview route (https://appwrite.io/docs/storage#getFilePreview) has some basic features to manipulate preview images. Today we support: cropping image size, changing its quality, changing the background color, and converting the result output format (including WEBP support).

Some of the new features planned are:
* Change scale (or zoom)
* Change image rotation
* Add border (+s

[2019-12-31 14:03] eldadfux commented on #271
Another thing really important to mention is that some of the new image manipulation features will also reflect on the avatars service (https://appwrite.io/docs/avatars).

[2020-01-04 17:34] eldadfux opened #272 "GraphQL Support"
This issue will concentrate all the information regarding the work on the new GraphQL gateway for the Appwrite server. Work on this feature is being actively developed on this branch: https://github.com/appwrite/appwrite/tree/graphql

The new GraphQL is not meant to replace the REST API, but to work alongside it. The goal of this feature is to allow developers to take advantage of the GraphQL capa

[2020-01-07 12:07] danielxharris commented on #272
This could be a good starting point for implementing the protocol:
https://github.com/webonyx/graphql-php

[2020-01-12 22:04] eldadfux commented on #261
We have made big progress on this thanks to @christyjacob4 fantastic work on this during the weekend. This feature should be ready for the next version release (0.5).

@christyjacob4 do you think you could write a small post about how to use this feature that we could publish on our Medium blog?

[2020-01-13 04:23] christyjacob4 commented on #261
Yea I can write the blog post. Let me know by when you require it.
I also need some details regarding the same.

[2020-01-13 06:21] eldadfux opened #275 "Making E2E tests run in multiple contexts"
E2E Tests should test how Appwrite services work in multiple different contexts.

Some different contexts might be:
* Console master project (all projects are children of the console project)
* Custom project  created by a console user
* Integration from client or server sides
* Different authentication methods.

This method of testing will be a great way to improve the test coverage of Appwrite E

[2020-01-13 07:28] armino-dev commented on #5
Hi @eldadfux, I can help with adding more providers.
I have tried to play around with Github OAuth to see how it's working, but it seems something is broken.
I get a _Missing Project UID_ error.
I used this link pattern to test:
http://localhost/v1/auth/login/oauth/callback/github/{project_id}?success=http://localhost/?success=1&failure=http://localhost/auth/signin?failure=2
I noticed also on appw

[2020-01-13 07:44] christyjacob4 commented on #5
@armino-dev can you share the steps you followed?

[2020-01-13 07:55] armino-dev commented on #5
@christyjacob4
Here are the steps:

1. I created a sample project
2. I created an OAuth app on Github and got the client id and secret
3. I navigated to Users > Providers, inserted the data from Github and save it.
4. I tried http://localhost/v1/auth/login/oauth/callback/github/{project_id}?success=http://localhost/?success=1&failure=http://localhost/auth/signin?failure=2 with my project id off co

[2020-01-13 08:26] christyjacob4 commented on #5
This is the endpoint you need to hit
http://localhost/v1/auth/login/oauth/github?project={project_id}&success=http://localhost/?success=1&failure=http://localhost/auth/signin?failure=2

[2020-01-13 08:32] armino-dev commented on #5
oops, thanks

[2020-01-13 08:42] christyjacob4 commented on #5
@armino-dev I hope it works now

[2020-01-13 08:45] eldadfux commented on #5
@christyjacob4 I think @armino-dev is hitting the same bug we had when we were working on the #261 issue.

@armino-dev i'll push a fix into the master to fix the missing project UID error. This is caused due to our lack of e2e testing for OAuth providers.

In this issue #275 i'll make sure to add a mock OAuth server that will be tested in the CI server and make sure this kind of thing don't happen

[2020-01-13 08:48] armino-dev commented on #5
Yes @eldadfux, you are correct. I have just tried with the correct endpoint and I get the same missing project UID error.

[2020-01-13 08:52] eldadfux commented on #5
Just committed a fix to the master branch:
https://github.com/appwrite/appwrite/commit/c5444c828ffa6938be4e0f9901fb2f7a970e9aeb

If you are building the Appwrite container from the master branch and not from version 0.4.0 on Docker Hub you should just sync your master and I think this should work for you.

[2020-01-13 09:07] armino-dev commented on #5
I have just synced my fork, and everything it's working smoothly. I can make the Discord and Twitch OAuth integration for start, or any other provider you suggest.
Let me know if it's ok, and thanks for the fix.

[2020-01-13 09:17] christyjacob4 commented on #5
@eldadfux I think Discord and Twitch would be great as well.
You can refer to this comment https://github.com/appwrite/appwrite/issues/5#issuecomment-537380277 to get more information on providers we have planned.

Feel free to suggest more providers as well.

[2020-01-13 09:19] armino-dev commented on #5
Ok, thanks. I'll come with a PR soon.

[2020-01-14 05:10] eldadfux commented on #275
This issue is almost done, Just finished refactoring e2e tests for 7 out of 9 services.

[2020-01-14 09:53] eldadfux commented on #236
@christyjacob4 I can't seems to reproduce this bug on the master branch, any chance you can give it another look?

![image](https://user-images.githubusercontent.com/1297371/72333434-730dde00-36c4-11ea-8d42-e3f5f64c27ef.png)

[2020-01-14 09:56] christyjacob4 commented on #236
Okay @eldadfux i will give it another look and update

[2020-01-14 20:55] eldadfux commented on #268
Just finished to implement this and it should be released on the upcoming version 0.5.

This feature allow us to drop the success and failure redirect URLs. The login endpoint will result in a valid JSON response with no need for any HTTP redirects.

There is also a fallback cookie used for clients that still miss support for the SameSite option or for non-https connections. The fallback cookie is

[2020-01-16 13:20] TorstenDittmann opened #282 "SMTP not working"
Having trouble setting up SMTP. Appwrite is sending no mails with either default configuration or custom SMTP server.

Centos 7
Appwrite 0.4.0

I also think it is strange, that team@appwrite.io is hardcoded into PHP.

Using default environment variables:

**docker ps**
[code]
**docker logs appwrite-ce_appwrite_1**
[code]

**docker logs appwrite-ce_smtp_1**
[code]

With custom SMTP configuration **

[2020-01-16 13:55] eldadfux commented on #282
The default SMTP settings are basically designed for a dev environment and as a good way to get started with Appwrite. Sending emails for production environments that actually pass SPAM filters requires extra configurations.

I wrote in short about this topic in the Appwrite production tutorial:
https://github.com/appwrite/appwrite/blob/master/docs/tutorials/running-in-production.md#sending-emails

[2020-01-16 14:04] TorstenDittmann commented on #282
Thanks!
Ah okay, I am gonna look into this.

Btw, I found the problem. `iproute2` wasnt installed on the SMTP container and so the ip command failed.

[2020-01-16 14:08] eldadfux commented on #282
Thanks!! Do you want to get the honour and send a PR for the SMTP repo with a fix? 😉
https://github.com/appwrite/docker-smtp

Let me know!

[2020-01-17 05:27] eldadfux commented on #268
Safari now completely blocks any 3rd party cookies leaving Appwrite with no secure way to set a user session on remote domains.

This leaves us with two options:
1. Setting a fallback session key in the user's localStorage. This is not considered a good practice. Any 3rd party or malicious script could easily get access and reuse the user session.
2. Recommend or even enforce self-hosted setups to

[2020-01-17 15:03] eldadfux commented on #5
Updated @christyjacob4 list:

**Done:**
- [x] BitBucket
- [x] Facebook
- [x] Github
- [x] GitLab
- [x] Google
- [x] Microsoft
- [x] LinkedIn
- [x] Slack
- [x] DropBox
- [x] Amazon
- [x] VK
- [x] Discord
- [x] Twitch
- [x] Spotify

Ready for new PRs:
- [ ] Twitter (OAuth2 not OAuth1)
- [ ] SoundCloud
- [ ] Apple (Should be very similar to Auth2 - requires Apple developer account)
- [ ] Yahoo
- [ ]

[2020-01-18 14:15] Parikshit-Hooda opened #285 "Apply to Google Summer of Code, 2020"
GSoC is accepting Organization invites for its 2020 session. appwrite should submit the application, in my opinion.
What do you think @eldadfux

[2020-01-18 22:39] novidtech opened #286 "Appwrite compliance"
Hi, I was told to lodge a ticket to find out about appwrites compliance and privacy policies as I work with high enterprise corporations that only allow data to be hosted in sure, regular code review etc.... In other words, very strict management of everything we use. I want to use appwrite but would it suite these types of Customers?

I look forward to hearing from you soon

Kind regards,
Rohan

[2020-01-19 05:38] eldadfux commented on #286
Hey @novidtech, I would love to follow up on this if you could provide more information about your clients' specific requests and needs. You can email me at team@appwrite.io, and I'll get back to you with more details.

[2020-01-19 07:26] #286 closed

[2020-01-19 07:32] eldadfux commented on #285
@Parikshit-Hooda thank you for the suggestion. These days we are checking to see if we qualify to participate in the program. I'll update if we'll have any positive news.

[2020-01-21 12:53] #282 closed

[2020-01-21 22:02] LorenzHenk commented on #149
Is this still being worked on? 🤔

[2020-01-21 22:23] eldadfux commented on #149
@LorenzHenk yeh, actually @christyjacob4 has almost completed this, we only have some final code reviews on it and it will be ready. Once done we'll look for contributors to replicate this demo with other frameworks.

[2020-01-22 00:02] lloy0076 commented on #149
@eldadfux This would be a great edition; the framework (probably the wrong description for the project) does look good but it's not clear how one could integrate this with customisable data.

[2020-01-22 06:00] eldadfux commented on #149
@lloy0076 hope to release this in the coming days. If you have any specific question please feel free to open a new issue or join us on our discord server:
https://discord.gg/GSeTUeA

We would love to help you get started! 🤘

[2020-01-22 06:16] eldadfux commented on #5
Just updated the the list with our latest Bitly and Salesforce adapters.
I thinks that if we have no technical issues with Twitter we should prioritise it.

[2020-01-22 09:40] armino-dev commented on #5
I have played yesterday with more providers, for example, battle.net and Vimeo. They do not return emails, unfortunately.
I think Shopify can't be used because their API is tight to a store. You need to make requests to an endpoint like {shop}.myshopify.com/admin/api
I tried Stripe but can't verify my account. Romania is not in their countries list, so I have abandoned it.
I'll play with Twitter A

[2020-01-22 14:49] eldadfux commented on #5
@armino-dev thanks for the update.

As mentioned before on Discord and to keep everyone here at sync, Appwrite requires the email as a unique id for login and account recovery. We do have plans to add phone support and allow anonymous login in the future. Once we are there, I think we can revisit all the adapters that don't return an email.

We should also make future plans for custom settings, to

[2020-01-29 10:51] eldadfux commented on #263
As a start, I have pushed a commit to the master that skips the origin header validation if the client didn't send it. This will allow easier integration for non-web client-based platforms.

[2020-01-29 10:56] TorstenDittmann opened #292 "Improve optional arguments"
Let's say I wanna use `getFilePreview('[FILE_ID]')` and change the output format. Since the argument for output is at the end after 4 different optional arguments, the method call can look quite confusing.

My suggestion would be to have a single object to achieve flexible and readable optional arguments!

Like: `sdk.storage.getFilePreview('[FILE_ID]', { output: 'jpeg' } );`

Since I would love to

[2020-01-29 11:11] eldadfux commented on #292
Yeh this a nice idea 💡

I was looking into something like this lately:
https://simonsmith.io/destructuring-objects-as-function-parameters-in-es6

This might allow us to support multiple ways to pass arguments and handle default and required values easily. I'll assign this for deeper review in 0.6.

[2020-01-29 11:28] eldadfux commented on #237
First preview 🎺
![image](https://user-images.githubusercontent.com/1297371/73352988-0e917800-429b-11ea-9903-b4588dd98fee.png)

This feature might be available sooner than 1.0+, 0.6-0.7 might be a realistic timeframe.

[2020-01-29 11:32] TorstenDittmann commented on #292
I like the idea of having required and optional arguments divided like I said, if you have all arguments in an object, you have to check for for the required arguments inside the object.

I think it is more easy to have the required parameters as single arguments and all the optional ones as a single object.

Like this you can directly see inside the IDE whats required.

But with something like th

[2020-02-06 10:24] komorebi-san opened #294 "Distributed Appwrite Server"
I have two different servers running. One locally and another in a remote server.

Is it possible to sync the Appwrite, including the Account and Authentication services?

Means that, if I register an account via the remote server, locally it will sync from the remote host to have the account locally as well, vice versa.

[2020-02-06 17:32] eldadfux commented on #294
Not sure about your exact use-case and what you are ultimately trying to achieve, but you can try a few paths to reach your sync goal.

1. Use Appwrite webhooks to register an HTTP endpoint on every event you would like to achieve, and use it to sync your local DB. (v0.5 will include a lot more event than current 0.4)
2. Sync Appwrite DB. Appwrite uses MySQL/MariaDB to store all data. You can use

[2020-02-06 17:48] #275 closed

[2020-02-18 06:08] #266 closed

[2020-02-22 18:49] #294 closed

[2020-02-22 18:49] #285 closed

[2020-02-22 18:50] eldadfux commented on #237
This is ready and available on the master branch. This will be included in the 0.5 release.

[2020-02-22 18:52] #237 closed

[2020-02-22 18:54] eldadfux commented on #269
This feature is ready and available on the master branch. Will be released with version 0.5.

[2020-02-22 18:54] #269 closed

[2020-02-22 18:58] eldadfux commented on #268
Work on custom-domains feature has started on this branch:
https://github.com/appwrite/appwrite/tree/custom-domains

[2020-02-24 12:53] eldadfux commented on #236
@christyjacob4 did you had any chance to take a look at this?

[2020-02-24 12:53] #19 closed

[2020-03-04 22:56] eldadfux commented on #267
Done on this commit:
https://github.com/appwrite/appwrite/commit/92babbd21a5b42967ad18918247178cd70c808f9

Will be part of the 0.5 release 🎉

[2020-03-04 22:56] #267 closed

[2020-03-10 05:48] eldadfux opened #297 "Database Collections UI"
Add UI for creating a new collection and collection rules and updating them as well. Consider having some stats from InfluxDB with the amount of documents, read and write operations, maybe some charts?

[2020-03-10 05:49] eldadfux opened #298 "Database Documents UI"
Add UI for document creation. We should generate the UI input fields dynamically according to the document collection's rules.

[2020-03-10 05:50] eldadfux opened #299 "Make Docs Support Multiple Versions"
Making Appwrite online docs support multiple API spec versions https://appwrite.io/docs

[2020-03-21 01:42] eldadfux commented on #267
![image](https://user-images.githubusercontent.com/1297371/77216792-e3523900-6b25-11ea-8bd5-731c2cf83f62.png)

[2020-03-21 14:57] TorstenDittmann opened #301 "Duplicate User Accounts"
Due to an error where my account creation fired twice at the same time, I was able to create two identical Accounts in my Appwrite project :)

Easy reproducible by just creating a user twice right after each other.

<img width="918" alt="Screenshot 2020-03-21 at 15 59 16" src="https://user-images.githubusercontent.com/1759475/77229240-f4826080-6b8c-11ea-9f09-4ffac2cbe046.png">

using 0.5.0

[2020-03-21 16:18] eldadfux commented on #301
Is this happening for you only when sending both requests at the exact same time? is this OK when there is a delay between both?

[2020-03-21 16:23] TorstenDittmann commented on #301
Fixed my bug right away that would fire the function twice. It was because in the register form I had the function in the form action and in the button click. So it got called twice without any delay. I can look into that and call it twice with delay!

[2020-03-21 16:25] eldadfux commented on #301
That is still a bug that must be fixed at the API level as well, I just wanted to know about the delay issue to make sure I am seeing the same thing on my env.

[2020-03-22 09:59] eldadfux commented on #301
This is fixed in 0.5.3. Please mind to run the upgrade script again after setting up the new Docker container version.

[2020-03-22 09:59] #301 closed

[2020-03-25 19:43] bartektartanus opened #303 "Some API parameters are not in camelCase"
Currently in API there are 3 methods that uses order type parameter. Two are named `orderType` and one is `order-type` which is inconsistent.
`GET/storage/files` has `orderType`
`GET/database/collections/{collectionId}/documents` has `order-type`
I think this should be fixed to `orderType` as most of the parameters are written in camelCase.
Other parameters are: `order-field`, `order-cast`, `old-p

[2020-03-25 20:22] eldadfux commented on #303
This is a really bad API design issue and we'll push a fix for version 0.6. This will be introduced as an API breaking change. It should not affect users of Appwrite SDKs, but new versions of all SDKs will be pushed anyway.

[2020-03-25 21:47] eldadfux commented on #236
Closing this issue, 0.6 or 0.7 should have a new DB UI anyway.

[2020-03-25 21:47] #236 closed

[2020-03-30 08:50] shivansh54kol opened #306 "[DISCUSSION] Code Examples Font"
The container/div containing the code in the documentation has its font very different from what programmers are used to. You guys can change it to something different like "Consolas" or "Ubuntu Mono".

[2020-03-31 08:32] eldadfux commented on #306
Would be great to get more font suggestions, so we'll be able to pick the best font that also matches the Appwrite brand design, look and feel.

Please note, that we'll only use an open-sourced font.

[2020-03-31 14:36] TorstenDittmann commented on #306
Might be a bit overkill:
https://www.jetbrains.com/lp/mono/

But fits all the requirements :)

[2020-04-01 07:53] eldadfux opened #307 "Appwrite 'Cloud Functions'"
Adding cloud functions is one of the most requested Appwrite features to date. Before we finalize the feature spec, we would love to get as many community feedback and suggestions as possible.

## Goal

The goal of this feature is to create a sandbox where user-generated code can execute both on-demand and on existing system event (user.create, document.update, file.create, etc...). Each sandbox w

[2020-04-01 08:41] eldadfux commented on #297
Work in progress:
![image](https://user-images.githubusercontent.com/1297371/78116965-b9462400-740d-11ea-9656-acf0f21feda2.png)

[2020-04-01 08:58] TorstenDittmann commented on #307
Then I'll add my mustard, as we say in Germany.

What bothers me about most cloud functions is the unnecessary complexity. In my experience, the requirements for most cloud functions are relatively simple.

Maybe it is because I try not to push complex functions to serverless or cloud functions.

## Languages
To simplify maintainability, I would advise to stick with Node.js, PHP, Ruby, and Python

[2020-04-02 06:55] eldadfux commented on #307
@TorstenDittmann thanks for the great feedback! Really love how you put your focus on simplicity. I think this is one of the core values of Appwrite.

I agree that having a small IDE on the dashboard could be great for small, simple functions, but I am not sure we'll be able to avoid some kind of a deployment tool for functions that will need to rely on dependencies.

Visual programming sound inte

[2020-04-02 07:39] eldadfux commented on #307
Some visual thoughts about the design to add to the discussion

![image](https://user-images.githubusercontent.com/1297371/78222626-33d67880-74ce-11ea-8165-0f6f07d020fb.png)

[2020-04-02 07:40] eldadfux commented on #307
Some visual thoughts about the design to add to the discussion

![image](https://user-images.githubusercontent.com/1297371/78222698-536da100-74ce-11ea-8fcc-b04cb7882fa2.png)

[2020-04-02 14:08] TorstenDittmann commented on #307
Indeed, that is true. I was just relating to my personal use cases.

### How my perfect scenario for more advanced cloud functions would be:
- Have a repo for my Cloud Functions
- Integrating the CLI with CI to build/upload to my AppWrite Instance
- Having an API endpoint for that function (also SDK method for handling those)
- Having the ability to easily select Cloud Functions in Tasks

Somethin

[2020-04-05 13:33] wentzlau commented on #307
I think that "cloud functions" is a great concept to work toward. I don't think that we should settle on one programming language but make an open system where it is possible to register functions in different programming languages to be called by AppWrite.

I think that my thoughts in #264 "Add api gateway for custom business logic " actually describes how to do this. In addition to the gateway f

[2020-04-05 14:48] TorstenDittmann commented on #307
@wentzlau concept sounds great, but wouldn't this create another layer of complexity for the developer in the end?

Writing a script with the already existent Server SDK, hosting it on Appwrite and calling it with the server/client SDK or an API route seems more straight forward to me.

This could be extended with Webhooks and Tasks.

[2020-04-05 16:30] wentzlau commented on #307
Mostly no, it will reduce complexity. If you want to create extra functionality that is not a part of appwrite and should be called from an app/web client you need to spin up an extra service for the extra functionality, implement authentication, work with certificates and so on. In your client app you will have an extra api service to connect and authenticate too.

[2020-04-05 17:45] TorstenDittmann opened #308 "API health check endpoint"
What would you think about adding an API endpoint for a health check?

The API endpoint `/health`could perform various checks such as:
- The status of the connection to Database, Storage, Redis and Influx
- The status of hosting machine’s disk storage
- ...

This can be handy to monitor the API uptime & status.

[2020-04-05 19:29] wentzlau commented on #307
@TorstenDittmann Maybe I misread your comment. I now realize that you maybe mean it is easier to handle if the code exists in a database in appwrite and executed in an runtime enviroment in appwrite.

You still have to do some bootstrapping of the code to inform appwrite where to start your code. Actually my suggestion for api sketch above would be almost identical but the code behind would be dif

[2020-04-05 19:37] eldadfux commented on #308
😮We actually have an Health API! It's just not documented or available from the SDKs yet.

Let's make it public for 0.6 🎉

@TorstenDittmann do you think we should add it to the docs as well?

You can check available methods from the source code:
https://github.com/appwrite/appwrite/blob/master/app/controllers/api/health.php

let me know what you think...

[2020-04-05 19:54] TorstenDittmann commented on #308
Well looks good to me 👍

[2020-04-07 03:02] cweagans opened #309 "Multitenancy?"
Does appwrite support multitenancy? I don't see anything about it on the website, but if it does, it's pretty much the perfect platform for my needs.

If it does not support multitenancy, are there plans to do so?

[2020-04-07 03:38] cweagans commented on #309
Actually, it looks like it does -- I can just create new projects for each app I want to work on. This could probably be explicitly called out in the documentation. I only noticed it in the screenshots.

[2020-04-07 03:52] eldadfux commented on #309
Hey, @cweagans. Appwrite does support multitenancy. You can create an unlimited number of multiple projects and apps and invite any number of team members to manage your project from a single Appwrite setup.

This does seem to be missing from the docs, where would you expect to find such information? Where do you think would be the best place to add this to the docs?

[2020-04-07 04:01] cweagans commented on #309
I'd put it front and center on the home page with the other features under "Power, Security, and Flexibility". I was looking at the appwrite stack thinking "man, all of this for one app? maybe i should just write my own backend".

[2020-04-07 05:18] eldadfux commented on #309
This is definitely something we can improve on our homepage.
Please feel welcome to join our Discord community if you have more feedback or in need of support: https://discord.gg/GSeTUeA

[2020-04-07 05:30] #309 closed

[2020-04-09 18:19] eldadfux commented on #271
hey @christyjacob4 , do you think you'll be able to work on this for 0.6?

[2020-04-09 18:20] christyjacob4 commented on #271
Hey @eldad could you tell me the release schedule for 0.6?

Thank you

On Thu 9 Apr, 2020, 11:49 PM Eldad A. Fux, <notifications@github.com> wrote:

[2020-04-09 18:41] eldadfux commented on #271
Our goal right now is to move to shorter, feature based release cycles. So when you're ready we'll aim to release this. 0.6 is scheduled for the DB UI feature, but if this we'll be ready sooner we can ship the DB UI with 0.7.

[2020-04-10 21:46] eldadfux commented on #307
I think having a CLI to deploy the code will probably be easier for us to code than having an online editor. On the other hand, having an online editor will definitely make things easier for a lot of developers. I'd probably want to test both directions and hope we can overcome the difficulties.

I would try to avoid adding other functionality like trying to analyze the use of code or writing more

[2020-04-10 23:46] TorstenDittmann commented on #307
I agree on everything you said @eldadfux !

But I would prioritise a CLI over the editor for one particular reason, **Deployment**. Something like an editor is just really handy for developers with less backend & devops experience. Also overengineering that feature in general might be unnecessary. IMO everyone creating a big project, where complex cloud functions and workflow is required probably

[2020-04-13 07:12] eldadfux opened #310 "Add Brotli support to Appwrite Nginx Server"
https://github.com/google/brotli

This integration should improve Appwrite HTTP performance on supported clients. Currently Traefik doesn't support this (https://github.com/containous/traefik/pull/6011) so our Nginx container is our only option.

This should be added on our main Dockerfile located here:
https://github.com/appwrite/appwrite/blob/master/Dockerfile

[2020-04-13 07:14] eldadfux commented on #303
This is fixed now, will be released in next version

[2020-04-13 07:14] #303 closed

[2020-04-14 18:42] javib51 commented on #307
Hey! I'm new here but I just got curious by this conversation.
I like the idea of having 'cloud functions' for appwrite. I have some thoughts already:
- I don't think that implementing a serverless engine is a good idea. It will add a tremendous overhead to the development of appwrite that I believe it's not necessary nowadays. There are multiple engines that you can integrate with. Personally, I

[2020-04-15 04:38] Rohitub222 commented on #310
Hi eldadfux, would love to work on this. Is anyone working on this? If not, want to do so.

[2020-04-15 05:36] eldadfux commented on #310
Hey @Rohitub222, no-one is working on this yet, it will be great if you could help with this.

You can also join our Discord channel if you'd like: https://discord.gg/GSeTUeA

Let me know if you need any help

[2020-04-15 09:57] Rohitub222 commented on #310
If I could be of any help to you then the pleasure is mine.
Thank you for letting me in.

[2020-04-15 20:17] cweagans opened #312 "Named documents"
For the most part, I could get by with the document IDs being auto generated, but there are a few cases where that doesn't work very well.

For instance, if I wanted to store and load some app preferences for a particular user account, it would be create to explicitly say "this document is the preferences document and I can only have one". Maybe it's an optional param for https://appwrite.io/docs/

[2020-04-16 05:30] eldadfux commented on #312
You can overcome this issue in two ways:

1. Use the account prefs route to save user specific data like this:

[code]
Spec is here: https://appwrite.io/docs/account#updatePrefs

2. Like you said you can add only one document per user in that collection, but you could use the documents list route to fetch only one document instead of an array (using the "first=1" parameter) and this will be a bit

[2020-04-17 14:52] eldadfux commented on #310
@Rohitub222 Any news? let me know if I can help

[2020-04-18 14:10] Rohitub222 commented on #310
Hi Eldad,
Was in touch with traefix team to get update on when they would have brotli
support. I felt it would be better to go traefix with brotli support than
with nginx. So waiting for traefix team response will wait for a couple of
days. Positive feedback well and good if negative feedback would go with
nginx. Any suggestions?

Thanks and Regards,
Rohit B

On Fri 17 Apr, 2020, 8:22 PM Eldad A.

[2020-04-18 14:25] eldadfux commented on #310
Thinking about it more, I think it would be better to go with Nginx for multiple reasons.

* Traefik + Brotli has been in talk from 2018 and still not clear if this is actually going to happen.
* Our Traefik server is completely decoupled from the app, while the nginx is very well aware and coupled to it. Nginx support will not introduce new complexity.
* It probably be better to leave the hard wo

[2020-04-22 17:08] Rohitub222 commented on #310
Yes, I gave it a thorough thought which also required to go through the
code base. So finally agreeing to your reasons will be going ahead with
nginx and will start implementation by end of the week and might be around
28th will be completing it.

On Sat, Apr 18, 2020 at 10:25 AM Eldad A. Fux <notifications@github.com>
wrote:

[2020-04-28 15:59] eldadfux commented on #306
Used the open-source 'Source Code Pro' font:
![image](https://user-images.githubusercontent.com/1297371/80509423-120fca80-8982-11ea-8777-d53d3aaee41d.png)

https://fonts.google.com/specimen/Source+Code+Pro

[2020-04-28 15:59] eldadfux commented on #306
Does it look better?

[2020-04-30 04:16] Joe118 opened #314 "HTTP docs"
Per suggestion from Eldad, I'm adding this issue (a docs feature request) in the hope that a plain HTTP REST documentation will be added to the excellent appwrite docs. This will allow developers to more easily create an SDK in an as-yet unsupported programming language or environment.

Some examples of excellent HTTP REST API documentation:

DropBox: https://www.dropbox.com/developers/documentati

[2020-04-30 04:20] eldadfux commented on #314
We'll aim to add this with the 0.7 release. We can use the Appwrite [SDK Generator](https://github.com/appwrite/sdk-generator) to auto generate all CURL code examples just like we do with all the other SDK examples.

[2020-04-30 06:54] eldadfux opened #315 "Windows One-Liner Installation"
Our installation command for getting started with Appwrite quickly doesn't work on Windows terminal.

I don't have any Windows machine to test or fix this, but this has been reported by a few users.

We need help converting this line to something that can also work for Windows users:

[code]

[2020-05-01 17:07] eldadfux commented on #271
Hey @christyjacob4 please let me know if you can work on this or should we try and find someone else to work on this 🙏🏻

[2020-05-01 17:39] Heartless49 opened #316 "Unable to remove a key from User Prefs"
Storing a JSON object for User Prefs works as expected, however upon trying to delete/remove a key from this object at a later time, the existing value persists.

Recreation/Tests (`node-appwrite`):
[code]
After the above tests, the only result that you can get to leaves a `null` value and the key still present in the User Prefs and no way to completely remove the key.

As brought up by @eldadfux,

[2020-05-02 07:49] christyjacob4 commented on #271
@eldadfux I will work on this 👍

[2020-05-03 19:14] eldadfux commented on #310
Hey @Rohitub222 , any updates? let me know if you could use any help...

[2020-05-04 06:30] Rohitub222 commented on #310
Hi there, Yes I have been working on it. Give me some more time probably a
couple of days. Yes will contact you if I have any questions.

Thank you,
Rohit B

On Mon 4 May, 2020, 12:44 AM Eldad A. Fux, <notifications@github.com> wrote:

[2020-05-04 06:53] eldadfux commented on #263
Full support is ready and will be release with version 0.6 and our new flutter integration.

[2020-05-04 06:54] #263 closed

[2020-05-05 17:32] eldadfux commented on #307
Just finished the first draft for the API spec:

![image](https://user-images.githubusercontent.com/1297371/81096635-5e718200-8f0f-11ea-92f7-9bd52ad83230.png)

The complete source code for the controller is available here:
https://github.com/appwrite/appwrite/blob/functions/app/controllers/api/functions.php

[2020-05-07 20:55] eldadfux commented on #306
Deployed on the latest version of appwrite.io

[2020-05-07 20:55] #306 closed

[2020-05-08 22:20] eldadfux commented on #315
I was googling around for a Windows alternative command for our installation script, would be great if someone with a windows machine could help validate the attempted solution:

[code]

[2020-05-09 11:42] TorstenDittmann commented on #315
I can try this on Monday 👍

[2020-05-09 11:44] eldadfux commented on #315
@TorstenDittmann 👌🏻

[2020-05-10 13:49] Rohitub222 commented on #310
Hi Eldad,
I am done with the development/changes not sure about how create pull
request and push changes since I don't have permission to push. Can you
please help.

On Mon 4 May, 2020, 11:59 AM rohit u, <rohitub222@gmail.com> wrote:

[2020-05-10 13:51] christyjacob4 commented on #310
@Rohitub222 You can create a fork of the repo, push your changes to your fork and then raise a PR against the main repo

[2020-05-10 15:54] eldadfux commented on #310
Exactly what @christyjacob4 said ⏫👍

[2020-05-11 21:05] TorstenDittmann commented on #315
Seems like I can't use Docker on my Windows Machine due to having Windows 10 Home and that's why I am lacking Hyper-V support...

[2020-05-12 14:54] dor272 commented on #315
Hi,
It still seems to not work:

[code]

[2020-05-16 19:36] pedromassango opened #318 "Use enum for supported auth provider values"
I want to propose a change for the Flutter SDK, right now it seems that we are using String for the provider (in `createOAuth2Session()`) My suggestion is to use enum instead of string to prevent the user for entering invalid inputs.

[2020-05-17 09:40] eldadfux opened #319 "Update Appwrite's Redis Resque library"
We need to start using the new PHP Resque client for PHP as the current one we use is no longer under maintenance (https://github.com/chrisboulton/php-resque/issues/371).

We use Redis Resque to manage all Appwrite background and scheduled tasks, and all of our queues and internal messaging.

This is the up-to-date fork which seems like the best alternative to our current setup: https://github.com

[2020-05-17 21:16] RizkyRajitha commented on #315
i think replacing backslash with back tick will work in windows powershell
and for windows cmd replacing  / with  ^ works

for powershell

docker run -it --rm `
    --volume /var/run/docker.sock:/var/run/docker.sock `
    --volume "$(pwd)"/appwrite:/install/appwrite:rw `
    -e version=0.5.3 `
    appwrite/install

![appwritepowershell](https://user-images.githubusercontent.com/38534289/82160228-7

[2020-05-18 03:29] eldadfux commented on #315
@RizkyRajitha can you confirm both syntax work before I can update our docs? In your screenshot it seems the powershell command throws an error.

@dor272 could you test the updated syntax @RizkyRajitha posted?

[2020-05-18 11:11] RizkyRajitha commented on #315
@eldadfux i think error is because docker was not running at that time .
i will confirm both and let you know .
@eldadfux  how to update docs ,  i went through https://github.com/appwrite/appwrite/tree/master/docs
but there was no installation docs

[2020-05-18 11:16] eldadfux commented on #315
You can update the main README.md file of this repo. We need to split the installation snippet to unix and windows based setups.

The docs of https://appwrite.io/docs/installation page are (currently) located on the private homepage repo, I'll make sure to update there once the syntax is confirmed.

[2020-05-18 11:18] RizkyRajitha commented on #315
@eldadfux i will let you know and make a pr once once confirmed

[2020-05-18 11:23] RizkyRajitha opened #320 "https://appwrite.io/ star count is incorrect"
![appwriteweb (2)](https://user-images.githubusercontent.com/38534289/82207682-dd12ea00-9927-11ea-8c3c-1bd2738f075b.PNG)

in the website it shows 2.5k stars but github shows 2.6k stars
is there a way to make it dynamic to tally with github.

[2020-05-18 11:26] eldadfux commented on #320
Yes, actually when we first introduced the new community page (https://appwrite.io/community) we created a GitHub integration that updates hourly, and aggregate data from all our org repositories. I just need to change this with a var. Should take 5 minutes now.

[2020-05-18 11:27] RizkyRajitha commented on #320
awesome

[2020-05-18 11:53] eldadfux commented on #316
So I was thinking of changing this method from PATCH to PUT (as a breaking change) because I think it will be wired to have two methods in the SDK names updatePrefs / patchPrefs, putPrefs (?).

I don't particularly appreciate having this as a breaking change, but this is also exactly why we are still not in 1.0, to use feedback like this, and make sure the API is solid and consistent.

Bu using th

[2020-05-18 19:18] RizkyRajitha commented on #315
@eldadfux
i am using docker toolbox for windows in my machine .
and in that the bash script work out of the box

![appwirtedockertoolbox](https://user-images.githubusercontent.com/38534289/82250821-ce4d2700-9969-11ea-90bf-6e10da4dc982.PNG)

but in windows cmd it throws a error

![appwritewincmd](https://user-images.githubusercontent.com/38534289/82250906-efae1300-9969-11ea-95a4-4a53f71161c5.PNG)

[2020-05-19 05:21] eldadfux opened #322 "Activity tab is empty on version 0.6"
Just a reminder for me to fix it :)

[2020-05-19 05:23] eldadfux commented on #308
Ready to use: https://appwrite.io/docs/server/health 🎉

[2020-05-19 05:23] #308 closed

[2020-05-19 05:23] #298 closed

[2020-05-19 05:23] #297 closed

[2020-05-19 05:48] eldadfux opened #323 "Configuration API"
Adding a configuration API to allow client and backend apps to manage remote config with A/B test capabilities.

Should use a new controller under /v1/config

[2020-05-19 05:49] eldadfux opened #324 "CRON Templates/Dropdown in Appwrite console"
Add CRON ready to use syntax templates in new (or existing) tasks modal windows

[2020-05-19 05:50] christyjacob4 commented on #323
Yes @eldadfux  it would be nice to keep this feature isolated from the rest of the endpoints

[2020-05-19 05:52] christyjacob4 commented on #323
What are the endpoints we're planning for this controller?

[2020-05-19 05:59] eldadfux commented on #323
Not really sure yet, but I guess something like this:

POST /v1/config/[name-to-represent-a-set-of-settings]
GET /v1/config/[name-to-represent-a-set-of-settings]
GET /v1/config/[name-to-represent-a-set-of-settings]/:id
PUT /v1/config/[name-to-represent-a-set-of-settings]/:id
DELETE /v1/config/[name-to-represent-a-set-of-settings]/:id

[2020-05-19 06:04] eldadfux commented on #318
@bartektartanus would be great to get your view on this.

[2020-05-19 06:12] eldadfux commented on #315
What happens in the installation process is as follow:
1. We run the appwrite/install Docker image
2. The docker stream volume (/var/run/docker.sock) allows the container to execute Docker command on behalf of the host machine
3. The "$(pwd)"/%cd% volume allows the appwrite/install container to save Appwrite's docker-compose file on the host current directory to allow the user to edit the docker-c

[2020-05-19 08:54] bartektartanus commented on #318
Great idea. Are those values available during code generation (like all the methods in API) or we need to hard-code them?

[2020-05-19 17:00] punitdiwan opened #325 "Collection Creation - No Documents being shown when Collection is selected."
**Problem:**
While testing the Collection Creation Feature latest master after merging 0.6 branch, I noticed that after adding  documents to the collection,, when we click database from the side bar and select the collection, the documents is not being displayed, however total count is being shown. Though refreshing the URL, it displays as expected.

**Steps to Replicate**

1. Run Fresh Instance a

[2020-05-19 17:26] eldadfux commented on #325
Do you get any errors in your developers tools?

[2020-05-19 17:53] punitdiwan commented on #325
No Errors received.
![No_dev_tool_error](https://user-images.githubusercontent.com/49054503/82360873-e13e1680-99be-11ea-90be-5014a080a329.png)

However refresh the URL, the data will be displayed.

[2020-05-19 17:58] eldadfux commented on #325
I'll try to recreate the bug on my env, seems like a missing update event

[2020-05-19 18:05] punitdiwan commented on #325
OK

[2020-05-19 18:40] mc-drizzle commented on #315
The code that worked for me was the one for Windows CMD (Command Prompt). Thanks a lot @RizkyRajitha

Just ensure you replace the version number with the latest version, but you can always update it later anyway.

[2020-05-20 13:03] mc-drizzle opened #326 "Upgrade Command Line Not Working on Windows"
When the upgrade command: `docker exec appwrite upgrade` is run in Windows CMD or Powershell, the error returned is 'No such container: appwrite'

Please share the correct Windows command to upgrade Appwrite to the latest version, thanks again
![Upgrade CMD Error](https://user-images.githubusercontent.com/65621952/82448940-bb8e3b80-9aaa-11ea-87a4-3f69daaae6b3.PNG)

[2020-05-20 15:36] nonereally opened #327 "New database fields are not being saved"
When creating NEW "fields" in a database, only ONE can be added at a time.
An "Update" is required after each field is added, or all "new" fields will be lost.

---
Appwrite Version: UNKNOWN.0.6.0

[2020-05-20 15:48] eldadfux commented on #327
1. Do you get any console errors?
2. What browser are you using?
3. Any chance you can add a gif or a short video to better visualise the issue?

[2020-05-20 15:56] eldadfux commented on #326
You should run this command from the path where your appwrite docker-compose.yml is located.

If that doesn't work try replacing 'appwrite' with the Appwrite conatiner ID.

You can see your container ID using the `docker ps` command.

Let me know if this solves the issue.

[2020-05-20 16:00] eldadfux commented on #325
@punitdiwan what browser and browser version are you using?

[2020-05-20 16:18] punitdiwan commented on #325
@eldadfux  I am using Chrome Browser  81.0.4044.138 on Window 10. Were you able to replicate the issue?

[2020-05-20 16:30] nonereally commented on #327
Will do a bit later...

On Wed, May 20, 2020 at 6:48 PM Eldad A. Fux <notifications@github.com>
wrote:

[2020-05-20 17:16] eldadfux commented on #327
Great 👍🏻

[2020-05-20 17:18] duythien0912 opened #328 "Add blurha support for image"
Can you support https://blurha.sh/

[2020-05-20 18:21] punitdiwan commented on #325
@eldadfux Could you replicate the issue? Did it happen at your end? I tired using mobile device and it works fine. Then I I tried with my another internet connection on desktop, it works better. I am under the impression is that my internet was the culprit.  If noone else report the bug, I will close this issue by tomorrow.

[2020-05-20 18:22] didair opened #329 "[docs] Upgrade command is missing an /"
In the "Upgrade From an Older Version" the provided command is missing an `/` before `upgrade`.

Current: `docker exec appwrite upgrade`
Should be: `docker exec appwrite /upgrade`

For version `0.6.0`

https://appwrite.io/docs/installation

[2020-05-20 18:23] eldadfux commented on #325
Tried on a clean setup, but worked fine :/

[2020-05-20 18:28] punitdiwan commented on #325
@eldadfux Great, just give one more day to me. I will close the issue by tomorrow. Request you to remove the Label **Bug** for now.

[2020-05-20 18:30] eldadfux commented on #325
Done 👌🏻

[2020-05-20 20:18] SpajicM commented on #315
Works fine on Windows with Docker Desktop and CMD!

[2020-05-20 20:34] SpajicM commented on #326
@mc-drizzle @eldadfux problem here is that container isn't named "appwrite" but "appwrite_appwrite_1" and upgrade is missing a / as #329 stated.

But even after that, upgrade isn't working:

Upgrading project: console
Starting Upgrade
Fetched 0 (offset: 0 / limit: 30) documents from a total of 0
Fetched 0 projects...

![image](https://user-images.githubusercontent.com/21988220/82494019-38d8a100-9a

[2020-05-20 20:54] eldadfux commented on #328
Hey @duythien0912 how would you see this integrate with Appwrite? Please provide more info

[2020-05-20 21:32] eldadfux commented on #322
Fix pushed to master, will be released with 0.6.1

[2020-05-21 02:24] mc-drizzle commented on #326
My docker-compose.yaml file is located in the file 'appwrite' so I tried the command from that path, but still with no success, even when using the container ID, I also tried using the suggestion of @SpajicM but mine also fetched 0 projects
![Another Upgrade Failure](https://user-images.githubusercontent.com/65621952/82516399-e57f4680-9b1a-11ea-8bed-570bd91a4373.PNG)

[2020-05-21 03:09] eldadfux commented on #326
This is OK if your running on a new setup with no previous data, we should probably add a better log message to let you know the operation was successful.

[2020-05-21 03:24] mc-drizzle commented on #326
@eldadfux yes, I am running on a new setup with no previous data.

So by 'OK' do you mean that the version should have updated to 0.6.0?

Because mine is still at 0.5.3
![Current Version](https://user-images.githubusercontent.com/65621952/82519989-5c204200-9b23-11ea-8086-6ae01c4575ed.PNG)

[2020-05-21 03:30] eldadfux commented on #326
The upgrade command should be run after the setup command (i'll make sure to make this more clear in the docs).

Run this command from the parent directory to your appwrite directory where you have your docker-compose.yml file:

* parent <- **from this location**
    * appwrite <- **not from this**
        * docker-compose.yml
[code]

[2020-05-21 04:12] duythien0912 commented on #328
I think we can add new params name blurha on view image link

`http://appwrite.io/v1/storage/files/{fileID}/view?project={projectID}&blurha={blurHash}`

blurhash string will create when we upload the image ( maybe on flutter or server )

[2020-05-21 04:22] eldadfux commented on #328
I don't think this should be added to the storage service because its a a very specific feature that might add more complexity, especially when talking about integration with a 3rd party service.

This can be a really good fit for our cloud functions service. We could create a function that listens to any file uploaded, get the image string from blurHash and save it as new meta data for the file o

[2020-05-21 04:23] eldadfux commented on #328
You can read about our cloud functions feature here: #307

[2020-05-21 05:21] eldadfux commented on #329
Gonna change the name of this action in 0.6.1 from upgrade to migrate, the name upgrade is really confusing and is not what actually being done behind the scenes.

[2020-05-21 07:09] eldadfux commented on #324
So the idea here is to replace the default cron text box with a drop down list that will include some common CRON combinations, like:
* run every minute
* run every 5 minutes
* run every hour
* run once a month

Below that drop down will have a switch button to go back to the current CRON text box where developer will be able to add any custom CRON they want.

The idea is to have a simpler approac

[2020-05-21 13:36] HelixHEX commented on #324
You should also add every 30 minutes and every 24 hours

[2020-05-21 16:57] punitdiwan commented on #325
I am not able to replicate the issue. It could be my flaky internet connection. Cloning the issue. Let you know  if it pops again.

[2020-05-21 16:57] #325 closed

[2020-05-21 18:27] jansenarruda opened #331 "When add a custom domain, ignore domain you enter and use domain user to enter in console"
Hi,

Add a custom domain don´t work

enter in console using https:\\xyz.com.br\console

them go to a project, setting, custom domain

Click add domain button

enter apw.xyz.com.br, and click Create

the screen display :

unverified       xyz.com.br             pending verification             verify domain

the domain is the same used to enter in console

if I try to create another domain with add

[2020-05-21 18:38] eldadfux commented on #18
This seems to be solved in new Appwrite versions.

[2020-05-21 18:39] eldadfux commented on #102
This seems to be OK in newer versions.

[2020-05-21 18:39] #102 closed

[2020-05-21 18:41] eldadfux commented on #251
Was just going through the old issues, @RizkyRajitha any idea how to mute it?

[2020-05-21 18:50] RizkyRajitha commented on #251
i think it can only done by members themselves  @eldadfux  to mute that channel.

[2020-05-21 18:58] eldadfux commented on #251
Thanks for the quick replay @RizkyRajitha, think i'm going to pass on the bot for now.

[2020-05-21 18:58] #251 closed

[2020-05-21 18:58] eldadfux commented on #268
This feature was released in 0.5.

[2020-05-21 18:59] eldadfux commented on #318
I think I can make them available as twig params. I'll check this in a few days..

[2020-05-21 20:39] christyjacob4 opened #332 "Multiple Session Cookies when using Appwrite on same host as client app"
While creating multiple projects in appwrite, multiple cookies get created .
<img width="1057" alt="multiple_cookies" src="https://user-images.githubusercontent.com/20852629/82603225-e8883e80-9bcf-11ea-8ff8-8c8781afe6d7.png">

All the cookies are sent in the header which raises this exception.
<img width="328" alt="bad_request" src="https://user-images.githubusercontent.com/20852629/82603223-e7571

[2020-05-21 22:51] FathiQ opened #333 "UNKNOWN version"
---
Appwrite Version: UNKNOWN.125

[2020-05-21 23:09] TorstenDittmann opened #334 "[docs] broken tag links"
When clicking on a hash/tag link on the Server API docs the URL becomes broken.

`https://appwrite.io/docs/server/users`
becomes
`https://appwrite.io/docs/users#create`
instead of
`https://appwrite.io/docs/server/users#create`

[2020-05-22 01:22] luiscruzurvenue opened #335 "Grammatical Error"
There's a minor syntax error when viewing documents, the title says 'Documnets' instead of 'Documents':

![image](https://user-images.githubusercontent.com/55716036/82621280-4ac94b00-9ba0-11ea-9786-42064f3b73c9.png)

[2020-05-22 01:39] eldadfux commented on #335
@luiscruzurvenue thanks for reporting this. Just fixed it, will be release in 0.6.1

[2020-05-22 01:42] eldadfux commented on #334
Thanks for reporting this @TorstenDittmann ! just fixed in the homepage repo. I will push the change with 0.6.1

[2020-05-22 01:43] luiscruzurvenue commented on #333
@eldadfux this should be repaired too.

[2020-05-22 01:44] eldadfux commented on #333
@FathiQ would be great to get more info on this one:
* Screenshots?
* Whats env are you running?
* Did you install Appwrite from source?

Any info will be helpful

[2020-05-22 01:48] eldadfux commented on #332
From testing this locally, its seems this issue happens when a single end-user (not an Appwrite developer -> a project user) is logged to more than 20 Appwrite projects at the same time and cookie header become to long.

This could be avoided by taking advantage of the custom-domain feature. But we should think of a way to make sure this issue is avoided from the first place.

[2020-05-22 01:50] luiscruzurvenue commented on #333
Screenshot:

![image](https://user-images.githubusercontent.com/55716036/82622724-19eb1500-9ba4-11ea-9583-a14a60d2c96e.png)

I'm running Appwrite for server (i don't know if that answers your question).

I have installed Appwrite with Docker, following the docks instructions.

[2020-05-22 01:59] eldadfux commented on #333
Whats is your OS? Do you get any other errors? Please share your local docker-compose.yml (note to hide any secrets you might be using before pasting)

[2020-05-22 02:07] FathiQ commented on #333
Darwin 19.4.0 Darwin Kernel Version 19.4.0: Wed Mar  4 22:28:40 PST 2020; root:xnu-6153.101.6~15/RELEASE_X86_64 x86_64

[2020-05-22 02:44] eldadfux commented on #333
Darwin 19.4.0 should be fine. I think the docker-compose.yml file Appwrite has downloaded to your host during installation should give us a hint of the problem. It should be located in an 'appwrite' directory where you executed the installation command.

[2020-05-22 02:51] FathiQ commented on #333
`version: '3'

services:
    traefik:
        image: traefik:v2.1.4
        command:
            - --providers.file.directory=/storage/config
            - --providers.file.watch=true
            - --providers.docker=true
            - --entrypoints.web.address=:80
            - --entrypoints.websecure.address=:443
        restart: unless-stopped
        ports:
            - 80:80
            - 44

[2020-05-22 03:55] eldadfux commented on #333
Found the problem. Created a fix. Will be release in 0.6.1.

Thank you for reporting this!

[2020-05-22 04:19] eldadfux commented on #335
We have just released version 0.6.1 🥳

If you need to upgrade from 0.6.0, all you need to do is change the Appwrite container image version number in your docker-compose.yml file and run `docker-compose up -d` in your terminal. No data migration is required.

[2020-05-22 04:19] #335 closed

[2020-05-22 04:20] eldadfux commented on #334
We have just released version 0.6.1 🥳

If you need to upgrade from 0.6.0, all you need to do is change the Appwrite container image version number in your docker-compose.yml file and run `docker-compose up -d` in your terminal. No data migration is required.

[2020-05-22 04:20] #334 closed

[2020-05-22 04:20] eldadfux commented on #333
We have just released version 0.6.1 🥳

If you need to upgrade from 0.6.0, all you need to do is change the Appwrite container image version number in your docker-compose.yml file and run `docker-compose up -d` in your terminal. No data migration is required.

[2020-05-22 04:20] #333 closed

[2020-05-22 04:21] eldadfux commented on #329
We have just released version 0.6.1 🥳

Changed upgrade script name to ‘migrate’ to better reflect what it actually does (no slash now for real 😅) - also improved docs on appwrite.io to make sure everything is more clear.

If you need to upgrade from 0.6.0, all you need to do is change the Appwrite container image version number in your docker-compose.yml file and run `docker-compose up -d` in your

[2020-05-22 04:21] #329 closed

[2020-05-22 04:23] eldadfux commented on #322
We have just released version 0.6.1 🥳

If you need to upgrade from 0.6.0, all you need to do is change the Appwrite container image version number in your docker-compose.yml file and run `docker-compose up -d` in your terminal. No data migration is required.

[2020-05-22 04:23] #322 closed

[2020-05-22 06:39] dkotrada opened #336 "Deno support?"
Are there any plans to support deno in near future? https://deno.land/

[2020-05-22 06:42] eldadfux commented on #336
Yes!

I would love to get your feedback @ https://github.com/appwrite/sdk-generator/issues/39

Just wrote about it yesterday! 😅

[2020-05-22 06:44] #336 closed

[2020-05-22 07:27] mc-drizzle commented on #326
@eldadfux is not that
a command to install appwrite? I already have apprite installed (but version 0.5.3) and I did install it from the parent path.

So if I run the code you gave, will it create a **new** appwrite container or will it update my current version to 0.6.0?

Thanks again for your awesome assistance

[2020-05-22 13:04] eldadfux opened #338 "Add better log output when installation completes"
Make onboarding easier for new developers by printing the Appwrite console link and a link to the docs when setup completes. A path to the env docker-compose file might also be useful.

[2020-05-22 13:45] MrTarantula opened #339 "Email when signing up for newsletter at appwrite.io"
The email address is shown as `team@localhost.test` when confirming newsletter subscription at appwrite.io.

![image](https://user-images.githubusercontent.com/11617455/82674241-9a436180-9c08-11ea-8b36-5944f491e413.png)

[2020-05-22 14:32] eldadfux commented on #339
Thanks for reporting this! Did this issue denied you from signing in?

[2020-05-22 14:42] MrTarantula commented on #339
I was able to register successfully. The email and link in the email were fine. The only problem was the sender email address.

[2020-05-22 15:51] HelixHEX opened #340 "Unable to delete a project"
Would be nice to delete a project

[2020-05-22 19:19] eldadfux commented on #331
@jansenarruda thanks for reporting this. I found the issue and fixed it.

Will be released in 0.6.2.

[2020-05-22 20:47] LuisCruz-23 opened #341 "Fails to create a user account on a new setup"
Hi.

After a fresh install, i was getting a 500 error when trying to create a new account.

I'll leave the solution.

Machine description:
- Cent0s 8 x86_64 Linux

The problem was related with MariaDB, so after changing my app environment to development i could see what the problem was.

`"message":"SQLSTATE[HY000] [2006] MySQL server has gone away"`

So i ran:

`docker ps`

That returned me the m

[2020-05-22 20:49] KevinMalm opened #342 "AppWrite for Flutter Web Apps?"
I've noticed that when working with AppWrite on Flutter. The Projects work great under the iOS and Android devices as the project specifies, I am just curious if there are any plans to support Flutter Web apps, or any workarounds I could do?

Thank you and all the best.

[2020-05-22 21:02] luis-cruzt opened #343 "Missing docs for running in production"
There are missing docs for running Appwrite in production.

[2020-05-22 21:08] eldadfux commented on #342
Well as far as I can tell Appwrite should work just find with Flutter web. The only exception is the OAuth session creation method (https://appwrite.io/docs/client/account?sdk=flutter#createOAuth2Session).

We use **[flutter_web_auth](https://pub.dev/packages/flutter_web_auth)** plugin for this action and it's not yet supported for web. There is an open issue for it: https://github.com/LinusU/flut

[2020-05-22 21:12] eldadfux commented on #343
Currently there are some docs on the repo and on the blog:
- https://github.com/appwrite/appwrite/blob/master/docs/tutorials/running-in-production.md
- https://github.com/appwrite/appwrite/blob/master/docs/tutorials/environment-variables.md
- https://medium.com/appwrite-io/you-can-now-restrict-access-to-your-appwrite-console-b8b447885289
- https://medium.com/@eldadfux/learn-how-to-run-your-appwrit

[2020-05-22 21:14] eldadfux commented on #343
![image](https://user-images.githubusercontent.com/1297371/82709947-6a3ca280-9c8a-11ea-8d30-c303adc7aa9f.png)

[2020-05-22 21:37] eldadfux commented on #339
![image](https://user-images.githubusercontent.com/1297371/82711210-60686e80-9c8d-11ea-8de6-b63b5b137027.png)

Fixed on dev mode, will probably be deployed tomorrow.

[2020-05-22 21:48] eldadfux commented on #339
NVM Just deployed the new version...

[2020-05-22 21:48] #339 closed

[2020-05-22 21:50] eldadfux commented on #341
@LuisCruz-23 Thanks for reporting this and sharing the solution for others to see. As this is now solved, I'm closing the issue.

[2020-05-22 21:50] #341 closed

[2020-05-22 22:13] FathiQ opened #344 "Not loading Document after creating them (Cache Issue)"
Hi,

After clicking on "+" to create Document and filling the input texts. and back to Document will show you 1 documents found but you can see it. until you refresh the page and even if you go to Databases -> then your collection -> you will not see any Documents

<img width="1256" alt="Screen Shot 2020-05-23 at 1 12 14 AM" src="https://user-images.githubusercontent.com/13282594/82713129-8fcdaa00

[2020-05-23 01:23] LuisCruz-23 opened #345 "Add REST requests example"
I think we should be able to see an example of a REST API request in this dropdown:

![image](https://user-images.githubusercontent.com/55716036/82718747-0ace9a80-9c6a-11ea-92c2-0745f57de809.png)

[2020-05-23 01:24] LuisCruz-23 commented on #344
Yeah, same issue here.

[2020-05-23 03:58] stevenspiel opened #346 "Offline database & sync"
This looks like an awesome project. I don't see any documentation on how the database does in flutter when offline. Is there any syncing mechanism when it comes online to handle possible merge conflicts if multiple sources have edited the same data structure?

[2020-05-23 05:15] eldadfux commented on #346
Not yet but this could be a great feature for v0.7 or 0.8.

Was thinking about adding a new query param to allow fetch of documents that were updated since a specific time date and keep paging and other filters to work the same way.

GET /v1/database/collections/[collection-id]/documents?[new-sync-param-name]=[some-date-format-unix?]

This request will return only the relevant documents, and you c

[2020-05-23 05:27] eldadfux commented on #344
@FathiQ @LuisCruz-23 any possibility to record the flow for getting this issue?

I can't seem to make it happen on my env 😔

[2020-05-23 05:29] eldadfux commented on #344
+ do you get any errors in your devtools console?
+ what your collections rules look like?

[2020-05-23 06:03] eldadfux commented on #345
Thanks for the feedback @LuisCruz-23! We do have plan to add this to the docs as suggested in this issue: #314 .

I have also opened an issue to generate CURL examples in our SDK Generator:
https://github.com/appwrite/sdk-generator/issues/37

Closing this in favour of #314.

[2020-05-23 06:03] #345 closed

[2020-05-23 06:39] punitdiwan commented on #344
It looks like the same issue which I reported.  Please refer Issue #325  I tried it on Version 6,0,0. I closed this issue considering the slow internet connection but now others are also receiving it. So, its genuine issue. I reinstalled the fresh instance, but did not get such issue. So, this issue is not consistent

[2020-05-23 12:00] Almoullim commented on #315
With windows powershell
[code]

[2020-05-23 12:07] Almoullim commented on #315
I think you can use Virtualbox if you don't have access to Hyper-V

[2020-05-23 15:12] FathiQ commented on #344
@eldadfux https://www.screencast.com/t/J91gg2SIy

[2020-05-23 15:30] KevinMalm opened #347 "Can anyone help explain why Appwrite can't find the collection?"
I'm having trouble uploading a file to an AppWrite database in Flutter. I am sure there is a very small thing that I have missed but any help would be much appreciated. Also I apologies that the code is in quote format, I couldn't get the code format to work.

This is my collection ID that I created in the AppWrite console.

![Screen Shot 2020-05-23 at 10 16 53 AM](https://user-images.githubuserco

[2020-05-23 15:36] eldadfux commented on #344
@FathiQ This makes me thing this might be a html cache issue (not updating your collection templates).

Could you try doing the same action with your browser devtools open and your cache disabled like this:
![image](https://user-images.githubusercontent.com/1297371/82734549-43cb4580-9d24-11ea-86b8-1515367bdf5a.png)

[2020-05-23 15:45] eldadfux commented on #338
I think the best solution here for apps using the default endpoint is to validate the max-amount of sessions we have in the cookie is 15-30 on every creation of a new session and delete the last used session to avoid the server from crashing. This limit can be increased by using a custom domain for each project or for a number of project (a user can only have one session per project anyway). Each

[2020-05-23 15:49] FathiQ commented on #344
@eldadfux it seems cache was the problem

https://www.screencast.com/t/KGbDoLv6gld0

[2020-05-23 15:53] eldadfux commented on #344
OK. Fix should be pretty easy. I will target this for 0.6.2 release

[2020-05-23 16:41] christyjacob4 commented on #347
Hey @KevinMalm Looks like you haven't passed any permissions to create a collection.
Could you do this and let me know what happens?
[code]

[2020-05-23 17:09] KevinMalm commented on #347
My apologies, that seems to have been formatted incorrectly when I put it in as quotes, here's what's actually ran

`Future log_result = log_database.createDocument(collectionId: this._collection_address, data: this.log_cnter_data, read: ['*'], write: ['*']);`
    `log_result.then(
      (response){
        print(response);
      }
    ).catchError((error){
      print(error);
    });`
<img width=

[2020-05-23 17:24] eldadfux commented on #347
@KevinMalm add '*' permission to your collection read permission.

![image](https://user-images.githubusercontent.com/1297371/82736567-6f096100-9d33-11ea-979b-a41bc02d9a8a.png)

[2020-05-23 17:41] KevinMalm commented on #347
That fixed it! Thank you much.

[2020-05-23 17:41] #347 closed

[2020-05-23 18:45] nicolasgere commented on #24
I would like to volunteer for that. I have questions: Do we want to include the database? managing a MariaDb in Kubernetes to a production level grade is not as easy.

[2020-05-23 19:09] eldadfux commented on #24
@nicolasgere We can always allow to customise the configuration for a managed DB or any 3rd party solution. I thinks it's OK to start with the current Appwrite+MariaDB image we use as a starting point.

Haven't heard about Operator, can you share a link?

[2020-05-23 19:35] eldadfux commented on #315
Ready for deployment:
![image](https://user-images.githubusercontent.com/1297371/82739113-a1bc5500-9d45-11ea-8eb3-ac7cf6fe4840.png)

[2020-05-23 19:40] eldadfux commented on #315
Updated README.md file:
![image](https://user-images.githubusercontent.com/1297371/82739197-56567680-9d46-11ea-8d89-465f92be8930.png)

[2020-05-23 19:43] eldadfux commented on #326
If run from the parent directory of the original setup, it will overwrite your current docker-compose.yml and restart your stack. If run from a new location it will create a second Appwrite instance (as long as your ports aren't conflicting).

You can also manually update your Appwrite version in your docker-compose.yml, and restart your instance with `docker-compose up -d`

[2020-05-23 20:18] javib51 commented on #24
https://coreos.com/operators/
https://kubernetes.io/docs/concepts/extend-kubernetes/operator/

@eldadfux Operator pattern is the way to go for stateful clusters. Its basically a controller for your app that uses kubernetes api

[2020-05-23 21:17] eldadfux commented on #24
@javib51 I think it will be best if you create a new issue for the operator controller and i'll assign it to you.

@mostafahussein do you think you'll be able to work on the helm chart anytime soon or @javib51 can take this one too?

[2020-05-23 22:30] christyjacob4 commented on #271
@eldadfux I feel that I should also add a flag to preserve the aspect ratio of the image

[2020-05-23 22:51] eldadfux commented on #271
Hehe cool 👍🏻

[2020-05-24 04:15] eldadfux commented on #315
New docs are live! Thank you for all your help!!

[2020-05-24 04:15] #315 closed

[2020-05-24 05:39] luis-cruzt opened #348 "Change "Appwrite Team" on the invitation email"
I've found a bug where after making the setup of the SMTP server and the env variables with:

![image](https://user-images.githubusercontent.com/55716036/82746588-26fc3580-9d57-11ea-8855-7e717e53f24b.png)

The "Appwrite Team" is not been replaced by `_APP_SYSTEM_EMAIL_NAME` at the end of the email:

![image](https://user-images.githubusercontent.com/55716036/82746601-472bf480-9d57-11ea-826f-44203f

[2020-05-24 05:51] luis-cruzt opened #349 "Add support for changing response locale"
Would be great if we could choose on which language the response is returned.

For example:
[code]

And in spanish would be:

[code]

[2020-05-24 07:40] punitdiwan opened #350 "Can we make Clamav Container (appwrite_clamav) Optional"
I have install Appwrite Docker Containers on windows. I checked the resource being used by each container. I noticed that Clamav container (appwrite_clamav) is using lot of memory, Here is the image shown resource utilization for clamav container on my window PC with docker.

![clamav](https://user-images.githubusercontent.com/49054503/82748413-80179980-9d56-11ea-9c35-d96660999ed4.png)

       How

[2020-05-24 07:49] eldadfux commented on #350
ClamAV is loading the entire virus DB into his memory (and updates it periodically) for better performance. This is the highest resource consuming memory and we been thinking for some time to make an env var that will make him optional.

**This feature will allow us to reduce minimum hardware requirements required to run Appwrite and potentially save server costs for developers.**

Will attempt to

[2020-05-24 07:54] eldadfux commented on #349
This is possible as we already have support for changing locales using the API or SDKs (currently supported for email templates and https://appwrite.io/docs/client/locale service).

To fully support this we would need to create a better workflow with the translation contributors. Currently we have 46 languages to support and it will be very hard to make sure all string are translated.

Any suggest

[2020-05-24 10:07] TorstenDittmann opened #351 "[API] Localization - List languages"
We could add another API endpoint to list languages including their code according to https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes

This might be a good addition to the `locale header` functionality.

Endpoint: **GET** `/locale/languages`
Response:
[code]

If you consider adding this, I can work on that and can re-animate my PHP 5 skills 😄

[2020-05-24 10:30] TorstenDittmann commented on #349
This seems doable I guess, depends on how we maintain languages for these response strings.

Even if we don't have all the languages covered, it seems to be fair falling back to English.

[2020-05-24 11:21] eldadfux commented on #351
Sounds cool. Let's do it.

Excited to see your first feature :) we'll upgrade you on Discord to be a PHP8 ninja...🥋

[2020-05-24 14:08] netfirms opened #353 "Cannot access to Appwrite's console if not use 80 port"
I've tried to install Appwrite on custom port (ex. 8888). Once installation completed, I can signup new server but cannot login to console.

[2020-05-24 14:13] netfirms commented on #353
I've went to Appwrite's support discord channel and got the answer. The problem is because Appwrite not able to save cookie since the combination of IP address and custom port. So I map my subdomain to the server and now I can access Appwrite console.

<img width="1459" alt="Screen Shot 2563-05-24 at 21 04 16" src="https://user-images.githubusercontent.com/466386/82756264-5ff1e400-9e03-11ea-8935-1