[2020-11-16 19:56] eldadfux commented on #381
![image](https://user-images.githubusercontent.com/1297371/99301394-9494a480-2856-11eb-8284-d9eb0725a338.png)

[2020-11-16 19:57] eldadfux commented on #381
![image](https://user-images.githubusercontent.com/1297371/99301452-b0984600-2856-11eb-8b89-df21d8e2ba9b.png)

[2020-11-17 06:14] saibotma commented on #730
We @tappeddev need this feature for a next software project. Without this feature it is not possible for us to use appwrite.
We would love to contribute and create a PR.
Do you have any quick tips on where to start and what we have to keep in mind?

[2020-11-17 06:46] eldadfux commented on #730
@saibotma I think there are only 2 missing pieces to help you make this feature possible, but please confirm I'm getting it right.

1. You need a way to get the secret hash after using the password token creation endpoint (https://appwrite.io/docs/client/account?sdk=web#createRecovery) response, as this is the only thing you're missing in order to not have to parse the email message for the token

[2020-11-17 09:26] JulianBissekkou commented on #730
Hey @eldadfux I am a developer at @tappeddev as well and I am helping @saibotma with this project.

I would like to explain the exact problem again to make sure that we find the correct solution:

**Problem:**
We have multiple users that are connected to one E-Mail address.
In appwrite, every user has a unique email since we can't link multiple users to one E-Mail. _The unique emails do not exist

[2020-11-17 09:59] eldadfux commented on #730
OK so here are a few thoughts:

1. Unlike Firebase we wouldn't want to couple our API with any specific email links, but we rather prefer to provide all the required data you need to be able to build this link on your own. At the end of the day the only missing piece to build the link is the secret hash which is currently only exposed in the email being sent by Appwrite.

2. Disabling system mails

[2020-11-17 10:37] JulianBissekkou commented on #730
I think a combination of 1 and 2 fits best and I think the API of 1 is handy for future features.
With Option 3 we still need to disable the system emails, right? 🤔

Which options would you choose, when looking at the complexity of this PR?
We would like to get this feature done in a maximum of 3 weeks.

Thanks for taking the time! ☺️

[2020-11-17 14:17] eldadfux commented on #730
I think 2+3 should be pretty straight forward. 2 will be really simple, for 3 we'll need a small tweak to make sure the secret key is being passed to the new webhook event payload, by default its hidden, but I think its doable as we've done similar things on deletion events where the http payload is different from the webhook payload.

Nothing major in terms of updating tests or docs.

If sound re

[2020-11-19 19:35] Sj1218305 commented on #714
I want to claim this issue.
@eldadfux , is it still open?

[2020-11-19 20:05] eldadfux commented on #714
@Sj1218305 Yes it is, please reach out on Discord to share your plan of action on this issue.

[2020-11-24 04:16] eldadfux commented on #714
@Sj1218305 please work against branch `0.7.x` which is where the upcoming Appwrite version located

[2020-11-25 21:52] TheNerdyHamster commented on #484
Is anyone currently working on this issue?
I might be interested but gonna do some more research before I take the challange.

[2020-11-25 21:56] eldadfux commented on #484
@TheNerdyHamster this issue seems to be the same as this one: https://github.com/appwrite/appwrite/issues/732 which means v0.7 should solve it because we don't use nginx anymore.

[2020-11-26 04:44] chansdad commented on #117
Gotify i think only supports plain text and has no support for Rich Text messages. OneSignal was great , but it is not longer free and opensource .

[2020-11-29 14:20] Glide7 opened #742 "Better UX when adding an new unavailable platform in the console"
## 🚀 Feature

(A clear and concise description of what the feature is.)

## Have you spent some time to check if this issue has been raised before?

(Have you googled for a similar issue or checked our older issues for a similar bug)

### Have you read the [Code of Conduct](https://github.com/appwrite/appwrite/blob/master/CODE_OF_CONDUCT.md)?

Yes

## Pitch

When adding a new platform that's not a

[2020-11-30 10:25] saibotma commented on #244
Anonymous login or login by username without an email would be great as some projects don't have unique emails for their users.

[2020-12-01 09:09] Glide7 commented on #714
Hey @Sj1218305 :)
Are you still working on this issue? Do you perhaps need help from the team?

[2020-12-01 09:13] Sj1218305 commented on #714
@Glide7 , I am working on this. Actually , I am new to Docker so I need some more time. I will surely reach out if any kind of help is required.

[2020-12-01 09:20] Glide7 commented on #714
Awesome, thanks for the update!

[2020-12-01 09:21] Glide7 commented on #714
@Sj1218305 also, feel free to join the #mainteners channel on our discord! https://discord.gg/yVQ7RBv4

[2020-12-01 10:47] saibotma opened #743 "Inavlid Origin. Register your new client (<domain>) as a new Web platform on your project console using appwrite/install and custom domain"
I'm using `appwrite/install` to install my appwrite instance. During the installation I enter localhost for host, `8004` for HTTP and `8005` for HTTPS and my domain for CNAME.

[code]

All the containers start and run without any issues and I can access the login and signup pages of appwrite.

I also use a separate nginx instance to proxy all the requests of my domain to appwrite. I can also post

[2020-12-01 10:49] eldadfux commented on #743
403 error means Appwrite does not recognize this web client and protects you from a [CSRF][1] attack.

A few things, set _APP_DOMAIN and _APP_DOMAIN_TARGET both to your actual domain name and not localhost.

That should get you going without a proxy, with a proxy you should make sure it passes the host name to the Appwrite server. This might help when using Nginx as a proxy: https://docs.nginx.com

[2020-12-01 13:30] saibotma commented on #382
Would also be great for setting up dev environments by CI automatically.

[2020-12-01 15:26] TorstenDittmann commented on #343
@eldadfux We might want to add some information on how to prepare the already existing SMTP server to keep the emails from the spam folder.

For example explaining the need of:

- Sender Policy Framework (SPF)
- Domain Message Authentication Reporting and Conformance (DMARC)
- DomainKeys Identified Mail (DKIM)

[2020-12-01 15:28] saibotma opened #744 ""Invalid credentials. User is blocked" when trying to sign up an account that has been deleted before"
## 🐛 Bug Report

Deleted my account but i had to reload the page after pressing the delete button to get logged out.
I tried to sign up a new user but now i get `401: Invalid credentials. User is blocked` when trying to sign up and sign in.

## To Reproduce

1. Setup clean instance op Appwrite
2. Sign up an account
3. Delete the account
4. Try to sign up a new account

## Expected behavior

Should

[2020-12-01 15:33] saibotma opened #745 "Missing hint to remove the smtp dependency from appwrite when connection a custom SMTP server"
## 📚 Documentation

The documentation is missing the hint to remove the SMTP dependency from appwrite in `docker-compose.yml` when connecting a custom SMTP server. It just tells the user to remove the `smtp` part.

<img width="799" alt="Screenshot 2020-12-01 at 16 29 49" src="https://user-images.githubusercontent.com/26022902/100761105-cc711f80-33f2-11eb-8ea8-d923dd572be0.png">

[2020-12-01 16:26] eldadfux commented on #343
@TorstenDittmann, got any good resources that we can use to summarize this info? I want to add it here: https://appwrite.io/docs/email-delivery

[2020-12-01 16:44] TorstenDittmann commented on #343
Found this some time ago: https://www.digitalshadows.com/blog-and-research/security-practitioners-guide-to-email-spoofing-and-risk-reduction/

[2020-12-01 17:06] eldadfux commented on #744
@saibotma I can confirm DELETE /account route does only account blocking and not actually deleting it. This was done to prevent abuse, the use case in mind was when a hacker take control over the account and maliciously deletes it. That way a developer can always recover the account.

In version 0.7 we have added real account deletion, but only limited to user DETELE /user/[user-id] route. @saibot

[2020-12-01 17:07] eldadfux commented on #745
I'll take this issue.

[2020-12-01 17:54] saibotma commented on #744
Strangely enough the sign up did not work with an other new account not just the deleted one.
Maybe we should check this.

I think it's confusing than delete just blocks a user. It should then be named "block" instead of  "delete".

[2020-12-01 17:59] eldadfux commented on #744
Would be great if you could confirm this is still happening and can be reproduced.

@saibotma or maybe have a new `deleted` status? @TorstenDittmann what do you think?

[2020-12-01 18:07] TorstenDittmann commented on #744
I think using the DELETE method is fine for the `/account` endpoint. Maybe adapt the sdk method name to `block()`.

In terms of deleting the user, I would still recommend this to be Server SDK exclusive for security reasons.

I don't know what value a `deleted` state would give ,deleted means removed and not visible anymore IMO. Changing the method call to `block` might be sufficient enough to pre

[2020-12-01 18:14] eldadfux commented on #744
We started using the DELETE /account because that better reflects what the user want to achieve. That said, most use-cases I'm aware of, an as a best security practice this would be way to risky action to allow from the client.

I guess that if we'll change the method name to `blockAccount`, one of the most requested features here will be to add a delete method, which is not something we really wa

[2020-12-01 18:19] TorstenDittmann commented on #744
The only implementation of giving users the ability to remove their accounts would be like the following:
1. Request Account removal
2. Confirm by mail
3. Account deleted after x days if no session created past confirmation of the removal

This involves more work and is up to @eldadfux to adapt such pattern and how it's prioritized.

[2020-12-01 18:24] saibotma commented on #744
@TorstenDittmann this sounds like a clean solution even though it is more complicated to implement.

What confused me was actually not the `DELETE` http method - I actually did not know about it - but the naming in the UI.
Renaming the UI from "delete" to "block" would probably help to avoid confusion.

However, I have to say that as an API i would expect `DELETE` to really delete a resource and i

[2020-12-01 18:26] eldadfux commented on #744
I think this is a reasonable alternative, that will help reduce the security risk. One issue is that we can count on the user to have an email anymore as we plan to introduce new "email-less" login methods.

This would also require us to think of a way to provide a delete revert action (maybe in the dashboard?)

[2020-12-01 18:28] eldadfux commented on #744
Agree, and we actually do use PATCH to change the status from active to blocked in the Users API 🤨

[2020-12-01 18:41] saibotma commented on #744
Sorry but i am a bit confused. Are we now talking about accounts or users, because according to the [docs](https://appwrite.io/docs/client/account?sdk=web#delete) when deleting an account using DELETE it gets blocked.

[2020-12-01 18:42] TorstenDittmann commented on #744
Account is the Client SDK endpoint for the currently logged in account. Users is the Server SDK Endpoint to manage all accounts 👍

[2020-12-02 08:43] Glide7 opened #746 "UI Bug in API key (select all)"
## 🐛 Bug Report

Selection is going a bit crazy after toggling the "Select All" button a few times in v0.7 (dev branch)

## Have you spent some time to check if this issue has been raised before?

No similar issue reported

## To Reproduce

Click the UI in the console that displays "Select all"

## Expected behavior

UI will highlight all options.

(Write what you thought would happen.)

UI is goi

[2020-12-02 09:20] eldadfux commented on #745
Fixed, deploying a new version now.

![image](https://user-images.githubusercontent.com/1297371/100853406-65a24380-3490-11eb-9954-0253a0422f97.png)

[2020-12-02 13:50] TorstenDittmann opened #747 "On PATCH /projects/:id: endpoint, name in payload is not optional"
## 🐛 Bug Report

On update project endpoint, name in payload is not optional.

https://github.com/appwrite/appwrite/blob/master/app/controllers/api/projects.php#L320

## Have you spent some time to check if this issue has been raised before?

✔️

## To Reproduce

Do a PATCH request updating the project document without sending the name.

## Expected behavior

Name is optional.

## Actual Behavior

[2020-12-02 16:34] #745 closed

[2020-12-02 16:34] eldadfux commented on #745
Forgot to mention this is already live for a few hours :)

[2020-12-05 05:43] christyjacob4 opened #752 "Verify that documents are deleted by the Deletes Worker"
## 🐛 Bug Report
This is a technical debt that we need to revisit when we have a concrete method to **check if documents of a deleted collection have actually been deleted by the deletes worker**.

## Have you spent some time to check if this issue has been raised before?
Yes
#751 creates a deletes worker to delete dangling documents of a deleted collection.

## To Reproduce
1. Create a collection

[2020-12-05 22:53] eldadfux commented on #730
Both features (new webhooks & disbale SMTP) are now reviewed and merged. You can test the on Appwrite 0.7.x branch or by using the `dev` tag on Docker hub. Up-to-date docs will be published on Appwrite.io with relevant labels for features enabled only on v0.7. Please reach out if you need any helps.

[2020-12-06 12:18] abovethewater opened #755 "Support ANAME verification for LetsEncrypt Certificates"
## 🚀 Feature

Support ANAME verification for HTTPS certificate generation

## Have you spent some time to check if this issue has been raised before?

Issue created after discord discussion.
Only CNAME is allowed, but ANAME shouldn't be a major issue to add.

### Have you read the [Code of Conduct](https://github.com/appwrite/appwrite/blob/master/CODE_OF_CONDUCT.md)?

Yes

## Pitch

A CNAME must p

[2020-12-06 21:25] eldadfux commented on #742
@AndroidNils better?
![image](https://user-images.githubusercontent.com/1297371/101292775-3f76fd80-381a-11eb-9345-3fe3c47d6e99.png)

[2020-12-06 21:31] AndroidNils commented on #742
Yes, great!

[2020-12-06 21:32] eldadfux commented on #742
@AndroidNils awesome! Gonna submit a PR.

[2020-12-09 16:30] abovethewater opened #760 "500 error returned if string data provided when creating new Document in Collection"
## 🐛 Bug Report

Performing a post to /v1/database/collections/{collectionid}/documents returns a 500 error if a string is used instead of an object

`--data-raw '{"data":"test","read":["*"],"write":["*"],"parentPropertyType":"assign"}'`

Switching appwrite to development mode changes this error to a 200, but the CORS headers are not set, and the following error is seen:

`< HTTP/2 200
< content-e

[2020-12-10 09:46] Glide7 commented on #539
Hey @hack3r-0m ,  did you end up taking this issue?

[2020-12-13 15:21] christyjacob4 opened #764 "Missing setEndpoint() in Deno SDK examples"
## 🐛 Bug Report
The Deno SDK example codes in the docs are missing the `setEndpoint()` method

## Have you spent some time to check if this issue has been raised before?
No this hasn't been raised before

## To Reproduce
Check the code examples for deno
https://appwrite.io/docs/server/storage?sdk=deno

## Expected behavior
The examples should have a `client.setEndpoint()` method

## Actual Behavio

[2020-12-13 16:03] eldadfux commented on #760
I can confirm this is throwing the correct 400 error on the 0.7.x branch 👍

[2020-12-13 21:12] pant03 commented on #364
+1

[2020-12-15 10:39] Glide7 commented on #535
Hey @SubashMuruganDev , do you want to take it?

[2020-12-15 10:41] Glide7 commented on #516
Hey @lightlace , are you still working on this?

[2020-12-15 10:44] Glide7 commented on #491
Ping to @eldadfux again to answer @imrishabh18 question :)

[2020-12-15 20:50] orestesgaolin commented on #461
Also waiting for the ability to deploy to heroku :)

[2020-12-16 10:25] b0r1sp opened #767 "Finetuning docker-compose.yml"
I'd propose to provide two seperate `docker-compose.yml` files: one for development purposes and the other one for production. I can help with that if needed. IMHO the `docker-compose.yml` for production should be as simple and as less opiniated as possible, e.g. no build instructions, optional use of `traefik`, ...

**Use of docker image**

Currently from the docs it's not clear if a local build

[2020-12-16 13:14] eldadfux commented on #767
Hey @b0r1sp, great feedback! Thanks for sharing.

A few thoughts, some might solve parts of the issues mentioned.

## The Docker Compose File

The docker-compose.yml in the root of this repo is not the production, and we should probably make that more clear (AKA task 1). We use that file in development. That's why you see some exposed ports that should not be there (we use them for benchmarking th

[2020-12-16 21:56] eldadfux commented on #767
Added this warning to our dev docker-compose.yml file

![image](https://user-images.githubusercontent.com/1297371/102411221-43fd9c00-3ffa-11eb-9c82-bd88aa7f86b3.png)

[2020-12-17 20:38] RingoRohe opened #769 "Optional Parameters are required?"
I'm trying to setup my first Project with Angular and Appwrite and stumbled over a Problem that seemst to be a Bug to me. I am trying to create and list some Documents to a Collection and as the Docs tell at https://appwrite.io/docs/client/database there are optional and required Parameters to the Methods. When I am trying the Code Examples, I instantly get a Hint from the IDE that not all require

[2020-12-17 23:34] eldadfux commented on #767
Added the new section to the installation page (will be deployed by the weekend):
![image](https://user-images.githubusercontent.com/1297371/102556274-2e0eda80-40d1-11eb-9ac0-952765e1036a.png)

[2020-12-19 00:00] Aarush-Goyal commented on #535
If this issue is still open then I would like to take it

[2020-12-19 08:09] Glide7 commented on #535
Sounds good @Aarush-Goyal - i've assigned you on it!

[2020-12-19 08:13] Aarush-Goyal commented on #535
Cool

[2020-12-20 00:57] Aarush-Goyal commented on #535
@Glide7 I didn't knew the code was in PHP and I haven't worked with it pls unassign the issue from me.
Sorry for the inconvenience

[2020-12-20 03:57] kodumbeats commented on #535
I'd like to work on this one, if you please.

[2020-12-20 06:52] Glide7 commented on #769
Thanks for the report @RingoRohe -
@eldadfux @christyjacob4 , do you guys mind taking a look?

[2020-12-20 06:57] Glide7 commented on #535
That's ok @Aarush-Goyal - thanks for trying to help!

@kodumbeats sure! assigned you!

[2020-12-20 18:18] kodumbeats commented on #535
Just to clarify - should this feature be developed from `master` or `0.7.x`? `CONTRIBUTING.md` says `master`, but I've seen other issues specify the starting branch.

[2020-12-20 23:29] eldadfux commented on #535
@kodumbeats you should use the `0.7.x` branch 👍🏻

[2020-12-21 13:38] RingoRohe opened #770 "UI Bug - impossible to add more than one Rule of Type Document via Backend"
## 🐛 Bug Report

When adding Rules to a Collection via the Appwrite Backend, it is not possible to store more than one Rule with Type of Document. When setting the Collection Type for the rule ("Allowed Collection"), all other Collection Types for all other Rules get deselected. So the List property for all Rules with type Document gets null.

It is possible to edit and resend the Request manually

[2020-12-22 12:35] christyjacob4 commented on #769
Hey @RingoRohe I have setup a react app to try and reproduce your issue.  I don't seem to be facing any problems. I'm able to run this just fine
[code]
![Screenshot 2020-12-22 at 6 05 00 PM](https://user-images.githubusercontent.com/20852629/102889198-3758c800-4480-11eb-9b45-cf3792e95990.png)

Is your code failing to compile ?

[2020-12-22 19:52] RingoRohe commented on #769
Hey @christyjacob4 thanks for checking.

For the sake of comparability I've set up a react project, installed the appwrite module via NPM and added the provided code. Strangely everything runs flawless. No linter or compiler errors. So I set up a fresh angular project to doublecheck. Installed appwrite the same way and copied the working code from the react app.

Linter:
[code]

Compiler:
[code]

[2020-12-22 20:01] christyjacob4 commented on #769
What npm command are you using to install appwrite?

[2020-12-22 20:04] RingoRohe commented on #769
npm install --save appwrite

For both, the react and the angular project.

[2020-12-22 20:06] christyjacob4 commented on #769
@RingoRohe thank you. Yes this is a bug and we'll fix it ASAP ☺️ thanks for reporting this! 🎉

[2020-12-22 20:12] RingoRohe commented on #769
My pleassure. Glad I could help. 🙂

[2020-12-22 20:17] eldadfux commented on #769
Thanks @RingoRohe, this is a bug in the Appwrite SDK-Generator. I'll commit a fix soon.

[2020-12-24 06:29] eldadfux commented on #769
@RingoRohe @christyjacob4 I've released a new version of the Web SDK with the following updates:

- Updated code examples
- Added TypeScript support for optional parameters
- Fixed return type for getBrowser method

[2020-12-24 11:24] udcode opened #773 "Linkedin Provider is not working(Flutter)"
Getting Error 500 - provider is not supported
When trying to log in with LinkedIn.

Basic setup(flutter):
   Client _client = new Client();
    _client.setEndpoint(...).setProject(...):
   Account _account = new Account(_client)
   ....
    var result = _account.createOAuth2Session(provider:'linkedIn');

[2020-12-24 11:37] christyjacob4 commented on #773
Hey @udcode thanks for raising this. We are working on this and will be out with a fix soon on the 0.7.x branch

Let me know if you need help setting up the development version of appwrite and I'd be happy to assist.

[2020-12-24 11:38] eldadfux commented on #773
@christyjacob4 we should probably also check why this is raising error 500 and not 400

[2020-12-24 11:38] christyjacob4 commented on #773
Sure @eldadfux I'm testing the entire flow just to be sure

[2020-12-24 11:56] RingoRohe commented on #769
Good Job. Thank you and merry christmas. :)

[2020-12-24 12:42] christyjacob4 commented on #773
@udcode  Your error appears to be different from the fix that we have provided.
Consider replacing your code with this and try again. I think it's got to do with the uppercase I in `linkedIn`

[code]

[2020-12-24 12:51] udcode commented on #773
i tried with lower vase

On Thu, Dec 24, 2020, 14:42 Christy Jacob <notifications@github.com> wrote:

[2020-12-24 14:23] christyjacob4 commented on #773
@udcode We have merged the fix to the 0.7.x branch. Do you need help setting it up?

[2020-12-24 14:25] udcode commented on #773
Tnx!!
Help would be greatly appreciated 🙏

On Thu, Dec 24, 2020, 16:23 Christy Jacob <notifications@github.com> wrote:

[2020-12-24 14:35] christyjacob4 commented on #773
Okay you can follow these steps

[code]

Once the containers are up and running, head over to your dashboard at localhost (default).
Create a project and head over to the users section

![Screenshot 2020-12-24 at 8 00 39 PM](https://user-images.githubusercontent.com/20852629/103094193-b423a780-4622-11eb-93e3-65b52bdfdc97.png)

Head over to OAuth providers and enable Linkedin
![Screenshot 2020-12-2

[2020-12-24 14:35] #773 closed

[2020-12-24 14:57] udcode commented on #773
hi do i need to use the dev sdk for flutter?
tnx

On Thu, Dec 24, 2020 at 4:35 PM Christy Jacob <notifications@github.com>
wrote:

[2020-12-24 15:11] eldadfux commented on #773
@udcode you can use this one: https://pub.dev/packages/appwrite/versions/0.3.0-dev.2

[2020-12-24 16:00] udcode commented on #773
getting these errors

Creating appwrite-clamav ...
Creating appwrite-telegraf ...
Creating appwrite-mariadb         ... error
...
ERROR: for appwrite-mariadb  Cannot start service mariadb: Ports are not
available: listen tcp 0.0.0.0:3306: bind: Only one usage of each socket
address (protocol/network address/port) is normally permitted.

On Thu, Dec 24, 2020 at 5:11 PM Eldad A. Fux <notifications@g

[2020-12-24 16:02] christyjacob4 commented on #773
Looks like you already have a container running. Can you share the output of `docker ps `

[2020-12-24 16:04] udcode commented on #773
C:\Users\yudi\Documents\GitHub\kikero\appwrite>docker ps
CONTAINER ID   IMAGE     COMMAND   CREATED   STATUS    PORTS     NAMES

On Thu, Dec 24, 2020 at 6:00 PM Yudi Noiman <yudinoiman@gmail.com> wrote:

[2020-12-24 16:32] udcode commented on #773
ok, found the issue, i had a mysql server running on that port

On Thu, Dec 24, 2020 at 6:03 PM Yudi Noiman <yudinoiman@gmail.com> wrote:

[2020-12-26 19:58] RingoRohe opened #777 "Login with blocked Account breaks all following Requests"
## 🐛 Bug Report

Everything is fine until I try to create a session for a blocked User. When I try, I get a "201 Created" Response and a Cookie is set. But because the User is blocked, every following request to the Accounts Endpoint results in a "401 Unauthorized" Response. Even the deleteSession Request. I cant even login to the Appwrite Backend until I manually remove all Cookies and clear the

[2020-12-27 05:00] Akshit42-hue commented on #535
@eldadfux  @Glide7  Can i work on this issue

[2020-12-27 07:09] Glide7 commented on #535
Hey @Akshit42-hue - it's currently being worked on by @kodumbeats . we'll let you know if something changes! thanks for helping!

[2020-12-27 11:59] eldadfux commented on #777
Thanks for reporting this issue @RingoRohe. I've started working on a fix on this branch: https://github.com/appwrite/appwrite/tree/bug-777-blocked-users-can-create-sessions - I have to add a couple of tests and then I'll submit a PR.

[2020-12-28 08:44] eldadfux commented on #777
Change tested, reviewed and merged to 0.7.x

[2020-12-28 09:07] Akshit42-hue commented on #535
@Glide7 ok

[2020-12-28 14:23] nitishk72 opened #783 "Order not working correctly for number filed value"
## 🐛 Bug Report

When applying for order by to the column. of type number, it doesn't work.

## To Reproduce

[code]
![image](https://user-images.githubusercontent.com/15886737/103220309-f9f3af00-4945-11eb-93c2-941ab21828f8.png)

## Expected behavior

As we define the collection and its type then we can easily parse the number and sort it based on numberic value

## Actual Behavior

![image](https

[2020-12-28 14:35] nitishk72 commented on #783
Found the solution order cast can do this but still curious if we can use the collection data type
[code]

[2020-12-28 14:55] eldadfux commented on #783
@nitishk72 your solution is the correct way to apply order by fo integers. We are going to add more improvement to the DB after releasing 0.7 which will make this API endpoint a bit more intuitive and predictable than it is right now.

[2020-12-29 05:50] eldadfux commented on #265
JWT draft PR is ready: https://github.com/appwrite/appwrite/pull/784/files 🎉

[2020-12-29 05:51] eldadfux commented on #262
JWT draft PR is ready: https://github.com/appwrite/appwrite/pull/784/files 🎉

[2020-12-29 05:52] eldadfux commented on #511
JWT draft PR is ready: https://github.com/appwrite/appwrite/pull/784/files 🎉

[2020-12-29 08:09] nitishk72 commented on #783
@eldadfux  can we write data without login.
I tried all the possible way, please help

[2020-12-29 09:48] eldadfux commented on #783
@nitishk72 when using the Web or Flutter SDK you must authenticate a user before writing data. You can use the server SDK or upcoming cloud functions (available for next version - 0.7) to add custom behavior. You can also try and share your use-case if you want for a more specific advice.

[2020-12-29 11:34] Glide7 commented on #714
Hey @Sj1218305 - how are things going? Do you need assistance from us?

[2020-12-29 18:18] didair opened #785 "Issues with nested documents in array properties on documents"
## 🐛 Bug Report

Im trying to add a 'product' to a 'list' in array 'list.products (product type)'
'product' contains an array with nested documents called 'prices'
If i send the entire 'product' object i get this error:
message    "Bad structure. Invalid document structure: Property "products" has invalid input. Invalid document structure: Property "prices" has invalid input. Invalid document stru

[2020-12-30 11:33] eldadfux commented on #785
Updating that we solved the issue itself. Seems like on of the nested collection had a missing read attribute for the user to access it.

[2020-12-30 11:34] eldadfux commented on #785
Leaving this issue open to rethink the patch endpoint behavior.

[2020-12-31 15:44] #783 closed

[2021-01-01 15:49] arodebaugh opened #793 "Spotify doesn't actually pass scopes to API?"
## 🐛 Bug Report

I was using the Spotify Auth and I passed a few scopes to allow me to get user playback. But I was getting unauthorized errors from the Spotify API. Looking at my network connections the only thing actually passed to the Spotify API scope wise is user-read-email.

## Have you spent some time to check if this issue has been raised before?

Yes I have

## To Reproduce

[code]

## Ex

[2021-01-01 19:27] eldadfux commented on #793
@christyjacob4 this might also be a good time to do some planned refactoring on how custom scopes and OAuth token are working. I was thinking of storing the access token and provider name as part of the session object, and maybe also have a graphic to indicate the session was created using OAuth.

[2021-01-01 19:37] kodumbeats commented on #547
Can this issue be assigned to me? I'd like to see Appwrite on my [pi cluster](https://blog.alexellis.io/test-drive-k3s-on-raspberry-pi/).

[2021-01-01 19:56] eldadfux commented on #547
@kodumbeats we would love your help, but this is probably the more relevant issue for running Appwrite Raspberry PI: https://github.com/appwrite/appwrite/issues/465

Let me know if you want to collaborate on it together...

[2021-01-01 20:15] kodumbeats commented on #547
@eldadfux Absolutely I do! I've got a spare pi 4, which should help - I can dev directly on the device if need be.

[2021-01-01 20:48] kodumbeats commented on #546
Can I be assigned `Deploy Appwrite on Linode`? I used to work there and can publish the guide to the [Linode Community](https://www.linode.com/community/questions/) for more visibility.

[2021-01-01 21:00] kodumbeats commented on #465
Happy to help with this!

[2021-01-01 22:10] eldadfux commented on #546
@kodumbeats this would be great, and adding it to the Linode community will be AWESOME!

[2021-01-02 08:20] ardevd opened #794 "Unable to add integer array to document"
## 🐛 Bug Report

After adding an array value to an existing document type, I'm unable to set the array value of any document.

## To Reproduce

Create a new database table (document type?).

Add a integer array field to it.

Find an exisitng document, and try to set the integer array value. A "Failed to Update Document" error message is shown in the UI. I also notice that even if I make the field

[2021-01-02 08:23] ardevd opened #795 "Add ability to set multiple array values as default"
## 🚀 Feature

Currently, when adding a new array field to a document type, only a single value can be specified as default. It would be nice to be able to add multiple values, as is quite in line with what an array is supposed to be.

[2021-01-02 17:19] silentworks opened #797 "ClamAV network path is currently harcoded"
## 🐛 Bug Report

Currently if you should change the value of your clamav services in the docker-compose.yml to anything other than clamav it will break the file uploading mechanism. This is because the clamav value is hardcoded inside of [storage.php](https://github.com/appwrite/appwrite/blob/master/app/controllers/api/storage.php#L201), this should be setup as an environment variable so that it c

[2021-01-02 18:51] kodumbeats commented on #364
Might be able to leverage [Kompose](https://kompose.io/user-guide/#alternative-conversions) to convert `docker-compose.yml` -> helm chart (tackling #24), and according to [RedHat](https://docs.okd.io/latest/operators/operator_sdk/osdk-helm.html), the Operator SDK knows what to do:

I'll update if I can get it to work.

[2021-01-02 21:18] eldadfux commented on #797
This is now fixed on `0.7.x` branch and will be released with v0.7.0

[2021-01-02 22:56] kodumbeats commented on #535
Should we leave this issue open for potential style changes? Or is #791 sufficient to close?

[2021-01-03 01:09] silentworks commented on #797
This feels like it should have been a 0.6.3 release since its a non-breaking change and could have been released sooner than waiting on 0.7.0.

[2021-01-03 07:04] christyjacob4 commented on #793
![Screenshot 2021-01-02 at 10 36 37 PM](https://user-images.githubusercontent.com/20852629/103462409-fba8e280-4d4a-11eb-933d-9b50c64ace89.png)

@eldadfux @arodebaugh
I have tried to reproduce this on the 0.7.x branch and I was able to get the requested scopes.
There appears to be some issue in the 0.6.2 branch. I will look into it in depth later.

[2021-01-03 07:42] Glide7 commented on #535
@eldadfux What do you think?

[2021-01-04 09:51] eldadfux commented on #465
ARM Support Update

Seems like we've managed to solve 99% of all open issues. The only thing still failing right now is the test for executing a Deno cloud function. Seems like the Deno Docker image lacks ARM support: https://github.com/hayd/deno-docker/issues/100

[2021-01-04 12:38] madugula007 commented on #244
SMS OTP login will be the best one.

[2021-01-04 14:43] hack3r-0m commented on #539
@Glide7 I want to take this issue but need help regarding which files/folders to check for finding out that error

[2021-01-04 14:55] hack3r-0m commented on #410
please assign me Evernote if it is still left

[2021-01-04 22:26] eldadfux commented on #419
First version of our .NET SDK is available: https://github.com/appwrite/sdk-for-dotnet 🎉

Credit to @komemi and @TorstenDittmann for all the hard work!

The SDK is also available using NuGet: https://www.nuget.org/packages/Appwrite

[2021-01-05 07:25] Glide7 commented on #539
@hack3r-0m sure I assigned you.
@mxgnr can you please help and tell us which files/folders to check for finding out this error?

[2021-01-05 07:26] Glide7 commented on #410
@hack3r-0m assigned you :) Please let me know if you need help!

[2021-01-05 07:34] eldadfux commented on #539
This is the email validation we use: https://github.com/utopia-php/framework/blob/master/src/Validator/Email.php sound to me like it is something related to URI encoding. @hack3r-0m If thats the case, the source code for appwrite.io is not open-sourced yet :/

[2021-01-05 11:28] klnfreedom opened #801 "DioError [DioErrorType.RESPONSE]: Http status error [401], but I am authorized"
Hello, I have some problem with create a document on appwrite (flutter web), when I start the process for creation, I have an error: DioError [DioErrorType.RESPONSE]: Http status error [401].
But I am authorized.
And I can read a document from appwrite, but I can't create a document to appwrite
Thats a part of code of creation document:

Future uploadDataToAppwrite(GasStationFromTransnet data) asy

[2021-01-05 12:45] eldadfux commented on #801
Before creating documents you need to authenticate your user by creating an account, and then an account session.

[2021-01-05 13:32] klnfreedom commented on #801
{"$id":"5ff46a34a631f","type":1,"expire":1641389492}
[GETX] "GetMaterialController" has been initialized
[GETX] GOING TO ROUTE /home
[GETX] "HomeController" has been initialized
DioError [DioErrorType.RESPONSE]: Http status error [401]
false

I made it, but not working, how can I fix it?

[2021-01-05 13:33] klnfreedom commented on #801
The same error

[2021-01-05 13:34] klnfreedom commented on #801
I'm authenticated, but the same error

[2021-01-05 13:34] eldadfux commented on #801
Make sure your collection has write permissions for that user, `*` can be a good value for testing

[2021-01-05 13:39] klnfreedom commented on #801
When I want to create document, I need to take json code from collection or from the document?

[2021-01-05 13:42] eldadfux commented on #801
@klnfreedom not sure I understand the question. Do you have a wildcard permission in your collection settings?

![image](https://user-images.githubusercontent.com/1297371/103653040-9cc2b380-4f6c-11eb-98c5-ee2fb1c6c8a4.png)

[2021-01-05 13:45] klnfreedom commented on #801
Yes, I have a wildcard permission in write access and read accsess too

[2021-01-05 14:15] klnfreedom commented on #801
When I want read document from appwrite, I can do it, but when I want to create document to appwrite, I can't do it. What I need to do? Create session is success but I can' to write.

[2021-01-05 14:16] klnfreedom commented on #801
try {
      Response response = await database.createDocument(
        collectionId: AppConstants.collection,
        data: data.toJson(),
        read: ["*"],
        write: ["*"],
      );
      print(response);
      return true;
    } catch (e) {
      print(e);
      return false;
    }
  }
It's a part of my code for creating

[2021-01-05 14:18] klnfreedom commented on #801
what am I doing wrong?

[2021-01-05 14:48] eldadfux commented on #797
@silentworks you're 100% right, due to capacity on the team we might be able to release only 0.7 or 0.7 and 0.6.3 at the same time 😞.

[2021-01-05 15:15] klnfreedom commented on #801
I can't get session, because I get the same error
[GETX] "GetMaterialController" has been initialized
[GETX] GOING TO ROUTE /home
[GETX] "HomeController" has been initialized
{"$id":"5ff48213a6a04","type":1,"expire":1641395603} - init client()
DioError [DioErrorType.RESPONSE]: Http status error [401] - getSession
DioError [DioErrorType.RESPONSE]: Http status error [401] - try to create document

[2021-01-05 23:26] mlaradji opened #803 "[ Feature Request ] Adjacency List Relationships"
## 🚀 Feature

One of the database field types is `document[]`, which allows a document to have a reference or list of references to documents in other collections. As far as I can tell, documents can only refer to documents in other collections. It would useful to allow a document to reference a document in the same collection; this is sometimes called an adjacency list relationship (https://docs.

[2021-01-06 10:03] hack3r-0m commented on #539
@eldadfux if I am not wrong "newsletter" has been replaced with "Get Updates" in appwrite.io recently and I can confirm "+" is not causing issue while subscribing for "Get Updates"

[2021-01-06 14:25] eldadfux commented on #801
@klnfreedom you need to use createSession not getSession

[2021-01-06 14:44] klnfreedom commented on #801
initClient it is a method which is included createSession();

It is very interesting, I can create session and I get id of client, but when I want to getSession, I give DioException Http 401

And when I want to create document I get the same problem

[2021-01-06 19:07] eldadfux commented on #764
Fixed on master, will release a new Deno version on 0.7 release

[2021-01-07 12:19] eldadfux commented on #801
@klnfreedom are you testing this on Flutter Web?

[2021-01-07 12:21] eldadfux commented on #794
@ardevd please post your collection structure, and the payload errors your API is returning from the devtools network tab.

[2021-01-07 12:22] eldadfux commented on #795
Listing this as a feature for our planned DB upgrades list.

[2021-01-07 12:42] klnfreedom commented on #801
Yes, I tested, but I have the same error

[2021-01-07 14:01] eldadfux commented on #801
@klnfreedom sorry for all the questions, but I just want to be sure I understand the problem scope. This error happens to your only on web or web+ios+android?

[2021-01-07 21:03] silentworks opened #806 "Combining whitelist strategies"
## 🚀 Feature

Combine whitelist strategies.

## Have you spent some time to check if this issue has been raised before?

Yes

### Have you read the [Code of Conduct](https://github.com/appwrite/appwrite/blob/master/CODE_OF_CONDUCT.md)?

Yes

## Pitch

Sometimes in a company, you want to have the strategy set to domain, but you might also want to allow certain email addresses from a different domai

[2021-01-08 13:57] tharunc opened #808 "Integrate Welcome Bot"
Hello there,
I can add a welcome bot config file having a proper message that will show up when any user will open up an issue or pull-request for the first time as a part of **DWOC**. Please assign me this issue.
For reference, kindly check out: https://github.com/apps/welcome
THANK YOU

[2021-01-08 16:26] klnfreedom commented on #801
Everythhing is cool, thank you for support

[2021-01-10 09:33] Glide7 commented on #808
Hey @tharunc ,
Thanks for this suggestion!

For now, we want to keep Appwrite "bot free" especially when it comes to communicating with people :)
It's something that we are looking forward to do in the future though, so we'll keep you posted!

[2021-01-10 09:33] #808 closed

[2021-01-12 17:15] hack3r-0m commented on #714
hi, I would like to take it.
@SoftCreatR suggested I will use this approach https://github.com/marketplace/actions/build-docker-images-using-cache#from-a-compose-file. I am thinking of creating a new branch from 0.7.x and make PR to that so it does not disturb the current development flow. I have a few doubts:
- if I am not wrong, there is no image of 0.7.x on the docker hub
-  in the `compose_fil

[2021-01-12 20:20] ardevd commented on #794
[code]

Where do I find the devtools network tab containing the requested errors?

[2021-01-13 05:52] eldadfux commented on #794
@ardevd this is an example:

![image](https://user-images.githubusercontent.com/1297371/104412060-40672180-5574-11eb-8556-792bd25b467d.png)

[2021-01-13 06:20] eldadfux commented on #714
@hack3r-0m moving to Github actions is not part of this issue scope. The team is currently using Travis CI for ~60 repos and we need to have a wider plan for this kind of migration, which unfortunately is not a priority right now.

[2021-01-13 19:04] thesmartrenovation opened #822 "Can't see documents"
Hello,

I'm new to AppWrite.

I did a clean installation on a clean server. Everything works fine, except I can't see the documents on the dashboard and I can't see the create button, to add documents directly from the dashboard.

look:

![image](https://user-images.githubusercontent.com/57076657/104497256-14659380-55a8-11eb-89c8-fa695e92bdef.png)

I think that's a nug, but maybe I made a mistake

[2021-01-13 19:18] hack3r-0m commented on #714
@eldadfux once 0.7.x is ready and pushed to docker, let say new PRs get merged into 0.7.x branch then how is old image updated on docker hub, there must be something step in .travis.yml file to merge new code into existing Docker image? As far as caching Travis CI, [docs](https://docs.travis-ci.com/user/caching/#things-not-to-cachel) recommend not to cache images, so the only thing to cache is `do

[2021-01-13 19:30] ardevd commented on #794
[code]

[2021-01-13 19:31] ardevd commented on #794
Am I misintepreting the UI somehow? The UI seens to let you "add" integer values to the field, which to me means that it should add the supplied integers to the array. Yet the error message seems to indicate its not being treated as array values at all.

[2021-01-13 19:39] eldadfux commented on #794
@ardevd to get the full picture and verify if this is a bug or not we'll need the request payload as well

[2021-01-13 19:42] ardevd commented on #794
[code]

[2021-01-13 19:50] eldadfux commented on #794
Your `model_years` is expecting any array according to your collection, but your json has an integer value:

[code]

Try and change it something like this:

[code]

[2021-01-13 19:55] ardevd commented on #794
Right, but its supposed to be a numerical array. Seems to me like there's a bug, either in the UI or the request generator.

![screenshot_2021-01-13-205444](https://user-images.githubusercontent.com/366855/104503688-ac33a380-55e1-11eb-8144-b7e3ed451a24.png)

[2021-01-13 20:01] ardevd commented on #794
Yep, that works fine. Any chance for a proper fix though?

[2021-01-13 20:05] ardevd commented on #794
Also, after updating the record manually, if I try to add an additional integer array value to the same record, it also fails, and the network requests shows that it doesnt include the other array value.

[code]

It should be
[code]

[2021-01-13 20:34] eldadfux commented on #794
OK, I can see the problem in the UI, can you see the same issue in the API?

[2021-01-13 20:36] eldadfux commented on #822
@thesmartrenovation  Please check if you get any network error in the browser console. If yes please post the errors response payloads you find.

[2021-01-13 20:37] ardevd commented on #794
What do you mean? If I modify and fix the API query and have it pass array values it works fine. The problem seems to be the malformed requests generated by the UI.

[2021-01-13 20:39] eldadfux commented on #794
Yes, that what I wanted to know, thanks, I'll mark this as a bug and the team will work on a fix.

[2021-01-13 21:08] thesmartrenovation commented on #822
Hello,

No network or console errors

![image](https://user-images.githubusercontent.com/57076657/104510638-72e73d80-55b9-11eb-8fe4-e71313fa0943.png)

[2021-01-13 21:10] eldadfux commented on #822
Check the payload of this 2 requests:

![Uploading image.png…]()

[2021-01-13 21:43] thesmartrenovation commented on #822
![image](https://user-images.githubusercontent.com/57076657/104513786-3702a700-55be-11eb-9656-f6826a57862f.png)

![image](https://user-images.githubusercontent.com/57076657/104513907-687b7280-55be-11eb-9e67-a6468e04320b.png)

[2021-01-13 21:48] eldadfux commented on #822
Try to add a rule to the specific collection in the collection settings and see if the problem persist

[2021-01-13 23:07] thesmartrenovation commented on #822
If i added rules, the botton to create document appear, but not the documents created with SDK....if i create a document through the dashboard this is shown

![image](https://user-images.githubusercontent.com/57076657/104520974-06c10580-55ca-11eb-9916-813d5f6a358f.png)

The board says "2 documents" but only one is available for viewing

[2021-01-14 05:37] eldadfux commented on #822
This seems like a UI specific bug when no rules have been set, I'll try and debug it on my system.

[2021-01-14 10:00] akrish4 opened #824 "Integrate Welcome and Greeting Bot"
Hi there

I would like to contribute to this project by adding a welcome and greeting bot which will comment up when any user will open up with an issue or pull-request for the first time
Kindly do assign me this issue
( config file having a proper message)

For reference, kindly check out: https://github.com/apps/welcome

[2021-01-14 10:06] Glide7 commented on #824
Hey there @akrish4 , welcome to the community!
While we do appreciate your wanting to help, for the time being we prefer to not use welcome and message bots in Appwrite!
This is something that we want to do in the future, but not for now!

I will contact you in the future when the time is right to do so :)

[2021-01-14 10:06] #824 closed

[2021-01-14 10:10] himanshu007-creator opened #825 "Automating the webapp"
I would like to work on this issue.I will create a script that will enable opening website from CLI.
Please add DWOC label to it and assign me this issue.

[2021-01-14 10:20] akrish4 commented on #824
sure @Glide7
I will always be glad to contribute , kindly contact me through this issue whenever you require it and also contact when you need anything to be documented now

[2021-01-14 10:53] ardevd opened #826 "Is it possible to filter based on array values?"
I can't seem to figure out whether it's possible to filter on array values. Say you have a document with a numerical array field and you want to filter based on that to give you records that contain the supplied filter value in the array.

I dont think the comparison operators (=, !=, >, <, <=, >=) work in this case. If your numeric array for a given record contains [1,5,10,12] and you want to fil

[2021-01-14 11:11] Glide7 commented on #825
Hey @himanshu007-creator - done and done! please feel free to ask questions here or in our discord :) appwrite.io/discord

[2021-01-14 11:31] himanshu007-creator commented on #825
https://github.com/appwrite/appwrite/pull/828
Job done.

[2021-01-14 12:41] Glide7 commented on #825
Hey @himanshu007-creator - thanks for this pull request - we feel like this is irrelevant pull. Please feel free to browse other dwoc issues, and help us there! thanks!

[2021-01-14 12:41] #825 closed

[2021-01-15 01:32] thesmartrenovation commented on #822
Thanks, I will wait

[2021-01-15 04:45] samir-0711 opened #830 "Add Contributors Table in README.md"
## 📚 Documentation

To make README.md file beautiful and give credit to contributors
Like this
![image](https://user-images.githubusercontent.com/68433936/104682313-61697700-571a-11eb-8f92-5060042d9263.png)

## Have you spent some time to check if this issue has been raised before?

Yes

### Have you read the [Code of Conduct](https://github.com/appwrite/appwrite/blob/master/CODE_OF_CONDUCT.md)?

[2021-01-15 04:45] samir-0711 commented on #830
I would like to work on this.

[2021-01-15 07:42] paullee2018 commented on #382
If I were to add this feature, where do I start?

[2021-01-15 07:44] ubergeekNZ commented on #382
If I were to add this feature, where do I start? I would like this feature for my application and want to automatically deploy.

[2021-01-15 08:24] Glide7 commented on #830
Hey @samir-0711 - thank you so much for this idea! Sadly, we've had it already some time back, yet the list became too big, so we removed it!

Feel free to browse any existing issue and working on then :)

[2021-01-15 08:24] #830 closed

[2021-01-15 08:47] samir-0711 commented on #830
I can add "CONTRIBUTORS.md" file link in README.md which will show contributors in new file. (Also this will not clog up our README)
Like this
![image](https://user-images.githubusercontent.com/68433936/104702549-28da9500-573c-11eb-8a40-9ec382edd554.png)

[2021-01-15 08:50] eldadfux commented on #830
Hey @samir-0711, it would probably not be very different from the Github's built-in contributors page, and will just create more commit/PR noise for the team.

[2021-01-15 12:53] punitdiwan commented on #382
@ubergeekNZ We welcome your contributions. Please join our discord server so that you can directly interact the creator and maintainers of the product. Here is the [Discord Server Link](https://discord.com/invite/GSeTUeA)

[2021-01-15 16:44] eldadfux commented on #382
Anyone following this issue can check this test code we use for the Appwrite CI. You can imitate the HTTP calls the same way to create an admin -> team -> project for your CI flow.

https://github.com/appwrite/appwrite/blob/ec8be5eed1946be19ff1b8ecd548f076ff865d63/tests/e2e/Scopes/ProjectCustom.php#L17-L56

This is similar to the way the Appwrite console creates new projects.
@ubergeekNZ

About th

[2021-01-16 08:43] punitdiwan commented on #382
@eldadfux I really like the idea of creating new type of API keys. It will be standard scalable implementation considering the upcoming features like buckets for file  uploads.

One use case will I can think of is that if I want to create landing page for multi tenant service  where AppWrite is used as backend, the client can fill the details and the project will be created in AppWrite side. We al

[2021-01-16 12:48] auliabismar commented on #395
I suggest unique column constraint if not already in other open issue post

[2021-01-16 15:58] Macdeo commented on #801
How did you fixed this issue @klnfreedom

[2021-01-16 16:05] klnfreedom commented on #801
https://github.com/appwrite/sdk-for-flutter/issues/5

[2021-01-16 23:09] Macdeo commented on #801
Thanks

[2021-01-17 07:19] payne8 commented on #566
I've written plugins/extensions for NextCloud and I liked the way they did it... for the most part. For most of their project they have a well defined interface that allows you to interact with other parts of NextCloud's system. For them it was all in PHP talking directly to the other components. But that doesn't need to be the case. If appwrite were to define a clear 'plugin' API that allowed mor

[2021-01-19 10:06] saibotma opened #840 "Swipe back and forward gestures on Firefox for Mac do not work"
## 🐛 Bug Report

Swipe back and forward gestures on Firefox for Mac do not work when in the appwrite dashboard.

## To Reproduce

Open the dashboard on Firefox for Mac and try to swipe back (to go back) and forward (to go forward).

## Expected behavior

Should go back when swiping back and forward when swiping forward.

## Actual Behavior

Does nothing.

## Your Environment

Firefox 84.0.2 for Ma

[2021-01-19 10:09] saibotma commented on #744
Ah, now I get it. I was actually talking about Appwrite accounts, the accounts that have access to the dashboard.

[2021-01-19 10:53] eldadfux commented on #744
@saibotma the dashboard is using the exact same Appwrite APIs :) Account API for your dashboard user, Users API for managing your project users

[2021-01-19 17:08] Harpune commented on #395
It would be good to have a recursive structure, so documents can contain documents of the same collection-type. There is only the possiblity to select different collections.

_Note_: I already needed this feature and created a workaround by using wildcards. And to my surprise, the created documents where listed in the collection overview as documents. The json of the wildcard contained the collect

[2021-01-20 01:25] lohanidamodar commented on #801
I think it's safe to close this issue as it is for now resolved by
https://github.com/appwrite/sdk-for-flutter/issues/5
Feel free to reopen if it is not resolved for you, or continue discussion in https://github.com/appwrite/sdk-for-flutter/issues/5.

[2021-01-20 01:25] #801 closed

[2021-01-21 13:34] JulianBissekkou opened #845 "Improve webhook testing with new dev tools"
## 🚀 Feature
An easy way to trigger fake webhook events for testing webhook endpoints!

## Have you spent some time to check if this issue has been raised before?
Yes, doesn't look like there is another issue like this.

### Have you read the [Code of Conduct](https://github.com/appwrite/appwrite/blob/master/CODE_OF_CONDUCT.md)?
Yes 👍🏼

## Pitch
I was working with stripe for a while now (https://s

[2021-01-21 13:41] eldadfux commented on #845
I really like this feature. I think it will improve onboarding and dev experience.

I can think of two options to get this done:

1. Add a trigger endpoint which will be available as a button on the UI, with the option to trigger any system supported event with mock data (can be auto-generated from our Models objects).
2. Expose the webhooks API completely just as any other Appwrite API and allow

[2021-01-21 13:46] JulianBissekkou commented on #845
I think the second option would be better for future features such as the CLI.
Another use case: I can create a unit test on my server that checks that my webhook endpoint works as expected with the appwrite server.
The test would create a webhook, executes a mocked event, and removed the webhook after the test is done.

If I upgrade appwrite to a newer version, I can just run the tests and make s

[2021-01-21 13:50] eldadfux commented on #845
@JulianBissekkou sounds solid.

You can also use something like request catcher for testing webhooks, we use it for the Appwrite server tests. https://github.com/appwrite/docker-requestcatcher we use our own image for ARM support.

[2021-01-21 14:10] JulianBissekkou commented on #845
Oh That's nice!

[2021-01-23 07:40] #270 closed

[2021-01-23 07:49] eldadfux commented on #803
@mlaradji how would you approach a recursion where one document is referencing itself directly or indirectly from another nested document of the same type? My fear is that this can result in an endless loop that will eventually crash the server.

[2021-01-25 02:03] mlaradji commented on #803
@eldadfux Hmm. When adding a new reference field, we could attempt to detect cycles in the new resulting json schema before accepting the change. Or we could have a recursion limit but that may lead to more problems.

How is it currently handled for different collections? Is it possible to have collection A reference collection B which references collection A?

[2021-01-25 16:53] ClimenteA opened #848 "How can I delete a user?"
I'm trying appwrite, just installed it added the python sdk from pypi and I'm at the part where I'm trying to delete a user.
I didn't saw in the documentation din option (only delete user session).

Do you have some repo examples of appwrite + python?

![image](https://user-images.githubusercontent.com/9250009/105736368-61008580-5f3d-11eb-8a4e-403f0e697406.png)

---
Appwrite Version: 0.6.2.125

[2021-01-26 04:08] jeffmikels opened #849 "Running the docker command on the homepage fails on clamav..."
## 🐛 Bug Report

Attempting to run the docker install command on the appwrite homepage leads to this error:

[code]

I'm running `Docker version 19.03.13-ce, build 4484c46d9d` on Arch Linux.

## Have you spent some time to check if this issue has been raised before?

Yes... searched google and searched these issues

[2021-01-26 04:10] jeffmikels commented on #849
Running the command a second time appears to successfully complete.

[2021-01-26 07:05] eldadfux commented on #848
@ClimenteA please check: #538 #378

[2021-01-26 07:05] #848 closed

[2021-01-26 09:25] pspierce opened #850 "Upgrade documentation confusing"
## 📚 Documentation

Upgrade documentation says:
`Upgrade
If you are upgrading your Appwrite server from an older version, you should use the Appwrite migration tool once your setup is completed. Make sure to run this tool after you already finished setting up the new version, `**as mentioned above.**

There is no "above" as this is the first paragraph on the page and therefore there are no clear i

[2021-01-26 10:04] TorstenDittmann commented on #850
Hey @pspierce 👋🏻

You're right, there's a bit of catching up to do on that page.

The migration script takes the current database structure & co and adapts it to a new version. Meaning it is supposed to be run, once you installed the new version with the commands found [here](https://appwrite.io/docs/installation). The `above` is targeted to the previous sentence and doesn't really makes that much

[2021-01-27 04:59] bulanni00 opened #853 "What should I do if the user registered using a mobile phone number, not an email address?"
What should I do if I register with my mobile phone number and verification code instead of my email?

[2021-01-27 16:50] eldadfux commented on #307
Status Update 27-01-2021:

- [x] Test timeouts
- [x] Add auto expiry for logs? (new daily maintenance worker?)
- [x] Abuse control configs
- [x] Tests with package managers
    - [x] PHP
    - [x] Python
    - [x] Ruby
    - [x] Node
    - [x] .NET
    - [x] Deno
    - [x] Dart
- [x] Client endpoint for func execution (add new execute permissions)
- [x] Schedule trigger (send first event, set recu

[2021-01-27 16:51] #328 closed

[2021-01-28 07:01] eldadfux commented on #853
Currently phone authentication is not available, but this is something we constantly think about. When we'll have any updates we'll share them on issue #244

[2021-01-28 07:01] #853 closed

[2021-01-30 10:44] pspierce opened #861 "Documents inherit or default to Collection Permissions"
## 🚀 Feature

Document permissions, unless changed, hold the permissions of the Collection they are under.

## Have you spent some time to check if this issue has been raised before?

Similar to #371, but not exactly.

### Have you read the [Code of Conduct](https://github.com/appwrite/appwrite/blob/master/CODE_OF_CONDUCT.md)?

Yes

## Pitch
For many of my use cases, I won't need separate permissi

[2021-02-03 12:04] hack3r-0m commented on #410
since Evernote uses Thrift-based API (and not REST, so they have only SDKs and no endpoints) and doesn't support Oauth2 at the time of writing, it is not feasible to integrate (unless using sdk)

[2021-02-03 12:29] hack3r-0m commented on #410
Ouath2 support for Zoho, stripe, Imgur, Disqus, Netflix can also be added, please update the list and assign it to me. I am currently working on adding the remaining ones that are feasible (yammer, mail.ru). Fitbit is assigned to someone for a long time, I would like to know if I can take it.

[2021-02-03 12:35] Glide7 commented on #410
Thanks @hack3r-0m - Since you're already assigned, go ahead! @eldadfux will edit the post so it will add those OAuth providers.
@NidhxGupta - are you still working on FitBit?

[2021-02-04 21:48] mlucas-NU opened #879 "OAuth support for Native SDKs"
## 🚀 Feature

Add an endpoint that accepts active Oauth tokens that were previously obtained by authenticating with an OAuth provider (specifically, tokens obtained without the use of the existing appwrite OAuth endpoint).

Future feature request for other appwrite projects:
Add authentication functions to the python/ruby/flutter/etc appwrite SDKs that facilitate use of the above appwrite endpoint

[2021-02-05 00:10] thesmartrenovation opened #880 "SMTP Error 0.6.2.125"
## 🐛 Bug Report

Hello,

I have a clean install of Appwrite on version 0.6.2.125.

I follow the E-mail configuration guide: https://appwrite.io/docs/email-delivery

If I configure the external server the emails never arrive. I thought it was my mail server, but I tried to use Sendgrid and it doesn't work either.

[2021-02-05 00:15] Hrdtr commented on #880
Hi, you can test your email smtp server using tool like https://www.gmass.co/smtp-test before. To make sure the the configuration and creds working

[2021-02-05 01:03] thesmartrenovation commented on #880
Yes, i tested my settings with that tool, and everything fine.

I did a clean install on my VPS with a clean Centos 7 with no services, just docker and AppWrite and the mail service does not work, the native service and the external service, neither of them work.

[2021-02-05 06:42] eldadfux commented on #880
@thesmartrenovation Sendgrid + Appwrite integration should work. Please share how your docker-compose.yml looks like (hide any secrets***). You can also use Appwrite dev mode to get more verbose error from the server HTTP response that might help detect the issue in your setup. More about it here: https://appwrite.io/docs/debugging under "Dev Mode"

[2021-02-05 14:55] thesmartrenovation commented on #880
Hi,

This is my docker file:
[code]
If I disable my own SMTP it does not work with the native SMTP either.

[2021-02-05 18:53] eldadfux commented on #880
Best shot here is by getting the verbose HTTP 500 error payload, without it we can only try and guess.

[2021-02-05 19:36] eldadfux commented on #410
@hack3r-0m added all new providers to the list, looking forward to this PRs 🤩

[2021-02-05 19:40] eldadfux commented on #714
@hack3r-0m sorry for the late reply. Not sure about the Docker part, can you verify its already installed in `language: minimal`?

[2021-02-05 20:05] thesmartrenovation commented on #880
see, I tried to test the mail function with the password recovery page

With the default SMTP it seems to work fine.

![image](https://user-images.githubusercontent.com/57076657/107082019-928d1280-67c1-11eb-8c0a-352855fc75bc.png)

But, the email never arrives at its destination.

With the external SMTP:

![image](https://user-images.githubusercontent.com/57076657/107083140-34f9c580-67c3-11eb-85b8-

[2021-02-05 20:15] thesmartrenovation commented on #880
Is there any known problem in Centos 7? to reinstall the vps with Ubuntu or is there any guide to install version 0.7.0?

To confirm if the problem is the version of appwrite

[2021-02-05 20:17] thesmartrenovation commented on #880
this is an error 500:

![image](https://user-images.githubusercontent.com/57076657/107084627-4a6fef00-67c5-11eb-909c-9c2151ac04a5.png)

[2021-02-05 20:24] eldadfux commented on #880
@thesmartrenovation this might be related: https://discord.com/channels/564160730845151244/564161373148414012/713982513277567087

Solved by verifying the sender email on Sendgrid. Let me know if it helps

[2021-02-05 20:50] thesmartrenovation commented on #880
My Sendgrid account is correctly verified. I have tested the configuration with https://www.gmass.co/ and everything works fine.

But, with the same configuration in appwrite it still does not work.

[2021-02-06 17:21] thesmartrenovation commented on #880
Ok, if someone has the same problem, it is necessary to confirm that the VPS has the SMTP port enabled to send emails from the backend.

Also, it is necessary to write in the Appwrite variables the address from where the mail will be sent, since the relay services verify the identity of the mailbox that will send the mail.

In this way:

[code]
I don't know if this information can be written in th

[2021-02-06 17:21] #880 closed

[2021-02-07 08:25] hack3r-0m commented on #714
@eldadfux language has been changed to `language: shell` (as per docs, it is same as minimal and has docker. [source](https://docs.travis-ci.com/user/languages/minimal-and-generic/#minimal)) recently and also deploy.sh has been added in 0.7.x, is this issue still relevant?

[2021-02-07 08:27] eldadfux commented on #714
@hack3r-0m yes, mind submitting a PR removing Docker so we can make sure tests are still green?

[2021-02-07 15:29] hack3r-0m commented on #714
sure, i will try to do it ASAP

[2021-02-08 00:21] hack3r-0m commented on #714
@eldadfux `buildx` (19.03.8)not supported with default docker version which comes pre-installed, while their docs say it is available on 19.03+

[2021-02-09 16:45] thesmartrenovation opened #893 "Translate E-Mail 0.7.0"
In version 0.7.0 is there any way to change the language of the e-mail templates? I have read the localization documentation but it does not specify this information.

I would also like to know if it is possible to change the template by adding images or changing some text.

[2021-02-11 09:07] #724 closed

[2021-02-12 02:51] smallishjoe opened #899 "Sign up error"
Can not sign up in version 0.7.0

[2021-02-12 06:40] lohanidamodar commented on #899
Hi @smallishjoe Please provide more details, as what error message you receive. Open up developer tools of the browser and look for the error message you are receiving there

[2021-02-12 06:42] eldadfux commented on #850
Version 0.7 has been released and docs on the homepage are now up-to-date: https://appwrite.io/docs/upgrade

[2021-02-12 06:42] #850 closed

[2021-02-12 06:44] eldadfux commented on #797
Version 0.7 has been released with new ENV vars to support changing the ClamAV host and port: https://appwrite.io/docs/environment-variables#storage

[2021-02-12 06:44] #797 closed

[2021-02-12 06:45] eldadfux commented on #777
Version 0.7 is out with the fix 🚀

[2021-02-12 06:45] #777 closed

[2021-02-12 06:46] eldadfux commented on #764
Version 0.7 is out with the fix 🚀

[2021-02-12 06:46] #764 closed

[2021-02-12 06:47] eldadfux commented on #760
Version 0.7 is out with the fix 🚀

[2021-02-12 06:47] #760 closed

[2021-02-12 06:47] eldadfux commented on #742
Version 0.7 is out with the update 🚀

[2021-02-12 06:47] #742 closed

[2021-02-12 06:48] eldadfux commented on #732
Version 0.7 is out with the fix 🚀

[2021-02-12 06:48] #732 closed

[2021-02-12 06:49] eldadfux commented on #730
v0.7 is finally out with all the updates available 🥳

[2021-02-12 06:49] #730 closed

[2021-02-12 06:50] eldadfux commented on #707
v0.7 is finally out with the fix available 🥳

[2021-02-12 06:50] #707 closed

[2021-02-12 06:50] eldadfux commented on #538
v0.7 is finally out with all the updates available 🥳

[2021-02-12 06:50] #538 closed

[2021-02-12 06:51] eldadfux commented on #534
v0.7 is finally out with all the updates available 🥳

[2021-02-12 06:51] #534 closed

[2021-02-12 06:51] eldadfux commented on #526
v0.7 is finally out with all the updates available 🥳

[2021-02-12 06:51] #526 closed

[2021-02-12 06:51] eldadfux commented on #521
v0.7 is finally out with all the updates available 🥳

[2021-02-12 06:51] #521 closed

[2021-02-12 06:52] eldadfux commented on #514
v0.7 is out with the fix available 🥳

[2021-02-12 06:52] #514 closed

[2021-02-12 06:53] eldadfux commented on #493
The fix is now available with lots of new upgrades to the webhooks mechanism and system events in general!

[2021-02-12 06:53] #493 closed

[2021-02-12 06:54] eldadfux commented on #492
v0.7 is out and this fix is now available ✅

[2021-02-12 06:54] #492 closed

[2021-02-12 06:54] eldadfux commented on #484
v0.7 is out and this fix is now available ✅

[2021-02-12 06:54] #484 closed

[2021-02-12 06:55] eldadfux commented on #477
@punitdiwan thanks for the idea, this feature is now available on v0.7 🥳

[2021-02-12 06:55] #477 closed

[2021-02-12 06:56] eldadfux commented on #475
@PedroCisnerosSantana awesome work on this one!! this fix is now available with the release of Appwrite 0.7! 🚀

[2021-02-12 06:56] #475 closed

[2021-02-12 06:58] eldadfux commented on #474
@hack3r-0m awesome work on this one! This upgrade is now available as part of v0.7 🥳

❤️

[2021-02-12 06:58] #474 closed

[2021-02-12 06:58] eldadfux commented on #466
v0.7 is out and this fix is now available ✅

[2021-02-12 06:58] #466 closed

[2021-02-12 06:58] eldadfux commented on #454
v0.7 is out and this fix is now available ✅

[2021-02-12 07:03] eldadfux commented on #453
v0.7 is out and this fix is now available ✅

[2021-02-12 07:03] #453 closed

[2021-02-12 07:04] eldadfux commented on #441
v0.7 is out and this fix is now available ✅

[2021-02-12 07:04] #441 closed

[2021-02-12 07:04] eldadfux commented on #435
With a minor delay 😉, v0.7 is out and this fix is now available ✅

[2021-02-12 07:04] #435 closed

[2021-02-12 07:29] eldadfux commented on #427
Fix is mow available on Appwrite 0.7

[2021-02-12 07:29] #427 closed

[2021-02-12 07:30] eldadfux commented on #415
The Doctor CLI feature is now available on Appwrite 0.7! 🥳

[2021-02-12 07:30] #415 closed

[2021-02-12 07:31] eldadfux commented on #404
This fix is now available on Appwrite 0.7! 🥳

[2021-02-12 07:31] #404 closed

[2021-02-12 07:31] eldadfux commented on #394
This fix is now available on Appwrite 0.7! 🥳

[2021-02-12 07:31] #394 closed

[2021-02-12 07:32] eldadfux commented on #389
This upgrade is now available with the new 0.7 architecture that allows you manage each process as an independent container.

[2021-02-12 07:32] #389 closed

[2021-02-12 07:35] eldadfux commented on #387
This fix is now available on Appwrite 0.7

[2021-02-12 07:35] #387 closed

[2021-02-12 07:35] eldadfux commented on #386
This feature is now available on Appwrite 0.7! 🥳

[2021-02-12 07:35] #386 closed

[2021-02-12 07:36] eldadfux commented on #381
Ready and available on https://appwrite.io/docs

[2021-02-12 07:36] #381 closed

[2021-02-12 07:37] eldadfux commented on #380
This feature is now available on Appwrite 0.7 with lots of new improvments to the team/members UI screens! 🥳

[2021-02-12 07:37] #380 closed

[2021-02-12 07:38] eldadfux commented on #379
This feature is now available on Appwrite 0.7! 🥳

[2021-02-12 07:38] #379 closed

[2021-02-12 07:39] eldadfux commented on #378
This feature is now available with the release of Appwrite 0.7 ✅

[2021-02-12 07:39] #378 closed

[2021-02-12 07:44] eldadfux commented on #376
Fix is now available on the new Appwrite 0.7 🚀

[2021-02-12 07:44] #376 closed

[2021-02-12 07:45] eldadfux commented on #372
This fix is now available on the new Appwrite 0.7 🚀

[2021-02-12 07:45] #372 closed

[2021-02-12 07:46] eldadfux commented on #368
This fix is now available as part of Appwrite 0.7:
![image](https://user-images.githubusercontent.com/1297371/107742123-23f70a00-6d17-11eb-9852-5d35eddf5a63.png)
https://appwrite.io/docs/environment-variables

[2021-02-12 07:46] #368 closed

[2021-02-12 07:47] eldadfux commented on #351
Old time :) This is now available as part of v0.7 ✅

[2021-02-12 07:47] #351 closed

[2021-02-12 07:48] #343 closed

[2021-02-12 07:48] #338 closed

[2021-02-12 07:48] eldadfux commented on #319
This upgrade is available on Appwrite 0.7 👍🏻

[2021-02-12 07:48] #319 closed

[2021-02-12 07:49] eldadfux commented on #316
This update is available on Appwrite 0.7

[2021-02-12 07:49] #316 closed

[2021-02-12 07:50] eldadfux commented on #310
Brotli compression is now available on Appwrite 0.7! Start boosting your APIs! Thanks to everyone who helped on this issue ❤️

[2021-02-12 07:50] #310 closed

[2021-02-12 07:53] eldadfux commented on #307
CLOUD FUNCTIONS HAVE BEEN RELEASED! 🥳

Full getting started tutorial:
https://appwrite.io/docs/functions

Full API specs:
https://appwrite.io/docs/client/functions

Huge thank you to everyone who helped us make this service available ❤️

[2021-02-12 07:53] #307 closed

[2021-02-12 08:23] punitdiwan commented on #477
@eldadfux You are always Welcome

[2021-02-12 09:04] sshyran opened #969 "Container Multiplatform ?"
Hello, and hi5 to all Appwrite community!

Please consider adding LXC/Snap  and/or Kata as additional containerisation option for Appwrite projects... as many Web Hosts (incl. both of mine)  restrict or do not support Docker virtualisation, but freely support other -v methods... due to their Hosting Virtualisation Mechanism...

So please, make Appwrite happen for low end VPS users. Thanks !

[2021-02-12 13:58] thesmartrenovation opened #902 "SSL Certificate Error"
In a clean installation of version 0.7.0 the SSL certificate is not automatically generated for the production environment.

![image](https://user-images.githubusercontent.com/57076657/107776681-de830e80-6d0f-11eb-9e96-72b7c89a8535.png)

This is the composer file

`version: '3'

services:
  traefik:
    image: traefik:2.3
    container_name: appwrite-traefik
    command:
      - --providers.file.d

[2021-02-12 14:47] eldadfux commented on #902
@thesmartrenovation please provide logs for both the main appwrite container and the certs container.

[code]
and
[code]

[2021-02-12 15:12] thesmartrenovation commented on #902
docker-compose logs appwrite

_appwrite                        | [Static Files] Loadded 92 files
appwrite                        | Issuing a TLS certificate for the master domain ({MYDOMAIN}) in 30 seconds.
appwrite                        |     Make sure your domain points to your server IP or restart your Appwrite server to try again.
appwrite                        | Server started succefully (m

[2021-02-12 15:45] thesmartrenovation commented on #902
@eldadfux

docker-compose logs appwrite

appwrite | [Static Files] Loadded 92 files
appwrite | Issuing a TLS certificate for the master domain ({MYDOMAIN}) in 30 seconds.
appwrite | Make sure your domain points to your server IP or restart your Appwrite server to try again.
appwrite | Server started succefully (max payload is 10,000,000 bytes)
appwrite | Master pid 1, manager pid 8
appwrite | Work

[2021-02-12 16:19] thesmartrenovation commented on #349
@eldadfux  How does this work for E-mail templates?

[2021-02-12 16:21] thesmartrenovation commented on #25
How can I change the locale to change the language of the E-Mail templates?

[2021-02-12 16:27] TorstenDittmann commented on #349
Using the SDK you can set the locale like you set the project endpoint. For JS you can add it like this:

[code]

[2021-02-12 18:30] thesmartrenovation commented on #902
ok, my bad.... The recommendation is to set the variables in the .env file and leave docker-compose.yml for deafult. _APP_ENV must to set APP_ENV=production

[2021-02-12 18:30] #902 closed

[2021-02-12 18:35] eldadfux commented on #899
@smallishjoe you can also use the new Appwrite Doctor to check the status of your server:

[code]

[2021-02-12 18:38] eldadfux commented on #25
By passing the `X-Appwrite-Locale` header or using the `setLocale` method in your SDK client object

[2021-02-12 19:19] thesmartrenovation opened #904 "PHP SDK fail with custom port"
When i change the AppWrite port in traefik the PHP SDK fail.

with this data the PHP SDK works fine:
$client
    ->setEndpoint('{URL}/v1') // Your API Endpoint
    ->setProject('{PROJECT}') // Your project ID
    ->setKey('{KEY}'); // Your secret API key;

But, if i change the port here:

$client
    ->setEndpoint('{URL}:8080/v1') // Your API Endpoint
    ->setProject('{PROJECT}') // Your project

[2021-02-13 03:25] smallishjoe commented on #899
The error message is "Registration failed, please try again later" on http://localhost:81/auth/signup. same error message if I try from https://appwrite.io/auth/signup.

Details of error from chrome console.

//http://localhost:81/auth/signup//

:81/v1/account:1 Failed to load resource: the server responded with a status of 500 (Internal Server Error)
app-all.js?v=125.0.6.2:21 POST http://localhos

[2021-02-13 07:40] eldadfux commented on #899
@smallishjoe the only way for us to understand why you got that error is to see some of the server logs. If I had to guess I would tell it looks a database connection issue.

To get the right logs type this commands at the location of your Appwrite installation (where the appwirte/docker-compose.yml file is located):

[code]

and specific logs from the Appwrite server:

[code]

[2021-02-13 07:51] eldadfux commented on #904
Seems like a problem with the way we handle CURL custom ports on the HTTP client -> we'll work on a fix.

[2021-02-13 17:27] eldadfux commented on #746
Fixed and released on v0.7

[2021-02-13 17:27] #746 closed

[2021-02-13 17:28] eldadfux commented on #733
Should be fixed in v0.7. Make sure to have enough free memory/cpu on your system or disable clamav.

[2021-02-13 17:28] #733 closed

[2021-02-13 17:30] eldadfux commented on #743
@saibotma would be great if you could share your final nginx settings that worked well for you, we can also use that for the official docs.

[2021-02-13 17:36] eldadfux commented on #893
You can change Appwrite email locale by either using the client->setLocale equivalent method on your selected SDK (name case may change a bit depending on the selected SDK language). If you don't use any SDK, you can just attach the `X-Appwrite-Locale` header to your requests and get the same results.

Here is a list of currently supported locales: https://github.com/appwrite/appwrite/blob/master/

[2021-02-13 18:00] eldadfux commented on #535
@kodumbeats awesome work, this feature is now available on Appwrite 0.7 🚀

[2021-02-13 18:00] #535 closed

[2021-02-13 18:01] eldadfux commented on #511
JWT is available in a closed beta, if anyone wants to try it please reach me on Discord.

[2021-02-13 18:05] eldadfux commented on #681
@SoftCreatR are you still interested in working on this issue?

[2021-02-13 18:06] eldadfux commented on #530
Fixed

[2021-02-13 18:06] #530 closed

[2021-02-13 18:07] eldadfux commented on #516
If anyone wants to help with this issue please let us know.

[2021-02-13 18:10] eldadfux commented on #503
PHP and Python playgrounds are ready, @sparkingdark do you still want to work on the Ruby one?

[2021-02-13 18:11] #501 closed

[2021-02-13 18:12] eldadfux commented on #496
Should be fixed with the release of 0.7

[2021-02-13 18:12] #496 closed

[2021-02-13 18:14] eldadfux commented on #264
This should now be available using Appwrite Cloud Functions: https://appwrite.io/docs/functions

[2021-02-13 18:14] #264 closed

[2021-02-13 18:14] eldadfux commented on #245
Done: https://github.com/appwrite/rfc

[2021-02-13 18:14] #245 closed

[2021-02-13 18:16] eldadfux commented on #129
Currently using https://k6.io/ I'll re-open the issue if anyone has interesting suggestions.

[2021-02-13 18:16] #129 closed

[2021-02-13 18:27] #586 closed

[2021-02-13 18:31] #117 closed

[2021-02-13 18:31] #210 closed

[2021-02-13 18:32] #244 closed

[2021-02-14 02:41] rupamking1 opened #908 "What Type of database is available in appwrite Mongodb type or MySql type"
What Type of database is available in appwrite Mongodb type or MySql type?
I have another question why you are using PHP, you are using PHP for backend or frontend?

[2021-02-14 03:14] sparkingdark commented on #503
Yes man I will do it

On Sat, Feb 13, 2021, 23:40 Eldad A. Fux <notifications@github.com> wrote:

[2021-02-14 05:44] lohanidamodar commented on #904
@thesmartrenovation Can you confirm that when you visit {URL}:8080 you can access the Appwrite console.We tried to reproduce the problem, but couldn't with latest SDK (2.0.0)

[2021-02-14 05:47] lohanidamodar commented on #908
@rupamking1 Appwrite currently supports MySQL/MariaDB but we are planning to support more database engines.

Appwrite is based on Microservice Architecture. PHP is just a small part of Appwrite in the Backend.

[2021-02-14 05:50] #908 closed

[2021-02-14 06:14] rupamking1 commented on #908
PHP is synchronous language it makes slow our request.

[2021-02-14 06:18] eldadfux commented on #908
Actually PHP is not only synchronous anymore. We use PHP with Swoole to get async & multithreading capabilities which make Appwrite way faster. Actually Swoole benchmarks shows its way faster then either Node or Python and just slightly behind Go

[2021-02-14 06:19] eldadfux commented on #908
![image](https://user-images.githubusercontent.com/1297371/107870004-5b8fbe80-6e9d-11eb-8279-bbc76c7f1e50.png)

[2021-02-14 07:22] rupamking1 opened #909 "Please Add MongoDB in Appwrite"
Please Add MongoDB in Appwrite

[2021-02-14 19:04] TorstenDittmann commented on #540
@eldadfux I think this needs an update now 😉

[2021-02-14 19:05] TorstenDittmann commented on #419
@eldadfux This also needs an update now 😉

[2021-02-14 19:16] #320 closed

[2021-02-15 03:14] thesmartrenovation commented on #904
Yes, everything works when I change the port, except the PHP SDK. Always response: Connection refused with status
code 0

[2021-02-15 07:48] lohanidamodar commented on #904
@thesmartrenovation
As we were unable to reproduce the error ourself, please provide more details, share screenshots of running web console and your code using PHP SDK, it will help us create the exact scenario, also share PHP SDK version you are using. The more information you can share the better.

[2021-02-15 13:54] himanshu007-creator opened #912 "Add a contributors table in readme"
## 📚 Documentation

I wish to Add a contributors table in readme. Please assign me this issue and add dwoc and level tags

## Have you spent some time to check if this issue has been raised before?

(Have you googled for a similar issue or checked our older issues for a similar bug)

### Have you read the [Code of Conduct](https://github.com/appwrite/appwrite/blob/master/CODE_OF_CONDUCT.md)?

(Wri

[2021-02-15 14:01] fagurto opened #913 "Docker Swarm"
hi guys!!! just wondering if you could give some help .

the docker-compose file provided in https://appwrite.io/docker-compose.yml  can be run as a docker swarm stack ??? , would be great to have some examples  of appwrite running on swarm or k8s.

regards!

[2021-02-15 18:27] damascenaluiz commented on #913
I managed to make it work.
[testing_docker-compose.txt](https://github.com/appwrite/appwrite/files/5983428/testing_docker-compose.txt)

Some important details were:

1 - Create an external overlay network. See: [https://docs.docker.com/network/overlay/]()
2 - Open the necessary ports for communication between hosts participating in the swarm, only between them.
3 - Rename all host addresses in the

[2021-02-15 18:40] damascenaluiz commented on #913
I managed to make it work.
Some important details were:

1 - Create an external overlay network. See: [https://docs.docker.com/network/overlay/]()
2 - Open the necessary ports for communication between hosts participating in the swarm, only between them.
3 - Rename all host addresses in the configuration .yml file by adding the name of your stack plus an underscore, for example: `_APP_REDIS_HOST =

[2021-02-15 19:14] eldadfux commented on #912
@himanshu007-creator this has already been discussed several times here. We use to have a list and it was hard to maintain and slow to load with +130 contributors only on this repo. You can view full list of contributors on: https://github.com/appwrite/appwrite/graphs/contributors and top contributors across all our repos on: https://appwrite.io/community

[2021-02-15 19:14] #912 closed

[2021-02-15 19:47] eldadfux commented on #540
The Appwrite CLI is out and available! Learn more here: https://appwrite.io/docs/command-line

[2021-02-15 19:47] #540 closed

[2021-02-15 20:35] eldadfux commented on #419
Done :)

[2021-02-16 14:56] devcat-net opened #915 "Custom Domain pattern check is not working"
## 🐛 Bug Report

I want to add a custom domain but the input field check gives me the notification that the pattern of the domain is not correct.

## To Reproduce
You can check it by entering a domain with a - (hyphen) sign.

## Your Environment
I run the application with the _APP_ENV=production flag

![appwrite](https://user-images.githubusercontent.com/36440352/108079655-55e9d280-706f-11eb-9b9a-

[2021-02-16 15:14] me-abhishekpal commented on #461
Waiting for this to happen for a long time, Appreciate the hard work of the developers. Cheers!

[2021-02-17 09:47] TorstenDittmann commented on #915
Thanks for creating an issue 👋🏻

What version of Appwrite and Browser are you using? 🙂

[2021-02-17 14:33] devcat-net commented on #915
Hi @TorstenDittmann,

I used this command for creating my appwrite container:
[code]

And I checked this behaviour on Chrome and Safari.

[2021-02-17 14:42] TorstenDittmann commented on #915
https://user-images.githubusercontent.com/1759475/108220081-a5470600-7136-11eb-9031-b6eec3ebc9cf.mov

I can't reproduce it on Chrome & Safari 🤔 Did you paste it into the field or type?

[2021-02-17 15:00] eldadfux commented on #915
I can't seem to be able to reproduce as well. I know there was an issue with that prior to 0.7, but we added a fix. (#470 #471)

![image](https://user-images.githubusercontent.com/1297371/108222443-78e4b700-7141-11eb-8794-7aaee882ecc0.png)

[2021-02-17 15:04] devcat-net commented on #915
Hi guys,

I was wrong about the version number. I tried several times to install appwrite and my last install was done by this file: `https://appwrite.io/docker-compose.yml`
And from what I can see in the file it takes the image with the latest tag. But when I check in the running application I see the following version number:
![image](https://user-images.githubusercontent.com/36440352/108223145-

[2021-02-17 16:23] #915 closed

[2021-02-19 06:17] himanshu007-creator opened #918 "Create new banner GIF for readme"
## 📚 Documentation

At present, app-write displays its logo on readme's top. It can be replaced by an animated  header.

## Have you spent some time to check if this issue has been raised before?

yes

### Have you read the [Code of Conduct](https://github.com/appwrite/appwrite/blob/master/CODE_OF_CONDUCT.md)?

Yes

[2021-02-19 06:28] christyjacob4 commented on #918
@himanshu007-creator Are you going to work on this ?

[2021-02-19 06:29] himanshu007-creator commented on #918
Yes sir, i will work on this under DWOC.

[2021-02-19 07:09] Swastik1710 opened #919 "Readme update"
## 📚 Documentation

Adding a new separate column in the readme.md file showcasing the list of open source events this project has been a part of.
Also adding some GIFs to give the readme file a more representative and attractive look.

## Have you spent some time to check if this issue has been raised before?
Yes, I have.

(Have you googled for a similar issue or checked our older issues for a sim

[2021-02-19 07:11] Swastik1710 commented on #919
I would like to work on this issue.
Please assign it to me.
Thanks.

[2021-02-19 07:41] Sloth-Panda opened #920 "Welcome bot integration"
## 🚀 Feature

(A clear and concise description of what the feature is.)

Will like to add a configuration file that will greet anyone who has hopped in for the first time to this repo has made an issue or made a pr by replying it with proper message

## Have you spent some time to check if this issue has been raised before?

(Have you googled for a similar issue or checked our older issues for a s

[2021-02-19 17:23] himanshu007-creator commented on #918
Please assign me this issue, so that i can start working on it

[2021-02-20 02:50] mlucas-NU opened #924 "Lazy-loading for child documents"
## 🚀 Feature

The ability to GET a document where the response body does not include any child documents. In this case, allow the client to request the child document(s) at a later date.

## Have you spent some time to check if this issue has been raised before?

Yes. Torsten Dittman and I spoke about this briefly on Discord and we believe this is a new request.

### Have you read the [Code of Con

[2021-02-21 00:15] SoftCreatR commented on #681
I currently don't have the time, sorry.

[2021-02-21 10:10] saibotma opened #925 "Create projects using the CLI"
## 🚀 Feature

It would be great if we could create projects using the CLI.

## Pitch

This way we could create Appwrite projects from our CI that will be used for developing features.
Every feature would get its own Appwrite instance or project which can be deleted once the feature is implemented.

[2021-02-21 11:27] yous0seri0us opened #926 "OAuth2 Tenant Configuration (Microsoft)"
## 🚀 Feature

Hey there,

I discovered a problem where I tried to run an internal business application in Appwrite.
This application uses OAuth2 as authentication method against Microsoft Azure-AD.
The problem here is that internal business applications usually only allow the authentication of users who have already been created in the organization in the microsoft azure ad.
By default, the tenant

[2021-02-21 11:36] eldadfux commented on #926
@yous0seri0us Please share the changes you made in the Microsoft.php file, I think it will help us get a better idea of the problem and possible solutions.

[2021-02-21 11:54] yous0seri0us commented on #926
@eldadfux of course.
The changes I made are simple in the Microsoft.php:

[code]

[code]

I changed the URL part from `https://login.microsoftonline.com/common/` to `https://login.microsoftonline.com/organizations/`, which gives you the possibility that only employees of the company can log in.
With the 'common' setting, anyone with a Microsoft account can log in.
Of course, the better solution wo

[2021-02-21 12:21] eldadfux commented on #926
@christyjacob4 @armino-dev what approach would you guys suggest here?
1. A new OAuth adapter
2. A custom credentials with new options similar to what we did for Apple OAuth

![image](https://user-images.githubusercontent.com/1297371/108624842-0da42900-7450-11eb-838f-d5c159186cfb.png)

[2021-02-21 15:44] mcchin commented on #364
I have been following `Appwrite` for a while now, looking forward to setup in k8s environment for my personal projects. Armed with basic knowledge of k8s, I thought to give it a shot this weekend to at least able to deploy `Appwrite` on GKE, and see if I could at least get the admin dashboard up.

Looking through threads here at Github and Discord, I tried `Kompose` (ver 1.21.0) and as mentioned i

[2021-02-21 19:04] vilsi12 commented on #546
can I work on this issue i am good flutter developer

[2021-02-21 23:15] mlucas-NU opened #928 "Appwrite Doctor status for appwrite-worker-certificates"
## 🚀 Feature

Add debug & status info for `appwrite-worker-certificates` containers in Appwrite Doctor.

## Have you spent some time to check if this issue has been raised before?

Yes. Spoke briefly with @eldadfux about it on Discord as well.

### Have you read the [Code of Conduct](https://github.com/appwrite/appwrite/blob/master/CODE_OF_CONDUCT.md)?

Yes.

## Pitch

LetsEncrypt calls can fail i

[2021-02-22 07:29] ardevd opened #931 "Newer database documents not exposed by API after upgrade to 0.7.0"
After upgrading and migrating to version 0.7 the API requests are not showing the latest database documents, and any new documents I create fail to be returned by the API as well.

No idea what might be causing the issue. The API output simply does not include the affected items but they are visible and present in the web interface and look just fine. They work on 0.6.

[2021-02-22 07:35] ardevd commented on #794
This is still broken in 0.7. Setting array values through the UI doesnt work at all and I need to do it through cURL every time I want to edit my documents.

[2021-02-22 07:37] christyjacob4 commented on #931
@ardevd Thank you for raising this.
Are you using any particular SDK or interacting directly with the REST API .
Also could you please mention which endpoints are not behaving as expected?

[2021-02-22 07:47] ardevd commented on #931
No particular SDK. Just the app write web UI to create documents and the REST API.

I notice now that several other records are missing from the API output as well.

Case in point:

[code]

^ this one does not show up.

While the following one does.

[code]

https://<base_url>/v1/database/collections/5f8b6153a7828/documents returns most of my documents, but not all. This all worked fine before the

[2021-02-22 07:55] ardevd commented on #931
An even better illustration. Here's a redacted endpoint response. Notice how the `sum`is 28, but the listed documents are actually 25. There are in fact 28 database documents there, but three of them are not showing.

[code]

[2021-02-22 07:56] christyjacob4 commented on #931
Thanks a lot @ardevd  This is really helpful . We will look at what's causing this ASAP

[2021-02-22 07:59] ardevd commented on #931
@christyjacob4 Thanks. I updated the post above to include the missing documents as well. I'll revert to my post-upgrade backup for now.

[2021-02-22 08:00] eldadfux commented on #931
@ardevd any way you can share you mariadb mysqldump?

[2021-02-22 08:00] ardevd commented on #826
Any update on this? I realize arrays are broken in multiple ways currently, but is there any way to filter based on array values yet?

[2021-02-22 08:00] m-code12 opened #932 "Add a GitHub action to auto-assign Mentors for every PR"
I would like to add a GitHub action to auto-assign mentors for every PR. It sometimes becomes hectic for the mentors to take a look at all the Projects for the PRs made by the Contributors. This action would give a nice notification about reviewing the pr and make things pretty easy for the mentor. It would automatically ask for reviews by the mentors on every pr created.

Demo :
<img src="https:/

[2021-02-22 08:00] m-code12 commented on #932
@eldadfux I would like to work on this.

[2021-02-22 08:12] ardevd commented on #931
@eldadfux I could, but it would take some effort to sanitize the dumps before I could post them openly here. Are there any specific tables you'd be interested in?

[2021-02-22 08:12] ardevd commented on #931
Also of note, reverting to my backup and upgrading again results in the exact same three records missing, so at least the issue is consistent.

[2021-02-22 08:20] eldadfux commented on #931
@ardevd can you share the error you get in your network tab?

[2021-02-22 08:31] ardevd commented on #931
@eldadfux There is no error, as far as I can tell. The endpoint response is simply missing three records as explained above.

[2021-02-22 13:56] TorstenDittmann opened #933 "Country Name unknown on sessions endpoint"
## 🐛 Bug Report

Country Name on GET Sessions request doesn't return country name - even though it has a valid country code.

## Have you spent some time to check if this issue has been raised before?

✅

## To Reproduce

Get sessions.

## Expected behavior

Countryname the actual Country Name.

## Actual Behavior

Countryname is "--".

<img width="569" alt="Bildschirmfoto_2021-02-22_um_13 55 53"

[2021-02-22 14:33] eldadfux commented on #931
@ardevd I think I know what the problem is! In 0.7 we did a breaking change with the default limit value. We changed it from 50 to 25 to be consistent across all the Appwrite APIs.

You can view the change log here:
https://github.com/appwrite/appwrite/blob/master/CHANGES.md#breaking-changes-read-before-upgrading

You should be able to fix this by changing the limit param to 50.

[2021-02-22 15:13] klnfreedom opened #934 "Error with creating file in the storage"
Hello everyone, I have some problem with creating of file to the storage of appwrite. When I want to create a file I get a 500 error code in the app. And when I want to create a file via the site, I get this message "Failed to upload a file".
Thanks.
I'm looking forward for your reply.

[2021-02-22 16:08] eldadfux commented on #934
@klnfreedom would be great if you could share the payload of the 500 requests and the server logs of this 2 commands:

1. `docker-compose logs appwrite`
2. `docker-compose exec appwrite doctor`

[2021-02-22 17:01] klnfreedom commented on #934
👩‍⚕️ Running Appwrite Doctor for version 0.7.0 ...

Checking for production best practices...
🟢 Hostname has a public suffix (104-225-142-211.cloud-xip.io)
🟢 CNAME target has a public suffix (104-225-142-211.cloud-xip.io)
🔴 Not using a unique secret key for encryption
🟢 App environment is set for production
🟢 Abuse protection is enabled
🔴 Console access limits are disabled
🟢 HTTPS force option is

[2021-02-22 17:49] klnfreedom commented on #934
/ _\ (  _ \(  _ \/ )( \(  _ \(  )(_  _)(  __)   (  )/  \
/    \ ) __/ ) __/\ /\ / )   / )(   )(   ) _)  _  )((  O )
\_/\_/(__)  (__)  (_/\_)(__\_)(__) (__) (____)(_)(__)\__/

👩‍⚕️ Running Appwrite Doctor for version 0.7.0 ...

Checking for production best practices...
🟢 Hostname has a public suffix (104-225-142-211.cloud-xip.io)
🟢 CNAME target has a public suffix (104-225-142-211.cloud-xip.io)
🔴 N

[2021-02-22 21:15] eldadfux commented on #934
Are you trying to upload the files from the console or using an SDK? Which read&write permissions are you using?

If you use an SDK, please share your code.

[2021-02-23 04:48] klnfreedom commented on #934
Sorry for disturbing, the problem was solving.

[2021-02-23 04:48] #934 closed

[2021-02-23 05:35] eldadfux commented on #934
@klnfreedom that's great. Please feel free to share the solution if it might help other who reach this page from search engines.

[2021-02-23 06:03] klnfreedom commented on #934
I didn't allowed a permission of writing on the server side. It was a problem and the problem is solved

[2021-02-23 08:14] ardevd commented on #931
@eldadfux yep, that fixed it indeed. I even read the change log but didnt catch the significance of the new default limit. Cheers!

[2021-02-23 08:14] #931 closed

[2021-02-23 10:55] eldadfux commented on #794
We're working on some refactoring around this issues, probably aiming this to 0.9 or 0.10 releases

[2021-02-23 11:31] ardevd commented on #794
Ok, cool. No need for me to come in and fix array specific issues then. I'll deal with curl for now ;)

[2021-02-23 12:52] noviicee commented on #909
Can you provide little more details?

[2021-02-23 15:59] kodumbeats opened #938 "Function containers remain running after function is deleted"
A function container is started when a cloud function is created. However, when the function is removed, the container remains running.

## Have you spent some time to check if this issue has been raised before?

Yes

## To Reproduce

- Create a cloud function of any language
- Remove the cloud function

## Expected behavior

The function container is stopped and removed

## Actual Behavior

Conta

[2021-02-24 01:09] rupamking1 commented on #909
MongoDB is a popular database

[2021-02-24 13:15] eldadfux commented on #909
Probably still early, but we have started researching around the possibly of MongoDB support 👍🏻

[2021-02-24 18:23] eldadfux commented on #826
@ardevd we're working on fixing that, I'll share updates here and on Discord 👍🏻

[2021-02-25 06:11] eldadfux commented on #928
We could add a section containing all requirements for generating a certificate and validate them:
- Public domain
- Network access to the Appwrite HTTP server
- Valid security email address
- Mode set to production

Then we can maybe list all the certificates we have stored, with:
- Domain name
- Status (success/failure)
- Expiry date
- Planned renewal date

@TorstenDittmann @christyjacob4 @lohan

[2021-02-25 07:08] anirudhsai20 commented on #919
Hi @Swastik1710 . Can I please work on this issue under DWOC?

[2021-02-25 07:10] anirudhsai20 opened #943 "No DWOC labels in any of the issues."
## 📚 Documentation

(A clear and concise description of what the issue is.)

## Have you spent some time to check if this issue has been raised before?
Yes

(Have you googled for a similar issue or checked our older issues for a similar bug)
Yes

### Have you read the [Code of Conduct](https://github.com/appwrite/appwrite/blob/master/CODE_OF_CONDUCT.md)?
Yes

(Write your answer here.)
DWOC or any

[2021-02-25 07:11] Swastik1710 commented on #919
Hey @anirudhsai20, I've already requested them to assign this issue to me.
Though they haven't replied yet.

[2021-02-25 07:13] anirudhsai20 commented on #943
Hi @appwrite. Can I please work on this issue under DWOC?

[2021-02-26 17:54] hbakhtiyor commented on #346
https://github.com/attic-labs/noms
https://github.com/dolthub/dolt

[2021-02-26 18:00] hbakhtiyor commented on #265
https://github.com/resgateio/resgate
https://github.com/dunglas/mercure

[2021-02-28 12:33] honkevin opened #946 "Flutter SDK seems not passing user-agent data"
When implementing the Create Account Session API in Flutter, below is the result I get back,

`{"$id":"603b7cedab4f8","userId":"602e6b567a519","expire":1646047341,"ip":"221.124.76.163","osCode":"","osName":"","osVersion":"","clientType":"","clientCode":"","clientName":"","clientVersion":"","clientEngine":"","clientEngineVersion":"","deviceName":"","deviceBrand":"","deviceModel":"","countryCode":"h

[2021-02-28 17:27] eldadfux commented on #946
@lohanidamodar would you suggest using something like this for non web builds? https://pub.dev/packages/flutter_user_agent - not sure what might be the best practice for mobile and desktop devices.

[2021-02-28 17:30] eldadfux commented on #946
Another thought I had is to try and manually build the user-agent with: https://pub.dev/packages/package_info_plus not sure if it is possible, but could help us avoid another dependency.

[2021-03-01 05:49] lohanidamodar commented on #946
@eldadfux I like using https://pub.dev/packages/package_info_plus to build user agent

[2021-03-01 06:21] lohanidamodar commented on #904
We are closing this issue as there were no new responses. If you again run into this issue or if it's still unresolved for you, feel free to reopen the issue any time. Thank you.

[2021-03-01 06:21] #904 closed

[2021-03-01 06:24] eldadfux commented on #932
@m-code12 thanks fo the suggestion. Right now we do not have enough scale to have the need or time to maintain extra automations that might have little benefit and add complexity to the project.

[2021-03-01 06:24] #932 closed

[2021-03-01 06:25] eldadfux commented on #943
If you have any specific issue that you'd like to work on, let us know and we can add the tag.

[2021-03-01 06:25] #943 closed

[2021-03-01 06:33] eldadfux commented on #946
Can we fetch the original user-agent or a custom Appwrite one? we need to make sure our device detection lib will be able to parse it correctly.

[2021-03-03 10:16] adailsonjnr opened #950 "Function return data"
It's possible to functions return data by api request like Firebase Cloud Functions and Parse Server Cloud Code?

[2021-03-03 13:58] eldadfux commented on #950
Hey @adailsonjnr do you want the function to provide you with the user request payload when triggered from a client app or API?

[2021-03-03 14:23] lohanidamodar commented on #946
https://pub.dev/packages/flutter_user_agent this package seems to get the original user-agent using underlying native platform API but adds additional dependency. We can create custom Appwrite one using package_info_plus together with https://pub.dev/packages/device_info_plus (for device information) if we want. What do you suggest @eldadfux ?

[2021-03-03 14:25] eldadfux commented on #946
@lohanidamodar I would love to have a small POC, and see how the device detector on appwrite/appwrite handles with the result. I think there should also be a way to add custom user-agents to the device detector if we'll decide to do that.

[2021-03-03 14:26] lohanidamodar commented on #946
Sure!

[2021-03-03 14:27] adailsonjnr commented on #950
Yes @eldadfux. A function do some work and return data to client app.

[2021-03-04 12:43] TJennerjahn opened #952 "Missing function event trigger in Web UI"
## 🐛 Bug Report

The Web UI is missing users.update.prefs as an event for functions.

## To Reproduce

1. Create a new Function in the Web Dashboard
2. Try to select users.update.prefs as an event trigger

![user_prefs_event](https://user-images.githubusercontent.com/20514141/109965169-e28ec480-7cee-11eb-8b8c-493125b2a874.png)

(Write what happened. Add screenshots, if applicable.)

## Your Enviro

[2021-03-04 13:49] TJennerjahn opened #953 "Running functions aren't labeled as aborted if the appwrite server restarts"
## 🐛 Bug Report

I accidentally executed a function with an infinite loop and had to restart appwrite via `docker-compose restart`.
The function logs still show these executions as 'processing', even though they clearly aren't running anymore.

## Have you spent some time to check if this issue has been raised before?
Yes, I have.

## To Reproduce

1. Create a function that takes a while to execut

[2021-03-04 20:03] eldadfux commented on #953
@TJennerjahn thanks for reporting this issue, the team will look into a proper way to try and detect aborted functions.

[2021-03-04 20:07] eldadfux commented on #953
@TorstenDittmann @kodumbeats please let me know your thought about this issue. Not sure what would be the most effective way to mark the execution log as aborted.

We could have used the `start + timeout < time` but the timeout could be set to hours and that won't help much. Maybe we can check running functions before containers and sync all execution marked as `processing`?

[2021-03-04 20:13] eldadfux commented on #925
@saibotma I have added this to our backlog. Not sure how to implement this because a project would usually require both a user and a related team to be created.

@TorstenDittmann @kodumbeats any ideas about the flow for this issue? without the project API exposed this will be very hard because the next would also include a way to generate the API key.

This can all be done using the regular HTTP R

[2021-03-04 20:15] eldadfux commented on #919
@Swastik1710 any relevant events can be listed on the https://github.com/appwrite/appwrite-awesome repo

[2021-03-04 20:15] #919 closed

[2021-03-04 20:28] christyjacob4 commented on #926
@eldadfux  as I see it, I don't see a huge advantage of creating a separate OAuth Adapter for Microsoft (internal vs external) accounts because the config is largely the same except for the tenant.  It would be more sensible to probably have a dropdown in the UI to choose the tenant type. Let's go with an approach similar to Apple OAuth.

[2021-03-04 20:55] eldadfux commented on #926
Just to conclude what we want to do with this feature request: Currently all of Appwrite OAuth adapters are using the same UI and setting. When we added support for Apple we created a preparation for supporting custom form and settings (https://github.com/appwrite/appwrite/blob/master/app/config/providers.php#L18) -> currently hardcoded, but we can use this setting to include external template fil

[2021-03-04 20:56] eldadfux commented on #952
@TJennerjahn thanks for reporting the issue @kodumbeats is already working on a PR

[2021-03-04 21:00] eldadfux commented on #938
I guess we can add a new `delete` trigger [here](https://github.com/appwrite/appwrite/blob/master/app/workers/functions.php#L157) to kill the function container, this can also apply to tag update where the old container is not relevant anymore. The should be handled by the `functions` worker and not the `deletes` one, because this operation requires access to the host machine docker socket.

[2021-03-08 08:34] TorstenDittmann commented on #925
We could introduce something like API Keys for Console Accounts 🤔  That would work on the scope of the user like a JWT 🤔

[2021-03-08 15:48] TJennerjahn opened #962 "Passing data into Functions when creating Executions."
## 🚀 Feature
Expand the Create Execution `/v1/functions/{functionId}/executions` api so that it accepts custom data and make it available as an Environment variable to the function container.

## Have you spent some time to check if this issue has been raised before?
No, but I was instructed to open an issue by @eldadfux.

### Have you read the [Code of Conduct](https://github.com/appwrite/appwrit

[2021-03-09 10:53] eldadfux commented on #962
This would definitely make a great addition to the REST API. I was thinking to introduce a new param called `data` which will just accept plain text. Passing the data as plain text will make our life easier with GraphQL (no support for non-structured objects) and anyway the function is only able to get primitive env vars and not complex objects.

Client could pass a JSON string and parse it within

[2021-03-09 12:42] TorstenDittmann commented on #953
Are there any other possibilities of a function being in this state - without restarting Appwrite? 🤔

[2021-03-09 12:44] kodumbeats commented on #953
I think this should be addressed two-fold:
1. Provide a way to kill a running function without `docker-compose restart`.
2. Abort all functions marked as `processing` on startup. I can't think of a strong case where I'd want to restart the stack _without_ aborting everything.

[2021-03-09 21:00] kodumbeats commented on #962
@TJennerjahn We're aiming to include these features in our `0.8` release (in a few weeks), but we're starting to put the pieces together now. Stay tuned!

[2021-03-10 15:46] mehrdad-shokri opened #968 "OpenID connect authentication gateway"
## 🚀 Feature

Hi, I've checked the documentation for the authentication service, and seems this feature hasn't been implemented.  Is it possible to add OpenID connect to authentication service?  Then user management(in general) gets handled by an authentication server(like KeyCloak).

## Have you spent some time to check if this issue has been raised before?
as far as I've seen Oauth implementatio

[2021-03-10 21:49] eldadfux commented on #968
@mehrdad-shokri please add this auth provider suggestion to this discussion: #907

[2021-03-10 22:12] #918 closed

[2021-03-10 22:12] eldadfux commented on #899
Closing for now, I'll re-open if needed.

[2021-03-10 22:12] #899 closed

[2021-03-12 15:48] kodumbeats commented on #952
@TJennerjahn We just completed work on this, which should deploy with our `0.7.1` release. 🚀
Thanks so much for opening this issue!

[2021-03-14 13:26] damascenaluiz opened #977 "Unable to remove all permissions on a document."
## 🐛 Bug Report

I cannot remove all permissions on a document through the administrative interface.

## Have you spent some time to check if this issue has been raised before?

Yes.
## To Reproduce
1 - Add a group, team, role or wildcard to a document that does not contain any read or write permission.
2 - Update the document.
3 - Try to remove all permissions.
4 - Update the document again.
5 -

[2021-03-14 18:45] eldadfux commented on #977
I can't seem to be able to reproduce this issue. @christyjacob4 / @TorstenDittmann does this happen for you?

[2021-03-14 20:13] damascenaluiz commented on #977
My screenshots:
Steps: 1-2 OK:
![step1-2-ok](https://user-images.githubusercontent.com/677552/111082628-184e5d00-84e8-11eb-8e4b-60cc7bcbd6c0.png)

Step: 3 - Unset all permissions.
![step3-clear-permissions](https://user-images.githubusercontent.com/677552/111082630-197f8a00-84e8-11eb-8f5e-0b40dd7767f5.png)
Steps: 4-5 Document updated, but fails to permissions.
![step4-5-document-updated-fails-to-p

[2021-03-14 22:37] eldadfux commented on #977
@damascenaluiz found the issue! Just submitted a PR with a fix.

[2021-03-15 10:36] LeBraveLittleToaster opened #980 "Keep getting TLSSocket error: unable to verify the first certificate"
## 🐛 Bug Report

When using node-appwrite (version: 2.0.0, node: 14.15.1) , I cannot pass even the hello world example from the docs. Keep getting.
[code]
In my angular app, the "normal" appwrite package is working flawless.

## Have you spent some time to check if this issue has been raised before?

Most articles suggest to use "rejectUnauthorized", which is quiet sketchy even if it would work (w

[2021-03-15 10:45] eldadfux commented on #980
Hey @LeBraveLittleToaster, you can use the `client.setSelfSigned()` method to make the Node client accept your self-signed Appwrite certificate. This is perfectly fine for dev mode or when using localhost, but should not used when working in production.

https://github.com/appwrite/sdk-for-node/blob/master/lib/client.js#L63

[2021-03-15 11:15] LeBraveLittleToaster commented on #980
Thanks! Worked fine! I only need it for setup/dev, so thats enough for my use case :)

[2021-03-15 11:15] #980 closed

[2021-03-15 19:09] LeBraveLittleToaster opened #982 "Request hanging sometimes"
## 🐛 Bug Report

In an angular app, I use a table together with a paginator to show stream announcements. With local data everything is working like a charm, but when I use remote data a strange behaviour occurs. Some of the requests (around 3/10) hanging, but are immediately terminating when the next request is done. Sometimes the request flies in after a long time when waiting (~20-30sec). All o

[2021-03-15 20:17] iSplasher opened #983 "401: Permission error on document creation"
## 🐛 Bug Report

Hello, I'm getting a 401 error no matter what combinations of permissions and accounts i test with.
I have read access but not write access.
One thing to note is that the account is unverified. But I'm pretty sure this shouldn't be an issue.

## Have you spent some time to check if this issue has been raised before?

The only other issue I could find was #801, but that seemed reso

[2021-03-15 20:42] christyjacob4 commented on #983
@iSplasher  in your `createDocument()` function can you also add wildcard permissions to the `write` permissions like this

 ` write : ['*'] `

[2021-03-15 20:46] iSplasher commented on #983
Oh wow, that worked.
![billede](https://user-images.githubusercontent.com/9113348/111218878-a0f7f680-85d7-11eb-8abf-0177a98f9a39.png)

I must admit that these permissions are a bit confusing.
Wouldn't it make sense to give the owner of the document write permission automatically?
Either way, thank you for the help.

[2021-03-16 03:43] arnu515 opened #984 "Database: Collection names should be IDs"
## 🚀 Feature
In the database, the collection name should be its id, instead of giving a separate ID for it. This is how it is in Firebase

## Have you spent some time to check if this issue has been raised before?
Yes

### Have you read the [Code of Conduct](https://github.com/appwrite/appwrite/blob/master/CODE_OF_CONDUCT.md)?
Yes

## Pitch
This feature would be a life saver, because when I move f

[2021-03-17 14:35] christyjacob4 commented on #983
Thanks for the feedback @iSplasher . We are in the process of a DB refactoring and during that we will address this issue :)
You can follow the discussion here https://github.com/appwrite/rfc/pull/21

[2021-03-17 14:36] christyjacob4 commented on #983
Please close this issue if you don't have any more doubts 😄

[2021-03-17 14:36] #983 closed

[2021-03-17 17:24] eladcandroid opened #995 "More friendly getting started command"
Hi,
The first installation command -
[code]
Looks too "scary" for a new user.
Can we make it looks nicer?

[2021-03-17 18:14] eldadfux commented on #995
Hey @eladcandroid, we actually thought this would be more transparent and allow more confidence for devs who already feel comfortable with Docker.

We did had another idea by asking to install the Appwrite CLI first (which already has a nice install command, you should also check the [source-code](https://appwrite.io/cli/install.sh) - trust me 😅), and then to expose a setup command from the CLI li

[2021-03-18 13:59] g123k commented on #465
Any news on this @eldadfux?

[2021-03-18 15:40] DevDorrejo commented on #909
Hello, yeah i want mongoDB too.

[2021-03-18 15:59] kodumbeats commented on #909
Could you share how you'd like MongoDB integration to look @DevDorrejo? Our current database API provides a document-based approach, so would you prefer to use MongoDB in place of our current database?

[2021-03-18 17:42] rben820 opened #1000 "Some questions"
Hey everyone!
I have a few questions about Appwrite that I would be more than happy to ask here:
1. Could I install it on my Raspberry Pi 4?
2. Is the real-time database available on Android?
3. I have an app that works with Firebase real-time database, is there a way to transfer the json file from Firebase into AppWrite?

Thank you!

[2021-03-18 19:20] kodumbeats commented on #1000
Hi @rben820 👋🏻

1. We're still working on full compatibility with ARM64 - you can follow https://github.com/appwrite/appwrite/issues/465 for updates on that.
2. We're working towards releasing realtime support for Appwrite by `v0.8.0`, which also has an issue for tracking: https://github.com/appwrite/appwrite/issues/265 (also has links for Android-compatible SDKs as well).
3. A migration tool isn'

[2021-03-18 21:22] kodumbeats opened #1001 "SSL certificates not autogenerated in 0.7.1"
## 🐛 Bug Report

On a fresh install of 0.7.1, `appwrite-worker-certificates` throws an exception, and SSL certificates are not populating correctly. I did some debugging and narrowed it down to this line of logic:

https://github.com/appwrite/appwrite/blob/master/app/workers/certificates.php#L127

A few `var_dump()`s later, and I found myself in a state where `$stderr` is non-empty, even with a su

[2021-03-18 22:10] DevDorrejo commented on #909
Hello, the second one, because my appwrite instance is not have own machine, and want to at least have none extra "RDBMS" packages with my instance installation.

now if this is possible, if no, all good too, can't ask too much for this great and complete project.

[2021-03-19 09:24] Errichamonda opened #1003 "Change BaseURL of Appwrite"
I want to deploy my AppWrite instance under a subpath of my domain (www.example.com/appwrite). I need this because I already have Apache2 with mod_proxy handling all my requests from port 80 and 443 and redirecting the user to different port based on the url.

I sorta got it working but all the links on the page are broken. Not redirecting my custom url.

[2021-03-19 20:20] thegamingninja commented on #984
Yeah, I'd almost consider this is an essential feature. Though I think instead of having the name be the id, the id should be modifiable and is autogenerated by default. That way it is consistent with the rest of the database, having a label/name and a key/id, and doesn't cause any breaking changes.

[2021-03-19 21:28] TorstenDittmann commented on #984
What would make sense to me is like an alias for the collection, that can potentially be modified afterwards - even when already referenced since in the endthe real id is the key.

But that would come at a cost, since in the internals the collection ID is an index in MariaDB.

We are planning a refactor on our Database Internals right now and this might be a good suggestion here: https://github.co

[2021-03-20 00:33] arnu515 commented on #984
modifiable and is autogenerated by default

That's an amazing idea

[2021-03-20 01:05] thesmartrenovation opened #1005 "Permissios Bug 0.7.1"
One question, in version 0.7.0 I could create a document with specific permissions and when I updated that document it was not necessary to send the permissions again.

Something like this:

[code]
But now in version 0.7.1 I always get an error 401

I was checking and it seems that it is necessary to always send the permissions of each document.

Is this a bug or will it always work this way from

[2021-03-20 05:33] eldadfux commented on #1005
@elreyes this was actually a bug we fixed, please pass the read and write permissions. You can learn more here: https://github.com/appwrite/appwrite/issues/977

[2021-03-20 05:33] eldadfux commented on #977
Fixed and released in 0.7.1

[2021-03-20 05:34] #977 closed

[2021-03-20 05:42] eldadfux commented on #1003
We don't have support for subpaths. I think the API should work (haven't tested it), but I guess the console will have a lot of broken assets and links. The best way to run Appwrite on an existing setup would probably be on a subdomain or a non-default port.

[2021-03-20 05:55] eldadfux commented on #465
@g123k everything is pretty much ready, right now we're just giving it a run to test it is stable with all our latest changes. We also need to make some minor updates to our CI to make sure builds won't take forever. Good chances this will get merged to 0.8.

[2021-03-21 20:49] #1005 closed

[2021-03-22 09:26] TheKikeros opened #1009 "acount.createOAuth2Session return's null"
i'm using version 0.7.0

[code]

[2021-03-22 15:50] DevDorrejo commented on #1003
using reverse proxy, will made a lot of the function fails, for example storage, when you try to upload a file will fail.

[2021-03-22 17:48] DevDorrejo opened #1011 "[Docker-Compose] not totally working"
## 🐛 Bug Report

1- Trying to use the last version 0.7.1 on a clean install sometime is giving error 404 page not found
2- **appwrite-clamav** can't update the database neither have http connection
3- **appwrite-traefik**` time="2021-03-22T17:28:10Z" level=error msg="service \"appwrite-appwrite\" error: unable to find the IP address for the container \"/appwrite\": the server is ignored" providerN

[2021-03-22 20:42] eldadfux commented on #1011
@DevDorrejo the 404 error is probably because you changed `--entrypoints.web.address` and `--entrypoints.websecure.address`. You can leave does with the default ports, changing the Traefik ports should be enough.

We have just submitted a fix for the SSL error introduced in Appwrite 0.7.1, we'll release 0.7.2 with a fix soon. #1001

ClamAV has network issues that the Clam team is aware of, for now

[2021-03-22 20:47] iSplasher commented on #1003
Wow this issue just bit me hard.
I wish I knew this before investing my time with this library.

[2021-03-22 21:44] DevDorrejo commented on #1003
one think i havent try is configuring the web sockets, to test if the webhook and the other function that fail will work.

[2021-03-22 21:47] iSplasher commented on #1003
I am trying to go with the reverse proxy route and see if i can get it working before i completely give up the idea of using this. I don't use functions yet, I just need the console to work and display properly.

[2021-03-22 21:55] DevDorrejo commented on #1011
changed the entrypoints to the default one, but have issue with **404 page not found**
![404 Page Not Found](https://user-images.githubusercontent.com/7697566/112062771-c3899280-8b36-11eb-88bf-66f12caf576f.png)

some logs:
![image](https://user-images.githubusercontent.com/7697566/112062537-760d2580-8b36-11eb-9bbc-8762de93826c.png)

Redis password error:
![image](https://user-images.githubusercont

[2021-03-22 23:05] DevDorrejo commented on #1003
are you using docker or docker compose?, mine isnt working T-T

[2021-03-22 23:07] eldadfux commented on #1011
Did you recreated the containers after the change?

[2021-03-22 23:07] iSplasher commented on #1003
Yes I am using docker compose with NGINX. I couldn't get it to work.
I am using NextJS, I will now try to proxy the requests from the client to appwrite via an api route.

[2021-03-22 23:08] DevDorrejo commented on #1003
try this on you vhost
    ProxyRequests Off
    ProxyPreserveHost On
    ProxyPass / http://127.0.0.1:9001/
    ProxyPassReverse / http://127.0.0.1:9001/
    #SSLProxyEngine on

    <Proxy *>
        Require all granted
    </Proxy>

    # Websocket tracker
    RewriteEngine On
    RewriteCond %{HTTP:Upgrade} websocket [NC]
    RewriteRule /(.*) ws://127.0.0.1:9001/$1 [P,L]

[2021-03-22 23:52] DevDorrejo commented on #1011
yes, delete volume and all containers.

[code]

[2021-03-22 23:53] DevDorrejo commented on #1011
i will create a video showing how i do the setup

[2021-03-23 00:13] ryanhlewis opened #1014 "Unique Usernames"
## 🚀 Feature

As simple as the title, preferably, there would be some option within all the Login Methods and various OAuth Providers to enable "Unique Usernames", which simply checks if usernames already exist in the database. It's just a simple boolean.

## Have you spent some time to check if this issue has been raised before?

Yup! All queries in Issues and Discussions never breach this topic.

[2021-03-23 01:10] iSplasher commented on #1003
I ended up proxying the requests through the webserver
[code]

This is for client sdk requests. Later on I might do the same for the console where I will use regex to replace all urls in the response from appwrite. Unless the maintainers implement baseurl change first of course. It seems like such an essential thing for a backend service, still can't fathom it hasn't been there yet.

[2021-03-23 12:44] TheBird956 opened #1018 "Cannot install without access to Google Analytics"
## 🐛 Bug Report

While installing, I got the following error: `Error:Failed to connect to www.google-analytics.com port 443: Connection refused`

I am running a PiHole DNS server on my network that is blocking all tracking and ads.

## Have you spent some time to check if this issue has been raised before?

Yes

## To Reproduce

1. Have PiHole (or any other dns-level ad blocker) up and running
2.

[2021-03-23 13:02] eldadfux commented on #1018
@TorstenDittmann I think we should make sure we have a timeout on this request and skip it if it fails for some reason.

[2021-03-23 13:05] TorstenDittmann commented on #1018
@eldadfux Will add this to utopia/analytics :+1:

[2021-03-23 14:11] TorstenDittmann commented on #1018
https://github.com/utopia-php/analytics/pull/1

Pending PR, this will not throw error when failing to send actions to Google Analytics 👍🏻

[2021-03-23 19:34] lovetodream opened #1022 "Admin Panel/Dashboard on different domain/route"
## 🚀 Feature Admin Panel/Dashboard on different domain/route

It would be nice if it is possible to move the dashboard to a different domain or at least a different base URL (eg. appwrite.domain.com/console).

## Have you spent some time to check if this issue has been raised before?

Yes, #1003 has some similarities but it's about a different topic.

### Have you read the [Code of Conduct](https:

[2021-03-23 21:34] eldadfux commented on #1018
@TorstenDittmann released a new tag:
https://github.com/utopia-php/analytics/releases/tag/0.2.0

[2021-03-23 22:24] TorstenDittmann commented on #1018
Will add it to the dev branch tomorrow and will very likely be part of 0.7.2 that will be released soon 👍🏻

@TheBird956 Sorry for the inconvenience and thank you for your patience.

[2021-03-24 13:23] eladcandroid commented on #995
@eldadfux That sounds like a great idea

[2021-03-24 14:27] kodumbeats opened #1025 "Certbot exception when renewal not necessary"
## 🐛 Bug Report

The certificates worker throws an exception when certbot returns a good response: `Exception: Renew isn't required`. So, when a cert has no problems, the docker logs have an exception with stack trace.

## Have you spent some time to check if this issue has been raised before?

Yes.

## To Reproduce

- Install Appwrite 0.7.2 with the domain configured in advance
- `docker-compose

[2021-03-24 15:23] kodumbeats commented on #1001
Fix released in [Appwrite 0.7.2](https://github.com/appwrite/appwrite/releases/tag/0.7.2).

[2021-03-24 15:23] #1001 closed

[2021-03-24 15:26] kodumbeats commented on #933
Fixed in [Appwrite 0.7.1](https://github.com/appwrite/appwrite/releases/tag/0.7.1)

[2021-03-24 15:26] #933 closed

[2021-03-24 15:29] kodumbeats commented on #952
@TJennerjahn The fix is live! Sorry for the delay - the fix for this issue was released in [Appwrite 0.7.1](https://github.com/appwrite/appwrite/releases/tag/0.7.1)

[2021-03-24 20:28] kodumbeats commented on #1025
We move the certificates to a mounted volume here:
https://github.com/appwrite/appwrite/blob/master/app/workers/certificates.php#L139

Certbot _really_ doesn't like when certs are moved around - this warning can be found in every README in `/etc/letsencrypt`:
[code]

Because the certs are moved, I can't add extra `certbot` logic to check the renew dates on the certificates in use. Any thoughts on

[2021-03-25 04:00] YoogottamK commented on #1025
Setting the `--config-dir` flag while running `certbot` might help.

[code]

Instead of moving the certificates, we can ask `certbot` to directly place them there.
I'll try this out soon and see if it works.

[2021-03-25 05:15] eldadfux commented on #1025
@kodumbeats this can be a nice idea, please let me know if I can help.

[2021-03-25 05:18] eldadfux commented on #962
This feature is available on the 0.8.x branch if anyone wishes to test it out.

[2021-03-25 05:19] eldadfux commented on #950
This will be available soon with our work on realtime API and our new functions evens. Please view #948 and #971 for more information.

[2021-03-25 05:19] #950 closed

[2021-03-25 05:20] eldadfux commented on #1018
This bug was fixed with the release of 0.7.2. We will consider to replace stats provider soon as suggested on some Reddit talks.

[2021-03-25 05:20] #1018 closed

[2021-03-25 05:22] eldadfux commented on #1022
I think the easiest solution for now can be blocking access to the dashboard from a custom domain.

[2021-03-25 05:24] eldadfux commented on #968
I have added OpenID to our lists on #907

[2021-03-25 05:24] #968 closed

[2021-03-25 05:25] eldadfux commented on #849
Seems like the ClamAV team had some network issues, closing this for now.

[2021-03-25 05:25] #849 closed

[2021-03-25 05:27] eldadfux commented on #879
Update 25.03.21: we've got an internal draft testing how we can reuse current functionality in the best way. If this will not work out well, we don't mind having minor duplications in our controller layers. I'll keep this issue up-to-date with any developments.

[2021-03-25 05:31] christyjacob4 commented on #995
@eldadfux that sounds like a great plan. But as part of
'''
appwrite server setup
'''
We also need to be able to specify the params that the current installation command takes in namely the appwrite mount ( in case the user wants to install it somewhere else ) as well as the Appwrite image version ( in case the user wants to install a version other than the latest one )

But yes this is a great id

[2021-03-25 05:35] christyjacob4 commented on #928
@eldadfux Looks like you have covered everything. 💪

[2021-03-25 09:09] fightforlife commented on #504
Would love to see AND or OR connections.
This would be really helpful in a relationship database where you just want to store 1 row per relationship. Then you could query for a user in key1 OR key2
(e.g. friendships)

[2021-03-25 09:55] eldadfux commented on #504
@fightforlife please check our RFC discussing this issue, we're still trying to figure our the best format to support this: https://github.com/appwrite/rfc/pull/21

[2021-03-25 13:38] lovetodream commented on #1022
This would work for me.

[2021-03-25 16:25] alexweininger commented on #909
I think if it’s possible, it might be best to easily allow for people to use any database with AppWrite. It would be very nice to be able to select a database adapter (or write your own) and then just plug AppWrite into any kind of database, SQL, Mongo, etc

[2021-03-25 16:41] dimm0 commented on #364
I'm looking at deploying appwrite on our kubernetes cluster, and dependency on docker is a warning for me so far. Docker is going to be deprecated in kubernetes soon, and also it's a security vulnerability to expose it's socket to containers. Why is it required at all?

I might contribute to the operator if there's something available already

[2021-03-25 16:59] alexweininger commented on #272
This sounds awesome, I can't wait! Keep up the great work

[2021-03-25 17:02] christyjacob4 commented on #272
@alexweininger you can track our progress here 😊🚀

https://github.com/appwrite/appwrite/pull/974

[2021-03-25 17:38] kodumbeats commented on #364
@dimm0 We mount the Docker socket only in our functions worker to execute cloud functions in standalone containers. We're aware of the security concerns with the Docker socket and are still engineering a solution as we build our own hosted service.

[2021-03-25 17:57] cambo2015 opened #1029 "cli does not copy files to /usr/local/bin/appwrite even when password is given"
## 🐛 Bug Report

On WSL win 10 after using '  wget -q https://appwrite.io/cli/install.sh  -O - | /bin/bash  ' it gives an error ' cp: -r not specified; omitting directory 'appwrite' ❌ Failed to copy file to /usr/local/bin/appwrite ... '

## Have you spent some time to check if this issue has been raised before? yes

## To Reproduce
1. install apwrite
2. install cli
3. when it asks for password ent

[2021-03-25 18:02] cambo2015 commented on #1029
I figured out I was in the wrong directory. If anyone else has this issue just cd  ~ and try the install command again.

[2021-03-25 18:02] #1029 closed

[2021-03-25 18:08] themotu commented on #546
I'd like to see a django implementation for auth

[2021-03-25 19:17] fightforlife opened #1030 "ship minimal Password reset and Email verification page"
## 🚀 Feature

I think it would really help if appwrite would ship with a minimal/standard email verification and password reset form for each project.
Currently a new user cannot not simply use appwrite, to manage these tasks. He has to spinup a seperate webserver and provide forms which just post the correct json data to the api. (Especially if Appwrite is used for App development without Web inv

[2021-03-26 08:24] 215599blessmuneri21 opened #1035 "MUCHBE PVT LTD"
## 📚 Documentation

(A clear and concise description of what the issue is.)

## Have you spent some time to check if this issue has been raised before?

(Have you googled for a similar issue or checked our older issues for a similar bug)

### Have you read the [Code of Conduct](https://github.com/appwrite/appwrite/blob/master/CODE_OF_CONDUCT.md)?

(Write your answer here.)

[2021-03-26 08:34] #1035 closed

[2021-03-26 08:38] TorstenDittmann commented on #1030
I think I talked to @eldadfux in the past about this.

The idea might be good, but I don't really think it fits really well into the Appwrite container. Especially in terms of customization.

In my opinion the better approach would be a pre built template for this that can be deployed with one click to Providers like Vercel and Netlify.

This way you have way more control over your pages and can m

[2021-03-26 09:12] Errichamonda commented on #1011
The certificates are not correctly issued when not binding port 443

[2021-03-26 11:55] tombailey commented on #364
@mcchin this is a really helpful start, thanks! Your gists seem to be using some of the local dev tools instead of production versions; e.g. maildev instead of appwrite/smtp. That might explain some of the issues you saw. I am looking into fixing that. If I can make some good progress, I will try to provide some updated templates to reflect the latest version

[2021-03-26 13:58] BrrShh223 opened #1036 "I need a app that I can track geo location via phone number"
## 🚀 Feature

(A clear and concise description of what the feature is.)

## Have you spent some time to check if this issue has been raised before?

(Have you googled for a similar issue or checked our older issues for a similar bug)

### Have you read the [Code of Conduct](https://github.com/appwrite/appwrite/blob/master/CODE_OF_CONDUCT.md)?

(Write your answer here.)

## Pitch

(Please explain w

[2021-03-26 14:01] BrrShh223 commented on #1036
This app will be helpful in the sense of monitoring my employees location during work hours being as though I'm managing the business remotely I want to make sure all employees are at the correct location at the appropriate time

[2021-03-26 14:27] kodumbeats commented on #1036
Hi @BrrShh223,

Our [Locale API](https://appwrite.io/docs/client/locale) provides methods to obtain location-specific data about your users, but as a Backend-as-a-Service product, we don't have any pre-built apps or support for a feature like this.

There are several services that offer phone-based geolocation that will suit your use-case better. I found https://geoloc.mobi/, so I hope you can fin

[2021-03-26 14:27] #1036 closed

[2021-03-26 15:26] cellerich opened #1037 "possibility to configure base docker image for functions"
## 🚀 Feature

### Why the Issue
My use case is a Python function which makes use of Pandas and Numpy, two widely used libraries when it comes to data analysis and manipulation. When I "preload" those libraries trough `requirements.txt` it bloats up the `.appwrite` directory and the resulting tar file to 120MB. So I have to extend the `_APP_STORAGE_LIMIT` variable to be able to load the function at

[2021-03-26 15:50] mysticaltech opened #1038 "Integrate with Next-Auth for NextJS"
Basically, this is just a share of info, I have created a feature request on Next-Auth, the main project that provides authentication features to the wonderful React / NextJS frontend ecosystem, to support AppWrite.

I believe supporting them would bring you massive adoption, as that community is absolutely huge! The request can be found here https://github.com/nextauthjs/next-auth/issues/1593

[2021-03-26 15:57] christyjacob4 commented on #1038
@mysticaltech Thanks a ton 💪
Really appreciate it

[2021-03-26 15:58] kodumbeats commented on #1038
Features like these usually require JWT support, which we recently [released in a closed beta](https://github.com/appwrite/appwrite/issues/511#issuecomment-778654406). Once that feature is live, we can work towards integrating with Next, Nuxt, and the rest. :)

[2021-03-26 16:10] mysticaltech commented on #1038
Great, keep up the good work folks! Projects like yours that allow for decentralization, have the potential to become huge.

_Unrelated to the above. Since Docker is well supported, Kubernetes support is just next door. Just an idea, I would love to see this be part of the [CNCF](https://www.cncf.io/) one day! Keep up the good work._

[2021-03-26 17:17] fightforlife commented on #263
@eldadfux is the second problem solved somehow? Does appwrite currently still soley depend on cookies for client/user sessions? Thanks!

[2021-03-26 17:49] nalashour opened #1039 "Connecting Flutter web with Appwrite"
I always get this error DioError [DioErrorType.RESPONSE]: XMLHttpRequest error.

can anybody please give me the proper way to connect flutter web with appwrite

from emulator for testing & IIS server for production.

Thanx

---
Appwrite Version: 0.7.2.145

[2021-03-26 18:03] AlimFreight commented on #1039
Look here https://github.com/appwrite/sdk-for-flutter/issues/5

[2021-03-26 18:15] eldadfux commented on #263
@fightforlife we currently rely only on cookies with fallback to localstorage on the web for browsers that don't support 3rd party cookies. If this is the case you can also set a custom domain and ensure you use only first party cookie. We'll also introduce JWT support in the next version.

[2021-03-26 18:44] lovetodream commented on #263
JWT Support would be much appreciated, not only for me, but also for many others I guess.
Keep it up 👍

[2021-03-26 18:52] eldadfux commented on #1039
Closing for now. @nalashour please reopen if @AlimFreight reference issue still not helping you.

[2021-03-26 18:52] #1039 closed

[2021-03-26 21:19] eldadfux commented on #364
@tombailey note that since v0.7.x we don't use appwrite/smtp as the default SMTP configuration. By default we use no SMTP settings at all, and we added messages, and disabled SMTP related functionality in the Appwrite console in such case (where no SMTP was set). This was done to avoid confusion as appwrite/smtp requires a lot more config in order to work properly and pass SPAM filters.

[2021-03-26 21:41] eldadfux commented on #1011
According to this: https://serverfault.com/a/805681 , seems like its not possible with letsencrypt or at least not with the http challenge.

[2021-03-26 22:52] eldadfux commented on #1037
This is something we have discussed internally and seems like an interesting idea that will allow huge flexibility.

Three main things we would probably need to achieve this feature:
- Securely store credentials of custom  docker registries (can be add as an `Images` tab alongside `Functions`)
- Storing custom images info on project level
- Adding ability to control the warmup of a single/multiple

[2021-03-26 23:02] eldadfux commented on #1014
@ryanhlewis sorry for the late response, how would you view the API signature change with this feature?

We would probably need to expose a new method to update the username, would you see any other changes to different endpoints?

Open questions:
- Should this effect our OAuth integration?
- Should we try and fetch usernames from OAuth providers when this is the authentication method that is bein

[2021-03-27 06:53] cellerich commented on #1037
@eldadfux there is a whole discussion about Alpine not the perfect fit to run Pandas on [Stackoverflow](https://stackoverflow.com/questions/49037742/why-does-it-take-ages-to-install-pandas-on-alpine-linux/49057289#49057289)

However one of the suggestions is to add the `py3-pandas@community` package and do not include Pandas in the `requirements.txt` file.

Currently I will try it out and make my

[2021-03-27 08:34] cellerich commented on #1037
@eldadfux i made a working docker image an pushed it to docker hub:
-> [https://hub.docker.com/r/cellerich/env-python-3-8-pandas](https://hub.docker.com/r/cellerich/env-python-3-8-pandas)

[2021-03-27 08:53] cellerich commented on #1037
with Pandas installed the image gets bigger:
![image](https://user-images.githubusercontent.com/13665468/112715674-ff7b7980-8ee1-11eb-854a-6d9bd727a840.png)

compared with the current Python environment image:
![image](https://user-images.githubusercontent.com/13665468/112715650-cfcc7180-8ee1-11eb-9532-4a6e55eff75d.png)

I don't know how many Appwrite users are depending on Pandas with their Pytho

[2021-03-28 06:17] tombailey commented on #364
Similar to @mcchin I was able to load the dashboard, sign up and create projects but not much more. File uploads seemed to fail because ClamAV had permission issues doing lstat on uploaded files. I configured SMTP using sendgrid but didn't receive any emails or see any activity in the sendgrid dashboard. It can take a long time to debug issues like this so I have stopped for now.

The k8s deployme

[2021-03-28 12:28] PineappleIOnic commented on #546
@eldadfux The `Simple Database example and tutorial` and `Simple storage file upload example and tutorial` were completed and commited a while ago in the [demos-for-vue repository](https://github.com/appwrite/demos-for-vue)

[2021-03-29 07:44] atabaksahraei opened #1043 "run on ARM"
I tried to run the container on a arm pc (raspberrypi).
I get the following error:
standard_init_linux.go:211: exec user process caused "exec format error"
![image](https://user-images.githubusercontent.com/2444540/112803168-4ba9f380-9073-11eb-94ef-34411d36ca64.png)

[2021-03-29 08:41] TorstenDittmann commented on #1043
We currently don't support ARM right now, but we are working on it over here https://github.com/appwrite/appwrite/pull/726

It is almost done and we are in testing & QA stage right now 👍🏻

[2021-03-29 18:19] gioragutt commented on #18
@eldadfux I tried running it with a fresh docker-compose setup, having the same issue.

I've not set-up any volume paths or whatever beyond what's explained in the docs.

Is this expected?

[2021-03-29 19:37] damascenaluiz commented on #785
I have a similar scenario problem A collection called 'Form' -> array of 'Questions' (Document) -> array of alternatives (Text),

It turns out that in the UI I cannot add the alternatives directly when creating a form, the ADD button does not let me add the alternatives, but the other options in the Question I can modify normally.

If I go directly to the Questions collection, I can insert the alt

[2021-03-30 00:29] cweagans commented on #547
Something else to consider here: it would be really awesome if Appwrite could be stripped down so aggressively that it could be run on shared hosting (e.g. without realtime features -- essentially just serving as a RESTful CRUD API thing). If that's possible, then the "minimal" install would essentially just be a LAMP/LEMP stack.

[2021-03-30 01:03] thesmartrenovation opened #1047 "Collection Rules Issue - 0.7.2"
Hi, how can I update a collection without updating the rules?

I am doing it this way but when updating the collection the rules disappear completely.

[code]

or

[code]
Is there any way to avoid having to send the rules again at each update?

[2021-03-30 04:57] eldadfux commented on #1047
When we use the PUT method in Appwrite  we do a full update, unlike PATCH where we update only part of the data. With the current implementation you'll have to keep the collection state by passing your rules on the update operation.

As part of this RFC: https://github.com/appwrite/rfc/blob/910e7e015c7516c643272f3981ee349dc36c5d11/016-database-adapters.md we are planing to split child entities lik

[2021-03-30 05:38] lohanidamodar commented on #18
@gioragutt This issue normally occurs if the installation process was incomplete. And this issue occurred mostly during installation with low res system. As ClamAV is enabled we suggest to use a system with at least 2 gb memory.

So if the problem is occurring in the beginning of your installation (most probably is), you just need to make sure you have enough memory if not please [disable clamav](

[2021-03-30 05:49] eldadfux commented on #1043
@atabaksahraei You can also check this discussion to learn how to run the dev branch on raspberry pi: https://github.com/appwrite/appwrite/discussions/1041

[2021-03-30 09:00] gioragutt opened #1049 "Better docs regarding docker-compose"
## 📚 Documentation

I believe the docs regarding running with docker-compose are a bit... missing 😅

It is stated in many places that there is a `docker-compose.yml` file and that you can/should set up the environment, but it's up to users to find out where those files are.

Some things I had trouble with/had to figure out myself:
1. finding the `docker-compose.yml` file
2. understanding that ther

[2021-03-31 04:22] simultsop opened #1052 "Set default locale on .env"
## 🚀 Feature

To be able to set default locale for Appwrite itself.

## Have you spent some time to check if this issue has been raised before?

Asked maintainers on discord.

### Have you read the [Code of Conduct](https://github.com/appwrite/appwrite/blob/master/CODE_OF_CONDUCT.md)?

👀

## Pitch

Was trying to launch Appwrite for some local fellas to bring more devs using appwrite initially on r

[2021-03-31 10:26] eldadfux commented on #1049
Hey @gioragutt, we do have the 'Manual' section on the installation page which explains this: https://appwrite.io/docs/installation - maybe we should change the title to make it easier to find.

With 0.8 release we will be adding the got account which will make the first login screen way more intuitive. Please let me know if this is enough or if you have more suggestions.

[2021-03-31 11:23] gioragutt commented on #1049
Hey, I looked at the docs again.

IMO I think that having a separate `Docker Compose` page will be more explicit for people, and from my experience with such services, there's usually a dedicated section for different kinds of deployments, f.e `docker-compose`, `k8s`, etc.

I think that calling `docker-compose` the `Manual` way is a bit imprecise, since sometimes `docker-compose` may be the produc

[2021-03-31 12:52] cardosojc opened #1053 "Update user status through cli"
## 🐛 Bug Report

I'm trying to use the cli to update the status of a user. When i do `appwrite users updateStatus --userId="60634021b9e9a" --status="1"`  the response is
[code]

## Your Environment
Os: Ubuntu 20.04 (64bit)
Client: Docker Engine - Community
 Version:           20.10.5
 API version:       1.41
 Go version:        go1.13.15
 Git commit:        55c4c88
 Built:             Tue Mar  2 2

[2021-03-31 13:03] cardosojc opened #1054 "Auto-validate user registration in local mode"
## 🚀 Feature

Auto-validate user registration in local mode

## Have you spent some time to check if this issue has been raised before?

Yes

### Have you read the [Code of Conduct](https://github.com/appwrite/appwrite/blob/master/CODE_OF_CONDUCT.md)?

Yes

## Pitch

When running appwrite locally and we register a user, it would be useful that our user gets automatically validated (for development

[2021-03-31 16:37] DevDorrejo commented on #1011
Well, using docker run, better than using the compose directly with the last version everything is working, only left is the cert wont work if you bind ports to the not default (80,443), one solution is link host volume cert directory to the appwrite one, but dont know to which container and folder link /etc/letsencrypt

[2021-03-31 23:04] cardosojc commented on #1054
Fully agree with that flag option. Actually i was thinking the same but wasn't explicit

[2021-04-01 08:19] Errichamonda opened #1057 "Document Timestamps"
## 🚀 Feature

Add timestamps for "created_at", "updated_at" for documents, as Eloquent does by [default](https://laravel.com/docs/4.2/eloquent#timestamps).

## Have you spent some time to check if this issue has been raised before?

Yes

### Have you read the [Code of Conduct](https://github.com/appwrite/appwrite/blob/master/CODE_OF_CONDUCT.md)?

Yes

## Pitch

In Database Collections settings, ad

[2021-04-01 09:07] Errichamonda opened #1058 "Nested document permission are not validated"
## 🐛 Bug Report

As discussed on Discord, it seems that only the parent permissions are validated on nested document field.
For context I have this JSON schema
[code]
The field `requests` have read permission for only one team, while the parent field have `*` read permission. When I try to read the document from other team I can still see the `request` field, even if the permission on the collecti

[2021-04-02 02:50] trydalch opened #1061 "UX Bug - Creating new collections in the console"
## 🐛 Bug Report

It's not obvious how to create a new collection in the Appwrite console. I searched all around only to find the small plus button at the bottom right.

## To Reproduce

1. Log in, go to databases, find the plus buton.

## Expected behavior

I would expect a button somewhere in this frame, especially because I'm using 4k monitors and the button was clear down in the corner, out of

[2021-04-02 04:45] christyjacob4 commented on #995
As part of making the installation of Appwrite more friendly, we're planning to add the following commands to the Appwrite CLI

1. Install Appwrite (Pulls the docker images and starts the server)
[code]

2. Start the Appwrite Server
[code]

3. Stop the Appwrite Server
[code]

4. Remove Appwrite server (Stops the server and removes the docker images)
[code]

5. Appwrite server status (health check)

[2021-04-02 04:48] eldadfux commented on #1061
Agree, we can change the UI to drop all the round "+" buttons and move to a more consistent look.

[2021-04-02 05:25] eldadfux commented on #1057
We have this being done internally today an we weren't sure if this is something we should continue doing. Would adding a {{time}} variable to the DB something that would help? DB vars like {{time}}, {{ip}}, and {{userId}} is an idea we have been playing around with.

Would love to get your feedback.

[2021-04-02 05:27] eldadfux commented on #1058
This is the expected behavior today. We can't validate nested fields without impacting performance badly. The parent doc is the one we follow, and in this case you would probably prefer to structure the docs in a flat design.

[2021-04-02 06:29] Errichamonda commented on #1057
Yes, it would be great to have some DB variables to use as default value for the database, like using userId for setting who created that record, etc.

[2021-04-02 15:28] drosa88 commented on #556
Would this be possible? Seems like a very helpful feature.

By the way: thanks for your great work! I'm going to try appwrite for my current Flutter project and the first look is amazing 👍

[2021-04-02 15:41] kodumbeats commented on #556
Our Realtime API is under development right now! :) You can check out the work on the feature branch:
https://github.com/appwrite/appwrite/tree/feat-265-realtime

With this feature, you'll be able to subscribe to documents and receive realtime updates when they change.

[2021-04-03 06:13] eldadfux commented on #1061
Example of the collections UI with similar bottom controls to the Cloud Functions UI:

![image](https://user-images.githubusercontent.com/1297371/113470255-e122fa00-945c-11eb-93fb-ada5fc5b2113.png)

[2021-04-03 06:25] eldadfux commented on #1061
Users UI:

![image](https://user-images.githubusercontent.com/1297371/113470442-62c75780-945e-11eb-987c-70a4eec35516.png)

Teams UI:

![image](https://user-images.githubusercontent.com/1297371/113470465-8ee2d880-945e-11eb-98c2-e9b7e953ff00.png)

[2021-04-03 06:40] eldadfux commented on #1061
Added a PR. If all goes well, this should be released on 0.8.0

[2021-04-03 06:44] #1058 closed

[2021-04-03 06:46] eldadfux commented on #1057
Thanks for the feedback @Errichamonda closing this issue so the main discussion around this would be on the relevant DB RFC:
https://github.com/appwrite/rfc/pull/21

[2021-04-03 06:46] #1057 closed

[2021-04-03 07:03] eldadfux commented on #1053
Hey @cardosojc, thanks for reporting this, this bug is originated in wrong type casting on the CLI side, @christyjacob4 is already working on a fix with me. We'll keep this issue up-to-date with our progress.

[2021-04-04 00:40] damascenaluiz opened #1063 "Error on array from child document in console"
## 🐛 Bug Report

When I have a collection associated with a rule and this collection has an array, it is not possible to add values to the array directly from the parent collection, via the UI. The Add button when clicking does not display the option to add the name or when clicking nothing happens.

## Have you spent some time to check if this issue has been raised before?

Yes, the discord was a

[2021-04-04 10:31] fightforlife opened #1065 "Web console: not possible to create multiple parameters of rule type document / collection selection broken"
## 🐛 Bug Report

Hi there, I think I found a bug with the creation of collection rules in the web console:
If you create two parameters of type document and want to link them to different collections, this is not possible because the web interface only allows to choose one collection on the page (for all parameters). Normally it should allow to select one collection per parameter.

## Have you spe

[2021-04-05 19:14] Asored-D opened #1067 "The possibility to edit user preferences from console"
## 🚀 Feature

Do you plan the functionality to be able to edit user preferences from backend? Or to integrate this functionality to the Appwrite CLI? In our case we are using preferences to save specific user data. If an user asks us to change specific content, we have no possibility to do this from backend.

What do you think?

## Have you spent some time to check if this issue has been raised be

[2021-04-06 03:46] gfyre opened #1068 "Phone Auth"
## 🚀 Feature

Use a third-party API such as Twilio Verify to authenticate a user with their phone number.

## Have you spent some time to check if this issue has been raised before?

I've checked for this and this issue/feature request hasn't been raised previously.

(Have you googled for a similar issue or checked our older issues for a similar bug)

Yes.

### Have you read the [Code of Conduct](

[2021-04-06 10:16] TorstenDittmann commented on #1067
Hey @drosa88 👋🏻

Thanks for the idea.

I think we both agree that this is a reasonable feature request 👍🏻

[2021-04-06 10:21] TorstenDittmann commented on #1063
Hey @damascenaluiz 👋🏻

Thanks for reporting that bug, this is indeed not working in the dashboard.

[2021-04-06 10:22] drosa88 commented on #1067
Thanks @TorstenDittmann for your feedback!
Greetings from Saarbrücken :-)

[2021-04-06 10:22] TorstenDittmann commented on #1065
Hey @fightforlife 👋🏻

Thanks for reporting that bug, this is a result of the UI being a single form and the checkboxes for the allowed collection having the same underlying values.

[2021-04-06 11:58] TorstenDittmann commented on #1065
Pending PR fixing this #1069 ✅

[2021-04-06 12:24] TorstenDittmann commented on #1068
Hey @gfyre 👋🏻

This feature is actually in our backlog for some time now, but wasn't a priority yet.
Also, we want to avoid coupling phone authentication to explicitly to a 3rd party provider like Twilio. Meaning, we still haven't completely decided on how to solve that problem. An open discussion can be found here: #907

Right now, verifying a registered user with an e-mail address, could actuall

[2021-04-06 13:17] gfyre commented on #1068
Hey @TorstenDittmann,

So if I wanted to use Phone Auth in a project right now with Appwrite, is there a work-around?

[2021-04-06 13:26] TorstenDittmann commented on #1068
Depending on the use case, yes.

But you would need to write all the logic for it, which might not work perfectly for all the cases. That would be no small amount of work.

Therefore, I would rather advise to have some patience until an official solution from Appwrite is ready.

[2021-04-06 13:45] TorstenDittmann commented on #794
Fixed the UI bug in #1070

[2021-04-06 14:04] TorstenDittmann commented on #254
This issue had no recent activity. It will be closed if no further activity occurs.

Thank you for your contributions.

[2021-04-06 14:04] #254 closed

[2021-04-06 14:06] TorstenDittmann commented on #260
As we are implementing https://github.com/appwrite/rfc/blob/main/013-custom-exception-on-all-sdks.md right now, this issue is soon to be resolved.

[2021-04-06 14:07] TorstenDittmann commented on #299
This got already implemented 🎉

[2021-04-06 14:07] #299 closed

[2021-04-06 14:09] TorstenDittmann commented on #332
This issue had no recent activity. I will close it for now except further activity occurs and since there already is a solution to it.

[2021-04-06 14:09] #332 closed

[2021-04-06 14:10] TorstenDittmann commented on #342
This got implemented by @lohanidamodar 🎉

[2021-04-06 14:10] #342 closed

[2021-04-06 14:13] TorstenDittmann commented on #348
This got fixed at some point 🎉

[2021-04-06 14:13] #348 closed

[2021-04-06 14:21] TorstenDittmann commented on #318
Gonna close this issue in favor of #426

[2021-04-06 14:21] #318 closed

[2021-04-06 14:23] TorstenDittmann commented on #418
This issue had no recent activity. I will close it and if further activity occurs can be re-opened. Thank you for your contributions.

[2021-04-06 14:23] #418 closed

[2021-04-06 14:25] TorstenDittmann commented on #767
This issue had no recent activity and looks more or less solved. I will close it and if further activity occurs can be re-opened again. Thank you for your contributions.

[2021-04-06 14:25] #767 closed

[2021-04-06 14:26] #747 closed

[2021-04-06 14:27] TorstenDittmann commented on #744
This issue had no recent activity and looks more or less solved. I will close it and if further activity occurs can be re-opened again. Thank you for your contributions.

[2021-04-06 14:27] #744 closed

[2021-04-06 14:28] #585 closed

[2021-04-06 14:29] #539 closed

[2021-04-06 14:29] TorstenDittmann commented on #512
This issue had no recent activity. I will close it and if further activity occurs can be re-opened again. Thank you for your contributions.

[2021-04-06 14:29] #512 closed

[2021-04-06 14:30] TorstenDittmann commented on #556
Gonna close this issue in favor of #265

[2021-04-06 14:30] #556 closed

[2021-04-06 14:31] TorstenDittmann commented on #893
This issue had no recent activity and looks more or less solved. I will close it and if further activity occurs can be re-opened again. Thank you for your contributions.

[2021-04-06 14:31] #893 closed

[2021-04-06 14:32] TorstenDittmann commented on #769
This issue had no recent activity and looks solved. I will close it and if further activity occurs can be re-opened again. Thank you for your contributions.

[2021-04-06 14:32] #769 closed

[2021-04-06 14:33] TorstenDittmann commented on #770
Closing this issue in favor on #1065

[2021-04-06 14:33] #770 closed

[2021-04-06 15:41] gfyre commented on #1068
Sounds good! Thanks @TorstenDittmann

[2021-04-06 22:46] ryanhlewis commented on #1014
It shouldn't affect much. It's a feature request.

If anything, you should have already been grabbing usernames and names of OAuth accounts and placing them inside the database. What the hell do you call them in your applications? EFWFEWF@gmail.com, Welcome to the Appwrite-Enabled app! It's ridiculous if you haven't already accounted for grabbing usernames or at least creating them from OAuth.

1.

[2021-04-07 11:07] Asored-D opened #1074 "MongoDB Support"
## 🚀 Feature

Hi appwrite team,

I plan to switch from Firebase (Auth, Database and Cloud Functions) completely to Appwrite. I already could implement authentication in production and it works really great. I really appreciate your good work!

The next step would be the database migration. While searching all issue topics, I found the following:
https://github.com/appwrite/appwrite/issues/909

Mon

[2021-04-08 13:29] TorstenDittmann commented on #1074
Grüße @Asored-D 👋🏻

We are actually working right now on refactoring our database solution, a RFC can be found here: https://github.com/appwrite/rfc/pull/21

We are also trying to support MongoDB as a Database solution with that, but it might not be the way you would expect it.

Appwrite's current database solution offers a lot of features (Validation, Abuse Control, etc), that we couldn't integra

[2021-04-09 09:47] TafadzwaD opened #1079 "Axios 0.20.0 dependency Server-Side Request Forgery vulnerability on node-appwrite"
## 🐛 Bug Report

Node-AppWrite depends on Axios 0.20.0 which has a Server-Side Request Forgery (SSRF) vulnerability according to "npm audit".

## Have you spent some time to check if this issue has been raised before?

This issue has not been raised before

## To Reproduce
npm init
npm install node-appwrite --save
npm audit

![Screenshot from 2021-04-09 01-03-47](https://user-images.githubusercont

[2021-04-09 11:53] lovetodream commented on #1079
I've had a quick look at the sdk generator template and it uses a newer version (0.21.1) of axios already. I think you guys just need to regenerate the Node-SDK and publish a new version to NPM. 😉

[2021-04-10 14:38] eldadfux commented on #1079
We have just released v2.1.0 of the Node JS SDK with this fix included.

[2021-04-10 14:38] #1079 closed

[2021-04-10 18:34] RayNCooper opened #1082 "Allow Setting of Access Control Headers"
## 🚀 Feature

Hey everyone,

I tried to implement Sentry.io (App Monitoring) for my web frontend app that uses appwrite. When trying to send monitored errors from the app to the Sentry dashboard, my app throws a "Cross-Origin Request Blocked" error. This has to do with the fact that the 'sentry-trace' header is not set, as is also described in the stack trace (see attached screenshot). A reference

[2021-04-10 18:46] zainab81 commented on #1068
اي

[2021-04-10 19:40] eldadfux commented on #1082
@RayNCooper thanks for opening this issue. I don't see any reason for Appwrite to accept the `sentry-trace` header, this header according to Sentry docs is used to identify the same transaction on both client and server monitoring, but Appwrite don't have any built-in Sentry reporting on the server side. Taking both into consideration I don't see any major value that would be achieved from that fe

[2021-04-10 20:16] RayNCooper commented on #1082
Hey @eldadfux, thanks for the quick response. I was talking about adding headers to CORS in general, since this would enable Sentry to characterize and push my app's XHR request performance to a dashboard.

Apart from an official implementation, what would your suggestion be regarding manually adding to CORS headers?

[2021-04-10 20:35] eldadfux commented on #260
We have already released this feature on some SDKs (Node, Dart), should be available on all SDKs alongside the release of Appwrite 0.8

[2021-04-10 20:54] Asored-D opened #1083 "oAuth2 Authentication does not work for Android (Missing Redirect URL)"
## 🐛 Bug Report

I'm using Appwrite's oAuth2 authentication system for my Flutter app. In general for Apple devices everything works like a charm. But I found some problems for Android devices. While for apple devices I can authenticate, all my Android devices shows me "Missing redirect URL". I think the problem is the external browser which opens. Apple opens an In App Browser, but Android an ext

[2021-04-10 20:59] eldadfux commented on #1083
Hey @Asored-D,

Have you added this part to your Android manifest file?

![image](https://user-images.githubusercontent.com/1297371/114284443-ab7fa180-9a58-11eb-870b-37033f7a703e.png)

You can also use the Flutter Playground to try and debug if this is an issue with Appwrite or your implementation: https://github.com/appwrite/playground-for-flutter

[2021-04-10 21:03] Asored-D commented on #1083
Wow. This was a crazy fast answer! 😁 Mans thanks @eldadfux ... I've checked it. And.... yes and no! I've added this part to my AndroidManifest, but...last week I've changed my server environment and I got a new Appwrite project ID...so the ID on appwrite-callback-{id} was wrong! I will change this and try again.

Many thanks!

[2021-04-11 05:34] eldadfux commented on #1082
You might be able to user Traefki to add custom header, take a look here: https://doc.traefik.io/traefik/middlewares/headers/

[2021-04-11 06:53] Asored-D commented on #1083
Confirmation: It works. Thank you for this good advice. 👍

[2021-04-11 06:53] #1083 closed

[2021-04-11 09:32] nadavgolden opened #1084 "Custom SSL certificates for HTTPS"
## 🚀 Feature
Enable having custom certificates from a local CA server instead of Certbot.

## Have you spent some time to check if this issue has been raised before?
Searched documentation and issues history here, didn't find any similar issues.
Read some of the source code and available config flags, didn't see any that are relevant.
Went to the source code and it seems like Certbot is the only o

[2021-04-11 09:35] nadavgolden commented on #1084
I guess you can use a reverse proxy with a custom certificate so that:
`AppWrite (self-signed)<- nginx (trust insecure upstream connection; use custom certificate) <- client (HTTPS)`
But I'd like to avoid it

[2021-04-11 12:08] eldadfux commented on #1084
Agree, this can be a great solution. You can also use the Traefik container to set custom certificates like explained here:
https://medium.com/@clintcolding/use-your-own-certificates-with-traefik-a31d785a6441

[2021-04-11 13:38] RayNCooper commented on #1082
Thanks! I would consider this issue resolved then.

[2021-04-11 13:38] #1082 closed

[2021-04-11 17:50] kutear opened #1085 "createSession with error response `Too many requests`"
## 🐛 Bug Report

flutter sdk createSession with error
[code]

## Have you spent some time to check if this issue has been raised before?

YES

## To Reproduce

appwrite version 0.7.2
appwrite flutter 0.4.0

## Expected behavior

login fail

## Actual Behavior

login success

## Your Environment

appwrite install on ubuntu 20.04

[2021-04-11 18:37] eldadfux commented on #1085
Hey @kutear, the `createSession` endpoint is limited to 10 request per hour for each unique email address. This is meant to protect your endpoint from malicious users trying to hack an account.

As mentioned here:
https://appwrite.io/docs/client/account?sdk=web#accountCreateSession
![image](https://user-images.githubusercontent.com/1297371/114316800-d4ae3980-9b0d-11eb-9a12-4d166b4fbca5.png)

You c

[2021-04-12 03:30] kutear commented on #1085
![image](https://user-images.githubusercontent.com/8605389/114336764-3c9e6780-9b82-11eb-814a-0f0625e5bfe9.png)
@eldadfux
But i never reach limit, and i never login success.

[2021-04-12 04:46] lohanidamodar commented on #1085
@kutear If you make 10 failed requests due to incorrect credentials, that will also be counted towards the limit. I believe before getting to many request errors, you must be getting some other invalid requests.

[2021-04-12 04:50] kutear commented on #1085
@lohanidamodar
I created other user with different email, and get same error when i login.  it's because my email stutus is `unverified`?

[2021-04-12 05:07] eldadfux commented on #1085
Status `unverified` is not causing 429 errors. Any chance someone else on your server is making those bad requests and not you?

[2021-04-12 05:14] kutear commented on #1085
@eldadfux  no, only i use my server and do request, I checked my server logs, just had my request record.

[2021-04-12 11:52] TorstenDittmann commented on #1063
Working on this right now 👍🏻

[2021-04-12 15:57] kutear commented on #1085
![image](https://user-images.githubusercontent.com/8605389/114423528-d77e5c80-9be9-11eb-8777-3b484a729338.png)
So weird. I never requet from last one hour, but I still get this error, and http header show it's remain 0.
![image](https://user-images.githubusercontent.com/8605389/114424213-7acf7180-9bea-11eb-9e0e-26f124c08b1d.png)

[2021-04-12 16:47] eldadfux commented on #1085
@kutear are you sure you don't any script/page that is trying to constantly login? maybe you have a login call on app init?

[2021-04-12 17:37] kutear commented on #1085
base on the logs of my server, without other's invoke, only had one my record.
you can see my shotscreen, from `12:51` to `15:38`, only had a few request. and i still get error at 15:38.

[2021-04-17 00:58] thesmartrenovation commented on #934
Hello, I have the same problem today, could you tell me how you solved it? I have a default installation of AppWrite

[2021-04-17 03:24] klnfreedom commented on #934
Turn off anti-virus

[2021-04-18 05:03] thesmartrenovation opened #1096 "Filter documents by boolean"
Guys, is there any way to filter documents by a boolean attribute?

I have a document with a boolean attribute to know if the user is active or not.

I only need to load the documents that have the rule closed in false.

I'm trying this mode

let response = await database.listDocuments(
      collectionID,
      ['closed=false']
    );

but it doesn't work properly

[2021-04-19 04:25] #1047 closed

[2021-04-19 08:12] TorstenDittmann commented on #1096
Can you try using `'closed=0'`?

[2021-04-19 18:26] thesmartrenovation commented on #1096
'closed=0' did not work. But it works with 'closed!=1' XD

[2021-04-19 19:03] TorstenDittmann commented on #1096
Ah okay!

I think this needs to be better addressed in the docs 🙏🏻

[2021-04-20 10:21] lohanidamodar commented on #946
@honkevin We have a implementation for user-agent on this branch
https://github.com/appwrite/sdk-for-flutter/tree/feat-user-agent. You can use direct dependency from Github as
[code]
If you like please test and provide us feedback on the PR
https://github.com/appwrite/sdk-generator/pull/153

[2021-04-21 07:19] MaddPenguin opened #1098 "Connection timed out when trying to deploy to Digitalocean"
I'm trying to deploy Appwrite on my VPS (**Docker 19.03.12 on Ubuntu 20.04**). Somehow, this error pops up.

Full error:

Appwrite has no issue running locally on my machine. The error only occurs when deploying to DO.

I've tried disabling the firewall on my VPS, but it did nothing.

[2021-04-21 09:41] #1098 closed

[2021-04-21 10:32] TafadzwaD opened #1100 "Long function processing time if there are other functions being triggered by the same event"
## 🐛 Bug Report

Long function processing time if there are other functions being triggered by the same event

## Have you spent some time to check if this issue has been raised before?

(Have you googled for a similar issue or checked our older issues for a similar bug)

## Detailed Explanation

I have three functions which are triggered by the same event (usercreate and accountcreate). The event

[2021-04-21 14:59] TorstenDittmann commented on #1096
Fixed with #1097

[2021-04-21 22:52] zainab81 commented on #1068
Hi

[2021-04-22 11:28] lohanidamodar opened #1104 "Error During Account Creation"
## 🐛 Bug Report

During one of my tests, I received weird error during account creation. Following is the error message
[code]

## Have you spent some time to check if this issue has been raised before?

YES

## To Reproduce

1. Create account with `email1` and password
2. Update email of the account to `email2`
3. Delete the account and
4. Finally try again to create the account with `email1` and

[2021-04-23 21:14] wess commented on #1009
Hitting this too, I would like to be able to use the response token to do things like post to Facebook/instagram.

Thanks!

[2021-04-23 21:59] wess opened #1106 "No access to Social/OAuth access token for making requests (FB Api for example)"
## 🐛 Bug Report

There is no way to get the access token you need in order to make api calls to services you used for authentication.

## Have you spent some time to check if this issue has been raised before?
I have searched google, and through Appwrite issues

## To Reproduce
Use Facebook to authenticate, then use the access token returned from Facebook to make a request on behalf of the user.

[2021-04-23 22:07] eldadfux commented on #1106
Hey @wess , Thanks for reaching out!

Please take a look at this already **merged** pull-request which will be available in our upcoming v0.8 release: https://github.com/appwrite/appwrite/pull/922

We have decoupled the OAuth access-token from the user object and have attached it to the session object and now we also expose it (under the `providerToken` attribute) for the very same reason you have

[2021-04-23 22:12] eldadfux commented on #1104
I think this happens because of a legacy behavior we had trying to protect account hijacking. Since we have a unique ID per new user and no built-in data is being coupled with an email that should no longer be a concern. @TorstenDittmann got any other thoughts on this?

[2021-04-23 22:14] TorstenDittmann commented on #1104
Iirc we store the unique `$id`, not the email : 🤔

[2021-04-23 22:15] eldadfux commented on #1085
@kutear don't really have any more ideas. I can't think of a reason why the server will generate API calls just like that on an isolated environment. Can you try and check what IP is generating the calls?

[2021-04-23 22:18] eldadfux commented on #1104
We use the email as a unique key to avoid duplications, I'm not sure we clean it up: https://github.com/appwrite/appwrite/blob/0.8.x/app/controllers/api/account.php#L124

[2021-04-26 19:57] prooshani opened #1108 "Failed to install Appwrite dockers"
Hi,
Recently I have faced a weird problem installing AppWrite 0.7.2 on CentOS 7.8 (and Ubuntu 20.4) .
I have successfully installed docker ... and test it running and all but, after trying to install the Appwrite it comes to an error like : toomanyrequests: `You have reached your pull rate limit. You may increase the limit by authenticating and upgrading: https://www.docker.com/increase-rate-limit

[2021-04-26 21:38] eldadfux commented on #1108
This is a Docker limit that was introduced a few months ago. If you will login with your Docker Hub user you should get a higher rate-limit which should solve the issue.

[2021-04-26 21:41] prooshani commented on #1108
mmmm...
I have docker hub user but I did not know that if I should login with my user over my cloud server too...
let me try and inform you.
Thanks.

[2021-04-26 21:49] prooshani commented on #1108
OK...
Logged in successfully using this command:
`docker login --username=<dockerhubusername>`

But the same result after trying to install AppWrite:

[code]

[2021-04-26 21:58] prooshani commented on #1108
Because it looks immediately kill the installation process with mariadb... when I am trying to run : `docker run appwrite/mariadb` to see if there is an error there and I am receiving this:
[code]

I don't know if it helps you identify the problem roots.

[2021-04-26 23:13] prooshani commented on #1108
Update:
By manually pulling every single docker image before running AppWrite installation the problem resolved.
for who may see this later:
before running AppWrite installation docker code you need to use `**docker pull <docker images>**` to resolve the problem.
like this:
[code]
and etc...
Then try to run AppWrite installation through docker run ...

Thanks.

[2021-04-26 23:14] #1108 closed

[2021-04-27 08:02] eldadfux commented on #410
After we release v0.8 we will be able to support providers not returning an email or ID (reddit, instagram) and treat them similarly to how we treat anonymous authentication.

[2021-04-27 08:07] eldadfux commented on #410
Hey @hack3r-0m are you still interested in working on the Zoho, Stripe, Imgur, Disqus, and Netflix adapters?

[2021-04-27 14:38] cambo2015 opened #1110 "Stripe Integration"
## 🚀 Stripe Integration 🦓

Ability to allow user to get stripe payments api with one click. The click will enable stripe endpoints in your app.  /V1/stripe/make-pi
V1/stripe/user/create

## Have you spent some time to check if this issue has been raised before? Yes

(Have you googled for a similar issue or checked our older issues for a similar bug) yes.

### Have you read the [Code of Conduct](ht

[2021-04-27 20:33] #1106 closed

[2021-04-27 20:33] wess commented on #1106
Closed for access coming with PR #922 and release 0.8

[2021-04-29 13:56] saibotma opened #1112 "Validate JWT on external API backend"
## 🚀 Feature

We use the JWT to authenticate the user on our API Server. Currently, we call `/v1/users/{userId}` in order to "validate" the JWT and get the connected `userId`.

I was wondering why we actually not just validate the JWT on our API Server and save up sending the extra request to Appwrite.
I quickly tried it out and used the secret set in `.env` to validate the JWT and then got the `u

[2021-04-29 14:40] saibotma commented on #1112
Do you plan to provide JWK in the future? This would be great because then our API Server would not need the secret to validate the JWT but could just use the public key from the Appwrite instance.

[2021-04-30 17:54] cambo2015 opened #1114 "Cannot install cli using powershell; produces error"
## 🐛 Bug Report

(A clear and concise description of what the bug is)I cannot install the CLI via powershell. the commend I used was this:
[code]
this is the error it produces:

[code]

## Have you spent some time to check if this issue has been raised before? yes

(Have you googled for a similar issue or checked our older issues for a similar bug) yes

## To Reproduce
 just enter
[code]
 into pow

[2021-05-04 08:04] TorstenDittmann commented on #1114
Thanks for the report!

Sorry that I couldn't answer earlier, I am moving right now to a new place and this issue popped up while I was gone 😅

The bug got fixed here: https://github.com/appwrite/sdk-generator/pull/161

Before this gets released, feel free to use this script: https://gist.github.com/TorstenDittmann/6279f63e58af09a6dc9129823ce79c60

[2021-05-04 13:28] cambo2015 commented on #1114
Hey no problem🥳 Thank you! Appwrite is amazing!

[2021-05-05 06:43] #946 closed

[2021-05-05 13:16] browasaki opened #1121 "Custom variables are undefined in process.env with Node.js 14.5 runtime"
## 🐛 Bug Report

**Custom variables are undefined in process.env with Node.js 14.5 runtime**

If you create a **Variable** into *Functions > Settings page* its value is always undefined from *process.env* during the runtime.

## Have you spent some time to check if this issue has been raised before?

Yes, I've talked with the support on Discord.

## To Reproduce

- Create a Function for Node.js ru

[2021-05-05 18:02] #1110 closed

[2021-05-05 18:03] cambo2015 commented on #1110
Closing. It'd be a nice feature but maybe more in the future.

[2021-05-06 13:54] 2shrestha22 opened #1123 "Renaming key in document settings breaks the database."
## 🐛 Bug Report

I have documents with label and key `name` renaming `key` makes data in documents to disappear from appwrite dashboard (haven't tried in actual code).

## Have you spent some time to check if this issue has been raised before?

Tried multiple times.

## To Reproduce

Rename `key` of current document to something different.

## Expected behavior

My existing data should be appear i

[2021-05-06 14:45] kodumbeats opened #1124 "Problems with a zip archive of docx files"
## 🐛 Bug Report

Something happens during file upload/download to affect certain filetypes. When uploading a ~5MB zip of `.docx` files and redownload, the Word files are corrupted. Could it be an edge case of gzip? https://github.com/appwrite/appwrite/blob/c961382fb7a59ce908b4982a572e02e6e0feacd5/app/controllers/api/storage.php#L110-L120

## Have you spent some time to check if this issue has been

[2021-05-09 11:07] 2shrestha22 opened #1132 "Incorrect command when Cloud Function deployed with Appwrite CLI"
## 🐛 Bug Report

Deploying cloud function using Appwrite CLI creates incorrect command. Command given as `node index.js` is converted to `node%20index.js` and this gives output in logs; `OCI runtime exec failed: exec failed: container_linux.go:367: starting container process caused: exec: "node%20index.js": executable file not found in $PATH: unknown
`

## Have you spent some time to check if this

[2021-05-09 11:11] lohanidamodar commented on #1132
@christyjacob4 This happened to me too. I believed this error was already fixed sometime back.

[2021-05-11 17:29] thesmartrenovation opened #1136 "SMTP Disconnected - 0.7.2"
Hello, I hope you can help me, my application today does not send emails. I checked the server and the SMTP service appears disconnected.

![image](https://user-images.githubusercontent.com/57076657/117859320-72ec0700-b254-11eb-8223-f23e1bcfd04d.png)
![image](https://user-images.githubusercontent.com/57076657/117859337-77182480-b254-11eb-8cf4-71eaac3cedb8.png)

I am using my own smtp server. Yeste

[2021-05-11 20:33] kodumbeats commented on #1136
Troubleshooted together on Discord. `docker-compose logs appwrite-worker-mails` had the useful error message to debug.

[2021-05-11 20:33] #1136 closed

[2021-05-11 20:51] dimm0 commented on #899
Getting this too, and there's nothing in logs... I'm running in kubernetes. Trying to debug

[2021-05-11 20:54] Hip2thahoppa commented on #1136
Interesting.pull up the logs minutes before the error occurred.

Sent from Yahoo Mail for iPhone

On Tuesday, May 11, 2021, 10:29 AM, thesmartrenovation ***@***.***> wrote:

Hello, I hope you can help me, my application today does not send emails. I checked the server and the SMTP service appears disconnected.

I am using my own smtp server. Yesterday it was working correctly and today it appears

[2021-05-12 06:44] eldadfux commented on #1136
@Hip2thahoppa you can follow this guide: https://dev.to/appwrite/30daysofappwrite-getting-started-with-smtp-1e2e

[2021-05-12 14:51] christyjacob4 commented on #1132
@2shrestha22  Thanks for reporting this.

@lohanidamodar let me take a closer look 👍

[2021-05-13 13:24] doricci commented on #461
Also waiting for this feature, any idea of the remaning work to have this feature ready?

Thank you very much for all the people working on this feature and on appwrite! :)

[2021-05-14 06:50] fishmandev opened #1144 "[WEB] Full list of users is not displayed"
## 🐛 Bug Report

Full list of users is not displayed (broken)

## Have you spent some time to check if this issue has been raised before?

Yes

## To Reproduce

When creating a new user, add a single quote to the field 'Name'

## Expected behavior

![image](https://user-images.githubusercontent.com/29619660/118232078-b9ca3e80-b498-11eb-87b5-996595e058a8.png)

## Actual Behavior

**3 users found**,

[2021-05-14 11:45] skyycodes opened #1146 "To get a member's team status"
## 🚀 Feature

To make a function which we can use to get a member's team status using his userid or email id.

## Have you spent some time to check if this issue has been raised before?

Yes

## Have you read the [Code of Conduct](https://github.com/appwrite/appwrite/blob/master/CODE_OF_CONDUCT.md)?

Yes

## Pitch

I think it should be implemented because it will help if i wants to execute a funct

[2021-05-15 00:27] eldadfux commented on #1144
Added a fix in #1147 - should be released in next version.

[2021-05-15 21:59] Luuuuuis commented on #1009
As I found out with the help of a nice team member (@christyjacob4), `createOAuth2Session` only redirects a user to the corresponding app. It cannot return any use, because it redirects to the consent screen which redirects back to the appwrite server. Then you can call `account.get()` to get their information.
So I would recommend to call nothing after `createOAuth2Session`.

Therefore it's actua

[2021-05-15 22:02] Luuuuuis commented on #1009
You can call in v0.8.x `account.getSessions()`. It does return the provider, providerUid aswell as the providerToken aka. access token. Unfortunately as of now it does not automatically refresh.

[2021-05-17 07:12] TorstenDittmann commented on #1146
Hey 👋🏻

Can you give an example of what the usage should look like?

[2021-05-17 08:05] skyycodes commented on #1146
Hey,
Example : I am hosting an event and i want that the event can only be joined if you are member of the team. So i want to make a check function from which we can find the if member/user is part of a team using his user id/session.

[2021-05-17 16:16] christyjacob4 commented on #1132
@2shrestha22  this PR should fix it 😄
https://github.com/appwrite/sdk-generator/pull/175

[2021-05-17 22:11] pspierce opened #1152 "Removing Collection Rule causes error when updating Document."
## 🐛 Bug Report

Removing a rule from a Collection causes an error when updating a Document within the collection.

## Have you spent some time to check if this issue has been raised before?

Yes.

## To Reproduce

1. Create a Collection giving it a number of Rules.
2. Create a Document and update.
3. Enter Settings on the Collection and "Remove" rules.
4. Attempting to update a document w/in the

[2021-05-18 20:39] rajdas98 commented on #1043
Hello Everyone! I have added ARM(multi-arch) support for many OS projects. I am interested to work on this issue. Feel free to assign me.

[2021-05-19 05:01] chhinsras opened #1160 "Blazor Webassembly Support"

[2021-05-19 09:12] tibs245 commented on #1121
Same with NodeJS Runtime and Deno Runtime too

## To Reproduce

    Create a Function for Node.js or Deno runtime with a console.log(process.env.MY_VARIABLE) or (Deno.env.get('MY_VARIABLE') and deploy it
    Add MY_VARIABLE with a custom value in Functions > Settings > Variables
    Test it and check

Expected behavior

To see the value of my defined MY_VARIABLE but I'm getting undefined.

## Your

[2021-05-19 09:42] lohanidamodar commented on #1121
@browasaki @tibs245 We have found and resolved the issue with this PR #1161.
You should be able to fix the issue in your current system by passing the `_APP_OPENSSL_KEY_V1` environment variable to your `appwrite-worker-functions` service in your `docker-compose.yml` file.

[2021-05-19 16:14] TorstenDittmann commented on #1160
Hey 👋🏻

Would a generic .NET SDK for Appwrite be sufficient? Also are both the Client and Server Side be needed?

[2021-05-19 16:16] TorstenDittmann commented on #1052
This got fixed with https://github.com/appwrite/appwrite/releases/tag/0.8.0 👏🏻

[2021-05-19 16:16] #1052 closed

[2021-05-19 16:16] TorstenDittmann commented on #1144
This got fixed with https://github.com/appwrite/appwrite/releases/tag/0.8.0 👏🏻

[2021-05-19 16:16] #1144 closed

[2021-05-19 16:24] TorstenDittmann commented on #1096
This got fixed with https://github.com/appwrite/appwrite/releases/tag/0.8.0 👏🏻

[2021-05-19 16:24] #1096 closed

[2021-05-19 16:24] TorstenDittmann commented on #1065
This got fixed with https://github.com/appwrite/appwrite/releases/tag/0.8.0 👏🏻

[2021-05-19 16:24] #1065 closed

[2021-05-19 16:25] TorstenDittmann commented on #1061
This got fixed with https://github.com/appwrite/appwrite/releases/tag/0.8.0 👏🏻

[2021-05-19 16:25] #1061 closed

[2021-05-19 16:25] TorstenDittmann commented on #1053
This got fixed with https://github.com/appwrite/appwrite/releases/tag/0.8.0 👏🏻

[2021-05-19 16:25] #1053 closed

[2021-05-19 16:25] TorstenDittmann commented on #1043
This got fixed with https://github.com/appwrite/appwrite/releases/tag/0.8.0 👏🏻

[2021-05-19 16:25] #1043 closed

[2021-05-19 16:26] TorstenDittmann commented on #962
This got fixed with https://github.com/appwrite/appwrite/releases/tag/0.8.0 👏🏻

[2021-05-19 16:26] #962 closed

[2021-05-19 16:27] TorstenDittmann commented on #511
This got fixed with https://github.com/appwrite/appwrite/releases/tag/0.8.0 👏🏻

[2021-05-19 16:27] #511 closed

[2021-05-19 16:27] TorstenDittmann commented on #271
This got fixed with https://github.com/appwrite/appwrite/releases/tag/0.8.0 👏🏻

[2021-05-19 16:27] #271 closed

[2021-05-19 16:28] TorstenDittmann commented on #1114
This got fixed with https://github.com/appwrite/sdk-for-cli/releases/tag/0.9.0 👏🏻

Just need to wait for CI to finish 🙂

[2021-05-19 16:28] #1114 closed

[2021-05-19 16:30] #794 closed

[2021-05-19 16:31] TorstenDittmann commented on #1132
We released the new CLI now https://github.com/appwrite/sdk-for-cli/releases/tag/0.9.0 👏🏻

[2021-05-19 16:31] #1132 closed

[2021-05-19 16:33] TorstenDittmann commented on #1038
We got JWT out now with the release of 0.8.0!

Now is the time to give more thoughts to this 👍🏻

[2021-05-19 17:01] luis-cruzt commented on #346
No plans on adding this? :(

[2021-05-19 21:06] SeveHo commented on #1108
I had the same issue:
[code]

But your suggestion didn't help. Instead after setting the `_APP_DB_ROOT_PASS` env Variable in my `.env` file, the compose environment spun up successfully.

@eldadfux I assume this should be fixed in the gist linked from the docs (https://gist.github.com/eldadfux/977869ff6bdd7312adfd4e629ee15cc5)

[2021-05-19 21:14] prooshani commented on #1108
That was just the first docker image appwrite pulls for installation.
After resolving the mariadb, pulling the other docker images leads to an ERROR.
I just mentioned mariadb while all others faced the same problems.
But, through pulling them manually, finally the installer finished the installation successfully.

[2021-05-20 03:03] chhinsras commented on #1160
Yes. it should be good to support both of server and client side

[2021-05-20 06:54] browasaki commented on #1121
@lohanidamodar great news!

[2021-05-20 16:18] JaviBonilla commented on #1037
Deployment of custom Docker images would be a great addition to Appwrite. The installation of some Python packages require compilation of C/C++ code or the installation of external libraries. This cannot be done without installing the appropriate software in the Docker image.

Most cloud platforms support both approaches, for example in Google Cloud, you can deploy a traditional function ([Cloud F

[2021-05-20 18:11] natgross opened #1168 "database sync"
Does AW db support syncing devices? So devices can work offline, something like MongoDB Atlas, or [ahem] Firebase?

[2021-05-20 19:04] eldadfux commented on #1168
We had initial thought on adding a separate library that will act as a proxy in front of Appwrite and sync any changes and provide offline cache depending on the user network status. The main idea was to handle it in separate layers to avoid added complexity to the API and avoid coupling.

[2021-05-20 20:25] natgross commented on #1168
Since Appwrite is being billed as a Firebase replacement, I was hoping that it also includes database, which then means offline syncing like Firebase.

[2021-05-21 00:44] PrivateGER opened #1169 "Get the access token of a successful OAuth login"
## 🚀 Feature

Currently, it isn't possible to get the access token that has been used to do an OAuth provider login for later use.

### Have you read the [Code of Conduct](https://github.com/appwrite/appwrite/blob/master/CODE_OF_CONDUCT.md)?

Yes.

## Pitch

This could be used to identify the user's external address. Doing it currently would be an unnecessarily complex two-step process when the ac

[2021-05-21 01:01] PrivateGER commented on #1169
Oh, I would like to claim this issue myself btw.

[2021-05-21 06:14] #1121 closed

[2021-05-21 07:38] alexweininger opened #1171 "Getting health of the ClamAV anti-virus when it's disabled gives a server error."
## 🐛 Bug Report

## To Reproduce

1. Disable ClamAV
2. call `health.getAntiVirus()` in the `node-appwrite` sdk. (only confirmed here so far, but probably is an error not just in sdk)

(Write your steps here:)

## Expected behavior

Should return something resembling "ClamAV disabled"

(Write what you thought would happen.)

## Actual Behavior
[code]

(Write what happened. Add screenshots, if appli

[2021-05-21 08:27] eldadfux commented on #1168
I'll leave this issue open, and we'll update when we make progress in this front.

[2021-05-21 11:59] kutear opened #1174 "databaseListDocuments#filters with "OR""
## 🚀 Feature

https://appwrite.io/docs/client/database#databaseListDocuments

![image](https://user-images.githubusercontent.com/8605389/119133375-66df2100-ba6e-11eb-8d34-2721176fa6d6.png)

how can i query database with `OR`， such as query by `type=1 OR type=2`

by the way, it's ready to support `IN`? ref: https://github.com/appwrite/appwrite/issues/826

## Have you spent some time to check if thi

[2021-05-21 18:00] #1169 closed

[2021-05-21 19:19] KShivendu commented on #516
Hey @eldadfux, I would like to give it a try. Can you assign it to me :)

[2021-05-21 19:29] PrivateGER opened #1176 "Discord OAuth logins do not trigger account.sessions.create events correctly"
## 🐛 Bug Report

Logging in using the Discord OAuth integration creates a working session and triggers any functions with the account.sessions.create trigger, however the functions do not receive any data in the APPWRITE_FUNCTION_EVENT_DATA environment variable.

However, logging into the same account using email/password authentication results in correct data being passed to the function.

## To

[2021-05-21 22:47] didair opened #1177 "Adding function tag fails with CLI"
## 🐛 Bug Report

appwrite functions createTag --functionId=60a8329772d93 --command='node hello.js' --code='/functions/'

Warning: Invalid argument supplied for foreach() in /usr/local/code/src/Parser.php on line 47

## Your Environment
CLI Version : 0.10.1
Server Version : 0.8.0

[2021-05-23 01:18] hsequeda opened #1179 "Upload file from the client with signed url."
## 🚀 Feature

Allow uploading of files from the client side using a signed URL generated
by a server side (storage) service. This will allow you to integrate the AppWrite
storage service without using the user service. This is great to uploading some heavy
files like movies or whatever you want.

**That feature exist on the S3 service of AWS.**

 https://aws.amazon.com/es/blogs/compute/uploading-t

[2021-05-23 18:06] Silfalion opened #1180 "Making new document inherit their collection's permissions if no write or read parameters were provided"
## 🚀 Feature

When creating a document through the Flutter SDK providing write and read permissions is necessary even if there was an authenticated session beforehand, it seems little bit repetitive to ask for them again. Another approach would be to automatically make the new documents inherit their collection's permissions.

## Have you spent some time to check if this issue has been raised befo

[2021-05-23 18:12] Alphapage opened #1181 "Install failed on raspberry pi"
Hello,
I try to install version 0.8 on raspberry pi.
First, I had to use --privileged command with docker run to fix a python error.
But now, I get:
`Pulling mariadb (appwrite/mariadb:1.2.0)...
no matching manifest for linux/arm/v7 in the manifest list entries
`
Thank you in advance for your help.

[2021-05-23 20:22] doricci commented on #1181
Hello @Alphapage
I had the same issue on my rpi 4 2gb, for me it was because raspian was the 32bit os.
To solve it I had to install Ubuntu server 20.04 64bit so the os would detect the ARM64/v8.
I think that it can also work with raspbian 64 bit, but I didn't tested it.

[2021-05-23 20:32] christyjacob4 commented on #1181
@doricci @Alphapage that's correct. Currently it works only in 64bit archs

[2021-05-23 21:38] maxlohchi opened #1182 "content://nextapp.fx.FileProvider/etc/hosts"
## 🐛 Bug Report

(A clear and concise description of what the bug is)

## Have you spent some time to check if this issue has been raised before?

(Have you googled for a similar issue or checked our older issues for a similar bug)

## To Reproduce

(Write your steps here:)

## Expected behavior

(Write what you thought would happen.)

## Actual Behavior

(Write what happened. Add screenshots, if

[2021-05-23 21:39] #1182 closed

[2021-05-24 05:58] designlook commented on #934
Also I had to set the permission when uploading the file.  Like so.

[code]

[2021-05-24 06:23] eldadfux commented on #1176
Yep, I can confirm this is a bug, this endpoint returns a 301 response and not a JSON payload and the event handler can't fetch the right data. Seems like we need to pass the payload manually like we do on DELETE requests where the response code is 204 (no content).

Like we do here:
https://github.com/appwrite/appwrite/blob/ed751160de92dcf6f492d45fba3a0e4b4562e7f7/app/controllers/api/account.php#

[2021-05-24 10:23] eladcandroid commented on #995
@christyjacob4 Looks great!

[2021-05-24 11:19] TorstenDittmann commented on #1180
Hey 👋🏻

We are aware of this and have already discussed possible solutions to make this more developer friendly 👍🏻

I am gonna leave this issue open, as long as we haven't taken care of it.

[2021-05-24 11:25] TorstenDittmann commented on #1179
Hey @hsequeda 👋🏻

To understand your suggestion correctly - you wan't to be able uploading a file without any permissions?

In short, you want to upload files anonymously?

[2021-05-24 11:28] TorstenDittmann commented on #1174
Hey @kutear 👋🏻

Currently we do not offer `OR` or `IN` operators for querying our database. We are planning to add this kind of features to our current database refactoring - you can read more about it https://github.com/appwrite/rfc/pull/21 here if you are interested.

Gonna leave this issue open, until we have addressed it 👍🏻

[2021-05-24 12:06] Silfalion commented on #1180
Hi 👋🏻

I see, thank you for taking it into consideration.

[2021-05-24 20:23] cambo2015 opened #1184 "Appwrite functions"
Hey again🎉
I'm trying to upload a function. I want to upload my function using the CLI but I don't want to create the function using the GUI first. I want to only create the function and upload the function using only the  CLI. Is there a way to accomplish this? I have tried but haven't been successful