[2020-05-24 18:49] eldadfux commented on #353
I think this might be the line causing this issue, will take a deeper dive a bit later:
https://github.com/appwrite/appwrite/blob/e6c06040ff1402266d771e75d3466af8f6cb3c67/app/init.php#L78

[2020-05-25 07:44] javib51 commented on #24
@eldadfux Sure! We can organize it from there. I'm a bit busy this week but I would find some time to work on it.

[2020-05-25 10:07] stevenspiel commented on #346
I'm not sure how the internals would work to get an offline database. I'm assuming that a copy of the data is being stored on the device? I also don't know much about content merge strategies. Seems like being able to fetch all updates since a specific time (i.e. since the user was last connected) could work, but is that something the client should have to worry about? Or were you thinking of quer

[2020-05-25 10:36] TorstenDittmann commented on #346
I was doing some research in the past regarding this, how established solutions handle it.

Seems like we can learn a lot from here:
https://github.com/amark/gun/wiki/Conflict-Resolution-with-Guns

[2020-05-25 10:50] davidmartos96 opened #354 "OAuth login with provided tokens"
With the recent integration with Flutter, it would be great to allow sign in after fetching an access token by other ways. For example with plugins such as https://pub.dev/packages/google_sign_in or https://pub.dev/packages/sign_in_with_apple
Those plugins launch a native dialog depending on the platform (iOS or Android), and have ways to retrieve access tokens client side.
Parse Server has an end

[2020-05-25 11:44] mc-drizzle commented on #326
Okay thanks a lot! It did work...

I'm now running on version 0.6.0
![Updated Appwrite](https://user-images.githubusercontent.com/65621952/82809770-236aca80-9e8d-11ea-82dd-7f2bb2e7bd59.PNG)

I ran the code from the parent directory of the original setup, and it managed to overwrite, but when I check back to the console, it's showing an older version:
![Appwrite Console Showing Old Version](https:/

[2020-05-25 13:14] eldadfux commented on #350
Done! 🥳ready to release with 0.6.2

[2020-05-25 16:36] eldadfux commented on #326
Maybe just a cache issue? Also 0.6.1 is already out :)

[2020-05-25 17:30] eldadfux commented on #348
@LuisCruz-23 I was double checking this. Is this the mail you get when you signup for the console or for your project? If this is the email you get when you sign for the Appwrite console, it's shouldn't be an issue.

We take the name of the project and add the 'team' string to it when we send emails. When you signup for the Appwrite console, the console has its own kind of internal 'project' objec

[2020-05-25 17:50] LuisCruz-23 commented on #348
This issue is when you invite a member to your project.

[2020-05-25 18:01] punitdiwan commented on #350
@eldadfux  Thanks for the same. Waiting for 0.6.2 release as I wanna give a try. I will also give a shot to new migrate command to upgrade the version as currently 0.6.1 release is installed.

[2020-05-25 18:15] eldadfux commented on #344
Pushed update to fix the UI cache issue. Will be out with 0.6.2.

[2020-05-25 18:39] eldadfux commented on #348
![image](https://user-images.githubusercontent.com/1297371/82836773-e70c8e00-9ecf-11ea-84c9-ea33f84030bc.png)

Is this the mail you refer to? how would you expect it to look like?

[2020-05-25 18:46] punitdiwan commented on #307
I thought to do some research regarding availability of cloud functions existing solutions. I consider to reuse the existing solutions. I have looked into openfaas, kubeless iron fuctions etc. Almost all uses kubernetes cluster. I thought to share my observation on this.

 I have dome some research on openfaas. Though it supports many languages and have API access, but the problem is that if uses

[2020-05-25 18:49] LuisCruz-23 commented on #348
Yes, that's the email i am referring to.

I think the "Thanks, Appwrite Team" should be changed to "Thanks, YOURPROJECT_TEAM"

[2020-05-25 19:01] mehmet-hakan-yazkan opened #355 "[Webhooks] account.sessions.create / account.sessions.delete missing in Dashboard"
Hi,
in the Documentation the Webhooks **account.sessions.create** and **account.sessions.delete** are mentioned. They are missing in the Webhooks Dashboard.

[2020-05-25 19:06] mc-drizzle commented on #326
Okay thanks, I cleared my cache and reloaded the console, it doesn't show the old version anymore but it says "**unknown**":
![Unknown Version](https://user-images.githubusercontent.com/65621952/82837964-f50be000-9eca-11ea-8647-53817e644404.PNG)
But as far as I can tell, I'm running on v0.6.0 as shown in the previous screenshot, and my Docker Dashboard shows v0.6.0 as well.

Thanks again! I really

[2020-05-25 19:11] eldadfux commented on #326
Thats great!

The UNKNOWN version bug was already fixed in 0.6.1...

[2020-05-25 19:22] mc-drizzle commented on #326
@eldadfux Your the BEST! I updated to v0.6.1, and we're all good here:
![V061](https://user-images.githubusercontent.com/65621952/82838792-93994080-9ecd-11ea-821a-fc8a82ae6022.PNG)

Your support has been **tremendous**, thanks again!

[2020-05-25 20:22] eldadfux commented on #355
Looking at this deeper, seems this issue was already detected by the team and a fix was ready for version 0.7. Don't see any reason why we should wait with this, so I moved the patch to the master branch for the release of 0.6.2.

[2020-05-25 23:16] nicolasgere commented on #24
So you don't need help at the end right?

[2020-05-26 06:59] mmcdon20 commented on #342
The flutter_web_auth plugin is not the only issue regarding flutter web support. [dart:io](https://api.dart.dev/stable/2.8.2/dart-io/dart-io-library.html) is also not supported on flutter web. And dart:io is used directly in the appwrite sdk-for-flutter, as well as the cookie_jar dependency.

I got the following error when building for flutter web:
[code]

[2020-05-26 07:34] punitdiwan opened #356 "Limit Project member to become Project Owner & from creating new projects."
**Problem**
        When new users gets added to the project from the Project member tab, after email verification, they become project owners and enjoys same privileges as the first Project Member.  Moreover, they can create new projects. In fact they become platform owns.

**Solution**
	 There are various possibilities which can be managed in the this platform. We can have two types of Users who

[2020-05-26 07:36] eldadfux commented on #342
Hey @mmcdon20 thanks for the feedback, are there any best practice in dart community for making this dependencies conditional for non-web builds? Is there any alternative for dart.io that can work on iOS, Android and Web?

[2020-05-26 07:42] bartektartanus commented on #342
There is one package that might help:
https://pub.dev/packages/universal_io

[2020-05-26 09:19] eldadfux commented on #342
* We can try and use universal_io instead of dart.io.
* Can we make cookie_jar and flutter_web_auth conditional? Found this,  https://twitter.com/aloisdeniel/status/1148598679454048256 but not too sure yet how it would work for us

[2020-05-26 15:26] mmcdon20 commented on #342
It seems that cookie_jar is possibly the only reason you are using dart_io, and it appears to be creating files on the local file system in order to store information about cookies. This is a problem, because within the browser you cannot simply create files and folders on the user's computer. I don't think the universal_io package will help you in this scenario.

Just to throw out an idea, perhap

[2020-05-27 09:16] javib51 commented on #24
@nicolasgere Not for now, but I will ping you on the new issue if I need it. Thanks for asking!

[2020-05-27 13:47] vincentnacar02 opened #357 "Event/Error Monitoring feature"
It's good to have an error/event monitoring dashboard in this app, something like Sentry.

[2020-05-27 20:17] eldadfux commented on #357
Sounds cool, let's keep this issue open for more community feedback.

Do you see this as something that logs all the Appwrite API errors (4**, 5**) or as a service that allow developers to report projects errors?

[2020-05-27 20:19] eldadfux commented on #356
Managing console roles is definitely something that should be on our roadmap. Would love to get more community feedback on this feature before we start to work on design and implementation.

[2020-05-27 20:21] eldadfux commented on #354
Sound like something very useful to allow developers max flexibility and freedom to create better UX for project users. Would love to get more community feedback on this before we start to talk about design and implementation.

[2020-05-28 10:11] eldadfux commented on #353
Fixed. Patch will be released with 0.6.2...

[2020-05-28 20:11] TorstenDittmann opened #360 "[Feature] Console PWA"
Due to the rise of PWA it would be neat to add a Service Worker to the Console.

This would enable users to install the Console with a shortcut and its own window.

[2020-05-29 07:27] TorstenDittmann opened #361 "[Bug] text overflow - amount of requests"
![Anmerkung 2020-05-29 091602](https://user-images.githubusercontent.com/1759475/83233085-78a92380-a18e-11ea-80ff-0371063ba33c.png)

Part of the Label is hidden when the amount is large.

[2020-05-29 12:43] eldadfux commented on #361
Fixed 🥳

[2020-05-29 12:49] eldadfux commented on #5
Just finished working on the Apple adapter 🤘

[2020-05-29 12:49] vincentnacar02 commented on #357
I see it as a service that we can call from our projects, but it is also good to have internal error reporting for Appwrite API :)

[2020-05-29 13:02] TorstenDittmann commented on #357
This would become essential in my opinion with the upcoming Cloud Functions 👍

[2020-05-29 21:17] int-20h commented on #307
Having these 'Cloud Functions' will be great.  However, whenever someone wants to do good amount of work or processing for each of the event, this can become heavy duty for AppWrite.  I would really like to see leveraging Redis as pub/sub for those events.  That way, I can use whatever languages/libraries I'm used to.  This way, these processing are done outside of AppWrite and I can subscribe to

[2020-05-29 21:24] int-20h commented on #357
It would be great to have a way to see all the events/error in some centralized place in AppWrite with stats and graphs.  Also, there should be a way to get to those logs so that I can ship them to some centralized logging system: ElasticSearch, Loggly, etc...
Pub/Sub by Redis can help on this as well!

[2020-05-30 08:24] punitdiwan opened #363 "[Feature] - Overall file Upload Limit to File Storage Service in MBs (Appwrite Buckets)"
Add file Upload Overall Limit to File Storage Service in MBs per project. On GUI side, we can add this feature in per Project Settings. It will be good to have this feature. If this feature is added, I can limit my clients from uploading unnecessary files. Because clients don’t delete files and just keep on uploading photos or pdfs. It get piled up and eats server space. Limit will force then to d

[2020-05-30 12:31] eldadfux commented on #307
@int-20h this is exactly what we plan to do. We already use Redis as a pub/sub for other internal work and we are planing to leverage this for the cloud functions as well, that way each Appwrite instance will be able to managed load and scale very easily for huge amount of bg jobs.

[2020-05-30 12:34] eldadfux commented on #307
@int-20h we plan to run functions code inside docker images for isolation. That way no developers with you on the Appwrite platform will have access to the host machines, and you can be protected from any malicious functions.

[2020-05-30 12:35] eldadfux commented on #307
Obviously this will also allow you to run code in any language you wish.

[2020-05-30 12:39] eldadfux commented on #357
We plan to have an API endpoint, webhooks and functions event for all logs, that way you could just write a function that will be execute any time a log is created (or periodically) and transmit the logs to any service you like.

Having ready-made integrations for elastic, loggly, and others can also be a great feature, new integrations could also be easily contributed by the community, so the off

[2020-05-30 12:46] eldadfux commented on #363
Me and @christyjacob4 just talked about this as part of a buckets feature (like storage directories) where each bucket has properties like rules. One feature we talked about was limit for a single uploaded file. Maybe having a limit per directory or per project could also be useful. @christyjacob4 what do you say?

[2020-05-30 13:29] christyjacob4 commented on #363
@eldadfux I suggest that we can have rules per storage bucket.

storage
|----- Bucket 1
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|-------- file1.jpg
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|-------- file2.jpg
|----- Bucket 2
|----- Bucket 3

For Bucket 1 , we can have rules as follows
[code]

WDYT @eldadfux ?

[2020-05-30 13:32] eldadfux commented on #363
I am trying to think about what conflicts we would have if we were to implement both scopes of limits one per project and one per bucket.

[2020-05-30 13:34] eldadfux commented on #363
We also need to think about migration of existing data for users of Appwrite 0.6.*. We would probably create a 'default' bucket and assign all files to it.

[2020-05-30 13:38] #326 closed

[2020-05-30 13:42] christyjacob4 commented on #363
Is there a requirement to have two scopes of limits?  Is there a scenario that cannot be covered by just having rules per storage bucket?

This can be a good start and I'd like to add onto it.
Let's say a project already has some storage data (in appwrite version < 0.6.*)

With the update we migrate all that to a default storage bucket ( eg: Bucket 1) as you mentioned.
Now, when this user creates

[2020-05-30 13:46] eldadfux commented on #363
I think we could just let him edit the default bucket (AKA Bucket 1) rules and name, that way we'll avoid any live data migration that are not part of the update+migration process between Appwrite versions.

[2020-05-30 13:53] christyjacob4 commented on #363
Okay yes I agree that we need to keep the migration simple. But my use-case was after the migration is done

Here's the use-case once again.

Bucket 1 contains
file1.jpg
file2.jpg
file3.pdf
file4.docx
file4.png

Lets say the user now creates  a new bucket Bucket 2 and added the following rules
[code]

We should provide an option "Hey do you want to also migrate your existing files which satisfy th

[2020-05-30 14:00] eldadfux commented on #363
Yeh, I think I get it. Same problem could also happen when you want to edit rules of an existing bucket, what will happen to files that don't follow the new updated rules?

[2020-05-30 14:14] eldadfux commented on #327
@nonereally please let me if this still happen in 0.6.1 so we could farther investigate.

[2020-05-30 14:17] eldadfux commented on #149
@christyjacob4 we should probably write something about this and release you work to the world.

[2020-05-30 16:41] punitdiwan commented on #363
@eldadfux  and @christyjacob4 Regarding the file Buckets, what maxFileSize Rule denotes, will it be monthly or overall or its individual file size

[2020-05-30 18:15] christyjacob4 commented on #363
in that case, let's keep it this way. Once you create rules for a storage bucket , you **CANNOT EDIT IT**

So if you feel you need to partition your files based on a different logic, you can ONLY create a new Bucket , where we provide the option to migrate the files .

wdyt @eldadfux ?

[2020-05-30 18:17] christyjacob4 commented on #363
@punitdiwan  I was thinking of individual file size. The biggest single file that can be uploaded to that bucket must be < maxFileSize.

This is just a suggestion. We will discuss the pros and cons here before moving to the implementation

[2020-05-30 18:27] christyjacob4 commented on #328
@duythien0912 Thanks for this idea. But we're trying to make appwrite APIs interact with as less 3rd parties as possible. We only interact with 3rd party providers for our OAuth endpoints which would be impossible to implement otherwise.

As @eldadfux suggested it's best to use the cloud functions service.

[2020-05-30 18:47] eldadfux commented on #363
We can have both max file size and max bucket, don't see any reason to favor one over the other. Both can be pretty beneficial for different use-cases, like storage cost of abuse protection. I really like the idea of having both.

Migrating files is something I would try to avoid at almost any cost. We won't be able to this smoothly with a big or even medium amount of files in a bucket during run

[2020-05-30 19:21] javib51 opened #364 "Create Kubernetes Operator"
Create a Kubernetes Operator to allow easy setup for appwrite stack in any Kubernetes cluster.

As discussed in issue #24.

[2020-05-30 19:27] javib51 commented on #364
My idea is to start with a MVP of the operator and add more functionality afterward.

For now, development setup:
- one instance of each container
- redis, influxdb and mariadb are included

What do you think @eldadfux?

[2020-05-30 19:38] punitdiwan commented on #363
Thank you for considering Bucket Size Rule as well, it will help to solve my use case.

Regarding Files migration to another bucket, since you are planning to make bucket rules immutable, I suggest you to allow users to download all the contents from a bucket in zip format. Once the user downloads all the contents of the bucket (for e.g. Bucket-1 ), he can delete bucket-1 and re-upload the content

[2020-05-30 19:43] eldadfux commented on #364
We would probably need Traefik container as well. ClamAV is going to be optional in next release (0.6.2).

You can use this compose file as a source of truth:
https://appwrite.io/docker-compose.yml

[2020-05-30 20:06] javib51 commented on #364
@eldadfux thanks! I'm going to follow it.

Another thing. For now, Im going to develop it in a private [repo](https://github.com/javib51/appwrite-operator). Whenever it's ready, we can decide where to place it.

[2020-05-30 20:35] eldadfux commented on #364
Sounds great, feel free to reach out on Discord in you want to chat more about this.

[2020-05-30 22:31] therhenals opened #365 "Disable the registration in appwrite panel."
Hello good, I installed appwrite, I want to know if it is possible to disable the registration in appwrite, ie not allow the creation of new projects from unknown users, because when I install I realize that is free for anyone to register in the panel, there is no admin account.

---
Appwrite Version: 0.6.1.125

[2020-05-30 22:33] thyybrandao opened #366 "[PRODUCTIVITY] "Copy / Clone" Projects, collections, documents"
Add an action button to clone / copy the project, collection or document. In the case of similar projects it would make everything more productive.

[2020-05-30 22:41] eldadfux commented on #366
This is one I want for myself :) would love to get more community feedback before we go to implementation.

Cloning a project should also clone API Keys, webhooks, tasks, etc..? Cloning project resources (documents, files, collections) will not be scalable so we might want to skip it.

Cloning a collection would also be nice, but again without its child documents, only name, rules, permissions.

C

[2020-05-30 22:45] eldadfux commented on #365
Yes you can. Check this out: https://medium.com/appwrite-io/you-can-now-restrict-access-to-your-appwrite-console-b8b447885289

We do have a plan to create an improved admin flow and dashboard in the near future.

[2020-05-30 22:56] therhenals commented on #365
Thank you very much for the answer, I have another question, it is possible to deactivate the registration by email on the client side of a project, which only allows the login.

[2020-05-31 04:53] punitdiwan commented on #366
Please create an API endpoint for cloning the project. I always wanted to have API endpoint for creating new project, by the time this request is under discussion, I suggest to have Project Cloning using API.

At the time of Cloning a project, we can pass params (in APi) or checkboxes (in console) to allow user to clone other resources like web-hooks and tasks. Collections along with rules will be

[2020-05-31 04:59] eldadfux commented on #365
Please open a separate issue about this idea, I can see how this can be beneficial, but please provide more information about your use-case and thoughts. This will also allow us to get more feedback from other community members before thinking of implementation.

[2020-05-31 06:34] eldadfux commented on #361
Version 0.6.2 is out 🚀🎉

https://dev.to/eldadfux/announcing-the-release-of-the-appwrite-backend-server-v0-6-2-with-support-for-sign-in-with-apple-27cc

Full change log:  https://github.com/appwrite/appwrite/releases/tag/0.6.2

[2020-05-31 06:35] #361 closed

[2020-05-31 06:35] eldadfux commented on #355
Version 0.6.2 is out 🚀🎉

https://dev.to/eldadfux/announcing-the-release-of-the-appwrite-backend-server-v0-6-2-with-support-for-sign-in-with-apple-27cc

Full change log:  https://github.com/appwrite/appwrite/releases/tag/0.6.2

[2020-05-31 06:35] #355 closed

[2020-05-31 06:35] eldadfux commented on #353
Version 0.6.2 is out 🚀🎉

https://dev.to/eldadfux/announcing-the-release-of-the-appwrite-backend-server-v0-6-2-with-support-for-sign-in-with-apple-27cc

Full change log:  https://github.com/appwrite/appwrite/releases/tag/0.6.2

[2020-05-31 06:35] #353 closed

[2020-05-31 06:35] eldadfux commented on #350
Version 0.6.2 is out 🚀🎉

https://dev.to/eldadfux/announcing-the-release-of-the-appwrite-backend-server-v0-6-2-with-support-for-sign-in-with-apple-27cc

Full change log:  https://github.com/appwrite/appwrite/releases/tag/0.6.2

[2020-05-31 06:35] #350 closed

[2020-05-31 06:36] eldadfux commented on #344
Version 0.6.2 is out 🚀🎉

https://dev.to/eldadfux/announcing-the-release-of-the-appwrite-backend-server-v0-6-2-with-support-for-sign-in-with-apple-27cc

Full change log:  https://github.com/appwrite/appwrite/releases/tag/0.6.2

[2020-05-31 06:36] #344 closed

[2020-05-31 06:36] eldadfux commented on #331
Version 0.6.2 is out 🚀🎉

https://dev.to/eldadfux/announcing-the-release-of-the-appwrite-backend-server-v0-6-2-with-support-for-sign-in-with-apple-27cc

Full change log:  https://github.com/appwrite/appwrite/releases/tag/0.6.2

[2020-05-31 06:36] #331 closed

[2020-05-31 20:36] FernandoSini opened #367 "Suggestion Profile Avatars"
I think would be interesting upload my avatars from pc to use on profile, leaving gravatar as an extra option to add avatars to the profile.

[2020-06-01 06:35] Vaytrex opened #368 "Enable Force HTTPS Option in Appwrite"
I found that there's no any option I am allowed to force HTTPS in Appwrite.
I think this is somewhat a must feature. Maybe someone can make this?
Thanks

[2020-06-01 06:37] eldadfux commented on #368
This is something we used to have but was removed mistakingly instead of being optional. I'll add an env var to enable the server to add a 'Strict-Transport-Security' header that will force the HTTPS connection.

[2020-06-01 20:55] eldadfux commented on #368
Fixed, will be released in next version.

[2020-06-01 21:54] AnatoleLucet opened #370 "Could not open input file: /install/bin/installer"
Appwrite seems great, but unfortunately I'm unable to install it on my local machine.

When running (from the doc):
[code]

I get this error: `Could not open input file: /install/bin/installer` (there's literally nothing else, Docker only returns this message).

I'm on Ubuntu 20.04:
[code]

And I'm on Docker v18.09.9:
[code]

Maybe I'm missing something?
Don't hesitate if you need more info.

[2020-06-01 22:00] eldadfux commented on #363
@punitdiwan each user will be able to delete or create file using the existing API, so we have max flexibility in this area as of today.

Zipping all the file on a storage bucket with gigabytes of data will kill an Appwrite server on low hardware or no scalability applied and will also potentially be a very slow process. As long as we have the API available, each developer can do whatever best fit

[2020-06-01 22:05] eldadfux commented on #363
This is what we have so far:

- [ ] Device / Location
- [ ] Max File Size
- [ ] Max Bucket Size (update on delete / on create)
- [ ] Encryption
- [ ] Allowed Files (per extension, mimetypes, or both?)
- [ ] AntiVirus Scan (enabled/disabled) - Available only if setup hasn’t disable ClamAV
- [ ] Read (permissions) maybe we can leave this only at file level?
- [ ] Write (permissions) maybe we can lea

[2020-06-02 00:53] int-20h opened #371 "Default collection permission to user that inserted the collection"
Currently we can set permissions to the collection and also to the document. However, if we want to keep documents to the respective user that created them, the application would have to do that in code. Rather than relying on the application to set the read/write to the user creating the document, AppWrite could have a configuration flag/toggle button that sets the Read / Write to the user that i

[2020-06-02 07:13] punitdiwan commented on #363
I suggest add two Keys Max Bucket Size Renaming and Max Bucket Size Allowed. The Max Bucket Size Remaining ( updates on delete / on create) and Max Bucket Size Allowed remained fixed and will be defined on Bucket Creating time from API or Console.

This will make the things more verbose.

[2020-06-02 08:31] punitdiwan commented on #370
@AnatoleLucet Its Docker related issue. I have faced this issue before. How did you installed Docker at your VPS? I suggest to uninstall Docker and install docker-ce. Please refer this DigitalOcean link for installation [How To Install and Use Docker on Ubuntu 20.04](https://www.digitalocean.com/community/tutorials/how-to-install-and-use-docker-on-ubuntu-20-04)

Then install AppWrite, hopefully it

[2020-06-02 10:05] AnatoleLucet commented on #370
Yes that worked. I've removed Docker with the help of [this Askubuntu post](https://askubuntu.com/questions/935569/how-to-completely-uninstall-docker) and re-installed it via the DigitalOcean article you sent. Thank you!

[2020-06-02 10:05] #370 closed

[2020-06-02 15:18] frasza opened #372 "Console/ ULR path doesn't display list of projects"
Hey,

While http://localhost/console displays list of projects, http://localhost/console/ doesn't.

**localhost/console/ result (while having active project):**
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/22049682/83537587-0a998f00-a4f5-11ea-88e4-e5daffc20c39.png">

[2020-06-02 15:20] eldadfux commented on #372
Thanks for reporting this, seems like a routing issue on the client side. We'll push thin to version 0.7.0 queue.

[2020-06-02 16:00] AnatoleLucet opened #373 "UI improvement"
So first of all; in my opinion the ui feels nice (it's the main reason why I've decided to learn Appwrite instead of Parse, Kuzzle, and more... (yes, uis makes a big diff for me 🙃)), it always feels like the product is finely tuned when the user experience a good ui. But I believe some improvement can be made.

Watch-out the animations feel a bit slower on the gif then it really is.

## Modals ani

[2020-06-02 21:31] ikarelin opened #374 "Cannot install AppWrite (appwrite.io IP is blocked in Russia)"
$ sudo docker run -it --rm     --volume /var/run/docker.sock:/var/run/docker.sock     --volume "$(pwd)"/appwrite:/install/appwrite:rw     -e version=0.6.2     appwrite/install
Starting Appwrite installation...
Choose your server hostname: (default: 'localhost')

Choose your server HTTP port: (default: 80)

Choose your server HTTPS port: (default: 443)

Choose a CNAME target for your custom domains

[2020-06-03 02:50] eldadfux commented on #374
What OS are you using?

[2020-06-03 03:13] eldadfux commented on #373
UI is a huge part of everything we try to do in Appwrite. I really like your suggestions and it will be great if you'll help by submitting PR's.

[2020-06-03 03:14] eldadfux commented on #373
It would be easier if you could submit a PR per feature, so we could carefully validate every change across the entire console.

[2020-06-03 03:21] eldadfux commented on #371
This issue resembles to #246, but I think your idea might be a good solution or at least a good direction to follow.

I'm not sure it's verbose enough for a developer to understand by himself, but if we could think of some terms that will be more obvious it might work well.

@christyjacob4 what do you think?

[2020-06-03 04:28] ikarelin commented on #374
I've tried on Debian 10 and Zorin OS 15.2 (which is based on Ubuntu 18.04) with the same result.

[2020-06-03 04:35] eldadfux commented on #374
Can you access the docker-compose file manually from this hosts?
https://appwrite.io/docker-compose.yml

[2020-06-03 04:36] eldadfux commented on #374
And if you could check your docker CLI version, that might be helpful...

[2020-06-03 05:33] int-20h commented on #371
Yes, #246 outlines the same need/want as this issue.  I'm providing a possible solution for this ask.  The name should either be more descriptive or add more info at the "i" icon hover.

[2020-06-03 17:23] punitdiwan opened #375 "Add Password Field in accept invitation Page"
We need to add Password and Confirm Password fields in the Accept Invitation Page.
![AcceptLink](https://user-images.githubusercontent.com/49054503/83667722-b093da80-a583-11ea-82f9-ff1782d21bac.png)

When I added new project member, after accepting the invitation link,, sent on mail, I directly went into the Console. From there if I logs out, I don’t know my password for the next login.  Moreover

[2020-06-03 18:50] eldadfux commented on #375
Two situation where this might create some conflicts:
1. what should we do if a user already has an account and he is logged in?
2. what should we do if a user already has an account and he is not logged in?

Should we limit invite confirmation to only logged in users and require login/registration before showing invite confirmation?

[2020-06-03 18:59] ikarelin commented on #374
No, I cannot access the file (tried with wget).
The site is https://appwrite <https://appwrite/>.io  is  working in browser on the same machine.

Maybe the problem is that I’m using http proxy in my network, so it can open the site but cannot download docker file.

Tried on ubuntu 18, the same result.

[2020-06-03 19:31] eldadfux commented on #374
Can you tell if the site returns any status code error?

[2020-06-03 19:39] ikarelin commented on #374
https://appwrite.io is not opening from Russia (even the main site).
That’s why I’m using my proxy located in UK.
So proxy opening the main site, but cannot download the docker stuff.
Maybe I need to open some additional ports on proxy for this.

But when I’m trying to wget https://appwrite.io/docker-compose.yml <https://appwrite.io/docker-compose.yml>, the wget command just freezes and the port m

[2020-06-03 19:44] eldadfux commented on #375
After discussing more on Discord this flow should work better, allow the user to be fully aware to his account and password, and no major API change is required.

1. User gets an invite email -> User click the invite URL -> Invite page opens -> Check if user is logged
1.1. Yes -> Show confirmation form -> User click 'accept' button -> User joins the team
1.2 No -> Redirect user to login / registra

[2020-06-03 20:11] eldadfux commented on #374
Any idea how we can check why it's blocked?

![image](https://user-images.githubusercontent.com/1297371/83684310-7fe98a80-a5ef-11ea-9ea3-5e0fccb1bdc9.png)

[2020-06-03 20:17] ikarelin commented on #374
It’s blocked by decision of General prosecutor's office of Russia.
You can search on their site by decision number.

I think you’ll need to find a Russian speaking guy to do this for you ))

[2020-06-03 20:23] eldadfux commented on #374
I will try to check this with our hosting provider, maybe we can also switch IP address for the website.  Anyway you can try and install Appwrite manually by downloading the content of:
https://appwrite.io/docker-compose.yml, save it as `docker-compose.yml` and run:

[code]

You can also customise the setup by editing the env vars in the `docker-compose.yml`, you can check more about this here: ht

[2020-06-03 20:31] ikarelin commented on #374
Actually I want to install it on my local server to test.
I’m a Flutter developer and now I’m using Firebase to my production projects.

As I can see, Appwrite can almost replace it except the verification by phone and SMS messaging/push notifications.
But there is a lot of providers of this services.

So I want to give an Appwrite a try in one of my test projects.

Thank you for help and best reg

[2020-06-04 04:35] eldadfux commented on #374
I'm adding a copy of the Appwrite docker-compose.yml file, in case more users from Russia are having troubles accessing appwrite.io and don't have access to any VPN service:
[code]

[2020-06-04 06:29] eldadfux commented on #374
@ikarelin I have changed the IP for appwrite.io from my end seems like it should be accessible from Russia, can you confirm?

[2020-06-04 08:57] ikarelin commented on #374
Yep, now the site is accessible without vpn.
I’ll try to run docker a bit later and let you know if it’s working.

[2020-06-04 11:22] eldadfux commented on #372
Issue fixed on master, waiting for next version to be released.

[2020-06-04 11:57] ikarelin commented on #374
Yes, now it’s working !

I was able to install it with the docker command without any issues.
Thank you !

[2020-06-04 11:59] eldadfux commented on #374
That's Great! Thank you for helping us detect the blocked IP issue! 🙏🏻 Hopefully now we will get more than 10 Russian visitors on appwrite.io 😅

[2020-06-04 12:27] #374 closed

[2020-06-04 12:28] eldadfux commented on #340
Released with version 0.6.2 🥳

[2020-06-04 12:28] #340 closed

[2020-06-04 21:26] eldadfux commented on #367
I was thinking of adding a new initials route to the current avatars service, and maybe add a redirect URL for Gravatar (or even a proxy).

You can currently add an avatar using the storage file (https://appwrite.io/docs/client/storage?sdk=web#createFile) and save a reference to the file in the preferences endpoint (https://appwrite.io/docs/client/account?sdk=web#updatePrefs). This should be prett

[2020-06-04 22:30] FernandoSini commented on #367
Nice, Good to know. It will be very useful. Thanks.

[2020-06-05 11:36] TorstenDittmann opened #376 "[BUG] Console graph cuts off on mobile view"
The monthly amount of requests cuts off on a mobile viewport (>1200px width).

![Unbenannt](https://user-images.githubusercontent.com/1759475/83872057-8a13a200-a731-11ea-98a1-7dae384fe8e8.PNG)

[2020-06-05 13:25] cshubhamdhanetia opened #377 "Appwrite installation Failed on Windows 10 using Docker Desktop"
There is an issue installing traefik service.
![image](https://user-images.githubusercontent.com/14253195/83881322-11770a80-a75e-11ea-9172-aeabef6eab60.png)

![image](https://user-images.githubusercontent.com/14253195/83881458-51d68880-a75e-11ea-9f06-a7d15fcfc19f.png)

[2020-06-05 15:06] punitdiwan commented on #377
I am currently using Docker Desktop on Windows. It works fine on mine. Here is my Docker Version:
**Docker version 19.03.8, build afacb8b**

What is yours? Check your Docker Version with:
**docker -v**

[2020-06-05 15:33] eldadfux opened #378 "Add option to delete user from the user API"
We should allow to delete users from both the users API and the console. One important thing to take under account is that the user ID should be saved to avoid the tenuous chance that another user could obtain the same unique ID in the future and gain control over the server resources that the old user has been granted access to.

[2020-06-05 15:37] eldadfux opened #379 "Add option to assign new team members to a team from the console and the API"
Currently you can invite a member to join a team from the server API, but the user will have to confirm his membership from the verification email. I think this can be skipped when in admin mode.

[2020-06-05 15:38] eldadfux opened #380 "Add option to delete a team from the console"
Same as with #378

[2020-06-05 15:39] eldadfux commented on #380
This can also be a part of a dedicated team page on the console, that will show all the team members and will allow to add a new user to a team.

[2020-06-05 16:02] eldadfux opened #381 "Add API response payload structure info and examples to the docs site"
This is the one major things the API spec docs are still missing. I have started working on creating a code layer to define all the API endpoint result objects and verify them. This will also come very handy for the GraphQL support issue (#272)

[2020-06-05 16:19] eldadfux commented on #365
Closing current issue. @therhenals please raise a new issue with more info about your idea to block registration.

[2020-06-05 16:19] #365 closed

[2020-06-05 16:50] cshubhamdhanetia commented on #377
I too have an updated docker version.
Docker version 19.03.8, build afacb8b

[2020-06-05 17:03] punitdiwan opened #382 "API for Project Creation, in fact for all Console Activities"
I would like to suggest to have a API for project creation. It allows us to automate the project creation and in fact I advocated all the feature which can be done from Console should be done using APIs as well.

**Use Case**
      To give a use case, lets say, there is an service provider agency, who provides some online service, (hereafter will be referred as Agency). Agency will have its own we

[2020-06-05 17:59] cshubhamdhanetia commented on #377
I am getting now service mapping errors after using your docker file.

I have installed docker like an year ago. I don't remember it exactly. Would you like to come to my PC using TeamViewer or any desk?

You can contact me on shubham.dhanetia@gmail.com as well

[2020-06-05 18:16] therhenalsdev opened #383 "[Discussion] Adding static hosting and nodejs"
It would be great if you could deploy a static app for example developed with angular, react, ... etc. On the other hand that you can also deploy a backend developed with express, nestjs, or any other library on the server side.

And make all this easy to deploy, with a command line (CLI).

[2020-06-05 18:41] punitdiwan commented on #377
@cshubhamdhanetia Since you have installed docker a year ago, I suggest that you uninstall docker and download fresh docker  desktop setup and install, You can download docker desktop from this link: https://download.docker.com/win/stable/Docker%20Desktop%20Installer.exe.

Then run the docker-compse.yml file. Hope it will fix the issue.

[2020-06-05 19:30] cshubhamdhanetia commented on #377
@punitdiwan Hi, I have reinstalled again the stable version. And it works now !! But, this time error is different.

![image](https://user-images.githubusercontent.com/14253195/83915516-05f10700-a791-11ea-9e35-2f64e91dd280.png)

[2020-06-05 19:35] rubensdemelo opened #384 "[flutter] Why dio over http?"
Why appwrite uses dio over native http package ?

[2020-06-05 19:35] cshubhamdhanetia commented on #377
@punitdiwan  It works !! I have reinstalled the stable version and it works perfectly. Thanks! :-D
Finally, I am able to the app write console !!

[2020-06-05 19:35] #377 closed

[2020-06-05 19:51] therhenals opened #385 "[DISCUSSION] Disable email registration on client"
It is possible to disable email registration on the client side of a project, which only allows access. This feature would be useful, for example, I have a delivery app, customers register with google, restaurants/businesses cannot register, I am the one who registers them in the system with an email and password. So I would like to avoid that anyone can register with an email and password, that o

[2020-06-06 03:10] eldadfux commented on #384
@bartektartanus or @Almoullim you guys could probably give a better answer than me here.

[2020-06-06 03:14] eldadfux commented on #383
We are working on a cloud functions service that will allow you to extend Appwrite easily with multiple language support (including Node). You can learn more about that at: #307 . A CLI is also something that @christyjacob4 is going to work on very soon.

I would love to get more of your feedback about static hosting, feel free to share your view on how this kind of feature should be implemented i

[2020-06-06 03:15] eldadfux commented on #383
And as usual with new features, if anyone from the community has something to add here this is the time and the place 😃

[2020-06-06 13:37] Almoullim commented on #384
The decision was largely made by me to use the Dio package. It had support for interceptors, it had a plugin (dio_cookie_manager) that made it easier to deal with cookies and at the time there wasn't a reason for me to use dart HTTP package and not use Dio.

[2020-06-06 19:31] eldadfux commented on #343
![image](https://user-images.githubusercontent.com/1297371/83952938-40b47700-a845-11ea-8506-1bed49b0844d.png)

Added all the docs into the main docs site. They will be deployed in next version release of appwrite.io.

[2020-06-07 03:04] rubensdemelo commented on #384
@Almoullim thanks for clarification

[2020-06-07 03:04] #384 closed

[2020-06-07 04:01] eldadfux opened #386 "Add an Internal Avatar Initials API Endpoint"
Currently Appwrite is using an external service for generating user initials avatars as a fallback for Gravatar and for other UI screens (users, teams). We should add an Appwrite route for this in the Avatars API. This will also take us a step closer to make the entire console be able to work offline.

[2020-06-07 04:09] eldadfux opened #387 "Allow pagination and search for team memberships route"
Currently the /v1/teams/:teamId/memberships route is crippled compared to other routes containing lists of Appwrite resources. We should add this route with the same capabilities and parameters options as other routes like /v1/users or /v1/storage/files has. This will allow us to unlimited number of team members to each team.

[2020-06-07 04:10] eldadfux commented on #387
This feature will result in an introduction of a new API breaking change as the new response format will need to allow pagination.

[2020-06-07 04:45] sateeshs opened #388 "ability to filter appwrite Users and custom collections based on Geo coordinates"
I have list of general stores across a city wide. As a developer I need to filter stores near to login user. Similarly store also like to see nearest customers.

Users and Stores needs to be filters by geo codes.

[2020-06-07 10:04] eldadfux commented on #376
Should be better now:
![image](https://user-images.githubusercontent.com/1297371/83965858-523a6500-a8bf-11ea-8e88-ad2d7c9690b7.png)

[2020-06-07 11:37] eldadfux opened #389 "Move all Appwrite container logs to STDOUT & STDERR"
Currently some of the workers log data to: /var/log/appwrite.log it will be more standard to just use STDOUT and STDERR. To avoid to many logs we might want to add an env var to control the logs levels.

[2020-06-07 18:25] eldadfux commented on #388
This can be a very useful feature in so many use cases. To implement it we will need to add a new data + rule type for geo coordinates (x,y) + add option to cast resources order-by parameter to geo proximity. A nice addition will be to add a radius-limit parameter to return only result within a given radius.

[2020-06-07 19:25] therhenals opened #390 "Backup and migration system"
It would be great to implement a backup system and allow migrating appwrite from one server to another, all from the console.

[2020-06-07 19:27] therhenals commented on #383
About the static hosting, it could be something like firebase hosting, using nginx.

[2020-06-08 00:54] TorstenDittmann commented on #383
Sounds like a good idea at first, but comes with a lot of work to adapt everything.

Just a few things that come to mind:
- Custom Domains
- Deployment
- Security
- Optimization (like prevent hotlinks)

[2020-06-08 00:59] TorstenDittmann commented on #363
Just out of curiosity I can think of two things that might be useful for attributes:
- TTL for files
- Max number of files

[2020-06-08 03:09] eldadfux commented on #383
@TorstenDittmann

* Custom Domains - We already done most of the hard work for supporting custom domains for the API endpoint + we support the SSL auto-generation which is definitely the hardest thing here (maybe we can add a target property to each domain?)
* Me & @christyjacob4 are already working on something like this for cloud functions.
* Any specific concerns here? Not allowing any site to

[2020-06-08 04:59] punitdiwan commented on #383
@eldadfux My questions and concerns are regarding deployments. Will we use separate containers  for static site deployment. I checked now.sh (now Versel.com) and netlify. Both of them use docker containers wit static site deployment.

For deployment, I am sure that we have to use a CLI for pushing the site. I checked the whole now.sh API and cli system. We can create deployments of same site multi

[2020-06-08 06:58] eldadfux commented on #383
@punitdiwan I'm not sure a separate container is required because this are just static files. Maybe we can just build a small proxy for them. This will also allow us to calculate traffic, add stats and do other cool stuff (auto webp, compressions).

We could also benefit from other Appwrite built-in features HTTP/2, Brotli compression (soon) and others.

[2020-06-08 12:00] eladcandroid opened #391 "NET::ERR_CERT_AUTHORITY_INVALID On Console Login"
AppWrite version 0.6.2

![Screen Shot 2020-06-08 at 14 58 14](https://user-images.githubusercontent.com/13297000/84027966-89c91000-a998-11ea-84f1-72d20e40523a.png)

[2020-06-08 12:01] TorstenDittmann commented on #391
I doubt that SSL is supported on localhost.

Try replacing `https://` with `http://`.

[2020-06-08 12:04] eldadfux commented on #391
Hey Elad, on localhost you can't have a valid SSL certificate. We use a default self-signed cert to allow you to use HTTPS when in dev mode. You can **safely** click 'Proceed to localhost (unsafe)' when in dev mode.

When using Appwrite in production with a valid public domain, a valid SSL certificates will be auto-generated 30 seconds from startup. (and will renew automatically every 60 days).

[2020-06-08 12:05] eladcandroid commented on #391
Thanks for the quickly response!

[2020-06-08 12:05] #391 closed

[2020-06-09 17:53] eldadfux commented on #386
Some examples:

![image](https://user-images.githubusercontent.com/1297371/84182422-0c35fa80-aa93-11ea-8698-edaee907019a.png)
![image](https://user-images.githubusercontent.com/1297371/84182441-135d0880-aa93-11ea-8c54-32905f5b78bd.png)
![image](https://user-images.githubusercontent.com/1297371/84182463-1bb54380-aa93-11ea-91b1-e2f8a79a8542.png)
![image](https://user-images.githubusercontent.com/129

[2020-06-09 18:24] eldadfux commented on #386
Docs description:

[2020-06-09 23:07] asheckn opened #393 "mariadb connection refused on user registration"
after installation on docker windows i am unable to Register a new user the ui tells me "registration failed try again later " in the mariadb container the following line is present

2020-06-09 23:04:50 10 [Warning] Aborted connection 10 to db: 'unconnected' user: 'unauthenticated' host: '172.20.0.8' (This connection closed normally without authentication)

all containers are running and i did not

[2020-06-10 00:56] #393 closed

[2020-06-10 00:57] asheckn commented on #393
Installation was not complete had to wait 30 min for maria to setup the schema

[2020-06-10 02:57] eldadfux opened #394 "UI wrongly validates only integers"
The Numeric rule in the database accepts both integers and floats as valid numbers. The UI seem to validate only integers. This is working fine using the API.

[2020-06-10 03:13] eldadfux commented on #394
Fixed. Waiting to be released with next version

[2020-06-10 03:28] eldadfux opened #395 "New database rule types"
We want to support more rule types to allow more flexibly, security, convenience and data integrity when using Appwrite Database API. Please add any rules date you might find general enough for being implemented the Appwrite Database.

For start

- [ ] Integer Rule - Rule for attributes that only accept integers
- [ ] Float Rule - Rule for attributes that only accept floats
- [ ] File ID - Validat

[2020-06-10 03:29] eldadfux commented on #395
File preview example:
![image](https://user-images.githubusercontent.com/1297371/84223873-bfc6db00-aae3-11ea-8c1c-bbef3b79bb2b.png)

[2020-06-10 03:30] eldadfux commented on #395
File search examples:
![image](https://user-images.githubusercontent.com/1297371/84223916-dec56d00-aae3-11ea-9987-03ad1b322464.png)

[2020-06-10 04:12] eldadfux commented on #386
![image](https://user-images.githubusercontent.com/1297371/84226177-c48e8d80-aae9-11ea-8b98-21c096233878.png)

[2020-06-10 04:59] eldadfux commented on #393
@asheckn Was this solved for you?

[2020-06-11 14:14] asheckn commented on #393
Yes this was resolved , the mariadb container just takes a bit longer to setup the first time but after that  runs without a hitch

[2020-06-12 13:07] TorstenDittmann opened #404 "[Bug] German Umlaute encoding in email subject"
German Umlaute like ä,ö,ü are not encoded correctly in the email subjects.

Result
`Passwort zurÃ¼cksetzen`
Expected
`Passwort zurücksetzen`

I can make a fix as part of #402

[2020-06-12 13:34] cholojuanito commented on #307
I'm sure you guys want to make a home grown solution for cloud functions but there is a very popular option called OpenFaaS, https://www.openfaas.com. Perhaps it would be possible to integrate with OpenFaaS, only if it made things easier of course.

[2020-06-12 14:01] eldadfux commented on #307
@cholojuanito, obviously this is something we have considered heavily. It seems that since Appwrite already have most tools set in place (redis pub/sub, usage stats tracking, heavily relied on docker, and other), the cost of making native solution will be a lot smaller compared to introducing an external solution.

Plus the fact is that most of this 3rd party solutions are heavily thighed to other

[2020-06-13 13:08] TorstenDittmann opened #407 "[Feature] Mail Service"
I had this idea while working on #402 .

Since Appwrite provides everything needed for an API to send e-mails that might be a good addition the the ecosystem.

Give the API following endpoints for single and bulk send:
- send to an email
- send to a user
- send to a team

I have concerns for the bulk sending, but as long as we send the same email we can utilize BCC for performance on the PHP side.

[2020-06-13 17:02] eldadfux opened #408 "[BUG] Use system email for Letsencrypt certifications"
Replace `security@appwrite.io` email with system provided email for issuing new SSL certificates

[2020-06-13 17:44] eldadfux opened #409 "Add preloading support"
PHP preloading can add significant performance boost to the API layer. This is actually already in progress , I opened this issue to keep track on our progress.

Early benchmarking shows promising results:
![image](https://user-images.githubusercontent.com/1297371/84575538-6944ef80-adb6-11ea-8f3e-5531beb3fa0d.png)

[2020-06-13 17:53] eldadfux opened #410 "[HELP-WANTED] Adding Support for More OAuth Providers"
New issue to replace #5 . Help us add new OAuth providers for Appwrite authentication. Adding a new OAuth provider is pretty simple and can be a great way to start adding contributions to the project. We have created a step by step guide to add a new adapter, and you can ask for support here or on our Discord server #maintainers channel (https://discord.gg/GSeTUeA).

Tutorial available here:
https

[2020-06-13 18:35] eldadfux commented on #5
Closed in favor of #410

[2020-06-13 18:35] #5 closed

[2020-06-14 10:59] drandell opened #412 "Clamav_1 Download Failed"
Quite simple to re-create, just take the current docker-compose file and up that without the detach and see the logs consistently spammed with these messages, screenshot below of my git bash.

![image](https://user-images.githubusercontent.com/393945/84591444-540fa580-ae36-11ea-85cf-1c0b53a2c0e2.png)

[2020-06-14 11:20] eldadfux commented on #412
Happens on my instance as well, I'm checking if a new ClamAV version solves this.

[2020-06-14 13:09] drandell commented on #412
https://forum.efa-project.org/viewtopic.php?t=4257

I found this. Maybe doing the instructions will fix?

[2020-06-14 15:33] eldadfux commented on #412
I'll take a look at that, anyway building a new ClamAV image doesn't seem to help.

[2020-06-14 15:43] eldadfux commented on #412
Seems that the container is still working, anyway until we find a solution you can use `_APP_STORAGE_ANTIVIRUS ` env var to disable the virus scanning.

More info available here: https://appwrite.io/docs/environment-variables#general

[2020-06-14 18:46] eldadfux commented on #373
@AnatoleLucet I've changed the links animations to be off by default and turned them on manually. Because appwrite.io extends the stylesheets in this repo there were some unexpected behaviours with links inside long articles, and some bugs with mobile only elements that had display: none. This commit should fix it: https://github.com/appwrite/appwrite/commit/56c3f3a94630b90cca5aae13758782db086dd28

[2020-06-14 20:48] TorstenDittmann commented on #404
Is fixed with #402 👍

[2020-06-14 21:19] eldadfux opened #413 "New grid for OAuth providers on console"
With 20 OAuth providers the list is getting pretty long. As suggested by @christyjacob4 we're going to change the providers grid. This will also allow us to show a lot more providers on the console. Relates to #410

[2020-06-14 21:20] eldadfux commented on #413
![image](https://user-images.githubusercontent.com/1297371/84604340-f57e1200-ae9d-11ea-8523-c51f6031128b.png)

[2020-06-14 21:33] TorstenDittmann commented on #407
Due to upcoming plans for a messaging Endpoint, this is redundant for now I think.

[2020-06-14 21:33] #407 closed

[2020-06-15 08:17] eldadfux opened #415 "Doctor CLI"
Add a doctor CLI to help analyse and debug issues on Appwrite instances. For now we have created the following checks:

Production best practices:
* Public domain
* Public CNAME
* Secret key
* Env var

Server connectivity:
* Database
* Cache
* Queue
* InfluxDB
* SMTP
* StatsD

Volume mount, read and write:
* Uploads
* Cache
* Config
* Certs

Check for new version availability against appwrite.io

[2020-06-15 08:18] eldadfux commented on #415
![image](https://user-images.githubusercontent.com/1297371/84634025-e5941b80-aef9-11ea-857d-aaa35cb4bd7e.png)

[2020-06-15 14:11] #413 closed

[2020-06-16 06:31] delaneyj opened #418 "/account/oauth2/providers"
It would be great to know what OAuth2 provides are available from an endpoint to update frontend UI's.  Something like...

GET/account/providers

Response === ['google','amazon','email']

[2020-06-16 07:13] eldadfux commented on #367
New initials avatar is ready and will be released in version 0.7: https://github.com/appwrite/appwrite/issues/386

[2020-06-16 07:13] #367 closed

[2020-06-16 07:14] eldadfux commented on #418
I guess you'll expect such an endpoint to only return active OAuth providers?

[2020-06-16 08:08] eldadfux opened #419 "Add support for new Platforms"
Appwrite was designed to be cross-platform and technology agnostic. Help us to add support for more platform by adding new SDK templates to the [Appwrite SDK Generator](https://github.com/appwrite/sdk-generator) and improve our current templates.

# Dev Status

| Platform           | Client / Server | Templates   | File Uploads | Tests | Playground | Repository | Status
|----------------|---------

[2020-06-16 13:36] delaneyj commented on #418
Yes, sorry for not being specific on that point.

[2020-06-17 09:34] m7md10 commented on #244
Glad I found this amazing project , one thing that keeps me away to switch from Firebase is Phone number auth , any update about SMS login method?

thanks!

[2020-06-17 09:44] eldadfux commented on #244
@m7md10 this is something we definitely want to add, but no timelines yet.

[2020-06-17 10:09] punitdiwan opened #420 "[Feature] Please Make Order Type as Array in List Document API"
As of now, the orderField in List Document API is of type String. Please make it Array so that multiple column sorting can be done. Sometimes the requirements is like this.

	**View all student details and can sort them based on fields, can also use multiple sorting.**

This requirement may be accomplished if multiple OrderField Parameter is available. Here is an example.

Suppose the students col

[2020-06-17 20:45] eldadfux commented on #319
Replaced dependencies. Seems to be working as a drop-in replacement, all tests are passing. Going to do some more manual tests before sending a PR.

[2020-06-17 21:10] eldadfux commented on #319
Seems to be working after doing some manual tests and looking at the logs.

[2020-06-18 09:53] komemi commented on #410
@eldadfux is someone assigned to wordpress api?

[2020-06-18 11:05] eldadfux commented on #410
@komemi you are :) congratz 😅

[2020-06-18 11:32] eldadfux commented on #419
C# templates has been mereged! Thanks @komemi !
https://github.com/appwrite/sdk-generator/pull/45/files

[2020-06-18 18:47] delaneyj opened #424 "Uncaught error with non JSON object creation of document"
AppWrite version 0.6.2.125

Reproduction
Req to ` 'http://example.com/v1/database/collections/5eebb1752c14c/documents` with a payload of `{"data":"foobar","read":["*"],"write":["*"]}`.  While `foobar` is valid JSON, it is not a valid JSON object.  It returns a 200 response as text/html but body is...

[code]

Expected:
application/json with an http error status code.

[2020-06-18 20:54] drandell opened #426 "OAuth provider String to Enum"
Current 0Auth providers are strings.
Appwrite should define an enum with all the allowed providers for each of use.

Existing flutter example;
[code]

Proposed improvment;
[code]

[2020-06-18 20:57] eldadfux commented on #426
Actually this could be useful to any of the API params that are using the `Whitelist` validator:
https://appwrite.io/docs/client/avatars?sdk=web#getCreditCard
https://appwrite.io/docs/client/avatars#getBrowser
https://appwrite.io/docs/client/avatars#getFlag
and more...

[2020-06-18 21:01] drandell commented on #426
Agree 100%, didn't know about those other endpoints. I find strings are so easily misspelled / small typo from an accidental elbow on the keyboard etc. :D

[2020-06-18 21:17] eldadfux opened #427 "Stop redirect to Appwrite login page when no deep link or success/failure URL is provided"

[2020-06-19 02:30] delaneyj opened #428 "[Feature] Avatar icon for OAuth providers"
GET `/avatars/providers/{code}`  for google,amazon,email or possibly `/avatars/providers` for an []string of enabled providers' resource URLs.

[2020-06-19 02:42] delaneyj opened #429 "List Documents undefined behavior"
[Per the documentation](https://appwrite.io/docs/client/database#listDocuments) it appears there can be undefined behavior in regards to `first` and `last` properties.
1. Why are these integers instead of booleans?
1. What happens if you set both to true?
1. Is the first or last determined by the limit/offset used?
1. What are these properties supporting that an order+limit 1 doesn't already handl

[2020-06-19 15:14] TorstenDittmann opened #430 "[BUG] Doctor fails check when ClamAV is disabled and not running"
Doctor fails on `Unable to connect to ClamAV server` without further checks.

Appwrite config:
[code]
and commented out ClamAV container so it is not running.

Expected behaviour:
- Warning that ClamAV is disabled
- Error that ClamAV is not running when it is configured enabled
- Warning that ClamAV is running when it is configured disabled

[2020-06-19 21:16] #408 closed

[2020-06-19 21:17] #424 closed

[2020-06-19 21:29] eldadfux commented on #429
1. Because query strings can't really represent any types. But I guess we can cast "true" and "false" strings to boolean for better semantics with backward compatibility fallback, I'll push a PR for that.
2. When using both, no result comes back, not sure this is the best or expected result.
3. Yes. First and Last are only taken from the limit/offset range - I will add this to the docs.
4. They pr

[2020-06-19 21:34] eldadfux commented on #428
@delaneyj would this help?
https://github.com/appwrite/appwrite/tree/master/public/images/oauth2

https://localhost/images/oauth2/facebook.png
https://localhost/images/oauth2/google.png
https://localhost/images/oauth2/github.png

[2020-06-19 22:15] eldadfux commented on #378
We can add a 'dummy' collection and use it to keep the user ID in our database by updating the internal collection type from users to the 'reserved' collection and erase all other data related to the user.

When generating new ID's we are always verifying no duplicate IDs exist, so once we still have the user ID on the dummy collection, we should be fine. We might be able to use this collection in

[2020-06-19 22:29] eldadfux commented on #430
![image](https://user-images.githubusercontent.com/1297371/85183536-bdf3d900-b294-11ea-9239-005e2f225a23.png)

I was able to recreate the issue when turning ClamAV off and setting it as enabled. When it's disabled the doctor CLI completely skips the check.

[2020-06-19 22:32] eldadfux commented on #430
Added a try/catch block for cases where an exception is thrown from the Network constructor:
![image](https://user-images.githubusercontent.com/1297371/85183819-d3b5ce00-b295-11ea-9975-afbde5a43c01.png)

[2020-06-19 22:54] dlutton opened #435 "[BUG] Unable to delete a project logo"
I followed the steps in the screen shot and when you click on save, the image is gone, however when you refresh the screen, the logo reappears.

Version: 0.6.2

![image](https://user-images.githubusercontent.com/14303235/85184445-ac82e080-b244-11ea-9a3d-27310641ce54.png)

[2020-06-20 10:50] drandell commented on #244
A create session & return access token would be very useful login alternative.

[2020-06-20 14:24] eldadfux commented on #435
Fixed in #437 will be released in next version

[2020-06-20 21:15] #430 closed

[2020-06-21 12:04] eldadfux commented on #429
Opened a PR #438 for support in "loose" boolean values in Appwrite query strings (there's a few more in the API). As long as I think about it, I guess we should deprecate both 'first' and 'last' params to be able to have a consisted response structure.

[2020-06-22 21:29] thereapsz opened #440 "[Feature] Track File upload progress?"
Is there a way to track the file upload progress when you use "storage.createFile" ?

[2020-06-23 05:29] eldadfux commented on #440
After checking this, the Appwrite API does support XHR `progress` event for the browser (as far as I know fetch don't support this) or if you're using Flutter you can do the same using the Dio `onSendProgress` event.

Unfortunately, we don't expose a native way yet to register to this event from our SDKs yet. This is mainly because we try to keep the API method signature consisted.

A quick workar

[2020-06-23 06:06] eldadfux opened #441 "Nginx ignores max file upload env var"

[2020-06-23 07:19] thereapsz commented on #440
Thank you, this will help.

[2020-06-23 20:03] punitdiwan opened #444 "Add Validation in Permission Section of Collection and Document in Console."
In the permission section of Collection Settings and Create and Update Document in console, we enter the user ID, team ID to grant read and write permission.

However, the user ID and team ID must be prefixed with the word **user** or **team** as the case may be to make permission work properly. For example if the user id is **5eeb1d97ba0dd**, then it should be written **user:5eeb1d97ba0dd** or **

[2020-06-24 07:59] eldadfux opened #445 "Getting 500 error instead of 401 in file creation"
As reported on Discord:
[code]

[2020-06-24 08:11] eldadfux commented on #445
Digging into this issue, it seems it relates to #444 only on the server side.

[2020-06-24 08:11] #445 closed

[2020-06-24 08:12] eldadfux commented on #444
This relates to #445. We need to add better validations with verbose errors both on the console and on the API sides.

[2020-06-24 19:29] drandell opened #446 "Flutter Docs Require Updating"
The documentation for the endpoints on flutter are quite good but could use more examples and more information regarding the optional fields.

For example
List Documents; /database/collections/{collectionId}/documents

[code]

Is that search case sensitive or insensitive?

[code]
If i just provide an order direction, what does this even order by? What happens if the order cast was to fail?
The doc

[2020-06-24 19:52] drandell opened #447 "Adding & Updating Rules Discussion"
Currently there is a bit of disconnect between adding and updating rules. As seen below;

Adding *(Dialog);
![image](https://user-images.githubusercontent.com/393945/85620304-7f2a9e00-b65b-11ea-94b3-72f8e2826cdb.png)

Updating *(Dropdown expanded list);
![image](https://user-images.githubusercontent.com/393945/85620380-9c5f6c80-b65b-11ea-856a-32c20c578f8f.png)

I feel these two should be consisten

[2020-06-27 12:29] drandell commented on #395
@eldadfux would float and integer then deprecate the current numeric rule type? I cant think of any reason to keep after introducing those new types

[2020-06-27 15:06] punitdiwan commented on #395
@eldadfux and all team members, I would like to suggest a JSON Rule type which accepts valid JSON document. It will have text area which allows to enter JSON. On getting out of focus, it should validates JSON, if valid, will show a message that "**JSON is Valid**" with Green Color and if invalid, will show error message with red color. Valid JSON document can be saved.

This will be different from

[2020-06-27 15:13] eldadfux commented on #395
I think you have a good point there, what should we do in that case with existing data during upgrade/data migration? convert it to a wildcard? disable it for new collections?

[2020-06-27 15:16] eldadfux commented on #395
This would add a lot of flexibility, but might not allow us to add GraphQL support, because GraphQL only accept type safe and predefined structured data both for request and response.

[2020-06-27 15:28] drandell commented on #395
I think convert to a wildcard with information on the release (when it goes live) is a good shout.

[2020-06-27 15:48] eldadfux opened #453 "Broken device image when login is from unknown user agent"
Should add a condition to avoid a broken image in user sessions list. We should also add detection for Appwrite native/server SDKs user agents.

![image](https://user-images.githubusercontent.com/1297371/85926240-b04ade80-b8a6-11ea-8e95-706851cc2864.png)

[2020-06-27 16:11] punitdiwan commented on #453
@eldadfux Yes I noted it when I was working on Android Playground as I was passing java as sdk header. I didn't report at that time thinking its in testing phase.
)

[2020-06-27 21:18] eldadfux opened #454 "Missing redirect error on redirect from OAuth when using the self-hosted instance success URL"
Trying to use Appwrite default OAuth page on your on Appwrite instance (http://appwrite.mydomain.com/auth/oauth2/success) and not on appwrite.io results in a redirect URL with no query params to complete the login.

A quick workaround would be to add the following env var with your Appwrite URL like this:
![image](https://user-images.githubusercontent.com/1297371/85932368-46492e00-b8d4-11ea-92bd-c

[2020-06-27 21:54] flutcon opened #456 "Unable to use GitHub OAuth provider"
To use GitHub OAuth provider you have to specify 'github' as provider name. Doing this will end up in a server error with error message 'Provider is not supported'. Looking up this message in the code revealed following code:

[code]
It looks like 'github' gets transformed to 'Github' but real class name is 'GitHub'.

[2020-06-28 08:58] eldadfux commented on #454
Fixed, will be released in version 0.7.0

[2020-06-28 10:03] gkathir15 opened #458 "Able to create a collection type with two params of Same name"
Hi team,
I was just creating a DB Collection, but I was able to create two params of same name,
I believe its an issue.
![image](https://user-images.githubusercontent.com/9741561/85944496-bd260b80-b954-11ea-9c07-ca66b9451df7.png)

[2020-06-28 10:55] gkathir15 opened #459 "copy to clipboard feature is not working."
Copy to clipboard feature on "View as JSON" is not working.

[2020-06-28 11:31] BananaEgg opened #460 "Failed to fetch Docker Compose file"
Starting Appwrite installation...
Choose your server hostname: (default: 'localhost')
forum_srv
Choose your server HTTP port: (default: 80)

Choose your server HTTPS port: (default: 443)

Choose a CNAME target for your custom domains: (default: 'forum_srv')

Failed to fetch Docker Compose file

[2020-06-28 11:32] BananaEgg commented on #460
Solved it doesn't accept a name with an underscore

[2020-06-28 11:32] #460 closed

[2020-06-28 12:25] TorstenDittmann commented on #378
### Current state

- delete endpoint at `DELETE` /v1/users/:userId
- deletes user
- deletes all sessions
- creates an entry in an internal collection for reserved_uid

### To be done

- check for reserved uid's when creating users
- delete team memberships
- adapt Console UI

The only thing that might cause me difficulties is to delete the memberships to teams. That probably needs some research. B

[2020-06-28 15:27] eldadfux commented on #378
Great progress @TorstenDittmann !

Delete the team memberships should be pretty simple as well. Just fetch all the user membership, iterate them, and delete one-by-one.

The query should look like this:
[code]

[2020-06-28 15:33] #456 closed

[2020-06-28 17:23] TJMusiitwa opened #461 "One-click Deploy to Heroku"
Hey there, while the install and deploy with Docker is great. I have been having issues with the Docker installation on my computer so if there was support for a 1-click deploy to Heroku that would be a great developer experience.
Or maybe I am just asking something that is a bit-far fetched.
Thanks

[2020-06-28 17:27] eldadfux commented on #461
Actually we were just talking about working on something like this. @PedroCisnerosSantana do you have any updates on this or any estimated time table?

[2020-06-28 18:49] #429 closed

[2020-06-29 12:32] PedroCisnerosSantana commented on #461
Hey @eldadfux I started working on this some days ago and had some problems, still trying to solve them, will keep you up to date in Discord

[2020-06-29 12:41] eldadfux commented on #461
@PedroCisnerosSantana great, let me know if I can help.

[2020-06-29 12:51] PedroCisnerosSantana commented on #461
@eldadfux sure, I will contact you if not today, tomorrow :D

[2020-06-29 19:15] eldadfux commented on #459
@gkathir15 thanks for reporting the issue. I have pushed a fix to the master branch. This fix will be released in version 0.7

[2020-06-29 19:15] #459 closed

[2020-06-30 11:36] khalifa007 opened #463 "error when create auth in flutter"
the error come when I create account:

I/flutter ( 9212): Error : DioError [DioErrorType.RESPONSE]: Http status error [403]

[2020-06-30 13:43] BananaEgg commented on #461
I'm also trying to deploy to Heroku,
I need to know what container is the front end so I can set the process type to web.

[2020-06-30 13:50] eldadfux commented on #461
@BananaEgg We use Traefik as the entrypoint on a "normal" setup: https://appwrite.io/docker-compose.yml

You can also try and use the Appwrite container on port 80 and 443. Traefik is mainly there for the auto-ssl certificates.

[2020-06-30 13:55] eldadfux commented on #412
@drandell I think I have managed to fix this issue in this commit: https://github.com/appwrite/docker-clamav/commit/ac15834550d1c7f606c02da530ea0b311e52fd32

I have release a new Docker image: appwrite/clamav:1.0.11 - would be great if you could test it out.

[2020-06-30 14:00] eldadfux commented on #463
Hey @khalifa007, 403 error (https://appwrite.io/docs/error-codes) usually mean that your app is not listed in your project platforms. Make sure to add it with your correct bundle or package ID from your project dashboard.

![image](https://user-images.githubusercontent.com/1297371/86135257-3c514600-baf3-11ea-8674-3cfc20610d0d.png)

[2020-06-30 16:30] drandell commented on #412
@eldadfux
seems to be a permissions issue in that container
![image](https://user-images.githubusercontent.com/393945/86151989-6f95d400-baf7-11ea-8774-f6c8c07485d9.png)

[2020-06-30 18:31] eldadfux commented on #412
@drandell Can you try 1.0.12 version?

This is what I'm getting:
![image](https://user-images.githubusercontent.com/1297371/86163553-1343ac00-bb19-11ea-8c98-29c7a44820cf.png)

[2020-06-30 20:27] BananaEgg commented on #461
Iv'e deployed it following this: https://devcenter.heroku.com/articles/container-registry-and-runtime
meaning that i cloned Appwrite locally and created an app with it.
Now i'm getting this error " Error R10 (Boot timeout) -> Web process failed to bind to $PORT within 60 seconds of launch"

I understand that the issue is because there's no option to bind with the environment variable port.
I found

[2020-07-02 16:12] gkathir15 commented on #461
@BananaEgg has a different storage specification. ie files won't be retained after some time, it could also be the issue
refer https://devcenter.heroku.com/articles/active-storage-on-heroku,
not to sound negative, but if Apwrite can be deployed with features except storage working.

[2020-07-02 22:17] AlimFreight opened #465 "Support for ARM platform"
Hi there,
I was wondering is there any possibility to install AppWrite on arm platform? I tried to find that info but I only  can find that it's  support x86/64 only.

[2020-07-03 05:06] EricLoi898 opened #466 "Count of memberships becomes a negative number"
Hi team,
I was trying to add a new membership, I sent a wrong redirect URL for accepting invitation so I deleted the membership but the count of memberships gets minus by 1 on every deletion, even the membership has not been confirmed

![image](https://user-images.githubusercontent.com/32095513/86433670-f2a06f80-bd2d-11ea-8533-6cd30fddc5d8.png)

[2020-07-03 05:09] eldadfux commented on #466
Hey @EricLoi898, thanks for reporting this. We have already created a fix that is waiting for the release of version 0.7

![image](https://user-images.githubusercontent.com/1297371/86433875-83faec00-bd04-11ea-8690-dea622713e19.png)

You can check the full change log here:
https://github.com/appwrite/appwrite/blob/master/CHANGES.md

[2020-07-03 06:32] eldadfux commented on #465
Hey @AlimFreight, currently almost all the containers in the Appwrite stack can support ARM (Traefik, Redis, MariaDB, and InfluxDB). We still need to build the Appwrite container itself and ClamAV to support it as well and test them out.

Would be great if you could help me with some test, if so you can reach me out on our Discord server: https://appwrite.io/discord

[2020-07-03 15:39] TJMusiitwa commented on #461
I am wondering and the thought has just come to me, if this by any chance is a little complex, is it instead possible to say use a Github Action that can be able to pull the docker image, build it then deploy it to the a service of one's choice?
This comes after all the research shows that there are already a number of actions that support docker and pushing images to say Heroku's image container

[2020-07-03 15:47] eldadfux commented on #465
@AlimFreight, @doricci, @reigelgallarde I have some good news. I have been able to test around `docker buildx` and after serval failed attempts was able to push a very experimentally version of Appwrite to Docker Hub that **should support ARM**. This is a great POC, but we still need to push production images for appwrite/appwrite, appwrite/clamav and appwrite/mariadb

[2020-07-03 15:48] eldadfux commented on #465
And you can check the image on this link: https://hub.docker.com/layers/appwrite/beta/multi/images/sha256-7e486ffb4fa20e38f8013cd8ab0d9057139e0ed89ff14931d230d269c689ecc6?context=repo

[2020-07-03 15:51] AlimFreight commented on #465
Thank you I will do that right now :)

[2020-07-03 16:10] eldadfux commented on #465
This are the architectures that are supported by Docker Buildx:
* linux/amd64
* linux/arm64
* linux/ppc64le
* linux/s390x
* linux/386
* linux/arm/v7
* linux/arm/v6

Should we allow support to all of them, or are there any redundant ones on this list?

[2020-07-03 16:18] PedroCisnerosSantana commented on #461
It was the first thing I did, but the problem is the docker, that action will only get the dockerfile and do the stuff

[2020-07-03 16:23] eldadfux commented on #461
Can you please share some references to this GitHub actions?

[2020-07-03 16:26] AlimFreight commented on #465
I think linux/ppc64le and linux/s390x is quite obsolete.

[2020-07-03 16:34] TJMusiitwa commented on #461
So this action will deploy a docker image to [Heroku](https://github.com/marketplace/actions/deploy-docker-image-to-heroku-app)
Then among the various Github actions this is the one officially provided by the Docker [team ](https://github.com/marketplace/actions/build-and-push-docker-images)to build and push images,

This one sets up the[ Docker CLI](https://github.com/marketplace/actions/the-dock

[2020-07-03 16:37] TJMusiitwa commented on #461
@PedroCisnerosSantana

What do you mean it will only get the dockerfile maybe you didn't include the option to push the image or is there something I am missing out?

[2020-07-03 17:31] TJMusiitwa commented on #461
Which of the two is better, Using docker to pull the image from hub docker then running the actions to build then push to Heroku, or forking the repo and deploying using the Dockerfile and then just using an action to keep the fork up-to-date with the upstream?

[2020-07-03 17:33] eldadfux commented on #461
@TJMusiitwa, pulling from Docker Hub would probably be the better solution.

[2020-07-03 17:53] TJMusiitwa commented on #461
Well the problem now is how to pipe inputs for the config sections or auto accept the defaults in the cli?

[2020-07-04 05:11] AlimFreight commented on #465
I was able to start every container with this  Docker-compose file, but still have some issues with mariadb, and connections between telegraf and influxdb

version: '3'
services:
  traefik:
    image: 'traefik:v2.1.4'
    command:
      - '--providers.file.directory=/storage/config'
      - '--providers.file.watch=true'
      - '--providers.docker=true'
      - '--entrypoints.web.address=:80'

[2020-07-04 19:42] eldadfux commented on #410
Box OAuth adapter has been merged! Great work @armino-dev #467

[2020-07-05 23:42] TJMusiitwa opened #468 "Importing test data"
If say I finally have my Appwrite instance up and running but for say demo purposes or learning purposes, I would like to import some test data to work with, Is this possible right now or is there a sort of go-around if not currently available that I could work with?

[2020-07-06 05:06] eldadfux commented on #468
Currently your Appwrite setup comes completely clean. You can import data to any of your projects by using the Appwrite API itself, nothing built-in for that.

[2020-07-06 08:00] TJMusiitwa commented on #468
Oh alrighty then.

[2020-07-06 08:00] #468 closed

[2020-07-06 19:48] armino-dev commented on #410
Thanks @eldadfux, you guys are moving fast. I see a lot of improvements every day. 😄

[2020-07-06 19:50] eldadfux commented on #410
@armino-dev a lot thanks to amazing contributors like you ❤️

[2020-07-06 20:15] eldadfux commented on #410
I have added a new 'name' attributes in the providers config file to have better representation of providers names inside the Appwrite console.

![image](https://user-images.githubusercontent.com/1297371/86637609-85673580-bfde-11ea-876c-23352f7d2589.png)

[2020-07-07 20:47] shemhazai opened #470 "Custom domain validation regex is invalid"
When adding a new custom domain to a project the entered string is validated in the browser against this pattern: **^[a-zA-Z0-9][a-zA-Z0-9-]{1,61}[a-zA-Z0-9](?:\.[a-zA-Z]{2,})+$** which fails on domains such as **appwrite.sub-domain.com** (with a dash in the middle).

## Dialog

<img width="682" alt="Screenshot 2020-07-07 at 22 42 55" src="https://user-images.githubusercontent.com/13630257/8684075

[2020-07-07 20:58] eldadfux commented on #470
Yeh, I can validate this issue is a legit bug. This Regex seems to be working better: https://regexr.com/581g6 for validating domains.

Unless any other feedbacks, I'll push this to the master for next version (0.7).

[2020-07-07 21:10] shemhazai commented on #470
Thx for quick answer - I did some research and regex from https://regexr.com/581g6 seems to fail on domains with underscores. I don't know yet possible consequences but maybe it would be more beneficial to allow less strict rules (even if some invalid domains would pass validation), e.g. regex from here: https://www.regextester.com/98069 (at least) doesn't fail on valid domains.

[2020-07-07 22:17] eldadfux commented on #470
Had to make some adjustments on the server validation as well, but managed to submit a PR:
https://github.com/appwrite/appwrite/pull/471/files

[2020-07-07 22:32] #463 closed

[2020-07-07 22:42] eldadfux commented on #389
This should be working a lot better when we move from Nginx to Swoole. A demo is available in this branch: https://github.com/appwrite/appwrite/tree/swoole

Every worker is going to work as a standalone container which will make debugging and log viewing a lot simpler using native `docker logs` command or any orchestration tool.

[2020-07-07 23:12] eldadfux opened #472 "God Account"
Currently when you setup your Appwrite server, anyone can signup to it unless you set access restriction using the relevant env variables (As listed here: https://appwrite.io/docs/environment-variables#general).

It would be a better user flow to give the first user who signup to the server a `god role` which is same as a project owner for Appwrite `parent project` which hosts all the other projec

[2020-07-08 13:08] eldadfux commented on #385
I would love to get more community feedback on this and other options that might be useful for the users API and where is the best place to show this options in the Appwrite Console.

[2020-07-08 13:26] eldadfux commented on #409
Ready. Will be released in 0.7 or 0.8 depend on more tests results

[2020-07-08 13:26] #409 closed

[2020-07-08 13:30] eldadfux commented on #357
Version 0.7/0.8 will also improve the way we use stdout and stderr in Appwrite Docker containers, so you could easily integrate with any service that has support for collecting docker logs. In future versions each process (api, workers, scheduler) will run in an independent container which will allow a much easier monitoring.

[2020-07-08 15:20] #470 closed

[2020-07-10 05:14] eldadfux commented on #419
@bartektartanus I have split the Flutter and Dart templates in preparation to have a clean Dart SDK for the server API.

[2020-07-10 05:40] bartektartanus commented on #419
@eldadfux thats great news, good job! 👍

[2020-07-11 23:37] eldadfux opened #474 "[HELP-WANTED] Use Maxmind native C extension"
https://github.com/maxmind/libmaxminddb -> Maxmind native C extension for PHP should introduce improved performance.

This change should be merged to the `swoole` [branch](https://github.com/appwrite/appwrite/tree/swoole) which contains the most up-to-date versions of our Dockerfiles. This changes should be made for both the [Nginx Dockerfile](https://github.com/appwrite/appwrite/blob/swoole/Docke

[2020-07-12 08:53] eldadfux opened #475 "[HELP-WANTED] Replace our QR code generator library"
We are currently using: https://github.com/Bacon/BaconQrCode for generating QR codes. This library is great but introduces a lot of 3rd party dependencies we would like to reduce, and don't seemed to be actively maintained anymore. We want to replace it with this lib: https://github.com/chillerlan/php-qrcode which seems a lot lighter and more active.

[2020-07-13 08:16] eldadfux commented on #419
@Almoullim Deno file uploads seems to be working as expected in Deno 1.1.3 🎊

[2020-07-13 08:35] punitdiwan opened #477 "Add Select All Checkbox for on Console API key Scopes Screen."
Please add Select All Checkbox for on API key Scopes Screen. We have now 13 scopes and will definitely increase in near future. It will be good to have **Select All Checkbox**
for API key Scopes Screen in Console.

Thanks
Punit

[2020-07-19 05:32] eldadfux commented on #307
Hey guys, Cloud Functions feature is progressing really well, thought I'd share some screenshots, feel free to share your feedbacks :)

![image](https://user-images.githubusercontent.com/1297371/87867889-10aad880-c99a-11ea-836a-f31ae5b9be0c.png)
![image](https://user-images.githubusercontent.com/1297371/87867926-4223a400-c99a-11ea-8e1a-282b95248f99.png)
![image](https://user-images.githubuserconte

[2020-07-20 12:53] Shaho87 opened #480 "Installing Appwrite on windows 10 pro"
I have installed docker on windows the version is
 Docker version 19.03.8, build afacb8b

now when I copy paste below command for CMD or power shell I got below error

PS C:\Users\click> docker run -it --rm ,

C:\Program Files\Docker\Docker\resources\bin\docker.exe: Error response from daemon: status code not OK but 500: {"Message":"Unhandled exception: Filesharing has been cancelled","StackTrace"

[2020-07-20 14:04] punitdiwan commented on #480
Are u using latest version of Docker Desktop? If not, please install docker desktop for windows.

[2020-07-21 17:42] Shaho87 commented on #480
Hello,
Yes its latest version I have installed Yesterday .

[2020-07-21 18:01] punitdiwan commented on #480
Try running the docker container as an Administrator by searching cmd in start menu search and right clicking  cmd and choose **Run as Administrator**.

Also pay attention on your system tray, it may give a pop up to allow sharing files. If you get  some thing like this, click **share  button.**

[2020-07-21 18:03] Shaho87 commented on #480
What I have done was through Admin by using both CMD and Power shell. but
still same error is persist

On Tue, 21 Jul 2020, 9:02 pm punitdiwan, <notifications@github.com> wrote:

[2020-07-21 18:57] punitdiwan commented on #480
I am using the same docker and able to run 0,6,2 on windows without any problems. Try this steps :

1) Get the 0.6.2  docker-compose.yml content by copying from this link and save it as docker-compose.yml: https://raw.githubusercontent.com/appwrite/appwrite/0.6.2/docker-compose.yml

2) Run docker-compose up being in same directory where this file is copied.

If it does not work, uninstall docker a

[2020-07-21 20:31] eldadfux commented on #480
Try this docker-compose.yml:
https://appwrite.io/docker-compose.yml?version=0.6.2

The previous one mentioned by @punitdiwan  is for building from source, and requires cloning the Appwrite repo.

[2020-07-21 20:33] eldadfux commented on #480
@Shaho87 you can also take a look here: https://stackoverflow.com/questions/60754297/docker-compose-failed-to-build-filesharing-has-been-cancelled seems to be the same error you're getting.

[2020-07-22 13:43] marcglasberg commented on #419
@eldadfux Hey, Dart is not listed but you talked about it in a comment. Are you working in a Dart server SDK? It's not clear to me.

[2020-07-22 13:47] eldadfux commented on #419
@marcglasberg yes, I'll add it to the list.

I actually did some work last week to separate the Dart SDK templates from the Flutter SDK templates, hope we could have it ready for the next Appwrite version.

[2020-07-23 00:06] thereapsz opened #484 "password with "!" fails nginx"
as far as i have tested passwords in the docker-compose file that include "!" will make nginx throw errors

[2020-07-23 03:49] eldadfux commented on #484
@thereapsz It would be great if you could share an example of problematic docker-compose.yml file.

[2020-07-23 05:19] Hopheylalal commented on #307
Functions will be use pyton? what about dart?

[2020-07-23 05:27] eldadfux commented on #307
@Hopheylalal The first version currently aim to support **Python 3.8, Ruby 2.7, PHP 7.4, Node 14.5, and Deno 1.2**. Basically everything is also set to include a Dart env, the only downside is that Dart official Docker image has no Alpine version and the image size is about ~300mb which is about x6 time larger than any of the other environments.

Maybe we should add it as an optional env, or maybe

[2020-07-24 07:36] eldadfux commented on #477
Work in progress:
![image](https://user-images.githubusercontent.com/1297371/88369815-80a1d000-cd99-11ea-8cd4-72265a92faac.png)

[2020-07-25 13:08] eldadfux commented on #373
Hey @AnatoleLucet, any updated on the next improvements in line? Do you think we can push a few more for 0.7?

[2020-07-25 18:10] AnatoleLucet commented on #373
Hey 👋 I've started working on button animations a few weeks ago but never came back to it. I'll try to find some time tomorrow to  finish the button animations and maybe do the modal transition.

[2020-07-26 09:27] eldadfux commented on #419
Just released version 0.0.6 of our Python SDK with support for file uploading, minor bug fixes and improved docs. Please report if you find any issues: https://pypi.org/project/appwrite/#history

I have updated the status table.

[2020-07-27 07:36] eldadfux commented on #419
We have a new playground repo thanks to @punitdiwan :)

https://github.com/appwrite/playground-for-deno

Updated status table.

[2020-07-27 17:46] cellerich commented on #307
I was reading trough all the posts and agree with most of what was said. Currently I'm playing around with AppWrite for the User, Storage and Database bits and use OpenFaas on the side for functions. Everything put together in a Kubernetes cluster running in the cloud.

My wish list for functions inside AppWrite is as follows:
## Languages
- Node.js and Python (those are well used allover the comm

[2020-07-28 09:13] eldadfux opened #490 "Upgraded installation script"
We want to move the installation script into the main Appwrite container to reduce the download time of 2 separate Docker images during the first installation. The main Appwrite container in version 0.7 size is about 120mb (today the installation container alone is 183mb), and adding the installation script won't change this by more than just a few hundred bytes.

This issue will also be a good op

[2020-07-28 10:52] lohanidamodar opened #491 "Test account with prefilled projects and data to test"
## Thank you
Hi, **Thank you `@appwrite` team for such an amazing job**. I have been testing appwrite for quite some time now. I have been making tutorials in combination with Flutter as well. And, I am testing the new and latest versions of appwrite.

## Problem
However when I build and run the appwrite for the first time, there isn't much I can do without first signing up and creating projects,

[2020-07-28 11:03] abhee4 commented on #444
@eldadfux

It would be great if instead of typing that in, there are two sections which autoappend the necessary suffix just by selecting a drop down. I made a UI on XD, please take a look.

![image](https://user-images.githubusercontent.com/2958671/88657720-fc7c7f00-d0ef-11ea-8a84-c7da22447982.png)

[2020-07-28 11:12] eldadfux commented on #491
This can definitely be helpful, I think maybe pokedex and movies demo apps can be cool 😉

[2020-07-28 11:32] abhee4 commented on #444
On the second thought, @eldadfux , two more ideas.
Which looks better according to you?

![image](https://user-images.githubusercontent.com/2958671/88659934-79f5be80-d0f3-11ea-9d25-44accddbb9ca.png)
![image](https://user-images.githubusercontent.com/2958671/88660235-fab4ba80-d0f3-11ea-88e8-a3c8cade649d.png)

[2020-07-28 11:38] eldadfux commented on #444
I think the second design one is more user friendly. Maybe we can add a 'view source' button on the top rght to help users understand how this will actually be saved as in the API?

[2020-07-28 11:45] abhee4 commented on #444
Exactly !!

The Source has actually helped me a lot to convert the json to dart to make my models, it would be super useful.

Again, many thanks for appwrite. I'll try to be as engaged as possible to help getting it better for me and for my fellow coders.

Kudos !

[2020-07-29 15:06] lohanidamodar opened #492 "Function events are not completely visible, even in 2k Screen"
![Screenshot from 2020-07-29 20-47-19](https://user-images.githubusercontent.com/6360216/88817173-eac4d580-d1dc-11ea-9199-b44d2e26faca.png)

## Problem
As you can see in the screenshot above, the function event names are not completely visible, even in 2k Screen.

## Possible solutions
- Expand middle sections in large screens, making responsive, however this will affect all other views
- At least

[2020-07-29 15:31] eldadfux commented on #492
Does changing the font size to 14px work better?

![image](https://user-images.githubusercontent.com/1297371/88820183-a3811980-d1c9-11ea-9bb3-ccd765330b2a.png)

[2020-07-29 16:02] lohanidamodar commented on #492
@eldadfux Where do I change that? I am using the Google chrome in Ubuntu.

[2020-07-29 17:31] eldadfux commented on #492
I have committed a fix to the `swoole-and-functions` branch, you can sync and rebuild the Appwrite container to get the updated version.

[2020-07-30 00:18] lohanidamodar commented on #492
@eldadfux great

[2020-07-30 12:37] eldadfux commented on #307
Thanks to all of you who posted feedbacks. We're trying to take everything into account and build a service and APIs that will give you the best ratio between flexibility, simplicity and performance.

To keep everyone in the loop, here is the up-to-date TODO list I'm working with:
![image](https://user-images.githubusercontent.com/1297371/88923358-45603f00-d27a-11ea-96f2-e4fe18cdd8f7.png)

You can

[2020-07-30 12:40] eldadfux commented on #307
Following with my previous post. Here is our "getting started for cloud functions" tutorial. This is still a work in progress, but can give you a good idea about our implementation and how you could leverage the new service. Feedbacks, comments and question are welcomed.

![image](https://user-images.githubusercontent.com/1297371/88923723-d59e8400-d27a-11ea-9231-faf6775fb520.png)

[2020-07-30 14:00] lohanidamodar commented on #492
@eldadfux It's fixed in the latest pull, however i believe, it's still best to add the tooltip, to be safe :+1:

[2020-07-30 16:54] eldadfux commented on #492
@lohanidamodar agree. I'll add an HTML title attribute, which will add the browser native tooltip for backup.

[2020-07-30 18:41] eldadfux commented on #492
Added the tooltips in my latest commit:
![image](https://user-images.githubusercontent.com/1297371/88961227-61310880-d2ad-11ea-9723-175948eb6204.png)

[2020-08-02 13:19] shimmy-96 opened #493 "Account webhook doesn't trigger through the console"
I'm using appwrite for flutter.. and when I try to trigger a webhook through the console it doesn't work.. but when I create a user through flutter's SDK it does work.

[2020-08-02 13:21] shimmy-96 opened #494 "Not enough information about the event in when webhook is triggered"
for example when I create a user I just get the user name and email.. without the type of the event.

[2020-08-02 18:23] eldadfux commented on #494
You should be getting the 'X-Appwrite-Webhook-Event' header with the event type name. Can you post the request headers and payload that you receive on your webhook endpoint?

[2020-08-03 16:44] sshyran opened #495 "Cross-Server/SDK data interop. ?"
Hi,  Is there cross-language/Server/SDK data interop. natively built in appwrite ? Maybe some gRPC implementation? So that I could run one Appwrite server (lets say Go dev) in one datacenter and  another Appwrite server (Dart test) somewhere else... and pull data into each its microservice and each instance separately in live mode...  ? Thanks...

[2020-08-03 18:33] eldadfux commented on #495
Hey @sshyran currently the only option to communicate between server is using the REST API or using one of Appwrite server SDKs (https://appwrite.io/docs/sdks#server).

We do plan to add a GraphQL endpoint alongside the REST API in v0.8, that will also allow us to add more API protocols and we have been talking about GRPC support, but nothing official yet.

[2020-08-03 18:37] TorstenDittmann commented on #493
I haven't been able to reproduce this.

Do you mind providing additional information?

Like:
- Appwrite version?
- local environment?
- Logs (access them with `docker-compose exec appwrite cat /var/log/appwrite.log`)

[2020-08-04 14:38] Sameerkash opened #496 "Unable to access console, 404 Page not found"
I'm facing some weird behaviour on my setup. I installed the image thrice and still, I get this `404  page not found`  when I try to access localhost.
The console sometimes works when I restart the containers or docker but this rarely happens. I'm not able to properly use appwrtie,

please help, Thank you.

[2020-08-04 15:29] eldadfux commented on #496
Please provider more info about your setup, a screenshot of the error and an output for ‘docker ps’ command

[2020-08-04 16:13] Sameerkash commented on #496
docker ps output :
[code]

[2020-08-04 16:14] Sameerkash commented on #496
![Untitled](https://user-images.githubusercontent.com/40424087/89317859-9cf81380-d69b-11ea-9ccc-6f80bdcc893c.png)

and the browser output while trying to access the console. @eldadfux

[2020-08-04 17:52] eldadfux commented on #496
Please check your Appwrite container logs using this command:

[code]

[2020-08-05 14:14] Sameerkash commented on #496
Here's the log of  traefik:v2.1.4

[code]

and of  appwrite/appwrite:0.6.2
[code]

I noticed some more weird behavior, Now I'm able to access the console only after stopping the container associated with traefik:v2.1.4  which maps to localhost. and also sometimes I get the sign Screen and It shows credentials are wrong even though they are right as they are saved in chrome. But as soon as I restar

[2020-08-06 12:47] eldadfux commented on #316
A fix changing the update prefs method from patch to put has now been committed and will be released as a breaking change in Appwrite 0.7.

[2020-08-06 19:05] tomwyr opened #498 "Cannot create document with reference to parent"
I tried to set up simple database structure with albums and songs where each album document stores an array of songs (and few more properties). When I try to create new song with a reference to an album with this code:

[code]

I receive following error in the response:

[code]

However, when I comment out *parentDocument*, *parentProperty* and *parentPropertyType* params, api call is successful a

[2020-08-06 19:12] tomwyr commented on #498
I am using Appwrite package in a Flutter project.

[2020-08-06 19:28] eldadfux commented on #498
@tomwyr this feature is actually about to be deprecated in the next Appwrite version (0.7). You can just create the same data structure by nesting the song document inside the album document like this:

[code]

[2020-08-06 22:24] tomwyr commented on #498
Thanks for the clarification.
Is it possible (or is it planned) to create new document and link it with its parent but after the parent was created (so basically adding new song to an existing album in my case)?

[2020-08-07 03:52] eldadfux commented on #498
I was thinking of creating a specific route for it instead of the current way which adds a lot of complexity (and parameters).

This are a few options:

1. `PATCH /v1/database/document/:parent/:property` which accept parameters: `value`, `type` (assign, append, prepend)
2. `POST /v1/database/document/:parent/relationship` which accept parameters: `property`, `childId`, `type` (assign, append, prep

[2020-08-07 06:40] tomwyr commented on #498
Both approaches seem to work well, as long as it's possible to add/remove a relation between two documents. When opting the second option, I would expect to be able to call DELETE with relevant `property` and `childId` in order to get rid of that connection and, in case of the first one, maybe an additional param like `action` (add/remove) could be enough?

Another approach that comes to my mind i

[2020-08-07 06:44] punitdiwan commented on #498
I always want to have JSON field in documents itself. I have seen it in many NoSQL solutions like Strapi, Parse etc. Since, JSON fields are challenge for GraphQL, I think @eldadfux your 2nd option `POST /v1/database/document/:parent/relationship which accept parameters: property, childId, type (assign, append, prepend)` is better.

One thing I would like to ask, is it possible to insert JSON field

[2020-08-07 06:51] eldadfux commented on #498
@punitdiwan I had a similar idea, where the response for GraphQL will be different for us to support hashmaps in the REST API. My initials thought was to have a list of objects with key and value attributes that might allow easier out-fo-the-box parsing for GraphQL users than a JSON string. The downside for this is that it will not be fully suitable for JSON, only for <string>:<string> hashmaps wh

[2020-08-07 07:34] punitdiwan commented on #498
@eldadfux  Hash map is by all means one step forward to Array. It allows tostore greater level of structured content in single collection. Can we store Object as a value part in map and also fetch in GraphQL. If it does we can represent the data like this. Hay @tomwyr , I am using your sample  as its very simple to explain, he he.

`//Simple Object
 songList = [{
    'name' : 'song1',
    'singer'

[2020-08-07 15:18] Taha-Firoz commented on #393
It isn't working for me, please help me solve this. I've waited 30 minutes, still nothing.

Logs for Maridb, user registration keeps failing

[code]

[2020-08-07 15:24] eldadfux commented on #393
@Taha-Firoz please check what tables you have in your MariaDB server. You can SSH into the MariaDB container using this command:

`docker exec -it [CONTAINER_ID] bash`

Replace [CONTAINER_ID] with your mariadb actual ID (`docker ps` to view it)

[2020-08-07 15:28] Taha-Firoz commented on #393
I did go through it, I had at least the MariaDB default User table was there from my initial look around. Which tables should be there?

[2020-08-07 15:29] Taha-Firoz commented on #393
Also I'm running it on windows

[2020-08-07 15:29] eldadfux commented on #393
This are all the tables you need to have:
https://github.com/appwrite/appwrite/blob/master/app/db/SQL/all.sql

[2020-08-07 15:33] eldadfux commented on #498
Modifying the SDKs like that might be a bit tricky, as we auto-generate them in almost 10 different langs now. I would like to test your JSON as a string idea as part of the GraphQL branch, would be very interesting to see how it works with some real use-cases,

[2020-08-07 15:33] Taha-Firoz commented on #393
One of these errors pop up whenever I click register, do you think it's related to tables not being created? and if they aren't should I manually run that all.sql file through CLI. I'm waiting on the containers to start, I was wrangling with this problem for a while until I just gave up and deleted everything.

[code]

[2020-08-07 15:38] eldadfux commented on #393
There's a good chance that this is related to the missing tables. You can also change your Appwrite container _APP_ENV var in your docker-compose.yml from `production` to `development`. This will allow you to get a verbose error message in your Appwrite console devtools network tab, where there is a response with a 500 status code.

[2020-08-07 15:47] eldadfux commented on #496
Seems like the Traefik container has difficulties accessing your docker socket. The Appwrite container logs seems OK.

I would try a few things:
1. Update the Traefik container version in your docker-compose.yml - latest version is v2.2.8. After changing the compose file, run `docker-compose up -d` to apply all changes to your stack.
2. Try and expose the Appwrite containers ports (80 and 443) dir

[2020-08-07 15:49] Taha-Firoz commented on #393
I don't see a database with the name appwrite?
[code]

[2020-08-07 15:50] eldadfux commented on #393
Try and init them from the CLI.

[2020-08-07 15:52] Taha-Firoz commented on #393
I can't paste the file into it, for some reason docker on windows poweshell SSH sessions won't let me paste.

[2020-08-07 15:56] eldadfux commented on #393
Not very familiar with Windows. Maybe CMD will work better for this?

[2020-08-07 15:58] eldadfux commented on #393
I would also try to restart the MariaDB container, some user have reported in the past that this might help.

`docker restart [container-id]`

[2020-08-07 16:00] Taha-Firoz commented on #393
I've already tried restarting, it didn't make a difference. I made a workaround and copied the file from my Desktop into the containers /tmp folder and ran it from there.

[2020-08-07 16:04] Taha-Firoz commented on #393
Okay so the Appwrite db exists now
[code]
And I have all the tables
[code]
But when I click signup I'm still getting...
[code]

[2020-08-07 16:06] Taha-Firoz commented on #393
Are you sure this isn't a problem with the appwrite server? I'm actually sort of in a time crunch and really want to test appwrite out to see it's going to be a viable solution for my problem.

[2020-08-07 16:11] eldadfux commented on #393
This is almost 100% a problem with the MariaDB container itself and not Appwrite specific one. This is a pretty known issue: https://github.com/docker-library/mariadb/issues/160

The problem is that the container init script is not executing and not running the default Appwrite server and also the DB user.

I'm almost sure that creating a user manually will solve this for you. Confirming this woul

[2020-08-07 16:13] Taha-Firoz commented on #393
Could you guide me through how can I create the User manually? I don't see a user table in the ones we created, and if the user is to be created in the mariadb user table what are the credentials I have to supply

[2020-08-07 16:17] eldadfux commented on #393
Before creating a new user, maybe you can try and switch to using the root user.

Change this env vars in the appwrite container:
![image](https://user-images.githubusercontent.com/1297371/89666059-652edd00-d8e2-11ea-846d-77ae18001179.png)

To the root user password is listed in the mariadb container env vars:
![image](https://user-images.githubusercontent.com/1297371/89666150-868fc900-d8e2-11ea-8

[2020-08-08 08:10] punitdiwan opened #499 "Need to add Fields param in ListDocument and GetDocument APIs"
We need to add fieldList parameter of type array in List Documents and Get Document API in database service. It will allow users to fetch only necessary attributes of collection in the response.

This will be only useful for REST based APIs as GraphQL has implicit and native support for this. We can do something like this in the REST APIs   **/{collectionID}/documents?fieldList=song,title,length,s

[2020-08-08 12:13] Azhar978 opened #500 "Error on installation of Appwrite on CMD"
docker: Error response from daemon: status code not OK but 500: {"Message":"Unhandled exception: Filesharing has been cancelled","StackTrace":"   at Docker.ApiServices.Mounting.FileSharing.<DoShareAsync>d__6.MoveNext() in C:\\workspaces\\stable-2.3.x\\src\\github.com\\docker\\pinata\\win\\src\\Docker.ApiServices\\Mounting\\FileSharing.cs:line 0\r\n--- End of stack trace from previous location wher

[2020-08-08 14:44] eldadfux commented on #500
You need to enable file sharing on your Docker for windows dashboard. Enable all relevant drives for sharing.

[2020-08-09 11:11] Azhar978 commented on #500
Thanx Man .. it worked

[2020-08-09 13:42] #500 closed

[2020-08-09 13:43] eldadfux commented on #484
@thereapsz is this still relevant?

[2020-08-09 13:44] eldadfux commented on #490
This issue is ready, and have been merged with version 0.7 branch.

[2020-08-09 13:44] #490 closed

[2020-08-09 15:02] eldadfux commented on #316
Another update for previous comment: we finally decided to keep the use of PATCH methods, but now the prefs data is being updated and not merged. This is to create better consistency with other patch methods in the users and account services and to allow the deletion unwanted attributes.

[2020-08-12 11:08] eldadfux opened #501 "My First Demo Issue"
This is a demo issue to help new contributors make their pull-request to Appwrite.

[2020-08-12 11:10] ronfybish commented on #501
Hi this my first PR on Appwrite, can I assign to this issue?

[2020-08-12 12:00] eldadfux opened #503 "[HELP-WANTED] Add new Appwrite Playgrounds"
Appwrite playgrounds are a set of repositories with language/platform-specific Appwrite integration code samples. Each playground is composed of a readme file and a single code file with examples of different API calls to demonstrate how to initialize and use Appwrite SDK.

We have playgrounds for a few platforms, and we would love to get the community help with adding new ones and improve the exi

[2020-08-12 20:24] marcelinhov2 opened #504 "New operators for listDocuments"
Hey, as we spoke at Discord channel it would be great if appwrite team add new operators for startwith, endwith, contains and like for the listDocuments method.

Thanks.

- [ ] startwith
- [ ] endwith
- [ ] contains
- [ ] not contains
- [ ] like
- [ ] not like
- [ ] is null
- [ ] is not null

[2020-08-13 03:54] eldadfux commented on #504
@marcelinhov2 I have added to your original message more operators that might be useful for this endpoint.

We might also use this issue to add `and` and `or` operators for more complex queries.

[2020-08-13 08:37] eldadfux commented on #26
Closed in favour of #419

[2020-08-13 08:37] #26 closed

[2020-08-16 15:28] eldadfux opened #506 "Optimize default DB indices"
Appwrite default database structure is designed to be extremely flexible and easy to get started with, but is sometimes harder to scale on bigger datasets without manually optimizing SQL queries and indices.

Our goal for Appwrite database future versions is to provide better default indices and allow more customisability from both the Appwrite DB dashboard and server/project settings.

This optim

[2020-08-17 20:13] Blacktoviche opened #507 "Changing Port is not working"
I'm installing Appwrite on my own VPS . I already use 80 and 443 ports so I have to change Appwrite ports
I used the default installation method but it's not working it's always produce
`Failed to fetch Docker Compose file`
It worked on my virtual maching but never on my online VPS.

So I downloaded https://appwrite.io/docker-compose.yml and run docker-compose up -d
after I edited the port like th

[2020-08-17 22:12] eldadfux commented on #507
Did you customised any other env vars like _APP_OPTIONS_FORCE_HTTPS? Please share your complete docker compose file (please hide any secrets if you use any)

[2020-08-18 03:38] anujagr11 opened #508 "Not Able To Sign Up"
I have installed appwrite on my windows and after the installation when I open my localhost i am not able to sign up it says "Registration Failed please try later" it has been 2 days till now it says the same .

[2020-08-18 05:33] Blacktoviche commented on #507
It seems I have only changed _APP_DOMAIN and _APP_DOMAIN_TARGET to  my online domain.
I reset its values to localhost but now when I open the page on port 7443 nothing appear.

There is no such an option in the docker file!
Here is the complete file:

`version: '3'

services:
    traefik:
        image: traefik:v2.1.4
        command:
            - --providers.file.directory=/storage/config

[2020-08-18 05:37] eldadfux commented on #507
What is your terminal output for `docker ps`?

[2020-08-18 05:39] Blacktoviche commented on #507
Here it is:

`CONTAINER ID        IMAGE                      COMMAND                  CREATED             STATUS              PORTS                                         NAMES
a36e03cd482e        traefik:v2.1.4             "/entrypoint.sh --pr…"   17 minutes ago      Up 17 minutes       0.0.0.0:7000->80/tcp, 0.0.0.0:7443->443/tcp   appwrite_traefik_1
42dd3b4c4dee        appwrite/appwrite:latest

[2020-08-18 05:53] eldadfux commented on #507
Your docker-compose seems to work fine on my env. What exactly is the response your'e getting when trying to access the console?

Plus, it might be worth the shot, to try and access the console from both incognito mode, or with cache disabled on your devtools.

[2020-08-18 05:59] Blacktoviche commented on #507
I tried to open the console but nothing , it seems like nothing is listening on the port.
I checked the port it's open

[2020-08-18 06:13] eldadfux commented on #507
Are you accessing it directly from your domain or server IP? does your server has any firewall rules preventing access to ports 7000/7443?

[2020-08-18 06:21] Blacktoviche commented on #507
I use a firewall but I opened 7000/7433. I also checked it using free port check tool
I deleted everything and start again but it's redirecting me to port 80/443 when im trying to open console on 700/7443.
Would you like to see it yourself? I can give you access to the VPS?

[2020-08-18 06:30] eldadfux commented on #507
Yeh sure, you can email me at: eldad@appwrite.io or send me a DM at https://appwrite.io/discord

[2020-08-18 06:38] Blacktoviche commented on #507
I sent you an email with the VPS info.
Thankx

[2020-08-18 06:47] eldadfux commented on #507
It seems like the app you run on port 80 is listening to all other ports as well. This is not an HTTP redirect. Do you run any proxy or something similar that might affect this?

What happens when you run Appwrite standalone?

[2020-08-18 07:02] Blacktoviche commented on #507
Nothing is listening on port 80 . I redirect my app from X port to 80,

Here is the ports listening log:

` 7000 * (docker-proxy)
   [15] allow 7000
   [17] allow 7000/tcp

  7443 * (docker-proxy)
   [16] allow 7443
   [18] allow 7443/tcp`

Docker is listening on 7000/7443

What do you mean by that?  How can I run it standalone ?

[2020-08-18 07:04] eldadfux commented on #507
It seems like your port redirection is affecting more ports than just port 80. By standalone, I mean running it with no other apps on a server or on your desktop.

[2020-08-18 07:20] Blacktoviche commented on #507
I run it locally on Virtual Machine it works perfect.
I'm gonna make an exact copy of the VPS locally and try to change ports. because I can't do so much online
and will get back here when I solve the problem.

Thankx

[2020-08-18 07:21] eldadfux commented on #507
👌🏻

[2020-08-18 13:41] Blacktoviche commented on #507
After five hours of work the problem is with the r"edirect port" in my system.
Using iptables to redirect port is a bad idea. I used nginx.
Appwrite is working now.

Thanks @eldadfux for your time

[2020-08-18 13:41] #507 closed

[2020-08-18 13:42] eldadfux commented on #507
🥳 your'e welcome to join us on Discord and share your work when it's ready 👍 https://appwrite.io/discord

[2020-08-18 13:47] Blacktoviche commented on #507
I did join you on discord . and Sure will share it when it's ready

[2020-08-19 09:50] raul-parada opened #509 "[FEATURE] Add MQTT communication"
Communication with IoT devices using MQTT will provide an additional attention to use Appwrite.

[2020-08-19 09:56] eldadfux commented on #509
Hey Raul, this sounds extremely interesting. I would love to get some other use cases that you might have in mind and how would you see that kind of feature interacting with Appwrite's APIs (auth, storage, database).

Appwrite already has plans to create more network based protocol for interacting with stuff like GraphQL, GRPC and Protobuf. MQTT sounds interesting, but we could definitely use more

[2020-08-19 10:04] raul-parada commented on #509
Yes, it is a powerful feature. One use case is the connected car: collect, process and display data directly from the on-board unit of a vehicle.

[2020-08-19 11:16] eldadfux commented on #484
After getting report on our Discord server from David Lin, its seems the problematic env var is the SMTP password. Now we can finally confirm this is an active bug.

We'll probably attempt to fix this by next version.

[2020-08-19 15:18] codeagencybe commented on #509
Another general use case is to use mqtt or similar like Kafka as a message broker queue.
Basically it can catch workloads and process them at a later time and return back.

Typically use cases can be eg request reports that require big data/processing and you don't want to another process to keep waiting for it. So instead you shove it in a queue and return it at a later time. Banking eg that gene

[2020-08-19 15:27] eldadfux commented on #509
@codeagencybe I'm finding it a little bit difficult to understand how you view this as part of the current Appwrite architecture. Currently we are using Redis to achieve queueing or pub/sub capabilities.

I think cloud functions feature can be an easier solution to the use cases you mentioned. Would be great if you could visualize this over the current architecture diagram, to help me better under

[2020-08-20 04:07] eldadfux commented on #508
@anujagr11 the same issue has just been resolved in our Discord channel by removing all the setup volumes and containers and recreating them.

Try to run this command from the location of your `docker-compose.yml` file:

[code]

Note that this will reset all your Appwrite data and files if you have any!

The original solution was suggested here:
https://stackoverflow.com/questions/57431413/connect

[2020-08-21 06:43] aishvergil opened #510 "While accessing database in dashboard, pagination is very slow and painful when data count is large."
When my database has more than significant amount of items like getting to next page on database list in dashboard is very slow and unresponsive. The browser completely hangs. I am on windows 10 and using the website on Chrome. I have 24 GB Ram and i5 7th generation so that should not be an issue.
This really makes viewing and editing documents inside dashboard very very painful.

[2020-08-21 06:48] eldadfux commented on #510
Hey @aishvergil, thanks for reporting this issue. This is a known issue that can happen on specific large datasets.

We are working on a fix that will hopefully be available as soon as next version (this has become a top priority right now).

We are also going to add more capabilities for custom indexing that will allow you to optimize and tune your data queries x time better than in the current v

[2020-08-23 13:06] ereio opened #511 "Support For Verifying JWT Token using the Server API"
I can extract the token from the x-fallback-cookie in headers for the client, but there's no way to validate these access tokens in the node sdk. If you allow the node-appwrite getSessions query to include each sessions access token, one could authenticate custom endpoints through our own backends and still use the same authentication platform through appwrite.

A common pattern I use when develop

[2020-08-24 15:22] eldadfux commented on #511
@ereio Would a JWT implementation (https://jwt.io/) in the Appwrite users/account APIs help you accomplish this use case?

[2020-08-24 15:38] eldadfux commented on #503
First PR to the Node.js playground by @PineappleIOnic was just merged. 👌🏻

https://github.com/appwrite/playground-for-node/pull/1

[2020-08-24 17:08] ereio commented on #511
yes, that would be great

[2020-08-24 21:19] eldadfux commented on #511
Added this feature request to our roadmap

[2020-08-25 08:09] jackstefansky opened #512 "Collection inside document"
Hey, I am really looking forward to seeing a feature that will allow creating collections inside a document, like on the Cloud Firestore. That would be extremely helpful in organizing user's data. Now it can get really messy when user has multiple collections.

[2020-08-25 08:26] punitdiwan commented on #511
I always wanted to have this JWT auth in addition to cookie based auth. Its way easier to manage the JWT token from Local Storage. I am excited to learn that it is being implemented. Moreover, its equally secure as cookie based auth.

[2020-08-26 15:50] jackstefansky opened #514 "[BUG] Creating documents fails for parent documents"
Creating parent documents does not work. In my case, I could not create a document that has a parent that was an array of embedded documents. The return

Executing POST request in postman with following json body
`
{
    "parentDocument": "5f466be4c5505",
    "parentProperty": "travels",
    "parentPropertyType": "append",
    "data": {
        "locations": []
    }
}
`

resulted in

`{
    "messa

[2020-08-26 15:52] eldadfux commented on #514
After testing on my own local env, I can confirm this is a bug. I'll post a PR with a fix later today.

[2020-08-26 15:56] eldadfux commented on #514
Seems like the parent document was validated using the collection rules of the child document. I have added a check to overwrite the rules when a parent document is being used.

[2020-08-26 21:19] eldadfux commented on #271
Hey @christyjacob4 , could you please submit a PR with what you’ve done so far? I have some free time this weekend and I’d love to adapt this to the architecture changes in 0.7

[2020-08-27 09:17] PineappleIOnic commented on #444
Hey there 👋 I wouldn't mind taking this on 😄

[2020-08-27 12:15] eldadfux commented on #444
@PineappleIOnic great, I have assigned you to this issue, feel free to reach out if you have any questions or if you need any help setting the dev environment.

[2020-08-28 05:20] christyjacob4 commented on #271
Hey eldad, I went through my local files but unfortunately they got overwritten or something and I had not pushed it to remote. I will rewrite the functionality I had done and push it by tonight

[2020-08-28 12:36] eldadfux commented on #271
Thanks you so much @christyjacob4, please let me know if I can help in anyway. 🙏🏻

[2020-08-29 13:28] eldadfux opened #516 "Docker based hot-reload solution for dev environment"
From version 0.7 the Appwrite containers requires a reload  for any changes to get applied. This is due to the fact that most of the codebase is loaded into memory for performance boosting.

We need help setting up a hot reload solution to our code when making changes during development.

From my short research this looks like a nice idea for a Docker based solution:
https://github.com/apogiatzis/

[2020-08-30 07:54] eldadfux commented on #512
Not sure if this was already answered to your satisfaction or not on Discord. Does nesting child documents in parent ones which Appwrite already supports solves this issue for you?

[2020-08-30 07:56] eldadfux commented on #499
@punitdiwan I'm not sure if we'll manage to add this to 0.7 or 0.8 yet. Let me know if maybe you want us to work on this together. It should be pretty simple for getting started with the Appwrite codebase.

[2020-08-30 07:57] eldadfux commented on #496
@Sameerkash let me know if you need more help with this issue.

[2020-08-30 07:59] eldadfux commented on #495
Closing this issue. GRPC and Protobuf are already on the internal roadmap. I'll open new dedicated issues for this when we'll start designing this features.

[2020-08-30 07:59] #495 closed

[2020-08-30 08:00] eldadfux commented on #480
@Shaho87 still need help on this?

[2020-08-30 08:04] eldadfux commented on #453
We need help adding new and parsable custom user-agent strings in our auto-generated SDK templates on the https://github.com/appwrite/sdk-generator.

This patch should be added to SDKs in all languages, except for the web SDK (we can't change user-agent inside a browser). Once done we could easily detect our own clients and show them properly on the Appwrite sessions dashboard.

[2020-08-30 08:06] eldadfux commented on #427
It took a month, but I found the issue causing this ion the Appwrite console. Fix will be released on version 0.7. This also require an update to appwrite.io which is already waiting for deployment.

[2020-08-30 08:07] punitdiwan commented on #512
@jackstefansky May be you can use Text Rule Type to store JSON instead of creating nested collection and handling all at application level.

[2020-08-30 13:40] TorstenDittmann commented on #418
@eldadfux I can look into that 👍

[2020-08-30 14:05] eldadfux commented on #418
Thinking out load, how necessary is such an endpoint? Enabling a new OAuth adapter requires some manual work, and I'm not sure how many devs actually need to dynamically update their login screens. If the ultimate goal of this is to actually update a UI, maybe something like the upcoming config API can be more useable for that kind of goal?

Just trying to make sure with don't overflow the amount

[2020-08-30 14:11] TorstenDittmann commented on #418
If something like a config API is planned, this endpoint is obsolete in my opinion 🤔

[2020-08-31 04:57] subinsv opened #520 "[Feature Request] Add support for static file hosting"
Hi team,
Thanks for this amazing project. One thing I am missing is ability to serve static sites.
As an app developer, sometimes I have to host terms, disclaimer, etc. So it will be an good addition to allow serving static files like netlify or firebase hosting.

Description:
* Add support to serve static files like firebase hosting or Netlify.
* Ability to configure the public directory from app

[2020-08-31 05:23] punitdiwan commented on #520
It is already there in the roadmap.

[2020-08-31 05:27] subinsv commented on #520
Thanks @punitdiwan
Thats perfect.

Is there somewhere I can follow the progress.

[2020-08-31 05:32] eldadfux commented on #520
Added this issue to the public roadmap. @subinsv you can follow our progress here: https://github.com/appwrite/appwrite/projects

[2020-08-31 05:32] subinsv commented on #520
Thanks @eldadfux

[2020-08-31 05:36] punitdiwan commented on #520
You can see upcoming features by visiting project tab. There you can see the release wise features.

[2020-08-31 05:39] eldadfux opened #521 "Lazy deletion of data"
Create a worker responsible for lazy deleting users and projects data. Lazy deleting data is a good practice for avoiding abuse and minimising the damage of unauthorised access. It will also be a better design in terms of performance and avoiding CPU bottlenecks on the API layer.

[2020-08-31 05:40] #327 closed

[2020-08-31 05:45] eldadfux commented on #270
Gonna postpone this feature to a future version. Thanks to Swoole, the IP database is now being loaded to memory on the server startup, which has already improved performance of this action dramatically.

[2020-09-01 04:53] PineappleIOnic commented on #444
I've created a PR here: https://github.com/appwrite/appwrite/pull/522 please let me know your thoughts

[2020-09-01 12:49] Sameerkash commented on #496
@eldadfux  Thank you, I am so sorry I left it unattended, I have caught up way too much and did not get to test it out completely.
I will close this, for now,  one thing I did notice was that the error goes away once I stop and restart that app write container.

[2020-09-02 14:17] PineappleIOnic commented on #410
Any chance we could add steam to the list? As I've got quite alot of experience with the steam web API from previous projects and will be happy to add it.

[2020-09-02 14:30] PineappleIOnic commented on #244
Hardware U2F keys would be a nice addition for those who require alot of security on appwrite

[2020-09-03 05:52] eldadfux commented on #244
@PineappleIOnic cool idea!

[2020-09-03 06:28] eldadfux commented on #410
@PineappleIOnic I have added Steam to the list, all the info on adding a new OAuth adapter is listed in the tutorial linked in the first message. Feel free to reach out if you have any question.

[2020-09-03 07:57] peopledrivemecrazy commented on #395
Auto increment ID - Sets unique field `id` and discovery by `id` inside a collection.

[2020-09-04 15:45] PineappleIOnic commented on #410
After looking into it it seems that steam removed the OAuth authentication for some reason they only seem to have OpenID authentication open now.

[2020-09-04 22:01] PineappleIOnic commented on #244
We could use the WebAuthn API for the client-side prospect which has wide compatability with firefox, chrome, edge and safari.

[2020-09-07 14:02] PineappleIOnic commented on #149
I'll be happy to work on a couple new frameworks with this issue, including Svelte, VueJS and Angular. If that's all good

[2020-09-08 18:59] #494 closed

[2020-09-08 19:00] eldadfux commented on #493
I can confirm that the users API is not triggering the account.create event

[2020-09-09 18:10] TorstenDittmann opened #526 "[BUG] case sensitive country flag code"
`GET /avatars/flags/{code}` only works wither lower-case letters.

That is not really convenient, since the country codes from `GET /locale/countries` are capitalized.

My suggestion would be, to make `GET /avatars/flags/{code}` case-insensitive.

[2020-09-09 19:11] eldadfux commented on #526
Would it be a good idea to lowercase all the codes returned in the JSON response as well for better consistency?

[2020-09-09 19:21] muehlt commented on #526
I think most other APIs use the uppercase version, so this may be the better option.

[2020-09-09 19:21] TorstenDittmann commented on #526
Don't know. Upper case is actually fine imo.

It is very likely to work with some libraries that return different capitalization any, so I think we shouldnt care about casing there 👍

[2020-09-09 20:29] eldadfux commented on #526
I created a quick fix, gonna submit a PR in a few moments
![image](https://user-images.githubusercontent.com/1297371/92649781-38f8e880-f2f4-11ea-8bfb-327c9c03526e.png)

[2020-09-10 07:56] eldadfux commented on #526
Fix has been merged to 0.7.x branch.

[2020-09-10 21:17] eldadfux commented on #493
Created a PR to fix this issue.

I added 4 new webhooks events for the users API (also available as functions events). The users API is the API used when managing users from the Appwrite dashboard.

The new events:
* **users.create** - This event triggers when a user is created from the users API.
* **users.update.status** - This event triggers when a user status is updated from the users API.
* *

[2020-09-10 21:32] #508 closed

[2020-09-10 21:33] #480 closed

[2020-09-10 21:38] #440 closed

[2020-09-10 21:40] #428 closed

[2020-09-10 21:43] eldadfux commented on #412
After using it for a few weeks, the latest appwrite/clamav:1.0.12 seems to be pretty stable.

I'll reopen the issue if new problems occur.

[2020-09-10 21:43] #412 closed

[2020-09-10 21:48] eldadfux commented on #383
Seems to be duplicated with #520 please continue discussion there 👍

[2020-09-10 21:48] #383 closed

[2020-09-10 21:53] eldadfux commented on #354
I'm adding this suggestion to #244 , please add any more feedback there.

[2020-09-10 21:56] eldadfux commented on #244
As mentioned in #354 another useful method we can add here is to login with existing OAuth access tokens (today we are creating them ourselves). This will be specially beneficial when integrating with native OAuth SDKs for better UX.

[2020-09-10 21:56] #354 closed

[2020-09-10 22:01] eldadfux commented on #342
# MAJOR UPDATE

We have been working on adding web support to the Flutter SDK. We have ALREADY published a dev version available on pub dev: https://pub.dev/packages/appwrite/versions/0.3.0-dev.2

We would appreciate any feedback and help testing it. You can follow more updates here: https://github.com/appwrite/sdk-for-flutter/issues/5

[2020-09-10 22:10] eldadfux commented on #249
Closing in favour of #244

[2020-09-10 22:10] #249 closed

[2020-09-10 22:19] muehlt opened #530 "Broken website links"
The **retirement process** links on [the release lifecycle page](https://appwrite.io/docs/release-lifecycle) seem to be broken. @eldadfux (since the website is not open-source yet)

[2020-09-11 17:29] lstephensca opened #532 "[Feature Request] Add pref object directly into the user object"
It would be nice to add the pref object directly into the user object. Currently, I am working on admin app and listing all the users out in a table. It is nice being able to display all of the defined user data, but the the pref object is not returned in the call.  Currently, the pref object can only be used for a specific user providing their uid which means I now have to find a way of joining s

[2020-09-12 11:11] eldadfux opened #534 "Leverage built-in encryption"
Use Appwrite built-in encryption for internal resources (webhooks passwords, tasks password, oauth keys) and create a migration script instead of manually encrypt/decrypt directly inside each controller.

[2020-09-12 14:24] eldadfux opened #535 "Hide/Show secret keys and passwords inside the dashboard"
Currently all secret keys or http password used for OAuth apps, webhooks and background tasks are visible in the Appwrite console by default. This is not the best practice when taking screenshots, video recording or sharing your screen with other people.

We need to create a new UI components that will add a small show/hide button above relevant input fields and will toggle them between <input typ

[2020-09-14 05:15] gagandeepp commented on #535
can you assign this issue to me?

[2020-09-14 05:21] eldadfux commented on #535
@gagandeepp sure. please reach out on Discord if you need any help. Note that we're using vanilla JS for most of our UI, and please avoid any un-required dependencies. More info is available on Appwrite's [contribution guide](https://github.com/appwrite/appwrite/blob/master/CONTRIBUTING.md).

[2020-09-15 14:02] eldadfux commented on #373
@AnatoleLucet do you think you'll have time to continue working on this?

[2020-09-15 14:24] AnatoleLucet commented on #373
@eldadfux oops, forgot about that.

Unfortunately no, I don't think I'll.

[2020-09-15 14:31] eldadfux commented on #373
OK, I'll close this for now. Thanks for all the help @AnatoleLucet !

[2020-09-15 14:31] #373 closed

[2020-09-16 12:51] PineappleIOnic commented on #453
For user agents, we can't recognise we could have an "?" graphic, are the images in the panel done in the JS?

[2020-09-16 13:03] PineappleIOnic commented on #453
Looking in the code I could implement an "?" graphic for all missing images with the avatar class, which will help not just the user-agent image when it's not found but also the avatar images when they go missing or are otherwise inaccessible.

[2020-09-16 13:21] eldadfux commented on #453
@PineappleIOnic Yeh, that can be a good enough solution for the Appwrite console.

Anyway I think it would be great if we'll add a way for the API to recognise the Appwrite SDKs, so both Appwrite developers and app users could have a better visualisation of the sessions list.

[2020-09-16 13:38] PineappleIOnic commented on #453
I've been testing using the "onerror" attribute to change the image if it can't be found to an error one

[2020-09-16 15:31] PineappleIOnic commented on #453
PR Created. #537

[2020-09-16 15:32] TorstenDittmann opened #538 "[Feature Request] Delete user option in console"
Since #378 is waiting for release, we can add an option to the console.

My suggestion would be, to have an account to be blocked, as a requirement.
So, that accidents are less likely to happen.

[2020-09-16 15:35] eldadfux commented on #538
Would it help if we just add a confirmation dialog before deleting the user?

[2020-09-16 15:39] TorstenDittmann commented on #538
Sure, I still think that it is dangerous 👍

Having the button only appear when a user is blocked would add more steps. But maybe it is only my paranoia speaking there 😉

[2020-09-16 15:41] eldadfux commented on #538
My concern about this, is that it might not be very clear that the option is available in case the button is completly hidden or how to enable it in case its just disabled.

[2020-09-16 15:43] eldadfux commented on #538
Maybe we can imitate the project deletion UI instead of having both button one above the other (block & delete buttons):
![image](https://user-images.githubusercontent.com/1297371/93360455-5b3abb00-f84c-11ea-9d8e-1589d3d251c1.png)

[2020-09-16 21:36] TorstenDittmann commented on #538
This is perfect I guess! I agree 100% 👍

[2020-09-17 07:20] PineappleIOnic commented on #538
I could create the frontend implementation for this once the backend and the SDK is ready for this to be implemented, shouldn't be that hard 👍

[2020-09-17 14:16] eldadfux commented on #538
@PineappleIOnic That will be great 👌🏻

Let me work on this during the weekend, and i'll update here when its ready for you to follow up. I think I only need to make sure the console SDK has the new delete method using the SDK generator.

[2020-09-17 14:55] mxgnr opened #539 "[BUG] Failed newsletter email verification on appwrite.io with "plus" pattern"
Hi,

As previously described on the discord server, i've encountered an issue with the verification of my email address with a "plus" pattern (eg. `my.email+appwrite@gmail.com`).

After clicking on the verification email link, the email param of the POST request `https://appwrite.io/newsletter/verify` seems to replace the "+" character with a space (eg. `my.email appwrite@gmail.com`) and eventuall

[2020-09-18 14:30] eldadfux opened #540 "Appwrite CLI"
Appwrite CLI should include all standard backend SDKs functionality and allow Appwriters to interact with the Appwrite HTTP API directly from their terminals.

The CLI should rely on common Appwrite CLI FW for consistency and easy maintenance. We should package the CLI as a Docker image for ease of use across different platforms or operating systems.

General file structure:
* Dockerfile
* compose

[2020-09-18 18:31] PedroCisnerosSantana commented on #465
Hello @AlimFreight could you please give steps to reproduce? Also seems like there's already a mysqld process running, if you are in a fresh install could be Appwrite issue. Telegraf seems to have problems in the port connection, make sure you don't have any kind of strict firewall and make sure that port is not binded by other process.

[2020-09-18 18:32] PedroCisnerosSantana commented on #475
Hello @eldadfux I think this issue could be good for me to make some real php code :P
Could you please assign it to me?

Thanks

[2020-09-18 19:31] AlimFreight commented on #465
Yes, that was clean installation, and I checked all processes for ports similarity of cause.

[2020-09-18 19:54] eldadfux commented on #475
Sure @PedroCisnerosSantana that will be very helpful. Please work on the 0.7 branch, and let me know if you have any question :)

[2020-09-18 19:56] PedroCisnerosSantana commented on #475
Thanks @eldadfux I'd love to be your young padawan :P

[2020-09-18 21:13] PineappleIOnic commented on #360
This could be an awesome thing for me, I've been itching to learn Service Workers! 😄

[2020-09-18 22:30] TorstenDittmann commented on #360
Even though it will be a dependency, using https://developers.google.com/web/tools/workbox might the most stress free approach.

[2020-09-19 04:12] eldadfux commented on #538
@PineappleIOnic I have added the user deletion method to the console SDK:
https://github.com/appwrite/appwrite/commit/626d0d7281cdf0c5617d972618c571b31a42fc74

You can now implement the UI functionality in the user management page just as it work in the project settings page.
Please work against 0.7.x branch, and add some screenshot in the PR.

[2020-09-19 04:37] eldadfux opened #541 "#PREPTEMBER - Getting Ready for Hacktoberfest"
Some stuff we need TODO to make sure all of [Appwrite repos](https://github.com/appwrite) are ready for new code contributors.

- [x] Review Appwrite contributors guide and check for potential improvements. (@ronfybish)
- [x] Add `Submit a Pull Request` section to the contribution guide (just after `How to Start?` section) (@ronfybish)
- [x] Make sure to add **simple** naming convention for branch

[2020-09-19 06:20] brainless commented on #541
Hi Eldad, thanks for this effort. Like I mentioned in DEV, I want to look into the Docker images migration to Alpine. I will look around the project first, trying it out etc. Then take the tickets that I can tackle.

[2020-09-19 07:43] eldadfux commented on #541
@brainless, take a look at our repos that are prefixed with `docker-*`. One member has already been assigned to work on our docker-telegraf image, but I can assign you to any of the other repos.

[2020-09-19 11:01] Nibba2018 commented on #503
Hello @eldadfux , I would like to contribute for Python.

[2020-09-19 11:06] eldadfux commented on #503
Hey @Nibba2018, I assigned you to the issue and opened a new repo in the Appwrite namespace where you can submit the PR: https://github.com/appwrite/playground-for-python.

[2020-09-19 14:50] spielers commented on #25
Hi @eldadfux I can help to translate in Marathi and Hindi and Gujarati and Punjabi

[2020-09-20 08:11] spielers commented on #25
Hey @eldadfux  translated into the Marathi language please have a look and merge it PR[#542](https://github.com/appwrite/appwrite/pull/542)

[2020-09-20 11:30] eldadfux commented on #475
@PedroCisnerosSantana Got any chance to work on this? let me know if you need help

[2020-09-20 12:09] PedroCisnerosSantana commented on #475
@eldadfux will contact you in private later

[2020-09-20 12:27] eldadfux commented on #364
hey @javib51, any update on this one?

[2020-09-20 13:47] eldadfux opened #545 "[FEATURE] File Tokens"
Add a new file token object with relevant API routes to allow easy sharing of files for clients with no ability to persist cookies.

## API routes
* POST /v1/storage/[fileId]/tokens
* GET /v1/storage/[fileId]/tokens
* GET /v1/storage/[fileId]/tokens/[tokenId]
* DELETE /v1/storage/[fileId]/tokens/[tokenId]

## New `token` Param
Add a new token (string) param to any of the file view routes. If the t

[2020-09-21 05:11] eldadfux opened #546 "*Appwrite Content* - Help us create & improve docs, examples & tutorials"
We have started deploying multiple examples repos for different platforms to the Appwrite org namespace. This repos contain different Appwrite demos, examples and tutorials for getting started with Appwrite.

Currently the main focus for this repos is around examples for platforms like: Angular, Vue.JS, React, Svelte & Flutter, tutorials for using different Appwrite features (OAuth) and different

[2020-09-21 11:55] eldadfux opened #547 "Appwrite [Lite / Slim / Mini / Zero]"
We need to design a single Docker container that can run all of the Appwrite services and internal processes using Supervisord. This should be a feature with Appwrite minimum, must-have features (ClamAV disabled). This is something we need to allow developers to run Appwrite easily on low-end systems and 1-click deployment services (Raspberry PI, Free hosting tiers, Heroku, KintoHub, and others).

[2020-09-21 12:00] divyake commented on #503
Hey @eldadfux , I would like to contribute for Node.js .

[2020-09-22 06:49] Niweera commented on #546
@eldadfux I would like to contribute to `Simple Database examples and tutorial` in **React**.

[2020-09-22 08:24] ronfybish opened #548 "submit a pull request section to contribution guide"
add simple naming convention flow for branches and PR titles

[2020-09-22 08:26] ronfybish commented on #548
Working on it (:

[2020-09-22 17:03] jagdishjadeja commented on #546
@eldadfux I would like to contribute to  `Simple Database examples and tutorial` in **angular**

[2020-09-22 17:07] eldadfux commented on #546
@jagdishjadeja got you assigned

[2020-09-23 04:02] eldadfux commented on #548
PR merged :)

[2020-09-23 04:02] #548 closed

[2020-09-23 04:04] eldadfux commented on #541
The CONTRIBUTING doc has been updated by @ronfybish with the new `Submit a Pull Request` section and new naming conventions for branches and PRs.

[2020-09-23 09:16] ronfybish commented on #541
@eldadfux Thank you very much appreciate it!
Continues to work hard in preparations for the Hacktoberfest 🎯 👩‍🔧

[2020-09-24 03:32] christyjacob4 opened #551 "Conversational AI support for Appwrite"
I think it would be a really cool feature to have out of the box chat bot support in Appwrite. This would be a great addition once we have our web sockets API ready. I was browsing through some and found an open source chat-bot that is very promising. [Rasa](https://rasa.com/)

Here's what my proposed ideal state would look like.
* The chat-bot runs in its own container
* These don't have to be a

[2020-09-24 03:41] eldadfux commented on #551
@TorstenDittmann has just talked with me about creating a spec for Appwrite plugins & marketplace. It would be interesting to see how this could fit into the new spec.

[2020-09-24 03:45] christyjacob4 commented on #551
That's great @eldadfux @TorstenDittmann. Would love to hear more about it 😊

[2020-09-24 06:57] eldadfux commented on #307
Status Update 24-09-2020, this are the thing left to finish before our first RC version:

- [ ] Test timeouts
- [ ] Add auto expiry for logs? (new daily maintenance worker?)
- [ ] Abuse control configs
- [ ] Check with package managers
    - [ ] PHP
    - [ ] Python
    - [ ] Ruby
    - [ ] Node
- [ ] Client endpoint for func execution (add new execute permissions)
- [ ] Schedule trigger (send fir

[2020-09-24 07:59] benceHornyak commented on #546
@eldadfux Angular and AngularJS can be very confusing, they are two completely different framework.  If you want I can contribute with Angular (2+, not JS).

[2020-09-24 08:06] eldadfux commented on #546
@benceHornyak, I fixed the FW name in the issue. Feel free to send any Angular PRs at: https://github.com/appwrite/demos-for-angular

[2020-09-24 18:32] qt-sergal commented on #547
Hi! Can I take this issue? Would be glad to start contributing to Appwrite and this issue looks like a great beginning.

[2020-09-24 18:38] eldadfux commented on #547
Yeh sure @qt-sergal. I have assigned you with the issue. I'll open a separate repo for you to submit a PR with the new Dockerfile. Please reach out to me on Discord if you have any question.

https://appwrite.io/discord

[2020-09-24 18:39] qt-sergal commented on #547
Okay! Great, I will start working on it right away.

[2020-09-24 18:41] eldadfux commented on #547
Great! this is the new repo: https://github.com/appwrite/lite the name is temporary as we want to put it to a community vote :)

[2020-09-25 05:01] offline-first opened #556 "Feature Request: Document change listener"
It would be great to have a snapshot listener for documents like in firebase

[2020-09-25 05:59] benceHornyak commented on #546
@eldadfux I'd love to contribute to `Simple storage file upload example and tutorial` in __angular__ for hacktoberfest

[2020-09-25 08:12] eldadfux commented on #546
@benceHornyak that's great, I assigned you to the issue.

[2020-09-25 08:42] eldadfux commented on #546
Just added 2 new tutorials on the checklist:
- [ ] Deploy Appwrite with Sendgrid as an SMTP server
- [ ] Deploy Appwrite with MailGun as an SMTP server

[2020-09-25 09:08] NidhxGupta opened #557 "Links in "add-oauth2-provider.md" file aren't working"
Hey!
So I was going through the add-oauth2-provider.md file to contribute by Adding a New OAuth2 Provider.
![Screenshot 2020-09-25 at 2 37 51 PM](https://user-images.githubusercontent.com/56179878/94248882-b9e2f180-ff3c-11ea-9cf7-099095a8ca22.png)

I found out that the CODE OF CONDUCT link does not link to the right page.
![CodeOfConduct](https://user-images.githubusercontent.com/56179878/94247675

[2020-09-25 09:20] eldadfux commented on #557
Hey @NidhxGupta, I assigned you with the issue 👍🏻

[2020-09-25 10:09] NidhxGupta commented on #557
Hey @eldadfux,
I have made the necessary changes and made a pull request #558 doc-577-corrected-links-in-"add-oauth2-provider.md"-file

[2020-09-25 12:59] #557 closed

[2020-09-25 13:32] divyake commented on #546
@eldadfux I would like to contribute to `Simple storage file upload example and tutorial` in react for hacktoberfest

[2020-09-25 15:14] eldadfux commented on #546
@divyake, I got you assigned.

[2020-09-26 05:30] Ninjavin commented on #546
@eldadfux I would like to contribute to `Simple image cropping examples and tutorial` in React for Hacktoberfest

[2020-09-26 06:07] spiritbro1 commented on #546
@eldadfux I would like to contribute to ``` Simple image cropping examples and tutorial``` in React

[2020-09-26 06:11] eldadfux commented on #546
@spiritbro1 you have been assigned to `Simple image cropping examples and tutorial` in React

[2020-09-26 17:40] lightlace commented on #516
I'd like to tackle this issue.

[2020-09-26 17:41] eldadfux commented on #516
Please do 🙏🏻

[2020-09-26 21:18] christyjacob4 opened #562 "Add Example Response in appwrite.io docs"
It would be really useful to have an example response along with the example request on appwrite.io
![Screenshot 2020-09-27 at 2 48 08 AM](https://user-images.githubusercontent.com/20852629/94350429-e184a780-006b-11eb-8deb-4b4501feb1d5.png)

I'd like to take up this issue.

[2020-09-27 05:20] eldadfux commented on #562
Duplicated with #381. Closing this one, and assigning you to the previous issue.

[2020-09-27 05:20] #562 closed

[2020-09-27 05:22] christyjacob4 commented on #562
Awesome @eldadfux 👍

[2020-09-27 05:26] eldadfux commented on #381
@christyjacob4 We'll need to work on this together, because the homepage code is still not open-source.

The idea is to use the new Response object we introduced with Cloud Functions (branch: `swoole-and-functions`) and use it to parse the different response models inside our open-api spec route (https://localhost/v1/open-api-2.json?extensions=1&platform=console). Later we use the response of this

[2020-09-27 05:30] christyjacob4 commented on #381
Sure @eldadfux just let me know a time and we can connect 👍

[2020-09-27 07:35] eldadfux commented on #465
Update 27-09-2020:

1. I have opened a new branch for adding ARM support: https://github.com/appwrite/appwrite/tree/feat-465-add-arm-support
2. Added support for multi-CPU architectures as part of our CI process
3. Opened multiple issues to convert all our core docker-images to use Alpine as a base image.

[2020-09-27 08:14] eldadfux commented on #465
From the first CI run, seems like this are our problematic Docker images:
![image](https://user-images.githubusercontent.com/1297371/94359914-87f39b80-00b2-11eb-91b9-755b39693eb1.png)

[2020-09-27 08:32] dannylwe commented on #546
Hi, I'd like to contribute to `Deploy Appwrite on AWS`

[2020-09-27 08:40] eldadfux commented on #546
@dannylwe got you assigned to it 👌🏻

[2020-09-28 08:17] Jacimartini98 commented on #547
Appwrite

[2020-09-28 08:18] Jacimartini98 commented on #547
Write

[2020-09-28 11:06] imrishabh18 commented on #491
@eldadfux Can you explain how can this issue be resolved?

[2020-09-28 11:30] Sameerkash commented on #546
@eldadfux  I would like to work on Deploying to k8 and GCP

[2020-09-28 12:22] PineappleIOnic commented on #453
Should this issue be closed due to #537 being merged?

[2020-09-28 12:45] eldadfux commented on #546
@Sameerkash 👌🏻

Assigned you to both:
* Deploy Appwrite on GCP
* Deploy Appwrite on K8

[2020-09-28 12:46] eldadfux commented on #453
@PineappleIOnic marked it as: `waiting for release`

[2020-09-28 12:47] PineappleIOnic commented on #453
👌

[2020-09-28 13:24] eldadfux commented on #265
I created a simple flowchart to describe how the realtime server will work with other Appwrite components: https://github.com/appwrite/appwrite/blob/feat-265-realtime-server/docs/specs/realtime.drawio.svg

The spec is aimed to allow the setup to have a cluster of realtime server behind Appwrite loadbalancer.

Any feedback will be great.

[2020-09-28 15:41] eldadfux commented on #538
All changes by @PineappleIOnic has been merged to branch `0.7.x` 🥳

[2020-09-29 10:17] TorstenDittmann opened #566 "[Proposal] Extension API"
# Introduction
To extend Appwrite with third party extensions in the future I write here a proposal as a basis for a discussion.

Extensions are modules which can be integrated into Appwrite and can do the following things:

- Integration into the console
- Create custom API Routes
- Set hooks for different functions

To minimize work it would be advantageous to stay linguistically with PHP.

Appw

[2020-09-29 18:11] KarenEfereyan commented on #546
@eldafux I am still trying to understand this issue and how I can make contributions? Mind explaining it further?

[2020-09-29 19:54] snehal199 commented on #474
Can I pick this up @eldadfux ?

[2020-09-29 20:52] eldadfux commented on #474
@snehal199 yes sure. Please submit the PR against branch `0.7.x`.

[2020-09-29 20:55] iamsaquib8 commented on #546
@eldadfux I would like to contribute to Simple Database examples and tutorial in Svelte

[2020-09-30 06:38] eldadfux commented on #566
I think a marketplace will have a huge positive impact on developers using Appwrite.

I’m not sure I would restrict extension to be written directly in PHP for 2 reasons:
1. One of Appwrite’s main mission statements is to be platform and language agnostic. Forcing extensions to be written in PHP will contradict that mission.
2. Writing extensions in an un-isolated environment could become a gatewa

[2020-09-30 08:00] lohanidamodar commented on #566
I like the idea of not restricting the extensions to be written in PHP only and leveraging the Functions for extension solution.

However, iframes in Appwrite Dashboard sounds scary. If we can, I think its better to have a sandbox kind of environment withing dashboard for Extensions to tap into, so that they can provide additional functionalities without creating security issues. I am not yet sure

[2020-09-30 11:03] PineappleIOnic commented on #566
This sounds awesome! I would love to get involved and make this thing a possibility. I think a good idea would be to have an addon's tab in appwrite's console where all the add-ons reside in a list. Options could open as a popup and within this options could be controlled by the add-on to add forms and stuff.

A design language to keep the UI Consistent would be a cool prospect something like
[cod

[2020-09-30 15:03] PineappleIOnic commented on #546
Hey, 👋 I'm currently working on a Database Example and a File Upload example for VueJS, Could I please be assigned to those tasks if they are still available?

[2020-09-30 16:52] TorstenDittmann commented on #566
I don't know if going langauge agnostic using functions makes sense for extensions. In terms of security, you are always vulnerable to malicious actions once you use third party code. This applies to the function and non-function approach.

Also using functions for this might end up in a lot of overhead for extension developers and defining UI by JSON might be too limiting. I mean, we offer the CS

[2020-09-30 19:39] mitchell-frost commented on #535
If this issue is still open, can I take it up?

[2020-09-30 22:07] PineappleIOnic commented on #546
and I would also like to be removed from Simple login example and tutorial on Angular, Since I would prefer to devote more attention to VueJS, Svelte and React.

[2020-10-01 00:05] relaxxpls commented on #546
Could I add tutorials on Logging in with various services, I'm almost done with the documentation for google.

[2020-10-01 04:17] eldadfux commented on #546
@PineappleIOnic I added you to the Vue.js tutorials, removed the Angular one.

@relaxxpls I added you to the Google login tutorial, let me know if you want to add more OAuth tutorials, we can also extend the list.

[2020-10-01 05:14] drcoolsanjeev commented on #546
@eldadfux I would like to contribute to Simple Database examples and tutorial in React

[2020-10-01 05:14] rishipurwar1 opened #585 "Smooth scroll feature is missing"
When we press the scroll to top button, it suddenly goes to the up. So, I want to add a smooth scroll feature to it.

![ezgif com-gif-maker (5)](https://user-images.githubusercontent.com/57035408/94770750-0ca42980-03d3-11eb-8ea1-658a7f3ed094.gif)

[2020-10-01 05:15] rishipurwar1 commented on #585
I would like to add to work on this...

[2020-10-01 05:23] iarmankhan commented on #585
I can take this up if nobody is working on it.

[2020-10-01 05:26] spiritbro1 commented on #546
![image](https://user-images.githubusercontent.com/62529025/94771363-3c5a2e00-03e1-11eb-93e7-ba8f03aff4d4.png)

there is already somebody assigned to do that please pick another issue pick some issue that doesnt have @ in it

[2020-10-01 05:28] rishipurwar1 commented on #585
@iarmankhan  I am working on it

[2020-10-01 05:34] eldadfux commented on #585
@rishipurwar1 please not that appwrite.io is still not open-source. The code for this component does sit on this repo: https://github.com/appwrite/appwrite/blob/d05a8479b9bbc61c8d42ca2942fde8bf58c750d4/public/scripts/views/general/scroll-to.js#L5

You would probably need to tweak the Appwrite dashboard to make sure any changes are working because this button is hidden in the console of this repo.

[2020-10-01 05:51] iamrajiv opened #586 "Adding ESLint"

[2020-10-01 05:52] iamrajiv commented on #586
@eldadfux I want to work on this issue.

[2020-10-01 06:05] iamrajiv opened #589 "Adding pull request template and issue template"

[2020-10-01 06:05] iamrajiv commented on #589
@eldadfux I want to work on this issue.

[2020-10-01 06:56] Hard-Coder05 commented on #546
@eldadfux Just wanted to know if there is anything related to flutter that I can help in?

[2020-10-01 07:14] sid071999 commented on #503
Hey @eldadfux I would like to work on flutter playground. Should I create a new example or make changes to the existing one.

[2020-10-01 07:17] prasanjit15 commented on #25
Hii @eldadfux I can help to translate in Odia

[2020-10-01 07:26] ShubhamSood1406 commented on #546
@eldadfux Can I work on Login with Facebook + Appwrite OAuth API

[2020-10-01 07:42] benceHornyak commented on #546
hey :wave: @eldadfux I'll happily take over ` Simple login example and tutorial` for Angular.

[2020-10-01 08:30] AbhishekTiwari07 commented on #535
@eldadfux can i work on this issue?

[2020-10-01 08:55] k-guy-dev commented on #546
Hey @eldadfux I would really like to take a shot at React Locale API example,

[2020-10-01 08:58] PineappleIOnic commented on #546
Could I get assigned to: `Simple image cropping examples and tutorial` for Vue? I have completed the previous two tasks and just awaiting a merge for them 👍

[2020-10-01 09:06] Gajesh2007 commented on #585
I am working on it

[2020-10-01 10:09] prasanjit15 commented on #25
Hii @eldadfux. I have done the required changes and translated into the Odia language please have a look and merge it PR#598

[2020-10-01 10:54] navneetsn18 commented on #25
Hiii @eldadfux  I can help to translate in Urdu.

[2020-10-01 11:18] rishipurwar1 commented on #585
Go for it @Gajesh2007

[2020-10-01 11:28] Gajesh2007 commented on #585
Where is index.html?

[2020-10-01 11:29] Gajesh2007 commented on #585
@eldadfux Where is index.html?

[2020-10-01 12:39] Unviray commented on #25
Hi @eldadfux, I can help to translate in French but I don't know how to push in specific branch. How to do that ?

[2020-10-01 12:41] Unviray commented on #25
Can I translate in Malagasy language mg-MG ?

[2020-10-01 12:41] spielers commented on #25
@eldadfux I request you to update the list with the latest merges.
1] Marathi (mr) => all done
2] Gujrati(gu) => PR done #604
3] Urdu => PR done #605

[2020-10-01 13:03] spielers commented on #25
@Unviray you can select the specific branch in our case i.e (0.7.x) and then translate or add your stuff there and make a PR from that branch if its any error there DM me ill help you out.

[2020-10-01 13:58] anushkrishnav opened #608 "Adding stale bot GitHub actions"
# Stale bot Warns and then closes issues and PRs that have had no activity for a specified amount of time.

## How it works
- After a period of inactivity, a label will be applied to mark an issue as stale, and optionally a comment will be posted to notify contributors that the Issue or Pull Request will be closed.

- If the Issue or Pull Request is updated, or anyone comments, then the stale labe

[2020-10-01 14:11] eldadfux commented on #585
There is no index.html. What exactly are you trying to achieve?

[2020-10-01 14:18] Gajesh2007 commented on #585
@eldadfux I wanted to add a Smooth scroll feature

[2020-10-01 14:23] Gajesh2007 commented on #530
Which links are broken? @muehlt @eldadfux

[2020-10-01 14:25] eldadfux commented on #530
This will be fixed in the next deployment of https://appwrite.io

[2020-10-01 14:29] muehlt commented on #530
_The **retirement process** links on [the release lifecycle page](https://appwrite.io/docs/release-lifecycle)_.

@eldadfux fixed it because the website is not open source yet 👍

[2020-10-01 14:36] adithyaakrishna commented on #503
Hey @eldadfux Would developing a new playground in react-native be good? If so, Would like to work on it :)

[2020-10-01 14:42] adithyaakrishna commented on #25
Hi @eldadfux , Would love to add a new language i.e in Kannada and I can work on that :)

[2020-10-01 15:31] anushkrishnav opened #611 "All Contributors"
Contributors' help in building great Projects would be great if we can have them in Project Readme?
People are giving themselves and their free time to contribute to open source projects in so many ways, so we believe everyone should be praised for their contributions (code or not).

I wish to add allcontributors to this repository

Reference:https://github.com/all-contributors/all-contributors

[2020-10-01 16:31] naman360 commented on #25
Would love to add Punjabi and hindi locales.

[2020-10-01 16:37] spielers commented on #25
@naman360 Thanks for your interest. You can go with Punjabi locales Hindi is already done.

[2020-10-01 17:07] naman360 commented on #546
I want to work on `Simple usage examples for the Appwrite Avatars API`.

[2020-10-01 18:17] abhi14nexu commented on #546
I want to work on ### Simple login example and tutorial for Angular and I have also created a PR for the same.

[2020-10-01 18:18] abhi14nexu commented on #546
I want to work on ### **Simple login example and tutorial for Angular** and I have also created a PR for the same.

[2020-10-01 18:22] abhi14nexu commented on #546
I want to work on `Simple login example and tutorial for Angular` and I have also created a PR for the same.

[2020-10-01 20:07] eldadfux commented on #611
We did have this kind of list when we started out, but with over +130 code contributors and hundreds more with non-code contribution its super hard to maintain such a list. Instead we built: https://appwrite.io/community in respect to all our amazing contributors.

Github also offers the https://github.com/appwrite/appwrite/graphs/contributors which has a list of all our contributors. At Appwrite

[2020-10-01 20:07] #611 closed

[2020-10-01 23:51] spiritbro1 commented on #546
@eldadfux i want to get assigned into ```Deploy Appwrite on DigitalOcean```

[2020-10-02 01:06] Aarush-Goyal commented on #535
If the issue is open can I work on it?

[2020-10-02 02:24] sparkingdark commented on #503
Hey @eldadfux  assign it to me in Ruby or php any of these.

[2020-10-02 04:01] Hard-Coder05 opened #625 "Missing Issue and PR templates!"
@eldadfux  I have seen a irregular kind of PR's and Issue's made in this repo.
I would like to add PR and Issue template for this repo!
I would like to take this issue!
Is this issue eligible for `hacktoberfest` label ?

[2020-10-02 04:11] eldadfux commented on #625
Duplicated with #589

[2020-10-02 04:11] #625 closed

[2020-10-02 04:17] eldadfux commented on #585
@Gajesh2007 Please review our [Contribution Guide](https://github.com/appwrite/appwrite/blob/master/CONTRIBUTING.md) for more info about Appwrite design and architecture. If you still need help, please reach out on the #maintainers channel on our Discord server. https://appwrite.io/discord.

[2020-10-02 04:48] eldadfux commented on #503
We already have a Flutter playground. If you have any meaningful improvement please open an issue before submitting a PR.
https://github.com/appwrite/playground-for-flutter

[2020-10-02 04:50] eldadfux commented on #503
Our general idea for playground is keep them very simple, that's why all of our playground use vanilla code and no language specific frameworks.

[2020-10-02 04:52] eldadfux commented on #503
I will assign you to both, please update this issue if you have any problems or issue not allowing you to complete any of the playgrounds so we could ask someone else for help.

Please use best practices and coding-standards for each language playground, and make sure to follow other playgrounds work as reference. This will help make sure all of our playground are consistent and helpful.

[2020-10-02 05:13] sparkingdark commented on #503
Thanks for assigning me.Can I use some formatter to make the code neat and clean?

[2020-10-02 07:39] NidhxGupta commented on #410
Hey @eldadfux, I would like to work on the Fitbit OAuth provider, could you please assign the same to me? Thanks!

[2020-10-02 07:50] eldadfux commented on #410
@NidhxGupta you have been assigned to the Fitbit provider. Please feel free to reach out on our #maintainers channel on https://appwrite.io/discord if you need any help.

You can also use previous PR by other members on this issue as a reference point.

[2020-10-02 08:08] st1891 opened #628 "Add more information about this and make some presentation and add them to easy to understand underline the main part"

[2020-10-02 08:36] eldadfux commented on #25
**Please Note** - We have add another step for adding a new translation. This is for the tests to run properly. I have also updated the original post.

**Configuration and Loading**
Add the new language to Appwrite config file: `/app/config/locale/codes.php` (order by ABC)
Load the new translation here: `./app/init.php (line: 224)` (order by ABC)

[2020-10-02 08:36] spielers commented on #25
Hello Guys we have a new update to the issue. please read the description of the issue before making any new PR

best,
spielers

[2020-10-02 09:13] #628 closed

[2020-10-02 09:27] spielers commented on #25
Hey guys, I suggest have a look at the list of translated languages before making any new PR, it has been observed that some of the languages are getting repeated.

Best,
spielers

[2020-10-02 11:33] PineappleIOnic commented on #503
@sparkingdark Feel free to use formatter in your playground, We all normally use it anyway 👍

[2020-10-02 11:43] ritwikchakraborty123 commented on #547
Sir I also want to contribute or may be collaborate with other contributer

[2020-10-02 12:14] sparkingdark commented on #503
Thank you. I am starting to work on it.

[2020-10-02 12:16] OmkarPh commented on #589
Does this issue still open?
I can work on it if nobody is working :)

[2020-10-02 12:20] sparkingdark commented on #503
Hey @eldadfux can you open a repository for playground-for-php  and playground-for-rubyI don't find one.

[2020-10-02 12:20] AshishMhrzn10 commented on #25
Hey @spielers and @eldadfux , Please check PR #623 where i have updated everything for Nepali language including files codes.php as well as init.php. Please, Do check

Hey @spielers and @eldadfux , Please check PR #623 where i have updated everything for Nepali language including files codes.php as well as init.php. Please, Do check

[2020-10-02 12:21] AshishMhrzn10 commented on #25
Hey @spielers and @eldadfux , Please check PR #623 where i have updated everything for Nepali language including files codes.php as well as init.php. Please, Do check

[2020-10-02 12:24] iamrajiv commented on #589
@OmkarPh I am working on this and have already made PR #590.

[2020-10-02 12:25] anuragagarwal561994 commented on #475
Is this issue being worked upon, or up for grab? I was thinking to take this up if possible.

[2020-10-02 16:38] eldadfux commented on #589
@OmkarPh A PR has already submitted. I'm waiting for more community feedback before accepting it.

[2020-10-02 18:46] BalgopalPatro commented on #546
@eldadfux I want to create a one-to-one Chat Application in React

[2020-10-03 04:30] SubashMuruganDev commented on #535
is this issue still open if so can i work on it ?

[2020-10-03 06:11] spielers commented on #25
Hey, guys, I would suggest reading the description of the issues first before making a new PR. it has been observed that contributors  are splitting the issue into multiple PRs for increasing the PR count for hactoberfest, That's not an appropriate way
I would suggest you can have a look at issues there are plenty of them for newcomers

best,
spielers

[2020-10-03 16:09] abhaypawar commented on #25
Hey @eldadfux and @spielers. I would love to translate into Sanskrit locale - (sa).

[2020-10-04 07:59] ashawe commented on #541
Please add "assigned" label to issues that have been assigned for easier sorting of issues

[2020-10-04 08:01] eldadfux commented on #541
@ashawe thanks for the heads up. Actually this issue can be closed now. I will try to add more open issues as we progress with Hacktoberfest.

[2020-10-04 08:01] #541 closed

[2020-10-04 15:44] bislara opened #650 "Adding greeting and issue labeller Github Action"
We can have a Github action that can label an issue automatically add relevant labels to the issue. Also, we can have a greeting action which will greet the users who are contributing for the first time in any issue or PR.

[2020-10-04 18:10] eldadfux commented on #650
@bislara thanks for the suggestion, but we are not in a scale to benefit from such automations.

[2020-10-04 18:10] #650 closed

[2020-10-04 18:13] eldadfux commented on #608
I would prefer not to over-automate the repo until we'll have no way but to do it. The cost of maintenance might overcome the benefits at this stage. We could re-open issue in the future.

[2020-10-04 18:13] #608 closed

[2020-10-05 08:04] spielers commented on #25
@abhaypawar Go for it, I am assigning you for Sanskrit (sr)

[2020-10-05 08:05] spielers commented on #546
hey, @drcoolsanjeev Go for it I am assigning you That

[2020-10-05 08:08] spielers commented on #546
@BalgopalPatro that would be great but make proper documentation of start-to-end process of it .

Best,
spielers

[2020-10-05 08:13] spielers commented on #546
Hey, @spiritbro1 You can work on this let me know when you're done!

[2020-10-05 08:21] spielers commented on #546
@benceHornyak Go for it I will assign your name to that

[2020-10-05 08:22] spielers commented on #546
Hey, @k-guy-dev  Go for it I will assign your name

[2020-10-05 08:24] KarenEfereyan commented on #546
@spielers for us who have submitted PRS have they been reviewed?

[2020-10-05 08:30] spielers commented on #546
@KarenEfereyan  Yeah definitely it would be reviewed! :)

Best,
spielers

[2020-10-05 08:44] syshcndr commented on #25
Hey! @spielers , I am interested in translating to Kannada (ka).

[2020-10-05 08:47] spielers commented on #25
hey, @syshcndr  that would be helpful, go ahead!

best,
spielers

[2020-10-05 12:52] spiritbro1 commented on #546
@spielers https://github.com/appwrite/appwrite/issues/546#issuecomment-703476889 done https://github.com/appwrite/appwrite/pull/622

[2020-10-05 16:12] peopledrivemecrazy opened #656 "Incorrect link in docs for Complete Email Verification"
https://appwrite.io/docs/client/account

`Create Email Verification` has a link on this line `Learn more about how to complete the verification process.` it should be updated to `https://appwrite.io/docs/client/account#updateVerification` from `https://appwrite.io/docs/client/account#updateAccountVerification`

[2020-10-05 21:02] Kolkies commented on #546
@KarenEfereyan I can't find any PR from you in the appwrite repo?

[2020-10-05 21:57] avats-dev commented on #546
@spielers @Kolkies Can I add deployment docs for `heroku` and `IBMCloud`, but these two are not mentioned in the above TODO? Thanks, let me know.

[2020-10-06 10:08] #656 closed

[2020-10-06 16:22] PedroCisnerosSantana commented on #475
Hello @anuragagarwal561994 I'm working on it, if you want to help you can reach me out on our discord server :D

[2020-10-06 20:56] saidau commented on #25
I'd love to add Bosnian! If possible?

[2020-10-06 21:33] shivaylamba commented on #25
Hi @spielers I can work on Azerbaijani. if Possible

[2020-10-06 21:47] midopooler commented on #25
Hi @spielers I can work on Nicobarese. if Possible

[2020-10-06 23:30] GriffinMLN commented on #25
@spielers @eldadfux I'll add Bulgarian translations :)

[2020-10-07 01:33] seongwon-kang commented on #546
@eldadfux Hi, I want to get assigned to `Deploy Appwrite on Azure`

[2020-10-07 03:46] spielers commented on #25
Go ahead @shivaylamba

[2020-10-07 03:46] spielers commented on #25
Go ahead @saidau

[2020-10-07 03:47] spielers commented on #25
Gi ahead @midopooler

[2020-10-07 03:48] spielers commented on #25
Sure you can @GriffinMLN

[2020-10-07 07:43] Arunoday-bhattacharjee commented on #547
Hey I would also like to contribute to this issue . Can I help in any way?

[2020-10-07 15:01] spielers commented on #546
Hey, @seongwon-kang Go for it. I will assign your name there

best,
spielers

[2020-10-07 16:14] rsneh commented on #410
Hi @eldadfux, I saw that the WordPress provider was missing.

[2020-10-07 16:28] rsneh commented on #410
And regarding Twitter, it looks like they are supporting OAuth2
https://developer.twitter.com/en/docs/authentication/oauth-2-0

I'll check that out tomorrow.

[2020-10-08 07:30] enudler commented on #129
Hi @eldadfux

I can recommend [Predator](https://predator.dev)
This is not a cli but a platform that needs to be installed (can run in docker)
It allows running distributed load and manages reports/webhooks/benchmarks/comparisons which is good for the long run.
Do you have an environment where you deploy appwrite for testing after every commit/release?

If not, it probably won't be a good match, a

[2020-10-08 17:35] eldadfux commented on #410
@rsneh last time we checked Twitter only supported OAuth2 for app and not user scope. Please let me know if that isn't the case anymore.

[2020-10-08 17:40] rsneh commented on #410
@eldadfux I know what you mean... I've played with that a bit today.
I do think this is still the case with Twitter.
"Sign in with Twitter" is still supporting only OAuth1.

From https://developer.twitter.com/en/docs/authentication/guides/log-in-with-twitter

[2020-10-09 05:51] #589 closed

[2020-10-09 09:38] vj-codes commented on #25
@spielers @eldadfux if I find any typos or corrections , can I create a PR for that ?Not necessarily for hacktoberfest as I have completed my first 4 PRs but as a improvement in general

[2020-10-09 09:43] vj-codes commented on #546
@spielers @eldadfux I would like to` Simple usage examples for the Appwrite Locale API` as a part of hacktoberfest . What needs to be done exactly ?
Also after that one is done I would proceed to `Simple usage examples for the Avatars API`

[2020-10-09 09:43] vj-codes commented on #546
@spiritbro1 are you working on  `Simple image cropping examples and tutorial ` ?? If not can I work on it?

[2020-10-09 09:46] spiritbro1 commented on #546
@vj-codes which one react?

[2020-10-09 09:47] spielers commented on #25
@vj-codes Yeah for sure you can. but just mention in the description of the PR That you are not aiming for hacktoberfest. will get you merged.

[2020-10-09 09:50] vj-codes commented on #546
@spiritbro1 yes the react one

[2020-10-09 09:52] spiritbro1 commented on #546
![image](https://user-images.githubusercontent.com/62529025/95569496-dbb99980-0a4f-11eb-9bb5-99cce8a461e4.png)

@vj-codes https://github.com/appwrite/demos-for-react/pull/4 i've already done it just need review sorry please pick something else

[2020-10-09 10:01] vj-codes commented on #25
@spielers also can I add marathi lang , code : mr
I see it is mentioned in languages.php but no translations , this as a part of hacktoberfest

[2020-10-09 10:51] spielers commented on #25
Hey, @vj-codes I guess you are checking with the master branch right ?? because I am the one who added Marathi Mr in 0.7.x branch. our current working directory for Locale translation is 0.7.x. if you found any fixes for that surely send a PR.

best,
spielers

[2020-10-09 12:44] PineappleIOnic commented on #546
`Simple Database examples and tutorial` and `Simple storage file upload example` and tutorial for vueJS have both been finished

[2020-10-10 08:42] eldadfux commented on #546
I updated the main issue, and assigned everyone who asked for an issue where the issue was still up for grabs. We'll do an effort to review all open PR as soon as possible. We'll also add some more ideas for new content in the next few days.

* @ShubhamSood1406 I assigned you to `Facebook OAuth tutorial`
* @benceHornyak I assigned you to `Angular login tutorial`
* @k-guy-dev I assigned you to `App

[2020-10-10 11:41] k-guy-dev commented on #546
@eldadfux , I've made a PR for the react example and I think @christyjacob4 hasn't responded. Please can you assign it to another reviewer? Thanks 😄

[2020-10-10 11:49] vj-codes commented on #546
@eldadfux can I get assigned to this

[2020-10-10 12:16] spielers commented on #546
Hey, @vj-codes `Simple usage examples for the Appwrite Locale API` with react is already done You can proceed with any others that are remaining.

[2020-10-10 22:29] ng29 commented on #499
hey @eldadfux can i help in this ? ? if some more info can be provided 👍

[2020-10-11 07:55] Wittty-Panda commented on #501
Hello sir @eldadfux ,
This is my first issue for appwrite repo,
Can you please explain what i will have to do and Assign this to me ?
I will do my level best to contribute.

[2020-10-11 11:00] SandeepGamot commented on #25
Hey I'd like to help with Gujarati (lang code : gu).

[2020-10-11 11:11] spielers commented on #25
Hey, @SandeepGamot  The Gujrati gu translation is already done.You can proceed with any other language if you want

best,
spielers

[2020-10-11 11:14] spielers commented on #25
And the correct path is `app/config/locale/`. We are currently working on **0.7.x** branch So you can proceed with This is you want

Best,
spielers

[2020-10-11 15:14] danibjor commented on #395
GeoPoint (lat,long)

[2020-10-11 16:42] peopledrivemecrazy commented on #395
Do you mean GeoJSON?

[2020-10-11 17:08] danibjor commented on #395
Didn’t, but that’s probably even better.

[2020-10-11 19:34] eldadfux commented on #395
@danibjor, @peopledrivemecrazy, I have updated the list :)

[2020-10-11 22:01] ealvarez968 commented on #475
@PedroCisnerosSantana whats your discord server I would like to help

[2020-10-14 22:10] eldadfux commented on #547
Hey @qt-sergal, would be great if you could post an update about your progress with this issue. 🙏🏻

[2020-10-15 04:18] eldadfux opened #681 "Support non-interactive setups"
## 🚀 Feature

We need to add an option for non-interactive setup from the command line. This can be set using a flag passed to the command line indicating the setup process not to ask for any user input. When this flag is set the `install` script should use default setup values or fetch values passed as command line arguments.

Currently we have only 4 mandatory params:
* Server hostname
* HTTP po

[2020-10-15 04:37] SoftCreatR commented on #681
I'll try it.

[2020-10-15 04:52] eldadfux commented on #681
Some small pointers to help out:

* Updated setup examples are located here: https://github.com/appwrite/appwrite/tree/0.7.x#unix
* You can add new command line args using the `param` method, like this: https://github.com/appwrite/appwrite/blob/0.7.x/app/tasks/install.php#L15
 * You can also use the `param` method to define a default param value and set it as required.
* A list of available param

[2020-10-15 08:06] eldadfux commented on #516
Hey @lightlace are you still working on this issue?

[2020-10-15 11:16] qt-sergal commented on #547
Hi! Sorry, I am already done working on it, just got busy and wasn't sure if i should commit things part-by-part or all at once.
Will create a pull request to the other repository later today.

[2020-10-15 11:22] eldadfux commented on #547
@qt-sergal That's great, looking forward!

[2020-10-15 17:26] Taha-Firoz opened #684 "Schema-less collections"
## 🚀 Feature

Make providing rules/schema for documents in a collection optional(like Mozilla Kinto).

## Have you spent some time to check if this issue has been raised before?

Yes, I was advised to make a feature request.

### Have you read the [Code of Conduct](https://github.com/appwrite/appwrite/blob/master/CODE_OF_CONDUCT.md)?

Yes

## Pitch

I think providing a schema for our documents sho

[2020-10-16 21:29] nitch193 commented on #546
Would like to work on Login with `Github+Appwrite OAuth API`

[2020-10-17 06:43] Preetpalkaur3701 commented on #546
Hi! I would like to work on this issue: Login with Github + Appwrite OAuth API
Can you assign it to me!

[2020-10-17 07:17] eldadfux commented on #265
I have created a new branch with a POC websocket sever using our already in-place Swoole extension that supports both Websockets and MQTT protocols out of the box. You can see the small POC code here: https://github.com/appwrite/appwrite/compare/0.7.x...feat-265-realtime-support

As we can't add any custom headers to the native Websocket client on browsers, and 3rd party cookies don't seem to pass

[2020-10-17 10:17] AugustasV commented on #461
I would like to try to sort it out how to do this!

[2020-10-17 11:26] eldadfux commented on #547
Hey @qt-sergal any updates? sorry for nudging...

[2020-10-17 18:00] qt-sergal commented on #547
Really sorry for stalling. Due to the situation I told you before in Direct Messages, I don't have enough time. Regarding the PR i mentioned earlier - i tested it more, locally and encountered quite many problems with the required setup. I can still send it if you want me to.

[2020-10-17 20:00] eldadfux commented on #547
@qt-sergal yeh, please send it or submit as a draft PR, and maybe I can try and help with some of the problems.

[2020-10-18 01:07] Acccent commented on #307
Hi all,

I hope it's ok to ask about progress here? Apologies in advance if it isn't.

I'm about to start a new project and would love to use Appwrite, but I think it will definitely need Cloud Functions in the future. For now, I can just do those in the client, which should be fine as long as we're just prototyping, but I'd like to know if there's a rough estimate of when the feature will make it

[2020-10-20 07:41] eldadfux commented on #475
Hey @PedroCisnerosSantana, any updates? Would you like me to re-assign this?

[2020-10-20 07:59] PedroCisnerosSantana commented on #475
Hello @eldadfux I think it's completed, I just need your help to test it out :D

[2020-10-20 08:01] eldadfux commented on #475
@PedroCisnerosSantana No problem, submit a PR and lets check it out together.

[2020-10-20 08:01] PedroCisnerosSantana commented on #475
Hello @ealvarez968 the link is on the README, but here you have it https://discord.gg/GSeTUeA :)

[2020-10-20 08:02] PedroCisnerosSantana commented on #475
@eldadfux As soon as I arrive home will make a PR, do you want me to make the PR to a specific branch?

[2020-10-20 12:48] ardevd opened #693 "Add the ability to have management front end served on separate port."
Would be very useful to have the management front end listening on a different port than the user facing APIs. I don't want to expose the login to the internet. :)

[2020-10-21 13:04] adi-mohan commented on #474
Hi! Is this issue still open? Can you give me some guidance on how to do this. Most of the links provided here are broken. I saw geoip2 listed in composer.json. Am still a beginner in open-source. Thanks!

[2020-10-21 13:16] hack3r-0m commented on #474
I would like to work on this issue

[2020-10-21 13:18] eldadfux commented on #474
Hey @adi-mohan, I have just spoke with @hack3r-0m about this issue minutes before you message. Would love to assign you any other issue you might be able to help with. Feel free to reach me out on Discord: https://appwrite.io/discord

[2020-10-21 13:42] adi-mohan commented on #474
Ok. Np. I would like to work on #547 if it is still open.

[2020-10-21 13:45] eldadfux commented on #547
@qt-sergal would you like to still work on it? should I review the PR? Please let me know.

[2020-10-21 13:50] eldadfux commented on #474
@adi-mohan checking for you on the issue page...

[2020-10-24 21:31] hack3r-0m commented on #484
what is the difficulty level on this issue?

[2020-10-24 21:44] hack3r-0m commented on #546
please assign me **Deploy Appwrite with Sendgrid as an SMTP server** and **Deploy Appwrite on vultr**

[2020-10-24 23:11] eldadfux commented on #546
Got you assigned 👍🏻

[2020-10-24 23:12] eldadfux commented on #546
@nitch193 has been assigned, @Preetpalkaur3701 would you like to create one for another OAuth provider?

[2020-10-24 23:13] eldadfux commented on #546
@hack3r-0m you got it 👌🏻

[2020-10-24 23:15] eldadfux commented on #484
@hack3r-0m as with all bugs, always hard to tell :)

[2020-10-25 05:26] antoine29 commented on #25
Hey @eldadfux
As a Spanish speaker, I noticed some minor errors in the Spanish translations. I opened a [PR](https://github.com/appwrite/appwrite/pull/703) to fix them.

[2020-10-26 00:21] eldadfux commented on #474
Changes merged, thanks to @hack3r-0m for the amazing work on this. This update will be included in the next 0.7 release 🥳

[2020-10-26 07:36] hack3r-0m opened #707 "Email Sending Problem using external smtp"
## 🐛 Bug Report

Due to some variables missing in .env, the `mail-worker` is not able to send mails

## Have you spent some time to check if this issue has been raised before?

Yes

## To Reproduce
- clone 0.7.x
- edit Dockerfile to add your SMTP credentials (SendGrid in my case)
- compose
- make a project and create a new user
- hit verification endpoint to send a mail to users' mail address to g

[2020-10-27 14:18] Sameerkash commented on #496
@eldadfux  Looks like its a similar issue as this,  the trafik logs are the same on the pod, and this is the logs for appwrite pod

[code]

[2020-10-27 18:01] eldadfux opened #714 "Speed Up our Docker Travis CI builds"
We want to use caching to speed up Appwrite's Travis CI build process, and we can use the community help here.

Currently our build process time is around ~10 minutes which is OK, but as faster it can be less time maintainers needs to wait for confirmation that there changes are running as expected.

This change should be focused on our Travis CI YAML file. Any suggestions for improving the code b

[2020-10-27 18:39] SoftCreatR commented on #714
1. Step: Get rid of Travis and use GitHub Actions ;)

[2020-10-29 15:51] aloks98 commented on #410
@eldadfux I have checked fitbit docs and it doesn't return email. I am looking into other solutions if I can implement something!

[2020-10-29 22:41] aloks98 commented on #546
@eldadfux if there's no development on Deploy appwrite on GCP tutorial, I can make a PR today!

[2020-10-30 09:30] enggal64 commented on #714
I

[2020-10-31 02:12] mutza974 opened #719 "1. Step: Get rid of Travis and use GitHub Actions ;)"
1. Step: Get rid of Travis and use GitHub Actions ;)
2. Step: Check this out: https://github.com/whoan/docker-build-with-cache-action

_Originally posted by @SoftCreatR in https://github.com/appwrite/appwrite/issues/714#issuecomment-717455715_

[2020-10-31 02:13] mutza974 commented on #719
@mutza974

[2020-10-31 02:13] mutza974 opened #720 "The CONTRIBUTING doc has been updated by @ronfybish with the new `Submit a Pull Request` section and new naming conventions for branches and PRs."
The CONTRIBUTING doc has been updated by @ronfybish with the new `Submit a Pull Request` section and new naming conventions for branches and PRs.

_Originally posted by @eldadfux in https://github.com/appwrite/appwrite/issues/541#issuecomment-697121123_

[2020-10-31 02:42] payne8 commented on #410
I think it would make sense to have a generic OAuth2 implementation, or an OpenID Connect implementation (a superset of OAuth2 that includes standardized user info). Once you have the standard ones in place the provider specific ones take way less time because you just have to add their endpoints (assuming the provider follows the standard).

[2020-10-31 12:41] hack3r-0m commented on #539
can I be assigned to this issue? it seems this is because of base64 to URL encoding conversion somewhere. it would be good if someone can help with files to check.

[2020-10-31 13:07] hack3r-0m commented on #496
are you able to access redis using `docker exec -it appwrite-redis redis-cli`? if the cli opens, can you run the command `connect <your_hostname> 6379`  and see what happens?

[2020-10-31 18:23] #720 closed

[2020-10-31 18:25] #719 closed

[2020-11-01 00:38] Angelfirenze01 commented on #501
Hi, I'm really glad I finally found this file.  I'm a part of the Appwrite Discord, but I've only lurked before.  I did notice that the **Windows and CMD** sections of the installation information is unclear.  Do they follow the same protocol?  If so, it'd be a great help to know that the two distros can be approached in the same way.  If they're different, can you please specify what steps to tak

[2020-11-01 02:25] SoftCreatR commented on #410
I'll add my own OAuth provider. The service/provider itself is currently in progress, but it works already and integrations for other systems (Laravel Socialite, Xenforo & WoltLab Suite) already exist, so why not add Appwrite to the list :)

[2020-11-01 02:28] SoftCreatR commented on #681
I'll start working on this if I can make 0.7 work on my machine. The last time I tried, it didn't work, which makes testing difficult.

[2020-11-01 18:27] TorstenDittmann opened #722 "SSL certificate renewal failed due to permissions"
## 🐛 Bug Report

SSL certificate renewal failed du to permission.

## Have you spent some time to check if this issue has been raised before?

Yes ✔️

## To Reproduce

I guess wait for a certificate to expire and have v1-certificates jobs fail.

## Expected behavior

Renew certificate.

## Actual Behavior

Certificate expired for a domain, with following error message on resque:

[code]

## Your E

[2020-11-01 19:59] eldadfux commented on #722
I'll look into it, I might make some adjustments in the certificates worker to solve the issue. Anyway a workaround for this would be to restart your main Appwrite API container. It should take about ~30 seconds for a new certificate to be generated.

`docker-compose restart appwrite`

[2020-11-01 23:23] Gustl22 opened #723 "Doctor CLI: `_APP_OPTIONS_FORCE_HTTPS=disabled` not correctly evaluated"
## 🐛 Bug Report

Doctor CLI shows `🟢 HTTP force option is enabled`, although it is disabled.

## Have you spent some time to check if this issue has been raised before?

I searched the issues for "doctor" and didn't find a similar bug. Also discussed on Discord.

## To Reproduce

1. Set [`environment` variable](https://appwrite.io/docs/environment-variables) in `docker-compose.yml` to `disabled`:

[2020-11-02 00:08] Gustl22 opened #724 "Doctor CLI: Harmonize negative check result descriptions 🔴"
## 🚀 Feature

At the moment, the doctor tool has irregular result descriptions, which should be harmonized:

- Provide always actual state of the check result, not the "to be"-state on negative result.
- May add prompt, if state is not fulfilled on negative result [marked as optionally]
- Ensure that users with color weakness, get the right info.
- Ensure that you can copy / paste the result descr

[2020-11-03 06:34] Sameerkash commented on #546
@eldadfux you can unassign me and give it to @aloks98 I don't think I'll be able to make the PR for GCP anytime soon as I'm still trying to figure it out.

I would still like to make the PR for k8s docs with some time.

@aloks98 it'd be great if you could help me with some pointers to k8s if you're aware. As I'm halfway through and researching more on where I'm stuck.

[2020-11-03 17:09] eldadfux commented on #723
Fix has been merged to `0.7.x` branch 🚀 Thanks for reporting!

[2020-11-03 17:09] #723 closed

[2020-11-03 17:22] eldadfux commented on #724
I am totally fine with descriptions you suggested. I think a prompt would be a bit too much and may be very difficult to achieve as it requires a server restart to update new env vars, not very suitable for work in a cluster, and other issues that would probably pop up.

@Gustl22 would you like to submit a PR for the new descriptions?

[2020-11-03 20:33] eldadfux commented on #693
I would love to get more community feedback on this feature. Currently the API and dashboard are bundled together, and it would require some work to separate them.

For the meantime you can take a look here: https://medium.com/appwrite-io/you-can-now-restrict-access-to-your-appwrite-console-b8b447885289 we have covered in this post some methods to restrict access to your Appwrite console.

[2020-11-03 20:34] eldadfux commented on #707
This issue has been fixed and will be released on next version (0.7.x). Currently this solution is available on branch `0.7.x`

[2020-11-04 12:17] illuminated opened #728 "Support Firebase OTP authentication"
## 🚀 Feature

Ability to create new users in AppWrite and authenticate them afterwards with a token issued by an external service such as Firebase.

Firebase offers authentication methods not available in AppWrite, like OTP, and there is trend of moving towards passwordless authentiocation of users. Apps with such a method implemented cannot use AppWrite for backend due to inability to authenticat

[2020-11-04 13:50] illuminated commented on #728
@eldadfux I've been researching a bit how this can be achieved and I have found that Firebase Auth PHP SDK supports verification of their ID token. Explanation with some sample code can be found here: https://firebase-php.readthedocs.io/en/stable/authentication.html#verify-a-firebase-id-token

Seems like a straightforward way to do it.

The only thing missing would be AppWrite's create user and cr

[2020-11-04 13:53] saibotma opened #729 "Customize content and looks of email templates"
## 🚀 Feature

As an admin I want to be able to customize the content and looks of email templates dynamically in the admin interface.

## Have you spent some time to check if this issue has been raised before?

yes

### Have you read the [Code of Conduct](https://github.com/appwrite/appwrite/blob/master/CODE_OF_CONDUCT.md)?

yes

## Pitch

Emails can be branded with the company design.

[2020-11-04 14:53] saibotma opened #730 "Endpoint to get a password reset link or token to be able to implement a custom password reset flow"
## 🚀 Feature

It would be great to have an endpoint where a server could request a password reset link or token for a specific user.
The server could then send this link to the user using his own emailing system, SMS, etc. and would not be limited to the password reset feature currently available in Appwrite.

Firebase can be used as an orientation: https://firebase.google.com/docs/auth/admin/emai

[2020-11-04 17:23] TorstenDittmann commented on #729
I already set up a good foundation for this issue on the template side [here](https://github.com/appwrite/appwrite/pull/402).

Things left to add for this:
- Pages in the dashboard
- A way to save custom HTML in the database
- Use a custom template if set

I doubt we need any endpoints.

[2020-11-04 17:39] eldadfux commented on #729
Umm.. maybe we can add the colors as project settings (alongside the project logo), which will be consumed from the default template and also add an option to completely overwrite the templates HTML code and contents?

We also need to think about multi-locale content, should we allow content overwriting for each locale separately?

[2020-11-04 17:43] TorstenDittmann commented on #729
Had the same thought. Maybe we also add a {logo} variable. CSS in these templates is a pain - so I doubt it is a good idea for many people. Would still love to have it.

Mhh, I only thought of global changes. Also can't think of a use case for this 🤔

[2020-11-04 17:46] eldadfux commented on #729
For example, if an app wants to support 3 main languages, and the developer wants to have customised email messages. Writing the down makes me think this might be a rare edge case or at least too early to think about.

[2020-11-06 16:29] Hrdtr opened #732 "Special character in _APP_OPENSSL_KEY_V1 env caused an error"
## 🐛 Bug Report

Key with special character generated using openssl rand command caused php-fpm conf error.

## Have you spent some time to check if this issue has been raised before?

No similiar issue raised in appwrite internal

## To Reproduce

1. Install appwrite using any method and configure for production
2. Run ```openssl rand -base64 32``` or ```openssl rand -base64 64``` to generate bas

[2020-11-06 18:33] eldadfux commented on #732
This error was caused because of bad parsing when we passed the env var from the OS level to PHP FPM. Since in 0.7 we have dropped FPM for Swoole this is working and fine in the upcoming version.

[2020-11-10 09:53] eldadfux commented on #547
This issue is up for grabs again.

[2020-11-11 09:49] akago-dev opened #733 "On fresh install, clamav container fills up the disk"
## 🐛 Bug Report

After a fresh install, appwrite is unusable after a few minutes due to a full disk (25 gb)

## Have you spent some time to check if this issue has been raised before?

yes

## To Reproduce

On a brand new digitalocean droplet (ubuntu 20.04 LTS) :
1. install appwrite with the docs command.
2. No custom options
3. Create an account, a project, and a collection (not sure if necessary

[2020-11-11 09:51] akago-dev commented on #733
@eldadfux told me to try those two solutions :
1. Disable ClamAV using our env var, available here: https://appwrite.io/docs/environment-variables check the `_APP_STORAGE_ANTIVIRUS` option. This will make sure you can still use the storage API with clamav container stopped.

2. Update the ClamAV container to version 1.2.0 from you docker-compose.yml file and recreate it using `docker-compose up -d

[2020-11-12 06:18] saibotma commented on #729
@TorstenDittmann the optimal solution would be if the user could just upload a template created with the templating language appwrite uses. This way appwrite would not need to have any editor for the templates.

But being able to change colors, font and content would be enough for the beginning I believe.

[2020-11-12 10:34] TorstenDittmann commented on #729
That means we would need to overthink, on how we store translations for these mails.

I would also love to introduce something like [MJML](https://mjml.io/), which would bring the e-mails send by Appwrite to the next level. This would also make custom e-mail templates very accessible - since in todays world we have to use some sketchy CSS attributes and tables in HTML.

MJML would introduce a well

[2020-11-12 12:35] eldadfux commented on #381
This PR is a major step to get this issue resolved: https://github.com/appwrite/appwrite/pull/734

[2020-11-12 22:00] anushkrishnav commented on #546
I am a python developer is there anything I can work on ?

[2020-11-15 16:12] enricomosca opened #736 "Receiving 401 Authentication error"
## 📚 Documentation

Hi everyone, I'm new in AppWrite and **Flutter**.
I'm trying to insert a new document in the database. Following your documention I wrote this in the *state.dart*:
[code]
In the *homePage.dart* i wrote this:

[code]

Can't figure out what I'm doing wrong, but I'm getting a 401 error (AuthenticationError):

**Error: Expected a value of type 'String', but got one of type 'DioErro

[2020-11-16 16:59] #736 closed

[2020-11-16 19:40] eldadfux commented on #381
This issue is now ready for deployment when v0.7 is available!